Id: 70e31022-ec9f-4f28-bd45-3b7564efedda
Title: "Twitter"
Published: "2008-06-30"
Slug: "2008-06-30 Twitter"
-
<p>Вообще, twitter выглядит забавной идеей, если подумать. Другой вопрос, что у нас никто не станет им пользоваться, как не пользуются ЖЖ. У нас предпочитают мрак вроде one.lv или draugiem.lv - неудобный, обвешанный рекламой и малофункциональный.</p> <p>Правда мой логин Vladekk уже занят - подсуетился какой-то гад. Никто почти такой не использует, так что вполне может быть, что специально решил, из-каких то своих побуждений.</p>
	