Id: c5b4b593-590c-4d9e-aee9-474dde73561b
Title: "Люблю"
Published: "2008-12-20"
Slug: "Люблю"
-
<h2>Мои любимые вещи</h2>
<p>Больше всего люблю музыку и книги, фильмы смотрю редко, аниме чаще. В игрушки играю редко.</p>
<h4>Фитнесс, йога и туризм</h4>
<p>Я большой любитель погулять по лесу километров 20-30 (без дорог), покататься на велосипеде километров 80-120 (не по асфальту), чему очень способствует <a href="http://www.facebook.com/groups/granturisto/">туристический клуб "Подснежник"</a>, где я по возможности помогаю.</p>
<p>Ещё так люблю спортзал, бассейн и йогу, что хожу туда каждый день.</p>
<h4>Кино</h4>
<p>На <a href="http://www.imdb.com/mymovies/list?l=7443270&s=uservote&s=reverse_uservote">imdb</a> можно глянуть, какие оценки я поставил разным фильмам. Если фильма там нет, то это или отстой, или я его ещё не смотрел. </p>
<h4>Музыка</h4>
<p>На <a href="http://www.last.fm/user/vladekk" target="_self">http://last.fm/user/vladekk</a> можно посмотреть, что я слушал и сколько раз.</p>
<p>Я больше люблю современную музыку, поскольку мне нравится сочный звук с электронными фишками и качественной записью. Злобно спродюсированный под нужды широких меломанских масс.</p>
<p>И как бы не утверждали меломаны постарше, что "раньше огурцы были зеленее",музыка эволюционирует,причём не только в плане уровня записи, но и в плане новых идей, что мне особенно нравится.</p>
<p>За 80-90 годы было создано (или развивалось) немало интересного. <strong style="font-weight: normal;">Ну там,</strong> <span style="font-weight: bold;">Трип-Хоп</span> или <span style="font-weight: bold;">Ambient</span></p>
<p>Есть и обратная тенденция - повальное клонирование и копирование удачных приёмов, мода и куча штампованных поп-звёзд, одинаковых как манекены, лишённых индивидуальности и безликих.</p>
<p>Да, и хочу заметить - я стараюсь избегать снобизма, в том числе и в музыке.Снобизм - это значит слушать ту или иную группу, лишь потому, что она не является мейнстримом.Это делается, чтобы ощутить свою исключительность.Можно и наоборот, наезжать на известные команды, ругаясь на их популярность, мол, что популярно, то плохо по определению.</p>
<p>А ненавижу я только шансон (тот, про который Макаревич справедливо поёт "Блатняк окрестили шансоном"), например Круга сотоварищи. Ещё и самую злобную попсу, вроде бритниспирса, нсинка, сливок, стрелок, вирусов, биланов.</p>
<h4>Книги</h4>
<p>Фантастика:</p>
<ul>
<li> "Гиперион" (тетралогия ) Дэна Симмонса</li>
<li>"Схизматрица" Брюса Стирлинга (на любителя, но мне нравится), ещё ничего книжка "Машина различий" (The Difference Engine - перевод названия кривой, правильно будет "дифференциальный исчислитель")</li>
<li>"Братья по оружию", "Барраяр" и т.д.(книг 10 где-то, цикл) Лоис Макмастер Буджолд. Есть и фентэзи, тоже ничего</li>
<li>"Пламя над бездной", "Сквозь время" Вернора Винджа (и всё остальное тоже, очень крут)</li>
<li>Нил Стивенсон - "Барочный цикл", "Криптономикон" и практически все остальные книги</li>
<li>Серия "Многоцветная Земля" Джулиан Мэй (6 или 7 книг)</li>
<li>"Возвышение" и прочее Дэвида Брина</li>
<li>Орсон Скотт Кард -  серия "Игра Эндера" и т.д. - много соплей, но в целом ничего, ранние книги, поздние плохие</li>
<li>"Золотая классика" фантастики - Гарри Гаррисон, Айзек Азимов,Клиффорд Саймак</li>
</ul>
<p>Фэнтези</p>
<ul>
<li>"Властелин Колец" Джона Рональда Руэла Толкиена.Хочу прочитать в оригинале.</li>
<li>"Хроники Амбера","Доннерджек" и прочее Роджера Желязны </li>
</ul>
<h4>Аниме</h4>
<p>Что такое аниме можно узнать на <a href="http://www.anime.ru/">anime.ru</a></p>
<p>Оценки, которые я поставил разному аниме, можно посмотреть на <a href="http://anidb.net/perl-bin/animedb.pl?uid=23113&show=myvotes&orderdir=1&orderby.vote=0.1&orderby.name=1.1&orderby=vote&do=anime">anidb </a></p>
<h4>Игры</h4>
<p>Fallout 1,2</p>
<p>Warcraft 1,2,3</p>
<p>Space Rangers(Космические Рейнджеры) 1,2</p>
<p>King's Bounty + Heroes Of Might And Magic 2,3</p>
<p>The Incredible Machine 1,2,3, Contraptions</p>
<p>X-Com:Apocalypse</p>
<p>Aquaria</p>
<p>rocks'n'diamonds</p>
<p>Portal</p>
<h4>Актёры</h4>
<ul>
<li>Шон Коннери</li>
<li>Жерар Депардье</li>
<li>Кевин Спейси</li>
<li>Джонни Депп</li>
<li>Мира Фурлан</li>
<li>Хью Лори</li>
<li>Лиза Эдельстин</li>
</ul>
<p><strong>Прочие хобби и увлечения</strong></p>
<ul>
<li>Комп - нравится Windows как десктоп и Linux как сервер, без GUI</li>
<li>Иногда монтирую и кодирую видео с помощью компьютера, раньше с созданием DVD или кассет, теперь всё в сети. Особое внимание в своих поделках уделяю музыке</li>
<li>Летом не прочь поиграть в бадминтон</li>
<li>Играл  <a href="http://rusmagic.narod.ru/">Magic:The Gathering,</a> но забросил</li>
<li>Чуть-чуть русским и английским языками, языкознанием и филологией, переводами</li>
<li>Путешествия -  каждый год стараюсь посетить  2 новых страны</li>
<li>Интернет - читаю всякий RSS, иногда пишу комменты</li>
<li>Программирование - люблю платформу .NET,  язык C#</li>
</ul>