<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="wfwef" patternSyntax="ECMAScript">
                    <match url="post/(.*)" />
                    <action type="Rewrite" url="{R:0}.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
