Id: 76a1b85e-e248-4c02-8348-7c8798db0b90
Title: "Видео"
Published: "1000-01-02"
Slug: "1000-01-02 Видео"
-
<p>Я когда-то немного монтировал видео как хобби. Тут результаты моего труда. Смотреть интересно будет только тем, кто знает героев видео, ну или кому совсем делать нечего.</p>
<p>Кстати, раздел андер констракшн, как говорится.</p>
<p>[flv:NORWAY2_T01.mp4]</p>
<p><a href="../../lj/test4.mp4">качать</a></p>
<p>&nbsp;</p>
	