Id: 1bd0a209-0daa-47d5-8383-ba05a09f3b08
Title: "Турция - Маршрут"
Published: "1000-12-28"
Slug: "1000-12-28 Турция - Маршрут"
-
<p>Здесь про маршрут, карты, достопримечательности и всё такое.</p>
<p>Большая картинка отдельно:</p>
<p><a href="/files/blogengine/2009%2f4%2fDrawing1.jpg">/files/blogengine/2009%2f4%2fDrawing1.jpg</a></p>
<p>&nbsp;</p>
<p><img data-src="/files/blogengine/2009%2f4%2fDrawing1.jpg" alt="" /></p>
	