Id: b6b86803-b8f4-49b3-b963-c271165a6dc2
Title: "Велотурция 2009"
Published: "1000-01-01"
Slug: "1000-01-01 Велотурция 2009"
-
<p>Здесь будет всякое полезное по поводу запланированного на начало мая велопохода в Турцию.</p>
<p>Оставляйте комментарии с полезной информацией, всё ценное я вынесу на страницы.</p>
<p>Страницы:</p>
<p><a href="../../post/1000-01-02%20%D0%9E%D0%B1%D1%89%D0%B0%D1%8F%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D1%8F">Общая информация <strong>(Обновлено 11 января, воскресенье)</strong><br /></a></p>
<p><a href="../../post/1000-01-01%20%D0%A2%D1%83%D1%80%D1%86%D0%B8%D1%8F%20-%20%D0%B2%D0%B5%D1%89%D0%B8">Вещи - где, что и как купить <strong>(Обновлено 5 января, понедельник)</strong><br /></a></p>
<p><a href="../../post/1000-12-28%20%D0%A2%D1%83%D1%80%D1%86%D0%B8%D1%8F%20-%20%D0%9C%D0%B0%D1%80%D1%88%D1%80%D1%83%D1%82">Маршрут</a></p>
<p><a href="../../post/1000-01-05%20%D0%A2%D1%83%D1%80%D1%86%D0%B8%D1%8F%20-%20%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D1%8B">Вопросы на повестке дня</a></p>
<p><a href="http://spreadsheets.google.com/ccc?key=pAUuP2i9IL9fR1Psi0J6WSA"><br />Вещи на гугль таблицах</a></p>
<p>&nbsp;</p>
<p>О, забыл сказать. Если всё пройдёт успешно, напишу мегаотчёт, так что собирайте занимательные факты и делайте побольше фото и видео.</p>
<p>Вот примеры</p>
<p><a href="../../post/Krit-23-Zaklyuchenie-2008-10-20-124200.aspx">Путешествие на Крит</a></p>
<p><a href="../../post/SSHA-ndash3b-37-Zaklyuchenie-2008-08-11-223500.aspx">Путешествие в США</a></p>
<p>&nbsp;</p>
	