Id: 000854dc-0de6-4e12-b394-1a47490aaa59
Title: "Ремонт в общаге"
Published: "2004-12-31"
Slug: "2004-12-31 Ремонт в общаге"
-
<h4 align="center">Как мы делали ремонт в нашей&nbsp;комнате в общаге</h4>
<p align="left">
Год 2003, осень.
</p>
<p align="left">
Как мы набрались желания - сам не знаю. Гражданин Мосальский впрочем, был против, что не помешало ему принять активное участие.
</p>
<p align="left">
Сначала решили, хорошо бы потолок как-нибудь заделать, да обои поклеить. Потолок красить казалось сложно,поскольку для этого его надо было отмывать. После долгих раздумий пришла нам в голову мысль, что выбора то у нас нет, поскольку всё равно надо отмывать побелку. Надо, потому что иначе его не побелишь/не покрасишь/плитки не поклеишь - всё отвалится нам на голову.
</p>
<p align="left">
Мыли мы его долго и старательно, 3 дня. Ваш покорный слуга настаивал, что делать это надо&nbsp;тщательно и усердно, а коллега Мосальский&nbsp; возражал, мол, и так сойдёт. Поэтому помыт потолок был весьма неравномерно, что впоследствии безусловно сказалось на покраске.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_899.jpg" alt="" />
</p>
<p align="center">
Когда мы покупали акриловую потолочную краску, продавец нас&nbsp;убедил, что нам крайне необходимо сначала прогрунтовать&nbsp;окрашиваемую поверхность, что я и делаю.
</p>
<p align="left">
[more] 
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_900.jpg" alt="" />
</p>
<p align="center">
Вот так выглядит грунтовка.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_901.jpg" alt="" />
</p>
<p align="center">
. . . с разных сторон.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_902.jpg" alt="" />
</p>
<p align="center">
А вот так выгляжу я.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_903.jpg" alt="" />
</p>
<p align="center">
Уязвимые поверхности были защищены замечательной ремонтной плёнкой, по цене двух хороших мороженых за 20 квадратных метров.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_904.jpg" alt="" />
</p>
<p align="center">
А вот и товарищ Андрей Мосальский, принявший деятельное участие в отмывке и покраске.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_905.jpg" alt="" />
</p>
<p align="center">
Опять он.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_907.jpg" alt="" />
</p>
<p align="center">
На этой фотографии заметно расслаблающе-наркотическое действие ядовитых&nbsp;паров грунтовки.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_908.jpg" alt="" />
</p>
<p align="center">
Весьма эффективный текстильный многоцелевой валик
</p>
<p align="center">
&nbsp;
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_911.jpg" alt="" />
</p>
<p align="center">
Как бы не пришлось вызывать скорую для промывания носоглотки!
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_912.jpg" alt="" />
</p>
<p align="center">
На меня пары видно тоже подействовали .&nbsp; . .
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_913.jpg" alt="" />
</p>
<p align="center">
Но, сжав зубы, мы продолжаем тяжкий труд!
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_917.jpg" alt="" />
</p>
<p align="center">
Грунтование почти закончено!
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_918.jpg" alt="" />
</p>
<p align="center">
Когда за окном +10, а батареи топят как зимой, хочешь - не хочешь разденешься
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_925.jpg" alt="" />
</p>
<p align="center">
Общая панорама
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_926.jpg" alt="" />
</p>
<p align="center">
Серьёзный молодой человек без вредных привычек, может работать маляром.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_928.jpg" alt="" />
</p>
<p align="center">
Заботливо укрытая газетой лампа приобретает футуристический вид
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_929.jpg" alt="" />
</p>
<p align="center">
Пока сохнет грунтовка, полным ходом идёт монтаж видеофильма &quot;Норвежские контрасты&quot;
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_946.jpg" alt="" />
</p>
<p align="center">
Чрезмерное вдыхание пресловутых паров грунтовки приводит к неадекватному поведению
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_947.jpg" alt="" />
</p>
<p align="center">
Акриловая потолочная краска пахнет ещё лучше . . . а как выглядит!
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_948.jpg" alt="" />
</p>
<p align="center">
Процесс, ради чего всё и затевалось
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_953.jpg" alt="" />
</p>
<p align="center">
Товарищ возомнил себя танцором вокруг шеста, в качестве шеста выступает щётка для подметания полов
</p>
<p align="center">
&nbsp;
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/remo_955.jpg" alt="" />
</p>
<p align="center">
Честно говоря, объяснить тягание бедной щётки&nbsp;Андреем иначе, чем токсическим опьянением, не представляется возможным
</p>
<p align="center">
Будем надеятся, мозг ещё не начал разрушаться . . .
</p>

	