Id: 3f173ffd-cae6-4318-93b2-40c5fa79155b
Title: "Общага"
Published: "2004-12-31"
Slug: "2004-12-31 Общага"
-
<h4 align="center">Наша жизнь в общаге</h4>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_hew.jpg" alt="" />
</p>
<p align="center">
Голодные антроподы все равны, для них банан - хорошая еда
</p>
<p align="left">
Это гражданин Андрей Агеев, раздолбай и пофигист,  ходячая эмоциональность  в чистом виде. Лопает банан.
</p>
<p align="left">
[more] 
</p>
<p style="text-align: center">
<img data-src="/files/blogengine/cmsimple/ob_hew2.jpg" alt="" />
</p>
<p align="center">
Какой улыбчивый молодой человек
</p>
<p style="text-align: center">
<img data-src="/files/blogengine/cmsimple/ob_hew3.jpg" alt="" />
</p>
<p align="center">
Во как позирует
</p>
<p align="left">
&nbsp;
</p>
<p style="text-align: center">
<img data-src="/files/blogengine/cmsimple/ob_hew6.jpg" alt="" />
</p>
<p align="center">
Хоть на обложку глянцевого журнала помещай
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_hS.jpg" alt="" />
</p>
<p align="center">
Реклама Ригас Мяснекса.Все знают латышский?
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_hlin.jpg" alt="" />
</p>
<p align="center">
Гражданин Мосальский, как известно, живёт со мной в одной комнате
</p>
<p align="left">
. . . и потому лопает чебурек.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_hlin2.jpg" alt="" />
</p>
<p align="center">
. . . продолжает лопать
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_hlin3.jpg" alt="" />
</p>
<p align="center">
А сейчас Андрей нам демонстрирует классическую улыбку дауна
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_herkules.jpg" alt="" />
</p>
<p align="center">
А вот так мы готовим овсянку
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_hur.jpg" alt="" />
</p>
<p align="center">
Бухи
</p>
<p align="left">
Слева Жур, то есть Серёга Журомский.Как не странно, товарищи были трезвые.Страшно подумать, какие они, когда напьются!
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/ob_hnov_co.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Соседи
</p>
<p align="left">
А вот это реальные бухи, только сейчас тоже трезвые.Сговорились, что ли?
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_h_vlada.jpg" alt="" />
</p>
<p align="center">
А вот мои ноги с утра
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_h-3.jpg" alt="" />
</p>
<p align="center">
Композиция &quot;Три пары тапочек на ногах&quot;
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_hda.jpg" alt="" />
</p>
<p align="center">
Беспорядок
</p>
<p align="left">
В нашей комнате отнюдь не всегда такой хаос. Один раз в месяц я набираюсь сил навести порядок, и даже помыть пол.
</p>
<p style="text-align: center">
<img data-src="/files/blogengine/cmsimple/ob_h.jpg" alt="" />
</p>
<p align="center">
А на фото кошмар особый, потому что идёт ремонт
</p>
<br />
<p style="text-align: center">
<img data-src="/files/blogengine/cmsimple/ob_hok_angel.jpg" alt="" />
</p>
<p align="center">
А это вознесённый заживо на небо Витёк
</p>
<p align="left">
За выдающиеся заслуги по поглощению спиртных напитков и
покорению неприступных гёрл Витёк был пожалован званием
ангела  - вон как светится.
</p>
<p style="text-align: center">
<img data-src="/files/blogengine/cmsimple/vlad.jpg" alt="" />
</p>
<p align="center">
Это я
</p>
<p align="left">
Ээээ я как бы не то, что вы подумали  . . . Это Мосальский так фотографирует, хмхммм.Нет дыма без огня, хммммм?
</p>
<p style="text-align: center">
<img data-src="/files/blogengine/cmsimple/ob_h_LAZER.jpg" alt="" />
</p>
<p align="center">
Сумасшедший компьютерщик
</p>
<p align="left">
Сам себя порой пугаюсь .  . .
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_h_luda.jpg" alt="" />
</p>
<p align="center">
Это Людочка
</p>
<p align="left">
Остальных девушек не покажу, они стесняются и боятся за свою privacy.
</p>
<p style="text-align: center">
<img data-src="/files/blogengine/cmsimple/ob_h1.jpg" alt="" />
</p>
<p align="center">
Тяжело с утра вставать . . .
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_h2.jpg" alt="" />
</p>
<p align="center">
Зато, когда встанешь, ОГОГО!
</p>
<p style="text-align: center">
<img data-src="/files/blogengine/cmsimple/ob_h_1-na.jpg" alt="" />
</p>
<p align="center">
Замечательная питьевая вода &quot;Kekavas avots&quot;
</p>
<p align="left">
Я потребляю такую, Мосальский пьёт кипячёную
из-под крана. Раньше он тоже покупал, но потом перестал различать
вкус.У него вообще вкусы пролетарские, то есть макароны, попса и самая
дешёвая колбаса со вкусом соли.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/ob_h_2-e.jpg" alt="" />
</p>
<p align="center">
Вода &quot;Rasa&quot;, в бутылях по пять литров.
</p>
<p align="left">
Эта тоже ничего, и к тому же покупать реже можно, потому что ёмкость больше.
</p>
<p style="text-align: center">
<img data-src="/files/blogengine/cmsimple/ob_hedja.jpg" alt="" />
</p>
<p align="center">
Жура с Эдей
</p>
<p align="left">
Я знал, что у нас в общаге живут негры и индусы,
но про китайцев почему-то не слышал. Тем больше был шок при личном
стокновении!
</p>

	