Id: 4417d8d9-bd9b-4e1b-9dc3-f5238596ca71
Title: "Торосы"
Published: "2004-12-31"
Slug: "2004-12-31 Торосы"
-
<h2 align="center">Торосы</h2>
<h4 align="center">ТОРОС - Ледяная глыба, образовавшаяся при сжатии льдов в морях, озёрах, реках. <em>Гряда торосов.</em> </h4>
<p align="left">
Не так давно друг Шурик предложил съездить в Юрмалу. Всё бы ничего, но на дворе месяц март. Мне всяческие сумасбродные и выбивающиеся из рамок идеи всегда милы, поэтому ни малейших возражений я не имел, и сразу согласился. Шурик, однако, оказался более дальновидным, чем&nbsp;я подумал: морем, как оказалось,&nbsp;можно &nbsp;любоваться&nbsp;в любое время года.
</p>
<p align="left">
Чтобы не возникало желания отсылать нас всех скопом в жёлтый дом, предлагаю взгянуть на фотографии.
</p>
<p align="left">
Началось всё&nbsp;неделю назад. Погода просто замечательная, солнышко, небо, что ещё человеку надо? А надо совсем немного - сходить на лекции. По крайней мере изредка это лучше делать, а то можно совсем заржаветь. Потому и поездка была отложена до лучших времён, которые долго ждать не пришлось. Уже через полторы недели Шурик поднял тему опять, и мы твёрдо решили, что в субботу всё-таки отправимся полюбоватся обыкновенной прибалтийской красотой. Однако в ночь с субботы на пятницу меня занял исключительно важый вопрос, а именно настройка <font color="#ff0000"><strong>[вырезано антикомпьютерной цензурой, чтобы не было скучно читателю]</strong></font> под Linux. Провозившись до 5 часов утра, я узнал кучу нюансов про <strong><font color="#ff0000">[вырезано антикомпьютерной цензурой, чтобы не было скучно читателю]</font></strong>, но вопрос&nbsp;решить не смог. Плюнув не всё, полез совсем в другую область, и, согласно законам Мэрфи, всё было улажено за 5 минут. Итак, в 5:15, измочаленный полутруп завалилился в кроватку.
</p>
<p align="left">
Ровно Через 5 часов , 37 минут и некоторое количество секунд меня злобно разбудил т. Разгуляев. Всё, на что меня хватило, это спросить сколько сейчас времени. Узнав, я спросонья быстрее схватил трубу и стал названивать Шурику. Ничего хорошего из этого получится не могло, и, вполне естественно, что я попал не туда, испугав совсем другого человека страшным воплем &quot;Ты где?&quot;. Когда же я услышал ответ &quot;В Даугавпилсе&quot;, то совсем офонарел и, уже окончательно ничего не соображая, изумлённо произнёс гениальную фразу &quot;А что ты там делаешь?&quot;.
</p>
<p align="left">
К счастью, разобравшись в ситуации довольно быстро, я исправил ошибку, и перезвонив на другой номер,узнал, что предатель Шурик уже катит себе в троллейбусе на вокзал, даже не поставив меня в известность.
</p>
<p align="left">
Схватив&nbsp;зубами одежду, булку &quot;Skara&quot; и пакет молока, я помчался на остановку, где меня осенила удачная мысль остановить маршрутку, что я и сделал, в результате оказавшись на вокзале быстрее Шурика. Надо сказать, что он появился не один, а с девушкой по имени <strong>Оля.</strong>
</p>
<p align="left">
Дождавшись остальных участников мероприятия в лице <strong>Артура Миллера</strong> и его девушки по имени <strong>Женя</strong>, мы благополучно загрузились в электричку и через каких-нибудь полчаса уже шли по перрону станции <strong>Дубулты.</strong>
</p>
<p align="left">
<strong>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/TORO7388.jpg" alt="" />
</div>
</strong>
</p>
<p align="center">
Это ещё Centrala stacija. То есть&nbsp;Рижский вокзал.&nbsp;Слева направа - я, Шурик, Оля, Артур.
</p>
<p align="left">
[more] 
</p>
<p align="left">
Скоро мы очутились на побережье.
</p>
<p align="center">
<img src="https://vladek.richnet.lv/images/TORO7395.jpg" alt="" />
</p>
<p align="center">
Ледяной&nbsp;пейзаж.
</p>
<p align="center">
<strong><img data-src="/files/blogengine/cmsimple/TORO7392.jpg" alt="" /></strong>
</p>
<p align="center">
Артур Миллер
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/TORO7393.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Женя
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7397.jpg" alt="" />
</p>
<p align="center">
Шурик, Оля, Артур, Я.
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/TORO7399.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Отдыхающие пляжники греются на ласковом весеннем солнышке.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7400.jpg" alt="" />
</p>
<p align="center">
Миллер на&nbsp;морской глыбе. За ним - опасный тающий лёд.
</p>
<p align="left">
Периодически включалась сирена&nbsp;и раздавались&nbsp;требования покинуть опасную зону.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7401.jpg" alt="" />
</p>
<p align="center">
Шурик расселся, как у себя дома. Впрочем, ему это свойственно.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7402.jpg" alt="" />
</p>
<p align="center">
&nbsp;Уже без шуточек, практически растаявший лёд.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7403.jpg" alt="" />
</p>
<p align="center">
Милая парочка.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7404.jpg" alt="" />
</p>
<p align="center">
Покорители северного полюса, героические полярники.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7405.jpg" alt="" />
</p>
<p align="center">
Только головы торчат.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7406.jpg" alt="" />
</p>
<p align="center">
Тепло. Без иронии.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7408.jpg" alt="" />
</p>
<p align="center">
Ковш доисторического экскаватора.
</p>
<p align="left">
Любопытная хреновина,&nbsp;колеблется и шатается, мне правда всё равно, я высоты не боюсь.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7409.jpg" alt="" />
</p>
<p align="center">
Вот такая лесенка.
</p>
<p align="left">
На самом деле, эта конструкция предназначена для крепежа классического аттракциона &quot;Спуск по трубе&quot; в летнее время.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7410.jpg" alt="" />
</p>
<p align="center">
Продвинутая&nbsp;молодёжь.
</p>
<p align="left">
Мне эта фотография так нравится, что даже положил&nbsp;на сервер <a href="/admin/Pages/images/TORO7410_BIG.jpg">копию с&nbsp;большим размером и высоким качеством</a>.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7414.jpg" alt="" />
</p>
<p align="center">
Торосы во всём великолепии.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7416.jpg" alt="" />
</p>
<p align="center">
Знаменитая черепаха.
</p>
<p align="left">
До неё мы дошли пешком из Дубулты в Майори. Это совсем немного. Затем зашли в кафейницу.&nbsp;Народ пил вишнёвое пиво, скорее похожее на сидр, я -&nbsp;мой любимый напиток - &nbsp;горячее вино. Там же поели изумительно вкусных блинчиков, а после, насмотревшись на посетителей, ещё и пончиков в дорогу взяли.
</p>
<p align="left">
Надо сказать, что цены в большинстве кафе, несмотря на как бы неподходящий для туристов сезон, весьма туристические.Рассчитано всё на немецких бюргеров, для которых получается это дешёвым раем.
</p>
<p align="left">
Отбивная (только кусочек мяса, без гарнира) - 2 Ls ($4.5).
</p>
<p align="left">
Нам повезло, и мы отделались двумя латами с носа за нормальный такой перекус. Кафе - &quot;Пингвин&quot;, которое вообще-то&nbsp;славится мороженым, но, как оказалось, остальное там тоже на уровне.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7422.jpg" alt="" />
</p>
<p align="center">
Похоже на пустыню. Впрочем, это расхожее сравнение.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7424.jpg" alt="" />
</p>
<p align="center">
Некто неведомый заботливо порубил здоровые куски льда и уложил в неравномерные кучи. Сорока на зданем плане приведена для оценки размеров.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7425.jpg" alt="" />
</p>
<p align="center">
Мы радостно смотрим в будущее.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7426.jpg" alt="" />
</p>
<p align="center">
Те же куски во всей красе.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/TORO7388.jpg" alt="" />
</p>
<p align="center">
Возвратились назад.
</p>

	