Id: a3648ae6-6ad9-4dfd-9492-dd88ea93eec2
Title: "ДР Валеры"
Published: "2004-12-31"
Slug: "2004-12-31 ДР Валеры"
-
<h4 align="center">Нехило студенты гуляют.</h4>
<p align="left">
28 февраля 2004 года праздновали ДР Валерыча. Говорить про это лень, на фото всё и так видно.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1120.jpg" alt="" />
</p>
<p align="center">
Шурик покушать не дурак. Рядом Макс Ковальков.
</p>
<p align="left">
[more text=Смотреть забавные фотки] 
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1123.jpg" alt="" />
</p>
<p align="center">
Артурик дует Беломор-Канал.
</p>
<p align="left">
Валере, кроме всего прочего, подарили и портсигар с легендарной маркой строителей и грузчиков.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1125.jpg" alt="" />
</p>
<p align="center">
Именинник с трубкой разглядывает подарки.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1126.jpg" alt="" />
</p>
<p align="center">
Вот такой прикол с задумкой.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1130.jpg" alt="" />
</p>
<p align="center">
Дубовский снимает Матрицу. В роли Тринити Екатерина Сафронова.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1133.jpg" alt="" />
</p>
<p align="center">
Мосальский дубасит синьку.
</p>
<p align="left">
Не обманывайтесь, глядя на этикетку. Сэм есть сэм.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1136.jpg" alt="" />
</p>
<p align="center">
Лёша жадно поглошает пищу.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1137.jpg" alt="" />
</p>
<p align="center">
Олеся (справа) изображает леди-вамп, Наташа изображает восточную горделивую даму, а я делаю вид, что не при чём.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1141.jpg" alt="" />
</p>
<p align="center">
Часть&nbsp;компашки.
</p>
<p align="left">
Слева направо - Андрей, Влад, Шурик, Макс, Олеся, Наташа, Дима.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1142.jpg" alt="" />
</p>
<p align="center">
<em>Дубуль</em> 2.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1143.jpg" alt="" />
</p>
<p align="center">
3.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1146.jpg" alt="" />
</p>
<p align="center">
И всё-таки Котов хакер.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1162.jpg" alt="" />
</p>
<p align="center">
Стаховский с выпученными глазами возник неизвестно откуда.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1167.jpg" alt="" />
</p>
<p align="center">
Увлечённый Дубовский.
</p>
<p align="left">
Рассказывает, как однажды они долго и с удовольствием слушали звук газовой плиты. В каком состоянии находились, можете понять.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1172.jpg" alt="" />
</p>
<p align="center">
Опять матрица. 
</p>
<p align="left">
В роли Нео - Максим Дубовский.
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1175.jpg" alt="" />
</p>
<p align="center">
Супер-отморозки.
</p>
<p align="left">
Фотогеничные до предела Сергей и&nbsp; Эдгар - получаются на фотках то бухами, то китацами, то вообще какими-то левыми чертями.&nbsp;
</p>
<p align="center">
<img data-src="/files/blogengine/cmsimple/vald1225.jpg" alt="" />
</p>
<p align="center">
Вот и всё!
</p>
<p align="center">
&nbsp;
</p>

	