Id: b3d744e2-f566-428c-ae78-abc56191a99c
Title: "Лекции"
Published: "2004-12-31"
Slug: "2004-12-31 Лекции"
-
<div align="center">
</div>
<h4 align="center">Жизнь студента, как она есть.</h4>
<div align="center">
</div>
<p align="center">
Осень 2003 года.
</p>
<div align="center">
</div>
<div align="center">
Проект
</div>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2966.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Немного растрёпанный молодой человек
</p>
<div align="center">
</div>
<p align="center">
Несерьёзный Андрей на заднем плане ставит мне рога,  а серьёзный Андрей на переднем изображает умный вид.
</p>
<p align="left">
[more text=Смотреть забавные фотки] 
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2967.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Ответственные и серьёзные люди Ваня и Юра 
</p>
<div align="center">
</div>
<p align="center">
Бедный Ваня так устал, что спит прямо на лекции.Ничего не попишешь, делать ночами курсовики - это вам не кирпичи таскать.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2968.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Сюрреализм
</p>
<div align="center">
</div>
<p align="center">
О каких мировых истинах задумался Юрий? Увы, мы этого никогда не узнаем, и права пословица : &quot;Тот кто знает - молчит&quot;.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2970.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Прекрасный вид из окна аудитории
</p>
<div align="center">
</div>
<p align="center">
Мы видим проходящее бурным ходом строительство здания Hansabanka и знаменитый Вантовый мост в золотых лучах заходящего осеннего солнца.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2976.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Айнар, Я, Андрей
</p>
<div align="center">
</div>
<p align="center">
Но вернёмся к нашим баранам, то есть студентам. Айнар уже знает, что завалит экзамен по данному предмету, который будет через месяц, и потому мрачен и зол.Я, как всегда, уверен в силах добра и справекдливости, которые должны обеспечить мне автомат.Андрей тоже уверен, судя по всему, во мне (иначе почему он на меня смотрит?), ведь курсовики делаются вдвоём.Увереность оправдалась - наш герой получил &quot;7&quot;, не зная, ни о чём предмет, ни даже его названия.Полезно иметь хороших друзей, которые знают больше тебя, только вот к кому мне обращаться в таком случае?
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2992.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Студенты обедают
</p>
<div align="center">
</div>
<p align="center">
Как мы видим, основное блюдо студента - чай &quot;ЛЫПОТОН&quot;
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2993.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Одухотворённое лицо
</p>
<div align="center">
</div>
<p align="center">
Вкусная горячая пища явно идёт на пользу не только желудку, но и духовной сущности.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2995.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Каменнный мост
</p>
<div align="center">
</div>
<p align="center">
Главного корпус РТУ, расположен прямо в центре Риги, рядом с музеем оккупации, то есть бывшим музеем Ленина, на улице Калькю.Добратся до корпуса на улице Межа можно на троллейбусе, который впрочем ходит редко, или же пешком через каменный мост.Погода прекрасная и мы радостно топаем на лекции.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2996.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Крупный план
</p>
<div align="center">
</div>
<p align="center">
За моей спиной ничего не видно.Оно и понятно, я же собой вид загораживаю.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2997.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Вантовый мост
</p>
<div align="center">
</div>
<p align="center">
А вот на этом фото отчётливо виден Вантовый мост и мои зубы.Краасота!
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc2998.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Макс
</p>
<div align="center">
</div>
<p align="center">
Это Макс Дубовский, в просторечии Дуба, веб-дизайнер, веб-программер, фотолюбитель  и в целом творческий человек.Фотоаппарат, на который сделаны снимки, нам любезно предоставил именно он.Как и положено художественной натуре, Макс обладает удивительным добродушным пофигизмом, относящимся к лекциям и всему прочему.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3000.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Лектор Марина Уханова
</p>
<div align="center">
</div>
<p align="center">
Марина учит нас, грешных, программированию на продуктах Microsoft и Borland.В данный момент это Microsft Visual Studio.NET - языки C# и Visual Basic.NET. Порой мне кажется, что Марина - единственный человек на компьютерном факультете РТУ, который хорошо знает предмет, который преподаёт.Разумеется, это впечатление обманчиво,  в РТУ есть ещё Русаков, знающий 11 языков программирования, но он леций не ведёт, только практику, поэтому оценить его знания толком не представляется возможным.
</p>
<div align="center">
</div>
<p align="center">
Я не стану говорить о преподавателях, ведущих предметы сомнительного свойства, типа рисования диаграмм или разговоров о системах.Хорошо характеризует эти предметы тот факт, что, их практически не посещая, и не имея шпоргалок, я их сдал на вполне приемлимые оценки с первого раза.
</p>
<div align="center">
</div>
<p align="center">
Марина свободно ведёт лекции на латышском языке, но охотно отвечает на русском без акцента, если ей задают вопросы в частном порядке. Иногда, впрочем, отвечая, она переходит на латышский - привычней. Выглядит это прикольно.
</p>
<div align="center">
</div>
<p align="center">
Как и положено человеку с таким именем, Марина производит приятное впечатление на обучающихся у неё юношей.К тому же она добрый человек, не склонный особо мучать студентов.
</p>
<div align="center">
</div>
<p align="center">
Исходя из вышеизложенного, я решил, что именно под предводительством Марины я буду делать бакалаврскую работу по теме &quot;Разработка распределённых приложений на языке C# в среде Microsoft Visual Studio.NET&quot;
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3001.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Очень красивая очень
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3002.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Или ещё не совсем осень . . .
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3003.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Вот такое мощное дерево . . .
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3004.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
. . .и  вот такое маленькое дерево
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3005.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Строительство нового небоскрёба Hansabanka
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3006.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Оно же крупным планом
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3007.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Оно же с другого ракурса
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3008.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Вантовый мост
</p>
<div align="center">
</div>
<p align="center">
Каждый раз, когда ждём троллейбуса на остановке, любуемся.На фото как-то не очень впечатляет, а в жизни громадная и ажурная конструкция создаёт впечатление мощи и лёгкости.Ночью на вершине на светятся красные огоньки.Если погода сырая и стоит туман, верхушка моста торчит, как из киселя.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3011.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Лаймовское печенье &quot;Селга&quot;
</p>
<div align="center">
</div>
<p align="center">
Студент так устал за день, что даже не может сьесть печенюшку, сразу засыпает.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3014.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Нет сил даже улыбнутся
</p>
<div align="center">
</div>
<p align="center">
Вот до чего Универ доводит!
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3017.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Блинчики из коробки
</p>
<div align="center">
</div>
<p align="center">
Оклемавшись, можно сготовить поесть.Пища студента - дёшево и сердито.Вкусно, хоть и полуфабрикаты.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3018.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Они же, только уже в приготовленном виде
</p>
<div align="center">
</div>
<p align="center">
&nbsp;
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3019.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Инесса
</p>
<div align="center">
</div>
<p align="center">
Блинчики нам готовят девушки, чтобы мы случаем не надорвались.Есть что-то милое и домашнее в том, как женщина готовит, или, скажем, накрашивается.Жесты не лишены известного изящества и кокетства, особенно если за процессом наблюдают.
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3024.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Компьютер тоже хочет есть .  . .
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3029.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Соседи
</p>
<div align="center">
</div>
<p align="center">
Это наши соседи - заправские алкоголики.Бух<strong>а</strong>ют почти каждый день, за что коменда из сильно не любит и грозится выгнать.Постоянно нарушают распорядок, гудят до позднего утра и приводят подозрительных типов тайком от ключницы*.В последнее время поумнели и слегка успокоились, поскольку получили проблемы с универом и окружающими в моём лице и не только.Если стучишь в стенку - музыку выключают.
</p>
<div align="center">
</div>
<p align="center">
(* - Ключница - она же вахтёрша - следит за порядком и выдаёт ключи) 
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3030.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Имант и Ивета?
</p>
<div align="center">
</div>
<p align="center">
Имант - мой одноклассник, и в особом пристрастии к алкоголю ранее замечен не был. Ай-ай-ай, что общага с людьми делает! Хорошо хоть курить не начал, как многие другие . . .
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3032.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Без комментариев . . .
</p>
<div align="center">
</div>
<p align="center">
<img data-src="/files/blogengine/cmsimple/lekc3033.jpg" alt="" />
</p>
<div align="center">
</div>
<p align="center">
Даже камера не фокусируется
</p>
<div align="center">
</div>
<p align="center">
Пары алкоголя, что ли, в неё проникли?
</p>

	