Id: a085e1e2-fa63-4777-8489-d777c63c74f6
Title: "Сокурсники"
Published: "2004-12-31"
Slug: "2004-12-31 Сокурсники"
-
<h4 align="center">Люди как люди</h4>
<p align="center">
<img data-src="/files/blogengine/cmsimple/oku_2727.jpg" alt="" />
</p>
<p align="center">
&quot;Читающий Будда&quot;
</p>
<p align="left">
Котов готовится к экзамену по ???
</p>
<p align="left">
[more] 
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/oku_2731.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Артурик Разгуляев на берегу Даугавы
</p>
<p align="left">
Это дорога от корпуса РТУ на улице Межа, где мы проводим большую чатсь времени, к корпусу на Калькю, где проводят большую часть времени экономисты.
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/oku_2732.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Айнар Свиркович&nbsp;на берегу Даугавы
</p>
<p align="left">
Айнар с Артуриком учатся на LDI, то есть в самом серьёзном институте компьютерного факультета РТУ, и уже из-за одного&nbsp;этого факта заслуживают уважения. Мы вместе выбирали предметы, и теперь они вместе со мной вынуждены изучать прогрммирование на языках C# и Java.Сочувствую!
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/oku_2781.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Айнар с гитарой
</p>
<p align="left">
Не помню, умеет ли Айнар&nbsp; играть на гитаре, но держать её умеет - это видно по фото.
</p>
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/oku_2799.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Шурик Максимов крупным планом
</p>
<p align="left">
С Шуриком мы собирались ехать в Великобретанию на сельхоз-работы, но так и не собрались,потому что не успевали сдать сессию.В этом&nbsp;году(2004) &nbsp;Шурик меня тоже уговаривает податься к буржуям в услужение и срубить нехило капусты, но мне уже давно расхотелось.
</p>
<p align="left">
Оказывается, мы с Сашкой , когда были маленькими, были знакомы, и он мне притащил жуткую чёрно-белую фотку, а потом рассказывал истории, что я уже тогда был странный.
</p>
<p align="left">
Ещё мы с ним и Котовым делали проект для завода &quot;Электроинструмент&quot;, с которым потом успешно выступили на научной конференции РТУ.
</p>
<p align="left">
Сашка слегка наглый и&nbsp;обаятельный, а ещё имеет неплохую категорию(вроде B?)&nbsp;по танцам, как впрочем и Котов с Дубовским. Вечно&nbsp;умудряется уговорить&nbsp;препода поставить высокую оценку, хотя потом тот понимает, что вроде и не собирался. Думаю, одна из причин в том,что он читает книги, и потому неплохо соображает в гуманитарных дисциплинах, и имеет неплохо подвешенный язык, как впрочем и я.
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/oku_2806.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Эдя(Эдгар) и Димон
</p>
<p align="left">
Эдгар и Димон - типичные первомайские* пофигисты.Ещё в школе отвыкли что-либо делать, в этом и заключается их основная проблема. С&nbsp;мозгами у них всё в порядке, но извечная лень убивает людей на корню.(Плюс алкоголь, табак и <a href="https://www.combats.ru">www.combats.ru</a> ). Зато ребята они неплохие, не отморозки какие-нибудь.
</p>
<p align="left">
*первомайка - район города Даугавпилса, откуда я вышел, пользуется дурной репутацией ввиду&nbsp;криминогенной обстановки.
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/oku_2809.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Дружная компашка
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/oku_2810.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Ещё большая компашка
</p>
<p align="left">
&nbsp;
</p>
<div style="text-align: center">
<img data-src="/files/blogengine/cmsimple/oku_2813.jpg" alt="" />
</div>
<p>
&nbsp;
</p>
<p align="center">
Коридор пятого этажа после пожара и до ремонта
</p>
<p align="center">
&nbsp;
</p>

	