Id: 3ce68f51-3e9f-4605-81e4-c7246167d070
Title: "Oxford Dictionary of Modern Slang"
Published: "2005-10-17"
Slug: "2005-10-17 Oxford Dictionary of Modern Slang"
-
AC/DC adjective Also AC-DC. euphemistic, orig. US.<br/>&nbsp;Of a person: bisexual. <br/><EM>1960-. K.MILETT You can also tell Time Magazine you're bisexual, be AC-DC in the international edition (1974).<br/></EM>К вопросу: какой же сексуальной ориентации придерживается <a href="https://murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> murmanskdays</a>?
	