Id: 9a5f599c-66bb-466f-b5b6-a882d0133206
Title: "Ликбез по злобным кусачим"
Published: "2005-07-28"
Slug: "2005-07-28 Ликбез по злобным кусачим"
-
<p>
<a href="http://www.livejournal.com/users/gremlinn/175121.html#cutid1">Ликбез по злобным кусачим микроклещам</a>, которые водятся <strong>везде</strong>.
</p>
<p>
Как жить, как жить . . . 
</p>

	