Id: f9c7e008-e6c1-4c62-b221-36f36e6458f6
Title: "Наблюдение"
Published: "2005-09-22"
Slug: "2005-09-22 Наблюдение"
-
<p>
&nbsp; Лёг днём подремать. Проснулся, и сразу захотелось сладкого. Пошёл съел зефир. Вкусный был - необыкновенно. Съел ещё один. Тоже ничего. Задумался. Такое уже не первый раз - сразу после сна, когда ещё толком не проснулся, или наоборот, когда засыпаешь, впечатления становятся очень яркими.&nbsp; Вот слушал&nbsp;я как-то засыпая Physical Graffiti -&nbsp;так прямо партии инструментов на куски рассыпались и как&nbsp;глыбы саунда впечатывались в&nbsp;сознание.<br />
&nbsp;&nbsp; Мозг спросонья ещё не настроен, и воспринимает сигналы органов чувств в неправильном масштабе?<br />
&nbsp;&nbsp; Или, пока прикрыты глаза, он не загружен&nbsp;зрительной информацией, и потому на автомате усиливает прочие сенсоры?<br />
&nbsp;&nbsp;&nbsp;В любом случае,&nbsp;тут скорее всего прослеживается связь&nbsp; с ночным временем суток, когда информации поступает меньше, и организм в процессе эволюции выработал&nbsp;способность усиливать&nbsp;сигналы, чтобы лучше распознавать опасность.<br />
<br />
<br />
&nbsp; 
</p>

	