Id: 62f7bc2c-bd56-407f-9828-ac81732f4c4d
Title: "Сага про Power Supply Unit он же блок питания"
Published: "2005-10-03"
Slug: "2005-10-03 Сага про Power Supply Unit он же блок питания"
-
&nbsp;&nbsp; Звонит мне недавно [cut]. И слегка сбитым с толку голосом рассказывает про то, как у неё компьютер зависает. Я девушку в беде оставить не мог, срочно побежал выручать. Симптомы были вот такие:<br />
комп зависает, потом не включается и жалобно пищит вот так: &quot;тррррррррррр&quot;, то есть часто-часто коретенькими бипами.<br />
<br />
&nbsp;&nbsp; Я, понятное дело, в инструкцию от материнской платы сразу смотрю. Но китайцы (тайваньцы) нас считают тупенькими end-user&#39;ами и посему расшифровку комповых стенаний не приводят. Пришлось топать домой рыскать в Google, хотя некие гипотезы к тому времени у меня уже сформировались. А в Инете я нашёл лишь упоминание, что такой звук комп может издавать при проблемах с оперативной памятью. Однако сразу было ясно - это не тот случай, ибо рассматриваемому компу уже 2 года, а проблемы начались неделю назад.<br />
<br />
&nbsp;&nbsp; Как самую вероятную гипотезу принял проблемы с системной платой или блоком питания. В итоге я разобрал свою тачанку, которая набита довольно качественными комплектующими, вытащил блок питания, память и видеоадаптер, и отнёс проверить. Как я и ожидал, несмотря на характерный звук, проблема была не в памяти. К счастью, она оказалась и не в материнской плате - поскольку после смены блока питания с китайского отстоя на мой INWIN IW300-A, всё завелось и заработало like a charm.<br />
<br />
&nbsp;&nbsp; В связи с этим мне вспомнилось следующее. Я сторонник выбора всего качественного, хоть по возможности и не очень обременительного по финансам. Но у меня есть немало друзей и знакомых, которые в упор не понимают, зачем покупать качественные комплектующие, и считают это напрасной тратой денег. &quot;И так же работает, зачем тогда платить больше?&quot;<br />
<br />
&nbsp;&nbsp; Поэтому отвечу так. Несколько лет назад у меня сгорело 2 жёстких диска подряд. К счастью, тогда их поменяли по гарантии, но я потерял немало своих данных. А сейчас, после чтения десятков страниц форумов, я понимаю, что скорее всего в этом был виноват БП-убийца производства адской конторы CODEGEN, массово лепящей экстрадешёвые поделки сверхнизкого качества. Через два года работы этот блок благополучно и аккуратно сгорел. Как, впрочем, и идентичный блок моей однокурсницы Инессы.<br />
<br />
&nbsp;&nbsp; Если сделать поиск по форумам или спросить ремонтника, случаев таких с дешёвыми некачественными блоками можно наблюдать бесконечное количество. Хорошо ещё, если во время своей кончины эти девайсы не тянут за собой в могилу кучу других частей компьютера, что тоже нередко случается. <br />
<br />
&nbsp;&nbsp; Рассказывали мне ещё случай, когда из-за скачков напряжения сгорел БП вместе с системной платой. И так два раза подряд. Есть мнение, что при качественном БП обошлось бы только отрубанием компа, либо поломкой только лишь одного БП.<br />
<br />
&nbsp;&nbsp; В итоге я принял волевое решение китайского больного не чинить, как смертельно поломанного с момента создания. Вместо этого я решил поставить свой БП девушке, а себе купить новый - помощнее, с заделом на будущее, в котором, как известно, нас ожидают многоядерные процессоры и шкафы с дисковыми массивами, потребляющие что твой утюг.<br />
<br />
&nbsp;&nbsp; С помощью трёх часов разведки на <a href="https://forum.ixbt.com/">хоботе</a> и поиска <a href="https://www.google.lv/">google в Латвии</a> выяснилось, что единственные пристойные БП, которые можно купить в нашей провинции, производит компания FSP GROUP(она же FORTRON/SOURCE). К сожалению, то модели были не те, что хотелось, то к фирме продающей БП доверия не было (хотя в целом с этим у нас ситация хорошая - фирмы вполне надёжны и ответственны).<br />
&nbsp;&nbsp; В итоге нашёл я в прайсе отличной конторы <a href="https://www.jet.lv/">Jet Computer</a> блоки производства FSP, однако же без точного указания моделей. Один имейл - и я уже имею нужную информацию, но без цены почему-то. Вот такие местные приколы. Зато в кои-то веки написали не транслитом и грамотно. Обычно приходит мешанина из латинских букв и цифр, без заглавных в начале предложений и знаков препинания.<br />
&nbsp;&nbsp; Однако, дело было в субботу, и потому ответ мне прислали только в понедельник. Но я хитро прочитал его прямо на лекции с мобильного телефона через сервис <a href="https://gmobile.sayni.net/">Gmail mobile</a>, и очень удивился хорошей цене. Потому и медлить не стал, а сразу поехал и купил.<br />
<br />
А мораль сей басни такова.<br />
&nbsp;&nbsp; Покупайте, граждане, качественную продукцию. Я же не агитирую за грандов ANTEC или ENERMAX, стоящих 100$ за 300Watt. А лишь за БП приличных фирм. Как то: Delta, FSP, с оговорками InWIN или Sirtech(HPC). Вот как мой FSP400-60THN-P.<br />
&nbsp;&nbsp; В нём имеется: соответствие стандарту ATX 12V 2.01, две независимых линии 12 вольт, довольно тихий вентилятор 12 сантиметров диаметром, пассивная коррекция питания (PFC). Ещё 24-пиновый разъём для новых компов, но при этом переходник в комплекте. И наконец - длинные провода, 1 разъём питания SATA дисков, и честные 400 ватт суммарной мощности. При этом стоит он 45$<br />
&nbsp;&nbsp; Для кошмарных БП Codegen за 25$ и прочих аналогичных &quot;китайцев&quot; 400 ватт на этикетке равны настоящим 200 или 250, плюс плохое качество деталей и риск потерять комп стоимостью на порядок больше.<br />
Оно вам надо?<br />
<br />
Ссылки по теме<br />
<a href="https://www.fcenter.ru/online.shtml?articles/hardware/tower/14093">Каталог тестов БП на fcenter</a><br />
<a href="https://www.ixbt.com/power.shtml#psu">Раздел БП на ixbt </a>

	