Id: b1bf0687-d20a-4428-8449-548b9f4dbbe9
Title: "Лол"
Published: "2005-08-23"
Slug: "2005-08-23 Лол"
-
<p>
Цитата из <a href="http://nationalpost.msk.ru/example.php?subaction=showfull&amp;id=1122038989&amp;archive=1122369256&amp;start_from=&amp;ucat=12&amp;category=12">пиратского перевода Гарри Поттера</a>:
</p>
<p>
<em>
&quot;Гарри все время знал, что Рон был неуверен в себе и страдал от нехватки одиночества&quot;&nbsp; </em>
</p>
<p>
Пираты жгут! Что называется, специально не выдумаешь.
</p>

	