Id: 5c43705c-98f8-4fe4-aec4-4e4491bda005
Title: "Библия"
Published: "2005-08-03"
Slug: "2005-08-03 Библия"
-
[more text=Картинка отлично отражает мой взгляд на Библию (70 КБ)]<br />
<div align="center">
<img data-src="/files/lj/16673/286_large.jpg" alt="" title="Библия" />
</div>
<br />
Для тех, кто не в ладах с английским, переведу наклейку.<br />
<font color="#ff0000"><strong>Предупреждение: </strong></font><font color="#000000">Это произведение - вымысел. <strong>Не понимайте его буквально.<br />
<br />
</strong></font><font color="#ff0000"><strong>Справка о содержимом: </strong></font><font color="#000000">Содержит стихи описывающие или пропагандирующие суицид, инцест, зоофилию, садомазохизм,&nbsp;сексуальную деятельность, связанную с насилием, убийства, патологическое насилие, употребления наркотиков или алкоголя, гомосексуализм, вуайеризм, месть, очернение представителей власти, беззаконие,&nbsp;а также&nbsp;грубые нарушения прав человека.<br />
<br />
<font color="#ff0000"><strong>Предупреждение об использовании: </strong></font></font><font color="#000000">Доступ к содержимому на продолжительные отрезки времени или в годы формирования личности ребёнка может стать причиной галлюцинаций, уменьшения познавательных способностей и способностей логически рассуждать, и, в чрезвычайных ситуациях, патологическим нарушениям, ненависти, нетерпимости и насилию, включая, но не ограничиваясь, фанатизмом, убийствами и геноцидом.<br />
<br />
Предвосхищая вопросы, скажу, что Библию я читал, хотя и не очень много. Буду банальным, и скажу, что особенно&nbsp;впечатлил эпизод, где Бог убивает египетских младенцев. Редкостный размах в садизме.</font>

	