Id: 19c8c983-8c7c-4088-ae0f-5cb89010d528
Title: "Закончил наконец"
Published: "2005-08-16"
Slug: "2005-08-16 Закончил наконец"
-
<p>
Закончил&nbsp;<a href="https://vladek.richnet.lv/?%D1%F2%E0%F2%FC%E8:%CF%F3%F2%E5%F8%E5%F1%F2%E2%E8%E5_%E2_%CF%EE%EB%FC%F8%F3">первую часть описания нашего путешествия в Польшу</a><a href="https://vladek.richnet.lv/?%D1%F2%E0%F2%FC%E8:%CF%F3%F2%E5%F8%E5%F1%F2%E2%E8%E5_%E2_%CF%EE%EB%FC%F8%F3"><br />
<br />
</a>
</p>

	