Id: 737cb309-49cd-4036-afd8-8c04831b6d50
Title: "Тут  phoneme спрашивает, у кого какой топ-5 русской музыки."
Published: "2005-09-26"
Slug: "2005-09-26 Тут  phoneme спрашивает, у кого какой топ-5 русской музыки."
-
Тут <a href="http://phoneme.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> phoneme</a> <a href="http://www.livejournal.com/users/phoneme/394424.html">спрашивает</a>, у кого какой топ-5 русской музыки. Потом, правда, под напором русофильской общественности <a href="http://www.livejournal.com/users/phoneme/394608.html">расширяет</a> до топ-10.<br />
<br />
Почему бы и не написать. Несмотря на мои горячую поддержку всевозможных наездов на русскую музыку, я и сам не без греха - куда от родного языка денешься.<br />
<br />
Мой Топ-5 русских музыкантов в произвольном порядке с пояснениями<br />
<br />
Психея - emo-shit cybercore. Сначала не понял прелести, но после нескольких прослушиваний пошло очень под настроение, потом крутил до бесконечности<br />
Дельфин - за альбом &quot;Звезда&quot;, в котором всё просто абсолютно идеально аккуратно. Такая степень абсолюта просто пугает. А атмосфера какая киберпанковская, просто хоть ложись и подключайся.<br />
Текиладжазз - классика, йопт. Альбомы про миллиарды шагов и &quot;Выше Осени&quot; и далее в обратном хронологическом порядке<br />
Аквариум - для меня Аквариум - это последние 2 альбома. Остальное не слышал и не хочу. Вот такая принципиально идиотская позиция<br />
Звуки Му - а это уже классика странного жанра русский-мужик-авангард. Наверное, это редкий случай действительно оригинальной русской музыки<br />
<br />
Дополнение до Топ-10<br />
<br />
2h company - любимые моему серцу постмодернисткие пулемётные речитативы поколения МТВ под жёсткую электронику ёлочных игрушек. Даже звучит сюрреально<br />
Каста - простой русский рэп, как он есть. Поклонники тру хип-хапа с ниггерами кричат &quot;Фуу!&quot;<br />
Кирпичи - простой русский бред, как он есть. Поклонники тру хип-хапа с ниггерами кричат &quot;Фуу!&quot; на бис<br />
Слот - сверхпопсовый ню-метал с женским вокалом. Поклонники тру хип-хапа надрывно мычат, топают и размахивают руками<br />
W.K.? за одну единственную песню &quot;растаман&quot; (ремикс версия), которая на моей памяти была последней, на которой индикатор радости и счастья у меня в башке зашкалило. Поклонники тру хип-хапа в недоумении

	