Id: 524eeb14-ac4a-4845-ac98-bea53220cc36
Title: "Религиозный Гарри Поттер"
Published: "2005-09-09"
Slug: "2005-09-09 Религиозный Гарри Поттер"
-
<p>
Незнаю, почему на меня это производит какое-то жуткое, чудовищное впечатление. Какой там гротеск-ужастик! Просто как хороший триллер.<br />
<a href="https://delo.teolog.ru/deloN6011"><strong>ПАСХАЛЬНОЕ ЧУДО ИЛИ ПОКАЯНИЕ ГАРРИ ПОТТЕРА</strong></a> <br />
<br />
Наверно потому, что тут ярко и явно видно,&nbsp;что происходит, когда&nbsp;религиозные мракобесы&nbsp;перекраивают мир по-своему. Ничего святого для них нет. Прикольный каламбур получился :-)<br />
<br />
via <a href="https://www.livejournal.com/community/ru_antireligion/273455.html" target="_blank">ru_antireligion</a>
</p>

	