Id: 00050094-e147-4f80-b5ed-f5c851cb5978
Title: "Рекомендую  комментатору учебник логики автора Челпанова (c) Oper Goblin"
Published: "2005-08-22"
Slug: "2005-08-22 Рекомендую  комментатору учебник логики автора Челпанова _c_ Oper Goblin"
-
<p>
&nbsp;&nbsp; Ехал на дачу в автобусе (до чего лень дошла, лень 3 км пройти), вместе со мной на одной остановке вышли девочка 5 лет, её мама и бабушка. Когда пришли, оказалось, что&nbsp;они направлялись в дом&nbsp;моего друга. Потом я зашёл к нему, и девочка по имени Маша с ярко-голубыми глазищами сразу меня узнала, и сказала, что я ехал с ними в автобусе.&nbsp; Познакомился. Бабушку звали Честя, то есть Чеслава,&nbsp;и она, оказывается, жила в одном (частном) доме с моими&nbsp; родителями, и в соседней с их комнате писала кандидатскую по филологии.<br />
&nbsp;&nbsp;Через несколько часов ехал&nbsp;обратно на последнем автобусе, и тоже с ними. Пока ждали бус, Маша&nbsp;играла с мамой в игру: считала машины, едущие&nbsp;в город, а&nbsp;её мама - из города. Маша&nbsp;с большим&nbsp;счётом выигрывала,&nbsp;ввиду зверской хитрости, которую она мне объяснила: машины, направляющиеся в город, возвращаются с дачи,&nbsp;и потому их много&nbsp;больше.&nbsp; <br />
Далее идёт диалог:<br />
Я: У тебя в логике ошибка: сегодня понедельник, рабочий день, на дачу никто не ездит.<br />
Маша:&nbsp;[подумала], сейчас лето и у них отпуск.<br />
Мама Маши:&nbsp;У неё отец логику преподаёт.<br />
Тут-то я и замолчал, поверженный&nbsp;неумолимостью знаний 5-летнего человека с бантиками.<br />
<br />
P.S. Маше я очень понравился,&nbsp;но вряд ли мы ещё встретимся, потому что&nbsp;они с мамой&nbsp;из Витебска<br />
<br />
P.P.S. Папа говорит, что Чеслава&nbsp;не только сама&nbsp;сделала&nbsp;диссертацию, но и&nbsp;на него повлияла в этом деле.&nbsp;Мой дед&nbsp;был недоволен: у него было 4 класса образования,&nbsp; и максимумом его мечтаний в образовании для сына был техникум (несмотря на это,&nbsp;дед в военное время был председателем колхоза)<br />
<br />
&nbsp; 
</p>

	