Id: 1329a7a0-d3f5-4c1e-9545-b39f3cc13d19
Title: "I'M ALPHA BOSS. ALL HAIL ME!"
Published: "2005-10-22"
Slug: "2005-10-22 I_M ALPHA BOSS. ALL HAIL ME_"
-
Классная игрушка - анализатор лиц. Закачиваешь фотку, заполняешь анкету. Затем этот автоматический горе-астролог по анкете говорит тебе то, что ты и так знаешь.<br />
Я, <a href="https://www.faceanalyzer.com/member.aspx?id=67644">оказывается, Alpha Boss - очень умелый руководящий тип</a>. Помнится, на лекции по некоему гуманитарному предмету в тесте получилось, что мне прямая дорога в топ-менеджеры. Все мне пророчат светлое будущее.<br />
Открою секрет. Главное - правильно выбрать фото.<br />
<br />
via <a href="https://apazhe.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> apazhe</a>

	