Id: db74c34a-a065-42ca-b069-c9a959fb098f
Title: "Спиритизм, ёптель"
Published: "2005-08-26"
Slug: "2005-08-26 Спиритизм, ёптель"
-
<p>
Навеяно <a href="https://www.livejournal.com/community/ru_antireligion/262895.html">вот этим</a> в&nbsp;<!--StartFragment --> <span class="ljuser" style="white-space: nowrap"><a href="https://www.livejournal.com/community/ru_antireligion/"><strong>ru_antireligion</strong></a>.</span>
</p>
<p>
<span class="ljuser" style="white-space: nowrap"></span>&nbsp;&nbsp;&nbsp; Помню в детстве вызывали мы духов писателей. Выглядело это так. Делаешь большой бумажный круг с цифрами и буквами, словами &quot;ДА&quot; и &quot;НЕТ&quot; по периметру. Потом ставишь в центр чайное блюдце вверх дном. Гасишь свет (спиритический сеанс &nbsp;должен происходить в темноте). Только свечи горят.&nbsp;Каждый кладёт по 2 пальца на блюдце. Желательно 3 человека,&nbsp;иначе&nbsp;блюдце почти не ездит. После этого вопрошаем:
</p>
<p>
&quot;Уважаемый дух Льва&nbsp;Николаевича Толстого, ты нас слышышь?. Если слышит, блюдце поедет по направлению к слову &quot;ДА&quot;.<br />
&nbsp; Далее можно задавать вопросы, на которые дух отвечает по буквам, или словами &quot;ДА&quot; и &quot;НЕТ&quot; (блюдце двигается в соотвествующем направлении).
</p>
<p>
 Понять, в чём был подвох, даже сейчас непросто. Разумеется, единственная разумная гипотеза - что блюдце двигали пальцами другие участники действа. Однако люди сидят с разных сторон, и двигать блюдце так, чтобы оно ездило туда-сюда по всему кругу, и при этом вполне разумно отвечало на вопросы - очень непросто. При том я-то его не двигал, то есть пальцы соратников находились лишь с двух сторон. Потом, когда я стал старше, мы пытались повторить сеанс&nbsp;с другими товарищами, постарше, но ничего не вышло. Все сразу замечали фальшивое движение, причём только в 1 сторону&nbsp;- ту, куда его толкал обманщик.
</p>
<p>
Сейчас пришло в голову, что кто-то из участников мог смазывать пальцы спецклеем. Но откуда в советском союзе клей, который липнет к блюдцу, и не очень заметен на пальцах? Может быть также, что воспоминания эти - просто обман памяти или зрения.&nbsp;Ведь ребёнка обмануть нетрудно, особенно наивного, вроде меня. Но отвечал дух на вопросы вполне правдоподобно.
</p>

	