Id: 7a4dc4f8-1924-45f8-90a1-26573a92ecac
Title: "Японская музыка Gagaku"
Published: "2005-10-01"
Slug: "2005-10-01 Японская музыка Gagaku"
-
&nbsp;&nbsp; На самом деле, я конечно расскажу, что за диск я давеча купил. Зашли мы в магазин &quot;Intelektuāla grāmata&quot;, то есть &quot;Интеллектуальная книга&quot;. А там -&nbsp; глядь - небольшой стенд с дисками. Классика и этническая музыка. Я, как и всякий порядочный меломан, мимо пройти не мог, стал рассматривать. И нашёл знакомое слово - Gagaku. Это японская музыка, ведущая своё происхождение&nbsp;из 7-8 века. У меня уже был один её альбом в mp3, который я когда-то с трудом скачал из soulseek. Да и сейчас, скажем, в emule&nbsp;такой музыки&nbsp;отнюдь не много.<br />
<br />
&nbsp; Далее - небольшая цитата из&nbsp;буклета размером в две страницы мелким шрифтом. (Русское издание).<br />
<em>&nbsp; &quot;Гагаку&quot; - это музыкальная часть &quot;бугаку&quot;, японское прочтение музыкального иероглифа &quot;я-юэ&quot;, обозначающего &quot;высокую музыку&quot;, а также: тип придворного оркестра и одновременно всё музыкальное мышление, выработанное в рамках этой традиции.<br />
&nbsp; Теория &quot;гагаку&quot; была заимствована из литературы и философии Китая. Как и в Китае, теория музыки базировалась на определяющей роли единого звука, т.е. звука, взятого&nbsp;в отдельности (этим она отличается от музыки большинства стран Древнего Востока и античного мира, где вся смысловая нагрузка падает на переход от одного звука к другому).&nbsp;<br />
<br />
</em>Это вам не <a href="http://www.livejournal.com/users/mr_carbo/91891.html">брит-поп и не Брайан Ино</a>,&nbsp;да.&nbsp;Чистое наслаждение саундом каждого&nbsp;висящего&nbsp;и парящего&nbsp;звука. Но не только.<br />
<br />
<em>&nbsp;&nbsp; В состав оркестра &quot;гагаку&quot; (около 30 инструментов) входят такие заимствованные из Китая инструменты, как флейты (рютеки, комафуэ) и маленькие духовые органчики се. Но самым главным в группе духовых был гобой хитирики, солирующий инструмент. В группу струнных входят со (13-струнная цитра) и бива (4-струнная лютня); в группу ударных&nbsp;- бронзовые гонги барабаны(тайко, секо, како и цуцуми). Двойной барабан сан-но-цуцуми является своего рода метрономом, на котором играет дирижёр оркестра<br />
<br />
</em>&nbsp;&nbsp; Гобой - в какой-то мере родственник волынки, а как звучит волынка все знают. То есть описательно&nbsp;гагаку - это&nbsp;океан медленного высокочастотного нойз-эмбиента, поддерживаемый&nbsp;редкими громовыми ударами&nbsp;бас-барабана и аскетичными переборами струнных.&nbsp;&nbsp;<br />
&nbsp; Несмотря на всю свою для нас экзотичность, по происхождению это относительно сладкая придворная музыка,&nbsp;не очень сложная для восприятия. Правда, натыкаясь на <a href="http://www.mushar.ru/gagaku/gagaku.html">подробные объяснения и анализ гагаку с точки зрения музыкальной теории</a>, очень жалеешь, что мало что&nbsp;в этом понимаешь.<br />
<br />
P.S. Пытался попросить человека купить мне в Москве&nbsp;музыкальный&nbsp;словарь&nbsp;Гроува или музыкальный энциклопедический словарь, так нету же! Даже в каком-то огромном магазине (подробностей не знаю). Просвещайся сам, как умеешь.

	