Id: 81231fb0-43dc-4d4d-831b-84acfe804473
Title: "Нде"
Published: "2005-08-22"
Slug: "2005-08-22 Нде"
-
Понял&nbsp;<a href="http://www.livejournal.com/users/angus_barker/26404.html">зверскую&nbsp;байку&nbsp;про мурсики</a>&nbsp;&nbsp;со второго раза. Вывод: моя испорченность - средняя.

	