Id: 366b6597-47de-48ef-af76-5c6354b0927e
Title: "Ах, как прекрасны ваши"
Published: "2005-09-16"
Slug: "2005-09-16 Ах, как прекрасны ваши"
-
<a href="https://www.zellestyle.com/catalog/index.htm">Ожерелья из диодов и штекеров для наушников, серьги для девушек&nbsp;из транзисторов, сумка из флоппи-дисков.<br />
</a>Красиво.<br />
Все, кто считает, что это пародия на украшения, идут фтопку. Вообще странно цитировать <a href="https://apazhe.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> apazhe</a>, но есть же наверно люди, которые его не читают.

	