Id: 9bfc0e69-1856-44da-8998-51e1c49d19c9
Title: "Вот где люди живут так живут"
Published: "2005-11-23"
Slug: "2005-11-23 Вот где люди живут так живут"
-
<a href="http://www.livejournal.com/users/alexmoskalyuk/407106.html">В америке Dell продаёт вполне себе классные ноутбуки&nbsp;по 400 баксов</a><br />
Крута блин. Я бы себе такой купил, если бы он мне нужен был.

	