Id: 647bfac1-cdfc-48a5-ba19-8043f0ee3720
Title: "Музпросвет"
Published: "2005-10-18"
Slug: "2005-10-18 Музпросвет"
-
<strike>Я ЗНАМЕНИТОСТЬ! Я ПРИКОСНУЛСЯ К КЛАССИКУ!<br />
</strike>Это мне тут весёлую чушь на ухо подсказывают.<br />
&nbsp;&nbsp; На самом деле для меня Музпросвет - это нечто из другого мира, а Горохов, несмотря на всю свою противоречивость, претенциозность и сомнительные тезисы, настоящий сенсей. А когда я нечаянно чуть-чуть попал в передачу, да ещё с фамилией, испытал просто культурный шок.<br />
<a href="https://muzprosvet.ru/real.html">https://muzprosvet.ru/real.html</a><br />
Коллега торопит, и говорит, что заебался ждать, пока я пишу пост,&nbsp;поэтому ухожу.

	