Id: 59b6dd7d-7d88-41eb-8346-02544a092341
Title: "Почему у меня нет прав: часть 1"
Published: "2005-08-01"
Slug: "2005-08-01 Почему у меня нет прав_ часть 1"
-
<p>
У меня нет водительских прав. Почему?<br />
Я сдал теорию с первого раза, с одной ошибкой&nbsp;при трёх допустимых (из 30 вопросов).<br />
Я заваливал практику 7 раз.<br />
[more text=Сегодня расскажу про первый.]<br />
Сегодня расскажу про первый.<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; В первый раз я не смог припарковаться в &quot;гараж&quot;. Нас учили парковаться, запоминая расположение парковочных столбиков по отношению к ориентирам в салоне.&nbsp;Примерно так:&nbsp;&quot;Когда первый белый столбик на площадке будет рядом с левым дворником на лобовом стекле (по линии взгляда), отпускаем педаль газа и выкручиваем руль до упора налево&quot;. Прочие указания в том же духе. Это конечно шулерский подход, который работает только на тренировочной площадке. Но он работает. В жизни такое частенько встречается.Это можно сравнить с использованием шпор студентами. Или с тупым запоминанием линейной последовательности несложных действий. <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Пример, который почему-то всегда приходит на ум - прописывание настроек сети в Windows. Высшее существо - провайдер, даёт клиенту магические числа (IP адрес, шлюз и маску) и слова (DNS сервер), которые&nbsp;тот тупо копирует в соответствующие поля, и радуется.&nbsp;Даже &quot;админы&quot; в компьютерных клубах действуют по той же схеме. Они&nbsp;знают, что IP адреса можно назначить произвольно из списка, маску тоже можно варьировать в некоторых пределах. Но понять, <strong>что именно </strong>означают все эти заклинания, им не дано. <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Почему же я не смог&nbsp;поставить машину на парковку? Ответ скучный, но не простой. Можно было бы сказать, что я волновался, и это правда. Однако суть дела это не раскрывает.&nbsp;На самом деле&nbsp;я почему-то испугался, что <strong>так </strong>делать на экзамене нельзя. Хотя никто мне этого не говорил, а скорее наоборот. В результате я стал <strong>делать вид </strong>что не&nbsp;использую заученную схему, а&nbsp;паркуюсь &quot;на глаз&quot;.&nbsp; Этого я не умел, и потому&nbsp;итог был предсказуемо печальным.
</p>

	