Id: 78ac7f06-4d5b-4999-9480-0a5a44438495
Title: "mp3 player SanDisk Sansa e140"
Published: "2005-12-29"
Slug: "2005-12-29 mp3 player SanDisk Sansa e140"
-
Купил я себе всё-таки mp3 player наконец. А то странно даже как-то - вроде меломан, а слушал только с компа или старенького cd walkman. [more text=Плейер вот такой:]
<p align="center">
<img data-src="/files/lj/16673/306_large.jpg" alt="" />
</p>
<p align="center">
SanDisk Sansa e140
</p>
<p align="center">
&nbsp;
</p>
Привезли из Штатов, стоил около 100$. <br />
Купил именно такой, потому что <br />
1)Поддерживает USB 2.0. То есть&nbsp;время записи&nbsp;его гигабайта встроенной памяти - около 4 минут, удобно.<br />
2)Поддерживает карты памяти SD, которых у меня, скорее всего, будет много.<br />
3)По отзывам, после установки обновления прошивки с сайта Sandisk, не имеет существенных недостатков.<br />
<br />
Качество звука с комплектными наушниками - так себе. С моими стационарными Sennheiser HD555 - получше, но плейер не может их &quot;раскачать&quot;. Через недельку сравню с&nbsp;плейером iRiver H10, отпишусь.<br />
<br />
За несколько дней эксплуатации выявил пару неприятных особенностей, которых не видел в отзывах:<br />
1) Скорость записи на карту памяти ужасно низкая - меньше чем 600 KB/Sek. Это медленнее, чем USB 1.1 и означает 20-30 минут ожидания при записи на карту в 1 GB. Не помог ему USB 2.0, видно ограничение контроллера встроенного картовода.<br />
2)Подсветка синяя, буквы мелкие. Это красиво и информативно, но не очень читабельно, особенно&nbsp;на ходу и с большого расстояния - при вытаскивании из кармана.<br />
<br />
В&nbsp;целом - плейер неплохой, покупать можно без опасений, но&nbsp;всегда лучше сначала почитать обзоры.

	