Id: 742e5927-1001-4a17-b8b4-27fdf5d7cee9
Title: "День ЖЖ-независимости"
Published: "2005-11-19"
Slug: "2005-11-19 День ЖЖ-независимости"
-
<p align="justify">
Испугался, что меня удалит <a href="https://murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> murmanskdays</a>&nbsp;и срочно решил что-нибудь написать, хоть мне и всё равно.<br />
У нас в Латвии сегодня, 18 ноября, день независимости.<br />
Я сейчас дома, в Даугавпилсе. Хотел встретится с троюродным братом Артуром и однокурсником Эдиком. Не с тем не&nbsp;с другим не получилось, потому что у обоих у жён сегодня (sic!) дни рождения.<br />
Зато сходил вечером на салют, который в комментах к <a href="https://gugiens.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> gugiens</a>&nbsp;нагло обозвал парадом, чем ввёл человеколюбивого Гугенса в <br />
заблуждение, поскольку тот жаждал фотографий людей на параде. Какой парад, когда на улице -2 и темнеет в 16.00 ?<br />
Потом выпил вермута, хотя ранее сказал <a href="https://phoneme.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> phoneme</a>&nbsp;что я трезвенник (соврал, получается), и сейчас от нечего делать пишу всякую чушь.<br />
Чтобы совсем зря не писать,&nbsp;[more text=фото с салюта.]
</p>
<br />
<p>
&nbsp;
</p>
<br />
<p align="center">
<a href="/files/lj/28589/299_large.jpg"><img data-src="/files/lj/28589/299_big.jpg" alt="" title="Щёлкните для увеличения" /></a><br />
Молодняк, живущий в районе моей дачи
</p>
<br />
<p>
&nbsp;
</p>
<br />
<p align="left">
Любовался я&nbsp;салютом вместе вот с этими товарищами, которые есть люди вполне себе культурные и перспективные. На заднем плане отреставрированная гостиница.
</p>
<br />
<p align="center">
<a href="/files/lj/28589/300_large.jpg"><img data-src="/files/lj/28589/300_big.jpg" alt="" title="Щёлкните для увеличения" /></a><br />
Частенько вот так всё и выглядело - как туча дыма
</p>
<br />
<p>
&nbsp;
</p>
Зато дальше будет лучше.<br />
<p align="center">
<a href="/files/lj/28589/301_large.jpg"><img data-src="/files/lj/28589/301_big.jpg" alt="" title="Щёлкните для увеличения" /></a><br />
Синий фейрверк
</p>
<br />
<p>
&nbsp;
</p>
<br />
<p align="center">
<a href="/files/lj/28589/303_large.jpg"><img data-src="/files/lj/28589/303_big.jpg" alt="" title="Щёлкните для увеличения" /></a><br />
Зелёный фейрверк
</p>
<br />
<p>
&nbsp;
</p>
<br />
<p align="center">
<a href="/files/lj/28589/302_large.jpg"><img data-src="/files/lj/28589/302_big.jpg" alt="" title="Щёлкните для увеличения" /></a><br />
Разноцветный фейрверк
</p>
<br />
<p align="center">
<a href="/files/lj/28589/304_large.jpg"><img data-src="/files/lj/28589/304_big.jpg" alt="" title="Щёлкните для увеличения" /><br />
</a>Кульминация - золотистый фейрверк
</p>
<br />
<p align="center">
<a href="/files/lj/28589/305_large.jpg"><img data-src="/files/lj/28589/305_big.jpg" alt="" title="Щёлкните для увеличения" /></a><br />
Развязка, так сказать
</p>
<br />
<p>
&nbsp;
</p>
<br />
<p align="left">
А финала я не запечатлел, потому что у меня кончилась крошечная 16 мб карта памяти Canon. А&nbsp;у 2 GB Patriot, которой я обычно пользуюсь, стал разваливаться по частям и крошиться пластмассовый корпус, поэтому пришлось её оставить дома. Вот что значит японское качество по сравнению с американским. <br />
Итоги такие: салют мне понравился. А карту я уже склеил суперклеем, который на самом деле просто просто цианакрилатовый, а вовсе даже и не &quot;супер&quot;.
</p>

	