Id: 0865230a-5942-4148-8871-b1e912e073ec
Title: "Где живёт тру Хип-хоп?"
Published: "2005-10-01"
Slug: "2005-10-01 Где живёт тру Хип-хоп_"
-
<p>
Пару раз мы с <a href="https://murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> murmanskdays</a>&nbsp;в комментариях <a href="https://www.livejournal.com/community/ru_metacritic/7034.html?thread=116858#t116858">спорили</a> о хип-хопе. Он предпочитает мейнстрим. А я&nbsp;-&nbsp;андерграунд, если можно так выразиться. Я имею в виду лейблы Anticon, Def Jux и Lex - первое, что приходит на ум.<br />
<br />
<em>&nbsp;весь смысл хип-хопа в пати, понтах, золоте, шлюхах и кокетстве. Настоящий хип-хоп - он же чёрный нужно, чтоб MC жжог, чтоб у него своя личность была, чтоб он был энтерттейнером. А чуваки из всяких антиконов этого не понимают. Ну, и конечно, в мэйнстримовом хип-хопе круче продюсеры намного. Мэдлиб, например, это уже понял, поэтому рвётся в мэйнстрим из насиженного андеграунда - сотрудничество с De La Soul тому пример&nbsp;<br />
<br />
<!--StartFragment --></em>&nbsp;&nbsp; То есть он рекомендует &quot;реальных&quot; пацанов, поющих &quot;за жизнь&quot; - аналог нашего шансона. Белые пролетают - они не знали в сурового детства в гетто и обзываний поганым черномазым.&nbsp;Забота реал ниггеров - надрать жопу белому, выебать белую тёлку, поиметь белого на деньги и прославится среди братков суровым видом, помахивая пушкой и делая дырки в конкурентах.<br />
<br />
Смешно то, что Гоблин&nbsp;потом <a href="https://oper.ru/news/read.php?t=1051601520#down">упомянул</a> почти то же самое у себя на сайте. Неужто нас читает? :-)<br />
<br />
А вот ещё смешнее:&nbsp;отец прогнал меня как-то из-за компа и я случайно увидел телек. А там было Муз-ТВ или МТВ, хрен их разберёт.&nbsp;И&nbsp;(опять матрица сбоит)&nbsp;наткнулся я&nbsp;в&nbsp;на&nbsp;клип Дискотеки Аварии &quot;Суровый Рэп&quot;.&nbsp;В котором совершенно отличным идиотским образом высмеивается тот самый хип-хоп реал ниггеров и клипы&nbsp;с тёлками.<br />
Ещё&nbsp;на ум почему-то приходит&nbsp;цитата из отличной русской постмодерн-IDM-рэп&nbsp;команды 2H Company, которая достойно встаёт в один ряд с лучшими&nbsp;авторами underground хип-хапа.<br />
<br />
<em>&quot;Я жил спокойно, был поклонником жёстких видеоманга, <br />
Рубился в Sony Playstation под незатейливые мелодии Wu-Tang&#39;a.&quot; <br />
<br />
</em>&nbsp;&nbsp; Я против Playstation и манги ничего не имею, но аудитория мейнстрим хип-хопа вполне&nbsp;ясно прослеживается, и ничего общего с любителями музыки не имеет.<br />
<br />
Так что гафно эти ваши риал ниггаз.<br />
<br />
<br />
</p>

	