Id: ec10b8e7-71ec-4460-8a1e-b25dfcd1f37e
Title: "Клавиатура"
Published: "2005-08-05"
Slug: "2005-08-05 Клавиатура"
-
<p>
Идей как всегда полно, в вот реализовывать - долго, дорого и некому.<br />
via <a href="http://a_kuzin.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> a_kuzin</a><br />
<a href="http://artlebedev.com/portfolio/optimus/" target="_blank">Отличную клавиатуру</a> придумала студия самого известного и самого ненавидимого дизайнера рунета Артёма Лебедева. Вообще,&nbsp;конечно, до него подобное давным-давно придумали фантасты.<br />
&nbsp;&nbsp; А уж недавно я читал <a href="http://lavka.lib.ru/lavka/cpbooks3.htm">&quot;Алмазный век, или Букварь для благородных девиц&quot;</a> Нила Стивенсона, так там вообще все поверхности всех обыденных вещей являются экранами.&nbsp;Нет сомнений, что так оно&nbsp;и будет, жаль только, что на экранах этих одна реклама будет крутиться круглосуточно. Вот например: <a href="http://www.membrana.ru/articles/global/2005/07/25/201700.html">http://www.membrana.ru/articles/global/2005/07/25/201700.html</a>
</p>

	