Id: 6448acbd-2470-4cc7-a4a1-83282902764c
Title: "Про наличие и отсутствие вкуса"
Published: "2005-09-20"
Slug: "2005-09-20 Про наличие и отсутствие вкуса"
-
<p>
&nbsp;&nbsp; Я вот не верю в понятие абсолютного вкуса. Мне кажется, что группы активных снобистски настроенных граждан яростно набрасываются на инакомыслящих и пинают их ко своему удовольствию.&nbsp; Если это верно,&nbsp;один человек не имеет права критиковать то, что любит другой, и с напором пропагандировать свои любимые креатиффы. Разве что подать пластиночку со словами: &quot;Послушай на досуге, может понравится&quot;. [more text=А мне так совсем не&nbsp; катит по двум причинам:]<br />
А мне так совсем не&nbsp; катит по двум причинам:<br />
1) Большинство моих знакомых слушают жуткий отстой, вернее, даже не обращают внимания, что играет фоном. Плюс&nbsp; убеждены, что какая-нибудь &quot;матрица&quot; - полна великолепной философии, вершина кино вообще и оригинального сюжета в частности.<br />
&nbsp;&nbsp; Разумеется, матрица - неплохое кино, а фоновая музычка (WARNING! MUZAK!) расслабляет и помогает людям жить. Но вытерпеть таких товарищей не получается, вечно я, ругаясь и плюясь,&nbsp; пытаюсь вправить им мозги. А после ощущаю себя неправым, потому как некоторые из этих людей во многом лучше меня, и у меня нет права их учить.<br />
2) Задолбали любители современного инди-рока, рок&#39;н&#39;ролла 60-х, 70-х или джаза. Такое ощущение, что это Главная Музыка Всех Времён и Народов без гвоздей, вся остальная - недоразумение, а современная, например, электроника, вообще недостойна упоминания. Стоит хотя бы посмотреть на русскоязычные сайты, посвящённые музыке, и сразу всё становится понятно. А уж ЖЖ вообще рассадник подобной заразы.
</p>
<p>
&nbsp;&nbsp; Кстати, как классический пример можно привести&nbsp; . Тут некоторые утверждают, что это невинные забавы. Однако везде видно, что участники явно разделяют идею элитарности и изысканности собственных вкусов, пусть даже и в шутку. Вот, например фразочка: &quot;а зачем же еще мы собирали 8 клевых меломанов&quot;. Становится понятно, участники избрали экзотический способ злобно постебаться, плюс найти себе подобных, по выражению Гоблина, &quot;эстетствующих педрил&quot;. <br />
&nbsp; А толпам народа, ломанувшегося постить свои списки, явно всё равно, что скажут участники, народ хочет общения, внимания, да и интересно вспомнить, что ты любишь больше всего. <br />
&nbsp;Однако, получается не очень красиво - люди добровольно идут туда, где их обсирают, причём частенько без повода. На этом наконец покончу с избитой темой.
</p>

	