Id: 5871301f-4ce1-482f-963e-e488fa2b49cd
Title: "Гламур наступает, или гламур победил?"
Published: "2005-08-04"
Slug: "2005-08-04 Гламур наступает, или гламур победил_"
-
<a href="http://www.livejournal.com/users/alzheimer/244642.html">
<p>
Женщины-куклы, пробирает до костей
</p>
</a><br />
И музыка совершенно случайно очень в тему.

	