Id: 7d3f2301-89bf-45d9-a955-a76002a9bdba
Title: "Разборки"
Published: "2005-11-13"
Slug: "2005-11-13 Разборки"
-
<p>
&nbsp;&nbsp; Решил разобраться, почему меня&nbsp;я испытываю недоверие к&nbsp;рок-н-роллу, инди-року и джазу. Начну издалека.<br />
Вспомнилось, что&nbsp;как-то раз, после многократного прослушивания продукции лейбла <strong>Sonig</strong>, то есть сборников &quot;<strong>comp.</strong>&quot;, &quot;<strong>.ilation</strong>&quot; и ещё всякого по мелочи, стала мне казаться вся остальная музыка жутко простой и примитивной. В принципе, оно и понятно - Ян Вернер, бывший участник Oval и нынешний - Microstoria, автор проекта Lithops, утверждал вот что: &quot;сложнее&nbsp;музыки лейбла Sonig&nbsp;&nbsp;&nbsp;сейчас ничего нету&quot;. Насколько я понимаю, он имел в виду, сложнее по внутренней структуре, и отчасти - по трудности прослушивания и понимания.&nbsp;То есть&nbsp;музыка эта -&nbsp;классический пример того, что неподготовленный человек назовёт &quot;мерзким шумом, не имеющим отношения к музыке&quot;, а меломан - любитель рока скажет &quot;это нойз какой-то&quot;.<br />
&nbsp; Так вот, звуки в ней так густо посажены, тесно связаны и&nbsp;переплетены, что разобрать что-либо становится архисложно. Зато если перейти на какой-нибудь инструментальный easy listening, сразу становится на редкость противно - слышны все инструменты, записанные чисто и <em>отдельно. </em>То есть звучит это так, как будто люди включили драм-машину, несколько синтезаторов,&nbsp; и подыгрывают себе на гитаре или банджо каком-нибудь. При этом они время от времени синтезатор перепрограммируют, меняя темп и инструменты, добавляя и убирая эффекты. Так, например, частенько звучит <strong>Vangelis</strong> или <strong>Enigma. </strong>У меня возникает вопрос: неужели они думают, что таким образом получается музыка?<br />
&nbsp; Как-то <a href="http://artem_r.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> artem_r</a>&nbsp;оборонил фразу, что большинство людей музыки-то и не слышат, а слышат только ритм и мелодию (или ритм и саунд?).<br />
Я сразу задумался, принадлежу ли я к тем, кто слышит&nbsp; и что это вообще означает - слышать музыку? Задумался именно потому, что меня не вставляет древний рок 70-х годов. <br />
&nbsp; В современном роке, вернее, &quot;альтернативе&quot; меня &quot;цепляет&quot; не в последнюю очередь клёвый грамотно спродюсированный звучок, сурово и мрачно звучащие гитары со стильными эффект-процессорами, диссонансы и рваный ритм, да электронные примочки-эффекты. И мелодия, разумеется. Так что же, всё это&nbsp;лишь внешние атрибуты, попсовые &quot;хуки&quot; ?<br />
&nbsp; Что касается электронной музыки, то если она простая - там&nbsp;нравится грув, саунд и mood, то есть настроение, создаваемое композицией. Если же&nbsp;музыка навороченная, вроде моего любимого альтернативного хип-хопа, появляется ещё и удивление разнообразию сэмплов, их немыслимому органичному сочетанию и&nbsp;совершенно потусторонним манипуляциям&nbsp;с ритмом.<br />
&nbsp; Остаётся главный вопрос - есть ли в музыке ещё что-то? Что-то более значимое, чем всё вышеперечисленное?<br />
Или я самое важное всё-таки перечислил,&nbsp;но мои уши, испорченные перекомпресованным&nbsp;и&nbsp;отфильтрованным&nbsp;звуком, просто не воспринимают сравнительно мягкие и естественные записи 60-х?<br />
<br />
P.S. Этот текст написал давно, хотел сделать большим, но забыл закончить. Так что выкладываю как есть.
</p>

	