Id: 39bce492-5abf-4b4f-aa58-bcf225a367f8
Title: "Почему у меня нет прав: часть 2"
Published: "2005-08-02"
Slug: "2005-08-02 Почему у меня нет прав_ часть 2"
-
<p>
[more text=Как я завалил сдачу практики по вождению во второй раз.]<br />
<br />
&nbsp;&nbsp; Итак, можно сказать, что первый раз я и не сдавал, потому как даже не выехал&nbsp;в город. Зато во второй раз, нормально припарковавшись, мы (то есть я, инструктор, и инспектор) покатили по одному из стандартных (опять-таки, заученных назубок) маршрутов демонстрировать мои водительские навыки. Ехал я вполне сносно, за исключением одного места в нашем городе - перекрёстка с дамбой. Там, на горке перед вторым светофором, помещается только 2 машины, поэтому все инструктора предупреждают: если скоро загорится красный, остановить машину раньше, не въезжая на горку, перед первым светофором. <br />
Выглядит это так:<br />
<img data-src="/files/lj/16673/283_big.jpg" alt="" /><br />
<br />
&nbsp;&nbsp;&nbsp; Я ошибся, думая, что ещё первая машина на горке ещё успеет проехать на мигающий зелёный, и в результате моя машина оказалась на горке с багажником, высунутым на проезжую часть. На рисунке моя машина - древний чёрный драндулет.<br />
&nbsp;&nbsp;&nbsp; К счастью, за это карают сурово, но не окончательно. За это мне дали 4 штрафных пункта из 10. Срезался я на другом.<br />
Почти в конце маршрута, есть такое место:<br />
<img data-src="/files/lj/16673/284_big.jpg" alt="" /><br />
&nbsp;&nbsp;&nbsp; Движения там никакого почти никогда нет,&nbsp;как не было и в тот раз. Мне надо было свернуть налево. Ехал я по левой полосе, потому что на правой стояли припаркованные авто. Соответственно, перед поворотом налево я должен был занять крайнее левое положение, но на своей, правой полосе. То есть я должен был съехать на правую полосу, и уже оттуда повернуть налево. К несчастью, машины стояли очень близко у перекрёстка. Сейчас уже не могу сказать, насколько. В любом случае, я съехал на свою правую полосу, но не до конца, и машина стояла скорее чуть правее центра проезжей части из двух полос. Инструктор яростно подавал мне знаки поставить машину правее, но, поскольку машина уже почти остановилась, я не стал её выравнивать, и, после того, как убедился, что помехи справа нет, свернул налево. Это оказалось роковой ошибкой, ибо стоило сразу 10 штрафных пунктов. <br />
Вот так вот я не сдал во второй раз.
</p>

	