Id: d0b93551-0b3f-4ca9-b048-08c116a35fab
Title: "Фильм Ray"
Published: "2005-08-29"
Slug: "2005-08-29 Фильм Ray"
-
&nbsp; Посмотрел фильм &quot;Рей&quot; про очень известного джазового музыканта&nbsp;&quot;отца стиля Соул&quot; Рея Чарльза. Кино хорошее и в нём звучит куча приятной музыки. Однако, голливуд, известное дело, не удержался от засахаривания всего и вся.[more text=Например?&nbsp;Спойлеры под катом]<br />
 Например:
<p>
&nbsp;
</p>
<ul>
	<li>Жена&nbsp;музыканта - &quot;Би&quot; выглядит преданной мужу аж до колик. Когда в конце фильма&nbsp; в 1979 году власть имущие штата Джорджия извиняются перед&nbsp;Реем за расизм и запрет его выступлений, жена стоит рядом. На самом деле, они развелись в 1978. Позже был и развод со второй женой.</li>
	<li>&nbsp;По&nbsp;фильму выходит, что самые известные свои вещи Рей написал не без героинового допинга. В фильме показано,&nbsp;как с помощью&nbsp;памяти о&nbsp;словах матери он&nbsp; переборол себя и завязал. На самом деле, после развода героин ему заменили травка и бухло.&nbsp; Впрочем, судя по тому, что прожил он 73 года, меру человек знал. Дожил он аж до 2004 года, и успел ещё увидеть&nbsp;монтажную версию этого фильма. Насчёт &quot;увидеть&quot;, я, впрочем, погорячился, поскольку Рей был слепым.</li>
	<li>Из фильма понятно, что у Рея было по крайней мере несколько&nbsp;женщин &quot;на стороне&quot; и один внебрачный ребёнок. На самом&nbsp;деле&nbsp;девушек у него&nbsp;-&nbsp; не счесть,&nbsp;и почти&nbsp;десяток мнимых и настоящих внебрачных&nbsp;детей.</li>
</ul>
<p>
&nbsp; Вот такое раскрытие голливудских прикрас,&nbsp;не умаляющее достоинств фильма. Впрочем, всё это я не сам выдумал, а прочитал в <a href="http://www.washingtonpost.com/wp-dyn/articles/A7972-2004Oct28.html">статье газеты &quot;Вашингтон Пост&quot; (англ).</a>
</p>
&nbsp; Как сказал бы тот самый&nbsp;<a href="http://www.oper.ru/" target="_blank">Гоблин</a>:&nbsp;&quot;Так не бывает!!!&quot;. Это означает, что для некоторых фильмов важно не то, насколько происходящее соответствует действительности, а насколько зрителю интересно смотреть. Вот лжеюзер <a href="http://immoralist.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> immoralist</a> вообще заявляет, что всё искусство - только для развлечения потребителей, и &quot;высокое предназначение&quot; его выдумали критики.&nbsp; Другой человек, которого я читаю в ЖЖ - эрудированный муз. критик <a href="http://artem_r.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> artem_r</a>&nbsp;наверняка считает совершенно наоборот, но для меня его мнение всегда попахивало снобизмом&nbsp;эстетствующей элиты. Ибо я не верю в то, что существует &quot;абсолютное понятие хорошего вкуса&quot;, так же как и не верю в &quot;абсолютные нравственные и моральные нормы и принципы&quot;. Атеизм и скептицизм навсегда!<br />
P.S. Начали за здравие, кончили за упокой.

	