Id: a69abcdb-a755-408a-bc75-50b0cf41199a
Title: "Странный Пиар"
Published: "2005-09-25"
Slug: "2005-09-25 Странный Пиар"
-
&nbsp;&nbsp; Я вот несколько дней думал, зачем мне во&nbsp;друзьях <a href="https://mr_carbo.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> mr_carbo</a>&nbsp;- он ведь то про индюшатину пишет, то ссылки на всякие би-сайды&nbsp;Franz Ferdinand выкладывает, которые меня не особо интересуют. А тут - раз! Замечательные слегка киберпанковские&nbsp;<a href="https://www.livejournal.com/users/mr_carbo/85479.html">картинки</a>.<br />
Не зря, значит. Не зря.

	