Id: 5a0758c0-55ee-4faa-a920-51271544d501
Title: "Цитата из переписки в <A href=\"https://www.slsknet.org/\" target=_blank>soulseek</A> : <EM>["
Published: "2005-10-07"
Slug: "2005-10-07 Цитата из переписки в _A href__http___www.slsknet.org__ target__blank_soulseek__A_ _ _EM_"
-
Цитата из&nbsp;переписки в&nbsp;<a href="https://www.slsknet.org/" target="_blank">soulseek</a> :<br />
<em>[Khorr] this Mumij Troll is black metal?<br />
[Vladekk] Well, no.&nbsp; It is russian pop<br />
</em>

	