Id: 1137f303-bfc8-4c1f-9984-88298de57ddf
Title: "В Риге вот такая социальная реклама везде. Перевод - \"пей и езжай\"."
Published: "2005-07-30"
Slug: "2005-07-30 В Риге вот такая социальная реклама везде. Перевод - _пей и езжай_."
-
В Риге вот такая социальная реклама везде.<br />
Перевод - &quot;пей и езжай&quot;.<br />
<div align="center">
<a href="/files/lj/16673/282_large.jpg"><img data-src="/files/lj/16673/282_big.jpg" alt="" title="Щёлкните для увеличения" /></a>
</div>
<br />
Первая мысль, что пришла в голову - предлагается набухаться и устроить гонки на инвалидных колясках.<br />
Авторы <strike>где-то явно бирут риальнаю траффу и яросна жгутт</strike> отлично достигли цели привлечь внимание.

	