Id: a1e6440e-f967-4313-8e5a-a498230ef7b2
Title: "Dead Can Dance"
Published: "2005-08-30"
Slug: "2005-08-30 Dead Can Dance"
-
<p>
&nbsp;&nbsp; Послушал наконец группу Dead Can Dance. Сначала&nbsp;постоянно забывал скачать, &nbsp;а потом попадались то куски какие-то, то качество не очень. Наконец&nbsp;слил из eMule&nbsp;сразу всю дискографию в&nbsp;любимом&nbsp;аудиофилами формате&nbsp;Musepack.&nbsp; (.MPC)
</p>
<p>
Если определять очень грубо и доступно, то DCD это нечто похожее на Enigma, Era и Gregorian, но лучше. Мой simple-minded знакомый&nbsp;называет всё вышеперечисленное&nbsp;&quot;церковной музыкой&quot;. На самом деле, Dead Can Dance качественно выбивается из этого ряда. Обычно в такого рода&nbsp;музыке меня напрягает пластмассовость и искусственность потуг на медитативность (о как сказал!). В пляшущих мертвецах этого не наблюдается.
</p>
<p>
Если использовать любимые штамповочные слова критиков, то это грустная и&nbsp;возвышенная смесь world music (особенно европейской музыки средних веков) и&nbsp;приятной электроники, при этом совсем несложная для прослушивания. То есть на деле это задумчивый и мечтательный индипоп с&nbsp;лёгкой мрачноватостью, придающей музыке определённый шарм.&nbsp;<br />
&nbsp; Естественно, любой меломан это уже слышал, а&nbsp;прочим&nbsp;товарищам послушать не помешает. Рекомендуется.
</p>

	