Id: a62aa6a6-ea95-4a6b-83eb-fc15f313c447
Title: "Музпросвет"
Published: "2005-10-23"
Slug: "2005-10-23 Музпросвет"
-
Горохов на сей раз аццки отж0г!<br />
&nbsp;&nbsp; Вместо рассказа про музыку речь идёт про пищевую промышленность: мир красителей, ароматизаторов и глутамата натрия. И про новый альбом Метью Герберта, который он изготовил сугубо из сэмплированных звуков того самого пищепрома.<br />
<a href="https://muzprosvet.ru/real.html">Всем слушать</a>!<br />
&nbsp;&nbsp; Мне кажется, что&nbsp;Метью с нападками на глобализацию и супермаркеты перегнул палку, и дело обстоит вовсе не так уж плохо. Впрочем, я живу в относительно благополучной в этом смысле стране, где пока&nbsp;ещё купить натуральные продукты очень легко.

	