Id: bdf134aa-2e04-4a95-8070-d1218028adba
Title: "Рентген моего черепа"
Published: "2005-07-28"
Slug: "2005-07-28 Рентген моего черепа"
-
[more text=Рентген моего черепа]<br />
<a href="/files/lj/16673/281_large.jpg" title="Мой череп"><img data-src="/files/lj/16673/281_big.jpg" alt="" /></a>

	