Id: a64fea72-1500-495a-ae26-b7128c5fb5a1
Title: "И вот ещё"
Published: "2006-04-06"
Slug: "2006-04-06 И вот ещё"
-
<p>
Плитка белого шоколада, который я покупал каждый день, стоившая Ls 0.22&nbsp;(39 центов) внезапно подорожала и теперь стоит аж Ls 0.29 (51 цент).<br />
ОНИ НА МНЕ НАЖИВАЮТСЯ!
</p>

	