Id: 51f6d3a1-33f8-4498-8068-0a2a3d6566de
Title: "\"Криптономикон\"  Нила Стивенсона"
Published: "2006-02-08"
Slug: "2006-02-08 _Криптономикон_  Нила Стивенсона"
-
Обещал про музыку, но лень.<br />
&nbsp;&nbsp; Скажу только, что дочитал &quot;Криптономикон&quot; Нила Стивенсона. Наверное,&nbsp;сильно не навру,&nbsp;если назову книгу пост-киберпанковской фантастикой.&nbsp;Предыдущие две книги Стивенсона, которые я читал - &quot;Лавина&quot; и &quot;Алмазный Век, или Букварь&nbsp;для Благородных Девиц&quot; тоже сильны (взять хотя бы название!),&nbsp;но Криптономикон - это нечто.<br />
Нечто, не имеющее аналогов. Чтобы в художественной литературе на полном серьёзе объяснялись настоящие алгоритмы шифрования с формулами и примерами - такое даже вообразить трудно. А учитывая наличие<br />
1)Кучи правдоподобных исторических и технических подробностей про вторую мировую войну и&nbsp;функционирование современных западных хай-тек корпораций<br />
2)Переплетения трёх независимых сюжетов, изящно сходящихся в конце книги<br />
3)Враженного при помощи безупрчного стиля и образного постмодернистского языка юмора<br />
4)Охоты за сокровищами в классических приключенческих традициях<br />
Иначе как шедевром книгу назвать трудно.<br />
Особенно впечатлили объяснение работы шифровальной машины немцев &quot;Энигма&quot; на примере велосипедной цепи&nbsp;и описание правильного способа поедания &quot;подушечек&quot; с молоком.<br />
Скачать книгу можно на <a href="http://lib.aldebaran.ru/author/stivenson_nil/">http://lib.aldebaran.ru</a><br />
<br />
&nbsp;&nbsp; Чтобы поумерить яростные восторги и коменсировать дыру в культурном багаже, читаю &quot;Войну и Мир&quot;. Да, да, в школе я её не читал - испугался, что не осилю мутную нудятину. А сейчас заглотил&nbsp;за пару дней уже&nbsp;треть первого тома - оказалось вовсе не так&nbsp;скучно, как могло бы быть.

	