Id: 3e2fde7c-941b-462a-894c-37de473a46bc
Title: "Кровосток"
Published: "2006-05-28"
Slug: "2006-05-28 Кровосток"
-
&nbsp;&nbsp; Заценил&nbsp;я этот ваш Кровосток, последний альбом в руки попался. Местами забавно, но в целом слишком уж натуралистично и не особенно зажигательно. Музыка неплоха, но не более того. Зато теперь я догадываюсь, о чём поют любимые ниггеры <a href="https://murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> murmanskdays</a>, и это меня не радует.<br />
<strong>Итог</strong>: оставлю в коллекции, но слушать не буду.

	