Id: ab288a9a-2221-442c-ab7c-c0a6391f90a1
Title: "Злой как чёрт"
Published: "2006-04-03"
Slug: "2006-04-03 Злой как чёрт"
-
<p>
Убью криворуких админов!!!
</p>
<p>
&nbsp;&nbsp; Адрес <a href="http://radio.super.lv">http://radio.super.lv</a> не везде работает - и всё из-за института математики ЛУ, который отвечает у нас за DNS имена. Они считают себя сильно умными и настроили всё в нарушение стандартов. Причём на письма не отвечают, звонить надо.
</p>
<br />
UPDATE: Сам дурак. Оказывается, при  смене ip адреса DNS сервера, отвечающего за зону, надо менять какой-то код авторизации для надёжности, по крайней мере у нас в LV. Думаю, вечером админ super.lv придёт починит, и будет мне счастье.

	