Id: b32c4709-a23c-4428-9072-2f88c24563ae
Title: "Великие На Моей Стороне!"
Published: "2006-02-03"
Slug: "2006-02-03 Великие На Моей Стороне_"
-
<p>
&nbsp;&nbsp; Ненароком <a href="http://beauty-n-beast.livejournal.com/90226.html?thread=5194866#t5194866">пришлось спорить</a> с писателем-фантастом <a href="http://beauty-n-beast.livejournal.com/" target="_blank">Дивовым</a>&nbsp;&nbsp;про то, что электронные книги (на основе электронной бумаги eInk) как минимум не хуже бумажных, а потому бумажные скоро отомрут естественным путём.<br />
Дивов, не утруждая себя доказательствами, отнёсся&nbsp; ко мне как к дауну, но быстро сдулся и&nbsp;дискутировать далее не стал. То же, как я полагаю, проделал со многими другими ЖЖистами.<br />
<br />
&nbsp;&nbsp;&nbsp;А я&nbsp;вот зашёл&nbsp;давеча посмеяться к Великому <a href="http://mithgol.livejournal.com/" target="_blank">Мицголу</a>, отцу всея ЖЖ, православному коммунисту, вебмастеру и поэту.&nbsp;<br />
И что вижу! Главный Соратник&nbsp;Всемогущего Хэкэра всея ЖЖ, дубоголового <a href="http://arvi.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> arvi</a>, ловко&nbsp;и злобно формулирует вышеизложенные претензии к Дивову.<br />
Браво, Мицгол! У тебя тоже бывают периоды ремиссии&nbsp;в твоём&nbsp;хроническом фимозе головного мозга.<br />
<br />
Напоследок&nbsp;- доброе.<br />
&nbsp;&nbsp; Те, кто полагает, что стоматологи - злобные и свирепые создания, чья цель - мучить вас побольше да&nbsp;вытягивать денежки, имеют шанс просветления. Всем, кто ещё не видел, рекомендую читать девушку, живущую в&nbsp;Штатах - <a href="http://pgoelz.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> pgoelz</a>, чьи сравнительно&nbsp;бесхитростные истории из жизни стоматологической клиники просто не могут не зацепить за живую нить внутри.
</p>

	