Id: dd128b36-f26f-4b9e-9cf3-3ae47adc1a02
Title: "Дле тех, кто понимает"
Published: "2006-11-04"
Slug: "2006-11-04 Дле тех, кто понимает"
-
Дле тех, кто понимает<br />
<a href="https://www.youtube.com/watch?v=5P6UU6m3cqk">Эдик&nbsp;в молодости</a><br />
<br />
А ещё я только что смотрел передачу &quot;Кто хочет стать миллионером&quot; с Жириновским в роли игрока. Жирик офигенно жж0т! Некоторые его не любят за хамство, крикливость и общую атмосферу психбольницы, а мне это не особенно мешает наслаждаться его перлами.<br />
<br />
Кстати, последний вопрос напомнил кое-что: когда я был в Москве, на меня большое впечатление произвели сталинские высотки. Есть в них нечто монументальное и подавляющее, в отличие от современных гламурных небоскрёбов.

	