Id: 0b49de58-ef8f-4335-abfe-37ba35ed528a
Title: "EVE Online"
Published: "2006-04-03"
Slug: "2006-04-03 EVE Online"
-
<p>
&nbsp;&nbsp;&nbsp; А ещё я играю в MMORPG (многопользовательскую онлайновую ролевую игру) <a href="http://www.eve-online.com/">EVE Online</a>.&nbsp; Действие происходит в космосе, игрок - владелец межзвёздного судна (или сотни судов). Игра уникальна одной особенностью - 6000 звездных систем и 25000 игроков находятся одновременно на одном сервере. Насколько мне известно, больше таких игр нет, во всех остальных игровой мир делится на части. (шарды).&nbsp; Плюс&nbsp;<a href="http://www.eve-online.com/screenshots/collection.asp?col=24112004&amp;n=10#sh"></a>отличная графика <a href="http://www.eve-online.com/screenshots/collection.asp?col=24112004&amp;n=10#sh">(скриншоты)</a>, подходящая музыка,&nbsp;навороченность ролевой части и настоящая космическая атмосфера.&nbsp; <br />
&nbsp;&nbsp; Очень порадовала такая деталь. Когда подлетаешь к jumpgate (воротам для прыжка в другую солнечную систему) , видишь прямо в космосе огромный экран. На нём крутится реклама (к счастью, ненастоящая), и кое что ещё - объявления&nbsp;<font color="#ff0000"><strong>&quot;Разыскивается за преступления против человечества&quot;&nbsp;</strong></font><font color="#000000">по отношению к игрокам-пиратам&nbsp;с&nbsp;суммой вознаграждения, выплачиваемого убийце пирата Такие детали придают играм дьявольский&nbsp;шарм и реалистичность. (Учитывая, что вознаграждение может добавить любой, и получить тоже любой, то есть всё на самом деле).</font>
</p>
<p>
<font color="#000000">&nbsp;</font>
</p>
<p align="center">
<font color="#000000"><a href="/files/lj/16673/365_large.jpg"><img data-src="/files/lj/16673/365_big.jpg" alt="" title="Увеличить" /><br />
</a>Wanted: Credent<br />
<font face="cou"><font face="cou" size="4">77 226 719 ISK upon termination<br />
Wanted for crimes against humanity</font></font></font>
</p>
<p>
<font color="#000000"><font face="cou"><font face="cou" size="4">&nbsp;</font></font></font>
</p>
<p align="left">
&nbsp;&nbsp; Говорят, игра работает более-менее сносно даже через модем. Думаю, лишь в случае небольшого количества объектов на экране. Попробовать могут все желающие с помощью <a href="https://secure.eve-online.com/ft/?aid=100972&amp;nogreet=1">trial аккаунта</a>, которым я пока и пользуюсь. Играть дальше или нет - не могу решить. Игра сделана так, что не обязательно всё время играть, и тратить много времени. Это&nbsp;на руку производителю игры, исландской компании с ностальгическим названием CCP, ведь&nbsp;постоянный аккаунт стоит 15$ в месяц. Всем, кроме жителей Европы, им 15&euro;. Вот такая дискриминация.<br />
В любом случае попробовать стоит, особенно если вам не чужды навороченные игры и у вас <a href="http://www.eve-online.com/faq/faq_01.asp">достаточно мощный комп</a>. По крайней мере на космос полюбуетесь.<br />
<font color="#000000"><br />
</font>
</p>
<font color="#000000"></font>

	