Id: 0ec5112b-dfb3-4e02-bd60-5906dcc83081
Title: "Всякое"
Published: "2006-05-03"
Slug: "2006-05-03 Всякое"
-
<ul>
	<li>Скачал маме пугачёвой и киркорова в поездку. Но когда попросила скачать шансона, типа &quot;шуфутинского и круга&quot;&nbsp;я не смог&nbsp;- это выше моих сил.</li>
	<li>Мама сказала, что после трёх беременностей моей собаке явно надо делать пластику живота. Тот, кому это адресовано, знает.</li>
	<li>За окном массово горит трава, в комнате стоит страшный запах жжёного. У живущих в Латвии такой менталитет - обязательно надо каждый год палить траву, зная, что сгорят&nbsp;<strong>сотни</strong> домов и погибнут <strong>десятки</strong> человек.</li>
	<li>Soulseek качает просто супер.<strong> </strong><font color="#0000ff"><strong><font color="#0000ff">Шлю лучи счастья и радости</font></strong>&nbsp;</font><font color="#000000">компании Realtek (сетевые карты) в Тайвань и автору Суслика в США.</font></li>
	<li><font color="#000000">Качаю с прикольного трекера <a href="https://lossless.servehttp.com/">BNBT</a> DVD-A металлики из любопытства. Для тех, кто в танке, сообщаю - DVD-Audio - один из двух новых аудиоформатов выского качества. Второй - Sony SACD. По отзывам знающих людей DVD-Audio намного лучше SACD, что бы там Сони не говорила.</font></li>
	<li>Сериал &quot;Андромеда&quot;, после увольнения&nbsp; оригинального сценариста и автора <a href="https://во%20втором%20сезоне/">Роберта Вульфа</a> превратилась в третьем сезоне в полную лажу. Даже и не знаю, стоит ли дальше смотреть. Это у всех НФ&nbsp; сериалов судьба такая? Помнится LEXX <a href="/post/2006-02-19%20%D0%90%D1%86%D1%86%D0%BA%D0%B8%D0%B5%20%D0%BC%D0%BE%D1%80%D0%BA%D0%BE%D0%B2%D0%BA%D0%B8%20%D0%BD%D0%B0%D1%81%D1%82%D1%83%D0%BF%D0%B0%D1%8E%D1%82_">скончался окончательно</a> к четвёртому сезону - всё ж подольше. А вот красивую и спокойную&nbsp;вестерн-космооперу Firefly автору даже не дали испортить - прекратили съёмку после 15 серии, а показали&nbsp;и вовсе 12. </li>
</ul>

	