Id: d5d0e3ce-f2a5-41dd-9966-cae6442bd1dd
Title: "Гыыы"
Published: "2006-04-12"
Slug: "2006-04-12 Гыыы"
-
<a href="http://en.wikipedia.org/wiki/Alina">Википедия рулит</a>: (имя моей сестры - Алина)<br />
<strong>Alina</strong> is a female surname of <a href="http://en.wikipedia.org/wiki/Slavic_languages" title="Slavic languages">slavic</a> origin. It&#39;s possible meanings are &quot;light&quot; and &quot;noble.&quot;<br />
Это явно какая-то Алина туда написала, чтобы своё имя попиарить. Я правда не выдержал, и записал его&nbsp; и в русскую версию Википедии - ибо его там вообще не было.<br />
Кстати, там разные имена есть, почитайте про своё, если ещё не.

	