Id: dedf8d2c-7951-4331-9b05-da862596fd0e
Title: "Чухчух"
Published: "2006-03-15"
Slug: "2006-03-15 Чухчух"
-
&nbsp;&nbsp;&nbsp; Купил-таки <a href="/post/2006-03-03%20%D0%93%D0%B0%D0%BD%D1%82%D0%B5%D0%BB%D0%B8">гантельки</a>. Как всегда, по прибытии заказа обнаружились некоторые особенности, которые ранее не были замечены.<br />
Гантели&nbsp;сделаны из более лёгкого металла по сравнению с профессиональными прорезиненными. Поэтому&nbsp;ось очень&nbsp;длинная, а блины -&nbsp;большие.&nbsp;&nbsp;Из-за этого держать их в некоторых случаях не очень удобно, особенно учитывая острые углы там и сям. Плюс засечки на оси для удобства хватания чрезмерно шероховаты, из чего вытекает небходимость перчаток. Более недостатков не замечено, и потому я в целом&nbsp;рад. Буду при возможности тягать данные приспособления, дабы&nbsp;мускулы и мышцы у меня стали канатоподобные,&nbsp; как у моего друга робота-терминатора Валерыча.<br />
&nbsp; В Даугавпилс из Риги сегодня привёз&nbsp;только 15 кг в виде 1 оси и блинов. Потому как от 40KG явно бы оторвалась ручка либо у сумки, либо у меня. И потому остальное дожидается следующих недель.

	