Id: 5f18d072-aa3c-4676-97ab-849c6b9a8ab3
Title: "Музыка"
Published: "2006-12-19"
Slug: "2006-12-19 Музыка"
-
<P>И ещё хочу сказать, что мне очень нравится Tim Hecker с Harmony in ultraviolet. <br/>Если бы я не был так ленив, выложил бы. Впрочем, я выложу всё, что будет в моём топе, так что кто захочет, услышат.<br/><br/>Название вот тоже очень хорошее - Harmony in ultraviolet. <br/><br/>Кстати, о названиях. Русские игру делают, называется тоже очень прикольно - You Are Empty. Вроде и концепция у неё неплохая. Но для игр у меня&nbsp;нет ни времени, ни желания, увы.<br/><br/>Вот разве что слешер <A href="https://bk.games.1c.ru/">Братва И Кольцо</A> от Гоблина&nbsp;гляну -&nbsp; очень уж рожи прикольные у Сени&nbsp;Ганджубаса и Фёдора Сумкина, да и Пендальф с Агрономом не подкачали. </P><P></P><P align=center><br/><IMG src="/files/lj/bk.jpg"><IMG src="/files/lj/bk3.jpg"><IMG src="/files/lj/bk2.jpg"></P>
	