Id: 98239bc6-60f3-4c10-b9ba-d412fc18382a
Title: "Лытбобр: сессия, лыжный курорт, LEXX и французские булки"
Published: "2006-01-29"
Slug: "2006-01-29 Лытбобр_ сессия, лыжный курорт, LEXX и французские булки"
-
&nbsp;&nbsp; Сессия для меня закончится завтра. Всю неделю писал&nbsp;программу вместо экзамена, вроде готова, завтра покажу преподу. Спать ложился в 5 утра. Получилась самая чудовищная и запутанная программа в моей жизни - заплатка на заплатке, никакой структуры, понять невозможно. Зато кое-как&nbsp;работает. Походя освоил регулярные выражения. Это шаблоны поиска в тексте, сейчас очень популярная и широко применяемая вещь. Во время бесконечного созерцания кода вспомнил, что сообщество &nbsp;прекращает работу&nbsp; через 2 дня, поэтому пришлось срочно&nbsp;отправить туда <a href="https://community.livejournal.com/best_of_2005/25022.html">свой музыкальный топ 2005 года.<br />
</a><br />
&nbsp;&nbsp;&nbsp; Вчера ездили в Egļu Kalns, что означает &quot;Еловая Гора&quot;. Это сравнительно новый лыжный курорт 20 км от Даугавпилса, около оз. Свента. Впервые в жизни встал на горные лыжи, научился скатываться прямо без падения с горки для начинающих. Поворачивать и тормозить хорошо пока не&nbsp; умею, сваливаюсь. Всех почему-то это напрягает, а мне нравится - это же весело - бултыхнуться в мягкий свежевыпавший снежок! <br />
&nbsp;&nbsp;&nbsp; Оказывается, лыжные ботинки - действительно инструмент для пыток, и подбирать их надо крайне тщательно. Мне лично жмут сбоку,&nbsp;ступня как в тисках.&nbsp; <br />
&nbsp;&nbsp; Катались&nbsp; 2 часа. Стоит (в выходные)&nbsp;1 час 5$ и ещё 5$ аренда лыж. Каждый следующий час ещё 2$+2$. За эти деньги дают вполне приличные лыжи, ботинки, палки, и разрешают пользоваться двумя горками - для начинающих и для уверенно стоящих на ногах. За бесплатно можно забраться на смотровую вышку,&nbsp;чего в этот раз сделать мы не успели. Есть ещё возможность&nbsp;отжечь шашлык, дразня отдыхающих запахом жареного мяса.&nbsp;<br />
<br />
&nbsp;&nbsp; Из громкоговорителей, кстати, доносилось European Hit Radio. Очень смешное латвийское радио, их девиз - &quot;самые продаваемые песни в Европе&quot;. Это, разумеется, чудовищная концепция, но почему-то совсем не злит. Играли по радио вместе с однодневной попсой в основном Madonna и Depeche Mode, причём разные песни. Ещё проскакивали The Editors, если не ошибаюсь.<br />
<br />
&nbsp;&nbsp;Вечером смотрел третий сезон LEXX.&nbsp;Был скай-фай трэш, а в третьем стал психоделический трэш.&nbsp;Хуже&nbsp;от этого не стало, это точно. Скачать можно на <a href="https://drive.stream.ru/">https://drive.stream.ru</a>.<br />
<br />
&nbsp;&nbsp; У нас около дома открыли супермаркет IKI. Цены в бывшем монополисте Mego сразу рухнули, но это не главное. Самое приятное - в IKI пекут длинные хрустящие французские булки, и купить их можно ещё горячими!<br />
В заключение - рекомендация.
<p>
&nbsp;
</p>
<p align="center">
<br />
Съешь ещё этих мягких <strong>французских</strong> <strong>булок</strong>, да выпей чаю!
</p>

	