Id: 3ed8c6cf-2990-4ee7-ab3c-a9c5b12e55b5
Title: "Гантели"
Published: "2006-03-03"
Slug: "2006-03-03 Гантели"
-
<p>
Давно хотел купить гантели, чтоб зарядку делать. <br />
Лежал на кровати, читал недавнюю книжку про панков,&nbsp; а Вадим мне и говорит: &quot;Вот, смотри, в интернет-магазине акция, как&nbsp;раз для тебя&quot;<br />
[more text=Я это дело разведал, и выяснил, что можно купить вот такую гантельку 20KG за 40$ или пару по 10KG за 48$.]Я это дело разведал, и выяснил, что можно купить вот такую гантельку 20KG за 40$ или пару по 10KG за 48$.
</p>
<p align="center">
<img src="http://www.1a.lv/images/upload/143450xl.jpg" alt="" /><br />
<br />
Разборная гантелька весом 22 КГ за 40$
</p>
<p align="left">
<br />
Но 10 KG мне в перпективе мало, а 20 - много и дорого, ведь нужно 2 штуки.<br />
Но для&nbsp;жадных и бедных&nbsp;есть суровое советское решение
</p>
<p align="center">
<img src='/files/56398E76BE6355AD5999B262208A17C9.jpg'  alt="" /><br />
Совковые гантельки Б/У по 12 KG штука, за 9$ обе
</p>
<p align="left">
&nbsp;
</p>
Однако, до такого экстрима я не опущусь. Завтра схожу в спортмагазин в реале, оценю ситуацию.<br />
Если будет дороже - закажу в Инете. С&nbsp;бесплатной доставкой. То-то курьер порадуется, 40 KG&nbsp;и 8 КМ от центра.<br />
<br />
UPDATE: Забыл сказать: далеко шагнул прогресс. После такого, не понимать, как же плохо было в СССР с товарами массового потребления, может только идиот.

	