Id: dd86dfe1-472d-4402-84a7-d37c6e93a597
Title: "Andromeda"
Published: "2006-04-17"
Slug: "2006-04-17 Andromeda"
-
<p>
&nbsp;&nbsp;&nbsp; Вавилон-5 закончился, и теперь я смотрю н/ф сериал <a href="https://imdb.com/title/tt0213327/">&quot;Андромеда&quot;</a>. Автор его - тот же человек, что сделал знаменитый Star Trek. Речь в сериале идёт про сверхсовременный и сверхнавороченный огромный космический корабль &quot;Андромеда&quot;.&nbsp;КК этот благодаря предательскому нападению поклонников Фридриха Ницше&nbsp;(Ницшеанцев) застрял в чёрной дыре и потому пропустил самое интересное - развал огромной цивилизации, известной как system Commonwealth (&quot;общее благо&quot;?), включавшей более миллиона миров.<br />
&nbsp; Перед застреванием в сингулярности весь экипаж кроме капитана был эвакуирован, и потому через 300 лет, когда охотники за антиквариатом&nbsp; вытащили кораблик из дыры,&nbsp;они долго выясняли, чьей же будет добыча.<br />
&nbsp; В итоге капитан-талантище уговорил криминалитет стать экипажем посудины, дабы&nbsp;возродить былую славу Commonwealth&#39;a и восстановить цивилизацию из руин, куда её загнали Ницшеанцы и&nbsp; Магоги - злобная раса чужих.<br />
&nbsp; Что есть сказать по поводу: фильм яркий, американский, все бегают, суетятся, изображают деятельность. Спецэффекты на уровне, картинка просто блеск, благо скачал я его с <a href="https://www.thepiratebay.org">www.thepiratebay.org</a> как HDTV/DVD рип. Музыка местами вполне ничего, атмосфера кое-где присутствует.<br />
&nbsp; &nbsp;Из минусов стоит отметить сюжетные и технологические ляпы и общую неопределённость&nbsp;и&nbsp;непродуманность. В целом смотреть можно,&nbsp;хотя бы ради колоритных персонажей: корабельного компьютера в виде красивенькой мулаточки,&nbsp;накачанного негра-ницшеанца с косичками и зверскими мускулами&nbsp;в роли &quot;крутого парня&quot;, и&nbsp;мелкого&nbsp;чувачка&nbsp;&nbsp;с кривой ухмылкой - инженерного гения&nbsp;по&nbsp;фамилии Желязны.
</p>

	