Id: 5ba4ad62-02fe-4300-8bec-4bfa66ab7e4e
Title: "Пост-апокалиптическая фантастика"
Published: "2006-05-17"
Slug: "2006-05-17 Пост-апокалиптическая фантастика"
-
&nbsp;&nbsp; Я продолжаю таскать книжки из списка <a href="https://skw-m.front.ru/posthol_lib.html">Dark Future Books</a>, то есть жанра постапокалиптической фантастики. По моему скромному мнению автор&nbsp;сайта в оценке книг сильно ошибается, но сам список&nbsp;- довольно ценная штука. Там полно хлама, но есть и классика жанра. А книги этой специфики не так уж легко найти.<br />
В итоге вот вам список мной&nbsp;просмотренного в порядке возрастания ценности.<br />
<br />
Автор: <strong>Макдональд, Эндрю.&nbsp;<br />
</strong>Книга: <strong>Дневники Тёрнера.</strong><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Сильно на любителя. Это&nbsp;расистская утопия, когда террористы-борцы за доминирование белой расы очищают Америку от застоя и скверны, &quot;вызванной засилием чёрных и цветных недочеловеков&quot;. В результате их действий погибает большое количество народа и происходит небольшая атомная война. В конце всеобщее счастье и радость.&nbsp;Вызванное тем, что в новообразованной конфедерации, занимающей часть Америки, живут только белые.&nbsp;Вроде бы эта книга хорошо известна среди поклонников таких идей. Но любой вменяемый человек понимает:&nbsp;несмотря на наличие реальных проблем с неграми в Америке и Европе, убийство или департация их всех никакого всеобщего счастья не вызовет.&nbsp;<br />
<strong>Итог:</strong>&nbsp;я прочитал несколько десятков страниц в конце, в начале и не стал далее забивать себе голову этой чепухой.<br />
<br />
Автор: <strong>Ланье, Стерлинг<br />
</strong>Книга: <strong>Путешествие Иеро.</strong> <br />
&nbsp;&nbsp;&nbsp; 5000 лет спустя глобальной катастрофы боеспособный монах-телепат на подобии коня&nbsp;отправляется в путешествие, чтобы разведать планы страшного зла.&nbsp;Оно уже давно плетёт свою паутину в надежде поработить цивилизованный мир, управляемый разумными и миролюбивыми священнослужителями, к которым принадлежит и наш герой. <br />
Претензий две: первая - местами сильно плохое владение языком (автор или переводчик?) и стилистикой. Вторая - скучноватый сюжет, в котором главные герои только и делают, что дерутся, да ужасаются своим противникам. Мир в принципе описан неплохо, но многовато мистики и фэнтэзиподобного бреда, который я ох как не люблю. <br />
<strong>Итог: </strong>дочитал&nbsp;до половины и&nbsp;пока забросил.<br />
<br />
Автор<strong>: Маккамон, Роберт <br />
</strong>Книга:<strong> Песня Свон<br />
</strong>&nbsp;&nbsp; Хорошо продуманное описание атомной катастрофы, колоритные персонажи, пережившие ад. Рассказывается непосредственно про процесс их жизни во время и после коллапса.&nbsp;К языку и сюжету претензий нет, всё вполне на уровне. Опять-таки единственная проблема - всё замешано на мистике, Н/Ф отодвигается на задний план. Я кончно понимаю авторов, которым лень пополнять свои знания. Легче выдумывать &quot;чудеса&quot; да &quot;тайны&quot;. Только вот такой подход с трудом позволяет выстроить логичную и правдоподобную вселенную, которая играет огромную роль в любой фантастической книге. Именно из-за жизненного поведения персонажей и техники фантастика превращается в реальность, а не остаётся дурацкой выдумкой, которую способен сочинить любой графоман.<br />
<strong>Итог: </strong>прочитал треть и отложил, думаю дочитать.<br />
<br />
Автор: <strong>Мерль, Робер</strong><br />
Книга: <strong><a href="https://www.lib.ru/INOFANT/MERL/malvil.txt"><strong>Малвиль</strong></a><br />
&nbsp; </strong>Несколько старых друзей,&nbsp;жителей небольшой французкой деревушки, случайно собираются в подвале замка &quot;Малвиль&quot;, принадлежащего одному из них. В этот момент над Парижем взрывают очень мощную атомную бомбу. В результате гибнут&nbsp;практически все&nbsp;люди и животные Франции, но наши герои спасаются благодаря толстым каменным стенам замка, и скале, за которой он находится. С трудом пережив катастрофу, они выясняют, что ещё не всё потеряно, поскольку почему-то нет радиации и выжили несколько животных.&nbsp;Поэтому герои книги не отчаиваются,&nbsp;а пытаются наладить нормальную жизнь. Насколько это возможно, при небольших запасах пищи и&nbsp;отсутствии женщин детородного возраста, покажет лишь время.<br />
&nbsp;&nbsp;Строго говоря, в романе только одно фантастическое допущение - существование атомной бомбы, не вызывающей радиоактивных осадков. А остальное&nbsp;в этой книге как раз полностью соответствует реальности, причём замечательно описанной. Всё детально продумано, поведение героев не вызывает сомнений, есть хороший юмор и характеры. И никакой мистики!<br />
<strong>Цитаты:<br />
1)</strong>&nbsp;&nbsp;&nbsp;&nbsp; Напротив, в глазах Тома нет и тени сомнения: Фюльбер-подлец.&nbsp; Он&nbsp; так считает,&nbsp; я&nbsp; убежден&nbsp; в&nbsp; этом,&nbsp; хотя&nbsp; совсем&nbsp; не&nbsp;&nbsp; понял&nbsp;&nbsp; размеров&nbsp;&nbsp; того святотатства, которое только что совершил&nbsp; Фюльбер&nbsp; с&nbsp; точки&nbsp; зрения&nbsp; моих товарищей, запросив корову.&nbsp; <br />
&nbsp;&nbsp; Посмел посягнуть&nbsp; на&nbsp; корову.&nbsp;На&nbsp; нашу&nbsp; самую высшую святыню после бога (а быть может, даже и выше).&nbsp; Для&nbsp; нас&nbsp; ценность коровы отнюдь не определяется ее рыночной&nbsp; стоимостью.&nbsp; Дело&nbsp; вовсе&nbsp; не&nbsp; в этом. Когда она переходит из рук в руки, мы берем за нее деньги, но прежде всего для того,&nbsp; чтобы&nbsp; выразить&nbsp; при&nbsp; помощи&nbsp; денежных&nbsp; знаков&nbsp; <br />
то&nbsp; почти религиозное уважение, которое мы к ней питаем.<br />
<strong>2) </strong>&nbsp;- Если хочешь, на мой взгляд, любой цивилизации необходима душа.<br />
&nbsp;&nbsp;&nbsp;&nbsp; - И эта душа - религия?<br />
&nbsp;&nbsp;&nbsp;&nbsp; Произнося эту фразу, он поморщился. Два слова ему претили:&nbsp; &quot;душа&quot;&nbsp; и &quot;религия&quot;. Два совершенно &quot;устаревших&quot; понятия.&nbsp; Мейсонье&nbsp; -&nbsp; образованный член партии, он проходил школу партийных кадров.<br />
&nbsp;&nbsp;&nbsp;&nbsp; - При нынешнем положении вещей - да.<br />
&nbsp;&nbsp;&nbsp;&nbsp; Он задумался над этим утверждением, в котором содержалась и оговорка. Мейсонье - тугодум, он продвигается вперед шаг за шагом. Но зато ему чужда поверхностность суждений. Он попросил меня уточнить свою мысль.<br />
&nbsp;&nbsp;&nbsp;&nbsp; - Душа нашей нынешней цивилизации здесь, в Мальвиле?<br />
&nbsp;&nbsp;&nbsp;&nbsp; Слово &quot;душа&quot; он произнес, как бы заключив его&nbsp; в&nbsp; кавычки,&nbsp; мне&nbsp; даже показалось, что он манипулировал им на расстоянии, с помощью пинцета.<br />
<strong>Итог</strong>: замечательная книга, вполне можно читать. <a href="https://www.lib.ru/INOFANT/MERL/malvil.txt">Качать</a><br />
P.S. Я тоже не люблю слово &quot;Душа&quot;, но принимаю его в значении, обсуждаемом в диалоге Мейсонье и Эмманюэля.

	