Id: 4f825b99-c676-48dc-a1ce-265275e54395
Title: "Интернет-ураган"
Published: "2006-07-23"
Slug: "2006-07-23 Интернет-ураган"
-
Однако случилась со мной в виртуальном мире&nbsp;презабавнейшая&nbsp;штука. Она, конечно, слегка техногенного характера, но зато вызвала у меня бурю эмоций.<br />
<br />
Предистория такая.&nbsp;Месяц назад, про мой сайт <a href="https://radio.super.lv/">Радиоархив</a>&nbsp;написали на известном блоге <a href="https://dirty.ru/">dirty.ru</a>. Регистрация там только по приглашениям, но их легко дают тем, на чьи сайты были ссылки. В итоге стал я периодически заходить на дёти,&nbsp;и комментировать. (Кстати, если кому нужно приглашение, могу выслать).<br />
<br />
А сама история началась вчера. Надо сказать, что передачу &quot;FM Достоевский&quot; для меня записывает робот, то есть программа, расположенная там же, где и сам сайт &quot;Радиоархив&quot;, то есть на сервере Американского хостинга*. И вот вчера программа записать&nbsp;FMD не смогла, поскольку была подло убита. (То есть выключена кем-то или чем-то). Когда я зашёл посмотреть, в чём дело, выяснилось, что все запущенные мной программы уничтожаются через 2-3 минуты, или даже раньше. Я уже хотел писать гневные письма с службу поддержки, но решил для начала подумать головой, что всегда полезно. Посмотрел загрузку процессора: &quot;Мамоньки мои&quot;! Большая часть процессора жрётся моим сайтом. Это при том, что там стоит мощнейший сервер, и до того мой сайт был для него меньше, чем комариным укусом.&nbsp;Так я догадался глянуть статистику посещений сайта.<br />
И испытал <strong>САМЫЙ НАСТОЯЩИЙ ШОК.<br />
</strong>За предыдущие 2 дня на сайт зашли <strong>120 тысяч раз</strong>,&nbsp;а число уникальных посетителей составило около <strong>40 тысяч.<br />
</strong>Таким образом, я&nbsp;с&nbsp;превысил посещаемость не только&nbsp; <a href="https://zvuki.ru/" target="_blank">Звуков.Ру</a> <a href="https://phoneme.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> phoneme</a>, но даже&nbsp;<a href="https://www.oper.ru/" target="_blank">Тупичка</a> Гоблина.&nbsp; И если бы я был зарегистрирован в&nbsp; Рамблер&nbsp;топ-100, первое место было бы моим. И если у вас к этому моменту не возникло вопросов и подозрений в моей вменямости, то вы либо идиот, либо святой. А вопрос звучит так: &quot;С какой стати 25 тысяч человек со всего мира внезапно ломанулись слушать две русские радиопередачи?&quot;. <br />
Ответ звучит загадочно: &quot;Не по своей воле&quot;. Но кто же их заставил? А это уже совсем другой вопрос, на который сейчас будет дан&nbsp;развёрнутый ответ.<br />
<br />
Причиной всему служит уже упомянутый выше dirty, а точнее, его посетитель из Эстонии.&nbsp;На dirty&nbsp;есть специальный раздел под названием &quot;Лепрозорий&quot;, для общения на вольные темы. Получается куда интереснее форума: один человек пишет какую-нибудь чушь, а сотня-другая комментирует. И вот посетитель рассказал такое: в одном из штаммов**&nbsp;вируса Bagle есть ссылка на его сайт. То есть это известная всем штука, когда вирус (а вернее, интернет-червь)&nbsp;заставляет заболевший комп заходить на&nbsp;некий интернет-адрес (обычно адрес порносайта). Но конкретно в этом штамме почему-то была ссылка на его сайт. Но человеку эти тысячи посещений не особо-то были и нужны, и он решил поделится с народом. Делается это элементарно - ставится перенаправление на другой сайт, и всё. И стали его в комментах просить владельцы всяких крошечных сайтов про зверушек и прочих рюшек сделать им приятное.<br />
Результат крайне&nbsp;забавный - зашкаливающие счётчики и позиции в рейтингах, ошарашенные громадной&nbsp;нагрузкой на крошечные любительские сайты хостинг-провайдеры, падающие сервера. Почитав комменты, я решил испытать ураган посещений лично, но, обладая некоей толикой разума, попросил включить переадресацию лишь на 5 часов. Однако шарманка утюжит уже три дня,&nbsp;а конца-края не видно! Напоминает русскую народную сказку про горшочек, и греческую - про Креза.<br />
Результат с одной стороны интересный, а с другой - печальный. Интересный он тем, что мой хостинг легко выдерживает 70000 посещений в сутки. Печальный тем, что теперь вся&nbsp;настоящая статистика попорчена вынужденными визитёрами. Кстати, больше всего французов, видно самые безалаберные и про существование антивирусов не подозревают.<br />
И самое нехорошее - я не смог записать передачу. Дело оказалось в том,&nbsp;что вступили в силу ограничения на использование процессора на сервере. Потому-то и дохли мои программы как мухи. А ведь обещал хостер, что нет ограничений на процессорное время. <br />
В любом случае получился весьма познавательный опыт, так что я доволен.<br />
<br />
*Хостинг - место, где находятся сайты. Обычно это&nbsp;сервер или система серверов (кластер)<br />
**Штамм - слегка изменённая версия одного и того же вируса

	