Id: fbf22342-9185-4a7f-8cea-a39fe883ba88
Title: "Что может быть приятнее девственного звука чистого <A href=\"/files/lj/sinus.mp3\" t"
Published: "2006-11-12"
Slug: "2006-11-12 Что может быть приятнее девственного звука чистого _A href__https___izvne.com_lj_sinus.mp"
-
Что может быть приятнее девственного звука чистого <A href="/files/lj/sinus.mp3" target=_blank>синуса</A>.<br/>Только звук косинуса!
	