Id: bf0c4191-76a3-4363-aebc-ea6e0e0ae46f
Title: "I'm alive!"
Published: "2006-04-02"
Slug: "2006-04-02 I_m alive_"
-
&nbsp;&nbsp;&nbsp; Однако&nbsp;целую пропасть времени не появлялось тут сообщения. Чтоб самому&nbsp;оправдаться и заставить других удивляться, корявым рифмованным слогом, напишу о проекте&nbsp;новом. &quot;Радиоархив&quot;&nbsp;задумки&nbsp;этой&nbsp;название, хранить&nbsp;радио&nbsp;её призвание. Любители музыки новой, слушать будьте готовы.&nbsp; FM Достоевский и Музпросвет несут в массы меломанский завет.&nbsp;Ранее&nbsp;сложно получаемые, теперь&nbsp;доступны в онлайне. 
<p>
&nbsp;
</p>
<p align="center">
<a href="http://radio.super.lv/"><font size="7">http://radio.super.lv</font></a>
</p>
<p>
&nbsp;
</p>
<p align="left">
<font size="2">P.S. Поддержки логина из livejournal с помощью OpenID пока нет, но есть вероятность, что прикручу.</font>
</p>
<p>
&nbsp;
</p>
<br />
<font size="5" color="red">Внимание! Пока что у нас проблемы с DNS и не у всех сайт будет открываться. Я   работаю над этим.</font>

	