Id: 64268934-cf41-40c3-b6e4-3748643a5cfa
Title: "Всячина"
Published: "2006-07-15"
Slug: "2006-07-15 Всячина"
-
<p>
Жара&nbsp;временно исчезла&nbsp;- сейчас пасмурно и градусов 20 тепла. Надо же было этому случится именно на выходные, когда хочется на серьёзное озеро!<br />
Пришло мне бумажное письмо от <a href="https://asena.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> asena</a>, написанное <a href="https://asena.livejournal.com/135213.html#cutid1">в ответ на моё</a>.&nbsp;&nbsp;Оказывается, <a href="https://asena.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> asena</a>&nbsp;и на самом&nbsp;деле зовут&nbsp;Асёна!<br />
Там ещё много чего всякого интересного, но личная переписка останется в тайне :-)<br />
<br />
Напишу лишь&nbsp;в ответ, что я тоже помню много всякой не особенно полезной&nbsp;ерунды. Например точно знаю, как расшифровывается бесконечное количество околокомпьютерных аббревиатур,&nbsp;вроде ICANN, GNU, TCP/IP, KDE, IEEE, ODBC, IDE, ATAPI, ISO/OSI, UCS, UTF и до бесконечности.<br />
А&nbsp;необходимое и&nbsp;важное часто не помню. Так что мы одной крови, ты и я.
</p>

	