Id: 1c02460f-c78b-4603-bde5-53a286fd0eec
Title: "Фигасе"
Published: "2006-04-16"
Slug: "2006-04-16 Фигасе"
-
&nbsp; В поисках некоторых хитрых вещей забурился вглубь Интернета и нашёл вот такой проект.<br />
<a href="http://www.ourmedia.org/">http://www.ourmedia.org/</a><br />
Позволяет всем закачивать любые <strong>свои</strong> произведения (музыку, фото, видео) на вечное хранение и распространение по&nbsp;избранной вами&nbsp;лицензии.<br />
Хостинг всех этих неисчислимых петабайт информации обеспечивает знаменитая организация, архивирующая Интернет - <a href="http://www.archive.org/" target="_blank">Internet Archive</a>.<br />
Пока всё ещё в альфа-стадии, но уже выглядит навороченно. Надо бы поизучать.

	