Id: 7a4d8221-e147-40ad-b8b5-1ef49c06f4c9
Title: "Немного про хэши"
Published: "2006-10-13"
Slug: "2006-10-13 Немного про хэши"
-
<p>
Вот по радио, когда нужно назвать слушателя, приславшего смс или выигравшего конкурс, говорят весь номер, кроме последней цифры. Это неэффективно, поскольку человека всегда узн<strong>а</strong>ют знакомые, можно позвонить на все 10 номеров и т.д.<br />
Предлагаю ведущим говорить хэш номера - абонент себя узнает сразу же, как только вычислит(а вычислять себя придётся всего лишь один раз). <br />
<br />
Хэш - это функция, по&nbsp;значению которой невозможно узнать аргумент. Хэши широко применяются для хранения паролей, электронных подписей и однозначной идентификации объектов, поскольку один и тот же аргумент (пусть даже целый файл) всегда даст одно&nbsp;и то же значение хэш-функции в результате. Перебором всех возможных арумнентов хэш можно подобрать, но это непросто.<br />
<br />
Дабы пожалеть слушателей и не мучить их записью длинных сложных хешей и их вычислением, можно использовать самый примитивный - например среднюю часть номера, возведённого в квадрат.<br />
Красными цифрами показан хэш. Зная лишь его, вычислить число (телефон&nbsp;в данном случае)&nbsp;нельзя. Но зная хэш своего телефонного номера, можно сравнить с названным, и убедиться, ты ли это.<br />
<br />
5448182^2=296<strong><font color="#ff0000">82687105</font></strong>124<br />
<br />
Естественно, что хэш будет таким для нескольких чисел, а не только для этого. Для слушателей вероятность&nbsp;<strong>коллизии</strong> невелика, поскольку звонит их немного, но в других местах используются хэш-функции &nbsp;с алгоритмами получше: sha, md5.<br />
<br />
Хэши - эффективное и единственное правильное средство для хранения паролей. Программа, сравнив хэш введённого пароля с тем хэшем, что у неё хранится, может подтвердить подлинность пользователя.&nbsp;А вот&nbsp;злоумышленники, которые узнали хэш,&nbsp; узнать и использовать пароль не смогут.<br />
<br />
Поэтому я ненавижу сайты, которые хранят мои пароли как текст&nbsp;и даже высылают его на емейл по запросу - так пароль могут узнать и администраторы сайта, и админы всех компьютеров, через которые проходит пароль при пересылке через интернет.<br />
<br />
P.S.Писал всё по памяти, так что могут быть ошибки. В ещё сегодня целый день на работе хотел написать этот пост, но всё работал и работал, пока не настало время топать домой.
</p>

	