Id: 638529b7-c8b0-49bc-af56-7f36d8f2f823
Title: "После такого маразма и вправду начинаешь сомневаться насчёт Демократодушительной Гэбни и Кровавого Режима"
Published: "2006-10-25"
Slug: "2006-10-25 После такого маразма и вправду начинаешь сомневаться насчёт Демократодушительной Гэбни и "
-
После <a href="http://txt.newsru.com/russia/24oct2006/ivany.html">такого маразма</a> и вправду начинаешь сомневаться насчёт Демократодушительной Гэбни и Кровавого Режима

	