Id: 64fedb60-fa6e-4e19-898f-e545ab8c738a
Title: "программинг"
Published: "2006-09-18"
Slug: "2006-09-18 программинг"
-
<p>
Во блин, всё-таки я не такой уж&nbsp;плохой программер. Охуенно круто знать SQL и регулярные выражения, иначе и не скажешь.<br />
<br />
Это у меня такой настрой позитивный, потому что по просьбе Троицкого посчитал&nbsp;статистику с <a href="http://fmd.soyuz.ru">http://fmd.soyuz.ru</a>
</p>

	