Id: 78dbd2b5-687a-4e1f-8d0f-ea1b5a4d98e2
Title: "Big Apple Rappin'"
Published: "2006-12-22"
Slug: "2006-12-22 Big Apple Rappin_"
-
<P>Хех, послушал Big Apple Rappin'<br/>Я конечно в курсе что хип-хоп имеет фанковые корни, но там вообще всё удивительно фанково.<br/>И никакого вам гангста-рэпа! Всё весело и бодро, попрыгуче и грувоносно.</P>
	