Id: 99f2c5ef-6533-402e-a435-0d370eb6f978
Title: "Всякое"
Published: "2006-06-20"
Slug: "2006-06-20 Всякое"
-
<p>
Ну что, соучаснеги. Я тут смотался в Ригу, поговорил с научруком.&nbsp;Сделать магистерскую, судя по всему, не успел ни один из&nbsp;девяти человек в моей группе. Теперь защищаться будем через год. Прежнюю лафу с защитой осенью и зимой отмнили. Впрочем, вру, один герой всё-таки не поддался всеобщему безумию - это Юра.&nbsp;Ввиду чрезвычайных семейных обстоятельств&nbsp;ему кровь из носу надо было&nbsp;покончить&nbsp;с универом, и он&nbsp;дописывал магистерскую прямо в поезде. Легенда гласит, что&nbsp;&nbsp;Билл Гейтс дописывал свою первую важнейшую программу&nbsp; в самолёте, по дороге на встречу с представителями компании MITS. Сделка завершилась удачно, и через год Билл Гейтс бросил учёбу в Гарварде, чтобы основать Microsoft. Так что у Юры большое будущее - он ведь&nbsp;даже закончит универ, в отличие от&nbsp;неуча&nbsp;Билла.<br />
&nbsp; Взял с собой фотоаппарат, чтобы Ригу пощёлкать, но ничего интересного не увидел. Быть может, это из-за жары - страшное дело, в общаге вообще как в духовке.<br />
И ещё я выяснил, что мои нечаянные заметки читают&nbsp;друзья из реала, что приятно.<br />
А&nbsp;чтоб вы не&nbsp;заскучали, вот вам&nbsp;Валерыч, Юра и пёс, который в шесть утра зачем-то провожал отъезжающий в Ригу поезд. А Валерыч именно тот, которого я&nbsp;неоднократно обзывал на страницах этого журнала роботом-терминатором за выдающиеся заслуги в области озадачивания.
</p>
<p align="center">
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/16673/438_large.jpg"><img data-src="/files/lj/16673/438_big.jpg" alt="" title="Увеличить" /></a><br />
Валерыч, Юра и собака
</p>

	