Id: 125f9b92-9e25-4b04-a11c-8fcebbad86a2
Title: ";-("
Published: "2006-03-16"
Slug: "2006-03-16 _-_"
-
<p>
&nbsp;&nbsp; Однака я опять заболел фарингитом. Ещё и семейный врач&nbsp;уехала.&nbsp;Пришлось у наличествующего врача просить рецепт чтоб лопать антибиотики тяжёлого калибра, иначе кончится всё трахеобронхитом, как уже пару раз было.<br />
<br />
Привет <a href="http://gugiens.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> gugiens</a>&#39;у. Я в прошлый раз когда он болел написал коммент про наше метафизическое родство, но он не дошёл.<br />
<br />
В итоге под взятое из &nbsp;эмо, до которого руки наконец дошли, сижу&nbsp;пишу хитрую веб-страничку на ASP.NET. Результаты покажу через пару часиков.
</p>

	