Id: 909f3733-7fc1-4c5c-9363-afdd64746c9a
Title: "Шутка"
Published: "2006-11-15"
Slug: "2006-11-15 Шутка"
-
С моей подачи сегодня разыграли коллегу с помощью <a href="https://www.securitylab.ru/news/276904.php">скринсейвера смерти</a><br />
<br />
Просил же я народ сказать, кто у нас терпеливый. Так нет, разыграли такого, что потом угрожал физической расправой. Зато получилось славно - он сначала 10 минут не верил, что это прикол.

	