Id: e38c7566-c9e3-415f-a8d8-190a62ccb818
Title: "Чуток файликов"
Published: "2006-05-01"
Slug: "2006-05-01 Чуток файликов"
-
Animal Collective -&nbsp;Feels. Отцы психофолка,&nbsp;в представлении не нуждаются. Последний альбом довольно солнечный и приятно попсовый.<br />
<strong>Лёгкость прослушивания&nbsp;3<br />
</strong><a href="https://rapidshare.de/files/19227293/Animal_Collective_-_2005_-_Feels.rar.html">&nbsp;https://rapidshare.de/files/19227293/Animal_Collective_-_2005_-_Feels.rar.html</a><br />
<br />
I am kloot - меланхоличный и проникновенный рок, местами очень хорошо, местами чуток занудно и вторично.<br />
<strong>Лёгкость прослушивания 3</strong><br />
<a href="https://rapidshare.de/files/19228733/I_Am_Kloot_-_2005_-_Gods_and_Monsters.rar.html">https://rapidshare.de/files/19228733/I_Am_Kloot_-_2005_-_Gods_and_Monsters.rar.html</a>&nbsp;

	