Id: 545b649e-c0e2-4685-ac83-ef54f1870906
Title: "Фотолытдыбр"
Published: "2006-03-12"
Slug: "2006-03-12 Фотолытдыбр"
-
<p align="center">
[more text=3 фотографии]
</p>
<p>
&nbsp;
</p>
<p align="center">
<br />
<a href="/files/lj/16673/362_large.jpg"><img data-src="/files/lj/16673/362_big.jpg" alt="" title="Увеличить" /><br />
</a><br />
Прямо около нашей общаги, 2 недели тому назад<br />
<a href="/files/lj/16673/363_large.jpg"><img data-src="/files/lj/16673/363_big.jpg" alt="" title="Увеличить" /><br />
</a><br />
Торт полуфабрикатный самодельный, с кремом и ананасами, неделю тому назад<br />
<a href="/files/lj/16673/364_large.jpg"><img data-src="/files/lj/16673/364_big.jpg" alt="" title="Увеличить" /></a><br />
Джена спала,&nbsp;накрытая моей кофтой, но встала и ушла на кухню, одежды не снимая 
</p>

	