Id: 60362d25-8e4a-47b9-bac4-e598397117bd
Title: "<P>Я сейчас умру от смеха, это просто атас какая смерть
<A href=\"http://www.aif.ru/online/europe/149"
Published: "2006-12-12"
Slug: "2006-12-12 _P_Я сейчас умру от смеха, это просто атас какая смерть__A href__http___www.aif.ru_online"
-
<P>Я сейчас умру от смеха, это просто атас какая смерть<br/><A href="http://www.aif.ru/online/europe/149-153/04_01">http://www.aif.ru/online/europe/149-153/04_01</A><br/><br/>via моя сестра <a href="http://mistrale1514.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> mistrale1514</a></P>
	