Id: 8705b2b8-3919-4cde-8c35-180013de6f94
Title: "Этника и электроника"
Published: "2006-06-15"
Slug: "2006-06-15 Этника и электроника"
-
<p>
Что-то все <a href="http://murmanskdays.livejournal.com/279876.html">пишут</a> про&nbsp;проект <strong>Beirut</strong>&nbsp; чудо-юноши Зака, который бросил учёбу и пошёл путешествовать по Европе&nbsp;да писать музыку.<br />
У меня его творчество не вызывает особых эмоций. Но европейские этнические мотивы <strong>Beirut</strong> мне напомнили,&nbsp;как&nbsp;я зверски фанатею от румынской банды цыган и электронщиков под названием <strong>Shukar Collective</strong>.&nbsp;Некоторые участники коллектива вполне себе криминальные личности, неоднократно сидевшие. Другие - диджеи. Всё вместе образует ядрёную смесь. Сэмплированные басовитые и хриплые мужские голоса, повторяющие одни и те же назамысловатые кричалки и пыхтелки, переплетаются с явно синтетическим басом и синтезаторными гудениями. Порой это приправлено &nbsp;грохотом ложек&nbsp; и катрюль, органично вписывающимся в компьютеризированный брейкбит.&nbsp;А несколько треков вообще полностью сносят крышу&nbsp;удивительно естественной смесью электроники и этники, полной&nbsp;&nbsp;резковатых звуков и мелодических хуков.<br />
Вот вам для затравки дебютный альбом -&nbsp;2005 года под названием <strong>Urban Gypsy</strong>.<br />
<a href="http://rapidshare.de/files/22722576/Shukar_Collective_-_2003_-_Urban_Gypsy.rar.html">(Rapidshare)</a><br />
<strong>Лёгкость прослушивания:</strong> 3 или 4
</p>

	