Id: 32aa29da-d05b-4a48-a51f-1e95f6927888
Title: "Города"
Published: "2006-05-23"
Slug: "2006-05-23 Города"
-
&nbsp;&nbsp;&nbsp; Я наконец удосужился посмотреть внимательно, где живёт <a href="https://ears_of_tin.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ears_of_tin</a>. Оказалось&nbsp;- в городе Пермь. Меня в последнее время вообще русские города занимают - в школе-то я географию России почти не изучал. По интернет-рейтингу <a href="https://goroda.yandex.ru/ii_total.xml">Яндекс.Города</a>&nbsp;Пермь легко забарывает Мурманск, где живёт <a href="https://murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> murmanskdays</a>. Это неудивительно - в Перми живёт более миллиона человек, то есть она будет побольше Риги,&nbsp;а это вам не хухры-мухры. А в Мурманске чуть более&nbsp;трёхсот тысяч, то есть&nbsp;в три раза&nbsp;больше моих родных Лиепаи и Даугавпилса,&nbsp;но в три раза меньше&nbsp;Риги. Мощу Новосибирска <a href="https://bitter_berry.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> bitter_berry</a>&nbsp;пропустим, как необозримую. Заграницу не рассматриваю по условиям&nbsp; эксперимента, а Питер и Москву отнесём к загранице.

	