Id: 5f020319-156c-481a-a349-63efbfbf009b
Title: "Об усилиях"
Published: "2006-10-31"
Slug: "2006-10-31 Об усилиях"
-
<div>
- Я зато не сижу и не жду, когда мне с неба что-то упадет. Я для этого все усилия прилагаю. Я усилий прилагаю больше тебя раз в десять.
</div>
<div>
- Это уж наверное, - согласился я.
</div>
<div>
- Я поэтому иногда вокруг оглядываюсь, и мне противно становится. Ну почему эти люди не прилагают усилий, почему не прилагают сил, а только ноют?
</div>
<div>
Я недоуменно посмотрел Нагасаве в лицо.
</div>
<div>
- А мне вот видится, что все люди вокруг вкалывают, как проклятые, не разгибаясь. Или я не так что-то вижу?
</div>
<div>
- Это не усилия, а просто работа, - коротко сказал Нагасава. - Я не про такие усилия говорю. Под усилиями я подразумеваю нечто более основательное и целенаправленное.
</div>
<div>
- Например, определиться с трудоустройством и со спокойной душой начать учить испанский?
</div>
<div>
- Да, вот именно! Я до весны испанский одолею. Английский, немецкий, французский уже выучил, итальянский доканчиваю. Без усилий, думаешь, это возможно?
</div>
<div>
Он курил, а я думал об отце Мидори. Я думал, что отец Мидори и представить бы, наверное, не смог, что можно начать учить испанский по телеурокам. И того, какая разница между усилиями и работой, ему тоже наверняка и в голову не приходило. Слишком он был занят, чтобы думать об этом. И работы было невпроворот, и за дочкой в Фукусима надо было ездить.<br />
<br />
Это из <a href="http://jlib.sinor.ru/hudlit/murakami/n_wood.txt">&quot;Норвежского леса&quot;</a>&nbsp;&nbsp;Мураками<br />
</div>

	