Id: 18aa8965-0d12-4889-8a6c-ede2f5c51a2b
Title: "СССР наука, политика и немного фантастики"
Published: "2006-02-21"
Slug: "2006-02-21 СССР наука, политика и немного фантастики"
-
Прочитал <a href="https://antigreen.org/issue.php?index=127" target="_blank">интервью</a> учёного и фантаста Кирилла Еськова журналу &quot;Полдень, XXI век&quot;. Вот бывает же, наткнёшься на&nbsp;что-нибудь и душа радуется, потому что очень близко к&nbsp;твоим чаяниям и мыслям.

	