Id: 5329c7b2-2c11-4e2f-bce1-0a2dc4923aea
Title: "Откопал интересное в Википедии"
Published: "2006-01-03"
Slug: "2006-01-03 Откопал интересное в Википедии"
-
5 числа экзамен по методу математического конструирования структуры базы данных, а я сижу в два ночи всякую хрень читаю. <br />
<br />
&quot;Словио ес новйу межународйу йазика ктор разумийут чтирсто милион лудис на целойу земла. Учийте Словио тпер!&quot;<br />
<br />
Звучит как&nbsp;фраза падонкаф.&nbsp; А на самом деле это один из <a href="http://en.wikipedia.org/wiki/List_of_constructed_languages">многих</a> искусственно созданных языков - называется <a href="http://en.wikipedia.org/wiki/Slovio">Словио</a>.

	