Id: 6c0f771f-04bf-48c6-a8d5-db8533df15d9
Title: "Подарки"
Published: "2006-12-17"
Slug: "2006-12-17 Подарки"
-
Умеет у нас в Латвии народ <A href="https://rus.delfi.lv/news/daily/business/article.php?id=16363795">наслаждаться</A> хищными вещами века.<br/>Особенно мне понравилось вот это:<br/><EM>Выбрав серебряную цепь за 70 латов, некий господин повесил на нее… ключи от гаража.<br/></EM>Я бы своему папе такое сорганизовал бы с удовольствием.
	