Id: df892327-0d02-4a98-8269-47ee2963185b
Title: "Глубиномер"
Published: "2006-07-01"
Slug: "2006-07-01 Глубиномер"
-
<p>
Глубиномер на английском&nbsp;будет depth gauge (правильно), или же depth meter (народный вариант). В словаре есть ещё depth finder, но в&nbsp;инете такого не видел.<br />
Аналоговый глубиномер для дайвинга стоит 12$. <br />
Но мне нужен цифровой, с памятью. И не просто с памятью, а с автоматическим запоминанием наибольшей глубины погружения. А в продаже либо супернавороченные компы для дайверов 150$ минимум, либо не менее навороченные часы с глубиномером CITIZEN/CASIO.<br />
Нашёл некие TIMEX HELIX D_M - подходят почти по всем статьям.&nbsp;Цена хороша, функции тоже нормальные, и лишь на вид&nbsp;чуток страшноваты.&nbsp;Но облом&nbsp;- их перестали выпускать 2 года назад.&nbsp;А на сайте производителя рекомендуют покупать citizen за 150$.&nbsp;А эти TIMEX D_M всего лишь&nbsp;год назад можно было купить в walmart&#39;e (супермаркет для&nbsp;обывателей)&nbsp;на clearance sale (распродажа хлам) за 20$. А теперь стали раритетом, на аукционе eBay&nbsp;стоят 50$ минимум - многовато за китайскую поделку. Вот вам блин и глобализация -&nbsp;была полезная&nbsp; и недорогая вещь.&nbsp;А теперь фиг вам - гоните монету за&nbsp;пустые красоты Citizen. Поневоле начинашь задумываться: может антиглобалисты&nbsp;и анархисты в чём-то правы?
</p>
<p align="center">
<img data-src="/files/lj/timex_DM.jpg" alt="" /><br />
TIMEX HELIX D_M<br />
<img data-src="/files/lj/citizen.jpg" alt="" /><br />
Citizen
</p>
<p>
А вот citizen с функцией глубиномера пока что есть всего лишь за 15$. Но до конца аукциона ещё 5 дней, к тому времени они наверняка станут стоить все 100.<br />
Так что придётся нырять в неизвестности.<br />
P.S.<br />
Почему моя собака, перед тем, как идти гулять, обязательно бежит к миске доедать остатки еды, если они там есть? Неужто запасается перед вылазкой?
</p>

	