Id: f77f4fb8-21c9-4858-91b1-504a9498ad67
Title: "Прошу, убей меня!"
Published: "2006-03-01"
Slug: "2006-03-01 Прошу, убей меня_"
-
<p align="left">
Прочитал вот такую книгу, спасибо <a href="https://_slasher_.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> _slasher_</a>
</p>
<p>
&nbsp;
</p>
<p align="center">
Легс Макнил и Джиллиан Маккейн
</p>
<p style="margin-right: 0px" dir="ltr" align="center">
<strong><font size="7"><a href="https://vladek.richnet.lv/downloads/PleaseKillMe_rus.zip"><strong><font size="7">ПРOШУ, УБЕЙ МЕНЯ!</font></strong></a></font></strong>
</p>
<p align="center">
<strong>Подлинная история панк-рока в рассказах участников</strong>
</p>
<p align="center">
Перевод Антона Скобина, Макса Долгова
</p>
<p>
&nbsp;
</p>
<p align="left">
&nbsp;&nbsp; Судя по книге, люди те были&nbsp; чокнутые и отчаянные. Ни о чём особо не задумывались ,&nbsp; жрали наркоту на завтрак, обед и ужин, трахались с кем попало, носили женскую одежду, резали себя ножиками и умирали.<br />
Кто как, конечно. Но смысла особого в&nbsp;происходящем не было, они его и не искали, в отличие от их английских последователей и исследователей, гундевших о социальном характере панка.
</p>
<p>
&nbsp;
</p>
<p align="left">
[more text=Забавные шок-цитаты (не все, некторые места забыл отметить):]&quot;Джеймс Слаймен: Когда Стив жил в Кливленде, он так развлекался каждую ночь. Мы напивались, Стив снимал штаны, а потом, не отпуская руля, забирался на ветровое стекло машины и показывал всем голую задницу. Это была его любимая фишка. Его член прижимался к ветровому стеклу, зато задница вылезала наружу для всеобщего обозрения.&quot;<br />
<br />
&quot;Ричард Хелл: Куин маниакально заботится о своих гитарах. На сцене он обычно отодвигался назад как можно дальше, он хотел быть подальше от зрителей, которые плевались в музыкантов. Но кто-то попал в его гитару большим, густым харчком. Он видел, кто это сделал, и гитарой сломал тому парню челюсть. <br />
Так вот, этот парень потом пришел к нему за кулисы, чтобы спросить автограф! Они были чокнутые, они были похожи на британских футбольных фанатов, озверевшая публика, классический случай. Они хотели кайфа, агрессии и мерзости, стать берсерками, понимаете?&quot;<br />
<br />
&quot;Джеймс Грауэрхольц: Патти говорила мне, что она представляла себе это выступление как слияние в экстазе жизни и смерти. Во время выступлений она придерживалась философии &laquo;кружащегося дервиша&raquo; и думала, что впасть в транс &ndash; ее долг перед публикой. Она рассказывала мне, что часто мастурбирует на сцене.&quot;<br />
<br />
&quot;Боб Груэн: Мы отправились в магазин для геев, гигантский супермаркет кожаных вещей, чтобы ребята купили кожаные куртки. В магазине хватало всякого: были и фаллоимитаторы, и какие-то гели. Сид накупил кожаных браслетов, кожаных ремней, и кроме того &ndash; всяких гелей, смазок для ебли в жопу &ndash; и намазал себе голову. Они были как крем, и Сид выдавил себе на волосы целый тюбик и поставил их торчком. Джонни Роттен сказал: &laquo;Отлично, Сид! Теперь ты можешь засунуть свою голову в чью-нибудь задницу&raquo;.&quot;<br />
<br />
&quot;Скотт Эштон: Сейбл красила волосы на лобке в зеленый цвет. Она плавала на спине и делала прогиб назад, так что лобок выпирал, и эта зеленая швабра трепыхалась по ветру, ха-ха-ха!&quot;<br />
<br />
&quot;Боб Груэн: <br />
Эта яркая блондинка оказалась парнем, который с помощью операции избавился от своего члена. Все в Тулсе его знали, но мы-то нет. На первый взгляд он выглядел как симпатичная девушка.<br />
В конце концов Сид пошел с ней в свой номер, и все, кто был на вечеринке, сказали: &laquo;Ничего себе! Сид пошел с транссексуалом&raquo;.<br />
Когда он вернулся, мы стали спрашивать: &laquo;Эй, Сид, ну, и как тебе?&raquo;<br />
Он ответил: &laquo;Эээ, нормально&raquo;.<br />
Сид не искал приключений, приключения находили его сами. Как будто он был чем-то вроде магнита. Все валилось на него. Вокруг Сида постоянно происходили стремные вещи. В ту же ночь какой-то ветеран Вьетнамской войны предложил Сиду свою подружку, причем сам ветеран хотел наблюдать процесс.<br />
Через некоторое время Сид вернулся и сказал: &laquo;Я просто насрал ей в рот&raquo;.<br />
Я спросил: &laquo;Что? Ты шутишь? На фига ты это сделал?&raquo;<br />
Он сказал: &laquo;Ну, знаешь, ее друг сказал мне, что хочет, чтобы она испытала нечто незабываемое&raquo;.&quot;<br />
<br />
<a href="https://vladek.richnet.lv/downloads/PleaseKillMe_rus.zip">скачать книгу</a>&nbsp;
</p>

	