Id: 2f4eaade-0da5-4941-9682-e647dd42d82b
Title: "Фигня"
Published: "2006-12-12"
Slug: "2006-12-12 Фигня"
-
<P>Написал тут фигню и стёр.<br/>Не увидите фигни, вот так вот.<br/>Но мы живём по законам постмодерна.<br/>Этот пост - тоже фигня<br/>Получается,  вы её всё-таки увидели.<br/>С другой стороны, в предыдущих двух строках содержится какая-никакая мысль, и этот пост перестаёт быть такой уж фигней.<br/>Но становится ею снова из-за предыдущей строки, которая начинает ненужные пустопорожние рассуждения и рефлексию.<br/>И если бы они заканчивались на предыдущей строке, пост всё-таки не был бы фигнёй.<br/>Но они продолжаются, поэтому он всё-таки содержит фигню.<br/>Зато если подумать, вся эта квинтэссенция фигни в тексте вполне подходит под определение образчика постмодернистского искусства.<br/>И в результате рекурсивная фигня, которая могла бы продолжаться бесконечно, обрывается, поскольку мысль, изложенная строкой ранее, ставит конец на всей этой фигне, каковую вполне можно обозвать фигней, ибо именно ею, она, без сомнения, и является.<br/></P>
	