Id: beff465a-2783-428c-b78d-35848f021848
Title: "<P><A href=\"https://rus.delfi.lv/news/elections2006/programs/index.php\">Delfi представляет неофициаль"
Published: "2006-08-30"
Slug: "2006-08-30 _P__A href__http___rus.delfi.lv_news_elections2006_programs_index.php__Delfi представляет"
-
<p>
<a href="https://rus.delfi.lv/news/elections2006/programs/index.php">Delfi представляет неофициальный перевод коротких (4 000 знаков) предвыборных программ всех партий, принимающих участие в выборах в 9-й Сейм.<br />
</a>Всем гражданам Латвии, собирающимся голосовать, обязательно надо почитать.
</p>

	