Id: d9d0220f-5679-4227-9ed9-289f92d55833
Title: "День Флуда!"
Published: "2006-04-19"
Slug: "2006-04-19 День Флуда_"
-
<a href="https://phoneme.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> phoneme</a> уехала во Вьетнам, мой папа в пятницу уезжает в Марокко, а мама через месяц поедет в Хорватию.<br />
А я останусь здесь и буду делать магистерскую.

	