Id: 7d528fe5-d436-4018-89b8-815a82fa2af1
Title: "Экзамен"
Published: "2006-05-02"
Slug: "2006-05-02 Экзамен"
-
<ul>
	<li>Сегодня поехал в Ригу, написал экзамен, приехал обратно -&nbsp; почти 500 км. Забавно было: взял ведомость у секретаря,&nbsp;а там один экзамен, что впрочем и ожидалось. Написали (списали) экзамен, сразу отдал ведомость обратно.&nbsp;<br />
	</li>
	<li>Ещё пробовал мясо домашнего копчения и купил наконец-то сетевуху, которая почему-то в Риге стоит $5 а у нас $7-8. Когда вставлял, понял что ПЫЛЬ&nbsp;- ЭТО ПРИШЕЛЬЦЫ, которые оккупировали мою комнату и&nbsp;используют мой комп для своих гнусных расчётов. Попытался&nbsp;убить пришельцев пылелосом, но пылесос из прогнившего запада, и потому&nbsp;умеет пылесосить только внутрь, а не&nbsp;дуть наружу. В итоге пришельцы всё равно разлетелись по комнате ровным слоем, надеюсь только, что не проникли в мой мозг.<br />
	</li>
	<li>Соулсик вроде стал работать получше. Поиск правда фиговый, как обычно, зато качает&nbsp;и не вырубается. Почему нигде нет группы Electroputas?&nbsp; Пытаюсь освоить rateyourmusic.com для хранения wishlist. Почему-то тормозмит. Может это новая сетевуха?<br />
	</li>
	<li>Звонил папка из Марокко, говорит&nbsp;завтра будут на пароме переправляться через Гибралтар обратно в Европу. <br />
	<br />
	&nbsp; </li>
</ul>

	