Id: 331ae69d-aef1-4bad-9d52-c523670738da
Title: "Чикинки"
Published: "2006-06-03"
Slug: "2006-06-03 Чикинки"
-
<p>
<a href="https://murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> murmanskdays</a>&nbsp;тут <a href="https://murmanskdays.livejournal.com/281716.html">просит</a> какой хорошей музыки<br />
<br />
&nbsp;&nbsp; Получай фашист гранату! Вот ему&nbsp;модный современный электророк <strong>Chikinki</strong>, который когда-то упоминал Горохов, а недавно&nbsp;и Борис Гребенщиков в авторской программе Аэростат (оказывается, <a href="https://musiclook.ru/category/podcasts/aerostat/">есть и такая</a>)<br />
Причём Андрей называл группу Ч<strong>и</strong>кинки, а Борисыч - Чик<strong>и</strong>нки. Чую, правды мы не узнаем.&nbsp;&nbsp;Но как бы то ни было, вот вам ссылка на рапишейр. Альбом старый, ну и пофиг.<br />
<a href="https://rapidshare.de/files/22126197/Chikinki_-_2004_-_Lick_Your_Ticket.rar.html">https://rapidshare.de/files/22126197/Chikinki_-_2004_-_Lick_Your_Ticket.rar.html</a><br />
<strong><br />
Лёгкость прослушивания 4</strong> - бодрый&nbsp;&nbsp;и весёленький &nbsp;&quot;рок&quot; с манерным вокалом<br />
<br />
P.S. Программа Борисыча мне не понравилась, значит она понравится <a href="https://murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> murmanskdays</a>&nbsp;или <a href="https://ears_of_tin.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ears_of_tin</a>. Интересно,&nbsp;ББ радиостанция попросила слишком тяжёлого или электронного не играть, или он сам по себе такой поклонник всякой вялой эстрады.
</p>

	