Id: 931b91df-7405-4f84-b565-742f00c41d60
Title: "Сказочка про \"высочайший западный стандарт студийной звукозаписи\", часть 2"
Published: "2006-02-08"
Slug: "2006-02-08 Сказочка про _высочайший западный стандарт студийной звукозаписи_, часть 2"
-
<p>
&nbsp;&nbsp; Как известно, новый альбом Mogwai под названием Mr. Beast появился в пиринговых сетях задолго до официального выпуска.<br />
Это сейчас частенько&nbsp;происходит с популярными товарами масскульта ввиду недобросовестности&nbsp;журналистов, получающих промо-версии вроде тех,&nbsp;про которые я писал в <a href="/post/2006-02-04%20%D0%A1%D0%BA%D0%B0%D0%B7%D0%BE%D1%87%D0%BA%D0%B0%20%D0%BF%D1%80%D0%BE%20%20_%D0%B2%D1%8B%D1%81%D0%BE%D1%87%D0%B0%D0%B9%D1%88%D0%B8%D0%B9%20%D0%B7%D0%B0%D0%BF%D0%B0%D0%B4%D0%BD%D1%8B%D0%B9%20%D1%81%D1%82%D0%B0%D0%BD%D0%B4%D0%B0%D1%80%D1%82%20%D1%81%D1%82%D1%83%D0%B4%D0%B8%D0%B9%D0%BD%D0%BE%D0%B9%20%D0%B7%D0%B2%D1%83%D0%BA%D0%BE%D0%B7%D0%B0%D0%BF%D0%B8%D1%81%D0%B8_%20%2C%20%D1%87%D0%B0%D1%81%D1%82%D1%8C%201">первой части.</a>&nbsp;Часто бывает и так, что альбом пиратят сами работники студий, в которых он записывается. Видно, вышеупомянутые категории граждан не читали&nbsp;комиксы об авторском праве, или им не верят. Кстати,&nbsp;я сегодня такими разжился в патентной библиотеке.
</p>
<p>
&nbsp;
</p>
<p align="center">
<a href="/files/lj/16673/309_large.jpg"><img data-src="/files/lj/16673/309_big.jpg" alt="" title="Щёлкните для увеличения" /></a><a href="/files/lj/16673/307_large.jpg"></a><a href="/files/lj/16673/308_large.jpg"><img data-src="/files/lj/16673/308_big.jpg" alt="" title="Щёлкните для увеличения" /></a><a href="/files/lj/16673/307_large.jpg"><img data-src="/files/lj/16673/307_big.jpg" alt="" title="Щёлкните для увеличения" /></a>
</p>
<p>
&nbsp;
</p>
<p>
<br />
&nbsp;&nbsp;&nbsp; В первом (про авторские права) речь идёт&nbsp;о толстеньком блондинчике с гитарой по имени Марко, который мечтает стать музыкантом. Но родители Марко&nbsp;не одобряют такого способа зарабатывать на жизнь, считая художников тунеядцами и раздолбаями. Парень встречает индийскую байкершу в ковбойских сапогах с&nbsp;формами куклы Барби и зачаточными знаниями&nbsp;юриспруденции. Та ему подробно и доходчиво разжёвывает, что продавать воздух (например&nbsp;компакт-диски&nbsp;или DVD) - крайне выгодное дело, и что они сделают нехилые бабки, загоняя бренчание гитарок доверчивым лохам.
</p>
<p>
&nbsp;
</p>
<p>
&nbsp; В следующих двух брошюрках говорится о патентах и торговых знаках, постигать тонкости которых&nbsp;Марко помогают его друзья - припанкованный китаец&nbsp;и мулатка с тремя глазами и двумя ртами, которую можно видеть на обложке центральной фотки.<br />
Заканчиваются все брошюры одинаково - весёлая компания радостно вопит: &quot;Да здравствует авторское право!&quot; и &quot;Мы заработаем много денег!&quot;
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;&nbsp; Я отношусь к современной системе копирайта как к необходимому злу, и подобное злостное промывание мозгов мне подозрительно.&nbsp; Поэтому я параноидально поискал в списке издателей брошюр&nbsp;знаменитых пугал&nbsp;современности - RIAA, MPAA и BSA. Эти образования крышуют&nbsp;корпорации, зарабатывающие бабло на потребителях масскульта. Первая отвечает&nbsp;за наезды на&nbsp;музыкальных пиратов, вторая - кинематографических,&nbsp;а третья - софтверных. Зловещих аббревиатур либерпанка мне отыскать не удалось, комиксы изданы под эгидой европейских госструктур на деньги фонда PHARE, которые нонче в Прибалтике не сосёт&nbsp;только ленивый.<br />
<br />
История покатилась куда-то вбок, мне стало лень продолжать, и потому окончание будет завтра.
</p>

	