Id: f47d8ca6-d76e-4c66-9f5e-5964614b3840
Title: "Ce bien!"
Published: "2006-02-26"
Slug: "2006-02-26 Ce bien_"
-
<p>
&nbsp;&nbsp;&nbsp; Не зря я <a href="https://fmd.soyuz.ru/">Троицкого</a> слушаю в <a href="https://www.echo.msk.ru/sound.html">прямом эфире</a> радио &quot;Эхо Москвы&quot;. Хоть это и в субботу&nbsp;ночью, и связь постоянно рвётся, и Троицкий во всяческий шлягер-шансон&nbsp;на старости лет уклонился, но всё-же интересной музыки хватает. Из последнего - группа The Knife и ещё музыкант&nbsp;T. RAUMSCHMIERE, на альбоме котого Blitzkrieg Pop я с удивлением услышал знакомый любимый голос - Сандру Насич из Guano Apes.
</p>
<p>
UPDATE: Ого, знатно я лоханулся. The Knife оказывается на питчфорке подсмотрел, а не у АКТ. Всё равно, лишь бы музыка нравилась.
</p>

	