Id: 8e3375a2-2df6-4d2d-be7b-85e41e64bc60
Title: "Арутунян"
Published: "2006-10-27"
Slug: "2006-10-27 Арутунян"
-
Чем я хуже всех? Тоже буду иметь мнение, которое&nbsp; ничем не подкреплено и никому не интересно, как это обычно случается с&nbsp;советскими интеллигентами.<br />
<a href="http://arutunyan.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> arutunyan</a>&nbsp;конечно не ангел, но Альбац ужасная свинья, судя по <a href="http://echo.msk.ru/programs/albac/">транскрипту</a>.

	