Id: c1c40ccf-37fa-4d71-86a9-c8d14b3ccd44
Title: "Да здравствуют научные достижения!"
Published: "2006-02-27"
Slug: "2006-02-27 Да здравствуют научные достижения_"
-
Ученые университета Иллинойса показали, что <a href="https://rus.delfi.lv/news/technology/discovery/article.php?id=13746762">квантовый компьютер работает даже выключенным</a>.<br />
Наверняка перед этим они в качестве туристов посетили фестиваль в Непале, где в честь Шивы <a href="https://rus.delfi.lv/news/entertainment/travel/article.php?id=13746742">состоялось массовое курение марихуаны.</a>

	