Id: e1c4c37f-964b-40d0-a106-34338f05bd06
Title: "Горячий шоколад"
Published: "2006-10-30"
Slug: "2006-10-30 Горячий шоколад"
-
Я вчера варил горячий шоколад, не в последнюю очередь благодаря <a href="https://www.expert.ru/columns/2006/10/17/krylov/print">отличной статье</a> известного лжеюзера-националиста <br />
<br />
Варил &quot;на глазок&quot;. Сначала подумал, что шоколад есть по акции, пошёл в магазин. В одном пусто, но в другом и вправду были литовские тёмные шоколадки Bitter недорого. Будь я верующим в экстрасенсорику надмозгом, сказал бы что это телепатия. Но поскольку бог, которого кстати нет, меня миловал, я использую разумное объяснение: у нас каждый день шоколад по акции - не в одном магазине, так в другом, не одна марка, так другая.<br />
<br />
Варить просто: наливаешь несколько напёрстков молока, растапливаешь шоколад на водяной бане. (Это когда кастрюля вставлена в другую кастрюлю -  с кипящей водой). Затем выливаешь туда весь остаток молока из пачки, кладёшь какао (если много чистого шоколада было жалко). Добавляешь сахара, немного ванили и корицы, кайенского перца, если есть. Сверху можно украсить сливками(можно и вместо молока класть нежирные сливки)<br />
<br />
Пить это надо сразу, горячим, запивая прохладной водой. Много его не выпьешь. А если готовить мало, только посуду испачкаешь вместо дела. Поэтому лучше всего позвать друзей, они точно помогут.

	