Id: c1a658a1-bc86-4296-99f4-6eeac48c9d98
Title: "Фото с работы"
Published: "2006-12-20"
Slug: "2006-12-20 Фото с работы"
-
<P align=justify>Ничего особенно интересного, только для тех, кому делать нечего. Фото немножко старые.</P><P></P><P align=center><IMG title="" src="https://foto.izvne.com/d/2660-3/IMG_1955.jpg"><br/>Это я</P><P></P><P align=left><A href="https://foto.izvne.com/v/Vladekk/LatInSoft/">Остальное</A> </P>
	