Id: c039465b-9f94-4622-b643-1b94e20083a3
Title: "Выборы и музыка"
Published: "2006-10-07"
Slug: "2006-10-07 Выборы и музыка"
-
<p>
Вот и проголосовали. Завтра результаты, но уже сейчас ясно, что &quot;русские&quot; партии&nbsp;сильно сдали с прошлого года - даже в сумме наберут меньше, чем раньше блок&nbsp;&quot;за пчёл&quot;<br />
<br />
Поскольку я тут обещал музыку рассказавшим про свои политические пристрастия. Вот - сдерживаю обещания, и в&nbsp;заодно рассказываю про пристрастия музыкальные.<br />
<br />
Мне тут сестра сказала, что им обоим&nbsp;(с парнем)&nbsp;понравились из той музыки, что я прислал,&nbsp;Dirty Three. Попросла нечто похожее.<br />
<br />
Выкладываю&nbsp; не сильно похожее, но тем не менее.<br />
<br />
Одна из моих любимых групп&nbsp;- фантастический Kammerflimmer Kollektief.&nbsp;Делает она&nbsp;атмосферный&nbsp; и авангардный электронный эмбиент-джаз.<br />
<br />
Последний альбом местами вообще крышу сносит, как и предыдущий (тот правда был мягче)<br />
<br />
Вот он:<br />
<a href="https://rapidshare.de/files/35876532/Kammerflimmer_Kollektief_-_2005_-Absencen.rar">https://rapidshare.de/files/35876532/Kammerflimmer_Kollektief_-_2005_-Absencen.rar</a>
</p>

	