Id: 56940435-03e2-426b-9786-7d17376c2b7e
Title: "<P>Мне вырвали два зуба мудрости, а теперь болит третий - справа внизу. Как к месту и не к мест"
Published: "2006-10-22"
Slug: "2006-10-22 _P_Мне вырвали два зуба мудрости, а теперь болит третий - справа внизу. Как к месту и не "
-
<p>
Мне вырвали два зуба мудрости, а теперь болит третий - справа внизу.<br />
Как&nbsp;к месту и не к месту говорит&nbsp;<a href="https://gugiens.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> gugiens</a>, &quot;Это какой-то тупик!
</p>

	