Id: ea7afbd1-4fde-49a7-8acb-af7ad92cb12a
Title: "Аццкие морковки наступают!"
Published: "2006-02-19"
Slug: "2006-02-19 Аццкие морковки наступают_"
-
&nbsp;&nbsp; Только что ел лимонный рис и рыбу, сделанные на новеньком модерновском агрегате &quot;Thermomix&quot; - миксере со встроенной электрокастрюлей. Капал в тарелку соплями и смотрел &quot;Кто хочет стать миллионером?&quot;.<br />
&nbsp;&nbsp; Там внешне легкомысленная, весёлая и ненапряжная тётя Светлана походя выиграла 3 миллиона.&nbsp; На вопросы отвечала с улыбкой, ойкала, не брала подсказок до последнего, и абсолютно не напрягалась по поводу потери нескольких миллионов. Такое ощущение, что она хитроумно и гнусно издевалась над зрителями, изображая пустоголовую, а на самом деле - это пришелец с чудовищным интеллектом и энциклопедическими познаниями.&nbsp;Или прямо в мозг&nbsp;у неё встроена мобильная сеть 4 поколения со скоростью в гигабит. <br />
&nbsp;&nbsp; Я вот например читал про Ватикан всякого, но всё равно не помнил, что на гербе у него <a href="http://en.wikipedia.org/wiki/Vatican_City">изображены ключи</a>. Хотя, если подумать, то это логично - ключи эти от Рая и принадлежат Св. Петру.<br />
&nbsp; Да, кстати. Я досмотрел LEXX - последний, 4 сезон. Есть удачные эпизоды, но в целом это провал. Ужасные тупые пародии на американскую действительность, ненатуральное поведение персонажей (такое ощущение, что у них склероз и они полные олигофрены) и плохой сценарий. Плюс классические американские &quot;физиологические&quot; шутки.&nbsp;Я конечно люблю South Park, но лишь как пародию на американский юмор, а не как американский юмор.<br />
&nbsp; &nbsp;&nbsp;Лишь немного&nbsp; отличных сумашедших&nbsp;находок вроде игры Кая на пианино в Трансильвании или Влада Дракулы, который оказался пришельцем-женщиной, слегка выправляют общую ситуацию.<br />
&nbsp; Рад за создателей, которые не стали мучать <strike>жопу</strike>&nbsp;зрителей и выпускать пятый сезон.

	