Id: f4486345-0622-4c2c-82ed-11c5a7c8246b
Title: "Gang Gang Dance"
Published: "2006-04-24"
Slug: "2006-04-24 Gang Gang Dance"
-
Однако буду выкладывать музыку, таки.<br />
С рейтингом лёгкости прослушивания, чтобы&nbsp;не пугались непосвящённые в тайны навороченного авангарда.<br />
Соответственно, чем больше циферка - тем&nbsp;больше альбом годится в качестве саундрека к процессу переваривания пищи.<br />
<br />
И если кому нужен&nbsp;альбом просто невероятно приятственной построк-психодел-неопсихофолк сборной солянки Gang Gang Dance, то он лежит здеся:<br />
<a href="http://www.sendspace.com/file/hv5g0f">http://www.sendspace.com/file/hv5g0f</a><br />
<strong>Лёгкость прослушивания: 5/5 - годится всем!</strong>

	