Id: 1f87d59a-2b54-4c97-9cac-4fdfea2cbd01
Title: "Несколько фраз моей училки по математике в основной школе."
Published: "2006-09-03"
Slug: "2006-09-03 Несколько фраз моей училки по математике в основной школе."
-
<p>
Несколько фраз моей училки по математике в основной школе. Судя по подборке, она была одновременно поэтом, солдатом и героем соцтруда.<br />
<br />
Навеяно <a href="https://markus-scevola.livejournal.com/14640.html?#cutid1">вот этим</a> <br />
Все цитаты дословные, thanx Толян<br />
<br />
Вы плохо дочь моя решали, рекомендую вам послушать <br />
<em>(Внутри физика умер лирик)<br />
<br />
</em>Поглядел бы какой латыш мои записи: сама придумаю слова и пишу.<br />
(Т<em>очно умер лирик)<br />
<br />
</em>Вы не вызываете не сочувствия, не любви, ничего<br />
(<em>А может и не умер</em>)<br />
<br />
Хорошая память запоминает навсегда и до весны<br />
(<em>Быть может не лирик, а прапорщик?)</em><br />
<br />
На доске вас не обманут<br />
<em>(В армии тоже)<br />
<br />
</em>Применение формул вам никто не простит<br />
(<em>Какие такие формулы? По уставу всё надо делать!)</em><br />
<br />
Давайте пощупаем этот пример<br />
(<em>Порногеометрия?)<br />
<br />
</em>Любые тела, даже человеческие, можно рассечь<br />
(<em>Хоррор-геометрия)<br />
<br />
</em>Тебя надо порезать, как в тех детективах, тогда ты поймёшь, что тебя всю порезали<br />
(<em>Продолжение темы</em>)<br />
<br />
Кишки я ваши не вижу, значит и рисовать надо невидимо<br />
(<em>Физиология на марше</em>)<br />
<br />
Говори, я же тебя не пугаю<br />
(<em>А это&nbsp;уже под вопросом)<br />
<br />
</em>Я вот всю жизнь стройная, потому что вкалываю<br />
(<em>О пользе труда для здоровья)<br />
<br />
</em>Книги надо носить. Попа будет стройней<br />
<em>(Продолжение темы)</em><br />
<br />
Надо быстрей работать, а то мужа уведут<br />
(<em>О пользе труда для личной жизни)<br />
<br />
</em>Запах мокрых тряпок - это очень невкусно<br />
(<em>А запах жжёных тряпок - это очень смешно)<br />
<br />
</em>Шевели мозгами, а не ртом!<br />
(<em>Занимайтесь любовью, а не войной</em>)<br />
<br />
Потеряла&nbsp;тряпку? Иди на мой голос<br />
(<em>Alone in the dark</em>)<br />
<br />
Что должен знать старщеклассник, когда выпускается? Сечение шара плоскостью<br />
(<em>Не поспоришь . . .)<br />
<br />
</em>Вы хозяева своей тетради<br />
(<em>На этой жизнеутверждающей ноте закончим)</em>
</p>

	