Id: cbb379bb-933e-4fb6-ba09-822119afb4b3
Title: "этот ваш ЖЖ"
Published: "2006-07-21"
Slug: "2006-07-21 этот ваш ЖЖ"
-
<p>
Посмотрел я на свою френдленту, и разозлился почему-то. То&nbsp;пафосные рассуждения, то лытдыбры. И читать не хочется, и писать не хочется.<br />
А вообще мы последние три дня учились играть в бридж. Что-то мне говорит, что способных играть в Бридж на планете ещё меньше, чем два процента, способных решить знаменитую задачу Эйнштейна.<br />
<br />
</p>

	