Id: a7563b5e-47ec-4082-9e92-3f144e7106a7
Title: "Топ-10 2006 года"
Published: "2006-12-11"
Slug: "2006-12-11 Топ-10 2006 года"
-
<P>Не знаю, как я буду постить список лучших десяти&nbsp;альбомов в <lj comm="best_of_2006">.<br/><br/>Я с трудом набираю 10 штук, чтобы они мне действительно сильно нравились. Я сначала думал, что это из-за небольшого количества прослушанного. Но глянул в библиотеку Winamp&nbsp;- а там&nbsp;больше 100 штук только оставленных (а сколько ещё потёрто).<br/><br/>Выходит, что&nbsp;ничего хорошего не выходит.<br/>Я&nbsp;или охладел к музыке,&nbsp;или&nbsp;невнимательно слушал и мне придётся переслушивать.<br/>Или выходит, что ничего хорошего не выходит.</P>
	