Id: 275df01a-04f7-4fb3-ab30-4248cddcfed8
Title: "Если вы не знали, то знайте: каждый день на земле умирают 50000 человек от голода, болезней и нех"
Published: "2006-09-29"
Slug: "2006-09-29 Если вы не знали, то знайте_ каждый день на земле умирают 50000 человек от голода, болезн"
-
<p>
Если вы не знали, то знайте: каждый день на земле умирают 50000 человек от голода, болезней и нехватки питьевой воды. Из них 16000 детей (цифры приблизительные, скорее всего больше)
</p>

	