Id: 8b81a9ae-d3e5-4dec-be44-e27e5c680537
Title: "Англо-русский словарь для Firefox"
Published: "2006-12-10"
Slug: "2006-12-10 Англо-русский словарь для Firefox"
-
<P>Искал вчера такое расширение для Firefox:&nbsp;наводишь мышку на английское слово,&nbsp;всплывает перевод на русском. <br/>Нашёл нечто похожее, но без русского - <A href="https://addons.mozilla.org/firefox/2830/">Oak Vocabulary.<br/></A>Немного помучившись,&nbsp; добавил туда Lingvo.<br/><br/>Хотите себе? Добавить русский можно так.<br/>Устанавливаем <A href="https://addons.mozilla.org/firefox/2830/">расширение</A>, нажимаем внизу на синюю книжечку правой кнопкой, выбираем Configure Dictionaries, там нажимаем кнопку Add и заполняем поля:<br/><br/>Dictionary: Lingvo<br/>Search URL: <A href="http://lingvo.yandex.ru/q?text=$$$$">http://lingvo.yandex.ru/q?text=$$$$</A><br/>charset: utf8<br/>Parser: ret = getPartHtml(html, '&lt;DIV LANG=ru', '&lt;div', '&lt;/div&gt;', 'No entry found for');<br/><br/>Потом нажимаем OK и можно пользоваться:<br/>либо двойной щелчок на слово на странице, либо правой кнопкой и Check, либо наводим мышку на слово, удерживая Control.<br/><br/>В качестве бонуса: словарь переводит не только с английского, но и с других языков.</P>
	