Id: c4671adb-e3a1-4582-be26-6a3eadf46df3
Title: "Pitchforkmedia best of 2006"
Published: "2006-12-19"
Slug: "2006-12-19 Pitchforkmedia best of 2006"
-
<P>Хехе, у меня смешно получается с <A href="https://pitchforkmedia.com/article/feature/40007/Staff_List_Top_50_Albums_of_2006/page_5">топами</A> МедиаВил. В целом я с первой десяткой обычно не очень согласен, но парочка коллективов всегда в согласии с моей точкой зрения.<br/><br/>На этот раз могучие The Knife оказались на первом месте, что есть истинная правда.<br/><br/>К сожалению, это не отменяет того факта, что музыка эта никак не будет вечной, и&nbsp; надоедает она довольно быстро. Но&nbsp; поскольку это отражает тенденцию года для меня, то ничего страшного.<br/></P>
	