Id: bb46ba96-6ceb-460b-8c6e-99374398ba00
Title: "Почтальон"
Published: "2006-05-06"
Slug: "2006-05-06 Почтальон"
-
<p align="justify">
&nbsp; Уже несколько недель слушаю &quot;приставочную&quot; музыку с <a href="http://www.8bitpeoples.com/">www.8bitpeoples.com</a>. Здорово, очень здорово. Вспоминается кусочек восьмибитного дестства (игровая приставка, известная&nbsp; как &quot;Денди&quot;&nbsp;, правильное название -&nbsp;NES).&nbsp;Радует, что все релизы бесплатные и&nbsp;короткие&nbsp;- минут 15-30.<br />
&nbsp;&nbsp; Прочитал книгу <a href="http://www.lib.ru/INOFANT/BRIN/postman.txt">&quot;Почтальон&quot;</a>&nbsp;Дэвида Брина. Наверное, многие знают одноимённый фильм, но я его не смотрел. Книга хорошая, особенно для тех, кто&nbsp;обожает постапокалиптическую тематику. Она пожет показаться слишком простой и бесхитростной, но я давно уже понял, что навороченность, сложность и заумность - далеко не синоним крутости.<br />
&nbsp; Вообще Дэвин Брин - хороший&nbsp;фантаст, я читал несколько его книг. Отличаются они отличным юмором и тщательностью выписывания сюжета и персонажей.&nbsp;Очень странно,&nbsp;но я даже не знал, что &quot;Почтальона&quot; написал он. Надо бы перечитать цикл: &quot;Война за возвышение&quot;.
</p>
<p>
&nbsp;
</p>
<p align="center">
<strong>ПОЗИТИФФ.</strong>
</p>

	