Id: 8a95844b-444b-42be-8021-1ccb674958dd
Title: "Хорошие новости для параноиков"
Published: "2006-03-02"
Slug: "2006-03-02 Хорошие новости для параноиков"
-
&nbsp;&nbsp;&nbsp; Параноикам и сторонникам БББ (Большой Брат Бдит) стоит прочитать&nbsp;<a href="https://rus.delfi.lv/news/technology/discovery/article.php?id=13767209">новость про то</a>,&nbsp;как код времён второй мировой войны, четырёхдисковую энигму, взломали только сейчас, причём немалой ценой.<br />
Это означает в частности то, что современные коды с длинными ключами (256 бит и больше) взломать в настоящий момент невозможно, по крайней мере до появления полноценных квантовых компьютеров. Так что пользуйтесь Скайпом, PGP и не волнуйтесь по поводу мрачных спецслужб,&nbsp;без сомнений упорно читающих все ваши&nbsp;скучнющие жизнеописания, посланные открытым текстом.<br />
<br />
<a href="https://mistrale1514.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> mistrale1514</a>, можешь показать это сама знаешь кому, хотя это его вряд ли успокоит.

	