Id: b62d97a4-72a4-4a63-9967-4242006ba64a
Title: "Нде"
Published: "2006-10-31"
Slug: "2006-10-31 Нде"
-
<P>Ну и как не быть self-destructive?<br/>Вот скажем <a href="https://phoneme.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> phoneme</a>&nbsp;с её мироощущением сказала бы, что надо надеятся на лучшее и не отчаиваться, работать и стремится к&nbsp;изменениям.&nbsp;Но так хорошо говорить талантливым и работящим, а что делать простым людям?<br/><br/>Вдогонку к этому же - что делать человеку, который&nbsp;<STRONG>видит</STRONG>&nbsp;и&nbsp;<STRONG>понимает</STRONG> уровень настоящих профессионалов и выдающихся людей, но знает, что не способен его достигнуть? (по разным причинам)<br/><br/>Утешать себя, что он не так уж плох? Искать счастье в другом? Забить эти мысли в дальний угол?</P>
	