Id: e3743efb-0d00-4223-86d8-73386e7592cf
Title: "Википедия"
Published: "2006-04-17"
Slug: "2006-04-17 Википедия"
-
Интересная дискуссия развернулась у <a href="http://avva.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> avva</a>&nbsp;по поводу Википедии.<br />
<a href="http://avva.livejournal.com/1539534.html">http://avva.livejournal.com/1539534.html</a><br />
Я лично считаю что Википедия - отличная штука. <br />
Что есть сказать по поводу:<br />
1) Технические и справочные (&quot;естественнонаучные&quot;) данные, которые интересны только специалистам, часто пишут специалисты, и никто их коверкать не станет. Достоверность их там вполне достаточна, чтобы&nbsp;получить представление о предмете. Касается ли это фрукта <a href="http://en.wikipedia.org/wiki/Lychee">Lychee</a>, <a href="http://en.wikipedia.org/wiki/Hamming_coding">кодов Хэмминга</a>&nbsp;или моего родного города&nbsp;<a href="http://en.wikipedia.org/wiki/Daugavpils">Daugavpils</a>&nbsp;(это статьи, первыми пришедшие на ум)<br />
2)С ростом количества редактирующих участников сработает закон перехода количества в качество. При наличии явно некорректных данных любая мало-мальски популярная статья будет немедленно исправлена. А статьи, где всё многое зависит от точки зрения, в любом случае нигде и никогда не будут идеальны.

	