Id: 2cc18ace-ddf0-4ff5-af0a-449a408cc2a3
Title: "Хехе"
Published: "2006-04-19"
Slug: "2006-04-19 Хехе"
-
<p>
&nbsp;&nbsp; Вчера я, как обычно по вторникам, приехал в Ригу на утреннем экспрессе.&nbsp;Мне оченно&nbsp;нравится говорить &quot;приехал на экспрессе&quot; - наверно это из детства, где я недокатался на поездах, хотя это дело всегда любил. Ещё мне нравится приезжать в Ригу - классное ощущение. Всего несколько лет назад Столица казалась чем-то большим и страшным. Непонятно куда идти, что делать, и вообще&nbsp; люди все деловитые и их много. А сейчас даже думать не надо - ноги сами несут в нужном направлении, руки покупают билеты на транспорт, а мозг в процессе не задействован. Остаётся только приятное чувство удивления - 3 часа назад ты был в небольшом и спокойном Даугавпилсе, а сейчас любуешься Вантовым мостом,&nbsp;Даугавой и&nbsp;панорамой старой Риги. Причём ощущаешь это всё&nbsp;вполне своим, близким и&nbsp;понятным.<br />
&nbsp;&nbsp;Впрочем, мы отвлеклись.&nbsp;Опять-таки, по традиции, я&nbsp;зашёл к однокурсникам в общагу. Они даже и волнуются, если я появиляюсь на полчаса позже - так привыкли к регулярным визитам.&nbsp;&nbsp;Поговорили о всяком, не затрагивая однако&nbsp;тему&nbsp;предстоящей контрольной. <br />
&nbsp;&nbsp; И потому на контрольную я пришёл лёгким как ангел - просто абсолютно ничего не зная. Как говорится, &nbsp;&quot;Zilch&quot;.&nbsp;Какие шпоры, вы о чём? Мне их уже год как лень готовить. А в этот раз лень достигла апогея и стала отетью (или отетем?) - мне было в лом печатать даже слайды лекций, которые были в наличии. Уже перед самой контрольной пришёл ко мне робот-терминатор Валерыч и и лампочками промигал: &quot;Недостаточно ресурсов для выполнения операции&quot;. Я ему выделил ресурсов в виде Латов (не рыцарских, а нацвалюты), дабы он осуществил задуманное - распечатал слайды себе и мне. Вот так сама судьба дала мне в руки средство пережить кое-как контрольную. Кое-как потому, что слайдов было мало, а вопросов много, и все не по теме. <br />
&nbsp; В&nbsp;процессе списывания препод вопросила:&quot;А что это вы там такое интересное на стуле разглядываете?&quot;. Я спокойно улыбнулся и сказал &quot;Zilch&quot;. Затем стал складывать кучу бесформенной бумаги вместе, дабы запихнуть компромат куда подальше. Однако препод на этом не успокоилась, не поленилась встать и подойти полюбоватся на вспомогательные материалы.&nbsp;К счастью, я уже успел скатать из распечаток колобка и запихнуть&nbsp;в карман.<br />
&nbsp; Затем равнодушно сообщил: &quot;Здесь ничего не было&quot;.
</p>
<p>
&nbsp;
</p>
<p align="right">
Хроники РТУ, 5 курс. 
</p>

	