Id: bc2f26f1-02b6-4135-a869-8fe3ca24bc60
Title: "Солнечный денёк"
Published: "2006-01-19"
Slug: "2006-01-19 Солнечный денёк"
-
<p>
Результат <a href="/post/2006-01-13%20%D0%96%D1%83%D1%82%D0%BA%D0%B8%D0%B9%20%D1%8D%D0%BA%D0%B7%D0%B0%D0%BC%D0%B5%D0%BD">Жуткого Экзамена</a> оказался вовсе даже не страшным.&nbsp;Но только &nbsp;потому, что препод нарушила своё правило не пребавлять резльтаты лаб тем, кто сдал меньше, чем на 5.&nbsp;У меня за экзам получается около 4.7+3.8 за лабы. Итого 8.5. <br />
А поставили мне 8. Обидна чуток, но что поделаешь.<br />
Друзья сдали кто как, но в общем терпимо.<br />
<br />
Результат <a href="/post/2006-01-18%20%D0%9F%D0%B0%D1%80%D0%B0%20%D1%81%D0%BB%D0%BE%D0%B2%20%D0%BE%20%D0%A1__">Простого Экзамена</a>, навпротив, оказался не<strong> блестящим</strong>, а всего лишь <strong>выдающимся</strong> Эпитеты взяты из официальной документации РТУ,&nbsp;в которой блестящая работа=10, а выдающаяся=9.<br />
Двум самым умным друзьям - 10, остальным - 9.<br />
<br />
Остался последний экзамен, вернее простая курсовая работа и программа. <br />
Пока результаты такие: 9,7,8,9. Десятка смотрелась бы очень гармонично.<br />
<br />
Ещё&nbsp; странная история - ложился спать в майке, чтобы не проснуться синеньким остывшим трупом. Ночью проснулся от холода, обнаружил, что майка висит на стуле. Озадачило.<br />
Утром&nbsp;пришёл робот терминатор Валерыч, и пробибикал, что на улице слегка прохладно. Теперь боюсь выйти из комнаты и обнаружить, что в умывальниках замёрзла вода.<br />
Обещают до -35, 90% влажности и ветер 12 м/с.<br />
А за окном вовсю сверкает солнце.
</p>

	