Id: 669aa822-432a-452b-92ee-2164543377af
Title: "Музыка"
Published: "2006-05-27"
Slug: "2006-05-27 Музыка"
-
<p>
&nbsp;&nbsp;&nbsp;<img src='/files/0A96341FF1011AC9F8688EDA72FF4C3F.jpg'  alt="" /><br />
&nbsp;&nbsp;&nbsp; Дебютная пластинка девушки-группы по имени Le Volume Courbe (перевод - &quot;кривое место&quot; или &quot;изогнутый объём&quot; ?) под названием I killed my best friend (Я убила своего лучшего друга). Смахивает на CocoRosie, но, на мой взгяд, звучит даже лучше. Акустическая гитара с явственными мелодиями, таинственные электронные призвуки и тяжёлые звуки - наследие трип-хопа, и ко всему этому живой, нервный и своевольный женский вокал. Звучит неприглаженно и странновато,&nbsp;отвечая названию группы. <br />
<a href="https://rapidshare.de/files/21476538/Le_Volume_Courbe_-_2005_-_I_Killed_My_Best_Friend.rar.html">Le_Volume_Courbe_-_2005_-_I_Killed_My_Best_Friend.rar.html</a>&nbsp;<br />
Ссылка на&nbsp;rapidshare,&nbsp;файлы mp3 256k Kbit/s, архив&nbsp;RAR с записью для&nbsp;восстановления от сбоев. Хранится будет вечно.
</p>

	