Id: 20dce79a-85f2-448a-8e44-03bad1f1659e
Title: "История"
Published: "2006-06-27"
Slug: "2006-06-27 История"
-
<p>
пишет моя сестра <a href="http://mistrale1514.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> mistrale1514</a><br />
В связи с храпунами Слава вспомнил презабавнейшую историю. Ехал он еще в советское время в поезде плацкартом. Куда ехал, для истории неважно, а придумывать я не хочу. Ему крупно повезло заснуть до того, как уснул один мужчина - бывший военный. После этого во всем вагоне не спал больше никто. Слава сам слышал с утра его храп, говорит, что было похоже на взлет военных истребителей (поверьте мне, это очень-очень громко, себя не слышно, если вслух сказать что-то). Потом они с этим военным разговорились, и он сказал, что в свое время был третьим храпуном в СССР. Естественно, Слава поинтересовался, откуда такая точность. Оказалось что во время олимпиады в Москве в 1980 году КГБ решило помешать иностранным спортсменам хорошо отдохнуть перед отвественными состязаниями, для чего в гостиницу в каждый второй номер были подселены лучшие храпуны СССР. Отбирали их из военных, так этот мужчина и узнал .что он третий в союзе.
</p>

	