Id: 0e24c988-4343-489d-932f-ddaf198f9194
Title: "Лиго"
Published: "2006-06-23"
Slug: "2006-06-23 Лиго"
-
<p>
Сегодня было 32 градуса. Вот вам смешно. А если я буду музыку слушать, у меня стол загорится от нагрева усилителя.<br />
Завтра (ночью) латвийский национальный праздник Лиго. Его атрибуты - мужчины по имени Янис, девушки по имени Лига, прыжки через костёр.&nbsp;Далее - пиво, сыр и поиск цветка папоротника. Но превыше всего - обязательный дождь.&nbsp; Папка говорит, что во время советской власти его не было, и что начался он&nbsp;после независимости. Это как-бы природа намекает некогда братским народам, что ссориться нехорошо. И Лиго&nbsp;нас&nbsp;действительно объединяет. В отличие от <a href="/post/2006-05-23%20%D0%94%D1%80%D0%B5%D0%B2%D0%BD%D0%B8%D0%B9%20%D0%BF%D0%BE%D1%81%D1%82">хокея</a>.
</p>

	