Id: cc3909fd-e69d-4469-8703-ab9ef17bacc7
Title: "Музыкальная инфляция"
Published: "2006-10-28"
Slug: "2006-10-28 Музыкальная инфляция"
-
<p>
Я не могу такое дикое количество музыки слушать, у меня музыкальное отравление начинается. Неужто те, кто слушает по два-три новых диска в день, вникают?&nbsp;И помнят ли они вообще, понравилось им или нет? Или это я тормоз и просто не могу кайфовать от музыки целый день подряд?<br />
Или тут ещё играет&nbsp;роль то, что на работе я могу слушать только в&nbsp;средненьких наушниках, а дома - совсем недолго по времени, и в обоих случаях не могу пристально вслушиваться. Плюс обычно&nbsp;забываю включить (а ведь надо ещё и выбрать?)<br />
<br />
А <a href="http://walkabout_d.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> walkabout_d</a>&nbsp;ещё и горы всяких хитроумных фильмов смотрит, я бы вообще с ума сошёл, если бы попробовал так.<br />
<br />
P.S.&nbsp;Для тех, кто&nbsp;удивляется,&nbsp;о чём речь: на Радиоархиве появятся ещё две или даже&nbsp;четыре! новых передачи.&nbsp;А альбомов я скачиваю как минимум 5 в неделю. Это как болезнь просто. Лучше бы слушал GYBE, пока не выучу до последнего звука.<br />
<br />
Вот кстати скачайте этих страшно раскрученных шведов, потому как&nbsp;знамениты они оправданно:<br />
<a href="http://rapidshare.com/files/280916/_2006__-_The_Knife_-_Silent_Shout.rar">http://rapidshare.com/files/280916/_2006__-_The_Knife_-_Silent_Shout.rar</a><br />
Лёгкость прослушивания: <strong>5, </strong>наверное
</p>
<br />
<br />
<br />
<strong>UPDATE:</strong> совсем забыл. Пароль на арихив - &quot;fmd&quot; (без кавычек)

	