Id: 266dd96e-4be8-4a01-9fe6-e08595041d0b
Title: "PlasmaPong"
Published: "2006-03-04"
Slug: "2006-03-04 PlasmaPong"
-
<p>
Удивительная игра. Очень красивая и с крутой физикой.<br />
По сути продвинутый пинг-понг с физикой плазмы (жидкости?). <br />
Мой рекорд&nbsp;за 2 игры - 19 место.<br />
<a href="http://vladek.richnet.lv/downloads/PlasmaPong.rar" target="_blank">Качать&nbsp;(6.5MB</a>)<br />
<u><font color="#0000ff">О<a href="http://plasmapong.com/"><u><font color="#0000ff">фициальный</font></u></a> сайт<br />
</font></u><a href="http://216.120.241.243/~plasmap/"><br />
</a>via&nbsp;<a href="http://apazhe.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> apazhe</a>
</p>
<br />
UPDATE: Требует очень мощного процессора! От 2000 и выше. На моём 2800+ работает нормально только на 1024x768

	