Id: 01d992eb-30a8-4fb8-a6cb-9e150b600a5c
Title: "Статистика файрфокса"
Published: "2006-10-11"
Slug: "2006-10-11 Статистика файрфокса"
-
Согласно <a href="https://www.artlebedev.ru/tools/browsers/">статистике</a> Арт.Лебедева, пользователей броузера <a href="https://getfirefox.ru">файрфокс</a> 9%. <br />
<br />
Поскольку по статистике из нормальных источников их 15-20%, можно сделать вывод, что те, кто составляет разницу, просто режут рекламу с помощью adblock.<br />
<br />
И правильно делают, потому что реклама должна быть контекстной и в ограниченном количестве.

	