Id: a35e97dd-37fc-4d94-9f0e-a28c6a0b1c03
Title: "Золотые Оргазмические Близнецы"
Published: "2006-05-08"
Slug: "2006-05-08 Золотые Оргазмические Близнецы"
-
Музыка на сегодня - достаточно добрая и домашняя. Я бы определил её как нео-кантри, но на allmusic.com&nbsp;сказали точнее - пост-фолк.<br />
Для не столь продвинутых&nbsp;в музыкальном словоблудии переведу. Группа с забавным названием Climax Golden Twins (Оргазмические Золотые Близнецы?) играет акустическую музыку, полную задумчивых мелодий на гитаре и банджо, фальшивых голосов с древних шеллаковых грампластинок и мягких потрескивающих шумов.<br />
Чем то&nbsp;напоминает The Books,&nbsp;волну неофолка и&nbsp;даже Coleen, но звучит отнюдь не&nbsp;сурово, резко и очерчено, а расплывчато. В духе Animal Collective, хотя и по-другому.<br />
Чтобы не пугать народ - объявляю <strong>лёгкость прослушивания 3<br />
</strong><a href="https://rapidshare.de/files/19889544/Climax_Golden_Twins_-_2004_-_Highly_Bred_and_Sweetly_Tempered.rar.html">https://rapidshare.de/files/19889544/Climax_Golden_Twins_-_2004_-_Highly_Bred_and_Sweetly_Tempered.rar.html</a>

	