Id: 1ba3f3aa-65f3-4e88-8f00-53bc7615a82f
Title: "Про усердных и талантливых"
Published: "2006-11-11"
Slug: "2006-11-11 Про усердных и талантливых"
-
<p>
В новом выпуске журнала &quot;В мире науки&quot; есть статья про талантов и гениев.&nbsp;Согласно новейшим&nbsp;исследованиям &quot;талант&quot; играет совсем небольшую роль, а усердие и мотивация - напротив, громадную. Теперь будет полный облом отмазкам, что ты туп и у тебя таланта нет.<br />
У всех есть, но им лень.<br />
Впрочем, там приводится число. Чтобы освоить какую-то область знаний как следует, требуется 10 лет. Я начал программировать в 13 и даже раньше, так что&nbsp;есть шанс, что хоть это я немного умею.
</p>

	