Id: 1118a275-62ab-4765-8606-8fcbef231097
Title: "Дьявол уже на земле."
Published: "2006-06-08"
Slug: "2006-06-08 Дьявол уже на земле."
-
Внесу свою юмористическую лепту в &quot;жуткую&quot; дату 06.06.2006<br />
Мой&nbsp;папа&nbsp;только что проверил работы студентов.<br />
Затем выставил оценки в ведомость и выпал в осадок.<br />
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/16673/377_large.jpg"><img data-src="/files/lj/16673/377_big.jpg" alt="" title="Увеличить" /><br />
</a>Заодно любители лингвистики поизучают латышский. А для танкистов примечание - в Латвии десятибальная шкала, 6 - gandrīz labi, &quot;почти хорошо&quot;.

	