Id: 08c65fda-e00b-45a1-aa65-f9df94f784f2
Title: "Москва"
Published: "2006-08-11"
Slug: "2006-08-11 Москва"
-
Я выезжаю из Даугавпилса в Москву в пятницу 11 числа в 17.25 по&nbsp;латвийскому времени. Это через 2 часа.<br />
Буду в Москве в субботу утром.<br />
Моя е-почта vladislavs.k собака gmail.com если кто ещё не в курсе. Телефончики кидаем, да?<br />
<a href="https://gugiens.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> gugiens</a>, гад, на письма не отвечает, а если ещё и на звонок не ответит,&nbsp; ночевать буду в картонной коробке под мостом :-)

	