Id: 35fc7f60-9027-4ea5-98d5-2503511ebe53
Title: "СУП"
Published: "2006-10-22"
Slug: "2006-10-22 СУП"
-
<p>
По поводу <a href="https://lenta.ru/articles/2006/10/19/livejournal/">СУПа</a> - паники не понимаю, <a href="https://immoralist.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> immoralist</a>&nbsp;точно и изящно <a href="https://immoralist.livejournal.com/398024.html">всё расписал</a>. <br />
Единственное, что есть добавить - неужели&nbsp;эти истеричные&nbsp;жжисты&nbsp;доверяют&nbsp;свои тайны и действительно важную информацию чужому сервису с сомнительными условиями пользования?&nbsp;Как можно не понимать, что&nbsp;по-настоящему важное надо&nbsp;сообщать с глазу на глаз, или хотя бы по скайпу.&nbsp;Или же они сильно переоценивают свою значимость и живут так, что любая мелочь может им повредить.
</p>

	