Id: d0b0ccad-fd4d-4024-ba0d-fadc35f3eb4f
Title: "Я обычно не участвую, но тут забавная штука"
Published: "2006-09-30"
Slug: "2006-09-30 Я обычно не участвую, но тут забавная штука"
-
[more text=Флешмоб:  История моих дебильников ]<br />
<div align="center">
<br />
<table border="0" cellspacing="0" cellpadding="0" width="400">
	<tbody>
		<tr>
			<td colspan="2"><img src='/files/F831E9FBEB5004EEB9DF75286EEFF247.png'  alt="Студия YourLAB.ru Представляет: История моих  мобильных" /></td>
		</tr>
		<tr>
			<td colspan="2">
			<div align="center">
			<table border="1" cellspacing="0" cellpadding="0" width="400" height="19" bgcolor="#ffffff" bordercolor="#000000">
				<tbody>
					<tr>
						<td height="17">
						<div align="center">
						<table border="0" cellspacing="0" cellpadding="0" width="400">
							<tbody>
								<tr>
									<td width="100%">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="2">
									<table border="0" cellspacing="0" cellpadding="0" width="398">
										<tbody>
											<tr>
												<td width="130">
												<p align="center">
												<font face="Tahoma"><img src="http://www.sotovik.ru/netcat_files/168_79.jpe" alt="" /></font>
												</p>
												</td>
												<td width="268">
												<div align="center">
												<table border="0" cellspacing="0" cellpadding="0" width="300">
													<tbody>
														<tr>
															<td><font face="Tahoma">Модель: <strong>Siemens C55</strong></font></td>
														</tr>
														<tr>
															<td><font face="Tahoma">Маленький и женственный, набит функциями, но ещё не до конца. Работал отлично, но внешний вид в конце-концов достал.</font></td>
														</tr>
														<tr>
															<td>
															<hr size="1" noshade="noshade" />
															</td>
														</tr>
														<tr>
															<td><font face="Tahoma">Отдал папе, когда купил себе следующий. У папы он трудится в страшных условиях - в сетке с железяками или на верстаке среди опилок и стружек, но ему всё нипочём.</font></td>
														</tr>
														<tr>
															<td><font face="Tahoma"></font><br />
															</td>
														</tr>
													</tbody>
												</table>
												</div>
												</td>
											</tr>
											<tr>
												<td colspan="2" width="398">
												<hr size="1" noshade="noshade" />
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td colspan="2">
									<table border="0" cellspacing="0" cellpadding="0" width="398">
										<tbody>
											<tr>
												<td width="130">
												<p align="center">
												<font face="Tahoma"><img src="http://www.sotovik.ru/netcat_files/168_299.jpg" alt="" /></font>
												</p>
												</td>
												<td width="268">
												<div align="center">
												<table border="0" cellspacing="0" cellpadding="0" width="300">
													<tbody>
														<tr>
															<td><font face="Tahoma">Модель: <strong>Nokia 3510</strong></font></td>
														</tr>
														<tr>
															<td><font face="Tahoma">Одолжил друг, пока семён c65 был в ремонте</font></td>
														</tr>
														<tr>
															<td>
															<hr size="1" noshade="noshade" />
															</td>
														</tr>
														<tr>
															<td><font face="Tahoma">Отдал обратно, как только вернулся c65</font></td>
														</tr>
														<tr>
															<td><font face="Tahoma"></font><br />
															</td>
														</tr>
													</tbody>
												</table>
												</div>
												</td>
											</tr>
											<tr>
												<td colspan="2" width="398">
												<hr size="1" noshade="noshade" />
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td colspan="2">
									<table border="0" cellspacing="0" cellpadding="0" width="398">
										<tbody>
											<tr>
												<td width="130">
												<p align="center">
												<font face="Tahoma"><img src="http://www.sotovik.ru/netcat_files/168_870.jpg" alt="" /></font>
												</p>
												</td>
												<td width="268">
												<div align="center">
												<table border="0" cellspacing="0" cellpadding="0" width="300">
													<tbody>
														<tr>
															<td><font face="Tahoma">Модель: <strong>Siemens C65</strong></font></td>
														</tr>
														<tr>
															<td><font face="Tahoma">Купил по акции с привязкой к ЛМТ. Обошёлся в копейки. Жаль, что злое ЛМТ не написало на сайте, что по акции есть ещё и cx65. Но и этот телефон - просто чудо по мощи и функциям, почти смарфон. Я на его крошечном экранчике даже книжки читаю, пока еду в автобусе, удобно. От небрежного обращения пошла полоска по экрану, чинили 2 месяца, и взамен ничего не дали.</font></td>
														</tr>
														<tr>
															<td>
															<hr size="1" noshade="noshade" />
															</td>
														</tr>
														<tr>
															<td><font face="Tahoma">И по сей день со мной. Но у него есть большие шансы быть сменённым смартфоном qtek 2020i и его клонами. А он сам отправится маме, у которой мобильника пока нету.</font></td>
														</tr>
														<tr>
															<td><font face="Tahoma"></font><br />
															</td>
														</tr>
													</tbody>
												</table>
												</div>
												</td>
											</tr>
											<tr>
												<td colspan="2" width="398">
												<hr size="1" noshade="noshade" />
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			</td>
		</tr>
		<tr>
			<td>
			<p align="center">
			<font face="Tahoma"><a href="http://www.yourlab.ru/mobiles.shtml">Установить себе</a></font>
			</p>
			</td>
			<td>
			<p align="center">
			<font face="Tahoma">&copy; <a href="http://www.yourlab.ru/">Студия YourLAB.RU</a></font><font face="Tahoma"><br />
			Изображения:<a href="http://www.sotovik.ru/">Sotovik.RU</a></font> 
			</p>
			</td>
		</tr>
	</tbody>
</table>
</div>

	