Id: 60bc977e-4995-43a2-9ace-5d7f19b37d50
Title: "Чух-чух-чух"
Published: "2006-06-21"
Slug: "2006-06-21 Чух-чух-чух"
-
<p>
Знаете как я вчера домой добирался?<br />
Пришёл на ж/д вокзал.&nbsp;Узнал, что билетов на экспресс нет. Купил на вечерний дизель для мазохистов. Пошёл на перрон. Узнал, что на экспресс есть стоячие места в тамбуре. Залез в вагон. Стоя в тамбуре, размахивал билетом на вечерний&nbsp;поезд и всем предлагал его подарить. Никто не соблазнился. Мимо проходила знакомая девушка по имени Бетти&nbsp;Алиса Берга Андерсон. Предложил ей билет. Не захотела, ушла. Вернулась, предложила сдать его обратно в кассу. Отдал ей билет. Поезд тронулся. Проводница предложила отдать ей билет на дизель и доплатить. Удивился. Сказал, что&nbsp;у меня его уже нет. Удивилась.<br />
Сидел в тамбуре в ступеньках, читал брошюрку Pervasive Computing от IBM. Там пишут, что&nbsp;процессоры будут везде.&nbsp;И в унитазах тоже. Они будут договариваться&nbsp;с вашей попой, какой объём экскрементов поступит.&nbsp;Не впечатлило.
</p>

	