Id: fce92725-1a8e-4e61-960c-b60e60fce160
Title: "Только не мой моск!"
Published: "2006-06-02"
Slug: "2006-06-02 Только не мой моск_"
-
<p>
Северокорейский лидер Ким Чен Ир и вправду величайший в мире вождь! <strong>Согласен с ним по всем пунктам!</strong><br />
<a href="http://rus.delfi.lv/news/entertainment/yellow/article.php?id=14607263"><em>Курильщиков Ким Чен Ир называет &quot;одними из трех типов дураков XXI века&quot;. Двумя другими он считает тех, кто ничего не знает о музыке и компьютерах.</em></a>
</p>

	