Id: 9ab6aab9-5334-4997-bd05-0cffecf15d87
Title: "Сижу злюсь"
Published: "2006-11-11"
Slug: "2006-11-11 Сижу злюсь"
-
<p>
Предлагаю устроить заговор с целью уничтожения корпорации Майкрософт.<br />
Использовала игра предыдущую версию Managed DirectX - всё работало.<br />
Переделал на XNA Framework - стала неправильно считаться физика, отличаясь на миллионную долю, которую невозможно выловить и понять, где&nbsp; и&nbsp; в чём ошибка.<br />
И что прикажете теперь делать?
</p>

	