Id: c149ec0b-1c77-41e2-ba67-bd1d0146c734
Title: "Хостинг"
Published: "2006-10-03"
Slug: "2006-10-03 Хостинг"
-
<p>
Редко мне на голову сваливается такой приятный кирпич. Но вот, свалился.<br />
<a href="https://www.dreamhost.com/hosting.html">https://www.dreamhost.com/hosting.html</a><br />
<br />
Коротко: мой хостинг<a href="#ast">(1)</a> dreamhost.com, который&nbsp;и раньше был сумашедшим в хорошем смысле, увеличил количество места&nbsp;и траффика в нереальное количество раз.<br />
<br />
Объясняю, что значит нереальное количество: у меня теперь 200 гигабайт места, которое я могу использовать под личные фотки и проект <a href="https://radio.super.lv/">https://radio.super.lv</a>&nbsp;<br />
<br />
Более того&nbsp;- место растёт на 1 ГБ в неделю. Траффика - 2 ТБ в месяц, растёт на 16 ГБ в неделю.<br />
<br />
Плюс сегодня, все сутки 3 октября по времени PDT (pacific day time) у них сверхскидка в 99$&nbsp; при покупке хостинга на год или&nbsp;больше - надо лишь ввести код 9999.<br />
<br />
Я до сих пор не могу поверить,&nbsp;что такое возможно.<br />
<br />
<a name="#ast" title="#ast"></a>1)&nbsp; Хостинг - это место на сервере в интернете, где хранятся сайты. То есть если ты хочешь сайт, тебе нужно его где-то положить, чтобы он там был и люди могли к нему обращаться. Вот это &quot;где&quot; и есть хостинг-сервер.
</p>
<br />
P.S. Забыл сказать - в последние 3 месяца у них были огромные проблемы, и они подмочили репутацию - вот и пытаются выкарабкаться. Но меня проблемы не коснулись, и я до сих пор happy dreamhost customer и потому<br />
<br />
<span style="font-family: 'Palatino Linotype',FreeSerif,'Royal Times New Roman','Arial Unicode MS','Royal Arial',Code2000,'Lucida Sans Unicode','XSerif Unicode',serif">Внутренне подвывал от радости&nbsp;<sup><a href="https://www.mavrin.net/mithgol/#phrase42" target="_blank">MЦ</a></sup></span><br />
<br />
а затем<br />
<br />
<span style="font-family: 'Palatino Linotype',FreeSerif,'Royal Times New Roman','Arial Unicode MS','Royal Arial',Code2000,'Lucida &lt;br&gt;&lt;/span&gt;Sans Unicode','XSerif Unicode',serif">Долго, заливисто смеялся.&nbsp;<sup><a href="https://www.mavrin.net/mithgol/#phrase77" target="_blank">MЦ</a></sup></span><br />
<br />
Итог такой:<br />
<br />
<div style="border: 1px solid black; margin: 0pt; padding: 20px 14px 28px 25px; background-color: #ffffee; color: #000000">
<span style="font-family: 'Palatino Linotype',FreeSerif,'Royal Times New Roman','Arial Unicode MS','Royal Arial',Code2000,'Lucida Sans Unicode','XSerif Unicode',serif">Но это прекрасный, прекрасный, прекрасный инструмент. Я стану пользоваться им, я уверен.&nbsp;<sup><a href="https://www.mavrin.net/mithgol/#phrase192" target="_blank">MЦ</a></sup></span>
</div>

	