Id: 4918f9ac-a69f-4676-b551-48443f21cb8a
Title: "Металл"
Published: "2006-06-03"
Slug: "2006-06-03 Металл"
-
Тут&nbsp; <a href="https://ears_of_tin.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ears_of_tin</a>&nbsp;как-то сказал, что у него с металлом напряжёнка<br />
Специально по заявке&nbsp;последний альбом Opeth и какие есть альбомы Skyclad<br />
<a href="https://vladek.richnet.lv/muza/">https://vladek.richnet.lv/muza/</a><br />
<br />
Opeth я даже послушал - это&nbsp;наверно прогрессив металл, вполне прилично звучит (я правда в металле полный нуль)<br />
<strong>Лёгкость нафиг прослушивания 3</strong><br />
А Skyclad отпугнул качеством звука<br />
<br />
я правда не знаю как он это будет качать<br />
ну так чтож

	