Id: dbd5a2b2-41c1-483a-a057-9fdb78495804
Title: "Фестиваль <a href=\"https://malaya-zemlya.livejournal.com/374636.html\">Burning Man в Неваде.</a><br />"
Published: "2006-09-20"
Slug: "2006-09-20 Фестиваль _a href__http___malaya-zemlya.livejournal.com_374636.html__Burning Man в Неваде"
-
Фестиваль <a href="https://malaya-zemlya.livejournal.com/374636.html">Burning Man в Неваде.</a><br />
Что тут скажешь, местами был пацтулом, местами офигевал. Круть несусветная, вот что это такое.

	