Id: a4453b4a-6619-44a5-93eb-e030d4f08d41
Title: "Плявиньская ГЭС"
Published: "2006-08-03"
Slug: "2006-08-03 Плявиньская ГЭС"
-
<a href="/files/lj/hes.jpg"><br />
</a>
<p align="center">
<a href="/files/lj/hes.jpg"><img data-src="/files/lj/hes_small.jpg" alt="" title="Увеличить" /><br />
</a><br />
Плявиньская гидроэлектростанция
</p>

	