Id: ddb4b2e7-3769-44b6-b7d1-4d4b5abc673f
Title: "<P>И кстати рисунки <lj user=\"zashtopik\"> мне нравятся. Несмотря на.</P>"
Published: "2006-11-12"
Slug: "2006-11-12 _P_И кстати рисунки _lj user__zashtopik__ мне нравятся. Несмотря на.__P_"
-
<p>
И кстати рисунки <a href="https://zashtopik.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> zashtopik</a> мне нравятся. Несмотря на.
</p>

	