Id: 031eaa17-8515-4d19-ba63-0b64fd9cf00d
Title: "Удивление"
Published: "2006-06-06"
Slug: "2006-06-06 Удивление"
-
<p>
&nbsp;&nbsp; Меня ужасно удивляет огромное число психически больных людей в мире. Я имею в виду тех, кто боится сегодняшней даты - числа 06.06.2006, мотивируя это наличием трёх шестёрок.<br />
После такого отновится ко всем людям одинаково, непредвзято и спокойно считаю невозможным.<br />
P.S. Если вы из таких - убейте себя, сделайте мир чище.
</p>

	