Id: 5fa432c4-55a8-41f2-907c-5ca66ee80eb5
Title: "Матрицы - часть 3, практическая"
Published: "2006-05-29"
Slug: "2006-05-29 Матрицы - часть 3, практическая"
-
&nbsp; Итак, на деле на DVD применяется&nbsp;следующая схема<br />
Записывается блок данных, к конце которого находится информация&nbsp;проверки целостности и восстановления ошибок. Ошибка, возникшая внутри такого блока, называется PI. (Parity Inner)&nbsp; (Цифры на рисунке ничего не значат, они для красоты)<br />
<strong>Данные<br />
</strong><font color="#008000"><strong>Информация для коррекции ошибок внутри блока</strong></font><br />
{1 0 0 1 0 0 1 0}&nbsp; <strong><font color="#008000">{0 1 1 0}<br />
</font></strong>&nbsp;&nbsp;&nbsp; Но что будет, если ошибок в блоке так много, что&nbsp;их невозможно исправить с помощью избыточных данных в конце самого блока? Для&nbsp;этой ситуации&nbsp;после каждых 208 блоков записываются&nbsp;дополнительные блоки&nbsp;с избыточными данными уже для исправления целых сбойных блоков, которые нельзя было исправить данными&nbsp;в конце&nbsp;блока.&nbsp;(Извиняюсь за бесконечное повторение слова Блок, но зато я люблю его как поэта)<br />
<strong>Блоки&nbsp;данных<br />
</strong><font color="#008000"><strong>Информация для коррекции ошибок внутри блока&nbsp;&nbsp;<br />
<font color="#0000ff">Область коррекции ошибочных блоков</font></strong></font><br />
{1 0 0 1 0 0 1 0}&nbsp;&nbsp;&nbsp;<font color="#008000"><strong>{0 1 1 0}&nbsp; <br />
</strong><font color="#000000">{1 0&nbsp;1&nbsp;0 0 0 1 0}&nbsp;&nbsp;&nbsp;</font><font color="#008000"><strong>{0 1&nbsp;0 0}&nbsp;&nbsp; <br />
</strong><font color="#000000">{1 0&nbsp;1&nbsp;0&nbsp;1 0 1 0}&nbsp;&nbsp;&nbsp;</font><font color="#008000"><strong>{0 1&nbsp;0 1}&nbsp;<br />
</strong><font color="#000000">{1 0&nbsp;1&nbsp;0 0&nbsp;1 1 1}&nbsp;&nbsp;&nbsp;</font><font color="#008000"><strong>{1 1&nbsp;1 1}&nbsp;&nbsp; . . . . .&nbsp; </strong><font color="#000000">и т.д. 208 раз<br />
<br />
</font></font></font><font color="#0000ff">{1 0&nbsp;1&nbsp;0 0&nbsp;1 1 1}&nbsp;&nbsp;&nbsp;<strong>{1 1&nbsp;1 1}<br />
</strong><font color="#0000ff">{1&nbsp;1&nbsp;1&nbsp;0&nbsp;1&nbsp;1 1 1}&nbsp;&nbsp;&nbsp;<strong>{1&nbsp;0&nbsp;0 1}<br />
</strong><font color="#0000ff">{1 0&nbsp;1&nbsp;1&nbsp;1&nbsp;1 1 1}&nbsp;&nbsp;&nbsp;<strong>{1&nbsp;0&nbsp;0 0}</strong></font></font></font><br />
</font></font><br />
&nbsp; Неисправимая ошибка внутри блока называется PIF (Parity Inner Failure) или PO (Parity Outer), и такой блок исправляется целиком с помощью данных отмеченных синим цветом. Однако, если ошибочных блоков слишком много, исправить их невозможно, и привод не может прочитать диск,&nbsp;выдавая сообщение&nbsp;CRC Error, что вообще-то не соответствует действительности (для оптических дисков). Ему следовало бы говорить Unrecoverable PO errors.&nbsp;Для нас самое интересное заключается в том, что на DVD приводах Lite-On с помощью программ Nero CD-DVD speed или K-Probe можно проверить уровень ошибок. Приводы&nbsp; Sony&nbsp;и некоторых других фирм - это тоже Lite-on).&nbsp;В Nero&nbsp;CD-DVD Speed,&nbsp;которая почти всегда есть в комплекте пакета NERO, надо выбрать&nbsp;из&nbsp;меню &quot;Проверка качества диска&quot; и выставить скорость&nbsp;4x,&nbsp;на которой принято&nbsp;проверять качество.<br />
&nbsp;&nbsp; Так вот, при определённом числе ошибок микросхема привода способна их исправить и продолжать чтение. Я не буду приводить здесь точный расчёт и объяснения, скажу лишь, что для наших целей достаточно знать, что отображаемый программами уровнь PI не должен долгое время&nbsp;&nbsp;превышать 280, а PO (PIF)&nbsp;- 32. Отдельные пики не в счёт - они могут быть глюками считывания или записи. А вот более-менее длинные участки сделают диск нечитаемым, хотя на деле много зависит от считывающего привода. Разумеется, многое зависит и от записывающего устройства. Когда-то славились Plextor и&nbsp;Pioneer, сейчас популярен дешёвый и качественно пишущий NEC. К сожалению, поговорка &quot;чукча не читатель, чукча писатель&quot; &nbsp;здесь срабатывает на все сто - бывает, что приводы NEC даже не могут прочитать диски, которые сами же записали (я имею в виду случай чудовищно низкого качества дисков). Но болванки имеют решающее значение - даже в самом плохом приводе&nbsp; TY скорее всего запишутся идеально и будут хранится очень долго (не рассматривая случаи несовместимости привода и дисков, что бывает)<br />
[more text=Далее привожу скриншоты сканов болванок с комментариями.]
<p align="center">
<img src="https://vladek.richnet.lv/downloads/lj/dvd1.png" alt="" /><br />
DVD+R Verbatim Advanced AZO 8x Made In Taiwan
</p>
<p>
&nbsp;
</p>
&nbsp;&nbsp; Этот диск сравнительно неплохой, если не считать роста ошибок в конце - обычное явление дешёвых матриц. Если бы диск был заполнен до самого конца,&nbsp;без свободных 100-200 МБ , этот&nbsp;холм ошибок стал бы&nbsp;угрожающей горкой. <br />
&nbsp;&nbsp; Обратите внимание на&nbsp;строчку &quot;Disc&quot; (вторая сверху). Там можно увидеть код реального производителся диска. В данном случае это MCC02 , что означает Mitsubishi Chemical Corporation. Код иногда подделывают, но не так уж часто.<br />
<br />
<p align="center">
<img src="https://vladek.richnet.lv/downloads/lj/dvd2.png" alt="" /><br />
Это диск Taiyo Yuden
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
Это диск Taiyo Yuden 8x , записанный на скорости 8x. Как мы видим, редко-редко расположенные PO (PIF) не привышают уровня 2. Уровень PI в 10-25 вполне нормален. Если бы у меня был пишущий привод NEC, этот уровень мог бы понизиться до 5-15, но не меньше.
<p>
&nbsp;
</p>
<p align="center">
<img src="https://vladek.richnet.lv/downloads/lj/dvd3.png" alt="" /><br />
Taiyo Yuden 8x , записанный на 4x
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
Как видно, в данном случае запись на 4x скорее пошла на пользу, поскольку уровень ошибок ещё понизился (см. строку Total Count для надёжности). Но это в общем случае&nbsp; может быть по-разному.&nbsp; Далее на скриншотах мы будем наблюдать возрастающее ухудшение качества, а в конце и вовсе horror-show.
<p align="center">
<img src="https://vladek.richnet.lv/downloads/lj/dvd4.png" alt="" /><br />
TDK 16x, записана на 8x
</p>
<p>
&nbsp;
</p>
<p align="left">
&nbsp;&nbsp; Эта болванка TDK на деле произведена CMC Magnetics, и должна быть вполне себе ужасной. К счастью, пока ничего особо страшного не видно - всего лишь уровень PI нездорово повышен, а&nbsp; PIF идут сплошняком и их общее количество в 8 раз больше, чем у TY.
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
<p align="center">
<img src="https://vladek.richnet.lv/downloads/lj/dvd5.png" alt="" width="572" height="696" /><br />
Verbatim 16x, made in India
</p>
<p>
&nbsp;
</p>
<p align="left">
А вот этот красавец демонстрирует нам отличный Эверест ошибок в конце. Я видел и пострашнее, но и здесь последний кусок диска невозможно будет прочитать в принципе.
</p>
<p align="center">
<img src="https://vladek.richnet.lv/downloads/lj/dvd6.png" alt="" /><br />
Verbatim 16x, made in India
</p>
<p>
&nbsp;
</p>
Что тут скажешь. Картина та же, что и в предыдущем случае, но гора нё успела вырасти, поскольку&nbsp;данных на диске&nbsp;меньше, и&nbsp;сканирование закончилось раньше.<br />
<br />
Подведём итоги. Почему важен низкий уровень ошибок и чем он так хорош?<br />
1) Есть гарантия, что ваши диски будут читаться везде, в т.ч. на бытовых проигрывателях, а не только на хороших комповых читалках вроде Lite-on.<br />
2) Если вы поцарапаете диск,&nbsp; что неизбежно, уровень ошибок в этом месте резко возрастёт. Если он уже был высоким, диск просто не прочитается, поскольку привод не справится с корректировкой. Если он был низким, как в случае TY, он всего лишь возрастёт до угрожающих маштабов, но шансы прочитать его велики.<br />
3)Низкий уровень ошибок&nbsp;косвенно свидетельствует также о том, что качество материалов матрицы высокое, и она прослужит много лет, если беречь её от солнца и царапин. TY дают гарантию на 100 лет, но на деле никто не знает, сколько они прослужат. Тесты в камере старения показали, что через 25 лет TY по-прежнему будут читаться.<br />
&nbsp; Я мог бы ещё написать о том, как&nbsp;в микропрограмму привода зашиты стратегии записи болванок&nbsp; разных производителей. И если матрица ему неизвестна, он использует &quot;общую&quot; стратегию записи. Результаты при этом&nbsp;намного хуже. И если вы купите новые болванки для старого привода, он их знать точно не будет (что, судя по всему, и произошло с моими 16x Verbatim).<br />
&nbsp; Мог&nbsp;бы написать и о том, что привод самообучается, и каждую последующую матрицу из той же партии того же производителя будет записывать всё лучше и лучше (в теории). А некоторые модели даже умеют обучаться по ходу действия, улучшая качество записи последующих кусков на одной и той же болванке. Но я не стану загружать народонаселение обилием технической информации, ибо приведённых данных достаточно для принятия разумного выбора.<br />
Happy Burning!<br />
P.S. Хочу выразить благодарность своей сестре за матрицы, магнитики на холодильник и вкусный вишнёвый спрей от ангины. Почта работает как часы - посылка дошла меньше чем за неделю.

	