Id: 781f8c5d-dd3b-4bbc-9a3e-264c31e830ee
Title: "Жизнеопределяющие истории"
Published: "2006-09-17"
Slug: "2006-09-17 Жизнеопределяющие истории"
-
Однако же я как белка в колбасе - на выходных сидел на работе.&nbsp;Хорошо добрые люди вытащили на пикник в Науене.<br />
<br />
Как итог пикника: всем, кто ещё не читал, даю ссылку на историю (и ЖЖ) человека, который пережил то, что пережить &nbsp;невозможно в принципе - 10000 вольт,&nbsp; 10 клинических смертей, ожоги третьей степени с обугливанием, резистивность ко всем известным анальгетикам и много чего ещё.<br />
Это <a href="https://avvadonn.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> avvadonn</a>&nbsp;, а история его жизни, <a href="https://avvadonn.livejournal.com/1504.html#cutid1">вот она</a><br />
<br />
вторая часть нафиг стёрта, потому что невозможно ничего рассказывать публично. Тот, кто рассказал, сразу стремается и просит убрать.

	