Id: de14a39d-2c57-4aaa-bc48-1b96f478bbb8
Title: "выборы и прочее"
Published: "2006-09-28"
Slug: "2006-09-28 выборы и прочее"
-
А&nbsp;обычный народ как-то даже всё больше&nbsp;собирается голосовать за Партию Согласия, что немного удивительно. Я полагал, что простоватый электорат должна оттянуть на себя ломовая Dzimtene (Родина, то есть). Наверное у неё&nbsp; авторитета маловато,&nbsp; только бабуськи-пенсионерки и купились.<br />
<br />
А вообще&nbsp;пусть&nbsp; латвийцы в комментах&nbsp;пишут, за кого будут голосовать, и почему, мне будет интересно. Каждому лично обещаю по одной штуке &quot;спасибо&quot; на монитор.<br />
<br />
А ещё я тихо удивляюсь поголовному распространению интернета в массах. Тётки на остановке говрят друг другу: &quot;Позвонишь мне по скайпу&quot;, а мужики лет 35 ставят инет с тарифом круче, чем у меня, чтобы лить бесконечные горы фильмов и порнухи. Я уж не говорю&nbsp; о подростках, среди которых невозможно найти того, кто не пользуется <a href="http://www.one.lv">http://www.one.lv</a>, хотя бы с мобильника.<br />
<br />
А тех, кто связан с компами, есть смысл спрашивать только о том, какой у них&nbsp;провайдер и тариф, потому что никто из них жизни без&nbsp;сети не мыслит.<br />
<br />
А вообще я пишу банальности, потому что сегодня слишком напрягался на работе, хоть и без смысла.<br />
<br />
А это классический бессмысленный лытдыбр, так что не судите строго. За терпение обещаю хорошей музыки.

	