Id: f1161303-b277-4ff5-b02b-d03a5f593c70
Title: "Новое слово в тюнинге"
Published: "2006-10-06"
Slug: "2006-10-06 Новое слово в тюнинге"
-
<p>
<br />
Многие делают это, залезая в долги и растрачивая свою жизнь. Речь идёт о тюнинге автомобилей. Эта тема&nbsp; всегда была актуальна, поскольку <br />
мужчин, полностью равнодушных к машинам, очень мало. В целом, тюнинг - занятие это&nbsp;столь же дурацкое, как и любое другое хобби, так что тут у меня претензий нет. Но ввиду массовости сего занятия,&nbsp;идиотизм в некоторых случаях виден особенно ярко.<br />
Впрочем, про выхлопную трубу, рассматриваемую&nbsp;в качестве&nbsp;фаллического символа, <a href="https://%20яркий%20фаллический%20символ/">уже писали до меня</a>.<br />
Несмотря на это, есть немало&nbsp;интересных образцов.&nbsp;[more text=(дальше интересно, но 260 килобайт)] Например,&nbsp;советский внедорожник газ-69 моего друга с двигателем от bmw. <a href="https://www.gaz69.times.lv/Photos/photo.htm">Вот&nbsp;сайт сей&nbsp;тачанки</a>
</p>
<p align="center">
<img data-src="/files/lj/gaz1.jpg" alt="" /><br />
Газ-69 - круче любого &quot;Хаммера&quot;
</p>
<p>
&nbsp;
</p>
<p align="left">
Но у меня есть оригинальная идея.&nbsp;Чтобы уменьшить фрустрацию в среде нищих фанатов модных приблуд, рекомендую им занятся тюнингом всех окружающих изделий, имеющих мотор.<br />
<br />
Чтобы подать пример и проложить дорогу новым поколениям, я провёл операцию по улучшению характеристик маминой швейной машины. В процессе мотор польской швейной машины тридцатилетней давности был заменён на японский, что позволило значительно улучшить характеристики.<br />
<br />
Польский мотор он превосходит по&nbsp;всем параметрам:
</p>
<p>
&nbsp;
</p>
<ul>
	<li>
	<div align="left">
	мощность 100 ватт вместо 90. Больше ставить было бы опасно
	</div>
	</li>
	<li>
	<div align="left">
	подшипники из износостойких сплавов, требующих минимальной смазки - две капли машинного масла в год
	</div>
	</li>
	<li>
	<div align="left">
	токосниматели с углеродным электродом для надёжной бесшумной работы, в комплекте есть запасные
	</div>
	</li>
	<li>
	<div align="left">
	прочный и надёжный ремень из композитного материала
	</div>
	</li>
	<li>
	<div align="left">
	стильный чёрный цвет и современная обтекаемая форма
	</div>
	</li>
	<li>
	<div align="left">
	вилка по примеру usb - держится достаточно прочно, но&nbsp;выдёргивается в случае, если вы случайно задели провод (чтобы не споткнуться)
	</div>
	</li>
</ul>
<p align="center">
<img data-src="/files/lj/tuning1.jpg" alt="" /><br />
Крупным планом
</p>
<p align="center">
<img data-src="/files/lj/tuning2.jpg" alt="" /><br />
По центру внизу -&nbsp;цифровой мультиметр, справа - старый мотор
</p>
<p align="center">
<img data-src="/files/lj/tuning3.jpg" alt="" /><br />
Спортивная педаль и французкий кагор для обмывки обновки
</p>
<p>
&nbsp;
</p>
<br />
Более того, педаль газа была заменена на изящную спортивную модель с повышенной чувствительностью и ограничителем мощности двигателя (шуруп по центру сзади).&nbsp; Новая педаль&nbsp;- стильного чёрного цвета, с глянцевым покрытием и гравировкой &quot;Made in japan&quot;.<br />
<br />
Вся&nbsp;эта невероятная красота и зверская мощь обошлись в смешную сумму&nbsp; в 15$. За такие деньги фанат автотюнинга сможет разве что ароматизатор в салон купить. А я предлагаю доступный и элегантный способ потешить своё самолюбие и чувство прекрасного - бытотехуинг!<br />
<br />
Даёшь&nbsp;апгрейды кофеварок и &nbsp;миксеров! Те, кто побогаче, могут заняться&nbsp;газовыми плитами и&nbsp;микроволновыми печами. А настоящие богатеи смогут бесконечно улучшать&nbsp;&nbsp;свои&nbsp;стиральные машины и холодильники, нанимая истинных мастеров&nbsp; бытотехуинга.<br />
<br />
<br />
<br />
P.S.Хочется лишь выразить удивление нормальным отношением швейной индустрии к потребителю и стандартам - японские детали встали на древнюю польскую машину как влитые.Как известно, в компьютерной индустрии большинство стандартов живут&nbsp;максимум 5-10 лет, да и то это стандарты для подключение периферии. А процессорные разъёмы (процессор как аналогия мотору) - и вовсе 3-4.

	