Id: abbf0add-e8f2-4b73-a9e9-a1c0935683dd
Title: "LEXX"
Published: "2006-01-16"
Slug: "2006-01-16 LEXX"
-
<p align="center">
<font size="5" color="#ff0000">Я - <strong>LEXX. <br />
</strong>Я самое могущественное орудие уничтожения в двух вселенных!</font>
</p>
<p align="center">
&nbsp;
</p>
<font size="5" color="#ff0000"></font>Досмотрел второй сезон, скачанный с https://drive.stream.ru<br />
<br />
&nbsp;&nbsp; Круто. Когда смотрел по ТВ, пропустил последние две серии, которые злое ТВ-6 показало в понедельник и вторник, вместо четверга. Убил бы!<br />
&nbsp; Думаю, славно было бы на этом закончить, логично, красиво, и не делая из сериала фарс. Впрочем, он по своей сути такой мегатрэш, что ему уже ничего не повредит. Только, чую, у меня, если посмотрю третий и четвёртый сезоны, начнётся отравление.<br />
&nbsp; В любом случае sci-fi трэшак отменный. Вавилон-5 силён серьезностью и оправданным пафосом, а&nbsp; LEXX - заклинивающим стёбом, сарказмом, гипертрофированностью и совершенно безумными персонажами. Поэтому не стану говорить, что Вавилон лучше, хоть это и так.<br />
&nbsp;&nbsp; А песня Оракула времени из серии Brigadoom вообще у меня в башке настырно сидела полгода. Чувствую, следующие полгода тоже будет.<br />
<p>
&nbsp;
</p>
<p align="center">
(перевод ТВ-6)
</p>
<p>
&nbsp;
</p>
<p align="center">
<strong>Что-то было, что-то есть,<br />
Всё идёт своим чередом.<br />
Что мы видим сейчас, <br />
Всё что было до нас.<br />
Всё повторится потом.<br />
</strong>
</p>

	