Id: cd4ba5a8-f776-4355-85d4-d5c24ab7b9e8
Title: "Ликёр \"ADVOCAAT\""
Published: "2006-10-02"
Slug: "2006-10-02 Ликёр _ADVOCAAT_"
-
<p style="margin-right: 0px" dir="ltr" align="left">
Я как-то писал, что мне подарили бутылку бренди,&nbsp;но я не знаю, что с ней делать.<br />
<br />
Так вот - уже знаю,&nbsp; и даже реализовал на практике. Вашему вниманию - рецепт с <a href="https://www.absintheclub.ru/read/viewtopic.php?t=286&amp;postdays=0&amp;postorder=asc&amp;start=0&amp;sid=76c5fd7c86b25d39942bfbf401b0660a">форума абсинтчиков.</a>&nbsp; Кстати, похоже, что его действительно выпьют до истечения недели, не говоря уже&nbsp; полутора - настолько вкусно получилось. Сделать его можно за 20 минут.&nbsp;Только вот меня нехило озадачила ваниль - где её взять, и сколько класть.
</p>
<p>
&nbsp;
</p>
<blockquote dir="ltr" style="margin-right: 0px">
	<p style="margin-right: 0px" dir="ltr" align="left">
	<br />
	<font color="#000080">Это изумительный ликер с необычайно длительным ванильно-бисквитным послевкусием. <br />
	<br />
	10 яичных желтков от коричневых (не белых) яиц. <br />
	превратим их в однородную массу венчиком, убираем белковые канатики от яиц... <br />
	<br />
	1 пакетик ванилина всыпаем и перемешиваем снова... <br />
	<br />
	1 банка вкусного сгущеного молока (я беру Молочная Страна &quot;Сливки&quot;) <br />
	вливаем в желтковую массу и тщательно перемешиваем... <br />
	<br />
	получается такая густющаяя масса, это правильно! <br />
	<br />
	250 мл коньяка или бренди (даже самого дешевого, здесь не играет роли, ибо в промышленном ликере вообще идет смесь спирт + бренди) вливаем в готовую массу и снова перемешиваем венчиком. <br />
	<br />
	заключительный этап: вливаем 120 мл 10% сливок и последний раз перемешиваем. <br />
	<br />
	затем переливаем все в 1л пэт и оставляем в темном месте на 4 дня, после чего отфильтоваем через среднее или мелкое ситечко в стеклянный бутыль (не фильтруйте через ткань, не получится 8-) и получаем около 0,75 л превосходного ликера... <br />
	<br />
	НЕ ПИТЬ! подержите его с недельку-полторы в темном месте, пусть созреет и будет - ВАХ! <br />
	Употребляется при комнатной температуре или слегка охлаажденным, без добавления льда (лед делает этот ликер жестковатым) Честно скажу, аокупал нидерланский ликер Адвокаат Де Кайпер, за 500 рэ 0,7л., так он один в один как по моему рецепту, только промышленный цветом желтее, там краситель &quot;Куркумин&quot; и &quot;Солнечный закат&quot; присутствуют! Также этот ликер безумно понравится не только джентельменам, но и их дамам! <br />
	<br />
	Удачных дегустаций, <br />
	Ваш Infiengham.</font>
	</p>
</blockquote>

	