Id: f04aed6e-92f5-437c-a0a1-b6c8cf09a31f
Title: "Магистерская - часть 1"
Published: "2006-04-10"
Slug: "2006-04-10 Магистерская - часть 1"
-
<a href="https://vladek.richnet.lv/downloads/kubik.gif"></a>
<p>
&nbsp;&nbsp; Наконец свершилось! Я начал делать магистерскую (&quot;дипломную&quot;) работу, за два месяца до срока сдачи. Она, кроме всего прочего,&nbsp;будет представлять собой игру, но какую, пока не скажу (правда многие уже и так знают). Обычно два месяца - это гора времени, но в случае написания 3D игры с физикой, логикой, AI, поддержкой сети и прочими радостями этот срок явно недостижим. Что буду делать - не знаю. К тому же мне ещё один предмет надо будет сдавать - экзамен, курсовик и лабу.&nbsp; И хотя грубый 2D прототип игры без всех вышеперечисленных бонусов уже готов, это вряд ли сильно поможет.<br />
&nbsp; Тем не менее, буду здесь&nbsp;постепенно показывать результаты моих трудов. Сегодня я добился грандиозного успеха - сделал вращающийся трёхмерный кубик. К сожалению, освещения пока нет, потому что для него нужны нормали (перпендикуляры) к поверхностям, в книжке их готовых нету, а считать и записывать&nbsp;самому ради одного кубика лень.<a href="https://vladek.richnet.lv/downloads/kubik.gif"></a>
</p>
<p align="center">
<img src="https://vladek.richnet.lv/downloads/kubik.gif" alt="" /><br />
Кубик
</p>
<p>
&nbsp;
</p>
<p align="left">
&nbsp;&nbsp; Злые языки скажут, что невелика заслуга, особенно если учесть, что делал я по книге и статьям. Однако прошу заметить, что сделано это на языке C# и использована свежайшая февральская бета Managed DirectX for .NET Framework 2.0. Документация фрагментарна, примеров почти нет, никаких статей и книг (все устарели), и при этом всё время меняется API, то есть набор функций, с&nbsp;которыми программист работает, когда использует чужие библиотеки.&nbsp; К счастью, концепции в этот раз сильно не поменяли. Так, мелкие вещи вроде названий функций. <br />
&nbsp;&nbsp; Поэтому есть все шансы за пару недель научится писать простые 3D приложения, а больше мне пока и не надо.&nbsp;Раньше написание 3D игр было довольно сложным процессом, требующим высокой квалификации программиста. Несчастные дети, изучающие программирование, пытаясь браться сразу за игры, не могли ни на что надеяться. Теперь с Managed DirectX всё намного легче, и даже я, не будучи особо хорошим программистом, надеюсь что&nbsp;игра получится.<br />
P.S. Кубик кстати захвачен с экрана программой HyperCam и сконвертирован в GIF программой &quot;123&nbsp; AVI to GIF Converter&quot;.
</p>
<a href="https://vladek.richnet.lv/downloads/kubik.gif" target="_blank"></a>

	