Id: a829fedf-b1f1-4c87-b5e4-ce8462f5e52d
Title: "Охлаждение ПК"
Published: "2006-07-13"
Slug: "2006-07-13 Охлаждение ПК"
-
<p>
Я взял вентилятор, который прилагался к моему процессору AMD Athlon 64, и приспособил его к охлаждению жёстких дисков. А чтобы не гудел, подключил провода специальным образом для пониженного напряжения в 7 вольт вместо стандартных 12 (красный провод вентилятора к жёлтому на разъёме питания, а чёрный провод втилятора - к красному на разъёме питания).<br />
&nbsp;А сам процессор охлаждается мощным и красивым кулером Zalman Cu7000 (600 грамм чистой меди, между прочим) 
</p>
<p align="center">
<img data-src="/files/lj/zalman.jpg" alt="" /><br />
Zalman <font face="Arial" size="2">CNPS7000B-CU</font>
</p>
<p>
<font face="Arial" size="2">В связи с&nbsp;жаркой&nbsp;погодой&nbsp;напоминаю: повышение температуры жёсткого диска на 10 градусов увеличивает вероятность его выхода из строя на 50%<br />
Следите за здоровьем своих ПК!</font>
</p>
<font face="Arial" size="2"></font>

	