Id: d6f730eb-9bf7-4bed-8174-897c871b99ed
Title: "Аудиофильство"
Published: "2006-09-30"
Slug: "2006-09-30 Аудиофильство"
-
<p align="justify">
К вопросу об аудиофильстве. Читаю ветку с топиком: &quot;Какая акустика вас зацепила больше всего?&quot;<br />
Человек пишет: B&amp;W 802, захожу посмотреть цену на price.ru.<br />
<br />
От цены аж передёргивает и хочется отвести взгляд от монитора.
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
<p align="center">
<br />
<font size="4" color="#000000"><strong>$12025</strong></font>
</p>

	