Id: 2c9c809b-c02c-4922-af65-fef02f85f84f
Title: "Лытдыбр"
Published: "2006-10-08"
Slug: "2006-10-08 Лытдыбр"
-
<p>
Обнаружил две вещи: <br />
1)У меня есть гора одежды, которую я не ношу, потому что не подозреваю о её существовании<br />
2)Курс математики за 12&nbsp;класс я более-менее знаю
</p>

	