Id: 2e9796ba-3a9e-4991-a102-4ae458e7d586
Title: "Бобо"
Published: "2006-07-23"
Slug: "2006-07-23 Бобо"
-
<P>У меня всё тело так болит, как будто избили. А на самом деле всего лишь выкопал небольшую траншею глубиной в метр и длиной метров в пять.</P>
	