Id: 76a059a9-b47f-4ad2-8b49-1fdf3da11a07
Title: "Крео"
Published: "2006-10-03"
Slug: "2006-10-03 Крео"
-
<p align="justify">
Навеяно попыткой скачать<a href="https://ted-strife.livejournal.com/133393.html?#cutid1"> новый альбом Trail of the Dead</a>, &nbsp;выложенный&nbsp;&nbsp;<a href="https://ted_strife.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ted_strife</a>&nbsp;на ifolder.ru.&nbsp; 
</p>
<p>
&nbsp;
</p>
<p align="center">
<br />
<img data-src="/files/lj/c.gif" alt="" /><br />
Пожалуйста, введите&nbsp;цифры, изображённые на картинке, чтобы продолжить чтение этого журнала.
</p>
<p>
&nbsp;
</p>
<p align="left">
[more text=Смотреть вариант для эстетов]
</p>
<p>
&nbsp;
</p>
<p align="center">
<br />
<img data-src="/files/lj/b.bmp" alt="" /><br />
Пожалуйста, введите&nbsp;цифры, изображённые на картинке, чтобы продолжить чтение этого журнала.<br />
</p>

	