Id: 223e27cd-5ce5-4696-8730-0a4c76d55400
Title: "Всякости"
Published: "2006-11-03"
Slug: "2006-11-03 Всякости"
-
Давно не писал, потому что занят был всяким, в т.ч. работой. Работа продвигается, и это неплохо. С одной стороны, наёмному рабу не столь важно, что там получится в итоге, а с другой  - согласно <a href="https://www.vkph.com/gost/">ГОСТ</a>у делать надо так, чтобы не было стыдно.<br />
<br />
Поскольку в жизни и так одни противоречия, я действую по среднему варианту - делаю как могу, если могу - стараюсь лучше, если нет - то нет.<br />
<br />
У меня на кухне есть полицейский, который при резких хлопках дверью холодильника бодрым голосом американских телепроповедников кричит: &quot;Warning! Step away from the refrigerator!&quot;<br />
<br />
А вчерась он вдруг страшным рычанием заскрежетал нечто невнятное, я аж подумал, что в него дух Ктухлу вселился. Даже страшно стало, вдруг теперь холодильнег вообще открыть не смогу.<br />
<br />
Я обычно не участвую в тестах, не даю ссылок, не комментирую текущую ситуацию в обществе и ЖЖ. Но в последнее время стал всё это делать. Поэтому ещё:<br />
<a href="https://polittechno.livejournal.com/345097.html">Рэп про третий срок Путина</a> - просто замечательный.<br />
<br />
Я когда-то <a href="/post/2006-10-08%20%D0%A3%D0%B3%D0%B0%D0%B4%D0%B0%D0%B9%D0%BA%D0%B0">спрашивал</a> про некую музыку.<br />
<br />
Так вот: она из старенькой культовой игры Zeliard, созданной в 1987 году и выпущенной на западе в 1990. Интересно, что в игру люди играют до сих пор, и что энтузиасты создают Zeliard 3D - полную реинкарнацию Зельярда c помощью современных технологий.<br />
<br />
Что касается собственно музыки. Спрашивал я потому что хотел проверить, действительно ли она так зажигательна и мелодична, как мне кажется, или это просто широко известный эффект ностальгии (&quot;а вот раааньше!&quot;) и случай, когда воздействие на один орган чувств пробуждает приятные ассоциации и воспоминания. И даже фантомные воздействия на остальные (&quot;мандарины&quot; - новый год).<br />
<br />
Я конечно понимаю, что сам звук примитивных синтезаторов (компьютерной карты adlib в данном случае) мало кому может понравится, но убойные мелодии можно же было похвалить, да?<br />
<br />
Тем более, что убогая четырёхголосая полифония, разреженный звук почти без эффектов и небольшая длина с постоянными повторами вполне могут сойти за минимализм (от музыки почти голый костяк мелодий остаётся)<br />
<br />
Но нет, понаписали негавтиных комментов злобные зрители. Видно для неподготовленного уха без дополнительных фактов эта музыка звучит всё-таки пластмассовой и неживой.<br />
<br />
Зато для мобильного телефона - лучше некуда. Жаль, мне редко звонят.<br />
<br />
Скачать можно тут:<br />
https://queststudios.com/quest/zelcd/zelcd.html<br />
<br />
<br />
И ещё жаль, что Великаго Мастера Фидошного Гипертекста  вконец умучили, изверги. Не будет больше он нас радовать своим высококачественным бредом.

	