Id: efbc561b-5222-4fc3-acd7-43f448722b5c
Title: "Раздумья"
Published: "2006-04-13"
Slug: "2006-04-13 Раздумья"
-
<p>
&nbsp;&nbsp; Неужто нету онлайн-сервиса&nbsp;схожего с <a href="http://rateyourmusic.com">http://rateyourmusic.com</a>, который бы автоматически работал&nbsp; с рейтингами winamp или хотя бы itunes и импортировал себе?<br />
А то вручную рейтинги на сотни альбомов не поставить.
</p>

	