Id: e23c205d-ed5d-4999-91be-0bb15fa7df0c
Title: "Сетка"
Published: "2006-07-13"
Slug: "2006-07-13 Сетка"
-
<p>
&nbsp;&nbsp; Час назад, купаясь,&nbsp;зацепились за сетку. С большим трудом, зато безо всякого смысла, вытащили её из озера.&nbsp; В сетке находились несколько средних карасей и большой ротан.&nbsp; Ротан - это такая мерзкая чужеземная рыба, которую неразумные люди запустили двадцать лет назад в озеро. И она пожрала всех остальных, поскольку у неё очень большая голова, и, соответственно названию, рот.<br />
&nbsp;&nbsp; А сетку мы вытянули&nbsp;чужую. К несчастью,&nbsp; владельцы подошли именно в&nbsp;момент уноса сетки, и стали выяснять отношения. Я сейчас&nbsp;стал не особенно пугливый, поэтому попытался им объяснить, что сетки ставить запрещено. В ответ&nbsp;накачанный верзила&nbsp;пообещал отправить меня надолго в больницу, кушать таблеточки. Очень хотелось сказать, что он сам на сей раз точно отправится мотать срок, а то&nbsp;ему за мелкую кражу в прошлый раз не дали. Однако, я был один, их двое, а сломанная челюсть очень неприятная штука.<br />
И всё равно я переживаю, что&nbsp;не слишком храбр. Потому что противно слушать угрозы всяких недоумков. Да и рыбы в озере стало совсем мало. Теперь понятно, почему.
</p>

	