Id: 949103cf-bb9b-46e5-9d6a-149363153ca7
Title: "<P><lj user=\"murmanskdays\"> порвал мне френдленту, гад. И за это я его злобно выкинул из д"
Published: "2006-05-01"
Slug: "2006-05-01 _P__lj user__murmanskdays__ порвал мне френдленту, гад. И за это я его злобно выкинул из "
-
<p><a href="https://murmanskdays.livejournal.com" mce_href="https://murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  mce_src="https://p-stat.livejournal.com/img/userinfo.gif"> murmanskdays</a>&nbsp;порвал мне френдленту, гад.&nbsp;И за это я его злобно выкинул из друзей. Когда пост с кривым форматированием пройдёт,&nbsp;добавлю обратно.</p>
	