Id: b0e4a8b1-7e5b-4020-bf3a-f057539bdf50
Title: "Рисунки"
Published: "2006-09-02"
Slug: "2006-09-02 Рисунки"
-
<P align=justify>Вместо того, чтобы учиться, на лекциях я рисовал однокурсников и преподавателей. Поскольку рисовать я умею на уровне первого класса, получались&nbsp; карикатуры, кое-где настолько идиотские, что даже похожи на оригиналы.</P><P></P><P align=center><IMG src="/files/lj/kar1.gif"><br/>Без названия. Пусть будет&nbsp;"Побитый жизнью качок-аристократ"</P>
	