Id: d7e1ea1d-9d40-42f8-a695-60fb9cc413e0
Title: "4D кинотеатр и laser tagging"
Published: "2006-01-15"
Slug: "2006-01-15 4D кинотеатр и laser tagging"
-
<br />
[more text=Продолжение о дне жуткого экзамена, в котором рассказывается о единственном в Восточной Европе 4D кинотеатре и лазерном пэйнтболе]<br />
&nbsp; Вырвавшись на свободу, и с удивлением осознав, что мы всё ещё живы, решили оторваться по полной, с коей целью направились обратным ходом в общагу. Надо сообщить, что в 15 минутах пешком от&nbsp; нашей общаги находятся не только два самых больших&nbsp;торговых центра в Прибалтике - ALFA и DOMINA, но ещё и&nbsp;здоровый такой&nbsp;центр развлечений <a href="http://www.goplanet.lv/" target="_blank">GO PLANET</a>.<br />
&nbsp; По сообщениям лиц, уже посетивших сей парк аттракционов, посмотреть там есть на что, а попробовать - тем более. Правильные cilveki (то есть&nbsp;люди по латвиски), вроде <a href="http://ihavedream.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ihavedream</a>, спойлеров не рассказывали, а лишь сообщили, что посетить&nbsp;сие заведение надо всенепременно.&nbsp; А несдержанные болтуны (не будем показывать пальцем) подробно доложили обо всех секретах, каковое поведение лично мне совсем не симпатично. <br />
<p>
&nbsp;
</p>
&nbsp;&nbsp; В&nbsp;составе&nbsp;трёх мальчиков и&nbsp;одной девочки, компания&nbsp;начала перемещение по дороге, проходящей мимо общаги. При этом мы&nbsp;даже не глянули карту.&nbsp;Топали мы по оживлённому шоссе до тех пор, пока не очутились в дремучем лесу.&nbsp;Едва не совершив критической ошибки&nbsp;в лице сворачивания,&nbsp;ваши покорные слуги&nbsp;всё таки вышли к вожделенной цели благодаря моему географическому чутью и точным указаниям вышеописанных болтунов.&nbsp;&nbsp;&nbsp; <br />
<p align="center">
<img src='/files/B3E59D04E1FACBB04F3ABE9AB107DEB9.jpg'  alt="" /><br />
Ничего не видно, зато сразу ясно, что это наша цель
</p>
<br />
<p>
&nbsp;
</p>
&nbsp;&nbsp; Попав внутрь, мы с удивлением узрели прикреплённую к стене машину из формулы-1.<br />
<br />
<p align="center">
<img src='/files/B3E59D04E1FACBB04F3ABE9AB107DEB9.jpg'  alt="" /><br />
Формула-1
</p>
<br />
<p>
Далее мы позаимствовали на кассе прейскурант на услуги, осмотрели комплекс, и разузнали, какие есть аттракционы, и какова их стоимость. К радости трудящихся, в заведении имеются:
</p>
<br />
<p>
&nbsp;
</p>
<br />
<ol>
	<br />
	<li>Куча детских и не очень детских симуляторов и компьютерных игр в зале simulatori. Некоторые из&nbsp;симуляторов даже с кабинами, которые судорожно трясутся и дёргаются для создания у посетителей максимально достоверных ощущений. Стоят от $1 до 2.5$</li><br />
	<li>Картинги. Вполне обычные, но трасса большая и запутанная, что радует.&nbsp; Стоит 10$.</li><br />
	<li>4D кинотеатр, который и был целью нашего визита. Обычный человек скажет, что 4D быть не может. Человек похитрее скажет, что любой 3D кинотеатр на самом деле 4D, поскольку&nbsp;четвёртое измерение - время. А совсем хитрый, или имеющий отношение к экономике, пожмёт плечами и равнодушно&nbsp;пробурчит что-то о маркетинге. Стоит 5$&nbsp; за 10 минут, причём крутят только 2 разных фильма.</li><br />
	<li>Симулятор ускорения автомобиля. Это машина на рельсах, по бокам которой прикреплены широкие резиновые полосы, которые зацеплены за пол. Машину оттягивают к стенке специальной тележкой, при этом резинки растягиваются. Затем отпускают, и сидящие в креслах пассажиры испытывают несравненные ощущения, подобные ощущениям взлетающих космонавтов, или обладателей дорогих спортивных автомобилей, разгоняющихся до 100 км за 8 секунд. Одна проблема - машина дёргается взад-вперёд до полной остановки, что радости отнюдь не добавляет,&nbsp;а может, напротив, привести к потере содержимого вашего желудка. Стоит это сомнительное удовольствие аж 10$, что ему привлекательности не добавляет.</li><br />
	<li>Джип &quot;хаммер&quot; в двумя пулемётами и 3д-очками. Джип делает вид, что на самом деле едет, и, судя по судорожным рывкам и качаниям из стороны в сторону, едет не по самой хорошей дороге. А вы с партнёром в это время отстреливаете разнообразных злобных супостатов в устаревшей компьютерной графике. Зато трёхмерной. Я, когда первый раз очки одел и увидел летящую на меня лимонку, чуть не заорал.</li><br />
	<li>Бильярд, горки для детей, и прочее по мелочи.</li>
</ol>
<br />
<p>
&nbsp;&nbsp; Посетили мы сперва 4D кинотеатр. О том, что там внутри, говорить не буду, чтобы не портить удовольствие тем, кто ещё не был, только скажу - сходить надо, но слишком многого от него не ждите.
</p>
<br />
<p>
&nbsp;
</p>
<br />
<p>
<br />
&nbsp;&nbsp; Затем отправились поиграть в laser tagging, который выше упомянут не был&nbsp;- с хитрой целью рассказать про него лишь в этом месте.<br />
Назывался он у нас на самом деле DarkLight, а laser tagging - общее название подобных забав. Суть заключается в следующем.&nbsp;
</p>
<br />
<p align="center">
<img src='/files/B3E59D04E1FACBB04F3ABE9AB107DEB9.jpg'  alt="" /><br />
Так выглядит надетая броня
</p>
<br />
<p>
&nbsp;
</p>
&nbsp; Участникам (обычно 10-30 человек) выдаются доспехи с лампочками и пистолеты, стреляющие &quot;лазерным&quot;&nbsp;&nbsp;лучом. Затем&nbsp;человек запускается в двухэтажный лабиринт с картонными стенами и пандусами вместо лестниц, где в темноте должен отстреливать своих&nbsp;оппонентов из других команд, определяемых по цвету лампочек. Причём стрелять нужно только в лампочки на доспехе или пистолете, иначе эффекта не будет. При успешном попадании супротивник выходит из строя на 6 секунд. (Разумеется, все параметры настраиваемые, а я лишь говорю о том, что было у нас). <br />
<p>
&nbsp;
</p>
&nbsp;&nbsp; Цель игры хорошо известна любителям компьютерных игр вроде Quake и заключается в виртуальном убийстве (&quot;tagging&quot;) как можно большего количества противников из других команд. После окончания игры (15 минут) каждый получает подробную распечатку результатов, что приятно.&nbsp;Ваш покорный слуга был лишь на 18 месте из 28, что для первого раза не так уж и плохо. <br />
<p>
&nbsp;
</p>
&nbsp;&nbsp; Тупое бегание и отстреливание временных врагов, оказывается, приносит вполне реальный впрыск адреналина и полное моральное удовлетворение, не говоря уже о благородной усталости. Так что, несмотря на&nbsp;чуть завышенную&nbsp;цену в 5$ за 15 минут, я наверняка ещё неоднократно вернусь, да не один, а с товарищами.<br />
<br />
&nbsp;&nbsp; Вердикт всего этого такой - деньговысасыватель GOPLANET замечательный, всем рекомендуется для опустошения кошельков и портмоне, а так же уничтожения лишних купюр и монет. Взамен получите гору удовольствия, по крайней мере в первые несколько раз.<br />
<br />
А мы, полюбовавшись на симулятор формулы-1, установленный прямо возле входа, спокойно отправились&nbsp; в общагу, куда дошли неожиданно быстро. Там я ещё несколько часов общался с коллегой <a href="http://ihavedream.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ihavedream</a>, потому что, несмотря на некоторые разногласия во взглядах, в реале о музыке мне говорить больше особо не с кем.<br />
<br />
В общем день выдался просто удивительный. Будем надеятся, такие будут ещё не раз.<br />
P.S.На следующий день я, как обычно, поехал домой на 4-часовом экспрессе, а с утра посетил кинофильм&nbsp;&nbsp;&quot;Дневной Дозор&quot;. <br />
Но об этом - в следующий раз.<br />
P.P.S. За рекламу GOPLANET, мне, к сожалению, не платят. А было бы неплохо.

	