Id: 49abd99e-dfe8-458a-8ad9-b79e62a118bb
Title: "Выпускной"
Published: "2006-06-18"
Slug: "2006-06-18 Выпускной"
-
<p align="left">
Я вчера зашёл тут&nbsp;на выпускной&nbsp;в 7 основной школе. Эта&nbsp;тусовка - молодёжь, живущая около моей дачи.
</p>
<p>
&nbsp;
</p>
<p align="center">
<br />
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/425_large.jpg"><img data-src="/files/lj/49662/425_big.jpg" alt="" title="Увеличить" /><br />
</a>Вот, собственно, почти вся тусовка.
</p>
<p>
&nbsp;
</p>
<p align="left">
[more text=Смотреть фото и комментарии]Слева направо - Эдгар, Кристина, Элика, Юра, Артур, Иля, Эдгар
</p>
<p align="center">
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/427_large.jpg"><img data-src="/files/lj/49662/427_big.jpg" alt="" title="Увеличить" /></a><br />
Артурик со своим модным прикидом и золотой цепью похож на сутенёра<br />
<br />
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/428_large.jpg"><img data-src="/files/lj/49662/428_big.jpg" alt="" title="Увеличить" /><br />
</a>А это его брат Эдгар прыгает согласно моему художественному замыслу
</p>
<p align="center">
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/429_large.jpg"><img data-src="/files/lj/49662/429_big.jpg" alt="" title="Увеличить" /><br />
</a>В середине сидит Женька, по совместительству маньяк-таксист
</p>
<p>
&nbsp;
</p>
<p align="center">
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/430_large.jpg"><img data-src="/files/lj/49662/430_big.jpg" alt="" title="Увеличить" /><br />
</a>Ваш покорный слуга&nbsp;и Кристина
</p>
<p>
&nbsp;
</p>
Изображаю Геракла, что нетрудно. Кристина - невероятно живая и подвижная, прямо&nbsp;как ртуть. Но лёгкая, как пушинка. Для заправской тусовщицы - самое то. Кристина, кстати, полностью двуязычна, насколько я знаю. Причём и русскиму и латышскому она &nbsp;научилась в семье, что для Даугавпилса редкость.&nbsp;В отличие от Риги, где очень и очень многие латыши с детства владеют русским. А русские, как правило, толком осваивают латышский&nbsp;лишь в юности.
<p align="center">
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/431_large.jpg"><img data-src="/files/lj/49662/431_big.jpg" alt="" title="Увеличить" /><br />
</a>Йоланта и первый муж
</p>
<p>
&nbsp;
</p>
<p align="left">
Платье Йоланты выглядит как свадебное, и потому все шутили, что она невеста. А это первый муж, потому что дальше будут ещё два. Догадайтесь, как в русскоязычном городе Даугавпилсе дети сокращают имя Йоланта?
</p>
<p align="center">
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/432_large.jpg"><img data-src="/files/lj/49662/432_big.jpg" alt="" title="Увеличить" /><br />
</a>Элика и Йоланта
</p>
<p>
Элика - это полное имя.&nbsp;Я когда увидел его у случайно у Йоланты в телефоне, ещё тогда удивился. А вчера вот Элика мне&nbsp;рассказала, что&nbsp;имя ей самостоятельно придумал&nbsp;брат,&nbsp;и&nbsp;что такого больше ни у кого нет. Однако она не была уверена до конца. Когда пришёл домой, погуглил. Выяснилось, что имя это упоминается в Библии. Есть его носители и сейчас&nbsp;- хотя и очень мало.<br />
Йоланта, кстати - это широко распространённое в Латвии имя.
</p>
<p align="center">
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/433_large.jpg"><img data-src="/files/lj/49662/433_big.jpg" alt="" title="Увеличить" /><br />
</a>Йоланта и&nbsp;второй муж
</p>
<p>
&nbsp;
</p>
<p align="center">
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/434_large.jpg"><img data-src="/files/lj/49662/434_big.jpg" alt="" title="Увеличить" /><br />
</a>Вряд ли я гожусь в мужья, слишком велика разница в возрасте
</p>
<p align="center">
<br />
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/435_large.jpg"><img data-src="/files/lj/49662/435_big.jpg" alt="" title="Увеличить" /><br />
</a>Йоланта и третий муж
</p>
<br />
<p align="center">
<br />
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/436_large.jpg"><img data-src="/files/lj/49662/436_big.jpg" alt="" title="Увеличить" /><br />
</a>Это весь выпускной класс
</p>
<br />
<p align="center">
<br />
<a style="cursor: url('https://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49662/437_large.jpg"><img data-src="/files/lj/49662/437_big.jpg" alt="" title="Увеличить" /><br />
</a>Храм Божий
</p>
<p>
&nbsp;
</p>
В качестве бонуса -&nbsp; ещё не законченный Храм Божий, который я уже как-то фотографировал с другой стороны. Интересно, на какие шиши отгрохали этот славный особнячок? Я бы не отказался от такого. Архитектура&nbsp;симпатичная,&nbsp;слегка ломаная, а башенка вообще - сами знаете как.<br />
Кстати, где находится седьмая школа и Храм Божий, можно <a href="https://www.wikimapia.org/#y=55902290&amp;x=26518056&amp;z=17&amp;l=1&amp;m=a">посмотреть</a> на викимапии.

	