Id: dfd3edf4-9907-41cd-a855-30caa63945e7
Title: "Мысль"
Published: "2006-02-20"
Slug: "2006-02-20 Мысль"
-
<p>
&nbsp;&nbsp;&nbsp; Я&nbsp;читал столько фантастики, что способ рожать детей по старинке, то есть из живого человека, мне кажется диким&nbsp;и варварским. Мало того, что это больно, так ещё и&nbsp;впустую тратится много месяцев.
</p>

	