Id: a2fd278a-648c-4b93-a925-c08190dfe1f2
Title: "Пелевин"
Published: "2006-10-16"
Slug: "2006-10-16 Пелевин"
-
<p>
Почитал тут&nbsp; <a href="https://community.livejournal.com/ru_pelevin/90248.html">Свежесворованного Пелевина<br />
</a>Вообще я его раньше почти не читал, потому что не в моём вкусе. Но в принципе -&nbsp;он крут. Забавны кучи интернет(и даже ЖЖ)-аллюзий. Но вот в целом мрачновато, да и концовка смазана.<br />
<br />
Скорее всего, правда, ворованная версия и вправду сильно отличается от той, что будет напечатана, а само &quot;воровство&quot; - искусственно созданный маркетинговый медиавирус.<br />
Тем, кто ещё случайно не в курсе, что это такое, идти в <a href="https://preved.lenta.ru/">Медиавирусную Лабораторию</a><br />
<br />
<br />
А ещё смешное<br />
<em>Комитет по исследованию политики Управления национальной обороны (УНО) Японии еще в 1981 году проводил исследования возможности разработки собственного ядерного оружия, однако тогда пришел к выводу о неосуществимости подобного проекта из-за колоссального бремени, который он наложил бы на промышленность и инфраструктуру страны.<br />
<br />
</em>Чудовищно нищей Северной Корее&nbsp;ядерное оружие&nbsp;сделать под силу,&nbsp;а одной из самых промышленно развитых стран мира - нет.<br />
<br />
Впрочем, судя, по всему, так думает только упомянутый комитет, а все остальные пока ещё в трезвом рассудке:<br />
<br />
<em>По мнению военных экспертов, Япония располагает техническими возможностями самостоятельно произвести ядерное оружие не более чем за один месяц.<br />
<br />
</em>Это уже больше похоже на правду.
</p>

	