Id: 6a2146a1-9d34-40fd-b501-a185d955109e
Title: "<P>Из информированнных источников внутри Microsoft стало известно, что всё большие части продуктов M"
Published: "2006-10-24"
Slug: "2006-10-24 _P_Из информированнных источников внутри Microsoft стало известно, что всё большие части "
-
<p>
Из информированнных источников внутри Microsoft стало известно, что всё большие части продуктов MS переводятся на .NET.<br />
И кто тут жаловался, что M$ сама не использует то, что другим предлагает? Другой вопрос, к добру ли это, с такими-то тормозами на старых компах.(увы, посыпаю главу пеплом - не видел раньше, что дотнет так же тормозит в UI, как java)<br />
</p>

	