Id: e027acd4-5d81-440c-a717-7fc66a588ab0
Title: "Как показать  свою музыку народу"
Published: "2006-04-15"
Slug: "2006-04-15 Как показать  свою музыку народу"
-
<p>
Поскольку на мой <a href="/post/2006-04-13%20%D0%A0%D0%B0%D0%B7%D0%B4%D1%83%D0%BC%D1%8C%D1%8F">вопрос</a> никто не ответил, отвечаю сам себе. <br />
&nbsp; Несколько дней я пытался написать программу, которая бы заглатывала экспортированную из iTunes музыкальную библиотеку и показывала бы статистику&nbsp;на вебе. В ходе процесса в очередной раз подтвердилось, что php дейтсвительно глючная и неудобная гадость, и что мой любимый .NET крут, но для него нет бесплатных хостингов, и вообще почти нет хостингов.<br />
&nbsp; Как оказалось, я зря мучился, поскольку всё, что может придти в голову человеку, уже существует.<br />
<a href="http://www.itunesregistry.com/">http://www.itunesregistry.com/</a><br />
&nbsp; На первый взгляд - отличный проект. Глотает xml из iTunes&nbsp; или&nbsp;из Winampовского&nbsp;&nbsp;<a href="http://www.winamp.com/plugins/details.php?id=139248">плагина экспорта</a>&nbsp;и отображает кучу всяческой статистики.&nbsp;В том числе можно показать другим, какие ты больше всего слушал песни и какой им поставил рейтинг. Не так красиво, как <a href="http://last.fm/" target="_blank">last.fm</a>, но более функционально. А для iTunes есть даже какой-то widget&nbsp;чтоб работало в режиме онлайн, как last.fm, но&nbsp;тут я пас.<br />
&nbsp; Правда, закачка в zip(или gzip)&nbsp;у меня так и не заработала, хотя я расстарался не на шутку. Пришлось 16MB моей медиабиблиотеки закачивать как есть.<br />
В общем штука полезная, надо изучать.
</p>

	