Id: 9c6cdc83-d238-4fc1-8c43-28b61b3f518c
Title: "Сон"
Published: "2006-05-11"
Slug: "2006-05-11 Сон"
-
<font color="#ff0000"><strong>
<p>
&nbsp;
</p>
</strong></font>
<p align="left">
На сей раз мне снился Олег Соболев, более известный как <a href="https://murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> murmanskdays</a>.<br />
&nbsp;&nbsp; Он беседовал с Матвеем Ганопольским на iRTV. Внешность, кстати,&nbsp;изменил -&nbsp;сделал химическую причёску с короткими прямыми чёрными волосами. Готично!&nbsp;Разговор шёл об архитектуре, но Соболев зачем-то рассказывал, что во Франции царит крайняя терпимость к чужим культурам и потому каждый может строить дома как пожелает. А&nbsp;мне пришла в голову мысль, что таким макаром во Франции скоро останутся только&nbsp; мечети. <br />
&nbsp; Когда Соболев вернулся домой, начал зачем-то&nbsp; страшно меня&nbsp;флудить по е-мейлу, icq и в ЖЖ.&nbsp;Придирался к какому-то посту с немножко корявым русским языком и плохой стилистикой. Я сказал, что уже поправил. Тогда Соболев рассказал, что по вопросу французкой архитектуры его жена&nbsp; придерживается такого же мнения, как и я.<br />
&nbsp;&nbsp; Если бы&nbsp;я не спал, то наверно упал бы со&nbsp;стула - Олег в 18 лет уже женат!&nbsp;Да ещё и мысли читает на громадном расстоянии от Москвы до Даугавпилса - иначе как он узнал, что я тогда подумал?<br />
Ждите дальнейших разоблачений и жареных фактов из жизни моих таинственных дримдайверов.
</p>

	