Id: 044563ee-95eb-4ab5-95b1-afa6c6d32dc2
Title: "Про ныряние"
Published: "2006-06-28"
Slug: "2006-06-28 Про ныряние"
-
<p>
Я ныряю на 4 метра. И даже на&nbsp;5 смогу. Но чтобы этому все поверили, мне нужен глубиномер на запястье.
</p>

	