Id: be5f91db-bdb0-4923-a32a-a71ec4a97722
Title: "Про модераторов"
Published: "2006-07-01"
Slug: "2006-07-01 Про модераторов"
-
<p>
Судя по тому, что я не могу отправить комментарий, меня забанили в популярном псевдоэстетском сообществе <span class="ljuser" style="font-weight: 800"><a href="https://www.livejournal.com/community/shtuki/" class="ljuser">shtuki</a></span>.<br />
Стоящих причин&nbsp;к этому не было. Посему делаю вывод, что&nbsp; высказывание про то, что 90% модераторов -&nbsp;мудаки по жизни, чистая правда. <a href="https://omami.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> omami</a>, привет.
</p>

	