Id: 556610e2-69ab-40f0-9728-4616c0aeb2fd
Title: "Князь (Забутыльник)"
Published: "2006-10-10"
Slug: "2006-10-10 Князь _Забутыльник_"
-
<p align="center">
<img data-src="/files/lj/knjaz1.gif" alt=""   /> <br />
Князь (Забутыльник) <br />
<br />
<font size="1">Посвящается князю Мосальскому ака Dron и его любви дубасить синьку</font> 
</p>

	