Id: b3bf707a-5880-4c32-90d4-adbf828941b6
Title: "Смартфоны"
Published: "2006-09-28"
Slug: "2006-09-28 Смартфоны"
-
Смартфон - это помесь телефона с КПК с уклоном в сторону телефона. Как правило, без полноразмерной клавиатуры. А коммуникатор - это с уклоном в сторону КПК, и с такой клавой.<br />
<br />
Я давно заглядываюсь на устройство, на котором одновременно можно звонить, читать книги и слушать музыку. Но до сего времени найти такие устройства, да чтобы они ещё и удовлетворяли моим требованиям, было сложно.<br />
Требования такие (не считая того, чтобы как телефон работал нормально): <br />
<br />
<ul>
	<br />
	    
	<li>mini-usb подключение к компу, желательно, чтобы видел память как диск (UMS) <br />
	</li><br />
	    
	<li>Стандартный аудиоразъём 3.5 мм(можно 2.5, но нежелательно) и терпимое качество звука (я не аудиофил - главное, чтоб шумов не было)</li><br />
	    
	<li>удобное управление проигрыванием музыки, возможность слушать во время чтения и отсутствие сброса песни после звонка</li><br />
	    
	<li>нормальная программа для чтения книг или возможность её установки</li><br />
	    
	<li>нормальный экран большого размер</li><br />
	    
	<li>карты памяти семейства micro/mini sd или mmc (нежелательно - sony ms)</li><br />
	    
	<li>фотокамеры не надо, но если 2-3 мегапикселя - то уже можно</li><br />
</ul>
<br />
<br />
Сегодня провентилировал вопрос ещё раз, в чём мне помог неплохой сайт http://gsmarena.com . Это единственное место, где указаны физические размеры экрана смартфонов, что мне важно.<br />
<br />
Выводы такие: устройства, которые мне годятся, пока ещё очень дороги, в основном из-за своей ниши, рассчитанной на энтузиастов. Из-за этой ниши они забиты дополнительными возможностями, которые повышают цену. <br />
<br />
Есть парочка подходящих, например сравнительно старый смартфон qtek 8010 (экран маловат, правда). Ещё <a href="http://www.lmt.lv/ru/index.php?pageid=2001052">по акции моего опсоса LMT</a> можно взять Sony Ericsson K610i или Nokia 6233. Получится терпимо по цене, но экран у них ещё меньше, потому как это ещё менее КПК чем qtek.<br />
<br />
А классные штучки вроде motorola a1000,&nbsp; новых Nokia серии N, новых qtek или Sony-Ericsson мне пока не по карману, увы. Так что ожидание придётся продолжить. Куплю лучше жёстких дисков две штуки по 400GB и сделаю &quot;зеркало&quot;, дабы не потерять мои сверхценные запасы музыки и фильмов.

	