Id: 61f6d2d5-2040-4477-a670-f7da1d93f0d5
Title: "Словарь для телефона"
Published: "2006-03-08"
Slug: "2006-03-08 Словарь для телефона"
-
Скачал <a href="http://www.garret.ru/~knizhnik/Dict_rus.htm">суперский английский словарь</a> на основе бесплатного словаря Мюллера в телефон. Всё-таки Siemens делал зверские телефоны - на моём C65 работает даже полная версия словаря в 2 MB, никаких ограничений на размер апплета. При этом&nbsp;не тормозит, и как очень приятный бонус (сразу не раскусил)&nbsp;- работает система ввода T9. В итоге можно смотреть Вавилон-5 с субтитрами&nbsp;и сразу переводить незнакомые слова. <br />
&nbsp; А сейчас&nbsp; собирался написать автору, что было бы очень хорошо добавить history. Посмотрел внимательно&nbsp;-&nbsp;а оно, оказывается, уже есть! <br />
Круть несусветная, вот что это.<br />
А ещё увлёкся дьявольскими флеш-играми серии <a href="http://www.eyezmaze.com/grow/RPG/index.html">grow</a>, чему поспособствовал <a href="http://ted_strife.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ted_strife</a>.<br />
 grow rpg прошёл, grow v3 почти прошёл.

	