Id: b99bf488-7d16-42ff-a48b-6b7b6dde4ce7
Title: "Открытие"
Published: "2006-03-04"
Slug: "2006-03-04 Открытие"
-
<p>
Всегда думал, что симулякр - слово, выдуманное кем-то вроде Станислава Лема, который был большой охотник до словотворчества.<br />
А оказалось, что такое слово очень даже <a href="http://dictionary.reference.com/wordoftheday/archive/2006/03/04.html">существует.</a>&nbsp;<br />
Узнал&nbsp;с помощью <a href="http://dictionary.reference.com/wordoftheday/wotd.rss">Word&nbsp;Of The Day RSS Feed&#39;a</a>&nbsp;с dictionary.com через Google Web Clips в Gmail&#39;e.<br />
<span style="font-weight: bold; font-size: large">simulacrum</span> \sim-yuh-LAY-kruhm; -LAK-ruhm\, <em>noun</em>;<br />
<em>plural</em> <strong>simulacra</strong> \sim-yuh-LAY-kruh; -LAK-ruh\:<br />
<!-- wotd="simulacrum" --><strong>1.</strong> An image; a representation.<br />
<strong>2.</strong> An insubstantial, superficial, or vague likeness or semblance.
</p>

	