Id: 4f2d03f2-8362-46ba-89d2-95f6a489f017
Title: "Ныряки"
Published: "2006-07-28"
Slug: "2006-07-28 Ныряки"
-
<p>
<a href="/post/2006-07-12%20%D0%A0%D0%B0%D0%B7%D0%B4%D1%83%D0%BC%D1%8C%D1%8F">Глубиномер</a>&nbsp;мне привезли timex helix, потому что casio закончились. Меряет он оказывается и в метрах тоже. Но - с точностью до метра, что очень забавно. Поэтому я всё-таки установил английскую систему величин, и в результате наблюдаю свои достижения в футах. Но это как раз достаточно удобно, а вот температура в фаренгейтах просто убивает. Впрочем, температуру timex helix показывает весьма приблизительно и сильно оптимистично.<br />
&nbsp; Итак,&nbsp;вчера я нырял на <a href="https://www.wikimapia.org/#y=55869641&amp;x=26623478&amp;z=16&amp;l=1&amp;m=h">котловане</a> в Ругелях. Вода там прозрачная и растения красивые. Но было ветрено, а вода была довольно прохладной. В итоге я не смог войти в медитативное состояние, требуемое для фридайвинга. Но главное - глубина у берега невелика, а заплывать далеко&nbsp;при ветре&nbsp;тяжело, да и запрещено.&nbsp;Причём буйками служат пятилитровые бутылки из-под кваса, выкрашенные в красный цвет. В связи со всеми этими условиями,&nbsp;установленный сегодня личный рекорд - всего лишь 14 футов, или 4.3 метра.<br />
Недавно я <a href="/post/2006-07-09%20%D0%92%D0%BE%D0%BF%D1%80%D0%BE%D1%81">спрашивал</a>, на сколько может нырнуть человек без приспособлений. Вопрос был некорректный, поскольку одно приспособление всё-таки используется всегда - это груз. Так вот, согласно <a href="https://en.wikipedia.org/wiki/Free_diving#Official_World_Records_as_of_2006-06-06_.28AIDA.29">Википедии</a>&nbsp;рекорд среди мужчин - 80 метров, а среди женщин - 55. С ластами результат увеличивается до 108 и 86 метров соотвественно. А мировой рекорд с дополнительными приспособлениями (но без воздуха, естественно) составляет около 200 метров.<br />
Есть куда стремиться.<br />
</p>

	