Id: 01e1da8a-7e2e-48a7-b566-596324a27b9b
Title: "Скукотень"
Published: "2006-02-18"
Slug: "2006-02-18 Скукотень"
-
&nbsp;&nbsp; Много дней ничего не писал, потому что поймал зверски опасного&nbsp;трояна CoolWebSearch, из-за которого сдох Windows. Из-за особенностей компа (у меня SATA диск и RAID , нет обычного одиночного PATA IDE) не мог легко переустановить, еле получилось. А теперь ещё и заболел какой-то странной простудой (или это грипп?). Родители порознь отдыхают вне дома,&nbsp;каждый в своих компаниях, а я сижу один и смотрю Futurama, первые 3 серии, которые уже скачались.<br />
Поэтому ничего, кроме очередного лытдыбра, наваять не смогу. 
<p>
&nbsp;
</p>
&nbsp;&nbsp;&nbsp; Когда на прошлой неделе был в Риге, зашёл ещё разок в патентную библиотеку, переснять пару книг на фотик. Получилось неплохо: быстро и достаточно качественно, чтобы можно было их читать. Потом несколько часов потратил, пытаясь понять, во что и как лучше сжать объёмные.jpegи, чтобы раздавать всем желающим. Оказалось, что в инете есть старая бесплатная версия софтины DJVU solo, сжимающей в замечательный формат DJVU, в отличие от тормозного и объёмного PDF, идеально подходящий именно для <strong>сканированных</strong> или <strong>фотографированных </strong>книг. <br />
[more text=По дороге из библиотеки заснял заснеженную Ригу. Сначала - домская площадь]
<p>
&nbsp;
</p>
По дороге из библиотеки заснял заснеженную Ригу. Сначала - домская площадь<br />
<p align="center">
<img data-src="/files/lj/37183/349_large.jpg" alt="" /><br />
Ресторан &quot;Planeta Sushi&quot;,&nbsp;рядом с&nbsp;библиотекой
</p>
<br />
<p align="center">
<a href="/files/lj/37183/352_big.jpg"><img data-src="/files/lj/37183/352_big.jpg" alt="" /></a><br />
Домский собор<a href="/files/lj/37183/353_large.jpg"></a>
</p>
<p align="center">
<a href="/files/lj/37183/353_large.jpg"><img data-src="/files/lj/37183/353_big.jpg" alt="" /></a><br />
Несколько лет назад заново построенный Дом Черноголовых<br />
<br />
<img data-src="/files/lj/37183/354_large.jpg" alt="" /><br />
Церковь св. Петра
</p>
<p>
&nbsp;&nbsp; В церкви святого Петра есть обзорная площадка на высоте в 70. Раньше была открытая, было здорово - стоишь у бортика, всё внизу крохотное, и ветер в лицо.&nbsp;Сейчас вроде огородили, если не застеклили. Если так дальше пойдёт, скоро будем жить в непроницаемых пузырях.
</p>
<p align="center">
<img data-src="/files/lj/37183/356_big.jpg" alt="" /><br />
Железнодорожный мост
</p>
<p>
&nbsp;
</p>
<p align="left">
&nbsp;&nbsp; В Риге сейчас 3 автомобильных моста и 1 железнодорожный. Если считать от юга к северу, то есть к устью Даугавы, то сначала идёт длиннющий Островной, потом Железнодорожный, потом Ккаменный, по которому ходит трамвай, и с которого я фотографировал. А ближе всего к устью Даугавы находится Вантовый мост, знаменитый символ города.&nbsp;
</p>
<p align="center">
<a href="/files/lj/37183/358_large.jpg"><img data-src="/files/lj/37183/358_big.jpg" alt="" /></a><br />
Вантовый мост
</p>
<p align="left">
&nbsp; Уже начато строительство Южного моста, который будет находится южнее островного. И скорее&nbsp;севернее после Вантового моста всё-таки будет построен ещё и северный тоннель, который стоит громадных по маштабам Латвии&nbsp;денег (до полумиллиарда $, а годовой бюджет у нас&nbsp;5 миллиардов), и потому&nbsp;из-за него вечно коррупционные скандалы.&nbsp;Пишу по памяти, потому могу ошибаться в цифрах.
</p>
<p align="center">
<a href="/files/lj/37183/357_large.jpg"><img data-src="/files/lj/37183/357_big.jpg" alt="" /></a><br />
Панорама застывшей Даугавы
</p>
<p>
Смахивает на поле в какой-нибудь уральской глуши, а не реку длиной более тысячи км.
</p>
<p align="center">
<a href="/files/lj/37183/360_large.jpg"><img data-src="/files/lj/37183/360_big.jpg" alt="" /></a><br />
Панорама центра Риги
</p>
<p>
&nbsp;
</p>
&nbsp;&nbsp; Это знаменитая картинка центра Риги, которую можно видеть на открытках, только зимой, маленькая, и снята любителем. Классическое &quot;Мне Рабинович напел&quot;.
<p>
&nbsp;
</p>
<a href="/files/lj/37183/" target="_blank">Все фото</a>

	