Id: 48487aac-8ed0-440c-9d93-aa8664be222c
Title: "Оригинальность"
Published: "2006-09-30"
Slug: "2006-09-30 Оригинальность"
-
<p>
Меня смешит, когда люди (как правило подростки или недоросли) хотят&nbsp;быть &quot;странными&quot; и &quot;оригинальными&quot;, или считают себя таковыми.&nbsp;По-моему,&nbsp; очевидный факт, что&nbsp;искусственное оригинальничанье идёт во вред, а не на пользу.&nbsp;А чтобы человек&nbsp;считался другими действительно&nbsp;интересным и оригинальным, он должен либо&nbsp;быть таким с детства по натуре, либо просто расширять кругозор и реализовывать свои идеи и желания, глубоко разбираясь в предмете. (Неважно, к&nbsp;какой предметной области&nbsp;это относится).<br />
&nbsp; Я сам&nbsp;с детства был немного странным (надеюсь, в меру) , и при этом вовсе не &quot;пытался быть оригинальным&quot;, а&nbsp;просто при&nbsp;долгом общении выделялся среди&nbsp;сверстников (не подумайте плохого, не особым умом и знаниями :-). Кто не верит, спросите любого человека, который долго знает меня в реале.&nbsp;Но не сказать, чтобы это принесло мне особое счастье.<br />
&nbsp;Или, например наши преподы в универе.&nbsp;Некоторые называют&nbsp;такое зверинцем, не это некрасиво. Просто долгое общение с огромными толпами студентов, постоянные выступления перед публиков и немалые знания наложили на&nbsp;людей свой отпечаток, поэтому большая часть преподавателей весьма колоритные персонажи и без сомнения могут считаться своеобразными.<br />
</p>

	