Id: bebc38a0-6146-48d6-bb12-dffb04a2f634
Title: "<P>Когда очень сильно тупишь - также хорошо постигаешь мир, как и с крайне острым умом.</P>"
Published: "2006-11-12"
Slug: "2006-11-12 _P_Когда очень сильно тупишь - также хорошо постигаешь мир, как и с крайне острым умом.__"
-
<p>
Когда очень сильно тупишь - также хорошо постигаешь мир,&nbsp;как и с крайне острым умом.
</p>

	