Id: 79d0bfdf-55da-4123-95de-6435d3fc9611
Title: "Хип-хоп"
Published: "2006-12-05"
Slug: "2006-12-05 Хип-хоп"
-
<P>The Roots новый мне нравится, в отличие от Ghostface Killah. Видно у меня пожизннная аллергия на классический коммерческий хип-хоп.<br/>А DJ Shadow кстати сделал что-то хитрое на новом альбоме - половина треков акустические песни. Судя по вступлению всё страшно концептуально и перепродюсировано, так что надо тексты читать, на что времени конечно нет.</P>
	