Id: 62b1021e-b7b6-47fd-989c-93532f1bd7f1
Title: "Kate Bush"
Published: "2006-11-12"
Slug: "2006-11-12 Kate Bush"
-
Я вам уже говорил, как я люблю&nbsp;некоторые песни Kate Bush с альбома Aerials?<br />
Это идеальные сочетания музыки и волшебных текстов, особенно How to be invisible u Pi<br />
<br />
<a href="http://vladek.richnet.lv/tmp/102%20-%20Pie.mp3">102 - Pi.mp3<br />
</a><a href="http://vladek.richnet.lv/tmp/104%20-%20Mrs.%20Bartolozzi.mp3">104 - Mrs. Bartolozzi.mp3</a><br />
<a href="http://vladek.richnet.lv/tmp/105%20-%20How%20to%20Be%20Invisible.mp3">105 - How to Be Invisible.mp3</a><br />
<a href="http://vladek.richnet.lv/tmp/106%20-%20Joanni.mp3">106 - Joanni.mp3</a><a href="http://vladek.richnet.lv/tmp/102%20-%20Pie.mp3"><br />
</a><br />
<a href="http://www.sing365.com/music/lyric.nsf/Kate-Bush-lyrics/296FF61F0F3C8157482569A00034E6AF">Тексты</a>

	