Id: 2eaa2cfa-86f0-4a53-9a5c-c86f7576829f
Title: "Сон"
Published: "2006-05-19"
Slug: "2006-05-19 Сон"
-
<p>
&nbsp;&nbsp; Мне снилась корпорация Google. Конкретно - огромный завод с красивым&nbsp;бурным водопадом на торце. По заводу мы перемещались на антигравитационных спецкреслах, следующих определённым маршрутом. Завод был&nbsp;крайне современный - вместо станков и работников все задачи&nbsp; выполняли автономные роботы, способные парить(антиграв?). Фигуры их были похожи на человеческие, но толще, ниже и тёмно-металлического цвета, вроде цвета мокрого асфальта, но блестящего.&nbsp;Завод был многоэтажный и очень большой,&nbsp;а вместо лестниц были&nbsp;огромные проёмы в полу, что логично - нафига антигравитационным роботам и креслам лестницы?<br />
&nbsp;&nbsp; Исходя из этих отрывочных данных, делаю вывод.&nbsp;Гугль в будущем разработает автономных интеллектуальных роботов, способных быстро и качественно изготавливать что угодно. Таким образом, Гугль станет самой грандиозной ТНК по производству&nbsp;товаров и услуг.&nbsp;Завод выглядел чуток мрачновато, хоть и не страшно. Поэтому я ещё надеюсь что Гугль не станет злоупотреблять полученной властью и не установит тотальный информационно-матеральный контроль на всей планете.<br />
&nbsp;&nbsp; Сегодняшний (настоящий) девиз Гугля: &quot;Our mission is to organize world&#39;s information&quot;. Учитывая этт девиз, огромную капитализацию Google, а также известные скандалы, связанные с приватными данными пользователей (Google Web Accelerator, Google Search, Google Desktop Search),&nbsp;киберпанковский сценарий развития событий имеет ненулевую вероятность.<br />
</p>

	