Id: 7fc39075-fc7d-4373-ae78-d8d945328dcc
Title: "Сенсорные интерфейсы"
Published: "2006-11-10"
Slug: "2006-11-10 Сенсорные интерфейсы"
-
Нечто похожее на программу для создания музыки, но в реале. В общем выглядит красиво, но для музыкантов пока малополезно.<br />
<div class="ljvideo">
<img src="/stc/fck/editor/plugins/livejournal/ljvideo.gif" alt="" /><br />
<br />
<br />
<br />
</div>
<br />
<br />
<br />
Но за таким подходом к интерфейсу наверняка будущее. Да и в настоящем хватает - даже у нас в школы уже ставят электронные сенсорные доски.&nbsp; Был где-то ещё более впечатляющий ролик для похожего интерфейса к google maps (правда без кубиков, просто пальцами тащить можно было)

	