Id: 6188013b-c72b-4567-b41d-d3f61dd3d2d9
Title: "D-Link"
Published: "2007-11-24"
Slug: "2007-11-24 D-Link"
-
<p>
Соорудил тут беспроводную сеть с помощью первого попавшегося рутера DLink.
</p>
 
<p>
Всё отлично, за исключением того странного факта, что при внесении любых изменений он пишет &quot;Please wait, device is restarting&quot;. Китайцы не могут не жечь, даже когда всё&nbsp; нормально сделано.
</p>
 
<p>
У D-link даже девиз &quot;Building networks for people&quot;. А что, бывают сети для зверей и киборгов? Или они намекают, что их продукция такой ширпотреб, что фирмы её не закупают, только частные лица?
</p>

	