Id: 9104e8f8-77d5-4f8e-a0ad-4841ac4e0d60
Title: "Вот оно как"
Published: "2007-12-03"
Slug: "2007-12-03 Вот оно как"
-
<blockquote>
	 
	<p>
	PRQ is a Swedish web hosting company which became famous for hosting the BitTorrent website, <a href="https://en.wikipedia.org/wiki/The_Pirate_Bay">The Pirate Bay</a>, as well as hosting the controversial Chechen website, <a href="https://en.wikipedia.org/wiki/Kavkaz_Center">Kavkaz Center</a>. The owners of PRQ are <a href="https://en.wikipedia.org/wiki/Fredrik_Neij">Fredrik Neij</a> and <a href="https://en.wikipedia.org/wiki/Gottfrid_Svartholm">Gottfrid Svartholm</a>. Part of PRQ&#39;s business model is to host any customers regardless of how odd or controversial they may be. PRQ currently hosts the public BitTorrent website, <a href="https://en.wikipedia.org/wiki/The_Pirate_Bay">The Pirate Bay</a>, as well as the private music torrent sites <a href="https://en.wikipedia.org/w/index.php?title=What.cd&amp;action=edit">What.cd</a>. <a href="https://en.wikipedia.org/w/index.php?title=Waffles.fm&amp;action=edit">Waffles.fm</a>, is in the process of migrating to PRQ from Leaseweb.
	</p>
</blockquote>
 
<p>
Диалектика бытия: хотите качать музыку - миритесь с существованием таких ресурсов, как Кавказ-Центр. 
</p>

	