Id: 9453c7f0-32fc-47f9-b3ff-63884dce2026
Title: "Шоу трумэна"
Published: "2007-04-22"
Slug: "2007-04-22 Шоу трумэна"
-
<P>Посмотрел кино "Шоу трумэна". Не впечатлился, наверное потому что сюжет знал.&nbsp;А по&nbsp;первому каналу&nbsp;можду прочим Crash идёт.<br/>У меня дилемма - посмотреть ещё раз, или спать идти.</P>
	