Id: 6a2dbab2-9b2a-40e3-af72-3d5b94ac8bf1
Title: "Лытдыбр"
Published: "2007-11-22"
Slug: "2007-11-22 Лытдыбр"
-
<blockquote> <p>Устанавливаю Visual Studio 2008 и слушаю свежий сольный альбом Сандры Насич из Guano Apes.</p></blockquote> <p>Юношескую любовь не убить!</p> <p>&nbsp;<a href="https://ir.izvne.com/https://ec1.images-amazon.com/images/I/51zViBUaHHL._SS500_.jpg"><img src="https://ir.izvne.com/t/https://ec1.images-amazon.com/images/I/51zViBUaHHL._SS500_.jpg"> </a></p> <p> Кому не нравится Сандрочка, идёт лесом. Жаль фоток нормальных не нашёл.</p>
	