Id: 8455be34-5df6-49f9-92be-f35bb479dcf8
Title: "Впечатления"
Published: "2007-03-24"
Slug: "2007-03-24 Впечатления"
-
<p>Сегодня открылся офис&nbsp;моего работодателя&nbsp;в Даугавпилсе, и я там работал (до этого&nbsp;я работал удалённо). Впечатления неплохие.<br/>Посмотрел свежий Лост. Сценаристы монстры, актёры тоже не подкачали. Впечатления хорошие.<br/>Послушал музыку <a href="https://mu.super.lv/vlad/the-melting-ice.mp3" target="_blank">тающего айсберга</a>.&nbsp;Звучит на порядок лучше&nbsp;95% музыки&nbsp;в мире. Впечатления отличные.<br/>Латвийская почта в&nbsp;оцифиальном образце конверта&nbsp; использовала&nbsp;имя получателя: "Медвед Круминьш". Впечателения забавные.<br/><br/></p>
	