Id: 0eb6754e-af92-43aa-979f-9208a6eea5b0
Title: "Эххх, я там есть"
Published: "2007-12-09"
Slug: "2007-12-09 Эххх, я там есть"
-
<p>
<a href="https://www.nytimes.com/2007/12/04/health/04mind.html?em&amp;ex=1197349200&amp;en=7bfafdc68245ddda&amp;ei=5087%0A" target="_blank">Unhappy? Self-Critical? Maybe You&rsquo;re Just a Perfectionist</a>
</p>

	