Id: 4ef06169-fbbe-41ab-a0ef-f87a46d411b0
Title: "Почта"
Published: "2007-03-25"
Slug: "2007-03-25 Почта"
-
Латвийская почта заразилась&nbsp;интернет-культурой&nbsp;<a href="https://www.pasts.lv/ru/privatpersonas/filatelija/katalogs/marka.html?shop_id=1524">не на шутку.<br/></a><em>Этот тавар можна купить в нашом магазине.<br/><br/></em>А вообще я тут собрался купить одну из самых лучших доступных звуковых карт.<br/>Creative E-MU 0404 USB - качество звука очень высокое, близкое к картам, на которых делается вся эта ваша музыка. Плюс удобное управление и техноманьячный внешний вид. Прямо гаджет, ёптель.<br/>Можно было купить игровую карту X-Fi Elite PRO, которая по звуку тоже на уровне,&nbsp; но это претит моему снобизму. Пусть геймеры выкидывают деньги, а я буду делать вид, что я аудиофил-антигеймер, и пользоватся професииональным оборудованием, которое даже без многоканального выхода.&nbsp; Стоит это чудо около 200$ / 200€. Одна проблема - у&nbsp; нас вообще не нашёл как-то, из США трудно прислать, а в&nbsp; Европе дорого стоит.<br/><br/><p align="center"><img data-src="/files/lj/emu.jpg"></p>
	