Id: 72beaa02-6df8-4298-aa2b-94fcd6a41df1
Title: "The Books - Playall"
Published: "2007-12-01"
Slug: "2007-12-01 The Books - Playall"
-
<p>
<strong>UPDATE:</strong> DVD вышел, можно купить на <a href="http://www.thebooksmusic.com/garage/index.html">оф. сайте</a>
</p>
<br />
<p>
Случайно увидел нечто, называемое The Books - Playall. Скачал, стал слушать, а там есть песни, что я давным-давно <a href="/post/2007-05-17%20%D0%9B%D0%B5%D1%81%20%D0%97%D0%B2%D1%83%D0%BA%D0%BE%D0%B2%20-%202007" target="_blank">слышал</a> на фестивале &quot;Лес звука&quot;, и которых нет в старых альбомах. Вроде как этот Playall - DVD, который вроде бы ещё не вышел, но скачал я почему-то MP3.
</p>
 
<p>
В общем, сплошные тайны, как и положено независимым экспериментальным музыкантам.
</p>

	