Id: d609c4cd-f2ac-469c-a372-42f446b63bae
Title: "Burial"
Published: "2007-11-17"
Slug: "2007-11-17 Burial"
-
<p>Новый Burial всё-таки вставил. Всё-таки важно правильное понимание, а не только непосредственное ощущение. Вот старина <a href="https://ted-strife.livejournal.com">Тед</a> и питчфорк рассказали мне, в чём соль, так я сразу проникся.</p>
	