Id: 7bbabe6e-8f1c-4724-b0ec-b36060326e0a
Title: "Старая фотка"
Published: "2007-09-16"
Slug: "2007-09-16 Старая фотка"
-
<P align=center><A href="/files/lj/IMG_1754.jpg"><IMG src="https://ir.izvne.com/t//lj/IMG_1754.jpg"></A><br/>Бабушко прёцца от грибочгофф</P>
	