Id: ef746af5-e2a7-49be-a034-afd6ac258605
Title: "Ещё футболка"
Published: "2007-10-25"
Slug: "2007-10-25 Ещё футболка"
-
Вот обещанная футболка, на мне. Снято на телефон, фотика в офисе нет.<br/><a href="/files/lj/majka_rad.jpg"><img src="https://ir.izvne.com/t//lj/majka_rad.jpg" /></a>
	