Id: bd397050-a4e8-4672-b137-96411b5a6de8
Title: "Про байкершу"
Published: "2007-05-05"
Slug: "2007-05-05 Про байкершу"
-
Вот это точка зрения рационального человека.<br/><A href="http://animus-ater.livejournal.com">http://animus-ater.livejournal.com</A><br/>А те, кто "глубоко и тонко чувствуют" и призывают к "сочувствию" и "человечности" - на другой стороне.<br/>Вы с кем?<br/><br/>Я&nbsp; - понятное дело, за биороботов.
	