Id: 1ca5b536-bdb2-4f2c-933a-fce91230acda
Title: "Про Земфиру"
Published: "2007-09-29"
Slug: "2007-09-29 Про Земфиру"
-
<A href="https://gugiens.livejournal.com/305224.html?mode=reply">Новый альбом Земфиры</A> странный. Поёт всё больше как Агузарова, а музыка - кабаре какое-то.&nbsp;Обязательно ли это слушать? Нет.&nbsp;Можно&nbsp;ли - пока вопрос открытый.
	