Id: 9f42e586-4bff-409a-8f33-5f4458442874
Title: "Биороботизм"
Published: "2007-12-24"
Slug: "2007-12-24 Биороботизм"
-
<p>
Я давно уже подумываю о создании standalone блога, посвящённого биороботизации населения. Благо новостей на эту тему полным-полно. Вот, например: <a href="http://www.timesonline.co.uk/tol/news/uk/health/article3087367.ece?">Глухие родители отстаивают своё право на создание искусственно глухих детей</a>. 
</p>
<p>
Останавливает меня только мысль о том, что мне, естественно, будет лень. Я вечно чем-то увлекаюсь, а потом забрасываю. Наверное, мне надо наркотик для поддержания интереса, как во второй киберпанковской библии&nbsp; &quot;Шизматрица&quot;.
</p>
<pre>
<pre>
 &quot;Зеленый экстаз&quot;  тихонько  струился в жилах  Линдсея,  возбуждая волну
подзуживающего любопытства. Это было новейшее средство против скуки, сложное
вещество,  составляющее биохимическую  основу удивления. Приняв  достаточную
дозу  &quot;Зеленого  экстаза&quot;,  человек мог найти бездну  интересного  в  линиях
собственной ладони.
</pre>
</pre>
<br />
<p>
&lt;...&gt;
</p>
<pre>
<pre>
- Говоря честно, мне просто любопытно, -- улыбнулся он.  --  Возможно,
это наркотик...
-- Наркотик? Но это не  твой излюбленный  когда-то вазопрессин. Иначе у
тебя было бы лучше с памятью.
--  &quot;Зеленый  экстаз&quot;,  Кицунэ.  У  меня  имеются  вполне  определенные
долгосрочные планы... А &quot;Зеленый экстаз&quot; поддерживает к ним интерес.
-- Терраформинг...
--  Да.  Проблема,  понимаешь  ли,  во  времени  и  масштабе.  А  долго
поддерживать фанатизм  -- тяжело.  Без  &quot;Зеленого  экстаза&quot; разум  разъедает
фантастическое, низводя его до будничного.
</pre>
</pre>

	