Id: 8e8b4301-66b4-4dd6-a157-fb54187d9462
Title: "<P>Освоил awk.
Юниксоиды всё-таки страшные люди.</P>"
Published: "2007-01-23"
Slug: "2007-01-23 _P_Освоил awk._Юниксоиды всё-таки страшные люди.__P_"
-
<P>Освоил awk.<br/>Юниксоиды&nbsp;всё-таки страшные люди.</P>
	