Id: 8f6bbb09-d6f3-4c41-87dd-5bf55260bed9
Title: "Дельфин"
Published: "2007-11-29"
Slug: "2007-11-29 Дельфин"
-
<p>
Я всё время шучу про биороботов, на работе даже надоел всем. И вот купил&nbsp; в <a href="https://soundkey.ru" target="_blank" title="Музыкальный интернет-магазин от Звуков.Ру">soundkey.ru</a> новый альбом Дельфина, а там на первом треке как раз про это.
</p>
 
<p>
Кстати, клип на песню &quot;Кокон&quot; очень крутой. Его можно посмотреть и скачать в любом качестве, хоть даже и вовсе FullHD
</p>
 
<p>
<a href="https://madeinrussia.tv/video/129" title="https://madeinrussia.tv/video/129">https://madeinrussia.tv/video/129</a>
</p>
 
<p>
На ту же тему: швейцарские учёные совместно с IBM обещают <a href="https://www.technologyreview.com/Biotech/19767/" target="_blank">полную</a> симуляционную модель человеческого мозга через 10 лет.
</p>
 
<p>
Вот из статьи картинка. 10,000 нейронов и 30 миллионов связей между ними - формируют лишь крошечную часть мозга. Как&nbsp; верно заметили комментаторы, похоже на рисунок Поллока.
</p>
 
<p>
<a href="https://ir.izvne.com/https://www.technologyreview.com/files/13733/bluebrain_x600.jpg">
<div style="text-align: center">
<img src="https://ir.izvne.com/t/https://www.technologyreview.com/files/13733/bluebrain_x600.jpg" alt="" />
</div>
 </a>
</p>

	