Id: 8828bca2-7fdb-4156-9c7d-62efb82694cd
Title: "<a href=\"http://ir.izvne.com/http://img.artlebedev.ru/news/2007/gm/g-m.gif\"><img src=\"http://ir.izvn"
Published: "2007-11-12"
Slug: "2007-11-12 _a href__http___ir.izvne.com_http___img.artlebedev.ru_news_2007_gm_g-m.gif___img src__htt"
-
<a href="http://ir.izvne.com/http://img.artlebedev.ru/news/2007/gm/g-m.gif"><img src="http://ir.izvne.com/t/http://img.artlebedev.ru/news/2007/gm/g-m.gif" /></a><br/>Что-то мне говорит, что это скоро будет правдой.
	