Id: dd308307-0ae8-498c-8c52-0e3598b8dc0b
Title: "Прёт"
Published: "2007-07-07"
Slug: "2007-07-07 Прёт"
-
Смотрю прямую трансляцию <A href="https://ted-strife.livejournal.com/165060.html">live earth</A> (спасибо бесценному <a href="https://ted_strife.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> ted_strife</a>),&nbsp;по нью-йоркскому каналу сейчас крутят ролики про мировые источники электроэнергии.<br/>Прёт меня нереально.
	