Id: 8ed20b5e-ea42-4e6b-af96-2bd9cdb62312
Title: "ЭТО ПЕАР!"
Published: "2007-04-29"
Slug: "2007-04-29 ЭТО ПЕАР_"
-
<A href="http://blogs.yandex.ru/pulse?query1=%EB%E0%F2%E2%E8%FF&query2=%FD%F1%F2%EE%ED%E8%FF&period=20060429-20070430"><IMG class=img title="" height=385 alt=График src="http://pulse.blogs.yandex.net/?period=20060429-20070430&amp;query0=%EB%E0%F2%E2%E8%FF&amp;query1=%FD%F1%F2%EE%ED%E8%FF&amp;size=small" width=500 border=0><br/>Пульс блогосферы за год по запросам латвия и эстония</A>
	