Id: 7853ce8c-3736-44ff-a5ff-5b8aa9d828e0
Title: "Аниме"
Published: "2007-11-11"
Slug: "2007-11-11 Аниме"
-
<p>Сегодня в загородном? доме монтировали отопительную систему. Вдвоём с папой переместили газогенератор весом 500 кг с улицы в комнату. Заняло это правда около двух часов, а может и больше.</p> <p>&nbsp;</p> <p>Ещё я вчера досмотрел аниме 12 Kingdoms по мотивам фэнтезийной саги.</p> <p>Отличное почти во всех отношениях, жаль закончилось внезапно, создатели не доделали.</p> <p><a href="/files/lj/a29f5080a435_142F1/12kingdoms.jpg"><img style="border-right: 0px; border-top: 0px; border-left: 0px; border-bottom: 0px"  alt="12kingdoms" data-src="/files/lj/a29f5080a435_142F1/12kingdoms_thumb.jpg"  border="0"></a> </p> <p></p> <div class="wlWriterSmartContent" id="scid:0767317B-992E-4b12-91E0-4F059A8CECA8:3fc22bc4-6eba-4609-8ffc-bd3d20063270" style="padding-right: 0px; display: inline; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px"><b>Метки: </b><a href="http://vladekk.livejournal.com/tag/%d0%b0%d0%bd%d0%b8%d0%bc%d0%b5" rel="tag">аниме</a>,<a href="http://vladekk.livejournal.com/tag/%d0%ba%d0%b8%d0%bd%d0%be" rel="tag">кино</a>,<a href="http://vladekk.livejournal.com/tag/%d0%bb%d1%8b%d1%82%d0%b4%d1%8b%d0%b1%d1%80" rel="tag">лытдыбр</a></div> <p>P.S. - Windows Live Writer - очень крутой клиент. Ещё полгода развития - и будет просто убойным.</p>
	