Id: af28dc89-0cb6-40d0-af11-b2fea9ad5428
Title: "Байк"
Published: "2007-09-12"
Slug: "2007-09-12 Байк"
-
<P align=center><A href="https://s-medved.com/user/image/bigpic/big336.jpg"></A></P><P align=center><A href="https://s-medved.com/user/image/bigpic/big336.jpg"><IMG src="https://ir.izvne.com/t/https://s-medved.com/user/image/bigpic/big336.jpg"></A><br/>Возвращался домой, видел райдера на таком&nbsp;вот&nbsp;байке родной фирмы</P><P></P><P align=left>Стоит у нас 1100$.&nbsp; А мне тут говорят, что у меня велосипед дорогой :-)<br/><br/></P>
	