Id: 67e712af-9f53-412f-920a-b3502cf7e18f
Title: "Вот так"
Published: "2007-12-30"
Slug: "2007-12-30 Вот так"
-
<p>
&nbsp;
</p>
 
<p>
У меня новый кумир - Miguel de Icaza.&nbsp; (У меня вообще кумиров так мало, что можно счесть по пальцам одной руки)
</p>
 
<p>
Непрограммистам просьба не беспокоиться.
</p>

	