Id: fe4f236f-cee3-4823-90fc-ae8b153717fb
Title: "<P>Я пью каберне совиньон в терапевтических дозах. Хорошее, папе подарили на работе.</P>"
Published: "2007-01-04"
Slug: "2007-01-04 _P_Я пью каберне совиньон в терапевтических дозах. Хорошее, папе подарили на работе.__P_"
-
<P>Я пью каберне совиньон в терапевтических дозах. Хорошее, папе подарили на работе.</P>
	