Id: b4619a9d-bc28-4ca8-ba98-bb31fd871521
Title: "ЖЖ"
Published: "2007-05-01"
Slug: "2007-05-01 ЖЖ"
-
<P>Гм, продолжаю зачем-то <A href="https://immoralist.livejournal.com/448546.html?thread=14915106#t14915106">самоубийственно бросаться</A> под колёса словесных танков, на которых разъезжает мафия тысячников.<br/>Напомню, до того я умудрился достать <br/><br/><a href="https://artem_r.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> artem_r</a><br/><a href="https://kitya.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> kitya</a><br/><SPAN class=a><FONT size=2><a href="https://beauty-n-beast.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> beauty-n-beast</a><br/><br/>И это не считая лжеюзеров маштабом поменьше. Честное слово, это было не специально.</FONT></SPAN></P>
	