Id: 0322e75c-1611-401e-8f71-233876b6cd2b
Title: "Skaņu mežs"
Published: "2007-04-14"
Slug: "2007-04-14 Skaņu mežs"
-
<P>12 мая в Риге будет фестиваль <a href="http://www.skanumezs.lv">Skanu mežs</a>, то есть "Лес звуков" <br/>На нём будут: boredoms, mouse on mars, no-neck blues band,&nbsp;the books ! <br/>А недавно, тоже их рук дело, выступали Wolf Eyes, <br/><br/>Офигеть, товарищи. Придётся видно ехать.</P>
	