Id: e134fa36-9688-436c-a719-ac53454a022b
Title: "Бабушка"
Published: "2007-12-23"
Slug: "2007-12-23 Бабушка"
-
<p>
Бабушка была в больнице, мы к ней ездили.
</p>
 
<p>
Фотки:
</p>
 
<p align="center">
Вот опять отжигает.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/ea6f54908079_138AF/IMG_0063.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/ea6f54908079_138AF/IMG_0063_thumb.jpg" border="0" alt="IMG_0063"   /></a> 
</p>
 
<p align="center">
Вот так круто у нас выглядит больница.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/ea6f54908079_138AF/IMG_0068.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/ea6f54908079_138AF/IMG_0068_thumb.jpg" border="0" alt="IMG_0068"   /></a>
</p>

	