Id: 380847ae-7862-42ed-b077-8206bbe9c82a
Title: "Вино-2"
Published: "2007-06-17"
Slug: "2007-06-17 Вино-2"
-
<P>А вот ещё очень любопытный&nbsp;&nbsp;<A href="http://www.camib.com/investigations/winestudy1999.php">отчёт</A> про латвийский рынок вин. Старый, но до сих пор многое справедливо.</P><P></P>Например, я лично не покупаю молдовские и болгарские вина, потому как стрёмно: они дешёвые и сладкие.<br/><br/>Грузинские не покупаю потому что неизвестно, откуда они на самом деле: Грузия маленькая, а вин у нас представлено столько же, как французских, в рассчёте на ностальгию родившихся в СССР.
	