Id: eb9fa216-0af6-4c93-bd75-9a2fe936482e
Title: "Хак словаря abc.times.lv"
Published: "2007-03-24"
Slug: "2007-03-24 Хак словаря abc.times.lv"
-
Я тут вчера потратил несколько часов, и сделал greasemonkey скрипт для словаря http://abc.times.lv.<br/>Он позволяет не платить денег, но при этом&nbsp;видеть все&nbsp;варианты перевода слова&nbsp;на одной странице. <br/>Для работы ему, разумеется,&nbsp;нужен <a href="http://www.mozilla-russia.org/products/firefox/">firefox</a>&nbsp;и&nbsp;установленное расширение&nbsp;<a href="https://addons.mozilla.org/firefox/748/">greasemonkey</a> свежей версии.<br/>Скрипт можно установить <a href="http://userscripts.org/scripts/show/8151">здесь</a>. Хорошим дополнением к нему служит <a href="http://userstyles.org/style/show/203">давилка рекламы</a> abc.times.lv от&nbsp;CooLynx.<br/><br/>Пригодится в основном жителям Латвии и сочувствующим.<br/><br/>По слухам, в опере тоже поддерживаются такие скрипты, и даже в каком-то из потомков IE, но тут я не в курсе.<br/>Сделал благодаря отличной бесплатной е-книге  <a href="http://diveintogreasemonkey.org/">http://diveintogreasemonkey.org/</a>
	