Id: 8f589572-9721-4af5-86f5-f4f8675c6571
Title: "Слова"
Published: "2007-03-01"
Slug: "2007-03-01 Слова"
-
<p>Чего-то я перенял привычку моего бывшего тимлида по-всякому растягивать слова при произношении.<br />Вот сейчас сильное желание произносить слово "TRANSACTION" с псевдофранцузким прононсом, как трансаксьо́н.<br /></p>
	