Id: 343b7c55-fd9f-4223-be06-27587b8cb99f
Title: "The term \"omniverse\" is believed to have been created by <A title=\"Mark Gruenwald\" href=\"https://en.w"
Published: "2007-01-24"
Slug: "2007-01-24 The term _omniverse_ is believed to have been created by _A title__Mark Gruenwald_ href__"
-
The term "omniverse" is believed to have been created by <A title="Mark Gruenwald" href="https://en.wikipedia.org/wiki/Mark_Gruenwald">Mark Gruenwald</A>, and has been popularized by the composer-writer <A title="Sun Ra" href="https://en.wikipedia.org/wiki/Sun_Ra">Sun Ra</A>.<br/><br/>Вот вам и Сан Ра
	