Id: bc36fbcd-b3a7-4265-b974-1585c0cd9075
Title: "О производительности труда"
Published: "2007-01-05"
Slug: "2007-01-05 О производительности труда"
-
<P>Однако я ещё больше впечатлился своим хостером, <A href="https://dreamhost.com/" target=_blank>Dreamhost.com</A><br/>Оказывается, они делают резервные копии<STRONG> всех</STRONG> файлов <STRONG>всех</STRONG> пользователей: 2 раза в неделю, 2 раза в день и&nbsp;2 раза в час. Раз в несколько дней ещё и базы данных тоже.<br/><br/>Это при том, что за&nbsp;сравнительно небольшие деньги&nbsp;(7-10$ в месяц) вы получаете <STRONG>200 ГБ!</STRONG> места.</P><br/><br/><P><br/>Вот что значит по-настоящему эффективное построение работы и итоговая высокая производительность труда, о которой у нас так много говорят. Как известно в Латвии люди работают очень много, но неэффективно. Эксперты говорят, что если ситуацию не изменить, роста благосостояния ждать бессмысленно, что выглядит логично.<br/></P>
	