Id: 05adc4e3-f839-492b-b674-db3ef2b7017c
Title: "Портвейн"
Published: "2007-06-17"
Slug: "2007-06-17 Портвейн"
-
<P>Португальский портвейн хорош! Называется Cockburn's reserve special, 1 литр. Стоит&nbsp;у нас 20$. Бутылка тоже симпатичная.</P><P align=center><IMG src="/files/lj/cockburns.jpg"><br/>Портвейн</P><P align=left>На <A href="https://www.cockburns-usa.com/our_ports_special.html">сайте производителя</A> написано, что самый популярный premium&nbsp;портвейн в мире. Кстати, портвейном в Европе может называтся только портвейн, сделанный из винограда, собранного в долине Douro River в Португалии, то есть ситуация аналогична ситуации с коньяком и шампанским. Я вот этого не знал. </P>
	