Id: d58315e6-00f5-4d12-860c-0f2b7d1a2025
Title: "Опять про RAID"
Published: "2007-01-04"
Slug: "2007-01-04 Опять про RAID"
-
Кстати, давешний <a href="/post/2006-12-27%20%D0%9F%D1%80%D0%BE%20RAID">RAID </a>всё-таки заработал. Всё дело было в бэд блоке, на который наткнулся процесс зеркалирования, потому и стопорнул.<br />С помощью чудо-программы mhdd бэд-блок, который оказался ненастоящим (программным), вылечился, RAID был сделан по-новой и всё заработало.<br />Дальше я проверил, что будет в случае "поломки" одного из дисков. Получилось всё ок.<br />Так что пользоваться nVidia RAID-1 можно.
	