Id: 1dc667e1-5eaf-471f-8d05-9b6c183013d0
Title: "Магистерская"
Published: "2007-05-06"
Slug: "2007-05-06 Магистерская"
-
<P>Вот какие картинки нарисовал вчера для магистерской. Суть для фанатов: игра расчитывает физику дискретно, и траектории объектов зависят от шага дискретизации, как это видно на картинке.Чтобы&nbsp;избежать случайности в траекториях, надо сделать этот шаг фиксированным.<br/><IMG src="/files/lj/maga.jpg"></P>
	