Id: e8dac994-1367-4357-b210-35f57ed8aa33
Title: "Вот"
Published: "2007-05-28"
Slug: "2007-05-28 Вот"
-
<P>Вы кстати знаете, что изобрели пилюли&nbsp;полностью <A href="https://www.slate.com/id/2166983/nav/tap1/">отменяющие&nbsp;менструацию</A>?<br/>Теперь мы ещё на&nbsp;шаг ближе к биороботам, что не может не радовать.</P><br/>На самом деле всё ещё интереснее, так что читайте статью, кто буржуйский знает.
	