Id: a353827c-b07f-4efd-b116-08f3e7395a9c
Title: "В раздумьях"
Published: "2007-10-23"
Slug: "2007-10-23 В раздумьях"
-
<P>Гм, вот жертвуешь деньги на лечение, а ведь люди всё равно умирают. Каждый день умирают тысячи и рождаются новые тысячи, многие из которых&nbsp;заболеют. Или&nbsp;жертвуешь лишь затем, чтобы человек прожил&nbsp;не особо-то весёлую и короткую&nbsp;жизнь.<br/> Не могу я этот вопрос решить. Напишите пожалуйста в комментариях что-нибудь.<br/></P>
	