Id: 181e9c0e-a5cf-4a40-bf13-082674404d0c
Title: "Груши"
Published: "2007-05-04"
Slug: "2007-05-04 Груши"
-
<P>Я всю неделю ем груши сорта Conference из Iki. Цена низкая,&nbsp;и на вкус изумительно. Любопытно, что те же груши в магазине классом пониже (Maxima-x) меньше размером и хуже на вкус, а цена лишь чуток меньше.</P>
	