Id: eacc76b6-9d98-4152-bca6-dfd62ba6a54d
Title: "Я бы с удовольствием"
Published: "2007-05-22"
Slug: "2007-05-22 Я бы с удовольствием"
-
<H2 style="BACKGROUND: rgb(255,255,255) 0% 50%; COLOR: rgb(0,0,0); moz-background-clip: -moz-initial; moz-background-origin: -moz-initial; moz-background-inline-policy: -moz-initial"><A href="http://koluchka2004.livejournal.com/45714.html"><H2 style="BACKGROUND: rgb(255,255,255) 0% 50%; COLOR: rgb(0,0,0); moz-background-clip: -moz-initial; moz-background-origin: -moz-initial; moz-background-inline-policy: -moz-initial">Отдай свои органы, тварь безмозглая!</H2></A></H2>
	