Id: 65b02198-5a32-4f45-b8c7-f903454ad914
Title: "Музыка"
Published: "2007-05-20"
Slug: "2007-05-20 Музыка"
-
<P>Немного музыки с фестиваля Skaņu Mežs.<br/><br/><A href="http://mu.super.lv/muz/Mouse%20On%20Mars%20-%201995%20-%20Iaora%20Tahiti.rar">Mouse On Mars - 1995 - Iaora Tahiti.rar</A><br/><A href="http://mu.super.lv/muz/The%20Books%20-%202003%20-%20The%20Lemon%20Of%20Pink.rar">The Books - 2003 - The Lemon Of Pink.rar</A><br/><A href="http://mu.super.lv/muz/No%20Neck%20Blues%20Band%20-%202001%20-%20Sticks%20And%20Stones%20May%20Break%20My%20Bones%20But%20Names%20Will%20Never%20Hurt%20Me.rar">No Neck Blues Band - 2001 - Sticks And Stones May Break My Bones But Names Will Never Hurt Me.rar</A><br/><br/>Само собой, если вы не фанат имровизационного зверства, &nbsp;рекомендутся качать первые две&nbsp; позиции.<br/>Ural Owl, к сожалению, достать не представляется возможным.<br/>Кстати,&nbsp;автора Gas Of Latvia зовут Andris Indans aka Andzons, так что я наврал, что никто не знает, как его зовут. Для пущего эффекту, наверное.</P>
	