Id: 672972f3-2966-4187-82a8-d8f4a84f2252
Title: "Про Путина"
Published: "2007-11-20"
Slug: "2007-11-20 Про Путина"
-
<p>Насчёт России и Плана Путина</p> <p>Вот вам абсолютно гениальное</p> <p><i>В: Как узнать, справляется ли Президент со своей работой?<br>О: Если однажды ты услышишь, прочитаешь или увидишь, что про Президента с утра до вечера говорят одно и то же: восхищаются им, восхваляют его, твердят, что он великий и прекрасный, незаменимый и непогрешимый, — знай: Президент не справился со своей работой, случилась беда и в твоей стране больше нет свободы слова. А значит, нет и демократии.<br></i> <p>Это взято с сайта&nbsp; <a href="https://uznaj-prezidenta.ru">"Узнай Президента"</a>, за ссылку спасибо <a href="https://dirty.ru/comments/224532">Dirty</a>.</p>
	