Id: e0be2d5c-e3e2-434a-92ef-231426a38e24
Title: "Belladonnakillz"
Published: "2007-05-23"
Slug: "2007-05-23 Belladonnakillz"
-
Я последнюю неделю подвис на группе Belladonnakillz.<br/>Это брейк-кор, то есть пение издевательскими и ироничными голосами под драм-н-бейсоподобный брейкбит.<br/>Оно мне ещё духовно ближе, чем дабстеп.<br/><br/>Послушать можно <A href="http://boomp3.com/m/32db6bc54b76" target=_blank>тут</A>.<br/><br/>И скачать <A href="http://mu.super.lv/vlad/Belladonnakillz%20-%20As%20If.rar" target=_blank>последний альбом</A>, который&nbsp;попсовее и прилипчивее, чем первый.<br/><br/>Тексты весёлые.<br/>. . . I&nbsp;can't afford the child support<br/>So ladies please abort, abort abort!<br/><br/>Лёгкость прослушивания 4.
	