Id: a949beca-6744-4cda-968e-db9b1cd9ebce
Title: "Рефлексы"
Published: "2007-04-05"
Slug: "2007-04-05 Рефлексы"
-
<p>Смешная вещь рефлексы. Я практически никак не могу написать слово strong&nbsp; с первого раза. Знаете почему? Программисты очень часто пишут слово string, практически десятки и даже сотни раз за день. Подсознание моё так уже заучило это комбинацию, что даже если я хочу написать <strong>strong</strong>, получается всё равно <strong>string</strong>, которое затем приходится исправлять. Надо очень серьёзное усилие воли, чтобы медленно написать strong с первого раза.<br/></p>
	