Id: ecd472b4-b6f4-4855-b006-45b476f7de18
Title: "Винамп-2"
Published: "2007-03-21"
Slug: "2007-03-21 Винамп-2"
-
<p>Фуф, восстановил винамп. Совсем забыл, что у меня автоматическая резервная копия делается каждый понедельник.<br/>Вот и пригодилась.Люди! В Виндоус NT встроен вполне неплохой софт для бэкапа - ntbackup. Пользуйтесь, а то пожалеете. А архив пишите на DVD,&nbsp;если нету двух жёстких дисков.<br/></p>
	