Id: c503587b-c11e-44d0-be99-83f36f51c1f5
Title: "Оооо"
Published: "2007-12-02"
Slug: "2007-12-02 Оооо"
-
<p>
<a href="https://farmanager.com/farbugs/Far180.b300.x86.rar" target="_blank" title="качать">Опен-сорс альфа&nbsp; версия</a> файлового менеджера FAR Manager 1.80 наконец-то поддерживает уникодные имена файлов при копировании и переносе. Вы не представляете, сколько лет я этого ждал.
</p>
<strong>UPDATE</strong>: зато много чего в ней сломано. Не качайте, пока не выпустят релиз.

	