Id: 88c6816a-1de9-4cc8-baeb-3cc922db611a
Title: "8 марта"
Published: "2007-03-08"
Slug: "2007-03-08 8 марта"
-
<P>Я поддался всеобщему покупательскому безумию и приобрёл целый мешок всякостей.<br/>Например мартини (ноу мартини - ноу пати, хехе), торт, апельсины и прочее.<br/>Веников не купил, согласно завету моей сестры <a href="http://mistrale1514.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> mistrale1514</a>.<br/>Всем девушкам и прочим женщинам приветы, особенно вышеупомянутой сестре и <a href="http://textfield.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> textfield</a>, на кого я местами очень похож. (Ты не смотри, что я молчу, просто не хочу всё время поддакивать).<br/>В общем жизнь кипит, сегодня проработал целых 8 часов! Рекорд, однако.<br/>Люди, работающие 12 и больше - знайте, вы безумцы! Но я перед вами преклоняюсь.<br/>Сейчас буду смотреть 11 эпизод Лоста. Мы тут с <a href="http://adehopt.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> adehopt</a> мутим хитрую шнягу, скоро будем выкладывать музыку красиво.<br/>Всем удачи.<br/>P.S. Ещё Катерине привет, если она это видит :-) Не болей!<br/></P>
	