Id: 85b0534e-851e-451f-aedb-1adcbae7ee96
Title: "Пресловутый плагин"
Published: "2007-11-24"
Slug: "2007-11-24 Пресловутый плагин"
-
<a href="/files/lj/vladekk_ljtags.rar"> 
<p>
качать 22 кб
</p>
</a> 
<p>
<strong>ВНИМАНИЕ!</strong>
</p>
 
<p>
Если вы его установите, у вас компьютер сначала начнёт плясать джангу, а потом взорвётся. Так что <strong>качайте на свой страх и риск</strong>!
</p>
 
<p>
Инструкция для сильных духом в лице <a href="http://ears-of-tin.livejournal.com">ears_of_tin</a>:
</p>
 
<p>
Качаем, копируем файл DynamicTemplate.dll в папку &quot;C:\Program Files\Windows Live Writer\Plugins\&quot; , если не ошибаюсь.
</p>
 
<p>
Это установит пропатченный мною плагин <a href="http://www.joecheng.com/code/DynamicTemplate/">Dynamic Template</a> работника майкрософт Джоя Ченга .
</p>
 
<p>
Затем перезапустите Windows Live Writer, выберите Insert Template, там Edit Templates, затем New. Назовите его Livejournal tags by Vladekk &copy; , (иначе он работать не будет :-).
</p>
 
<p>
Затем в окошко аккуратно вставьте текст из файла lj_tags.txt. 
</p>
 
<p>
Дальше надо отредактировать опции:
</p>
 
<p>
string user = &quot;test&quot;;&nbsp; - замените test на своё имя пользователя<br />
string pass = &quot;test&quot;;&nbsp; - замените test на свой пароль (увы, пока так, открытым текстом)<br />
int lastPostNumber = 2; - замените цифру, какой пост по счёту сверху у вас свежий/последний. У меня наверху всегда висит пост-&quot;шапка&quot;, его редактировать не надо, значит свежий пост для меня - второй (2). У кого шапки нету, может смело писать тут 1 (но не факт, что будет работать :-) 
</p>
<p>
Затем сохраните темплейт, нажав ОК.  
</p>
<p>
Работает это так: пишете пост во Writer, отправляете его в ЖЖ. После успешной отправки нажимаете insert template, выбираете &quot;Livejournal tags by Vladekk&quot; , вводите тэги через запятую. Мой скрипт забирает с сервера последние посты(см.выше) и редактирует нужному посту тэги на то, что вы вставили в диалоге. 
</p>
<p>
Увы, сделать этот процесс сильно легче пока что невозможно. Опять-таки на модеме будет тормозить, потому как забирает последние посты. Ещё вполне может затирать какие-то хитрые свойства поста, потому что протокол ЖЖ устроен кривовато и мне приходится заново отправлять ВЕСЬ последний пост в ЖЖ (опять горе модему). 
</p>
<p>
Если вылазит ошибка, плохо дело. Можете мне написать, но не факт, что выйдет толк. 
</p>
<p>
Что этим всем кто-то воспользуется, я не особо верю, но мало ли.
</p>

	