Id: eee437dd-01b6-4bde-93f6-dcb08274519b
Title: "Удивительное рядом"
Published: "2007-05-02"
Slug: "2007-05-02 Удивительное рядом"
-
<P>Мне приходила мысль в голову, что Джаваскрипт надо бы заменить чем-то более приличным. Также приходила мысль, что флеш надо заменить чем-то более приличным. И даже приходила мысль в голову, почему же нельзя создавать подобие Java-апплетов/ActiveX с помощью .NET ?<br/>А&nbsp;пока мне всё это приходило&nbsp;голову, Майкрософт действовала. Я не удосужился&nbsp;разузнать подробности&nbsp;&nbsp;ранее, и был очень неправ.  Если всё пойдёт удачно, &nbsp; лицо&nbsp;интернета&nbsp;через несколько лет&nbsp;изменится до неузнаваемости. Многое зависит от открытости стандарта и поддержки со стороны опен-сорс сообщества. В любом случае, встречайте - <A href="http://www.techcrunch.com/2007/04/30/silverlight-the-web-just-got-richer/">Microsoft Silverlight</A>.</P>
	