Id: 392c70e6-ad1b-4e70-a4fb-6ad85175391d
Title: "LJ4Writer v0.1"
Published: "2007-12-27"
Slug: "2007-12-27 LJ4Writer v0.1"
-
<p>
Решил всё-таки выложить предварительную версию.
</p>
 
<p>
Встречайте плагин к Windows Live Writer под названием LJ4Writer. Он совсем не протестирован, но на первый взгляд работает вполне прилично.
</p>
 
<p>
Вот что я сделал. Был такой ЖЖ-клиент LJ.NET. Я прикрутил его возможности по редактированию старых постов к Windows Live Writer к ЖЖ, благо он распространяется по лицензии GNU.
</p>
 
<p>
Цель заключалась не столько в том, чтобы редактировать посты, сколько в том, чтобы ставить Current Music и тэги. Хотя и говорят, что тэги - это вебдванольное зло, навязанное неумелыми поисковиками, но я не согласен.
</p>
 
<p>
В плагине есть даже инсталлятор! Пришлось сделать, чтобы приняли на сайт Writer Plugins Gallery. Причём инсталлятор, собственно, занял большую часть времени, потому что сам плагин состоит из нескольких строчек вызова окошек LJ.NET.
</p>
 
<p>
Исходный код и чуть улучшенную версию я выложу в субботу. А пока предлагаю всем потестировать, не не давайте ссылок в профильных сообществах - плагин пока в альфа-версии и не готов ко всеобщему обозрению.
</p>
 
<p>
<strong><font color="#ff0000">ВНИМАНИЕ! </font></strong>Не выбирайте в меню VIew пункт Formatted, он не работает (судя по всему, из-за русского языка). Надо всегда использовать Raw View, к сожалению.
</p>
 
<p>
Кстати, в LJ.NET в истории постов русский язык в теме не показывался, это я тоже поправил. Ещё мне кажется, что русский интерфейс не будет работать. Если у вас по умолчанию русские региональные настройки в виндоусе, и плагин вываливается с ошибкой, напишите, я исправлю в субботу.
</p>
 
<p>
Итак, ссылки.
</p>
 
<p>
<a href="/files/lj/lj4writer.msi"><font size="3"><strong>Скачать MSI инсталлятор</strong></font></a><font size="3">. Требует MSI, но если у вас есть WLW, то MSI у вас тоже есть. 500 КБ.</font>
</p>
 
<p>
<font size="5">или </font>
</p>
 
<p>
<font size="3"><a href="/files/lj/LJ4Writer0.1.zip"><font size="3"><strong>Скачать архив с библиотеками</strong></font></a>. Для поклонников ручного труда, требует распаковки в папку с плагинами WLW, зато всего 200 КБ.</font>
</p>
 
<p>
Для ленивых - ссылка на <a href="http://get.live.com/writer/overview" target="_blank">сам WLW</a>.
</p>

	