Id: 0aeb43f2-4744-49ca-9240-9ec74cddc172
Title: "Поездка в Pilskalnes Siguldiņa"
Published: "2007-09-17"
Slug: "2007-09-17 Поездка в Pilskalnes Siguldiņa"
-
<p>Pilskalnes Siguldiņa - пешеходная тропа под городком Илуксте. Сигулдыня означает "Маленькая Сигулда", а Сигулда, в свою очередь,&nbsp;часто обзывается&nbsp;маленькой Швейцарией. Вот такое рекурсивное подражание. Ездили мы на машине, так получилось. <br />[more text=Смотреть много скучных фоток]</p>
<p align="center"><a href="/files/7EF8739A2521E5CAD0AFCB5583362A1B.jpg"><img data-src="/files/7EF8739A2521E5CAD0AFCB5583362A1B.jpg"></a><br />Катя&nbsp;и Юля</p>
<p>Тропу можно идти тремя вариантами: закольцованными 1.6 км,&nbsp;4 км, или однонаправленным 8 км(т.е. обратно ещё 8 км). Мы пошли 4, потому что с нами были девушки на каблуках. Хотя девушки, как потом оказалось, вполне были готовы пройти 16 км.</p>
<p align="center"><a href="/files/05EB08EEE1F0E58699AAFBE3CC44E7BC.jpg"><img data-src="/files/05EB08EEE1F0E58699AAFBE3CC44E7BC.jpg"></a><br />Грибная тема преследует мой ЖЖ</p>
<p align="center"><a href="/files/14B162DAB7DFDABECC1AF12098002173.jpg"><img data-src="/files/14B162DAB7DFDABECC1AF12098002173.jpg"></a><br />Во грибочге выросли!</p>
<p align="center"><a href="/files/EEDF4934E876E6A97A1D20CC1684C301.jpg"><img data-src="/files/EEDF4934E876E6A97A1D20CC1684C301.jpg"></a><br />Озеро №1</p>
<p>Тропа 4 км проходит мимо&nbsp;4 водоёмов, если не ошибаюсь.</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/87D07B0D9285BB450704FC1CD652013C.jpg"><img data-src="/files/87D07B0D9285BB450704FC1CD652013C.jpg"></a><br />Другой ракурс</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/95F7A1D62B8D2B85A8ED8B5B96AC58A6.jpg"><img data-src="/files/95F7A1D62B8D2B85A8ED8B5B96AC58A6.jpg"></a><br />Эдгар нас любезно довёз туда и обратно</p>
<p align="center"><a href="/files/078CFE025C2B621DCD3667A04B656D61.jpg"><img data-src="/files/078CFE025C2B621DCD3667A04B656D61.jpg"></a><br />Бобры постарались, как это не странно для небольшого озерца</p>
<p align="center"><a href="/files/C40E0E4DBE85F93A25D58AF6CCBE9B60.jpg"><img data-src="/files/C40E0E4DBE85F93A25D58AF6CCBE9B60.jpg"></a><br />Периодические мостики развлекают посетителей</p>
<p>&nbsp;</p>
<p>Входной билет стоит чуть больше доллара, так что предприятие не особенно прибыльное.</p>
<p align="center"><a href="/files/56BCE4C1141DA2CC9F320C76A64FF766.jpg"><img data-src="/files/56BCE4C1141DA2CC9F320C76A64FF766.jpg"></a><br />Мегадуб</p>
<p>Это dižkoks, по нашему древнее мегадерево. Тщательно охраняется министерствами и ведомствами, поэтому за забором.</p>
<p align="center"><a href="/files/9EF1203FA683F7BB3E2F9C8300C7AF79.jpg"><img data-src="/files/9EF1203FA683F7BB3E2F9C8300C7AF79.jpg"></a><br />Бобры сгрызли, а люди облагородили</p>
<p align="center"><a href="/files/B8B1310793C12ED86D07B39B7F215802.jpg"><img data-src="/files/B8B1310793C12ED86D07B39B7F215802.jpg"></a><br />Периодически попадаются следы прибывания пришельцев</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/80E5D55AC675390F725949851CD768AD.jpg"><img data-src="/files/80E5D55AC675390F725949851CD768AD.jpg"></a><br />Муха-дракон. Увидев нас, застеснялась и улетела</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/6E5726FF6FF7E6A9B56830685D40D19B.jpg"><img data-src="/files/6E5726FF6FF7E6A9B56830685D40D19B.jpg"></a><br />Жаба застеснялась ещё быстрее</p>
<p align="center"><a href="/files/0E2D1658590A52A5B2EACB7FA00BAC5A.jpg"><img data-src="/files/0E2D1658590A52A5B2EACB7FA00BAC5A.jpg"></a><br />Нечто тритонообразное, не силён в биологии. Реальный размер - 10 см</p>
<p align="center"><a href="/files/334E5FC368D7022E901FB020D5AB3502.jpg"><img data-src="/files/334E5FC368D7022E901FB020D5AB3502.jpg"></a><br />Заборчики симпатичные, натурпродукт</p>
<p align="center"><a href="/files/3CADEA9CDE0CE494BD3FBDA16F4368A3.jpg"><img data-src="/files/3CADEA9CDE0CE494BD3FBDA16F4368A3.jpg"></a><br />Водоём №2</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/FD469A09C7770871B063207438BB2317.jpg"><img data-src="/files/FD469A09C7770871B063207438BB2317.jpg"></a><br />Справа на фото - Джон, догнал нас на половине пути</p>
<p align="center"><a href="/files/9B3C68D0C22546CC4F05B1EFB2FE7AE0.jpg"><img data-src="/files/9B3C68D0C22546CC4F05B1EFB2FE7AE0.jpg"></a><br />Камешекг</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/BAA85046EEFF50076B4D3363427E1E13.jpg"><img data-src="/files/BAA85046EEFF50076B4D3363427E1E13.jpg"></a><br />Болотцзе</p>
<p align="center"><a href="/files/470699F32A5378E1197708F0B31FE5A7.jpg"><img data-src="/files/470699F32A5378E1197708F0B31FE5A7.jpg"></a><br />Болотдзе-2</p>
<p align="center"><a href="/files/8F3D9FEEDCF60D3860DB37BB6B161E6D.jpg"><img data-src="/files/8F3D9FEEDCF60D3860DB37BB6B161E6D.jpg"></a><br />Водоём №3</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/14A87BED0F32193216B6974B18368268.jpg"><img data-src="/files/14A87BED0F32193216B6974B18368268.jpg"></a><br />Рябина?</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/C09A982B4C5F5BD145148D938FD221CB.jpg"><img data-src="/files/C09A982B4C5F5BD145148D938FD221CB.jpg"></a><br />Дровишге зачем-то заготовили</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/484D8F460B558111195A6FC8F1727F62.jpg"><img data-src="/files/484D8F460B558111195A6FC8F1727F62.jpg"></a><br />Водоём №3, ракурс</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/3A1F97643EB12E7D27692553C32FDF08.jpg"><img data-src="/files/3A1F97643EB12E7D27692553C32FDF08.jpg"></a><br />Пипл</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/2F174D590252BBBAEE71EF84A63F66C0.jpg"><img data-src="/files/2F174D590252BBBAEE71EF84A63F66C0.jpg"></a><br />Камешег</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/6EF97DC21F25BE0D03DD482B1C61D37B.jpg"><img data-src="/files/6EF97DC21F25BE0D03DD482B1C61D37B.jpg"></a><br />Царевна Алёнушго.&nbsp;А носки такие уже давно не модно!</p>
<p align="center"><a href="http://foto.izvne.com/d/5484-2/IMG_0134.jpg"></a><br /><a href="/files/68D5FE8F4507854E314D56B6B7453A75.jpg"><img data-src="/files/68D5FE8F4507854E314D56B6B7453A75.jpg"></a><br />Опять водоём №3</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/D07ADF5907E7FB995344F0F78B7793B7.jpg"><img data-src="/files/D07ADF5907E7FB995344F0F78B7793B7.jpg"></a><br />Мостик, по которому мы не пошли, ибо 8 км</p>
<p align="center"><a href="/files/CF4E424F189936B40330DEC40394F17E.jpg"><img data-src="/files/CF4E424F189936B40330DEC40394F17E.jpg"></a><br />Ракурс бесконечных водоёмов</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/9DDDDEA108F7381AE5EAADC761FA0991.jpg"><img data-src="/files/9DDDDEA108F7381AE5EAADC761FA0991.jpg"></a><br />Бобры постарались,&nbsp;а цилвеки (люди то есть) - ещё нет</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/FA3E79AE269D0EB6B20FEF489757F7AD.jpg"><img data-src="/files/FA3E79AE269D0EB6B20FEF489757F7AD.jpg"></a><br />Форсирование сухопутных припятствий</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/FA3E79AE269D0EB6B20FEF489757F7AD.jpg"><img data-src="/files/FA3E79AE269D0EB6B20FEF489757F7AD.jpg"></a><br />Баня</p>
<p align="center"><a href="/files/8CC57B1E166852FAC31E6E0E2F8F6A9A.jpg"><img data-src="/files/8CC57B1E166852FAC31E6E0E2F8F6A9A.jpg"></a><br />Офигенно наверное купаться среди листьев нападавших. Люблю такое</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/63268F18904E2B9BAC6E0896CEB67FF9.jpg"><img data-src="/files/63268F18904E2B9BAC6E0896CEB67FF9.jpg"></a><br />Идолище, а может и нет</p>
<p align="center"><a href="/files/C319B7CE3AF31D2446BE871E7D005D6E.jpg"><img data-src="/files/C319B7CE3AF31D2446BE871E7D005D6E.jpg"></a><br />Главная достопримечастельность - плавающий домик. Для кого? Для туристов</p>
<p align="center"><a href="/files/34F9A52AE521C814C764ED9B22EE03CC.jpg"><img data-src="/files/34F9A52AE521C814C764ED9B22EE03CC.jpg"></a><br />Крупный план</p>
<p>Потратили мы довольно много времени, поскольку шли не спеша. В целом приятно, и погода была отличная.<br /><br />А чтобы не так скучали, вот вам вроде бы модная&nbsp;музыка.&nbsp; Напоминает Guther, но сложнее аранжировано и вообще не так натурально. Девушка поёт&nbsp;сладко-сладко, и тексты такие слегка милые. Вообще милый - самый подходящий этой музыке эпитет. Не то что я большой фанат, но почему нет.<br /><a href="http://mu.super.lv/vlad/the%20bird%20and%20the%20bee.rar" target="_blank">The Bird And The Bee</a><br />Лёгкость прослушивания 5</p>
	