Id: f3fee254-0d04-4b16-be6a-3cab166a4a00
Title: "Google Sketch-Up"
Published: "2007-03-12"
Slug: "2007-03-12 Google Sketch-Up"
-
Я сегодня с утра разбирал печку на даче.&nbsp;А&nbsp; по приезду домой&nbsp;моделировал то, что в ней будет дальше в программе Google SketchUp. Программа предназначена для простого и удобного чернового архитектурного моделирования. Научится пользоваться всеми её функциями по максимуму занимает всего несколько часов.<br/>Реузльтат всем очень понравился, а я за 5 часов стал рисовать дома и расставлять в них мебель с бешеной скоростью - благо на всё можно назначить однобуквенные горячие клавиши. Реузльтат покажу потом, сейчас времени нет, спать надо.<br/><br/>Тут кстати <a href="http://muscience.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> muscience</a>&nbsp;рекомендует новый альбом малоизвестной группы Low&nbsp; под названием&nbsp;"Drums and Guns". Мне альбом&nbsp;довольно сильно понравился. Или я&nbsp;легковнушаемый,&nbsp;или&nbsp;<a href="http://muscience.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> muscience</a> и в самом деле лучший молодой музжурналист.
	