Id: 803e394b-a48d-45e0-81c0-b042cdc5f775
Title: "Овцы"
Published: "2007-10-28"
Slug: "2007-10-28 Овцы"
-
Зашёл после долгого перерыва на <a href="https://www.eatpoopyoucat.com">www.eatpoopyoucat.com</a>&nbsp; и забавно картинка на музыку наложилась.<br/><br/><lj-embed id="64" /><br/><br/><br/><br/>Счас кто-то скажет, что делать мне нечего :-)
	