Id: fc7cbdf7-bb30-4201-932e-b83e885f9d0e
Title: "Ммм"
Published: "2007-03-04"
Slug: "2007-03-04 Ммм"
-
<P>Или я в последнее время говорю глупости, или меня не понимают.<br/>Лучше буду сверлить опять дырки в компе. Терапевтическая мера, так сказать.<br/><br/>Кстати, Виндоус Виста взломали ещё раз, причём на сей раз очень удачно. Вкратце: виндоус,&nbsp;продающийся&nbsp;предустановленным&nbsp;при продаже у больших производителей (OEM), не требует активации. Кряк обманывает виндоус, и тот думает, что установлен на компе производства ASUS или там DELL. Проблема для Майкрософт состоит в том, что заблокировать она это не может - иначе перестанут работать компы производства ASUS/DELL/etc. А пытаться обнаружить, что&nbsp;Виндоус обманывают,&nbsp;бессмысленно - хакеры сразу же выпустят новую версию кряка.&nbsp; Так что данный способ выглядит неплохим долгосрочным решением.</P><br/>Вот <a href="https://www.uploadcrap.com/?subaction=showcomments&id=1172962283&archive=&start_from=&ucat=&">ссылка</a> (англ, не очень простое описание)
	