Id: 4a24f78a-b3e2-4b3b-8167-f532b3676615
Title: "Реклама"
Published: "2007-05-31"
Slug: "2007-05-31 Реклама"
-
<p>Латвийскую мегарекламу про то, что надо завещать донорскому центру всё, кроме мозгов, положили на ютуб</p><br/><lj-embed id="39" />
	