Id: 5c1142c4-6623-4e6f-bced-d37a919d2b3a
Title: "2h company"
Published: "2007-04-29"
Slug: "2007-04-29 2h company"
-
Последний <A href="https://www.rapidshare.ru/260804">альбом</A> 2h company очень крут, спасибо <a href="https://st_juras.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> st_juras</a>&nbsp;за поклажу. Я бы&nbsp;альбом даже купил, было бы где. А то в <A href="https://%20atbilst/">soundkey.ru</A>&nbsp; пока оплаты из Латвии нету.<br/><br/>Читал форумы про байки все выходные. Наверное, проще было работать вместо этого.&nbsp;А на заработанное купить велик получше, не мучаясь муками выбора.
	