Id: 594ffcfd-f70e-4498-8899-10257620f53a
Title: "Тестирую блог-клиент Windows Live Writer"
Published: "2007-11-05"
Slug: "2007-11-05 Тестирую блог-клиент Windows Live Writer"
-
<p>Выходные потратил на сборку и настройку папиного компа. Сам же снёс Висту.</p> <p>Клиент Windows Live Writer - крут.</p>  <div class="wlWriterSmartContent" id="scid:0767317B-992E-4b12-91E0-4F059A8CECA8:858ca484-f428-4b52-b1b5-30429c6dd751" style="padding-right: 0px; display: inline; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px">LiveJournal Tags:  		<a href="https://www.livejournal.com/interests.bml?int=%d0%bb%d1%8b%d1%82%d0%b4%d1%8b%d0%b1%d1%80" rel="tag">лытдыбр</a> 		,  		<a href="https://www.livejournal.com/interests.bml?int=%d1%81%d0%bb%d1%83%d0%b6%d0%b5%d0%b1%d0%bd%d0%be%d0%b5" rel="tag">служебное</a> 		</div>
	