Id: 7f45fdca-76a8-4fe1-ac34-ed4b46f2d81e
Title: "Бобр добр"
Published: "2007-06-11"
Slug: "2007-06-11 Бобр добр"
-
<P>Целых два дня таскал горы дубовых досок и складывал штабелями. Время убил бездарно, зато отдохнул от компа. Искупался в хорошем озере, понял, что навыки ныряния никуда не делись. Буду развивать дальше.<br/><br/>Ещё услышал историю про кота-буддиста.&nbsp;Он в отсутствие хозяйки методично таскал носки, платки и прочие текстильные мелочи и кидал их в раковину. Затем включал в кране воду и с уповением наблюдал, как тряпки медленно и медитативно засасывает в канализацию.</P>
	