Id: 696abca2-2f87-406e-b68c-e28117a8989f
Title: "Про вайфай"
Published: "2007-11-25"
Slug: "2007-11-25 Про вайфай"
-
<p>
Я в предыдущем посте немного соврал: далеко не сразу всё стало работать хорошо. Для того, чтобы добится хорошего сигнала, пришлось переместить рутер на метр вверх, а беспроводную сетевую карту - на два вправо. Вот оно как.
</p>

	