Id: 81f53f36-470a-48be-bdc1-15624a3a9373
Title: "Всячина"
Published: "2007-07-07"
Slug: "2007-07-07 Всячина"
-
<P>На работе потрясения.&nbsp;Наш мегаграфик - "работай когда хочу" - накрылся медным тазом. То есть формально он остался, но выбирать, когда хочешь работать, надо за неделю до работы, что лишает идею большей части смысла.<br/><br/>Только сейчас дошло, почему на логотипе Oink.Me.Uk нарисованы свинки. <br/>Oink - это это по аннглийски "Хрю".&nbsp; <A href="https://www.mult.ru/kirizza.php">Какие всё-таки дураки иностранцы</A>&nbsp;:-)</P>
	