Id: 7a01c7ca-9c05-41c5-bd3d-185d33086447
Title: "Google Translate"
Published: "2007-01-17"
Slug: "2007-01-17 Google Translate"
-
Сервис <A href="https://www.google.com/translate_t">Google Translate</A> жж0т:<br/><br/>"Художественная ценность невысокая" -&gt; "Art value highly"<br/>"Art value highly" -&gt;Литература высоко&nbsp;<br/>Литература высоко&nbsp;-&gt; Literature commended </TD><br/></TD>Literature commended -&gt; Литература высоко<br/><br/>Получается, Гугль не любит критиковать, зато любит искусство,&nbsp;а особенно - литературу. Можно целый сайт или сообщество сделать, чтобы люди постили забавные цепочки, или соревновались, кто найдёт цепочку длиннее.<br/><br/>Кстати, Google Translate'у не помешало использовать бесплатный труд сёрферов, как сделано на <A href="https://images.google.com/imagelabeler/">Google Image Labeler<br/><br/></A>Для тех, кто не в курсе - в этой игре люди помечают картинки словами, причём надо угадать, какое слово выбрал партнёр по игре. Затем эти метки используются в анализе поискового запроса. Сотни тысяч людей играют в игру и тратят на это миллионы часов, а Гугль не платя ни копейки получает прямую выгоду. Вот оно, истинное лицо Web 2.0.<br/><br/><br/><br/></TD>
	