Id: c0fcd356-53c4-49d8-914b-fe8dacc00177
Title: "Винамп"
Published: "2007-03-21"
Slug: "2007-03-21 Винамп"
-
<p>Чёртов Winamp в очередной раз угробил свою медиабиблиотеку, и не запускается.<br/>Если честно, я фигею - ну хоть одну нормальную программу в своём классе на планету написать&nbsp;можно, или нет?<br/>Фубар не предлагать, нормальным его не назовёшь. Он был бы нормальным, если бы расширения были организованы по принципу Firefox'а, а базовая функциональность не была&nbsp;выдумана "от балды".<br/><br/></p>
	