Id: 52a4413e-8c90-4cd3-bdfa-d475e323b17d
Title: "<P>Я вчера шёл по торговому центру в Дрездене, и слушал подозрительно знакомые звуки. А сегодня уже "
Published: "2007-08-26"
Slug: "2007-08-26 _P_Я вчера шёл по торговому центру в Дрездене, и слушал подозрительно знакомые звуки. А с"
-
<P>Я вчера шёл по торговому центру в Дрездене, и слушал подозрительно знакомые звуки. А сегодня уже качаю свежий альбом M.I.A.</P>
	