Id: 85b45754-5676-435b-ac4e-873c60d51d8f
Title: "Удивительно"
Published: "2007-05-30"
Slug: "2007-05-30 Удивительно"
-
<P>Зачем делать нанороботов, если можно делать нанобиороботов?<br/>Вот такая вот статья про то, как учёные будут создавать&nbsp;биологические организмы с нуля, потому что природа лажанулась и существующие сделала халтурно.<br/><A href="https://www.msnbc.msn.com/id/18882828/site/newsweek/page/2/">https://www.msnbc.msn.com/id/18882828/site/newsweek/page/2/</A><br/>Я не представлял, что дело зашло так далеко. Братва кстати говорит, что искуственный интеллект тоже вот&nbsp;лет через десять подоспеет.<br/>Для христиан первый созданный организм будет жутким потрясением. Впрочем, дальше их ждут вещи куда неприятнее - когда всё вокруг станут улучшать, включая человека.<br/><br/>После таких статей кажется, что сингулярность и в самом деле дело ближайших десятилетий. А если не она, так третья мировая и всеобщий капут. Так что я передумал на пенсию откладывать.</P>
	