Id: c59a98ba-7c0e-4911-b1f9-9b5b3eea6dbb
Title: "<p>Слабо сыграть псевдоэтническую психоделию  на крышке от котла?
<lj-embed id=\"37\" />
</p>"
Published: "2007-05-27"
Slug: "2007-05-27 _p_Слабо сыграть псевдоэтническую психоделию  на крышке от котла___lj-embed id__37_ _____"
-
<p>Слабо сыграть псевдоэтническую психоделию&nbsp; на крышке от котла?<br/><lj-embed id="37" /><br/></p>
	