Id: 0b784ec7-5019-4397-af9a-4cb822c0b6c8
Title: "Йо!"
Published: "2007-10-04"
Slug: "2007-10-04 Йо_"
-
<P align=center><A href="/files/lj/IMG_2830_resize.jpg"><IMG src="http://ir.izvne.com/t//lj/IMG_2830_resize.jpg"></A><br/>Бабушко танцует</P><P>Да, это у моих родителей такой страшный позолоченный стиль квартиры.</P>
	