Id: 7c13d002-e98a-4b14-a559-ff527e89c46d
Title: "Аниме"
Published: "2007-12-07"
Slug: "2007-12-07 Аниме"
-
<p>
Я как-то посмотрел аниме-сериал Terra e . . ., но даже писать про него не стал. То ли трэш, то ли китч, а может и просто хлам. На <a href="https://anidb.net" target="_blank">anidb.net</a> при этом у него&nbsp; рейтинг высокий; леммингам надо доверять через раз.
</p>
 
<p>
&nbsp;
</p>
 
<p>
Расскажу лучше про Guardian Of Sacred Spirit, который я только что досмотрел. 
</p>
 
<p>
Он крут.
</p>
 
<p>
Во-первых, главная героиня в кои-то веки не идеальной рафинированной красоты, и хоть чуть-чуть, но отличается в худшую сторону.
</p>
 
<p>
Вот она, зовут Balsa. 
</p>
 
<p>
<a href="https://ir.izvne.com/https://img.photobucket.com/albums/v352/mdjasrie/largeAnimePaperscans_Seirei-no-Mori.jpg">
<div style="text-align: center">
<img src="https://ir.izvne.com/t/https://img.photobucket.com/albums/v352/mdjasrie/largeAnimePaperscans_Seirei-no-Mori.jpg" alt="" />
</div>
 </a>
</p>
 
<p>
 Понятно, что фансервис требует, чтобы она была симпатичной, но в некоторых кадрах художник упрямо гнул свою линию и показывал её не такой уж идеальной, чтобы подкрепить её образ упрямого и в чём-то жёсткого воина.
</p>
 
<p>
Во-вторых, аниме серьёзное в том смысле, что герои не ведут себя как объевшиеся грибов подростки. Наоборот, главная героиня (а она виртуозный телохранитель-копьеносец) ответственная и умная. Хоть какое-то разнообразие. Более того, весь сюжет строго обоснован и выверен, есть то, что называется логикой повестования и развитием событий. В общем, это всё похоже на <a href="/post/2007-11-11%20%D0%90%D0%BD%D0%B8%D0%BC%D0%B5" target="_blank">Twelve Kingdoms</a>, но там была мифология сложнее, зато клюквы и допущений больше. Здесь всё спокойно, и эмоции показываются не криками персонажей &quot;Мне пиздец, это же Гитлер&quot;, а косвенно, через их действия и размышления. И это мне давно уже нравится больше, чем обычная традиция аниме гробить сюжет и логику ради рефлексии протагонистов.
</p>
 
<p>
В третьих, хорошо видно, что широко использовали 3D, но во вред это вроде бы не пошло. Местами даже наоборот - картинка выглядит слегка как bullet time&nbsp; в играх (aka max payne) и создаёт ощущение, которое по-английски называется creepy. Бои на копьях тоже будь здоров - нет дурацких супергероев, которые нивелируют ощущение мощи чрезмерностью и картонностью своих сражений. Тут всё сурово - пропустил удар, валяйся на сырой земле да истекай кровью.
</p>
 
<p>
Что интересно, оба аниме поставлены по фэнтэзи: отсюда нормальный сюжет и логика. Большая часть аниме поставлена по манге (комиксам), оттого оно обычно туповатое и обрывочное, потому что читают мангу урывками - в метро или на работе. Вот так вот глубинная суть вещей определяется сугубо утилитарными ограничениями техническими, как это часто бывает.
</p>
 
<p>
Вот вам ещё картинка, а я пойду спать. 
</p>
 
<p>
<a href="https://ir.izvne.com/https://www.moribito.com/image/dowl/moribito_wallpaper_800.jpg">
<div style="text-align: center">
<img src="https://ir.izvne.com/t/https://www.moribito.com/image/dowl/moribito_wallpaper_800.jpg" alt="" />
</div>
 </a>
</p>

	