Id: b1c7fda8-460a-4737-b85a-8f925f2039a2
Title: "Всякое"
Published: "2007-10-28"
Slug: "2007-10-28 Всякое"
-
1)Люди, которые считают, что Роулинг с помощью голубого Дамблдора хочет ещё больших продаж, они воообще знают, сколько у неё сейчас денег?<br/>2)Собираю папе компьютер, вот такой прикольный корпус присмотрел<br/><P align=center><A href="https://ir.izvne.com/https://www.trustedreviews.com/images/article/inline/2435-1274.jpg"><IMG src="https://ir.izvne.com/t/https://www.trustedreviews.com/images/article/inline/2435-1274.jpg"></A><br/>Cooler Master Ammo</P><P></P>Приятно, что он с ручкой сверху, это нам актуально.
	