Id: 8bf800ed-b032-4b25-82da-6331b58cadfe
Title: "Про математику и физику"
Published: "2007-05-04"
Slug: "2007-05-04 Про математику и физику"
-
<P>Уфф. То, до чего я когда-то додумался в своей игре сам, совершенно обычная методика и называется fixed simulation step/variable render step. (У меня не совсем так, ну да ладно).<br/>Меня периодически интересовало, насколько реально догадатся самому до того, что пишут в учебниках. Как оказалось, реально, но очень долго, по крайней мере если ты не привык сам изобретать и выводить формулы ещё со школы.</P>
	