Id: 0dab51d7-a77d-4f26-95f8-a5eacbbef243
Title: "Хахаха"
Published: "2007-11-24"
Slug: "2007-11-24 Хахаха"
-
<blockquote> <p>Я монстр! С помощью страшных хаков я прикрутил поддержку тэгов ЖЖ к клиенту Windows Live Writer.</p></blockquote> <p>Вы даже не представляете, чего мне это стоило (на самом деле всего ничего - часа 4 вкуривания доков на API и борьбы с глюками).</p> <p>Счас проверим, работает оно вообще или нет.</p> <p>А картинка внизу для теста. Это одна из прародительниц гламура в порнографии, порнозвезда Андреа Спинкс. Сейчас вроде как карьеру порноактрисы завершила и получила степень доктора психологии.</p> <p><a href="https://ir.izvne.com/https://spookycash.com/hgvs/10gg/IMG_3935.jpg"><img height="901" src="https://ir.izvne.com/t/https://spookycash.com/hgvs/10gg/IMG_3935.jpg" width="600"> </a></p>subject
	