Id: 37c9b409-9558-4364-85f0-43e386b72659
Title: "Lost"
Published: "2007-01-12"
Slug: "2007-01-12 Lost"
-
<P>Посмотрел два сезона Lost.<br/>"Мы в восхищении! Королева в восхищении!"<br/>Закрутили хитро, респект. Пока понять не могу, в чём фишка, даже теорий нормальных нет.</P>
	