Id: 2a973f30-6144-431a-b810-9ff7c929c85e
Title: "Фейнман"
Published: "2007-03-13"
Slug: "2007-03-13 Фейнман"
-
<P>Офигеть, Фейнман и к квантовому компьютеру руку приложил.<br/>Вот блин человечище! После Леонардо наверное самый гениальный из всех.<br/><A href="https://vzglyad.ru/society/2007/2/16/68719.html">https://vzglyad.ru/society/2007/2/16/68719.html</A></P><br/><br/>Статья via <lj user=gugiens><br/><br/>А вообще, квантовый компьютер уничтожит или сильно изменит всю современную криптографию, что в общем и изложено в статье.<br/>Так что Большой Брат, который знает о вас всё, скоро станет реальностью - шифрование не поможет. Разве что ключи длиной несколько сотен мегабайт использовать.
	