Id: 2c7d5e50-6709-46e9-9cb0-428a8f8a37c3
Title: "Вот что я давно знал, но не мог столь внятно сформулировать.
<A href=\"http://elementy.ru/news/430521"
Published: "2007-08-30"
Slug: "2007-08-30 Вот что я давно знал, но не мог столь внятно сформулировать.__A href__http___elementy.ru_"
-
Вот что я давно знал, но не мог столь внятно сформулировать.<br/><A href="http://elementy.ru/news/430521">http://elementy.ru/news/430521</A>
	