Id: 391c28e9-0031-449b-b5c3-c7495f1c1a8e
Title: "H.264"
Published: "2007-01-14"
Slug: "2007-01-14 H.264"
-
<P>Скачал тут Ghost In Shell 2, запакованное кодеком H.264. Это кодек нового поколения, применяется, в частности, в форматах Blu-Ray и HD-DVD.<br/>Сжимает очёнь хорошо, но требует мощного процессора для воспроизведения. А скачанный мной GITS имеет разрешение 1280x688, отсюда требует чудовищных ресурсов для воспроизведения, если использовать бесплатную реализацию декодера&nbsp;H.264&nbsp;в FFDShow.<br/>Оказалось, мой процессор не справляется, нде. А ведь не совсем ещё старый.</P><P>К счастью,&nbsp;коммерческая реализация декодера H.264 от&nbsp;CoreAVC проиграет фильм всего лишь при загрузке процессора 60%. Так что обойдёмся пока без апгрейдов, к счастью.<br/><br/><br/>Плюс я&nbsp;ещё вчера сравнил производительность работы жёсткого диска.<br/>Одиночный диск/в Windows Dynamic Disk Striping(Software RAID)/Nvidia Striping (полусофтовый RAID).<br/><br/>Результатам конечно доверять нельзя, но всё-таки. Софтовый Windows RAID работает примерно так же, как NVIDIA RAID, и даже чуть лучше.<br/>Оба они работают лучше на запись на 10-20% чем одиночный диск, и в два раза лучше на чтение, чем одиночный диск.<br/>Так что мутить RAID имеет смысл, если для для задачи актуальна скорость чтения.<br/><br/></P>
	