Id: c3455ad8-8971-49fb-ad8f-09334987d87e
Title: "На работу"
Published: "2007-10-05"
Slug: "2007-10-05 На работу"
-
<P>Я почти здоров, завтра на работу.&nbsp;Измерили мне крошечным прибором&nbsp;уровень сахара в крови, составил 5.3.&nbsp;Сказали хорошо. Знать бы, в каких это единицах и что значит. Ещё очень надеюсь на следующей неделе пойти в бассейн, он&nbsp; с октября открыт.<br/><br/>Пока болел, прослушал гигантскую гору новой музыки -&nbsp;дисков 15, наверное. За три дня.&nbsp;Для меня это много.<br/><br/>Ещё почитал Пратчетта - забавно, но не очень понятно, с какой целью это написано. Говорят, что это суровый постмодерн, и надо нехилое поле знаний для понимания.<br/><br/>Ещё прикупил футболок с надписями, но фото вставлять лень, может как приедут, покажу. Футболки закупал на лучшем комиксе <A href="http://xkcd.com">http://xkcd.com</A>,&nbsp;и в известном магазине&nbsp;самообслуживания <A href="http://cafepress.com">http://cafepress.com</A>. Ещё пытался в <A href="http://www.thinkgeek.com">www.thinkgeek.com</A>, но эти странные люди не доставляют в Латвию, что уже давным давно для западных е-магазинов дикость.<br/></P>
	