Id: 0ca3455d-c41f-4c7d-857d-47d637af20f5
Title: "<A href=\"https://phoneme.livejournal.com/570735.html\">По мотивам</A>
У меня есть молодой приятель, не"
Published: "2007-04-21"
Slug: "2007-04-21 _A href__http___phoneme.livejournal.com_570735.html__По мотивам__A__У меня есть молодой п"
-
<A href="https://phoneme.livejournal.com/570735.html">По мотивам</A><br/>У меня есть молодой приятель, неспособный понять нойз и всё такое. <br/>У него наверное хороший вкус, раз он слушает блюз.<br/>2h company для него словоблудие, шум и всё такое.<br/>-<br/>Если хороший вкус и существует, то он очень вреден для восприятия музыки.<br/>Последний альбом The Gathering&nbsp;сделан&nbsp;со вкусом, и при этом является&nbsp;полным отстоем.
	