Id: da73d01a-88b9-4d80-9255-93407dfc1091
Title: "Про ЖЖ"
Published: "2007-12-06"
Slug: "2007-12-06 Про ЖЖ"
-
<p>
Я знаю, что слишком сильно подвергся влиянию таких неоднозначных персонажей, как <a href="https://apazhe.net" target="_blank">apazhe</a> и <a href="https://mrparker.livejournal.com" target="_blank">mrparker</a>.
</p>
 
<p>
Тем не менее, из их негуманного порой поведения можно вынести немало полезного. Например, если человек в ЖЖ банит и трёт комменты - диагноз почти всегда однозначен. Если пытается объяснить собеседнику, что тот на самом деле имел в виду, приписывая фразам рождённые больной фантазией несуществующие мотивации - тоже.
</p>
 
<p>
Список продолжать можно долго. Главное, правда, потом самому в него не угодить.
</p>

	