Id: 71084d39-73b9-4fb7-a013-a111fdf3d224
Title: "<EM>Со временем египтяне утонули в пустыне.
</EM>
<EM> Царская Россия была отсталой, несмотря н"
Published: "2007-02-01"
Slug: "2007-02-01 _EM_Со временем египтяне утонули в пустыне.___EM___EM_ Царская Россия была отсталой, несм"
-
<EM>Со временем египтяне утонули в пустыне.<br/></EM><br/><EM>&nbsp;Царская Россия была отсталой, несмотря на усилия государства развить военно-промышленный комплекс и космические технологии. Среди крестьян свирепствовал коммунизм.<br/></EM><br/><A href="https://mirf.ru/Articles/art87.htm">Давно так не смеялся</A>
	