Id: e8201e5e-88e0-41da-91d2-6407dbd6c7d6
Title: "Сон"
Published: "2007-06-17"
Slug: "2007-06-17 Сон"
-
Мне сегодня приснился&nbsp;горизонтальный лифт. Это такой вагончик на рельсах, по нажатию кнопки доставляющий тебя в другой район здания или даже между зданиями.<br/>Судя по <A href="http://en.wikipedia.org/wiki/People_mover">википедии</A>, такие штуки существуют и широко используются, а имя им - PeopleMover.<br/>Или  <a href="http://www.earthtoys.com/emagazine.php?issue_number=05.02.01&article=elevators">вот</a>
	