Id: 180a316e-59fb-44b6-b627-e0406efc7b08
Title: "Ашанобайки"
Published: "2008-08-03"
Slug: "2008-08-03 Ашанобайки"
-
<p>
Байкеры с форума &ldquo;Веломания&rdquo; <a href="http://forum.velomania.ru/index.php?showtopic=38555&amp;st=220">поставили адский эксперимент на себе</a> &ndash; купили ашанобайк и проехали на нём в спортивном стиле некоторое количество километров.
</p>
 
<p>
Если кто не в курсе, ашанобайк, он же дроческоп, он же груда металлолома, это то, что продаётся в супермаркетах под видом &ldquo;горного велосипеда&rdquo;. У нас стоит около 60 Ls, и называться по аналогии должен наверное &ldquo;максимабайком&rdquo;. Покупать такое опасно не только для здоровья, но и для кошелька &ndash; потому что ОНО всё время ломается. Зато для спортивной подготовки хорошо &ndash; из-за того, что велосипед абсолютно не едет, приходится всё время напрягаться изо всех сил. Главное &ndash; не надорваться, хехе.
</p>
[more text=Дальше цитаты и фотки] 
<p>
Цитаты:
</p>
 
<p>
<em>Сразу же выяснилось, что комплектные педали крутятся плохо, можно сказать -- вообще не крутятся.</em>
</p>
 
<p>
<em>Тормозные диски были смазаны маслом. Тормоза не тормозили. Подседельный штырь не фиксировался -- постоянно сползал вниз.</em>
</p>
 
<p>
<em>А потом силы кончились, и начался тотальный облом. Где-то по пути потеряли переднее крыло, а потом оторвали и заднее, после чего устроили тест байка в говнах.<br />
В той грязной луже, которую с небольшого разгона можно пройти на любом нормальном байке, скорость ашанобайка падала почти до нуля -- вытянуть эту дурынду из трясины было категорически невозможно. Благоразумно решили в грязь больше не заезжать и поехали дальше, но сил ехать на ашане уже не было <img src="http://forum.velomania.ru/style_emoticons/default/smile.gif" border="0" alt="smile.gif" /></em>  
</p>
<p>
<em>Мы съехали с грейдера, выехали на асфальт и в какой-то момент доехали до длинного тягуна. Сашка заявил, что в этот подъем он уже не въедет, но все-таки въехал. Физподготовка сказывается.</em>
</p>
 
<p>
<em>Около станции Силикатная, где мы решили завершить покатушку, Сашка очень неудачно уронил байк. Треснула (а потом и отломилась) левая тормозная ручка, и вылетел руль из выноса.</em>
</p>
 
<p>
<em>В какой-то момент выяснилось, что правый грипшифт не переключает и погнулась ось каретки -- шатун бьется о перо.</em>
</p>
 
<p>
<em>Дождь нас застал только на обратной дороге. Промокли, конечно, до нитки, но по сравнению с некатимостью ашанбайка это ерунда.<br />
Когда байкер откровенно гоночного склада и соответствующей подготовки на асфальте едет вдвое медленнее застарелого матрасника...</em>
</p>
 
<p>
<em>Нужно было видеть лицо Александра, когда на очередной остановке он говорил &quot;я дальше не поеду&quot;. </em>
</p>
 
<p>
<em>Конструктивные недостатки ашанбайка -- это прежде всего вес, очень плохая жесткость, уродские втулки и тяжеленные некатящие пластилиновые колеса, а уж потом трансмиссия.</em>
</p>
 
<p>
<em>Да, совсем забыл сказать. Заднее колесо стояло косо. Не в параллельной раме плоскости, а под углом к ней.</em>
</p>
 
<p>
<em>Главное то, что он не едет и легко ломается.<br />
Рискну предположить, что любой советский байк ехал бы лучше этого поделия. Любой современный дешевый дорожник -- тоже.</em>  
</p>
<p>
<em>Друзья, вы забыли сказать, что мы купили дорогой ашано-байк. Сколько он там стоил? 4300 рублей ?(86 латов &ndash; прим. Vladekk) Я считаю, что это читерство <img src="http://forum.velomania.ru/style_emoticons/default/smile.gif" border="0" alt="smile.gif" /> Нужно было покупать не дороже трёх.</em>  
</p>
<p align="center">
<a href="/files/blogengine/Writer/7b236fe549dc_13616/image.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/7b236fe549dc_13616/image_thumb.png" border="0" alt="image" title="image"   /></a>&nbsp;<br />
Вот так выглядит это чудо под названием &ldquo;Challenger&rdquo;  
</p>
<p align="center">
<a href="/files/blogengine/Writer/7b236fe549dc_13616/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/7b236fe549dc_13616/image_thumb_3.png" border="0" alt="image" title="image"   /></a>&nbsp;<br />
Для сравнения &ndash; мой велосипед весит 14 кг.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/7b236fe549dc_13616/image_4.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/7b236fe549dc_13616/image_thumb_4.png" border="0" alt="image" title="image"   /></a>&nbsp;<br />
На жаргоне байкеров это называется &ldquo;гомнолины&rdquo;
</p>
 
<p>
Конечно, тест устраивали пристрастные полупрофи, так что всегда можно сказать, что не всё так страшно. Тем не менее, не говорите, что вас не предупреждали &ndash; &ldquo;горный&rdquo; велосипед дешевле 400 долларов &ndash; фикция. Если уж совсем нет денег, купите простой и надёжный с минимальным количеством скоростей и нормальной геометрией рамы, то есть похожий на советский &ldquo;Турист&rdquo;. Или лучше его самого б/у и купите.
</p>

	