Id: 65808fae-b722-498e-a96b-24f8648b65eb
Title: "Крит — 13, Хания"
Published: "2008-10-08"
Slug: "2008-10-08 Крит — 13, Хания"
-
<p align="left">
Долго ли, коротко ли, но мы добрались до Хании. Машину оставили на краю улицы, причём настойчивые соратники раз 5 пытались убедиться, что здесь бесплатно. Знака “платная стоянка” не нашли, но всё равно нервничали. Мне пришлось остановить критских девушек и спросить. Они, конечно, не знали, но зато зашли в магазин, помучали продавца. Продавец ответил “бесплатная”, но мои упорные путешественники не сдавались. В принципе, понять их можно – учитывая великий расслабон критян, ответить на вопрос от “от балды” им легче лёгкого. Тем не менее, мы всё-таки оставили машину, купили минералки, захватили из багажника ланчбокс и пошли в парк, мимо которого проезжали, и который был указан в путеводителе, как местная достопримечательность. Парк и в самом деле забавный – похож чуть-чуть на тропики, есть звери в клетках и птички на деревьях. И конечно, полно вездесущих стрекочущих черепашек. 
</p>
 [more text=Читать про древние зарубы и дипломатию, смотреть отличные фото старого города ] 
<p align="center">
<a href="/files/blogengine/Writer/13_123BC/IMG_0249.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/IMG_0249_thumb.jpg" border="0" alt="IMG_0249" title="IMG_0249"  ></a>При взляде на такое в голову приходит только слово “баобаб”. Но это не он.
</p>
 
<p>
Как я уже говорил, ланчбокс оказался дрянным: 2 сухих саба с кусочком ветчины, сыра и помидора, зелёный персик и не совсем сладкая груша. Хорошо хоть бутылочка питьевой воды была, хоть пластиковые бутылки и зло. Не пить же из-под крана для помывки, которые в парке тоже были. Или для поливки? Не важно.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/13_123BC/IMG_0242.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/IMG_0242_thumb.jpg" border="0" alt="IMG_0242" title="IMG_0242"  ></a> После еды у всех хорошее настроение
</p>
 
<p align="left">
Насытившись, путешественники в лице нас отправились на базар, где я всё-таки созрел на покупки всячины.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/13_123BC/IMG_0253.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/IMG_0253_thumb.jpg" border="0" alt="IMG_0253" title="IMG_0253"  ></a> Леваки, как ни странно, есть даже среди критян. А может, это туристы постарались?
</p>
 
<p>
Если кто вдруг не посвящён в философию панка, анархизма, наивного марксизма и всего такого, перевожу. На стене написано “Consume”, то есть “Потребляй”. Дальше разжёвывать наверное не стоит – кому интересно, и так знает, а кто не знает, тому и не надо.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/13_123BC/IMG_2952.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/IMG_2952_thumb.jpg" border="0" alt="IMG_2952" title="IMG_2952"  ></a>Нет, я не помню, что это такое. Фотка сделана Рэмбо
</p>
 
<p>
Прогулявшись по центру, мы заметили небольшое моторное судно, сиречь катер. Около него толпились несколько человек (как могут всего лишь несколько человек производить действие, для которого нужны сотни? уму непостижимо). Некий загорелый человек, которого легко можно было назвать бравым капитаном, завлекал их, рассказывая, какие чудеса их ждут впереди. На меня всегда действует, когда говорят на английском, который я в меру понимаю, а в меру не понимаю. А уж когда нам опять пообещали вожделенных черепах, на сей раз правда морских, а не пресноводных, и даже показали фотографию на буклете - так я вообще мгновенно созрел.&nbsp; 
</p>
 
<p>
Андрей тоже, потому что его философия говорит “делай что собирался, и зачем туристу думать”. Таня и Сергей, видя такой расклад, долго не колебались, хотя на черепах-то на самом деле надежды было мало – ещё жив был в памяти облом с озером Курна. Но всё-таки мы купили билеты (по 10 евро шутка, или по 9) и прошли на катер. Он, кстати, был с прозрачным дном, как впрочем и все остальные на причале. В принципе, проницательный человек ещё на берегу додумается, что смотреть на дне не на что, поэтому смысла особого в прозрачном дне нет – но надо же мегакорпорациям куда-то девать акрил, а маркетологам зарабатывать.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/13_123BC/IMG_0284.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/IMG_0284_thumb.jpg" border="0" alt="IMG_0284" title="IMG_0284"  ></a> Обогнули микроостров с микрочасовней. По обочинам дорог тут таких много 
</p>
 
<p>
Как бы то ни было, прогулка выдалась приятная (о морской болезни кое-кого умолчу, чтобы не портить романтику). Волны качали катер, как поршни - эмулятор ракеты в разлекательном комплексе, так что я смело могу сказать, что в этом конкретном случае горизонт завален не по причине моих кривых рук, а из-за силы стихии. Что не отменяет остальных, though. (Слово крутое, не мог не вписать).
</p>
 
<p>
После освежающего бриза мы решили немного поглотать пыль древних стен, и пошли посмотреть старый город, который в общем-то на пристани и начинался. Мне там очень понравилось, но картинок почему-то нет: сложно сфотографировать узкие улицы, к которых нет ничего особенного, кроме древности и уюта.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/13_123BC/IMG_2953.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/IMG_2953_thumb.jpg" border="0" alt="IMG_2953" title="IMG_2953"  ></a> Египетский маяк
</p>
 
<p>
Я даже завёл команду на зверский холм (видимо, бывший акрополь), но мои боязливые туристы, увидев чьё-то бельё, сушащееся на верёвках, застеснялись и стали искать лестницу вниз. Она споро нашлась и вывела нас прямо в ресторан. Забавно живут критяне, ничего не скажешь.
</p>
 
<p>
Чтобы показать старый город, пришлось искать подходящие фотки на палочке-выручалочке под названием Мигалка.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/nikosp/269233066/sizes/l/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/image.png" border="0" alt="image" title="image"  ></a> До маяка можно доехать вот так
</p>
 
<p align="left">
Наверное, надо мне рассказать про историю города Хания, чтобы доказать вам его величие, наблюдаемое нами ныне лишь в виде потёртых строений.
</p>
 
<p align="left">
Население 55 тыс. Изначальное происхождение – минойское, то есть такое древнее, какое старине Иисусу даже и не снилось. Потом в 395 году пришли варвары, сиречь его сподвижники христиане, захватили всё. Арабы спать не стали, и тоже повладели городом некотором время, но византийцы были настойчивы, и захавали город обратно. После 4 крестового похода Ханией правил какой-то маркиз по имени Трактирщик. С таким погонялом ему ничего хорошего не светило, поэтому пришлось загнать город венецианцам за 100 сребренников.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/13_123BC/IMG_2955.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/IMG_2955_thumb.jpg" border="0" alt="IMG_2955" title="IMG_2955"  ></a> Похоже, но не то. Фотка Рэмбо
</p>
 
<p align="left">
Венецианцы местным поначалу спуску не давали, но из-за вечного расслабона, царящего на острове, скоро забили и стали с ними дружить, строить им кабаки, бордели и казино с блек-джеком и шлюхами. (Разумеется, всё строго в рамках местной православной веры, хотя сами венецианцы были католиками). 
</p>
 
<p align="left">
Однако же, вместо арабов пришла другая напасть – турки, которые всего лишь после двух месяцев осады захватили город в августе сорок пятого. 1645, если кто вдруг задумался. Но даром это туркам не прошло, потому что критяне проявили характер: если иногда этого не делать, Великий Расслабон будут нарушать все кому не лень. Во время осады полегло 40 тыщ бусурман, за что командующего наступлением по прибытии на родину лишили головы.
</p>
 
<p align="left">
Обозлённые произошедшим обломом, фашистские турецкие захватчики отобрали у горожан все их банковские вклады, а точнее амфорные вклады, потому как с банками у горожан был напряг. Ещё нехристи по своему обычаю перестроили базницы (церкви (латышьск.) -прим.ред) в мечети. Одна польза от них – понастроили фонтанов и бань, потому как были чистоплотны и любили смотреть на текущую воду.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/geby/565610516/sizes/l/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/image_3.png" border="0" alt="image" title="image"  ></a> Если вдруг случайно не заметили, вещи никто не сторожит
</p>
 
<p align="left">
Тем не менее, критяне туркам ничего не простили и не забыли – в 1821 была свирепая заруба между местными турками и греками, а к началу двадцатого века Крит наконец-то получил независимость, правда скорее благодаря западным махинаторам, которые в этом нуждались для пущего ослабления Турции. Это при том, что в 1800 на Крите едва ли не половина населения была мусульманами. Кстати, критяне это нечто навроде чеченцев – они охотно ездили наёмниками на балканы повоевать, когда у себя затихало. Как это вяжется с расслабоном, мне сказать сложно. В 1913 Крит присоединился к Греции, потому что критяне всё-таки греки, как ни крути, да и Европа подсуетилась. К 1922 мусульман на Крите не осталось вовсе, все разъехались по историческим родинам. В принципе, это если о чём и говорит, так о том, что мирной жизни местных и “оккупантов” ждать всё-таки не стоит. Из Чечни сбежало более 160 тысяч русских, а в Латвии их живёт больше полумиллиона – остаётся надеятся только на более спокойный характер латышей, по сравнению с горцами. Но что-то мне говорит, что во время всемирного кризиса, если он будет, надежды на это мало. Придётся косить под поляка.
</p>
 
<p align="left">
Хания была столицей практически всё упомянутое мной время, до 1973 года, когда главным городом стал Ираклион.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/jimmysdaskalakis/2189445248/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/image_4.png" border="0" alt="image" title="image"  ></a><a href="http://drugoi.livejournal.com/2569339.html">Начало и конец</a>
</p>
 
<p>
Больше нормального размера фоток старого города я не нашёл (как я люблю, формата "FullHD”), поэтому придётся вам смотреть слайдшоу из открыток, если хотите. <a href="http://flickr.com/photos/juliusgb/sets/1424452/show/">Вот оно.</a>
</p>
 
<p>
А это десерт. Delicious! (Хинт: надо нажать на картинку)
</p>
 
<p>
<a href="http://www.flickr.com/photos/markop/2330071033/sizes/o/" title="Жмите сюда, не пожалееете"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/13_123BC/image_5.png" border="0" alt="image" title="image"  ></a></p><p><br></p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a>
</p>

	