Id: cf67cbab-bbed-403c-8f3a-c7c0607af529
Title: "Ведьмак"
Published: "2008-02-25"
Slug: "2008-02-25 Ведьмак"
-
<p>
Прочитал серию книг &quot;Ведьмак&quot; поляка Анджея Сапковского. Довольно известные книги среди любителей фантастики и фэнтэзи, надо заметить. Анджей это по-нашему Андрей, если кто не догадался.
</p>
 
<p>
Книги мне довольно сильно понравились, несмотря на то, что фэнтези.
</p>
 
<p>
Вот всякие мнения, коротко.
</p>
 
<p>
Первое. Автор, как и единственный другой поляк, которого я читал aka Лем, здоровски владеет и играет языком. Все персонажи у него изъясняются самобытно, стилистически выверенно относительно своего положения во вселенной. И ведут себя так же. Такое ощущение, что автор проштудировал гигансткое количество исторических и филологических справочников в поисках словечек и словищ, и не забыл добавить несколько тысяч неологизмов от себя лично.
</p>
 
<p>
Второе. Несмотря на то, что&nbsp; формально это фэнтэзи, фактически это скорее фантастика. Так, мистики там самая малость, и главные персонажи ей скорее сопротивляются, чем используют. Магия - наука, а мир действует по строгим причинно-следственным законам и связям. Главные герои вдобавок ещё и неверующие, по большей части.
</p>
 
<p>
Третье. Первая книга - сборник рассказов про ведьмака, то есть специалиста по уничтожению опасных сверхестественных существ. Характер и привычки ведьмака раскрыты достаточно косвенно, что радует. Криворукие авторы от недостатка мастерства любят делать так, что герой явно рассуждает и философствует, что скучно и пошло. Радует, что Анджей до такого не опускается, более того - любит резкие переходы повествования в пространстве и времени. Рассказ переодически перемежается воспоминаниями героев или изложением будущих и прошлых событий полностью посторонними лицами, которые при этом всё происходящие переверают и интерпретируют. 
</p>
 
<p>
Четвёртое. Любопытно, что последующие книги резко усложнились и глобализировались, примерно так, как это произошло с &quot;Хоббитом&quot; и &quot;Властелином колец&quot;, если кто случайно в курсе. При этом они местами потеряли свою неявность - герои стали куда прозрачнее, а значит скучнее. В книгах много натуралистичности и жестокости, плюс повествование рваное, как уже было сказано выше. Так что местами читать не так уж и легко для беллетристики. Но мне лично было нормально, потому что книги всё-таки развлекательные. И юмор местами такой зверский, что я от смеха с кровати падал на пол.
</p>
 
<p>
Выводы. Рекомендую всем читать. Если первая книга понравится - читайте остальные.
</p>
 
<p>
Все книги можно <a href="http://lib.aldebaran.ru/series/vedmak/">скачать</a> с Альдебарана.
</p>

	