Id: 5d528c9e-54a8-45b5-8d88-8ccf278e48d3
Title: "Вести с полей"
Published: "2008-08-22"
Slug: "2008-08-22 Вести с полей"
-
<p>
На&nbsp;Крите неплохо. В интернет не ходил, чтобы не портить карму.&nbsp;Андрей в отеле купил смарткарту для инета, но его не устроила скорость и он укатил в деревенское интернет-кафе на арендованном мной дроческопном байке. Карту оставил мне. 
</p>
<p>
TaskManager политиками админки запрещён, а замечательная команда taskkill - нет. Так что&nbsp; интернет у меня&nbsp;теперь бесплатный и безлимитный, хоть он мне и&nbsp; не нужен.
</p>

	