Id: 80dfe200-f146-48af-a7c5-116e0729bb21
Title: "Выборы в ЖЖ"
Published: "2008-05-29"
Slug: "2008-05-29 Выборы в ЖЖ"
-
Голосуй или не проголосуешь!<br />
Голосуйте за Адольфыча - он конечно крайне своеобразный тип, зато за полную и анархическую свободу слова, что я поддерживаю.<br />
<a href="http://www.livejournal.com/poll/?id=1192029&amp;mode=enter">Голосовать</a>

	