Id: 3b6645fc-2b68-4af9-a199-e063a34b1cbc
Title: "США — 24, Сеть супермаркетов Woodman's и про еду, часть 2"
Published: "2008-07-23"
Slug: "2008-07-23 США — 24, Сеть супермаркетов Woodman_s и про еду, часть 2"
-
<p align="left">
Теперь непосредственно о продуктах. Овощи на вкус нормальные, хоть картошка размером с небольшую дыню немного и смущает. Клубника - и это притча во языцех - ужасно безвкусная, не смотри что размером как среднее яблоко. Очень, фантастически понравилась мне одна вещь. Это свежие, в формате ассорти нарезанные соломкой или цельные овощи в пакете. Бывает так капуста, морковка, цветная капуста, брокколи и прочее. Они очень вкусные, резать, а главное покупать гору, которую негде хранить, самому не надо, и ещё их круто макать в dip. У нас такие тоже есть, но мало, дорого и на вкус ужасно.
</p>
<p align="center">
<a href="https://flickr.com/photos/dotthespot/2450574850/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/19_12F53/image.png" border="0" alt="image"  ></a>&nbsp;<br>
Такой конечно не было, но в целом близко к тому
</p>
<p align="left">
&nbsp;
</p>
<div class="ljcut">
<p align="left">
Что касается dip - это опять-таки новое слово, связанное с едой. Оно означает соус, которым не заправляют что-то, а в который макают что-то, причём dip и означает "макать". Майонез, в принципе, у нас иногда используется как дип для яиц, но самый простой пример дипа - кетчуп, ведь мы не заливаем им блюдо целиком, а наливаем сколько надо, что аналогично маканию. Дип мне понравился - макать туда овощи и чипсы прикольно. (В Америке чипсы бывают непротивные, без вкуса глутамата натрия.) У нас дипов нет, по крайней мере в Даугавпилсе, насчёт Риги не уверен, там много что есть. В принципе, простой дип из майонеза со сметаной и специями легко сделать самому, но времени вечно нет. Обратите внимание на надпись fat free на картинке - такое всегда подчёркивается. Версии вообще всех продуктов в США (если это возможно) есть без жира или без сахара, бывает и то и другое вместе. Растительное происхождение тоже -&nbsp; вегетарианцев и веганов в США почти 6%, то есть не меньше, чем аллергиков.
</p>
<p align="center">
<a href="/files/blogengine/Writer/19_12F53/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/19_12F53/image_thumb.png" border="0" alt="image"  ></a>&nbsp;<br>
Dill dip, то есть укропный дип 
</p>
<p align="left">
Соус, которым заправляют салаты, называется salad dressing, что означает "одёжка салата". Популярные в Европе дрессинги делаются на основе уксуса и растительного масла, у нас главные дрессинги это майонез&nbsp; и сметана, иногда растительное масло. Американцы переняли все эти виды и добавили свои: на основе кетчупа, йогуртов и чёрт знает чего ещё. Я не люблю резкие вкусы, включая уксус и майонез; ем их редко. Оттого некоторые американские дрессинги мне показались сносными, те, где уксуса поменьше. Потом купил у нас, производства Spilva, причём так и называются - Dresingi (латвиски). Нет, это не для меня. Лучше всего простое подсолнечное масло, соль и собственный сок овощей - вкуснее ничего нет. Когда в общаге жил, бывало, что по полкочана капусты съедал в виде салата.
</p>
<p align="center">
<a href="https://www.spilva.lv/?cat=40&amp;lang=lv"><img style="border-width: 0px" data-src="/files/blogengine/Writer/19_12F53/image_4.png" border="0" alt="image"  ></a>&nbsp;<br>
Латвийские Spilva Dresingi, включая самый популярный в США Thousand Island, т.е. "Тысяча островов"
</p>
<p>
Солёные огурцы у американцев называются pickles (пиклз), они же, но сладкие и мелко порубленные - relish (релиш), что считается скорее соусом. В нём бывают не только огурцы - порубить овощ и насыпать сахару дело не сложное. На вкус забавно, для разнообразия можно иногда и съесть.
</p>
<p align="center">
<a href="/files/blogengine/Writer/19_12F53/image_thumb3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/19_12F53/image_thumb3_thumb.png" border="0" alt="image_thumb[3]"  ></a><br>
<span class="spnMessageText"><font face="Arial" size="2" color="#191970">Milwaukee's Midget Dill Pickles are the greatest thing going since sex! - <a href="https://www.roadfood.com/Forums/topic.asp?TOPIC_ID=7343">отзывы</a> пользователей</font></span>
</p>
<p align="left">
Огурцы, которые были у Лены дома и изображены на картинке выше, почему-то кошерные. На вкус они скорее как наши солёные, хотя на самом деле - маринованные. 
</p>
<p align="left">
Про перец халапено я уже писал в <a href="/post/2008-07-19%20%D0%A1%D0%A8%D0%90%20-%2020%2C%20%D1%81%D0%B5%D1%82%D1%8C%20%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%D0%BE%D0%B2%20Subway#cutid1">посте про Сабвей</a> - он острый, но для американцев терпимый. А вот что невыносимо ни для кого - это перец абанеро (habanero chile). В Вудмансе бывает даже свежий, в Европе точно бывает консервированный (я его ел), но в Латвии я не видел ни того, ни другого. Консервированный, правда не сильно острее других, а свежий, говорят, просто смерть - даже мексиканцы их редко едят. Это самый острый перец, который находится в широкой продаже. Можно считать, что более острые - это уже оружие. Кстати, есть такие перцы, которые есть могут только жители региона, где они произрастают. Для остальных итог поедание таких перцев будет печальным: тяжёлое отравление или даже смерть.
</p>
<p align="center">
<a href="/files/blogengine/Writer/19_12F53/image_5.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/19_12F53/image_thumb_3.png" border="0" alt="image"  ></a> <a href="/files/blogengine/Writer/19_12F53/image_6.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/19_12F53/image_thumb_4.png" border="0" alt="image"  ></a> <br>
Халапено и абанеро пропорционально популярности
</p>
<div align="left">
Вообще Вудманс очень большой. Например, полки с мороженым, длиной в 50 метров в каждую сторону высотой в два метра очень впечатляют. Причём за 5 долларов можно купить маленькую баночку премиум-сегмента, или же, немногим дороже - целое ведро простого мороженого размером литров 5, а то и более. У нас я видел максимум 3 литра, в США гигантская коробка называется family-pack и содержит чёрт знает сколько - литров 5 точно.
</div>
<p align="left">
Кстати, я вспомнил, как на заправке мне Алехандро купил соду, причём я ляпнул "большую". Вам никогда не догадаться, что означает "большой" стакан кока-колы. Это 1.3 литра! Вы себе представить такое можете? Я его целый день пил.
</p>
<p align="left">
Но пост не об этом. Рассказывая про еду в США, нельзя не упомянуть такое понятие, как "organic". Строго говоря, оно означает что растения, из которых сделана еда, были выращены без применения искусственных химических веществ вроде пестицидов или удобрений, не облучались радиацией, не имеют всяческих синтетических добавок и вообще близки матушке-природе. Понятно, что потребляет это часть "зелёного" движения, поддерживаемая компаниями, которые такое производят. Истерия по органическому достаточно массовая. Почему, понятно. См. несколькими абзацами выше про химию. Как и во всём, американцы сделали из этого рекламно-пропагандитский культ, причём сами в него и верят. Те, кто может себе это легко позволить (немногие), стараются покупать "органическое". Ирония заключается в том, что органическое требует куда больших затрат энергии при меньшей эффективности, тем самым увеличивая пресловутые выбросы углекислого газа, теоретически приводящие к глобальному потеплению. То есть зелёный скорее должен приветствовать ГМ продукты, которые являются почти единственным способом уменьшить количество удобрений и пестицидов. Впрочем, я в вопросе не сильно разбираюсь - каждая сторона имеет свою точку зрения. Но, послушав фантастические идеи и безумные теории современных "зелёных", многие из которых имеют сродство с анархистами и левыми, я решил, что плотно к ним примыкать не стоит.
</p>
<p align="center">
<table border="1" cellspacing="0" cellpadding="0" class="MsoNormalTable" style="border: 4.5pt outset ">
	<tbody>
		<tr>
			<td colspan="2" style="border: medium none ; padding: 2.25pt; background: maroon none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<strong><span style="font-size: 18pt; font-family: 'Times New Roman','serif'">Scoville Units</span></strong><span style="font-size: 12pt; font-family: 'Times New Roman','serif'"> </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: maroon none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<strong><span style="font-size: 13.5pt; color: white; font-family: 'Times New Roman','serif'">Chile Pepper</span></strong><span style="font-size: 12pt; font-family: 'Times New Roman','serif'"> </span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: maroon none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<strong><span style="font-size: 13.5pt; color: white; font-family: 'Times New Roman','serif'">Heat Range</span></strong><span style="font-size: 12pt; font-family: 'Times New Roman','serif'"> </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ffd000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Sweet Bell</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ffd000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">0 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ffd000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Pimento</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ffd000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">0 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ffc000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Cherry</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ffc000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">00 ~ 500 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ffb000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Pepperoncini</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ffb000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">100 ~ 500 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff9900 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">El-Paso</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff9900 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">500 ~ 700 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff9700 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Santa Fe Grande</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff9700 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">500 ~ 750 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff9500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Coronado</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff9500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">700 ~ 1,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff9000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Espanola</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff9000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">1,000 ~ 2,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff9000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Poblano</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff9000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">1,000 ~ 2,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff9000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Ancho</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff9000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">1,000 ~ 2,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff9000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Mulato</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff9000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">1,000 ~ 2,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff9000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Pasilla</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff9000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">1,000 ~ 2,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff8500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Anaheim</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff8500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">500 ~ 2,500 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff8500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Sandia</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff8500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">500 ~ 2,500 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff8500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">NuMex Big Jim</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff8500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">500 ~ 2,500 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff8000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Rocotillo</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff8000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">1,500 ~ 2,500 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff7000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Pulla</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff7000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">700 ~ 3,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff6000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Mirasol</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff6000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">2,500 ~ 5,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff6000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Guajillo</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff6000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">2,500 ~ 5,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff5500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Jalapeno</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff5500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">2,500 ~ 8,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff5500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Chipolte</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff5500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">5,000 ~ 8,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff5200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Hot Wax</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff5200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">5,000 ~ 10,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff5200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Puya</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff5200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">5,000 ~ 10,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff5000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Hidalgo</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff5000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">6,000 ~ 17,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff5000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Serrano</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff5000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">8,000 ~ 22,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff4000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Manzano</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff4000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">12,000 ~ 30,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff4000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Shipkas</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff4000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">12,000 ~ 30,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff3500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">De Arbol</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff3500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">15,000 ~ 30,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff3300 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Jaloro</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff3300 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">30,000 ~ 50,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff3300 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Aji</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff3300 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">30,000 ~ 50,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff3300 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Tabasco</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff3300 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">30,000 ~ 50,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff3300 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Cayenne</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff3300 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">30,000 ~ 50,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff3200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Santaka</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff3200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">40,000 ~ 50,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff3200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Super Chile</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff3200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">40,000 ~ 50,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff3000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Piquin</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff3000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">40,000 ~ 58,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff2800 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Yatsafusa</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff2800 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">50,000 ~ 75,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff2600 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Haimen</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff2600 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">70,000 ~ 80,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff2400 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Chiltecpin</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff2400 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">60,000 ~ 85,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff2200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Thai</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff2200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">50,000 ~ 100,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff2000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Tabiche</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff2000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">85,000 ~ 115,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff1900 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Bahamian</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff1900 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">95,000 ~ 110,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff1800 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Carolina Cayenne</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff1800 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">100,000 ~ 125,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff1600 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Kumataka</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff1600 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">125,000 ~ 150,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff1400 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Jamaican Hot</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff1400 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">100,000 ~ 200,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff1200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Birds Eye</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff1200 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">100,000 ~ 225,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff1100 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Tepin (Wild)</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff1100 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">100,000 ~ 265,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff0900 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Devil Toung</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff0900 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">125,000 ~ 325,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff0900 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Fatalii</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff0900 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">125,000 ~ 325,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff0900 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Orange Habanero</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff0900 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">150,000 ~ 325,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff0600 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Scotch Bonnet</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff0600 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">150,000 ~ 325,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff0500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Choclate Habanero</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff0500 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">300,000 ~ 425,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff0400 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Red Savina Habanero</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff0400 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">350,000 ~ 575,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #ff0300 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Dorset Naga</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #ff0300 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">800,000 ~ 900,000 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: red none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal" class="MsoNormal">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">Naga Jolokia</span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: red none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<span style="font-size: 12pt; font-family: 'Times New Roman','serif'">800,000 ~ 1,001,300 </span>
			</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 2.25pt; background: #c00000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<strong><span style="font-size: 12pt; color: white; font-family: 'Times New Roman','serif'">Pure Capsaicin</span></strong><span style="font-size: 12pt; font-family: 'Times New Roman','serif'"> </span>
			</p>
			</td>
			<td style="padding: 2.25pt; background: #c00000 none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial">
			<p style="margin-bottom: 0pt; line-height: normal; text-align: center" class="MsoNormal" align="center">
			<strong><span style="font-size: 12pt; color: white; font-family: 'Times New Roman','serif'">15-16,000,000</span></strong><span style="font-size: 12pt; font-family: 'Times New Roman','serif'"> </span>
			</p>
			</td>
		</tr>
	</tbody>
</table>
Шкала остроты перцев <a href="https://www.ushotstuff.com/Heat.Scale.htm">отсюда</a></p><p align="center"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: start; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a>
</p>
</div>
<p align="center">
<a href="https://www.ushotstuff.com/Heat.Scale.htm"></a>
</p>

	