Id: cb4df908-9c49-4f42-a1ed-d6dc55b8ef56
Title: "Офигенно"
Published: "2008-08-04"
Slug: "2008-08-04 Офигенно"
-
Гениальная жж-солянка - выдумавание персонажей игры из различных субкультур.&nbsp; На сей раз жж заруливает лепру по крутости.<br />
<br />
<a href="https://ammosov.livejournal.com/384910.html">https://ammosov.livejournal.com/384910.html</a><br />
<br />
А я пошёл на обед.

	