Id: f14e41fd-a914-4d78-8751-9e7bf8ea403d
Title: "США — 13,  Турнир и ужин в Medieval Times"
Published: "2008-07-06"
Slug: "2008-07-06 США — 13,  Турнир и ужин в Medieval Times"
-
<p>
После музея науки нам к 14.00 надо было успеть на представление в средневековый замок. К несчастью,&nbsp; сначала мы попали в адские пробки на выезде из Чикаго, а потом я набрал на GPS'е немного не тот адрес. Вместо того, что съехать с магистрали прямо в замок, мы объездом пилили 5 миль. Замок и представление называется <a href="/admin/Pages/http:/www.medievaltimes.com">Medieval Times</a>. 
</p>
 
<p align="center">
<a href="https://flickr.com/photos/azchael/2601057743/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/13MedievalTimes_BB7C/image.png" border="0" alt="image"  ></a>&nbsp;<br>
Замок выглядит примерно так (фото не моё)
</p>
 
<p>
&nbsp;
</p>
<div class="ljcut">
<p>
Доехали мы туда только полчётвёртого, но это оказалось не страшно, так как на самом деле представление начиналось в 16.00. А приезжать за два часа до начала нас просили лишь затем, чтобы мы невозбранно могли потратить свои денежки на мерчандайз, то есть тематические сувениры. По приезду нам надели на головы короны жёлтого цвета, а потом сфоткали с принцессой. Внутри был большой зал, где можно было как следует затариться сувенирами, но мы их всегда игнорируем.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/13MedievalTimes_BB7C/IMG_5284.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/13MedievalTimes_BB7C/IMG_5284_thumb.jpg" border="0" alt="IMG_5284"  ></a><br>
На сайте написано, что вещи и костюмы воссозданы аутентично.
</p>
 
<p align="center">
Через некоторое время прямо в зале с сувенирами стал отжигать герольд aka церемонимейстер.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/13MedievalTimes_BB7C/IMG_5288.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/13MedievalTimes_BB7C/IMG_5288_thumb.jpg" border="0" alt="IMG_5288"  ></a>&nbsp;<br>
Герольд
</p>
 
<p align="left">
Шоу он вёл очень круто - говорил складно и напыщенно, но при этом энергично. Я, правда, почти ничего не понимал. Потом мы в порядке очерёдности по цветам корон потопали на арену aka ристалище, где должен был проходить "пир" и "рыцарский турнир".
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/13MedievalTimes_BB7C/IMG_5290.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/13MedievalTimes_BB7C/IMG_5290_thumb.jpg" border="0" alt="IMG_5290"  ></a>&nbsp;<br>
Арена сражений в темноте, мы сидим в жёлтом секторе
</p>
 
<p align="left">
Пир вылился в поедание курицы и томатного супа из металлических мисок. Суп был ничего, курица была в виде большой и банальной "ножки Буша", поэтому я её почти не ел. Официантка и продавцы светящихся сабель само-собой были одеты в средневековые костюмы.
</p>
 
<p align="left">
Касательно турнира. Сражались рыцари в одежде разных цветов, а зрители были рассажены по цветным секторам и должны были болеть за "своего" рыцаря. Была ещё некая сюжетная канва&nbsp; про злого зелёного рыцаря, который в итоге почти всех остальных перебил. Потом&nbsp; вернулся сын короля и злодея порешил.
</p>
 
<p align="left">
Бои поставлены отлично, дрались с помощью разного оружия, которое срывали со стен арены или принимали от оруженосцев. Щиты и копья разлетались в щепки, а пару раз я даже пугался, что рыцари не рассчитают траектории и&nbsp; один "утренней звездой" заедет другому по голове.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/13MedievalTimes_BB7C/IMG_5293.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/13MedievalTimes_BB7C/IMG_5293_thumb.jpg" border="0" alt="IMG_5293"  ></a>&nbsp;<br>
Дефиле перед мочиловом
</p>
 
<p align="left">
Наш рыцарь быстро выбыл из строя, но нас это не особенно огорчило. По факту можно сказать - представление было хорошее и бои выглядели достоверно, но всё равно какое-то неистребимое ощущение китча. У американцев на это дело талант, конечно - из всего сделать какой-то фейк смешной&nbsp; и поверхностный. Тем не менее, сходить туда вполне можно, если делать нечего. Всего таких замков в Америке девять, так что в любом регионе найдёте. Некоторые могут сказать: "Как ты променял музей науки на какой-то цирк для детей?" . А я отвечу, что несколько дней подряд ходить по музеям тяжело. Во-первых, читать долго на английском надоедает даже мне. Во-вторых, на представлении хотя бы сидеть можно, а в музее ты много часов на ногах, хоть скаймейки и встречаются. В-третьих, деятельность надо чередовать, чтобы не надоедало.
</p>
</div>
<p align="left">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	