Id: 0f0b81f3-62ac-4d6f-ba5f-38672c3cef0b
Title: "Германия — 8"
Published: "2008-01-15"
Slug: "2008-01-15 Германия — 8"
-
<p>
Через некоторое время&nbsp; мы уже были в музее автомобилей и техники <a href="https://www.technik-museum.de/uk/sinsheim/" target="_blank">Sinsheim</a>.&nbsp; Это один из самых больших подобных музеев в мире, его коллекция уникальна. Например, он единственный, где есть оба сверхзвуковых пассажирских лайнера - Конкорд и Ту-144.
</p>
[more text=Смотреть на крутые антикварные авто] 
<p>
И это видно уже на подьезде к музею.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0340.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0340_thumb.jpg" border="0" alt="IMG_0340"  ></a>&nbsp;
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0341.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0341_thumb.jpg" border="0" alt="IMG_0341"  ></a> 
</p>
 
<p>
Сразу по попаданию внутрь вас ждёт вот такой милый запорожец, у которого на номере написано Amphicar.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0411.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0411_thumb.jpg" border="0" alt="IMG_0411"  ></a> 
</p>
 
<p>
Не стоит недооценивать запорожцы! Это оказался единственный серийный автомобиль-амфибия в мире.
</p>
 
<p>
<a href="https://en.wikipedia.org/wiki/Amphicar" target="_blank"><img src="https://ir.izvne.com/https://upload.wikimedia.org/wikipedia/commons/2/25/Amphicar-stuttgart-2005.jpg" alt=""></a> 
</p>
 
<p>
Во время покупки билета над головой висит вот такая летающая табуретка, чтобы жизнь мёдом не казалась.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0342.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0342_thumb.jpg" border="0" alt="IMG_0342"  ></a> 
</p>
 
<p>
Зато после захода внутрь нас сразу ждут красоты. Кстати, залов в музее несколько, в каждый можно зайти через турникет лишь два раза, после этого билет недействителен.
</p>
 
<p>
Это знаменитые мотоциклы Indian. Харли-Дэвидсон попса, вот настоящий культ.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0343.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0343_thumb.jpg" border="0" alt="IMG_0343"  ></a> 
</p>
 
<p>
Как ни крути, есть великая романтика в девятнадцатом и начале двадцатого века. Сейчас всё вылизанное и продуманное с маркетинговой точки зрения, а тогда люди творили то, что им диктовало чувство прекрасного.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0345.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0345_thumb.jpg" border="0" alt="IMG_0345"  ></a> 
</p>
 
<p>
Цвет прекрасный. Но сейчас его использовать глупо - он должен сочетаться именно с такой величественной машиной, а не современными яйцами на колёсах.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0346.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0346_thumb.jpg" border="0" alt="IMG_0346"  ></a> 
</p>
 
<p>
Самая дорогая машина в коллекции музея, в своё время стоила 130 тысяч марок. Сейчас стоит несколько миллионов долларов, а может и больше. Да, это Бугатти, марка, которая и сейчас является вершиной понтов, технологий и дизайна.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0348.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0348_thumb.jpg" border="0" alt="IMG_0348"  ></a>&nbsp;
</p>
 
<p>
А этой машиной&nbsp; явно вдохновлялись создатели великой игры Fallout.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0351.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0351_thumb.jpg" border="0" alt="IMG_0351"  ></a> 
</p>
 
<p>
Сравните.
</p>
 
<p>
<img src="https://ir.izvne.com/https://duckandcover.cx/features/bible/fatasscar.gif" alt=""> 
</p>
 
<p>
Трубки по бокам просто фантастические.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0353.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0353_thumb.jpg" border="0" alt="IMG_0353"  ></a>&nbsp;
</p>
 
<p>
Американско-французское чудо, победитель многих соревновний.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0354.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0354_thumb.jpg" border="0" alt="IMG_0354"  ></a> 
</p>
 
<p>
Даже сказать ничего.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0355.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0355_thumb.jpg" border="0" alt="IMG_0355"  ></a> 
</p>
 
<p>
Один из самых больших серийных бульдозеров в мире, или даже самый большой.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0359.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0359_thumb.jpg" border="0" alt="IMG_0359"  ></a> 
</p>
 
<p>
Би-биии!
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0361.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0361_thumb.jpg" border="0" alt="IMG_0361"  ></a> 
</p>
 
<p>
Если ездить на такой машине, комплексы рассасываются сами собой.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0364.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0364_thumb.jpg" border="0" alt="IMG_0364"  ></a> 
</p>
 
<p>
А ещё лучше на таком паровозе.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0367.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0367_thumb.jpg" border="0" alt="IMG_0367"  ></a> 
</p>
 
<p>
Феррари.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0369.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0369_thumb.jpg" border="0" alt="IMG_0369"  ></a> 
</p>
 
<p>
Ягуар.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0370.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0370_thumb.jpg" border="0" alt="IMG_0370"  ></a> 
</p>
 
<p>
Майбах.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0376.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0376_thumb.jpg" border="0" alt="IMG_0376"  ></a> 
</p>
 
<p>
Главное в велосипеде - минимум обслуживания. Вот в этом, например, колёса не надо накачивать.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0375.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0375_thumb.jpg" border="0" alt="IMG_0375"  ></a>
</p>
 
<p>
Трёхколесная самодвижущаяся повозка. Для своего времени крайне прогрессивна - недорогая и быстрая. Убила её, как можно догадаться, безопасность.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0377.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0377_thumb.jpg" border="0" alt="IMG_0377"  ></a> 
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0379.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0379_thumb.jpg" border="0" alt="IMG_0379"  ></a> 
</p>
 
<p>
Мерседес.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0382.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0382_thumb.jpg" border="0" alt="IMG_0382"  ></a>&nbsp;
</p>
 
<p>
Славный байк.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0385.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0385_thumb.jpg" border="0" alt="IMG_0385"  ></a> 
</p>
 
<p>
Тоже неплохой.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0392.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0392_thumb.jpg" border="0" alt="IMG_0392"  ></a> 
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0394.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0394_thumb.jpg" border="0" alt="IMG_0394"  ></a> 
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0400.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0400_thumb.jpg" border="0" alt="IMG_0400"  ></a> 
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0401.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0401_thumb.jpg" border="0" alt="IMG_0401"  ></a> 
</p>
 
<p>
Танков, солдатов и прочего тоже было много, но я их не фотографировал, не помню почему. Вот разве что культовый "Кукурузник" запечатлел.
</p>
 
<p>
<a href="/files/blogengine/Writer/8_11778/IMG_0408.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/8_11778/IMG_0408_thumb.jpg" border="0" alt="IMG_0408"  ></a> 
</p>
 
<p>
В целом - музей фантастический. Бродил по нему часов 5, всё осмотрел, хоть и устал ходить. Ещё мы там смотрели документальное кино про космонавтов в IMAX (3D кинотеатр), тоже неплохо.</p><p><a href="/post/2016-01-14%20%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D0%B5%20%D0%B2%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8E" target="_blank" style="background-color: rgb(246, 246, 246);">К оглавлению</a></p><p>
</p>

	