Id: 1d9360fa-e48c-4270-94d3-181a4a12c7a9
Title: "Сон"
Published: "2008-04-14"
Slug: "2008-04-14 Сон"
-
<p>
&nbsp;&nbsp;&nbsp; Сегодня под утро снился очень увлекательный сон. Причём я периодически просыпался, но засыпал опять, чтобы досмотреть. Сейчас я его немножко расскажу.
</p>
 
<p>
&nbsp;&nbsp;&nbsp; Если идти из нашего города вдоль железной дороги в сторону Риги, через некоторое время рельсы заходят в тоннель под большим холмом. Он внутри полый, и в нём находится секретный бункер, в котором периодически бывал Горбачёв (почему он - не знаю). В помещении бункера мы обсудили какие-то вопросы, связанные с таинственным человеком, который спас страну от некой катастрофы, за что лично встречался с Горбачёвым. Но никто толком не знает, кто этот человек - появляется он редко и неразговорчив. Тут я припомнил, что уже был в бункере раньше и встречал этого человека - на вид он был суров и небрит, в чёрной брезентовой одежде рыбака-спецназовца.
</p>
 
<p>
&nbsp;&nbsp;&nbsp; В самом холме людей было немного, его почти не используют. Но коллега с работы, который служит в этом холме, провёл меня дальше по&nbsp; помещениям, где людей стало больше. В основном это были молодые военные, очевидно курсанты. Через некоторое время мы вышли из внутренних помещений на солнце, в место, среднее между военной базой и научной лабораторией.&nbsp; Наверное, это можно назвать засекреченным академгородком. Там я долго беседовал с учёными, о чём - не помню. Знаю только, что это было абсолютно особое место, где получили некоторые знания, которых пока нет нигде в мире, и не в последнюю очередь благодаря специфике расположения. Попасть туда иначе, чем из железнодорожного туннеля, нельзя.
</p>
 
<p>
&nbsp;&nbsp;&nbsp; Когда я гулял вдоль каменистых холмов, я нашёл между двух скал деревянные ворота, ведущие на широкую равнину. Открывшаяся картина меня поразила. Пейзаж своей красотой напоминал сказку - солнце разливалось по холмам, где гуляли и резвились десятки разных животных.&nbsp; А самое фантастическое - среди них встречались самые настоящие мамонты. Я впал в ступор и стал размышлять, как же эту красоту до сих пор не угробили и почему за воротами нет ни одного человека. Тогда я почувствовал, это зайти за ворота почти невозможно. Потревожить красоту и гармонию не хватит духа даже у самого прожжёного циника - сам я не решился туда зайти, хотя приходил к воротам ещё несколько раз. А может быть, это были темпоральные ворота в другую эпоху&nbsp; - этим объясняются мамонты и подспудное нежелание туда заходить.
</p>
 
<p>
&nbsp; Разобравшись с делами, я уже собирался покинуть поселение, когда худощавый профессор в очках на прощание сказал мне, что я сейчас увижу кое-что значительное. Причём по его тону было понятно, что это нечто крайне особое, одно из высших достижений этого места. Интересно, почему мне не показали его&nbsp; раньше?
</p>
 
<p>
&nbsp;&nbsp; Когда я вышел из здания и собирался взять специальное такси (уж не знаю, куда оно доставляет) на травянистой лужайке перед стоянкой я увидел то, о чём говорил профессор. Это была особа предположительно женского пола, не очень похожая на человека, с телом андроида. Как-то сразу я понял, что это полноценный искуственный разум, величайшая из нерешённых до сих проблем. Это так меня поразило, что я почти расплакался. Мы не нашли&nbsp; братьев по разуму, а создали их. Невероятно!
</p>

	