Id: 947a6279-1c16-4c5d-8c28-b88905298d2e
Title: "Сижу читаю всякое про языки программирования"
Published: "2008-02-29"
Slug: "2008-02-29 Сижу читаю всякое про языки программирования"
-
<p>
В Википедии.
</p>
 
<p>
Я за Питон, понятное дело:
</p>
 
<p>
Python&#39;s philosophy rejects the Perl &quot;<a href="https://en.wikipedia.org/wiki/There_is_more_than_one_way_to_do_it">there is more than one way to do it</a>&quot; approach to language design in favor of &quot;there should be one&mdash;and preferably only one&mdash;obvious way to do it&quot;.<sup><a href="https://en.wikipedia.org/wiki/Python_%28programming_language%29#_note-45">[54]</a></sup>
</p>
 
<p>
Перл для тех, кто считает себя умным. А для тех, кто на самом деле умный, есть <strong>Haskell, </strong>но я до такого ещё не дорос.
</p>
 
<p>
Ещё про Ruby почитал - нафиг его, не вставило. 
</p>
 
<p>
Я лично писал более-менее большие программы только на Borland Delphi, Borland C++ Builder и C#. Небольшие кусочки писал на JS и PHP. Крошечные, пару раз - на Python, Java и Perl.
</p>
 
<p>
Паскаль - нормальный язык, правда писать много надо. С++ - это мрак и ужас, никогда в жизни не стану на нём писать, разве что под прицелом. JS - забавно, только отладка превращается в мучение.&nbsp; Про PHP даже говорить не надо, все всё понимают. C#&nbsp; - полностью устраивает, люблю, особенно C# 3.0.
</p>

	