Id: ef93b37c-e386-4816-a3d6-40b2059595d8
Title: "<p>Хм, вот вопрос.</p> <p>Читать ли блоги персонажей, мысли которых, хоть и яркие и интересные, вызы"
Published: "2008-09-28"
Slug: "2008-09-28 _p_Хм, вот вопрос.__p_ _p_Читать ли блоги персонажей, мысли которых, хоть и яркие и интер"
-
<p>
Хм, вот вопрос.
</p>
 
<p>
Читать ли блоги персонажей, мысли которых, хоть и яркие и интересные, вызывают резкое неприятие потому, что персонажи эти перегибают палку в демонстрировании худших качеств человеческой натуры. Я вообще достаточно терпеливый и не брезгливый, когда дело касается печатных слов и разжигания всяческих провокативных точек зрения. Но эти персонажи, они чересчур увлекаются тем, что можно назвать аналогом жёлтой прессы. Только вот бульварные газеты потакают зависти, ленности и унынию, а эти деятели &ndash; гордыне и гневу.
</p>
 
<p>
Кого я имею в виду?&nbsp; <a href="https://apazhe.net">apazhe</a>, которого я перестал читать месяц назад, хоть он и наоборот, стал спокойнее вместе с переездом в Эквадор. А теперь, после <a href="https://oper.ru/news/read.php?t=1051603572#comments">вот этой</a> цитаты, я хочу перестать читать <a href="https://oper.ru/">Гоблина</a>. Может то, что он пишет, и правда, но ведь 21 век на дворе. Чем жить в такой вселенной, как он, лучше сдохнуть под забором от передоза, как распоследний позорный хиппи. По крайней мере, ты не внесёшь вклад в этот прекрасный новый мир. У меня нет национальности, и не будет.
</p>
 
<p>
Ещё есть <a href="https://lj.rossia.org/users/tiphareth">tiphareth</a>, который так перегибает палку, даже уже и не интересно. Вечно кричит, что &ldquo;говнорашка должна сдохнуть, а на её месте образоваться 20 государств&rdquo;.&nbsp; Я согласен, только тогда уж пусть и империя зла сдохнет, и Поднебесная, и европейские лицемерные уроды. Впрочем, последние и так верной дорогой идут, если верить идеологии Гоблина &ndash; размягчели характером, бывшие империалисты: цыган-наркоторговцев учат и помогают им вместо депортации, турок-мусульман интегрируют в общество и мечети им строят. Так что не сдобровать им. Зато эти самые черты, может быть, единственное, что меня ещё заставляет этнически с чем-то ассоциироваться. Я европеец, по крайней мере, пока нефть не кончилась и миролюбивая организация НАТО не взяла под контроль ключевые с точки зрения ресурсов территории.
</p>
 
<p>
Опять всё упирается в то, что человек биологическая машина, выполняющая заповеди дарвинизма. Религии не помогут &ndash; они лишь маскируют этот факт, а причину не лечат. Возможность вообще только изменение природы человека с помощью технологии даст &ndash; а его не будет, потому что эта самая природа сопротивляется, да и технологии такой пока нет.
</p>
 
<p>
Ещё имён? <a href="https://radulova.livejournal.com/">radulova</a>, как классика. <a href="https://krylov.livejournal.com/profile"><img style="border: 0pt none ; vertical-align: bottom; padding-right: 1px" src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="[info]" width="17" height="17" /></a><a href="https://krylov.livejournal.com/"><strong>krylov</strong></a>, который как <a href="https://lj.rossia.org/users/tiphareth">tiphareth</a>, только наоборот,&nbsp;русский поцтреот. И ещё правда верит в то,&nbsp;что пишет, судя по всему. <a href="https://www.idiot.ru/">MrParker</a>, которого в моих глазах пока спасает отсутствие убеждённости в том, что его посты &ndash; новое откровение, и вообще клоунский подход к делу, что мне близко.
</p>
 
<p>
А может, это я просто Хауса насмотрелся, и вся эти размышления &ndash; порожнее. Лучше бы техдоки читал. Только вот такую мысль неоднократно высказывал <a href="https://tema.livejournal.com">tema.</a> И, что помогло ему это? Всё равно превратился в унылое пафосное.
</p>
 
<p>
Так что, наверное, стоит сделать, как советовала Анна Ахматова &ndash; положить на книги. И блоги, как худшую их разновидность.
</p>

	