Id: 3e6a66db-e390-44ff-ab0d-9f8d3e14842e
Title: "Фанатам Apple"
Published: "2008-02-11"
Slug: "2008-02-11 Фанатам Apple"
-
<p>
&nbsp;
</p>
 
<p>
Зашёл на шелл, мне fortune выдал прекрасное:
</p>
 
<p>
Be different: conform.
</p>

	