Id: 571b89e0-24ad-4563-887a-ebdf1ba53aeb
Title: "Драматизация"
Published: "2008-07-30"
Slug: "2008-07-30 Драматизация"
-
Пост про то, как американский National Geographic подаёт свои документальные фильмы по сравнению с BBC.<br />
https://naturenet.net/blogs/index.php/2008/07/28/bbc_vs_ng<br />
Речь идёт про большую драматизацию и театральщину, меньшее количество научных сведений и тому подобное.<br />
Так что все мои замечания про лозунги и <a href="https://ab-pokoj.livejournal.com/38777.html">рэп-мышление</a> в США имеют под собой основание.

	