Id: 7b52f75e-05ff-4877-adc3-4cf093f5d08f
Title: "Wisconsin University"
Published: "2008-08-14"
Slug: "2008-08-14 Wisconsin University"
-
<p>
Если кто не верит <a href="/post/2008-07-17%20%D0%A1%D0%A8%D0%90%20-%2019%2C%20%D0%9A%D0%B0%D0%BF%D0%B8%D1%82%D0%BE%D0%BB%D0%B8%D0%B9%20%D0%9C%D1%8D%D0%B4%D0%B8%D1%81%D0%BE%D0%BD%D0%B0">китайскому списку</a> лучших университетов мира, обратите внимания хотя бы на новости. Университет Висконсина упоминается крайне периодически.
</p>
 
<p>
Вот, опять &ndash; <a href="https://www.membrana.ru/articles/inventions/2008/08/13/211900.html">колёса для автомобилей без воздуха внутри.</a>
</p>

	