Id: 528cae01-1e94-4382-8be6-bd0741756c86
Title: "Хэнкок Онотоле"
Published: "2008-07-19"
Slug: "2008-07-19 Хэнкок Онотоле"
-
<p align="center">
Не удержался от копипасты, простите
</p>
<p align="center">
<a href="https://englishrussia.com/?p=1995#more-1995"><img style="border: 0px none " data-src="/files/blogengine/Writer/3bf3d7a2461f_134F1/image.png" border="0" alt="image"   /></a>&nbsp;<br />
Щелчок по картинке даст дальнейшие примеры творчества Прокажённых Суверенного Лепрозория
</p>

	