Id: 47d271cf-ddfc-4835-b2c9-1bf080735d56
Title: "США — 31, Студия-музей фотографа Генри Беннетта"
Published: "2008-08-02"
Slug: "2008-08-02 США — 31, Студия-музей фотографа Генри Беннетта"
-
<p>Ближе к вечеру сестра совсем уже ничего не хотела, что мне показалось странным – зачем приезжать в Деллс, а потом ничего не делать? Дождь, правда, лил как из ведра, но для истинных туристов это не оправдание.<br>
 Поэтому я оставил сестру дрыхнуть в машине, а сам потопал в <a href="https://hhbennettstudio.wisconsinhistory.org/">музей-студию</a> фотографа Генри Гамильтона Беннетта, расположенную прямо в центре Висконсин Деллс. В студии за 7$ купил билетик и прошёл в дверь, которая снаружи открывается лишь ключом продавца, а изнутри простой ручкой. <br>
 Внутри на стенах и стендах меня ждали фотографии большого размера. Пройдя чуть дальше, я увидел крепко сохранившегося пожилого мужичка средней комплекции, в очках и с бородой. Семейной паре с девочкой лет 5 он подробно рассказывал про историю студии. Увидев меня, спросил, не хочу ли я к ним присоединиться. На моё неуверенное: “может быть” лишь иронично хмыкнул. В принципе, логичная реакция, но откуда ему знать, что с моим знанием английского я понимал едва ли половину им сказанного, даже напрягая все свои мыслительные способности.  Впрочем, я решил дядьку не обижать и вместе с двумя другими посетителям стал его внимательно слушать, благо повествовал он очень гладко и интересно.<br>
 [more text=Смотреть отличные винтажные фотки] Итак, Генри Беннетт родился в Канаде в 1843 году и прославился в основном фотографиями Деллс и реки Висконсин, а также своими 3D-фотками, известными также как стереоскопические.<br>
 
<p align="center">
<a href="https://en.wikipedia.org/wiki/H._H._Bennett"><img style="border-width: 0px" data-src="/files/blogengine/Writer/31H.H.Bennett_12D5B/image.png" border="0" alt="image" title="image"  ></a> <br>
H.H. Bennett. Все фото ниже ведут на галереи, из которых они взяты
</p>
 Сначала Генри работал плотником, но во время гражданской войны он случайно выстрелил сам в себя. Из-за раны (вроде бы у него не хватало нескольких пальцев) он не мог оставаться верным профессии, и он стал фотографом. Из-за того, что в Деллс мало кому нужны были портертные фото, он стал фотографировать пейзажи. Таким образом, из-за достаточно неблагоприятного стечения обстоятельств, получился в высшей степени благоприятный результат. Дело в том, что пейзажи автора со временем принесли ему славу и деньги, а самое главное – прославили Висконсин Деллс как tourist destination, то есть сделали его центром туризма.<br>
 
<p align="center">
<a href="https://www.wisconsinhistory.org/whi/results.asp?keyword1=Bennett,+H.%20H.&amp;search_field1=creator&amp;keyword2=ho-chunk&amp;boolean_type=and&amp;search_type=advanced"><img style="border-width: 0px" data-src="/files/blogengine/Writer/31H.H.Bennett_12D5B/image_3.png" border="0" alt="image" title="image"  ></a> <br>
Это индеец Хо-Чанк, про которых я писал
</p>
 Но всё это было впереди: начиналась деятельность Беннета вовсе не так радужно, ведь фотографии недёшевы и нужны не всем. Когда он понял, что пейзажи со скалами и камнями на фото выглядят скучно и неинтересно, он занялся 3D-фотками. Уже в 1870-х годах стереоскопические фото стали очень популярны и имелись во многих богатых семьях, даже и за пределами Висконсина. Устроены они были подобно современным, с тем лишь отличием, что очки для просмотра выглядели достаточно громоздко и напоминали скорее водолазную маску с деревянной оправой. В 1875 году благодаря спонсору фотограф построил студию. Там он для финансовой стабильности стал продавать открытки, хоть был и против этого, считая занятием незкопробным. Со спонсором они стали потом большими друзьями; такими, что он пообещал никогда никому студию не продавать.<br>
 
<p align="center">
<a href="https://www.wisconsinhistory.org/whi/results.asp?keyword1=Bennett,+H.%20H.&amp;search_field1=creator&amp;keyword2=devil%27s+lake&amp;boolean_type=and&amp;search_type=advanced"><img style="border-width: 0px" data-src="/files/blogengine/Writer/31H.H.Bennett_12D5B/image_4.png" border="0" alt="image" title="image"  ></a> <br>
Вдали - Devil's Lake, то самое, по которому мы катались на Dells Army Ducks
</p>
 Беннет был значительным инноватором в фотоделе. Он придумал скоростной затвор, позволявший снимать динамические сцены; до того объекты фотографии должны были несколько минут находиться в неподвижности. Беннетт и его сын проплыли больше ста миль вместе со сплавщиками леса на плоту, фотографируя все аспекты их непростой и опасной деятельности. Рассказанная в итоге история была первым использованием фотографий для цельного рассказа и породила в дальнейшем фотожурналистику. Беннет также придумал некоторые другие полезные для фотографа механизмы, детали устройства которых нам не интересны.<br>
 
<p align="center">
<a href="/files/blogengine/Writer/31H.H.Bennett_12D5B/image_5.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/31H.H.Bennett_12D5B/image_thumb.png" border="0" alt="image" title="image"  ></a> <br>
Сын Беннетта, снятый с помощью того самого скоростного затвора 
</p>
 В 1890 популярность фото Беннетта пошла на спад, поскольку туристы стали снимать на собственные переносные камеры, которые к тому времени уже появились, хоть и были сложным и громоздким устройством, требовавшим знаний и сноровки в обращении. Фотограф не сдавался и продолжал своё дело, хоть и уступил коммерциализации, начав продавать прочие сувениры и в своей студии. После смерти мастера в 1908 его жена продолжила дело. Наследники мастера продолжали семейный бизнес аж до 1999 года, когда всё-таки уступили течению времени. Студию передали историческому обществу Висконсина, которое её  отреставрировало, заполнило фотографиями и  превратило в музей с неизбежным магазином. Таким образом, Беннетт и его потомки сдержали слово не продавать семейную собственность, ведь студия была отдана в дар для сохранения как историческая ценность.<br>
 
<p align="center">
<a href="https://www.wisconsinhistory.org/whi/results.asp?search_type=advanced&amp;search_field1=&amp;keyword1=Bennett&amp;boolean_type1=and&amp;search_field2=title&amp;keyword2=raftsman%27s&amp;boolean_type2=and&amp;search_field3=&amp;keyword3=&amp;subject_broad_id=&amp;subject_broad=&amp;decade=&amp;genre=&amp;genre_text=&amp;wi_county_code=&amp;wi_county_text=&amp;added_within=&amp;sort_by=date&amp;submit_form=Search"><img style="border-width: 0px" data-src="/files/blogengine/Writer/31H.H.Bennett_12D5B/image_6.png" border="0" alt="image" title="image"  ></a> <br>
Сплавщики леса
</p>
 Фотографии Беннетта мне понравились, особенно 3д-панорамы в оригинальных деревянных очках. Там были ещё компы с такой же приблудой, но от них глаза уставали больше. Если вы не против того, что в студии вас не ждёт обычных американских чудес и удивлений, то оно того стоит. Любителям фотографии, к коим я не отношусь, идти обязательно – Беннетт считается великим классиком, его фото можно увидеть во многих музеях мира. Мне же повезло – меня талантливым рассказом развлекал гид. <br>
 
<p align="center">
<a href="https://www.wisconsinhistory.org/whi/results.asp?keyword1=Bennett,+H.%20H.&amp;search_field1=creator&amp;keyword2=portraits&amp;boolean_type=and&amp;search_type=advanced"><img style="border-width: 0px" data-src="/files/blogengine/Writer/31H.H.Bennett_12D5B/image_7.png" border="0" alt="image" title="image"  ></a> 
</p>
 Кстати, когда после визита мужик захотел дать гиду денег, тот ответил: “If you want to spend your money, better put in a can at counter. I’m retired, I don’t need the money, I’d better see this place keep running”. Выглядело и звучало это как какой-то вестерн, такие фразы рублёные. Означает это:  "Если так уж хочешь потратить свои деньги, положи в банку на стойке. Я на пенсии, и мне они ни к чему, лучше уж пусть музей продолжит работу". Последнее предложение превысило мои скромные возможности по переводу. Кстати мне, ввиду совковости, мысль дать денег знающему человеку, который распинался перед нами больше 40 минут, в голову не пришла. Не знаю, радоваться этому или горевать, если вы понимаете, о чём я.<br>
 
<p align="center">
<a href="https://www.wisconsinhistory.org/whi/results.asp?keyword1=Bennett,+H.%20H.&amp;search_field1=creator&amp;keyword2=steamboats&amp;boolean_type=and&amp;search_type=advanced"><img style="border-width: 0px" data-src="/files/blogengine/Writer/31H.H.Bennett_12D5B/image_8.png" border="0" alt="image" title="image"  ></a> <br>
Американцы прошлых эпох вызывают куда большую симпатию, чем нынешние
</p>
 Фотографии Беннетта, причём сделанные прямо с серебрянных негативов, можно купить в магазине при музее или на сайте, но цены не радуют. А с цифрой и правами на неё и вовсе <a href="https://www.wisconsinhistory.org/whi/faq.asp#q2">ужас</a>, про который предупреждал Лессинг. Копирайт на часть фото неизвестно кому принадлежит, и использовать их чревато. А на те, которые принадлежат историческому обществу, владеющему музеем, распространяются драконовские условия: использовать их можно только в неких "коммерческих целях", печатать себе и друзьям снимки самому - нельзя! Причём цена не так уж велика для коммерческих преприятий - 22$, но неподъёмна для любителей. Впрочем, как я уже сказал, им всё равно пользоватся цифровыми фото запрещено.  <br>
 
<p align="center">
<a href="https://www.wisconsinhistory.org/whi/results.asp?pageno=6&amp;keyword1=Bennett%2C+H.+H.&amp;keyword2=milwaukee&amp;keyword3=&amp;search_field1=creator&amp;search_field2=location&amp;search_field3=&amp;boolean_type1=and&amp;boolean_type2=and&amp;subject_broad_id=&amp;subject_broad=&amp;subject_narrow_id=&amp;subject_narrow=&amp;decade=&amp;genre=&amp;genre_text=&amp;wi_county_code=&amp;wi_county_text=&amp;added_within=&amp;sort_by=date&amp;search_type=advanced&amp;results_relevancy="><img style="border: 0px none " data-src="/files/blogengine/Writer/31H.H.Bennett_12D5B/image_thumb_3.png" border="0" alt="image" title="image"  ></a> <br>
Уголь ещё нужен, но это ненадолго - грядёт эра нефти
</p>
 Боюсь подумать, что ждёт Латвию, когда у неё появятся деньги на борьбу с пиратством, которое царит сейчас. Одна надежда на хакеров, создающих сейчас анонимизированные пиринговые системы. Но ведь и их можно запретить законом, да и нет в пиринговых сетях 99% редкого культурного достояния. В итоге оно вместо того, чтобы бесконечно множиться битами, гниёт в подвалах вот таких жадных "обществ", не понимающих, что в <u><span>алмазном веке</span></u> сохранение достояния возможно только раздачей его всем желающим, а вовсе не прятаньем под семью замками. Таким образом, реформа копирайтных законов - первейшая задача для процветания культуры, и будем надеяться, что мы её застанем.</p><p><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>
	