Id: 06070b53-5300-4546-be38-b7723049ff81
Title: "Крит — 7, Ресторан отеля"
Published: "2008-10-03"
Slug: "2008-10-03 Крит — 7, Ресторан отеля"
-
<p>
Пожалуй, продолжу тему питания. Итак, про ресторан. Часы работы я уже писал, так что приступлю прямиком к еде и всё такое. Во-первых, система такая: на завтрак не так уж много и на вкус средненько, на обед – больше и вкуснее, а на ужин совсем хорошо. 
</p>
 [more text=Читать про еду] 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="https://www.holidaycheck.com/fullscreen.php?ch=ub&amp;id=1156304375&amp;bildMotiv=&amp;ebene=hid"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/7_125B6/image.png" border="0" alt="image" title="image"  ></a>&nbsp;&nbsp; Это “особый день”, в обычный выбор поменьше
</p>
 
<p>
Естественно, система “шведский стол”, во всём цивилизованном мире известная как “buffet”. Ходишь с тарелкой, накладываешь, потом садишься за столик, а там уже столовые приборы есть. Причём на ужин – дополнительные нож и вилка маленького размера. Мне говорили, зачем, но я забыл. На ужин, кстати, ещё одна особенность – есть спецповар, накладывающий блюдо дня. Из тех, что я помню – жареные креветки, баранина (lamb – верно ведь, баранина?), свинина.&nbsp; И ещё на ужин были супы, каждый день разные. В первый день был любимый моей сестрой томатный суп, но я как-то прошёл мимо, о чём потом жалел. Через пару дней я до супов добрался, но тогда уже были другие – например, today’s soup. Это, мои дорогие любители английского, прямо-таки загадка. Почему они обычно пишут, какой суп, а пару раз было просто вот так и написано – “сегодняшний суп”. То ли это всё-таки означает что-то другое (ставлю на горох), то ли критяне поленились писать, что же именно это была за жидкость. 
</p>
 
<p align="center">
<a href="https://www.holidaycheck.com/fullscreen.php?ch=ub&amp;id=1152700600&amp;bildMotiv=&amp;ebene=hid"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/7_125B6/image_3.png" border="0" alt="image" title="image"  ></a>Фоток сладкого на сайте <a href="https://www.holidaycheck.com/detail-Travel+pictures_Hotel+Hydramis+Palace-id_1156027019-ch_ub-ebene_hid.html">Holiday Check</a> было много, вот и привожу их
</p>
 
<p>
Что касается еды в целом, было всякое. Салаты, всякое мясо и рыба в соусе, овощи с соусом и без, макароны и соус к ним отдельно. В целом – я обжирался на все деньги, хоть и не так, чтобы потом было плохо. Так что, наверное, для меня такое опасно – слишком велик соблазн. Макароны, правда, до последнего дня не ел, а зря – с соусом они были бесподобны. 
</p>
 
<p align="center">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/7_125B6/image_4.png" border="0" alt="image" title="image"  >Изображение Крита на торте, если его повернуть на 90°, похоже на египетского бога в рейтузах и кирзовых сапогах
</p>
 
<p>
Если говорить о десертах, то были там национальные сверхсладкие закрученно-прозрачные микроштучки, кремово-йогуртовые тортики, простые пирожные. Из фруктов – арбузы. А также дыни и персики, хоть и зеленоватые. В целом – пожаловатся не на что, всё очень вкусно. Но если брать какую-то абсолютную мегашкалу супереды, то по ней было средне. Таня, как опытный путешественник, сообщила, что в Египте и Турцкии всё такое же вкусное, на выбор ещё в несколько раз больше. Зато там персонал приставучий – пока денег не дашь, не отстанет. Так что всегда приходится выбирать из двух зол.
</p>
 
<p align="center">
<a href="https://www.holidaycheck.com/fullscreen.php?ch=ub&amp;id=1156086287&amp;bildMotiv=&amp;ebene=hid"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/7_125B6/image_5.png" border="0" alt="image" title="image"  ></a> Жаль, всё не попробуешь
</p>
 
<p>
Поймите правильно – еда всё-таки была замечательная, не сравнить с&nbsp; общепитом и даже нашими ресторанами, хоть я в них почти и не был. Надо сообщить, что в отеле каждый вечер было какое-то событие для нашего развлечения, и про это я напишу отдельно. Но вот в один из вечеров была реальная тема: вечерний ужин на улице. Столы стояли на улице, там же жарили мясо барбекю и делали свежий гирос. Последнее – это wrap, про который я уже писал, но по-гречески. То есть обычно со сметаной и толстой лёпёшкой, в отличие от тонкой мексиканской для буррито. В любом случае, в этот вечер всё было просто прекрасным, барбекю-мясо – особенно. Таня меня уговорила съесть гирос, но я уже был сыт, да и не люблю их. Несмотря на это, он мне понравился. Но я всё равно предпочитаю буррито.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/7_125B6/image_6.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/7_125B6/image_thumb.png" border="0" alt="image" title="image"  ></a> Повар на заднем плане делает гирос
</p>
 
<p align="left">
Про напитки я уже писал в прошлом выпуске, но тем не менее. Вино&nbsp; приносят в сосуде с горлышком, расширяющимся в верхней части бутылки, ёмкостью в половину литра. Такую штуку я выпивал почти каждый день, потому что она вкуснее чем газировки, а простая вода на Крите так себе. Один раз её заказали мои соратники и потом сильно плевались, мол хлорка одна. Не хочу никого обидеть, но они явно воду редко пьют, иначе бы различали степени гадства лучше. Это была не хлорка, а просто сильный минеральный привкус, даже серой попахивало. Видимо, на Крите трудно достать воду лучше, разве что в бутылках из ущелья Самария, но, как мы знаем, вода в бутылках – зло. Я от сушняка в номере даже из под-крана пил. И ничего, не умер пока.
</p>
 
<p align="center">
<a href="https://www.holidaycheck.com/fullscreen.php?ch=ub&amp;id=1156196669&amp;bildMotiv=&amp;ebene=hid"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/7_125B6/image_7.png" border="0" alt="image" title="image"  ></a>В “особый день” ужин проиходит на улице
</p>
 
<p>
В ресторане, кстати, был кондиционер, при том двери вечно были открыты – ведь половина ресторана находится под навесом на улице. Когда мест совсем не было (редко, в часы пик), накоторые посетители сидели на солнце – и я им совем не завидую. Жара всё-таки на Крите вполне адская, особенно на солнце, хоть больше 34 градусов по цельсию в тени бывает редко.
</p>
 
<p>
Кстати, забыл сказать: булки, хлеб и сладкие коржи на завтрак тоже были, как и дополняющие их варенье, сливки и масло. На вкус всё вроде ничего, но это почти не ел.
</p>
 
<p align="center">
<a href="https://www.holidaycheck.com/fullscreen.php?ch=ub&amp;id=1156086284&amp;bildMotiv=&amp;ebene=hid"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/7_125B6/image_8.png" border="0" alt="image" title="image"  ></a> И не лень же
</p>
 
<p>
Официанты в ресторане были одеты с иголочки, приветливы, а один даже смеялся над надписью на моей знаменитой майке, хотя виду не подал. Ещё я наблюдал, как официант нёс огромный поднос пустой посуды на одной руке, как в кино – и ничего, донёс успешно. Кстати, во время обеда периодически был виден управляющий, у которого я спрашивал дорогу в посёлок. Видимо, контролировал качеству обслуживания. К коему у меня никаких нареканий не было, и я даже хотел оставить денег в спецмиске для чаевых, но баблосы, к моему сожалению, полностью кончились в последний день прибывания на острове. Последние 4 евро я потратил на свежевыжатый апельсиновый сок в индейской таверне над озером Курна, но оно того стоило – там было волшебно, как в сказке. 
</p>
 
<p>
Но про это вы узнаете лишь в конце сериала. Так что оставайтесь с нами.<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;</a></p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>

	