Id: a9dc2ce0-7ea0-432b-9a26-f6bd7ea76423
Title: "Аниме Death Note"
Published: "2008-10-27"
Slug: "2008-10-27 Аниме Death Note"
-
<p>
А, забыл сказать. Пока был в отпуске, посмотрел аниме Death Note. Японцы всё-таки удивительные. В композиции, служащей музыкальном фоном в заставке первого сезона &ndash; английский мат, притом что аниме явно и для подростков тоже. Во втором сезоне ещё веселее &ndash; всё превратилось в тяжёлый метал с гроулингом. Вы такое себе можете представить в русских мультфильмах или сериалах?
</p>
 
<div id="scid:5737277B-5D6D-4f48-ABFC-DD9C333F4C5D:4145f185-89c0-4ae9-bd76-ac5d011c9724" class="wlWriterEditableSmartContent" style="margin: 0px; padding: 0px; display: inline; float: none">
<div id="ee26033c-cfc2-4087-afcd-a2e88ed6a581" style="margin: 0px; padding: 0px; display: inline">
<div>
<a href="https://www.youtube.com/watch?v=1nH4gXhn6ig&amp;hl=ru&amp;fs=1" target="_new"><img style="border-style: none" data-src="/files/blogengine/Writer/550dae1477b1_102C0/video87ff294a6d61.jpg" alt="" /></a>
</div>
</div>
</div>
 
<p>
Что касается самого сериала, то он очень неплохой. (9/10)
</p>
 
<p>
Сюжет&nbsp; вкратце. В наш мир попадает &ldquo;блокнот смерти&rdquo;. Тот человек, чьё имя будет в него записано, умирает, можно указать и способ смерти. Суровая бумажка попадает в руки ученику последнего класса, отличнику по фамилии Light. Поскольку японцы слишком много слышали о говорящих фамилиях, Лайт у них вовсе не добрый. То есть добрый он только формально: мечтает избавить мир от зла. Для этого с помощью блокнота начинает направо и налево мочить преступников. Когда его самого пытается поймать японская полиция и мировые спецслужбы, то мочит и их. Единственная надежда уничтожить зарвавшегося творца добра &ndash; таинственный следователь под кодовым именем L.
</p>
 
<p>
Сериал зря затянули на два сезона &ndash; хватило бы и одного. Хотя я авторов понимаю &ndash; идея богатая, тему развивать можно долго. Забавно, что главного героя можно ассоциировать с современными либарастами &ndash; те тоже не колеблясь перебили бы всех, кого считают злом, уподобившись при этом тем режимам, против которых якобы &ldquo;борются&rdquo;. Впрочем, для тех, кто не в курсе, тема неинтересная, а для тех, кто в курсе, я ничего нового не скажу, да и не разбираюсь я в этом как следует.
</p>
 
<p>
Понятно, что в сюжете полно всяких упрощений и натянутостей, но а аниме иначе никак. Скажем, главные герои вечно &ndash; подростки или около того. Изменить это нельзя &ndash; во-первых, у японцев кругом нездоровый культ лолиток,&nbsp; а во-вторых, рассчитаны сериалы тоже в основном на подростков &ndash; не потому, что взрослые японцы аниме не хотели бы смотреть. Всего лишь потому, что взрослым некогда, поэтому они читают мангу по дороге на работу и с работы, а иногда и вместо самой работы.
</p>
 
<p>
Так что в целом мне всё понравилось, но концовка какая-то не очень бодрая. Как эталон я тут принимаю главного героя цикла Дяченко &ldquo;Скитальцы&rdquo;, который в конце (первой) книги испытывал всякие адские моральные муки по делам своим.
</p>
 
<p>
P.S. Очень понравились куклы персонажей, которыми играл N. во втором сезоне. Жаль, что как сувениры таких хардкорных продавать не станут &ndash; сделают более кавайных. И у японцев есть пределы изыскам в массовой культуре. Зато нет пределов в немассовой :-)
</p>

	