Id: 88c7d78b-6ee7-49d5-bebd-4dbb92002c25
Title: "Тоже про Америку"
Published: "2008-07-13"
Slug: "2008-07-13 Тоже про Америку"
-
<p>
Лукьяненко <a href="https://doctor-livsy.livejournal.com/365745.html">показал себя</a> не с лучшей стороны. С другой стороны, нельзя отбрасывать вариант, что пейсатель устроил провокацию на уровне Апача; умения ему на это достанет.
</p>
<br />
<br />
UPDATE: Лукьяненко закрыл журнал с мотивировкой в стиле &quot;эмо&quot;. Будет теперь дальше уже без шума  выпускать сентиментальные сопли, летать на конференции и покупать джипы, иррационально ненавидя американцев.

	