Id: 5f207eb5-c142-4f2e-9c80-60dfbea356bf
Title: "Время"
Published: "2008-11-14"
Slug: "2008-11-14 Время"
-
<p>
Я два раза в неделю хожу в спортзал и ещё два раза&nbsp; - в бассейн. Причём живу не в другом районе, где они находятся. А когда работаю, делаю перерыв на обед 40 минут и ещё один, попозже, на 30-40 минут. И ещё я много сплю. В результате у меня времени хронически не хватает то времени, то желания работать за компом дома. Отчего всякое остаётся несделанным, в том числе страдает ЖЖ. Да что там &ndash; даже как упражнения правильно делать дочитать никак не могу &ndash; выучил какой-то сильно ограниченный набор и делаю их уже несколько месяцев.
</p>
 
<p>
Зато на работе делаю с нуля новый проект, и хоть он пока очень маленький, много всякого узнал. Полезно с нуля самому всё делать, а не использовать чужое &ndash; сразу в голове проясняется. 
</p>

	