Id: d4805609-5492-4775-ac7a-7444d1bab0ce
Title: "Про музыку"
Published: "2008-07-10"
Slug: "2008-07-10 Про музыку"
-
<p>
Хм, System Of A Down пока <a href="https://rus.delfi.lv/news/entertainment/music/article.php?id=21340312">не собираются</a> воссоединяться. И с Guano Apes так же было. 
</p>
 
<p>
Может, оно и к лучшему, что обе этих группы ушли на пике с отличнейшими альбомами. А то ведь за вершиной всегда следует лишь спуск.
</p>

	