Id: 5b376678-e296-4c4a-a194-5499dc0c636f
Title: "Блогояндекс нам принёс флешмоб"
Published: "2008-01-20"
Slug: "2008-01-20 Блогояндекс нам принёс флешмоб"
-
<p>
<a href="http://catrien.livejournal.com/246339.html#cutid1">Создать название группы и альбома псевдослучайным образом с помощью простых принципов</a>
</p>
 
<p>
Не знаю, кто придумал, но это гениально. Результат при некотром старании отличный. Чем отличаются старательно подобранные настоящие названия групп и песен - непонятно. И это печально.
</p>
 
<p>
Кстати, в последнее время мне всё больше кажется, что никакого дабстепа нет - есть гений Burial и толпа технопродюсеров, желающих попасть в струю и снять сливки. В любом случае, остальной дабстеп слишком далеко отстаёт. Или я просто болею и мне всё не в радость.
</p>

	