Id: 04222694-036c-4cda-8d41-7943b2234573
Title: "Хаха"
Published: "2008-04-02"
Slug: "2008-04-02 Хаха"
-
<p>
Видели, как я в рейтинге сделал другого, пейсателя и самого?
</p>
 
<p>
<a href="https://www.livejournal.ru/ratings/users" title="Жми сюда!"><img style="border: 0px none " data-src="/files/blogengine/Writer/830730f015fe_133F1/image.png" border="0" alt="image"   /></a>
</p>

	