Id: 089b4c92-0bde-4439-919a-616288672f00
Title: "BlogJet"
Published: "2008-07-26"
Slug: "2008-07-26 BlogJet"
-
<p>
Решил опробовать блоговый клиент BlogJet, на вид прикольный и быстрый, тэги поддерживает, в отличие от wlw. Проверим, как оно в действии.<br />
UPDATE: нет, тэги не поддерживает, значит мне не годится.
</p>

	