Id: be2e3991-2e38-4ba3-9736-138ae4e7a163
Title: "Германия — 7"
Published: "2008-01-14"
Slug: "2008-01-14 Германия — 7"
-
<p>
На следующий день мы отправились в <a href="https://en.wikipedia.org/wiki/Heidelberg" target="_blank">Heidelberg</a>, что находится на притоке Рейна реке Neckar.
</p>
[more text=Смотреть фото] 
<p>
<a href="/files/blogengine/Writer/7_FD51/IMG_0315.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/7_FD51/IMG_0315_thumb.jpg" border="0" alt="IMG_0315"  ></a>
</p>
 
<p>
Город мне почему-то понравился. Может быть, из-за торговой улицы Hauptstrasse, где хватает любопытных заведений. Например, там был магазин разноцветных настоек, хранящихся в огромных колбах - очень напоминает лабораторию алхимика; на то и расчёт.&nbsp; Засмотрившись на красоты,&nbsp; я ушёл совсем далеко, и обратно пришлось бежать, чтобы успеть на автобус вовремя.&nbsp; К счастью, с ориентацией в незнакомых местах у меня хоть и не идельно, но сносно, особенно когда есть мегаориентир в виде длинной главной улицы и текущей параллельно ей реки.
</p>
 
<p>
<a href="/files/blogengine/Writer/7_FD51/IMG_0316.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/7_FD51/IMG_0316_thumb.jpg" border="0" alt="IMG_0316"  ></a> 
</p>
 
<p>
Какой это был город, мне удалось установить только по названию ресторана слева.
</p>
 
<p>
<a href="/files/blogengine/Writer/7_FD51/IMG_0318.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_FD51/IMG_0318_thumb.jpg" border="0" alt="IMG_0318"  ></a> 
</p>
 
<p>
В городе были наикрутейшие (согласно гиду)&nbsp; полуразвалины одноимённого с городом замка, на которые мы заехали на подъёмнике за пару евро. Надо было пешком идти, не сообразил сразу.
</p>
 
<p>
<a href="/files/blogengine/Writer/7_FD51/IMG_0324.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_FD51/IMG_0324_thumb.jpg" border="0" alt="IMG_0324"  ></a> 
</p>
 
<p>
Воротца.
</p>
 
<p>
<a href="/files/blogengine/Writer/7_FD51/IMG_0325.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_FD51/IMG_0325_thumb.jpg" border="0" alt="IMG_0325"  ></a> 
</p>
 
<p>
Выглядит как бочка, а на самом деле это БОЧИЩЕ, одна из самых больших в мире. У неё диаметр несколько метров, мы поднимались на неё по лестничке и с одной стороны и спускались с другой. Делать такие бочки очень трудно, а эта не только огромная, но ещё и древняя, ей больше 150 лет. Впрочем, пользы от неё немного - протекать стала очень быстро, через несколько десятков лет после изготовления. Ремонты агонию продлили ненадолго.
</p>
 
<p>
<a href="/files/blogengine/Writer/7_FD51/IMG_0330.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_FD51/IMG_0330_thumb.jpg" border="0" alt="IMG_0330"  ></a>
</p>
 
<p>
 Вроде как шлюз.
</p>
 
<p>
<a href="/files/blogengine/Writer/7_FD51/IMG_0334.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_FD51/IMG_0334_thumb.jpg" border="0" alt="IMG_0334"  ></a> 
</p>
 
<p>
В замке был ещё бесплатный музей аптекарского искусства, но мы его посмотрели на бегу, как и многое другое во время поездки. К сожалению, ехать всегда очень и очень долго. Поэтому надо тратить больше времени на каждую достопримечательность. Но тогда придётся или смотреть их меньше, или больше времени отводить на всю поездку, а это тяжело, потому что тогда чудесное приедается.
</p>
 
<p>
<a href="/files/blogengine/Writer/7_FD51/IMG_0336.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_FD51/IMG_0336_thumb.jpg" border="0" alt="IMG_0336"  ></a> 
</p>
 
<p>
Спускались мы уже пешком, а этот кот довольно сидел на столбе и не обращал внимания на толпы туристов. Забавно, что окна облезлые, это не так часто встречается.
</p>
 
<p>
<a href="/files/blogengine/Writer/7_FD51/IMG_0337.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_FD51/IMG_0337_thumb.jpg" border="0" alt="IMG_0337"  ></a></p><p><a href="/post/2016-01-14%20%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D0%B5%20%D0%B2%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8E" target="_blank" style="background-color: rgb(246, 246, 246);">К оглавлению</a>
</p>

	