Id: 19833983-cb40-47f4-a47d-b9877c1756d7
Title: "Отчёт про Скандинавию"
Published: "2008-06-29"
Slug: "2008-06-29 Отчёт про Скандинавию"
-
<p>
Гм, случайно наткнулся на <a href="http://crab-off.livejournal.com/tag/scandinavia">отчёт</a> человека, побывавшего в туристической поездке в страны скандинавии. Пишет похоже на мои отчёты. Я в Норвегии тоже был, там очень-очень круто. Можете <a href="http://crab-off.livejournal.com/tag/scandinavia">почитать</a>, если мои посты про США временно закончились, а читать охота.
</p>

	