Id: 3542302f-9b9e-48af-b828-68f57b78f1fa
Title: "Биороботизм не за горами"
Published: "2008-12-26"
Slug: "2008-12-26 Биороботизм не за горами"
-
<div class="cite">   <h3><a href="http://webplanet.ru/news/research/2008/12/26/sex_chip.html">Новый чип увеличит удовольствие от еды и секса</a></h3>    <p>Британские учёные разрабатывают чип, стимулирующий участок коры головного мозга, которая отвечает за наслаждение от еды и секса. Свою важную миссию чип выполняет, посылая в мозг крохотные электрические импульсы при помощи электродов, <a href="http://www.telegraph.co.uk/scienceandtechnology/science/sciencenews/3886862/Sex-chip-being-developed-by-scientists.html"><em>сообщает Telegraph</em></a><em>.</em></p> </div>
	