Id: f591d1f8-79da-4f76-9e2b-4b93d2e93694
Title: "Праздники"
Published: "2008-12-27"
Slug: "2008-12-27 Праздники"
-
<p>
Мы тут по-всякому не спеша отдыхаем. В среду был с rk13, Катериной, <a href="/files/lj/16673/438_large.jpg">Юрой и загулящим роботом-терминатором Валерычем</a>в Twingo pica. Пицца там мне понравилась, ел я изделие под названием Mexico &ndash; с горой маленьких лучков. Цена, правда, не совсем гуманная &ndash; 6 LS (12$), причём под большой пиццей они имеют в виду скорее среднюю. Но денег своих стоит. Впрочем, из Твинго нас выгнали, потому что работает она лишь до 9. Мы пошли в Весму (про которую ниже), но оттуда нас выгнали в 10. Пришлось топать к rk13 домой, где его папа угощал нас колбасой из косули, а rk13 ни в какую не хотел мне верить про разные факты (быть может, из пивного упрямства или просто троллил в реале). Например, про то, что Новый Год в России стали празновать 31 декабря лишь с эпохи Петра Первого, а ядро операционной системы MacOS под названием Darwin &ndash; это FreeBSD, а вовсе не линукс. И если в том, что Darwin &ndash; это FreeBSD, я <a href="http://en.wikipedia.org/wiki/Darwin_(operating_system)">прав</a> не до конца, то про Новый Год <a href="http://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D0%B2%D1%8B%D0%B9_%D0%B3%D0%BE%D0%B4#.D0.98.D1.81.D1.82.D0.BE.D1.80.D0.B8.D1.8F">всё верно </a> практически на 100%.
</p>
<p>
А сегодня мы с коллегами <strong>Князь</strong> <strong>Mosala</strong> и <strong>Ezhi </strong>ходили на специальный обед к Диме, который увлекается индийскими духовными практиками. Я его за это называю то йогом, то сектантом, но надеюсь, что жив останусь, потому что эти самые практики насилие не приветствуют. Так вот, Дима на сей раз выступил лишь в качестве помощника повару по имени Катя в приготовлении традиционных индийских блюд. (Надеюсь, в имени не ошибся, а то у меня вечно боязнь, что промахнусь). Понятно, что Индия большая, традиции там разные, но мы вот пробовали не острое, а вовсе даже и наоборот, вполне нежное. Я спрашивал, из чего блюда, но снимать ответ на видео постеснялся, а смартфон всё никак не куплю. 
</p>
<p>
<a href="/files/blogengine/DSC00464.jpg"><img style="border: 0px none ; display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/DSC00464_thumb.jpg" border="0" alt="Катя и Дима" title="Катя и Дима"   /></a>
</p>
<p>
&nbsp;
</p>
<p>
[more]
</p>
<p>
С уверенностью можно сказать только то, что блюд было 7, что нам Дима специально пару раз повторил, для надёжности (Это если считать все отдельно, как принято). Одно из яств было на основе картошки, другое &ndash; риса, всё со специями, но не острыми, как я уже говорил. Рис был с специальным домашним томатным соусом, тоже мягким и прятным, не таким суровым, как любимый американцами Heinz. Потом был ещё салат с огурцами, напиток на основе жирного кефира (обычно делается на основе йогурта) и десерт в виде шариков из сухофруктов. Чуть не забыл лепёшки из муки грубого помола с отрубями, только фотки спасли.
</p>
<p>
<a href="/files/blogengine/DSC00466.jpg"><img style="border: 0px none ; display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/DSC00466_thumb.jpg" border="0" alt="Лепёшки, салат и десерт" title="Лепёшки, салат и десерт"   /></a> 
</p>
<p>
Всё вышеперечисленное было без тех компонентов животного происхождения, которые можно считать &ldquo;отобранными&rdquo; у животных, то есть мяса и яиц. На работе в шутку говорят &ldquo;кошерное&rdquo;. В принципе, концепция та же (как и в случае с исламским халяльным), просто выбор продуктов обусловлен индийской традицией, вернее одной из. Ещё популярно молочное, а алкоголь строго запрещён, особенно в праздники.
</p>
<p>
<a href="/files/blogengine/DSC00470.jpg"><img style="border: 0px none ; display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/DSC00470_thumb.jpg" border="0" alt="Картофельное и рисовое" title="Картофельное и рисовое"   /></a>&nbsp;
</p>
<p>
Пища эта называется &ldquo;благостной&rdquo; и должна приносить возвышенное состояние духа. Звучит такая идеология и философия для нашего уха довольно наивно и романтично, но лучше уж так, чем человеконенавистническая логика жж-склочников, троллей и двачеров. (Значения этих слов см. в <a href="http://lurkmore.ru/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0">lurkmore</a>, про него я ещё напишу). По крайней мере, так я думаю в данный момент времени.
</p>
<p>
<a href="/files/blogengine/DSC00474.jpg"><img style="border: 0px none ; display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/DSC00474_thumb.jpg" border="0" alt="Благодарим за пищу" title="Благодарим за пищу"   /></a>
</p>
<p>
Mosala, он же Князь, на фото выглядит как настоящий духовный гуру, а у меня как всегда странная ухмылка. Слева Ежи, почему-то сегодня тихий. Почему мы все в чёрном, я объяснить не в состоянии. Видимо, это карма.
</p>
<p>
<a href="/files/blogengine/DSC00475.jpg"><img style="border: 0px none ; display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/DSC00475_thumb.jpg" border="0" alt="Ежи всегда фотогеничен" title="Ежи всегда фотогеничен"   /></a>&nbsp;
</p>
<p>
У Димы мы пробыли недолго, потому что так и планировалось &ndash; лишь обед, а не вечер. Я об этом как-то не думал, но мне всё равно &ndash; и так хорошо вышло. Еда нам всем понравилась &ndash; я люблю экзотику, Ежи тоже всякое интересное не прочь попробовать, а Князь по натуре спокойный и ему обычно всё нравится. Наверное, поэтому у него так хорошо выходит изображать индийского гуру &ndash; у него и так сатори постоянно.
</p>
<div class="cite">
<strong>Сатори - </strong>яп. 悟, <em>сатори</em>; <a href="http://ru.wikipedia.org/wiki/%D0%9A%D0%B8%D1%82%D0%B0%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA">кит.</a> 悟, <em>у</em>; <a href="http://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%BD%D1%81%D0%BA%D1%80%D0%B8%D1%82">санскр.</a> संबोधि, <em>самбодхи</em> &mdash; букв. <a href="http://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D1%81%D0%B2%D0%B5%D1%82%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5">&laquo;просветление&raquo;</a>) &mdash; внутреннее персональное переживание опыта постижения истинной природы (человека), достижение &laquo;состояния одной мысли&raquo; (<a href="http://ru.wikipedia.org/wiki/%D0%94%D1%85%D1%8C%D1%8F%D0%BD%D0%B0">дхьяна</a>) в медитативной практике <a href="http://ru.wikipedia.org/wiki/%D0%94%D0%B7%D0%B5%D0%BD">дзен</a>. Считается, что достичь состояния <em>сатори</em> можно, помимо медитативной практики, благодаря тривиальным, ординарным событиям и предметам. В японской буддийской традиции <em>сатори</em> используется наряду с термином &laquo;<strong>кэнсё</strong>&raquo; &mdash; (<a href="http://ru.wikipedia.org/wiki/%D0%AF%D0%BF%D0%BE%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA">яп.</a> 見性, <em>кэнсё:</em>, &laquo;самопознание&raquo;).    
<p>
</div>
Вот у Андрея оно как раз и вызывается тривиальными событиями и предметами, потому что он прост в хорошем смысле. Вот вам пример: зашли мы после Диминого обеда в супермаркет для <a href="http://www.diary.ru/~ama-kun/p41474705.htm">внутренного очищения полного</a>, и тут Князь вспомнил, что его родителям надо подарок на НГ. Взял и ррраз &ndash; положил бокалы с серебром в корзину. А я буду мучаться выбором чёрт знает сколько, да так ничего и не куплю. Есть у меня ещё приятель Дуба, тот вообще полон дзена так, что через край светит на окружающих. Но до такой степени Князю ещё надо работать и работать. То есть ничего не делать как можно лучше.
</p>
<p>
Как бы то ни было, направили мы свои стопы в бистро-бар <a href="http://www.gorod.lv/fotki/3623/kafe/784/kafe_vesma">Vesma</a>, место наибанальнейшее, зато с огромными рыбами в аквариуме и широким выбором чая. Вызвонили ещё людей, посидели часок-другой за неспешной чайной беседой.
</p>
<p>
<a href="/files/blogengine/DSC00476.jpg"><img style="border: 0px none ; display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/DSC00476_thumb.jpg" border="0" alt="Чайная трапеза" title="Чайная трапеза"   /></a>
</p>
<p>
Навороченный чай в Весме наливают в интересный чайник, нижняя часть которого стоит в кружке. Поэтому его можно унести одной рукой, при этом кружка становится тёплой, потому что в ней стоит чайник. И ещё она большая, как я люблю.
</p>
</div>
<p>
<a href="/files/blogengine/DSC00481.jpg"><img style="border: 0px none ; display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/DSC00481_thumb.jpg" border="0" alt="Вот такая метла китайского дракона" title="Вот такая метла китайского дракона"   /></a> 
</p>
<p>
Несмотря на то, что чай в Весме выглядит интересным, на вкус непривычный, и не особенно мне нравится. Думаю, это связано тем, что заливают они его кипятком из автомата, а такой вид этого напитка любит температуру в 80 градусов. В следующий раз спрошу, так ли это.
</p>
<p>
<a href="/files/blogengine/DSC00484.jpg"><img style="border: 0px none ; display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/DSC00484_thumb.jpg" border="0" alt="Шоколадки к чаю часто дают разные" title="Шоколадки к чаю часто дают разные"   /></a>
</p>
<p>
Я сейчас смотрю аниме Eureka Seven, и потому любые мультяшные дети у меня ассоциируются с главными героями, хоть они на этих совсем и не похожи, по крайней мере девочка.
</p>
<p>
<a href="/files/blogengine/DSC00485.jpg"><img style="border: 0px none ; display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/DSC00485_thumb.jpg" border="0" alt="DSC00485" title="DSC00485"   /></a>
</p>

	