Id: e89cd39b-681f-498f-bbce-a4065c137b8c
Title: "Про ЖЖ"
Published: "2008-03-23"
Slug: "2008-03-23 Про ЖЖ"
-
<blockquote>
	 
	<p>
	Мне хорошие мысли приходят ночью, когда комп уже выключен, да и спать охота. Как же их перенести в жж? Записывать на диктофон? 
	</p>
	 
	<p>
	Неважно. В любом случае, не забывайте, что в жж всегда имели и имеют большое значение провокации разных толков: явные и неявные. Не стоит на них вестись, как это порой делают даже гранды.
	</p>
	 
	<p>
	Вот, например, пишет фантаст <a href="https://lemming-drover.livejournal.com">Громов</a>:
	</p>
	 
	<p>
	<em>&quot;Русский аркан&quot; уже спиратили. Идите вы лесом, смешные люди, пытающиеся приучить пиратов к цивилизованному обращению с авторскими правами! Надеюсь, что вы искренне лопухнулись, освободив &quot;экологическую нишу&quot; для более настырных деятелей. Очень надеюсь.</em>
	</p>
	 
	<p>
	А ему отвечает гламурный напейсатель Багиров:
	</p>
	 
	<p>
	<a name="comments" title="comments"></a> 
	</p>
	<p>
	<a href="https://www.livejournal.com/manage/subscriptions/comments.bml?journal=lemming_drover&amp;talkid=4096408"></a> 
	</p>
	<p>
	<em>Дружище, да Вы - мудак. Я, к примеру, радуюсь каждому скачанному экземпляру моей книги не меньше, чем купленному. Потому что я пишу для того, чтобы люди читали, а не с целью торговать книгами. А Вы - не писатель, а барыга.</em>
	</p>
</blockquote>
 
<blockquote>
	 
	<p>
	Громов реагирует как нормальный человек, но не факт, что это лучший вариант:
	</p>
	 
	<p>
	<span><em>То же самое можно было сказать еще более обидно, но по меньшей мере корректно. За хамство получите заслуженный бан.</em></span>
	</p>
	 
	<p>
	Понятно же, что Багиров таким раком себя раскручивает. Если зайти к нему в ЖЖ (ссылку давать не буду по очевидным причинам), видно, что это для него норма жизни. При этом делает он это грубо и пошло, в отличие от таких мастеров как Apazhe.
	</p>
	 
	<p>
	Конечно, нет универсального рецепта, как действовать в случае провокации. Единственное, что приходит на ум - не реагировать никак, но это скучно. В любом случае, если уж ввязываешься, будь уверен в своих силах, иначе лохом в глазах общественности можешь стать ты.
	</p>
</blockquote>

	