Id: 64c62e0c-c40b-4d2f-98e2-86705c7d158f
Title: "Лента.Ру считает чужие деньги"
Published: "2008-12-27"
Slug: "2008-12-27 Лента.Ру считает чужие деньги"
-
 <div class="cite"> <p><a href="http://rus.delfi.lv/news/daily/abroad/article.php?id=22749438">На пропаганду Евросоюза — 2,5 млрд евро в год</a> </p>   <p><img height="2" src='/files/7E8C7DCA0CAA7BA483472AE352719CC8.gif'  width="594" border="0" /> </p>    <p></p>    <p><a href="http://rus.delfi.lv/archive/article.php?id=22749438&amp;pictureID=17629313"></a></p> Евросоюз тратит на пропаганду интеграции европейских государств не менее 2,3 миллиарда фунтов (около 2.5 миллиарда евро) ежегодно. Об этом сообщает газета The Daily Mail.     <p>Такие данные предоставил исследовательский институт Open Europe, созданный для анализа направления развития Евросоюза. По словам аналитиков, большая часть средств расходуется на сомнительные программы, предназначенные для детей.</p> </div>  <p>Лучше уж так, чем никак. Я теперь придерживаюсь мнения, что Евросоюз – лучшее государственное образование на планете. Самое цивилизованное, прогрессивное и так далее. Это конечно звучит несколько упёрто и наивно, но лучше так, чем дикость всякой там Африки или arrogance США. </p>
	