Id: f39dca09-54d2-498e-912f-fe4451b934f9
Title: "ЖЖ"
Published: "2008-10-21"
Slug: "2008-10-21 ЖЖ"
-
<p>
Почитал ЖЖ и в очередной раз поразился тому, как велико количество информации в мире. Даже триллионной части не объять за человеческую жизнь.
</p>
 
<p>
Тем не менее, если вы всё же знаете, кто такой <a href="http://ab_pokoj.livejournal.com">ab_pokoj</a>. Интересно, были ли у него посты про людые, которые&nbsp; умны, всё время самосовершенствуются и творят всякое творчество. Но при этом начинают задумываться, зачем человечеству ещё тонны креативов, если имеющиеся некуда девать.
</p>

	