Id: a5670f70-bf7a-471f-96fd-04b4b21737e9
Title: "Крит — 1, Вылет"
Published: "2008-09-24"
Slug: "2008-09-24 Крит — 1, Вылет"
-
<p>
Вылетали мы в воскресенье ночью, то есть где-то в 1.45. Довёз нас до рижского аэропорта бывший советский военный, суровый мэн, которого мы для конспирации будем называть Рэмбо. Он имел твёрдое желание увидеть каждый сантиметр острова Крит. К нашему счастью, вместо ножа и пулемёта у него был зеркальный фотик Кэнон и объективы, а также жена и сын в придачу. Кстати, в день выезда как раз было лунное затмение. Это когда <a href="http://en.wikipedia.org/wiki/Moon_eclipse">земля закрывает луну от солнца</a>. Никогда не задумывался об этом, когда смотрел на Луну, хоть и знал где-то, что такое бывает. Вот что отличает учёных ото всех остальных – они не только наблюдательны, но и любопытны до абстрактного. [more text=Рассуждения про йогурт, капитализм и национализм, рабавленные фотками ночной Риги] 
</p>
<p align="center">
<a href="/files/blogengine/Writer/1_12C65/IMG_2728.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/1_12C65/IMG_2728_thumb.jpg" border="0" alt="IMG_2728" title="IMG_2728"  ></a>
</p>
 
<p align="center">
Фотка Рэмбо, ака <a href="http://www.vreshch.com/" title="http://www.vreshch.com/">http://www.vreshch.com/</a>
</p>
 
<p>
&nbsp;
</p>
 
<p>
С собой на Крит я тащил здоровский американский чумодан, который, впрочем, был почти пуст. Одиноко лежали в нём кроссовки Salomon, купленные в США и не разу ни надетые (берёг), рядом притулились 6 маек по дням недели (назад можно и в несвежей). Если бы я задумался над тем, что на Крите жааарко, а человек, тем более моей комплекции, склонен цвести и пахнуть, взял бы все свои запасы маек, штук 15. Поскольку перед вылетом я <a href="/post/2008-08-17%20%D0%9F%D0%BE%D0%BA%D0%B0%D1%82%D1%83%D1%88%D0%BA%D0%B0">ездил в Медуми</a>, собирался в спешке, но велоформу всё-таки положил. И не зря, как оказалось впоследствии.
</p>
<p>
Пока ехали, видели классическое радиоактивное солнце, которое затем раздумало взрываться и стало почивать на облаках, прямо как на&nbsp; картинке из детской книжки.&nbsp; К ночи добрались до Риги, которая весьма красива что днём, что ночью, да и в любое время года. Приезжайте в гости, уж не знаю кем надо быть, чтобы пожалеть. Правда, больше нескольких дней делать особенно нечего, но эти дни того стоят.
</p>
<p align="center">
<a href="http://flickr.com/photos/76598147@@@@N00/416761971/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/1_12C65/image.png" border="0" alt="image" title="image"  ></a>&nbsp; Ночью Рига выглядит примерно так – ярко и празднично
</p>
<p>
В аэропорту в час ночи была только регистрация на наш рейс компании LatCharter на двух стойках, больше никого. Успешно пройдя фейс-контроль свирепых пограничников (шучу, какбе) мы обнаружили автомат по продаже напитков, явно установленный понимающими в банковском деле людьми. Почему я так решил? Принимал автомат как латы, так и евро, но последние по курсу 2 евро за лат, тогда как официальный курс 0.7 лата за евро. К счастью при таком раскладе, в накладе оставались не мы, а подлинные евпропейцы. И поделом им, богатеньким. С другой стороны, латов у меня не было, так что пришлось бы терпеть жажду, если бы Таня не сообщила, что на туристических чартерных рейсах всегда кормят и поят бесплатно, даже если они короткие. Так оно и оказалось, но, впрочем, я забегаю вперёд.
</p>
<p align="center">
<a href="http://flickr.com/photos/24070302@@@@N07/2287260797/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/1_12C65/image_3.png" border="0" alt="image" title="image"  ></a>Но может Рига выглядеть и так – готично и мрачно
</p>
<p>
Таня - это человек, который нас на Крит и позвал. Она была со своим бойфрендом Сергеем. Он латыш, хоть по имени об этом и не догадаешься. Понятное дело, что русский язык Сергей знает так же нормально, как большая часть жителей нашей республики. В конце-концов, знаете что недавно сказал посол США в Латвии?
</p>
<blockquote>
	 
	<p>
	<em>Величие Латвии — в ее многообразии. В этом она похожа на Америку, тоже гордящуюся своим многообразием", — заявил посол.</em>
	</p>
</blockquote>
 
<p>
Казалось бы, ну сказал и сказал, разве что про величие переборщил с эпитетом. Но знаете ли вы, финалом <a href="http://rus.delfi.lv/news/daily/politics/article.php?id=22007672">какой мысли</a> послужила эта фраза?
</p>
<blockquote>
	 
	<p>
	<em>Посол США в Латвии Чарльз Ларсон уверен, что к ветеранам антигитлеровской коалиции нужно относится с особым уважением. Об этом он заявил в интервью газете "Час". </em>
	</p>
	<p>
	<em>"Это была великая война, в которой Россия, Соединенные Штаты, Великобритания и другие страны пошли на большие жертвы, чтобы победить нацистскую Германию. Мы должны с уважением относиться к памяти об общей победе над тоталитарным монстром. Мы должны быть благодарны тем, кто одержал эту победу. Тем, кто погиб, и тем, кто дожил до нашего времени", — отметил дипломат.</em>
	</p>
</blockquote>
 
<p>
Неожиданный пассаж, не так ли? Впрочем, мой измождённый мозг, отравленный Гоблином, сразу выискивает НЛПшные штучки, хоть фанатов их поиска в комментариях на портале Делфи и без меня хватает. Тем не менее, обратите внимание: Россия, а не Советский Союз. "Над тоталитарным монстром", именно эта формулировка, с таким выражением. А ведь Советский Союз тоже был "тоталитарным монстром", так что очень удобно их приравнять, с точки зрения наших националистов. Впрочем, они всё равно скажут, что всё вышеприведённое вырвалось у Ларсона по наивности.&nbsp;
</p>
<p>
В любом случае, мне-то на самом деле всё равно. Просто находясь наполовину в русскоязычной инфосфере, я так или иначе подвергаюсь пророссийскому промыванию мозгов . К счастью, мне хватает того самого серого вещества осознать хотя бы сам этот факт.
</p>
 
<p>
Гм, оставим национальный вопрос, поскольку никогда он нормальным людям особенно не мешал. Расскажем лучше, что несмотря на внушительные размеры машины Рэмбо, в самолёте ноги можно вытянуть поудобней, хоть в целом места там и не густо. Так вот, Таня летела с Сергеем, а я&nbsp; - со старым корефаном Андреем, ныне моим коллегой. Это послужило причиной неутомимых шуток со стороны гей-сообщества на работе. Ну да у кого что болит, тот о том и говорит.
</p>
 
<p>
Что касается темы, в злоупотреблении которой меня периодически&nbsp; упрекают, то есть пищи, то она на борту LatCharter была на удивление неплохой. Так, были там кроме основного блюда овощи, фрукты, и хлебец из отрубей. Как мегабонус - мой любимый йогурт <a href="http://holvi.artstudio.fi/valio_english/Preview.fwx?position=4&amp;folderid=5051&amp;search=(FQYFLN%20contains(Terveysvaikutteiset%20kansainv))&amp;sorting=ModifiedTimeAsc">Gefilus</a>, про который я вечно не мог выяснить страну его происхождения – то думал Литва, то Эстония. Как оказалось, это всё-таки Финляндия. Но интересно, что судя по сайту, брусничный йогурт, от которого я был без ума, придуман в Латвии специально для местного рынка, а производится в Эстонии. Если это так, респект нашим.<a href="/files/blogengine/Writer/1_12C65/400g_gef_pohlajogurt_2.jpg"><img style="border-width: 0px; display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/1_12C65/400g_gef_pohlajogurt_2_thumb.jpg" border="0" alt="Gefilus Pohlajogurt 2%, 400g" title="Gefilus Pohlajogurt 2%, 400g"  ></a> Жаль только, нельзя его больше купить. Опять чёртов звериный оскал капитализма – как известно, надо периодически менять продукты на рынке, хотя бы формально – иначе потребителю надоест, а он падок на новинки. Обычно мне это на руку, потому что я люблю разнообразие (и любой нормальный человек должен любить, так я думаю). Но в данном случае – караул! Лучший продукт убрали, а вместо него – куча всяких дурацких штук вроде йогурта с полынью и орехами мураками. Я, правда, не мой наивный друг “панк и анархист”, и понимаю, что нет тут злого умысла, а есть лишь суровая правда рыночной экономики. Как говорится, не нужно искать злой умысел в том, что легко объяснить глупостью.
</p>
 
<p>
Если вы вдруг по каким-то странным причинам стали интересоваться, почему я вечно отступаю от темы и не пишу по делу, то я всё-таки вам отвечу. Неужто вам интересно читать, как чувак в дьюти-фри купил две водки, одну выпил, одну разбил, был еле-еле допущен на самолёт, стоял там в проходе и руками махал, а по приезду был препровождён в полицию? Нет, вряд ли. Поэтому и разбавляю я посты всякой забавной инфой, тем более, сестра пишет, что это у меня стиль такой. Раз стиль, будем соответствовать.
</p>
 
<p>
А с чуваком тем - обычная история. Лишь одна деталь интересна – из критской КПЗ его выпустили сразу, даже штрафа не взяли. Интересна она потому, что подтверждает некоторую черту критского характера. Какую – вы узнаете в следующих сериях. Оставайтесь с нами.<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="line-height: 1.42857; background-color: rgb(246, 246, 246);">&nbsp; </a></p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="line-height: 1.42857; background-color: rgb(246, 246, 246);">К оглавлению</a></p><p>
</p>

	