Id: 6dfca05b-0f0f-4eb1-93ff-4796b00ec815
Title: "Macbook air"
Published: "2008-01-16"
Slug: "2008-01-16 Macbook air"
-
<a title="http://www.apple.com/macbookair/" href="http://www.apple.com/macbookair/"></a> <p>Apple как обычно.</p> <p><a href="http://www.apple.com/macbookair/"><img style="border-right: 0px; border-top: 0px; border-left: 0px; border-bottom: 0px"  alt="image" data-src="/files/blogengine/Writer/Macbookair_12F8B/image.png"  border="0"></a> </p> <p>Вроде как и монстр и гений одновременно. Алинка, не хочешь такой? Сразу понты поднимутся до небес.</p>
	