Id: c7912416-6766-406b-b08c-4784ddf53512
Title: "Оупенсорс"
Published: "2008-05-31"
Slug: "2008-05-31 Оупенсорс"
-
<p>
Я напоролся на одну из главных проблем оупенсорса. Использовал сверхмощный тэггер <a href="http://mp3bookhelper.sourceforge.net/">mp3bookhelper</a>, а автор перестал его разрабатывать. Всё бы ничего - в конце-концов, и текущая версия отличная. 
</p>
 
<p>
Но тут наложилась ещё одна частая проблема оупенсорса. Разработчики freedb.org ушли из проекта. Там, к счастью, было кому подхватить. Но новые владельцы формат ответов сервера на запросы об альбомах сменили, и теперь mp3bookhelper не понимает оттуда данные. Это уменьшает пользу от него на порядок, а остальные тэггеры, что я видел, мне не понравились.
</p>
 
<p>
То есть проблемы такие: отсутствие стабильности в выходе новых версий и протоколах/поведении программ.
</p>

	