Id: d3ee8280-7793-4375-a93d-ada50b7e11fb
Title: "Лес Звуков - фото"
Published: "2008-05-07"
Slug: "2008-05-07 Лес Звуков - фото"
-
<p>
С помощью друга - фальшивого панка&nbsp; обнаружил несколько фото с Леса Звуков. Фото с портала <a href="http://easyget.lv/muzika/read/7027/">easyget.lv</a>.
</p>
 
<p>
<a href="/files/blogengine/Writer/7bcbde9706e1_13961/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/7bcbde9706e1_13961/image_thumb.png" border="0" alt="image"   /></a>&nbsp;
</p>
 
<p>
<strong>Hauschka</strong>  [more text=ещё фотка]
</p>
 
<p>
<a href="/files/blogengine/Writer/7bcbde9706e1_13961/image_3.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/7bcbde9706e1_13961/image_thumb_3.png" border="0" alt="image"   /></a> 
</p>
 
<p>
<strong>Любители музыки</strong>
</p>
 
<p>
Вот ещё много фоток: <a href="http://users.livejournal.com/_abs_/5376.html" title="http://users.livejournal.com/_abs_/5376.html">http://users.livejournal.com/_abs_/5376.html</a>
</p>

	