Id: 002fa687-f6ee-4473-9945-1cfbf70abb89
Title: "Новинки eInk"
Published: "2008-03-16"
Slug: "2008-03-16 Новинки eInk"
-
<p>
Как любитель технологии е-бумаги, не могу не поделиться новостью, хоть и неопределённой.
</p>
 
<p>
<img src='/files/325472601571F31E1BF00674C368D335.gif'  border="0" alt="" width="1" height="3" />
</p>
<a href="https://www.ixbt.com/news/hard/index.shtml?10/18/77">Netronix выпускает свои &laquo;электронные книги&raquo; EB-100 и EB-300</a> 
<p>
Особенно заслуживает внимания вот это:
</p>
 
<p>
<em>Оснащение EB-300 гораздо богаче:</em>
</p>
 
<ul>
	 
	<li><em><strong>9,7&quot; сенсорный(!)</strong> дисплей с разрешением 1200 x 825 пикселей</em></li> 
	<li><em>512 МБ флэш-памяти, карты SD</em></li> 
	<li><em>2 порта USB</em></li> 
	<li><em>3,5-мм стереовыход на наушники</em></li> 
	<li><em><strong>Интерфейсы Wi-Fi 802.11g, Bluetooth</strong></em></li>
</ul>
 
<p>
Это особенности крайне важны для настоящего успеха устройства на е-бумаге. Ещё два важнейших пункта - цена и возможность читать горы существующих в хозяйстве книг, а частности; в форматах djvu и pdf.
</p>
 
<p>
Разумеется, сторонний софт не замедлит появится, но хочется видеть мощные возможности конвертации прямо от производителя.
</p>
 
<p>
Впрочем, это в любом случае лишь второе поколение устройств; настощий наплыв начнётся в 2011-12 годах, когда появятся качественные цветные экраны.
</p>

	