Id: f24ed561-7fbb-4e15-9315-638948075be3
Title: "Крит — 8, Озеро Курна (Kournas lake)"
Published: "2008-10-03"
Slug: "2008-10-03 Крит — 8, Озеро Курна _Kournas lake_"
-
<p>
Мы вообще собирались взять машину в аренду, и поездить на ней по острову, но пока этого ещё не случилось, пришлось арендовать паровоз. Видели, кстати, как ловко я перенял приём flashfuture из 4 сезона уже набившего всем оскомину сериала Lost? Flashfuture, это как flashback, только наоборот, в будущее. Знаете, кстати, что такое оскомина? Это понятие определённо имеет связь с тем, что я не могу съесть много яблок или ягод. От кислот в них начинают болеть зубы, если жуёшь, и потом несколько часов вообще ничего в рот взять не можешь.&nbsp; Хотя вот старина Ушаков со мной не согласен.
</p>
 
<blockquote>
	 
	<p>
	<em><strong>Набить оскомину (себе)</strong> — получить вяжущее ощущение во рту после употребления в пищу чего-н. кислого или терпкого или натрудить себе во рту продолжительным жеванием чего-н.</em> 
	</p>
</blockquote>
 
<p>
Насчёт аренды паровоза я пошутил. Но не про аренду (мы его арендовали, по крайней мере один вагон точно) а про паровоз – он был ненастоящий, ехал по дороге на надувных колёсах и обладал двигателем внутренного сгорания. Маловато романтики за 9 евро (столько стоил один билет на озеро и обратно). Зато на самом озере её хоть отбавляй. Я там побывал целых три раза, хоть и не совсем по своей воле, но жалеть всё равно не о чём. Знал бы, что от отеля до озера едва ли 5 км наберётся, пошёл бы пешком.
</p>
 [more text=Смотреть красивые фото, читать про дух блондинки] 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0070.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0070_thumb.jpg" border="0" alt="IMG_0070" title="IMG_0070"  ></a>Introducing our heroes – Tanya and Sergey
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0071.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0071_thumb.jpg" border="0" alt="IMG_0071" title="IMG_0071"  ></a>Курортникус классикус, известный также как туристус лохус обдиралус 
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0073.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0073_thumb.jpg" border="0" alt="IMG_0073" title="IMG_0073"  ></a> Дорога к оз. Курна. Обычный пейзаж для этой части Крита
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0075.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0075_thumb.jpg" border="0" alt="IMG_0075" title="IMG_0075"  ></a> Дороги на Крите я видел обычно асфальтированные, гравийных сраввнительно немного
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0095.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0095_thumb.jpg" border="0" alt="IMG_0095" title="IMG_0095"  ></a>Приозёрная фауна 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0097.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0097_thumb.jpg" border="0" alt="IMG_0097" title="IMG_0097"  ></a> Вот и само озеро с русалкой Таней. Цвет воды – отличный, почти как в Норвегии
</p>
 
<p align="left">
Согласно легенде (наверняка свежей, для туристов) в озере живёт дух девушки. Отличилась она тем, что когда пошла по делам в поле с отцом, стала расчёсывать свои золотые волосы. У отца поехала крыша, он её возжелал. Тогда девка, не будь дурой, заорала “Вула и вулолимна”, что означает “Чтоб я дух в озеро бултых”. Сразу же на этом месте образовалось озеро, и отец утоп. Ладно, каюсь, последнюю деталь я добавил для трагичности. На самом деле об отце история умалчивает, зато местные посреди озера на камне периодически видят блондинку с расчёской.
</p>
 
<p align="left">
Я не удивляюсь – во первых, до того места, где вода тёмно-синяя, очень мелко, и там вполне можно стоять на водорослях, заполонивших всю толщу воды до поверхности. Во-вторых, если солнце в голову напечёт, ещё и не то увидишь.
</p>
 
<p align="left">
На озере я круто поплавал, потом мы сняли водный велосипедный катамаран за 7 евро. И прокатились по периметру длиной 3.5 км. К счастью, это он снаружи столько, а внутри сильно меньше, потому что все берега кроме нашего были огорожены&nbsp; метками для охраны природы. Кстати, нам все уши прожужжали про пресноводных черепашек, но мы их так и не нашли. В последний день на Крите мне сказали, что они любят вылезти погреться в солнечный день, но кажется, это легенда из разряда про дух блондинки. Правда Андрей говорил, что видел черепаху под мостом, пока мы ехали на всевдопаровозе, но я склонен это относить к белой горячке от постоянного употребления Андреем вина и пива. В результате Сергей догадался, что под черепашками местные имеют в виду назойливо стрекочущих в деревьях зверей неизвестного вида, не иначе. Потом мы этих черепашек ещё долго везде, где были, слышали, а один раз даже увидели их истинный облик, но про это потом.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0104.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0104_thumb.jpg" border="0" alt="IMG_0104" title="IMG_0104"  ></a>&nbsp; Катамараны и каяки есть где арендовать
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0102.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0102_thumb.jpg" border="0" alt="IMG_0102" title="IMG_0102"  ></a>&nbsp; Лежаки стоят денег, два или три евро
</p>
 
<p align="left">
Мы, как жадные, сидели на скамейке – тем более, у нас в отеле халявные лежаки есть, чего нам платить за полчаса. Правда озеро красивое, что правда то правда, белые горы отражаются и цвет воды изумительный.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0107.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0107_thumb.jpg" border="0" alt="IMG_0107" title="IMG_0107"  ></a> Фото с катамарана, цвет воды уже другой, не менее изумительный, чем изумрудный выше
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0116.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0116_thumb.jpg" border="0" alt="IMG_0116" title="IMG_0116"  ></a>В ожидании поезда
</p>
 
<p>
На дереве вовсю стрекочут черепашки, а Татьяне так жарко, что даже бретельку набок спустила. Я не уверен, что эта штука называется бретелька, но лучшего слова всё равно не знаю.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_1253F/IMG_0117.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_1253F/IMG_0117_thumb.jpg" border="0" alt="IMG_0117" title="IMG_0117"  ></a> Дерево похоже на перекачанного бодибилдера
</p>
 
<p>
Что касается обратного пути, то я потерял все наши билеты, и немного нервничал по этому поводу. Но коллеги, к тому времени уже тоже просёкшие фишку национального характера критян, меня успокаивали. И правда – водитель, выяснив, что у нас нет билета, просто спросил, где нас высадить (в Кавросе, знамо дело), и пошёл себе рулить паровозом. Тем и кончилось.<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;</a></p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>

	