Id: 4b17de95-e755-4e3a-a043-ea4d44a83cac
Title: "США — 34, кемпинг, день 2"
Published: "2008-08-05"
Slug: "2008-08-05 США — 34, кемпинг, день 2"
-
<p>
&nbsp;
</p>
 
<p>
Что касается развлечений, то вечером в кемпинге мы играли в карты. Американцы, по крайней мере те, с которыми я общался, любят настольные игры, в том числе карточные. Причём есть много карточных игр с нестандартной колодой, то есть сделанной (и купленной) специально для одной игры. А у нас была и вовсе коллекционная колода из Германии, с фентезийными картинками. Предназначалась она для игры Wizard, единственной, что я запомнил, и даже играл впоследствии в Латвии. Правила игры <a href="https://en.wikipedia.org/wiki/Wizard_card_game">есть в википедии</a>, обычная колода тоже сгодится, но с некоторыми модификациями.
</p>
[more text=Читать разнородные факты и смотреть отличные фото] 
<p align="center">
<a href="https://flickr.com/photos/slack12/479005280/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11fe70f7bd66_EE34/image.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
HDR, как вы понимаете
</p>
 
<p>
Поскольку мои фото кончились, я вам буду совать с фликра, хоть там они и слишком красивые, таких мест в Висконсине я сам не видел. Впрочем, может это всё HDR-читерство играет роль. В жизни-то всё побледнее.
</p>
 
<p>
Дальше последует набор каких-то разрозненных фактов, склеить которые воедино у меня не получается.
</p>
 
<ul>
	 
	<li>Впечатлила газовая остветительная лампа – светит очень ярко, просто офигительно ярко. Раньше я таких не видел, хотя наверняка у нас они тоже есть. С ней в карты играть смело можно и после заката – почти никаких неудобств нет.  </li>
	<li>Еда хранится в кулерах. Кулер – это теплоизолированный водонепроницаемых пластмассовый ящик, куда перед отъёздом из дома насыпают лёд, чтобы внутри было холодно в течении всего отдыха в кемпинга. В конце лёд привращается в воду, но это не страшно, потому что её можно слить, открыв специальный краник внизу кулера.  </li>
	<li>Ещё играли в игру, где надо шарики, связанные верёвочкой кидать так, чтобы навесить их на перекладины. Желательно сбить при этом шарики соперника, которые там уже висят.  </li>
	<li>Все присутствующие в кемпинге записались в ведомость – большой брат бдит! </li>
</ul>
 
<p align="center">
<a href="https://flickr.com/photos/slack12/1660623787/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11fe70f7bd66_EE34/image_3.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Madison Surf Club
</p>
 
<p>
Ещё надо рассказать про цунами торнадо, которые в Висконсине вовсе не редкость. Торнадо – штука неприятная, запросто срывает крыши домов или переворачивает машины. Поэтому все подвалы в штате спроектированы так, чтобы выдержать натиск природного явления. Если же ты находишься вне родных стен, недалеко обязательно должно быть укрытие. В кемпинге роль укрытия выполняет туалет, чьи железобетонные стены скорее напоминают советские бомбоубежища. А чтобы ты вовремя просёк, что надвигается буря, любые радио и телепередачи могут прерыватся экстренным сообщением, что частенько и происходит. Звучит это психоделически: сначала длинный электронный скрип, похожий на звук древнего модема, а потом роботизированный диктор говорит в каких графствах ожидается катаклизм. При этом есть даже специальный радиоканал, где целыми днями только про непогоду и говорят.&nbsp; Есть разные уровни опасности: Tornado Watch это когда торнадо может возникнуть, а Tornado Warning – когда уже возникло, хоть может и не повредит никому. Понятно, что слушать такой канал надо обязательно по специальному радио, которое только для таких передач и годится, иначе как же бедные производители приёмников на вас заработают.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/slack12/1591447435/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11fe70f7bd66_EE34/image_4.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Прочие работы автора всех этих фоток тоже <a href="https://flickr.com/photos/slack12/">стоит посмотреть</a>
</p>
 
<p>
Днём погода была хорошая, торнадо не наблюдалось, поэтому мы пошли гулять по тропе. Кемпинг – занятие среди американцев популярное, поэтому во лесах как правило есть трейлы, то есть тропы для хайкинга, то есть хождения.&nbsp; Когда мы до неё добрались, оказалось, что в начале тропы стоит знак: “Собаки запрещены”, пришлось звонить чтобы забрали псину по имени Мэгги, которая до того шла с нами. Вот такой вот опять тоталитаризм, уже не в первый раз в США, как вы помните. И где только пресловутая свобода?&nbsp; Тропа была небольшая и аккуратная, но из-за недавних наводнений нам всё равно пришлось порой шлёпать по лужам. Причём Дэн (американец) наступал прямо в них, как танк, что меня чуток удивило. Потом он нам рассказывал, как в молодости занимался хайкингом и прошёл пешком больше тысячи км за несколько месяцев. Тут я догадался, что босоножки Дэна скорее всего хайкинговые и вода им не страшна. 
</p>
 
<p align="center">
<a href="https://www.flickr.com/photos/queenesther1038/2709322550/sizes/l/in/pool-350472@@@@N20/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11fe70f7bd66_EE34/image_5.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Собственно, трейл
</p>
 
<p>
Вечером в программе должны были быть разговоры у костра, но текли они как-то вяло, и к тому же на русском. Бедные американцы – как они тока живут в окружении русских. Впрочем, мужья русских девушек уже привыкли. Даже и не знаю, чего ещё такого написать про кемпинг. Разве что про то, как профессиональный фотограф Саша снимала на одноразовый фотик из супермаркета. Главное - не заморачиваться. Зато её мужу по имени Ли, любителю спортивной рыбалки, понравилось моё имя, единственное из русских, предложенных ему Сашей для ребёнка.
</p>
 
<blockquote>
	 
	<p align="center">
	<a href="https://flickr.com/photos/jpn/2458834005/sizes/o/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11fe70f7bd66_EE34/image_6.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
	HDR, это, конечно, читерство, поэтому тут смотрим классику
	</p>
</blockquote>
 
<p>
О, ещё вспомнил. Муж Лены Брендон рассказывал мне про сайт <a href="https://www.youvebeenleftbehind.com">www.youve<strong>been</strong><strong>left</strong><strong>behind</strong>.com</a>. Его основали христианские фанатики, которые придумали крайне сомнительный бизнес-проект. Они декларируют, в один прекрасный момент (после второго пришествия Христа или как-то так), когда все праведные вознесутся на небо, на земле останутся мучиться их родственники, которым не так повезло. И сайт предназначен для того, чтобы послать этим родственникам и друзьям письма или завещания. В английском языке даже выражения специальное есть для таких систем – <a href="https://en.wikipedia.org/wiki/Dead_man%27s_switch">dead man’s switch</a>, то есть механизм, приводящийся в действие после смерти оператора. 
</p>
 
<p align="center">
<a href="https://www.flickr.com/photos/asner/2517108099/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11fe70f7bd66_EE34/image_7.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Тоже трейл из Кэтл Морейн, но другой. <a href="https://www.flickr.com/photos/asner/sets/72157605223941253/">Прочие фото из сета</a> тоже неплохи.
</p>
 
<p>
Вообще, задолбали идиоты, которые тупо утверждают, что английский язык “бедный”, или “беднее русского”. Сначала определят пусть объективно термин “беднее”, а потом поучат английский лет десять, тогда пусть и открывают рот. В любом случае, надеюсь, что моим читателям нет нужды объяснять, что вышеописанный сайт противоречит христианским ценностям, попахивает мошенничеством&nbsp; и, если мне будет позволено употребить столь сомнительное выражение, в целом аморален. 
</p>
 
<p align="center">
<a href="https://flickr.com/photos/slack12/2221817846/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11fe70f7bd66_EE34/image_8.png" border="0" alt="image" title="image"  ></a> 
</p>
 
<p>
Ещё надо рассказать про червяков. После дождя и грозы вечером они как повылазили – Лена аж забоялась. Я лично червяков, змей и лягушек совершенно не боюсь – могу взять в руки, а мясо так и вовсе был бы рад попробовать. А вот Лену жутко напугал тот факт, что червяки были не простые, а прыгающие на людей. Среди находящихся в лагере никто про такое не слышал. Так что мы с Брендоном ходили и удивлялись – каким таким чудесным образом червяк двигается с такой бешеной скоростью. Как только чувствовал вибрацию, сразу: раз – и нету, закопался в землю. Про прыгающих я пошутил, это они для Лены такие -&nbsp; у страха глаза велики.
</p>
 
<p align="center">
<a href="https://www.flickr.com/photos/cminerspics/2691076340/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11fe70f7bd66_EE34/image_9.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Ежевика из Кэтл Морейн
</p>
 
<p>
Надо сказать, что живности и растительности в лесах Висконсина полным-полно – природа хорошо сохранилась, отчасти и благодаря туризму. Барсук, как я уже говорил, символ штата. Про енота в мусорнике тоже писал. Птичек и насекомых хватает – чирикают только в путь, спать мешают. И ещё я впервые в своей разумной жизни увидел светлячков – круто зажигают, ничего не скажешь. Леса в Висконсине как-то более лиственные, чем у нас, по крайней мере мне так показалось. В остальном – климат чуть теплее, поэтому и природа чуть обильнее, хоть и похожа. Например, по дороге на тропу мы встретили черепаху, причём не такую уж маленькую – сантиметров 30 длиной. В Латвии, как я потом узнал, <a href="https://www.gorod.lv/novosti/59403/nashi_biologi_vernulis_iz_porto">черепахи в природе тоже вроде бы есть</a>, но никто их не видел.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/slack12/414057129/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11fe70f7bd66_EE34/image_10.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
На фликре столько красивых фото, что я никогда не остановлюсь</p><p align="center"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: start; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="center">
</p>

	