Id: e1807e2d-1bf0-45f9-a4f9-3f7510b26e4c
Title: "Крит — 20А, интермедия 2 — фантасты Дяченко"
Published: "2008-10-12"
Slug: "2008-10-12 Крит, интермедия 2 – фантасты Дяченко"
-
<p>
Теперь про супругов Дяченко, пишущих вместе. Рецензенты обычно делают упор на то, что Дяченко пишут “социальную фантастику”, то есть такую, где много взяких размышлений и людей, но мало экшена, техноидных или магических фетишей. Мне кажется, что раз уж пишешь развлекательные книги, всего должно быть в меру - “философии” и игрушек для больших детей в виде бластеров и файрболов.
</p>
 
<p>
Конечно, описания каких-то чувств и отношений у Дяченко получаются круто (по крайней мере, в виде текста – уж не знаю, что выйдет, если действовать как герои их книг в реальном мире). Потому они это и эксплуатируют массово – каждый делает то, что у него получается лучше всего. Главное – не увлекаться одним и тем же чрезмерно, а то выйдет бесконечная жвачка. Дяченко пока умудряются как-то этой опасности избегать – хоть фантастические идеи в их книгах и не супермаштабные, и их обычно не так уж много, поданы они изящно и чужеродными по отношению к социальной компоненте не выглядят.
</p>
 
<p>
Хорошо бы наверное скрестить умение Громова реалистично описывать детали и умение Дяченко легко вплести в ткань повествования фантастику и чувства людей. Только вот есть мнение, что это невозможно, о чём я уже писал в предыдущем посте про Громова.
</p>
 
<p>
Впрочем, Дяченко и так сильны. После них я изменил своё мнение про то, что русская фантастика – отстой. Глядишь, скоро и русские сериалы начну смотреть. Ужас.
</p>
 
<p>
Кстати, если проводить какие-то заведомо ложные параллели с западной фантастикой, то Громов скорее похож на Вернора Винджа – тот тоже физику любит. А Дяченко на Дэна Симмонса – этот любит мистику, прущую сквозь человеческие действия и вообще поменьше технологичных объяснений деталей.
</p>
 
<p>
Дяченко, наверное по той же причине, предпочитают писать фэнтези, чтобы им не мешали концентрироваться на столь любимых ими рефлексиях и эмоциях технические подробности.
</p>
 
<p>
Теперь отзывы по книгам.
</p>
 
<p>
<strong>Серия “Скитальцы” (Привратник и т.д.).</strong>
</p>
 
<p>
На аниме похоже – там тоже главное взаимодействие характеров и самокопание, а не закрученный лихо сюжет. С одной стороны, это позволяет очень хорошо и реалистично раскрыть мотивы персонажей и их характер, что интересно. С другой – действие развивается медленно, и опять получается, что ничего особенно не происходит. Может потому, что авторы дают читателю необоснованные намёки, что будет что-то сильно маштабное, но к этому герои идут свозь бытовуху до самого конца книги. Ну или я так воспринял, воспитанный любовью западных писателей к маштабам.
</p>
 
<p>
<strong>Армагед-дом</strong> 
</p>
 
<p>
Чёрт знает. Слишком уж переливают из пустого в порожнее, да и неправдоподобны основные положения. Лучше уж педантизм Громова, хотя он и сам в “Тысяча и один день” пошёл по стезе слабой связи с реальностью.
</p>
 
<p>
<strong>Долина совести</strong>
</p>
 
<p>
Любопытно, хотя я и не люблю фантастику про наше время (реалистическую). Если уж фантазировать, то дайте нам антураж побогаче. А если про наше время и общество, то лучше более реалистичные книги. Зато конец порадовал.
</p>
 
<p>
<strong>Ведьмин век&nbsp; </strong>
</p>
 
<p>
Слишком мало развлекушек. Да, каюсь, хочу пищи для фантазии, а не для ума.
</p>
 
<p>
<strong>Магам можно все </strong>
</p>
 
<p>
Вот тут развлекушек в самый раз. Похоже на обычное фентези, но лучше. Тем, кто любит что-нибудь попроще, для отдыха.
</p>
 
<p>
<strong>Скрут</strong>&nbsp; 
</p>
 
<p>
Типа как ужастик. Сносно, но длинно без нужды, а мысли всё те же.
</p>
 
<p>
<strong>Осот&nbsp; </strong>
</p>
 
<p>
Зарисовка, как обычно, мастерская, только вот бесконечная эксплуатация стиля, как <a href="http://lib.aldebaran.ru/author/dyachenko_marina/dyachenko_marina_osot/">верно заметили</a> на альдебаране, всё дело портит
</p>
 
<blockquote>
	 
	<p>
	<em>Хенрик<br>
	Грустный рассказ "ни о чем". Талант, даже можно сказать "магия слов", определенно присутствуют. Но после полудесятка книг Дяченок дымка загадки, тайны, недоговоренности, которую они стараются создавать, рассеивается над пустотой, и становится просто неинтересно.</em> 
	</p>
</blockquote>
 
<p>
К счастью, я читал книгу раньше остальных, и потому мне&nbsp; было интересно.
</p>
 
<p>
<strong>Серия “Варан”</strong>
</p>
 
<p>
Тут писатели раскрылись как следует. Фэнтези, но неклассическое. Довольно удачно увязаны страдания, сомнения и сюжет, то есть нет того, на что я выше жаловался. Вторая книга серии – “Медный король”, ещё лучше первой, что бывает не так уж часто. Много отличного антуража и свежих идей, чего у Дяченко обычно не хватает.
</p>
 
<p>
<strong>Пандем</strong>
</p>
 
<p>
Сами Дяченко считают это своей лучшей книгой. Несмотря на сильную натянутость реализма в некоторых местах, тут они по крайней мере наконец-то осмелели, и взялись за нечто глобальное, можно даже сказать дзенское. Книга оказывает терапевтическое воздействие: помогает смириться с несовершенством мира. Для укрепления эффекта можно почитать цикл про Майлза писательницы Лоис МакМастер Буджолд – он, как известно, помогает смириться со своим собственным несовершенством.
</p>
 
<p>
Краткие выводы. Читать можно и нужно, по крайней мере хотя бы серию “Варан” и книгу “Пандем” – слишком уж хороши. Пандем так вообще на меня сильно повлиял, по крайней мере, мне так кажется. Для книги это – редкость.&nbsp; Я даже в ЖЖ сменил заголовок журнала некоторое время назад, если кто не заметил.</p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p>
</p>

	