Id: 07d97455-0b3f-40ad-8cae-54d734d94a2c
Title: "Угадайка"
Published: "2008-03-26"
Slug: "2008-03-26 Угадайка"
-
<p>
&nbsp;
</p>
 
<p>
Кто угадает, что это такое?
</p>
 
<p>
<a href="http://ir.izvne.com/http://lh3.google.com/fritslyneborg/R-RANanRrOI/AAAAAAAAAUA/_Bv14N94pPw/IMG_3462.jpg.jpg?imgmax=512">
<div style="text-align: center">
<img src="http://ir.izvne.com/t/http://lh3.google.com/fritslyneborg/R-RANanRrOI/AAAAAAAAAUA/_Bv14N94pPw/IMG_3462.jpg.jpg?imgmax=512" alt="" />
</div>
 </a>
</p>

	