Id: e218581a-5d84-47f9-91c8-e86a77ede377
Title: "Покатушка"
Published: "2008-07-27"
Slug: "2008-07-27 Покатушка"
-
<p>
Только вернулся с велопокатушки.
</p>
 
<p>
Ездил почти туда же, куда в прошлом году &ndash; по шоссе на Краславу, мимо природного парка Daugavas Loki. На сей раз забурился подальше &ndash; целью мне служили посёлок и озеро Tartaka. По ходу дела посмотрел велосипедную тропу N22. Почему такой номер, и где предыдущие &ndash; понятия не имею. 
</p>
 [more text=Дальше скучноватое описание без фоток] 
<p align="center">
<a href="/files/blogengine/Writer/88ee01476397_12A22/image.png"><img data-src="/files/blogengine/Writer/88ee01476397_12A22/image_thumb.png" border="0" alt="image" title="image"   /></a>&nbsp;<br />
Траектория пьяного электрика
</p>
 
<p>
Тропа находится где-то в районе съезда с шоссе (жёлтое), отмечена на дороге деревянным знаком, потому что является частью парка Daugavas Loki. Забавно то, что в конце тропы стоит знак &ldquo;место для купания&rdquo;. Я решил проверить, что это за место такое &ndash; потопал по тропинке. Сначала моим глазам предстала маленькая обзорная вышка-будка высотой в 10 метров, каковые в парке много где расставили. Но ирония заключалась в том, что будка со всех сторон заросла густым лесом &ndash; увидеть с неё можно только поляну, с которой ты на неё забрался. Дальше &ndash; больше. Спустившись по зверски крутой тропе, которую не осилят 80% туристов, я обнаружил, что общанный водоём &ndash; река Даугава. Причём пройти к ней практически нереально &ndash; всё заросло травой обыкновенной и крапивой по грудь, а около воды -&nbsp; водоросли и тина. То есть искупаться в этом месте можно даже и не мечтать.
</p>
 
<p>
Дальше я колесил по лесным дорогам жуткого качества и буксовал в песке так, что периодически шёл пешком. Единственное, что такие мучения оправдывает &ndash; сногсшибательные ароматы всяческих лесных трав, которые на солнце чувствуются ещё сильнее. Когда дорога превратилась в противопожарный ров, я уже совсем было отчаялся, но вдруг увидел нечто серое. Это был асфальт &ndash; великое счастье гибридолога, который наглотался кросс-кантрийных впечатлений по самое &ldquo;не могу&rdquo;. Гибрид, если кто не в курсе, это такой велосипед, который вообще-то должен чаще ездить по асфальту, но если съедет на плохую/грунтовую/дорогу, тоже сдюжит.
</p>
 
<p>
Так вот, асфальт был не просто так, я за колючей проволкой. Но душа так рвалась к твёрдой поверхности, что я нашёл в проволке дырку и по-шпионски пролез внутрь. Недолго счастье продолжалось &ndash; через сто метров выяснилось, что я приехал к выездным воротам. К несчастью, закрытым. Но к моей радости, проволка около ворот прохудилась и развалилась сама, когда я пытался сквозь неё пройти. Даже не думайте, что я ей помог &ndash; у меня ведь <a href="https://www.leatherman.com/products/tools/skeletool-cx/default.asp">Leatherman Skeletool</a> как Тёмы Лебедева нету, хоть и хочется.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/88ee01476397_12A22/image_3.png"><img data-src="/files/blogengine/Writer/88ee01476397_12A22/image_thumb_3.png" border="0" alt="image" title="image"   /></a>&nbsp;<br />
Leatherman Skeletool aka мультиинструмент полезный
</p>
 
<p>
Итак, успешно выбравшись живым с терротории военной базы (другого назначения придумать асфальту за проволкой не могу) и проехав ещё километр, я попал в Боровку. А оттуда уже недалече и до Тартаки. К моей великой радости, в Тартаку ведёт асфальт. Зато около озера маловато нормальных подходов, и мне пришлось слезать купаться с моста. Размышлял, засосёт ли в шлюз, но обошлось &ndash; тоненькая струйка моё туловище поколебать не способна.
</p>
 
<p>
Искупнувшись, попедалировал обратно &ndash; думал ещё заехать в Краславу за припасами, а то вода кончилась &ndash; неуютно, прямо скажем. Но тут меня ждал ужасный бич велосипедистов &ndash; прокол. Дело в том, что задняя покрышка у меня давно уже вся поистёрлась, но в нашем замечательном городе нет нужного мне размера, поэтому я на ней езжу. Делать нечего, заменил камеру, поехал дальше. Но буквально через жалкие 10-15 км - &ldquo;чпых-пух-пух&rdquo;. Опять то же самое, причём в том же месте, гд покрышка разодралась уже совсем неприлично. Следовало ожидать. Что же делать? Стал лихорадочно названивать, надеясь что батарея телефона выдержит. Никому не мог дозвонится, и уже стал думать, что придётся идти домой 5 часов пешком, но в конце-концов приехал ойтец и меня забрал. Заодно узнали, что байк в нашу небольшую машину помещается, если кресла сложить.
</p>
 
<p>
Итог не радует: накатал 63 км, ещё 7 прошёл пешком, потратил на всё шесть с половиной часов. В прошлом году туда же вышло километров восемьдесят, а тут были бы все 100, если бы не засада.
</p>
 
<p>
Зато понял много полезного: локаут, то есть блокировка амортизации передней вилки &ndash; дар божий, если вилка плохого качества, то есть эластомерка, как у меня. Скорость растёт на 2-3 км/ч. Велоодежда, которую я привёз из США даёт ещё 2-3, а при ветре и все 5 км/ч. На самом деле у меня не специальная велоодежда, а просто compression clothes, то есть обтягивающие синтетические майка и шорты, но тоже помогает будь здоров. Ещё часть пути я ехал в лежачей позе&nbsp; - все смотрели Tour De France ведь, да? Так вот, они гоняют на шоссейниках &ndash; там всегда такая поза. Прибавляет скорости адски. Задумался, можно ли на мой гибрид поставить лежак, чтобы тоже ставить мировые рекорды, в подгруппе ботанизма. Потому что такая поза ещё 5 км/ч прибавляет, а то и все 10 &ndash; с горки и сразу обратно в горку порой катил сороковник.
</p>
 
<p>
После всех этих бонусов, я стал ездить как приличный матраснег &ndash; 25-30 км/ч даже по холмистому рельефу и с ветерком. А то ведь раньше совсем не катил &ndash; 15-20 при ветре еле получалось. Так что совет: вилку прикупите масляную/воздушную, если деньжата водятся. И забейте, что остальные думают по поводу вашего пуза и задницы, обтянутой синтетикой - одевайте велоодежду.
</p>
 

	