Id: dcf759d9-b133-40ca-944f-f0a2d91f2232
Title: "Авторское право"
Published: "2008-01-20"
Slug: "2008-01-20 Авторское право"
-
<p>
В очередной раз <a href="https://ptitsarukh.livejournal.com/159105.html">идут зарубы</a> по поводу того, обязаны ли мы платить за книги, музыку и фильмы, или нет. Сразу видно, что большинство комментаторов не читали даже книги Лессинга, и вообще вопросом не интересовались, а излагают свои душевные терзания.
</p>
 
<p>
Я тоже изложу: но я всё-таки вопросом кое-как интересовался.
</p>
 
<p>
Авторы обязательно должны получать вознаграждение за работу, как и все люди. Пока нельзя хорошо жить, не работая, такой порядок вещей нормален. То, что бедный художник ваяет лучше, мне кажется неверным по многим причинам, да это и не аргумент: труд должен быть оплачен, пока нельзя жить иначе. 
</p>
 
<p>
В свою очередь, современная система законов об авторском праве ужасна, её надо менять. С одной стороны, законы в стране надо менять цивилизованными методами, иначе всем будет плохо. С другой, часто ситуацию нельзя поменять такими методами, оттого и придумали гражданское неповиновение. Махатма Ганди и Мартин Лютер Кинг не самые плохие образцы для подражания.
</p>
 
<p>
Я атеист, у меня мерило нравственности - моё собственное понимание. Оно мне говорит, какими я хотел бы видеть законы об авторском праве, и я действую, как будто они такими являются, пока они такими или похожими не станут. 
</p>
 
<p>
А я хочу простых вещей:
</p>
 
<p>
1)<strong>Всё</strong> доступно в электронном виде, без DRM
</p>
 
<p>
2)Дёшево по доходам индивидуума, то есть пусть будет сегментация рынка, лишь бы цены разумные
</p>
 
<p>
3)Или за абонентскую плату в месяц, а дальше - общество по распределению заботится
</p>
 
<p>
4)Очень желательно предоставлять большие образцы или даже всё прозведение целиком для ознакомления. Например, во всех богатых странах технический товар можно вернуть, если не подходит. А книгу почему нельзя, если не нравится?
</p>
 
<p>
Сюда же добавлю сроки, после которых произведение становится всеобщим достоянием. Сроки на авторское право и патенты должны быть несколько десятков лет. Желательно вообще 10-15. Потому как законы должны служить благу общества. Какое же это благо, если произведение законсервировано и доступно массам с большим трудом?
</p>
 
<p>
Вот и всё. Так оно всё и будет, вопрос только - когда. 
</p>
 
<p>
P.S. Это я конечно всё из книжки &quot;Свободная культура&quot; нахватался, но с моей точки зрения логика тут кругом железная.
</p>

	