Id: 3afd6667-8b23-4945-a2c1-cbbcfa516b5e
Title: "Об онлайн-сообществах"
Published: "2008-03-01"
Slug: "2008-03-01 Об онлайн-сообществах"
-
<p>
Я, наверное, асоциальный тип. Никогда не понимал людей, которые считают какие-то интернет-сообщества своим родным домом и всячески это подчёркивают. Особенно это касается таких мест, где раздают варез, то есть всяких трекеров и форумов. Это по сути места, где собираются толпы халявщиков, даже не желающих признать, что они пираты. Вместо этого посетители таких варезников выдумывают себе оправдания: &quot;мы берём у богатых буржуев, им всё равно&quot;, &quot;мы всё равно бы это не купили в реале&quot;, &quot;цены завышены&quot;, &quot;покупаю только то, что уже понравилось&quot; или просто не задумываются о моральной стороне вопроса.
</p>
 
<p>
В этих словах есть немало правды, как я <a href="/post/2008-01-20%20%D0%90%D0%B2%D1%82%D0%BE%D1%80%D1%81%D0%BA%D0%BE%D0%B5%20%D0%BF%D1%80%D0%B0%D0%B2%D0%BE">уже писал</a>, но обитатели варезников полагают их непреложной истиной, которая только и имеет важность в этом вопросе. Как мне кажется, по большей части с их стороны это самообман для успокоения совести. Осуждать я их вообще-то не должен, потому что так им наверное лучше и счастливей, да и сам я пират ещё тот.&nbsp; Это не отменяет того факта, что люди в таких местах - сверхпассивные потребители контента, способные максимум на оформление своего поста с хорошим описанием и скриншотами. Поклонение таким тусовкам сродни поклонению корпорациям или даже божествам, и наверное происходит из стадного инстинкта человека. 
</p>
 
<p>
Вот вам местами хороший комикс <strong>Sinfest </strong>в тему<strong>.</strong><a href="https://ir.izvne.com/https://www.vauss.com/sinfest/sf20000930.gif"><img src="https://ir.izvne.com/t/https://www.vauss.com/sinfest/sf20000930.gif" alt="" /></a>
</p>
 
<p>
Понять чувство гордости за принадлежность к сообществам которые создают свой контент, вроде ЖЖ или <a href="https://leprosorium.ru">Лепрозория</a>, ещё можно.
</p>
 
<p>
Кстати, Sinfest я <a href="https://files.mikee.cz/sinfest.rar">скачал</a> одним архивом у неизвестного чеха и закачал в свой <a href="/post/2007-05-11%20Sony%20Reader">Sony Reader</a>. Благо, появилась крутая прога для форматирования контента под Ридер и похожие девайсы под названием <a href="https://www.mobileread.com/forums/showthread.php?t=13135">pdflrf</a>, да и <a href="https://libprs500.kovidgoyal.net/">libprs500</a> постоянно совершенствуется. Удивляюсь я -&nbsp; это мощные программы, свою работу выполняют на порядок лучше оригинального софта от ридера. При этом написаны они в качестве хобби, а автор libprs500 так и вообще физик. Всё-таки оупенсорс сила! По крайней мере иногда.
</p>
 
<p>
С появлением этих двух программ могу смело рекомендовать Sony Reader к покупке, особенно если вас не смущают мелкие шрифты в сконвертированных PDFах и DJVUхах. Но наверное&nbsp; лучше всё-таки подождать <a href="https://blogs.zdnet.com/mobile-gadgeteer/?p=871">телефона с гнущимся экраном на е-инк</a> или даже цветной е-бумаги, которая не за горами.
</p>

	