Id: c3a89c7a-7faa-4b02-b94c-0b834345fc63
Title: "Гм"
Published: "2008-04-20"
Slug: "2008-04-20 Гм"
-
<p>
Сталин и вправду вождь и отец - выгодно смотрится. 
</p>
<a href="https://ssmirnoff.livejournal.com/899684.html">Остальное</a> 
<p>
<a href="/files/blogengine/Writer/237884347c5e_1418E/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/237884347c5e_1418E/image_thumb.png" border="0" alt="image"   /></a>
</p>

	