Id: cb0acfaf-06d6-44e7-ad8b-705081b47df7
Title: "Amazed"
Published: "2008-03-02"
Slug: "2008-03-02 Amazed"
-
<p>
Ааа! Лебедев <a href="https://www.tema.ru/travel/usa-1/">открыл мне глаза</a>, что означает фраза <strong>Objects in mirror are closer than they appear.</strong>
</p>
 
<p>
Так называются несколько произведений культуры: книга и песни. А вот откуда всё пошло:
</p>
 
<p>
<img src="https://www.ir.izvne.com/t/https://www.tema.ru/travel/usa-1/_MG_1768.jpg" alt="" />
</p>

	