Id: 35f1928a-e167-42ce-a7f8-a589e1b1a49f
Title: "Офигеть"
Published: "2008-08-08"
Slug: "2008-08-08 Офигеть"
-
<p>
&nbsp;
</p>
 
<p align="center">
<a href="https://realbiker.ru/Travels/2005-04-16-17/"><img style="border: 0px none " data-src="/files/blogengine/Writer/d7421d7fa7e0_116E3/image.png" border="0" alt="image" title="image"   /></a><br />
Уважаю.
</p>
Кстати, мне из <a href="/admin/Pages/www.chainreactioncycles.com">www.chainreactioncycles.com</a> приехали покрышки continental topcontact. Дорогие, но решил один раз пошиковать. Ехали UPSом, но девять дней! Нафиг этот UPS, обычная почта рулит.

	