Id: 5400d7c0-0905-43ac-8e72-425f0559575d
Title: "Бильярд и TexMex"
Published: "2008-08-11"
Slug: "2008-08-11 Бильярд и TexMex"
-
<p>
После покатушки вчера играл в бильярд. Сначала выиграли четыре партии, а потом проиграли три. Домой пришёл как зомби, устал до смерти.
</p>
 
<p>
А сегодня утром ходили в ресторан <a href="https://www.klondaika.com/index.php?inc=14&amp;menu=99">TexMex</a>, что находится в боулинговом зале Клондайка в Диттоне. Оформление хорошее, сервис хороший, смотреть за едой на людей, играющих в боулинг &ndash; забавно.
</p>
 
<p>
Я ел бурритос &ndash; хорошие. Друг ел такос &ndash; мне они понравились меньше. Перец на тарелке лежал отдельно, соус мы по неопытности не заказали. 
</p>
 
<p>
Десерты: я ел чизкейк. Маленькая очень порция, но неплохой. Друг ел жареные ананасы с морожеными фруктами. Тоже неплохо. Ещё я пил холодный кофе (фрапучино?, фраппе?) &ndash; очень уж много льда и слишком крупными он кусками. Я бы препочёл поменьше льда. Чёрт знает, может у них рецепт такой.
</p>
 
<p>
Все тарелки красиво оформлены, хоть фрукты некоторые на вид не идеальны. Но в целом мне понравилось. Представится случай &ndash; схожу ещё, оценить мегаострый суп ацтеков.
</p>
 
<p>
Забавно, что сначала мы в зале были одни, а через час подтянулись целые толпы &ndash; какие-то большие кучи детишек с мамами, быковатого вида накачанный мужик с семьё и прочие.
</p>
 
<p>
P.S. Это мой может быть десятый в жизни поход в ресторан, поэтому на вышеприведённое надо делать скидку.
</p>

	