Id: d0d45677-a2c9-40d6-816f-44666b84a5e3
Title: "Биороботы уже здесь"
Published: "2008-08-15"
Slug: "2008-08-15 Биороботы уже здесь"
-
<p>
Ну и кто тут сомневался? 
</p>
 
<p>
<em>Нейроны крысы были взяти у животных на стадии зародыша и были тщательно обработаны специальным образом, благодаря чему стало возможным подключить 60 электродов к живому мозгу. Так как поддерживать жизнь клеток довольно сложно, да и контроль температуры им нужен особый, &laquo;голова&raquo; существа остается в одном месте, бщаясь с телом при помощи bluetooth-связи.</em>
</p>
 
<p>
<em>Инновационность эксперимента заключается в том, что мозг не только посылает импульсы, заставляющие робота двигаться, но и получает сигналы от сенсорных датчиков своего &laquo;тела&raquo;, анализируя их. Таким образом были достигнуты действительно неплохие результаты: после первого знакомства с окружающей действительностью робот распознает 8 из 10 препятствий и успешно их обходит.</em>
</p>
 
<p>
&nbsp;
</p>
 
<p>
<a href="https://webplanet.ru/news/research/2008/08/14/roborat.html" title="https://webplanet.ru/news/research/2008/08/14/roborat.html">https://webplanet.ru/news/research/2008/08/14/roborat.html</a>
</p>

	