Id: 1b6829ff-521f-4e66-90e7-2f55f29d9053
Title: "Германия — 1"
Published: "2008-01-05"
Slug: "2008-01-05 Германия — 1"
-
<p>
&nbsp;
</p>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Я тогда думал, что у меня ещё больше фото будет, потому что остальные участники поездки отдадут. Они оказались непроходимо ленивы (или тупы) и не один из 11! фотки не закачал, хотя это было <strong>крайне</strong> просто сделать. За это я выложу их всех в ИнтАрнет с обидными подписями, шобы на них все хлядели и ухмылялись.
</p>
<p>
К фоткам прилагалась куча легенд, но вспомню я немногие.
</p>
[more text=Смотреть фотки] 
<p>
Сначала я ещё фоткал отели, в которых мы останавливались, потом мне это надоело. Первый был в Польше.
</p>
<p align="left">
<a href="/files/blogengine/Writer/1_14FAA/IMG_0016.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/1_14FAA/IMG_0016_thumb.jpg" border="0" alt="IMG_0016"  ></a>&nbsp;
</p>
<p align="left">
Внутри Hotel Kosmowski&nbsp; выполнен в массивно-дубовом стиле
</p>
<p align="left">
<a href="/files/blogengine/Writer/1_14FAA/IMG_0001.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/1_14FAA/IMG_0001_thumb.jpg" border="0" alt="IMG_0001"  ></a> 
</p>
<p>
Здесь меня преследует искуственный интеллект. Телевизор завис на одном месте с надписью на русском и показывал странные геометрические фигуры.
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0007.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/1_14FAA/IMG_0007_thumb.jpg" border="0" alt="IMG_0007"  ></a> 
</p>
<p>
На унитазе наклеена гарантия того, что его тщательно отдраили. Тем не менее, в шкафчике нашёлся одноразовый бумажный стульчак, который&nbsp; я экспроприировал, руководствуясь железной логикой: у них и так унитаз начищен, а я могу встретить на своём пути не столь культурные ватерклозеты. Это, кстати, была единственная вещь, которую я забрал у капиталистов на своём пути.
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0009.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0009_thumb.jpg" border="0" alt="IMG_0009"  ></a>
</p>
<p>
Понятия не имею, что такое кондиционер и лосьон, поэтому помыться бы не смог, если бы предусмотрительно не захватил с собой мыло из дому.
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0010.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0010_thumb.jpg" border="0" alt="IMG_0010"  ></a> 
</p>
<p>
Судя по деревцам, отель новый. Как называется это декоративное хвойное, затрудняюсь ответить. Может быть кипарис или сосна. Моя тётя сказала бы в микросекунду, но она в Лиепае. На завтрак кормили и поили в отеле от пуза, еда была средней вкусности, то есть лучше обычного кафе.
</p>
<p>
&nbsp;<a href="/files/blogengine/Writer/1_14FAA/IMG_0018.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0018_thumb.jpg" border="0" alt="IMG_0018"  ></a> 
</p>
<p>
На следующий день мы отправились к первому увеселению. А именно, знаменитейшему дворцу <a href="https://en.wikipedia.org/wiki/Sanssouci" target="_blank" title="Wikipedia">Sanssouci</a>, то есть "Без забот", который часто называют немецким Версалем. К дворцу прилагается здоровый такой парк, который можно скорее назвать лесом, выстроившимся смирно по приказу милитаристких немцев.
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0024.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0024_thumb.jpg" border="0" alt="IMG_0024"  ></a> 
</p>
<p>
"Ой ну что я, пальм не видела, что ли". Зато ноги длинные, и она такая была не одна!
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0026.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0026_thumb.jpg" border="0" alt="IMG_0026"  ></a> 
</p>
<p>
Дворец был летней резиденцией короля Фридриха Великого, и для себя любимого Федя не поскупился. Он также диктаторски навязывал свой вкус архитектору, а когда тот&nbsp; Фёдора послал, уволил прусака к чёртовой матери и нанял гастарбайтера из Дании. Результат налицо - любимую игрушку Федота занесли во всемирное наследие ЮНЕСКО, а туристы стали валить толпами: по два миллиона за год.
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0027.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0027_thumb.jpg" border="0" alt="IMG_0027"  ></a>&nbsp;
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0028.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0028_thumb.jpg" border="0" alt="IMG_0028"  ></a> 
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0030.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0030_thumb.jpg" border="0" alt="IMG_0030"  ></a> 
</p>
<p>
&nbsp;
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0043.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0043_thumb.jpg" border="0" alt="IMG_0043"  ></a> 
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0045.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0045_thumb.jpg" border="0" alt="IMG_0045"  ></a> 
</p>
<p>
Когда зашли внутрь, нам выдали гигансткие тапки. Тут не очень видно, но надеваются они поверх обычной обуви, чтобы не истирать мраморный пол. Суровая тётя-охранник впрочем, ходила в туфлях. Фоток внутри дворца я не делал: запрещено. Девять его залов выглядят достаточно любопытно, хоть и не особенно разнообразно.
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0050.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0050_thumb.jpg" border="0" alt="IMG_0050"  ></a>&nbsp;
</p>
<p>
Всю поездку пытался понять, черты каких этносов отразились на лице этого чёртёнка. Надо было спросить, вот что я думаю, тем более я болтал с ней и её мамой всю дорогу.
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0056.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0056_thumb.jpg" border="0" alt="IMG_0056"  ></a> 
</p>
<p>
Во кусты разрослись, а!
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0065.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0065_thumb.jpg" border="0" alt="IMG_0065"  ></a>&nbsp; 
</p>
<p>
"Китайский дом" , помесь рококо и восточных элементов.
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0067.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0067_thumb.jpg" border="0" alt="IMG_0067"  ></a>&nbsp;
</p>
<p>
Это наверное ещё дворец из комплекса, но название его я уже не установлю.
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0078.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0078_thumb.jpg" border="0" alt="IMG_0078"  ></a>
</p>
<p>
Нет, у чувака на мельнице не голая задница, вам показалось.
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0041.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0041_thumb.jpg" border="0" alt="IMG_0041"  ></a>
</p>
<p>
Вива Ля Экология!
</p>
<p>
<a href="/files/blogengine/Writer/1_14FAA/IMG_0083.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_14FAA/IMG_0083_thumb.jpg" border="0" alt="IMG_0083"  ></a>&nbsp; 
</p>
<p>
А вообще непонятно, зачем снимать известные места, если можно сделать <a href="https://www.flickr.com/search/?q=Sanssouci" target="_blank" title="Зайти на Flickr и сделать поиск">вот так</a> и зачем рассказывать про них, если можно сделать <a href="https://www.google.com/search?q=%D1%81%D0%B0%D0%BD+%D1%81%D1%83%D1%81%D0%B8&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;rls=org.mozilla:en-GB:official&amp;client=firefox-a" target="_blank">вот так</a>.</p><p><br></p><p><a href="/post/2016-01-14%20%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D0%B5%20%D0%B2%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8E" target="_blank">К оглавлению</a></p><p>
</p>

	