Id: 4901a30b-8f12-4d02-8a7a-4c78c39ca848
Title: "Дыбр, кротко"
Published: "2008-09-23"
Slug: "2008-09-23 Дыбр, кротко"
-
<p>
Я стал смотреть Доктора Хауса. Хаус реални. Бэттлстар досмотрел, последние полсезона ждём в 2009.
</p>
 
<p>
Про Крит написал первую часть. Завтра будет. Только подрихтовать со свежими силами &ndash; после качалки.
</p>
 
<p>
Вот в упор не могу слушать альбом The Gathering &ndash; Home. При этом предыдущий Souvenirs очень люблю. Так это было год назад, так и осталось.
</p>
 
<p>
На работе за каждое матное слово виновный теперь кладёт в копилку 1 сантим. Сразу половина съебалась работать домой. При этом за два дня 38 сантиков накапало. Страшная сила, культура! 
</p>
 
<p>
rk13, твоя копилка служит хорошему делу.
</p>

	