Id: b478a0e8-acd7-4e1f-b1de-9adf1cf65c97
Title: "Германия — 3"
Published: "2008-01-07"
Slug: "2008-01-07 Германия — 3"
-
<p>
Затем мы направились в город <strong>Goslar</strong>. Он также занесён в список всемирного наследия ЮНЕСКО. По слухам в нём ровно тысяча очень старинных деревянных домов и ещё пятьсот старинных. Интересно, откуда такие круглые цифры - то ли достроили недостающее, то ли снесли.
</p>
[more text=Выглядит он примерно в таком духе] 
<p>
Выглядит он примерно в таком духе:
</p>
<p>
<img style="border-width: 0px" data-src="/files/blogengine/Writer/3_D66F/IMG_0150_thumb.jpg" border="0" alt="IMG_0150"  > 
</p>
<p>
У моей тёти сад всё равно круче.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0152.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0152_thumb.jpg" border="0" alt="IMG_0152"  ></a> 
</p>
<p>
Как назло, у меня села батарейка, запасную я забыл в автобусе. Но это не страшно, потому что есть Фликр. Узнать автора можно кликнув на фото. Свято блюду копирайт согласно заветам <a href="https://ru.wikipedia.org/wiki/Creative_Commons" title="Читать что такое Creative Commons">Creative Commons</a>. Кстати, все мои креативы всегда BY/NC/SA, если не указано иное.
</p>
<p>
<img src="https://ir.izvne.com/t/https://farm1.static.flickr.com/136/393392145_ab670fad34.jpg" alt=""> 
</p>
<p>
Через весь город насквозь течёт речка. (Фраза прям из учебника русского для первого класса.)
</p>
<p>
&nbsp;<a href="https://www.flickr.com/photo_zoom.gne?id=1103937237&amp;size=l"><img src="https://ir.izvne.com/t/https://farm2.static.flickr.com/1238/1103937237_a65c05800a_b.jpg" alt=""></a> 
</p>
<p>
Улицы не сказать чтобы узкие.
</p>
<p>
<a href="https://www.flickr.com/photo_zoom.gne?id=656332293&amp;size=l"><img src="https://ir.izvne.com/t/https://farm2.static.flickr.com/1028/656332293_22eb29b4db_b.jpg" alt=""></a> 
</p>
<p>
На ратуше справа в шесть часов вечера из-за дверок выезжают фигурки на рельсах и изображают некий перфоманс.
</p>
<p>
<a href="https://www.flickr.com/photo_zoom.gne?id=1104758568&amp;size=l"><img src="https://ir.izvne.com/t/https://farm2.static.flickr.com/1111/1104758568_ca49afc58c_b.jpg" alt=""> </a>
</p>
<p>
Если хотите посмотреть разноцветных красивых домов,&nbsp; <a href="https://www.flickr.com/photos/elenaromera/tags/goslar/show/">их есть у некой Елены Ромеры</a>.
</p>
<p>
Вечером мы мельком посмотрели центр какого-то среднего города. Убей не могу вспомнить, какого. Полчаса искал на Гугль Планета Земля, нашёл и вспомнил всякие, где мы были, а этот не помню.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0154.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0154_thumb.jpg" border="0" alt="IMG_0154"  ></a> 
</p>
<p>
Зато там ботинки сушат на верёвочках.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0164.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0164_thumb.jpg" border="0" alt="IMG_0164"  ></a> 
</p>
<p>
Я так думаю что на следующий уже день мы двинулись в <a href="https://ru.wikipedia.org/wiki/%D0%91%D0%BE%D0%B4%D0%B5%D0%BD%D0%B2%D0%B5%D1%80%D0%B4%D0%B5%D1%80">Боденвердер</a>, крошечный городок, где родился и умер Барон Мюнхгаузен. В городе, как нетрудно догадаться, есть <a href="https://www.muenchhausenland.de/index.php?side=start&amp;MID=1">музей</a>, посвящённый барону, но пруды мне почему-то нравятся больше музеев. В Латвии, кстати, тоже есть музей Мюнхузена.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0165.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0165_thumb.jpg" border="0" alt="IMG_0165"  ></a> 
</p>
<p>
В музее обнаружился вот такой древний барометр, в котором при плохой погоде на улицу вылезает женшина, а при хорошей - мужчина.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0169.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0169_thumb.jpg" border="0" alt="IMG_0169"  ></a> 
</p>
<p>
Работник рассказал аж 4 истории про барона и показал книжки на тридцати языках, включая русский, латышский и киргизский. Истории гид переводил на латышский и русский, как он делал на протяжении всей поездки. Правда, русская версия&nbsp; была или короче, или отличалась по содержанию, выходило забавно. К счастью, я более-менее понимаю латышский.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0171.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0171_thumb.jpg" border="0" alt="IMG_0171"  ></a>&nbsp;
</p>
<p>
Заяц маскируется, но всё равно видны шокирующие подробности - у него восемь ног. Надо срочно звать уфологов.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0172.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0172_thumb.jpg" border="0" alt="IMG_0172"  ></a> 
</p>
<p>
Ordinary bicycle
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0174.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0174_thumb.jpg" border="0" alt="IMG_0174"  ></a> 
</p>
<p>
Так выглядели самые первые велосипеды. Строго говоря, это скорее самокат.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0175.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0175_thumb.jpg" border="0" alt="IMG_0175"  ></a> 
</p>
<p>
Рыбка.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0176.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0176_thumb.jpg" border="0" alt="IMG_0176"  ></a> 
</p>
<p>
Одна пуля - 5 уток.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0178.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0178_thumb.jpg" border="0" alt="IMG_0178"  ></a> 
</p>
<p>
Говорят, раньше немцы Мюнхгаузена не любили, а потом проявился зверный оскал капитализма, и городок с населением в шесть тысяч срочно открыл музей и стал строить статуи.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0180.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0180_thumb.jpg" border="0" alt="IMG_0180"  ></a> 
</p>
<p>
Смешно, но в таком городе магазинов больше, выбор шире, а цены ниже, чем в моём родном Даугавпилсе с населением в сто тысяч. Фашики, как называет немцев мой шеф, совсем зажрались. А это, судя по размеру гриба, любители психоделии.
</p>
<p>
<a href="/files/blogengine/Writer/3_D66F/IMG_0182.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3_D66F/IMG_0182_thumb.jpg" border="0" alt="IMG_0182"  ></a></p><p><br></p><p><a href="/post/2016-01-14%20%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D0%B5%20%D0%B2%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8E" target="_blank" style="background-color: rgb(246, 246, 246);">К оглавлению</a>
</p>

	