Id: 3e77275c-3561-491b-be0e-318620e8ed5d
Title: "Уже и новости не хочется знать"
Published: "2008-08-26"
Slug: "2008-08-26 Уже и новости не хочется знать"
-
<p>
Всякие экострашилки, войны и допинговые олимпиады.
</p>
 
<p>
<em>Так, чашка кофе в ресторане обходится в 140 литров воды (сюда включены затраты на выращивание, обработку, транспортировку и собственно приготовление напитка), а обычный гамбургер в закусочной &ndash; в 2400 литров.</em>
</p>
 
<p>
<a href="http://www.rbcdaily.ru/2008/08/25/focus/372943">Водные ресурсы Земли на грани истощения</a>
</p>
 
<p>
На Крите, кстати, это заметно - в унитаз нельзя смывать туалетную бумагу, канализация не рассчитана.
</p>

	