Id: 3596b527-4f69-4799-8534-77c0f596401d
Title: "Китайцы"
Published: "2008-02-12"
Slug: "2008-02-12 Китайцы"
-
<p>
Купил <a href="https://www.dealextreme.com/details.dx/sku.7160~r.83657979">вот такой</a> пульт в замечательном магазине <a href="https://www.dealextreme.com/default.dx/r.83657979">DealExtreme.com</a>
</p>
 
<p>
<a href="https://ir.izvne.com/https://www.dealextreme.com/productimages/sku_7160_1.jpg"><img src="https://ir.izvne.com/t/https://www.dealextreme.com/productimages/sku_7160_1.jpg" alt="" /> </a>
</p>
 
<p>
Всё в этом пульте более-менее хорошо. Немного угловат, кнопки нажимаются туговато, но это мелочи. Особенно учитывая, что он маленький и радио, что означает надёжную работу на большом расстоянии. И даже программа китайская для настройки клавиш хоть вполне простая, но достаточно гибкая и позволяет под каждое приложение настроить кнопки на пульте отдельно.
</p>
 
<p>
Но китайцы не были бы сами собой, если бы не напортачили в чём-нибудь важном. В данном случае - после установки софта клавиша F6 намертво прикручивается к вызову программы настройки пульта. Изменить это не представляется возможным, но я упорный и буду искать. В крайнем случае, обойдусь без программы, благо мой любимый ZoomPlayer последней версии&nbsp; от рождения понимает Human Interface Devices, посылающие <strong>любые</strong> коды клавиш, чем мало какая программа может похвастаться.
</p>

	