Id: 175e5c00-2421-4776-94bd-27462a39984f
Title: "Германия — 2"
Published: "2008-01-06"
Slug: "2008-01-06 Германия — 2"
-
<p>
На следующий день мы двинули дальше, но поскольку бумажки с описанием пути я потерял, вы будете только [more text=любоваться видами] любоваться видами. Заехали на какую-то горку, откуда вроде как прекрасный вид. После Норвегии любой обычный пейзаж с полями и лесами кажется скучным, поэтому судить я предоставлю вам.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0084_3.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0084_thumb.jpg" border="0" alt="IMG_0084"  ></a> 
</p>
<p>
Вот разве что забавные статуи радуют.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0087.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0087_thumb.jpg" border="0" alt="IMG_0087"  ></a> 
</p>
<p>
Это ведьма, моя мама и тётя, которые в общем тоже не самого доброго нрава :-)
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0090.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0090_thumb.jpg" border="0" alt="IMG_0090"  ></a> 
</p>
<p>
Видите, даже выражение лиц похожее.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0096.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0096_thumb.jpg" border="0" alt="IMG_0096"  ></a> 
</p>
<p>
Ура! Крайне редкая возможность увидеть меня на фото.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0092.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0092_thumb.jpg" border="0" alt="IMG_0092"  ></a>&nbsp;
</p>
<p>
"Ква-ква" говорят нам Саша с Кристиной, сидя под лошадкой с шестью ногами.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0103.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0103_thumb.jpg" border="0" alt="IMG_0103"  ></a> 
</p>
<p>
Всяческих соборов в Германии хватает.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0106.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0106_thumb.jpg" border="0" alt="IMG_0106"  ></a> 
</p>
<p>
Паукообразная лошадка потрудилась&nbsp; - путь ведёт от неё до подъёмника.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0109.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0109_thumb.jpg" border="0" alt="IMG_0109"  ></a> 
</p>
<p>
Хаха, на мою мыльницу можно даже такое снимать! И ничего, что фиолетовым отливает.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0112.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0112_thumb.jpg" border="0" alt="IMG_0112"  ></a> 
</p>
<p>
Зато там был бобслей на рельсах, и мы славно так покатались. Жаль только, я мало подождал перед выездом - впереди едущий местами мешал. 
</p>
<p>
После горы мы поехали смотреть какую-то скалу в виде стены. Как тут видно, шли вдоль речки.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0120.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0120_thumb.jpg" border="0" alt="IMG_0120"  ></a> 
</p>
<p>
Опять-таки, после Стены Троллей в Норвегии высотой в два километра, это просто забор какой-то.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0122.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0122_thumb.jpg" border="0" alt="IMG_0122"  ></a> 
</p>
<p>
Стена Троллей для сравнения
</p>
<p>
<a href="http://www.flickr.com/photo_zoom.gne?id=349425476&amp;size=l&amp;context=set-72157594465681135" target="_blank"><img src="http://ir.izvne.com/t/http://farm1.static.flickr.com/138/349425476_8e431d314c_b.jpg" alt=""></a> 
</p>
<p>
Шли мимо лугов по цивилизованной каменистой дорожке.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0124.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0124_thumb.jpg" border="0" alt="IMG_0124"  ></a>&nbsp;
</p>
<p>
По крайней мере, фактура камня симпатичная, и ещё опять видно меня, ура!
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0129.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0129_thumb.jpg" border="0" alt="IMG_0129"  ></a> 
</p>
<p>
На Кристину всяко смотреть приятнее, я так думаю.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0133.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0133_thumb.jpg" border="0" alt="IMG_0133"  ></a> 
</p>
<p>
Что-то это нагромождение каменных блоков доверия не внушает. Хотя старательные немцы наверняка их намертво присобачили суперклеем.
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0138.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0138_thumb.jpg" border="0" alt="IMG_0138"  ></a> 
</p>
<p>
-Кря-кря, давай поиграем в уточек?<br>
-Какие нахуй уточки, мы тут среди лугов одни останемся, если вот этих не догоним!
</p>
<p>
<a href="/files/blogengine/Writer/2_1295F/IMG_0147.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_1295F/IMG_0147_thumb.jpg" border="0" alt="IMG_0147"  ></a>
</p>
<p>
На этом я пока закончу, потому что хвалёный Windows Live Writer безбожно тормозит, когда много картинок. Придётся покупать стоядерный процессор для написания постов в ЖЖ. Вот до чего прогресс доводит.</p><p><a href="/post/2016-01-14%20%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D0%B5%20%D0%B2%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8E" target="_blank" style="background-color: rgb(246, 246, 246);">К оглавлению</a></p><p>
</p>

	