Id: 672e6124-0679-4552-90de-114e36f9a13d
Title: "Сериалы"
Published: "2008-08-15"
Slug: "2008-08-15 Сериалы"
-
<p>
Смотрю третий сезон Battlestar Galactica. В принципе, сериал премий наполучал кучу и тому подобное. Но у нас малопопулярен. Вот думаю, это потому что фантастика, или почему?
</p>
 
<p>
Вообще хороший сериал. Лост вот мне сильно нравился, но четвёртый сезон не могу себя заставить включить. Всё-таки Лост &ndash; чушь на постном масле, как ни крути. И &ldquo;Герои&rdquo; тоже.
</p>
 
<p>
Battlestar более реалистична, хоть дело проиходит&nbsp; и в будущем, и в опостылелом космосе, и спецэффектами всё усыпано зверскими. В принципе, об этом многие говорили, особенно Стругацкие. То есть о том, что в фантастике главное, как и в любой литературе &ndash; взаимодействие людей и обществ в сложных/неизученных ситуациях. С этой точки зрения в Лост правят бал идиоты, да и в &ldquo;Героях&rdquo; недалеко ушли. Впрочем, чует моё сердце, дай время, надоест и &ldquo;Галактика&rdquo;.
</p>
 
<p>
Призон Брейк смотрел полтора сезона &ndash; надоедает, затянуто слишком, вечно одно и то же.
</p>
 
<p>
А так: Хауса не смотрел, Клинику не смотрел, CSI не смотрел, Декстера не смотрел и не очень-то хочу, 24 не смотрел. Всё не посмотришь, в любом случае.
</p>
 
<p>
OZ &ndash; гениально. Сопраносы &ndash; не для меня, я молодой слишком ещё.
</p>
 
<p>
Вообще конечно удивительно, как много хороших сериалов выходит, хотя и понятно, учитывая что американцы смотрят ТВ уже по четыре часа в день.
</p>

	