Id: 88a53914-e8b3-4025-ab86-67409b54bb53
Title: "Торможение картинок"
Published: "2008-10-21"
Slug: "2008-10-21 Торможение картинок"
-
<p>
Благодаря юзернейму&nbsp; <a href="https://reshell.livejournal.com">reshell</a> обнаружил, что картинки в моём журнале по некоторым техническим причинам иногда огромного размера и медленно грузятся. К ночи будет исправлено.
</p>
 
<p>
Вот что бывает, когда находится один неленивый человек. Наверняка же целые толпы замечали, что картинки тормозят, но никто не догадался проверить и написать мне. У меня самого они, естественно, летают, несмотря на размер &ndash; с латвийского сервера, где они лежат, у меня скорость два мегабайта в секунду.
</p>
Люди! Не ленитесь,&nbsp;делайте мир лучше :-)

	