Id: b9540260-6d0a-418b-b5a9-531d9e043124
Title: "Поединок мага и атеиста в Индии на ТВ"
Published: "2008-08-10"
Slug: "2008-08-10 Поединок мага и атеиста в Индии на ТВ"
-
<p>
<em>3 марта 2008, в популярном телешоу, Санал Эдамаруку, президент Rationalist International бросил вызов самому мощному в Индии черному колдуну - тантрику (в Индии тантра - совсем не то, что у нас - коллективная мастурбация) чтобы тот продемонстрировал свою мощь на нем. Это было началом беспрецедентного эксперимента. После того, как все мантры, заклинания и и обряды тантры потерпели неудачу, тантрик решил убить Эдамаруку с &quot;окончательным обрядом разрушения&quot; по прямому телевидению. Санал Эдамаруку согласился и сидел в ритуальном алтаре черной магии. Телевидение Индии взлетело по рейтингу.</em> 
</p>
<p>
<a href="https://www.scorcher.ru/art/mist/mist/mist2.php" title="https://www.scorcher.ru/art/mist/mist/mist2.php">https://www.scorcher.ru/art/mist/mist/mist2.php</a>
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
Так их, уродов мистических. Чуваку-скептику респект: очень непросто выдержать жёсткий психологический прессинг.
</p>

	