Id: 4592fc3b-775f-41dd-88cc-be0b41303ed1
Title: "США"
Published: "2008-06-01"
Slug: "2008-06-01 США"
-
<p>
Я в понедельник в 7 утра улетаю в США отдыхать. Буду в Мэдисоне, Чикаго и окрестностях.
</p>
 
<p>
Накачал best new music pitchfork&#39;а за последние несколько месяцев, накачал дабстепа, и наконец-то сам послушаю передачи, которые выкладываю для посетителей Радиоархива.
</p>
 
<p>
Кстати, сегодня играл в paintball первый раз в жизни, было круто.
</p>

	