Id: 06b46e7b-4540-4f74-a257-783b9a8c44ad
Title: "Провокации"
Published: "2008-04-04"
Slug: "2008-04-04 Провокации"
-
<p>
Я тут пару раз писал про троллинг, то есть провокации, и в пример приводил убогие. А сейчас приведу удачную.<br />
<br />
<a href="http://community.livejournal.com/ru_dog/422687.html">Недавно нам пришлось обратиться в ваше сообщество за помощью &ndash; нам необходимо найти новых<br />
хозяев для нашей собаки. Но вместо помощи или советов мы почему-то столкнулись с непониманием, осуждением и агрессией. Речь идёт об этом посте:</a><br />
<br />
Не знаю, на самом ли деле девушка испытывает проблему, и насколько правдиво изложена ситуация, но как красная тряпка для собачников пост сработал сильно.
</p>
<a href="http://community.livejournal.com/ru_dog/422687.html"></a>

	