Id: d4c42262-0e71-4791-8983-989bd79fd74f
Title: "Доктор Хаус"
Published: "2008-11-01"
Slug: "2008-11-01 Доктор Хаус"
-
<p>
Не знаю, обратил ли кто внимание, но у героев Доктора Хауса &ldquo;говорящие&rdquo; фамилии. Foreman &ndash; это бригадир. Chase &ndash; это дичь (лучше всего подходит по смыслу).&nbsp; Сам Хаус, как известно, это Холмс, а Вилсон, соотвественно, Ватсон.
</p>
 
<p>
Кстати, мой любимый герой &ndash; доктор Кадди. Как Хаус говорит, she&rsquo;s smart and funny. И ещё красивая. По-моему ни Камерон, ни тем более cutthroat bitch не красивые, да и не особенно прикольные. Вот разве что тринадцатая ничего.
</p>
 
<p>
Что означает фамилия Кадди, можно только догадываться.
</p>
 
<p>
а) обеденный зал на корабле (<em>для пассажиров и офицерского состава команды</em>)  
</p>
<p>
б) капитанская каюта  
</p>
<p>
2) маленькая комнатка; чулан  
</p>
<p>
<strong>II</strong> <img src='/files/FF090158326EC5306534426C976E9397.gif'  border="0" alt="" width="4" height="20" align="absmiddle" /><img src='/files/C8318DF22679E8D75ADB8C5AE446619F.gif'  border="0" alt="" width="3" height="20" align="absmiddle" /><img src='/files/6F1C5D752A1602EA7159F75166BC5AF2.gif'  border="0" alt="" width="8" height="20" align="absmiddle" /><img src='/files/146461412F8608D97AD4A65BD982C7AC.gif'  border="0" alt="" width="9" height="20" align="absmiddle" /><img src='/files/2345E6CC9CF3B79EA0999022EEEF32CA.gif'  border="0" alt="" width="9" height="20" align="absmiddle" /><img src='/files/3A411A5F61956B5C3D8425703BDE891C.gif'  border="0" alt="" width="3" height="20" align="absmiddle" /><img src='/files/66314D8002215B55E7F3B014D2F3EE8D.gif'  border="0" alt="" width="4" height="20" align="absmiddle" /><br />
<em>сущ.</em>; <em>шотланд.</em>  
</p>
<p>
1) осел  
</p>
<p>
&nbsp;
</p>
<p>
<a href="https://lingvo.yandex.ru/en?CardId=SYXNz;L0B"></a>
</p>
2) дурак, осел  
<p>
а) завирушка (<em>птица</em>)  
</p>
<p>
&nbsp;
</p>
<p>
<a href="https://lingvo.yandex.ru/en?CardId=SaGVkZ2Utc3BhcnJvdw,,;L0B"></a>
</p>
б) куропатка шотландская  
<p>
&nbsp;
</p>
<p>
Я предпочитаю аллюзию на капитана, но куропатка шотландская тоже подходит.  
</p>
<p>
Что означает фамилия Cameron, не имею ни малейшего представления. Разве что на камертон похоже, но в английском такого слова нет.
</p>

	