Id: a0cd7478-2e9d-4f31-9eac-888b6afa749b
Title: "ГМО"
Published: "2008-02-26"
Slug: "2008-02-26 ГМО"
-
<p>
Леонид Каганов <a href="https://www.razgovor.org/special/article503/" title="неполиткорректная статья о пользе ГМО">отжигает</a> про генно-модифицированные продукты и мракобесие.
</p>
 
<p>
Я в целом тоже &quot;За&quot;. Потому что в меру своих знаний считаю, что традиционные продукты из магазина, напичканные всякой дрянью, стопудово вредны, а про ГМО такого однозначно сказать нельзя. Хотя я и далёк от оптимизма <a href="https://lleo.aha.ru/dnevnik/">lleo</a>.
</p>

	