Id: ef58fbde-907c-4b8a-9695-4c85ad239bf6
Title: "Книжки"
Published: "2008-02-03"
Slug: "2008-02-03 Книжки"
-
<p>
Хм, тут крутой мэн сказал, что ему скучно, потому что я не пишу. 
</p>
 
<p>
Надо исправить.
</p>
 
<p>
Я прочитал всяких книжек, кратко изложу впечатления.
</p>
 
<p>
Натаскал идей что читать <a href="http://www.outzone.ru/awards/hugo">отседова</a>, ибо я есмь лох неинтеллектуальный.
</p>
 
<p>
<strong>Нил Гейман, Американские боги. </strong>
</p>
 
<p>
Книжко забавное, автор языком владеет, особо на мозг не давит. В книжку изящно и мягко вплетена мифология многих народов, это можно назвать &quot;красивым постмодернизмом&quot;. Читать можно.
</p>
 
<p>
<strong>Виндж Вернор, Горячая пора в Фэрмаунтской средней школе</strong> 
</p>
<p>
Дядька Вернор как футурист и фантаст-учёный с фантазией незаменим и гениален, чего уж там. Читать можно всегда и все его книги. Я вообще читал сборник &quot;Ложная тревога&quot;, и он весь рекомендуется к прочтению. Чтение не совсем простое из-за сложности придуманных миров, который словами, тем более переведёнными, описать непросто, да и физику понимать хоть как-то надо.
</p>
 
<p>
<strong>Резник Майк, Семь видов Олдувайского ущелья</strong>
</p>
 
<p>
Ничего особенного, картонно и скучновато, но читать можно. Про сверхчуждых нам пришельцев, рассуждающих про человечество. Такие книги всегда выглядят неубедительно. Как не старайся, инопланетяне получаются фальшивые и похожие на людей. У Лема в Солярисе не так, ну дак это Лем.
</p>
 
<p>
<strong>Диксон Гордон, Потерянный</strong>
</p>
 
<p>
Тут наверное надо с начала читать серию, но не хочется. Это по сути не фантастика, и проза с подделкой под серьёзность. Не вставило, потому как нет свежих идей, а читать &quot;про жизнь&quot; мне скучно. Лучше пойти пожить в реале.
</p>
 
<p>
<strong>Лонгиер Барри, Враг мой</strong>
</p>
 
<p>
. . . и продолжения
</p>
 
<p>
В целом - иноплянетяне опять слишком уж похожи на людей, видно из-за того, что книжка не новая. Ещё очень много неправдоподобных положений, в частности противоречщих теории эволюции, как я её понимаю. Но интрига присутствует, персонажи живые и эмоциональные, читать интересно.
</p>
 
<p>
<strong>Пол Фредерик, Врата</strong>
</p>
 
<p>
Книжка из тех, что на вид довольно скучны, но после прочтения понимаешь, что выстроено всё хитро и проникаешься к ней некоторым уважением. Можно читать или нет - сложно сказать, скорее да.
</p>
 
<p>
&nbsp;
</p>
 
<p>
Подводя итоги, можно сказать, что современные фантасты по сложности на порядок превзошли предтеч. Видимо развитие, по крайней мере в какой-то плоскости, существует, иначе старые книги воспринимались бы наравне&nbsp; с новыми. А так не получается. Вернор Виндж рисует гигансткий мир будущего правдоподобно и детально. Его инопланетяне как цивилизации имеют за собой тысячи лет развития и истории, и ведут себя соответственно. А инопланетяне в старых книгах такой мелочью, как цельность концепции и образа , не утруждаются, потому что тогда&nbsp; и так с рук сходило. Вроде как в старых фильмах - сейчас видно, что это люди в масках, а тогда народ хотел чудесного и жадно смотрел на то, что дают. 
</p>
 
<p>
Как наезд на старые книги это воспринимать не следует. В них есть немало своих хороших сторон&nbsp; - скажем, гуманизм и нормальность происходящего. Это очень хорошо видно в книжках Саймака. Даже в книге Джо Холдермана &quot;Бесконечная война&quot;, при всей кошмарности и бесмысленности войны, происходящее понятно и близко человеку двадцатого века. Попробуйте сказать то же самое про &quot;Пламя над бездной&quot; или &quot;Гиперион&quot;, в которых маштаб и накал происходящего заставляет читателя впасть в транс.
</p>
 
<p>
Почему это происходит, понятно. Не мне вам рассказывать про глобализацию, неуверенность современного человека в реальности и завтрашнем дне, а также усложнении всего сущего и жизни в целом.
</p>

	