Id: 7c9bfdf8-4990-4fd3-b2f9-7cdb1e9728c4
Title: "Крит — 15, Монастырь Аркади (Arkadi)"
Published: "2008-10-13"
Slug: "2008-10-13 Крит — 15, Монастырь Аркади _Arkadi_"
-
<p>
На следующий день мы прямо с утра отравились в Ираклион, чтобы посмотреть Кносский дворец, но по пути решили заехать в монастырь, указанный в путеводителе. Называется он Аркади, и крайне знаменит тем, что являлся сосредоточием восстания 1866 года против турков (опять эти противные&nbsp; неугомонные). Как нам уже известно, к этому году турки владели Критом уже два столетия, несмотря на постоянные кровавые восстания. В 1866 началась прямо-таки революция, а штаб-квартирой выбрали монастырь, находящийся в 23 км от Ретимно, тогдашего центра власти.
</p>
[more text=Читать про кровавую баню при защите монастыря] 
<p>
<a href="/files/blogengine/Writer/15_F671/IMG_0325.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/IMG_0325_thumb.jpg" border="0" alt="IMG_0325" title="IMG_0325"  ></a>
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
Сначала мы даже как-то разочаровались: стенка как стенка
</p>
 
<p align="left">
Почему монастырь выбрали для этой цели, мы поняли уже на подъездах – к нему вела одна дорога, и та с жутким уклоном и зажата между скал. С некотором трудом я смог верно выбрать направление, потому что GPS у нас не было, да и врёт он на Крите часто.
</p>
 
<p>
Когда турецкий паша, правящий в тот момент из Ретимно, выяснил, что повстанцы заседают в монастыре, он потребовал у настоятеля Габриэля Маринакиса сдать негодников под угрозой уничтожения строения. Паша сглупил: настоятель сам был боссом повстанческого комитета, и сразу по получении ультиматума стал укреплять оборону. Всё для того, чтобы однажды проснуться, и обнаружить, что вокруг собрались 15 тысяч турецких солдат и 30 пушек. Добрались-таки, поганцы, несмотря на труднодоступность. В монастыре же были лишь 259 горцев с ножиками, включая 45 монахов и 12 заседателей комитета. Плюс 700 женщин и детей, сбежавшихся под стены монастыря при виде турецких солдафонов.  
</p>
<p align="center">
<a href="/files/blogengine/Writer/15_F671/IMG_0326.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/IMG_0326_thumb.jpg" border="0" alt="IMG_0326" title="IMG_0326"  ></a> Обошли со всех сторон, чтобы проверить, всё везде ли стенка
</p>
 
<p align="left">
Требование турков сдаться было встречено ураганным огнём: видимо, у защитников были не только ножики. В мельнице неподалёку засели критские снайперы: их конечно перебили понемногу, но далеко не сразу. В первый день монастырь устоял: ночью двое спецагентов выбрались из окна, прошли мимо гор турецких трупов и пошли искать помощи. Когда они узнали, что взять её неоткуда, один вернулся обратно на верную смерть.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/15_F671/IMG_0327.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/IMG_0327_thumb.jpg" border="0" alt="IMG_0327" title="IMG_0327"  ></a> Если бы они и мусорники делали из камней, смотрелось бы органичнее
</p>
 
<p align="left">
Во второй день сражения турки подвезли серъёзный калибр из Ретимно, и стали дырявить внешние ворота и стены, которые мы видели на фото выше. Настоятель сказал всем пройти внутрь,&nbsp; а сам стал играть в терминатора и отстреливаться, зная, что его приказано взять живым. Понятно, что его застрелили, но перед этим он якобы всех перекрестил. Истинный терминатор был!
</p>
 
<p align="center">
<a href="https://flickr.com/photos/wiz-arts/2852021566/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/image.png" border="0" alt="image" title="image"  ></a> В конце-концов мы проникли внутрь. А тааам!
</p>
 
<p align="center">
&nbsp;<a href="/files/blogengine/Writer/15_F671/IMG_0343.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/IMG_0343_thumb.jpg" border="0" alt="IMG_0343" title="IMG_0343"  ></a> Это герои-защитники монастыря. По центру – настотель Габриэль, по-нашему Гаврила
</p>
 
<p align="left">
К обеду от внешних стен ничего не осталось: турки утюжили как следует, не желая больше рисковать. Боевприпасы обороняющихся были на исходе, исход дела был ясен. Дядька на фото справа,&nbsp; по имени Констанин, решил, что раз уж боевой дух высок, надо пользоваться. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/15_F671/IMG_0340.jpg"><font color="#acb613"></font><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/IMG_0340_thumb.jpg" border="0" alt="IMG_0340" title="IMG_0340"  ></a> За деревом спряталось чудо – питьевой фонтанчик с водой американского образца, единственный на Крите, что я видел
</p>
 
<p>
Итак, турки ворвались внутрь, где их встретили оставшиеся бойцы с ножиками наголо. Куда же подевался Константин с женщинами и детьми? Он был в пороховом погребе, вместе с 400 noncombatant'ами. Когда турки были совсем близко, Константин залихватски швырнул зажжёную сигарету в бочку с порохом. Зверский взрыв потряс монастырь, убил всех безумных храбрецов в погребе и пару сотен турецких солдат. Когда дым рассеялся, выяснилось, что 864 критянина полегли, но захватили с собой в могилу почти вдвое больше неприятелей. Оставшихся в живих 114 защитников немедленно казнили турки, трём удалось скрыться и сочинить это историю.&nbsp; Интересно лишь знать, что говорят о ней участники с другой стороны?
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/15_F671/IMG_0341.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/IMG_0341_thumb.jpg" border="0" alt="IMG_0341" title="IMG_0341"  ></a>Растение
</p>
 
<p align="left">
Как бы то ни было, грамотная раскрутка сделала своё дело: про турецкие зверства узнали в Европе, и великие державы в составе Англии, Франции, Италии и России ввели на остров миротворческие войска, что привело впоследствии к независимости Крита.&nbsp; Так что если вы думаете, что раньше что-то было иначе, подумайте ещё раз. Пропаганда и геополитика всегда были одинаковыми: меняется только состав участников.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/15_F671/IMG_0329.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/IMG_0329_thumb.jpg" border="0" alt="IMG_0329" title="IMG_0329"  ></a> Кошка. Не знаю, видно ли размер, но она маленькая
</p>
 
<p>
Интересно, что все встреченный мною кошки на Крите были сильно меньше наших. Думаю, вполне логичным будет поспекулировать о том, что жара каким-то образом влияет на органы, выделяющие гормоны роста, ну или что-то похожее.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/15_F671/IMG_0332.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/IMG_0332_thumb.jpg" border="0" alt="IMG_0332" title="IMG_0332"  ></a> Котёнок рыжий
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/15_F671/IMG_0335.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/IMG_0335_thumb.jpg" border="0" alt="IMG_0335" title="IMG_0335"  ></a>Котёнок обычный
</p>
 
<p align="center">
&nbsp;<a href="https://flickr.com/photos/63265510@@@@N00/2330684117/sizes/l/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/image_3.png" border="0" alt="image" title="image"  ></a>Эти не из монастыря, но тоже ведь мелкие! 
</p>
 
<p align="center">
<a href="https://flickr.com/photos/stg_gr1/135808891/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/image_4.png" border="0" alt="image" title="image"  ></a>Зелень на Крите любят 
</p>
 
<p align="left">
Кстати, монастырь отстроили обратно уже через 4 года после восстания. Сейчас его реставрируют как следует: за хозяйством и садом следят два монаха, зато вокруг толпы строителей, обновляющих стены.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/joerg1975/1345396619/sizes/l/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/image_5.png" border="0" alt="image" title="image"  ></a> Внутренняя церковь с другой стороны<a href="/files/blogengine/Writer/15_F671/DSCN3661.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/DSCN3661_thumb.jpg" border="0" alt="DSCN3661" title="DSCN3661"  ></a>Фотка сделана Татьяной
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/15_F671/DSCN3662.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/DSCN3662_thumb.jpg" border="0" alt="DSCN3662" title="DSCN3662"  ></a>&nbsp; Фотка сделана Сергеем
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/15_F671/DSCN3665.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/DSCN3665_thumb.jpg" border="0" alt="DSCN3665" title="DSCN3665"  ></a> Мрачные казематы ведут в темницу с мощами
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/15_F671/IMG_0347.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/15_F671/IMG_0347_thumb.jpg" border="0" alt="IMG_0347" title="IMG_0347"  ></a>А может, это защитников монастыря уложили в шкап
</p>
 
<p align="left">
После визита в Аркади, мы продолжили путь в Ираклион, чтобы увидеть то, что ни один турист на Крите не пропускает. А именно - Кносский дворец, тот самый, где держали минотавра. Но про это – в следующей серии.</p><p align="left"><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p align="left">
</p>

	