Id: 4467e75a-a06d-411d-b0f7-f07b391c2643
Title: "Отличный EP  - Obywatele IV Swiata"
Published: "2008-08-11"
Slug: "2008-08-11 Отличный EP  - Obywatele IV Swiata"
-
Уже полгода хотел написать, но всё никак руки не доходили. Есть отличнейший, но малоизвестный  EP польской группы Masala Soundsystem. Называется он Obywatele IV Swiata, то есть жители четвёртого мира. Нетрудно догадаться, что четвёртый мир &ndash; это эксСССР.<br />
 Альбом &ndash; остросоциальный рэп под  восточные мотивы в духе world, но бодрые, как и сама читка.<br />
 Речь, понятное дело, идёт о теократии псевдокатолицизма (доминирование религии в обществе &ndash; больная в Польше тема), правлении гнилого западного мира и его фальшивых ценностей, выкачивании им денег, оккупациях, и прочих актуальных вещах. К моему сожалению, я польский не знаю совсем, поэтому всё, что могу &ndash; вычленить знакомые славянские слова. Кстати, в целом мне польский не нравится в музыке, как и латышский, а тут вот редкий случай, когда совсем наоборот.<br />
 Всем качать!<br />
 
<p>
Прямая веб-ссылка с докачкой, работать будет неделю (34 MB):<br />
<a href="/warez/c5a7c66de923c6fe00fb23ebd86a9684/489f1e91//Masala%20-%202007%20-%20Obywatele%20IV%20Swiata%20EP.rar">Masala - 2007 - Obywatele IV Swiata EP.rar</a>
</p>
 <a href="https://sharebee.com/b045a344">Ссылка на файлопомойки</a>

	