Id: af5e3f94-9e27-4791-89fd-a46ff559856d
Title: "США — 17, Мексиканская кухня"
Published: "2008-07-14"
Slug: "2008-07-14 США — 17, Мексиканская кухня"
-
<p>
Мексиканской кухней, нас, понятное дело, кормил Алехандро, он любит готовить. Мы были у него два раза.
</p>
 
<p>
Первый раз ели тортильи с гуакамоле, если память не подводит. Тортилья (tortilla) - это лепёшка из кукурузной или пшеничной муки,
</p>
<div class="ljcut">
<p>
 а дальше я процитирую <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D1%80%D1%82%D0%B8%D0%BB%D1%8C%D1%8F">википедию</a>, потому что написано в ней отлично.
</p>
 
<p align="center">
<a href="https://ru.wikipedia.org/wiki/%D0%98%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5:FlourTortillas.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/17Subway_E641/image.png" border="0" alt="image"  ></a><br>
Тортильи
</p>
 
<p>
&nbsp;<em>Тортилья является основой для многих блюд (в основном, </em><a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%BA%D1%81%D0%B8%D0%BA%D0%B0%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%D0%BA%D1%83%D1%85%D0%BD%D1%8F"><em>мексиканской кухни</em></a><em>), например, </em><a href="https://ru.wikipedia.org/wiki/%D0%AD%D0%BD%D1%87%D0%B8%D0%BB%D0%B0%D0%B4%D0%B0"><em>энчилада</em></a><em>, </em><a href="https://ru.wikipedia.org/wiki/%D0%91%D1%83%D1%80%D1%80%D0%B8%D1%82%D0%BE"><em>буррито</em></a><em>, </em><a href="https://ru.wikipedia.org/wiki/%D0%A4%D0%B0%D1%85%D0%B8%D1%82%D0%B0%D1%81"><em>фахитас</em></a><em>, </em><a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D0%BA%D0%BE%D1%81"><em>такос</em></a><em>, </em><a href="https://ru.wikipedia.org/w/index.php?title=%D0%9A%D0%B5%D1%81%D0%B0%D0%B4%D0%B8%D0%BB%D1%8C%D1%8F&amp;action=edit&amp;redlink=1"><em>кесадилья</em></a><em>, где в лепёшку заворачивают различную начинку. Кроме того, тортильи часто подают вместо хлеба к другим блюдам (например, к </em><a href="https://ru.wikipedia.org/w/index.php?title=%D0%A7%D0%B8%D0%BB%D0%B8_%D0%BA%D0%BE%D0%BD_%D0%BA%D0%B0%D1%80%D0%BD%D0%B5&amp;action=edit&amp;redlink=1"><em>чили кон карне</em></a><em>). Они служат основой для пирогов, рулетов с начинкой, </em><a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%BD%D0%B0%D0%BF%D0%B5_%28%D0%BA%D1%83%D0%BB%D0%B8%D0%BD%D0%B0%D1%80%D0%BD%D0%BE%D0%B5_%D0%B1%D0%BB%D1%8E%D0%B4%D0%BE%29"><em>канапе</em></a><em> и сандвичей. Их едят жареными или печеными, подают просто так или сворачивают и наполняют начинкой. Начинка может быть как солёная, так и сладкая. А хрустящие кусочки используют как гарнир и загущают ими супы. Эта лепешка заменяет мексиканцам вилку, ложку и нож — ею набирают соус или придерживают куски мяса, причем такой «столовый прибор» вполне уместно съесть в конце обеда. Поскольку выпечка из кукурузного теста быстро твердеет, едят все это непременно с пылу с жару.</em>
</p>
 
<p>
Гуакамоле - соус на основе авокадо, обязательно с соком лимона или лайма. Последнее - это цитрусовое, похожее на лимон, до того я его пробовал разве что один раз. Мексиканцы широко употребляют лайм для многих блюд.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17Subway_E641/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/17Subway_E641/image_thumb.png" border="0" alt="image"  ></a> <br>
Гуакамоле
</p>
 
<p>
Лепёшки мы ели не просто так, а с супом. Суп сам по себе был не особенно острый. Зато тортильи, используемые вместо хлеба, поливались соусом, вместе это становилось довольно-таки жгучим. Плюс всё это можно было посыпать чили или другими специями из баночки. Суп был похожий на наш куриный, только с фасолью, если не ошибаюсь. К счастью, по консистенции он ничуть не напоминает американские кашесупы, и потому мне понравился. Суп с тортильями - вкусно, ел бы такое каждый день. Но вредно, потому что лепёшки жареные, соус острый и достаточно калорийный, как и суп.
</p>
 
<p>
Потом я ещё ел арбуз. Если вы не знаете, как мексиканцы едят арбуз, вы вообще ничего не знаете про мексиканцев. Они его посыпают перцем, солью и соком лайма (который кстати немного нейтрализует остроту перца). На вкус, это, конечно, порнография - как выражается моя сестра "портят арбуз зазря".
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17Subway_E641/IMG_5335.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/17Subway_E641/IMG_5335_thumb.jpg" border="0" alt="IMG_5335"  ></a>&nbsp;<br>
Я от экзотики не отлыниваю; усердно мажу арбуз перцем и чили
</p>
 
<p align="left">
Это был наш первый приём аутентичной мексиканской пищи. Да этого мы ели ещё неаутентичное буррито в Taco Bell, расположенном в&nbsp; <a href="/post/2008-06-23%20%D0%A1%D0%A8%D0%90%20-%20%D1%87%D0%B0%D1%81%D1%82%D1%8C%202#cutid1">Белвилдерском оазисе</a>. Последнее - это сеть псевдомексиканской еды, сильно адаптированной для американцев, поэтому Алехандро она не нравится. Тако Белл означает Колокол "<a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D0%BA%D0%BE%D1%81">Тако</a>", где второе слово это опять-таки наша старая знакомая тортилья, только на сей раз в виде сэндвича.
</p>
 
<p align="center">
<br>
<a href="/files/blogengine/Writer/17Subway_E641/image_4.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/17Subway_E641/image_thumb_3.png" border="0" alt="image"  ></a>&nbsp;<br>
В США 5845 ресторанов Тако Белл
</p>
 
<p align="left">
А вот <a href="https://ru.wikipedia.org/wiki/%D0%91%D1%83%D1%80%D1%80%D0%B8%D1%82%D0%BE">буррито</a> - это запакованная тортилья из пшеничной муки с начинкой в виде фарша, фасоли, помидоров и прочего.&nbsp; В Тако Белл туда кладут сметану и кетчуп, что мне не по нраву, да и фасоль слишком сильно чувствуется, в отличие от супа. В общем, не сказать, чтобы мне понравилось, да оно и к лучшему - нечего привыкать к фастфуду. Ещё мы там пили <strong>smoothie</strong>. Лингво это переводит как "галантный кавалер", но это не наш случай, мы переведём скорее как "мешанинка" или "мякотинка". На деле это просто сладкий охлаждённый напиток из мелко перемолотых свежих и замороженных фруктов, иногда с молоком или йогуртом, но всегда с мелко перемолотым льдом. Наш напиток с манго и клубникой был на вкус отвратный -&nbsp; даже сестре не понравился, хоть она и американка уже. При этом продавец нам его посоветовал как вкусный. Не думаю, что он сознательно соврал ради несчастного доллара - скорее уж действительно так думал.
</p>
 
<p align="center">
<a href="https://en.wikipedia.org/wiki/Burrito"><img style="border-width: 0px" data-src="/files/blogengine/Writer/17Subway_E641/image_5.png" border="0" alt="image"  ></a> <br>
Буррито - начинка плотно завёрнута (wrapped), и это важно
</p>
 
<p align="left">
В Six Flags мы ели <a href="https://ru.wikipedia.org/wiki/%D0%A4%D0%B0%D1%85%D0%B8%D1%82%D0%B0%D1%81">фахитас</a>, что опять-таки просто пшеничные лепёшки с начинкой, но в отличие от прошлых видов, тут теоретически надо самому выбирать из того, что лежит на столе. Само собой, покупая его в киоске ничего ты особенно выбрать не сможешь, разве что один из трёх видов готовой начинки, и класть ли на блин сметану. Мы с Алехандро сметану не любим, нам и не положили. Фахито в Six Flags отличался от других лепёшкоблюд только тем, что лепёшку не завернули до конца, а просто навалили на середину начинки, как бы и сам ты сделал, если бы ел её за столом. В любом случае, блюдо было вкусным и в меру остреньким (до степени "американцы не жалуются"), так что мне понравилось. Фахита - блюдо не совсем мексиканское, а скорее то, что называют Tex-Mex. Это означает американизированную техасскими ковбоями мексиканскую кухню. У нас в Даугавпилсе даже недавно открылся сетевой ресторан с именно таким названием - <a href="https://www.klondaika.com/index.php?inc=14&amp;menu=99">Tex Mex</a>. Я там не был, но сходил бы, если кто тоже хочет, пишите письма.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17Subway_E641/image_6.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/17Subway_E641/image_thumb_4.png" border="0" alt="image"  ></a> <br>
Начинка для фахитас
</p>
 
<p align="left">
В второй раз мы ужинали и общались с родственниками и друзьями Алехандро. Например, прикольным парнем Аберардо, который рассказал, как работая на двух работах на полную ставку, заработал за несколько лет 80000$, построил на эти деньги в Мексике дом, где жил с девушкой и мамой некоторое время. Потом вернулся в США, где закончил вечернюю школу для повышения конкуретноспособности, а позже и притащил свою беременную (на 9 месяце) жену через границу, где у неё успешно родился ребёнок. <a href="https://mistrale1514.livejournal.com/192954.html">Подробнее под замком у сестры</a>, увы.
</p>
 
<p align="left">
Абе, как это говорят на лепре, клёви, потому что худой, в очках, не пьёт и стремится получить лучшее образование, для чего прилагает некоторые усилия. Он также&nbsp; как хорошо знает английский, математику и комп, что для мексиканца&nbsp; явление редкое. Зато Аберардо сторонник домостроя и патриархата, что для мексиканца как раз не редкость. Хорхе, кстати, английского не знает вовсе, хоть и работает на двух работах, включая Мак Дональдс. Понятное дело, это ограничивает возможность работы лишь должностями, где не надо общаться с посетителями, например кухней.
</p>
 
<p align="left">
Ели мы вечером лепёшки с начинкой и сальсой. Ещё Алехандро потом пожарил мясо на гриле в прикольном нежном апельсиновом соусе, не то что наши бесконечные уксусы. Американцы, кстати, всегда делают не шашлык - долго возится и неудобно, а жарят мясо на гриле. 
</p>
 
<p align="center">
<a href="https://en.wikipedia.org/wiki/Salsa_%28sauce%29"><img style="border: 0px none " data-src="/files/blogengine/Writer/17Subway_E641/image_7.png" border="0" alt="image"  ></a>&nbsp;<br>
Зелёная и красная сальсы. В первый раз мы ели зелёную, во второй - красную.
</p>
 
<p align="left">
Вернёмся к нашим лепёшкам. Сальса - это просто название любого соуса, но в американском английском скорее имеется в виду нечто на основе чили и томатов.&nbsp; На сей раз соус получился таким адски острым, что даже Алехандров друг Хорхе не выдержал, и пошёл прополоскать рот. А я выдержал, потому как надо же прочувствовать экзотику как следует. Надо сказать, что это было самое острое, что я ел в жизни - до такой степени, что даже слёзы текли. Теперь в Латвии я могу смело везде есть самое острое - всё равно ничего не сравнится с огненностью настоящей мексиканской кухни.
</p>
</div>
<p align="left">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	