Id: 00b41daf-b549-47d9-8b16-e24782872a54
Title: "Йогурт"
Published: "2008-07-09"
Slug: "2008-07-09 Йогурт"
-
<p>
Сегодня ничего писать не буду, потому что подно ушёл с работы и ещё у меня болит зуб.
</p>
 
<p>
Зато я сделал домашний йогурт. Рецепт такой: берёшь магазинный молочный йогурт без добавок с живыми бактериями, кладёшь в кастрюлю с тёплым молоком и ставишь в тёплое место на 6-8-10 часов (в зависимости от температуры).
</p>
 
<p>
Потом ставишь в холодильник на сутки. При употреблении по желанию можно добавить сахар или варенье, или там ягоды.
</p>
<br />
<p>
А я лично пойду играть в Jets&#39;n&#39;Guns, на которую меня подсадили на таинственной лепре
</p>

	