Id: a0ee6d1e-c5af-41f8-86f1-804d5a30bfd5
Title: "<p>Я заболел, но к вашему счастью (надеюсь), в выходные про Крит целую гору накалякал. Так что завтр"
Published: "2008-09-30"
Slug: "2008-09-30 _p_Я заболел, но к вашему счастью _надеюсь_, в выходные про Крит целую гору накалякал. Та"
-
<p>
Я заболел, но к вашему счастью (надеюсь), в выходные про Крит целую гору накалякал. Так что завтра с утра всё будет, хотя изначально планировалось раз в два дня, чтобы все успели прочитать.
</p>

	