Id: 67f25e6e-0706-4157-99f0-1019a17c5da9
Title: "США — 3, Шведский стол"
Published: "2008-06-24"
Slug: "2008-06-24 США — 3, Шведский стол"
-
<p>
На следующий день мы по совету Карины посетили более-менее аутентичный восточный буфет, по-нашему - шведский стол. Аутентичный - означает сравнительно мало адаптированный под американские вкусы. Это, в частности, ведёт к тому, что отдельностоящих овощей и десертов мало, большая часть кухни - смесь обработанных овощей и мяса в соусах. Девиз всех буфетов - "all you can eat", то есть "что сожрёшь - всё твоё".
</p>
 
<p>
Стоил буфет 9$. Из еды есть всякое. Например, я первый раз попробовал на вкус побеги бамбука и увидел вживую eggroll'ы. До того я их видел только в замечательной компьютерной игре <a href="https://www.bit-blot.com/aquaria/media.html">Aquaria</a>, про которую я долго собирался написать, но поленился.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/3_154E/image.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/3_154E/image_thumb.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
Эггроллы, то есть обжаренное тесто, смазанное яйцом, с начинкой из мяса и овощей
</p>
 
<p>
Есть также цыплята в тесте,&nbsp; супы и прочее. Про супы надо сказать отдельно. Они в США всегда очень густые - наш суп американцу кажется водичкой. В США все супы, что я пробовал, по густоте сравнимы с&nbsp; нашим&nbsp; грибным, и с очень сильным вкусом специй/соли. Или они туда белок яичный добавляют?&nbsp; Специи я люблю, а вот грибные супы не очень, поэтому суп по-американски восторга у меня не вызывает. Тут, правда, суп был по-азиатски, но суть та же.
</p>
 
<p>
Ещё забавный факт, про который мне сразу рассказали, чтобы я не попался по незнанию в ловушку. В Америке все напитки кроме кофе по умолчанию подаются холодными и со льдом. Даже если на улице не сказать чтобы жарко. "Ну и что тут такого", скажете вы. А вот что - чай вам тоже подадут холодным и со льдом. Максимум - переспросят, не хотите ли вы "hot tea", а не "cold tea". Впрочем, для большинства американцев это не проблема, потому что они пьют соду. К счастью, не пищевую соду для кухни, как можно подумать по названию. Soda - так в США называются газированные напитки вроде кока-колы.&nbsp; Притом абсолютно в любом заведении общепита есть Fountain Sodas - то есть краники с 4-8 видами лимонада и льдом, большая часть&nbsp; -&nbsp; одного производителя, вроде Pepsi или Coca-Cola, которая ласково называется Coke. Рынок поделен поровну, хотя некоторые говорят, что Пепси больше, что неудивительно, учитывая любовь американцев к сладкому, и то, какое Пепси приторное гавно (<strong>™ </strong><a href="https://tema.livejournal.com/30755.html">Артемий Лебедев</a>). Даёшь везде Кока-Колу! Ещё лучше конечно соки, но они непопулярны, потому что калорийны, а соду всегда можно взять диетическую. Ноль калорий, зато довольно подсластителя аспартама, вызывающего рак у взрослых и attention deficit disorder у детей.
</p>
 
<p>
Кстати, даже если сказать "no ice", напиток всё равно будет холодным. Американцы не&nbsp; связывают болезни, простуду и холодные напитки и еду. Детям, когда у них заболит горло, даже советуют есть мороженое и пить холодную соду. Наши люди несомненно будут крутить пальцем у виска, но говорят, что на первом этапе болезни это действительно помогает.
</p>
 
<p>
Соки дают только на завтрак. А всё потому, что гигансткий маховик маркетинговой машины как раскрутился с догмой "Обязательно апельсиновый сок или молоко на завтрак", так до сих пор и не останавливается. Это кстати, очередной лозунг - а будет их ещё миллиард, потому что нет ничего милее душе американца, чем лозунги и девизы.
</p>
 
<p>
Раз уж меня повело на пищевую тему, упомяну ещё несколько забавных фактов. Например такой, вроде бы за авторством <a href="https://alexmoskalyuk.livejournal.com">alexmoskalyuk</a>, хотя ссылки найти не смог.
</p>
 
<p>
Кока-кола, которую производят в США, вместо сахара содержит кукурузный сироп с высоким содержанием фруктозы. Его используют потому, что налоги на ввоз сахара высокие, а кукурузы США производит больше всего остального мира, вместе взятого, исключая Китай. В Мексике колу делают с тростниковым сахаром, и многие <a href="https://www.signonsandiego.com/uniontrib/20041109/news_1b9mexcoke.html">считают, что это вкуснее и не так вредно для здоровья.</a> В Европе - со свекольным сахаром, что то же самое или даже ещё вкуснее. Судя по всему, это поветрие уже охватило даже такой далёкий от Мексики штат, как Висконсин. В супермаркете Woodman's, про который я расскажу позже, продаётся classic coke, причём именно мексиканского производства. Совпадение ли это, или тонкий расчёт на мексиканских эмигрантов и любителей сахарной колы, понять сложно. 
</p>
 
<p>
Ещё в Америке популярен такой напиток, как root beer. Это вовсе не пиво, как можно было бы подумать, а&nbsp; лимонад с искуственным ароматизатором, который у нашему человеку можно описать только лишь как вкус древних жвачек родом из 90-х. Мне лично лимонад со вкусом жвачки совсем не нравится. Кстати, есть в США и обычный лимонад, причём понимают они это название буквально - это газированный напиток с сильным лимонным вкусом, пить можно, хоть и кисловато.
</p>
 
<p>
В буфете я разумно брал всего очень понемногу, но всё равно чуток объелся. Говорят, большинство африканцев даже без угрозы голода очень трепетно относятся к еде и обжираются при первой возможности - так воспитывает культура, в которой нехватка еды - нормальная ситуация. Очевидно, что некоторые советские люди думают так же - всегда всё доедать&nbsp; и крошек за собой не оставлять. Я к таким тоже отношусь, хотя верным это и не считаю. В целом я скорее за идеалы зелёных и против общества потребления, но насильно заставлять себя доедать или набивать в пузо как можно больше халявной еды - это ужасно. Американцы же экономить не приучены - выключать свет, когда выходишь из комнаты, большинству из них в голову не придёт. Разве что в последнее время, с появившимися "зелёными" тенденциями, ситуация меняется.</p><p><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="line-height: 1.42857; background-color: rgb(246, 246, 246);">К оглавлению</a></p><p>
</p>

	