Id: a4d4b393-cce9-4234-82a3-8c243ce34d9f
Title: "Second Life / Dresden Gallery"
Published: "2008-01-20"
Slug: "2008-01-20 Second Life _ Dresden Gallery"
-
<p>
Я заболел &quot;простудой&quot;.
</p>
 
<p>
Зато поставил Second Life клиент и посмотрел на Dresden Old Masters Gallery. Second Life - это вроде как пресловутая виртуальная реальность, то есть игра, где не надо играть, а надо непонятно что делать. Общатся, наверное.
</p>
 
<p>
Впечатления смешанные. С одной стороны - клиент безбожно тормозит на моём не самом старом компе, выглядит довольно уродливо, и им не особенно легко научится пользоваться. С другой&nbsp; - широкие возможности кастомизации: можно вставлять свои 3д модели, текстуры и картинки, писать скрипты. Благодаря этому SL как виртуальная реальность становится лучше игр, которые в остальном её превосходят.
</p>
 
<p>
Что касается Dresden Gallery - она в Second Life сделана неплохо, картины выглядят достаточно детально, но не все и не всегда. То есть&nbsp; посмотреть на них можно, но цвета бледноваты и не всегда грузится высокое разрешение.
</p>
 
<p>
В целом - это всё пока что слишком сложно и убого, чтобы хоть как-то пользоваться, но любопытствующие могут заглянуть.
</p>

	