Id: da8af305-4b75-400c-8d01-d8c77caf00e4
Title: "Переезд"
Published: "2008-10-27"
Slug: "2008-10-27 Переезд"
-
<p>
<span style="font-size: larger">Дальше идёт такой скучный лытдыбр, что аж челюсть сводит, так что лучше не читайте.</span>
</p>
 
<p>
Я переехал. Потратил на мытьё, ремонт и приведение всего в божеский вид все выходные. К счастью, у меня справа от дома магазин &ldquo;I000 sīkumi&rdquo;, то есть &ldquo;Тысяча чертей мелочей&rdquo;. Первая цифра в названии так и написана, как я привёл. 
</p>
 
<p>
В этой квартире неплохо работает интернет, и аудиоколонки наконец-то стоят так, как должно. И ещё я купил полуфабрикат пиццы и проверил, как работает духовка. Так себе &ndash; или термометр внутри врёт, или она не жарит положенные 250 градусов. Да и пицца не запекается как следует. (Кстати, вместо слова &ldquo;запекается&rdquo; руки напечатали &ldquo;запускается&rdquo;).
</p>
 
<p>
Потом я продался капиталистическим свиньям и сделал карту клиента &ldquo;Максимы&rdquo;, потому что других нормальных магазинов рядом нет.
</p>
 
<p>
В ресторан украинской кухни не попал, потому что новые очки ещё не готовы, надеюсь в понедельник всё это сделаю.
</p>
 
<p>
Так что жить можно, но трамваи за окном слышно, хоть они и на расстоянии 100 метров от меня проезжают.
</p>

	