Id: 8be8fc75-5ecd-46ae-8640-d5fc5c5af9cc
Title: "Third"
Published: "2008-05-07"
Slug: "2008-05-07 Third"
-
<p>
Послушал разок новый Portishead. Ощущения смешанные. Сам альбом - так себе. А вот ролики с живыми выступлениями на ютубе мне нравятся. Живое исполнение делает композиции не такими вычурными, минималистичнее и грубее, что идёт им на пользу.
</p>
<p>
Кстати, диск и mp3 продаются на <a href="http://www.amazon.com/Third/dp/B0018CA996/ref=dm_ap_alb1">амазоне</a> практически за одну цену - 9/10 долларов. С одной стороны, лейблы совсем офигели так делать, а с другой - сама цена сравнительно невелика.<br />
</p>

	