Id: a98878e7-2dbd-4641-aff9-0010f68ad857
Title: "ЖЖ"
Published: "2008-01-05"
Slug: "2008-01-05 ЖЖ"
-
<p>Хм, что-то меня ЖЖ ограничивать стал. Не могу решить, делать standalone с транляцией, или потерпеть?</p> <p>В конце-концов, я почти не связан с ЖЖсферой, я аккаунт изначально завёл для комментариев.</p>
	