Id: d2dcbb08-baf8-451b-b43c-d5b67c2a6b4c
Title: "США — 27, Wisconsin Dells"
Published: "2008-07-29"
Slug: "2008-07-29 США — 27, Wisconsin Dells"
-
<p>
&nbsp;
</p>
<p align="left">
Всё у меня в голове смешалось, не помню, когда что было. Так что пусть будет так, как вспомнилось.
</p>
 
<p align="left">
На следующий день мы собиралась в аквапарк, но было слишком холодно и мокро. Из-за огромных объёмов бассейнов вода в Noah’s Ark не подогревается. В итоге мы туда не попали вообще, поэтому писать я про него ничего не буду. Достаточно того, что аквапарк отличный и огромный, там работала моя сестра.
</p>
<div class="ljcut">
 
<p align="center">
<a href="https://flickr.com/photos/22977691@@@@N07/2204610915/sizes/l/"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/image_7.png" border="0" alt="image" title="image"  ></a> <br>
Перевёрнутый белый дом aka Top Secret. Я там не был.
</p>
 
<p align="left">
Вместо аквапарка бродили по улицам WD. Они забиты магазинами, но народу там немного – чёрт знает, наводнение повлияло, будний день или вообще не сезон. Купил себе шлёпанцы (тогда ещё надеялся, что попаду в аквапарк), майку из плотного хлопка (heavy cotton). Забавная штука, раньше у меня таких не было. На майке изображены четыре комара и подпись: “bite me”. В приличном обществе это переводится как “укуси меня”, но на самом деле bite это синоним слова suck, то есть сосать. Однако, народный Urban Dictionary <a href="https://www.urbandictionary.com/define.php?term=bite%20me">говорит</a> нам, что сейчас это выражение надо воспринимать скорее как fuck off, то есть “отвали” в более грубой форме – надеюсь, что слово fuck не надо переводить вообще никому.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/kopper/2117449424/sizes/o/"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/image_8.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Центр WD
</p>
 
<p align="left">
Ещё купил коллеге табличку, с лозунгом, подходящим ему по стилю юмора (он поклонник Саус Парка). Надпись на ней гласила: “<em>Some days you</em>'re the <em>dog</em>, <em>some days you</em>'re the <em>hydrant”, </em>то есть “Есть дни, когда ты – собака, а есть дни, когда ты – гидрант”.&nbsp; Если вам надо объяснять, в чём тут юмор, мне лучше держаться от вас подальше.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/kopper/2116669259/sizes/o/"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/image_9.png" border="0" alt="image" title="image"  ></a> <br>
Есть и такие симпатичные места
</p>
 
<p>
Вечером мы ходили на представление иллюзиониста Рика Вилкокса. Рик выступает со своей женой Сюзан в специальном здании, которым владеет. Всё это называется&nbsp; <a href="https://www.rickwilcox.com">Rick Wilcox Magic Theater</a>. Рик талантлив и знаменит - немногие маги владеют собственным предприятием, как он.
</p>
 
<p>
&nbsp;
</p>
 
<p>
Я раньше на таких выступлениях не был. Сидели мы по моему настоянию близко, для чего купили билеты подороже. Но не на первом ряду – оттуда брали людей для представления. Говорят, они не подставные, так что если ты хочешь на первый ряд, наверное тебя спросят, будешь ли участвовать в шоу. Если кто знает, отпишитесь.
</p>
 
<p>
Как ни странно, статьи в Википедии про Рика нет. Может я его известность и переоцениваю, но меня представление очень впечатлило – как он такие штуки проворачивает, понять абсолютно невозможно. Кстати, сестре Рик внешне понравился – говорит, очень харизматичный и обаятельный. Я людей не очень люблю, а особенно гламурных красавчиков, поэтому мне Рик не сильно симпатичен, но в конце-концов, главное это шоу, а оно <a href="https://lurkmore.ru/%D0%90%D0%BD%D0%BE%D0%BD%D0%B8%D0%BC%D1%83%D1%81_%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BB%D1%8F%D0%B5%D1%82">доставляет</a>. Тем более, что его жена, хоть уже и не молодка, пока ещё вполне ничего. (Эта фраза вставлена специально для коллег, чтобы они меня в свой гей-клуб принять не пытались).
</p>
 
<blockquote>
	 
	<p align="center">
	<a href="/files/blogengine/Writer/17WisconsinDells_BF1A/image_10.png"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/image_thumb_5.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
	Фото <a href="https://club.magicians.com/photo/photo/show?id=1409734%3APhoto%3A17562">отсюда</a>
	</p>
</blockquote>
 
<p>
Из выступления мне особенно&nbsp; понравился самый простой фокус – с верёвкой, которая то делилась на части, то удлинялась, то укорачивалась. Наверное, сделать это не так уж сложно, но выглядит сногсшибательно. Если сайт Рика не врёт, всего фокусов было штук 300. В принципе, можно поверить - ведь шоу длилось 90 минут. На сцену выходили 4 человека из зала – от пятилетней девочки до 60-летнего мужика. Сюзан сменила бесконечное количество платьев, юбок и туфель (Рик тоже не один костюм менял). Кроме того, на каждом шоу Рик придумывает нечто новое – а ведь летом они каждый день, кроме воскресенья. Адская работёнка, скажу я вам. 
</p>
 
<p>
В целом – просто отлично. Всем, кто ещё не был, стоит сходить. Билет на ближний ряд стоит 40$, недёшево. Но рекомендую всё-таки взять такой – чтобы удивление глубже в мозг проникло. 
</p>
 
<p>
Что-то у меня творческий кризис и writer’s block. А может, я так тускл, потому что молчит главный источник моего вдохновения – википедия.
</p>
 
<p align="left">
Раз уж такое дело, придётся для объёма написать, что вечером мы сходили в ресторан Hoolihan’s, то есть Хулиганский. Ел рёбра на гриле, потому что на вывеске значилось: “Best ribs in town", то есть "Лучшие рёбра в городе". Блюдо, как и в первый раз, в rainforest cafe, меня не впечатлило. Зато как апперитив подали салатик, и он был выше всяких похвал. Салатики свежие, особенно с овощами, мне по нраву. Ещё попросил чай. Принесли хоть и в пакетиках, зато целую деревянную коробку с растительными сборами на выбор. Естественно, по американскому обычаю, дурацкие пакетики имели всякие внушительные названия. Я по совету сестры выбрал passion, то есть "страсть". Кипяток и кружку принесли отдельно, напиток, который у нас на работе кое-кто называет "компотик", был неплохим.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17WisconsinDells_BF1A/IMG_5343.jpg"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/IMG_5343_thumb.jpg" border="0" alt="IMG_5343" title="IMG_5343"  ></a> <br>
Открыто с девяти утра до полуночи. 
</p>
 
<p>
Вот, кстати, придумал что-то интересное на забаву читателям. Для меня услуги официантов до сих пор выглядят дико. А всё потому, что я наверное тоже советский человек, и не представляю, как добровольно можно работать прислугой и лакеем. Умом я понимаю, что современный официант таковым совсем не является, да и компенсацию, как это модно сейчас говорить, получает за свой труд достаточную. Но неистребимая левацкость говорит мне, что нехорошо заставлять людей делать такую дурацкую работу, как вовремя приносить и уносить еду.</p><p><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>
</div>

	