Id: c9beb412-d166-43ae-8ce7-ab85d70ca520
Title: "Крит — 10, Rethymnon Fortezza aka крепость города Ретимнон"
Published: "2008-10-06"
Slug: "2008-10-06 Крит — 10, Rethymnon Fortezza aka крепость города Ретимнон"
-
<p>
После нескольких дней на пляже пузом кверху, мы-таки арендовали тачку на два дня. Первым делом рванули в город Ретимно (можно на конце добавить “Н”, если хочется). Машина была какая-то микроскопическая KIA, зато не очень старая. По приезду в Ретимно сразу увидели какие-то занимательные развалины и потопали наверх по древним ступеням, рассматривать. Развалины назывались Fortezza, по-нашему – крепость, а проход внутрь стоил около 4 евро, но добрая тётя-билетёрша сообщила, что мы, как семья, пойдём вчетвером всего лишь за 10. Вот такая критская семья. Не забудьте добавить +1 в копилку расслабона (я уже со счёта сбился, там 6 или 7 единиц). Постоянные читатели из тех, кто повнимательнее, вспомнят, что в рассказе про <a href="/post/SSHA-ndash3b-37-Zaklyuchenie-2008-08-11-223500.aspx">путешествие в США</a> я таким же образом считал лозунги и девизы, любимые американцами. Это неспроста: будь я писателем, не стал бы прямо на это указывать. К сожалению, в блоге нет надежды, что кто-то столь заинтересуется постом, что будет искать постмодернистские отсылки и параллели на предыдущие записи. В принципе, оно наверное того и не стоит, потому что такого у меня всё равно мало. В любом случае, критяне, в отличие от американцев, особой любви к девизам не испытывают, зато испытывают перманентное состояние расслабленности.
</p>
 [more text=Очень много картинок с изображением Фортезы и ехидными комментариями] 
<p>
Сейчас будет очень много картинок с изображением Фортезы, так что приготовтесь морально, пожалуйста. 
</p>
 
<p align="center">
<a href="https://flickr.com/photos/12720380@@@@N02/2851549412/sizes/l/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/image.png" border="0" alt="image" title="image"  ></a>Так крепость выглядит со стороны 
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0122.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0122_thumb.jpg" border="0" alt="IMG_0122" title="IMG_0122"  ></a>
</p>
 
<p align="center">
А так выглядит берег 
</p>
 
<p align="left">
Фортеза была построена на скале Палаиокастро венецианцами в 1573. До того, на горе удобно располагался акрополь города Ретимна. Архитектор по имени Сфорза Паллавицини из-за острой нехватки места забил на планы и строил по наитию, пытаясь втиснуть мегакрепость на крошечный пятачок. Как видим, расслабленность здешних жителей имеет фенотипический характер, а не генотипический, то есть происходит из-за климата, а не от предков – архитектор с таким именем наверняка был венецианцем, а не критянином. Крепость, кстати, уже тогда была открыта для посетителей, потому что внутри была церковь и прочие сооружения сомнительной полезности.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0132.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0132_thumb.jpg" border="0" alt="IMG_0132" title="IMG_0132"  ></a>На входе – классические ананасовые пальмы 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_2936.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_2936_thumb.jpg" border="0" alt="IMG_2936" title="IMG_2936"  ></a> Фортезза конечно неприступна, но турки её захватывали на раз-два. Фото – <a href="https://www.vreshch.com/">Рэмбо</a>
</p>
 
<p align="left">
Турки после захвата мало что изменили, подробнее дальше. Зато реставрировать ксооружение начали уже в 19 веке. А в двадцатом евросоюз подкинул бабла, и организация с волшебным названием 28th Ephorate Of Byzantine Antiquities рьяно взялась за дело. Но поскольку Крит – страна вечного расслабона, запала надолго не хватило, и половина зданий в Фортезе так и прибывает в развалинах.
</p>
 
<p align="center">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0160.jpg" border="0" alt="IMG_0160" title="IMG_0160"  >Фактура стены – просто загляденье
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0134.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0134_thumb.jpg" border="0" alt="IMG_0134" title="IMG_0134"  ></a> Обычная панорама критских бараков
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0138.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0138_thumb.jpg" border="0" alt="IMG_0138" title="IMG_0138"  ></a> Попытайтесь прочитать первое слово на табличке (не в заголовке)
</p>
 
<p align="left">
Прав был Пушкин, негодные греки. Лишь бы издеваться на русскими – вроде и знакомые буквы, ан зуб неймёт.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_2931.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_2931_thumb.jpg" border="0" alt="IMG_2931" title="IMG_2931"  ></a> Мечеть султана Ибрагима Хана, фотка <a href="https://www.vreshch.com/">Рэмбо</a>
</p>
 
<p align="left">
В 1646 турки захватили город, а в крепости построили мечеть в честь правящего султана.&nbsp; Не просто построили, а пристроили к существующей церкви, бусурмане! Зато сейчас здесь устраивают дискотеки. А всё потому, что акустика хорошая, благо купол – один из самых больших в Греции, хоть этого и не видно на картинке. Может, он внутри больше, чем снаружи? Это такая доходчивая идея, что даже в популярной культуре всё время возникает, не только в фантастике или фэнтези.
</p>
 
<p align="left">
Ещё турки, как просвящённая и гигиеничная, в отличие от тогдашних диких европейцев, цивилизация, пристроили к дому советников хамам, хоть и маленький. Хамам – это баня. Впечатлённые этим фактом, масоны из 28 Эфората (см. выше) первым делом бросились реставрировать именно её.
</p>
 
<p>
&nbsp;
</p>
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_2935_thumb.jpg" border="0" alt="IMG_2935" title="IMG_2935"  >  
<p align="center">
Туркам явно сдались не без боя, фотка <a href="https://www.vreshch.com/">Рэмбо</a>
</p>
 
<p align="left">
Гм, что же будет, когда пушки от ржавчины рассыпятся в труху? Думаю, подвезут из казематов, наверняка есть в загашниках ещё сотня-другая. А может, отольют новых, всё равно никто не отличит. Вон, японцы поддельные древние замки десятками строят, и никто слова им не говорит.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0163.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0163_thumb.jpg" border="0" alt="IMG_0163" title="IMG_0163"  ></a> Обратите внимание на форму и толщину листьев, дети
</p>
 
<p align="left">
На Крите жарко, но не чрезмерно. Воды мало, но не слишком. Оттого и такие листья – мясистые, не испаряющие влагу, но при этом всё-таки листья, а не иголки. И корпус жёсткий и деревообразный, чтобы жара не донимала.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0200.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0200_thumb.jpg" border="0" alt="IMG_0200" title="IMG_0200"  ></a> Цвести при +30 и полном отсутствии воды – это сильно. Я бы так не смог
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0139.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0139_thumb.jpg" border="0" alt="IMG_0139" title="IMG_0139"  ></a> Я и Жора Несун Победы
</p>
 
<p align="left">
Кстати, все святые на греческих иконах выглядят как метросексуалы. Всё по Фрейду, подавленная сексуальность монахов-иконописцев даёт о себе знать.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0182.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0182_thumb.jpg" border="0" alt="IMG_0182" title="IMG_0182"  ></a>Таня припомнила грехи и застремалась. Мне же терять нечего – и так буду вечно гореть в аду за атеизм
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0184.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0184_thumb.jpg" border="0" alt="IMG_0184" title="IMG_0184"  ></a>На Крите так жарко, что свечи даже не нужно зажигать – они плавятся и так
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0181.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0181_thumb.jpg" border="0" alt="IMG_0181" title="IMG_0181"  ></a> “Пожалуйста, кидайте деньги в коробку”
</p>
 
<p align="left">
Толково придумано. Надо на работе поставить такую табличку. Глядишь, разбогатею. Попы вообще на выдумки хитры.
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_2933.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_2933_thumb.jpg" border="0" alt="IMG_2933" title="IMG_2933"  ></a> Не знаю, что это – мы тут не были, фотка <a href="https://www.vreshch.com/">Рэмбо</a>
</p>
 
<p align="left">
Дырка в потолке вместо окна – это толково, но почему тогда не предусмотрена ливневая канализация? А, это же Крит, тут дождей не бывает.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0165.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0165_thumb.jpg" border="0" alt="IMG_0165" title="IMG_0165"  ></a>В фортезе все деревья были усыпаны черепашками, создающими невыносимый шум
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/8_11969/IMG_0174.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/IMG_0174_thumb.jpg" border="0" alt="IMG_0174" title="IMG_0174"  ></a>Главные герои крупным планом
</p>
 
<p>
Раз уж я разошёлся, накидаю вам ещё фоток с фликра.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/matt1962/1196809534/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/image_3.png" border="0" alt="image" title="image"  ></a> Не всегда на Крите сушь
</p>
 
<p align="center">
<a href="https://flickr.com/photos/kluzz/2759489245/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/image_4.png" border="0" alt="image" title="image"  ></a> Арки
</p>
 
<p align="center">
<a href="https://flickr.com/photos/damfast/1357357765/sizes/l/in/set-72157600859801985/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/8_11969/image_5.png" border="0" alt="image" title="image"  ></a> Это порт, он здесь рядом
</p>
 
<p align="left">
В целом, конечно, фортеза – это мощь. Всё такое древнее и могучее, прямо как в анекдоте про “всё такое вкусное”. Мне понравилась, хоть и карабкаться туда-сюда надо было, а ведь силы нужно ещё поберечь на сам город Ретимно, рассказ про который у нас впереди.<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;</a></p><p align="left"><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	