Id: 0b801cbb-c245-4455-876c-67f82bed9620
Title: "Гороскоп"
Published: "2008-03-12"
Slug: "2008-03-12 Гороскоп"
-
(осторожно, множественные матюги)<br />
Первый раз вижу <a href="https://users.livejournal.com/_graf/361078.html">работающий гороскоп, да ещё и весёлый</a><br />
Подкинула <a href="https://phoneme.livejournal.com/682418.html?view=8284082#t8284082">Соня</a>

	