Id: e8bfa678-02e9-46e0-9e13-585c70f4e719
Title: "Так победим"
Published: "2008-10-24"
Slug: "2008-10-24 Так победим"
-
<p>
Я однако же переезжаю (it&rsquo;s official), заказал новые очки с фотохромными стёклами ака хамелеонами и через 20 минут ставлю первую зубную коронку. А всё потому, что в отпуске на неделю. Хорошо бы ещё в Ригу на выходных попасть.
</p>
 
<p>
И, кстати, я побывал в местных отделениях фастфуд-сетей Hesburger и Southern Fried Chicken. В первом класс повыше, но гамбургер всё равно на мой вкус не до конца хороший. Во втором цены пониже и в гамбургере больше овощей, но на вкус он попроще.
</p>
 
<p>
В итоге выяснил, что я к гамбургерам никакой любви не испытываю, что и ожидалось. Плюс они странно пахнут трупами убитых животных (дежурная веганская шутка).
</p>
 
<p>
А на прошлой неделе мы на работе ели пиццу из Southern Fried Chicken. Средняя пицца. А может, я и пиццу не люблю, черт его знает.
</p>
 
<p>
Завтра для пробы схожу в заведение украинской кухни &ndash; когда только открылось, все сильно хвалили. Впрочем, это всегда так &ndash; потом уровень падает.
</p>

	