Id: a674279e-5111-47b0-b03e-080ed0ec6f02
Title: "Смешное"
Published: "2008-10-12"
Slug: "2008-10-12 Смешное"
-
<p>
<a href="http://www.guardian.co.uk/commentisfree/2007/aug/13/fashion.comment" title="http://www.guardian.co.uk/commentisfree/2007/aug/13/fashion.comment">http://www.guardian.co.uk/commentisfree/2007/aug/13/fashion.comment</a>
</p>
 
<p>
Смешная статья в гардиан про то, что ночные клубы &ndash; бункеры с оглушающим шумом и запахом, посетители которых так мучаются, что вынуждены принимать наркоту, чтобы это хоть как-то вытерпеть. И ещё они друг-друга фотографируют, чтобы доказать друг-другу, что ещё существуют. А на самом деле никому там не нравится, и всё это мартышечьи показушки. Читать статью вовсе не обязательно, потому что я вам её пересказал. А вывод там и вовсе забавный: может и стоит хотя бы притворяться, что кайфуешь, всё равно через десяток лет в радиоактивной пустыне будем резать глотки за консервы.
</p>

	