Id: c07f3fa5-2efb-4b3e-8cce-ee7f0d8d17b6
Title: "Телевизор"
Published: "2008-11-10"
Slug: "2008-11-10 Телевизор"
-
<p>
У меня телевизора сейчас нет. Но когда я жил с родителями, во время готовки и приёма пищи смотрел душеполезный канал Евроньюс. Его я часто цитировал в духе &ldquo;наша еврокомиссия нас бережёт&rdquo;. Один раз я попытался узнать, можно ли его смотреть через интернет, но нашёл только платный сервис &ndash; jalipo.com (на сайте которого сейчас странная надпись).
</p>
 
<p>
Зато повторая попытка недавно удалась. Я сначала зашёл на сайт одного из первых p2p TV &ndash; joost.com, но там канал представлен отдельными передачами, и к тому же на английском. Зато после этого я додумался в гугле поискать с ключевыми словами p2p tv, а не просто &ldquo;онлайн-трансляция евроньюс&rdquo;. И счастье наступило. Как оказалось, евроньюс транслирует сервис <a href="https://livestation.com">https://livestation.com</a>, причём даже на русском. И к тому использует идеологически мне родной Silverlight (что не имеет значения, да и вроде бы отказались они уже от Силверлайта).
</p>
 
<p>
Так что теперь я могу с комфортом узнавать, что опять выдумали евробюрокарты для ограничения мегакорпораций , как фермеры экономят электричество&nbsp; и почему глючит новый европейский КА (космический аппарат).
</p>
 
<p>
Почти как в песне группы Ноль &ldquo;Радиолюбитель&rdquo;.<br />
<br />
<em>Болит душа от возмущенья, <br />
Приемник боязно включить: <br />
&quot;Дюрэн Дюрэн&quot; и &quot;Айрон Мэйдэн&quot; <br />
Мешают мне спокойно жить. </em>
</p>
 
<p>
<em>А мне не нужен вражий голос, <br />
Всю ночь я слушаю &quot;Маяк&quot;. <br />
Я знаю, как восходит колос <br />
И чукчи пляшут краковяк. </em>
</p>
<p>
<em>Мой мозг забит и жаждет мести. <br />
О, как наивно и смешно: <br />
Враги без совести и чести <br />
Мне лезут в душу, как в окно. </em>
</p>
<p>
<em>Ехидный голос капитала <br />
На ложный наставляет путь. <br />
Но пропаганда запоздала. <br />
Ему меня не обмануть. </em>
</p>
<p>
<em>Я старый радиолюбитель <br />
И я хитрей, чем гнусный враг. <br />
Куплю я громкоговоритель <br />
И буду слушать лишь &quot;Маяк&quot; </em>
</p>
<p>
<em>И мне не нужен &quot;Роллинг Стоунз&quot;, <br />
И мне не нужен &quot;Зеппелин&quot;. <br />
Я знаю точно, зреет колос <br />
И производят вазелин.</em>
</p>

	