Id: ce355407-0caa-4f7e-a2c3-7159ef89f21e
Title: "США — 26, Прибытие в Wisconsin Dells и озеро Delton"
Published: "2008-07-29"
Slug: "2008-07-29 США — 26, Прибытие в Wisconsin Dells и озеро Delton"
-
<p>
Долго ли, коротко ли, но попали мы в Wisconsin Dells, дословно - Лощины Висконсина, хотя мне почему-то всегда казалось что это "Холмы". WD - город недалече от Мэдисона, с населением в две тысячи голов. В его окрестности, которые американцы неформально называют Dells, за год приезжает пять миллионов туристов. Моя сестра там когда-то жила и работала в самом большом американском аквапарке - Noah's Ark, то есть Ноев Ковчег. Вообще в&nbsp; Деллс 21 аквапарк - 3 на улице в 18 в помещениях, так что Деллс не без оснований считает себя аквапарковой столицей мира. Наверное, изишне напоминать, но это опять максималистский девиз, коих я приводил уже предостаточно.[more text=Читать и смотреть про наводнения]  
</p>
<p>
Понятно, что приезжают в основном туристы из Midwest, что можно кухонно перевести как среднезапад.  
</p>
<p align="center">
<a href="/files/blogengine/Writer/17WisconsinDells_BF1A/image.png"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/image_thumb.png" border="0" alt="image"  ></a>  
</p>
<p>
<br>
Область США, почему-то известная как Midwest, хотя это и нелогично.  
</p>
<p>
<a name="cutid1" title="cutid1"></a> 
</p>
<p>
Вообще американцы достаточно быстро вводят новые слова в язык и то, что недавно было сленгом, становится вполне официальным наименованием, которое появляется даже в словарях. Я такое приветствую -&nbsp; в конце-концов, надо же как-то называть новые явления? От языка не убудет, он так и возник, и глупо искуственно ограничивать его развитие бюрократическими методами.  
</p>
<p>
В Деллс есть не только аквапарки: там ещё и кучи магазинов, два озера (про которые позже), всякие там замки страха, крутой фокусник Рик Вилкокс, парки развлечений с каруселями, минигольф, картинги, казино Хо-Чанк, туры на лодках и амфибиях и прочее.  
</p>
<p>
Для начала мы заселились в мотель, который легко снять сходу, хоть и лето. В мотеле барахлил телевизор, да ещё сразу в двух ипостасях: MPEG квадратиками (кто смотрел цифровые трансляции, знает о чём я) и аналоговым шумом. Последнее убралось манипуляциями с антенным штекером сзади ящика. Вот интересно, американцы стали бы исправлять дефект как я, или они скорее бы позвали портье?  
</p>
<p>
В любом случае, телек нам нужен быть чтобы посмотреть прогноз погоды. Всё дело в том, что за несколько дней до моего приезда на штат обрушились стремительные ливни, которые привели к самым большим наводнениям за последние 50 лет. Это как раз тот случай, когда легче показать, чем рассказать.  
</p>
<p align="center">
&nbsp;
</p>
<br>
Был дом - нету дома 
<p>
&nbsp;
</p>
 
<p align="center">
&nbsp;
</p>
<br>
Было дерево - нету дерева 
<p>
&nbsp;
</p>
<br>
<br>
<p>
<br>
Владелец дома дал интервью CNN, где пожаловался на свою горькую судьбу - он не был мультимиллионером  и дом составлял немалую часть его имущества. Зато внутри в момент смыва никого не было, что радует.  Интересно, что CNN после интервью показала счёт для пожертвований. Вечерние новости смотрят десятки миллионов человек, и обычно акула ньюсмейкерства такой добротой не славится, так что логично подозревать сделку - интервью потопильца в обмен на баблосборник CNN. Впрочем, если человек смог купить такой дом при тогдашних задранных ценах на жильё, он богат. Если он богат, то деньги скорее всего заработал (80% получают богатство именно так, что бы там не думал мой друг панк и анархист). А если он их заработал один раз, заработает и во второй. Весь этот вопрос не стоял бы, если бы у дома была страховка. Но её не было по странным бюрократическим причинам, которые выше моего желания разбираться.
</p>
 
<p>
&nbsp;
</p>
<p>
Что касается озера Дэлтон (Lake Delton), на котором и стоял злополучный дом, оно искусственное, и создано было аж в 1927 году для привлечения туристов. Озеро постигла печальная судьба, которую лучше всего объяснит фотография.  
</p>
<p align="center">
<a href="/files/blogengine/Writer/17WisconsinDells_BF1A/IMG_5337.jpg"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/IMG_5337_thumb.jpg" border="0" alt="IMG_5337" title="IMG_5337"  ></a><br>
Здесь было озеро Дэлтон.  
</p>
<p>
- Что случилось с вашей подводной лодкой?<br>
- Она утонула. ° Путин  
</p>
<p>
-Что случилось с озером Дэлтон?<br>
-Оно вытекло ° Fox News Wisconsin  
</p>
<p>
Кстати, Fox News - пристанище республиканцев и неоконсерваторов, насквозь пропитанная лживостью и лицемерием помойка, смотреть которую чревато потерей разума. Они не гнушаются не только передёргиваний, но и явной лжи и <a href="https://mediamatters.org/items/200807020002">фальсификации фотографий</a> (есть ещё фотка с фальшивыми ракетами, якобы из Ирана) .  
</p>
<p align="center">
<a href="/files/blogengine/Writer/17WisconsinDells_BF1A/image_3.png"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/image_thumb_3.png" border="0" alt="image" title="image"  ></a> <a href="/files/blogengine/Writer/17WisconsinDells_BF1A/image_4.png"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/image_thumb_4.png" border="0" alt="image" title="image"  ></a><br>
Вот так Fox News втихую переделывает фотки своих критиков, мотивируя "пародией" 
</p>
 
<p>
Кстати, похоже, что я во всех прошлых постах забыл упомянуть широко распространённую практику. Если ты купил стакан газированного напитка в питальне, то можешь в ней же требовать бесплатной <strike>доливки после отстоя пены</strike> перезаправки, то есть нового наполнения стакана любимой содой. Называется это refill, и кое-где это можно делать самому. Секрет прост - стоимость производства соды составляет несколько центов за литр. Особенно в ресторанах - дело в том, что fountain sodas, про которые я уже вёл как-то речь, распределяют вовсе не разлитый на заводе продукт - это было бы нерационально, учитывая гигантское потребление. Они делают просто: в специальном контейнере хранится сироп, который разбавляется водой прямо из-под крана, то есть местного водопровода. Моему начальнику, который тоже недавно был в США, это не по нутру. Но по мне водопроводная вода в США вполне нормальная на вкус, так что я в такой практике ничего особенного порочного не вижу. Кстати, для американцев - прекращайте пить воду в бутылках. Это вредно для среды, при этом вода эта обычно из водопровода, только пропущенная через фильтр обратного осмоса и минерализационный обогатитель. Кроме того, водопроводная вода в большинстве регионов США <a href="https://www.google.com/search?q=tap+water&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;rls=org.mozilla:en-US:official&amp;client=firefox-a">хорошая</a> и к ней применяются более строгии критерии качества. Подробнее - <a href="https://www.thinkoutsidethebottle.org">https://www.thinkoutsidethebottle.org</a>. Если вы так уж жаждете воды из-под осмотического фильтра, купите его себе, или делайте как моя сестра - она набирает воду в бутылку на работе, где он установлен. Всё равно выйдет дешевле, чем платить по доллару-два за несколько литров.  
</p>
<p align="center">
<a href="https://flickr.com/photos/chrisbenson/2567176897/sizes/l/"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/image_5.png" border="0" alt="image" title="image"  ></a><br>
Вытекло 
</p>
 
<p>
Что касается озера, на нём раньше выступали акробаты на лыжах и проводились водные туры, так что его важность для индустрии туризма в Деллс трудно переоценить. Вытекло оно в реку Wisconsin, разрушив часть шоссе, которая служила дамбой. Губернатор сразу зашевелился, пообещав всё починить как можно скорее - ещё бы, ведь Деллс приносит в казну десятки миллионов в виде налогов от миллиардного оборота туризма в области.&nbsp; Самое смешное, что слово, которое используют в смысле "наполнить озеро водой вновь" - refill. По-моему, очень забавная аналогия с содами- у жителей региона закончилась вода в озере, и они требуют рефилла от того, кому платят, то есть у штата. Последний не возражает, но для этого надо починить дамбу aka дорогу (что нетрудно) и перенаправить течение реки обратно в озеро (что не просто). В любом случае, в 2009 обещают озеро восстановить как было. Энтузиасты, тем временем,&nbsp; чистят дно от мусора, которого за 90 лет накопилось предостаточно. Американцы очень любят всякие ассоциации, общества, кружки по интересам и общественные инициативы. Что это - признак активности гражданского общества и жизненной позиции, или желание зажравшихся буржуев хоть как-то развлечь себя, предоставляю решать вам.  
</p>
<p align="center">
<a href="https://flickr.com/photos/chrisbenson/2573697166/sizes/l/"><img data-src="/files/blogengine/Writer/17WisconsinDells_BF1A/image_6.png" border="0" alt="image" title="image"  ></a></p><p align="center"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: start; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="center"><br>
</p>

	