Id: 74c94981-ded1-40e8-ab17-d6da4ae17415
Title: "Крит — 0, Вступление"
Published: "2008-09-17"
Slug: "2008-09-17 Крит — 0, Вступление"
-
<p>
Так, я буду писать про Крит. Если интересует раскрытие конкретной темы, оставляйте запросы в комментах, не маленькие.
</p>
 
<p>
Крит&nbsp; - это греческий остров, бывшее обиталище минойской цивилизации, древнейшей в Европе. 2600 год до нашей эры – такая древность, что страшно становится. Нынешние критяне считают себя греками. Это им гордости им добавлять не должно, потому как ещё Пушкин <a href="https://oper.ru/news/read.php?t=1051601250">писал</a> Вяземскому.
</p>
 
<blockquote>
	 
	<p>
	<em>О судьбе греков позволено рассуждать как о судьбе моей братьи негров, и можно тем и другим желать освобождения от рабства нестерпимого. Но чтобы все просвещённые Европейские народы бредили Грецией - это непростительно ребячество. Иезуиты натолковали нам о Фемистокле и Перикле, а мы вообразили, что пакостный народ, состоящий из разбойников и лавошников, есть законнорожденный их потомок, и наследник их школьной славы. Ты скажешь, что я переменил своё мнение, приехал бы ты к нам в Одессу посмотреть на соотечественников Мильтиада и ты бы со мной согласился.</em>
	</p>
</blockquote>
 
<p>
Впрочем, обитатели острова всегда подчёркивают, что они всё-таки критяне, и вот этим фактом уже можно гордится, потому как островитяне были всегда пободрее обитателей континента. Вот камрад FVL в комментах к записи выше <a href="/admin/Pages/,%20%D0%BD%D0%BE%20%D0%B2%D1%81%D0%B5%D0%B3%D0%B4%D0%B0%20%D0%BF%D0%BE%D0%B4%D1%87%D1%91%D1%80%D0%BA%D0%B8%D0%B2%D0%B0%D1%8E%D1%82,%20%D1%87%D1%82%D0%BE%20%D0%BE%D0%BD%D0%B8%20https://oper.ru/news/read.php?t=1051601250#72">отжигает про демократию и принципат</a>, и горячий норов киприотов упоминает, хоть и не Критян.
</p>
[more text=Путать Крит с Кипром не стоит, хоть они и похожи.]
<p>
Путать Крит с Кипром не стоит, хоть они и похожи.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/1_122FF/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_122FF/image_thumb.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Крит отмечен красной стрелкой, Кипр - синей
</p>
 
<p>
Там, куда указывает зелёная стрелка, как бы находится критское море. Как бы потому, что выше на север идёт Эгейское, и некоторые карты показывают только его. Ниже Крита, куда указывает чёрная стрелка, находится Ливийское море. С ним ситуация аналогичная – вроде как оно со всех сторон окружено средиземным, а быть может, и вовсе является его частью. Неточная какая-то наука, география.
</p>
 
<p>
<a href="/files/blogengine/Writer/1_122FF/image_3.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/1_122FF/image_thumb_3.png" border="0" alt="image" title="image"   align="left"></a>Всё равно придётся ей покорится. Плотность населения, как видно, 75 челов на километр квадратный, а в Латвии – 35. Это при том, что на вид Крит весь усыпан горами. В длину остров 260 км, в самой узкой точке в ширину – 12 км, в самой широкой – 60.
</p>
 
<p>
Климат на острове умеренный – зимой 10-20 градусов, летом 30-34. Природа на высоте – горы и ущелья, тёплые и красивые моря. Преступности нет вообще, а древних развалин и храмов, напротив – навалом.
</p>
 
<p>
Учитывая вышеперечисленное, неудивтельно, что туристов в год на Крите бывает больше двух миллионов.
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
Живёт остров в основном выращиванием оливок и туризмом. Ещё есть немного цитрусовых, специй и пара заводов, которые это всё&nbsp; перерабатывают и упаковывают для отсылки на материк.
</p>
 
<p>
В целом – тёплый и милый край, жаль цены кусачие, да выбор в продуктовых магазинах не радует – мелкий всё-таки остров, некому устраивать потребительский рай, кроме туристов, которые интересуются скорее сувенирами и одеждой, чем едой. Исключение – специи, коих конечно навалом. Пахнут замечательно, на вкус тоже ничего, цены понять сложно, но вроде бы заметно дешевле, чем у нас. Алкоголя тоже немало, но я не интересуюсь, поэтому и рассказать ничего не смогу, кроме упоминаний покупки&nbsp; вина в следующих постах.
</p>
 
<p>
Теперь про нашу поездку. Поехал я туда, потому что приятель/коллега/однокурсник покупал путёвку, было место (или наоборот, надо было забить место мною, чтобы он не попал в номер назнамо с кем). Про Крит я до того ничего не знал, но тем веселее. Самое интересное, что путёвка была “всё включено”, до того я такого экспириенса не имел, поэтому мне было любопытно, что это за зверь, безлимитчина эдакая. Эмоцию любопытства я удовлетворил, но об этом будет в следующих постах.
</p>
 
<p>
Стоила путёвка дохрена, даже сказать страшно, поэтому лучше промолчу. Скажу только, что больше тыщи доляров, а скока я ещё там потратил за неделю! Санаторий у нас был 4+ правильных объектов многоугольной формы aka звёздочек, и, как уже было сказано, all inclusive aka бухай от души, что нам в целом подошло. Понятное дело, такой формат предполагает, что ты большую часть времени сидишь в отеле. Я об этом знал и иллюзий не строил – хотелось попробовать и такое, хотя мне обычно по душе чуть больше активности.
</p>
 
<p>
P.S. По единственному зомбоканалу, что я смотрю – Евроньюс, крутили рекламу сайта <a href="https://www.explorecrete.com/russian/index-ru.htm" title="https://www.explorecrete.com/russian/index-ru.htm">https://www.explorecrete.com/russian/index-ru.htm</a>.
</p>
 
<p>
Кстати, про зомбоящик. Есть такой сервис – <a href="https://www.zombobox.com">www.zombobox.com</a> . Я на него не заходил, но адрес хороший. Говорят, это как <a href="https://www.moskva.fm">www.moskva.fm</a>, только для ТВ.
</p>
 
<p>
Ещё по евроньюс показывают такую рекламу Армении, что немедля хочется сорваться и поехать. Всё-таки отчасти историческая родина. Хорошо, когда у тебя много родин.
</p>
<p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">&nbsp; К оглавлению</a></p><p>
</p>

	