Id: fd337155-6d83-4034-992b-0d11f1912bf9
Title: "Врайтерс блока нету у меня"
Published: "2008-09-10"
Slug: "2008-09-10 Врайтерс блока нету у меня"
-
<p>
Я ничего не писал по разным причинам.<br />
Сначала читал книжки супругов Дяченко.<br />
Потом смотрел Battlestar Galactica.<br />
Потом ездил на байке, ел шашлык, ходил в спортзал и всё такое.<br />
Ещё у меня почти умер телефон Siemens C65: включается с десятого раза и выключается каждые полчаса. Так что озабочен выбором девайса. Думаю сказать &quot;хуй&quot; акулам западного капитализма и рискнуть здоровьем, закупив <a href="https://www.chinagrabber.com/index.asp?PageAction=VIEWPROD&amp;ProdID=1694">китайский клон</a>. Денег жалко, на самом деле: мне телефон нужен звонить и немного видеть карты велосипедные, зачем тогда платить за чудеса технической мысли? Вот разве что GPS хочется, чтобы видеть, где качу.
</p>
 
<p>
Тем временем:<br />
<br />
Воскрес из виртуально-мёртвых <a href="/admin/Pages/Gugiens.livejournal.com/">Gugiens</a> и обнаружил, что <a href="https://gugiens.livejournal.com/366087.html">Трики выпустил альбом</a>.&nbsp; Альбом, кстати, хороший, а песня Veronika меня нереально прёт. Так что качайте, не пожалеете.<br />
<a href="https://jjjben.livejournal.com/">jjjben</a> отправился в доминиканскую республику и обнаружил, что <a href="https://topwanted.ru/2008/08/30/97/#respond">удобства налицо</a>. Правда, там сейчас дожди и ураганы, но в Риге <a href="https://baltgames.lv/v2/video/watch/94298/potop_v_Rige_08.09.08">не лучше.</a>
</p>
 
<p>
Как-то с непривычки косовато&nbsp; получается, но главное сказал, то есть скажу. Будет Крит, будет.
</p>

	