Id: 63b59e9e-6f2d-49e8-a1fd-3421f7f3fd62
Title: "Германия — 4"
Published: "2008-01-09"
Slug: "2008-01-09 Германия — 4"
-
<p>
Приземлились мы на сей раз в городе Кассель. Заехали мы туда дабы посетить термы, то есть что-то вроде бассейнов с подземными термальными источниками. Я дикий провинциал, и для меня там всякого интересного было много: бассейны с солёной водой, парочка с пресной, отсек с сильным течением, водопадики и водоизвержения по графику, одна труба для скатывания, несколько джакузи, инфракрасные кабинки, солярии, японские сорялии (в чём разница?) и прочие&nbsp; вредные и полезные для здоровья вещи. Половина бассейнов находится на открытом воздухе, половина под крышей. 
</p>
 
<p>
Забавно, что когда мы там были, накрапывал дождик, а небо было тёмное от туч. Но так даже веселее, скажу я вам. А ещё веселее было, когда мы с Кристиной забурились на второй этаж, а там голые мужики бегают! Кристина голых мужиков не испугалась, поэтому я сначала облился ледяной водой из спецведра, а потом пополоскал ножки попеременно в ледяной и горячей воде. После этого мы уже собрались забуриться в сауну, но тут подошёл юноша инструкторского вида и медленно, не спеша стал втолковывать тупому иностранцу, что на второй этаж можно только с полотенцем вокруг талии, ибо тут спецототдел для нестеснительных.&nbsp; Говорил юноша долго и со вкусом, а я перебивать и говорить ему ОК не стал, слушал внимательно, вдруг новые матерные слова выучу. Юноша меня разочаровал, слов матерных не употребил, пришлось идти вниз и медитировать в спецпомещении. Помещение разочаровало, потому что хоть и играл там <a href="http://en.wikipedia.org/wiki/Muzak" target="_blank" title="Читать в Википедии, что такое музак">музак</a> самый что ни на есть слабительный, зато растения были пластмассовые - уродливый выхлоп современной цивилизации. Поэтому медитировали мы недолго, пошли просветляться противоположным методом:&nbsp; ходить по холодной траве и камням температуры градусов в 14.
</p>
 
<p>
Кстати, фото данной аттракции я всё-таки нашёл, но за ними вам придётся зайти на сайт терм, которые кстати называются <a href="http://www.kurhessen-therme.de/wasser.html" target="_blank">Kurhessen Therme</a>.
</p>
[more text=Жили мы в Касселе в гостинице Ramada. ] 
<p>
Жили мы в Касселе в гостинице Ramada. Заведение серьёзное, по крайней мере по сравнению с некоторыми из наших обиталищ. Номера с климат-контролем, а по выезду можно бесплатно затребовать дорожный набор с мылом, зубной щёткой и плавательной шапочкой. Плюс проезд на трамваях забесплатно, дабы туристы оставили побольше денег в злачных местах.
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0200.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0200_thumb.jpg" border="0" alt="IMG_0200"  ></a> 
</p>
 
<p>
Перед нашим прездом, кстати, в Касселе закончилась огромнейшая и известнейшая выставка современного искусства - Documenta. Если <a href="http://en.wikipedia.org/wiki/Documenta" target="_blank">википедия</a> не врёт, это одно из главных мировых событий такого толка.
</p>
  
<p>
На следующий день поехали в Кобленц, и тут я опять воспользуюсь тем, что пишу всё-таки в интернете, а не бумажной статье, и злобно скопирую кусок туристического текста. 
</p>
<a href="http://www.vodohod.com/rus/world/europe/map/koblenz.htm" target="_blank">"Крепость у слияния"</a>  
<p>
Самое, пожалуй, замечательное в Кобленце – это его положение, со всех точек зрения. Во-первых, Кобленц стоит на знаменитой точке слияния Рейна и Мозеля, собственно, название города образовано от латинского Castrum ad Confluentes – «крепость у слияния». Во-вторых, вверх и вниз от Кобленца по Рейну на каждый километр приходится как минимум один старинный замок. И в-третьих – что, собственно, связано с первым пунктом – в Кобленце и в его окрестностях великолепное вино, здесь и рейнвейн, и мозельвейн. 
</p>
 
<p>
Факт слияния Рейна и Мозеля в Кобленце обыгрывается по-разному. Острый угол, образующийся в месте слияния, закован в гранитную набережную, и там можно сфотографироваться – налево Рейн, направо Мозель. Здесь же – причал для пароходиков, на которых можно поплавать из одной реки в другую. А летом от Кобленца идут знаменитые ночные маршруты «Рейн в огне»: замки по Рейну очень красиво подсвечиваются, на скалах устраивается фейерверк, на корабле играет живая музыка – зрелище сказочное!
</p>
 
<p>
&nbsp;
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0204.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0204_thumb.jpg" border="0" alt="IMG_0204"  ></a> 
</p>
 
<p>
Это Вильям I. Горе мне, но я как-то не особо помнил, что это именно он впервые объединил чудовищно (как мы позже убедимся) разрозненные немецкие княжества и стал императором, а его премьер-министром был небезыствестный Отто Фон Бисмарк.
</p>
 
<p>
Статую показывать вроде как глупо, потому как такой культовой для немцев фигуре&nbsp; в мире установлено более тысячи памятников. Но таких больших немного - маштаб можно оценить по зонтикам.
</p>
 
<p>
А вот и сам треугольник, где установлена статуя. Латышского флага, как это не странно, нет.
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0207.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0207_thumb.jpg" border="0" alt="IMG_0207"  ></a> 
</p>
 
<p>
Тоже в своём роде треугольник. Ленивых.
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0211.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0211_thumb.jpg" border="0" alt="IMG_0211"  ></a> 
</p>
 
<p>
Вот у этой девушки слева такое зверское латышское имя, что я даже не запомнил от страха. Что-то вроде "Мадера" или "Мадара". Грех такие имена девушкам давать, честное слово.
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0214.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0214_thumb.jpg" border="0" alt="IMG_0214"  ></a> 
</p>
 
<p>
В Кобленце тоже есть музей современного искусства.
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0216.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0216_thumb.jpg" border="0" alt="IMG_0216"  ></a> 
</p>
 
<p>
Электроны разлетались.
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0217.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0217_thumb.jpg" border="0" alt="IMG_0217"  ></a> 
</p>
 
<p>
Вот вы думаете, что это Золотое Пу, а у меня скорее ассоциации с монстрами из игры Зельярд.
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0220.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0220_thumb.jpg" border="0" alt="IMG_0220"  ></a> 
</p>
 
<p>
Общий план.
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0221.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0221_thumb.jpg" border="0" alt="IMG_0221"  ></a> 
</p>
 
<p>
Хочу карманного чёртика на цепочке.
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0225.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0225_thumb.jpg" border="0" alt="IMG_0225"  ></a> 
</p>
 
<p>
Чёрт его знает, что оно символизирует, но тоже неплохо.
</p>
 
<p>
<a href="/files/blogengine/Writer/4_13529/IMG_0229.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_13529/IMG_0229_thumb.jpg" border="0" alt="IMG_0229"  ></a></p><p><br></p><p><a href="/post/2016-01-14%20%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D0%B5%20%D0%B2%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8E" target="_blank" style="background-color: rgb(246, 246, 246);">К оглавлению</a>
</p>

	