Id: c2c31845-989d-4828-accb-08452414db17
Title: "США — 36, Отбытие"
Published: "2008-08-07"
Slug: "2008-08-07 США — 36, Отбытие"
-
<p>
&nbsp;
</p>
 
<p>
Самолёт мой вылетал из Чикаго в 16 часов. То, что рейс подтверждён, я проверил в интернете, потому что звонить не люблю, да и на английском бы вообще мучался с этим выше меры. Приехали мы заранее, но не в то здание – прибытий, а не отбытий. К счастью, между зданиями ходит наземное метро, так что проблемой это не стало. Регистрировался я в автоматической машине навроде банкомата, чтобы не стоять в очереди. Машина мой паспорт сама не распознала, пришлось всё вводить вручную. После этого измерил вес багажа, и огорчился. Оказалось, что мой суперэкономический класс позволяет только 20 кг,&nbsp; а было у меня все 30. Я это прочитал заранее в одном месте, но надеялся, что обойдётся, потому что другие источники этому или противоречили, или молчали. Тем не менее, это было так. Опасайтесь на билетах надписи <strong>economy restricted</strong>! Доплата за перевес – 50 баксов. Не сказать, что сильно много, но я не Рокфеллер, поэтому повытаскивал всё из коробок, а остаток запихал в ручную кладь. Куртку же надел, что в жару выглядело странно. Весь этот хлам в ручной клади потом сильно затруднил мне жизнь на таможенных контролях. Меня каждый раз тщательно проверяли, просили всё вытащить и объяснить, что это такое, объясняли, что в ручной клади такое везти не рекомендуется. В общем, намучался. Зато летел домой, уже имел опыт шатания в аэропортах, и всё это значительно облегчало мои передвижения. Всё равно один раз чуть не вышел из зоны контроля через служебный выход, но вовремя свернул на экскалатор.
</p>
 
<p>
Официальные лица, впрочем, всегда были вежливы. Забавно, что один похвалил мои ботинки, а второй удивился небольшому размеру электроники [вырезано цензурой], которую я вёз. Это не помешало забыть вытащить у меня из паспорта выездную анкету. Не повторяйте моей ошибки – если её не отдать, могут потом в США не пустить. Если же повторили, слушайте. Из того, что я сумел узнать на сайте пограничной службы США,&nbsp; отправлять её никуда не надо, если вы улетали самолётом, а не морем. Что необходимо, так это сохранить boarding pass, то есть посадочный талон, чтобы доказать, что вы из США улетали до конца разрешённого срока пребывания. Потом, если летишь в США ещё раз, просто берёшь его с собой.
</p>
 
<p>
На обратном пути в самолёте American Airlines я сидел в самом-самом конце салона справа. Прямо около аварийного выхода. Поэтому инструкцию, как его открывать, прочитал даже два раза, но всё равно что-то мне в ней не понравилось. Значит, могли бы сделать и понятнее. Ещё посмотрел во второй раз фильм “Second-hand lions”, очень хорошее детское кино. Много слушал самолётное радио, где рассказывали что-то про лечение рака и благотворительные организации. Например такую, что осуществляет мечты умирающих и тяжелобольных детей – дядька оттуда просил жертвовать, всё что можно, особенно бесплатные самолётные мили, потому что их всегда не хватает, ведь больные дети любят путешествовать. Я в общем тоже не особенно здоровый, и в душе ребёнок, так что жертвуйте мили лучше мне – я тоже путешествовать люблю.
</p>
 
<p>
Рядом со мной сидели бельгийцы в летах, котрые пялились на меня усердно до тех пор, пока я с ними не поздоровался. Во время полёта я проверял теорию о том, что легче адаптируешься, если во время полёта не ешь.&nbsp; Правда, я пил апельсиновый сок в немалых количествах, так что не уверен в чистоте эксперимента. Соком меня снабжали стюардессы, обеспокоенные моим нежеланием ужинать, да бельгийцы, которые оказались юристами – мужем и женой. Жена была немолодая, но всё равно приятная на вид, и в общении, как это говорят штампом: “чувствуется европейская культура”. Бельгийцы были юристами, с женой я некоторое время поговорил, ставя её в тупик любимым вопросом: “Почему на карте самолёт летит по дуге”. Юристы, как это у них принято, ответили вопросом на вопрос: “Почему меня это интересует”. Так и поговорили. Бельгийка произносила английские слова с приятным французским акцентом. Латвию, когда узнала, что я оттуда, называла очень мило: “Lettonie”. Видно непривычно ей совсем по английски-то. Сказать, что я немного знаю французский, не рискнул. Столицу нашей страны бельгийка не вспомнила, но вообще проявила интерес. Я рассказывал всякое, упомянул про проблемы с взаимопониманием между разноязычными общинами. Потом про подчёрпнутые из Евроньюс факты, что у них тоже такое есть. Она сказала со вздохом “О да”, так что я уверился, что Евроньюс всё-таки не зря существует – один европеец другого чуть больше разумеет. Ещё что-то рассказывала,например про то, что живут они недалеко от Брюсселя.&nbsp; Я ответил, что мне лететь ещё 3 часа в Латвию, а потом 4 ехать на поезде.
</p>
 
<p>
Так оно и получилось. Самолёт из Брюсселя вылетал через 1.5 часа, так что я неспешно прогулялся, рассматривая duty free и обедающих европейцев. У меня евро не было, так что искушения их потратить я избежал. Как потом оказалось, лениво прогуливаясь, я упустил из виду тот факт, что должен был забрать багаж и сдать его заново на чекине. Увы, туда-то багаж летел сам, так что я не догадался, хотя про это и было написано на квитанции. Так что по прибытии в Ригу я побеседовал со служащей аэропорта, которая удивилась, как странно называется улица, где&nbsp; я живу - “Райполес”. Потом она сказала, что в Даугавпилсе вообще улицы странно называются. Чёрт знает, со стороны виднее. Радует, что я был не один такой идиот, на забравший багаж – со мной рядом была девушка с красным чемоданом. Кстати, я умудрился даже вспомнить марку своей сумки – Bass, хоть это и потребовало некоторых ментальных усилий. Сумку, кстати, я забрал у сестры, оставив ей ту, с которой прилетел, поскольку она была меньше размером. Это у нас постоянно такие рокировки, ведь сумку, которую я оставил ей, в свою очередь оставила нам сестра в свой прошлый визит. Думаю, это не конец – в следующем году в США полетят родители, и возьмут уже эту сумку с собой.
</p>
 
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
По приезду в Ригу, я согласно плану проверки теории, сожрал кебаб в <a href="https://www.kebabfix.lv">kebab fix</a>, а потом отправлся на поезд. Сил съездить по делам уже не было, хоть я и был без чемодана. Не помогла теория о голодании во время трансатлантического перелёта – джетлаг был жесточайший. На работу до конца недели ходил как зомби – еле двигаясь. Говорят, адаптацию надо рассчитывать так: сутки на каждый час сдвига часовых поясов. То есть 8 часов с США — это&nbsp; 8 дней джетлага. Ну, так долго у меня не было, но до дней 5-6 всё же чувствовалось. Начальник, прелетевший немногим позже, оклемался практически за день, но на то он и начальник. Он ещё и на самолёт пробился без регистрации на рейс, потому что опаздывал, а это вообще очень удивительно.
</p>
 
<p>
Всего в движении я был больше 20 часов, поэтому приехал домой изрядно уставшим. Багаж мне через несколько дней привезли курьером домой, причём бесплатно. Спасибо авиакомпании Air Baltic за отзывчивость по отношению к растяпам. А вот за economy restricted багаж, наоборот, не спасибо.
</p>
 
<p>
Этот пост не последний.
</p>
<p>&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>

	