Id: 8fadc204-ef46-448c-9e34-c6d6ae0fa2b6
Title: "США — 19, Капитолий Мэдисона"
Published: "2008-07-17"
Slug: "2008-07-17 США — 19, Капитолий Мэдисона"
-
<p>
Один день мы посвятили знакомству с городом Мэдисон, столицей штата Висконсин. Чтобы вам не было скучно читать про архитектуру, буду пост разбавлять занимательными фактами.
</p>
 
<p>
Например, таким. 
</p>
[more text=Мэдисон уже несколько лет входит ] Мэдисон уже несколько лет входит в пятёрку самых популярных женских имён в США. До середины двадцатого века слово в этой роли не использовалось вообще, поскольку означало фамилию государственного деятеля, в честь которого назван город.
<p>
&nbsp;
</p>
 
<div align="center">
 
<table border="1" cellspacing="0" cellpadding="2" width="60%" align="center" bordercolor="#b9bfbf">
	 <caption><strong>Popularity of the female name Madison</strong></caption> 
	<tbody>
		 
		<tr bgcolor="pink">
			 <th scope="col">Year of birth</th> <th align="right" scope="col">Rank</th>
		</tr>
		 
		<tr>
			 
			<td align="middle">2007</td> 
			<td align="right">5</td>
		</tr>
		 
		<tr>
			 
			<td align="middle">2006</td> 
			<td align="right">3</td>
		</tr>
		 
		<tr>
			 
			<td align="middle">2005</td> 
			<td align="right">3</td>
		</tr>
		 
		<tr>
			 
			<td align="middle">2004</td> 
			<td align="right">3</td>
		</tr>
		 
		<tr>
			 
			<td align="middle">2003</td> 
			<td align="right">3</td>
		</tr>
		 
		<tr>
			 
			<td colspan="2">,<br>
			</td>
		</tr>
	</tbody>
</table>
</div>
 
<div align="center">
<a href="https://www.ssa.gov/OACT/babynames/">Источник</a>
</div>
 
<p align="center">
<a href="/files/blogengine/Writer/19_13248/image.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/19_13248/image_thumb.png" border="0" alt="image"  ></a>&nbsp;<br>
<a href="https://www.ssa.gov/OACT/babynames/">Источник</a>
</p>
 
<p>
В городе Мэдисон и окрестностях живёт больше 300 тысяч человек, что не особенно много. Если вы внимательны, то должны были заметить, что Чикаго, несмотря на свои размеры, напротив, столицей Иллинойса не является. Сразу возникает вопрос, как же так?
</p>
 
<p>
Ответ простой. В столицах большинства штатов есть капитолии, то есть здания, где заседает власть штата (а в Вашингтоне есть ещё и капитолий для всей страны). По-нашему это наверное будет "городская и районнная дума", поскольку штатов в Латвии нет. Капитолий - сооружение очень величественное, символизирует мощь государства и народа, и посему было решено, что здания выше капитолия строить запрещено. Когда этот закон в стародавние времена принимали, это проблемой не было, потому что кроме церквей капитолию соревноваться было не с кем. А вот в веке двадцатом, когда во всех приличных городах начали строить небоскрёбы, столицам из-за закона вышел конкретный облом. Отсутствие небоскрёбов затрудняло концентрацию деловой активности в даунтауне и создание в городе штаб-квартир мегакорпораций, желающих себе места побольше. Оттого население столиц штатов росло лишь до определённых пределов, которые мы и наблюдаем. Это всё я нигде не читал, а только что выдумал, но поскольку проверять теорию всем будет лень, читатели будут считать, что так оно всё и было. Получился классический симулякр, и если кто не знал, что это такое, теперь станете на шаг ближе к пониманию.
</p>
 
<p align="center">
&nbsp;<a href="https://flickr.com/photos/prachi/427317920/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/19_13248/image_3.png" border="0" alt="image"  ></a>&nbsp; <br>
Капитолий
</p>
 
<p>
Для начала мы прошлись по центру, который весь был перерыт - как вы помните, это ввиду того, что сезонов в Висконсине только два, и один из них был как раз во время моего пребывания там. Забавно, что когда я вернулся в Латвию, наблюдал то же самое - в Риге массово ремонтировали дороги, а у нас был перерыт весь центр города. Это неудивительно - климат в районе Мэдисона похож на наш,&nbsp; немного мягче правда, зато дожди,&nbsp; снегопады и торнадо постоянная напасть.
</p>
 
<p>
В центре мы ничего особенно не увидели, даже студентов. Надо сообщить, что в Мэдисоне вся жизнь подчиняется особенному ритму, происходящему оттого, что там располагается один из самых лучших университетов мира, а именно <a href="https://www.wisc.edu/">University Of Wisconsin-Madison</a>. Лучший он по знаменитому <a href="https://ed.sjtu.edu.cn/rank/2007/ARWU2007_Top100.htm">китайскому рейтингу</a>, приведу для забавы первых 20 строчек.
</p>
 
<div align="center">
<a href="/files/blogengine/Writer/19_13248/image_5.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/19_13248/image_thumb_3.png" border="0" alt="image"  ></a> <br>
Рейтинг хорош для тех, кто до сих пор думает, что американцы тупые
</div>
 
<div align="center">
&nbsp;
</div>
 
<div align="left">
Из-за сорока тысяч студентов, живущих в городе, он в первую очередь заточен для удовлетворения их нужд. Живут студенты или в непрезентабельного вида общагах, или в небольших обвитых плющём коттеджах прямо в центре, который и в целом выглядит милым и зелёным. В общагах, правда, в каждой комнате есть кондиционер - при средней температуре летом выше 25 это is a must, то есть не роскошь, а средство выживания. Кстати, кондиционер в тёплом штате ест на порядок меньше энергии, чем отопление зимой в холодном. В Висконсине, правда, требуется и то, и другое.
</div>
 
<div align="left">
&nbsp;
</div>
 
<div align="center">
<a href="/files/blogengine/Writer/19_13248/IMG_5324.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/19_13248/IMG_5324_thumb.jpg" border="0" alt="IMG_5324"  ></a> <br>
Охранник в капитолии спросил, где можно купить такую футболку для своей дочери
</div>
 
<div align="left">
&nbsp;
</div>
 
<div align="left">
В центре Мэдисона, как и в Чикаго, стоят газетные автоматы, но что забавно - юмористическую газету The Onion (Луковица) раздают бесплатно. Для меня вообще бумажная The Onion как-то не укладывалась в сознание - я видел только онлайн-версию, и никогда не думал, что она выросла из бумажной. Так вот, The Onion раздают бесплатно потому, что его редакция находится в Мэдисоне, чем некоторые жители гордятся почти наравне с университетом. Кстати, <a href="https://www.theonion.com/content/index">сайт The Onion</a> сделан на системе <a href="https://Drupal.org">Drupal</a>, которую использую и я для своего <a href="https://radio.super.lv/">Радиоархива</a>. Вообще журнал классный, шутки в каждом номере попадаются смешные. Как говорит Гоблин про детище Мэта Стоуна и Трея Паркера Саус Парк: "Год от года накал шуток не ослабевает". Так и тут - сестра тоже удивляется, как авторы Луковицы умудряются неплохо острить в кадом выпуске. Кстати, я в туалете у Лены нашёл бумажный выпуск и занимательно почитал про кучи музыкальных фестивалей в Чикаго, Висконсине и даже отдельный джазовый фестиваль в пригороде Мэдисона Мидлтоне, где находится Ленин дом. Культура у сытого общества, что ни говори, выше чем у голодного, хоть и не всегда.
</div>
 
<p align="center">
<a href="/files/blogengine/Writer/19_13248/IMG_5320.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/19_13248/IMG_5320_thumb.jpg" border="0" alt="IMG_5320"  ></a>&nbsp;<br>
Алина для похода в центр и капитолий даже приоделась&nbsp; 
</p>
 
<div align="left">
Капитолий Мэдисона - сооружение на века. Дальше я буду нагло цитировать брошюру на русском языке, которую нам бесплатно выдали внутри. Штат США — это куда значительнее и мощнее, чем такая страна, как Латвия, потому неудивительно, что брошюры есть на десятках языков - причём на русский она переведена крайне грамотно, без малейших ошибок.
</div>
 
<div align="center">
<a href="https://flickr.com/photos/12505951@@@@N00/11644851/sizes/o/"><img style="border: 0px none " data-src="/files/blogengine/Writer/19_13248/image_4.png" border="0" alt="image"  ></a>&nbsp;<br>
Дверь под статуей между колонн - выход на смотровую площадку
</div>
 
<div align="left">
&nbsp;
</div>
 
<div align="left">
Капитолий - здание действительно уникальное. Построен он в 1906 году после уничтожения пожаром предыдущего, второго по счёту капитолия. То есть текущий - третий, и 
</div>
 
<div align="left">
потратили на него в переводе на современные доллары больше, чем полмиллиарда.
</div>
 
<div align="left">
Высота здания - 87 метров, на 5 метров выше капитолия в Вашингтоне (они уже тогда не могли не делать всё "самым-самым"). Наверху капитолия статуя женщины с барсуком, символом штата, символизирующая его девиз "Вперёд". Не самый оригинальный девиз, надо сказать. Зато при строительстве капитолия было использовано 43 вида камня из 6 стран мира, включая Норвегию, Италию, Грецию и Алжир. Выглядит, надо сказать, внушительно, хоть я и не любитель барокко,&nbsp; роккоко и прочего бессмысленного пафоса.
</div>
 
<div align="left">
Купол капитолия - один из самых больших в мире, что не отметить в брошюре решительно невозможно. Ещё забавно, как она придирчиво указывает точные цены всех работ, включая живопись в виде фресок, коих в капитолии немеряно. Есть там и специальные мозаичные картины, статуи, колокол, но если я буду цитировать всю брошюру целиком, этот пост все пропустят, чего мне совсем не надо.
</div>
 
<div align="left">
&nbsp;
</div>
 
<div align="center">
&nbsp;<a href="/files/blogengine/Writer/19_13248/IMG_5329.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/19_13248/IMG_5329_thumb.jpg" border="0" alt="IMG_5329"  ></a> <br>
Вид со смотровой площадки, на которой до того моя сестра не была, несмотря на 8 лет жизни в Мэдисоне
</div>
 
<div align="left">
&nbsp;
</div>
 
<div align="left">
Скажу только, что в капитолии заседают все три ветви власти - дума, губернатор и верхновный суд, который собирается не так уж часто, потому что рассматривает в основном апелляции. Присяжные, кстати, тоже есть, причём отказаться от этой почётной роли очень сложно. Так что если ты гражданин, хотя бы раз в жизни побываешь на скамье в роли судьи человеческих пороков, причём работодатель тебе пропуски работы обязан оплатить. Любопытно, что пока нет законных обитателей здания, то есть чиновников, ходить можно везде: я спокойно сидел на месте главного судьи в зале суда, зашли мы и к губернатору в кабинет.з
</div>
 
<div align="left">
&nbsp;
</div>
 
<div align="center">
&nbsp;<a href="/files/blogengine/Writer/19_13248/IMG_5325.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/19_13248/IMG_5325_thumb.jpg" border="0" alt="IMG_5325"  ></a> <br>
Решение верховного суда: копирайт запретить, марихуану разрешить
</div>
<div align="center">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></div><div align="center">
</div>

	