Id: 0e266d7d-5629-4ec2-97ea-1d5a1d316ea2
Title: "Лытдыбр"
Published: "2008-08-14"
Slug: "2008-08-14 Лытдыбр"
-
<p>
Сейчас за окном самая большая радуга, что я видел в жизни. А фотика нет, блин!
</p>

	