Id: 7c5f4f91-7ee2-44ab-afb6-38f8e9db2aab
Title: "Линукс для десктопа"
Published: "2008-02-18"
Slug: "2008-02-18 Линукс для десктопа"
-
<p>
Пытаюсь для некоторых целей поставить медиаплеер Amarok под SuSE Linux в виртуальной машине. Не могу заставить его проигрывать mp3. А линуксоиды смеют утвержать, что у них всё уже давно замечательно и просто. <a href="https://yatsutko.livejournal.com/2154507.html">Прав Яцутко</a>, нифига Линукс для десктопа не годится.&nbsp; И&nbsp; ещё долгое время, лет 10-15, так будет.
</p>

	