Id: f8768c55-edcd-4cba-8e52-ab2f8df755d4
Title: "<p> </p><a href=\"/files/blogengine/Writer/1d6daadc4ffb_BC5/IMG_2407.jpg\"><img title=\"IMG_2407\""
Published: "2008-09-13"
Slug: "2008-09-13 _p_ __p__a href___image.axd_picture_Writer_1d6daadc4ffb_BC5_IMG_2407.jpg___img title__IMG"
-
<p>&nbsp;</p><a href="/files/blogengine/Writer/1d6daadc4ffb_BC5/IMG_2407.jpg"><img title="IMG_2407" style="border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px"  alt="IMG_2407" data-src="/files/blogengine/Writer/1d6daadc4ffb_BC5/IMG_2407_thumb.jpg"  border="0"></a>
	