Id: d0bc2c81-08d5-48f2-9e82-e673595f0477
Title: "Новости музыки"
Published: "2008-05-31"
Slug: "2008-05-31 Новости музыки"
-
<p>
 22 августа в Риге выступят <a href="http://rus.delfi.lv/news/entertainment/music/article.php?id=21078816">Sigur R&otilde;s</a>. На безрыбье . . .
</p>
<br />
20 августа, кстати, Sex Pistols, но я в мастодонтов не верю. Хотя отзывы из других стран посмотреть на всякий случай стоит.

	