Id: 3bf0db9e-ef57-4081-ac85-ad83090ac1ce
Title: "Дома"
Published: "2008-08-25"
Slug: "2008-08-25 Дома"
-
<p>
Я дома после 10 часов в пути (2 до аэропорта, 2 ожидания, 3 в полёте и 3 в Даугавпилс из Риги). Спать охота &ndash; уезжали из отеля в 2 ночи. А так всё хорошо. 
</p>

	