Id: 03929c90-2b19-4fc9-99a6-b65808ca36b0
Title: "США — 9, Shedd Aquarium (Океанарий Шедда)"
Published: "2008-07-01"
Slug: "2008-07-01 США — 9, Shedd Aquarium _Океанарий Шедда_"
-
<p align="center">
<a href="/files/blogengine/Writer/9_E1EB/image.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_thumb.png" border="0" alt="image"  ></a>
</p>
 
<p align="left">
Океанарий, он же океанариум по-английски называется Aquarium. И правда - чего мудрить? Аквариум он и есть аквариум, даже если занимает места как футбольный стадион, а видов рыб в нём несколько тысяч (2100, если быть точным). Забавно, что слово Oceanarium в буржуйском тоже есть, но означает оно конкретно океанскую часть океанариума, так что тут они нас всё-таки уели.
</p>
 
<p align="center">
<a href="https://www.sheddheads.org/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_3.png" border="0" alt="image"  ></a><br>
Для фанатов океанария есть специальный сайт, привожу ради логотипа
</p>
 
<p align="left">
Как бы то ни было, до <a href="https://www.sheddaquarium.org/">Океанария Шедда</a> мы добрались пешком,
</p>
<div class="ljcut">
<p align="left">
 потому что водное такси не ходило из-за волнения на воде, а автобус trolley долго ждать, да и идёт он долго. Может быть, это было неверное решение - пока дошли по городской жаре, уже немного устали, и по океанарию ходить было уже не так весело. Пока топали, видели бездомных под эстакадой и пешеходный мост из позапрошлого поста. 
</p>
 
<p align="center">
<a href="https://flickr.com/photos/wardthompson/422723369/sizes/o/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_4.png" border="0" alt="image"  ></a>&nbsp;<br>
Слева видна столовка океанариума
</p>
 
<p align="center">
<img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_5.png" border="0" alt="image"  >&nbsp; <br>
Морской Конёг
</p>
 
<p align="left">
Внутрь прошли без очереди, и называется это странно - will call, как мне подсказали в комментах к предыдущему посту. Теперь немного фактов про океанариум. Открылся он 30 мая 1930 и был (сюрприз!) самым большим в мире. Его посещают 2 миллиона человек в год и это вторая по популярности достопримечательность Чикаго после естественнонаучного музея. Это странно, по мне разноцветные рыбки красивее, хоть в музее тоже есть что посмотреть.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/70116615@@@@N00/2351466697/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_6.png" border="0" alt="image"  ></a>&nbsp;<br>
Какая-то крокодилообразная рыба, история не сохранила ещё имени
</p>
 
<p align="left">
Чтобы привести вам этот знаменательный факт, мне пришлось заняться интернет-раскопками. Если кто не знает, существуют способы достать любую страницу, даже если по официальному адресу её уже нет.
</p>
 
<p align="left">
Первый - Coral Cache. Это система кэширования, участники которой добровольцы. Чтобы достать исчезнувший сайт, зайдите <a href="https://www.coralcdn.org/">на официальный сайт</a> и введите адрес. Недостатки - не все сайты есть, иногда сильно тормозит.
</p>
 
<p align="center">
<img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_7.png" border="0" alt="image"  >&nbsp;<br>
Чёрт знает, что такое, но выглядит прикольно
</p>
 
<p align="left">
Второй - Google Cache. Как следует из названия, это кэш поисковой системы Google. Как это ни странно, Гугль, впрочем как и другие гранды поиска, хранит весь интернет целиком, по крайней мере то, что способен - иначе он не смог бы осуществлять поиск.&nbsp; Чтобы достать исчезнувший сайт, введите в строке поиска Гугля&nbsp; cache: и дальше адрес сайта. Например cache:www.example.com. Минусы: совсем свежих и совсем старых сайтов нет, как и таких, для которых запрещено индексирование поисковыми системами.
</p>
 
<p align="left">
Третий - <a href="https://www.archive.org/index.php">Internet Archive</a>, организация, архивирующая интернет. День ото дня не ведающие усталости роботы тщательно инcпектируют и складируют страницы. И это воистину сизифов труд, поскольку интернет со временем становится лишь больше, и весь сохранить его никак невозможно. Хотите посмотреть, как выглядел сайт майкрософт в 1996? <a href="https://web.archive.org/web/19961020014044/https://www.microsoft.com/">Нет проблем.</a> Пользоваться просто - <a href="https://www.archive.org/index.php">зайти</a>&nbsp; и ввести адрес. Минусы - есть не все страницы, а только популярные, причём архивирует их сайт сравнительно редко.
</p>
 
<p align="center">
<a href="https://www.sheddheads.org/do/view?id=247"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_8.png" border="0" alt="image"  ></a><br>
Это cichlid, очень популярная для аквариумов тропическая рыба
</p>
 
<p align="left">
В океанарии сначала посмотрели Wild Reef, если память не врёт. Такое ощущение, что мы пропустили одну из 5 постоянных выставок, Carribean Reef, ну или перегруженный красотой мозг в это время отключился. Коралловые рифы фантастически красивы (что видел любой, смотревший передачи Кусто), а в центре экспозиции находится огромный аквариум, в котором есть даже акулы.
</p>
 
<p align="center">
<a href="https://www.sheddheads.org/do/view?id=276"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_9.png" border="0" alt="image"  ></a> 
</p>
 
<p align="left">
После Wild Reef, находящегося в подвале, поехали лифтом наверх, посмотрели рыб африканских и местных. В Висконсине климат немного теплее нашего, и живности много, но Великие Озёра большие, в них холоднее и&nbsp; зверья поменьше.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/govmilliken/491814875/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_10.png" border="0" alt="image"  ></a> 
</p>
 
<p align="left">
Вскоре началось представление с дельфинами, и мы поспешили а нужную часть здания. В Океанарии есть дельфины, белуги и морские котики. Ведущий отжигал как надо - заводил публику, которая охотно вопила, кричала Йес и Ноу. У нас бы ему пришлось тяжелее, с нашим-то прохладным прибалтийским темпераментом. Дельфины не подкачали - прыгали по-всякому, хвостами мотали в разные стороны, и даже плавали хвостом вверх. Ведущий особо отметил, что люди, работающие с дельфинами во время шоу, в остальное время убирают, моют и чистят за своими зверушками, так что это не такая весёлая профессия, как может показаться со стороны.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/nouqraz/199998028/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_11.png" border="0" alt="image"  ></a>&nbsp;<br>
Дельфины
</p>
 
<p align="center">
<a href="https://flickr.com/photos/26502485@@@@N05/2487128607/sizes/o/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_12.png" border="0" alt="image"  ></a>&nbsp;<br>
Белуги
</p>
 
<p align="center">
<a href="https://flickr.com/photos/mdogg97/2408260703/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_13.png" border="0" alt="image"  ></a>&nbsp;<br>
Девушка чешет белуге язык, и той нравится
</p>
 
<p align="left">
В океанарии родилось уже три белуги, что неудивительно, учитывая, что живут они привольно - бассейны в несколько раз больше требуемых законом размеров, как и большинство аквариумов у Шедда. Главный бассейн и вовсе&nbsp; 11 миллионов литров - немало. С другой стороны, это лишь чуть больше того количества, которое Амазонка обрушивает за секунду со своего главного водопада.
</p>
 
<p align="left">
Потом мы сходили посмотрели на выставку Amazon Rising, где кроме рыб были всякие ядовитые лягушки и деревья, растущие в воде. Обманули, правда - Амазонка не поднималась, но сестра смутно помнит, что в каком-то из посещённых ею мест такое представление было.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/ephe_mera/85534509/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_14.png" border="0" alt="image"  ></a>&nbsp;<br>
Кайфует
</p>
 
<p align="left">
Ещё в аквариуме был Granddad, то есть Дед. Это самое старое водное животное из всех аквариумов мира. Дед был привезён в океанарий для всемирной выставки 1933 года. Дед - lungfish. Забавно, что в школе я делал доклад по таким рыбам, и потому догадался, как это переводится на русский без словаря, что считаю немалым достижением - вряд ли кто из моих иммигрантов смог бы. Для пущего интересу постарайтесь отгадать, а потом проверьте по словарю. Те, кто сказал верно, отмечайтесь в комментах криками "я знал!" - страна должна знать своих героев. Название класса рыб в комменты не пишите - не мешайте другим отгадывать. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/9_E1EB/image_15.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_thumb_3.png" border="0" alt="image"  ></a> <a href="/files/blogengine/Writer/9_E1EB/image_16.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_thumb_4.png" border="0" alt="image"  ></a> <a href="https://flickr.com/photos/jihaidong/119070495/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_17.png" border="0" alt="image"  ></a> <br>
Деда фоткал какой-то урод со вспышкой. Чтоб ему в следующей жизни рыбой стать!
</p>
 
<p align="left">
Ещё был отдел с ящерицами,&nbsp; всяких разных - больших и маленьких, разных цветов, включая синих. Маскируется хорошо, заметить трудно.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/govmilliken/491808591/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_18.png" border="0" alt="image"  ></a>&nbsp;<br>
Хамелеонит
</p>
 
<p align="left">
Там же можно было увидеть <a href="https://en.wikipedia.org/wiki/Komodo_dragon">Komodo Dragon</a> - самую большую в мире ящерицу из Индонезии, размером больше двух метров . Она хищник, а вполне может убить и съесть человека, хоть в неволе характер и улучшается. На мониторах показывали брачные игры двух таких - больше похоже на битву годзилл.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/9_E1EB/image_19.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/9_E1EB/image_thumb_5.png" border="0" alt="image"  ></a>&nbsp;<br>
Жаль, маштаба не видно. Если кто знает какого рзмера пальма, поймёт.
</p>
 
<p align="left">
Любопытно, что я недавно начал смотреть документальный сериал BBC Planet Earth, там тоже про больших ящериц было, только живущих в холодных горных реках Японии. Сериал красивый и интересный, особенно когда смотришь на телеке в 40 дюймов, хохо. Всем рекомендую, скачать можно с <a href="https://www.torrents.ru">www.torrents.ru</a>.
</p>
 
<p align="left">
В океанриуме мы ещё и перекусили. Я на месте американцев кормил бы там только рыбой, но им приколы чужды, поэтому на выбор было несколько франшиз, как всегда. Ел я салат с чипсами местной жарки -&nbsp; из&nbsp; картошки, а не порошка. Салат был ничего, чипсы тоже, а что такое франшиза, не знать в наше время стыдно.
</p>
</div>
<p align="left">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	