Id: a4e77ffc-7c1f-4a56-9b8e-0195bd540075
Title: "Новости из США"
Published: "2008-07-06"
Slug: "2008-07-06 Новости из США"
-
<p> Пока я вам тут рассказывал про чудеса капитализма, Starbucks <a href="http://www.lenta.ru/news/2008/07/02/starbucks/">решила</a> закрыть 600 кофеен в США и уменьшить планы экспансии, а Волмарт сменил логитип.</p> <p>Был такой :</p> <p><a href="/files/blogengine/Writer/515a85a3310f_123DD/image.png"><img style="border-right: 0px; border-top: 0px; border-left: 0px; border-bottom: 0px"  alt="image" data-src="/files/blogengine/Writer/515a85a3310f_123DD/image_thumb.png"  border="0"></a>&nbsp;<br><br>а стал такой:<br><a href="/files/blogengine/Writer/515a85a3310f_123DD/image_3.png"><img style="border-right: 0px; border-top: 0px; border-left: 0px; border-bottom: 0px"  alt="image" data-src="/files/blogengine/Writer/515a85a3310f_123DD/image_thumb_3.png"  border="0"></a></p> <p>А до того <a href="http://walmartstores.com/AboutUs/8412.aspx">были ещё разные</a>.</p> <p>Мир не стоит на месте.</p>
	