Id: f54cbdf8-c325-41d3-901d-83a4501efad2
Title: "Покатушка"
Published: "2008-08-11"
Slug: "2008-08-11 Покатушка"
-
<p>
Вчера по-быстрому на байке съездил в Вишки (или Вышки?). При выезде позвонили два друга подряд и прдложили затусить. Пришлось катить в суровом темпе, чтобы вернуться побыстрее. К счастью, свежекупленные покрышки и накачанные до упора колёса позволили. А может, это ветер &ndash; но в любом случае туда я ехал с фантастической для себя скоростью -&nbsp; 30-40 км/ч, даже в горки, причём не останавливался до самых Вишек.
</p>
 
<p align="center">
<a href="http://maps.google.com/maps?f=d&amp;saddr=Raipoles+6&amp;daddr=viski+to:A13%2FA6%2FE262+%4055.951050,+26.589000+to:A13%2FA6%2FE262+%4055.955950,+26.470430+to:P67+%4055.918040,+26.483490+to:Ciema+iela+%4055.904640,+26.518190&amp;hl=en&amp;geocode=11736957850778313786,55.951050,26.589000%3B18417884996496703027,55.955950,26.470430%3B7620976492313530429,55.918040,26.483490%3B6648656925958120828,55.911670,26.499980%3B4498767118948821734,55.904640,26.518190&amp;mra=mr&amp;mrcr=4&amp;sll=55.972935,26.652135&amp;sspn=0.247831,0.612488&amp;ie=UTF8&amp;ll=55.97034,26.684418&amp;spn=0.250922,0.617981&amp;z=11"><img style="border: 0px none " data-src="/files/blogengine/Writer/8272b4b7be76_104FF/image.png" border="0" alt="image" title="image"   /></a>&nbsp; <br />
Маршрут
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
В Вишках удачно наслаждался видами и отдыхал около костёла, сидел под деревом, когда пошёл дождь, потому и не промок. Священник мне кивнул, я ему в ответ помахал; так и поговорили.
</p>
 
<p>
Обратно ехал со скоростью 20-25, попал немного под дождь, но терпимо. Всего проехал 80 км, в поездке был 4.5 часа, то есть даже с учётом всех остановок и любований видами средняя скорость 17.5 &ndash; очень неплохо. Поскольку посмотрел далеко не всё, обязательно съезжу в Вышки ещё &ndash; там красиво. Следующий пункт назначения &ndash; Медуми.
</p>
 
<p>
P.S. Сервисы Гугля становятся всё круче и круче. Мэпс мне уже начинает нравится.
</p>

	