Id: 69da03aa-89aa-4096-8675-e7b4957178f0
Title: "Ещё про собачек"
Published: "2008-04-04"
Slug: "2008-04-04 Ещё про собачек"
-
<p>
А вот <a href="https://users.livejournal.com/_crazy_fish/14167.html">тут</a> видно, что девушка делает всё осознанно:
</p>
 
<p>
<em>По итогам вчерашнего яростного фишецида со стороны собакопоклонников из комьюнити </em><a href="https://community.livejournal.com/ru_dog/profile"><em><img src='/files/CCBC60EE8FBF5D72B045A8EDD2E596B6.gif'  alt="" width="16" height="16" /></em></a><a href="https://community.livejournal.com/ru_dog/"><strong><em>ru_dog</em></strong></a><em> я пришла к выводу о необходимости создания в рунете двух сообществ: </em><a href="https://community.livejournal.com/ru_antidog/profile"><em><img src='/files/CCBC60EE8FBF5D72B045A8EDD2E596B6.gif'  alt="" width="16" height="16" /></em></a><a href="https://community.livejournal.com/ru_antidog/"><strong><em>ru_antidog</em></strong></a><em> и </em><a href="https://community.livejournal.com/hate_crazy_fish/profile"><em><img src='/files/CCBC60EE8FBF5D72B045A8EDD2E596B6.gif'  alt="" width="16" height="16" /></em></a><a href="https://community.livejournal.com/hate_crazy_fish/"><strong><em>hate_crazy_fish</em></strong></a><em>.</em>
</p>
 
<p>
Явное клонирование приёма великого провокатора <a href="https://apazhe.net">apazhe</a>, который создавал такие сообщества десятками, и весьма в этом преуспел.
</p>
 
<p>
Не подумайте, что я одобряю разжигание вражды и ненависти. Но тот, кто сыплет проклятиями и желает смерти людям за ерунду, хуже того, кто провоцирует. В конце-концов, дело в тебе, а не в других.
</p>

	