Id: f08bea92-8d24-4ae0-97b4-ac5e0c327e49
Title: "Крит — 18, магазины и океанарий"
Published: "2008-10-15"
Slug: "2008-10-15 Крит — 18, магазины и океанарий"
-
<p>
Сначала я расскажу про магазины, а потом про то, что мы делали после Ираклиона. Так уж вышло, что делали мало что, и отдельного поста про это не будет. Поскольку фотки магазинов приводить глупо, рассказ будет перемежаться официальными фотками критского <a href="/admin/Pages/%D0%A2%D0%B0%D0%BD%D1%8F%20%D1%81%20%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B5%D0%BC%20%D0%B2%D0%BC%D0%B5%D1%81%D1%82%D0%BE%20%D0%BE%D0%BA%D0%B5%D0%B0%D0%BD%D0%B0%D1%80%D0%B8%D1%8F%20%D0%B7%D0%B0%D0%B3%D0%BE%D1%80%D0%B0%D0%BB%D0%B8,%20%D0%BF%D0%BE%D1%82%D0%BE%D0%BC%D1%83%20%D1%87%D1%82%D0%BE%20%D0%BD%D0%B5%D0%B4%D0%B0%D0%B2%D0%BD%D0%BE%20%D0%B1%D1%8B%D0%BB%D0%B8%20%D0%B2%20%D0%BA%D1%80%D1%83%D1%82%D0%B5%D0%B9%D1%88%D0%B5%D0%BC%20%D0%BE%D0%BA%D0%B5%D0%B0%D0%BD%D0%B0%D1%80%D0%B8%D0%B8%20%D0%A5%D0%B5%D0%BB%D1%8C%D1%81%D0%B8%D0%BD%D0%BA%D0%B8,%20%D0%B8%20%D0%B8%D0%BC%20%D0%B1%D1%8B%D0%BB%D0%BE%20%D0%BD%D0%B5%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BD%D0%BE.">океанария</a>. 
</p>
 
<p>
В Кавросе находятся рядом два магазина и заправка. Один из супермаркетов – местная сеть Inka. Как видим, критяне не избежали соблазна брать для брендов модные иностранные слова. Хотя, казалось бы, и у самих экзотики хоть отбавляй.
</p>
 
<p>
Магазины сравнительно небольшие, по размеру как Maxima 1.5 X. Магазинов размером больше этого не Крите я не видел – возможно, их и нет. Как мы помним, всего на острове живёт лишь 623 тыс. человек, причём в самом большом городе, Ираклионе – 137 тыс. Добавьте сюда нехватку места, и отсутствие гипермаркетов становится вполне объяснимым.
</p>
 
<p>
&nbsp;<a href="/files/blogengine/Writer/18_111AE/image.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/18_111AE/image_thumb.png" border="0" alt="image" title="image"  ></a>&nbsp;
</p>
 [more text=Читать про магазины, смотреть крутые фотки морских обитателей] 
<p>
Внутри представлен обычный европейский ассортимент, многое правда греческого производства. Цены выше, чем в Латвии, то есть высокие даже сравнительно с Москвой, и уж точно выше, чем в США. 
</p>
 
<p>
Такой прикол был: купил я баночку с надписью Soda Water. Как мы знаем, в америке так называют любой газированный напиток с ароматизатором. То-то я удивился, когда эта внутри банки оказалась просто вода, но сильногазированная. То есть то, что в Советском Союзе можно было купить за 1 копейку в автомате. Если кто не в курсе, за 3 копейки можно было купить газированную воду с сиропом. Говорят, неподалёку от моего дома, где раньше было т.н. газовое хозяйство, стоял автомат, наливавший газировку бесплатно, правда без сиропа. Если это правда, то получается, что аналоги free drinks для работников были и в CCCР. 
</p>
 
<p>
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/18_111AE/image_thumb_3.png" border="0" alt="image" title="image"  >
</p>
 
<p>
&nbsp;
</p>
 
<p>
Обошлась мне баночка с газировкой размером в 0.33 л. в целых 1,2 €. Кстати, с произношением и написанием символа евро существует целая куча проблем, которые <a href="http://en.wikipedia.org/wiki/Linguistic_issues_concerning_the_euro">отражены</a> в википедии. Так, символ € (Ctrl+Alt+4 в латинской раскладке) пишут то справа, то слева. С названием “евро” в разных языках ещё веселее – Латвия хотела вообще использовать eira (женский род), но европейский центробанк дал ей по голове. Помогло ненадолго – сейчас Латвия использует eiro, потому что слово Европа на латышском пишется как Eiropa. ЕЦБ не согласен – но с ним можно бороться, что успешно продемонстрировала Болгария – они называют валюту “Евро”, и даже заставили центробанк выпустить деньги с такой надписью, хотя он жаждал единого “ЕУРО” и в кириллице. Раз уж я пишу про Крит, скажу что по-гречески будет <em><strong>ΕΥΡΩ.</strong></em>
</p>
 
<p>
<a href="/files/blogengine/Writer/18_111AE/image_3.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/18_111AE/image_thumb_4.png" border="0" alt="image" title="image"  ></a>&nbsp;
</p>
 
<p>
Продолжим про супермаркет. Открытки были на улице, их не охраняют, надо взять нужную и занести внутрь, чтобы купить. Продавцы говорили на английском и немецком, вели себя приветливо/нейтрально, но без американских прикленных улыбок. Из экзотики – просто гигансткие горы специй. Специи рассчитаны на туристов – местные покупают их без модных пакетов, не помню только, на развес или нет. Очень большой был отдел с алкоголем, это уж явно для нас. Там были как экзотические ликёры в ярко-синих бутылках, так и местное региональное вино. Я прикупил бутылок 5: потом пил на корпоративной тусовке, дома, и ещё вроде осталось друзьям в подарок, если родители не выдули.
</p>
 
<p>
<a href="/files/blogengine/Writer/18_111AE/image_4.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/18_111AE/image_thumb_5.png" border="0" alt="image" title="image"  ></a> 
</p>
 
<p>
Мне было интересно попробовать местный ширпотреб тоже, поэтому я несколько раз покупал всякое. Например, шоколадное молоко. В Америке всякого молока с ароматизаторами целая полка, а тут только шоколадное одной марки. Интересно,&nbsp; что надписи на этикетках только на греческом: в Латвии все надписи на трёх-четырёх языках (прибалтийские+русский), часто есть английский. Так что йогурты я покупал наугад. Йогурты вкусные (кажется, лучше, чем у нас), видов довольно много. Газировки похожи на наши, но вроде бы некоторые чуть получше, их я покупал, потому что отельные алл-инклюзив надоели в конце-концов хуже горькой редьки. Интересно, что самую крутую марку лимонада делают из родниковой воды, полученной в ущелье Самария. Соки же были как у нас – американские лучше. Глазированных сырков, кстати, не видел. Мороженое, напротив, навороченное и дорогое.
</p>
 
<p>
<a href="/files/blogengine/Writer/18_111AE/image_5.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/18_111AE/image_thumb_6.png" border="0" alt="image" title="image"  ></a> 
</p>
 
<p>
Ещё были мои любимые кофейные напитки. Такие же вкусные, как и Сinnabon в США, хоть и в пластиковых банках, а не аллюминиевых. Был фраппе мгновенного приготовления – порошок и вода в комплекте. Знал бы, какая гадость, не купил бы. Хлеб и сдобу я не покупал, но на вид красивый, такого, как наш дешёвый кирпичик, нету.
</p>
 
<p>
<a href="/files/blogengine/Writer/18_111AE/image_6.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/18_111AE/image_thumb_7.png" border="0" alt="image" title="image"  ></a> 
</p>
 
<p>
Специй, кстати, я накупил вагон, сейчас потребляю. Специи вкусные и ароматные, но некоторые на любителя. Я покупал смеси, чтобы не париться с выбором и насыпанием нужных в определённое блюдо. Но смесь может содержать какую-то одну специю, что тебе не по душе, и тогда ей пользоваться сложно. Правда, большая часть меня устраивает – хотя от разных производителей пакеты для одного и того же блюда могут сильно отличаться. Одна смесь для спагетти мне нравится, а вторая слишком уж отдаёт полынью. Зато из кухонного шкафа у меня запах идёт, как летом на лугу, а то и круче – как на критском лугу, а он побогаче нашего. 
</p>
 
<p>
<a href="/files/blogengine/Writer/18_111AE/image_7.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/18_111AE/image_thumb_8.png" border="0" alt="image" title="image"  ></a>
</p>
 
<p align="center">
&nbsp;
</p>
 
<p>
Тут люди спрашивали, чем живут критяне кроме туризма. Известно чем – производством оливок. Попробуйте угадать в комментариях, сколько на острове оливковых деревьев (без гугля), а я раскрою ответ, поведанный мне местным, в следующих постах.
</p>
 
<p>
После посещения исторического центра Ираклиона, мы захотели освежиться, для коей цели стали искать море. Как ни странно, делали мы это минут двадцать, хотя на Крите, куда ни кинь взляд, всюду море – ведь вдоль него идёт национальная магистраль. Но вот съехать с неё можно лишь с некоторым трудом, что мы всё-таки осуществили, найдя съезд на старое национальное шоссе. В дороге нас всюду сопровождали коричневые знаки Crete Aquarium. Как известно, коричневый знак в ЕС означает диковину для туристов, и в Латвии ими крайне злоупотребляют. Но у нас по крайней мере они указывают на разные штуки. А на Крите половина указывает на океанарий. Кстати, если кто не читал про мой визит в океанарий Шеда в Чикаго, <a href="/post/2008-07-01%20%D0%A1%D0%A8%D0%90%20-%209%2C%20Shedd%20Aquarium%20_%D0%9E%D0%BA%D0%B5%D0%B0%D0%BD%D0%B0%D1%80%D0%B8%D0%B9%20%D0%A8%D0%B5%D0%B4%D0%B4%D0%B0_">самое время</a>. Что касается критского океанария, то он неплох, хоть там порой вместо аквариумов с рыбами – мониторы. Им стоит поучиться грамотному использованию компов в туристических местах у американцев – те порядком поднаторели в своих интерактивных штучках. Зато в критском заведении были акулы и огромные пресноводные рыбины в гигантском аквариуме, который можно осматривать со всех сторон. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/18_111AE/IMG_0379.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/18_111AE/IMG_0379_thumb.jpg" border="0" alt="IMG_0379" title="IMG_0379"  ></a> C черепахами на Крите просто беда – их не только в реальности не найти, они даже в виртуальности стёрты. Мы точно в матрице
</p>
 
<p align="center">
В целом, нам с Андреем всё понравилось. Таня с Сергеем вместо океанария загорали, потому что недавно были в крутейшем подобном учреждении в Хельсинки, и им было не интересно. Сходить при случае в критский океанарий вполне можно, тем более, что вы в любом случае поедете мимо, если арендуете машину.&nbsp; В хельсинкский <a href="http://www.sealife.fi/page.php?page_id=370">тоже стоит</a> - хоть там цены и чуть повыше, зато есть туннель с прозрачным потолком и стенами, где рыбы плавают всюду вокруг тебя.<a href="/files/blogengine/Writer/18_111AE/DSCN3695.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/18_111AE/DSCN3695_thumb.jpg" border="0" alt="DSCN3695" title="DSCN3695"  ></a>Сергей в ожидании нас</p><p align="center"><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: start; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p align="center">
</p>

	