Id: 9bd061a7-ab6a-484f-9a61-7002b22875f1
Title: "США — 25, Сеть супермаркетов Woodman's и про еду, часть 3"
Published: "2008-07-25"
Slug: "2008-07-25 США — 25, Сеть супермаркетов Woodman_s и про еду, часть 3"
-
<p>
&nbsp;
</p>
 
<p>
Чёртов СУП не может даже сделать нормальную поддержку нового стандартного протокола AtomPub, чтобы я мог с удобствами писать из клиента Windows Live Writer. Но меня это не остановит, так и знайте, распильщики денег Мамута!
</p>
 
<p>
Остановить меня может другое – уже прошло больше месяца с момента моей поездки, а вспомнить детали нелегко. Но я попробую, благо подкрепился холодным супом. Делал я его из вчерашних овощей из пакета (тушёных горошка и морковки), китайской капусты, магазинной банки со консервированной свёклой, огурцов, жёлтого и жгучего перцев. Залил всё самодельным йогуртом и водой. 
</p>
 
<p>
Теперь, когда я согласно худшим обычаям блогопомоек сообщил вам, что меня злит и что я ел, можно наконец приступить к повествованию.
</p>
<div class="ljcut">
 
<p>
Американцы, если кто не в курсе, очень любят готовую и обработанную еду. Многие народы кушают овощи и мясо, при этом готовят их недолго, то есть делают салаты и жарят. Сладости пекут из муки, украшают фруктами. В Америке тенденция обратная. Тут любят какие-то чипсы миллиона видов, полуфабрикаты миллиарда и всяческую платмассу в виде десерта. Причём про пластмассу я не преувеличиваю.
</p>
 
<p>
Вот, например, два любимых американских лакомства. Они исключительно пластиковые на вкус. Первое&nbsp; - twizzlers, то есть закрученные пластмассовые палочки с <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%BA%D1%80%D0%B8%D1%86%D0%B0">лакрицей</a>. Я до того про лакрицу ничего не знал, да и не особо хочется – звучит слишком уж похоже на мокрицу.
</p>
 
<p align="center">
<a href="https://en.wikipedia.org/wiki/Twizzlers"><img style="border-width: 0px" data-src="/files/blogengine/Writer/24Woodmans3_12078/image.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Twizzlers это бренд, спецназвания у палочек нет
</p>
 
<p align="left">
Второе – пластмассовые бобы aka Jelly Beans. Бобы снаружи твёрдые, в внутри тянущиеся, сделаны из сахара с загустителями. Вкусов разных миллион, стоят все одинаково. Насыпаешь их сам себе какие нравятся из коробки с жерлом, похожей на те, в которых у нас кофейные зёрна. Бобы у нас наверное тоже есть, но в Америке их потребляют куда сильнее. Американцы из всех президентов больше всего любят Рейгана, а Рейган любил пластмассовые бобы фирмы Jelly Belly. До такой степени, что в 1983 даже отправил их в качестве сюрприза астронавтам в космос. 
</p>
 
<p align="center">
<a href="https://flickr.com/photos/miwaza/100016085/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/24Woodmans3_12078/image_3.png" border="0" alt="image" title="image"  ></a>
</p>
 
<p align="center">
&nbsp;<br>
Jelly Belly, то есть популярный бренд пластмассовых бобов.
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
Бобы можно есть отдельно, а можно совмещать несколько с разным вкусом, создавая “блюда” разных “вкусов”. Вот вам картинка для наглядности.
</p>
 
<p align="left">
&nbsp;<a href="/files/blogengine/Writer/24Woodmans3_12078/image_4.png"><img data-src="/files/blogengine/Writer/24Woodmans3_12078/image_thumb.png" border="0" alt="image" title="image"   align="left"></a> 
</p>
 
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
<p align="left">
Как может боб иметь вкус газированного напитка? Ещё забавно, как сильный вкус вишни так и называется Very Cherry, то есть “Очень вишня”.
</p>
 
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
 
<p align="left">
&nbsp;
</p>
 
<p align="left">
Фруктовый салат из конфет – только американцы такое могут придумать.
</p>
 
<p align="left">
&nbsp;
</p>
 
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
 
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
 
<p align="left">
А уже известный нам с вами банановый сплит.
</p>
 
<p align="left">
&nbsp;
</p>
 
<p align="left">
&nbsp;
</p>
 
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
 
<p align="left">
&nbsp;
</p>
 
<p align="left">
Пуддинг. Кстати, в США они не такие противные, как у нас. Не помню, где ел, но понравился.
</p>
 
<p align="left">
&nbsp;
</p>
 
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
 
<p align="left">
&nbsp;
</p>
 
<p align="left">
Смуси, тоже уже знаем.
</p>
 
<p align="left">
&nbsp;
</p>
  
<p align="left">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>
 
<p align="left">
Маффины и бэйглсы – вот как их называют даже русские, давно позабывшие правильную речь. А на деле это всего лишь кексы и пышки. Кстати, вполне неплохие, есть много видов: сырные, с ягодами и т.д.
</p>
 
<p align="center">
&nbsp;
</p>
<p align="center">
&nbsp;
</p>
<p align="center">
&nbsp;
</p>
<p align="center">
&nbsp;
</p>
 
<p>
Как после этого не сказать, что американцы всё любят упрощать и доводить до крайнего китча, я не знаю. Впрочем, конфетки эти мне понравились. Зато традиционные десерты в США оставляют желать лучшего. Если хочешь вкусный торт или пирожное, надо идти в “европейскую” пекарню, весьма недешёвую. Кстати, вспомнилось – в каждом заведении общепита наряду с сахаром есть несколько сахарозаменителей – можешь взять тот, от привкуса которого тебя меньше тошнит. Причём упаковки по всей Америке одинаковых цветов, чтобы читать не надо было. Мне лично и сахарин, и аспартам, и сукралоза aka splenda противны, хотя последнюю я как-то мало пробовал. Впрочем, последние исследования показывают, что люди, потребляющие заменители, вес не теряют, а наоборот, набирают. Секрет в том, что они сознательно или подсознательно навёрстывают упущенное б<strong>о<em>́</em></strong>льшими порциями другой еды.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/soopahviv/33825601/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/24Woodmans3_12078/image_5.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
В Америке разрешены 5 сахарозаменителей, а существуют десятки
</p>
 
<p>
Напитки, понятное дело, тоже по сто раз обработаны. Например, я в Вудмансе купил кофейный напиток фирмы <a href="https://www.cinnabondrinks.com/">Cinnabon</a> в аллюминиевой банке. Вкусно, похоже на кофейную сгущёнку. Правда сахара там жуткое количество. Кофе - это ведь уже продукт обработки, а тут ещё одна ступень. И так они во всём.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/24Woodmans3_12078/image_6.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/24Woodmans3_12078/image_thumb_3.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Cinnabon. Не путать&nbsp; с корицей –&nbsp; она называется сinnamon.
</p>
 
<p align="left">
Кстати, забыл сказать. Из-за всего этого режима экономии у Вудманса даже сайта нормального нет – просто визитка с адресами. Кстати, ещё мы в вудмансе купили фотооткрыток с видами Висконсина и лотерейные билетики, которые можно после розыгрыша проверить по прогрессивной методике – лазерным сканером на месте продажи. Так ты будешь точно знать, выиграл или нет, ТВ/радио слушать не надо. Увы, мне он написал “Not a winner”, что я и сам прекрасно знаю.</p><p align="left"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>
</div>

	