Id: 9cb27860-5077-4075-9273-019b68f8310b
Title: "Интерлюдия - пока я пишу про США"
Published: "2008-06-28"
Slug: "2008-06-28 Интерлюдия - пока я пишу про США"
-
<p>
Мой друг&nbsp; - фальшивый панк и анархист (как бы не опечататься на антихрист) живёт в мире своих фантазий, которые мало чего имеют общего с реальным миром. Он слабо представляет, как устроен капитализм, экономика, чего хотят и чего могут люди, да и не желает знать. Знания помешали бы ему искренне не любить окружающее его &quot;быдло&quot;, мечтать о волшебных замках и жить в уютном мире грез.
</p>
 
<p>
А чтобы не быть голословным, приведу пример. Один раз мы заметили кошку, у которой вокруг шеи был привязан картонный конус. Друг мой стал сразу возмущаться таким ужасным издевательством над другом нашим ближним и говорить, какие все быдлы. Я же ему сказал, что он вечно так реагирует - не разобравшись в вопросе, делает скоропалительные выводы.&nbsp; Может быть, над кошкой вовсе не издевались, а вовсе&nbsp;&nbsp; даже и наоборот. На что друг мне ответил, что ему &quot;и так всё понятно&quot; и разбираться тут не в чем. Отличная позиция, чтобы сохранить иллюзии и больные представления о мире, не спорю.
</p>
 
<p>
А я ещё немного ещё подумал, потом позвонил маме и выяснил, что кошкам одевают конус на шею во время болезни, чтобы они не вылизывали раны с лекарством.
</p>

	