Id: 56e91ebe-7531-463b-953f-0245d46a108f
Title: "Крит — 12, Неприятности"
Published: "2008-10-07"
Slug: "2008-10-07 Крит — 12, Неприятности"
-
<p>
The beautiful town of Chania is located to north-east, упс, простите, north-west, упс, простите, я хотел сказать восхитетельный город Хания расположен и всё такое. Если кто не понял, это было рекурсивное упс, простите. Если кто опять не понял, я не виноват, потому что слишком много смотрю доктора Хауса, ум за разум заходит.
</p>
 
<p>
В любом случае, я общал рассказать, что же такого неприятного случилось с нами после Ретимно. Как известно, про неприятное, странное и вовсе извращённое узнавать всяко интересней, хоть в этом многие и не признаются. Потому что кого интересует нечто обычное и благополучное? Это скучно! (Опять Хаус полез, жуть).
</p>
 
<p>
Так что я утолю ваш интерес. Дело в том, что когда мы аредовали машину, Тане сказали что-то про то, что завтра “особый день” и бензин можно будет купить только на избранных заправках. В принципе, когда мы ехали в Ретимно, стрелка показывала достаточно много остатков, и потому мы не особенно волновались. (кто ест остаток, тот чист и гладок – согласно польской поговорке). Но когда мы уже было намылились из Ретимно в Ираклион, стрелка вдруг резво поползла вниз, что повергло нас в некоторый ступор. "We’ve got a leak!" хотел сказать я подобно пилоту вертолёта из последней серии Lost, но что-то меня остановило. Наверное, это была мысль о том, что мы застрянем посреди шоссе в десятках километров от отеля, если срочно не найдём заправку. Проблема состояла в том, что открытых заправок по дороге не было! Мы внимательно смотрели, уж будьте уверены. В некоей растерянности мы остановились около автоцентра , где тётеньки в летах позвали молодую девушку, которая мне и сообщила с некоторым сожалением: They’re on strike!
</p>
 
<p>
На моём родном (к сожалению, наверное) русском языке это означает: “Они бастуют”. Тут-то я и припомнил, что в паре статей, которые я мельком пробежал глазами перед вылетом на Крит, было написано, что бастующие заправщики – местная достопримечательность, навроде оливок. Тут бы вам и посмеяться, припомнив расслабон, но нам, поверьте, было не до смеха. Кто-то нам всё-таки подсказал, где найти работающую заправку. В принципе, могли догадаться и сами, по длинному хвосту автомобилей и мотоциклов, торчащему вдоль улицы.
</p>
 
<p>
Однако вот незадача – не успели мы простоять в очереди и двадцати минут, как работники заправки, объявили, что безин кончился. Я с умным видом шёл обратно и показывал стоящим в очереди туристам руками крест – знака умнее мне в голову не пришло. Пара греков даже пыталась со мной разговаривать по-гречески, но обломились, хехе, потому что я отвечал им как заведённый только “no fuel”, “no gas”. Явно не местные – эти-то давно в курсе, что забастовка – это веселый отдых, и нельзя обламывать землякам расслабон. А туристам – можно, всё равно им деваться некуда, ведь Крит – остров. Я, кстати, между делом поговрил с молодым голландцем на скутере, который ничего полезного не сообщил, а только строил озабоченную рожу. Зато на английском говорил отлично и понятно. Как известно, ходжа ищет кольцо не там, где его потерял, а там, где светло.
</p>
 
<p>
В конце-концов, у нас не осталось выбора, кроме как позвонить по номеру, указанному в договоре аренды автомобиля. К счастью, у Андрея был телефон с роумингом (он на телефоне слушает аудиокниги и потому таскает его с собой), и вдобавок, вирус расслабона ещё не добрался до человека на том конце виртуального провода. Поэтому он нам сообщил, что на расстоянии в пять километров от Кавроса есть работающая заправка, где нас обслужат. Но Каврос – это в противоположную, тому месту, где мы находимся, сторону, ближе к городу Хания, то есть на западе. Молясь, чтобы хватило горючки, мы ломанулись обратно по нац. шоссе, а потом и в горы, искать заправку. Продавец в забегаловке,&nbsp; по виду турок, сообщил, что вожделённые бочки с бензином близко, но заправка закрыта, и нас не обслужат. В этом месте я стал кое-что подозревать, и мои подозрения разрешились удачным для нас образом: заправка действительно была закрыта, а отец с сыном 13 лет лениво сидели около колонки и в течении минуты рожали фразу “Завтра всё будет”. Нет, не это было удачным, а то, что один звонок от нашего друга-арендодателя внезапно разрешил проблему – причём заливали нам почему-то фирменное шелловское топливо премиум-класса. Если я до сих пор не упомнул, станция была фирмы Shell. Кстати, знаете как она уже 80 лет называется на самом деле?
</p>
 
<p>
Royal Dutch Shell, то есть Королевская Голландская Раковина. Нет, на сей раз <a href="http://en.wikipedia.org/wiki/Royal_Dutch_Shell">я не шучу</a>.&nbsp; Кстати, Шелл – третья по размеру компания в мире, после злобной мегакорпорации Wallmart и ExxonMobil неизвестного уровня злобности. Сама Шелл старается выглядеть добренькой – по евроньюс всё время реклама, как они поддерживают разработку альтернативных источников энергии и заботятся об экологии, создавая иновационную нефтяную супервышку вместа ста маленьких. Охотно поверю – особенно, если эти источники станут доступными аккурат когда начнёт кончаться нефть, и обеспечивать их будет опять-таки корпорация Shell. А заботиться об экологии, когда одновременно с этим выходит экономия – почему бы и нет? Особенно, когда последнее – причина, а первое – следствие.
</p>
 
<p>
Удачно заправившись, мы сообразили, что теперь-то нам уже ближе до города Хания, чем переться обратно в Ретимно, а потом и до Ираклиона. По пути выяснили ещё два забавных факта. Горючее кончалось не потому, что вытекало, а потому, что бак нашей мегатачки составлял всего лишь 30 литров. Кстати, “пойти отлить“ на английском будет go take a leak, последнее слово также означает утечку.Кстати, в теории, я прокатчиков понимаю – всё равно турист просить при аренде будет полный бак, а вернёт пустой. Покупаем машину с баков 30 литров – вуаля, проблемы нет, потому что полный стал почти равен пустому. Если кто не в курсе, обычный бак в машине – 60-70 литров, даже в крохотульках вроде нашей обычно хотя бы 40. Но осадок всё равно осталася: туристов обувать хорошо лишь тогда, когда это не так явно.
</p>
 
<p>
Второй забавный факт: в пяти км от первой “Шелл” встретилась вторая. И она была открыта. Вот и говори о везении и своевременности.
</p>
 
<p>
А в следующей части всё-таки будет про Ханию.<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;</a></p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>

	