Id: 32f54e6c-e7b2-4c72-8126-ad8aaadd740d
Title: "США — 5, Чикаго"
Published: "2008-06-27"
Slug: "2008-06-27 США — 5, Чикаго"
-
<p align="center">
<a href="/files/blogengine/Writer/5_221/F2Mademan.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/5_221/F2Mademan_thumb.jpg" border="0" alt="F2Mademan"  ></a>
</p>
 
<p align="center">
Кто знает, откуда картинка, возьмите с полки пирожок
</p>
 
<p>
&nbsp;&nbsp;&nbsp; Не знаю, как у вас, а у меня Чикаго вызывает стойкие ассоциации с гангстерами (по-нашему - бандитами) 30-х годов в шляпах и с автоматами "Томпсон". С тех пор много воды утекло, но очарование всё равно осталось. Чикаго - красивый город. В первую очередь потому, что цвета у него хорошие - все оттенки песочного. Светло-кремовый, коричневый, красно-коричневый, тёмно-рыжий и просто серый в небольшом количестве.[more text= Не верите - смотрите сами.]Не верите - смотрите сами.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/5_221/IMG_5206.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/5_221/IMG_5206_thumb.jpg" border="0" alt="IMG_5206"  ></a> 
</p>
 
<p align="center">
Для аутентичности приведу одно своё фото, а остальные стащу из <a href="https://lurkmore.ru/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82%D1%8B">интернетов</a> в лице <a href="https://flickr.com/search/?q=chicago&amp;w=all">фликра</a>
</p>
 
<p>
Впрочем, обо всём по порядку.
</p>
 
<p>
В Чикаго мы выехали в середине дня, чтобы успеть заселится в отель и ещё немного погулять. Это нам удалось - отель называется <a href="https://doubletree1.hilton.com/en_US/dt/hotel/CHIMMDT-Doubletree-Hotel-Chicago-Magnificent-Mile-Illinois/index.do;jsessionid=2FA940E6E3ABD3DA7C1E8E11AA9B3B8D.etc64?brand_id=DT&amp;brand_directory=/en/dt/&amp;xch=220607324,DHVT4PS4ZDLIGCSGBJBNUKQ">DoubleTree</a>, дорогой и качественный. Cтоил правда за комнату 75$+налог, но только благодаря сайту <a href="https://www.priceline.com">www.priceline.com</a>, которым пользуется моя сестра. Обычным порядком стоил бы *2 и более.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/houlihan/32289131/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/5_221/image.png" border="0" alt="image"  ></a>&nbsp;<br>
Автор -&nbsp; <a href="https://flickr.com/photos/houlihan/">Patrick Houlihan</a>.<br>
Везёт мне на хулиганов - см. будущую часть про Wisconsin Dells
</p>
 
<p>
Кстати, про налог. Факт, конечно, общеизвестный, но налог на добавленную стоимость в США очень часто не указывается в ценах. Он невелик (<a href="https://en.wikipedia.org/wiki/Sales_taxes_in_the_United_States">5-10% в зависимости от штата</a>), и все в курсе, поэтому удивления это не вызывает. Любопытно, что интернет-магазины должны платить налог штата, где находится покупатель. Но на первых порах развития интернета это было не так важно,да и считать сложно, поэтому веб-магазины вовсе ничего не платили. С одной стороны, лавочку постоянно хотят прикрыть, ибо нефиг. С другой - потребление надо развивать, а то ведь падение потребления может вызвать цепную реакцию падения производства и доходов населения. Поэтому другие силы постоянно хотят объявить мораторий на налоги для интернет-магазинов. Правда, мегакорпорации всё же платят налог сразу, по штату базирования. 
</p>
 
<p align="center">
<a href="https://flickr.com/photos/siefken/2573193178/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/5_221/image_3.png" border="0" alt="image"  ></a>&nbsp;<br>
Когда мы приехали, был именно такой туман - как пожар прямо
</p>
 
<p>
В целом - нелегко жить капиталистам, потреблять слишком сложно. Даёшь биомассу по трубочкам прямо в рот! Шучу, шучу, не принимайте близко к сердцу. Всё равно, десять тысяч лет истории современной человеческой цивилизации для планеты ничто. Вот просуществуем хотя бы сто тысяч, тогда можно будет говорить о транжирстве ресурсов планеты, а пока что - мы на самом деле значим меньше букашек для матушки-земли.
</p>
 
<p>
Впрочем, я увлёкся.
</p>
 
<p align="center">
<a href="https://flickr.com/photos/pookiemesserschmittz/439999401/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/5_221/image_4.png" border="0" alt="image"  ></a>&nbsp;<br>
Чикагское метро по большей части надземное. Кто тут не верил в красоту коричневого цвета?
</p>
 
<p align="left">
Несмотря на то, что в Чикаго живёт девять миллионов человек, <a href="https://www.tema.ru/travel/usa-6/">сделан он из бетона и стали</a> и не зря зовётся <a href="https://en.wikipedia.org/wiki/Windy_City%2C_Origin_of_Name_(Chicago)">Windy Сity</a>, то есть Город Ветров, у меня лично осталось ощущение уюта и расслабленности. Просили личных впечатлений - получите! Почему - сложно сказать. Если вы жить без причины не можете, <a href="https://books.google.com/books?id=oHHtOcafZLcC&amp;pg=PA170&amp;lpg=PA170&amp;dq=%D0%BD%D0%B0,+%D0%B2%D0%BE%D0%B7%D1%8C%D0%BC%D0%B8+%D0%B5%D1%91+%D1%81%D0%BA%D0%BE%D1%80%D0%B5%D0%B9&amp;source=web&amp;ots=g8OCz9jrFw&amp;sig=2pGdj4KDArlCILjbo--ziMINdmA&amp;hl=en&amp;sa=X&amp;oi=book_result&amp;resnum=1&amp;ct=result">"на, возьми её скорей"</a>. Даже несколько приведу. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/5_221/image_5.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_221/image_thumb.png" border="0" alt="image"  ></a>&nbsp;<br>
<a href="https://chicagotraveler.com/chicago-free-trolley.htm">Chicago Free Trolley</a>
</p>
 
<p align="left">
Во-первых, что конечно театр абсурда, но туристов по Чикаго бесплатно возят стилизованные под старину автобусы под названием trolley,&nbsp; что переводится и вовсе как "трамвай".
</p>
 
<p align="left">
Во-вторых, центр города не кажется большим: в половине небоскрёбов находится жилые квартиры, на берегу озера - пляж, где вечером играют в разные игры, и если недалеко пройти, можно попасть в целых два разных парка.
</p>
 
<p align="left">
Во-третьих, американцы всюду обычно ходят в простых шортах и майках. В европейских городах люди одеваются навороченнее, и я там чувствую себя провинциалом. Чикаго, конечно, немного всё-таки исключение -&nbsp; там мы видели людей в вечерних костюмах и вообще изящно одетых, но не так уж и много.
</p>
 
<p align="left">
В Чикаго жили и творили целые толпы великих архитекторов, самый известный из которых <a href="https://www.lookatme.ru/flow/zapovedi-rayta">Фрэнк Ллойд Райт</a>, но выглядит всё органично. Хотя вот я хитроумно специально фотографии так подобрал, чтобы подтвердить свою теорию про песочный цвет, и не показал синие и чёрные небоскрёбы. И правильно - всё равно они в городе не в тему, как мне кажется.
</p>
 
<p align="left">
Пока мы гуляли по Magnificent Mile, представляющей здоровую такую туристическую улицу с блестящими витринами бутиками, задул такой ветер, что мне аж холодно стало. А куртку из Мэдисона я не взял, надеясь на хорошую погоду. Это и подвигло нас зайти в гламурный одёжный супермаркет Macy's и прикупить курточку цвета Чикаго. Строго со скидкой куртка обошлась в 50$ - не так уж страшно. 
</p>
 
<p align="center">
<a href="https://flickr.com/photos/jolyn/406182515/sizes/o/"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_221/image_6.png" border="0" alt="image"  ></a>&nbsp;<br>
Macy's a.k.a Marshall Fields in Chicago, Illinois 
</p>
 
<p align="left">
Любопытно, что продавцами были обаятельные мужчины среднего и выше возраста в строгих чёрных костюмах. При этом, сестра сказала, что получают они не так уж много, и почему они не ленятся круто выглядеть и производить впечатление - загадка. То есть можно потеоретизировать, что работодатель в лице Macy's этого требует, но ведь не так уж просто такого добиться. Вообще, вопрос этот двоякий. С одной стороны, понятно, что когда ты с иголочки выглядишь и общаешься с покупателем так, что он себя чувствует как на саммите, а не в магазине, тебе самому становится приятно и ты испытываешь гордость за то, как работаешь. С другой - это злобная корпоративная эксплуатация, когда людям, делающим убогую и холуйскую в сущности работу, внушают, что они должны делать её идеально и радоваться. Творчеству нужно радоваться, а не тому, что ты многодетной старой толстой домохозяйке впарил вечернее платье, которое ей всё равно некуда надевать и которое на неё не налезет.
</p>
 
<p align="left">
Довольно скоро мы вернулись в отель, купив по пути сэндвич в Сабвее. В номере нас ждало печенье с шоколадной крошкой, которое нам подарили при регистрации и кофеварка на один стакан воды, с прилагающимся кофе и чаем, в том числе ромашковым. Кофе, естественно, обязательно должен подчеркивать, что он estate grown (БАМС! лозунг +1), то есть выращен вроде как в специальном фермерском хозяйстве, а не нищими аргентинскими крестьянами. На мой взляд, вкуснее это его не сделало.
</p>
 
<p align="center">
<a href="https://www.christiecookies.com/StoreFront/IAFDispatcher" title="Нажмите, чтобы заказать печенье"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_221/image_7.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
"Тёплое. Свежее. Вкусое." - гласит лозунг.
</p>
 
<p align="left">
Печенье такое - традиционное американское кушанье, так что оно было весьма в тему для постижения загадочной американской души. Естественно, и на печенье нельзя было обойтись без уверений и разьяснений. На упаковке было начертано, что пекут его каждый день, и что печенье - символ прямо-таки отеческой привязанности, которую питает к нам отель. Печенье, правда, действительно очень вкусное и его можно <a href="https://www.christiecookies.com/StoreFront/IAFDispatcher">купить</a> или <a href="https://foodgeeks.com/recipes/recipe.phtml?recipe_id=18302">испечь</a>. Но это не интересно - куда круче было бы, если бы для дегустации оного каждый раз надо было бы заселяться в отель. Увы, такие тонкие шутки американцам чужды - у них любая мелочь направлена на выдавливание долларов из человека, кроме тех, что выдаются бесплатно в целях завлечения.</p><p align="left"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left"> 
</p>

	