Id: 96c586af-8544-4a91-a241-01b6a512e65b
Title: "Laucesa"
Published: "2008-09-12"
Slug: "2008-09-12 Laucesa"
-
<p>
В прошлую субботу подбил коллег выкатить из чулана велосипеды на мегаботаническую покатушку в Лауцесе. Там, по слухам, есть Dižkoki, то есть древние огромные деревья, плюс туда близко, потому и решил ехать именно в&nbsp; эту сторону. Выехали 13.30, проехали совсем немного - 44 км. Ехали как пенсионеры - останавливались каждые три километра. Зато вроде никто сильно не устал, в следующий раз тоже поедут, в чём и была моя хитрая цель.
</p>
 
<p>
До мегадеревьев не доехали, силёнок не хватило моим соратникам. 
</p>
[more text=Смотреть фотки] 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0001.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0001_thumb.jpg" border="0" alt="IMG_0001"   /></a><br />
Слева - великий яппи Джей Ли Твин Цзе. <br />
Справа - чемпион-шашлычник Серёга, прошедший спецобучение в столице нашей бывшей необъятной родины aka дефолт-сити.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0003.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0003_thumb.jpg" border="0" alt="IMG_0003"   /></a>&nbsp;<br />
Велосипеды все приличных марок&nbsp; - мой Scott, у Джей Ли хардтейл Rock Machine, у Серёги одолженный хромолевый Giant.
</p>
 
<p align="left">
Велики нормальные, особенно когда Giant смазали. Серёга мэн хардкорный - ехал с почти не работающими тормозами. Потом настроили, как смогли - у вела восьмёрки, потому что спиц не хватает. А у Джей Ли - хардкорное советское сиденье на пружинах. Выглядит пугающе, насчёт мягкости ничего не скажу - я привык к моей спортивной жёрдочке, мне на ней хорошо. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1691.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1691_thumb.jpg" border="0" alt="IMG_1691"   /></a>&nbsp;<br />
Увидев коричневый знак достопримечательности, свернули, выехали к поместью
</p>
 
<p align="center">
<br />
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1689.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1689_thumb.jpg" border="0" alt="IMG_1689"   /></a>&nbsp;<br />
Кто там мечтал посмотреть на меня в спортивной форме? 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1692.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1692_thumb.jpg" border="0" alt="IMG_1692"   /></a>&nbsp;<br />
Баронесса, которой принадлежало поместье, проиграла его в карты
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1695.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1695_thumb.jpg" border="0" alt="IMG_1695"   /></a> 
</p>
 
<p align="center">
О чём нам поведал вот этот гражданин, бывший музыкант духового оркестра. Он же продал молока.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1697.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1697_thumb.jpg" border="0" alt="IMG_1697"   /></a>&nbsp;<br />
Рядом же протекает речка Лауцеска, забитая бобровыми плотинами
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0010.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0010_thumb.jpg" border="0" alt="IMG_0010"   /></a>&nbsp;<br />
По пути видели всякое
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0014.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0014_thumb.jpg" border="0" alt="IMG_0014"   /></a>&nbsp;<br />
Разное
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0017.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0017_thumb.jpg" border="0" alt="IMG_0017"   /></a>&nbsp;<br />
Этот кабачок &quot;Ciemos pie veca kaleja&quot; даже <a href="https://www.vietas.lv/eng/index.php?p=2&amp;id=10496">отмечен</a> в путеводителях
</p>
 
<p align="left">
Когда ехали туда, был закрыт. Когда возвращались вечером, там играли свадьбу. С другой стороны кабачка магазин, прикупили булок.
</p>
 
<p align="center">
<br />
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0018.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_0018_thumb.jpg" border="0" alt="IMG_0018"   /></a>&nbsp;<br />
Кабачок оформлен знатно
</p>
 
<p align="left">
В конце-концов доехали до бани (пардон, базы отдыха) Ezerkalns, в котором будем отдыхать с трудовым коллективом через неделю. Явки и пароли - <a href="https://www.drp.lv/Default.aspx?t=2b76b849-1de5-45c6-8ff1-cc3aeb4442dd&amp;m=m1484">на&nbsp; кошмарненьком сайте,</a> к которому я имел некое отношение на прежней работе, потому только на него и зашёл. Вряд ли кто-то, кроме создателей, подозревает о его существовании, или знает, как туда зайти.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1703.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1703_thumb.jpg" border="0" alt="IMG_1703"   /></a>&nbsp;<br />
Зато сам дом отдыха на вид приятен и благоустроен, хоть и встречает посетителей недружелюбной табличкой &quot;Частная собственность&quot;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1704.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1704_thumb.jpg" border="0" alt="IMG_1704"   /></a>&nbsp;<br />
Дома был владелец с сыновьями и собака по кличке Граф. Очень дружелюбная, видимо ввиду молодости.
</p>
 
<p align="left">
Владелец нам разрешил искупаться, хоть по прайс-листу это и стоит 0.20 Ls. Видимо, зачёл в счёт будущего заказа.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1710.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1710_thumb.jpg" border="0" alt="IMG_1710"   /></a>&nbsp;<br />
Как-то так
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1714.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1714_thumb.jpg" border="0" alt="IMG_1714"   /></a><br />
И вот так <br />
<a href="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1718.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/c38b9075083a_1364F/IMG_1718_thumb.jpg" border="0" alt="IMG_1718"   /></a> <br />
Вид на озеро Дерванишки с другой стороны
</p>
 
<p align="left">
Вернулись засветло, заехали к Серёге, поели винограда. От него проводили до дому Джей Ли. Потом меня, посидели в темноте на скамеечке с яблочно-ванильным сидром в руках, как гопота. Увы, да, я опять пью. Надеюсь, это ненадолго.
</p>

	