Id: 68d18aa7-c5a7-4384-a12b-57ed67e4e826
Title: "Всякое"
Published: "2008-05-26"
Slug: "2008-05-26 Всякое"
-
<p>
1)Я опять болею. Болезнь странная - уши &quot;заложены&quot;,&nbsp; хотя насморка особо нет. И ещё совсем не чувствую вкуса еды, вернее запаха. Надеюсь, все знают, что большую часть &quot;вкуса&quot; создаёт как раз запах, потому что сам язык различает только несколько градаций - сладкое, солёное, кислое и горькое.
</p>
 
<p>
Не чувствовать вкус еды - ужасно. Жизнь теряет сразу ещё четверть своей привлекательности. Из плюсов - есть почти не хочется, разве что по привычке и чтобы&nbsp; в желудке хоть что-то было.
</p>
 
<p>
Хорошо хоть музыку слышу.
</p>
 
<p>
2)Потратил очень много времени на изучение модулей CMS Drupal и апгрейд <a href="http://radio.super.lv">http://radio.super.lv</a> на пятую версию&nbsp; Друпала. Для этого даже наконец-то поднял на локальной машине WAMPServer (готовый набор MySQL+Apache+PHP для Виндоус) и плагин VS.PHP для Visual Studio. Плагин рулит - есть подстветка и отладка, причём сразу всё работает.
</p>
 
<p>
Что могу сказать по поводу Друпала: в чём-то Кнут&nbsp; был прав в недавнем интервью. Модульность сейчас имеет такую сложность и отсутствие гибкости, что вместо повторного использования проще написать самому. То есть библиотеки и компоненты повторно использовать сравнительно легко, а вот модули сайта - вряд-ли. Особенно некоммерческие, где нет гарантий выхода новой версии и расширения функциональности.
</p>
 
<p>
Я бы с большим удовольствием переписал всё на ASP.NET вместо PHP друпала, но проблема с хостингом - много места и трафика за небольшие деньги предоставляют только линукс-хостинги, при этом часто требуют, чтобы и сайт хранился у них. Обычно для таких нужд, как у меня, используют CDN - специальные сети доставки контента, но цены у них для некоммерческого проекта запредельные, в районе 10-50 центов за гигабайт.
</p>
 
<p>
Вот есть любопытный и крайне дешёвый CDN - <a href="http://www.simplecdn.com/">http://www.simplecdn.com/</a>. Его идея заключается в том, что <a href="http://www.simplecdn.com/pricing">платишь</a> не за трафик, а за размещение файла, причём цены невысокие - файл размером в 1 мегабайт обойдётся всего лишь в один доллар. А потом этот файл могут скачать хоть миллион раз.
</p>
 
<p>
За такое я бы заплатил, но даже этого не могу себе позволить - для Радиоархива это выйдет долларов 50 в неделю, не говоря уже о существующих файлах, для которых это обойдётся тысяч в десять. Да и боязно доверять недавно созданной компании с такой рискованной бизнес-моделью.
</p>
 
<p>
Позже напишу про nginx, threading и event-based i/o.
</p>

	