Id: 5a8219bc-0989-4b83-a654-3d782d99639f
Title: "Солженицын"
Published: "2008-04-20"
Slug: "2008-04-20 Солженицын"
-
<p>
На Гребенщикова похож.
</p>
 
<p>
<a href="/files/blogengine/Writer/d393f0155b04_14325/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/d393f0155b04_14325/image_thumb.png" border="0" alt="image"   /></a>
</p>

	