Id: 5a477b80-867e-4419-940c-55ee657a8dd0
Title: "Каста"
Published: "2008-08-08"
Slug: "2008-08-08 Каста"
-
<p>
Кстати, на новом альбоме &quot;Касты&quot; несколько весёлых песен есть. Вообще, мне в Касте ограниченно нравится музыка, и иногда нравятся тексты. Но чаще совсем не нравятся. 
</p>
 
<p>
Скачать альбом можно <a href="https://rapidshare.com/files/134056649/__1050___1072___1089___1090___1072_.rar.html">на рапиде</a>. Линк с <a href="https://music.dirty.ru/">music.dirty</a>.
</p>
 
<p>
Смешно конечно, что я так давно не писал про музыку, а тут пишу про такую группу как &quot;Каста&quot;. Что поделать,&nbsp; так вышло. Может и про что получше напишу.
</p>

	