Id: 07db127c-63aa-4dd7-8fcd-65d7dc8baefe
Title: "Кредитные и дебетные карты"
Published: "2008-08-30"
Slug: "2008-08-30 Кредитные и дебетные карты"
-
<p>
Любопытная инфа для молодых людей, живущих в Латвии, и пользующихся Ханзабанка.
</p>
 
<p>
До 25 лет людям выдают дебетную Visa Open за 3 лата в год, выдача&nbsp; - 1 лат, при покупке в магазинах за границей нет комиссионных.
</p>
 
<p>
После 25 выдают дебетную Visa Classic, стоит 10 лат за выдачу и 10 лат в год, 0.5% комиссионных.
</p>
 
<p>
Ну или можно взять Visa Electron подешевле, за 5 латов в год. Но для покупок в интернете она не очень-то годится.
</p>
 
<p>
Инфа <a href="http://www.hansabanka.lv/rus/cenas/cenradis.php?nr=5-15">отсюда</a>
</p>
 
<p>
Ещё можно взять кредитную, там всё бесплатно, кроме процентов по кредиту и снятия денег в банкомате (1 LS + 2.5% &ndash; грабёж), так что для меня&nbsp; это не вариант.
</p>

	