Id: 9bcf4c0c-5b93-4ef4-9e8b-e6f40514f4d7
Title: "Газета"
Published: "2008-09-19"
Slug: "2008-09-19 Газета"
-
<p>
Увидел в магазине газету &ldquo;Суббота&rdquo; с Годманисом на обложке, от смеха аж купил. Первый раз за несколько лет читал газету.
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="http://www.subbota.com/"><img src="http://www.subbota.com/_img/fresh/741.jpg" alt="http://www.subbota.com/_img/fresh/741.jpg" /></a>
</p>
  
<p>
&nbsp;
</p>
 
<p>
Оказывается, газеты тоже жгут! На первой странице описано, чем супергерои могли-бы помочь Латвии, в духе: &ldquo;Человек-паук зимой бы с ледяных крыш падал, не годится&rdquo;. В середине статья, почему астрологи врут. Накал разоблачений слабоват, но за раскрытие темы обывателю &ndash; спасибо.
</p>
 
<p>
Потом ещё есть пессиместичненький анализ, что экономике в жопе, а будет всё ещё хуже. На мой мегадилетантский взгляд &ndash; неубедительно, особенно так часть, где говорится, почему плохо и что надо было делать (девальвировать лат). Если бы правительство так и сделало, советы написали бы наоборот &ndash; лишь бы угодить обывателю, у которого правительство вечно виновато во всех бедах.
</p>
 
<p>
В целом &ndash; ничего, забавно. Впрочем, читать газеты я не стану - неудобно, хоть и приятней для глаз, чем с экрана. Даёшь е-ридеры в массы!
</p>

	