Id: 684807a9-4ab5-48cc-95a5-9cc7cfe21d9a
Title: "Вернулся"
Published: "2008-06-18"
Slug: "2008-06-18 Вернулся"
-
<p>
Отпуск рулит, США тоже. Почаще бы так. Не знаю, буду ли подробно писать про поездку. Я почти не делал заметок и фото, а без них будет скучновато.
</p>

	