Id: 4ea5a296-863f-4192-a7fe-9c437379c361
Title: "Как я ездил в Ригу на выходных"
Published: "2008-11-19"
Slug: "2008-11-19 Как я ездил в Ригу на выходных"
-
<p>
У нас тут а Латвии день независимости во вторник, да не простой, а 90 лет со дня первой независимости. Если кто не в курсе, она началась в 18 году 18 ноября и закончилась в 5 августа 1940 аннексией Латвии Советским Союзом, которую в Латвии принято называть оккупацией.
</p>
 
<p>
С моей точки зрения, всё это абсолютно не важно. Счас кризис как ёбнет, не до того будет. Но пока ещё держимся &ndash; поэтому празднуют с некоторой помпой.
</p>
 
<p>
В частности, в эти дни проходит фестиваль света <a href="https://www.staroriga.com/?locale=ru">Staro Riga</a> - &ldquo;Рига сияет&rdquo;. Чем не повод съездить к друзьям? Тем более, что рабочий понедельник перенесли на субботу, чтобы было 4 выходных подряд. Вот я и поехал. Сначала убрал квартиру, а после еле успел закинуть на плеер чуток музыки, аудиокнигу Филипа Фармера <a href="https://mds.radio.super.lv/Filip_Zhoze_Farmer_-_Bozhij_promysel.mp3">&ldquo;Божий промысел&rdquo;</a> и по традиции чуть не опоздал на автобус. Но не опоздал, даже успел заскочить в киоск купить батарейку.&nbsp; Плеер мой, кстати, помирает, но это наверное не важно, потому что я всё равно собрался купить смартфон, а вернее, коммуникатор.&nbsp; Кандидатов всяких хватает, но о них будет отдельный пост.&nbsp; Что касается рассказа &ldquo;Божий промысел&rdquo; то он забавный, но не более того. В печатном виде время бы тратить не стал.
</p>
 [more text=Итак, что я делал и видел.] 
<p>
&ldquo;Рига сияет&rdquo; &ndash; это по большей части подсвеченные разноцветными прожекторами здания и мосты. Здания выглядят приятно, но не более того. Мосты и небоскрёб Saules Akmens вышли намного круче. Железнодорожный я вам и так показывал, когда на Крит улетал, он всегда подсвечен. А вот вантовый мигает и сверкает отлично &ndash; зелёные проблески напоминают одну из моих любимых компьютерных игр &ndash; Flashback. Здание Raddison Hotel Latvia тоже было интересное &ndash; как мозаика, только динамически меняется.
</p>
 
<p align="left">
Как вы понимаете, всё это надо смотреть в движении, поэтому фото абсолютно ничего не показывают. Фото с фликра, по щелчку оригинал, как обычно.
</p>
 
<p align="left">
<a href="https://flickr.com/photos/26757242@@@@N08/3035019305/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/d8987028d5ad_11FC6/3035019305_905f30e03c_o.jpg" border="0" alt="3035019305_905f30e03c_o" title="3035019305_905f30e03c_o"   /></a>&nbsp;<a href="https://flickr.com/photos/paldies/3036265458/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/d8987028d5ad_11FC6/image.png" border="0" alt="image" title="image"   /></a> 
</p>
 
<p>
<a href="/files/blogengine/Writer/d8987028d5ad_11FC6/image_3.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/d8987028d5ad_11FC6/image_thumb.png" border="0" alt="image" title="image"   /></a>
</p>
 
<p>
&nbsp;<a href="https://flickr.com/photos/83008369@@@@N00/3033202658/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/d8987028d5ad_11FC6/3033202658_907124bc26_o.jpg" border="0" alt="SONY DSC" title="SONY DSC"   /></a> 
</p>
 
<p align="center">
<a href="https://flickr.com/photos/83008369@@@@N00/3032361783/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/d8987028d5ad_11FC6/3032361783_d762e4868e_o.jpg" border="0" alt="SONY DSC" title="SONY DSC"   /></a> В пузыре &ndash; фонтан с афродитой. Когда мы пришли вечером, он, ясное дело, запотел, и внутри ничего не было видно.
</p>
 
<p>
Потом мы сходили в заведение общепита <a href="https://www.vairaksaules.lv/">Vairak Saules</a>, славящееся в основном пиццами. Цены там не особенно гуманные, но терпимые. Я съел французский овощной суп с морепродуктами и пиццу Siciliana. Суп был ничего, но какой-то не особенно выразительный. Оно и понятно &ndash; продукты наверняка замороженные, а не свежие, отсюда и ноги растут. Пицца была замечательная &ndash; с сыром &ldquo;Моцарелла&rdquo;, синим луком, чёрными оливками, корнишонами&nbsp; и перцем халапеньо. Про перец я уже <a href="/post/2008-07-19%20%D0%A1%D0%A8%D0%90%20-%2020%2C%20%D1%81%D0%B5%D1%82%D1%8C%20%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%D0%BE%D0%B2%20Subway">упоминал</a> в отчёте про США, а здесь его в меню обзывали по-всякому; как правильно, так и не выяснил.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/d8987028d5ad_11FC6/354.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/d8987028d5ad_11FC6/354_thumb.jpg" border="0" alt="354" title="354"   /></a> Пицца &ldquo;Сицилиана&rdquo;
</p>
 
<p align="left">
Так что если вы поклонник пиццы (коим я не являюсь) &ndash; смело идите в Vairak Saules. Находится она на Дзирнаву 60, что сравнительно недалеко от ж/д вокзала ну или там кафедрального собора.
</p>
 
<p align="left">
И раз уж я стал писать в обратном хронологическом порядке, скажу, что мы делали утром . А именно - смотрели киноленту Макс Пейн. По мне так скучная &ndash; слишком долго Макс ходит и ничего не делает, стреляют как-то вяло, а сюжет и вовсе отсутствует, что можно было бы простить, если бы не первый пункт. Единственное, что понравилось &ndash; видения валькирий, сделано красиво. К сожалению, картинок с ними в нете пока нет, а идти в кино только чтобы посмотреть на них не стоит.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/d8987028d5ad_11FC6/2008_max_payne_012.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/d8987028d5ad_11FC6/2008_max_payne_012_thumb.jpg" border="0" alt="MPKS-201" title="MPKS-201"   /></a> Фильм, понятное дело, сделан по визуальному ряду похожим на игру, что правильно. Но всё равно не вставляет
</p>
 
<p>
Вот примерно так незатейливо время мы и провели. Это не считая узнавания всяких познавательных фактов про организацию простых кластеров на Линуксе с помощью heartbeat, репликации mysql и drbd. Так, сугубо общие понятия &ndash; конкретика по этому поводу мне без надобности, но послушать интересно.
</p>
 
<p>
А вчера, когда уезжал, я ещё зашёл в гастроном премиум-класса в торговом комплексе <a href="https://www.mc2.lv/ru/gastronome/">mc2</a>. Я давно хотел туда сходить, посмотреть, как богатые живут. Красиво живут &ndash; упаковки у продуктов не кричащие, а наоборот, строгие, есть горы всякой экзотики. Есть <a href="https://spain.travel.ru/platos/jamon.html">хамон</a> - знаменитые вяленые свиные ноги подвешенные под потолком, мечтаю попробовать когда-нибудь. Ещё есть&nbsp; вяленая конина. Её я не купил, пожадничал &ndash; 30 лат (60$) килограмм стоит. Зато купил шоколадку с <a href="https://ru.wikipedia.org/wiki/%D0%9D%D1%83%D0%B3%D0%B0">нугой</a> и чая. Кстати, продаётся всё за прилавками, а не как в супермаркете, продавцы все вежливые, ненавязчивые и дают полезные советы, вроде того, что зелёный чай надо заваривать не кипятком. Цена чая в mc2 указана за 100 грамм, и есть там жасминовый чаёк с ценником 16 лс, который я, не зная этого факта, чуть не купил.
</p>
 
<p>
Правда, вопроса, реально ли та часть мира состоятельных людей, где покупаются продукты, так выглядит, или это просто видимость какая-то, я не решил. Может быть, богатые обычно в ресторанах питаются &ndash; но ведь дома тоже что-то есть надо, верно? Я конечно не имею в виду тех, у кого личные повара, а просто upper middle class или около того.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/d8987028d5ad_11FC6/image_4.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/d8987028d5ad_11FC6/image_thumb_3.png" border="0" alt="image" title="image"   /></a> Меню пельменной, для цены в долларах умножайте на два
</p>
 
<p>
А когда уезжал, тоже всякого сделал. Сначала купил на рынке огромных азербайджанских гранатов - дико дорогие, блин, но вкусные на все деньги. Потом зашёл в пельменную <a href="https://xlpelmeni.lv/menu.html">xlpelmeni</a> на вокзале и пообедал.&nbsp; Съел солянку и пельменей с мясом. Солянка &ndash; никакая: мало специй, малое разнообразие начинки. Оправдывает её только то, что за 1.20 Ls можно самостоятельно налить здоровую миску погуще, пропуская бульон.&nbsp; Пельмени были получше, но особого впечатления не произвели &ndash; не противные, но и не сильно ароматные. Кстати, это смешно, но на сайте сети нет русского языка, при том что пельмени &ndash; блюдо известно чьё. Зато в пельменных наливают водку, что некоторые традиционалисты бы сильно одобрили. 
</p>
 
<p>
В целом &ndash; сходить можно, если охота сравнительно недорого набить пузо &ndash; за 3 лата я наелся досыта. Радости, правда, не испытал, потому что дома я бы за 3 лата поужинал бы вообще замечательно, хоть и потерял бы минут 50 на готовку. 
</p>
 
<p>
И ещё, когда я совсем уезжал, купил молочного шоколада в <a href="https://www.sokolade.lv/">Emihls Gustavs</a>. Без орехов у них нет &ndash; досадное упущение, если бы шоколад мне понравился. Но он был довольно скучный, поэтому я его по приезду оставил родителям. Вообще, молочный шоколад, в отличие от тёмного, как-то меньше компаний стараются хорошо сделать &ndash; вот Fazer и Lindt вкусные, а остальные все средние.
</p>
 
<p>
Обратно я приехал быстро, потому что читал техдоки и опять слушал аудиоунигу &ndash; <a href="https://mds.radio.super.lv/Ajon_Dekle_-_Kartina.mp3">Картина</a>. Ничего так, но сегодняшних детей интернета она лишь позабавит - ведь описанное в рассказе в некотором роде воплотилось в виде эстонских кабанов и аистов.
</p>
 
<p>
В целом &ndash; что называется, провёл quality time with friends.
</p>

	