Id: cf3781fb-b831-4ded-8520-50c0131de135
Title: "США — 20, сеть ресторанов Subway"
Published: "2008-07-19"
Slug: "2008-07-19 США — 20, сеть ресторанов Subway"
-
<p align="left">
Теперь про Subway. Сабвей, каким бы страннным вам это не показалось, это не метро, а самая большая сеть фастфуда в США, не так давно обогнавшая знаменитый McDonalds. В мире же она пока третья со своими&nbsp; <strong>29518</strong> ресторанами после 34 тысяч владельца <strong>Taco Bell</strong> компании Yum! Brands и 31 тысячи макдональдса. Впрочем, Yum! Brands мухлюет - считает сразу четыре своих сети - KFC, Taco Bell, Pizza Hut и Long John Silver's, названной в честь знаменитого пирата из "Острова сокровищ". 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20Subway_C4E6/image_thumb15_thumb1.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/20Subway_C4E6/image_thumb15_thumb1_thumb.png" border="0" alt="image_thumb15_thumb1"  ></a><br>
Логотип&nbsp; Subway в США можно увидеть буквально на каждом углу 
</p>
 
<p align="left">
&nbsp;
</p>
<div class="ljcut">
<p align="left">
Сначала об истории Subway. Началась она с того, как в 1965 году 17-ти летнему парню по имени Фред Де Люка нужны были деньги на учёбу, но приработки давали мизерные суммы. Тогда по совету своего соседа Питера Бака он открыл бутербродную, одолжив у последнего тысячу баксов. Бак был доктором наук и плохого не насоветовал - хотя месторасположение было не очень удачным, покупатели повалили. Называлась забегаловка сначала "Pete's Submarines" то есть "Субмарины Пита" (в честь соседа, очевидно), но реклама по радио звучала как "Pizza Marines", то есть "Пиццы пехотинца". Это смущало народонаселение, и потому забегаловка была переименовала сначала в "Pete's Subway", а потом и вовсе осталось одно слово, означающее метро. Сеть росла медленно, пока компаньоны в 1974 году не сообразили по совету своего юриста использовать франчайзинг, то есть лицензирование своей марки и бизнес-процесса всем желающим за процент от прибыли. Сейчас сети 43 года, она работает в 86 странах и получает каждый год множество наград за ведение бизнеса и франчайзинговые фишки.
</p>
 
<div align="center">
 
<div id="scid:5737277B-5D6D-4f48-ABFC-DD9C333F4C5D:24c358cd-99b8-4aee-8693-15b07d56f212" class="wlWriterSmartContent" style="margin: 0px; padding: 0px; display: inline">
 
<div>
<br>
<br>
</div>
</div>
</div>
 
<p align="center">
Смешная реклама
</p>
 
<p align="left">
Чем же сеть так хороша, что я посвятил ей отдельный пост, и чем она отличается от остальных фастфудов? 
</p>
 
<p align="left">
Основная еда, которую можно купить в Сабвее - сэндвичи-субмарины, то есть длинные булки, разрезанные вдоль, куда кладутся разные ингридиенты вроде мяса, капусты, морковки, огурцов и перца.&nbsp; Булки пекутся прямо на месте, отсюда девиз "Ешь свежее". Начинку из тазиков кладут при тебе по твоему заказу, какая нравится, она тожа свежая. Отсюда лёгкость открытия новых ресторанов и возможность разместить их в небольшом пространстве - сабвеи есть внутри Волмартов, университетских городков и даже на американских военных базах, включая Пентагон и базы в Ираке. При этом сабвей не владеет&nbsp; ресторанами - все единицы сети - франшизы.&nbsp; 
</p>
 
<p align="left">
Слово субмарина в Subway давно уже сократили до&nbsp; "саб", отсюда и название сети: "Sub way" означает "Путь саба". Почти дзен. В меню есть 6 видов хлеба, несколько соусов и более десяти видов начинки, включая острый перец халапено (<strong>Jalapeño).&nbsp; </strong>Наверное поэтому сабвей - одна из немногих сетей, которая нравится Алехандро. Сабы бывают нескольких размеров - 6", то есть 15 см. и footlong&nbsp; - то есть 30 см. Последний можно так и называть - футлонг, тебя поймут. Ещё есть гигансткие 3-foot для заказа домой или в компанию.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20Subway_C4E6/image_thumb5.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/20Subway_C4E6/image_thumb5_thumb.png" border="0" alt="image_thumb5"  ></a>&nbsp;<br>
Black forest ham sub, порезанный для удобства. Хотите видео с дымком - <a href="http://www.subwayfreshbuzz.com/menu/freshfit_choices/sweet_onion_chicken_teriyaki/">идите на промосайт</a>
</p>
 
<p align="left">
Что касается свежести, еда в Сабвее рекламируется как здоровая. По сравнению с едой в остальных сетях это правда - студент по имени Джаред умудрился сбросить 110 кг, поедая только два саба в день и упражняясь. После этого он закономерно на много лет стал лицом компании в маркетинге, и обеспечил себе безбедное существование. Худеть, как ни крути, полезно. Калорий в большом гамбургере McDonalds или Burger King больше 1000, тогда как в сабе - в два раза меньше. Забавно, что на обратном пути в самолёте я смотрел фильм, где рассказывалось, что люди всё равно недооценивают калорийность сабов - берут сразу две штуки или недиетическую соду, или десерт. В итоге весь диетический эффект сводится к нулю. Вдобавок, сабы после наполнения теперь можно дополнительно обжарить, что тоже здоровью не способствует, хоть жарка и происходит в духовой печи без масла.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20Subway_C4E6/image19.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/20Subway_C4E6/image19_thumb.png" border="0" alt="image19"  ></a>&nbsp;<br>
Как видно из сайта Сабвея в Гданьске, в меню отнюдь не только сабы
</p>
 
<p align="left">
Как и другие сети, в странах, где того требуют традиции, Сабвей приспосабливается - в мусульманских странах вся еда в нём халяльна, есть и кошерные учреждения, правда в США. Забавно вот что - в Гданьске, где у меня родня и где я несколько раз был, есть торговый центр под названием "Мэдисон", что само по себе забавно, но не более того. А вот что интересно - именно в этом центре на третьем этаже расположен один из десяти Сабвеев в Польше. При этом я никогда бы не узнал этого, если бы коллега не стал заинтересовавшись моим рассказом искать сабвей поблизости от Латвии, за что ему спасибо.
</p>
 
<p align="left">
Если всё так замечательно с этой акулой капитолизма, что же можно поставить ей в вину?
</p>
 
<p align="left">
Разве что то, что сабвеи расположены слишком плотно, отчего владельцы ресторанов сети конкурируют между с собой, чего по идеологии франчайзинга быть не должно. Да в остальном она довольно жёстко обращается в лицензиантами франшизы; судится и очень строго требует выполнения правил, что жизни им не облегчает.
</p>
 
<p align="left">
Ещё наверное и то, что Сабвей рекламирует свою пищу как здоровую и малокалорийную, что правда лишь отчасти.
</p>
 
<p align="left">
В любом случае жаль, что сабвея нет в Латвии, не говоря уже о Даугавпилсе. Уже лучше мои любимые овощи ,чем <a href="http://www.hesburger.lv">финские гамбургеры</a> или <a href="http://www.southernfriedchicken.com/">жареные цыплята по-южному</a>, которые у нас есть. Даже несчастная <a href="http://www.cilipica.lv/">Черепица</a> есть в Лиепае и Риге - а у нас нет. С другой стороны, у нас можно пойти в Губернатор или Весму и сравнительно неплохо пообедать здоровой пищей всего лишь за несколько лат (5-6$). Вывод: надо ценить то, что имеешь.
</p>
</div>
<p align="left">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	