Id: 8fb65c79-093e-451e-83b2-f26d70a5db32
Title: "США — 21, Спортзал, зоомагазин и мороженое"
Published: "2008-07-20"
Slug: "2008-07-20 США — 21, Спортзал, зоомагазин и мороженое"
-
<p>
После утреннего посещения Капитолия сестра от меня избавилась, передав Лолите. Она тоже родом из Даугавпилса, живёт в своём кондо с постояльцами. В каком - опять не скажу, дабы соблюсти прайваси. Если Лолита это прочитает и захочет дать ссылку в комментариях, то будет хорошо.
</p>
 
<p>
Комплекс стоит на холме, и вообще в нём красиво. Есть бассейн,&nbsp; маленький спортзал и комната отдыха с интернетом, всё входит в месячную плату за обслуживание. Людей вечером было много, они крутили педали, топали по беговым дорожкам и купались в бассейне. 
</p>
<div class="ljcut">
<p>
&nbsp;
</p>
 
<p>
После осмотра кондо-комплекса мы покатили в центр, а по дороге осмотрели то, что встретилось. Например - американский центр для занятий физкультурой. Двери там снаружи зеркальные, изнутри прозрачные. Размеры - как везде в Америке, поражают воображение. Нажмите на фото и убедитесь сами. Обратите внимание, что посетители, чтобы времени зря не терять, одноверменно&nbsp; с упражнениями смотрят ТВ. Бассейн, кстати, во время нашего визита затопило, поэтому он не работал, но про наводнения точно будет отдельный пост. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20_14B72/image.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/20_14B72/image_thumb.png" border="0" alt="image"  ></a>&nbsp;<br>
Помещение с тренажёрами, вид сверху
</p>
 
<p align="left">
Ещё по пути встретилась еженедельная выставка отреставрированных энтузиастами машин. Судя по высочайшему качеству и внушительному количеству, дело у них это популярное.&nbsp; Я вообще очень не люблю фото "турист и очередная типовая достопримечательность, вокруг которой до тебя уже сфоткались кучи визитёров". Зато Лолита любит, и у неё был фотик. В чужой монастырь, как&nbsp; известно, со своим уставом не ходят. Тем более что машины, как бы я к ним не был равнодушен, красивые - под стать Лолите.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20_14B72/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/20_14B72/image_thumb_3.png" border="0" alt="image"  ></a>&nbsp; <br>
Одна из красивейших
</p>
 
<p align="left">
После машинок мы сходили в спортмагазин, потом в зоомагазин. Там в клетках были котики и собачки ценами от символических 30$ до заметных 800$. Причём цена называется на ценой, а "adoption fee", то есть "плата за усыновление". Это такое политкорректное название продажи животных, которые между прочим долго красивыми щеночками и котёночками не остаются, и потом их продать очень трудно. Человечно ли магазин решает эту проблему, не знаю, но что тут есть немалая сложность - несомненно. Обычно дешёвых зверей вместо покупки принято забирать из приюта, причём&nbsp; плата за усыновление там даже больше, чем в магазине. Уж не помню почему: то ли прививки уже сделаны, то ли содержание надо окупить, чтобы не закрылся.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20_14B72/image_4.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/20_14B72/image_thumb_4.png" border="0" alt="image"  ></a>&nbsp;<br>
Красота
</p>
 
<p align="left">
Ещё в магазине был огромный разговорчивый попугай, с которым прежний владелец не мог проводить время, как тому хотелось. Попугай стоил больше тысячи и был очень большим, но на вид крайне прикольным. Надеюсь, его кто-нибудь да купит, тем более, что магазин достаточно популярен и звери там не залёживаются, простите за каламбур. (Не понимаю, кстати, зачем извиняться за каламбур, если с ним даже смешнее и лучше - кажется, это просто оборот речи такой, так что будем играть по правилам.)
</p>
 
<p align="left">
Между тем, Лолита купила морожное в Culver's, я его тоже попробовал. <a href="https://www.culvers.com/">Culver's</a>&nbsp; - это сеть общепита, выдержанная в синих тонах. Миллионный раз про забегаловки речь, и неудивительно, ведь Америка - <a href="https://en.wikipedia.org/wiki/Super_size_me" title="В документальном фильме &quot;Super size me&quot; автор на себе показал, как человек толстеет и болеет от фаст-фуда">supersized</a> <a href="https://en.wikipedia.org/wiki/Fastfood_nation" title="А это книга на ту же тему">fastfood nation</a>. Первый Culver's появился сравнительно недавно - в 1984 году он был основан в городе Sauk City, штат Висконсин человеком по имени Джордж Калвер и его семьёй. Сейчас таких ресторанов в США более 370, а всё потому, что Калвер упрямо тянул лямку в начале, несмотря на то, что ресторан два года не мог выйти в плюс.&nbsp; Не зря старина Джордж мучался и детей запрягал - сейчас сеть считается обладающей высоким для фастфуда классом, еда там получше стандартных McDonald's и Burger King. Например, мясо не замороженное, а свежее.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20_14B72/800pxCulvers_Logo.svg.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/20_14B72/800pxCulvers_Logo.svg_thumb.png" border="0" alt="800px-Culver's_Logo.svg"  ></a>&nbsp;<br>
Вместо девиза на сей раз приведены фирменные продукты
</p>
 
<p align="left">
Впрочем, Culver's нам интересен не достаточно обычными гамбургерами, а тем, чем он знаменит прежде всего - мороженым. Тут надо сказать, что в америке я выучил много новых слов, которые часто встречаются в быту, но редко в литературной речи. Большая часть этих слов имеет отношение к еде, как к одному из базовых видов деятельности человека. Тут мне надо бибикнуть как андроид, настолько наукообразным без нужды получилось предыдущее предложение. Впрочем, оно справедливо, поэтому я продолжу про те слова, которые имеют отношение к мороженому.
</p>
 
<p align="left">
Мороженое в Culver's мы ели не только в этот раз, но и по выезду из Six Flags, и в тот раз я написать про это забыл. Поэтому исправляюсь. Для начала, как это не поразительно (cliché special for Lena), но мороженое в Culver's называлось вовсе не одним из немногих слов, которое наши родители выносили из школьного курса английского - ice-cream. А вовсе даже и страшным непонятным словом Sundae. И выглядит странно, и как произносить - непонятно. Не иначе, как заговор против инострацев. Тем более странно, что даже местные русскоязычные не знали, почему так. Задорнов бы сказал, что они в Америке совсем отупели&nbsp; - живут по десять лет и не знают, почему и как. Впрочем, меня они уже окрестили за вопросы почемучкой, что звучит довольно уныло - лучше бы уж инфоманом, это более технологично. В любом случае, Лолита мои опасения по поводу умственного состояния латвийцев в США развеяла, поскольку знала, почему в меню Sundae вместо Ice-Cream.
</p>
 
<p align="left">
Ответ простой до невозможности - Sundae=Ice-Cream+Topping. Для людей, лишённых знаний английского даже в объёме школьного курса, или же лишённых воображения, перевожу: topping проиходит от слова "top", то есть верхушка. Таким образом, согласно бесхитростным обычно методам американского словообразования слово topping означает покрытие мороженого сиропом или вареньем, а может быть даже и тёртыми орехами или шоколадом. Отсюда следует, что Sundae - просто мороженое, политое или посыпанное сверху чем-либо.&nbsp; За происхождение слова в основном борются два города; логичным выглядит вариант, что такое мороженое подавали только по воскресеньям (Sunday), отсюда название. В любом случае уже в конце 19 века такое блюдо было популярным. 
</p>
 
<p align="left">
После Six Flags мы в Калверс покупали классический Banana Split, изобретённый аж в 1904 году. Это самый популярный вид десерта на основе мороженого, устроенный довольно хитрым образом: в овальном блюдечке для мороженого находятся три вида: ванильное, шоколадное и клубничное. Они разделёны банановой перегородкой (эту часть я выдумал, проверяя, поймает ли меня кто-нибудь на неточности) и политы сверху сиропами каждое своего рода, за иключением ванильного - его поливают ананасом. Сверху же бывают десертные вишни, взбитые сливки и тёртые орехи. 
</p>
 
<p align="center">
<a href="https://flickr.com/photos/purpleslog/168143558/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/20_14B72/image_5.png" border="0" alt="image"  ></a>&nbsp;<br>
Banana Split Sundae from Culver's
</p>
 
<p align="left">
Лолита же купила тоже не совсем мороженое, а нечто более жидкое и с добавками; вроде бы это имело отношение к сustard, то есть сладкому крему из яиц и молока. В Culver's его замораживают, в любом случае получается вкусно. У нас в последнее время в магазинах мороженое продают всё хуже и хуже классом, а в кафе и вовсе коктейльное. Хорошо хоть с топпингами - их делает латвийская фирма <a href="https://www.spilva.lv/?cat=59&amp;lang=lv">Spilva</a>.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20_14B72/image_6.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/20_14B72/image_thumb_5.png" border="0" alt="image"  ></a>&nbsp;<br>
Топпинг Spilva "Яичный ликёр" - на вкус ничего; правда с алкоголем
</p>
</div>
<p align="center">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="center">
</p>

	