Id: fe294c34-9c89-454f-bd4d-c92c06910fe3
Title: "Стихи"
Published: "2008-12-23"
Slug: "2008-12-23 Стихи"
-
<p>
Когда я был чуть моложе, писал стихи.
</p>
<p>
Приводятся стихи скорее в антропологическо-исторических целях. Впрочем, раз я их публикую, значит мне за них ещё не так уж стыдно <img src="/editors/tiny_mce/plugins/emotions/images/smiley-embarassed.gif" border="0" alt="Embarassed" title="Embarassed" /> 
</p>
<p>
&nbsp;
</p>
<h4 align="center">О технологии <br />
</h4>
<h4>&quot;О пути, будущем и важности&quot;</h4>
<p>
<br />
Там, где бушуют бури разрядов,<br />
К p-n переходам бегут электроны,<br />
Таинство мощи неведомой скрыто -<br />
То, что пугает и манит нас в вечность
</p>
<p>
Сила и скорость растут неослабно,<br />
Кванты и био, чёрные дыры.<br />
Каждый из нас в этом чуде замешан<br />
Жизнь - суррогат, если нету желаний.
</p>
<p>
Век технологий планете опасен,<br />
Жёсткие сны о величии бога.<br />
Время в сетях - бесполезно обратно,<br />
Ленточка старта покажет дорогу
</p>
<p>
Путь оптимизма, власти и веры,<br />
Если уже - то ты сможешь осилить.<br />
Весь свет измениться, страх уничтожьте,<br />
Здесь - бесконечность и знания правда!
</p>
<p>
2001
</p>
<h4>Хиросима</h4>
<p>
<br />
Рожает в предрассветный час<br />
Она невидимую силу,<br />
Свет осторожный враз погас,<br />
Кровати превратив в могилы.
</p>
<p>
Любить, прощать - не хватит сил.<br />
Да и не нужно это, впрочем.<br />
Я с ней как ангел говорил -<br />
Не видывал таких уродин.
</p>
<p>
И боль и ад - всё для других.<br />
Перевернув мировоззренье,<br />
Все остаются при своих<br />
И каждый - с жутким самомнением.
</p>
<p>
Кто вопрошал созданье тьмы,<br />
О его чувствах и печалях,<br />
В отчаянии свои умы<br />
На растерзание бросали!
</p>
<p>
Надёжным - пат, вселенной - смех,<br />
О воплях и мольбах младенцев.<br />
Пронзает страх, за то что рад,<br />
Я обескровленной надежде.
</p>
<p>
Хоть всесожжённые горят,<br />
Их лица, полные печали,<br />
Нам ни о чём не говорят,<br />
И ничего нам не сказали.
</p>
<h4>Cепаратриса</h4>
<p>
Безграничным хаосом <br />
Заполняют мир<br />
Странные аттракторы,<br />
Падая в кефир.
</p>
<p>
Редкие аттракторы<br />
Ровно типов пять<br />
Заставляют плакать нас,<br />
Иногда - рыдать.
</p>
<p>
Область притяжения,<br />
Разные пути.<br />
Время отличается,<br />
Как ты не иди.
</p>
<p>
Видишь неустойчивость -<br />
Становись и жди.<br />
В нашей жизни главное -<br />
Веточку найти.
</p>
<p>
Ценное всё редкое<br />
Странное хитрей.<br />
Если смотришь весело,<br />
Будешь ты сильней.
</p>
<p align="center">
<strong>Ироничные </strong>
</p>
<h4>Smex</h4>
<p>
<br />
Творческий кризис,<br />
Бритва в руках,<br />
Сделай хоть что-то,<br />
Погрязший в делах.
</p>
<p>
Крылья без птицы,<br />
Пена без льда,<br />
Вера сломалась<br />
Во мне навсегда.
</p>
<p>
Стенка услужлива -<br />
Ждёт головы,<br />
Часом Быка<br />
Оставляя следы.
</p>
<p>
Круговоротным<br />
Станет денёк.<br />
Странно что будет<br />
Опять невдомёк.
</p>
<p>
Помнить ты помнил,<br />
Хотеть ты хотел,<br />
Только вот ангел<br />
Давно улетел.
</p>
<p>
Бог разрешает<br />
Счастье урвать-<br />
Если сумеешь<br />
Себя обуздать.
</p>
<p>
<strong>Смысл</strong>
</p>
<p>
<br />
Сквозь бред и сон неявной жизни,<br />
Стекляшки - пятна фонарей,<br />
Когда-б я солнце смог увидеть.<br />
И звук открывшихся дверей
</p>
<p>
Улышать.Помолчать.Исторгнуть<br />
Потоки слов и реки чувств.<br />
Я не хочу штамповок ложных,<br />
Коль хватит воли - не вернусь.
</p>
<p>
Пустое!Нет покоя в счастье.<br />
В огне, в движении покой.<br />
И в поиске.В работе.В страсти.<br />
В любви - и сложной и простой. 
</p>
<p align="left">
<strong>2002</strong>
</p>
<h4><br />
Зарешетив . . .</h4>
<p>
Открыв лицо попутным ветрам,<br />
<!-- Хорошо плыть по течению, то есть принимать жизнь такой, какая она есть, когда она и так хороша -->Жалея только о тебе,<br />
Я стану снова человеком<br />
<!-- Неразумным  и безмысленным?А стоит ли?-->Проткнув распятие извне.<br />
<br />
<!-- Это при том, что смеясь над теми "классическими" ценностями, что уже существуют -
релишией, моралью, буржуазной "правильностью", ничего взамен не предлагаю.
Впрочем, если мы все уйдём в нирвану . .  . -->Зарешетив окно зубами,<br />
<!-- Закроюсь как я в своём маленьком мирке, и вообще ничего меня не интересует-->Взорву пустынный белый дом,<br />
<!-- И даже если внутри идёт борьба, рамки общества и вообще там всякие рамки ;-) её ограничат, и наружу ничего не попадёт-->Перевирая голосами<br />
Слова больные ни о чём.<br />
<br />
<!--А это уже симптомы шизофрении ;-) -->Сильней тяни!Глазами рыбы,<br />
<!-- Равнодушен и туп, наблюдая за миром.Тебя создали таким, и ты не в силах изменится, хотя
пытатся всегда надо-->Ты в этот скользкий мир пришла.<br />
<!-- Все мы с грехом повязаны, святых нет-->Кирпичный лом, чужие тыквы<br />
<!--Кирпичный лом - это строительный мусор, деньги конечно.Тыквы то же самое,
хочется их конечно, чужие то, всегда большими кажутся-->Ползут по острию горшка.<br />
<br />
<!--А это оставляю на домашнее задание ;-) -->Стремясь занять тропу без цели,<br />
<!--Вот уж где ясней ясного-->Мы попуасны и смешны.<br />
<!-- Жизнь, работа, дом, семья - простые человеческие радости попуаса-->Великий Мастер, неужели,<br />
Забыл ты нам надеть штаны?<br />
<br />
<!-- Забыл дать цели, или должен делать всё за нас, раз всемогущ?
Или даже всё что делаем мы, его ошибка, раз мы его создания.
Всемогущество - неразрешимо, если оно существует, мы выглядим жалким фарсом и онанизмом бога--><em>P.S.Хрен его знает, что это значит, но всё - от первого до последнего слова - чистая правда!</em><br />
<!-- Оказывается, это всё же что-то значит, и объясняется довольно просто-->
</p>
<h4>Мусор</h4>
<p>
<br />
Я с детства рос на мусоре, растущем в изобилии вокруг,<br />
Читал книжонки , замороченные в квадрате.<br />
Я жутко торопился жить, занять свой круг,<br />
Предстать во всеоружии пред чёрной ратью.
</p>
<p>
&nbsp;
</p>
<p>
Пред смертной ратью войн, несчастий, бед,<br />
Невежества всеобщего, распутства.<br />
Я обратился внутрь.Свет погас,<br />
Исчезла яркость, что ему присуща.
</p>
<p>
Я, несмотря на это, продолжал свой путь,<br />
Тропой, ведущей в никуда из ниоткуда.<br />
Я не скажу вам, что хотелось мне свернуть,<br />
Быть может, всё-таки, желал вернуться.
</p>
<p>
Как взрыв, собрав частицы пыли,<br />
В неге я падал.И упал.<br />
Поднятся вновь в безумном тире<br />
Не стоит.Нет цены.Вот так.
</p>
<p>
Не знаю я другой дороги,<br />
Одна дорога у меня.<br />
Подняться.Жить.И понемногу,<br />
Спокойно ожидать конца.
</p>
<p align="left">
<strong>2003</strong>
</p>
<p align="right">
&nbsp;
</p>
<h4 align="left">Посвящение</h4>
<p>
Сияя странною улыбкой,<br />
Джоконда светится во тьме.<br />
Я самый первый, шитый лыком<br />
Панно меняю на стене.
</p>
<p>
Не зная нот - играю богу,<br />
Не зная сна - пишу стихи.<br />
И забываю понемногу<br />
Свои неловкие шаги.
</p>
<p>
Пророк внутри, игрок снаружи<br />
Немодной страстью одарён<br />
Считать, что я кому-то нужен.<br />
Искать, есть ли на свете он.
</p>
<p>
Без нас, вы лишь кусок каната<br />
Провисший времени петлёй.<br />
Не находите виноватых,<br />
Вонзаясь трезвости иглой!<br />
<br />
Слегка играя, душ касаньем<br />
Воспламеняю ад чудес<br />
Благословенный&nbsp;твёрдым знанием<br />
Я гнева не страшусь небес!
</p>
<p align="left">
<strong>2004</strong>
</p>
<h4 align="center">Позитивные <br />
</h4>
<h4>С новым годом!</h4>
<p>
Безумья буйное веселье<br />
Гремит сквозь мир на новый год.<br />
Покоя, радости сочельник<br />
Печаль из силы унесёт.
</p>
<p>
Надежд, несбывшихся случайно,<br />
Не знайте больше - пусть пройдут!<br />
И Вера не оставит Знамя<br />
Несостоявшихся минут.
</p>
<p>
Иронию и сложность жизни<br />
Ты, наслаждаясь, восприми!<br />
Неярко тайне улыбаясь,<br />
Простую истину пойми.
</p>
<br />
<h4>Мне нужен рай . . .</h4>
<p>
Мне нужен рай,<br />
Мне нужен сад,<br />
И неба звёздный листопад,<br />
Мне нужен я,<br />
Мне нужен ты,<br />
Ведро воды,<br />
Нужны мечты,<br />
Прекрасноликая она,<br />
Закрытая на ключ война,<br />
Большая булочка, изюм,<br />
Мир во весь мир,<br />
Рахат-Лукум,<br />
Потыщи лет,<br />
Учится петь,<br />
Ирак, Иран,<br />
И даже нефть.
</p>
<p>
Я знаю, время по плечу,<br />
Когда я это получу.
</p>
<p>
2003
</p>
<h4>Дождик</h4>
<p>
Хлюп и щёлк - забавный звук,<br />
Точки мятные вокруг<br />
Свежесть мягкая в лицо,<br />
Сразу стало хорошо.
</p>
<p>
Никогда я не пойму -<br />
&quot;Тон я тёмный не люблю, <br />
Если с неба льёт вода,<br />
Моё место не туда&quot;
</p>
<p>
Вижу красоту везде,<br />
Даже в наливной воде,<br />
Даже в лужах там и сям<br />
Вижу месяца стакан.
</p>
<p>
А природы робкий стук,<br />
Он приятней двух подруг!<br />
Он вкуснее шашлыка!<br />
Он - как мягкая река.
</p>
<p align="center">
&nbsp;
</p>
<h4 style="font-weight: bold" align="center">Микростихi (это ещё из школьного проекта &quot;Декаданс&quot;)<br />
</h4>
<p>
<br />
Сидит на шее галстук синий.<br />
-Давит.<br />
Вы знаете его ? Меня он не пугает.
</p>
<p>
Рука его бьёт зимний<br />
Чёрный лес.Вот глушь.<br />
Зачем туда полез ?
</p>
Она спокойна, как кино<br />
И дайте хлеба ей.<br />
Язык её торчит в окно.<br />
И небо зеленеет.
<p align="center">
&nbsp;
</p>
<h4 align="center">Стихи Программы &quot;Рифмоплёт&quot;<br />
</h4>
<p>
Написал я как-то давно на Дельфи программу, сочиняющую стихи.
</p>
<p>
аврал ихтиолог читать
</p>
<p>
вязать барабанщик летать<br />
артист небеса кайфовать<br />
хватать молодой утекать
</p>
<p>
галимый влюбляться<br />
хватать ихтиолог<br />
пушистый культурный<br />
агент авантюра
</p>
<p>
<br />
Молодой 
</p>
<p>
утекать утекать<br />
барабанщик летать<br />
молодой кайфовать<br />
утекать утекать
</p>
<p>
Cоcать крутой <br />
Барбос пушистый бить<br />
Сосать вязать читать<br />
Ломать хватать летать<br />
Крутой ходить курить
</p>
<p>
Аврал брить <br />
Аванс рассвет аврал привет любовь<br />
Читать заход ходить абзац морковь<br />
Галимый брить крутой фазенда дать<br />
Арап балбес кабан агент сосать
</p>
<p>
Пушистый<br />
Культурный<br />
Пушистый<br />
Культурный
</p>
<p>
Любимый<br />
Галимый<br />
Культурный<br />
Пушистый
</p>
<p>
кабан дать <br />
Бандит летать барбос привет<br />
Аврал агент абсурд любовь<br />
Заход кабан крутой рассвет<br />
Фазенда дать ура морковь
</p>
<p>
Старинный <br />
старинный зло<br />
мороз летать<br />
чудесный зло<br />
любить желать
</p>
<p>
душа <br />
добро скакать<br />
любить желать<br />
душа мечтать<br />
звезда летать
</p>
<p>
морозный <br />
холодный влюбляться<br />
чудесный смертельный<br />
морозный влюбляться<br />
жестокий старинный
</p>
<p>
прекрасный <br />
жестокий морозный скакать<br />
холодный влюбляться мечтать<br />
смертельный чудесный желать<br />
красивый прекрасный летать
</p>
<p align="center">
&nbsp;
</p>

	