Id: 26c2380a-c787-4dc6-8c67-64b26b2e0c2c
Title: "Байк"
Published: "2008-07-24"
Slug: "2008-07-24 Байк"
-
<p align="left">
Про США не будет, поднадоело. Читаю всякую ерунду в википедии и пересказываю вам на русском. Конечно, это занятие достойнее чтения идиотских блогов в жж, которые по сути не менее тупы, чем fishki.net, но всё равно. Что реально круто делать летним вечером, так это быть на природе, чем я и занимался сегодня - катался на велосипеде. 
</p>
 
<p align="left">
Кстати, я на нём заменил задние звёздочки (кассету) и цепь - от зимы и отсутствия ухода всё износилось в хлам. Новое работает неплохо, причём название фирмы-производителя для русского слуха забавное - SRAM. Кассета простая, PG-830, цепь чуть выше классом - PG-880 или как-то так. Я в этом всём не разбираюсь - мастер&nbsp; в Trek сказал, что легче брать простые и менять чаще, чем покупать дорогие. Последние имеют смысл, только если ты ездишь много и в тяжёлых условиях - по грязи и лужам. Цены, кстати, нормальные - не сильно выше знаменитого магазина <a href="https://www.chainreactioncycles.com">ChainReactionCycles</a>, где закупаются все велофетишисты, то есть любители апгрейдов велосипеда. По ходу дела я купил ещё универсальный инструмент для байка, смазку лучше масла, заплатки с клеем и машинку для чистки цепи. Она позволяет чистить цепь, не снимая её с велосипеда. Актуально такому лентяю, как я. Хотя моя лень так чудовищна, что до сих пор я вообще ничего не чистил, кроме сравнительного редкого мытья байка.
</p>
 
<p>
Катался я вокруг озера Большие Стропы, проехал не так много, километров 25, но заняло это у меня целых два часа - слишком уж пересечённая местность, местами почти пешком шёл, местами продирался через лес. Клещей БАЮС, прививку поленился сделать, как обычно у меня. Зато пока изображал кросс-кантри, то есть езду по пересечёнке, на противоположном от больницы берегу озера 
</p>
<div class="ljcut">
<p>
увидел кое-что интересное.
</p>
 
<p>
Некто купил прямо около берега кусок земли, выстроил там деревянные домики. Поскольку озеро с той стороны заросшее, расчистил от растительности берег и сделал гигантские мостки длиною в 100 метров. Всё это замечательно, но один нюанс всё портит. Пройти в это место с одной стороны почти никак нельзя&nbsp; - я шёл по хлюпающей почве через рогоз (про который вы думаете, что это камышь).
</p>
 
<p align="center">
<a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%BE%D0%B3%D0%BE%D0%B7"><img style="border: 0px none " data-src="/files/blogengine/Writer/7c758466cb7f_13C0A/image.png" border="0" alt="image"   /></a>&nbsp;<br />
Рогоз
</p>
 
<p align="left">
Если идти через лес, уткнёшься&nbsp; в забор, или вовсе застрянешь в чаще. С другой стороны пройти можно, есть тропинка, но она перегорожена прибитой гвоздями доской. Если кто не знает - 5 метров от прибрежной полосы в Латвии нельзя сделать частной собственностью. То есть перегораживая дорогу, эти уроды просто не дают мне воспользоваться озером и землёй, которые им отнюдь не принадлежат. Понятно, что они хотят захапать благоустроенную территорию себе, мотивируя трудом, который они туда вложили. Но государство и законы нужны именно затем, чтобы такого не происходило. Интересно, что отвечают на такие случаи всякие там крайние сторонники&nbsp; частной собственности и минимального вмешательства государства?
</p>
 
<p align="left">
Если вы хотите знать, где эти жадюги антинародные расположились, вот вам координаты в <a href="https://wikimapia.org/#lat=55.9109831&amp;lon=26.6062367&amp;z=18&amp;l=0&amp;m=a&amp;v=2">викимапии</a>. Или даже фото с симбионта Google Earth - сервиса Panoramio.
</p>
 
<p align="center">
<a href="https://www.panoramio.com/photo/8700839"><img style="border: 0px none " data-src="/files/blogengine/Writer/7c758466cb7f_13C0A/image_3.png" border="0" alt="image"   /></a>&nbsp;<br />
Зимой туда можно попасть по льду, но смысла нет.
</p>
</div>
<p align="center">
&nbsp;
</p>
<p align="left">
&nbsp;
</p>

	