Id: 3bcd55f3-2636-47bb-8348-713dedeae96a
Title: "США — 16, Парк аттракционов Six Flags"
Published: "2008-07-13"
Slug: "2008-07-13 США — 16, Парк аттракционов Six Flags"
-
<p>
Подкрепившись гигантским омлетом с хлебом, мясом и морковным салатом в качестве закуски, я набрался сил на продолжение рассказа про США. Благо, больной зуб слегка утихимирился после пожирания антибиотиков и обезбаливающих в жутких количествах и установки врачом временной пломбы.
</p>
 
<p align="center">
<a href="https://en.wikipedia.org/wiki/The_Demon_(Six_Flags_Great_America)"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/image.png" border="0" alt="image"  ></a> <br>
Demon. 
</p>
<div class="ljcut">
<p align="center">
Не так страшно, как выглядит.
</p>
 
<p>
Итак,&nbsp; вместе с бойфрендом моей сестры Алехандро мы покатили в парк развлечений Six Flags, находящийся недалеко от Чикаго в городке Гурни (Gurnee). Город известен также своим огромным сборищем магазинов под названием Gurnee Mall, но туда я не попал. Six Flags - понятное дело, сеть, причём на 11% она принадлежит, как это не странно, Биллу Гейтсу (что я слышал и раньше). Отделение в Иллинойсе называется Six Flags Great America. Что интересно, дела у Six Flags последние десять лет идут плохо, она теряет сотни миллионов в год, и чтобы покрыть убытки периодически продаёт&nbsp; самые непопулярные парки, к которым, впрочем, Great America не относится.
</p>
 
<p align="center">
<a href="https://en.wikipedia.org/wiki/American_Eagle_%28roller_coaster%29"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/image_3.png" border="0" alt="image"  ></a>&nbsp;<br>
Деревянный American Eagle (американский орёл)
</p>
 
<p>
Были мы в парке в будний день, погода была так себе - периодически шёл дождь и долбали молнии. Впрочем, всё равно было более-менее тепло. Посетители, привыкшие к такой погоде этого района США, спокойно к дождю относятся и одеты всё равно в шорты и майки, обычно даже без зонтиков. Зато из-за грозы иногда не работали самые главные аттракционы парка -&nbsp; в основном те, что мы называем "американскими горками", а американцы просто "roller coaster", что дословно можно перевести как "судно на колёсиках" или, повеселее, "кресло-каталка", а вовсе не "русские горки", как вы понимаете.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/16SixFlags_C78E/image_4.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/image_thumb.png" border="0" alt="image"  ></a>&nbsp; <br>
Iron Wolf&nbsp; (железный волк). Едешь стоя. Один из самых сложных для меня был.
</p>
 
<p>
Что меня неприятно удивило, так это тот факт, что стоять в очереди на каждый аттракцион обычно надо как минимум 30 минут, в выходной бывает и больше часа, а на популярные может доходить до полутора. В принципе, это логично, но заплатив 40 баксов (или чуть меньше, хитроумно получив купон на <a href="https://www.retailmenot.com">www.retailmenot.com</a>)&nbsp; хотелось бы покататься, а не только напрягать ноги в искуственных лабиринтах, сделанных их блестящих металлических труб. Лабиринты, если кто не догадался, нужны чтобы очередь строго соблюдала порядок и не путалась, ведь нарушение порядка очереди aka line jumping карается немедленным выдворением из парка. Впрочем, все животные равны, но некоторые равнее других - если купить специальный электронный пропуск FlashPass, ждать придётся в десять раз меньше, а то и вовсе не надо. Что интересно, первые сиденья пользуются особой популярностью и очередь в них отдельная: в полтора-два раза длиннее обычной. 
</p>
 
<p align="center">
<a href="https://www.rcdb.com/ig535.htm?picture=13"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/image_5.png" border="0" alt="image"  ></a>&nbsp; <br>
Raging Bull - Бешеный Бык. Это гиперкостер, где ставка сделана на скорость и высоту, а не мёртвые петли.&nbsp; Приятный.
</p>
 
<p>
Теперь об ощущениях:&nbsp; катались мы почти на всех экстремальных аттракционах. Кроме одного - того, где надо падать вниз испытывая невесомость (drop tower) - очень уж страшным показался. Сначала мне было очень не по себе, но потом я пообвык, понял как надо себя вести и после этого испытывал лишь положительные ощущения. Не считая тревоги за то, что от мёртвых петель очки слетят с носа, чего так и не случилось. Так что перечислю советы тем, кто в таких парках ещё не был.
</p>
 
<p align="center">
<a href="https://www.rcdb.com/ig1977.htm?picture=1"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/image_6.png" border="0" alt="image"  ></a>&nbsp;<br>
Superman. Тут ты не сидишь, а висишь. Боящимся высоты не рекомендую.
</p>
 
<p>
Во-первых, во время переворотов вверх ногами и ускорений вы закономерно будете испытывать перегрузки. Вариантов действий я увидел два: либо держитесь за ограничивающие рамки и сопротивляйтесь ускорению - тогда&nbsp; вы будете испытывать чувство, как будто подтягиваетесь на турнике. Либо расслабьтесь - вас всё равно прочно держат ограничивающие рамки и максимум, что вам грозит - будете болтаться как кое-что в проруби и заработаете небольшие синяки в тех местах, где вас будет прижимать к рамкам. Второй вариант явно веселее - в конце-концов вы же не в спортзал пришли заниматься, а получать острые ощущения, вот и наслаждайтесь.
</p>
 
<p align="center">
<a href="https://www.rcdb.com/ig747.htm?picture=6"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/image_7.png" border="0" alt="image"  ></a>&nbsp;<br>
Vertical Velocity - выглядит ужасом, но на деле очень весело и не страшно.
</p>
 
<p>
Во-вторых, если носите очки, возьмите с собой футляр и снимайте их перед началом - но предупреждаю, нужны глубокие карманы или карманы с молнией. Ещё вариант - спецрезинка, чтобы слетевшие очки не убили нечастного прохожего бешеным ускорением, а остались болтаться на груди.
</p>
 
<p>
В-третьих, если хотите действительно повеселиться - либо купите FlashPass, либо морально приготовтесь стоять в очереди по 20-40 минут перед каждым аттракционом -&nbsp; и тогда обязательно идите в будний день, причём с утра и до вечера, чтобы на всё хватило времени.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/16SixFlags_C78E/IMG_5302.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/IMG_5302_thumb.jpg" border="0" alt="IMG_5302"  ></a> <br>
Ваш покорный слуга в свежей маечке Al Capone и его сестра Алина
</p>
 
<p>
Вообще&nbsp; в парке очень много всего - каких-то навесов, где надо попасть монетками в бутылки, или из ружья в мишень или шариком&nbsp; в медведя, но почти всё стоит отдельных денег. Есть магазины, где можно купить мерчандайз aka фирменные сувениры. Есть поезд с переездом, есть дистанционно управляемые машинки и катера, есть башня обозрения и классическая карусель детей; правда очень большая. По парку ходят работники с профессиональными фотоаппаратами и фотографируют за деньги. Потом мы встретили русского молодого человека Вадима, он сильно нервничал, потому что первый день работал. Ещё забавно, как человек в костюме и галстуке подметал улицу (обычно это делают работники в униформе). Есть в парке также питейные и едальные заведения. В одном из таких мы купили фахито, но про мексиканскую еду я напишу отдельно. Ещё, когда купили, проходящая мимо big mama со своими "детками" живо интересовалась, как это называется. Нашла кого спрашивать, конечно, но рядом был Алехандро и аутентично произнёс слово на испанском.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/16SixFlags_C78E/IMG_5304.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/IMG_5304_thumb.jpg" border="0" alt="IMG_5304"  ></a>&nbsp;<br>
Алина с бойфрендом Алехандро в ожидании ужасного Vertical Velocity
</p>
 
<p align="left">
Курение в парке запрещено везде, кроме специально отведённых мест; они стилизованы под кузни и тому подобное. Редкий случай, когда американцы сделали что-то со вкусом и приколом, а не просто в угоду маркетингу для масс. Любопытно, что на мусорниках написано: "Сохраняйте парк чистым, моя семья тоже сюда ходит". Это чья - мусорника, что-ли?
</p>
 
<p align="left">
Построить аттракцион стоит от нескольких миллионов до нескольких десятков миллионов долларов. Причём одна из самых знаменитых фирм - швейцарская <a href="https://en.wikipedia.org/wiki/Intamin_AG">Intamin AG</a>, которая первой использовала мотор с линейным электромагнитным ускорением, используемый, чтобы с места разогнать посетителей Vertical Velocity до 70 миль в час. Кресла, кстати, наверху зависают на несколько секунд, чтобы ты мог прочувствовать, как сейчас с бешеной скоростью рухнешь вниз.
</p>
 
<p align="center">
<br>
<a href="/files/blogengine/Writer/16SixFlags_C78E/IMG_5308.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/IMG_5308_thumb.jpg" border="0" alt="IMG_5308"  ></a>&nbsp;<br>
Две супервумен: на переднем и заднем плане
</p>
 
<p>
Деревянные горки, как это не странно, до их пор популярны, хотя их нельзя делать сильно выгнутыми и страшными, и на них ужасно трясёт. Может быть, последним и можно объяснить их популярность&nbsp; - от тряски страшнее, чем от мёртвых петель, ведь кажется, что аттракцион сейчас развалится.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/16SixFlags_C78E/IMG_5306.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/IMG_5306_thumb.jpg" border="0" alt="IMG_5306"  ></a>&nbsp;<br>
Парк во многом стилизован для детей: Алехандро на фоне Батмобиля, то есть авто Бэтмена
</p>
 
<p align="left">
Что можно сказать напоследок? Американские горки довольно страшные, но не так, как кажется, глядя на фото. Боящимся высоты на некоторых придётся туго, но терпеть можно - сестра-то моя сдюжила. Зато во время ride (покатушка) весело и адреналин втыкает, да и потом тоже будет что вспомнить. Я лично достаточно нервный и пугливый, но ведь сумел пойти почти на все. Главное тут, как и везде - решиться и не отступать. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/16SixFlags_C78E/IMG_5315.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/16SixFlags_C78E/IMG_5315_thumb.jpg" border="0" alt="IMG_5315"  ></a>&nbsp;<br>
Герои осилили почти всё
</p>
</div>
<p align="center">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="center">
</p>

	