Id: aae401d8-d45a-47f0-ab8d-f945065e7e45
Title: "Так и живут"
Published: "2008-08-14"
Slug: "2008-08-14 Так и живут"
-
<p>
8-летний блюзовый вундеркинд не может больше играть в барах, потому что ему запретил штат Висконсин. А запретил, потому что настучали. Формальная причина - законы о детском труде.
</p>
 
<p>
<a href="https://news.yahoo.com/s/ap/20080812/ap_on_en_mu/blues_kid" title="https://news.yahoo.com/s/ap/20080812/ap_on_en_mu/blues_kid">https://news.yahoo.com/s/ap/20080812/ap_on_en_mu/blues_kid</a>
</p>
 
<p>
Таких историй &ndash; как американцы соблюдают закон до последней буквы, даже когда это всем во вред, каждую неделю несколько.
</p>

	