Id: 2ecd5c1c-52de-4191-a2df-f21b225b1336
Title: "European Health Insurance Card"
Published: "2008-07-23"
Slug: "2008-07-23 European Health Insurance Card"
-
Если вы житель ЕС и поедете в другие страны ЕС, рекомендую прочитать вот это, затем получить бесплатную страховую карту для ЕС - European Health Insurance Card.<br />
<br />
Инфа с форума:<br />
<a href="https://www.paintballer.lv/phpBB2/viewtopic.php?p=8048&amp;sid=9bced9daf195b22b94a9720317e17435">https://www.paintballer.lv/phpBB2/viewtopic.php?p=8048&amp;sid=9bced9daf195b22b94a9720317e17435<br />
</a><br />
Официальная инфа на русском:<br />
<a href="https://www.voava.lv/rus/ES/EVAKkarte/ka_iegut_evak/">https://www.voava.lv/rus/ES/EVAKkarte/ka_iegut_evak/</a><br />
<br />
Заказать карту бесплатно через интернет можно здесь:<br />
<a href="https://www.voava.lv/lat/es/LV_iedzivotajiem/formas/?doc=252">https://www.voava.lv/lat/es/LV_iedzivotajiem/formas/?doc=252</a><br />
<br />
Поробнее почитать можно здесь:<br />
<a href="https://ec.europa.eu/employment_social/healthcard/index_en.htm">https://ec.europa.eu/employment_social/healthcard/index_en.htm</a><br />
<br />
Срок годности карты составляет 12 месяцев, делают её 15 дней.<br />
<br />
Полезно смотреть euronews, как ни крути.<br />
<br />
Предвосхищая главный вопрос: да, если вы едете в Европу надолго или знаете, что можете сильно заболеть, обычную платную страховку тоже имеет смысл сделать.

	