Id: ad211608-e3ba-4253-83dd-b8939a116994
Title: "Улетел"
Published: "2008-08-17"
Slug: "2008-08-17 Улетел"
-
<p>
Я улетаю на остров Крит на неделю в 1.45 ночи. Ноутбука у меня нет, так что ни на что не отвечу, и ничего писать не буду. Появится ли отчёт? Великий спагетти монстр даст, будет.
</p>

	