Id: a75a451e-1b27-4f22-abc7-7097a1a7ece3
Title: "О сайте"
Published: "2008-12-21"
Slug: "2008-12-21 О сайте"
-
<p>Главная часть сайта - блог, то есть онлайн-журнал, где я публикую свои мысли разной степени увлекательности. Часто публикую записи про свою жизнь и дела, что интересно в основном тем, кто меня знает в реале. Когда-то были популярны "домашние странички" накарябанные вручную "Блокноте" - со страшным дизайном и жуткими фотографиями хомячков и котов. Вот у меня то самое, только на несколько ином уровне - с нормальным русским языком, цельно выписанными историями, более-менее качественными фото, видео,&nbsp; и ссылками на занимательную информацию.</p>
<p><strong>Идеологическая сторона</strong></p>
<p>Стоить помнить, что всё, мной написанное - полно иронии и сарказма. Если вам кажется, что я в чём-то слишком категоричен, или неправ, или неточен, стоит подумать, ведь это могло было быть сказано таким образом намеренно.</p>
<p><strong>Юридическая сторона</strong></p>
<p>Вся информация на сайте распространяется по лицензии <a href="https://creativecommons.org/licenses/by-nc/3.0/">CC-BY-NC</a>. Это значит, что вы можете делать с ней всё, что угодно. Нужно лишь указать, что оригинальным автором был я, обязательно дать ссылку на&nbsp; оригинальную страницу, откуда вы копировали, и указать, что изменено по сравнению с моим ориналом. Ну, и вы не должны с её помощью зарабатывать денег. Не сложно ведь, правда?</p>
<p><br></p>
<h4>Техническая сторона</h4><div><br></div>
<p>Сайт использует отличную блог-платформу для .NET - <a href="https://www.dotnetblogengine.net/">BlogEngine.NET</a>.&nbsp;</p>
	