Id: 913c4f84-2a47-4c16-a74b-58b496400c25
Title: "Громов – Шанс для динозавра"
Published: "2009-03-07"
Slug: "2009-03-07 Громов – Шанс для динозавра"
-
<p>Купил на литресе и прочитал на сони ридере “Шанс для динозавра” Громова. Это про землян, которые попали на средневековую планету и попытались изменить ход её истории с земного “западного” типа на “восточный”, что бы это не значило.</p> <p>Основательности в книге меньше, чем обычно у Громова,&nbsp; а вот развлекательности больше. Порой приятно видеть подробности про средневековые реалии, названия всяких хитрых штук и тому подобное, если это органично вплетается в повествование и не выглядит завуалированным справочником.</p> <p>Книга мне понравилась. Если хочется отдохнуть и не заморачиваться всякими сложными материями, можно и почитать. Хотя те части, что касаются отношений людей и проникновенных диалогов, у Громова выходят иногда коряво и неубедительно. В “Шансе” это касается разговора Отто и Барини во флаере, когда они летят на золотой прииск. Зато концовка мне понравилась, а хорошую концовку написать трудно. Правда, автор местами перескакивает во времени сразу на несколько лет. Это понятно, что намеренно , но как-то есть ощущение, что пытался сдать книгу вовремя, и местами недостаточно проработал.</p>
	