Id: 101330f7-b053-4725-b983-ef60246d79cf
Title: "Закачка файлов"
Published: "2009-02-08"
Slug: "2009-02-08 Закачка файлов"
-
<p>Прикрутил наконец отличный контрол для закачки файлов для .NET – NeatUpload.</p> <p>Возможности у него отличные: проценты и скорость закачки, удобный выбор нескольких файлов сразу. А у меня ещё и размер не ограничен. </p> <p>Пользуйтесь, тока не балуйте, а то админ рассердится с закроет всё нафиг.</p> <p><a href="https://izvne.com:8080/u/">https://izvne.com:8080/u/</a></p>
	