Id: 133c1024-b8b0-48ca-9225-f88f0012368d
Title: "Прав чувак, ой как прав"
Published: "2009-03-31"
Slug: "2009-03-31 Прав чувак, ой как прав"
-
<p>Я обычно ною, но иногда мне такие же мысли приходят в голову.</p> <p><a title="https://www.overstream.net/view.php?oid=m1eju3tya6n4" href="https://www.overstream.net/view.php?oid=m1eju3tya6n4">https://www.overstream.net/view.php?oid=m1eju3tya6n4</a></p>
	