Id: 2ea0bbb7-1c9e-4db1-9a9c-ee2c6d14a088
Title: "Клавиатура"
Published: "2009-02-08"
Slug: "2009-02-08 Клавиатура"
-
<p>Я когда много печатаю, чувствую себя как пианист-виртуоз. Мне когда-то писатель Дивов втирал про необходимые тактильные ощущения при листании бумажных книг, а у меня такие, когда я касаюсь своей клавиатуры <a href="https://www.logitech.com/index.cfm/business/productivity/work_place_essentials/devices/662&amp;cl=us,en">Logitech UltraX Media Keyboard</a>. Как ни странно, у огромного количества людей вокруг именно такая клавиатура. У неё ноутбучные клавиши с ножничным механизмом и форм-фактор типа “слим”, то есть тонкий. Свои 17 латов она более чем окупает – поэтому у меня уже вторая. Правда, я не столь критичен к клавиатуре, как некоторые люди, поэтому если её перестанут выпускать, с удовольствием попробую другую. Единственное, что мне нужно – стандартная раскладка, без неё никак. К другой привыкнуть трудно, да и не хочется.<a href="/files/blogengine/2042.1.0.jpg"><img title="UltraX Media Keyboard" style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px"  alt="UltraX Media Keyboard" data-src="/files/blogengine/2042.1.0_thumb.jpg"  border="0"></a></p>
	