Id: 238255ed-d26f-41de-a95a-209d0ce114ec
Title: "Блин, надо было за Жданок голосовать"
Published: "2009-06-07"
Slug: "2009-06-07 Блин, надо было за Жданок голосовать"
-
<p>Она вроде в тусовке зелёных. </p> <p><a href="https://torrentfreak.com/european-greens-want-to-legalize-file-sharing-090604/">https://torrentfreak.com/european-greens-want-to-legalize-file-sharing-090604/</a></p> <p>Я голосовал на выборах в Европарламент за Бориса Цилевича, потому что мне нравится, что он пишет и говорит. Жданок мне тоже по нраву, жаль, что нельзя выбрать людей из разных партий. Впрочем, посмотрим, куда примкнёт Цилевич. Что он пройдёт, у меня лично сомнений нет.</p> <p>На местных выборах не скажу, с чьей фамилией опустил бумажку. По-моему, все варианты не очень. За кого я никогда бы не стал голосовать – так это за Эйгима и Немцова. Ну и все эти смешные партии с актёрами, спортсменами и просто безработными тоже в топку.</p> <p>Я сейчас перечитываю цикл “Многоцветная земля” Джулиан Мэй, так “Эйгим” звучит как “Эйкен”. Был там такой персонаж, хитрожопый и доверия не вызывающий , так что аналогия полная.</p>
	