Id: 31ae7f1f-dab2-468a-8840-299e397617e1
Title: "Бабушка"
Published: "2009-01-21"
Slug: "2009-01-21 Бабушка"
-
<p>По просьбам общественности в лице <img style="border-top-width: 0px; padding-right: 1px; border-left-width: 0px; border-bottom-width: 0px; vertical-align: bottom; border-right-width: 0px"  alt="[info]" data-src="/files/lj/userinfo.gif" > <a href="https://kitobow.livejournal.com">kitobow</a> выкладываю видеоклип с моей бабушкой. Она поёт, танцует, и вообще всячески веселится. А в конце делится мудростью. Что-то из этого уже было, кое-где затянуто, целиком длинновато – но вообще хорошо вышло.</p> <p>Версия с высоким качеством для богатеньких широкополосных буратин и латвийцев:</p> <p> </p> <p><a href="/files/lj/babushka_hq_aac.mp4">Скачать&nbsp; как .mp4 видео </a> (101MB)</p> <p>Версия с низким качеством для диалапных босяков и гостей столицы:</p> <p> </p> <p><a href="/files/lj/babushka_lq_aac.mp4">Скачать&nbsp; как .mp4 видео</a>&nbsp; (36MB)</p>
	