Id: 697b19dc-6610-49ea-861b-01fe1b6d844b
Title: "Ссылка"
Published: "2009-01-17"
Slug: "2009-01-17 Ссылка"
-
<h1 align="center"><a href="http://lurkmore.ru">lurkmore.ru</a></h1>  <p>Давно хотел ссылку дать. Круче и смешнее западных сайтов схожей тематики, точно вам говорю. Для тех, кто хоть каким-то боком в теме – очень интересно.</p>  <p>Хотите знать всё про рунет – читайте.</p>
	