Id: c1d624b4-ca2f-44f8-a618-9d9dd7ca6d96
Title: "Гм"
Published: "2009-10-25"
Slug: "2009-10-25 Гм"
-
<p>На форуме <a title="https://forum.mds-club.ru" href="https://forum.mds-club.ru">https://forum.mds-club.ru</a>какой-то странный человек написал мне такое сообщение:</p>  <p><em>Здравствуйте, Vladekk! Извините что не совсем по теме сайта forum.mds-club.ru Вам пишу.     <br />Подскажите пожалуйста нужно найти ключ или взлом к игрушке веселая ферма 3 вот где ребенок её скачал [censored]</em></p>  <p><em>или к веселая ферма 2 хотя-бы?      <br />Детишкам очень игры понравились, а они оказались не полными и теперь просят ключи. Весь интернет обыскал, рабочий кряк и ключ к играм не нашел!       <br />Подскажите где взять или купить по разумной цене. Напишите пожалуйста на форуме или на мой мейл [censored]      <br />С уважением Алексей Николаевич.</em></p>  <p>Я посмотрел в гугле. Оказалось, что Николаевич заспамил своей просьбой весь интернет – включая англоязычные форумы сатанистов.</p>  <p><a href="https://www.satanspace.com/forum/index.php?topic=18514.msg1182381">Пруфлинк</a></p>  <p>Сатанисты в ахуе, натурально (пишу уже как <a href="https://lj.rossia.org/users/tiphareth">тифарет</a>почти)</p>
	