Id: 2db7018f-8b3b-4aaa-a8a1-0f2bcf122713
Title: "Ангина"
Published: "2009-01-06"
Slug: "2009-01-06 Ангина"
-
<p>Я заболел, пишу этот пост для в основном себя, чтобы отметить дни. Спросил у врача&#160; - последний раз закрывал больничный 2 октября, то есть 3 месяца назад. Ничего, терпимо, главное, чтобы не чаще. </p>  <p>Болею, как обычно, воспалённым горлом, названий для этого дела столько, что и перечислять не хочется. Ничем другим инфекционным я практически не болею. </p>  <p>Лечусь спреем Hexoral и дико дорогими сосательными таблетками Larydol. За рекламу их мне не платят, а жаль. Антибиотики стараюсь не пить, потому что когда-то ими злоупотреблял, что ни к чему хорошему не привело. С врачом договорились когда-то, что будет мне выписывать антибиотики, только если горло будет болеть дольше нескольких дней. Пока обычно проходит дня за 2-3. Так что сейчас сижу дома и туплю.</p>  <p>Кстати, все последние месяцы ходил без шапки, недосуг было заиметь. Потом всё-таки купил, последние две недели ходил в шапке, и даже не ездил не велосипеде, потому что за окном было –8..-15.</p>  <p>И вот результат. Так что когда вы в следующий раз будете своим мифологическим мышлением (обычно у людей такое,&#160; и я не исключение) связывать разрозненные факты, задумайтесь.</p>  <p>На самом деле, думаю, это всё праздники виноваты – бассейн был закрыт, ложился спать поздно. </p>
	