Id: 1e350eeb-a8e5-49d8-97d1-b40168ee037f
Title: "Циркулярная пила и хот-дог"
Published: "2009-01-29"
Slug: "2009-01-29 Циркулярная пила и хот-дог"
-
<p>Система безопасности для циркулярной пилы. Мой дед, кстати, почти отрезал себе большой палец такой пилой, но его смогли пришить обратно. Создатель же этой системы безопасности проверял её на своём собственном пальце, это крутили на ТВ.</p> <p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/esnQwVZOrUU&amp;hl=ru&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/esnQwVZOrUU&amp;hl=ru&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object></p> <p><a href="http://www.codinghorror.com/blog/archives/001217.html">Инфа взята из блога старины Джефа</a></p>
	