Id: 02884df1-a30c-48c1-843d-995d40195533
Title: "Выставка собак и чаепитие"
Published: "2009-03-08"
Slug: "2009-03-08 Выставка собак и чаепитие"
-
<p>У нас в городе с утра проходила выставка собак, съездил посмотреть, благо там был Ежи с кузиной и её мегапсинами, а мне надо было купить провод для припаявания <a href="/post/2009-02-24%20%D0%92%D1%8B%D1%85%D0%BE%D0%B4%D0%BD%D1%8B%D0%B5_%20%D0%B1%D0%B0%D0%B9%D0%BA%2C%20%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%20%D0%90%D0%BB%D0%B8-%D0%B1%D0%B0%D0%B1%D0%B0%2C%20%D0%B4%D1%80%D1%83%D0%B7%D1%8C%D1%8F%20%D0%B8%20%D0%B8%D0%B3%D1%80%D0%BE%D0%B2%D0%B0%D1%8F%20%D0%BF%D1%80%D0%B8%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0%20Wii-fit">Wiikey к Wii</a>.</p>
<p align="center"><a href="/files/blogengine/DSCN1317.jpg"><img style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px" title="DSCN1317" data-src="/files/blogengine/DSCN1317_thumb.jpg" border="0" alt="DSCN1317"   /></a>&nbsp; <br />Это я теперь так выгляжу</p>
<p>[more text=Читать про небольшую вылазку на выставку и в общепит]</p>
<p>Билет стоил 1.5 лс. Вроде недорого, но кроме собак, интересного там ничего не было &ndash; никто ничего не объявлял и не объяснял, эдакий междусобойчик с раздачей медалей непосредственно участникам.</p>
<p>Зато собаки были отличные &ndash; всех пород и размеров, еле помещались в зал. Просто пир глазам. Хотелось бы их ещё и погладить, но это наверное не очень правильно &ndash; бегать и лапать чужих собак. Так что обнял я только Хасана, пса сестры Ежи.</p>
<p><a href="/files/blogengine/DSCN1320.jpg"><img style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px" title="DSCN1320" data-src="/files/blogengine/DSCN1320_thumb.jpg" border="0" alt="DSCN1320"   /></a></p>
<p>Хозяйка на заднем плане. А Хас ан меня так от души лизнул, что аж стёкла очков помутнели</p>
<p align="center"><a href="/files/blogengine/DSCN1322.jpg"><img style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px" title="DSCN1322" data-src="/files/blogengine/DSCN1322_thumb.jpg" border="0" alt="DSCN1322"   /></a></p>
<p>&nbsp;</p>
<p>И так я ему понравился, что он даже встал на задние лапы, чтобы меня получше продегустировать</p>
<p>А вечером пили чай с однокурсниками. Сначала сходили в заведение общепита &ldquo;Украинска Хатка&rdquo;, куда я давно хотел попасть. Цены умеренные, особенно радует дешёвый свежевыжатый сок. Оформление там выдержанное, а официантка была в нац. одежде, с нац. задорным характером и даже говорила, казалось, с акцентом.</p>
<p><a href="/files/blogengine/IMG_0010235235235.jpg"><img style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px" title="IMG_0010235235235" data-src="/files/blogengine/IMG_0010235235235_thumb.jpg" border="0" alt="IMG_0010235235235"   /></a></p>
<p>&nbsp; Юра и претендент на главную роль в фильме Терминатор 4 &ndash; Валерыч</p>
<p>В &ldquo;Хатке&rdquo; я съел борщ с помпушкой и фирменное блюдо. Борщ был довольно обычный, но чуток перегретый. Фирменное блюдо мне понравилось &ndash; холодное мясо с горячим соусом и моими любимыми овощами в качестве гарнира. Заплатил за это и сок 5 лс, в основном за фирменное.</p>
<p>В целом &ndash; ничего, вкусно.</p>
<p align="center"><a href="/files/blogengine/IMG_001efwwfwef1.jpg"><img style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px" title="IMG_001efwwfwef1" data-src="/files/blogengine/IMG_001efwwfwef1_thumb.jpg" border="0" alt="IMG_001efwwfwef1"   /></a>Интерьер</p>
<p>Это наверное печально, но кроме нас, в хатке никого не было. Кризис, будь он неладен.</p>
<p>У нас и так уже комплексные обеды откатились обратно на 2 Ls (4$) и даже меньше. Правда, в&nbsp; кафе Vecais Draugs, где я тоже недавно был, и где <a href="https://rus.delfi.lv/news/entertainment/sentrpics/article.php?id=23432325">комплекс стоит вообще 1.40</a>, кормят немного средне, по крайней мере мне так показалось. Хотя и не стоит делать выводов из одного посещения.</p>
<p align="center"><a href="/files/blogengine/IMG_0fefef012.jpg"><img style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px" title="IMG_0fefef012" data-src="/files/blogengine/IMG_0fefef012_thumb.jpg" border="0" alt="IMG_0fefef012"   /></a></p>
<p align="center">Детский уголок</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Долго мы а Хатке не сидели, пошли в Весму пить чай, благо там хороший выбор, а я чай люблю, и потому часто там зависаю. Весма мне ещё нравится&nbsp; тем, что там девушки в красивой униформе, всегда отлично выглядят и вежливы. Плюс занятные большие рыбы в аквариуме. И вообще там сервис и оформление хоть и без претензии, но в целом на высоте.</p>
<p>Фоток не будет, потому что я стесняюсь официанток щёлкать. А рыб жалко &ndash; вспышку не отключить, фотик поломан.</p>
<p>Вот вам заместо этого сосулька, каких у меня за окном каждый раз во время слабых морозов вырастает несколько штук. Неудивительно, что у меня в квартире обычно холодно. (Длинные сосульки без оттепели &ndash; место утечки тепла из помещения)</p>
<p align="center"><a href="/files/blogengine/IMG_0008fefef.jpg"><img style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px" title="IMG_0008fefef" data-src="/files/blogengine/IMG_0008fefef_thumb.jpg" border="0" alt="IMG_0008fefef"   /></a> Длина &ndash; больше метра</p>
	