Id: fdfeb6ea-a158-4d15-99e7-915150f1edf3
Title: "Чёрт, это про меня"
Published: "2009-06-07"
Slug: "2009-06-07 Чёрт, это про меня"
-
<p>По крайней мере в последнее время, когда я опять спорт забросил. Идиот.</p> <p><a href="https://www.cartoonlabs.com/comics/index.php?date=2009-06-06&amp;show=sinfest"><img title="2009-06-06" style="border-right: 0px; border-top: 0px; display: inline; border-left: 0px; border-bottom: 0px"  alt="2009-06-06" data-src="/files/blogengine/20090606.gif"  border="0"></a></p>
	