Id: 9ee5cbdd-efa9-4984-9693-b16ad75562fe
Title: "Моя еврокомиссия меня бережёт"
Published: "2009-02-17"
Slug: "2009-02-17 Моя еврокомиссия меня бережёт"
-
<h3><a href="https://webplanet.ru/news/law/2009/02/16/euro.html">Еврокомиссия требует единой зарядки для мобильников</a></h3> <div class="cite"> <p>Еврокомиссия намерена заставить производителей сотовых телефонов создать унифицированное зарядное устройство для всех мобильников. Как <a href="https://bit.prime-tass.ru/news/show.asp?topicid=17&amp;id=63490">сообщает</a> "ПРАЙМ ТАСС", с такой инициативой выступил комиссар Евросоюза по промышленности Гюнтер Верхоген (Gunther Verheugen) в эфире радиостанции Deutsche Welle.  <p>По мнению Верхогена, производителям сотовых телефонов просто необходимо разработать зарядное устройство, подходящее для всех мобильников. Это избавит покупателей от необходимости приобретать новое зарядное устройство при смене одного мобильного на другой. Траты на лишние девайсы неприемлемы, считает Верхоген, а производители "трубок" слишком долго испытывали терпение Еврокомиссии. По отношению к производителям в этой связи может быть предпринят целый ряд строгих мер.</p></div>
	