Id: 3910e118-089a-42b3-b6f6-8f422462da14
Title: "Отобедали"
Published: "2009-10-06"
Slug: "2009-10-06 Отобедали"
-
<p>Я надеюсь мой блог не превратится в тупое перечисление того, где я был, что ел и видел. Хотелось бы, чтобы он, как в былые времена, славился (хехе) всякими занимательными наблюдениями.</p>
<p>Тем не менее, не могу не сообщить, что мы пообедали в https://www.applebees.com/ калифорнийским <a href="https://www.applebees.com/Menu_Garden.aspx">салатом с креветками</a>.</p>
<div class="menuItemName">California Shrimp Salad</div>
<div class="menuItemDescription">Succulent grilled shrimp, avocado, crispy bacon, black olives, hard-boiled eggs and grape tomatoes all on Bibb lettuce. Tossed with a creamy avocado dressing for a great finish.</div>
<div class="menuItemDescription"><br /></div>
<div class="menuItemDescription">Мне понравилось. И чего людям еда в США не нравится, не знаю. Цена, кстати, не такая как на сайте указано, меньше.<br /></div>
	