Id: 26ba8d04-83d8-456c-9ecb-9262df19613f
Title: "I’m back again"
Published: "2009-11-21"
Slug: "2009-11-21 I’m back again"
-
<p>Пока во временном режиме, но сервер поднял (второй раз, хехе).</p>  <p>За то время, пока он был в дауне, съездил в Аризону, покатался на велике ещё раз. Больше ничего значительного не произошло.</p>
	