Id: fbc4ffbf-586d-4234-84cd-6bc394938320
Title: "Урра"
Published: "2009-03-28"
Slug: "2009-03-28 Урра"
-
<p><a href="https://rus.delfi.lv/news/entertainment/culture/article.php?id=23637337">Рига вскоре вновь превратится в "Лес звуков"</a></p> <div class="cite"> <p>Как и каждую весну, Рига вновь станет ареной неприрученной музыки – в течение нескольких майских дней в столице уже в седьмой раз пройдет форум экспериментального музыкального искусства "Лес звуков" ("Skaņu mežs").</p></div>
	