Id: 9e807861-9b32-4d43-9e80-f9dfb6793aff
Title: "Open source"
Published: "2009-01-22"
Slug: "2009-01-22 Open source"
-
<p>Всё-таки открытый код и велик тоже, столь же часто, как и плох. Набор утилит <a href="https://www.winnydows.com/page.php?2">Xvid4PSP</a> , который я использую для кодирования видео в блоге, по совокупности умеет такое, что коммерческие аналоги стоили бы несколько штук баксов, если не десятки.</p> <p>Единственное но – стабильность пакета хромает, а все отдельные программы с интерфейсом командной строки или редактирования текстовых файлов конфигурации. Сложно, но оно того стоит. Иногда.</p>
	