Id: f6a7333f-63d9-4740-9029-f6627c95fd55
Title: "Вернулся"
Published: "2009-01-02"
Slug: "2009-01-02 Вернулся"
-
<p>Вернулся из Риги, где праздновал Новый Год. Отчёт будет масенький, потому что всё было тихо и по-пенсионерски.</p>  <p>В гугль ридере и френдленте такое бешеное количество непрочитанного за несколько дней, что и непонятно, как это теперь вкурить. Каждый раз после дней вдали от инфосферы такая проблема.</p>  <p>Например, Паркер <a href="http://www.idiot.ru/2008/12/31/o-pidarasax/">пишет</a> про свежую <a href="http://adolfych.livejournal.com/1416615.html">художественную акцию</a> группы “Война” в том духе, что воровать двери&#160; и заниматься вандализмом – не искусство. Мотив “отвечай за себя” и “не делай зла” постоянно встречается и у Гоблина, который в последнее время правда у меня вызывает всё больше отвращения, потому что на своём сайте добра в мир явно не приносит, только рационализм. </p>  <p>В принципе, понять художников можно – как ещё современному миру что-то показать, если он уже давно все обычные провокации сожрал, переварил и высрал? Только делом. Так что заварить дверь – это всё-таки не вандализм (сомневаюсь правда и в том, что это искусство). Но вот воровать физические вещи – точно нехорошо, так что счёт у художников с обществом 1:1. Что касается материального ущерба ресторану – он с лихвой окупается бесплатной рекламой, так что тут все квиты.</p>
	