Id: 675d9982-8d8d-40b5-b71e-2c5699f27902
Title: "Моно 2.2 – полёт успешный"
Published: "2009-01-31"
Slug: "2009-01-31 Моно 2.2 – полёт успешный"
-
<p>С некоторыми мелкими сложностями, но проапгрейдил Mono на сервере с izvne.com чс trunk до 2.2. Заработали все фичи NeatUpload’а, что очень круто – прежде глючил прогресс бар. Так что скоро будет страничка для закачки файлов, причём даже лучше, чем была на старом сайте vladekk.izvne.com.</p> <p>Надо проверить – вдруг и те баги с моно, что я фиксил в движке моего блога BlogEngine.Net, были связаны с тем, что моно стоял из транка, а не релизный?</p> <p>Было бы очень круто.</p>
	