Id: f5393d6d-fbf1-41a1-9db3-0a92e1a77df2
Title: "Тусоффка"
Published: "2009-03-27"
Slug: "2009-03-27 Тусоффка"
-
<p>4 числа мы с Князем собрались в Ригу, всех приглашаем встретиться и затусить. Делать можно разное - съездить в Юрмалу. Или вот опера "Кармэн" будет,&nbsp; я там ни разу не был, интересно сходить, посмотреть. Стоит от 5 до 16 лс. Ещё в заведение общепита обязательно пойдём, может и не в одно.</p>
	