Id: 01c0620d-e73e-427e-a4b7-a43a05c5d539
Title: "Фотокарточки"
Published: "2009-02-01"
Slug: "2009-02-01 Фотокарточки"
-
<p>Ездил сейчас в город, печатал снимки для таинственных целей. A4 – правильный размер, и стоит 0.8 Ls за штуку – нормально. </p> <p>Печатал в <a href="https://www.smaids.lv/?lang=2&amp;mid=2&amp;mid2=9">Smaids</a> (улыбка), потом зашёл в Vesma отобедать.</p> <p>Кстати, поражён, насколько в этих местах вежливые и симпатичные девушки работают. Просто общаешься с ними и радуешься жизни.</p> <p>В Smaids, кстати, огромный фотопринтер есть, способный печатать 60x100. Но стоит одна штука 18 Ls – многовато, я считаю.</p>
	