Id: 5e7b8c24-c734-4f50-a1da-cef8a9641e40
Title: "Хехе"
Published: "2009-03-19"
Slug: "2009-03-19 Хехе"
-
<h4>Красота - <a href="https://blog.maartenballiauw.be/post/2009/03/18/ASPNET-MVC-10-has-been-released!.aspx">ASP.NET MVC 1.0 has been released!</a></h4> <p>&lt;holywar mode on&gt;</p> <p>Хотелось бы на нём разрабатывать, а то классический ASP.NET немного задолбал уже. Юнит тесты я люблю, поэтому будем надеяться, что дотнет MVC даст жару и всякие Ruby On Rails уберутся куда подальше. По слухам и моему небольшому опыту, в ASP.NET MVC всё замечательно.</p> <p>&lt;holywar mode off&gt;</p>
	