Id: 14a4c07a-e93a-4c29-acab-b823e936390c
Title: "Мелкие мысли"
Published: "2009-03-22"
Slug: "2009-03-22 Мелкие мысли"
-
<p>Если сравнить знак номера в русском и английском, сразу видно, у кого духовности больше.<sup><a href="#i1">*</a></sup></p> <p align="center"><font face="Times New Roman" size="7"># vs №</font></p> <p align="left">&nbsp;</p> <p align="left">Вторая мысль такая: у нас во всех магазинах овощи всегда второго сорта. Видимо, первый достаётся странам побогаче. Так вот, этот самый второй сорт частенько содержит чуть ли не половину гнилья. И покупатель работает сортировщиком: при наборе помидоров в пакет отделяет зёрна от плевел. Так вот, когда спам-работы научатся обходить обычные тесты тьюринга<sup><a href="#i2">**</a></sup>, то есть капчи, мы им подкинем задачу по сортировке помидоров – выглядит она не такой уж простой.</p> <p align="left">&nbsp;</p> <p align="left"><a href="#" name="i1">*</a> Слово “духовность” я всегда употребляю строго в ироническом смысле.</p> <p align="left"><a href="#" name="12">**</a> Тест тьюринга – способ отличить комп от человека. Вы с ним сталкивались в виде капчи, то есть плохо видимых буковок на картинках, что надо набирать на сайтах при регистрациях и т.п.</p>
	