Id: 91e5bc45-c0e2-4659-90b5-a9d589ed0e2f
Title: "1 апреля"
Published: "2009-04-03"
Slug: "2009-04-03 1 апреля"
-
<p>Если кто не в курсе, <img style="border-right: 0px; padding-right: 1px; border-top: 0px; vertical-align: bottom; border-left: 0px; border-bottom: 0px"  alt="[info]" data-src="/files/lj/userinfo.gif" > <a href="https://avva.livejournal.com">avva</a> и <img style="border-right: 0px; padding-right: 1px; border-top: 0px; vertical-align: bottom; border-left: 0px; border-bottom: 0px"  alt="[info]" data-src="/files/lj/userinfo.gif" > <a href="https://tema.livejournal.com">tema</a> на первое апреля поменялись журналами. Обоих я всегда читаю, и уважаю их блоггерские умения. То, что за тёму пишет авва – только мелькнула неясная мысль, когда был пост про сложность программных систем. А вот то, что они поменялись журналами, я сразу понял, когда увидел в постах аввы характерные критические матюги.</p>
	