Id: e68c273b-7dc8-4664-ae52-611a4082a54e
Title: "Кабаны вернулись"
Published: "2009-01-02"
Slug: "2009-01-02 Кабаны вернулись"
-
<p>
Если кто не в курсе, кабаны is back!
</p>
<p>
Открываем в Windows Media Player или VLC.
</p>
<p>
<a href="mms://tv.eenet.ee/siga">mms://tv.eenet.ee/siga</a>
</p>
<p>
<a href="mms://tv.eenet.ee/siga"><br />
</a>
</p>
<div align="center">
<div style="text-align: center">
<img data-src="/files/blogengine/2009%2f1%2f1.jpg" alt="" />
</div>
</div>

	