Id: adf2aef4-3d48-4b88-863a-f90e18175478
Title: "Капитализм и плавки"
Published: "2009-01-27"
Slug: "2009-01-27 Капитализм и плавки"
-
<p>Иногда мне кажется, что капитализм&nbsp; с его бесконечным изобилием товаров – такое же дурацкое мироустройство, как и социализм. В одном случае выбирать не из чего, а в другом – выбор слишком велик. Правда, в нашей реальности это изобилие часто кажущееся – или все альтернативы похожи, или есть лишь несколько явных по хар-кам лидеров.</p> <p>Но вот пока хорошие плавки выберешь – точно выучишь как минимум десяток английских слов. Кто из вас навскидку скажет, что такое Jammers, Drag Shorts, Aquashorts, Swimming Trunks, Briefs, Watershorts, и чем они отличаются?</p> <p>То-то же. Я вот с грехом пополам понимаю, что такое Swimming Trunks и Briefs. Подозреваю, что остальные слова выдуманы производителем, а именно <a href="https://www.speedo.com/webapp/wcs/stores/servlet/Category3_10151_10202_54762_33311_-1">Speedo</a>. Хорошо хоть картинки есть – для тупых.</p>
	