Id: 846bbe33-052b-4246-86b2-a4507a1e69c3
Title: "Хахаха"
Published: "2009-03-19"
Slug: "2009-03-19 Хахаха"
-
<table style="width: 130px; height: 24px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td>
<table style="width: 450px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<tr>
<td><span style="font-size: 20px;"><strong>Дума тайно воздействует на голосование читателей?</strong></span><span style="font-size: 11px; color: #a8a8a8;"><br /><strong>19.03.2009</strong></span></td>
</tr>
<tr>
<td colspan="2"><br />
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td>
<table style="float: left; padding-right: 5px; padding-bottom: 10px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><a onclick="OpenMainMenu('view_photo.php?photo_id=5605081')" href="https://www.nasha.lv/article.php?id=5605081&amp;#"> <img style="border: 1px solid #000000;" src="https://www.nasha.lv/images/news_images/d4d56e022a32a15d52b98555ac0ee396.jpg" border="0" alt="" /></a></td>
</tr>
</tbody>
</table>
<span style="font-size: 12px;"><strong>Идея &laquo;Нашей Газеты&raquo; о том, как максимально простым способом выразить поддержку или антипатию к тому или иному политику, стала быстро набирать популярность.</strong></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2"></td>
</tr>
</tbody>
</table>
<p><a href="https://www.nasha.lv/article.php?id=5605081&amp;">https://www.nasha.lv/article.php?id=5605081&amp;</a></p>
<p>В полицию они пошли, хехе.</p>
	