Id: 110a9e81-89ed-4b64-92e7-59f5c5563fbc
Title: "Аквариум"
Published: "2009-02-03"
Slug: "2009-02-03 Аквариум"
-
<p>В последнее время кручу эту песню на повторе</p> <p>Скачать <a href="/files/lj/04 - Gospodu Vidnej.mp3">Аквариум – Господу видней</a>, 8 MB. Или слушать (8МБ!):</p> <p>&nbsp;  </p> <p>Вообще, на последнем альбоме “Белая лошадь” есть несколько хороших с моей точки зрения песен. Я его купил на <a href="https://aquarium.kroogi.com/">kroogi.com</a> баксов за 5, что ли.</p>
	