Id: 304f34ec-6c2c-4e23-a5b9-79b4a6f651e7
Title: "Мзуыка - As In RebekkaMaria"
Published: "2009-02-21"
Slug: "2009-02-21 Мзуыка - As In RebekkaMaria"
-
<p>Я теперь буду записывать группы и впечатления сюда, чтобы потом найти быстро, если что.</p> <p><strong>As In RebekkaMaria - Queen Of France, 2008 год</strong></p> <p>Это обычный, хоть и приятный электропоп с женским вокалом, иногда “ангельским”, иногда псевдо-соул. Обычно там синтезатор а-ля бенасси и драм-машина, местами всякие эффекты типа бэк-вокала, компрессированного голоса исполнительницы. Много всяких инструментов в разных, не только электронных: всякое цоканье языком, барабанчики забавные, и когда палочками бьют по клавишам тоже вроде есть, забыл как называется. Заполнено акустическое пространство плотно, саунд современный, с большой компрессией динамического диапазона.</p> <p>Слушать можно, ничего так, тем более что всего 40 минут.</p> <p>Вот трек для ознакомления:</p>Слушать: <br> <br><a href="/files/lj/04. As In Rebekkamaria - Soul To My Soul.mp3">Скачать MP3</a>
	