Id: 5f47f453-c326-4388-b044-506e05cc7140
Title: "Плечо"
Published: "2009-02-27"
Slug: "2009-02-27 Плечо"
-
<p>Я травмировал плечо 15 января, когда поскользнулся и упал. До сих пор болит, причём вчера болело сильно (может быть, из-за смены погоды).</p> <p>Сходил к хирургу, ничего полезного не узнал. Назначили процедуры. Наверняка теперь пойду к физиотерапевту.</p> <p>В общем, дела мои обстоят неважно. Как теперь ходить в бассейн и делать зарядку – ума не приложу. Не поиграть мне теперь и в Wii. Одно радует, на работе временно взял нормальное кресло: с ним рука не висит, а опирается на подлокотник. Надеюсь, это хоть немного поможет.</p> <p>Жизнь непредсказуема: ходил в спортзал несколько лет – не получил не одной травмы. А тут один раз упал – и проблемы на несколько месяцев как минимум (очевидно). Хорошо бы к путешествию в Турцию разрешились.</p> <p>Берегите себя.</p>
	