Id: 17e8b58e-85bf-4787-a36c-f43a2a8869a2
Title: "Slumdog Millionaire"
Published: "2009-02-12"
Slug: "2009-02-12 Slumdog Millionaire"
-
<p>Посмотрел. Охуенно, я щитаю.</p> <p>Там, кстати, в саундтреке одна из моих любимых исполнительниц – M.I.A.</p>
	