Id: 05a4ecc6-7020-4b65-b805-55a0c4670a30
Title: "Годманис"
Published: "2009-02-21"
Slug: "2009-02-21 Годманис"
-
<p>У меня вообще такое ощущение, что Годманис – какой-то трагический персонаж. Ощущение, правда, основывается не на фактах, а на эмоциях. Тем не менее, мне кажется, что зря люди его поносят (У нас всегда люди по привычке ругают всех в правительстве, так что это просто обыденность).</p> <p>То, что он ушёл – вряд ли хорошо. Лучше уж один не самый лучший курс (если он был таким), чем бесконечная смена правительств, каждое из которых будет тянуть в свою сторону, а то и вовсе ничего не делать.</p> <p>И ещё все ругальщики вокруг – и профсоюзы, и пенсионеры, и бюджетные работники – хотят денег, несмотря на то, что это привело бы к бюджету с большим дефицитом. Как известно, это кончается дефолтом – тогда всем будет ещё стократ хуже, чем сейчас. А винить всё равно будут правительство.</p> <p>Даже если сделать систему, при которой люди непосредственно будут выбирать курс страны, всё равно будут ругать правительство.</p>
	