Id: c0bd8a92-a522-4d08-b38d-b788a5b805b7
Title: "Хоукинг"
Published: "2009-04-21"
Slug: "2009-04-21 Хоукинг"
-
<p>Если кто не верит, что апокалипсис близок.</p> <p><a title="http://news.bbc.co.uk/2/hi/uk_news/8008767.stm" href="http://news.bbc.co.uk/2/hi/uk_news/8008767.stm">http://news.bbc.co.uk/2/hi/uk_news/8008767.stm</a></p> <div class="cite"> <p><b>Leading scientist Stephen Hawking is "very ill" in hospital, his employer Cambridge University has said.</b>  <p>A spokesman said Professor Hawking was undergoing tests at Addenbrooke's Hospital, Cambridge.  <p>The spokesman said the 67-year-old, who has motor neurone disease, had "been unwell for a couple of weeks". </p></div> <p>Самый крутой человек на земле, а тоже угасает. С другой стороны, ему уже 67! Никогда бы не подумал.</p>
	