Id: 6c345f82-6cf1-45bf-88f7-8054a3cad4bf
Title: "Лес Звуков 2009"
Published: "2009-04-10"
Slug: "2009-04-10 Лес Звуков 2009"
-
<p><a title="http://www.lastfm.ru/event/1005974" href="http://www.lastfm.ru/event/1005974">http://www.lastfm.ru/event/1005974</a></p> <p>Вот оно как: <div class="cite"> <p>May 15<br>Voldemārs Johansons (LV)<br>Rolands Kronlaks (LV)<br>Ghedalia Tazartes (FR)<br>Jóhann Jóhannsson &amp; Hildur Gudnadottir (IS)<br>Vladislav Delay &amp; Lillevan (FI/DE)<br>Candycoveredclown &amp; Kaspars Groševs (LV) <p><br>May 16<br>Au (US)<br>Oroboro (LV)Extra life (US)<br>Pivot (AU)<br>Mi ami (US)<br>Kapital band 1 (AT)</p> <p><br>May 22 (Anglikāņu baznīca)<br>sunn o)))</p> <p><br>May 24 ( Anglikāņu baznīca)<br>Hildur Gudnadottir (IS)<br>Philip Jeck (UK)<br>Charles Matthews (UK)<br>Santa Ratniece (LV)</p></div>
	