Id: 5097fa97-1b75-4a79-afa6-87a4c3b134eb
Title: "Уроки прошлого"
Published: "2009-03-18"
Slug: "2009-03-18 Уроки прошлого"
-
<p>Twitter, anyone?</p> <p><a href="http://blogs.zdnet.com/BTL/?p=14568">And then there’s the history lesson:</a> <ul> <li>Netscape: Acquired by AOL for $4.2 billion (arguably $10.8 billion at the close);  <li>AOL: Acquired by Time Warner for $120 billion (you’d be lucky to sell AOL for $3 billion today).  <li>ICQ: Acquired by AOL for $407 million.&nbsp; <li>Skype: Acquired by eBay for $4.1 billion. Hefty $1.4 billion eBay writedown ensued.&nbsp; <li>MySpace: Acquired by News Corp. for $580 million. That worked out because of a $900 million search deal with Google that won’t be renewed.&nbsp; <li>YouTube: Acquired by Google for $1.65 billion. A $1 billion Viacom lawsuit ensued.&nbsp; </li></ul> <p>Для тех, кто в танке: дорогие поглощения молодых интернет-компаний, которые ещё не выдумали себе стабильные пути заработка, выгоды покупателю обычно не приносили.</p>
	