Id: 2091a2e3-d886-4ad8-a575-95dfb291bf0b
Title: "Веловылазка в Медуми"
Published: "2009-08-02"
Slug: "2009-08-02 Веловылазка в Медуми"
-
<p>Вчера катались в Медуми. Я, конечно, уже кучу описаний наших вылазок пропустил (например, в Краславу), ну да ладно.</p>
<p>Проехали 81 км, на неважной лесной дороге видели косулю. Не только в Браславе полно живности, хехе. В конце попали под дождь, но несильный.</p>
<p><strong>Важное уведомление.</strong> Я собираюсь организовать в ближайшие выходные с хорошей погодой вылазку в лодочную <a href="https://sakarva.lt">sakarva.lt</a> около Игналины. План &ndash; выехать в пятницу, в субботу там, в воскресенье обратно. Ночевать в гостевом доме, но можно и в палатке, если охота (я сам не любитель палаток).</p>
<p>Все желающие приглашаются присоединиться.</p>
	