Id: aff824a6-a02c-46b9-bff8-3f52189b133a
Title: "Обращение"
Published: "2009-02-06"
Slug: "2009-02-06 Обращение"
-
<p>Люди! Я реально то занят, то здоровья нету на комп.&nbsp; Я на десятке сервисов зарегистрирован и пользуюсь, но следить и отвечать возможности не имею. То есть вы меня тормошите конечно, если вам нужен ответ. По почте или в комментах. Но отнеситесь со снисходительностью, если я торможу.</p> <p>Что касается реала: всегда с удовольствием с вами схожу или съежу куда-нибудь, а то никаких сил нет за компом сидеть. Кстати, в Ригу 14 апреля приезжает Apocalyptica, я бы сходил.</p>
	