Id: f9cf4550-2825-4917-9aad-be6bec102348
Title: "Лытдыбр"
Published: "2009-04-11"
Slug: "2009-04-11 Лытдыбр"
-
<p>Пока смотрел, как можно примостить рюкзак на багажник велика, закончилось место на диске Z, и вылетела программа для скачивания Википедии на айфон. А диск Z у меня, между прочим, 400 ГБ. Как оказалось, во всём виноваты игры для Wii – слишком много валялось распакованных во временной папке.</p> <p>В любом случае, я во время поездки (рассказ про которую надеюсь всё-таки закончить)) вытащил из рижского сервака винт на 1 ТБ и скоро его подключу; как только руки дойдут.</p>
	