Id: df1b372b-a1a4-4472-8445-e43306d3c6a4
Title: "Little boots"
Published: "2009-01-14"
Slug: "2009-01-14 Little boots"
-
<p>Наткнулся где-то (на d3, наверное) на клип девушки по прозвищу Little Boots.</p>
<p>У меня вообще так бывает, что понравится какой-нибудь поп-хит и кручу его по сто раз на дню, пока не надоест вконец.</p>
<p>Так что вот вам mp3 в хорошем качестве:</p>
<p>[flv:03 Meddle.mp3]</p>
<p><a href="/files/lj/03 Meddle.mp3">/lj/03 Meddle.mp3</a></p>
<p>А вот live с ютуба.</p>
<object width="425" height="344"><param name="movie" value="https://www.youtube.com/v/cJmpQptN6vU&hl=ru&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/cJmpQptN6vU&hl=ru&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
	