Id: 54ec2dac-9bb6-467b-aa8b-8da8ae93af3d
Title: "Open source огорчает"
Published: "2009-01-11"
Slug: "2009-01-11 Open source огорчает"
-
<p>Это из трекера веб-сервера лайти (lightttpd):</p>  <h4><a href="https://redmine.lighttpd.net/issues/show/665">Feature #665</a></h4>  <h5>server.errorlog is global instead of per virtual host</h5>  <p>Статус:    <br /><strong><font color="#ff0000">Wontfix</font></strong></p>  <div class="cite">   <p>This is not a bug - it just is. </p>    <p>As it is by design, i don't think this will ever get implemented.</p> </div>  <p>И такое у них частенько.</p>
	