Id: f1e5ce19-846d-43d9-bfc1-179f70804a30
Title: "Я вернулся"
Published: "2009-07-30"
Slug: "2009-07-30 Я вернулся"
-
<p>После длительных мучений с настройкой Mono свежей версии, I’m back. То есть блог поднял. Для чего пришлось скопировать System.Web.Mobile.dll из виндового .Net Framework. Чудны дела твои, великое макаронное чудище.</p> <p>Писать, правда, всё равно не обещаю. Про Турцию почти закончил, ну и чёрт с ним.</p> <p>Что вообще было:</p> <p>Мы ездили на великах в Краславу (100 с лишним км), играли в настольную игру&nbsp; Real Life, проремонтировал/проапгрейдил на байке передний переключатель на Shimano Deore LX.</p> <p>Ещё посмотрел Hellboy II, Watchmen и Iron Man.</p> <p>Первое – хорошо и весело, красиво очень. Второе – средне, разве что Джон неплохо получился (интересно, знала ли про него Джулиан Мэй, когда творила Джека Бестелесного? комикс вроде раньше вышел). Третье – нормально, но совсем уж нелепо и комиксно.</p> <p>Ещё у меня айфон попал под дождь, потёк кран в ванной и сгорел холодильник из-за капающей воды. Вода хочет меня убить.</p> <p>Айфон работает, но без подсветки, кран отрубили нафиг, а холодильник всё равно не мой и я скоро съезжаю, так что чинить не буду.</p> <p>Чмоки всем, кто в чате.</p>
	