Id: 3fd85b63-001a-46cb-ab66-fd04acdd94f3
Title: "Свободен"
Published: "2009-07-10"
Slug: "2009-07-10 Свободен"
-
<p>Я заплатил многа-многа денек и мне наконец-то нормально отвязали айфон от оператора. Как они это сделали, не пойму – в интернете вроде написано, что возможности программно сделать анлок на моих версиях прошивок (модема и бутлоадера) нету. Паять тоже не паяли.&nbsp; Или я лох и неправильно понял то, что прочёл на сайтах, или мастер и в самом деле профи и знает секреты. В принципе, репутация у него высокая. Это я про салон, что около “Мего” находится, напротив “Таллера”.</p> <p>В любом случае, теперь у меня стоит прошивка 3.0 (зачем-то русская), где есть копипаст, горизонтальная клава в записках. И на неё можно поставить нормальный GPS софт (Navigon), что меня несказанно радует. Ещё немного, и девайс станет почти во всём меня устраивать.</p>
	