Id: c9190072-d20a-4d72-9bcd-0a3d1cd25d88
Title: "Музыка и DRM"
Published: "2009-01-07"
Slug: "2009-01-07 Музыка и DRM"
-
<p><a href="https://www.apple.com/pr/library/2009/01/06itunes.html"><u>Вот и финал</u>.</a></p>  <p>Теперь все музыкальные композиции без DRM и в iTunes Music Store. Теперь, похоже, все большие магазины и лейблы предлагают треки без DRM. Конечно, это всё исключительно американцам.</p>  <p>Америка это abomination. Ну, или рекорд-лейблы.</p>
	