Id: d1e367c7-6552-4386-9365-bcb5c4e1c3f5
Title: "Амиши"
Published: "2009-03-13"
Slug: "2009-03-13 Амиши"
-
<p>Моя сестра занимательно, но немного однобоко <a href="http://mistrale1514.livejournal.com/232478.html?view=799262#t799262">написала</a> про Амишей. Это религиозная группа в США и Канаде, подчиняющаяся довольно строгим правилам, в основном связанным со специальным замедлением прогресса и уменьшением зависимости от современного общества.</p> <p>Вот хорошая статья, раскрывающая некоторые важные моменты, правда на буржуйском</p> <p><a title="http://www.kk.org/thetechnium/archives/2009/02/amish_hackers_a.php" href="http://www.kk.org/thetechnium/archives/2009/02/amish_hackers_a.php">http://www.kk.org/thetechnium/archives/2009/02/amish_hackers_a.php</a></p>
	