Id: 2c82ea8d-fe2f-45ea-aed3-290f5ee4498a
Title: "Культурологический шок"
Published: "2009-01-24"
Slug: "2009-01-24 Культурологический шок"
-
<p>Яцутко на <a href="https://hrenovina.net">Хреновине</a> <a href="https://hrenovina.net/1900">пишет</a> про гибриды цитрусовых.</p> <p>Оказывается, то, что мы недавно покупвали в Iki под названием Sweetie – гибрид грейпфрута и помело. </p> <p><a href="/files/blogengine/jaffasweetieisr.jpg"><img title="jaffasweetieisr" style="border-right: 0px; border-top: 0px; display: inline; border-left: 0px; border-bottom: 0px"  alt="jaffasweetieisr" data-src="/files/blogengine/jaffasweetieisr_thumb.jpg"  border="0"></a> </p> <p>А само помело, наряду с цитроном – предки всех современных цитрусовых. Грейпфрут, и даже лимон – гибриды. А мандарины, которые мы едим – вовсе и не мандарины, а всякие подозрительные типы, вроде гибридов настоящего мандарина и апельсина.</p>
	