Id: 9ad6806f-8835-4433-85a4-332e25c46513
Title: "Как выглядят авторы разных языков программирования"
Published: "2009-01-05"
Slug: "2009-01-05 Как выглядят авторы разных языков программирования"
-
<p><a href="http://www.angelfire.com/tx4/cus/people/">Как выглядят авторы разных языков программирования</a></p>
	