Id: 1fc3f05e-bbfe-4930-9c82-adef37d07b52
Title: "Из жизни грибов"
Published: "2009-01-05"
Slug: "2009-01-05 Из жизни грибов"
-
<p>На сей раз делфи жжот не в заголовке, а прямо в новостях. Без этого знания мы жить не сможем – какой там кризис, когда корневая губка жрёт деревья!</p>  <p><a href="https://rus.delfi.lv/news/daily/latvia/article.php?id=22800040">Грибом 2009 года выбрана корневая губка</a></p>  <div class="cite">   <p>Латвийское общество микологов и лихенологов объявило грибом 2009 года корневую губку (Heterobasidion annosum). Об этом сообщила руководитель общества Диана Мейере. </p>    <p>Ведущий специалист Латвийского государственного института леса Талис Гайтниекс пояснил, что корневая губка вызывает пеструю гниль древесины и корней, а также является опасным паразитом хвойных (сосны, ели, пихты), вызывающим массовое отмирание деревьев. </p> </div>
	