Id: b881b3b5-6de1-45f0-9a2a-f40e301dc255
Title: "Советы написателям текстов"
Published: "2009-01-11"
Slug: "2009-01-11 Советы написателям текстов"
-
<p>Самый, пожалуй, известный блоггер в мире Кори Докторов <a href="http://www.locusmag.com/Features/2009/01/cory-doctorow-writing-in-age-of.html">даёт советы</a>, как продуктивно писать тексты, не отвлекаясь на всякое, в частности интернет. По-моему, очень актуально, причём и для другой работы тоже.</p>
<p>За ссылку спасибо <a href="http://avva.livejournal.com/">avva</a></p>
	