Id: bc0759bc-2fe5-40a6-94e8-59fd5627a322
Title: "Краткая история Латвии"
Published: "2009-01-07"
Slug: "2009-01-07 Краткая история Латвии"
-
<p>На этот забавный мульт вокруг давали ссылки, но я как-то не посмотрел тогда. Зато сейчас посмотрел, и всем рекомендую. Сделано отлично. Там немного есть на латышском, но в целом и без субтитров всё понятно.</p>
<object width="425" height="344"><param name="movie" value="https://www.youtube.com/v/iHumUXCEn3I&hl=ru&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/iHumUXCEn3I&hl=ru&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
<p>В последних кадрах &ndash; это они уже выдают желаемое за действительное. Наша страна, как это принято говорить: &ldquo;Находится в зоне влияния США&rdquo;, причём добровольно, хотя географически расположена от них очень далеко. Кроме того, мы не за забором &ndash; забор, если и есть, то вокруг всего евросоюза. А ЕС уже вертит нами как хочет (как это соотносится с лизоблюдством по отношению к США, мне неведомо).</p>
<p>А вообще, новости у нас нехорошие:</p>
<div class="cite"><a href="https://rus.delfi.lv/news/daily/business/article.php?id=22828951">Жители не верят в перспективы экономики страны</a>
x<a href="https://rus.delfi.lv/news/daily/business/article.php?id=22822877">На Daugavpils lokomotīvju remonta rūpnīca сократят 600 человек</a> <a href="https://rus.delfi.lv/news/daily/business/article.php?id=22822877"></a></div>
<p>За окном холод, метель и снегопад, а у меня настроение так себе и горло болит всё сильнее. Всё это напоминает какой-то неебический всеобщий пиздец. Как в игре Fahrenheit &ndash; глобальное похолодание, всё заносит снегом, мир погибает.</p>
	