Id: c65fa99d-d3bb-4107-a512-3ea87feb4566
Title: "Немного фишконетства"
Published: "2009-01-27"
Slug: "2009-01-27 Немного фишконетства"
-
<p>&nbsp;<a href="http://psdtuts.com/articles/web/54-mind-blowing-digital-paintings/">Клёвые картинки</a>, нарисованные на компе.</p> <p>Например, такие:</p> <p><a href="/files/blogengine/1.jpg"><img title="1" style="border-right: 0px; border-top: 0px; display: inline; border-left: 0px; border-bottom: 0px"  alt="1" data-src="/files/blogengine/1_thumb.jpg"  border="0"></a></p> <p>[more text=и такие]</p> <p>И такие:</p> <p><a href="/files/blogengine/4.jpg"><img title="4" style="border-right: 0px; border-top: 0px; display: inline; border-left: 0px; border-bottom: 0px"  alt="4" data-src="/files/blogengine/4_thumb.jpg"  border="0"></a> </p> <p></p> <p></p> <p>Кстати, задаю загадку: откуда автор черпал вдохновение для последней?</p>
	