Id: 21535e1b-263f-4879-80a4-e4067e8f4df9
Title: "Хехе"
Published: "2009-03-12"
Slug: "2009-03-12 Хехе"
-
<p><a href="https://i.gizmodo.com/5166649/ipods-and-young-people-have-utterly-destroyed-music">Young people prefer the sound of highly compressed MP3s to uncompressed audio, study shows.</a></p> <p>И чо? Американцы (да и все отстальные) вон во всё сыпят соль, сахар и глутамат натрия. Никто пока не умер. Просто те, кому надо, слушают на нормальной аппаратуре и едят нормальную пищу.</p> <p>Я вот тоже саунд с компрессией нормально воспринимаю – что поделать, привык. И против mp3 ничего не имею, лишь бы были качественно закодированы. </p> <p>Для тех, кто в танке – компрессия динамического диапазона – это убирание разницы между самым громким и самым тихим звуком, то есть звук всегда около той громкости, на которой вы слушаете музыку. И потому не получится сделать так, чтобы вы подпрыгнули на стуле от неожиданного рёва.</p> <p>Вот, например, трек из сравнительного недавнего альбома Питера Гэбриэла, который всегда щепетильно относился к таким вопросам. </p> <p>Сделайте погромче и наслаждайтесь.</p>Слушать Peter Gabriel – Darkness (13 MB)<br> <br><a href="/files/lj/01 - Darkness.mp3">Скачать MP3</a>
	