Id: 0c192928-2624-4a83-9d94-d32544473c04
Title: "Autistic Daughers"
Published: "2009-03-03"
Slug: "2009-03-03 Autistic Daughers"
-
<p>Делал я вчера солянку, примерно по <a href="м">этому рецепту</a>. Несмотря на три вида мяса и вообще, солянка вышла какая-то средняя, бывает и вкуснее. Ещё я запёк мясо с картошкой, получилось ничего так, правда чуток подгорело масло и жир. В будущем буду умнее.</p> <p>Пока я это всё делал, послушал не только альбом, про который я писал вчера, но и Autistic Daughters - Uneasy Flowers (2008).</p> <p>Это наверное психофолк, который теперь ещё долго будет лезть изо всех щелей. Но такой довольно медленный и унылый. Местами встречаются интересные шумы и вообще подход к инструментам, но жизнь такую музыку слушать не располагает, потому как невесело. С точки зрения экспериментов, наверное ничего так, но гитара и голос довольно-таки занудные – мне лично акустическая гитара ужас как надоела давным-давно. Тем не менее, кажется, что если этой музыкой проникнуться, она может понравится, потому как имеет сродство с пост-роком. Плюс это сонграйтерство, и явно надо слушать тексты, чтобы понять, в чём там соль. Песни правда, не длинные, а альбом и вовсе 30 минут. </p>Слушать: <br> <br><a href="/files/lj/05 Bird In The Curtain.mp3">Скачать MP3</a>
	