Id: a7c8dfca-6d6b-40d8-ae08-ff69512097f4
Title: "Кто хотел моя кошка? Вам её есть тут"
Published: "2009-09-27"
Slug: "2009-09-27 Кто хотел моя кошка_ Вам её есть тут"
-
<p></p> <p><a href="/files/blogengine/20090927145619_0009.jpg"><img style="border-bottom: 0px; border-left: 0px; display: inline; border-top: 0px; border-right: 0px" title="2009-09-27 14-56-19_0009" border="0" alt="2009-09-27 14-56-19_0009" data-src="/files/blogengine/20090927145619_0009_thumb.jpg"  ></a></p> <p><a href="/files/blogengine/20090927145845_0013.jpg"><img style="border-bottom: 0px; border-left: 0px; display: inline; border-top: 0px; border-right: 0px" title="2009-09-27 14-58-45_0013" border="0" alt="2009-09-27 14-58-45_0013" data-src="/files/blogengine/20090927145845_0013_thumb.jpg"  ></a> </p> <p>А чтобы сделать крутые фотки, нам нужен <img style="border-bottom: 0px; border-left: 0px; padding-right: 1px; vertical-align: bottom; border-top: 0px; border-right: 0px" alt="[info]" data-src="/files/lj/userinfo.gif"  > <a href="https://lisjonka.livejournal.com">lisjonka</a> с её волшебными скиллами выигрывания конкурсов.</p>
	