Id: af180760-9bb4-4485-82e5-e0523d60556c
Title: "Покатались"
Published: "2010-07-11"
Slug: "2010-07-11 Покатались"
-
<p>Вот так мы покатались сегодня, немного. Зато продуктивно - про Исландию послушал. </p> <p>70 км примерно, 4 часа в движении, всего же с 10 часов утра до 18 вечера.</p> <p>Сказать особо нечего. Разве что: противопожарные рвы это полный отстой для велодвижения. Как и железная дорога :-)</p> <p>Ещё: около оз. Свенте всё-таки можно искупаться со всех сторон. Хоть и частная собственность кругом, но не везде ещё, ну или знака нет и пофиг. Вообще, надо узнать, что с законом про территорию рядом с водой, и можно ли наплевать на знак.</p> <p><iframe height="480" marginheight="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=113073638999015652203.00048b0b22d45927b5c6c&amp;ll=55.898031,26.464691&amp;spn=0.18479,0.439453&amp;z=11&amp;output=embed" frameborder="0" width="640" marginwidth="0" scrolling="no"></iframe><br><small>View <a style="text-align: left; color: #0000ff" href="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=113073638999015652203.00048b0b22d45927b5c6c&amp;ll=55.898031,26.464691&amp;spn=0.18479,0.439453&amp;z=11&amp;source=embed">2010.07.10 Svente Close</a> in a larger map</small></p>
	