Id: bf8c472b-5f14-4af7-99f9-2284b76dca50
Title: "Качество видеокамеры vs кинокамеры"
Published: "2010-04-27"
Slug: "2010-04-27 Качество видеокамеры vs кинокамеры"
-
<p>Когда я ещё был совсем молодым, уже задумывался, почему считается, что “кинокартинка” лучше чем “видео&quot;, т.е. снятое на кинокамеру (кино) лучше чем снятое на видеокамеру (сериалы). Видно же, что на самом деле часто наоборот, видеокамерная картинка лучше.</p>  <p>Как оказалось, не я один так думаю, см. всплывающий текст <a href="https://xkcd.com/732/">свежего выпуска xkcd</a> </p>  <p>Дело в том, что кинокамера снимает 24 кадра в секунду, а видео 50 (PAL) или 60 (NTSC) полукадров (говорят, сейчас есть модели где 60 полных кадров можно снимать)</p>  <p>Важны конечно и другие параметры, разрешение там или цветовой диапазон, но всё равно.</p>
	