Id: 32e399d2-489e-4827-a87c-bc888a811f6d
Title: "Почитал про байкинг в Исландии"
Published: "2010-11-30"
Slug: "2010-11-30 Почитал про байкинг в Исландии"
-
<p>Такое ощущение, что это вообще предприятие невозможное, столько препятствий и мучений ждёт, если попробуешь.</p> <p>Начиная с цены на билет в 420 лс, продолжая жуткой погодой, и заканчивая ужасными дорогами внутри острова. Ещё стоит упомянуть и исключительную лёгкость поломки велосипеда от этих самых дорог, и отсутствие веломагазинов, как впрочем и любых других магазинов внутри острова.</p> <p>Но ездят же люди, ездят.</p>
	