Id: 4f10a697-f2cc-4ddb-b21b-c176b885d83d
Title: "Будем воду продавать"
Published: "2010-12-12"
Slug: "2010-12-12 Будем воду продавать"
-
<p>Говорят, она будет ценной в 21 веке :-)</p> <div style="border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border-top: black 1px solid; border-right: black 1px solid"> <p>В Латвии количество пресной воды на душу населения — четвертое по величине в Европейском союзе, свидетельствуют данные статистическая службы ЕС Eurostat.</p></div> <p><a href="http://rus.delfi.lv/news/daily/europe/po-dostupnosti-vodnyh-resursov-latviyanbsp-4-ya-v-es.d?id=35674919">Говорит нам дельфи</a></p>
	