Id: 37571704-2990-4caa-b09a-c8a351543e9b
Title: "Покатались"
Published: "2010-06-05"
Slug: "2010-06-05 Покатались"
-
<iframe height="350" marginheight="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=113073638999015652203.000488489c1cc675d2048&amp;ll=55.921104,26.45146&amp;spn=0.049713,0.155115&amp;output=embed" frameborder="0" width="425" marginwidth="0" scrolling="no"></iframe>  <br /><small>View <a style="text-align: left; color: #0000ff" href="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=113073638999015652203.000488489c1cc675d2048&amp;ll=55.921104,26.45146&amp;spn=0.049713,0.155115&amp;source=embed">Байк Свента 6 июня 2010</a> in a larger map</small>
	