Id: ee37bd50-870d-4348-af17-a3b1d89d7b58
Title: "Удивительные китайцы"
Published: "2010-06-07"
Slug: "2010-06-07 Удивительные китайцы"
-
<p>Удивительные люди китайцы.</p>  <p>Вот покупал я в магазине dealexteme.com разные штуки. Очень многие сломались, большей частью ноунейм. А вот те, что китайских брендов, напротив – дёшевые и хорошо работают. Фонарики, батарейки, зарядки там.</p>  <p>А вот дистанционный выключатель для розетки ведёт себя исключительно странно.</p>  <p><a title="http://www.dealextreme.com/details.dx/sku.12902" href="http://www.dealextreme.com/details.dx/sku.12902 ">http://www.dealextreme.com/details.dx/sku.12902<img style="border-bottom: 0px; border-left: 0px; display: block; float: none; margin-left: auto; border-top: 0px; margin-right: auto; border-right: 0px" title="sku_12902_1" border="0" alt="sku_12902_1" data-src="/files/blogengine/sku_12902_1.jpg"   /> </a></p>  <p>Уже второй раз такое явление происходит. Щёлкает, вырубает электричество всем подключенным к нему девайсам, и потом не работает. Разберёшь-соберёшь – опять работает. Качество сборки плохое, почему ломается, понятно. Но почему потом опять начинает работать ?</p>  <p>Загадка.</p>
	