Id: 1a818376-7fcf-444f-b55b-93c70a4366eb
Title: "Амстердам и Лондон — 4, ещё про Ночь Музеев и про фастфуд"
Published: "2010-12-03"
Slug: "2010-12-03 Амстердам и Лондон — 4, ещё про Ночь Музеев и про фастфуд"
-
<p>В прошлый раз я не дописал,&nbsp; куда именно мы попали на ночь музеев.</p>
<p>Попали мы в центр современного "научного искусства" <a href="https://www.optofonica.com/">Optofonica</a>. Долго стояли в очереди. Перед нами стояли чуваки, одетые в какие-то костюмы стиля "мягкая игрушка" и ели что-то странно выглядящее из картонных коробочек. Серёга обозвал это слизнями, но не спросил, поэтому потом долго искал, где таких слизней можно купить. Так и не нашёл, увы. По-моему, это была просто традиционная нидерландская картошка-фри с майонезоподобным соусом.</p>
<p>Картошку фри, кстати, англичане называют "chips&rdquo; (совсем не в тему), французы "pommes frites&rdquo;, американцы "french fries". Русские, как мы знаем, "картофель фри".</p>
<p>И только голландцы да бельгийцы называют их так, как положено - "Vlaamse frites", то есть фламандские, что вроде как соответствует региону, откуда это блюдо произошло.</p>
<p><a href="https://www.flickr.com/photos/accidentalhedonist/4230019817/sizes/l/in/photostream/"><img data-src="/files/blogengine/4230019817_aee62412f0_o.jpg" alt="4230019817_aee62412f0_o"   border="0" /></a></p>
<p>[more text=Читать про картошку, фрикадельку и современное научное искусство]</p>
<p>Я вообще не особый фанат картошки, хотя именно фри могу съесть изредка. Майонез я вообще не ем, кроме как очень редко в салатах. Но это блюдо купил - надо же попробовать, что местные так любят. В целом, эксперимент удался: то, что часто называют майонезом, оказалось мягким на вкус соусом, смахивает на сметану со специями, ну или йогурт. Вроде как соусов разных несколько, положат какой попросите, включая кетчуп.</p>
<p>Покупать фламандскую картошку опять я не стану, но рвотных позывов тест не вызвал.</p>
<p>Раз уж зашла речь про фастфуд, скажу, что ел я и крокет из автомата FEBO. Кидаешь монетку, вытаскиваешь из-за шторки фрикадельку.</p>
<p><a href="https://www.flickr.com/photos/gabenl/2899332360/sizes/l/in/photostream/"><img data-src="/files/blogengine/2899332360_fe0f61d180_o.jpg" alt="2899332360_fe0f61d180_o"   border="0" /></a></p>
<p>У нас, вроде как, такого блюда нет, так что посню. Внутри этой фрикадельки - измельчённое мясо или картошка, довольна жидкая и смешаная с каким-нибудь соусом. Я ел вроде бы с горчицей, судя по цвету. Блюдо на любителя, но опять-таки, интересно же попробовать, чем местные перебиваются в голодные годы. Опять-таки, вкус не такой резкий, как можно было бы ожидать от горчицы.</p>
<p>На этом кулинарную тему временно закончим, вернёмся к культуре. В Optofonica мы видели несколько инсталляций.</p>
<p>В одной из них девушка лежала на полу, и дышала в датчик, а софт делал из процента углекислого газа в её дыхании чёрных мушек и выводил на экран. Мушки роились по экрану в такт дыханию, и всё время плодились (ибо новые прибавлялись на каждом выдохе).</p>
<p>Забавно, но долго не просидишь, ведь скамеек в комнате нет. Понравилось, что в здании оптофоники везде интерьер, как в лаборатории, бело и чисто, а персонал в ретрофутуристических костюмах.</p>
<p><a href="/files/blogengine/5163895968_5bb8d20593_o.jpg"><img data-src="/files/blogengine/5163895968_5bb8d20593_o_thumb.jpg" alt="5163895968_5bb8d20593_o"   border="0" /></a></p>
<p align="center">Вот эта девушка нас в лифте везла, фотка не очень, но что поделать.</p>
<p>Ещё в оптофонике была установка, где зелёным лазером подсвечивался процесс разложения воды на кислород и водород. Красиво, ничего не скажешь. Когда два лазерных луче пересекались, процесс на вид ускорялся, по крайней мере панк громко этим восхищался. В описании инсталляции, однако, написано, что это иллюзия, просто пузырьки газов лучше видно, когда интенсивная подсветка.</p>
<p>Больше мы ничего не посмотрели, потому что открывались новые инсталляции в оптофонике медленно, мы ждать не стали, и ушли. Ночью должен был играть <a href="https://www.muzprosvet.ru/kubin1.html">Феликс Кубин</a>, но мы не стали опять стоять очередь, да и не пришли к началу, ибо не так всё это быстро происходит, движение по городу я имею в виду. Всё равно, было неплохо - такое современное искусство, связанное с наукой, мне очень по нраву. Думаю, даже ярые его ненавистники не стали бы сильно ругать именно такой подход - с датчиками, жидкостями и лазерами.</p>
<p><a href="https://www.flickr.com/photos/transphormetic/5223430259/"><img data-src="/files/blogengine/5223430259_0a9f3d87b5_b.jpg" alt="5223430259_0a9f3d87b5_b"   border="0" /></a></p>
<p align="center">Это не знаю что, фигура на стене, много таких было. Мило</p>
<p>Тут в прошлом посте спросили про карты.&nbsp; Отвечу, пока не забыл. У меня был GPS в айфоне, но он терял спутник и тормозил, так что польза от него была сомнительная. Были ещё распечатки, но грубые.</p>
<p>Вообще, простой способ навигации без карты - спрашивать местных. Это несложно, благо практически все голландцы хорошо говорят по-английски (что удивительно). Любопытно, что надписи на английском при этом они не очень любят, и такие надписи сравнительно редко встречаются в инструкциях и названиях. Транспортные автоматы, к счастью, имеют английские меню тоже.</p>
<p>Проблем с вопросами к местным только несколько:</p>
<p>1. Есть места, где одни туристы</p>
<p>2. Я стесняюсь</p>
<p>3. Не всегда легко объяснить и понять, чего ты хочешь, даже на английском</p>
<p>Естественно, все голландцы всегда доброжелательны и готовы помочь, если только не спешат. Европа, что тут скажешь. Вообще, Королевство Нидерланды - одна из самых развитых в смысле терпимости и общечеловеческого гуманизма стран, как и скандинавские страны.&nbsp; В каком-то смысле - самая развитая. Если кто живёт в инфовакууме, поясню, что в Нидерландах законны</p>
<p>1. однополые браки (2001 год, первые в мире)</p>
<p>2. эвтаназия (2002 год)</p>
<p>3. проституция (2000 год)</p>
<p>4. лёгкие наркотики&nbsp; (отчасти, "политика терпимости")</p>
<p>Вдобавок, один из самых низких уровней религиозности (около 30% верующих, 40% ни рыба ни мясо, остальные атеисты).</p>
<p>Для консерваторов это всё, несомненно, признаки морального "разложения" Европы и скорой её гибели.</p>
<p>Напомню однако, что в Голландии крайне высокий валовый продукт, уровень жизни (входит в 10 по большинству метрик), относительно высокая рождаемость для Европы, и высокий уровень ощущения счастья жителями.</p>
<p>Выводы делайте сами.</p>
	