Id: 3138138f-2873-4ecf-b0a2-9fc4d2cc49d8
Title: "Цифровой фотик или видеокамера"
Published: "2010-05-08"
Slug: "2010-05-08 Цифровой фотик или видеокамера"
-
<p>Если вы знаете человека, у которого в Даугавпилсе есть цифровая видео или фото камера, умеющая снимать видео с функцией больше чем 60 кадров в секунду, напишите мне в комменты или на почту <a href="mailto:vlad@@@@izvne.com">vlad@@@@izvne.com</a></p>
	