Id: 2cec7585-3072-4644-87e8-8539e04c9be9
Title: "8 bit rocks!"
Published: "2010-04-17"
Slug: "2010-04-17 8 bit rocks_"
-
<div style="padding-bottom: 0px; padding-left: 0px; width: 425px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px" id="scid:5737277B-5D6D-4f48-ABFC-DD9C333F4C5D:d790c4d4-b91f-4a24-80b8-470fe1223ba4" class="wlWriterEditableSmartContent"><div><object width="425" height="355"><param name="movie" value="https://www.youtube.com/v/SEVU-YLpM8A&amp;color1=0xb1b1b1&amp;color2=0xcfcfcf&amp;hl=en_US&amp;feature=player_embedded&amp;fs=1&amp;hl=en"></param><embed src="https://www.youtube.com/v/SEVU-YLpM8A&amp;color1=0xb1b1b1&amp;color2=0xcfcfcf&amp;hl=en_US&amp;feature=player_embedded&amp;fs=1&amp;hl=en" type="application/x-shockwave-flash" width="425" height="355"></embed></object></div></div>
	