Id: cdd40dfe-52cb-4ee2-9bc8-7396e3f86115
Title: "Про веганов"
Published: "2010-11-23"
Slug: "2010-11-23 Про веганов"
-
<p>Исповедь бывшей веганки, которая перестала ею быть после значительного ухудшения здоровья.</p> <p><a href="https://voraciouseats.com/2010/11/19/a-vegan-no-more/">https://voraciouseats.com/2010/11/19/a-vegan-no-more/</a></p> <p>Познавательно, и очень много эпитетов :-)</p>
	