Id: d4af5deb-ba1a-4ea8-ad48-e6609eda71c2
Title: "Занятно"
Published: "2010-06-26"
Slug: "2010-06-26 Занятно"
-
<p>Wally in different countries<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p>&nbsp;</p>
<table border="0">
<tbody>
<tr>
<td style="width:400px;vertical-align:top;">
<table class="wikitable" border="0">
<tbody>
<tr>
<th>Country</th> <th>Name</th>
</tr>
<tr>
<td><a title="Australia" href="/wiki/Australia">Australia</a></td>
<td>Wally</td>
</tr>
<tr>
<td><a title="Denmark" href="/wiki/Denmark">Denmark</a></td>
<td>Holger</td>
</tr>
<tr>
<td><a title="France" href="/wiki/France">France</a></td>
<td>Charlie</td>
</tr>
<tr>
<td><a title="India" href="/wiki/India">India</a></td>
<td>Hetti</td>
</tr>
<tr>
<td><a title="Germany" href="/wiki/Germany">Germany</a></td>
<td>Walter</td>
</tr>
<tr>
<td><a title="Iceland" href="/wiki/Iceland">Iceland</a></td>
<td>Valli</td>
</tr>
<tr>
<td><a title="Ireland" href="/wiki/Ireland">Ireland</a></td>
<td>Wally</td>
</tr>
<tr>
<td><a title="Israel" href="/wiki/Israel">Israel</a></td>
<td>Effy</td>
</tr>
<tr>
<td><a title="Italy" href="/wiki/Italy">Italy</a></td>
<td>Wally</td>
</tr>
<tr>
<td><a title="Norway" href="/wiki/Norway">Norway</a></td>
<td>Willy</td>
</tr>
<tr>
<td><a title="Poland" href="/wiki/Poland">Poland</a></td>
<td>Wally</td>
</tr>
<tr>
<td><a title="Portugal" href="/wiki/Portugal">Portugal</a></td>
<td>Wally</td>
</tr>
<tr>
<td><a title="South Africa" href="/wiki/South_Africa">South Africa</a></td>
<td>Wally</td>
</tr>
<tr>
<td><a title="Spain" href="/wiki/Spain">Spain</a></td>
<td>Wally</td>
</tr>
<tr>
<td><a title="Sri Lanka" href="/wiki/Sri_Lanka">Sri Lanka</a></td>
<td>Hetti</td>
</tr>
<tr>
<td><a title="Sweden" href="/wiki/Sweden">Sweden</a></td>
<td>Hugo</td>
</tr>
<tr>
<td><a title="United Kingdom" href="/wiki/United_Kingdom">United Kingdom</a></td>
<td>Wally</td>
</tr>
<tr>
<td><a title="United States" href="/wiki/United_States">United States</a></td>
<td>Waldo</td>
</tr>
</tbody>
</table>
</td>
<td>
<p>Если кто не знает, речь идёт вот про этого чувака, которого надо искать на картинках среди других вещей:</p>
<a href="/files/blogengine/1Wally.jpg"><img data-src="/files/blogengine/1Wally_thumb.jpg" border="0" alt="1Wally"   /></a></td>
</tr>
</tbody>
</table>
<p align="center">&nbsp;</p>
	