Id: 33adca87-96c2-4338-8a39-1308c2052bc4
Title: "Захламление звкового пространства"
Published: "2010-10-02"
Slug: "2010-10-02 Захламление звкового пространства"
-
<p>Про то, что американцы назвали бы audio trespassing в случае, когда ты у себя дома сидишь, и слушаешь жуткий шансон соседа.</p> <p>А вот публичные пространства хз как там регулируются.</p> <p><a href="https://www.afisha.ru/article/6223/">https://www.afisha.ru/article/6223/</a></p> <p>Я тоже страдаю от такого, хоть и в меньшей мере, ибо у нас это только на праздники.</p>
	