Id: 19ad6143-c0fe-4421-bdf1-40775d6e630a
Title: "Мелочи жизни"
Published: "2010-12-28"
Slug: "2010-12-28 Мелочи жизни"
-
<p>Во-первых, меня в офисе заразили, и я заболел "простудой". Горло пока не болит, что несказанно радует.</p> <p>Во-вторых, послушал новый альбом Эминема (Recovery). Хороший. У него вообще все альбомы хорошие, хотя специально слушать не стал бы.</p> <p>В-тертьих, снилось (от больной головы), что я с коллегами работал в Италии, оттуда мы полетели в Израиль по делу, там в универе глазели на обнажённых девушек (типа мода такая у них, голышом ходить, да и жарко). В итоге накурились травы в специальном помещении (только в нём разрешено, иначе штраф 20 шекелей???), и опоздали на обратный самолёт Райнэйром.</p> <p>Жесть невероятная.</p>
	