Id: f192bae7-7ab5-40b2-b44a-9671b0f32a4e
Title: "Опять покатались"
Published: "2010-07-12"
Slug: "2010-07-12 Опять покатались"
-
<p>Планов не было, но панк уговорил.</p> <p>В результате, не желая того, проехал 70 км за три с небольшим часа (время движения). Средняя скорость - 20 км/ч.&nbsp; Это я к тому, что меня вечно спрашивают, с какой скоростью мы ездим. Теперь знаете - по асфальту 20 км/ч. На самом деле часто быстрее, чёрт знает, почему велокомп так показывает - горки мешают, или периодические мои остановки для ожидания панка. По грунтовке мы едем сильно медленнее, вплоть до скорости пешехода. </p> <p>Вообще, если бы быстрее ехали, проезжали бы не 100 км за день, а вообще 150. Я пока в себе настолько героических чёрт не чувствую, чтобы по грунтовке пилить такие дистанции.</p> <p>В Depo, кстати, есть велосумки за 12 латов две штуки, коллега наводку дал, а мы сегодня проверили. Карабин ещё хотел для своих велосумок дополнительно поставить, но в Депо нет такого, который мне бы подошёл идеально.</p> <p>Ещё сегодня так жарко было, что мне аж поплохело. Но ничего, как начал ехать, так полегчало и дальше уже всё было отлично. Искупались на оз. Сасалю, на ноунейм озере на окружной не стали, забито всё человеками. Как и все водоёмы вокруг города, впрочем.</p> <p>Сейчас правда, херово будет - завтра на работу, а спать в такую жару я не могу, только в час-два ночи засыпаю.</p>
	