Id: 337586bb-f069-45b5-b3eb-c166f118088c
Title: "Вопросы к аудитории."
Published: "2010-04-27"
Slug: "2010-04-27 Вопросы к аудитории."
-
<p>1. Вы знаете что такое хлебный суп (без гугля и точно)?</p>  <p>2. Вы его ели?</p>  <p>3. Он вам нравится?</p>
	