Id: b696d344-7d79-4694-a2ba-394e1b033190
Title: "Я стройный! Я великолепный! Уступи дорогу"
Published: "2010-10-09"
Slug: "2010-10-09 Я стройный_ Я великолепный_ Уступи дорогу"
-
<p></p> <p><a href="/files/blogengine/02.06.2009.gif"><img style="border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px" border="0" alt="02.06.2009" data-src="/files/blogengine/02.06.2009_thumb.gif"  ></a></p> <p>Это про меня, хехе. </p> <p>Из <a href="https://www.livejournal.com/community/ru_swine/">ru_swine</a>, как водится. </p>
	