Id: a4454e1f-65b0-4270-a4f9-7035c7bb5c6a
Title: "Во как"
Published: "2010-12-18"
Slug: "2010-12-18 Во как"
-
<div style="border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border-top: black 1px solid; border-right: black 1px solid"> <p>Не вынесенное вовремя мусорное ведро может серьезно испортить здоровье.  <p>Британские ученые изучили содержимое среднестатистических мусорных баков и выяснили, что потенциально смертоносные бактерии размножаются в них очень быстро. До 600 % новых микроорганизмов появляются в оставленном мусоре уже на второй неделе.  <p>Наиболее опасными среди них оказались стафилококки, вызывающие абсцессы кожи, сепсис и импетиго. В мусоре эти микробы прибавляли около 130 % популяции в неделю.  <p>За тот же период количество кишечной палочки E. coli в бытовых отходах увеличилось на 82%, а Psudomonas aeruginosa, приводящей к воспалению и нагноению кожи — на 71%.</p></div> <p>&nbsp;</p><a href="http://rus.delfi.lv/news/technology/discovery/musornoe-vedro-mozhet-navredit-zdorovyu.d?id=35798659">Говорит нам Делфи</a>
	