Id: 5273445a-11a0-4341-a91f-d6c7b30f768e
Title: "Использование Windows Search на C# / в .NET приложении"
Published: "2010-04-08"
Slug: "2010-04-08 Использование Windows Search на C_ _ в .NET приложении"
-
<p>По работе нужно программно вызывать Windows Search для поиска инфы в произвольных документах на диске.</p>  <p>Вот эта ссылка очень помогла - <a href="http://www.thejoyofcode.com/Using_Windows_Search_in_your_applications.aspx#commentb83ea4f8-495c-4da9-aa4e-69ade3bf5b27">Using Windows Search in your applications</a></p>  <p>Ещё тут ничего примеры&#160; - <a href="http://code.msdn.microsoft.com/windowssearch">Windows Search Sample Code</a></p>  <p>Делаю ссылки, потому что мне было труднее чем обычно в гугле найти это всё – пусть будет рейтинг повыше у них :-)</p>  <p>SDK, кстати, найти легко - <a href="http://www.microsoft.com/downloads/details.aspx?familyid=645300ae-5e7a-4ce7-95f0-49793f8f76e8&amp;displaylang=en#filelist">Microsoft Windows Search SDK</a></p>
	