Id: 925df813-749b-46f0-86b0-d89d25a7ca61
Title: "Выборы, выборы"
Published: "2010-10-03"
Slug: "2010-10-03 Выборы, выборы"
-
<p><a href="https://rus.delfi.lv/news/vibori_2010/news/exit-poll-vybory-vyigralo-edinstvo.d?id=34398459">Ехит Полы</a> нам какбе говорят</p> <div style="border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border-top: black 1px solid; border-right: black 1px solid"> <p>Согласно итогам опроса, блок "Единство" набрал 33,5%, "Центр Согласия" — 29,7%, Союз зеленых и крестьян — 14,2%, "За лучшую Латвию" — 8,2%, а ТБ/ДННЛ/VL — 7,2%. Результаты опроса свидетельствуют, что партия ЗаПЧЕЛ не попала в Сейм, набрав лишь 1,4%.</p></div> <p>Если правда, то надо думать, с кем будет коалиция. Я в этом плохо разбираюсь - нужна ли она Единству вообще в такой ситуации. Думаю, завтра всё из новостей узнаем. </p>
	