Id: 307574dd-943b-4040-969f-203cf352ffd2
Title: "Расписание работы врачей в докторате Нового Форштадта"
Published: "2010-11-29"
Slug: "2010-11-29 Расписание работы врачей в докторате Нового Форштадта"
-
<p>Для себя, может ещё кому пригодится. У меня заболело горло (похоже, рецидив того, что было на праздники 18 ноября). Мы тут в выходные праздновали ДР и пили алкоголь, думаю поэтому. Постараюсь всё-таки больше не пить, а то отритцательного эффекта больше, чем положительного.</p> <p><a href="/files/blogengine/photo.jpg"><img style="border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px" border="0" alt="photo" data-src="/files/blogengine/photo_thumb.jpg"  ></a></p>
	