Id: a7e3cde6-1a12-4167-b4db-16b56fbffd28
Title: "Ещё про медицину"
Published: "2010-04-06"
Slug: "2010-04-06 Ещё про медицину"
-
<p>Как ни странно, недавняя заметка, про которую я писал, вызвала горячее обсуждение в ЖЖ. </p>  <p><a href="https://gevella.livejournal.com/459695.html">https://gevella.livejournal.com/459695.html</a></p>  <p>Там в комментах люди пишут свои впечатления от медицины в разных странах.</p>
	