Id: 4215fa41-68de-44c4-8b63-50385643fbf1
Title: "Расписание работы бассейна ск \"Строитель\""
Published: "2010-10-08"
Slug: "2010-10-08 Расписание работы бассейна ск _Строитель_"
-
<p>Для себя, а то нигде его в нете нету</p> <p><a href="/files/blogengine/131.jpg"><img style="border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px" border="0" alt="131" data-src="/files/blogengine/131_thumb.jpg"  ></a></p>
	