Id: 64fe0822-ebcd-4259-b95d-23d7cb9356e5
Title: "Баг"
Published: "2010-10-21"
Slug: "2010-10-21 Баг"
-
<p>Сегодня на работе видел третий (или четвёртый?) самый странный и гнусный баг в своей жизни.</p> <p>Если пересылать HTML в IE 8.0 через XMLHttpRequest, и этот HTML содержит тэг &lt;script&gt; в самой первой строчке, то содержимое тэга в браузер он приходит как несколько левых символов (пустые квадратики), если читать через DOM. Fiddler показывает, что сервер посылает всё как надо, в Firefox тоже всё ок.</p> <p>Если же перед тегом &lt;script&gt; поставить хотя бы "&amp;nbsp;",&nbsp; то всё в порядке. Может быть, это связано с тем, что на клиенте есть вся кухня поддержки ajax от ASP.NET MVC, но ведь в firefox всё работает.</p> <p>Ужасный баг, даже хуже вчерашнего, когда оказалось, что DataContractSerializer нужно, чтобы тэги были в алфавитном порядке, если их десеарилизуют в свойства класса.</p>
	