Id: 3d060a07-475d-43a3-8208-6864c69718d7
Title: "Подумалось"
Published: "2010-06-04"
Slug: "2010-06-04 Подумалось"
-
<p>“Управление исполнения наказаний” звучит как “Орден взыскующих истины и покаяния” из цикла Джина Вульфа про новое солнце.</p>  <p><a title="https://www.rusrep.ru/2010/04/interview_romanenko/" href="https://www.rusrep.ru/2010/04/interview_romanenko/">https://www.rusrep.ru/2010/04/interview_romanenko/</a></p>
	