Id: b87bfe55-5f1a-4c06-a679-6e80c39d7609
Title: "Будни Латвии"
Published: "2010-04-27"
Slug: "2010-04-27 Будни Латвии"
-
<div style="border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border-top: black 1px solid; border-right: black 1px solid">   <p>Нигде в законе не сказано, что депутат не имеет права угощать кашей избирателей.</p> </div>  <p><a href="https://rus.delfi.lv/news/daily/latvia/deputata-vyzyvayut-v-sud-iz-za-soldatskoj-kashi.d?id=31505571">Отсюда</a></p>
	