Id: 9c76259f-6403-4ad6-b61c-1fa214e012ec
Title: "Не всё красиво в ЕС"
Published: "2010-10-08"
Slug: "2010-10-08 Не всё красиво в ЕС"
-
<p></p> <p>Немецкая газета Шпигель пишет, что проект "Галилео" - европейская альтернатива GPS, уже вылез за рамки всех возможных бюджетов и многократно откладывался (ажа на 10 лет в целом). Компании, которым его доверили делать, не справились, управление пришлось взять на себя еврокомиссии. Более того, в долгосрочной перспективе проект будет убыточном в утилитарном экономическом смысле (не путать с поликтическим и косвенной пользой) и должен будет дотироваться. В целом, обойдётся налогоплательщикам в 20 миллиардов евро за 20 следующих лет.</p> <p><a title="http://www.spiegel.de/international/europe/0,1518,721761,00.html" href="http://www.spiegel.de/international/europe/0,1518,721761,00.html">http://www.spiegel.de/international/europe/0,1518,721761,00.html</a></p> <p>Так что согласен, что и в ЕС бывают гигантские косяки. Вопрос лишь в том, окажется ли Галилео в итоге работоспособным, полезным и лучше GPS. Разумеется, то же самое относится к ГЛОНАССу и китайской системе, о которой мне вообще ничего не известно.</p>
	