Id: 90788d35-8655-4c1f-baa5-db40285f39b7
Title: "Я суров"
Published: "2010-12-30"
Slug: "2010-12-30 Я суров"
-
<blockquote> <p>Уже какой раз мне зубы лечат без анестезии, третий или четвёртый.</p></blockquote>
	