Id: 7726a8ff-fe82-49ef-b530-b28fd4487a09
Title: "Это недопустимо!"
Published: "2010-04-26"
Slug: "2010-04-26 Это недопустимо_"
-
<p>Я, как сторонник упрощенчества и приспособляции, а также экономии усилий, оптимизации и повторного использования, не могу не одобрить этот пост!</p>  <div class="cite">Недопустимо, понимаете? Вот точно так же олдовые адепты командной строки DOS в своё время возмущались победным шествием окошек. Как же мол так? Я зубрил эти сраные команды, а теперь кто-то просто шлёпнет по иконке и получит тот же результат? Это недопустимо! Я полжизни чистил картошку вёдрами, а теперь её продают уже готовой – только разогрей? Это недопустимо! Я два с половиной года заучивал эти сраные аккорды и переборы, учился прижимать баррэ так, чтобы струны нафик не глохли все сразу, а теперь кто-то просто пальцем по экрану елозит и у него получается даже лучше? Недопустимо! </div>  <p><a title="http://yatsutko.livejournal.com/2722317.html" href="http://yatsutko.livejournal.com/2722317.html">http://yatsutko.livejournal.com/2722317.html</a></p>
	