Id: e66fb2d7-daad-468d-861c-45a312093be1
Title: "Вьетнам, видеопрелюдия"
Published: "2011-05-06"
Slug: "2011-05-06 Вьетнам, видеопрелюдия"
-
<p>Для разжигания всяческого интереса и как начало гигантского проекта репортажа из Вьетнама, я сначала решил выложить видео.</p> <p align="center"> <noembed></noembed><br><a href="/files/lj/Vietnam.mp4">Скачать mp4 видео </a></p>
	