Id: b2baafde-cb88-432a-9290-6af840505cc5
Title: "Пытаюсь понять индусский код"
Published: "2011-01-06"
Slug: "2011-01-06 Пытаюсь понять индусский код"
-
<p>Сразу вспоминается незабвенное "Тут какие-то заборы! Коровники! Мама, мы в аду!"</p> <p><a href="http://smitrich.livejournal.com/404997.html">http://smitrich.livejournal.com/404997.html</a></p> <p>На самом деле не смешно, а очень и очень тяжело. Ничего не понятно совершенно, что делать, и как быть, не представляю.</p>
	