Id: 77f2f093-ae6e-4784-8cfb-2b9f205c6bd7
Title: "Vietnam Sapa"
Published: "2011-04-23"
Slug: "2011-04-23 Vietnam Sapa"
-
<p>Короче, интернет здесь медленный и фиговый, фейсбк закрыт. Пока халявим, ездим на мопедах на водопады и пещеры, но завтра, думаю, пойдём всё-таки треккинг на гору фансипан. Смс с телефона вроде не доходят, так что держите кулаки (с обеих симок не доходят).<br />Люблю вас всех, и кое-кого особенно, на букву К :-)<br />Завтра вставать в 4 утра, а печатать трудно, поэтому завязываю.<br /><br /><br /></p>
	