Id: 0abffd7a-dc1d-4334-ad15-538613b3c33f
Title: "Клип"
Published: "2011-06-07"
Slug: "2011-06-07 Клип"
-
<p>Коллега клип снял, счастлив до усрачки.&nbsp; Это он там бегает всюду, если что. </p><iframe height="349" src="https://www.youtube.com/embed/oBi7G5bcOuY" frameborder="0" width="560" allowfullscreen></iframe>
	