Id: e01c319d-7d85-4955-90db-5c5463208dc6
Title: "Тут меня спрашивают"
Published: "2011-01-02"
Slug: "2011-01-02 Тут меня спрашивают"
-
<p>Почему это я так негативно к России отношусь и тамошним русским.</p> <p>Я не негативно, а рационально отношусь, потому что интернета слишком много читаю.</p> <blockquote> <p><a href="http://rusrep.ru/article/2010/12/14/polety">И вы почитайте.</a></p></blockquote>
	