Id: 341d9cfe-3ca3-4445-9a31-99daee5dfa5c
Title: "Про сайты"
Published: "2011-01-30"
Slug: "2011-01-30 Про сайты"
-
<p>Большинство известных блоггеров и прочих пишуших товарищей вызывает у меня ныне отвращение, но я иногда читаю их контент по причине слабой силы воли.</p>
<p>Лукьяненко, Гоблин стоят впереди всех, их я читаю сравнительно редко.</p>
<p>Кононенко и Лебедев, напротив, почти не вызывают отвращения, но их тоже лучше бы я не читал.</p>
<p>Ещё вызывают отрицательные чувства железячные сайты. Пишут про сиюминутную ерунду, давно уже мне не интересную. К счастью, их я читать завязал.</p>
<p>Единственный сайт, который мне наоборот, стал нравиться больше - <a href="https://dirty.ru">dirty.ru</a>. Даже Лепра, и та уже не та. Реддит тоже местами.</p>
<p>А вообще стараюсь читать книги (см. <a href="/?tag=/%D0%BA%D0%BD%D0%B8%D0%B3%D0%B8">предыдущие посты по тэгу книги</a>).</p>
	