Id: 952a2555-5494-4505-b5f4-bf1d138f5aa3
Title: "Жизнь"
Published: "2011-07-05"
Slug: "2011-07-05 Жизнь"
-
<p>Я вчера (в воскресенье) обеспечивал программу для записи результатов в забеге на 50 км, этапе кубка мира. Всё прошло хорошо. Ещё рядом был выпускной ДУ, и мы полюбовались на красивых девушек.</p> <p>Если бы не работал, сам бы бежал, правда на 50, а 10 (там тоже проходило такое).</p> <p><a href="http://nevgen.livejournal.com/38228.html#cutid1">Невген для вас всё сфоткал.</a></p>
	