Id: ad39888b-f0f2-4c50-9657-011b69ba00af
Title: "Местная пресса пишет про нас во Вьетнаме"
Published: "2011-05-20"
Slug: "2011-05-20 Местная пресса пишет про нас во Вьетнаме"
-
<p>Почти интервью, однако. Фразы местами кривоваты, но это я же вживую говорил, не на письме.</p>
<p><a href="/file.axd?file=2011%2f5%2f20lpp.pdf">20lpp.pdf (908,53 kb)</a></p>
<p><a href="https://docs.google.com/viewer?a=v&amp;pid=explorer&amp;chrome=true&amp;srcid=1YzUkKA1P1nmyvbzeUuamy35fRstkw3bcayO6GARa75fBZZdPJREbTwBakn8f&amp;hl=ru&amp;authkey=COvOi5QF">Или в гульсдоксах, если пдф не катит</a></p>
	