Id: 7d8b2ae1-bf2c-4afb-995a-921545763551
Title: "Decaf"
Published: "2011-11-02"
Slug: "2011-11-02 Decaf"
-
<p>В офисе появился декаффеинизированный кофе, что радует. Обычный я редко пью, потому что потом слишком колбасит потом, а тут можно порадоваться. Вкус, конечно, не сравнить с эспрессо, но с молоком и сахаром (так я всегда пью кофе) вполне терпимо.</p>
	