Id: 5bee01e0-2411-47fd-b589-3bf03988460d
Title: "Демография"
Published: "2011-03-08"
Slug: "2011-03-08 Демография"
-
<p>Интерпретация конечно может быть разная, но всё равно скорее в пользу СССР <div style="border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border-top: black 1px solid; border-right: black 1px solid"> <p>В советский период численность населения Литвы увеличилась на миллион — с 2,7 до 3,7 млн.  <p>"Думаю, после восстановления независимости, когда Литва стала членом ЕС, мы плохо приспособились. Угрожает катастрофа. Если в начале независимости было около 3,7 млн. жителей, то сейчас Департамент статистики говорит, что есть около 3,4 млн. Но, боюсь, что после новой переписи окажется, что осталось всего 3 миллиона", — сказал Труска.</p></div> <p><a href="https://rus.delfi.lv/news/daily/abroad/litovskij-istorik-eto-ne-emigraciya-a-evakuaciya.d?id=37223563">https://rus.delfi.lv/news/daily/abroad/litovskij-istorik-eto-ne-emigraciya-a-evakuaciya.d?id=37223563</a></p>
	