Id: 2723b8d0-6fd2-4a95-b5c9-7a6b9dfa84f2
Title: "Прилетели"
Published: "2011-05-05"
Slug: "2011-05-05 Прилетели"
-
<p>Я в Латвии, всё в порядке. Впечатления от Вьетнама хорошие, несмотря на все косяки. Привёз вам сувениров, прямо как дед мороз.</p>
<p>Вечером буду в Депе, пока в Риге.</p>
	