Id: df212370-2323-4e14-b293-1654d12665a3
Title: "Quick update"
Published: "2012-02-26"
Slug: "2012-02-26 Quick update"
-
<p>Еще татранский чай горит, надеюсь огонь виден<br/><a href='https://www.facebook.com/photo.php?fbid=10150599452037886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150599452037886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-d.ak.fbcdn.net/hphotos-ak-ash4/417087_10150599452037886_762077885_9357822_1918197813_n.jpg'/>
	