Id: ca5e7343-e42e-45c2-854c-675396a18c67
Title: "Tandem Paragliding over the Griva Airport"
Published: "2012-09-17"
Slug: "2012-09-17 Tandem Paragliding over the Griva Airport"
-
<p>Вот так 18 человек приобщились к волшебному миру воздухоплавания.<br/><a href='http://www.facebook.com/photo.php?fbid=474011455965847&set=a.474011429299183.110442.100000709905743&type=1'>http://www.facebook.com/photo.php?fbid=474011455965847&set=a.474011429299183.110442.100000709905743&type=1</a></p><div class='clearfix cite'><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-ash4/400889_474011455965847_456388666_n.jpg' />18 Tandems were done yesterday by me & Roberto. Thanks to everyone who joined us on this day.</div>
	