Id: caeeaf8d-659f-46e1-aa83-4bcd2df0437b
Title: "Исследование показало, почему, выиграв соревнование, человек вскидывает руки"
Published: "2012-07-17"
Slug: "2012-07-17 Исследование показало, почему, выиграв соревнование, человек вскидывает руки"
-
<p>Лимбическая система вообще большую часть всего за нас решает :-)<br/><a href='http://www.gorod.lv/novosti/161161-issledovanie-pokazalo-pochemu-vyigrav-sorevnovanie-chelovek-vskidyvaet-ruki'>http://www.gorod.lv/novosti/161161-issledovanie-pokazalo-pochemu-vyigrav-sorevnovanie-chelovek-vskidyvaet-ruki</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDXSNG4LcxcRooH&w=90&h=90&url=http%3A%2F%2Fimg.gorod.lv%2Fimages%2Fnews_item%2Fpic%2F161161%2F1197550349694_244.jpg' style='float:left;'/>Часто можно наблюдать за тем, что в состоянии экстатической радости (например, получив приз или заняв первое место в соревновании) человек вскидывает руки. Ученые решили выяснить, откуда пришло это движение и попало в арсенал человека.  </div>
	