Id: ef2f7a88-3887-409c-8886-85b49b0875be
Title: "Quick update"
Published: "2012-12-30"
Slug: "2012-12-30 Quick update"
-
<p>облагородили ель снедью<br/><a href='https://www.facebook.com/photo.php?fbid=10151249387147886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151249387147886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-d.ak.fbcdn.net/hphotos-ak-ash3/r90/538432_10151249387147886_429492497_n.jpg' />
	