Id: 68b3c350-52df-4b74-9f69-3d9dc077a08f
Title: "Timeline Photos"
Published: "2012-11-12"
Slug: "2012-11-12 Timeline Photos"
-
<p>Ага, а мужикам значит можно вонять дымом на окружающих, да?<br/><a href='https://www.facebook.com/photo.php?fbid=297417513691620&set=a.157771307656242.24425.157734877659885&type=1'>https://www.facebook.com/photo.php?fbid=297417513691620&set=a.157771307656242.24425.157734877659885&type=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-ash4/406918_297417513691620_419918332_n.jpg' />
	