Id: 88f7145b-6561-4abb-a9da-41f89f22aa51
Title: "catta.livejournal.com"
Published: "2012-11-25"
Slug: "2012-11-25 catta.livejournal.com"
-
<p>Про ауру :-)<br/><br/><a href='https://catta.livejournal.com/128853.html#comments'>https://catta.livejournal.com/128853.html#comments</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQAOBBOfczgI0aw_&w=90&h=90&url=http%3A%2F%2Fl-userpic.livejournal.com%2F24070688%2F5600795' />Меня тут просили дать разъяснения относительно этой вот статьи: Auras in mysticism and synaesthesia: A comparison E.G. Milán, O. Iborra, M. Hochel, M.A. Rodríguez Artacho, L.C. Delgado-Pastor, E. Salazar, A. González-Hernández …</div>
	