Id: 1a8a0d27-a400-470d-9e9b-fc5967c56d74
Title: "Quick update"
Published: "2012-05-16"
Slug: "2012-05-16 Quick update"
-
<p>Для Marta Grinina<br/><a href='http://www.facebook.com/photo.php?fbid=10150847793167886&set=a.10150454953587886.379697.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150847793167886&set=a.10150454953587886.379697.762077885&type=1</a></p><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-snc7/149696_10150847793167886_762077885_9963543_1968666675_n.jpg'/>
	