Id: 12d7b02c-fe74-4552-a78c-a6e5f2ab352f
Title: "Quick update"
Published: "2012-04-22"
Slug: "2012-04-22 Quick update"
-
<p>лауцеса<br/><a href='http://www.facebook.com/photo.php?fbid=10150721061767886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150721061767886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-ash4/292271_10150721061767886_762077885_9770317_211539345_n.jpg'/>
	