Id: 582aff88-b838-4ff2-8676-1c9657471860
Title: "Quick update"
Published: "2012-08-19"
Slug: "2012-08-19 Quick update"
-
<p>Забег прошёл отлично<br/><a href='https://www.facebook.com/photo.php?fbid=10151055913352886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151055913352886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-ash3/561993_10151055913352886_281424156_n.jpg'/>
	