Id: 9af83a6e-3abb-456c-bbcc-fc74e1c718b2
Title: "https://www.ej.ru/?a=note&id=12135"
Published: "2012-08-08"
Slug: "2012-08-08 http___www.ej.ru__a_note_id_12135"
-
<p>Помню, когда-то давно мы с однокурсниками обсуждали, что такого плохого в религии. Сколько же воды с тех пор утекло. Что-то я с тех пор понял: мало кому мои гуманистические, либеральные и светские ценности нужны, все хотят религиозного дурмана и крови. Только не стоит забывать, кто крови хочет, обычно получает сполна - но уже в качестве жертвы.<br/><a href='https://www.ej.ru/?a=note&id=12135'>https://www.ej.ru/?a=note&id=12135</a></p><div class='clearfix cite'>Вот все эти истинно верующие — Якимов, Переслегин, Ваенга и пр. — говорят нам, что настоящая христианская вера заключается в том, чтобы уничтожать тех, кто ведет себя не так, как они; что при этом агрессорами являются не те, кто уничтожает, а те, кого уничтожают, а уничтожающие являются глубоко пост...</div>
	