Id: 94ea9a09-6eb4-4150-9dcd-65bf0359c5d3
Title: "С ЮМОРОМ о будничном :)))"
Published: "2012-12-01"
Slug: "2012-12-01 С ЮМОРОМ о будничном ____"
-
<p>У меня так точно<br/><a href='https://www.facebook.com/photo.php?fbid=390064961069622&set=a.184257904983663.45443.109943939081727&type=1'>https://www.facebook.com/photo.php?fbid=390064961069622&set=a.184257904983663.45443.109943939081727&type=1</a></p><div class='clearfix cite'><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-ash3/534732_390064961069622_493883541_n.jpg' />Веселый нрав, умение посмеяться над собой и заметить улыбку будней - вот что нужно нам всем! :)))</div>
	