Id: d5202863-ee1d-403a-890e-a52225ef2b0b
Title: "Пантеон Ханаана | Relegere.Org.ua - Все религии мира на одном сайте"
Published: "2012-11-13"
Slug: "2012-11-13 Пантеон Ханаана _ Relegere.Org.ua - Все религии мира на одном сайте"
-
<p>Читаю энциклопедию от Аванта+, том "религии". Вот как после этого можно не понимать, что одни религии из других тащат что не попадя, копипаст сплошной. <br/><br/>Разве можно после этого серъёзно относится к, так сказать, техническому содержимому религий (оставим в стороне пока философское содержимое)<br/><a href='http://relegere.org.ua/Panteon_Hanaana'>http://relegere.org.ua/Panteon_Hanaana</a></p><div class='clearfix cite'>Пантеон Ханаана возглавлял Илу. Имя это на языках других семитских народов звучало как Эль, Элим, Эло-хим, Илум, Аллах и служило обозначением бога вообще, а у евреев и арабов обозначало единственного Бога. От Илу происходят многие распространённые ныне имена: Миха-ил (Мика-эль), Гаври-ил (Габри-эль)...</div>
	