Id: 26731945-c72c-4e83-a058-8219ee046535
Title: "True Grit"
Published: "2012-02-02"
Slug: "2012-02-02 True Grit"
-
<p>Gave an 8 star rating to True Grit on IMDb.<br/><a href='https://www.imdb.com/rg/fb_oshare/rate/title/tt1403865'>https://www.imdb.com/rg/fb_oshare/rate/title/tt1403865</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=127059960673829&v=1&size=z&cksum=5be217dd99c6bf12349fad1c187d9456&src=http%3A%2F%2Fia.media-imdb.com%2Fimages%2FM%2FMV5BMjIxNjAzODQ0N15BMl5BanBnXkFtZTcwODY2MjMyNA%40%40._V1._SX54_CR0%2C0%2C54%2C74_.jpg' style='float:left;'/>A tough U.S. Marshal helps a stubborn young woman track down her father's murderer.</div>
	