Id: 04e6c76c-ec0f-4bce-84c9-72e080261d9e
Title: "Quick update"
Published: "2012-09-02"
Slug: "2012-09-02 Quick update"
-
<p>старт скоро<br/><a href='https://www.facebook.com/photo.php?fbid=10151083296612886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151083296612886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-g.ak.fbcdn.net/hphotos-ak-ash4/309127_10151083296612886_75915182_n.jpg'/>
	