Id: d546b921-1bab-4f2b-a891-1bb6784605ec
Title: "Quick update"
Published: "2012-04-14"
Slug: "2012-04-14 Quick update"
-
<p>что за цветочек<br/><a href='http://www.facebook.com/photo.php?fbid=10150697474157886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150697474157886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-e.ak.fbcdn.net/hphotos-ak-ash3/578464_10150697474157886_762077885_9709241_1353614307_n.jpg'/>
	