Id: 4b3f053f-d649-43e5-828c-041b87415755
Title: "Quick update"
Published: "2012-08-04"
Slug: "2012-08-04 Quick update"
-
<p>Прокатился марафон в Илуксте, вышло не очень.<br/><a href='http://www.facebook.com/photo.php?fbid=10151023357982886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151023357982886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-ash4/418912_10151023357982886_975246121_n.jpg'/>
	