Id: 2444a43a-180a-4dc5-9566-013c3addc08a
Title: "The Background Noise Was Louder than I Realized"
Published: "2012-11-04"
Slug: "2012-11-04 The Background Noise Was Louder than I Realized"
-
<p>Это уже давно так для меня. Но умище-то надо куда-то девать!<br/>Приходится читать другой интеллектуальный шум, не технологический. В идеале надо бы конечно избавиться от чтения мелочей в интернете вообще. С другой стороны, там часто забавные штучки и поднимают настроение. Попробуй пойми как найти баланс.<br/><br/><a href='https://prog21.dadgum.com/155.html'>https://prog21.dadgum.com/155.html</a></p><div class='clearfix cite'>I'm arecovering programmerwho has been designing video games since the 1980s, doing things that seem baroquely hardcore in retrospect, like writing Super Nintendo games entirely in assembly language. These days I use whatever tools are the most fun and give me the biggest advantage.</div>
	