Id: c4813c16-6b09-48db-9d26-d6a1faac97fa
Title: "Shared from a Personal Document"
Published: "2012-11-28"
Slug: "2012-11-28 Shared from a Personal Document"
-
<p>tt<br/><a href='http://amzn.com/k/hsAO5IzpQKaWBYTDoW2d5w'>http://amzn.com/k/hsAO5IzpQKaWBYTDoW2d5w</a></p><div class='clearfix cite'><img src='/files/http://platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />время</div>
	