Id: 589b9504-0052-442f-87b2-99147e329a14
Title: "Юбилей для дураков"
Published: "2012-06-19"
Slug: "2012-06-19 Юбилей для дураков"
-
<p>Жизнь часто не такая, какой выглядит в СМИ, слухах и сплетнях. Проверяйте источники.<br/><a href='https://cruz-a.livejournal.com/199935.html'>https://cruz-a.livejournal.com/199935.html</a></p><div class='clearfix cite'>Есть в штате Колорадо город Грэнби, весьма небогатый и захолустный. Штат сам богатством не блещет, а округ Грэнд к процветающим не относится. И вот в этом городе …</div>
	