Id: d58eb2f9-281b-4f59-a2ea-06435d5c40dc
Title: "Куриная матрица"
Published: "2012-02-17"
Slug: "2012-02-17 Куриная матрица"
-
<p>Гениально, киберпанк пришёл в мир<br/><br/><a href='http://dirty.ru/comments/338197'>http://dirty.ru/comments/338197</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDYfg7xdYAaqSaG&w=90&h=90&url=http%3A%2F%2Fpit.dirty.ru%2Fdirty%2F1%2F2012%2F02%2F16%2F28206-192240-01c8a793641199b4990e14d42904dc91.jpg' style='float:left;'/>Проект установки по производству бройлеров, представленный на выставке в Лондоне. Вот отдельная ячейка. Перед помещением в «матрицу» цыпленку предлагается удалить участки коры головного мозга, чтобы лишить каких бы то ни было ощущений.  Лапки тоже удаляются – для компактности. Питание и вода поступа...</div>
	