Id: a1cbda1e-6975-469b-81c4-5f51333f5a1e
Title: "Wall Photos"
Published: "2012-08-07"
Slug: "2012-08-07 Wall Photos"
-
<p>Кстати, вся правда про любовь написана в "Триумфальной арке" Ремарка. Как метко заметил друг, и про алкоголизм тоже.<br/><a href='https://www.facebook.com/photo.php?fbid=270559606378526&set=a.213883085379512.36245.209805509120603&type=1'>https://www.facebook.com/photo.php?fbid=270559606378526&set=a.213883085379512.36245.209805509120603&type=1</a></p><img src='/files/https://photos-a.ak.fbcdn.net/hphotos-ak-snc7/417461_270559606378526_396737204_n.jpg'/>
	