Id: fc3158bd-9747-47e8-b7d6-6cdf28d473a1
Title: "Quick update"
Published: "2012-12-08"
Slug: "2012-12-08 Quick update"
-
<p>Культ дифференциальных исчислителей!<br/><a href='https://www.facebook.com/photo.php?fbid=10151215504562886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151215504562886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-ash3/182312_10151215504562886_1832645312_n.jpg' />
	