Id: ecbd508f-beb4-4242-a303-ab8ac8109655
Title: "Монтенегро 2012"
Published: "2012-05-08"
Slug: "2012-05-08 Монтенегро 2012"
-
<p>for Katerina Adzilevicha<br/><a href='https://www.facebook.com/photo.php?fbid=454544734562663&set=a.454543624562774.121767.100000214213874&type=1'>https://www.facebook.com/photo.php?fbid=454544734562663&set=a.454543624562774.121767.100000214213874&type=1</a></p><div class='clearfix cite'><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-snc7/148911_454544734562663_100000214213874_1958472_550028328_n.jpg'/>Последователи культа ТК Подснежник с тайной миссией по поручению верховного жреца Офрида под покровом ночи заброшены в далёкую страну Crnagora</div>
	