Id: 5922e8f5-9fc8-420e-80b9-c4475d723559
Title: "Quick update"
Published: "2012-02-11"
Slug: "2012-02-11 Quick update"
-
<p>Snowdrop live<br/><a href='http://www.facebook.com/photo.php?fbid=10150566007157886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150566007157886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-ash4/422581_10150566007157886_762077885_9258375_145091422_n.jpg'/>
	