Id: b8fd9440-4ca4-4a64-a973-41eb7cd5c091
Title: "Yaga Gathering"
Published: "2012-07-09"
Slug: "2012-07-09 Yaga Gathering"
-
<p>На  Яге тоже круто, но я не попаду :-)<br/><a href='http://www.facebook.com/YagaGathering'>http://www.facebook.com/YagaGathering</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQBC0bKh2WgFiVG0&w=90&h=90&url=http%3A%2F%2Fprofile.ak.fbcdn.net%2Fhprofile-ak-ash2%2F187937_149568741763054_1685266287_n.jpg' style='float:left;'/>www.yaga.lt :: 19-23 July, 2012 ::  Psychedelic open-air gathering in the woods of Dzukija in Lithuania</div>
	