Id: 845ed3e4-49bb-4a5c-9648-bb4004bbc111
Title: "Wall Photos"
Published: "2012-10-18"
Slug: "2012-10-18 Wall Photos"
-
<p>Дмитрий Гридасов рекомендует :-)<br/><a href='http://www.facebook.com/photo.php?fbid=480334585320224&set=a.193378634015822.44311.153026874717665&type=1'>http://www.facebook.com/photo.php?fbid=480334585320224&set=a.193378634015822.44311.153026874717665&type=1</a></p><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-prn1/552759_480334585320224_765253952_n.jpg' />
	