Id: 45e6a538-55c3-4c4b-9f7b-1f9bf37a062f
Title: "Kode9 - Wikipedia, the free encyclopedia"
Published: "2012-09-11"
Slug: "2012-09-11 Kode9 - Wikipedia, the free encyclopedia"
-
<p>Взгляд на дабстеп с другой стороны (по мотивам постера про завод, который я выкладывал раньше). Отец-основатель дабстепа Kode9 - обладатель докторской степени.<br/><br/>Kode9 has a Ph.D. in philosophy from the University of Warwick and has published a book, Sonic Warfare: Sound, Affect, and the Ecology of Fear.<br/><a href='https://en.wikipedia.org/wiki/Kode9'>https://en.wikipedia.org/wiki/Kode9</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDPKHIPD0PbKyJx&w=90&h=90&url=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F8%2F86%2FKode9.jpg%2F220px-Kode9.jpg' />Steve Goodman, known as Kode9 (born 1974) is a Glasgow-born, London-based electronic music artist, DJ, and owner of the Hyperdub record label.[1] An MC, The Spaceape, is a frequent collaborator. Initially inspired by what he calls the "hardcore continuum", he also draws on dub reggae, and was one of...</div>
	