Id: 2473a1e9-e51c-4c75-a2f0-6078b583a830
Title: "Zarasai - В поисках утраченного c Эдвином, day 1 | GPSies"
Published: "2012-09-24"
Slug: "2012-09-24 Zarasai - В поисках утраченного c Эдвином, day 1 _ GPSies"
-
<p>День 1<br/><br/><a href='https://www.gpsies.com/map.do?fileId=wxhypjqqiketdbzc'>https://www.gpsies.com/map.do?fileId=wxhypjqqiketdbzc</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDxBLQR17vEzyak&w=90&h=90&url=http%3A%2F%2Fwww.gpsies.com%2FstaticMap.do%3Bjsessionid%3D33116E28D09F7C92BB56097AC5FF0ED4%3FfileId%3Dwxhypjqqiketdbzc' />Track starts in Zarasu Miesto Seniunija, Zarasai, Zarasu Rajono Savivaldybe, Utenos Apskritis, Lithuania. Activity, suitable for walking, Length 26.38 km (one-way trip).</div>
	