Id: 8e11af86-5596-4c3b-a037-fe729d5e0dba
Title: "Quick update"
Published: "2012-07-04"
Slug: "2012-07-04 Quick update"
-
<p>китаянка вчера готовила ужин<br/><a href='https://www.facebook.com/photo.php?fbid=10150957166197886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10150957166197886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-ash3/552243_10150957166197886_1913072699_n.jpg'/>
	