Id: 787ee13b-d95f-401c-b2b3-28d324fba680
Title: "Mobile Uploads"
Published: "2012-09-01"
Slug: "2012-09-01 Mobile Uploads"
-
<p>Не кушайте за компом, а то будет как у коллеги<br/><a href='https://www.facebook.com/photo.php?fbid=4528963102013&set=a.1861563058679.2110250.1229013469&type=1'>https://www.facebook.com/photo.php?fbid=4528963102013&set=a.1861563058679.2110250.1229013469&type=1</a></p><img src='/files/https://photos-a.ak.fbcdn.net/hphotos-ak-ash4/293080_4528963102013_308042294_n.jpg'/>
	