Id: 62f1f635-2775-4cd8-9657-f572b8e2258b
Title: "Herbal 'remedy' may trigger widespread kidney failure"
Published: "2012-04-18"
Slug: "2012-04-18 Herbal _remedy_ may trigger widespread kidney failure"
-
<p>Глебушка жжот<br/><a href='http://www.usatoday.com/tech/science/columnist/vergano/story/2012-04-07/do-herbal-remedies-work/54102616/1'>http://www.usatoday.com/tech/science/columnist/vergano/story/2012-04-07/do-herbal-remedies-work/54102616/1</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQD467_oPoca5qYT&w=90&h=90&url=http%3A%2F%2Fi.usatoday.net%2Ftech%2F_photos%2F2012%2F04%2F07%2Fherbal-remedy-may-trigger-kidney-failure-vt190pff-x.jpg' style='float:left;'/>Medical detectives have discovered that birthwort, an ancient herbal remedy, likely has caused centuries of kidney failure and cancer.</div>
	