Id: c3a78812-69c7-4716-9d9e-b50cce8f4cf5
Title: "ЕБ%ТЬ, КАК Я ЛЮБЛЮ ДЕВУШЕК"
Published: "2012-05-16"
Slug: "2012-05-16 ЕБ_ТЬ, КАК Я ЛЮБЛЮ ДЕВУШЕК"
-
<p>Аааа, жесть и правда<br/><a href='https://www.youtube.com/watch?v=O6RmNuQ0PVk&feature=share'>https://www.youtube.com/watch?v=O6RmNuQ0PVk&feature=share</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQCtmvbXCKTFOIjQ&w=130&h=130&url=http%3A%2F%2Fi4.ytimg.com%2Fvi%2FO6RmNuQ0PVk%2Fhqdefault.jpg' style='float:left;'/>Все твои друзья уже тут! https://vk.com/neblya ЕБАТЬ КАК Я ЛЮБЛЮ ГРУППЫ ВКОНТАКТЕ - https://vk.com/russianstandup Автор ролика - https://www.youtube.com/user/Th...</div>
	