Id: 7df2bee0-b7be-4463-8176-a9f860f8cabd
Title: "Quick update"
Published: "2012-05-12"
Slug: "2012-05-12 Quick update"
-
<p>подснежник из-за дождя не может кататься на велике, и от безисходности лезет на стенку<br/><a href='https://www.facebook.com/photo.php?fbid=10150836587597886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150836587597886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-snc7/305512_10150836587597886_762077885_9924260_903205403_n.jpg'/>
	