Id: 070b1837-880f-43ca-93ef-9366f136016d
Title: "Sita Sings the Blues"
Published: "2012-03-04"
Slug: "2012-03-04 Sita Sings the Blues"
-
<p>Gave a 9 star rating to Sita Sings the Blues on IMDb.<br/><a href='https://www.imdb.com/rg/fb_oshare/rate/title/tt1172203'>https://www.imdb.com/rg/fb_oshare/rate/title/tt1172203</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=127059960673829&v=1&size=z&cksum=7e193983ec1b68ab01c38de3ffab08c2&src=http%3A%2F%2Fia.media-imdb.com%2Fimages%2FM%2FMV5BMTU1MzE2NzUxMV5BMl5BanBnXkFtZTcwMzEwMjY3Mg%40%40._V1._SX54_CR0%2C0%2C54%2C74_.jpg' style='float:left;'/>An animated version of the epic Indian tale of Ramayana set to the 1920's jazz vocals of Annette Hanshaw.</div>
	