Id: 63676d68-f298-47f3-bca4-9b0653af92fe
Title: "X-Men: First Class"
Published: "2012-02-08"
Slug: "2012-02-08 X-Men_ First Class"
-
<p>Gave a 7 star rating to X-Men: First Class on IMDb.<br/><a href='https://www.imdb.com/rg/fb_oshare/rate/title/tt1270798'>https://www.imdb.com/rg/fb_oshare/rate/title/tt1270798</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=127059960673829&v=1&size=z&cksum=1609cb35c824d90a7e352ca76485ff6b&src=http%3A%2F%2Fia.media-imdb.com%2Fimages%2FM%2FMV5BMTg5OTMxNzk4Nl5BMl5BanBnXkFtZTcwOTk1MjAwNQ%40%40._V1._SX54_CR0%2C0%2C54%2C74_.jpg' style='float:left;'/>In 1962, the United States government enlists the help of Mutants with superhuman abilities to stop a malicious dictator who is determined to start world war III.</div>
	