Id: db408a9a-591a-4b11-83a7-38e90c4de515
Title: "Арсений Фёдоров"
Published: "2012-11-15"
Slug: "2012-11-15 Арсений Фёдоров"
-
<p>Всегда приятно почитать про восприятие вещей в прошлом :-)<br/><a href='https://www.facebook.com/apazhe/posts/10151517808663102'>https://www.facebook.com/apazhe/posts/10151517808663102</a></p><div class='clearfix cite'><img src='/files/https://profile.ak.fbcdn.net/hprofile-ak-ash4/276194_781683101_1351341385_q.jpg' />…"О положении горного дела на Кавказе

На Кавказе твердо стоит пока только одна нефтяная промышленность — в Баку, да еще медный завод братьев Сименс. Завод этот имеет широкий кредит от предпринимателей по расчету 5% годовых. Имей мы, русские, здесь такой же кредит, нет сомнения, что горное дело двинулось бы чрезвычайно быстро.

Армяне за 380 лет до Рождества Христова уже славились своим железом, а мы спустя 2270 лет все собираемся поставить здесь доменную печь.

Обидно смотреть на транспорты бельгийского листового железа, массами ввозимого в Батум для Бакинского нефтяного промысла, и это при громадных местных богатствах железных руд.

Все здесь есть, кроме предприимчивости. Какой–то фатум тяготит над Кавказом, сама судьба ставит барьеры и осуждает его на инертность.

Давно пора Кавказу начать возвращать своей alma mater, матушке России, те миллиарды, которые она за 90 лет на него потратила. Скоро ли наступит этот вожделенный момент как для России, так равно и для Кавказского края?"…

Журнал "Наука и жизнь" где-то в конце 19 века.</div>
	