Id: 4ad14215-9442-452a-a7a4-776df60b91f2
Title: "Muzebra - Rhythmic Troubadours - Ali Baba's Camel"
Published: "2012-09-26"
Slug: "2012-09-26 Muzebra - Rhythmic Troubadours - Ali Baba_s Camel"
-
<p>Гребенщиков в "Аэростате" всё провокационные песенки ставит, даже 32 года нашёл такую.<br/><br/>You've heard of Ali Baba, forty thieves had he<br/>Out for what we all want, lots of L.S.D.<br/>He also had a camel, stole it from a zoo<br/>How he loved the camel, and the camel loved him too<br/>(Oh, how the how the camel loved Ali Bar Bar!)<br/><br/><br/><a href='http://muzebra.com/l/kocdl6uvap/'>http://muzebra.com/l/kocdl6uvap/</a></p>
	