Id: 288f688c-6d24-4203-8ea0-13e66f7b889c
Title: "https://www.huffingtonpost.com/2012/11/06/amendment-64-passes-in"
Published: "2012-11-07"
Slug: "2012-11-07 http___www.huffingtonpost.com_2012_11_06_amendment-64-passes-in"
-
<p>Марихуану легализовали на уровне штата Колорадо. Процесс, который шёл последние годы, вылился уже в активную стадию. В ближайшие несколько лет наверняка за последуют другие штаты, а там и на федеральном уровне сдадутся, ну и другие страны понемногу пойдут за мировым полицейским, раз разрешил.<br/>Я, в общем, не против легализации, поэтому всем, кто любит ароматный дым, мои поздравления. Главное, не увлекайтесь слишком, а то марихуана конечно безобидна, но не всегда.<br/><br/><br/>-<br/>co_n_2079899.html<br/><a href='https://www.huffingtonpost.com/2012/11/06/amendment-64-passes-in'>https://www.huffingtonpost.com/2012/11/06/amendment-64-passes-in</a></p>
	