Id: 93534bcc-fe84-4052-bb2f-661e07a696c7
Title: "Quick update"
Published: "2012-09-06"
Slug: "2012-09-06 Quick update"
-
<p>На Baltā Nakts пойдём на концерт вот этого сурового человека из Мексики, Murcof<br/><a href='https://www.facebook.com/photo.php?fbid=10151088814732886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151088814732886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-ash3/576915_10151088814732886_597679991_n.jpg' />
	