Id: 6d8ac022-bd22-4806-929d-e57356b56f14
Title: "Wall Photos"
Published: "2012-08-29"
Slug: "2012-08-29 Wall Photos"
-
<p>Вот такой в латвии нац. оркестр, some like it hot!<br/><a href='https://www.facebook.com/photo.php?fbid=472277276123953&set=a.240557139295969.67176.140757142609303&type=1'>https://www.facebook.com/photo.php?fbid=472277276123953&set=a.240557139295969.67176.140757142609303&type=1</a></p><img src='/files/https://photos-d.ak.fbcdn.net/hphotos-ak-ash4/300482_472277276123953_98733669_n.jpg'/>
	