Id: 0b86b59a-c6ae-43b8-a65d-8220e7894294
Title: "Россия в фотографиях"
Published: "2012-02-02"
Slug: "2012-02-02 Россия в фотографиях"
-
<p>Впечатляет<br/><br/><a href='https://live-imho.livejournal.com/160261.html#cutid1'>https://live-imho.livejournal.com/160261.html#cutid1</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQCoZCSeGyhGAz-k&w=90&h=90&url=http%3A%2F%2Fs2.ipicture.ru%2Fuploads%2F20120131%2FR6cWSgyG.jpg' style='float:left;'/>Фотографии-победители конкурса The Best Of Russia (Лучшие фотографии России) 2008-2011 г. Беркуты над Москвой. Сергей Семенов (Москва) Полнолуние в Санкт-Петербурге. Дмитрий …</div>
	