Id: 21655e9a-dbd9-4101-99d8-5d79f419a34d
Title: "Исследование: русская молодежь считает Латвию родиной и любит День Победы"
Published: "2012-01-29"
Slug: "2012-01-29 Исследование_ русская молодежь считает Латвию родиной и любит День Победы"
-
<p>Самое важное в статье - в конце. Какой смысл читать даже, когда выборка такая крошечная?<br/><br/><br/><br/><a href='https://rus.delfi.lv/news/daily/latvia/issledovanie-russkaya-molodezh-schitaet-latviyu-rodinoj-i-lyubit-den-pobedy.d?id=42087548'>https://rus.delfi.lv/news/daily/latvia/issledovanie-russkaya-molodezh-schitaet-latviyu-rodinoj-i-lyubit-den-pobedy.d?id=42087548</a></p><div style='border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding:10px; display: block; border-top: black 1px solid; border-right: black 1px solid;'>В ходе биографических интервью в Литве были опрошены 11 женщин и мужчин русской национальности, в Латвии — 12. Респонденты представляли три поколения: те, кто родился в независимой Литве или Латвии (16-22 лет), люди в возрасте от 35-50 лет и респонденты старше 65 лет.</div>
	