Id: bf708bd3-790a-4b0a-a884-7a8c39eda478
Title: "Quick update"
Published: "2012-05-13"
Slug: "2012-05-13 Quick update"
-
<p>Вот и весь День Рождения.<br/><a href='http://www.facebook.com/photo.php?fbid=10150837277732886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150837277732886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-ash3/562597_10150837277732886_762077885_9926291_183293510_n.jpg'/>
	