Id: 30e43d98-7ce5-4b1c-800e-b9f5e1771c00
Title: "Quick update"
Published: "2012-04-19"
Slug: "2012-04-19 Quick update"
-
<p>лайв<br/><a href='http://www.facebook.com/photo.php?fbid=10150706933952886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150706933952886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-e.ak.fbcdn.net/hphotos-ak-ash3/562999_10150706933952886_762077885_9744052_815376648_n.jpg'/>
	