Id: be7c2a0b-d339-4500-acd9-962f072d61b6
Title: "Quick update"
Published: "2012-07-18"
Slug: "2012-07-18 Quick update"
-
<p>Я улетаю в ледяной ад, самое красивое место на планете. Настроение подходящее.<br/><a href='https://www.facebook.com/photo.php?fbid=10150986368387886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10150986368387886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-ash4/376208_10150986368387886_269278633_n.jpg'/>
	