Id: d1eaa286-e499-4308-9f2f-247b3cba63b4
Title: "Quick update"
Published: "2012-03-27"
Slug: "2012-03-27 Quick update"
-
<p>клетка Фарадея<br/><a href='https://www.facebook.com/photo.php?fbid=10150658481612886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150658481612886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-d.ak.fbcdn.net/hphotos-ak-ash3/562307_10150658481612886_762077885_9566133_1773619060_n.jpg'/>
	