Id: 3d3552ea-a114-46a5-8341-090b98941679
Title: "Rango"
Published: "2012-03-16"
Slug: "2012-03-16 Rango"
-
<p>Gave a 7 star rating to Rango on IMDb.<br/><a href='https://www.imdb.com/rg/fb_oshare/rate/title/tt1192628'>https://www.imdb.com/rg/fb_oshare/rate/title/tt1192628</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=127059960673829&v=1&size=z&cksum=b705fa87ee1722573a0a927e3bfdc468&src=http%3A%2F%2Fia.media-imdb.com%2Fimages%2FM%2FMV5BMjE5ODg1NTk3OF5BMl5BanBnXkFtZTcwNzA5NTMyNA%40%40._V1._SX54_CR0%2C0%2C54%2C74_.jpg' style='float:left;'/>Rango is an ordinary chameleon who accidentally winds up in the town of Dirt, a lawless outpost in the Wild West in desperate need of a new sheriff.</div>
	