Id: 2a366af0-1599-41fa-8620-0d7b904a3453
Title: "Muzebra - Moremoney - Hate"
Published: "2012-10-10"
Slug: "2012-10-10 Muzebra - Moremoney - Hate"
-
<p>Что-то в последнее время как-то так.<br/><br/>i don't like when people call me insane<br/>i don't like when people forget my name<br/>i don't like when people eat from my plate<br/>i feel hate<br/><br/>the only feeling that i've got is hate<br/>the only feeling that i've got is hate<br/>it is my best friend<br/>it is my best mate<br/>the only feeling that i've got is hate<br/><br/>(hate, hate, hate, hate, hate, hate, hate, hate)<br/><br/>i don't like when you're talking too fast (jerk)<br/>everytime i want to cut off your tongue<br/>i want you dead though you do nothing bad<br/><br/>the only feeling that i've got is hate<br/>the only feeling that i've got is hate<br/>it is my best friend<br/>it is my best mate<br/>the only feeling that i've got is hate (hate)<br/><a href='http://muzebra.com/l/62rxo1m3v1i/'>http://muzebra.com/l/62rxo1m3v1i/</a></p><div class='clearfix cite'>Muzebra (ex-Z-Music) - поисковик музыки и онлайн плеер музыки. Используя музыкальный поисковик вы можете скачать бесплатно музыку, слушать ее онлайн и создавать плейлисты.</div>
	