Id: 22476b9f-29ae-41b2-aeeb-e724d63e50e9
Title: "Quick update"
Published: "2012-07-15"
Slug: "2012-07-15 Quick update"
-
<p>тренировка сбора хлама в Исландию. Пока многовато выходит<br/><a href='https://www.facebook.com/photo.php?fbid=10150981561217886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10150981561217886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-snc6/181316_10150981561217886_1319955595_n.jpg'/>
	