Id: b9c2a884-a47f-4152-9c77-7de0c877266b
Title: "Tundra 2012"
Published: "2012-07-10"
Slug: "2012-07-10 Tundra 2012"
-
<p>Как же там все расслаблялись!<br/><a href='http://www.facebook.com/photo.php?fbid=323752137716667&set=a.323750857716795.75250.200512116707337&type=1'>http://www.facebook.com/photo.php?fbid=323752137716667&set=a.323750857716795.75250.200512116707337&type=1</a></p><img src='/files/http://photos-f.ak.fbcdn.net/hphotos-ak-ash4/252701_323752137716667_1890850792_n.jpg'/>
	