Id: 8faf713a-420e-4a19-b693-d86b077ee52c
Title: "В Ригу заехал психоделический поезд Cosmic Underground"
Published: "2012-09-27"
Slug: "2012-09-27 В Ригу заехал психоделический поезд Cosmic Underground"
-
<p>Очень круто, жаль к нам не заехал<br/><br/><a href='https://reporter.delfi.lv/news/witness/v-rigu-zaehal-psihodelicheskij-poezd-cosmic-underground.d?id=42698552'>https://reporter.delfi.lv/news/witness/v-rigu-zaehal-psihodelicheskij-poezd-cosmic-underground.d?id=42698552</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQBFkjY0cnTiFKU_&w=90&h=90&url=http%3A%2F%2Fg4.delphi.lv%2Fimages%2Fpix%2F520x360%2F41fd6689%2Ffile42698568_a07a382.jpg' />24 и 25 сентября на Рижском железнодорожном вокзале гостил поезд Cosmic Underground. Поезд совершает двухмесячную поездку по маршруту Таллинн — Гимараеш (Португалия), и Рига была одной из его промежуточных станций.</div>
	