Id: b993acd0-c1a6-4813-8616-ea9c0a581570
Title: "Quick update"
Published: "2012-04-26"
Slug: "2012-04-26 Quick update"
-
<p>чайник на выставке Mala Makslas Centrs<br/><a href='https://www.facebook.com/photo.php?fbid=10150731657407886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150731657407886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-ash3/540656_10150731657407886_762077885_9803369_470513399_n.jpg'/>
	