Id: d8d4d3e5-a4c3-43b2-802e-e415655f0ae1
Title: "Quick update"
Published: "2012-06-20"
Slug: "2012-06-20 Quick update"
-
<p>тимбилдинг корпорейт ланч!<br/><a href='http://www.facebook.com/photo.php?fbid=10150927794927886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150927794927886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-f.ak.fbcdn.net/hphotos-ak-snc6/282859_10150927794927886_1873649978_n.jpg'/>
	