Id: 0762f4eb-9f8a-40b7-be5c-098dec0905b5
Title: "Pasaules garša Lielajā ģildē"
Published: "2012-09-13"
Slug: "2012-09-13 Pasaules garša Lielajā ģildē"
-
<p>Жалко, что мы там не были на Baltā Nakts, красиво.<br/><a href='https://www.facebook.com/photo.php?fbid=478687225482958&set=a.478687215482959.113684.140757142609303&type=1'>https://www.facebook.com/photo.php?fbid=478687225482958&set=a.478687215482959.113684.140757142609303&type=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-ash3/581592_478687225482958_289744409_n.jpg' />
	