Id: 832984e1-2902-4c58-bb24-7bb4bd83bed3
Title: "Quick update"
Published: "2012-03-02"
Slug: "2012-03-02 Quick update"
-
<p>Живут же люди<br/>https://www.flickr.com/photos/57973238@@@@N03/6944549253/<br/><a href='https://www.facebook.com/photo.php?fbid=10150609508217886&set=a.10150454953587886.379697.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150609508217886&set=a.10150454953587886.379697.762077885&type=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-ash4/425528_10150609508217886_762077885_9392978_1563864828_n.jpg'/>
	