Id: cf3d9b7d-bd78-4e57-975f-cf6fdef8cb03
Title: "Осенний променад \"Vecsaliena - Elerne\""
Published: "2012-11-12"
Slug: "2012-11-12 Осенний променад _Vecsaliena - Elerne_"
-
<p>Искупали Жанну из Бельгии :-)<br/><a href='https://www.facebook.com/photo.php?fbid=10151284942174309&set=a.10151284933244309.486367.781409308&type=1'>https://www.facebook.com/photo.php?fbid=10151284942174309&set=a.10151284933244309.486367.781409308&type=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-snc6/197098_10151284942174309_1100005129_n.jpg' />
	