Id: 1d8b7dd2-5f65-46aa-a744-578754d29812
Title: "Quick update"
Published: "2012-02-27"
Slug: "2012-02-27 Quick update"
-
<p>Нифига себе, айран в рими появился! Не устоял<br/><a href='https://www.facebook.com/photo.php?fbid=10150601813047886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150601813047886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-ash4/426334_10150601813047886_762077885_9365872_1786842421_n.jpg'/>
	