Id: 9b376717-d67b-43cb-8c85-002af4408bca
Title: "Quick update"
Published: "2012-12-27"
Slug: "2012-12-27 Quick update"
-
<p>Как-то так<br/><a href='https://www.facebook.com/photo.php?fbid=10151244870682886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151244870682886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-ash4/407446_10151244870682886_563578272_n.jpg' />
	