Id: 22d6c31b-75c6-496d-85e3-ac704cc89e73
Title: "dirty.ru"
Published: "2012-09-18"
Slug: "2012-09-18 dirty.ru"
-
<p>Специально для Andrei Ageev и Павел Степанов<br/>Мегакорпорации? Люди  сами виноваты в своих бедах.<br/><br/><a href='https://dirty.ru/comments/360325'>https://dirty.ru/comments/360325</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQBChdFv1QZnjfm4&w=90&h=90&url=http%3A%2F%2Fimg.dirty.ru%2Fd3%2Fgertruda%2F109.jpg' />Давно хотел написать про вакцину от боррелиоза (болезнь Лайма) и никак руки не доходили.  Общеизвестно, что не существует вакцины от боррелиоза, однако это не так.  После сильной эпидемии боррелиоза на северовостоке США, группа исследователей хорошо поработала и выделила общий протеин для всех...</div>
	