Id: f15b75f7-5d43-489f-a6bd-282e2b760e50
Title: "Quick update"
Published: "2012-09-21"
Slug: "2012-09-21 Quick update"
-
<p>Ничего себе небо<br/><a href='http://www.facebook.com/photo.php?fbid=10151108785342886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151108785342886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-a.ak.fbcdn.net/hphotos-ak-ash3/527372_10151108785342886_1467751692_n.jpg' />
	