Id: f97fb888-88fb-4a91-ac5d-d7f560687ea4
Title: "KĀ TAPA LĒCIENS NO TV TORŅA / 2012"
Published: "2012-06-24"
Slug: "2012-06-24 KĀ TAPA LĒCIENS NO TV TORŅA _ 2012"
-
<p>Бейсджамп с рижской вышки<br/><a href='https://www.youtube.com/watch?v=ra7bdkMLKEA'>https://www.youtube.com/watch?v=ra7bdkMLKEA</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=350685531728&v=1&size=p&cksum=5af18f8bd8811843c8300adc15c23ece&src=http%3A%2F%2Fi3.ytimg.com%2Fvi%2Fra7bdkMLKEA%2Fmqdefault.jpg' style='float:left;'/>2012.gada maijā b.a.s.e. jumper Igors Mitrofanovs veica pirmo Baltijā b.a.s.e. wingsuit lēcienu no Eiropas savienībā augstākā TV torņa Zaķusalā. Šī ir filma ...</div>
	