Id: 48f322a9-986b-4347-b0bb-53caf5e58409
Title: "Quick update"
Published: "2012-07-12"
Slug: "2012-07-12 Quick update"
-
<p>Ко мне в последние месяцы много народу через https:///couchsurfing.org приезжало, вот недавно были китайцы на великах. Почти со всеми гостями очень интересно было, рекомендую всем такой опыт. Особенно круто было целый день подряд говорить с Лукасом из Швеции, многое узнал и понял. 
<br/>А китайцы мне ужин приготовили, очень вкусный.<br/><a href='https://www.facebook.com/photo.php?fbid=10150974166832886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10150974166832886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-snc7/396752_10150974166832886_614355973_n.jpg'/>
	