Id: 86fe7b6d-d35f-4d14-9ca3-ee8ab9582538
Title: "Beyond Belief - John Horgan"
Published: "2012-11-15"
Slug: "2012-11-15 Beyond Belief - John Horgan"
-
<p>Чётко излагает, респект.<br/><br/><a href='https://www.johnhorgan.org/beyond_belief_15276.htm'>https://www.johnhorgan.org/beyond_belief_15276.htm</a></p><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDkAzn3jNMscVfu&w=90&h=90&url=http%3A%2F%2Fwww.johnhorgan.org%2F.%2Fimages%2FBatchelor-210-exp.jpg' />
	