Id: 3d27e99a-ae51-4b58-811d-298e92975d1f
Title: "Quick update"
Published: "2012-10-03"
Slug: "2012-10-03 Quick update"
-
<p>Мы в нац. галерее, втыкаем опять в высокое и современное<br/><a href='https://www.facebook.com/photo.php?fbid=10151125488287886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151125488287886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-d.ak.fbcdn.net/hphotos-ak-ash4/419732_10151125488287886_1098259813_n.jpg' />
	