Id: 3f5c2959-8f84-4c67-86bf-4df1518b92a2
Title: "«Сайт «Луркоморье» содержит множество материалов экстремистского содержания...»"
Published: "2012-12-05"
Slug: "2012-12-05 «Сайт «Луркоморье» содержит множество материалов экстремистского содержания...»"
-
<p>Не могу удержаться от смеха, простите :-)<br/><a href='https://ruskline.ru/analitika/2012/12/05/sajt_lurkomore_soderzhit_mnozhestvo_materialov_ekstremistskogo_soderzhaniya/'>https://ruskline.ru/analitika/2012/12/05/sajt_lurkomore_soderzhit_mnozhestvo_materialov_ekstremistskogo_soderzhaniya/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDv11s2Kuc1nu9z&w=90&h=90&url=http%3A%2F%2Fruskline.ru%2Fimages%2Fcms%2Fdata%2Fbanners%2Fgrazhdanskaya-vojna-3.jpg' />Русская народная линия - информационно-аналитическое агентство</div>
	