Id: 71fd52cc-4e5d-4c34-954b-fb2b549da2f7
Title: "Roman Super"
Published: "2012-12-09"
Slug: "2012-12-09 Roman Super"
-
<p>Maybe we should try this with saeima too ;-)<br/><a href='https://www.facebook.com/romasuper/posts/555708127778399'>https://www.facebook.com/romasuper/posts/555708127778399</a></p><div class='clearfix cite'><img src='/files/https://profile.ak.fbcdn.net/hprofile-ak-snc6/274260_100000176494959_4818228_q.jpg' />Каждый полдень у государственной думы появляется молодой человек. Вадик. По Георгиевскому переулку он везёт тачанку с пятью бутылками питьевой воды к десятому подъезду думы. Показывает пропуск, без очереди провозит бутылки в здание, разносит их по нужным этажам, спускается обратно вниз, надевает шапку, идёт за следующей партией воды. Процедура повторяется несколько десятков раз. Бутылки с водой заносятся внутрь, пустые — выносятся на улицу. 

Я вот подумал. А что если коррумпировать Вадика и добавить в каждую такую бутылку по 70-100 капель ЛСД? Деньги большие, но с помощью интернет-кошелька Ольги Романовой на этот шаг в сторону развития демократии и гражданского общества собрать, думаю, можно. Зато мы все вдруг проснёмся в совсем другой стране. А это — бесценно.</div>
	