Id: b85a8613-8031-4213-8134-c9c7e5bae8af
Title: "Angus and Julia Stone - Big Jet Plane [Official Music Video]"
Published: "2012-04-13"
Slug: "2012-04-13 Angus and Julia Stone - Big Jet Plane _Official Music Video_"
-
<p>Специально для Vladislav Kugelevich - занудные попсовые певички. А по другому говоря - богини и мои любимые женщины! =)<br/><br/><br/><a href='http://www.youtube.com/watch?v=yFTvbcNhEgc'>http://www.youtube.com/watch?v=yFTvbcNhEgc</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQC-KVrm53adyWLm&w=130&h=130&url=http%3A%2F%2Fi2.ytimg.com%2Fvi%2FyFTvbcNhEgc%2Fhqdefault.jpg' style='float:left;'/>Distributed in the US by WMG. "Big Jet Plane" by Angus and Julia Stone from Down The Way. Directed by Kiku Ohe. As heard in Maybelline commercials. Download ...</div>
	