Id: 7b5158cb-f1e6-4147-9652-be7f2d793967
Title: "Очень классно"
Published: "2012-05-13"
Slug: "2012-05-13 Очень классно"
-
<p>Короткометражка Тима Минчина про научное и материалистическое мировоззрение. Иронично, ярко, в целом – правильный агитпроп правильных взглядов. Всем смотреть обязательно.</p>  <p><a href="http://www.youtube.com/watch?v=HhGuXCuDb1U&amp;feature=bf_next&amp;list=WLE3E17E1028D3379E">http://www.youtube.com/watch?v=HhGuXCuDb1U&amp;feature=bf_next&amp;list=WLE3E17E1028D3379E</a></p>  <iframe width="560" height="315" src="http://www.youtube.com/embed/HhGuXCuDb1U" frameborder="0" allowfullscreen></iframe>  <p>&#160;</p>  <p>Раскрывает основы моего мировоззрения чуть более, чем полностью. </p>
	