Id: 487822a5-c7da-459b-a7de-a3f5df9c2fb7
Title: "Quick update"
Published: "2012-02-05"
Slug: "2012-02-05 Quick update"
-
<p>Я повелитель времени, хохохо!<br/><a href='https://www.facebook.com/photo.php?fbid=10150549807857886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150549807857886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-a.ak.fbcdn.net/hphotos-ak-ash4/425801_10150549807857886_762077885_9212628_1221353423_n.jpg'/>
	