Id: 4781a941-adf8-46cc-8622-0940fb7a2bff
Title: "Quick update"
Published: "2012-06-10"
Slug: "2012-06-10 Quick update"
-
<p>ферма дубов<br/><a href='http://www.facebook.com/photo.php?fbid=10150907981357886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150907981357886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-e.ak.fbcdn.net/hphotos-ak-ash3/533437_10150907981357886_430060728_n.jpg'/>
	