Id: 021e8e8e-4ef7-4a6c-9f33-ebb135316064
Title: "Quick update"
Published: "2012-05-29"
Slug: "2012-05-29 Quick update"
-
<p>немцы и местные<br/><a href='https://www.facebook.com/photo.php?fbid=10150880294927886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150880294927886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-ash3/556110_10150880294927886_762077885_10063890_1058804835_n.jpg'/>
	