Id: d8925b9f-7a3c-4b1a-bed1-85296623d756
Title: "Фото как я бежал 10км в рижском марафоне"
Published: "2012-05-25"
Slug: "2012-05-25 Фото как я бежал 10км в рижском марафоне"
-
<p>Супер-система!<br /><br /><a href="http://www.1188.lv/nordea-rigas-maratons/galerija/?year=2012&amp;member=6057">http://www.1188.lv/nordea-rigas-maratons/galerija/?year=2012&amp;member=6057</a></p>
<p>&nbsp;</p>
<div class="clearfix cite">Можно себя заценить!<img style="float: left;" src="/files/files/http://external.ak.fbcdn.net/safe_image.php?d=AQB2kpE_F-ixvr5y&amp;w=90&amp;h=90&amp;url=http%3A%2F%2Fwww.1188.lv%2Fimg%2Fspecial%2Fmaratons%2F2012%2Fbanner.jpg" alt="" /></div>
	