Id: 8ccd6163-fd8d-4d5b-929a-6bda0df592c5
Title: "Quick update"
Published: "2012-02-17"
Slug: "2012-02-17 Quick update"
-
<p>Предьявителю с мускулистыми пальцами - скидка<br/><a href='http://www.facebook.com/photo.php?fbid=10150581485537886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150581485537886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-e.ak.fbcdn.net/hphotos-ak-snc6/166903_10150581485537886_762077885_9298376_373108012_n.jpg'/>
	