Id: 9c511fbc-4add-40a8-8767-750d5b874c29
Title: "Wall Photos"
Published: "2012-06-01"
Slug: "2012-06-01 Wall Photos"
-
<p>Вот как коротко можно выразить направления живописи<br/><a href='https://www.facebook.com/photo.php?fbid=392459860771992&set=a.355590317792280.89267.315382881813024&type=1'>https://www.facebook.com/photo.php?fbid=392459860771992&set=a.355590317792280.89267.315382881813024&type=1</a></p><img src='/files/https://photos-g.ak.fbcdn.net/hphotos-ak-ash3/536994_392459860771992_1380716590_n.jpg'/>
	