Id: 52edc0af-cd11-4d93-ab1a-093c5910e5df
Title: "Dalai Lama"
Published: "2012-09-11"
Slug: "2012-09-11 Dalai Lama"
-
<p>Вот почему буддисты рулят<br/><a href='http://www.facebook.com/DalaiLama/posts/10151052842097616'>http://www.facebook.com/DalaiLama/posts/10151052842097616</a></p><div class='clearfix cite'><img src='/files/http://profile.ak.fbcdn.net/hprofile-ak-prn1/23301_339188887615_1103_q.jpg' />All the world’s major religions, with their emphasis on love, compassion, patience, tolerance, and forgiveness can and do promote inner values. But the reality of the world today is that grounding ethics in religion is no longer adequate. This is why I am increasingly convinced that the time has come to find a way of thinking about spirituality and ethics beyond religion altogether.</div>
	