Id: e42ed307-8db6-4857-ab3b-0d2f71adf829
Title: "Wall Photos"
Published: "2012-05-24"
Slug: "2012-05-24 Wall Photos"
-
<p>Да уж :-)<br/><a href='https://www.facebook.com/photo.php?fbid=419443761402570&set=a.403345663012380.114023.403340046346275&type=1'>https://www.facebook.com/photo.php?fbid=419443761402570&set=a.403345663012380.114023.403340046346275&type=1</a></p><img src='/files/https://photos-a.ak.fbcdn.net/hphotos-ak-ash3/528072_419443761402570_403340046346275_1790193_1574205471_n.jpg'/>
	