Id: c72d6ecd-2b34-4950-8a80-a3670fd0caeb
Title: "Почему в России нет культуры."
Published: "2012-08-16"
Slug: "2012-08-16 Почему в России нет культуры."
-
<p>Красиво разжигает, можно обдумать<br/><br/><a href='https://funt.livejournal.com/216916.html'>https://funt.livejournal.com/216916.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQBUPFQTRKyG7IOP&w=90&h=90&url=http%3A%2F%2Fkolyan.net%2Fuploads%2Fposts%2F2010-07%2F1280121280_podborka_04.jpg+' style='float:left;'/>Я сделаю культур-мультур, меня только попроси Мне кажется, что я умней других ЭмСи. Мир удивительно одинаков. Особенно современный. Люди везде одни …</div>
	