Id: 42e8b580-a38f-4858-a52d-f8297cf33575
Title: "binitex"
Published: "2012-03-28"
Slug: "2012-03-28 binitex"
-
<p>Какой там майкрософт, круче нашей конторы нет!<br/>Света показывает класс :-)<br/><a href='https://www.youtube.com/watch?v=5t4hEvmd9mc&feature=share'>https://www.youtube.com/watch?v=5t4hEvmd9mc&feature=share</a></p><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQBgWhkgc5cbx2cO&w=130&h=130&url=http%3A%2F%2Fi2.ytimg.com%2Fvi%2F5t4hEvmd9mc%2Fhqdefault.jpg' style='float:left;'/>
	