Id: 9be70b0b-f826-4c06-9431-75fc758c04ad
Title: "Wall Photos"
Published: "2012-05-31"
Slug: "2012-05-31 Wall Photos"
-
<p>Надо почаще это помнить!<br/><a href='https://www.facebook.com/photo.php?fbid=425150940839256&set=a.367134353307582.83639.367116489976035&type=1'>https://www.facebook.com/photo.php?fbid=425150940839256&set=a.367134353307582.83639.367116489976035&type=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-ash4/295095_425150940839256_839618377_n.jpg'/>
	