Id: 6eca328d-7169-4887-8610-2e42f3b91d9c
Title: "Британское правительство оправдало увольнения за открытое ношение распятия"
Published: "2012-03-13"
Slug: "2012-03-13 Британское правительство оправдало увольнения за открытое ношение распятия"
-
<p>Я приветствую борьбу с религией, но свобода слова стократ важнее. Хотите - носите хоть макаронного монстра, работодатели идут лесом.<br/><br/><a href='https://rus.delfi.lv/news/daily/abroad/britanskoe-pravitelstvo-opravdalo-uvolneniya-za-otkrytoe-noshenie-raspyatiya.d?id=42199238'>https://rus.delfi.lv/news/daily/abroad/britanskoe-pravitelstvo-opravdalo-uvolneniya-za-otkrytoe-noshenie-raspyatiya.d?id=42199238</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQB353CqgHEZsJDS&w=90&h=90&url=http%3A%2F%2Fg4.delfi.lv%2Fimages%2Fpix%2Ffile36241837_41947a78.jpg' style='float:left;'/>Кабинет министров Великобритании принял документ, согласно которому ношение крестиков на рабочем месте не является обязательным требованием к верующим христианам, в связи с чем работодатели могут запретить их использование своим работникам. Отныне работодатели могут увольнять сотрудников, которые бу...</div>
	