Id: d515f026-c0bf-433f-aacc-c67a8a555465
Title: "Timeline Photos"
Published: "2012-11-07"
Slug: "2012-11-07 Timeline Photos"
-
<p>Блин, я вечно в лесу, а романтики всё нет.<br/><a href='https://www.facebook.com/photo.php?fbid=430157660366298&set=a.184312021617531.42303.100001162035147&type=1'>https://www.facebook.com/photo.php?fbid=430157660366298&set=a.184312021617531.42303.100001162035147&type=1</a></p><img src='/files/https://photos-b.ak.fbcdn.net/hphotos-ak-ash4/407574_430157660366298_1381846353_n.jpg' />
	