Id: 02a8a294-6d35-4321-b4d3-c413ee0c9c64
Title: "Quick update"
Published: "2012-07-16"
Slug: "2012-07-16 Quick update"
-
<p>лето в разгаре<br/><a href='http://www.facebook.com/photo.php?fbid=10150981842517886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10150981842517886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-snc7/599526_10150981842517886_568894714_n.jpg'/>
	