Id: d449a727-1f72-458c-ad90-025e2345d535
Title: "Тундра 2012 - музыкальный..."
Published: "2012-07-10"
Slug: "2012-07-10 Тундра 2012 - музыкальный..."
-
<p>Это было всем!<br/><a href='https://www.facebook.com/photo.php?fbid=377899192263850&set=a.377894005597702.91606.100001313162256&type=1'>https://www.facebook.com/photo.php?fbid=377899192263850&set=a.377894005597702.91606.100001313162256&type=1</a></p><img src='/files/https://photos-b.ak.fbcdn.net/hphotos-ak-snc7/406036_377899192263850_144374603_n.jpg'/>
	