Id: 6b47cf7e-2a6b-42dd-86f4-7a0600fb50df
Title: "Звуки.Ру - ФЕСТИВАЛЬ - Город, слетевший с катушек"
Published: "2012-08-23"
Slug: "2012-08-23 Звуки.Ру - ФЕСТИВАЛЬ - Город, слетевший с катушек"
-
<p>Надо ехать в следующем году, уже созрел, чтобы в таком месте себя чувствовать органично :-)<br/><br/><a href='https://www.zvuki.ru/R/P/28553/'>https://www.zvuki.ru/R/P/28553/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDUhEJltIhAibev&w=90&h=90&url=http%3A%2F%2Fwww.zvuki.ru%2Fphoto%2Ft%2F47385%2Fpicture.jpg' style='float:left;'/>Любовь, Свобода, Толерантность и Респект - лозунги юбилейного Zurich Street Parade. Наш репортаж из гущи толпы.</div>
	