Id: d46473fd-b6e7-458b-a730-c0101363ae0d
Title: "xkcd: Think Logically"
Published: "2012-09-25"
Slug: "2012-09-25 xkcd_ Think Logically"
-
<p>Комикс про Andrei Ageev<br/><br/><a href='https://xkcd.com/1112/'>https://xkcd.com/1112/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQAOOPU-fYisKiHs&w=90&h=90&url=http%3A%2F%2Fimgs.xkcd.com%2Fcomics%2Fthink_logically.png' />Warning: this comic occasionally contains strong language (which may be unsuitable for children), unusual humor (which may be unsuitable for adults), and advanced mathematics (which may be unsuitable for liberal-arts majors).</div>
	