Id: 163c9417-637d-40d5-8577-f2788a6a9f87
Title: "xkcd: Pickup Artist"
Published: "2012-03-09"
Slug: "2012-03-09 xkcd_ Pickup Artist"
-
<p>Круто, чо. Постмодернизм ин итс бест!<br/><br/><a href='http://xkcd.com/1027/'>http://xkcd.com/1027/</a></p><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQCNvwIsuBUDAXbW&w=90&h=90&url=http%3A%2F%2Fimgs.xkcd.com%2Fcomics%2Fpickup_artist.png' style='float:left;'/>
	