Id: 085691e7-f989-4c9e-919c-c1684d405330
Title: "Chronicle"
Published: "2012-02-24"
Slug: "2012-02-24 Chronicle"
-
<p>Gave an 8 star rating to Chronicle on IMDb.<br/><a href='https://www.imdb.com/rg/fb_oshare/rate/title/tt1706593'>https://www.imdb.com/rg/fb_oshare/rate/title/tt1706593</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=127059960673829&v=1&size=z&cksum=33dae07f137f4a59d83a7b5d9367a5d1&src=http%3A%2F%2Fia.media-imdb.com%2Fimages%2FM%2FMV5BMjEzMjYzMDQ0MV5BMl5BanBnXkFtZTcwNzE1OTM5Ng%40%40._V1._SX54_CR0%2C0%2C54%2C74_.jpg' style='float:left;'/>Three high school friends gain superpowers after making an incredible discovery. Soon, though, they find their lives spinning out of control and their bond tested as they embrace their darker sides.</div>
	