Id: 1230ea24-369c-46b7-a35c-0d048ba43019
Title: "Quick update"
Published: "2012-06-30"
Slug: "2012-06-30 Quick update"
-
<p>спецучасток<br/><a href='https://www.facebook.com/photo.php?fbid=10150948288847886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10150948288847886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-snc7/314041_10150948288847886_894371229_n.jpg'/>
	