Id: 19b627f4-8cca-4698-8041-a6be5df0aea7
Title: "Мелодии «Монтаны»"
Published: "2012-11-08"
Slug: "2012-11-08 Мелодии «Монтаны»"
-
<p>Аж прослезился<br/><br/><a href='https://gleero.com/all/melodii-montany/'>https://gleero.com/all/melodii-montany/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQAPiAF-85XotJAc&w=90&h=90&url=http%3A%2F%2Fgleero.com%2Fpictures%2Fmontana.jpg' />Помните, да?</div>
	