Id: 3750deb9-7e68-45d8-9ed9-eeaeeb3443fa
Title: "Heymoonshaker - London - Part Two"
Published: "2012-03-04"
Slug: "2012-03-04 Heymoonshaker - London - Part Two"
-
<p>Брейкбит, и даже может быть дабстеп, исполненный а-капелла. Очумительно.<br/><a href='https://www.youtube.com/watch?v=nTXtOVaCaOU&feature=bf_prev&list=WLE3E17E1028D3379E&lf=plpp_video'>https://www.youtube.com/watch?v=nTXtOVaCaOU&feature=bf_prev&list=WLE3E17E1028D3379E&lf=plpp_video</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQCV_Ph5i2Ai_xD3&w=130&h=130&url=http%3A%2F%2Fi3.ytimg.com%2Fvi%2FnTXtOVaCaOU%2Fhqdefault.jpg' style='float:left;'/>Short film following Heymoonshaker A.K.A Andy BaLcon and Dave Crowe on the second day of their UK Tour as they busk on Brick Lane London. This is Part Two of...</div>
	