Id: 5813459b-ea5b-4abd-9477-cc0ae08963c4
Title: "Казахстанский фармацевт изобрел таблетки влюбленности"
Published: "2012-08-15"
Slug: "2012-08-15 Казахстанский фармацевт изобрел таблетки влюбленности"
-
<p>Казахская наука впереди! Жаль только, изобретают вещества родом начала прошлого века.<br/><a href='https://www.1news.az/world/20120815020604936.html'>https://www.1news.az/world/20120815020604936.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQAE6lxmxj-cFyGO&w=90&h=90&url=http%3A%2F%2Fwww.1news.az%2Fimages%2Farticles%2F2012%2F08%2F15%2Fthumb190_20120815020604936.jpg' style='float:left;'/>Фармацевт из Астаны Ержан Кушиков придумал таблетки влюбленности, пишет агентство «Новости-Казахстан» со ссылкой на газету «Экспресс-К». 

Подробности: https://www.1news.az/world/20120815020604936.html
Любое использование материалов допускается только при наличии гиперссылки на 1news.az</div>
	