Id: c11fc8c0-78f2-4fa0-ab61-8ebad07b3a4d
Title: "Quick update"
Published: "2012-11-14"
Slug: "2012-11-14 Quick update"
-
<p>Перешли с пицц на бургеры<br/><a href='https://www.facebook.com/photo.php?fbid=10151184226692886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151184226692886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-ash3/540155_10151184226692886_840005396_n.jpg' />
	