Id: 6e267cf4-4981-49cf-874f-da520cc53a69
Title: "Максим Гуревич"
Published: "2012-10-26"
Slug: "2012-10-26 Максим Гуревич"
-
<p>20 секунд доходило :-)<br/><a href='https://www.facebook.com/maksim.gurevich/posts/393928997343182'>https://www.facebook.com/maksim.gurevich/posts/393928997343182</a></p><div class='clearfix cite'><img src='/files/https://profile.ak.fbcdn.net/hprofile-ak-prn1/624065_100001782559899_734719265_q.jpg' />Кокаин? А, нет, показалось...</div>
	