Id: 141bc248-9462-48ea-9314-75e02043a9db
Title: "Wall Photos"
Published: "2012-08-09"
Slug: "2012-08-09 Wall Photos"
-
<p>Красивая штучка, практически правда<br/>love, happiness, intelligence<br/><a href='http://www.facebook.com/photo.php?fbid=10151101932073633&set=a.177180783632.119963.132153568632&type=1'>http://www.facebook.com/photo.php?fbid=10151101932073633&set=a.177180783632.119963.132153568632&type=1</a></p><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-snc7/418971_10151101932073633_132800113_n.jpg'/>
	