Id: d7b8eaef-fd95-4a3d-a3c3-bbdd36d6d4b2
Title: "Wall Photos"
Published: "2012-07-03"
Slug: "2012-07-03 Wall Photos"
-
<p>забавно<br/><br/><a href='http://www.facebook.com/photo.php?fbid=333967710016037&set=a.100938766652267.1669.100878136658330&type=1'>http://www.facebook.com/photo.php?fbid=333967710016037&set=a.100938766652267.1669.100878136658330&type=1</a></p><img src='/files/http://photos-g.ak.fbcdn.net/hphotos-ak-ash4/309320_333967710016037_570991380_n.jpg'/>
	