Id: 00032641-9a23-4d0a-b36c-4b95cc10b6eb
Title: "100 фактов и баек про Беларусь (первые 50)"
Published: "2012-01-26"
Slug: "2012-01-26 100 фактов и баек про Беларусь _первые 50_"
-
<p>https://maraz-m-moroz.livejournal.com/388712.html<br/><a href='https://maraz-m-moroz.livejournal.com/388712.html'>https://maraz-m-moroz.livejournal.com/388712.html</a></p><div style='border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding:10px; display: block; border-top: black 1px solid; border-right: black 1px solid;'>В рамках своеобразного флэш-моба под общим лозунгом "100 фактов о моей стране. Расскажите о стране, в которой живете так, как видите ее Вы." накорябал пару абзацев. …</div>
	