Id: 9e1bdcfa-2893-4859-b238-7acd021d16d9
Title: "Wall Photos"
Published: "2012-06-16"
Slug: "2012-06-16 Wall Photos"
-
<p>Есть над чем подумать :-)<br/><a href='http://www.facebook.com/photo.php?fbid=398337243537410&set=a.315139461857189.65791.315133775191091&type=1'>http://www.facebook.com/photo.php?fbid=398337243537410&set=a.315139461857189.65791.315133775191091&type=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-snc6/166090_398337243537410_1477362535_n.jpg'/>
	