Id: 119d3c34-2e6b-477d-87b7-015f1551137f
Title: "Acoustic Folium 5"
Published: "2012-11-13"
Slug: "2012-11-13 Acoustic Folium 5"
-
<p>Пятый фолиум на носу, всем идти :-)<br/><a href='https://www.facebook.com/events/174137149394359/'>https://www.facebook.com/events/174137149394359/</a></p><div class='clearfix cite'><img src='/files/https://profile.ak.fbcdn.net/hprofile-ak-ash4/373155_174137149394359_1633008775_t.jpg' />Thursday, November 29 at 8:00pm in Daugavpils</div>
	