Id: fc8ef54a-737d-4005-9868-fee30bc63400
Title: "Quick update"
Published: "2012-06-19"
Slug: "2012-06-19 Quick update"
-
<p>Хаха, вот она, рыба моей мечты!<br/><a href='https://www.facebook.com/photo.php?fbid=10150925670022886&set=a.10150454953587886.379697.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150925670022886&set=a.10150454953587886.379697.762077885&type=1</a></p><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-ash4/303622_10150925670022886_1808773236_n.jpg'/>
	