Id: 5904e6ec-dea1-4ad3-a195-85ffeed33947
Title: "Новенькая главбух саботирует требования HR"
Published: "2012-09-10"
Slug: "2012-09-10 Новенькая главбух саботирует требования HR"
-
<p>Даже сказать нечего.<br/><a href='http://forum.klerk.ru/showthread.php?t=447666'>http://forum.klerk.ru/showthread.php?t=447666</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQCRLm3Em3pWEMV9&w=90&h=90&url=http%3A%2F%2Fforum.klerk.ru%2Fi%2Fhead%2Fgreen%2Flogo.gif' />Она совершенно игнорирует общепринятый порядок и выбивается из струи фирмы.
На работу ездит на велосипеде, прям в шлеме и в форме оставляет велосипед на стоянке и в таком виде идет по коридору. Да, у нас есть душ, и в офисе она выглядит прилично по дрес коду. На мои замечания (в очень корректной фор...</div>
	