Id: a4b656e0-cafe-4061-87e8-438f700591e9
Title: "Quick update"
Published: "2012-10-22"
Slug: "2012-10-22 Quick update"
-
<p>Некоторые любят обед поплотнее<br/><a href='https://www.facebook.com/photo.php?fbid=10151151570607886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151151570607886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-ash4/486797_10151151570607886_1780235630_n.jpg' />
	