Id: dacdd62a-fe64-4dcd-bbdf-3c9e0a81ff23
Title: "Как не заболеть интернет-аутизмом?"
Published: "2012-09-11"
Slug: "2012-09-11 Как не заболеть интернет-аутизмом_"
-
<p>Как по мне, так много верного. Я так и стараюсь, в общем. Ещё рекомендую обниматься, а то никто у нас этого не делает, а зря.<br/><a href='https://habrahabr.ru/post/151153/'>https://habrahabr.ru/post/151153/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDTNqA6D5OMX6tK&w=90&h=90&url=http%3A%2F%2Fa5.sphotos.ak.fbcdn.net%2Fhphotos-ak-ash4%2F383901_426569987389743_264506554_n.jpg' />Побывав однажды на одном ИТ-чемпионате, я поразился тому, насколько люди были замкнутые (не все, но многие). Т.е. в твиттере такие посты пишет, но выйти на...</div>
	