Id: cced2ff3-d0f3-47bf-a621-381d1a9065a9
Title: "Quick update"
Published: "2012-06-07"
Slug: "2012-06-07 Quick update"
-
<p>катаемся потихоньку в илукстском лесу<br/><a href='http://www.facebook.com/photo.php?fbid=10150900621697886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150900621697886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-ash3/601358_10150900621697886_1280505602_n.jpg'/>
	