Id: 675bf9a6-de1f-4d92-bf73-4660954704d9
Title: "Реальный опыт: Обидел велосипедиста с регистратором? Готовься платить штраф!"
Published: "2012-02-24"
Slug: "2012-02-24 Реальный опыт_ Обидел велосипедиста с регистратором_ Готовься платить штраф_"
-
<p>Хехехе, я знаю, что нужно ещё купить :-)<br/><br/><a href='https://reporter.delfi.lv/news/witness/realnyj-opyt-obidel-velosipedista-s-registratorom-gotovsya-platit-shtraf.d?id=42153084'>https://reporter.delfi.lv/news/witness/realnyj-opyt-obidel-velosipedista-s-registratorom-gotovsya-platit-shtraf.d?id=42153084</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDhCdV1ncKZ8TlR&w=90&h=90&url=http%3A%2F%2Fg1.delfi.lv%2Fimages%2Fpix%2Ffile42153130_ff2bea59.jpg' style='float:left;'/>Вот что нам пишет Михаил:</div>
	