Id: 0c2b0a19-929e-46d7-99cc-a6de1c200506
Title: "Quick update"
Published: "2012-02-25"
Slug: "2012-02-25 Quick update"
-
<p>Масленница<br/><a href='https://www.facebook.com/photo.php?fbid=10150599158302886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150599158302886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-snc7/423044_10150599158302886_1362085851_n.jpg'/>
	