Id: 94ea2aa8-23bd-494b-ad36-737860eb53b3
Title: "В богатой Норвегии молодежь не хочет работать и выходит на пенсию в возрасте до 30 лет"
Published: "2012-03-03"
Slug: "2012-03-03 В богатой Норвегии молодежь не хочет работать и выходит на пенсию в возрасте до 30 лет"
-
<p>И в раю не без проблем<br/><br/><a href='https://biznes.delfi.lv/economy/v-bogatoj-norvegii-molodezh-ne-hochet-rabotat-i-vyhodit-na-pensiyu-v-vozraste-do-30-let.d?id=42178374'>https://biznes.delfi.lv/economy/v-bogatoj-norvegii-molodezh-ne-hochet-rabotat-i-vyhodit-na-pensiyu-v-vozraste-do-30-let.d?id=42178374</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQA-k8tuL3s29Jxg&w=90&h=90&url=http%3A%2F%2Fg2.delfi.lv%2Fimages%2Fpix%2Ffile42116016_979ed66b.jpg' style='float:left;'/>Число молодых норвежцев, которые получают пособие по инвалидности, за последние годы неожиданно резко выросло. Многие бизнесмены разбогатевшей на нефтегазовых ресурсах Норвегии говорят о том, что молодые норвежцы обленились и не хотят работать.</div>
	