Id: e0501b85-6206-49a7-9d1a-4a59808ac1ec
Title: "Sorry, Absinthe Trippers: Scientists Say You're Just Really Drunk | Wired Science | Wired.com"
Published: "2012-09-21"
Slug: "2012-09-21 Sorry, Absinthe Trippers_ Scientists Say You_re Just Really Drunk _ Wired Science _ Wired"
-
<p>Абсент-таки не прёт, вот уже и наука подтянулась подтвердить.<br/><br/><a href='https://www.wired.com/wiredscience/2008/04/sorry-absinthe/'>https://www.wired.com/wiredscience/2008/04/sorry-absinthe/</a></p><div class='clearfix cite'>The long-cherished idea that absinthe, an anise-flavored alcoholic beverage with a history of use by artists like Van Gogh and Picasso, is or ever was hallucinogenic might have met its death by data today.</div>
	