Id: ae73db78-28c3-46af-afa2-5f73f94f7c67
Title: "Новые жестоковыйные : Православие и мир"
Published: "2012-08-23"
Slug: "2012-08-23 Новые жестоковыйные _ Православие и мир"
-
<p>Вот и всё, что можно сказать по теме, на самом деле.<br/><a href='https://www.pravmir.ru/novye-zhestokovyjnye/'>https://www.pravmir.ru/novye-zhestokovyjnye/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDdoZOj5b6OlMC_&w=90&h=90&url=http%3A%2F%2Fwww.pravmir.ru%2Fwp-content%2Fuploads%2F2012%2F08%2FZczBP5u2_NI100.jpg' style='float:left;'/>В последние дни голова трещит от напора со всех сторон. Неверующие клеймят верующих в духе журнала «Безбожник у станка», верующие поливают неверующих, только успевай уворачиваться от летающих в воздухе взаимных проклятий....</div>
	