Id: 7ecb4bf1-380c-4b08-89ca-6a78307c1c61
Title: "Propaganda"
Published: "2012-07-04"
Slug: "2012-07-04 Propaganda"
-
<p>Вот это верно, только трудно иногда объяснить, что рассказываешь мифы, басни и легенды, а не факты, даже взрослым.<br/><a href='https://www.facebook.com/photo.php?fbid=422290364488404&set=a.247576495293126.78157.100001223321196&type=1'>https://www.facebook.com/photo.php?fbid=422290364488404&set=a.247576495293126.78157.100001223321196&type=1</a></p><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-snc7/424993_422290364488404_1555439470_n.jpg'/>
	