Id: d92cf69c-f202-49cc-83bb-4ccdf91ff0bd
Title: "Жизнь и необычайные приключения философского зомби"
Published: "2012-02-23"
Slug: "2012-02-23 Жизнь и необычайные приключения философского зомби"
-
<p><br/><br/>Не знаю, насколько это научно и не слишком ли популярно, но крайне занимательно. Как я предполагал, мы уже немало знаем про устройство мозга.<br/><br/>Но советую воспринимать осторожно, про похудение и правда местами он завирается.<br/><a href='https://stelazin.livejournal.com/'>https://stelazin.livejournal.com/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQCCO-46gybIR7u8&w=90&h=90&url=http%3A%2F%2Fimg-fotki.yandex.ru%2Fget%2F5500%2F13850718.0%2F0_6cddb_37983930_XL.jpg' style='float:left;'/>(Свежие записи) (Архив) (Друзья) (Личная информация)   Navigate: (Previous 10 Entries)</div>
	