Id: 49df31e2-f317-442d-9fd2-c7a29bfe745a
Title: "Wall Photos"
Published: "2012-10-16"
Slug: "2012-10-16 Wall Photos"
-
<p>Посмеялсо, спасибо Виолетте<br/><a href='https://www.facebook.com/photo.php?fbid=434315946629283&set=a.141295832597964.27323.100001526430277&type=1'>https://www.facebook.com/photo.php?fbid=434315946629283&set=a.141295832597964.27323.100001526430277&type=1</a></p><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-snc6/6237_434315946629283_1862374857_n.jpg' />
	