Id: 130b25d0-0b9d-48d9-a741-019754af337a
Title: "Quick update"
Published: "2012-04-18"
Slug: "2012-04-18 Quick update"
-
<p>осторожно, масло<br/><a href='http://www.facebook.com/photo.php?fbid=10150706236277886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150706236277886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-ash3/526100_10150706236277886_762077885_9741585_301220954_n.jpg'/>
	