Id: 451d8618-993a-4fcb-811d-f64d495251bc
Title: "Quick update"
Published: "2012-06-16"
Slug: "2012-06-16 Quick update"
-
<p>стартую<br/><a href='https://www.facebook.com/photo.php?fbid=10150918140952886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150918140952886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-prn1/554699_10150918140952886_275163878_n.jpg'/>
	