Id: 1ac2ad5d-1bbf-413b-82ba-4d017ce9f0f6
Title: "Quick update"
Published: "2012-04-06"
Slug: "2012-04-06 Quick update"
-
<p>подснежник собирается покорять литовские реки<br/><a href='http://www.facebook.com/photo.php?fbid=10150679760307886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150679760307886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-prn1/536511_10150679760307886_762077885_9639166_1447189647_n.jpg'/>
	