Id: 4f1993db-08d1-49c2-b6a8-cbde3e35f333
Title: "Tangled"
Published: "2012-02-08"
Slug: "2012-02-08 Tangled"
-
<p>Gave a 7 star rating to Tangled on IMDb.<br/><a href='https://www.imdb.com/rg/fb_oshare/rate/title/tt0398286'>https://www.imdb.com/rg/fb_oshare/rate/title/tt0398286</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=127059960673829&v=1&size=z&cksum=de1df5100e9c732b9ef82b47bfaece5a&src=http%3A%2F%2Fia.media-imdb.com%2Fimages%2FM%2FMV5BMjA5NzMwMjA0OV5BMl5BanBnXkFtZTcwNDMzMzc5Mw%40%40._V1._SX54_CR0%2C0%2C54%2C74_.jpg' style='float:left;'/>The magically long-haired Rapunzel has spent her entire life in a tower, but now that a runaway thief has stumbled upon her, she is about to discover the world for the first time, and who she really is.</div>
	