Id: 3b8f42bb-219a-490f-9dd7-ad04bc71a414
Title: "COMPRESSOR, by GAS OF LATVIA"
Published: "2012-11-28"
Slug: "2012-11-28 COMPRESSOR, by GAS OF LATVIA"
-
<p>Не выдержал искушения, добровольно-принудительно купил альбом латвийского электронного маэстро. Надо поддержать хороших музыкантов, тем более, что трек Phenylethylamine мне по нраву!<br/><a href='http://gasoflatvia.bandcamp.com/album/compressor-2?autoplay=true'>http://gasoflatvia.bandcamp.com/album/compressor-2?autoplay=true</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQASZ4c-WRJQ8iui&w=130&h=130&url=http%3A%2F%2Ff0.bcbits.com%2Fz%2F42%2F85%2F4285816965-1.jpg' />9 track album</div>
	