Id: 122135ed-cf29-4789-8f5e-79f20a95a0f7
Title: "Quick update"
Published: "2012-06-26"
Slug: "2012-06-26 Quick update"
-
<p>Один человек и много пицц<br/><a href='https://www.facebook.com/photo.php?fbid=10150939953987886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150939953987886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-b.ak.fbcdn.net/hphotos-ak-ash3/539440_10150939953987886_1201640707_n.jpg'/>
	