Id: 2d42a2c2-48ec-4d6a-a4a0-a8b77e88d5f1
Title: "What Killed the Linux Desktop - Miguel de Icaza"
Published: "2012-08-30"
Slug: "2012-08-30 What Killed the Linux Desktop - Miguel de Icaza"
-
<p>О, сколько тут банальной правды, которая никому не нужна. Прямо-таки квинтэссенция сознания хакеров. А потом разговоры идут про злые мегакорпорации, маркетинг и патенты. Сами виноваты в своих бедах, сами.<br/><br/><a href='https://tirania.org/blog/archive/2012/Aug-29.html'>https://tirania.org/blog/archive/2012/Aug-29.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQCNPw5YX0pIm1CZ&w=90&h=90&url=http%3A%2F%2Ftirania.org%2Fimages%2Fblog-ad.jpg' style='float:left;'/>The hard disk that hosted my /home directory on my Linux 	machine failed so I had to replace it with a new one.   Since 	this machine lives under my desk, I had to unplug all the 	cables, get it out, swap the hard drives and plug everything 	back again.</div>
	