Id: 478f9322-1ed9-46c8-b592-53e62a4b4cc5
Title: "Quick update"
Published: "2012-06-27"
Slug: "2012-06-27 Quick update"
-
<p>ничего себе тачилы в депе<br/><a href='https://www.facebook.com/photo.php?fbid=10150941904842886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150941904842886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-a.ak.fbcdn.net/hphotos-ak-ash3/555934_10150941904842886_505851852_n.jpg'/>
	