Id: 524630c3-797e-43a3-adee-913e423ffb1f
Title: "https://img-fotki.yandex.ru/get/5703/133069443.e1/0_815b8_7a487a44_orig.jpg"
Published: "2012-07-04"
Slug: "2012-07-04 http___img-fotki.yandex.ru_get_5703_133069443.e1_0_815b8_7a487a44_orig.jpg"
-
<p>В точку!<br/><br/><a href='https://img-fotki.yandex.ru/get/5703/133069443.e1/0_815b8_7a487a44_orig.jpg'>https://img-fotki.yandex.ru/get/5703/133069443.e1/0_815b8_7a487a44_orig.jpg</a></p><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDqIjFJXQ2xXDcl&w=90&h=90&url=http%3A%2F%2Fimg-fotki.yandex.ru%2Fget%2F5703%2F133069443.e1%2F0_815b8_7a487a44_orig.jpg' style='float:left;'/>
	