Id: f020cff9-3e99-4457-a18e-9dcb830a24ea
Title: "Peter Kirk Report - Final Version"
Published: "2012-10-30"
Slug: "2012-10-30 Peter Kirk Report - Final Version"
-
<p>Смотрите, мы с папой попали в доклад :-)<br/><a href='https://t.co/9GcV0VSr'>https://t.co/9GcV0VSr</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQADtEKArVrSZYs0&w=90&h=90&url=http%3A%2F%2Fimgv2-2.scribdassets.com%2Fimg%2Fword_document%2F111493601%2F164x212%2F3b4e225f8d%2F1351543741' />Scribd is the world's largest social reading and publishing site.</div>
	