Id: 008ba8c7-1725-4d40-9c31-f423b342600f
Title: "Quick update"
Published: "2012-05-19"
Slug: "2012-05-19 Quick update"
-
<p>Для любимой<br/><a href='https://www.facebook.com/photo.php?fbid=10150856257837886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150856257837886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-snc7/577040_10150856257837886_762077885_9983778_1250728782_n.jpg'/>
	