Id: 643878fd-a263-4836-a734-4e59dc21659b
Title: "Wall Photos"
Published: "2012-07-14"
Slug: "2012-07-14 Wall Photos"
-
<p>Пока это так, капитализм зло<br/><a href='https://www.facebook.com/photo.php?fbid=492502754096670&set=a.403345663012380.114023.403340046346275&type=1'>https://www.facebook.com/photo.php?fbid=492502754096670&set=a.403345663012380.114023.403340046346275&type=1</a></p><img src='/files/https://photos-g.ak.fbcdn.net/hphotos-ak-ash3/563536_492502754096670_1957871493_n.jpg'/>
	