Id: 744c111f-ad0b-4906-abbc-8934492ff126
Title: "Психиатры назвали признаки Facebook-депрессии"
Published: "2012-12-04"
Slug: "2012-12-04 Психиатры назвали признаки Facebook-депрессии"
-
<p>Вот шит, кое-что оттуда немного относится ко мне :-)<br/>К счастью, не про зависть к чужим достижениям.<br/><a href='https://www.vesti.ru/doc.html?id=974142&cid=520'>https://www.vesti.ru/doc.html?id=974142&cid=520</a></p><div class='clearfix cite'>Как говорится, все хорошо в меру. Это утверждение в полной мере относится и к социальным сетям. Помимо очевидных плюсов, у этих неотъемлемых атрибутов XXI века есть ряд недостатков. Например, они затягивают эмоционально нестабильных людей, убивая у них всю охоту лечиться.</div>
	