Id: 477cffc0-c414-49e7-9834-4d48bb5c9ddb
Title: "Quick update"
Published: "2012-02-18"
Slug: "2012-02-18 Quick update"
-
<p>Разноцветные<br/><a href='https://www.facebook.com/photo.php?fbid=10150584213837886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150584213837886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-g.ak.fbcdn.net/hphotos-ak-ash4/431223_10150584213837886_762077885_9305454_1288858561_n.jpg'/>
	