Id: 9c677367-2a25-4d99-817b-8900d6dbbb38
Title: "Аэростат - 46, \"Беспечный Русский Бродяга\" – АЭРОСТАТ"
Published: "2012-05-30"
Slug: "2012-05-30 Аэростат - 46, _Беспечный Русский Бродяга_ – АЭРОСТАТ"
-
<p>БГ жжот<br/><br/><a href='https://aerostat.rpod.ru/6139.html'>https://aerostat.rpod.ru/6139.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQB9CbJoERuf-tpR&w=90&h=90&url=http%3A%2F%2Fs.rpod.ru%2Fdata%2Fusers_avatars%2F00%2F00%2F00%2F20%2F54%2Fava_ava_1216236309.jpg' style='float:left;'/>Ведь петь вообще можно только то, во что абсолютно веришь. Что часто приводит к очень значительным последствиям. Бывало, напишешь что-нибудь ради удачного словца, а оно возьми и случись на самом деле. Когда сталкиваешься с этим постоянно, начинаешь на самом деле очень серьезно относиться к подбору с...</div>
	