Id: 90611598-4525-46f0-bedb-34b80050155e
Title: "Andy Stott – Luxury Problems"
Published: "2012-12-12"
Slug: "2012-12-12 Andy Stott – Luxury Problems"
-
<p>Очередной альбом из топа Питчфорк. Симпатию вызвал с первых треков.   <br />Густой и плотный, басовитый и дабовый звук эмбиент-техно каким-то не очень понятным образом вполне сочетается с потусторонним вокалом бывшей преподавательницы по фортепьяно.</p>  <p>Несмотря на “экспериментальный” саунд, альбом вполне себе хитовый, с приставучими мелодическими ходами. Напеть их не получится, но в голове они потом сидят, проверено. Такая музыка мне по нраву: звучит навороченно, но не настолько сложная, чтобы не получать от неё животной радости. А то чистого интеллекта на все творения современных композиторов у меня не хватит.</p>  <p>9/10</p>  <p><a href="http://muzebra.com/search/?q=andy+stott">Слушать на музебре</a></p>
	