Id: b489d90a-a2f7-4c61-98ef-460e8873398d
Title: "Quick update"
Published: "2012-03-12"
Slug: "2012-03-12 Quick update"
-
<p>на работе вкуснота<br/><a href='http://www.facebook.com/photo.php?fbid=10150629783552886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150629783552886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-e.ak.fbcdn.net/hphotos-ak-ash4/431420_10150629783552886_762077885_9464418_1473292376_n.jpg'/>
	