Id: c87a58eb-7f64-4045-b58a-c88217f440e5
Title: "One-Minute Animated Primers on Major Theories of Religion"
Published: "2012-10-22"
Slug: "2012-10-22 One-Minute Animated Primers on Major Theories of Religion"
-
<p><br/><a href='https://www.brainpickings.org/index.php/2012/10/18/60-second-adventures-in-religion/'>https://www.brainpickings.org/index.php/2012/10/18/60-second-adventures-in-religion/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQB52mhYKBDsN70O&w=90&h=90&url=http%3A%2F%2Fwww.brainpickings.org%2Fwp-content%2Fuploads%2F2012%2F10%2Fmarx-150x150.jpg' />From Karl Marx to Richard Dawkins in 60 seconds.    Last year, Open University brought us 60-Second Adventures in Thought -- a fascinating a</div>
	