Id: 527c7b17-c65a-43a2-abdc-d1102c141f36
Title: "Тест на знание русского языка - 2"
Published: "2012-04-12"
Slug: "2012-04-12 Тест на знание русского языка - 2"
-
<p>Я так про себя и думал :-)<br/><a href='http://www.rb.ru/test/33/r4.html'>http://www.rb.ru/test/33/r4.html</a></p><div class='clearfix cite'>Я прошел тест "На знание русского языка-2" и узнал, что лишь несколько процентов россиян могут пройти его без ошибок. Может ты один из них?</div>
	