Id: 07cddf5b-95fc-48d4-945b-7a3528c297a8
Title: "Quick update"
Published: "2012-11-26"
Slug: "2012-11-26 Quick update"
-
<p>Говорю же Латвии надо экспорт наладить, вон даже уже в Инете рекламируют как наши :-)
<br/>Если что, это сушёные мухоморы.<br/><a href='http://www.facebook.com/photo.php?fbid=10151200226142886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151200226142886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-snc7/386470_10151200226142886_1189196083_n.jpg' />
	