Id: 1b2d6b3d-4034-4c4e-9628-eb06c8b67066
Title: "Wall Photos"
Published: "2012-07-13"
Slug: "2012-07-13 Wall Photos"
-
<p>Надо освоить новый вид спорта :-)<br/><a href='https://www.facebook.com/photo.php?fbid=262149477223966&set=a.262038313901749.47706.262030153902565&type=1'>https://www.facebook.com/photo.php?fbid=262149477223966&set=a.262038313901749.47706.262030153902565&type=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-ash4/314796_262149477223966_1963023952_n.jpg'/>
	