Id: cea87b23-9bbf-4b97-87fa-8e6066725be4
Title: "YouTube"
Published: "2012-11-02"
Slug: "2012-11-02 YouTube"
-
<p>Слушаю по кругу уже какой день. Желание посетить трансовый оупенэйр растёт неодолимо.<br/><br/><a href='https://www.youtube.com/watch?v=mqaZrzFMJP4'>https://www.youtube.com/watch?v=mqaZrzFMJP4</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQCD44vGv81vdx2F&w=90&h=90&url=http%3A%2F%2Fs.ytimg.com%2Fyts%2Fimg%2Fsilhouette48-vflLdu7sh.png' />Share your videos with friends, family, and the world</div>
	