Id: 82d142f1-4aa7-49a0-ac5b-e019f2f73821
Title: "Drugs Live: The Ecstasy Trial - Features - Homepage"
Published: "2012-10-01"
Slug: "2012-10-01 Drugs Live_ The Ecstasy Trial - Features - Homepage"
-
<p>А между тем, в Великобретании падение нравов достигло такого маштаба, что священников и солдат кормят "Экстази" в прямом эфире! <br/>Все желающие узнать об ужасных последствиях, которые ждут отважных добровольцев, велкам позырить.<br/><br/><br/><a href='https://www.channel4.com/programmes/drugs-live-the-ecstasy-trial/articles/homepage'>https://www.channel4.com/programmes/drugs-live-the-ecstasy-trial/articles/homepage</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQA9p2AzO-l30Pmx&w=90&h=90&url=http%3A%2F%2Fwww.channel4.com%2Fassets%2Fprogrammes%2Fimages%2Fundercover-boss-usa%2F92acdb63-0542-4778-aff5-886108c918ad_145x82.jpg' />Channel 4 © 2012. We have updated ourterms and conditionsandprivacy policy. Please ensure you read both documents before using our Digital Products and Services.</div>
	