Id: ddcb1293-0238-4a76-8424-ac281f9a7054
Title: "Quick update"
Published: "2012-09-22"
Slug: "2012-09-22 Quick update"
-
<p>Фуршет!<br/><a href='https://www.facebook.com/photo.php?fbid=10151111044222886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151111044222886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-ash4/246487_10151111044222886_1960203224_n.jpg' />
	