Id: 404a6b08-c04c-408e-80a2-e3b035d0be47
Title: "Quick update"
Published: "2012-05-26"
Slug: "2012-05-26 Quick update"
-
<p>Мы уже на Аугшдаугаве<br/><a href='https://www.facebook.com/photo.php?fbid=10150873202607886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150873202607886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-g.ak.fbcdn.net/hphotos-ak-ash3/533390_10150873202607886_1293375076_n.jpg'/>
	