Id: 9d57d8cd-554c-4ea0-a199-8b2ac6d60a0d
Title: "2012. rudens ar tūrisma klubu \"Sniegpulkstenīte\""
Published: "2012-12-24"
Slug: "2012-12-24 2012. rudens ar tūrisma klubu _Sniegpulkstenīte_"
-
<p>Посмотрите, какое счастье доставляют нам походы - лица полны радости и веселья!<br/><br/><a href='http://www.youtube.com/watch?v=SKT1jIFNfEc'>http://www.youtube.com/watch?v=SKT1jIFNfEc</a></p><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQAWyi51htoUlYK8&w=130&h=130&url=http%3A%2F%2Fi4.ytimg.com%2Fvi%2FSKT1jIFNfEc%2Fmqdefault.jpg' />
	