Id: 5d0b300d-09ac-47c2-8912-ee8ba1e56aa8
Title: "Quick update"
Published: "2012-04-21"
Slug: "2012-04-21 Quick update"
-
<p>вышка для наблюдения птиц постарела<br/><a href='http://www.facebook.com/photo.php?fbid=10150719519917886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150719519917886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-ash4/405000_10150719519917886_762077885_9763741_1960349705_n.jpg'/>
	