Id: 35662f6c-49f6-4510-910d-ffcdbe451823
Title: "Lenta.ru: В мире: В каталонском городе разрешили выращивать марихуану для борьбы с кризисом"
Published: "2012-03-02"
Slug: "2012-03-02 Lenta.ru_ В мире_ В каталонском городе разрешили выращивать марихуану для борьбы с кризис"
-
<p>Во, люди используют возможности. Если б у нас сделать легалайз в спецзонах для иностранцев, бабло бы потекло рекой!<br/><br/><a href='https://www.lenta.ru/news/2012/03/01/rasquera/'>https://www.lenta.ru/news/2012/03/01/rasquera/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQBY__JsArAkRK08&w=90&h=90&url=http%3A%2F%2Fimg.lenta.ru%2Fnews%2F2012%2F03%2F01%2Frasquera%2Fpicture.jpg' style='float:left;'/>Мэрия каталонского города Раскера одобрила законопроект, позволяющий выращивать марихуану. Для плантаций власти города выделят семь гектаров земли. Продукт будут выращивать исключительно для продажи Обществу потребителей каннабиса Барселоны. Проект позволит создать около 40 рабочих мест для жителей ...</div>
	