Id: f0dae06c-4cde-450f-9afa-95be2fc4c155
Title: "Осенний променад \"Izvalta - Krāslava\""
Published: "2012-10-26"
Slug: "2012-10-26 Осенний променад _Izvalta - Krāslava_"
-
<p>Завтра пойдём любоваться природой, второй раз уже за осень. Как обычно, всех зовём с собой.<br/><a href='https://www.facebook.com/events/122997184520489/'>https://www.facebook.com/events/122997184520489/</a></p><div class='clearfix cite'><img src='/files/https://profile.ak.fbcdn.net/hprofile-ak-ash4/373291_122997184520489_414675519_t.jpg' />Tomorrow at 8:00am in Izvalta</div>
	