Id: 8b01d3f5-42aa-4536-b7a2-f287ce4786a3
Title: "Петерис Апинис. Достижения и огорчения вакцинации"
Published: "2012-04-26"
Slug: "2012-04-26 Петерис Апинис. Достижения и огорчения вакцинации"
-
<p>Интересно и полезно. Я, естественно, как сторонник научного подхода, за вакцинацию.<br/><br/><a href='https://rus.delfi.lv/news/daily/versions/peteris-apinis-dostizheniya-i-ogorcheniya-vakcinacii.d?id=42302730'>https://rus.delfi.lv/news/daily/versions/peteris-apinis-dostizheniya-i-ogorcheniya-vakcinacii.d?id=42302730</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQABZO9Zx-dXKMPI&w=90&h=90&url=http%3A%2F%2Fg1.delfi.lv%2Fimages%2Fpix%2Ffile37087483_ef9f19fe.jpg' style='float:left;'/>Отношение к вакцинации — как любовь и ненависть. Публикации о вакцинации — либо за, либо против. В основном, за вакцинацию пишут скучно и однообразно, а против — энергично, харизматично и ярко, описывая возможный детский аутизм или причины смерти неизвестного происхождения.</div>
	