Id: 86ebd1ae-06c9-4d87-a67a-5442c0ee46ca
Title: "Zarasai - В поисках утерянного c Эдвином, day 2 | GPSies"
Published: "2012-09-24"
Slug: "2012-09-24 Zarasai - В поисках утерянного c Эдвином, day 2 _ GPSies"
-
<p>День2<br/><br/><a href='https://www.gpsies.com/map.do?fileId=hrbgwrmsyohlkwnm'>https://www.gpsies.com/map.do?fileId=hrbgwrmsyohlkwnm</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQCVUhJ7Jfvm34A7&w=90&h=90&url=http%3A%2F%2Fwww.gpsies.com%2FstaticMap.do%3Bjsessionid%3DABFEBEF6A124CFBB61D61F85EA50D9ED%3FfileId%3Dhrbgwrmsyohlkwnm' />Track starts in Sederes Pagasts, Ilukstes Novads, Latvia. Activity, suitable for walking, Length 11.58 km (one-way trip).</div>
	