Id: b353dc25-21fb-4ea1-a102-0e204c2cfc97
Title: "Quick update"
Published: "2012-04-28"
Slug: "2012-04-28 Quick update"
-
<p>загрузились и стартуем<br/><a href='https://www.facebook.com/photo.php?fbid=10150735157837886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150735157837886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-a.ak.fbcdn.net/hphotos-ak-prn1/534801_10150735157837886_762077885_9812179_690593600_n.jpg'/>
	