Id: f8cebc88-06eb-4a1b-88aa-d06078647ec6
Title: "Путешествие во францию – Лето 2012 (Millau регион Aveyron)"
Published: "2012-09-20"
Slug: "2012-09-20 Путешествие во францию – Лето 2012 _Millau регион Aveyron_"
-
<p>Макса почитаешь, так ваще крышу срывает, как человек отрывается :-)<br/>В пещеру я бы очень хотел слазить.<br/><a href='https://www.duhstranstviy.com/uBlogs/user/1/1032/#.UFrdM1yRl18.facebook'>https://www.duhstranstviy.com/uBlogs/user/1/1032/#.UFrdM1yRl18.facebook</a></p><div class='clearfix cite'>Millau расположен в регионе Aveyron и находится на пересечении рек Tarn и Dourbie. Многочисленные туристы приезжают в эти места для того что бы сплавиться на каноэ, полазить по скалам, полетать на</div>
	