Id: 8d3acad1-63f9-4e21-9e34-5ae684fb55f1
Title: "Wall Photos"
Published: "2012-02-06"
Slug: "2012-02-06 Wall Photos"
-
<p>Кошка по имени Вива любит кастрюли<br/><a href='http://www.facebook.com/photo.php?fbid=231258280295610&set=a.231258273628944.57954.100002343185379&type=1'>http://www.facebook.com/photo.php?fbid=231258280295610&set=a.231258273628944.57954.100002343185379&type=1</a></p>
	