Id: 9852be83-0cce-47f0-9896-8b157a5ccf3e
Title: "#оккупайАбай"
Published: "2012-08-18"
Slug: "2012-08-18 _оккупайАбай"
-
<p>Авторитетов и кумиров из людей делать не стоит, но тут картинка простая: к какому культурному лагерю вы принадлежите. <br/><a href='https://www.facebook.com/photo.php?fbid=352239441522367&set=a.305985109481134.72430.211072878972358&type=1'>https://www.facebook.com/photo.php?fbid=352239441522367&set=a.305985109481134.72430.211072878972358&type=1</a></p><img src='/files/https://photos-b.ak.fbcdn.net/hphotos-ak-ash3/539032_352239441522367_561384179_n.jpg'/>
	