Id: f6d0f701-3cac-47f3-9c57-0402edad7d93
Title: "Quick update"
Published: "2012-11-28"
Slug: "2012-11-28 Quick update"
-
<p>Теперь с нами кроме пицц -  бутафорские салаты!<br/><a href='https://www.facebook.com/photo.php?fbid=10151202789197886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151202789197886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-d.ak.fbcdn.net/hphotos-ak-ash4/305558_10151202789197886_632876451_n.jpg' />
	