Id: 410f9dba-d124-40a9-9bfe-0918c2031e47
Title: "Quick update"
Published: "2012-11-03"
Slug: "2012-11-03 Quick update"
-
<p>Андрей и Жанна<br/><a href='https://www.facebook.com/photo.php?fbid=10151168770867886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151168770867886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-b.ak.fbcdn.net/hphotos-ak-ash3/549158_10151168770867886_442329917_n.jpg' />
	