Id: 92ee3a2b-4e72-445e-8c14-4162d2fa5121
Title: "Super Size Me"
Published: "2012-02-01"
Slug: "2012-02-01 Super Size Me"
-
<p>Gave a 9 star rating to Super Size Me on IMDb.<br/><a href='https://www.imdb.com/rg/fb_oshare/rate/title/tt0390521'>https://www.imdb.com/rg/fb_oshare/rate/title/tt0390521</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=127059960673829&v=1&size=z&cksum=8c99b6a02c1b369d2b3489bf0e027c4b&src=http%3A%2F%2Fia.media-imdb.com%2Fimages%2FM%2FMV5BMTYyOTk4MjIxOF5BMl5BanBnXkFtZTcwMzk1NTUyMQ%40%40._V1._SX54_CR0%2C0%2C54%2C74_.jpg' style='float:left;'/>While examining the influence of the fast food industry, Morgan Spurlock personally explores the consequences on his health of a diet of solely McDonald's food for one month.</div>
	