Id: 24054b2d-07b6-4888-9009-59968b347aae
Title: "Quick update"
Published: "2012-02-12"
Slug: "2012-02-12 Quick update"
-
<p>Snowdrop live<br/><a href='https://www.facebook.com/photo.php?fbid=10150568193547886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150568193547886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-snc7/426492_10150568193547886_762077885_9265124_314726022_n.jpg'/>
	