Id: e9735cee-8300-4283-818d-a0d48600bd8f
Title: "Quick update"
Published: "2012-02-14"
Slug: "2012-02-14 Quick update"
-
<p>Специально для , братковская чилипица в своём праве<br/><a href='https://www.facebook.com/photo.php?fbid=10150572792747886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150572792747886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-snc7/430621_10150572792747886_762077885_9276510_1599280250_n.jpg'/>
	