Id: bd4ce3c5-9946-4b72-9b25-46d758a48ae0
Title: "Quick update"
Published: "2012-03-23"
Slug: "2012-03-23 Quick update"
-
<p>красотища, но на телефон не сфоткать<br/><a href='http://www.facebook.com/photo.php?fbid=10150650114472886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150650114472886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-a.ak.fbcdn.net/hphotos-ak-ash3/557192_10150650114472886_762077885_9535182_271001502_n.jpg'/>
	