Id: b2233dcf-6cb1-4010-a6d3-a75c4965b604
Title: "В Британии хотят создавать детей от трех родителей"
Published: "2012-01-29"
Slug: "2012-01-29 В Британии хотят создавать детей от трех родителей"
-
<p>Это - будущее, и оно уже наступило. Я встречаю его с распростёртыми объятиями!<br/><br/><a href='https://rus.delfi.lv/news/forte/science/v-britanii-hotyat-sozdavat-detej-ot-treh-roditelej.d?id=42083958'>https://rus.delfi.lv/news/forte/science/v-britanii-hotyat-sozdavat-detej-ot-treh-roditelej.d?id=42083958</a></p><div style='border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding:10px; display: block; border-top: black 1px solid; border-right: black 1px solid;'>Великобритания стала первой страной в мире, в которой вынесли на всеобщее обсуждение технологию соединения эмбрионов от трех родителей.</div>
	