Id: cd627e64-2373-48da-a85e-e5652632d33a
Title: "Dreamcatchers  Night"
Published: "2012-10-21"
Slug: "2012-10-21 Dreamcatchers  Night"
-
<p>Если кто живущий в Риге вдруг загорелся узнать, что же такое электронная музыка, и может ли она быть доброй и приятной, то наверное лучше эвента не найти :-)<br/><a href='http://www.facebook.com/events/375297842546399/'>http://www.facebook.com/events/375297842546399/</a></p><div class='clearfix cite'><img src='/files/http://profile.ak.fbcdn.net/hprofile-ak-snc7/592335_375297842546399_281579433_t.jpg' />Friday, October 26 at 9:00pm at De Puta Madre Penthouse</div>
	