Id: 809d94b8-0aca-402c-999c-3622c461c5f0
Title: "Рейтинг самых счастливых стран: Латвия замыкает список"
Published: "2012-04-05"
Slug: "2012-04-05 Рейтинг самых счастливых стран_ Латвия замыкает список"
-
<p>Я в последние пару дней так себя чувствую, что согласен на 100%<br/><br/><a href='http://rus.delfi.lv/news/daily/latvia/rejting-samyh-schastlivyh-stran-latviya-zamykaet-spisok.d?id=42262378'>http://rus.delfi.lv/news/daily/latvia/rejting-samyh-schastlivyh-stran-latviya-zamykaet-spisok.d?id=42262378</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDRG2fapdnPxDie&w=90&h=90&url=http%3A%2F%2Fg3.delfi.lv%2Fimages%2Fpix%2Ffile35237401_9af61f1f.jpg' style='float:left;'/>Самые счастливые страны находятся в Северной Европе. Первое место заняла Дания. За ней следуют Норвегия, Финляндия, Нидерланды и Швейцария. Их коэффициент счастья составляет 7,6 из 10 баллов. Латвия в этом списке занимает 116-м место, говорится в Докладе о мировом счастье, который был обнародовали н...</div>
	