Id: 1f311ea3-7716-4a7e-8cd8-144601d1be3c
Title: "FAQ: Общество переживаний"
Published: "2012-11-02"
Slug: "2012-11-02 FAQ_ Общество переживаний"
-
<p>В кои-то веки прочитал статью, в которой идеи новые, а не старые.<br/>Кстати, с этой точки зрения, получается, что общество отчасти приняло идеалы хиппи и прочих ньюэйджовцев  - важнее твои личные эмоции, чем реакция того самого общества. Следующая ступень - идеалы буддизма, когда и эмоции не важны. Впрочем, только ничтожная часть населения интересуется этим всем, остальные так в обществе потребления так и застряли. Плохого в этом ничего не вижу, впрочем, потому что прогресс в моём понимании возможен только при наличии потребления.<br/><br/><a href='http://postnauka.ru/faq/6214'>http://postnauka.ru/faq/6214</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQAYPsdiO61Ot9rU&w=90&h=90&url=http%3A%2F%2Fimg.postnauka.ru%2F2012%2F11%2Fsociaty-200x200.jpg' />7 фактов о трансформации жизненных установок современного человека   </div>
	