Id: 849bab06-095b-4403-ab2e-b8368720314c
Title: " Удачи вам, ребятки!.."
Published: "2012-11-26"
Slug: "2012-11-26  Удачи вам, ребятки_.."
-
<p>Мысли про общество потребления (которое лучше чем  многие другие сценарии) и про то, что мало что книги меняют в сознании, мне близки, ну и другие тоже.<br/><a href='https://www.itogi.ru/arts-exclus/2012/48/184612.html'>https://www.itogi.ru/arts-exclus/2012/48/184612.html</a></p><div class='clearfix cite'>Борис Стругацкий: «Я не жалуюсь на судьбу. Главное желание моей молодости — стать приличным писателем — сбылось»</div>
	