Id: e75ed8a2-e6e1-49bd-93d7-f4fd8c771f2f
Title: "Quick update"
Published: "2012-03-18"
Slug: "2012-03-18 Quick update"
-
<p>В depo столпотворение, любит наш народ ремонты<br/><a href='https://www.facebook.com/photo.php?fbid=10150641277697886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150641277697886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-ash4/429749_10150641277697886_762077885_9504288_564724335_n.jpg'/>
	