Id: e46240f3-4f1d-47d2-9e0d-f5103dc8ee02
Title: "В центре города снова торгуют легальной травкой"
Published: "2012-02-03"
Slug: "2012-02-03 В центре города снова торгуют легальной травкой"
-
<p>Синтетические каннабиноиды опасны, никто не спорит. А почему их курят? Потому что обычная трава (которая безопаснее алкоголя) запрещена. За что боролись, на то и напоролись.<br/><br/><a href='https://rus.delfi.lv/news/daily/criminal/v-centre-goroda-snova-torguyut-legalnoj-travkoj.d?id=42099074'>https://rus.delfi.lv/news/daily/criminal/v-centre-goroda-snova-torguyut-legalnoj-travkoj.d?id=42099074</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQAZ7rPuVJQy4W8d&w=90&h=90&url=http%3A%2F%2Fg1.delfi.lv%2Fimages%2Fpix%2Ffile38845219_6c679df8.jpg' style='float:left;'/>В Лиепае снова открылся магазинчик, где продают так называемые легальные наркотики. Об этом сообщает Курземес вардс.</div>
	