Id: f458e338-cdb3-4e44-92ce-ad6c5a74ecaa
Title: "CouchSurfing – The world’s largest travel community"
Published: "2012-09-20"
Slug: "2012-09-20 CouchSurfing – The world’s largest travel community"
-
<p>На коучсёрфинге студентки из Литвы хотят на выходные приехать. Если кто хочет попрактиковать английский, и пообщаться с молодыми интеллигентными девушками, или просто приобщиться к волшебному миру кочсёрфинга, сделайте аккаунт на www.couchsurfing.org, и напишите мне, а я уже их к вам направлю.<br/><a href='https://www.couchsurfing.org/'>https://www.couchsurfing.org/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQB4SeZikcFhlYGw&w=90&h=90&url=http%3A%2F%2Fwww.couchsurfing.org%2Fimages%2Fvideo-safety-alt2.jpg' />Time Magazine   Couch surfing isn't just a means of accommodation; it is an entirely new way to travel. You get to see the world through local residents, not hotel concierges or guidebooks. But what is most profound about the whole experience is the trust that naturally exists.</div>
	