Id: a8b3304a-c3b3-4f90-abcc-a0ca6f75f037
Title: "Eros Russe. Русский эрот не для дам / 1879"
Published: "2012-04-11"
Slug: "2012-04-11 Eros Russe. Русский эрот не для дам _ 1879"
-
<p>Смеялся<br/><br/><a href='https://lozenec.livejournal.com/1051.html'>https://lozenec.livejournal.com/1051.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQD7ZCM0lPzRk4IC&w=90&h=90&url=http%3A%2F%2Fi1087.photobucket.com%2Falbums%2Fj473%2Flozenec%2Feros+russe+1879%2Feros_russe_13.jpg+' style='float:left;'/>Русская поэзию 19 века, [censored]. Полное название книги: "Eros Russe. Русский эрот не для дам" Книга была издана в 1879 году в Женеве небольшим тиражом. Всего 100 …</div>
	