Id: 6e98a98f-5420-4b5d-a42c-4d35213fc18e
Title: "Quick update"
Published: "2012-04-02"
Slug: "2012-04-02 Quick update"
-
<p>треугольник<br/><a href='https://www.facebook.com/photo.php?fbid=10150669745717886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150669745717886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-g.ak.fbcdn.net/hphotos-ak-ash3/548651_10150669745717886_762077885_9605411_392250081_n.jpg'/>
	