Id: cf1a5afa-beaf-457c-b332-b0d3f5fc7a8c
Title: "Quick update"
Published: "2012-06-23"
Slug: "2012-06-23 Quick update"
-
<p>Для разнообразия решил попариться в прямом смысле<br/><a href='https://www.facebook.com/photo.php?fbid=10150934209692886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150934209692886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-ash3/581222_10150934209692886_618525360_n.jpg'/>
	