Id: 0d46d394-a080-4804-b9bc-9758f44710b8
Title: "Сущность советского строя"
Published: "2012-12-21"
Slug: "2012-12-21 Сущность советского строя"
-
<p>Вот я скорее с этой стороны баррикад, хотя и не стал бы так категорично выражаться как автор.<br/><a href='http://www.mojbred.com/3487.html'>http://www.mojbred.com/3487.html</a></p><div class='clearfix cite'>тот факт, что кто-то не есть Раб, причиняет советскому человеку невероятную боль. Как же так? Ведь советский человек бесплатно добывал нефть на Ямале во благо Власти, даром трудился на заводе во имя Правительства, сидит на копеечной пенсии, чтобы Повелитель мог купить новый Мерседес.

И вдруг появля...</div>
	