Id: ff2a49bf-0634-4224-9248-e329dfb48a96
Title: "Великое закрытие Жака Бенвениста"
Published: "2012-12-15"
Slug: "2012-12-15 Великое закрытие Жака Бенвениста"
-
<p><br/><a href='http://d3.ru/comments/392720/'>http://d3.ru/comments/392720/</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQD-HoQdT9D7X2LJ&w=90&h=90&url=http%3A%2F%2Fd3.ru%2Fi%2Flogo_retina.png' />Почти четверть века назад в авторитетнейшем научном журнале Nature вышла статья, грозившая, без малейшего преувеличения, перевернуть современную картину мира. Жак Бенвенист, звезда французской иммунологии, сообщил о феномене, вступавшем в противоречие не только с биологией, но и с самими основами хи...</div>
	