Id: a74d56a0-b867-4ab0-afc8-9939ae48007f
Title: "Timeline Photos"
Published: "2012-12-18"
Slug: "2012-12-18 Timeline Photos"
-
<p>Но классика лучше! Кто поддержит? :-D<br/><a href='https://www.facebook.com/photo.php?fbid=428992290488867&set=a.166432883411477.42671.165837320137700&type=1'>https://www.facebook.com/photo.php?fbid=428992290488867&set=a.166432883411477.42671.165837320137700&type=1</a></p><img src='/files/https://photos-g.ak.fbcdn.net/hphotos-ak-snc6/227019_428992290488867_1160147197_n.jpg' />
	