Id: afb249bd-8d6e-459a-98b5-b09d904ae440
Title: "Lenta.ru: Интернет: В Facebook появится платное продвижение записей"
Published: "2012-05-13"
Slug: "2012-05-13 Lenta.ru_ Интернет_ В Facebook появится платное продвижение записей"
-
<p>Когда возвращались из Черногории, обсуждали Фейсбук vs стендалоны и прочее. Все там хвалили фейсбук, и даже на само слово прайваси презрительно плевали.<br/>Будет вам вот такой фейсбук, тоже будете радоваться? <br/><br/><a href='https://www.lenta.ru/news/2012/05/11/makemoney/'>https://www.lenta.ru/news/2012/05/11/makemoney/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQCLp1W9dIDLIR9h&w=90&h=90&url=http%3A%2F%2Fimg.lenta.ru%2Fnews%2F2012%2F05%2F11%2Fmakemoney%2Fpicture.jpg' style='float:left;'/>Социальная сеть Facebook тестирует функцию платного продвижения записей пользователей. Суть услуги заключается в том, что автор записи сможет поднять ее выше в ленте новостей своих френдов. Компания пока экспериментирует со стоимостью услуги. Когда она будет запущена официально, не сообщается.</div>
	