Id: f1df69e1-5b09-442b-aca7-cb77b1c8a096
Title: "Золотой состав ВИА Гра - Good morning, папа! [Премия Муз-ТВ 2003]"
Published: "2012-12-07"
Slug: "2012-12-07 Золотой состав ВИА Гра - Good morning, папа_ _Премия Муз-ТВ 2003_"
-
<p>Смотреть на полуголых девок приятно, не скрою. А когда был моложе, было бы более-менее всё равно, потому что был куда более гиком и ценности были другие. И сдаётся мне, что раньше было лучше.<br/><a href='http://www.youtube.com/watch?v=N-cyhE2EiRE&feature=share'>http://www.youtube.com/watch?v=N-cyhE2EiRE&feature=share</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQB6hfw8T2RDSyWI&w=130&h=130&url=http%3A%2F%2Fi3.ytimg.com%2Fvi%2FN-cyhE2EiRE%2Fmqdefault.jpg' />Анна Седокова, Надежда Грановская, Вера Брежнева 5 июня, спортивный комплекс «Олимпийский», первая ежегодная национальная телевизионная премия в области попу...</div>
	