Id: 3b5b861f-fedc-4b81-8c58-8212d41b4cc0
Title: "Первая ласточка"
Published: "2012-11-12"
Slug: "2012-11-12 Первая ласточка"
-
<p>Умру от смеха, в России ввели цензуру на интернет, но сам список забаненых сайтов утёк и представляет из себя наполовину руководство на тему "Где купить наркоты в инете". Как обычно, в России всё делается формально, и результат противоположный тому, чего хотели добиться.<br/><br/>P.S. Под горячую руку попали также непричастные форумы и сборник народной мудрости Луркмор, что обидно.<br/><a href='https://robinbobin.livejournal.com/2458093.html'>https://robinbobin.livejournal.com/2458093.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQAMLWii-8DXIqO1&w=90&h=90&url=http%3A%2F%2Fic.pics.livejournal.com%2Fntv%2F14201556%2F402256%2F402256_original.png+' />Оригинал взят у ntv в Первая ласточка Well, it's official. В России без суда и следствия заблокирован популярный и до этого успевший набить оскомину государству  целой…</div>
	