Id: 675916b0-65c6-4b22-9737-45e1385d27fd
Title: "Timeline Photos"
Published: "2012-11-05"
Slug: "2012-11-05 Timeline Photos"
-
<p>Нет вреда от религии?<br/>А такого вот не хотели: аппендицит родители хотели вылечить молитвой, сын умер в мучениях. И таких субчиков в США хватает.<br/><a href='https://www.facebook.com/photo.php?fbid=10151259565915155&set=a.496176595154.294030.8798180154&type=1'>https://www.facebook.com/photo.php?fbid=10151259565915155&set=a.496176595154.294030.8798180154&type=1</a></p><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-ash4/404_10151259565915155_1141501610_n.jpg' />
	