Id: 4ccab3e9-cbf0-416f-8e01-dcde6b921f8f
Title: "Quick update"
Published: "2012-07-29"
Slug: "2012-07-29 Quick update"
-
<p>Погуляли по ночному городу. Жизнь кипит: бары, пабы, дискотеки. Слушали ска, даб, металл и акустику, ели итальянское мороженое, раздобыл забесплатно штаны, а то все порвались в горах.<br/><a href='https://www.facebook.com/photo.php?fbid=10151009757382886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151009757382886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-b.ak.fbcdn.net/hphotos-ak-snc7/318770_10151009757382886_359303519_n.jpg'/>
	