Id: 44fa2d45-a4d5-4e4f-b907-2fd5b5cd5339
Title: "Lenta.ru: В России: Дагестанский исполнитель шансона засудил союз правообладателей Михалкова"
Published: "2012-03-15"
Slug: "2012-03-15 Lenta.ru_ В России_ Дагестанский исполнитель шансона засудил союз правообладателей Михалк"
-
<p>Так их, мочи их же оружием!<br/><a href='http://lenta.ru/news/2012/03/14/court/'>http://lenta.ru/news/2012/03/14/court/</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQBPXgtXjnrUwhQF&w=90&h=90&url=http%3A%2F%2Fimg.lenta.ru%2Fnews%2F2012%2F03%2F14%2Fcourt%2Fpicture.jpg' style='float:left;'/>Акушинский районный суд Дагестана по иску исполнителя шансона Магомедрасула Курбанмагомедова признал незаконной регистрацию Российского союза правообладателей (РСП), который возглавляет актер и режиссер Никита Михалков. Представитель союза назвал решение суда абсурдным и заявил, что РСП будет обжало...</div>
	