Id: d7dd9eed-8b21-4bec-89df-377b4ffcca66
Title: "Литр благодарности"
Published: "2012-11-05"
Slug: "2012-11-05 Литр благодарности"
-
<p>Может у меня тоже с ферментом проблемы?<br/>Вчера чуть не помер от пары бокалов всего лишь.<br/><a href='https://zadolba.li/story/9611'>https://zadolba.li/story/9611</a></p><div class='clearfix cite'>Я мастер на все руки. Это не похвала себя любимого, а констатация факта. Я могу поменять прокладку в кране, поклеить обои, починить розетку или электроприбор…</div>
	