Id: 764e4bc1-3ccb-4ff3-beb6-6757aa26bcf6
Title: "This Is My Life Firewater listen or download mp3 for free on Prostopleer"
Published: "2012-04-24"
Slug: "2012-04-24 This Is My Life Firewater listen or download mp3 for free on Prostopleer"
-
<p><br/><br/>I've never cared for authority<br/>I've never felt part of the majority<br/>Well I lost my home <br/>And I lost my wife<br/>This is no joke<br/>Yeah, this is my life<br/>This is my life<br/><br/>New suit of clothes, same emperor<br/>Some people think<br/>Think that they're superior<br/>But you can cut them down<br/>With a rusty knife<br/>This is no joke<br/>Yeah, this is my life<br/>This is my life<br/><br/>I'm just one man<br/>What can I do?<br/>Against an army<br/>An army made of you<br/>Time marches on<br/>To a drum and fife<br/>This is no joke<br/>Yeah, this is my life<br/>This is my life<br/><a href='https://prostopleer.com/tracks/4439202vAdG'>https://prostopleer.com/tracks/4439202vAdG</a></p><div class='clearfix cite'>Download song This Is My Life Firewater. Download all mp3s performed by Firewater</div>
	