Id: ede443b3-645b-4e64-a553-7c2e8e306032
Title: "Quick update"
Published: "2012-05-30"
Slug: "2012-05-30 Quick update"
-
<p>дверная ручка в офисе<br/><a href='https://www.facebook.com/photo.php?fbid=10150883143687886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150883143687886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-d.ak.fbcdn.net/hphotos-ak-ash3/575104_10150883143687886_762077885_10070358_984599731_n.jpg'/>
	