Id: a4d426d8-9344-42b6-8746-f8a09bdf1166
Title: "Вопросы священнику РПЦ: Блуд"
Published: "2012-09-12"
Slug: "2012-09-12 Вопросы священнику РПЦ_ Блуд"
-
<p>Мой мозг не выдержит этой реальности, дайте другой глобус<br/><br/><a href='https://www.truechristianity.info/ask_priest_fornication.php'>https://www.truechristianity.info/ask_priest_fornication.php</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQApRBP25B57t_wz&w=90&h=90&url=http%3A%2F%2Fwww.truechristianity.info%2Fimg%2Fcollage_02.jpg' />Ответы священника РПЦ на вопросы блуда, онанизма, гомосексуализма</div>
	