Id: a3a62e42-40ad-4165-97c9-2968c7ff1c46
Title: "Даугавпилс готовится провести этап Кубка мира по бегу на 50 км"
Published: "2012-08-11"
Slug: "2012-08-11 Даугавпилс готовится провести этап Кубка мира по бегу на 50 км"
-
<p>На сей раз я смогу побежать, а не уныло сидеть за компом<br/><a href='https://www.nasha.lv/rus/novosti/news/sport/113455.html'>https://www.nasha.lv/rus/novosti/news/sport/113455.html</a></p><div class='clearfix cite'>Даугавпилс готовится провести этап Кубка мира по бегу на 50 км</div>
	