Id: 4664cd1b-8512-40fa-8806-a8818dc260d0
Title: "Wall Photos"
Published: "2012-09-14"
Slug: "2012-09-14 Wall Photos"
-
<p>Вот он, параплан который я всем обещал :-)<br/><a href='http://www.facebook.com/photo.php?fbid=472843342749325&set=a.199265133440482.50485.100000709905743&type=1'>http://www.facebook.com/photo.php?fbid=472843342749325&set=a.199265133440482.50485.100000709905743&type=1</a></p><img src='/files/http://photos-e.ak.fbcdn.net/hphotos-ak-ash4/262947_472843342749325_809602635_n.jpg' />
	