Id: e0acb7b4-8366-45eb-a435-a142dad68bd6
Title: "Das Motorola DEFY+ auf Polarexpedition mit Fox Challenge"
Published: "2012-04-03"
Slug: "2012-04-03 Das Motorola DEFY_ auf Polarexpedition mit Fox Challenge"
-
<p>Поняли, какой у меня  модный телефон? Можно брать на север и юг, под воду и всюду вообще, и карты я научился закачивать какие угодно туда!<br/><a href='http://www.facebook.com/photo.php?fbid=10150741040505499&set=a.10150741039350499.455694.121867580498&type=1'>http://www.facebook.com/photo.php?fbid=10150741040505499&set=a.10150741039350499.455694.121867580498&type=1</a></p><div class='clearfix cite'>Februar 2012</div>
	