Id: e8a44418-d316-41b9-824c-ec03729a0e81
Title: "Quick update"
Published: "2012-02-01"
Slug: "2012-02-01 Quick update"
-
<p>Ничего такой чай, несмотря на тупое маркетинговое название<br/><a href='https://www.facebook.com/photo.php?fbid=10150542096602886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150542096602886&set=a.10150121112112886.295082.762077885&type=1</a></p>
	