Id: d4dc43a0-3008-4a1b-9b87-cc05bfd2a1f8
Title: "Quick update"
Published: "2012-03-08"
Slug: "2012-03-08 Quick update"
-
<p>Swedbank жжот<br/><a href='https://www.facebook.com/photo.php?fbid=10150621714742886&set=a.10150454953587886.379697.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150621714742886&set=a.10150454953587886.379697.762077885&type=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-ash4/421885_10150621714742886_762077885_9435367_1654966322_n.jpg'/>
	