Id: 61b45433-cc88-49c5-a4a5-f77ca235322d
Title: "http://www.blogcdn.com/www.slashfood.com/media/2011/02/peta-tv-commercial-sex-with-vegetables-345.jp"
Published: "2012-02-17"
Slug: "2012-02-17 http___www.blogcdn.com_www.slashfood.com_media_2011_02_peta-tv-commercial-sex-with-vegeta"
-
<p>А вы говорите, зоофилы, капрофаги. Счас модно секс с овощами!<br/><br/><br/>http://www.styleite.com/wp-content/uploads/2011/02/peta.jpg<br/><br/><a href='http://www.blogcdn.com/www.slashfood.com/media/2011/02/peta-tv-commercial-sex-with-vegetables-345.jpg'>http://www.blogcdn.com/www.slashfood.com/media/2011/02/peta-tv-commercial-sex-with-vegetables-345.jpg</a></p><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQD_JkspcNq9h3cJ&w=90&h=90&url=http%3A%2F%2Fwww.blogcdn.com%2Fwww.slashfood.com%2Fmedia%2F2011%2F02%2Fpeta-tv-commercial-sex-with-vegetables-345.jpg' style='float:left;'/>
	