Id: 6cfdd9dd-7101-49ba-b275-83625b92c8e3
Title: "Quick update"
Published: "2012-05-20"
Slug: "2012-05-20 Quick update"
-
<p>кот ушакова<br/><a href='http://www.facebook.com/photo.php?fbid=10150857342152886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150857342152886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-g.ak.fbcdn.net/hphotos-ak-ash3/551739_10150857342152886_762077885_9986576_1557316446_n.jpg'/>
	