Id: 764b7203-97f3-41b4-ae73-1ba09ba00302
Title: "Влиятельный папа собирается отмазать убийцу Элины Пупини!"
Published: "2012-05-23"
Slug: "2012-05-23 Влиятельный папа собирается отмазать убийцу Элины Пупини_"
-
<p>Что интересно, люди сразу записали человека в убийцы - без заключения следствия, без знания вообще каких-либо обстоятельств и фактов. Если ты был с человеком наедине рядом и он умер - ты убийца. Можешь сразу вешаться или уезжать в другое место - ничто тебя в глазах обывателя не спасёт. Независимо от того, кто в данном случае прав или виноват.<br/><a href='https://www.nasha.lv/rus/blog/blogs/Petra/105316.html'>https://www.nasha.lv/rus/blog/blogs/Petra/105316.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDNzjJZWZO4Isgy&w=90&h=90&url=http%3A%2F%2Fwww.nasha.lv%2Fimages%2Fblogs%2FPetra%2Fimage%2Funtitled%282%29.jpg' style='float:left;'/>Влиятельный папа собирается отмазать убийцу Элины Пупини! </div>
	