Id: 8ca52f7e-fa6d-44cd-bb59-a8012274fc5f
Title: "Aquarium - Radio Aerostat vol. 10"
Published: "2012-05-17"
Slug: "2012-05-17 Aquarium - Radio Aerostat vol. 10"
-
<p>Во БГ одухотворяет!<br/><br/>Музыка выше любого искусства; музыка превосходит даже религию. Ибо музыка возвышает душу человека даже больше, чем так называемые внешние формы религии.<br/><br/>Это не значит, что музыка может занять место религии; не каждая душа настроена на тональность музыки, и не всякая музыка так высока, чтобы поднять душу выше, чем это может сделать религия. <br/>Но только музыка может поднять человека выше любой формы.<br/><br/>Отсюда<br/><br/><a href='https://www.aquarium.ru/misc/aerostat/aerostat10.html'>https://www.aquarium.ru/misc/aerostat/aerostat10.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQBobksEiDrP8dTY&w=90&h=90&url=http%3A%2F%2Fwww.aquarium.ru%2Fmisc%2Faerostat%2F..%2F..%2Fkartinki%2Fboy2.gif' style='float:left;'/>Что  	такое музыка? В чем ее цель и предназначение? Почему последовательность  	звуков разных тембров заставляет нас плакать или восторгаться? </div>
	