Id: 507a849d-8256-45b3-8f0a-cb2d184786fb
Title: "Религия"
Published: "2012-09-05"
Slug: "2012-09-05 Религия"
-
<p>Откуда берётся религия, и почему все мы религиозны, просто в разном смысле. Как всегда у Стелазина, читать интересно очень, но сколько тут правды - понять  без подготовки трудно. Воспринимайте осторожно.<br/><br/><a href='https://stelazin.livejournal.com/101755.html#cutid1'>https://stelazin.livejournal.com/101755.html#cutid1</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQAnlM_yQRMlEImr&w=90&h=90&url=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fb%2Fb2%2FTemporo-parietal_junction_animation_small.gif+' style='float:left;'/>Хочу сразу оговорить,- тут не будет рассматриваться содержательная составляющая религиозных учений. Также не должно интересовать, какая религия самая …</div>
	