Id: 832965aa-4940-428c-93f7-46db87db0733
Title: "Inadequate People"
Published: "2012-03-18"
Slug: "2012-03-18 Inadequate People"
-
<p>Gave an 8 star rating to Inadequate People on IMDb.<br/><a href='http://www.imdb.com/rg/fb_oshare/rate/title/tt1722450'>http://www.imdb.com/rg/fb_oshare/rate/title/tt1722450</a></p><div class='clearfix cite'><img src='/files/http://platform.ak.fbcdn.net/www/app_full_proxy.php?app=127059960673829&v=1&size=z&cksum=64b38726067d60d35570383d3aa186d4&src=http%3A%2F%2Fia.media-imdb.com%2Fimages%2FM%2FMV5BMTQ4NjIyODM0OV5BMl5BanBnXkFtZTcwNjA0NzYxNQ%40%40._V1._SY74_CR1%2C0%2C54%2C74_.jpg' style='float:left;'/>Adequacy is relative.Vitalik the main character of the movie seems to be pretty normal. With a respectable office job...</div>
	