Id: f5b521b1-14ec-4105-aef2-97480a6a64cf
Title: "Quick update"
Published: "2012-06-15"
Slug: "2012-06-15 Quick update"
-
<p>внезапно на дороге ели<br/><a href='http://www.facebook.com/photo.php?fbid=10150916356872886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150916356872886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-ash3/601257_10150916356872886_1756858888_n.jpg'/>
	