Id: 2f2fa6a6-4cd8-4d7f-a8de-984c6fa09e9d
Title: "Man on Wire"
Published: "2012-02-01"
Slug: "2012-02-01 Man on Wire"
-
<p>Gave an 8 star rating to Man on Wire on IMDb.<br/><a href='https://www.imdb.com/rg/fb_oshare/rate/title/tt1155592'>https://www.imdb.com/rg/fb_oshare/rate/title/tt1155592</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=127059960673829&v=1&size=z&cksum=67124e246ac9d94a50d8eaacad5530f5&src=http%3A%2F%2Fia.media-imdb.com%2Fimages%2FM%2FMV5BMTMxNTk3NDY1NV5BMl5BanBnXkFtZTcwNDk0ODg3MQ%40%40._V1._SX54_CR0%2C0%2C54%2C74_.jpg' style='float:left;'/>A look at tightrope walker Philippe Petit's daring, but illegal, high-wire routine performed between New York City's World Trade Center's twin towers in 1974, what some consider, "the artistic crime of the century."</div>
	