Id: da9c34c2-ac76-416f-ae95-fa961e7c0c44
Title: "2012.03.17. d. Kiaunos upė"
Published: "2012-03-21"
Slug: "2012-03-21 2012.03.17. d. Kiaunos upė"
-
<p>Лучшие моменты Подснежника<br/><a href='https://www.facebook.com/photo.php?fbid=329950737063628&set=a.329949197063782.71189.100001461134822&type=1'>https://www.facebook.com/photo.php?fbid=329950737063628&set=a.329949197063782.71189.100001461134822&type=1</a></p><div class='clearfix cite'>Cплав по реке Kiaunos в Литве туристического клуба "Подснежник". Использовали байдарки Šakarvos Valtinės baidarių ir sodybos nuoma. Спасибо всем!!</div>
	