Id: f1f0b091-fce4-4877-9d7d-243968031307
Title: "Quick update"
Published: "2012-03-24"
Slug: "2012-03-24 Quick update"
-
<p>пикник в разгаре<br/><a href='https://www.facebook.com/photo.php?fbid=10150653838877886&set=a.10150121112112886.295082.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10150653838877886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-prn1/535423_10150653838877886_762077885_9546675_790209613_n.jpg'/>
	