Id: 68adc39e-6e11-48f9-961b-cce16ff2f033
Title: "Quick update"
Published: "2012-02-19"
Slug: "2012-02-19 Quick update"
-
<p>Snowdrop live skiing<br/><a href='http://www.facebook.com/photo.php?fbid=10150586237092886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150586237092886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-f.ak.fbcdn.net/hphotos-ak-ash4/396203_10150586237092886_762077885_9313238_2147080717_n.jpg'/>
	