Id: 84438693-f077-410b-997b-d9fcb1d5f556
Title: "Доверие и порядочность « Записки Дениса ЯЦУТКО"
Published: "2013-03-14"
Slug: "2013-03-14 Доверие и порядочность « Записки Дениса ЯЦУТКО"
-
<p>Для некоторых моих друзей<br/><a href='https://blog.yatsutko.net/2119'>https://blog.yatsutko.net/2119</a></p><div class='clearfix cite'>Что мне особенно понравилось в Дании – люди там доверяют друг другу. Мы ездили на метро, на пригородном (S-Tog) и провинциальном районном (Lokalbanen) поездах – нигде нет никаких турникетов, и только на локалбанене ходят контролёры. То есть, купил билет, сел и едешь. Билет исключительно на твоей сов...</div>
	