Id: 91f8c533-70cc-4d10-8af0-a08b8bfbc406
Title: "Shared from a Personal Document"
Published: "2013-08-23"
Slug: "2013-08-23 Shared from a Personal Document"
-
<p>baader mienhof again<br/><a href='http://amzn.com/k/mRVIWikiRoOgPoNR4IUZog'>http://amzn.com/k/mRVIWikiRoOgPoNR4IUZog</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />   Нам предложили прослушать выступление невысокого коренастого человека по имени С. Н. Гоэнка, который прямо-таки светился счастьем. Он собирался поделиться с нами тем, как отыскал душевный покой, здоровье и счастье в древней традиции медитации випассана.</div>
	