Id: 15e77b6d-a466-4c41-bc5e-8c8c9614e123
Title: "Quick update"
Published: "2013-01-29"
Slug: "2013-01-29 Quick update"
-
<p>вот чем реально в бинитексе занимаются, при попустительстве и даже участии директора<br/><a href='https://www.facebook.com/photo.php?fbid=10151300571082886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151300571082886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-d.ak.fbcdn.net/hphotos-ak-ash4/408456_10151300571082886_2030820077_n.jpg' />
	