Id: 4148a717-637d-461b-99f1-020568908c6b
Title: "Крайне, крайне, крайне поучительно!…"
Published: "2013-01-26"
Slug: "2013-01-26 Крайне, крайне, крайне поучительно_…"
-
<p>К вопросу о беспокойном характере. Вопрос этот муссируется мной в разных ракурсах последние месяцы. Это исследование подтверждает мои воззрения и опасения.<br/><a href='https://utro-vecher.livejournal.com/1755177.html'>https://utro-vecher.livejournal.com/1755177.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQAecF883BISyfmy&w=90&h=90&url=http%3A%2F%2Fl-stat.livejournal.com%2Fimg%2Ficons%2Ffacebook-lj.png%3Fv%3D9806' />"The British Journal Of Psychiatry" , Michael King, Louise Marston, Sally McManus, Terry Brugha, Howard Meltzer and Paul Bebbington, "Religion, spirituality and mental health: results from a national …</div>
	