Id: 7ae84ab5-b6f8-4905-9b43-e251a00ed854
Title: "Quick update"
Published: "2013-01-28"
Slug: "2013-01-28 Quick update"
-
<p>оранжевые кругляши в готовности закидывания в топки биороботов<br/><a href='http://www.facebook.com/photo.php?fbid=10151297516802886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151297516802886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-ash4/321312_10151297516802886_1554956813_n.jpg' />
	