Id: abadcabd-a719-4b54-91cd-e5e60c3cf1db
Title: "Quick update"
Published: "2013-05-02"
Slug: "2013-05-02 Quick update"
-
<p>Приключения и опасности<br/><a href='https://www.facebook.com/photo.php?fbid=10151478097642886&set=pcb.10151478105727886&type=1&relevant_count=9'>https://www.facebook.com/photo.php?fbid=10151478097642886&set=pcb.10151478105727886&type=1&relevant_count=9</a></p><img src='/files/https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-frc1/575460_10151478097642886_969448379_n.jpg' />
	