Id: a49f15bc-7729-410b-8c00-3159c24b99ab
Title: "Laucese"
Published: "2013-04-08"
Slug: "2013-04-08 Laucese"
-
<p>Лодки для нюней, радикальные характеры валят пешком!<br/><a href='https://www.facebook.com/photo.php?fbid=10151576070419309&set=a.10151576069389309.1073741829.781409308&type=1'>https://www.facebook.com/photo.php?fbid=10151576070419309&set=a.10151576069389309.1073741829.781409308&type=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-ash3/539727_10151576070419309_518240626_n.jpg' />
	