Id: 6e44901a-cf5e-49ec-96fe-352ab53dc28a
Title: "Edwin Koen"
Published: "2013-06-04"
Slug: "2013-06-04 Edwin Koen"
-
<p>С днём рождения, Эдвин!<br/><a href='http://www.facebook.com/photo.php?fbid=10151530121052886&set=a.10150454953582886.379696.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10151530121052886&set=a.10150454953582886.379696.762077885&type=1</a></p><div class='clearfix cite'><img src='/files/https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-ash3/946657_10151530121052886_487592508_n.jpg' />Originally posted on Edwin's wall</div>
	