Id: 7eeedd67-8e7f-4c0c-b861-5e015ffaa520
Title: "Vietnam.mp4"
Published: "2013-09-22"
Slug: "2013-09-22 Vietnam.mp4"
-
<p>Ностальгия!<br/><a href='https://www.youtube.com/watch?v=XhZPGY2OaYY'>https://www.youtube.com/watch?v=XhZPGY2OaYY</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBh_2xwZ4x-98G-&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FXhZPGY2OaYY%2Fhqdefault.jpg%3Ffeature%3Dog' />Vietnam bicycle trip in 2011 Sapa, Fanxipan, Hanoi</div>
	