Id: 2e0571b6-fa28-46aa-8c53-7d93199a5503
Title: "Реклама того не стоит - Статьи"
Published: "2013-01-31"
Slug: "2013-01-31 Реклама того не стоит - Статьи"
-
<p>Для  Svetlana Semeshchenko<br/><a href='https://www.adme.ru/articles/reklama-togo-ne-stoit-462505/'>https://www.adme.ru/articles/reklama-togo-ne-stoit-462505/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQBpCxLz98PAGRDe&w=90&h=90&url=http%3A%2F%2Ffiles.adme.ru%2Ffiles%2Fnews%2Fpart_46%2F462505%2Fpreview-320x260.jpg' />Посмертное признание арт-директора из Новой Зеландии, 30 лет проработавшего в рекламе и скончавшегося от рака 3 месяца назад.</div>
	