Id: 7624984a-0598-428f-82b0-0e2af37f6f05
Title: "Quick update"
Published: "2013-04-08"
Slug: "2013-04-08 Quick update"
-
<p>Идет по хардкору<br/><a href='https://www.facebook.com/photo.php?fbid=10151441375987886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151441375987886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-b.ak.fbcdn.net/hphotos-ak-ash3/540689_10151441375987886_770268828_n.jpg' />
	