Id: 41d44a79-e35f-45bd-8651-b7509cc99cdc
Title: "о шаблонах в программировании"
Published: "2013-03-05"
Slug: "2013-03-05 о шаблонах в программировании"
-
<p>Глубоко и интересно.<br/><a href='https://avva.livejournal.com/2574958.html'>https://avva.livejournal.com/2574958.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQBeOl77hbylaAiD&w=154&h=154&url=http%3A%2F%2Fic.pics.livejournal.com%2Favva%2F111931%2F30029%2F30029_original.png' />Думаю, в программировании есть полезные шаблоны мышления. Только это не приевшиеся и по большей части бесполезные design patterns, а нечто более фундаментальное и …</div>
	