Id: 00edb08f-bc8c-451e-b15e-99126ec36fd6
Title: "Quick update"
Published: "2013-03-05"
Slug: "2013-03-05 Quick update"
-
<p>Коллеги видят челлендж, удержаться не могут<br/><a href='http://www.facebook.com/photo.php?fbid=10151386531947886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151386531947886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-a.ak.fbcdn.net/hphotos-ak-prn1/72414_10151386531947886_1001032575_n.jpg' />
	