Id: 64ffa5be-e44a-4f45-88ab-23f5616c1d64
Title: "Quick update"
Published: "2013-01-12"
Slug: "2013-01-12 Quick update"
-
<p>Программисты работают, а менеджер стенку подпирает<br/><a href='http://www.facebook.com/photo.php?fbid=10151268858042886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151268858042886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-snc6/226793_10151268858042886_1452492557_n.jpg' />
	