Id: 8427b570-317a-42ae-9497-f94d27bc7c14
Title: "Депутат Мизулина требует запретить неестественные способы рождения детей"
Published: "2013-11-12"
Slug: "2013-11-12 Депутат Мизулина требует запретить неестественные способы рождения детей"
-
<p>Для консерваторов и поцтреотов во френдах - очередной наброс ваших сторонников.<br/>Мордор такой Мордор. Четыре класса церковной школы, пост и молитва. Удивительно, как эти любители натурального и православного до сих пор ракетоносители не запретили, они же корябают небесную твердь.<br/><a href='http://www.newsru.com/russia/10nov2013/mizulina.html'>http://www.newsru.com/russia/10nov2013/mizulina.html</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBGf-dbeyNBSouc&w=154&h=154&url=http%3A%2F%2Fimage.newsru.com%2Fpict%2Fid%2Flarge%2F1608863_20131110170725.gif' />Председатель думского комитета по вопросам семьи сравнивает суррогатное материнство с ядерным оружием - "это явление, которое грозит вымиранием не только России, но и человечеству в целом".</div>
	