Id: 2c1f18e4-9838-43bc-9138-061e8aea6095
Title: "Цветы для Элджернона (fb2) | Либрусек"
Published: "2013-02-05"
Slug: "2013-02-05 Цветы для Элджернона _fb2_ _ Либрусек"
-
<p>В последний год чувствую себя как герой книги "Цветы для Элджернона", причём в 2011 и начале 2012 был пик, а сейчас провал обратно в небытие.<br/><br/><a href='https://lib.rus.ec/b/197708'>https://lib.rus.ec/b/197708</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDQfu6DWbUivmrX&w=90&h=90&url=http%3A%2F%2Fposters.ec%2Fcover%2F197708' />Тридцать лет назад это считалось фантастикой. Тридцать лет назад это читалось как фантастика. Исследующая и расширяющая границы жанра, жадно впитывающая всевозможные новейшие веяния, примеряющая общечеловеческое лицо, отважно игнорирующая каинову печать «жанрового гетто». Сейчас это воспринимается к...</div>
	