Id: 2a34f5d0-147f-4d5c-8720-cb56ab7406cb
Title: "О еде и сексе"
Published: "2013-01-29"
Slug: "2013-01-29 О еде и сексе"
-
<p>Последний абзац мне тоже в голову приходил :-)<br/><a href='http://www.snob.ru/profile/23719/blog/56950'>http://www.snob.ru/profile/23719/blog/56950</a></p><div class='clearfix cite'>Перед обедом коллеги обычно говорят о еде: советуют друг друг другу отличные рестораны и делятся рецептами вкусных блюд.  Перед…</div>
	