Id: 2c7de00c-7951-4479-aa26-66957414e04a
Title: "Shared from a Personal Document"
Published: "2013-03-12"
Slug: "2013-03-12 Shared from a Personal Document"
-
<p>Unexpected bit of history<br/><a href='http://amzn.com/k/QlcIJG9iTOGBgXdEkDC01A'>http://amzn.com/k/QlcIJG9iTOGBgXdEkDC01A</a></p><div class='clearfix cite'><img src='/files/http://platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />Н о н к о н ф о р м и с ты — британские протестанты, не признававшие власти Англикан- ской церкви (пресвитерианцы, баптисты, квакеры и др.). — Примеч. перев.</div>
	