Id: 57c32dd3-65e4-4d6e-b78e-e3e73eb8afc6
Title: "Quick update"
Published: "2013-06-11"
Slug: "2013-06-11 Quick update"
-
<p>Все уже билеты купили?<br/>На сей раз онлайн продают!<br/><a href='http://www.facebook.com/events/317782908324647/'>http://www.facebook.com/events/317782908324647/</a></p>
	