Id: 362f7783-925d-4f17-af34-ab26056b209d
Title: "Ja Tu mīli, tad šis ir domāts Tev!"
Published: "2013-01-30"
Slug: "2013-01-30 Ja Tu mīli, tad šis ir domāts Tev_"
-
<p>Кто в кино хочет?<br/><a href='https://www.facebook.com/photo.php?fbid=333770593395935&set=a.333770503395944.65613.171710666268596&type=1'>https://www.facebook.com/photo.php?fbid=333770593395935&set=a.333770503395944.65613.171710666268596&type=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-snc7/394865_333770593395935_1303647707_n.jpg' />
	