Id: a2f38cd1-c76f-4a24-b1a4-8356f0312636
Title: "HE'S THE COMPUTER MAN"
Published: "2013-01-03"
Slug: "2013-01-03 HE_S THE COMPUTER MAN"
-
<p>Про вас оказывается крутая песня есть, Juris Krumgolds, Vladislav Kugelevich, Andrei Ayanami<br/><a href='https://www.youtube.com/watch?v=i1IqqlW1U4k'>https://www.youtube.com/watch?v=i1IqqlW1U4k</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQA1NgDGE6uHdG1d&w=130&h=130&url=http%3A%2F%2Fi2.ytimg.com%2Fvi%2Fi1IqqlW1U4k%2Fmqdefault.jpg' />This is scary IT video circa 1998.</div>
	