Id: 52fd4a0b-f70f-4482-9451-95eedcb80e97
Title: "Quick update"
Published: "2013-05-03"
Slug: "2013-05-03 Quick update"
-
<p>Дождь не помеха<br/><a href='http://www.facebook.com/photo.php?fbid=10151479298607886&set=pcb.10151479300737886&type=1&relevant_count=9'>http://www.facebook.com/photo.php?fbid=10151479298607886&set=pcb.10151479300737886&type=1&relevant_count=9</a></p><img src='/files/https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-prn1/945759_10151479298607886_1701690376_n.jpg' />
	