Id: d200e435-ee74-4c8f-9e0d-941854d45993
Title: "Facebook Yoga  –  The Bygone Bureau"
Published: "2013-01-25"
Slug: "2013-01-25 Facebook Yoga  –  The Bygone Bureau"
-
<p>Периодически практикую, но это ещё сложнее настоящей йоги.<br/><a href='https://bygonebureau.com/2013/01/24/facebook-yoga/'>https://bygonebureau.com/2013/01/24/facebook-yoga/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQB6JfSyIsepXGne&w=90&h=90&url=http%3A%2F%2Fbygonebureau.com%2Fwp-content%2Fuploads%2F2013%2F01%2Ffacebook_1.png' />Facebook YogaCasey RandMental, physical, and spiritual wellness, now from the comfort of your worthless desk job.Come to a comfortable seated position. Allow your sitbones to sink deep into your Herman Miller chair. Let the regional marketing world outside you melt away. Release any tension you migh...</div>
	