Id: ba6e9d39-5e71-4b6d-9c7b-4679e8f8730e
Title: "Не Совершай Ошибку / Хорватия на майские 2013"
Published: "2013-05-23"
Slug: "2013-05-23 Не Совершай Ошибку _ Хорватия на майские 2013"
-
<p>Макс соорудил живой такой клип про наше путешествие в Хорватию, с резкими художественными приёмами, прямо андерграунд :-)<br/><a href='https://vimeo.com/66768556'>https://vimeo.com/66768556</a></p><div class='clearfix cite'><img src='/files/https://s-platform.ak.fbcdn.net/www/app_full_proxy.php?app=19884028963&v=1&size=p&cksum=8df75fe7cc3b73f05a266e518b83c69a&src=http%3A%2F%2Fb.vimeocdn.com%2Fts%2F438%2F346%2F438346298_1280.jpg' />Телепортация из Латвийской весны в Хорватскую</div>
	