Id: 0a4bd840-1129-41b0-a469-6f8bc4221292
Title: "Shared from a Personal Document"
Published: "2013-04-14"
Slug: "2013-04-14 Shared from a Personal Document"
-
<p>holy fuck<br/><a href='https://amzn.com/k/tVmnfwCuSI6G03EbYGceeg'>https://amzn.com/k/tVmnfwCuSI6G03EbYGceeg</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />Есть сведения о том, как фабричные менеджеры в Гондурасе, выполняя особо крупный заказ с жесткими сроками, вводили рабочим амфетамин, чтобы они выдержали 48-часовой марафон.</div>
	