Id: 46f5c314-e20f-400f-b28c-01ee83c93d5a
Title: "Quick update"
Published: "2013-01-11"
Slug: "2013-01-11 Quick update"
-
<p>Даже тут дескриминация по половому признаку!<br/><a href='https://www.facebook.com/photo.php?fbid=10151268447607886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151268447607886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-ash4/397700_10151268447607886_961702459_n.jpg' />
	