Id: d740e38a-ca68-45e8-abbb-99e799d89383
Title: "Daugavpils Maratons 2010-ИНФОРМАЦИЯ - -"
Published: "2013-08-22"
Slug: "2013-08-22 Daugavpils Maratons 2010-ИНФОРМАЦИЯ - -"
-
<p>25 августа состоится этап кубка мира по бегу на 50 км  и сателлитный забег, на 5 км. <br/>Стоимость сателлитного забега на 5 км сейчас 3 Ls, в день старта будет 5 Ls.<br/><a href='https://www.42km.lv/ru/info/'>https://www.42km.lv/ru/info/</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAB66RLjmpp5Iqg&w=154&h=154&url=http%3A%2F%2Fwww.42km.lv%2Fimages%2Flogo_ru.jpg' />6 часов.    Возрастные группы согласно правилам IAU по дате рождения на 25.08.2013.</div>
	