Id: 414f896a-47e7-4381-9dca-99406f8afd88
Title: "Quick update"
Published: "2013-04-16"
Slug: "2013-04-16 Quick update"
-
<p>15 оливок на 22 программистов, 3 девушек и 1 дизайнера<br/><a href='http://www.facebook.com/photo.php?fbid=10151453932567886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151453932567886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-ash3/644292_10151453932567886_896443663_n.jpg' />
	