Id: 3b1331f2-6f5b-4c7c-9a40-4154dfe776f7
Title: "Quick update"
Published: "2013-08-05"
Slug: "2013-08-05 Quick update"
-
<p>Тундра!<br/><a href='https://www.facebook.com/photo.php?fbid=10151648685467886&set=gm.281879138621608&type=1&relevant_count=3'>https://www.facebook.com/photo.php?fbid=10151648685467886&set=gm.281879138621608&type=1&relevant_count=3</a></p><img src='/files/https://fbcdn-photos-h-a.akamaihd.net/hphotos-ak-prn2/1098411_10151648685467886_674811688_n.jpg' />
	