Id: 577435e6-6536-4a49-8503-7b485d5d7313
Title: "Quick update"
Published: "2013-01-05"
Slug: "2013-01-05 Quick update"
-
<p>папе 60 :-)<br/><a href='http://www.facebook.com/photo.php?fbid=10151258124132886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151258124132886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-ash4/385327_10151258124132886_1356275097_n.jpg' />
	