Id: bd7781a2-1502-4f54-a42f-a823ecf7428e
Title: "о читабельности кода"
Published: "2013-05-30"
Slug: "2013-05-30 о читабельности кода"
-
<p>Я всегда был за первое, и против второго, но есть над чем подумать. Авторитет Аввы у меня в голове огромен, и он, может быть, прав даже во втором случае.<br/><a href='https://avva.livejournal.com/2633281.html'>https://avva.livejournal.com/2633281.html</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAs29gsQDGoYiDB&w=154&h=154&url=http%3A%2F%2Fl-userpic.livejournal.com%2F81048954%2F111931' />Я беседовал сегодня с Г. о разных способах выразить то же самое на C/C++ и смежных языках, и действительно ли это влияет на быстроту и качество чтения и понимания…</div>
	