Id: 7360f4e6-256a-48b0-b3a1-3e35dd5849f5
Title: "55.81081186556315,26.4986120166956 - Google Maps"
Published: "2013-09-05"
Slug: "2013-09-05 55.81081186556315,26.4986120166956 - Google Maps"
-
<p>Это мы,  опилки!<br/><a href='http://maps.google.com/maps?q=55.81081186556315%2C26.4986120166956'>http://maps.google.com/maps?q=55.81081186556315%2C26.4986120166956</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQDuNxiPTOkwzLst&w=154&h=154&url=https%3A%2F%2Fmts0.google.com%2Fvt%2Flyrs%3Dm%40230000000%26hl%3Den%26src%3Dapp%26x%3D18796%26s%3D%26y%3D10234%26z%3D15%26s%3DGalile' />Find local businesses, view maps and get driving directions in Google Maps</div>
	