Id: fe71b34f-be70-4f30-8600-ad142098aa33
Title: "Поход Шишкова - Свенте"
Published: "2013-12-08"
Slug: "2013-12-08 Поход Шишкова - Свенте"
-
<p>Живая мимика Sergej Juvzhenko и множество попыток шпагата<br/><a href='https://www.facebook.com/photo.php?fbid=10151926950537886&set=a.10151926949932886.1073741829.762077885&type=1&relevant_count=13'>https://www.facebook.com/photo.php?fbid=10151926950537886&set=a.10151926949932886.1073741829.762077885&type=1&relevant_count=13</a></p><img src='/files/https://fbcdn-photos-h-a.akamaihd.net/hphotos-ak-prn2/1483250_10151926950537886_2105694606_n.jpg' />
	