Id: 55caaef2-cb29-4717-9054-65f3ace91b8f
Title: "https://demotivators.to/media/posters/144/43114293_trebuem.jpg"
Published: "2013-03-10"
Slug: "2013-03-10 http___demotivators.to_media_posters_144_43114293_trebuem.jpg"
-
<p>Vladislav Kugelevich - надо просто правильно откадрировать снимок<br/><a href='https://demotivators.to/media/posters/144/43114293_trebuem.jpg'>https://demotivators.to/media/posters/144/43114293_trebuem.jpg</a></p><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQAubNIAoAwrptw0&w=154&h=154&url=http%3A%2F%2Fdemotivators.to%2Fmedia%2Fposters%2F144%2F43114293_trebuem.jpg' />
	