Id: 2a7f90c2-cbe4-42de-a44e-a2f1212abab5
Title: "Sugar is 'addictive and the most dangerous drug of the times' - Telegraph"
Published: "2013-09-18"
Slug: "2013-09-18 Sugar is _addictive and the most dangerous drug of the times_ - Telegraph"
-
<p>Я считаю, запретить надо сахар и личный автотранспорт, запретить!<br/><a href='https://www.telegraph.co.uk/news/worldnews/europe/netherlands/10314705/Sugar-is-addictive-and-the-most-dangerous-drug-of-the-times.html'>https://www.telegraph.co.uk/news/worldnews/europe/netherlands/10314705/Sugar-is-addictive-and-the-most-dangerous-drug-of-the-times.html</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQCFbMKFMdiVZqyx&w=154&h=154&url=http%3A%2F%2Fi.telegraph.co.uk%2Fmultimedia%2Farchive%2F02674%2Fcan_2674149k.jpg' />Soft drinks should carry tobacco-style warnings that sugar is highly addictive and dangerous, a senior Dutch health official has warned.</div>
	