Id: aef0c820-81d9-48ff-99df-9300cdb755f2
Title: "Quick update"
Published: "2013-03-14"
Slug: "2013-03-14 Quick update"
-
<p>Обед массовый<br/><a href='http://www.facebook.com/photo.php?fbid=10151404281492886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151404281492886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-snc7/580559_10151404281492886_553678016_n.jpg' />
	