Id: 5782c5ee-089a-4e9f-914b-4b52f6544939
Title: "Quick update"
Published: "2013-10-01"
Slug: "2013-10-01 Quick update"
-
<p>Прощай, немытая Россия,
<br/>Страна рабов, страна господ,
<br/>И вы, мундиры голубые,
<br/>И ты, им преданный народ.
<br/>
<br/>5 Быть может, за стеной Кавказа
<br/>Сокроюсь от твоих пашей,
<br/>От их всевидящего глаза,
<br/>От их всеслышащих ушей.
<br/>
<br/>https://esquire.ru/numbers#29/07/2013<br/><a href='https://www.facebook.com/photo.php?fbid=10151764311802886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151764311802886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-frc3/1377204_10151764311802886_796206118_n.jpg' />
	