Id: 4bce16e2-a24b-4715-a655-3a0e0531d0ad
Title: "Quick update"
Published: "2013-05-12"
Slug: "2013-05-12 Quick update"
-
<p>С днём рождения! Всех благ<br/>Хоть  ты, Влад, и не моряк :)<br/>Будь здоров и полон сил,<br/>и чтоб весь мир исколесил!!!<br/><a href='https://www.facebook.com/photo.php?fbid=455286117892494&set=p.455286117892494&type=1'>https://www.facebook.com/photo.php?fbid=455286117892494&set=p.455286117892494&type=1</a></p><img src='/files/https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/s480x480/945158_455286117892494_1714902493_n.jpg' />
	