Id: 9d7d874a-d744-47a4-889a-1c3e3e5d6e8a
Title: "16 year old is brain damaged from smoking \"synthetic marijuana\""
Published: "2013-02-05"
Slug: "2013-02-05 16 year old is brain damaged from smoking _synthetic marijuana_"
-
<p>Не курите, друзья, синтетические каннабиноиды, известные как "спайс" и продающиеся у нас в известном магазине. Девушка вот покурила разок, осталась слепой и парализованной. Законодатели, конечно, сволочи в том, что безобидный каннабис запрещён, а синтетические каннабиноиды разрешены, но свою голову на плечах тоже неплохо иметь.<br/><a href='http://ireport.cnn.com/docs/DOC-895582'>http://ireport.cnn.com/docs/DOC-895582</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQAKDQwNWOmMev3T&w=90&h=90&url=http%3A%2F%2Fi.cdn.turner.com%2Fireport%2Fsm%2Fprod%2F2012%2F12%2F14%2FWE00879086%2F2325801%2Femilyjpg-2325801_md.jpg' />Emily Bauer was a normal 16 year old girl full of light and laughter, until she decided to try and smoke "Kush", a synthetic marijuana sold under the name potpourri by corner stores and headshops in t...</div>
	