Id: d1aadb11-77f5-448b-95af-034640199a39
Title: "Croatia 2013"
Published: "2013-05-09"
Slug: "2013-05-09 Croatia 2013"
-
<p>Юра неподражаем с комментами и фото. Вот так мы и отдыхали, всем смотреть и читать!<br/><a href='https://www.facebook.com/photo.php?fbid=656673001016501&set=a.656672857683182.1073741825.100000214213874&type=1'>https://www.facebook.com/photo.php?fbid=656673001016501&set=a.656672857683182.1073741825.100000214213874&type=1</a></p><div class='clearfix cite'><img src='/files/https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/931416_656673001016501_1973982864_n.jpg' />Небольшой вело-забег по одной из стран Адриатического моря</div>
	