Id: 4c7b9fb9-53d0-4248-b197-66826a6c44be
Title: "Церковь Александра Невского"
Published: "2013-01-10"
Slug: "2013-01-10 Церковь Александра Невского"
-
<p>Совершенно космическое сооружение, прямо-таки инопланетный корабль, надо раскручивать на всю Европу!<br/><a href='https://www.facebook.com/photo.php?fbid=417757124975964&set=a.417757011642642.94680.100002250416605&type=1'>https://www.facebook.com/photo.php?fbid=417757124975964&set=a.417757011642642.94680.100002250416605&type=1</a></p><div class='clearfix cite'><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-ash3/23746_417757124975964_764964812_n.jpg' />Небольшое открытие в родном городе. На окраине старого гарнизонного кладбища, в окружении старинных надгробных плит, стоит чудом уцелевшая до наших дней церковь, построенная без единого гвоздя...</div>
	