Id: 01ea882a-24d6-469a-84e4-4f1df7c0d3a5
Title: "Croatia 2013 in my eyes"
Published: "2013-05-09"
Slug: "2013-05-09 Croatia 2013 in my eyes"
-
<p>Ещё Хорватия<br/><a href='https://www.facebook.com/photo.php?fbid=544053258986707&set=a.544053172320049.1073741829.100001461134822&type=1'>https://www.facebook.com/photo.php?fbid=544053258986707&set=a.544053172320049.1073741829.100001461134822&type=1</a></p><div class='clearfix cite'><img src='/files/https://fbcdn-photos-e-a.akamaihd.net/hphotos-ak-frc1/944347_544053258986707_1053003703_n.jpg' />Отличнейшая компания в прекрасном месте</div>
		