Id: 6e317a90-42de-4cb4-80aa-4633db3ff681
Title: "Quick update"
Published: "2013-06-25"
Slug: "2013-06-25 Quick update"
-
<p>Освоил высокохудожественный эффект! Называется чб!<br/><a href='https://www.facebook.com/photo.php?fbid=10151569138117886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151569138117886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-ash3/7968_10151569138117886_493311259_n.jpg' />
	