Id: 7f4c2d91-d210-431a-b87c-63353bd514ac
Title: "Елена Егерева: Личное тело каждого"
Published: "2013-11-10"
Slug: "2013-11-10 Елена Егерева_ Личное тело каждого"
-
<p>Отличная статья<br/><a href='https://www.snob.ru/magazine/entry/3553'>https://www.snob.ru/magazine/entry/3553</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAUEND3rAn1snJW&w=154&h=154&url=http%3A%2F%2Fwww.snob.ru%2Fi%2Findoc%2Fff%2Frubric_issue_232008.jpg' />Мы с ним неразлучны всю жизнь и, кажется, должны знать о нем все. Но по большей части это только иллюзия. В наших отношениях с ним больше суеверного страха, чем подлинного знания, больше ханжеской стыдливости, чем любви. Мы не очень умеем им владеть и очень стесняемся о&nbsp...</div>
	