Id: 00158954-8086-4299-b87f-7d2a87430541
Title: "Timeline Photos"
Published: "2013-09-10"
Slug: "2013-09-10 Timeline Photos"
-
<p>Моё любимое стихотворение, кста<br/><a href='https://www.facebook.com/photo.php?fbid=407004366068402&set=a.121607921274716.15145.121606644608177&type=1'>https://www.facebook.com/photo.php?fbid=407004366068402&set=a.121607921274716.15145.121606644608177&type=1</a></p><img src='/files/https://fbcdn-photos-f-a.akamaihd.net/hphotos-ak-ash3/581551_407004366068402_1110519190_n.jpg' />
	