Id: 6b324ca9-64d7-4cb5-b4c5-b2fe0a280999
Title: "Timeline Photos"
Published: "2013-03-10"
Slug: "2013-03-10 Timeline Photos"
-
<p>Зачем так усложнять, плакат "Я дура с недоёбом" был бы куда универсальнее<br/><a href='https://www.facebook.com/photo.php?fbid=352925874824344&set=a.107042812745986.9938.100003208032044&type=1'>https://www.facebook.com/photo.php?fbid=352925874824344&set=a.107042812745986.9938.100003208032044&type=1</a></p><img src='/files/https://photos-b.ak.fbcdn.net/hphotos-ak-prn1/549325_352925874824344_267612229_n.jpg' />
	