Id: 29fe8824-5212-4716-955f-51b2b317986a
Title: "Предложение.:)"
Published: "2013-01-14"
Slug: "2013-01-14 Предложение.__"
-
<p>И у нас умеют порадовать!<br/><a href='https://www.facebook.com/photo.php?v=379076668854161'>https://www.facebook.com/photo.php?v=379076668854161</a></p><div class='clearfix cite'><img src='/files/https://vthumb.ak.fbcdn.net/hvthumb-ak-prn1/632288_379078468853981_379076668854161_61550_2479_t.jpg' />Предложение.13.01.2013</div>
	