Id: 8a4e7daa-1084-4364-bd15-17f31e0e9ed9
Title: "Открылся ночной клуб MOSKVA"
Published: "2013-01-05"
Slug: "2013-01-05 Открылся ночной клуб MOSKVA"
-
<p>Судьба занесла меня туда на новый год, мне понравилось. Интересно посмотреть, как люди отдыхают.<br/>И ролик забавный, милая такая провинциальность в нём.<br/><a href='https://youtu.be/x47TRKSRXQM'>https://youtu.be/x47TRKSRXQM</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQBlaLpDEZ8wODqv&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2Fx47TRKSRXQM%2Fmqdefault.jpg' />Клуб об открытии которого говорили уже очень давно и ждали этого момента наконец распахнул свои двери. </div>
	