Id: ad4cff67-f338-4de6-9b57-e3946e829ad3
Title: "Quick update"
Published: "2013-01-13"
Slug: "2013-01-13 Quick update"
-
<p>сходили в зоопарк<br/><a href='http://www.facebook.com/photo.php?fbid=10151272219252886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151272219252886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-prn1/75046_10151272219252886_1597942098_n.jpg' />
	