Id: d13fef42-c308-480a-a5a3-0ef4baf7401a
Title: "В честь открытия Центра Ротко состоится бесплатный концерт под открытым небом"
Published: "2013-04-24"
Slug: "2013-04-24 В честь открытия Центра Ротко состоится бесплатный концерт под открытым небом"
-
<p>Люди, сегодня в 20.30 в честь открытия центра Марка Ротко будет выступать Киммо Похьонен, очень крутой музыкант, настоящий культовый персонаж. Не пропустите не в коем случае!<br/><br/><br/><a href='https://www.gorod.lv/novosti/191215-v-chest-otkrytiya-tsentra-rotko-sostoitsya-besplatnyi-kontsert-pod-otkrytym-nebom'>https://www.gorod.lv/novosti/191215-v-chest-otkrytiya-tsentra-rotko-sostoitsya-besplatnyi-kontsert-pod-otkrytym-nebom</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQCZOTrfqFUjK5Ar&w=154&h=154&url=http%3A%2F%2Fimg.gorod.lv%2Fimages%2Fnews_item%2Fpic%2F191215%2F0.jpg' />Сегодня, 24 апреля, в качестве подарка в честь открытия Художественного центра Марка Ротко для даугавпилчан и гостей подготовили сюрприз.</div>
	