Id: 23d5ab78-97f8-4f0f-98bd-ab266a86b058
Title: "Quick update"
Published: "2013-12-10"
Slug: "2013-12-10 Quick update"
-
<p>Коты зажрались, голуби обнаглели<br/><a href='https://www.facebook.com/photo.php?fbid=10151932701437886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151932701437886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-prn1/1504082_10151932701437886_808820294_n.jpg' />
	