Id: 58e9c9c1-85db-4d16-af8d-39df69f65977
Title: "The bright side of sadness | Science News"
Published: "2013-10-20"
Slug: "2013-10-20 The bright side of sadness _ Science News"
-
<p><br/><a href='https://www.sciencenews.org/article/bright-side-sadness'>https://www.sciencenews.org/article/bright-side-sadness</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQADHJrX3k8qK3ZO&w=154&h=154&url=https%3A%2F%2Fwww.sciencenews.org%2Fsites%2Fdefault%2Ffiles%2Fmain%2Farticles%2Fsad_opener.jpg' />Bad moods can have unappreciated mental upsides.</div>
	