Id: bbc08556-2d32-4744-8b0f-da17b2246a9e
Title: "Харрасмент, шутка про большой донгл, серия увольнений  и возмущенный интернет: гендерный вопрос - Цу"
Published: "2013-03-23"
Slug: "2013-03-23 Харрасмент, шутка про большой донгл, серия увольнений  и возмущенный интернет_ гендерный "
-
<p>Увлекательная история про гендерную борьбу<br/><a href='http://www.siliconrus.com/2013/03/donglegate/'>http://www.siliconrus.com/2013/03/donglegate/</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQAjiGyvd-JdhaEV&w=154&h=154&url=http%3A%2F%2Fwww.siliconrus.com%2Fwp-content%2Fuploads%2F2013%2F03%2FScreen-Shot-2013-03-23-at-2.27.50-AM-300x260.png' />Интересная история произошла (происходит) в западном интернете. Харрасмент, увольнения, Твиттер, Анонимус — все смешалось в сложном кейсе Sendgrid/Playhaven.</div>
	