Id: f61aa67d-0b36-438b-be8b-f9195a97e2aa
Title: "«Стену в голове» сфотографировали из космоса - Детали мира"
Published: "2013-04-26"
Slug: "2013-04-26 «Стену в голове» сфотографировали из космоса - Детали мира"
-
<p>Очень люблю натриевые лампы<br/><a href='http://detalimira.com/news/1512/'>http://detalimira.com/news/1512/</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAKa_G8Dfyz3nSd&w=154&h=154&url=http%3A%2F%2Fdetalimira.com%2Fphotos%2F2013%2F12%2F1512%2Fp472x302_jnEvx344xc6ltbCsW1FfNpNFjxM36u2K.jpg' />«Восточную часть города освещают натриевые лампы, дающие свет желтоватого, теплого оттенка, - говорит Даниела Августина, работающая в департаменте уличного обустройства правительства Берлина. - Улицы бывшего Западного Берлина освещены люминесцентными лампами».</div>
	