Id: a77d6d34-74ad-4c2d-9275-15a883f9ad28
Title: "Александр Юдкович"
Published: "2013-08-08"
Slug: "2013-08-08 Александр Юдкович"
-
<p>Это мы ещё посмотрим!<br/><a href='https://www.facebook.com/yudko/posts/547492068648804'>https://www.facebook.com/yudko/posts/547492068648804</a></p><div class='clearfix cite'><img src='/files/https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/49550_100001640471789_1077_n.jpg' />Уйдут, уйдут ведь без возврату, года пригодные к разврату...))</div>
	