Id: 3a1edf64-eb35-427e-97bb-9dce45d5f5a9
Title: "Timeline Photos"
Published: "2013-03-31"
Slug: "2013-03-31 Timeline Photos"
-
<p>Есть и такая точка зрения. Мне, конечно, сразу возразят, что про изъятие любви - это он не просёк фишку. Но схожие опасения я и сам выражал неоднократно.<br/><a href='https://www.facebook.com/photo.php?fbid=10200925026466766&set=a.1851094155952.2110696.1198705165&type=1'>https://www.facebook.com/photo.php?fbid=10200925026466766&set=a.1851094155952.2110696.1198705165&type=1</a></p><img src='/files/https://photos-b.ak.fbcdn.net/hphotos-ak-ash3/527644_10200925026466766_528651593_n.jpg' />
	