Id: 7439cfc0-4675-4fd0-92fd-2033ffe247fc
Title: "Kodols"
Published: "2013-06-12"
Slug: "2013-06-12 Kodols"
-
<p>Марис соорудил отличное видео про выставку!<br/>Инсталляция с зелёным мозгом нашего с Андрей Аристов, Gleb Litvjak и Romario Uve авторства, если что.<br/><a href='http://www.youtube.com/watch?v=DENZF3sfzpM'>http://www.youtube.com/watch?v=DENZF3sfzpM</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBIw2SnKM-LOTZh&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FDENZF3sfzpM%2Fmaxresdefault.jpg%3Ffeature%3Dog' />Exhibition of group of young artists in Daugavpils fortress 2013.06.08-09. More info https://www.facebook.com/pages/%D0%A1%D0%9A%D0%9E%D0%9F%D0%A2%D0%A0/1321...</div>
	