Id: 66a72c30-b74c-4626-9a5e-40e1eef529c8
Title: "Quick update"
Published: "2013-04-05"
Slug: "2013-04-05 Quick update"
-
<p>Зашёл на сайт, а на его месте вот такой позитивный панда<br/><a href='https://www.facebook.com/photo.php?fbid=10151438234942886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151438234942886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-h.ak.fbcdn.net/hphotos-ak-snc7/305976_10151438234942886_41482880_n.jpg' />
	