Id: 6be77d40-0b83-4b63-abd6-7553bede143d
Title: "Shared from a Personal Document"
Published: "2013-06-20"
Slug: "2013-06-20 Shared from a Personal Document"
-
<p>o da<br/><a href='https://amzn.com/k/gnMNIrJMQtWGFMLQSg0y2g'>https://amzn.com/k/gnMNIrJMQtWGFMLQSg0y2g</a></p><div class='clearfix cite'><img src='/files/https://s-platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />В Париже отношения Жюльена с г-жой де Реналь не замедлили бы разрешиться очень просто, но ведь в Париже любовь — это дитя романов. Юный гувернер и его робкая госпожа, прочитав три-четыре романа или послушав песенки в театре Жимназ, не преминули бы выяснить свои взаимоотношения. Романы научили бы их, каковы должны быть их роли, показали бы им примеры, коим надлежит подражать, и рано или поздно, возможно, даже без всякой радости, может быть, даже нехотя, но имея перед собой такой пример, Жюльен из тщеславия невольно последовал бы ему.</div>
	