Id: f4a1799e-356c-4173-a209-671587ca8ec6
Title: "Загрузка данных с мобильного телефона"
Published: "2013-01-10"
Slug: "2013-01-10 Загрузка данных с мобильного телефона"
-
<p>Very True<br/><a href='https://www.facebook.com/photo.php?fbid=457086617661905&set=a.438949629475604.90637.100000817114525&type=1'>https://www.facebook.com/photo.php?fbid=457086617661905&set=a.438949629475604.90637.100000817114525&type=1</a></p><div class='clearfix cite'><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-ash3/548747_457086617661905_573379741_n.jpg' />Загрузка данных с мобильного телефона</div>
	