Id: d5e841cc-539e-4018-ada2-1789c99a83cc
Title: "Romario Uve"
Published: "2013-07-15"
Slug: "2013-07-15 Romario Uve"
-
<p>С Днём Рождения, Рома! Новых тебе инсталляций!<br/><a href='https://www.facebook.com/photo.php?fbid=10151607438042886&set=a.10150454953582886.379696.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10151607438042886&set=a.10150454953582886.379696.762077885&type=1</a></p><div class='clearfix cite'><img src='/files/https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-ash3/994500_10151607438042886_1955051044_n.jpg' />Originally posted on Romario's wall</div>
	