Id: 814c1c12-9d66-4e92-880a-605c3f2c22ed
Title: "Shared from a Personal Document"
Published: "2013-05-09"
Slug: "2013-05-09 Shared from a Personal Document"
-
<p>Изящно сформулировано, как и многое другое в этой прекрасной книге.<br/><a href='https://amzn.com/k/cYkmWbnPTf-mD2vSy09UCA'>https://amzn.com/k/cYkmWbnPTf-mD2vSy09UCA</a></p><div class='clearfix cite'><img src='/files/https://s-platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />Тайна Сурмелины была прекрасно сформулирована тетушкой Зоей: «Лина относилась к тому разряду женщин, в честь которых назван один остров».</div>
	