Id: 5a883852-a276-48ae-a55f-2ea7e54848da
Title: "Новая пустышка американских консерваторов"
Published: "2013-02-27"
Slug: "2013-02-27 Новая пустышка американских консерваторов"
-
<p>По поводу недавнего гей-исследования, вот вам разбор полётов даже и на русском<br/><a href='https://ru-antidogma.livejournal.com/1541756.html'>https://ru-antidogma.livejournal.com/1541756.html</a></p><div class='clearfix cite'>...ну и для полноты картины: Исследования были профинансированы на сумму около 800 тысяч (что является громадной суммой для социологического исследования) долларов Институтом Визерспун и Брэдли Фондом (обе организации, хоть называют себя "непартийными", однозначно принадлежат к право-консервативному...</div>
	