Id: 370aed41-532b-4e69-9230-d4f20f6f9e6f
Title: "Мышь летучая.mp4"
Published: "2013-11-04"
Slug: "2013-11-04 Мышь летучая.mp4"
-
<p>У меня в последний месяц в ушах часто повторяющийся звук  высокого тона, причём случайно появляется, то когда с работы еду на велике, то прямо сейчас, когда сижу за компом, то когда иду по району в универсам.<br/>Раздражает ужасно.<br/>Спасибо за подсказку Aleksandr Rybakow, не дал сойти с ума.<br/><a href='https://www.youtube.com/watch?v=gVmAvlnQuTg'>https://www.youtube.com/watch?v=gVmAvlnQuTg</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQCmpwBPuqMyilZo&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FgVmAvlnQuTg%2Fmaxresdefault.jpg%3Ffeature%3Dog' />Этого зверька нашли на заводе, лежал там где и заснят, дико пищал и пытался кидаться на всех, кто к нему подходил. Вероятно неудачно выбрал место для посадки...</div>
	