Id: d0201b8b-512e-481a-81af-02bb3b8d4845
Title: "Quick update"
Published: "2013-03-21"
Slug: "2013-03-21 Quick update"
-
<p>Виртуальность сносит крышу почище реальности.
<br/>Год назад у меня было несколько биткойнов. Стоили они тогда долларов 30. Если бы я их не потратил, то к текущему моменту я бы стал богаче на 400 долларов безо всяких усилий.
<br/> Теперь вопрос - стоит ли покупать их сейчас, за диковатую цену в 70 долларов за койн, или надо ждать очередного обвала? Думается мне, что лучше не строить из себя биржевого спекулянта.
<br/>Вот график роста.<br/><a href='http://www.facebook.com/photo.php?fbid=10151415341997886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151415341997886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-e.ak.fbcdn.net/hphotos-ak-ash3/150428_10151415341997886_1308835032_n.jpg' />
	