Id: f6cf90cf-469d-4ab7-9e50-5eb5b8ad1ddb
Title: "Quick update"
Published: "2013-08-14"
Slug: "2013-08-14 Quick update"
-
<p>Моя любимая цитата Докинза<br/><a href='https://www.facebook.com/photo.php?fbid=525688574169962&set=p.525688574169962&type=1'>https://www.facebook.com/photo.php?fbid=525688574169962&set=p.525688574169962&type=1</a></p><img src='/files/https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash3/q71/s480x480/1001413_525688574169962_1595260418_n.jpg' />
	