Id: 9d18aceb-353a-4b3e-abb3-d8bc2bb915b9
Title: "Самый довольный человек)"
Published: "2013-06-18"
Slug: "2013-06-18 Самый довольный человек_"
-
<p>Спасибо Максим Гуревич, всем ехать на Тундру!<br/><br/><a href='https://www.youtube.com/watch?v=rPIfcSb3IZk&feature=youtu.be'>https://www.youtube.com/watch?v=rPIfcSb3IZk&feature=youtu.be</a></p><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQD9Ubtf2Dy7TTYE&w=130&h=130&url=http%3A%2F%2Fi3.ytimg.com%2Fvi%2FrPIfcSb3IZk%2Fhqdefault.jpg%3Ffeature%3Dog' />
	