Id: 8112c5eb-b56a-490c-bbe0-effaf893a4e1
Title: "Timeline Photos"
Published: "2013-01-14"
Slug: "2013-01-14 Timeline Photos"
-
<p>Люди. Большая просьба - когда видите всякие теории заговора, антинаучную чушь вроде этой, проверяйте гуглом, ищите надёжные источники. А то так у вас в голове и останется, что "учёные" доказали, что дрожжи - мировое зло, кровь тёмного императора.<br/>Есть официальные научные позиции, а есть лженаука, шарлатанство и обман. Если вам это всё ближе, я не против, но не надо сюда приплетать таким огромным трудом полученные настоящие знания, а не литературные фантазии "гуру" и "целителей".<br/><a href='http://www.facebook.com/photo.php?fbid=501385326571699&set=a.388587847851448.86003.100001007073890&type=1'>http://www.facebook.com/photo.php?fbid=501385326571699&set=a.388587847851448.86003.100001007073890&type=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-ash4/317928_501385326571699_360033649_n.jpg' />
	