Id: be0a4cca-b3c4-4411-980c-be5e8033b8ce
Title: "Антон Красовский: Я гей, и я такой же человек, как президент Путин"
Published: "2013-02-06"
Slug: "2013-02-06 Антон Красовский_ Я гей, и я такой же человек, как президент Путин"
-
<p>В ответ на недавний разговор с Brownie Slices<br/>Тут все ответы  и закопаны. Человеком хочется себя чувствовать, какие бы взгляды и возможности у тебя не были.<br/><a href='http://www.snob.ru/selected/entry/57187'>http://www.snob.ru/selected/entry/57187</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDCEW0vyZu0lbCD&w=90&h=90&url=http%3A%2F%2Fwww.snob.ru%2Fi%2Findoc%2F4f%2Fblog_entry_416706.jpg' />Бывший главный редактор кремлевского канала «Контр ТВ» рассказывает о причинах, по которым он совершил coming out и покинул канал</div>
	