Id: eeec9329-3418-4b0d-aca9-c20471e718e8
Title: "Quick update"
Published: "2013-09-17"
Slug: "2013-09-17 Quick update"
-
<p>Пир на весь мир!<br/>Игорек несет людям счастье и ятства.<br/><a href='https://www.facebook.com/photo.php?fbid=10151737844467886&set=pcb.10151737844712886&type=1&relevant_count=3'>https://www.facebook.com/photo.php?fbid=10151737844467886&set=pcb.10151737844712886&type=1&relevant_count=3</a></p><img src='/files/https://fbcdn-photos-e-a.akamaihd.net/hphotos-ak-ash3/1231706_10151737844467886_1562225618_n.jpg' />
	