Id: 63fe6f8a-8ef6-4578-b894-1703dc48228b
Title: "Quick update"
Published: "2013-02-23"
Slug: "2013-02-23 Quick update"
-
<p>Теперь я знаю,  где можно сыграть в теннис<br/><a href='https://www.facebook.com/photo.php?fbid=10151364545962886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151364545962886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-e.ak.fbcdn.net/hphotos-ak-ash4/253038_10151364545962886_1946820546_n.jpg' />
	