Id: 8c6e6eb1-dd89-451c-af0a-d84b94a6fb98
Title: "Вопрос учёному: Почему у людей появляется стадное чувство?"
Published: "2013-10-09"
Slug: "2013-10-09 Вопрос учёному_ Почему у людей появляется стадное чувство_"
-
<p>Для Anastasija Smolakova<br/><a href='https://www.lookatme.ru/mag/experience/opinions/196901-question'>https://www.lookatme.ru/mag/experience/opinions/196901-question</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQClMO6QlSMc8pec&w=154&h=154&url=http%3A%2F%2Flamcdn.net%2Flookatme.ru%2Fpost-cover%2Fp8K3V2BMnAJXQvHF48q1Ag-default.png' />Проект «ПостНауки» и Look At Me: учёные отвечают на вопросы</div>
	