Id: 4c5737e8-dfe6-4c8e-8279-91de980bfe43
Title: "Shared from a Personal Document"
Published: "2013-04-03"
Slug: "2013-04-03 Shared from a Personal Document"
-
<p>obvious, but nicely said<br/><a href='https://amzn.com/k/3FBdmRBnSqW9Z85JLCoODg'>https://amzn.com/k/3FBdmRBnSqW9Z85JLCoODg</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />Подобно многому из того, что происходит в «охоте за крутизной», маркетинг Hilfiger паразитирует на том взаимном отчуждении, что таится в глубине американских расовых отношений: привлекать белую молодежь, фетишизирующую стиль черных, и черную молодежь, фетишизирующую богатство белых.</div>
	