Id: 8bd48e9b-9c2a-4c82-a557-a7000c225549
Title: "Quick update"
Published: "2013-03-08"
Slug: "2013-03-08 Quick update"
-
<p>Горячие новости!<br/><a href='http://www.facebook.com/photo.php?fbid=10151393467412886&set=a.10150454953582886.379696.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10151393467412886&set=a.10150454953582886.379696.762077885&type=1</a></p><img src='/files/http://sphotos-e.ak.fbcdn.net/hphotos-ak-ash3/s480x480/549397_10151393467412886_1307463850_n.jpg' />
	