Id: 34d9f905-d656-4ddc-bb04-cef9c325d0cf
Title: "greenbat.livejournal.com"
Published: "2013-01-17"
Slug: "2013-01-17 greenbat.livejournal.com"
-
<p>Специально для Алексей Федотов мы ведём репортаж о торжестве законности и правопорядка!<br/><a href='https://greenbat.livejournal.com/711912.html'>https://greenbat.livejournal.com/711912.html</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQAPLhpGhE-HyB1U&w=90&h=90&url=http%3A%2F%2Fic.pics.livejournal.com%2Fanonim_from_rus%2F9920794%2F458898%2F458898_600.jpg' />Прочитайте всё, от начала до конца. И все, независимо от убеждений. Распространите где только можете, во всех социальных сетях. Вчера снимал в городской …</div>
	