Id: 09e6dafa-1b4d-4a76-9645-0ba23b368a02
Title: "Struggle Is The Enemy, Weed Is The Remedy: The Truth About Marijuana in North Korea  |   NK News – N"
Published: "2013-01-16"
Slug: "2013-01-16 Struggle Is The Enemy, Weed Is The Remedy_ The Truth About Marijuana in North Korea  _   "
-
<p>Открыт секрет долготерпения северокорейцев!<br/>Они пыхают и дуют как молодые, трава даже наркотиком не считается, никак не регулируется и не запрещена. России срочно надо брать на вооружение, тогда царь-батюшка просидит на троне века, а холопы только рады будут.<br/><a href='https://www.nknews.org/2013/01/struggle-is-the-enemy-weed-is-the-remedy-the-truth-about-marijuana-in-north-korea/'>https://www.nknews.org/2013/01/struggle-is-the-enemy-weed-is-the-remedy-the-truth-about-marijuana-in-north-korea/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQCUbV5VUZCD59EP&w=90&h=90&url=http%3A%2F%2Fwww.nknews.org%2Fwp-content%2Fuploads%2F2013%2F01%2Fjongunspliff-150x150.gif' />Breaking North Korea News, Opinion, Culture & Curiosities + Professional, Academic & Student resources on North Korea / DPRK</div>
	