Id: d77d0703-75b8-44da-82ed-dd2927c1f4af
Title: "В Польском доме молодая художница представила свой идеальный мир в стихах и абстракции"
Published: "2013-03-17"
Slug: "2013-03-17 В Польском доме молодая художница представила свой идеальный мир в стихах и абстракции"
-
<p>Расма молодец!<br/><a href='https://www.gorod.lv/novosti/187118-v-polskom-dome-molodaya-hudozhnitsa-predstavili-svoi-idealnyi-mir-v-stihah-i-abstraktsii'>https://www.gorod.lv/novosti/187118-v-polskom-dome-molodaya-hudozhnitsa-predstavili-svoi-idealnyi-mir-v-stihah-i-abstraktsii</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQB7-9P_YPJiVpKH&w=200&h=200&url=http%3A%2F%2Fimg.gorod.lv%2Fimages%2Fnews_item%2Fpic%2F187118%2F_DSC9919.jpg&crop' />Информационно-новостной портал города Даугавпилс</div>
	