Id: bed595a7-b25c-455a-b290-e6071538838b
Title: "Svetlana Semeshchenko"
Published: "2013-03-11"
Slug: "2013-03-11 Svetlana Semeshchenko"
-
<p>АйТи гёрл суперстарс<br/><a href='http://www.facebook.com/svtlv/posts/10200749214912598'>http://www.facebook.com/svtlv/posts/10200749214912598</a></p><div class='clearfix cite'><img src='/files/http://profile.ak.fbcdn.net/hprofile-ak-ash4/273675_1229013469_961300601_q.jpg' />Доча - Мама - Доча</div>
	