Id: b852465d-53c3-429d-bb31-c7bb7a54841e
Title: "Quick update"
Published: "2013-01-19"
Slug: "2013-01-19 Quick update"
-
<p>Маленький рейв<br/><a href='https://www.facebook.com/photo.php?fbid=10151281285937886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151281285937886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-ash3/76911_10151281285937886_1363830823_n.jpg' />
	