Id: 05f58c15-fff7-40b5-aee6-68414f406687
Title: "Quick update"
Published: "2013-05-10"
Slug: "2013-05-10 Quick update"
-
<p>"Неизбежность"<br/><a href='https://www.facebook.com/photo.php?fbid=10151490673512886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151490673512886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-prn1/936936_10151490673512886_1478988381_n.jpg' />
	