Id: 749e392a-828d-4148-942d-faa87b6e9afd
Title: "Василий"
Published: "2013-09-21"
Slug: "2013-09-21 Василий"
-
<p>Психоделично<br/><br/><a href='https://esquire.ru/vasiliy'>https://esquire.ru/vasiliy</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAZOwsqhrsRK1OI&w=154&h=154&url=http%3A%2F%2Fesquire.ru%2Ffiles%2Fcache%2Fimages%2F93%2F4b%2F930f88.vasiliy.jpg' />Документальный фильм о том, как пенсионер из Курской области Василий Ильин отправился в Нью-Йорк, чтобы сфотографироваться на обложку специального номера журнала Esquire с правилами жизни обычных людей.</div>
	