Id: 8853472c-79e1-4f57-88dd-e8c3e8b28eee
Title: "Quick update"
Published: "2013-04-17"
Slug: "2013-04-17 Quick update"
-
<p>Друзья, вы замечательные, я вас всех очень люблю!<br/><a href='https://www.facebook.com/photo.php?fbid=10151455351547886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151455351547886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-d.ak.fbcdn.net/hphotos-ak-ash3/528460_10151455351547886_1973712810_n.jpg' />
	