Id: aa179fe1-d099-49aa-b2e5-cec27266baa6
Title: "Shared from a Personal Document"
Published: "2013-03-13"
Slug: "2013-03-13 Shared from a Personal Document"
-
<p>I'm not the only one doing that<br/><a href='https://amzn.com/k/hvDFVlXsQyeyG0FDr2QO1Q'>https://amzn.com/k/hvDFVlXsQyeyG0FDr2QO1Q</a></p><div class='clearfix cite'><img src='/files/https://platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />Подняв ладошку и согнув пальцы, Брайони, как уже случалось прежде, удивилась тому, что этот предмет, этот механизм для хватания, этот мускулистый паук на конце ее руки принадле- жит ей и полностью подчиняется ее командам. Или все же у не- го есть и какая-то собственная жизнь? Она разогнула и снова согнула пальцы. Волшебство заключалось в моменте, предше- ствовавшем движению, когда мысленный посыл превращался в действие. Это напоминало накатывающую волну. "Если бы только удалось удержаться на гребне, — подумала она, — мож- но было бы разгадать секрет самой себя, той части себя, кото- рая на ...</div>
	