Id: 847c4a99-9d2b-4208-9624-f4a923d359b9
Title: "http://landoflisp.com/#guilds"
Published: "2013-01-10"
Slug: "2013-01-10 http___landoflisp.com__guilds"
-
<p>Море смеха для программистов (тех, что слышал что-то про лисп)<br/><br/><a href='http://landoflisp.com/#guilds'>http://landoflisp.com/#guilds</a></p><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDRYW-OO74FXXwf&w=90&h=90&url=http%3A%2F%2Flandoflisp.com%2Fcomic_20x_32.png' />
	