Id: d00766e9-8985-446e-950b-2aaa0d797e0b
Title: "Quick update"
Published: "2013-06-23"
Slug: "2013-06-23 Quick update"
-
<p>Летний лагерь атаковали жОлтые люди-черви, опасносте!<br/><a href='https://www.facebook.com/photo.php?fbid=10151563958297886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151563958297886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-ash4/1001776_10151563958297886_1543101143_n.jpg' />
	