Id: e0f6c934-a962-4e46-9bfe-d714fabaf7a5
Title: "Quick update"
Published: "2013-02-11"
Slug: "2013-02-11 Quick update"
-
<p>Тимбилдинг<br/><a href='https://www.facebook.com/photo.php?fbid=10151345058892886&set=pcb.10151345059347886&type=1&relevant_count=4'>https://www.facebook.com/photo.php?fbid=10151345058892886&set=pcb.10151345059347886&type=1&relevant_count=4</a></p><img src='/files/https://photos-a.ak.fbcdn.net/hphotos-ak-prn1/521642_10151345058892886_1651328140_n.jpg' />
	