Id: 15358ecf-a7e5-4601-805e-e0c997736f65
Title: "Разница в мышлении «технарей»"
Published: "2013-08-22"
Slug: "2013-08-22 Разница в мышлении «технарей»"
-
<p><br/><a href='https://habrahabr.ru/post/188200/'>https://habrahabr.ru/post/188200/</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQCaqgIUJhWmeFW4&w=154&h=154&url=http%3A%2F%2Fhabr.habrastorage.org%2Fpost_images%2Fd5b%2F7a1%2Face%2Fd5b7a1aced3b0beb9b402f966e06e9c1.jpg' />Это перевод заметки Math Experts Split the Check, в которой на простом примере разделения счета в ресторане наглядно демонстрируется, насколько разными могут...</div>
	