Id: fdd7701c-922e-4e1d-89b6-f8fc0728a9ff
Title: "Chinese ‘paranormalist’ arrested for exorcising a ‘haunted vagina’ with his penis"
Published: "2013-09-13"
Slug: "2013-09-13 Chinese ‘paranormalist’ arrested for exorcising a ‘haunted vagina’ with his penis"
-
<p><br/><a href='https://freethinker.co.uk/2013/09/09/chinese-paranormalist-arrested-for-exorcising-a-haunted-vagina-with-his-penis/'>https://freethinker.co.uk/2013/09/09/chinese-paranormalist-arrested-for-exorcising-a-haunted-vagina-with-his-penis/</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBmnF6Jrf3k2Prj&w=154&h=154&url=http%3A%2F%2Ffreethinker.co.uk%2Fimages%2Fuploads%2F2013%2F09%2Fgodman.jpg' />A MAN who claimed he could could use his penis to rid a woman of ghosts that had taken up residence in her vagina, was arrested in China after performing […]</div>
	