Id: e9521b9d-e6a6-4a90-9859-508b81406206
Title: "Google: Keep Google Reader Running - Sign the Petition!"
Published: "2013-03-15"
Slug: "2013-03-15 Google_ Keep Google Reader Running - Sign the Petition_"
-
<p>I'm using it daily.<br/><a href='http://www.change.org/petitions/google-keep-google-reader-running?share_id=QZboxGbndX&utm_campaign=share_button_action_box&utm_medium=facebook&utm_source=share_petition'>http://www.change.org/petitions/google-keep-google-reader-running?share_id=QZboxGbndX&utm_campaign=share_button_action_box&utm_medium=facebook&utm_source=share_petition</a></p><div class='clearfix cite'><img src='/files/http://platform.ak.fbcdn.net/www/app_full_proxy.php?app=48409868550&v=1&size=z&cksum=f758f89f26542cec03e2b9582a0bf0d3&src=http%3A%2F%2Fd22r54gnmuhwmk.cloudfront.net%2Fassets%2Fimages%2Fpetitions%2Fshow%2Fdefault_petition_90x90-5c8f41d6c722de40c0dc4cccf430b1ad.png' />8355 signatures are still needed!</div>
	