Id: c9536f14-346b-40ec-9800-7d193b9f2727
Title: "Quick update"
Published: "2013-04-18"
Slug: "2013-04-18 Quick update"
-
<p>Спорим, не догадаетесь, что внутри?<br/><a href='https://www.facebook.com/photo.php?fbid=10151456694842886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151456694842886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-c.ak.fbcdn.net/hphotos-ak-prn1/28180_10151456694842886_1841879841_n.jpg' />
	