Id: e2496e6b-3f3e-4004-9675-5b46e64d4236
Title: "Quick update"
Published: "2013-01-14"
Slug: "2013-01-14 Quick update"
-
<p>Черепашка<br/><a href='https://www.facebook.com/photo.php?fbid=10151272409662886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151272409662886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-f.ak.fbcdn.net/hphotos-ak-prn1/46112_10151272409662886_634721972_n.jpg' />
	