Id: a9860a95-6251-46f7-87e9-cf500bc307a4
Title: "Roman Popkov"
Published: "2013-06-13"
Slug: "2013-06-13 Roman Popkov"
-
<p>Мхахаха, Россия в репертуаре<br/><a href='https://www.facebook.com/roman.popkov.56/posts/527403420650851'>https://www.facebook.com/roman.popkov.56/posts/527403420650851</a></p><div class='clearfix cite'><img src='/files/https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/41666_100001435945779_5613_q.jpg' />Милую историю Лена Боровская рассказала, почитайте.
Короче, как-то по журналистским делам она оказалась в одной столичной мегакрутой клинике. Не клиника даже, а огромный здравоохранительный пентагон, там у них все в одном комплексе - и стационар, и поликлиника, и детская поликлиника, и черта лысого там только нет. Была Лена как раз в том крыле, где детская поликлиника.

Ну сидит, ждет человека для интервью - местное здравоохранительное светило. Осматривается. Стены вестибюля изрисованы цветными картинками - ну знаете, в детских поликлиниках оформляют интерьер, чтобы ребенок мог расслабиться. Обычно рисуют какое-то примитивное говно, а тут нет - художник подошел к делу с душой. На стене несколько картинок, объединенных общим сюжетом - типа комикс. Сюжет такой: идет маленькая девочка по зимнему городу - видит на тротуаре мерзнет котенок - девочка, скорбя, приходит домой - думает о оставшемся на морозе котенке - грустит - решается - идет к маме - тащит маму на улицу - находят котенка - забирают домой. Последняя картинка: дома, в тепле радостная девочка, радостный котенок, смирившиеся родители. Счастливый конец.

Хороший сюжет, светлый: ребенок, глядя на эти картинки, учится состраданию, учится стремлению менять мир к лучшему. Учится действию. Это важно: подавляющее большинство детей рождается со светлыми душами. Тупыми жестокими скотами они становятся позже, глядя на взрослых. И вот в клинике такая антискотская, пропаганда, манифест добра и справедливости.

Лена немного расчувствовалась, дождалась интервьюируемое лицо, и спрашивает у него про эту картинку - кто, мол, нарисовал, чья идея. Медицинское светило нервно замахало руками: "А, это одна молодая художница получила заказ оформить нам помещения, но все плохо, все очень плохо, нам не нравится, надо все переделывать".

Вот. А когда Лена вновь оказалась в этой поликлинике, спустя какое-то непродолжительное время, все было уже по другому. Девочки, котенка, и прочих ярких красок уже не было. Зато на стене висели фото.

На одной фотографии был коллектив клиники с Владимиром Путиным в халате.

На другой фотографии был запечатлен мальчик, лежащий в здешнем стационаре, раскинув руки на белоснежных простынях. А над ним, с посохом  и чуть ли не с кадилом, склонился патриарх.</div>
	