Id: 2110ecfd-95ca-44cb-89f6-1eb5fdc200e0
Title: "Life after cannabis prohibition: The city announces its ambitions | The Copenhagen Post | The Danish"
Published: "2013-03-23"
Slug: "2013-03-23 Life after cannabis prohibition_ The city announces its ambitions _ The Copenhagen Post _"
-
<p>Как я и предсказывал, движение легализации и декриминализации растёт. Один из самых процветающих по качеству жизни городов мира - Копенгаген, решил воплотить в жизнь амбициозную программу, называемую Копенгагенской моделью - более либеральную, чем у соседей в Нидерландах.<br/><a href='https://cphpost.dk/national/life-after-cannabis-prohibition-city-announces-its-ambitions'>https://cphpost.dk/national/life-after-cannabis-prohibition-city-announces-its-ambitions</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDqHPk1i1K734Jx&w=154&h=154&url=http%3A%2F%2Fcphpost.dk%2Fsites%2Fdefault%2Ffiles%2Fcannabis_conference_inside01.jpg' />The tide is turning against the criminalisation of cannabis. Portugal, the Netherlands and several US states have to varying degrees decriminalised its use and now Copenhagen has decided to join the movement with a three-year trial to decriminalise the drug.</div>
	