Id: dddf58f9-a944-410a-81f0-7426a7e5f999
Title: "TE! EPIZODE 6"
Published: "2013-02-16"
Slug: "2013-02-16 TE_ EPIZODE 6"
-
<p>Я опять попал на ТВ :-)<br/><br/><a href='http://vimeo.com/59689545#t=2185'>http://vimeo.com/59689545#t=2185</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQCXzuvHWrUIo9SM&w=130&h=130&url=http%3A%2F%2Fb.vimeocdn.com%2Fts%2F415%2F447%2F415447201_1280.jpg' />Gustavs un Marta iesāk raidījumu ar sarunu kustībā Gulbene - Alūksne, braucot ar bānīti un par ceļabiedru izvēloties Aldi Kreisleru.  TE RĪGĀ Santa dodas uz Mežaparka…</div>
	