Id: 06ba1989-d7ff-43d8-a6fc-6e2062c5db29
Title: "Демотив-трешъ"
Published: "2013-05-10"
Slug: "2013-05-10 Демотив-трешъ"
-
<p>It's official!<br/><a href='https://www.facebook.com/photo.php?fbid=521893411203828&set=a.286291254764046.68529.100001495217146&type=1'>https://www.facebook.com/photo.php?fbid=521893411203828&set=a.286291254764046.68529.100001495217146&type=1</a></p><div class='clearfix cite'><img src='/files/https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/922865_521893411203828_836405133_n.jpg' />За какой-то кусок времяни демов насобиралось достаточно много. Решил некоторые залить... Под предлогом "чисто поржать". :))</div>
	