Id: 3b9bd2ed-1ea4-4e6e-9380-52b16468f7a0
Title: "Shared from a Personal Document"
Published: "2013-06-04"
Slug: "2013-06-04 Shared from a Personal Document"
-
<p>hohoho<br/><a href='http://amzn.com/k/ss8nIRBTRr6xvMi2bErQgg'>http://amzn.com/k/ss8nIRBTRr6xvMi2bErQgg</a></p><div class='clearfix cite'><img src='/files/https://s-platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />Иногда вас охватывают краткие и необъяснимые приступы радости, даже счастья, – вы зовете их «Near Life Experience».</div>
	