Id: 72af64d5-e259-45c4-aa53-68eb998a2778
Title: "Iceland"
Published: "2013-05-30"
Slug: "2013-05-30 Iceland"
-
<p>Завидую белой завистью, Марк в Исландии на много месяцев!<br/><a href='http://www.facebook.com/photo.php?fbid=535138899875717&set=a.535138819875725.1073741826.100001388342433&type=1'>http://www.facebook.com/photo.php?fbid=535138899875717&set=a.535138819875725.1073741826.100001388342433&type=1</a></p><img src='/files/https://fbcdn-photos-e-a.akamaihd.net/hphotos-ak-frc3/969043_535138899875717_1045220580_n.jpg' />
	