Id: 136d6904-fef2-4494-99aa-fcba9854492b
Title: "Daugavpils Rotko centrā uzstāsies angļu brīvās improvizācijas grupa AMM | Skaņu mežs"
Published: "2013-09-16"
Slug: "2013-09-16 Daugavpils Rotko centrā uzstāsies angļu brīvās improvizācijas grupa AMM _ Skaņu mežs"
-
<p>Очуметь, к нам опять приезжают титаны! <br/>25 сентября в Центре Ротко выступят патриархи импровизационной  музыки AMM.<br/>Трудно поверить. Играть будут наверняка жуткую жесть, но идти всем надо всё равно обязательно.<br/><a href='https://www.skanumezs.lv/2013/daugavpils-rotko-centra-uzstasies-anglu-brivas-improvizacijas-grupa-amm/'>https://www.skanumezs.lv/2013/daugavpils-rotko-centra-uzstasies-anglu-brivas-improvizacijas-grupa-amm/</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBfAzX0UPnbHDS8&w=154&h=154&url=http%3A%2F%2Fwww.skanumezs.lv%2Fwp-content%2Fbanners%2Fatbalsta_2013.png' />Trešdien, 25. septembrī, 17:00 Daugavpils Marka Rotko mākslas centra koncertzālē uzstāsies vēsturiski nozīmīgais brīvās improvizācijas ansamblis AMM no Lielbritānijas, kurā šobrīd ietilpst perkusionists Edijs Prevo (Eddie Prevost) un pianists Džons Tilburijs (John Tilbury). Koncerts noritēs Marka Ro...</div>
	