Id: 282c6305-7ef5-4a08-a446-6940df9f0fb4
Title: "алла лескова"
Published: "2013-05-06"
Slug: "2013-05-06 алла лескова"
-
<p>99% верующих<br/><a href='https://www.facebook.com/permalink.php?story_fbid=458752707532517&id=100001933755053'>https://www.facebook.com/permalink.php?story_fbid=458752707532517&id=100001933755053</a></p><div class='clearfix cite'><img src='/files/https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/623983_100001933755053_1710888460_q.jpg' />Лет десять назад я работала с одной женщиной, назовем ее Таней. Она была очень воцерквленная. Все праздники знала и все  ритуалы соблюдала.Крестилась перед каждой трапезой, то есть буквально каждую  булочку и колбаску перекрещивала . В Иерусалим, как на работу, каждую пасху летала. За благодатным огнем. В перерывах между всем этим  ходила по конторе и предлагала по дешевке дорогое финское масло. Мама Тани работала  завхозом в детском гастроэнтерологическом санатории, и масло в больших сумках периодически появлялось  оттуда. 
Таня  и не скрывала этого. Женщины с радостью покупали шикарные финские пачки за символические деньги. Я всегда отказывалась, что очень  Таню раздражало почему-то . Почему я отказывалась, она не догадывалась, а вы, думаю, догадались.
Однажды мы остались с Таней в комнате одни и я спросила, слегка придурившись:
 - Таня, а там, в санатории этом детском, где твоя мама работает, столько масла что ли остается?
 - Ты что, издеваешься? - повернулась ко мне Таня. - Или может смеешься надо мной? Ты что, действительно не понимаешь,что мама просто выносит оттуда это масло? А вам что, плохо? Я же недорого продаю, добро людям делаю. А ты чего не покупаешь? Поправиться боишься?  Так детям возьми, дура.
 - Таня, а что же там детям дают, вместо этого финского масла? В санатории этом? Там же дети с больными желудками?Да?
  - А знаешь, ВОЙМИКС есть, маргарин, они его любят, хорошо едят...  И добавила:
  -  Еще творог могу принести хороший, который для запеканки  в санаторий привозят...
  - А что вместо творога в запеканку ? - с ужасом спросила я.
  - А манку! Манка тот же вкус дает, не знала? Пошли чай пить,  с собой почти
 ничего не взяла,  ну так что Господь послал, то и поедим...</div>
	