Id: aaa3d7d4-5674-4cf6-83a8-abc95ec275f8
Title: "Quick update"
Published: "2013-04-01"
Slug: "2013-04-01 Quick update"
-
<p>засада<br/><a href='https://www.facebook.com/photo.php?fbid=10151432334542886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151432334542886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://photos-a.ak.fbcdn.net/hphotos-ak-ash3/57962_10151432334542886_1026261746_n.jpg' />
	