Id: e09c9913-2001-4d69-9b9e-07613b9a3d3f
Title: "Максим Саморуков. Почему котиков можно не только постить, но и есть"
Published: "2013-01-20"
Slug: "2013-01-20 Максим Саморуков. Почему котиков можно не только постить, но и есть"
-
<p>Всё так, традиции и культура правят нами, а рациональное - нет. Тот человек, который доходит до пределов личной свободы и руководствуется объективными критериями, вызывает ненависть и осуждение сотен социальных групп, каждая из которых завязана на свои эмоциональные ниточки. Что с этим делать, непонятно, потому что все мы такие.<br/><a href='http://rus.delfi.lv/news/daily/versions/maksim-samorukov-pochemu-kotikov-mozhno-ne-tolko-postit-no-i-est.d?id=42982382'>http://rus.delfi.lv/news/daily/versions/maksim-samorukov-pochemu-kotikov-mozhno-ne-tolko-postit-no-i-est.d?id=42982382</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQD1XDuqVxfLMv2u&w=90&h=90&url=http%3A%2F%2Fg3.delphi.lv%2Fimages%2Fpix%2F520x360%2F7e98e01%2Ffile36977587_a1acbab9.jpg' />Человечество всегда было не лучшего мнения о душевных качествах китайцев. Какие-то они слишком закрытые, холодные, бесчувственные.</div>
	