Id: 2f0b146a-12d8-49ec-b7eb-6880f588977c
Title: "Tūrisma klubs \"Sniegpulkstenīte\" Зимний променад \"Maļinova - Križi\" 22.12.2013."
Published: "2013-12-27"
Slug: "2013-12-27 Tūrisma klubs _Sniegpulkstenīte_ Зимний променад _Maļinova - Križi_ 22.12.2013."
-
<p>Отличное видео с похода!<br/><a href='https://youtu.be/bwJdNr-_PB8'>https://youtu.be/bwJdNr-_PB8</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAg_QLi_iJcyIB5&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FbwJdNr-_PB8%2Fmaxresdefault.jpg' />Tūrisma klubs "Sniegpulkstenīte" Зимний променад "Maļinova - Križi" 22.12.2013.</div>
	