Id: 928b773b-41ab-4d80-ad61-55fc2d7cd867
Title: "После Артишока будет «Рейв! Пчелы! Рейв!» » Новости Даугавпилса и Латвии. Видео новости дня на..."
Published: "2013-09-05"
Slug: "2013-09-05 После Артишока будет «Рейв_ Пчелы_ Рейв_» » Новости Даугавпилса и Латвии. Видео новости д"
-
<p>Не пропустите! Будет играть культовая икона андерграунда DJ Tinyvagi !<br/><a href='http://www.grani.lv/daugavpils/37543-posle-artishoka-budet-reyv-pchely-reyv.html'>http://www.grani.lv/daugavpils/37543-posle-artishoka-budet-reyv-pchely-reyv.html</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBkI4dcEpZc5EST&w=154&h=154&url=http%3A%2F%2Fwww.grani.lv%2Fuploads%2Fposts%2F2013-09%2F1378282368_rave.jpg' />Среди прочих увеселительных активностей фестиваля молодежи ARTIŠOKS, до которого остались считанные дни, посетителей ожидает особый сюрприз – рейв-афтерпати Rave Bee Hive в клуб</div>
	