Id: c40c8004-9b4c-4a1a-ae95-3c884eb336e5
Title: "FAQ: Мифология в культуре"
Published: "2013-03-15"
Slug: "2013-03-15 FAQ_ Мифология в культуре"
-
<p>Интересно и логично. Чего автор мог бы добавить - так это связать миф с нейробиологией и понятием научных моделей и моделей в сознании. <br/>См. книгу "Мозг и душа. Как физиология формирует наш внутренний мир."<br/><a href='https://postnauka.ru/faq/6599'>https://postnauka.ru/faq/6599</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDKldhuzXvdNJ6o&w=154&h=154&url=http%3A%2F%2Fimg.postnauka.ru%2F2012%2F11%2Fmiphology-culture-200x200.jpg' />7 фактов о роли мифа в истории культуры и мифотворчестве в современном мире</div>
	