Id: 5edb8235-3d78-4dbe-b185-9ef526852adc
Title: "Надпись ″Органический продукт″ способна обдурить покупателей - Детали мира"
Published: "2013-04-03"
Slug: "2013-04-03 Надпись ″Органический продукт″ способна обдурить покупателей - Детали мира"
-
<p>Удивительно, но факт. Для меня подобное очевидно, и я скептически отношусь к раскрученным медийным ярлыкам, которые нашему сознанию проще воспринимать, но, видимо, многие не в курсе того, как работает их разум.<br/><a href='https://detalimira.com/news/1420/'>https://detalimira.com/news/1420/</a></p><div class='clearfix cite'>Люди готовы платить в среднем на 23,4% больше только за надпись "органический" и искренне верят в то, что это резко улучшает качество еды: снимите с упаковки соответствующую наклейку и органический йогурт (все продукты в паре изначально были именно из числа "органики") станет презренным суррогатом. ...</div>
	