Id: ccc51a11-da1b-4c61-a910-822a724f440a
Title: "Vipassana Meditation: Введение"
Published: "2013-08-05"
Slug: "2013-08-05 Vipassana Meditation_ Введение"
-
<p>Я вернулся, жив, здоров, прошёл десятидневный курс медитации Випассана.<br/>Было интересно. Подробнее, если интересно, пока только лично.<br/><a href='https://www.ru.dhamma.org/index.php?L=19'>https://www.ru.dhamma.org/index.php?L=19</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAozXuyCqhDVTfi&w=154&h=154&url=http%3A%2F%2Fwww.ru.dhamma.org%2Ffileadmin%2Fsys%2Fimg%2Fwheel.gif' />Випассана, в переводе с древнеиндийского языка пали, означает видеть реальность такой, какая она есть. Випассана является одной из самых древних техник медитации. Она возникла в Индии более 2500 лет назад как универсальное средство от всех несчастий, как Искусство жить.</div>
	