Id: f84c5ac8-6caf-4b42-9c5f-2f8b6568249f
Title: "Новогодний пробег - рекорд по числу участников - Лёгкая атлетика - 7sport"
Published: "2013-01-03"
Slug: "2013-01-03 Новогодний пробег - рекорд по числу участников - Лёгкая атлетика - 7sport"
-
<p>Tуристический клуб "Подснежник" гремит на весь город!<br/><a href='https://www.7sport.lv/ru/Lyogkaya_atletika/1/34/Novogodnij_probeg_-_rekord_po_chislu_uchastnikov'>https://www.7sport.lv/ru/Lyogkaya_atletika/1/34/Novogodnij_probeg_-_rekord_po_chislu_uchastnikov</a></p><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQARBACmSudJVPd8&w=90&h=90&url=http%3A%2F%2Fwww.7sport.lv%2Fuserfiles%2Fb06e8ee8aabc00dce3226e8a3a87f006.jpg' />
	