Id: 27138c0e-eb83-45a5-8114-35f8eac11cf9
Title: "Jeļena Mjakuško"
Published: "2013-06-14"
Slug: "2013-06-14 Jeļena Mjakuško"
-
<p>C Днём Рождения, восхитительная Лена! Мы все очень любим твою нежную улыбку и твою потрясающую красоту!<br/><a href='https://www.facebook.com/photo.php?fbid=10151548950007886&set=a.10150454953582886.379696.762077885&type=1'>https://www.facebook.com/photo.php?fbid=10151548950007886&set=a.10150454953582886.379696.762077885&type=1</a></p><div class='clearfix cite'><img src='/files/https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-prn2/969650_10151548950007886_1943644286_n.jpg' />Originally posted on Jeļena's wall</div>
	