Id: 511eba02-cfe8-4a79-9d20-b0df7f60e005
Title: "Photos of Школа неформального Образование"
Published: "2013-06-04"
Slug: "2013-06-04 Photos of Школа неформального Образование"
-
<p>Товарищи и господа!<br/>Наконец-то состоится наша выставка, о которой я так много рассказывал. Приходите в пороховой погреб в крепости в субботу, оцените полёт нашей фантазии и трудолюбие.<br/><a href='https://www.facebook.com/photo.php?fbid=525446590850902&set=gm.619635788047799&type=1'>https://www.facebook.com/photo.php?fbid=525446590850902&set=gm.619635788047799&type=1</a></p><img src='/files/https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-prn2/969654_525446590850902_89448823_n.jpg' />
	