Id: 05b2b5bf-9b41-413e-838a-602303ed225b
Title: "Maxima не отрицает, что кассиры работают в \"памперсах\""
Published: "2013-12-12"
Slug: "2013-12-12 Maxima не отрицает, что кассиры работают в _памперсах_"
-
<p>Один раз допустишь факап - получишь полгода чёрного пиара :-)<br/><a href='http://rus.delfi.lv/news/daily/latvia/maxima-ne-otricaet-chto-kassiry-rabotayut-v-pampersah.d?id=43889554'>http://rus.delfi.lv/news/daily/latvia/maxima-ne-otricaet-chto-kassiry-rabotayut-v-pampersah.d?id=43889554</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQDQWTxWyyBCfl0N&w=154&h=154&url=http%3A%2F%2Fg1.delphi.lv%2Fimages%2Fpix%2F520x360%2F75f4d280%2Fpamperi-43715978.jpg' />Кассиры Maxima иногда сидят за кассами в памперсах, потому что их не выпускают в туалет. Это сегодня признал акционер торговой сети и кризисный менеджер Игнас Сташкявичюс в прямом эфире Первого Балтийского канала.</div>
	