Id: 28817591-af20-4d8e-9c09-d70e50179f6e
Title: "Как убивает лженаука: сотни тысяч жертв"
Published: "2013-04-10"
Slug: "2013-04-10 Как убивает лженаука_ сотни тысяч жертв"
-
<p>Вот вы периодически спрашиваете, почему я борюсь с суевериями, пропагандирую свои научные, атеистические и материалистические взгляды, мол, и так нормально.<br/>Нет, не нормально. И вот почему.<br/><a href='http://slon.ru/future/kak_ubivaet_lzhenauka_sotni_tysyach_zhertv-929342.xhtml'>http://slon.ru/future/kak_ubivaet_lzhenauka_sotni_tysyach_zhertv-929342.xhtml</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQBHGWXLnEFvPBOk&w=154&h=154&url=http%3A%2F%2Fslon.ru%2Fimages3%2F6%2F900000%2F232%2F929342.jpg%3F1365506617' />Отрицание ВИЧ и СПИДа, лечение травами, злоупотребление витаминами и другие примеры того, как отсутствие критического мышления приводит к трагическим последствиям</div>
	