Id: e5b0e6ea-1d4d-43a6-9748-8c4c0ee979f7
Title: "День программиста — Википедия"
Published: "2013-09-13"
Slug: "2013-09-13 День программиста — Википедия"
-
<p>Поздравляю всех братьев по несчастью :)<br/><a href='https://ru.wikipedia.org/wiki/%D0%94%D0%B5%D0%BD%D1%8C_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%81%D1%82%D0%B0'>https://ru.wikipedia.org/wiki/%D0%94%D0%B5%D0%BD%D1%8C_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%81%D1%82%D0%B0</a></p><div class='clearfix cite'>День программи́ста — профессиональный праздник программистов, отмечаемый в 256-й день года. Число 256 (28) выбрано потому, что это количество различных значений, которые можно выразить с помощью восьмиразрядного байта. Также это максимальная целая степень числа 2, которая меньше 365 (дней в году).</div>
	