Id: 7ca87be3-2429-4d86-b1e5-7a703d9fc98a
Title: "Поездом на высоту в пять километров: как китайцы построили железную дорогу в Тибет -..."
Published: "2013-12-21"
Slug: "2013-12-21 Поездом на высоту в пять километров_ как китайцы построили железную дорогу в Тибет -..."
-
<p>Хочуууу туда<br/><br/><a href='https://realt.onliner.by/2013/12/17/tibet/'>https://realt.onliner.by/2013/12/17/tibet/</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQDMltXUhAJQucF5&w=154&h=154&url=http%3A%2F%2Fcontent.onliner.by%2Fnews%2F2013%2F12%2Flarge%2F2636387e437d1c96c3cdf8859a6038a9.jpg' />Герметичные вагоны, индивидуальные кислородные маски для каждого пассажира, специально разработанные локомотивы, бесконечные эстакады на вечной мерзлоте, десятки безлюдных станций на фоне заснеженных горных пиков — все это уникальная Цинхай-Тибетская железная дорога. Всего за пять лет и три с полови...</div>
	