Id: 9e68884b-93a3-4ef5-ae8d-e851cd15eeea
Title: "ALPHABETICAL 26-GENRE SONG"
Published: "2013-12-26"
Slug: "2013-12-26 ALPHABETICAL 26-GENRE SONG"
-
<p>Для тех, кто в ступоре, когда я жонглирую названиями жанров, короткий остроумный ликбез. 
<br/>Узнал для новое, чувствую себя древним.<br/><a href='http://www.youtube.com/attribution_link?a=nrhr_4XxBgaD8vnhtLf1Yg&u=%2Fwatch%3Fv%3Dg3GhDWMb_3E%26feature%3Dshare'>http://www.youtube.com/attribution_link?a=nrhr_4XxBgaD8vnhtLf1Yg&u=%2Fwatch%3Fv%3Dg3GhDWMb_3E%26feature%3Dshare</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/app_full_proxy.php?app=87741124305&v=1&size=p&cksum=3aeae5802609d1c7e72787517d170cbd&src=http%3A%2F%2Fi1.ytimg.com%2Fvi%2Fg3GhDWMb_3E%2Fmaxresdefault.jpg' />iTunes: https://itunes.apple.com/ca/album/a-to-z-single/id666781556

Big thanks to Dave for all the work he did with me on this! Check him out at http://youtube.com/wwwboyinabandcom

Behind the scenes: http://youtu.be/Mj6oVhonJ14
Dissecting the song structure: http://youtu.be/JrHvba2yaiQ

Support me on Subbable:
https://subbable.com/andrewhuang
...</div>
	