Id: c39a2bb2-a5fe-4010-b5c2-e17317adc323
Title: "proSPB.info -   Полиция разогнала «Снежную битву» в Санкт-Петербурге — фото"
Published: "2013-01-07"
Slug: "2013-01-07 proSPB.info -   Полиция разогнала «Снежную битву» в Санкт-Петербурге — фото"
-
<p>Крепкая рука власти наконец-то навела порядок! <br/>Без толстой пачки подписанных бумаг веселится в Великой Имперской России не положено!<br/><a href='https://prospb.info/foto/policiya-razognala-snezhnuyu-bitvu-v-sankt-peterburge-foto/'>https://prospb.info/foto/policiya-razognala-snezhnuyu-bitvu-v-sankt-peterburge-foto/</a></p><div class='clearfix cite'><img src='/files/https://external.ak.fbcdn.net/safe_image.php?d=AQDRyPU00FO3Db1C&w=90&h=90&url=http%3A%2F%2Fprospb.info%2Fwp-content%2Fuploads%2F2013%2F01%2Fa-1-800x600.jpg' />6 января в Санкт-Петербурге сотрудниками полиции была пресечена очередная дерзкая акция. Несколько сотен подростков, организовавшись в социальной сети «Вконтакте», вышли на Марсово поле, чтобы покидаться друг в друга снежками. Однако, сделать им это не удалось, так как через 5 минут после начала дей...</div>
	