Id: 9395dbe9-05a1-4f4a-b4e5-cf174d0c4329
Title: "Quick update"
Published: "2013-05-04"
Slug: "2013-05-04 Quick update"
-
<p>Макс уже на маршруте<br/><a href='https://www.facebook.com/photo.php?fbid=10151481350407886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151481350407886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-frc1/217144_10151481350407886_970348254_n.jpg' />
	