Id: cbf15126-1c98-4003-af9f-3da10c39c37a
Title: "Фолькнери - Гойдалка (наживо, Рок-коляда'2012)"
Published: "2013-08-26"
Slug: "2013-08-26 Фолькнери - Гойдалка _наживо, Рок-коляда_2012_"
-
<p>Классная группа, и песня отличная<br/><a href='http://www.youtube.com/watch?v=7tHs7ka_VCI'>http://www.youtube.com/watch?v=7tHs7ka_VCI</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBtmrbRfTxIVxyG&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2F7tHs7ka_VCI%2Fhqdefault.jpg%3Ffeature%3Dog' />фото: http://vk.com/album-27104527_150589391</div>
	