Id: 77144890-9ca7-4682-a638-a5f1213d7248
Title: "Один день в десятом веке или назад в прошлое."
Published: "2014-01-17"
Slug: "2014-01-17 Один день в десятом веке или назад в прошлое."
-
<p>Для Igoss Wettig и Arturs Vaivods-Sulte<br/><a href='https://odin-moy-den.livejournal.com/1456742.html'>https://odin-moy-den.livejournal.com/1456742.html</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQDha9pGXeT0G4LE&w=154&h=154&url=http%3A%2F%2Fic.pics.livejournal.com%2Fratobortsy%2F50312797%2F29075%2F29075_original.jpg' />Привет. Меня зовут Павел Сапожников. Мне 24 года. В сентябре 2013 я начал исторический проект, суть которого - прожить на построенной копии древнерусского хутора семь…</div>
	