Id: ff6ebec2-10c4-43b2-a9a0-5116cb7af19a
Title: "xkcd: Cold"
Published: "2014-01-24"
Slug: "2014-01-24 xkcd_ Cold"
-
<p>Стоит у нас чуть вдарить морозам, сразу такие же базары возникают<br/><a href='https://feedly.com/e/oKOEchf5'>https://feedly.com/e/oKOEchf5</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBdoa0_FNq4n7o3&w=154&h=154&url=http%3A%2F%2Fimgs.xkcd.com%2Fcomics%2Fcold.png' />Warning: this comic occasionally contains strong language (which may be unsuitable for children), unusual humor (which may be unsuitable for adults), and advanced mathematics (which may be unsuitable for liberal-arts majors).</div>
	