Id: 6c397578-0dc5-473a-bc48-b49da754dda8
Title: "Indecision is sometimes the best way to decide – Steve Fleming – Aeon"
Published: "2014-01-10"
Slug: "2014-01-10 Indecision is sometimes the best way to decide – Steve Fleming – Aeon"
-
<p>Нерешительность позволяет мозгу получить время на более тщательный анализ вопроса, чтобы выбрать более выгодную стратегию.<br/><a href='https://aeon.co/magazine/being-human/indecision-is-sometimes-the-best-way-to-decide/'>https://aeon.co/magazine/being-human/indecision-is-sometimes-the-best-way-to-decide/</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQCmDQVr_-DNvsKK&w=154&h=154&url=http%3A%2F%2Fcdn-imgs-mag.aeon.co%2Fimages%2F2013%2F10%2FIndecision.jpg' />Quick decision-making might seem bold, but the agony of indecision is your brain’s way of making a better choice</div>
	