Id: 01349e9d-0352-4f7b-91ef-4273dc8aec45
Title: "Quick update"
Published: "2014-01-15"
Slug: "2014-01-15 Quick update"
-
<p>Женя народился!<br/>#binitex<br/><a href='https://www.facebook.com/photo.php?fbid=10152006781217886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10152006781217886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-prn2/1549533_10152006781217886_77005450_n.jpg' />
	