Id: 48645097-3e7f-4815-84d5-1db68e965b07
Title: "Книжный клуб \"Переплёт\""
Published: "2014-01-20"
Slug: "2014-01-20 Книжный клуб _Переплёт_"
-
<p>Милости просим всех книгочеев, книгоманов и книгофилов!<br/><a href='https://www.facebook.com/groups/452710731506001/'>https://www.facebook.com/groups/452710731506001/</a></p><div class='clearfix cite'><img src='/files/https://fbstatic-a.akamaihd.net/rsrc.php/v2/y3/r/0PnClccPFXs.png' />Читаем книги, обсуждаем книги, получаем фан.
Такие дела.

Правила:
1. Выбираем книгу сообща, читаем за месяц.
Если вы не успели, ничего страшного, но тогда будьте готовы к спойлерам.
2."Если вы ищете ...11 members</div>
	