Id: 4994a527-aa72-4166-a49e-4b3899600c63
Title: "Quick update"
Published: "2014-01-28"
Slug: "2014-01-28 Quick update"
-
<p>#binitex<br/><a href='https://www.facebook.com/photo.php?fbid=10152031717127886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10152031717127886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-f-a.akamaihd.net/hphotos-ak-prn1/t1/1535708_10152031717127886_920426329_n.jpg' />
	