Id: ee704e65-8a42-4937-a416-f3d0f5e34cda
Title: "Личные итоги года"
Published: "2014-01-05"
Slug: "2014-01-05 Личные итоги года"
-
<p>Путешествовал в двух новых для себя странах &ndash; Хорватии и Израиле, причём поедку в последний организовал сам, и отправился в неё тоже в одиночку.</p>
<p>Написал десяток проникновенных бумажных писем и столько же лиричных&nbsp; стихов (и не просите показать).</p>
<p>Слушал музыку на фестивалях <a href="https://www.tundrafestival.lt/">Tundra</a>, <a href="https://www.mjr.lt/">Mėnuo Juodaragis</a>, Organic Forest и <a href="https://www.skanumezs.lv/en/">Skaņu mežs</a>, коцерте Киммо Похьонена, концертах &ldquo;Акустик Фолиум&rdquo; и других.</p>
<p>Танцевал на десятке рейвов и дискотек: в пафосном провинциальном клубе &ldquo;Москва&rdquo; на прошлый новый год, андеграундном заведении &ldquo;Пекарня&rdquo;, разных неформальных тусовках.</p>
<p>Играл в &ldquo;мафию&rdquo;, настольные игры много раз.</p>
<p>Познакомился, наверное, с целой сотней новых людей, многие из них мне по нраву, надеюсь видеть их и впредь.</p>
<p>Сделал лазерную коррекцию зрения в клинике <a href="https://eyes.lt/ru/welcome/">&ldquo;Новое зрение&rdquo;</a> в Вильнюсе.</p>
<p>Прошёл десятидневный курс медитации <a href="https://courses.dhamma.org/ru/schedules/noncenter/lv">&ldquo;Випассана&rdquo;.</a> Самое, наверное, сложное, что делал в этом году, а может и в жизни.</p>
<p>Принял у себя трёх каучсёрферов (соглашался на большее количество, но приехали в итоге только три раза) и ещё пару знакомых и незнакомых людей, которым надо было переночевать, но негде было.</p>
<p>Прошёл 7 походов, общей длиною в 151 км, а сколько проехал, тут даже сказать трудно, покатушек 30 или 40.</p>
<p><a href="https://vimeo.com/59689545#t=2185">Попал на ТВ</a></p>
<p>Организовал 4 велопокатушки, из них одну &ndash; этнографическую, <a href="https://www.youtube.com/watch?v=QmOsetfbrq0&amp;feature=youtu.be">про Эмилию Пляттер</a></p>
<p>Опубликовал 273 поста/ссылка в блоге и на фейсбуке.</p>
<p>Провёл 42 часа на йоге, 40 в плавании, 73 &ndash; катаясь на велосипеде и 34 &ndash; тягая железо (может и больше, но не всё записано), побывал в спортзале 145 раз.</p>
<p>Был в музее Ротко (аж три раза), на рижском форуме современного искусства Balta Nakts и многих других культурных мероприятиях: джаз-концертах, ретро-кабаре.</p>
<p>Прочитал 10 или около того книг; особенно понравилась &ldquo;Третий пол&rdquo;.</p>
<p>Посмотрел около двадцати фильмов, понравились все, но больше всего &ndash; <a href="https://www.imdb.com/title/tt1670345/">Now You See Me</a> и <strong><a href="https://www.imdb.com/title/tt1623205/">Oz the Great and Powerful</a></strong></p>
<p>Участвовал в художественной выставке с лазерным проектом &ldquo;Отблески&rdquo;, что проходила в порохом погребе крепости.</p>
<p>Соорганизовал книжный клуб (пока секрет, посмотрим, как пойдёт)</p>
<p>Сдал кровь 1 раз.</p>
<p>Хочется, конечно, больше, лучше и дальше, но&nbsp; и так год прожит не зря.</p>
	