Id: e6e4aefb-b71c-4d40-ba1b-ccc53a336357
Title: "Clubroot - Faith In Her [HD]"
Published: "2014-01-19"
Slug: "2014-01-19 Clubroot - Faith In Her _HD_"
-
<p>Clubroot - отличная музыка, приятная, не слишком экспериментальная и не очень пошлая.<br/>Спасибо Павел Степанов!<br/><a href='https://www.youtube.com/watch?v=J8H_SkOYyqk'>https://www.youtube.com/watch?v=J8H_SkOYyqk</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBtlAPEFbYI3rHA&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FJ8H_SkOYyqk%2Fmaxresdefault.jpg' />III - MMXII (2012) | LODUBS12001 | buy: https://lodubs.bandcamp.com/album/clubroot-s-t-iii-mmxii-lodubs-12001</div>
	