Id: 3801d804-d55d-45cf-baea-ac1f26a5d086
Title: "Переплёт #4 - Собрание Акционеров"
Published: "2014-03-08"
Slug: "2014-03-08 Переплёт _4 - Собрание Акционеров"
-
<p>Обсуждение книги Теодора Драйзера: "Титан" прошло успешно!<br/><a href='https://www.facebook.com/photo.php?fbid=10152109875132886&set=a.10152109874817886.1073741840.762077885&type=1&relevant_count=6'>https://www.facebook.com/photo.php?fbid=10152109875132886&set=a.10152109874817886.1073741840.762077885&type=1&relevant_count=6</a></p><img src='/files/https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-frc1/t1/1970733_10152109875132886_100391467_n.jpg' />
	