Id: 61d9392d-3641-4842-9d5c-456aa6f7a471
Title: "Про подарки"
Published: "2015-11-08"
Slug: "2015-11-08 Про подарки"
-
<p>Вспомнилось почему-то вот про что.</p>  <p>Знают люди, что люблю чай, подарили ароматизированный из супермаркета или просто индийский (далеко не худший вариант)   <br />Очень часто бывает так, что знакомые слышат, что человек увлекается чем-то и пытаются ему угодить: дарят то, что связано с его хобби. Но если человек серъёзно увлекается, ему может быть непросто угодить, потому что то, что в вашем понимании подходит, для него низкокачественная херня. Не попадайте в такую ловушку, если уж собрались дарить специализированное, спросите сведующих товарищей.</p>  <p>&#160;</p>  <p>P.S. Если хотите нормального чаю в Даугавпилсе, зайдите в чайную на Валдемара 10, ну или хотя бы купите неароматизированного улуна в Рими.</p>
	