Id: 32ece200-5163-4214-8de3-a87d59630e1a
Title: "Чай IMPERIAL GRADE JIN JUN MEI FROM TONG MU GUAN VILLAGE * SPRING 2015"
Published: "2015-10-01"
Slug: "2015-10-01 Чай IMPERIAL GRADE JIN JUN MEI FROM TONG MU GUAN VILLAGE _ SPRING 2015"
-
<h4>Дзинь Дзюнь Мей = Золотые брови</h4>
<h4><a title="http://yunnansourcing.com/ru/-wu-yi/3396-imperial-grade-jin-jun-mei-from-tong-mu-guan-village-spring-2015.html" href="http://yunnansourcing.com/ru/-wu-yi/3396-imperial-grade-jin-jun-mei-from-tong-mu-guan-village-spring-2015.html">http://yunnansourcing.com/ru/-wu-yi/3396-imperial-grade-jin-jun-mei-from-tong-mu-guan-village-spring-2015.html</a></h4>
<p>Один из самых лучших чаёв, что пробовал в жизни. Слегка поджаренный, пахнет хлебом и баней, но не грубо, и деликатно. Шоколадом ещё. Много золотистых листков, то есть нераскрывшихся почек, что делает чай таким вкусным и дорогим.</p>
<p>Чай красный (т.е. чёрный), но не традиционного вкуса, а поджаренного.</p>
<p>Осталось у меня его всего ничего, но ничего, в следующем году купим ещё его.</p>
<p>В прошлом году с таким вкусом был чай</p>
<h4>ZHENG SHAN XIAO ZHONG OF WU YI FUJIAN BLACK TEA * SPRING 2015</h4>
<p>В этом он слегка разочаровал: вкус грубоват.</p>
<p>&nbsp;</p>
<p align="center"><strong>10/10</strong></p>
	