Id: 46dbdca5-ce0a-4f07-87f2-f08a7077e889
Title: "Чай Меньхайской фабрики рецепта 7572, год 2010"
Published: "2015-10-17"
Slug: "2015-10-17 Чай Меньхайской фабрики рецепта 7572, год 2010"
-
<p align="center"><strong><font size="7">9/10</font></strong></p>  <p><a title="https://yunnansourcing.com/en/menghaiteafactory/1519-2010-menghai-7572-recipe-ripe-pu-erh-tea-cake-batch-003.html" href="https://yunnansourcing.com/en/menghaiteafactory/1519-2010-menghai-7572-recipe-ripe-pu-erh-tea-cake-batch-003.html">https://yunnansourcing.com/en/menghaiteafactory/1519-2010-menghai-7572-recipe-ripe-pu-erh-tea-cake-batch-003.html</a></p>  <p>Очень вкусный пуэр, раскрылся для меня не сразу, но стал эталоном классического Шу пуэра. Готов купить ещё пару таких блинов, пусть лежат, хорошеют. Жаль, уже много чая, и пока нового заказывать не стану.</p>  <p>Глубокий и насыщенный вкус и аромат, в меру древесный, очень мощное послевкусие. Никаких ноток рыбы или неприятного запаха: вкусно пахнет и заваренный чайный лист, и заваренный чай. Очень трудно перезаварить: даже если кинуть в термос, вкус отличный.</p>  <p>Выдерживает довольно много заварок, один раз выдержал 10 или 11, когда положил побольше.</p>  <p>&#160;</p> <img title="2010 Menghai 7572 * Recipe Ripe Pu-erh tea cake * Batch 003" alt="" src="https://yunnansourcing.com/img/p/1519-1507-large.jpg" />
	