Id: 6de957af-8219-451d-aafd-a7c770bf4e3d
Title: "Чай Меньхайской фабрики 7562, шу пуэр 2009 года в кирпиче 250 грамм"
Published: "2015-10-18"
Slug: "2015-10-18 Чай Меньхайской фабрики 7562, шу пуэр 2009 года в кирпиче 250 грамм"
-
<p align="left"><a title="https://yunnansourcing.com/en/20092009-menghai-tea-factory-teas/2677-2009-menghai-7562-classic-ripe-pu-erh-brick-tea-250-grams.html" href="https://yunnansourcing.com/en/20092009-menghai-tea-factory-teas/2677-2009-menghai-7562-classic-ripe-pu-erh-brick-tea-250-grams.html">https://yunnansourcing.com/en/20092009-menghai-tea-factory-teas/2677-2009-menghai-7562-classic-ripe-pu-erh-brick-tea-250-grams.html</a></p>  <p align="center"><font size="7"><strong>10/10</strong></font></p>  <p align="center">&#160;</p>  <p align="center"><img title="2009 Menghai 7562 Classic Ripe Pu-erh Brick tea * 250 grams" alt="" src="https://yunnansourcing.com/img/p/2677-3527-large.jpg" /></p>  <p>Просто какой-то праздник. Нотки ореховые, сильные древесные, но древесный не напрягает, потому что очень ярко выражен сливочный вкус. Сладкий и выносящий мозг в хорошем смысле. И аромат такой же. Попробовал пока один раз, зато пять заварок. Слишком крепко заваривать не стоит, можно переборщить, тогда чуть горчит. Может, если постоянно пить, надоест, но в целом вкус фантастический. Запахи заверенного чая, заваренного листа – великолепные.</p>
	