Id: d67ff47f-ba5d-40e6-99c5-17df20629279
Title: "Кипр — 10, день девятый, озеро Ороклини, холм Вороклини и лес Ризоэлия"
Published: "2015-08-10"
Slug: "2015-08-10 Кипр — 10, день девятый, озеро Ороклини, холм Вороклини и лес Ризоэлия"
-
<p>Казалось бы, уже девятый день на колёсах, но всё неймётся. Назвался груздем – полезай в кузов.</p>

<p>Назвался туристом – езжай ещё один маршрут CTO. А если и не маршрут, то хотя бы следуй <a href="https://larnakaregion.com/uploads/files/Larnaka_Cycling_Routes.pdf">рекомендациям.</a></p>

<p>Я решил осмотреть окрестности – <a href="https://www.orokliniproject.org/en/web-pages/oroklini-lake/13">озеро Ороклини</a>, которое больше смахивает на пруд, и холм, с которого якобы открывается восхитительный вид.</p>

<p align="center"><iframe src="https://www.gpsies.com/mapOnly.do?fileId=gyeednntajvdqvth" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="600" height="400"></iframe></p>

<p>[more]</p>

<p><a href="/files/blogengine/IMG_4007.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4007" data-src="/files/blogengine/IMG_4007_thumb.jpg" alt="IMG_4007"   border="0"></a></p>

<p align="center">Кораблефонтан</p>

<p align="center"><a href="/files/blogengine/IMG_4008.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4008" data-src="/files/blogengine/IMG_4008_thumb.jpg" alt="IMG_4008"   border="0"></a></p>

<p align="center">До озера я добрался довольно споро. Озеро крошечное, но за год тут бывают десятки видов птиц, по-моему даже за сотню заходит.</p>

<p align="left">На деле, это, конечно, не озеро, а болото, одно из всего лишь семи природных на Кипре.</p>

<p align="center"><a href="/files/blogengine/IMG_4009.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4009" data-src="/files/blogengine/IMG_4009_thumb.jpg" alt="IMG_4009"   border="0"></a></p>

<p align="center">Без бинокля не разберёшься</p>

<p align="center"><a href="/files/blogengine/IMG_4010_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4010" data-src="/files/blogengine/IMG_4010_thumb_1.jpg" alt="IMG_4010"   border="0"></a></p>

<p align="center"><a href="/files/blogengine/IMG_4020.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4020" data-src="/files/blogengine/IMG_4020_thumb.jpg" alt="IMG_4020"   border="0"></a>И тут угри</p>

<p align="center"><a href="/files/blogengine/IMG_4011.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4011" data-src="/files/blogengine/IMG_4011_thumb.jpg" alt="IMG_4011"   border="0"></a></p>

<p><a href="/files/blogengine/IMG_4012_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4012" data-src="/files/blogengine/IMG_4012_thumb_1.jpg" alt="IMG_4012"   border="0"></a></p>

<p align="center">Брошюры новенькие, чистенькие и от дождя укрыты</p>

<p align="center"><a href="/files/blogengine/IMG_4014.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4014" data-src="/files/blogengine/IMG_4014_thumb.jpg" alt="IMG_4014"   border="0"></a></p>

<p align="center">Фламинго и их родней нас не удивишь, видали такое в Италии</p>

<p><span style="color: #000000;"><a href="/files/blogengine/IMG_4016.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4016" data-src="/files/blogengine/IMG_4016_thumb.jpg" alt="IMG_4016"   border="0"></a></span></p>

<p align="center">Вид с холма Вороклини</p>

<p align="left">Надо сказать, что кафе рядом полным-полно, не очень-то понятно, почему, ведь вид с этого холма не сильно отличается от вида с холмов рядом. Маркетинг?</p>

<p align="center"><a href="/files/blogengine/IMG_4018.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4018" data-src="/files/blogengine/IMG_4018_thumb.jpg" alt="IMG_4018"   border="0"></a></p>

<p align="center">Стоило ли забираться, не знаю, но после стольких дней особого труда не вызывает</p>

<p align="center"><a href="/files/blogengine/IMG_4019_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4019" data-src="/files/blogengine/IMG_4019_thumb_1.jpg" alt="IMG_4019"   border="0"></a></p>

<p>&nbsp;</p>

<p><a href="/files/blogengine/IMG_4020_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4020" data-src="/files/blogengine/IMG_4020_thumb_1.jpg" alt="IMG_4020"   border="0"></a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><a href="/files/blogengine/IMG_4021.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4021" data-src="/files/blogengine/IMG_4021_thumb.jpg" alt="IMG_4021"   border="0"></a></p>

<p align="center">На охраняемые природные территории воды не жалеют.</p>

<p align="center">&nbsp;</p>

<p>&nbsp;</p>

<p><a href="/files/blogengine/IMG_4022.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4022" data-src="/files/blogengine/IMG_4022_thumb.jpg" alt="IMG_4022"   border="0"></a></p>

<p>Решил заехать на другой однотипный холм. Дорога живописная, но с точки зрения умеренного МТБшника, не экстремала – сущее мучение. То пешком вверх, то тормоза зажаты намертво вниз, и так каждые две минуты.</p>

<p>&nbsp;</p>

<p><a href="/files/blogengine/IMG_4023.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4023" data-src="/files/blogengine/IMG_4023_thumb.jpg" alt="IMG_4023"   border="0"></a></p>

<p align="center">Уклон просто запредельный, особенно для грунтовки</p>

<p><a href="/files/blogengine/IMG_4024.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4024" data-src="/files/blogengine/IMG_4024_thumb.jpg" alt="IMG_4024"   border="0"></a></p>

<p>&nbsp;</p>

<p><a href="/files/blogengine/IMG_4026.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4026" data-src="/files/blogengine/IMG_4026_thumb.jpg" alt="IMG_4026"   border="0"></a></p>

<p align="center">По пути попались козлы</p>

<p align="center"><a href="/files/blogengine/IMG_4028_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4028" data-src="/files/blogengine/IMG_4028_thumb_1.jpg" alt="IMG_4028"   border="0"></a></p>

<p align="center">И тро-ло-ло</p>

<p align="center"><a href="/files/blogengine/IMG_4030.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4030" data-src="/files/blogengine/IMG_4030_thumb.jpg" alt="IMG_4030"   border="0"></a></p>

<p><a href="/files/blogengine/IMG_4031.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4031" data-src="/files/blogengine/IMG_4031_thumb.jpg" alt="IMG_4031"   border="0"></a></p>

<p align="center">Как видим, свои коровы на Кипре всё-таки есть, хоть и немного</p>

<p style="text-align: left;" align="center">&nbsp;</p>

<p align="center"><a href="/files/blogengine/IMG_4032.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4032" data-src="/files/blogengine/IMG_4032_thumb.jpg" alt="IMG_4032"   border="0"></a></p>

<p align="center">Овцакоатль</p>

<p align="center"><a href="/files/blogengine/IMG_4036_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4036" data-src="/files/blogengine/IMG_4036_thumb_1.jpg" alt="IMG_4036"   border="0"></a></p>

<p>Уже будучи близко от Ларнаки, заехал в так называемый "лес" Ризоэлия. Грустно всё на Кипре с лесами - то, что называется лесом, по нашим меркам крошечный и довольно-таки разреженный парк. Посетителей я там не обнаружил, несмотря на массу мест для пикников и выходной день. Покатавшись довольно глупо туда-сюда, и накатав ещё десяток км по холму, где расположен лес, я даванул в отель.</p>

<p>По дороге назад заехал в веломагаз, который на сей раз был открыт. Там я раздобыл огромную картонную коробку,&nbsp; нужную, чтобы упаковать велосипед. И хотя досталась она мне бесплатно, включала в себя отдельные картонки для колеса и дисковых тормозов, всё равно больше я так делать не буду: ведь сначала мне пришлось тащить её три километра до отеля, а потом ещё пять – до аэропорта. Учитывая размер, можно сказать, что я как будто нёс с собой парус, но я ж не корабль! Да и по ночному шоссе ехать с коробкой весьма небезопасно.</p>

<p>Похоже, надо переходить на велосумку, как ни крути. Давно понятно, что любое хобби имеет тенденцию разрастаться до тех пор, пока не начнёт сосать из тебя ресурсы, словно баобаб из скудной африканской почвы, но куда ж тут денешься. К конце-концов, этого то ты и хотел, чтобы было чем время скоротать и потратить его с толком. Велотуризм тут совсем не исключение – если приобретать все нужные аксессуары, скоро места их хранить не хватит, не говоря уже о том, сколько стоит достойное сняряжение. Но поверьте мне, оно того стоит – палатка, у которой дно даже с водостойкостью в пять тысяч миллиметров водного столба может протекать, если под ней скопилась большая лужа, чего уж говорить про 2000 или вообще без указания характеристик. У меня вот старая, но прекрасная палатка Vaude поизносилась, и пришло время новой, но жаба страшно душит, учитывая, как редко я ночую в палатке, и как я люблю летать в страны с солнечным климатом.</p>

<p>Говоря о последних, пустыни меня отлично устраивают, и потому, решившись на очередное безумие, я купил билет в Израиль, откуда попаду в Иорданию. Меня там ждут бедуины, у которых медленно, но верно, понижается градус гостеприимства, и повышается – алчности, древний город Петра, вырубленный в скале, и каждый день солнце и 20 с лишним градусов тепла – как раз, чтобы не зажариться.</p>

<p>Но пока ещё рассказ я веду про Кипр, хотя и осталось совсем немного. Приехав в отель, я толком не отдохнул, так как страдал от той самой жары, которая в мае на Кипре уже достигла двадцати шести градусов. Сейчас, когда пишу эти строки, и за окном тридцатник, я понимаю, что такая температура мне совсем не по нраву, и я постараюсь не в коем случае не посещать страны в сезон с этой адской печкой, ну или сначала похудею до 75 кг (во что верится с трудом).</p>

<p>Навьючив вещи на верного ишака, и неуклюже схватив коробку, я потащился в аэропорт. В 12 ночи там никого не было, кроме редких охранников и уборщиков, поэтому вел я паковал не спеша, и с удовольствием. Когда пришло время вылета, случилась очередная засада. Кассир эйрБолтика сообщил, что мне надо оплатить перевозку вела. Я не самый внимательный человек на свете, конечно, но вероятность, что я забыл сделать это онлайн, собираясь куда-то с велосипедом, стремится к нулю. После целого дня нагрузки, усталости за неделю от моей обычной стеснительности и миролбивости не осталось и следа. Орать и ругаться матом, я, конечно не стал, но ответил юной и симпатичной кассирше довольно резко, мол, какого чёрта? Она, явно привычная к куда более неприятным ситуациям, попросила меня какой-то таинственный код оплаты велика, на что я сообщил ей, что понятия не имею, что это такое, где его взять, и вообще у них в аэропорту бесплатный вай-фай не работает. Намучившись вести переговоры, я согласился оплатить 60 евро, зная, что смог у вернуть деньги по прибытии.</p>

<p>После оплаты интернет вдруг заработал, и я нашёл свой э-билет. Разумеется, провоз вела был оплачен, но когда я показал билет на кассе, мне сказали, что таинственного кода там по-прежнему нет. Это меня порядком разозлило, потому что как потребитель я совсем не обязан знать об их внутренней кухне, и кредитовать компанию своими деньгами. Увы, ничего другого, как проглотить косяк эйрБолтика мне не оставалось. Дело с возвратом денег в Латвии решалось долго, вернули мне всего лишь те же 60 евро, или вместо них предложили лишь смеховторный ваучер в 70 евро на следующий рейс. Который, я разумеется, не взял, и правильно сделал, потому что лечу в Израиль я Райнэйром. Перевоз велика у них стоит дороже, но по крайней мере хоть один рейс в нормальное время, а не ночью.</p>

<p>Деньги возвращали практически 4 месяца, и только после напоминания и повторной заявки. В общем, теперь я в стане недовольных услугами airBaltic, хоть и понимаю, что глупо ожидать многого от лоукоста. С другой стороны, на WizzAir, которым я летал довольно часто, у меня никаких нареканий нет, а билеты там ещё дешевле.</p>

<p>Как бы то ни было, я без дальнейших проблем вернулся в Латвию ранним утром, собрал велик и потащился на поезд. Уже какой раз я понимаю, что ночь без сна для меня означает потом несколько дней ужасного настроения и самочувствия, но часто никаких вариантов нет – билеты обычными компаниями стоят каких-то заоблачных денег, а мир посмотреть – достойная цель, чтобы несколько дней пострадать.</p>
<p><a href="/post/2015-08-22%20Кипр%20%20–%2011,%20Заключение" style="color: rgb(92, 128, 177); font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; padding-right: 10px; white-space: nowrap; background-image: url(&quot;../../pics/remote.gif&quot;); background-attachment: initial; background-color: rgb(246, 246, 246); background-size: initial; background-origin: initial; background-clip: initial; background-position: 100% 0%; background-repeat: no-repeat;">К оглавлению</a></p>
	