Id: 069c75ac-1640-4cdd-9214-0abe27a8b7e4
Title: "\"Пробуждение\" Сэма Харриса"
Published: "2015-09-10"
Slug: "2015-09-10 _Пробуждение_ Сэма Харриса"
-
<p style="margin: 0px 0px 6px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14.44444465637207px; line-height: 21.46666717529297px;">Наличие сознания в правом полушарии особенно трудно отрицать, если субъект обладает лингвистическими способностями в обоих сторонах мозга, потому что в этом случае разделённые полушария часто выражают разные намерения. В знаменитом примере, юного пациента спросили, кем он хочет быть, когда вырастет: его левый мозг ответил: "чертёжником", а правый использовал буквы на карточках, чтобы собрать по буквам слово: "гонщиком". Бывает, что разделённые полушария иногда обращаются друг<span class="text_exposed_show" style="display: inline;">&nbsp;к другу непосредственно, в виде вербализированного межполушарного спора.</span></p>
<div class="text_exposed_show" style="display: inline;">
<p style="color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14.44444465637207px; line-height: 21.46666717529297px; margin: 0px 0px 6px;">В данном случае, каждое полушарие может иметь свои собственные верования. Представьте, что это говорит о широко распространённом с христианстве и исламе мнении, что спасение человека зависит от правильной веры в правильного бога. Если левое полушарие пациента с разделённым мозгом принимает божественность Иисуса, а правое - нет, должны ли мы предположить, что у него теперь две бессмертных души, и одной предначертана компания ангелов, а второй - вечность в аду?</p>
<p style="color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14.44444465637207px; line-height: 21.46666717529297px; margin: 6px 0px;">Сэм Харрис из книги "Пробуждение" про пациентов, которым по медицинским показаниям сделано хирургическое разделение полушарий мозга.</p>
<p style="margin: 6px 0px;"><a href="http://www.samharris.org/waking-up"><span style="color: #141823; font-family: helvetica, arial, sans-serif;"><span style="font-size: 14.545454025268555px; line-height: 21.46666717529297px;">http://www.samharris.org/waking-up</span></span></a></p>
</div>
	