Id: c856929c-4f7d-4503-b2c8-7208a2f87855
Title: "Мозгослом"
Published: "2016-07-07"
Slug: "2016-07-07 Мозгослом"
-
<p>Нельзя такое создавать, мой хрупкий мозг может разлететься на мелкие кусочки.</p><iframe height="500" src="/files/lj/zigzag/index.html" frameborder="0" width="100%"></iframe> <p>&nbsp;</p> <p>За ссылку спасибо <a href="avva.livejournal.com">avva</a></p> <p><a href="https://vladimirslepnev.itch.io/zigzag">Оригинал</a></p>
	