Id: 7cce65ed-a98d-436b-b841-48b7ec3405c2
Title: "Про педагогов и лояльность"
Published: "2016-11-05"
Slug: "2016-11-05 Про педагогов и лояльность"
-
<p>Посмотрел передачу “Точки над И” про горячую в Латвии тему – закон о лояльности педагогов. В целом, довольно бестолковая получилась дискуссия, но радует, что в целом люди против поправок, и учителя и многие политики.</p>
<br><video controls=""><source src="/files/lj/ltb4_tochki_loyality.mp4" type="video/mp4">Your browser does not support the video tag. </video>
	