Id: bbd1beea-3eb8-4058-870c-3774c8eadd69
Title: "Интервью » Владимир Познер: «Да, такие сейчас времена. Сероватые чуть-чуть»"
Published: "2016-01-27"
Slug: "2016-01-27 Интервью » Владимир Познер_ «Да, такие сейчас времена. Сероватые чуть-чуть»"
-
<p>Хаха, а я раньше анекдот про козла и раввина цитировал. Впрочем, в этом не согласен, вовсе сейчас не время жабы.</p>  <div style="border-top: black 1px solid; border-right: black 1px solid; border-bottom: black 1px solid; font-style: normal; padding-left: 20px; margin: 20px; border-left: black 1px solid; display: block; padding-right: 20px; background-color: #eeffff">   <p>У древних римлян было выражение - &quot;время жабы&quot;. Если жалуешься, что все отвратительно, съешь живую жабу – сразу покажется, что до жабы все было гораздо лучше. Сейчас время жабы.</p> </div>  <p><a title="https://pozneronline.ru/2016/01/13997/" href="https://pozneronline.ru/2016/01/13997/">https://pozneronline.ru/2016/01/13997/</a></p>
	