Id: 6a033a85-0d07-4612-b4d0-19a252427d74
Title: "SSL"
Published: "2016-04-24"
Slug: "2016-04-24 SSL"
-
<p>Включил SSL в блоге, но пока не форсирую, слишком много ещё надо подточить.</p>  <p>Всё благодаря организации <a href="https://letsencrypt.org">https://letsencrypt.org</a> , которая раздаёт сертификаты всем желающим, и удобная софтина инсталлирует их на виндоус сервер (на линуксе поддержка родная). Про софтину прочитал у известного чувака <a href="http://weblog.west-wind.com/posts/2016/Feb/22/Using-Lets-Encrypt-with-IIS-on-Windows">http://weblog.west-wind.com/posts/2016/Feb/22/Using-Lets-Encrypt-with-IIS-on-Windows</a></p>
	