Id: 35407249-1e81-4bba-b7d8-5b2a0b5c0f6b
Title: "Утюг"
Published: "2016-12-19"
Slug: "2016-12-19 Утюг"
-
<p>Первый раз в жизни взял в руки утюг, и закончилось всё печально. Кто, блин, делает бытовое устройство так, что 90% его поверхности, и даже прямо рядом с ручкой (спереди) - повод получить бытовую травму? <p>Валите сами в свой советский союз, а я куплю современный утюг, хоть и пользуюсь им раз в год. <p><a href="/files/blogengine/IMG_20161219_132436.jpg"><img title="IMG_20161219_132436" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; display: inline; padding-right: 0px" border="0" alt="IMG_20161219_132436" data-src="/files/blogengine/IMG_20161219_132436_thumb.jpg"  ></a> <p>Кто скажет, что я сам дурак, пусть читает про Яму Успеха<br><a href="https://blog.codinghorror.com/falling-into-the-pit-of-success/">https://blog.codinghorror.com/falling-into-the-pit-of-succ…/</a>
	