Id: 591731ad-6f04-49d3-b2f4-c9d945260a64
Title: "Типа так"
Published: "2016-05-08"
Slug: "2016-05-08 Типа так"
-
<p>Если вдруг захочу стать геем или хипстором, непременно куплю себе такие очки.</p>  <p><a href="/files/blogengine/P5070010.jpg"><img title="P5070010" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; display: inline; padding-right: 0px" border="0" alt="P5070010" data-src="/files/blogengine/P5070010_thumb.jpg"   /></a></p>
	