Id: 89cf92f4-a449-4229-82f0-1f1579c97fc7
Title: "В какую цену?"
Published: "2016-07-19"
Slug: "2016-07-19 В какую цену_"
-
<p>Сегодня на базаре услышал “В какую цену малина?” два раза подряд.</p> <p>Давным-давно не встречал такого выражения, сам бы сказал “почём” или “сколько стоит”.</p> <p>Давайте вспомним ещё забавные олдскульные выражения?</p>
	