Id: 2d52877b-0161-49bf-b52d-e61b844ed616
Title: "MySql"
Published: "2016-08-16"
Slug: "2016-08-16 MySql"
-
<p>Обновлял сайт, процесс долго висел, убил его.</p> <p>Попортились таблицы базы. Что это за реляционная база&nbsp; такая, у которой убитый клиентский процесс оставляет её поломанной?</p> <p>Гавно, а не база. В следующий раз попробую PostgreSQL.</p>
	