Id: 898ed21d-8dba-4c4d-8490-cc1322227748
Title: "Подростки смотрят на комп с Windows 95"
Published: "2016-03-08"
Slug: "2016-03-08 Подростки смотрят на комп с Windows 95"
-
<p>Подростки смотрят на комп с Windows 95, почему-то очень смешно было.</p> <p><br><video controls><source type="video/mp4" src="/files/lj/teens.mp4">Your browser does not support the video tag. </video><br><a href="/files/lj/teens.mp4">Скачать mp4 видео </a></p> <p><a href="https://www.youtube.com/watch?v=8ucCxtgN6sc">youtube</a></p>
	