Id: 3993b671-b87d-4ae3-8617-8615c7f193ea
Title: "Сон"
Published: "2016-09-08"
Slug: "2016-09-08 Сон"
-
<p>Раз мой предыдущий сон вызвал такой ажиотаж, поделюсь сегодняшним. </p> <p>Грезилось мне, что для празднования конца олимпийских игр, одного из лучших атлетов (вроде бы пловца Фелпса) решили запустить в космос. Выбрали для этого почему-то какой-то большой остров, то ли Сицилию, то ли Кипр. В любом случае, на острове было два старинных замка, принадлежащих состоятельным аристократам, и по какой-то таинственной причине, наблюдать запуск удобнее всего было из них.</p> <p>Костя Калинин дал мне ключ к порталу, который позволял переместиться к одному из замков. Попал я прямиком в спальню, и очень стремался, что меня обнаружат, а я тут на птичьих правах. Так и случилось, но нашёл меня коллега моего и Костиного папы, и ему было совершенно параллельно, что я тут тусуюсь.</p> <p>Чем окончился запуск, история умалчивает.</p>
	