Id: 4e6cb99f-33f8-40f6-a33a-f483a033f950
Title: "Художники про программирование"
Published: "2016-04-14"
Slug: "2016-04-14 Художники про программирование"
-
<p>Очень смешно, но только программистам</p>  <p><a title="https://classicprogrammerpaintings.tumblr.com/" href="https://classicprogrammerpaintings.tumblr.com/">https://classicprogrammerpaintings.tumblr.com/</a></p>  <p><a href="/files/lj/Classic%20Programmer%20Paintings.pdf">Копия</a></p>
	