Id: 9ccfe1b7-1d8a-41b0-be87-ed340d1b2181
Title: "Тренируем мозг — 19"
Published: "2016-07-20"
Slug: "2016-07-20 Тренируем мозг — 19"
-
<p>Ответ на предыдущую задачу:</p> <p>43. Сначала делаем 36/6=6 заготовок, остаётся стружек от 6, из которых можно сделать ещё одну.</p> <p><a href="/files/blogengine/image_32.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_33.png"  ></a></p>
	