Id: 8949c9ec-0679-434b-a370-34fde326404f
Title: "Названия иван-чая в народе"
Published: "2016-12-17"
Slug: "2016-12-17 Названия иван-чая в народе"
-
<ul> <li>«плакун»</li> <li>«скрипун», «скрыпень», «скрыпун, «скрипен», «скрыпник», «скрыпей», «лесной скрыпий», «скрипен», «скрипица», «скрипел», «скрипт». </li> <li>«курильский чай»</li> <li>«копорский чай», «копорка»</li> <li>«хлебница»</li> <li>«сорочьи глаза»</li> <li>«богородицына трава»</li> <li>«елушник»</li> <li>«дятельник»</li> <li>«боровое зелье»</li> <li>«копыл трава»</li> <li>«хрипняк», «хрыпник», «хрепяльник»</li> <li>«спрыг»</li> <li>«смолк-трава»</li> <li>«краснушка»</li> <li>«пустодом»</li> <li>«маточник»</li> <li>«ревенка»</li> <li>«мельничник»</li> <li>«синовод»</li> <li>«степник»</li> <li>«шелковица»</li> <li>«хмызок»</li> <li>«яровник»</li> <li>«виноход»</li> <li>«ненадычка»</li> <li>«петушковы яблоки»</li> <li>«ницалоза» и мн. др.</li></ul>
	