Id: 7159746d-b98c-4359-8cc7-846eba0e6e03
Title: "Elysia Crampton Presents: Demon City by Elysia Crampton"
Published: "2016-10-27"
Slug: "2016-10-27 Elysia Crampton Presents_ Demon City by Elysia Crampton"
-
<p>Интересная музыка, но часто слушать не выйдет, слишком уж в стиле Леса Звуков.</p> <p><iframe height="380" src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A2r3AmC7FUTejd41nmYVbzx" frameborder="0" width="300" allowtransparency></iframe></p>
	