Id: ab78a377-9e07-4e8b-8f64-669c51524772
Title: "Про экспорт мифов"
Published: "2016-10-02"
Slug: "2016-10-02 Про экспорт мифов"
-
<p>Понравился абзац (сама статья норм, но не огонь) <p>America uses its stories to export a myth of itself, just like the UK. The reality of Britain is vibrant multiculturalism, but the myth we export is an all-white world of lords and ladies. Conversely, American society is pretty segregated, but the myth it exports is of a racial melting-pot, everyone solving crimes and fighting aliens side by side. <p><a href="https://www.theguardian.com/world/2016/sep/15/riz-ahmed-typecast-as-a-terrorist">https://www.theguardian.com/world/2016/sep/15/riz-ahmed-typecast-as-a-terrorist</a></p>
	