Id: 399b4cc8-a550-4871-ae47-bb99e3e23b28
Title: "oxxxymiron город под подошвой"
Published: "2016-01-24"
Slug: "2016-01-24 oxxxymiron город под подошвой"
-
<p>Таки увлёкся новомодным рэпером-филологом, <a href="https://www.gq.ru/moty/2012/22576_otkrytie_goda_oxxxymiron_ya_ne_erudit_ya_standartnyy_intelligentishka.php">интервью тоже доставляет</a></p>

  <p><a href="/files/lj/oxxxymiron-gorod-pod-podoshvojj-(mp3-crazy.com).mp3">Скачать MP3</a> </p>

  <p><br></p>

 <div id='rg_embed_link_525445' class='rg_embed_link' data-song-id='525445'>Read <a href='https://genius.com/Oxxxymiron-city-under-the-sole-lyrics'>“Город под подошвой (City Under the Sole)” by Oxxxymiron</a> on Genius</div> <script crossorigin src='//genius.com/songs/525445/embed.js'></script>

	