Id: 6a0a8e5f-6052-4bfa-a377-0055f661511b
Title: "Therapy? – Six Mile Water"
Published: "2016-01-30"
Slug: "2016-01-30 Therapy_ – Six Mile Water"
-
<p>Вспомнилась почему-то лиричная и сентиментальная песня <a href="/files/lj/06%20-%20Six%20Mile%20Water.mp3" target="_blank">Therapy? – Six Mile Water</a>&nbsp;</p>  <p>Искал правда почему-то Suicide <img class="wlEmoticon wlEmoticon-winkingsmile" style="border-top-style: none; border-bottom-style: none; border-right-style: none; border-left-style: none" alt="Winking smile" data-src="/files/blogengine/wlEmoticon-winkingsmile.png"></p>  <p>Потом понял, почему, альбом, в котором песня, смешно называется – Suicide Pact – You first</p>
	