Id: e38d6283-de94-4806-a26a-493f88154bb0
Title: "Израильские овощи и фрукты поставляемые в Россию, выращиваются в песке и на минах (Израиль)"
Published: "2016-01-30"
Slug: "2016-01-30 Израильские овощи и фрукты поставляемые в Россию, выращиваются в песке и на минах _Израил"
-
<p><a href="https://puerrtto.livejournal.com/693073.html" target="_blank">Интересная заметка про кибуцы и овощи</a><br></p>
	