Id: 0c7c3860-f041-42f9-afe4-2d297f273cb4
Title: "Тренируем мозг — 20"
Published: "2016-07-21"
Slug: "2016-07-21 Тренируем мозг — 20"
-
<p>Ответ</p> <p><a href="/files/blogengine/image_33.png"><img title="image" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border-top-width: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_34.png"  ></a></p> <p>Задача</p> <p><img data-src="/files/lj/2016_07_21_11_40_29_Untitled_paint.net_4.0.10.png"></p>
	