Id: 927cbb32-ebcf-44ee-a727-d1655f6c32cb
Title: "Лирика"
Published: "2016-09-29"
Slug: "2016-09-29 Лирика"
-
<p>Вот у негритянских братьев проблемы.<br>Девушка предлагает забухать, уторчаться и заняться сексом, а чуваку утром в церковь! <p>She say she wanna drink, do drugs and have sex tonight<br>But I got church in the mornin', church in the mornin' <p>Напоминает рассказ одного из приятелей про нелёгкую жизнь музыкантов в большом городе, но тот всё-таки в церковь попал, спохватился вовремя, в шесть утра. <p><iframe height="480" src="https://www.youtube.com/embed/oLRNvqI4yQg" frameborder="0" width="854" allowfullscreen></iframe></p>
	