Id: f48b35b8-2ae5-46e4-9baa-267e58e557b3
Title: "Тренируем мозг — 9"
Published: "2016-07-11"
Slug: "2016-07-11 Тренируем мозг — 9"
-
<p>Ответы на предыдущие задачи.</p> <p>4 кошки (они повернуты друг к другу задом, как ни странно)</p> <p>Дать девочке яблоко вместе с корзиной.</p> <p>Новая задача.</p> <p><a href="/files/blogengine/image_17.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_17.png"  ></a></p>
	