Id: 5b948311-c20a-4ac2-951a-bdbf3b5bc4ba
Title: "Тренируем мозг — 10"
Published: "2016-07-12"
Slug: "2016-07-12 Тренируем мозг — 10"
-
<p>Ответ на предыдущую задачу</p> <p><a href="/files/blogengine/image_18.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_18.png"  ></a></p> <p>Новая задача</p> <p><a href="/files/blogengine/image_19.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_19.png"  ></a></p>
	