Id: aa16c8b1-0285-430a-8ff8-224a014a21c4
Title: "Вспоминая Юдарагис"
Published: "2016-03-04"
Slug: "2016-03-04 Вспоминая Юдарагис"
-
<p>Красивая песня</p> <p><a title="/files/lj/03.%20Skryj%20Hlavu%20Do%20Dlani.mp3" href="/files/lj/03.%20Skryj%20Hlavu%20Do%20Dlani.mp3">Silent Stream Of Godless Elegy - Skryj hlavu do dlaní</a></p><iframe height="480" src="https://www.youtube.com/embed/C5A5d8ZWeWQ" frameborder="0" width="854" allowfullscreen></iframe>
	