Id: ac0d1859-7ac9-45c9-b981-e66a9a59c65e
Title: "Авторизация в интернет-банке Сведбанка и других"
Published: "2016-12-21"
Slug: "2016-12-21 Авторизация в интернет-банке Сведбанка и других"
-
<p>Новые европейские регулы требуют, чтобы в скором времени банковские транзакции свыше определённой суммы обеспечивались не только кодом из карты кодов, но более надёжным способом аутентификации. В <a href="http://www.delfi.lv/biznes/finances/v-2017-godu-karty-kodov-internet-banka-budet-nedostatochno.d?id=47592533">комментах на Дельфи</a>, где всегда разверзаются бездны ада по любому поводу, сразу начался вой и срач, мол, заставят всех покупать калькуляторы кодов, бла-бла-бла.<img style="float: none; margin-left: auto; display: block; margin-right: auto" src='/files/F0AE79D93EB4F3841438BE312A274038.png'></p>
<p>Калькулятор кодов (коробчка с экраном) мне тоже&nbsp; носить не улыбается. Я считаю, что в век смартфонов и биометрики это анахронизм, как и карта кодов, от которой я постоянно плююсь. Мало того, что вводишь код для логина, так ещё будь добр для каждой операции. Я понимаю, что мои деньги же берегут, но вот пейпал же как-то обходится меньшей кровью? Пейпал сам по себе – тот ещё кал, но это тема другого разговора.</p>
<p>
    <img style="float: none; margin-left: auto; display: block; margin-right: auto" src='/files/5C62213B145DB0FEBA138CA3EF8702E4.jpg'>
</p>
<p align="center">Калькулятор кодов</p>
<p>В итоге большие шишки Сведбанка решили, что аутентификация там будет псевдо-двухфакторной, с помощью СМС. Многие я думаю, с такой сталкивались в гуглопочте и других сервисах. Всё бы ничего, но это <strong>недостаточно </strong>безопасный способ, см. ниже.</p>
<p>
    <a title="https://www.wired.com/2016/06/hey-stop-using-texts-two-factor-authentication/" href="https://www.wired.com/2016/06/hey-stop-using-texts-two-factor-authentication/">https://www.wired.com/2016/06/hey-stop-using-texts-two-factor-authentication/</a>
</p>
<p>Если коротко, то захватчик может перехватить и перенаправить ваши СМС на другую симку, уговорив оператора, что он – это вы, или же с помощью сложных технических средств типа фальшивых вышек. Такое неоднократно проделывали в России и других странах с гражданскими активистами и просто ради бабла.</p>
<p>Какое же решение? Приложение типа <strong>Google Authenticator </strong>на телефоне, которое даёт нам настоящую двухфакторную аутентификацию. К сожалению, надежды мало – даже если Сведбанк созреет, они выпустят своё, менее удобное, более кривое и самое главное – ещё одно, хотя Гугль Аус позволяет добавлять сколько угодно чужих сервисов. В конце-концов выйдет так, что на каждый чих надо будет своё приложение.</p>
<p>Тем более, что с точки зрения безопасности у Гугля хорошая биография, и мне не кажется, что в Сведбанке сделают лучше.</p>
<p>Ещё там прикрутили аутентификацию по электронной подписи из ID карты, которая у нас как паспорт, но с ней пока не разбирался. Описание выглядит как издевательство – сначала инсталлируешь гос. сертификаты, а потом постоянно надо вводить шестизначный ПИН. По крайней мере это уже лучше, чем случайные коды из карты.</p>
<p>&nbsp;</p> <img alt="Image result for latvia id card reader" src="http://www.pluss-id.com/wp-content/themes/plussid/assets/img/product/4.jpg" width="1076" height="605">
<p align="center">e-ID card reader</p>