Id: 5a1a5c42-0b32-49d8-89ca-8ac19c314895
Title: "Аллодиния"
Published: "2016-03-13"
Slug: "2016-03-13 Аллодиния"
-
<p>Если кто хочет знать про мои симптомы больше, есть интересное видео на TED, автор Эллиот Крейн, всего восемь минут.</p> <p><br><video controls><source type="video/mp4" src="/files/lj/ElliotKrane_2011U-480p-ru.mp4">Your browser does not support the video tag. </video><br><a href="/files/lj/ElliotKrane_2011U-480p-ru.mp4">Скачать mp4 видео </a></p> <p><a href="https://www.ted.com/talks/elliot_krane_the_mystery_of_chronic_pain?language=ru">Оригинал</a></p>
	