Id: 0903fd56-5aa8-42b1-90bf-0413ebb3b703
Title: "Про бренды (в очередной раз)"
Published: "2016-07-14"
Slug: "2016-07-14 Про бренды _в очередной раз_"
-
<p>Заметил, что в моём подъезде на пяти металлических дверях не сняты наклейки с названием и телефоном производителя (притом, что дверям уже не первый год).</p> <p>Я бы первым делом сорвал, настолько неприятно эта какашка выглядит (хоть и слабо видна). </p> <p>Непонятно, чего это я должен рекламировать фирму, которая мне не сват и не брат.</p> <p>Готов ещё потерпеть логотип, где хотя бы надписи нет. Недавно вот обнаружили интересное и красивое лого, пока не нашли, что за компания.</p> <p><a href="/files/blogengine/image_24.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_24.png"  ></a></p> <p>А вы бы как поступили? Любите одежду с брендами? Имеете что-то против или за?</p>
	