Id: 0b5a07c7-1e5a-4c92-b1cc-fe33159b560b
Title: "Обнаружилось прошлое"
Published: "2016-07-19"
Slug: "2016-07-19 Обнаружилось прошлое"
-
<p>Позитивненкий был молодой человек, но чем дальше, тем меньше от него остаётся.<a href="/files/blogengine/IMG_0170.jpg"><img title="IMG_0170" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; display: inline; padding-right: 0px" border="0" alt="IMG_0170" data-src="/files/blogengine/IMG_0170_thumb.jpg"  ></a></p>
	