Id: 5f37ff71-0e02-4f45-8af9-9c1cc8fd8de1
Title: "МВД на радио про наркоту"
Published: "2016-07-30"
Slug: "2016-07-30 МВД на радио про наркоту"
-
<h3>Представитель МВД Ирина Порошина в программе "Утро на Балткоме". MIX TV<br>Познавательно, но слегка раздражает лицемерие, прямо скажем.<br></h3> <blockquote> <h3>“Табак не самый лучший пример, но”</h3></blockquote> <h3>&nbsp;</h3> <h3>Ага, надо скрывать и стыдливо умалчивать, что как раз самый лучший пример, потому что опаснее и вреднее многих “наркотиков”, но легален.<br></h3> <blockquote> <h3>“Инициатива по декриминализации не прошла, сейм выслушал экспертов и отклонил её”</h3></blockquote> <h3><br>Эксперты все небось из той же тусовки, близкой к МВД и Минздраву. </h3> <h3>И в самой передаче не предоставлена трибуна противоположной стороне. По умолчанию, авторы на стороне правительства.<br><br>Почему представитель МВД, говорящий довольно-таки точным юридическим языком, называет марихуану “наркотиком”, если она таковым не является, а является “психотропным” или “психоактивным” веществом?<br></h3> <p><br><video controls><source src="/files/lj/mixfm.mp4" type="video/mp4">Your browser does not support the video tag. </video></p>
	