Id: 4b453390-fb18-49f1-8f31-416856be4bfd
Title: "Гроза"
Published: "2016-07-15"
Slug: "2016-07-15 Гроза"
-
<p>Встал в час ночи от грохота, так ещё и по глазам удар получил. <p>Ночное светопреставление потрепало окрестности и мои гаджеты. <p>Скоропостижно скончался отличный рутер (недешёвый по домашним меркам) и выгорел USB контроллер на домашнем компе, к счастью, один (зато на нём небось 8 портов) <p>Работать ближайшие часы буду через мобильный интернет.</p>
	