Id: e9a93b31-ec52-4e7f-9a55-72a68891e59b
Title: "Авторизация в интернет-банке Сведбанка – 2 : всё починили"
Published: "2017-02-27"
Slug: "2017-02-27 Авторизация в интернет-банке Сведбанка–2 _ всё починили"
-
<p>Вспоминаем этот пост про авторизацию в интернет-банке –&nbsp; <a href="/post/2016-12-21 Авторизация в интернет-банке Сведбанка и других">Авторизация в интернет-банке Сведбанка и других</a>
<p>Ситуацию улучшили настолько, что и представить невозможно: Сведбанк внедрил эстонский мобильный аутентификатор SmartID, который меня полностью устраивает (разве что, мог бы быть пошустрей, но тут я уже придираюсь).
<p>Всем, кто делает платежи в Сведбанке (особенно мобильные), рекомендую сразу поставить - мне лично кажется на порядок удобнее кодовой карты.
<p>Осталась одна претензия - поиск в платежах мог бы быть с большим вниманием к деталям. Например, учитывать, что я не знаю, пишется чьё-то имя со знаком долготы, или нет. Или находить в поиске отсылке денег не только тех, кому я уже слал, но и тех, кто слал мне.</p>