Id: a4d23e74-e743-4ac3-943d-d527eeb6924c
Title: "Турция - вещи"
Published: "1000-01-01"
Slug: "1000-01-01 Турция - вещи"
-
<h4>ОБНОВЛЕНО:</h4>
<p>Покупать я буду через выходные, 18 января. До этого времени всех заинтересованных просьба написать, что надо. Главное, чтобы было In Stock и ссылка была на то, что вам надо.</p>
<p><a href="http://spreadsheets.google.com/ccc?key=pAUuP2i9IL9fR1Psi0J6WSA">Таблица с экипировкой, можно редактировать прямо там</a></p>
<h4>Что может понадобиться в велопоходе и где это купить.&nbsp;</h4>
<p>У меня список пока такой:</p>
<ul>
<li>Велосумка для багажника</li>
<li>Багажник </li>
<li>Велошорты</li>
<li>Веломайка</li>
<li>Тонкая велокуртка?</li>
<li>Велоноски :-)</li>
<li>Фонари вперёд и назад (у меня уже есть)</li>
<li>Палатка</li>
<li>Спальник</li>
<li>Коврик и матрас под спальник для тепла </li>
</ul>
<p>&nbsp; Понятное дело, купить можно в Даугавпилсе. Но обычно у нас выбор маленький, а цены высокие. Магазины, наверное, все знают. Hawaii Express на пересечении Виестура и Ригас, Trek на 18 новембра напротив Техноленда (там ещё Veloserviss на фасаде написано), туристический магазин (Planeta?) в центре, недалеко от ДУ.</p>
<hr />
<p><a href="http://www.chainreactioncycles.com">www.chainreactioncycles.com</a>&nbsp; cамый большой европейский веломагазин. Я там покупал один раз, но народ покупает постоянно.</p>
<p>Доставка в Латвию бесплатная при заказе выше 150 Ls. Я собираюсь на днях покупать, так если кто со мной хочет, чтобы беслпатная доставка была, пишите на vlad собака izvne.com или оставляйте комментарий.&nbsp;</p>
<p>Список хлама, что я рассматриваю:</p>
<p><a href="http://www.chainreactioncycles.com/WishList.aspx?BasketID=17330260"> http://www.chainreactioncycles.com/WishList.aspx?BasketID=17330260 </a></p>
<hr />
<p>&nbsp;<a href="http://www.dealextreme.com">www.dealextreme.com</a></p>
<p>Китайский магазин с очень низкими ценами и бесплатной доставкой в Латвию,&nbsp; при этом сумма заказа не имеет значения.</p>
<p>Нас интересует главным образом фонариками.&nbsp;</p>
<p>Фонарики на диоде&nbsp; P7 - нереально круты. К сожалению, полная крутость проявляется только если покупать фонарики на специальном аккумуляторе.</p>
<p>Например, <a href="http://dealextreme.com/details.dx/sku.12060">такой.</a> Аккумулятор можно купить <a href="http://www.dealextreme.com/details.dx/sku.3287">такой</a>, а к нему ещё нужна зарядка типа <a href="http://www.dealextreme.com/details.dx/sku.5837">вот этой</a>.</p>
<p>Если денег жалко, можно купить фонарик на диоде предыдущего поколения - Q5. У меня <a href="http://www.dealextreme.com/details.dx/sku.5837">вот такой</a>, светит очень круто.</p>
<p>Если не охота возиться со спецбатарейками, там же можно купить и на обычных AA, но они светят заметно хуже (хоть и неплохо).</p>
<p>Чтобы закрепить фонарик на руль, понадобится <a href="http://www.dealextreme.com/search.dx/search.bicycle%20mount">крепление</a>.</p>
<p>&nbsp;</p>
<p>Оставляйте комментарии&nbsp;<img title="Laughing" src="../../editors/tiny_mce3/plugins/emotions/img/smiley-laughing.gif" border="0" alt="Laughing" /></p>
	