Id: 08a65754-c79b-4e50-939d-63050fb0ae2a
Title: "Турция - вопросы"
Published: "1000-01-05"
Slug: "1000-01-05 Турция - вопросы"
-
<p class="MsoNormal"><span lang="RU">&nbsp;</span></p>
<p class="MsoNormal"><strong><span lang="RU">Вопросы на которые хотелось бы найти ответы</span>:</strong></p>
<ol style="margin-top: 0cm;" type="1">
<li class="MsoNormal"><span lang="RU">Можно ли купить, где и какой газ в      Стамбуле</span><span lang="LV">?</span></li>
<li class="MsoNormal"><span lang="RU">Можно ли попасть на скоростной      пассажирский паром из Стамбула в Бандирму с велосипедами</span><span lang="LV">?</span></li>
<li class="MsoNormal"><span lang="RU">Как часто ходят паромы через пролив      Дарданеллы из </span>Canakkale<span lang="RU"> в </span>Kilitbahir<span lang="LV">?</span></li>
<li class="MsoNormal"><span lang="RU">Нужна ли нам страховка и если нужна,      то какая действует в Стамбуле применительно к нашим условиям</span><span lang="LV">?</span></li>
<li class="MsoNormal"><span lang="LV">Нужен ли нам реппелент от мошек? Они упоминаются в одном из рассказов.</span></li>
</ol>
<p>&nbsp;</p>
<p>Риторические вопросы от Vladekk:</p>
<p>1. Разумно ли мы приняли ехать 80 км? В отчётах народ едет меньше за день - рассматривают окрестности.</p>
<p>2. Стоит ли для рассматривания окрестностей воспользоватся автобусом? Вроде как в рассказах люди так делают без проблем.</p>
<p>&nbsp;</p>
<ol style="margin-top: 0cm;" type="1"><br /><br /> </ol>
	