Id: 1b875a8b-4fd6-4c01-9c69-2fb80e282414
Title: "Открытие"
Published: "2005-12-16"
Slug: "2005-12-16 Открытие"
-
Я вот&nbsp;думал, почему это Том Йорк так занудно&nbsp;и заунывно&nbsp;ноет&nbsp;в своих песнях? <br />
Нашёл отличный ответ. Он, оказывается, <a href="http://en.wikipedia.org/wiki/List_of_vegans">веган</a>. <br />
Не пошла ему на пользу диета.

	