Id: e0db9750-c926-408b-b129-e6435c2dd8d0
Title: "Ларс Фон Триер"
Published: "2005-09-11"
Slug: "2005-09-11 Ларс Фон Триер"
-
Вот почитал <a href="http://www.afisha.ru/article?name=manderlay">интервью</a> с создателем фильма Dogville Ларсом Фон Триером.<br />
Цитата<br />
<p>
<em>Если я хочу пережить сильные чувства, я полчаса смотрю &laquo;Солярис&raquo; Тарковского &mdash; это согревает мне сердце.</em>
</p>
В свою очередь, переводчик <a href="http://www.oper.ru">Дмитрий Пучков ака Гоблин</a> неоднократно выражался в том духе, что, мол, псевдорежиссёры вроде Тарковского задолбали снимать элитарное кино для эстетствующих педрил. Как характерный образчик приводил &quot;Солярис&quot;.<br />
<br />
Парадокс заключается в том, что &quot;Догвилль&quot; фон Триера самому Гоблину нравится. А Триеру нравится &quot;Солярис&quot;.<br />
Вывод такой: элитарные режиссёры должны снимать кино для режиссёров - эстетствующих педрил, которые, в свою очередь, будут снимать фильмы для думающих масс и режиссёров попроще, снимающих дешёвую жвачку для пролетариата и быдла. Вспомнил, что в эту картину отлично вписывается ещё один факт - Гоблин снимает кино под рабочим названием: &quot;Зомби   в кровавом угаре&quot;. Получается как раз по третьему пункту. <br />
  А &quot;Быдло&quot; - это в терминологии Гоблина, сам я никого быдлом не называю, кроме настоящего быдла, которого в мире много меньше, чем эстетствующих педрил.<br />
Себя отношу к среднему между думающими массами и пролетариатом, потому что на гнилого интеллигента, а тем более гламурного яппи - никак не тяну.

	