Id: da5d93b6-f26d-481c-b56e-11a78405a4e7
Title: "SkypeOut"
Published: "2005-09-19"
Slug: "2005-09-19 SkypeOut"
-
&nbsp; Наконец дошли руки проверить сервис <a href="http://www.skype.com/products/skypeout/rates/">SkypeOut</a> - звонки со <a href="http://skype.com/" target="_blank">Скайпа</a> на обычные и мобильные телефоны. Тарифы очень даже приятные, особенно в Россию, куда я и звонил&nbsp; -&nbsp;6 центов в минуту, тарификация поминутная.<br />
&nbsp; &nbsp;Работает вполне прилично. Похуже конечно, чем, скажем,&nbsp;чем с мобильного&nbsp;Megafon в Москве на мобильный Tele2 в Латвии. Но вполне приемлемо - задержка практически незаметна, помех нет, только голос довольно сильно искажается из-за сжатия.<br />
Жаль мне некуда особо звонить - все знакомые или в Латвии, или доступны по Скайпу напрямую, или я с ними не общаюсь.

	