Id: 583022ba-5a3b-4a42-af9a-07c2629a8bc4
Title: "Братья Гримм"
Published: "2005-10-05"
Slug: "2005-10-05 Братья Гримм"
-
&nbsp;Была дыра между лекциями, сходили на художественный фильм братья Гримм в главный рижский кинотеатр <a href="http://www.forumcinemas.lv/" target="_blank">Coca Cola Plaza</a>.<br />
&nbsp; Почему фильм ругают во всех обзорах, понять не могу. По-моему, 8/10. Мрачный и крепко выдержанный стиль, правдоподобные спецэффекты (за исключением <strike>мальчика</strike>&nbsp;девочки с резиновым лицом). Готично.<br />
&nbsp; Ожидал почти трешевого ужастика по сказке, а получил добротное фэнтези без особых соплей и сентиментов. Причём серьёзного и&nbsp;реального, не очень похожего на сказку, как тот же Властелин Колец. Приятно.

	