Id: 33df5d46-adbd-488b-a5ce-6ab0ac1a9fc6
Title: "<P>   Видел сегодня смешного пса-пидораса. Эта дворняга пыталась изнасиловать другую"
Published: "2005-09-16"
Slug: "2005-09-16 _P_   Видел сегодня смешного пса-пидораса. Эта дворняга пыталась изнасиловать другую"
-
<p>
&nbsp;&nbsp; Видел сегодня смешного пса-пидораса. Эта дворняга&nbsp;пыталась изнасиловать другую собаку в ошейнике, явно мужского пола. Та флегматично стряхивала с себя назойливого ухажёра и шла дальше.<br />
&nbsp;&nbsp; Сторонники запрещения гей-парадов вот вообще&nbsp; не выносят даже появления&nbsp;гомиков на улице, а собачка вот&nbsp;спокойно реагирует даже на попытку изнасилования.
</p>

	