Id: 3a88f5e0-1438-4740-9aa0-b149a3a15c77
Title: "Почему у меня нет прав: часть 4"
Published: "2005-08-04"
Slug: "2005-08-04 Почему у меня нет прав_ часть 4"
-
Уже порядком надоело, но всё-таки доведу до конца.<br />
Если учесть, что всего я заваливал экзамен по вождению&nbsp;семь раз, а рассказываю только про четвёртый . . .<br />
Вывод - надо рассказывать покороче. [more text=Так вот,] <br />
Так вот,&nbsp; в четвёртый раз маршрут сразу по выезде из CSDD&nbsp; вёл налево в центр.<br />
Выглядит это так:<br />
<p align="center">
<a href="/files/lj/16673/287_large.jpg"><img data-src="/files/lj/16673/287_big.jpg" alt="" title="Щёлкните для увеличения" /></a>
</p>
<br />
Зелёным цветом обозначены трамвайные пути, красными&nbsp;цифрами&nbsp;- перекрёстки.<br />
То есть на перекрёстке 1 я свернул налево, и поехал к перкрёстку 2. Там я должен был свернуть направо (то по рисунку это&nbsp;вверх на перекрёстке 2). Таким образом, я должен был пересечь трамвайные пути. После того, как я это сделал, инспектор попросил остановить машину у обочины, как&nbsp;делается в&nbsp;случаях грубого нарушения и превышения 10 штрафных пунктов.<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Я попытался выяснить, что на этот раз не так. Оказалось, что перед пересечением трамвайных или железнодорожных путей водитель обязан убедится в отсутствии приближающегося транспорта, проще говоря, посмотреть по сторонам. Налево-то я смотрел, поскольку ехал в ту сторону, а вот направо голову при повороте не повернул. Однако по рисунку хорошо видно, что ехал я от конечной остановки трамвая (от кольца), и, поэтому отлично знал, что никакого трамвая там не было. На мой аргумент, что трамваю&nbsp;справа неоткуда было взяться, и он&nbsp;мог разве что прилететь на фотонной тяге из космоса, инспектор не отреагировал,&nbsp;и влепил мне 10 штрафных пунктов на раз.<br />
Формально инспектор прав.&nbsp;&nbsp;А на деле - я человек не обидчивый, поэтому ничего более здесь не напишу.

	