Id: b798bf0a-0463-4625-9902-a841d16a6d8e
Title: "Буйство стихии"
Published: "2005-07-31"
Slug: "2005-07-31 Буйство стихии"
-
<p>
Только что вернулся с дачи. <br />
[more text=Вчера у нас в Даугавпилсе была ужасающая гроза] Вчера у нас в Даугавпилсе была ужасающая гроза со всеми полагающимися атрибутами ужасающей грозы: молниями, громом, ливнем и порчей оборудования. Ливень был такой, что&nbsp;на ковролине в моей комнате образовалась целая лужа (балконная дверь не была закрыта). Через час я обнаружил, что и в другой комнате есть&nbsp;огромная лужа на ламинате, правда в 4 метрах от балконной двери.&nbsp;Если так пойдёт и дальше, то мне придётся оставить мой атеизм и податься в поклонники&nbsp; тибетских шестиметровых пещерных чучел.
</p>
<p>
Впрочем,&nbsp;водой нас не напугаешь. Потому что от грозы можно ждать кое-чего похуже. Надо сообщить, что мой системный администратор и провайдер хорошо разбирается в энергетике (Честно, я искал более подходящее слово, но лучше ничего не нашёл). И поэтому не только всем клиентам советует выключать во время грозы электрооборудование из розетки, но и сам так делает. Это преамбула. А сами факты такие.
</p>
<p>
У провайдера сгорел невыключенный&nbsp;коммутатор (на албанском свитч), то есть устройство, соединяющее разные компьютеры в локальной сети. К счастью, клиентов&nbsp;от свитча он отрубил. Почему к счастью?<br />
Потому что в то же самое время на моей даче&nbsp;случилось следующее.<br />
Молния ударила в столб, находящийся в 60 метрах от локальной сети из 5 компьютеров. Это вызвало скачок напряжения в сети питания и одновременно наводки в витой паре (телефонных проводах и проводах локальной сети).
</p>
<p>
В&nbsp;результате буйства стихии в&nbsp;первом доме (без компьютеров) буквально <strong>взорвался</strong> телефон. В следующем, компьютер был выключен, но не отключен от розетки, в результате чего несчастный комп сгорел полностью. В следующем доме жили товарищи похитрее, и потому все компьютеры были выключены из розетки. Но, видно, недостаточно хитрые, потому что от локальной компьютерной сети отключить не догадались. Оттого и сгорел свитч, 2 сетевых карты,&nbsp;в которые был подключен провод от локальной сети (напомню, что компы&nbsp;при этом были выключены из розетки)&nbsp;и ADSL модем, подключенный к телефонной линии.<br />
В следующем доме ничего не сгорело лишь потому, что это моя дача и там ничего и нету. В предпоследнем и последним домах&nbsp;полностью сдохли&nbsp;не только&nbsp;сами компьютеры,&nbsp;но&nbsp;и&nbsp;мониторы.
</p>
<p>
А&nbsp;у человека, который живёт аж в&nbsp;150 метрах от удара молнии, сгорела сетевая карта и глючит звук.<br />
Вот такие итоги.
</p>
<p>
Теперь бедные товарищи думают, что им <strike>врать</strike> говорить гарантийному сервису и провайдеру&nbsp;(2 из 3 сгоревших компов были на гарантии).<br />
Остаётся добавить, что ни в одном доме не было заземления в розетках, хотя&nbsp;электрики недавно меняли оборудование и на электрощитке&nbsp;&nbsp;оно было. Выводы делайте сами.<br />
P.S. Говорят, молния&nbsp;два раза ударила в центральную телевышку. Там&nbsp;цифры потерь ещё пободрее будут.
</p>
<p>
&nbsp;
</p>

	