Id: 236c1137-bb05-4330-bae5-fdd8d787d358
Title: "Знаю что везде уже было"
Published: "2005-08-22"
Slug: "2005-08-22 Знаю что везде уже было"
-
<p>
. . . но всё равно нереально круто<br />
Spin AKA Трудно быть богом<br />
</p>
<p>
<a href="/file.axd?file=2008%2f12%2ftrydno-bit-bogom.avi">Скачать видео размером 25 МБ</a>
</p>
<p>
<br />
via <a href="http://apazhe.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> apazhe</a>
</p>
<p>
<a href="/file.axd?file=2008%2f12%2ftrydno-bit-bogom.avi"><br />
</a>
</p>

	