Id: 726c7a16-8936-4bff-bbc2-8c2854476cc2
Title: "Удивился"
Published: "2005-12-23"
Slug: "2005-12-23 Удивился"
-
Я знал, что французы социалисты, но чтоб до такой степени!<br />
Хотят <a href="http://www.times.lv/index.php?Mode=readnews&amp;NewsID=125831">полностью разрешить пиринговые сети</a>.<br />
Разумеется, ничего у них не выйдет.

	