Id: aea3efc4-54c6-49cd-b029-633e9b2f96bf
Title: "<P>Извините, что не пишу. У меня сейчас небольшие проблемы в жизни, особенно на работе. Много х"
Published: "2006-11-27"
Slug: "2006-11-27 _P_Извините, что не пишу. У меня сейчас небольшие проблемы в жизни, особенно на работе. М"
-
<P>Извините, что не пишу. У меня сейчас&nbsp;небольшие проблемы в жизни, особенно на работе. Много хорошей музыки, но нет времени и желания выкладывать.<br/></P>
	