Id: 066b704b-3b4d-40ae-b232-857596a267e9
Title: "Музыка рельс"
Published: "2006-06-11"
Slug: "2006-06-11 Музыка рельс"
-
<p>
&nbsp;&nbsp;&nbsp; У меня в&nbsp;полукилометре за окном сортировочная станция&nbsp;железной дороги. Выглядит это <a href="http://www.wikimapia.org/#y=55900774&amp;x=26532412&amp;z=16&amp;l=1&amp;m=a">так</a>&nbsp;(<strong>HIGH TRAFFIC!).</strong> Мой дом - длинный и ребристый в центре прямоугольника &quot;Ричнет&quot;.<br />
&nbsp;&nbsp; Летними ночами оттуда раздаётся самая&nbsp;лучшая музыка эмбиент в мире . Это высокие&nbsp;и пронзительные металлические&nbsp;звуки, которые издают колёса вагонов, трущиеся об рельсы при торможении. Особенно хороша эта песнь&nbsp;на рассвете&nbsp;- возникает ощущение полной психоделии и невыносимой&nbsp;яркости бытия. Периодически высокие частоты перемежаются средними - грохотом пустых вагонов и&nbsp;призрачными голосами диспетчеров. А иногда к ним добавляется и басовитый гул проходящего вдалеке поезда. Изредка доносится лай собак из частного сектора, шум двигателей случайных машин и шаги ранних пешеходов. Но космический полускрип-полустон колёс стоит вне конкуренции. Я лишь недавно понял,&nbsp;что &nbsp;вырос на этом звуке. Он для меня&nbsp;упоителен и прекрасен.&nbsp;Жаль, мне не дано словами описать его так, как я слышу.&nbsp;А для записи нужен хороший микрофон, да и не факт, что посторонние поймут&nbsp;красоту.&nbsp;Воспитанным на &nbsp;вялых и аморфных пассажах Брайана Ино&nbsp;не&nbsp;нравится настоящий,&nbsp;&quot;индустриальный&quot; эмбиент.<br />
&nbsp;&nbsp; А зимой&nbsp;музыка слегка затихает, но зато сильно чувствуется другое. Это запах. Запах веществ, которыми смазывают&nbsp; шпалы, запах нефти и мазута, запах&nbsp;дыма небольших заводиков за путями. Он столь же резок и пронзителен, как и скрип стальных колёс по рельсам.&nbsp;Непосвящённый назовёт его гарью, полной&nbsp;горечи. Но&nbsp;мне он&nbsp;будоражит кровь и заставляет сердце биться чаще. Он волнителен,&nbsp;силён&nbsp;и&nbsp;даёт почувствовать&nbsp;полноту&nbsp;вселенной. Но понять её красоту позволяет лишь моя любимая&nbsp;музыка - музыка рельс.
</p>

	