Id: 9d6251a1-a7b6-4a2b-adc8-85d659a642ba
Title: "Жуткий экзамен"
Published: "2006-01-13"
Slug: "2006-01-13 Жуткий экзамен"
-
<p>
&nbsp;&nbsp;&nbsp; Прошедшая среда выдалась крайне любопытная. &nbsp; Мы сдавали просто чудовищный экзамен, перед которым меркнут все наши предыдущие мучения. На моей памяти по-настоящему страшных&nbsp;предметов, подобных этому, было только два: искусственный интеллект(2 экзамена)&nbsp;и&nbsp;базы данных(2 или 3 экзамена).&nbsp;По базам данных я во всех случаях с большим напрягом получил автомат, а с artificial intelligence удалось совладать, но на минимальном уровне. Последний&nbsp;экзам по AI в магистратуре я сдал на рекордно низкую для себя отметку - 4<sup><a href="#1">1</a></sup> . <br />
Но я этого не стесняюсь, потому что даже так, с грехом пополам, я вошёл в 1/7 лучших студентов и получал стипендию.
</p>
<p>
&nbsp;&nbsp;&nbsp; Предмет, о котором сейчас рассказывается, называется Prasību inženierija, то есть Инженерия требований. Речь в нём идёт о сборе и анализе информации&nbsp;от&nbsp;заказчика программного проекта с целью выработать достаточно жёсткие критерии к каждому элементу конечного продукта, называемые требованиями ПО.
</p>
<p>
&nbsp;&nbsp;&nbsp; В течении года&nbsp;мы осваивали разные подходы к сбору требований и теоретически должны были сделать 11 лабораторных работ.&nbsp;Я сделал&nbsp;девять,&nbsp;что очень даже неплохо, ибо большинство сделало&nbsp;две-три.&nbsp;И тут начинается самое интересное.&nbsp; Теоретически, по результатам этих работ, мне к экзамену добавляется почти 4 дополнительных балла. То есть даже если я сдам экзамен ужасно, лабы меня вытянут.&nbsp;Как оказалось, очень наивно было так думать. Результат практических работ приплюсовывается к результату экзамена, только если экзамен сдан на оценку 5 и выше! &nbsp; Получается, если&nbsp;я сдам экзамен на 4, то так и останусь с этой нехорошей оценкой.&nbsp; А если на 5 - сразу получу итоговую 8 или 9. Своя извращённая логика в этом есть, но довольно странная. Было бы ещё понятно, если тебя бы посылали прочь с неуд. (1, 2 или 3). Но, видно, такая садистская подстава куда изощрённей и интересней.
</p>
<p>
&nbsp;Сам же экзамен напоминал экзекуцию:
</p>
<ol>
	<li>Как и было обещано на консультации, каждый вопрос был не по одной теме, а <strong>сразу по всем.&nbsp;&nbsp;</strong>Да,&nbsp;и такое бывает. Возможно,&nbsp;в гуманитарных науках это и норма, но не в технических.</li><br />
	<li>Он шёл 4 часа подряд без права выйти из аудитории. Вернее, право надо было обговаривать отдельно за день перед экзаменом.</li><br />
	<li>Задание диктовали на слух, без микрофона, в огромной аудитории, и на неизвестном&nbsp;науке языке, то есть латышском. До сих пор привыкнуть не могу, что учусь и говорю&nbsp;<em>latviski. </em>Скорее, чем дальше, тем больше отвыкаю.</li><br />
	<li>Задание было довольно расплывчатым и малопонятным,&nbsp;особенно в практической части. В итоге диаграммы у меня вообще получились какой-то карикатурой на учебный процесс РТУ.</li>
</ol>
<p>
&nbsp;&nbsp;&nbsp; В итоге, впечатление мы получили неизгладимое. Студенты выходили просветлёнными, в момент осознав истины Дао Программирования. Как далеко это от пошлых ощущений лентяя, готовившегося в последнюю ночь! Даже лучшие умы были потрясены. Произошла переоценка ценностей, уровень&nbsp;удивления зашкалил за &quot;ОПБП<sup><a href="#2">2</a></sup>&quot;. Я никогда не видел, чтобы все четверо самых знающих людей в группе были выбиты из колеи, а в этот раз такое произошло.
</p>
<p>
&nbsp;&nbsp;&nbsp; Вывод такой - перед выпуском нам решили в последний раз показать, что такое настоящий экзамен и настоящая учёба в РТУ. Если мы его сдадим с первого раза, это будет невероятно. А если я его сдам на 5, то есть 5+3=8, то пожалуй перестану так уж однозначно утверждать, что мир&nbsp;логичен.&nbsp;Я уверую в чудо, ибо ничто другое тут помочь не способно. <sup><a name="1" title="1"></a></sup>
</p>
<sup><a name="1" title="1"></a><br />
</sup>
<p>
<sup><a name="1" title="1"></a>&nbsp;</sup>
</p>
<sup><a name="1" title="1"></a><br />
</sup>
<p>
<sup><a name="1" title="1"></a>1</sup><em>&nbsp;</em>В Латвии 10-балльная система, 4 - минимальная удовлетворительная оценка. 
</p>
<sup><a name="2" title="2"></a>2 </sup><em>ОПБП = охуеть, ну просто бля пиздец </em><em><br />
</em>
<p>
<em>&nbsp;</em>P.S. Результат будет в понедельник. После экзамена тоже было много чего интересного, но об этом в другой раз.
</p>

	