Id: 13608a5c-b122-4955-9b5d-2a17848dbd39
Title: "ВАЖНОЕ"
Published: "2006-11-30"
Slug: "2006-11-30 ВАЖНОЕ"
-
<P>Короче, московские френды, если такие есть.<br/>Сегодня,&nbsp;&nbsp;в&nbsp;23.00 по московскому времени в клубе Икра проходит dj set Андрея Горохова. Вход свободный.<br/><FONT color=#ff0000><STRONG>Есть важное дело. Сможете послушать&nbsp; музыки и сильно мне помочь.</STRONG></FONT> <br/>Если есть желающие, пишите vlad собака izvne.com</P>
	