Id: 9a9cf128-3abc-4977-a5e7-df9c91d0f954
Title: "уРРРРА!"
Published: "2006-06-03"
Slug: "2006-06-03 уРРРРА_"
-
<p>
Целебная сила музыки System Of A Down починила мой усилок!<br />
Врубил на полную громкость, чтоб насладилась вся улица&nbsp;-&nbsp;и вдруг всё стало ок, все&nbsp;динамики заработали.<br />
Это называется лечение путём&nbsp;суперстресса.<br />
Уррраа!
</p>

	