Id: 3a1bc8ab-cc47-46ae-9c99-44c2ef54c29d
Title: "Photo hosting"
Published: "2006-02-23"
Slug: "2006-02-23 Photo hosting"
-
<p>
&nbsp;&nbsp; Поставил себе для теста на рижский сервер <a href="http://gallery.menalto.com/">Gallery 2</a> - систему для организации хранений фотографий. Давно пытаюсь решить, где и как лучше хранить фото. Уже было решил на <a href="http://www.myfoto.lv">www.myfoto.lv</a>, как там сделали ограничение в жалкий 1 GB. <br />
&nbsp;&nbsp; Так что сейчас опять мучаюсь проблемой выбора. На своём хостинге (на основе той же Gallery) оно конечно приятней. Тем более мой провайдер положительно отнёсся к такой идее. Но с такими гигантами как <a href="/admin/Pages/about:blankwww.flickr.com" target="_blank">Flickr</a> тягаться невозможно - очень уж там всё здорово сделано. И даже платить деньги жаба не очень душит. Но вдруг там цены вечно такими останутся, и всю жизнь придётся выкладывать по 30 баксов в год?<br />
&nbsp;&nbsp; Так что это&nbsp;нерешаемый конфликт&nbsp;гибкость и мощь vs&nbsp;свобода. Пока ещё думаю.
</p>

	