Id: 6fd1fb38-9b46-4f52-bf11-c029e283be05
Title: "<P>Прав был Андрей Борисов, когда сказал, что стал появляться жёсткий техноидный трип-хоп
Это т"
Published: "2006-12-04"
Slug: "2006-12-04 _P_Прав был Андрей Борисов, когда сказал, что стал появляться жёсткий техноидный трип-хоп"
-
<P>Прав был Андрей Борисов, когда сказал, что стал появляться&nbsp;жёсткий техноидный трип-хоп<br/>Это типа Sissy или там Various</P>
	