Id: 9ff9214c-3ea1-4fe4-b51f-87d6180e3aae
Title: "Сон"
Published: "2006-05-08"
Slug: "2006-05-08 Сон"
-
<p>
&nbsp;&nbsp; Мне снился Артемий Троицкий. Своим мягким голосом&nbsp; доброжелательно расспрашивал о каком-то техническом вопросе, но вместо осмысленного предложения выдавал набор несвязанных слов. Я ему ответил (цитирую дословно): &quot;Ваш вопрос лишён смысла. Это аналогично вопросу: &quot;Вкусно ли красное?&quot;.<br />
На том и закончили. Пытался дать мне денег за консультацию, но я не взял. Ещё подарил диск с какой-то разухабистой панк-шансон-алкоголической музыкой типа помеси Тома Уэйтса и Шнура.
</p>

	