Id: c92082ff-aa2f-404f-85d9-eb38767b4493
Title: "Сказочка про  \"высочайший западный стандарт студийной звукозаписи\" , часть 1"
Published: "2006-02-04"
Slug: "2006-02-04 Сказочка про  _высочайший западный стандарт студийной звукозаписи_ , часть 1"
-
Слушал я как то свежую underground alternative independent new hip-hop пластинку. (Другого хип-хопа не держим)&nbsp;. <br />
И&nbsp;называлась она,&nbsp;если не ошибаюсь,&nbsp;Hell&#39;s Winter, за авторством коллектива Cage с лейбла Definitive Jux.<br />
 И&nbsp; был там&nbsp;любопытный сэмпл, на котором страшным&nbsp;замедленным&nbsp;голосом вещал&nbsp;&nbsp;<!--StartFragment -->автор&nbsp;некую фразу, в&nbsp;конце которой делал вид, будто помирает, и издавал стон соответствующий.<br />
И повторялся этот&nbsp;неестественный отрезок звука&nbsp;каждые 20 секунд на протяжении песни.&nbsp;<br />
И как песня завершилась, оказалось, что повторяется он и далее, в следующей песне, и в следующей за следующей, и так до конца времён, то есть диска.<br />
И догадался я тогда вслушаться во фразу, произносимую рэппером белокожим.&nbsp;<br />
И оказалась эта фраза в переводе примерно такой: &quot;Это промо-версия альбома Cage&nbsp; &quot;Hell&#39;s Winter&quot; Ааааааа . . . . [возглас помирающего]&quot;<br />
И дошло тогда до меня, что&nbsp;повторяется данный звуковой кирпич не из-за замысла авторского.<br />
И&nbsp;понял я, что повторяется он для того,&nbsp;чтобы злобные журналюги, коим и предназначена&nbsp;обычно промо-версия альбома, не пожали бы в mp3 её.<br />
И&nbsp;не повыложили&nbsp;бы на сервера пиратские,&nbsp;да в сети пиринговые бы не засунули.<br />
И вспомнил я, что слышал подобное и ранее, но не осознал цель его, ввиду того, что фраза в тот раз была непонятной.<br />
И была она всего лишь &quot;Oh No&quot;, с альбома группы одноимённой.<br />
И перекачал я оба альбома на релизы проперные, ритэйловые, по-русски говоря,&nbsp;версии нормальные, розничные, и был счастлив.<br />
Тут бы сказочке и конец, ан нет.<br />
<br />
&nbsp;&nbsp; Через месяц после этого произошла любопытная история, о которой после. Но она&nbsp;заставила в итоге моего друга&nbsp; <a href="http://ihavedream.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ihavedream</a>&nbsp;рассказать, что он тоже сначала принял фразу, мешающую распространять промо-альбом, за авторский замысел.&nbsp;И после того, как он скачал нормальную версию, показалась ему пластинка без навязчивой долбёжки digital watermark слогана&nbsp;даже и скучноватой.<br />
А мораль сей басни высказана не будет, потому как главная история ещё впереди. И она&nbsp;куда как интересней этой присказки, хоть по сути и похожа.

	