Id: 9b66dec3-d824-4b96-acda-dbf068abc98c
Title: "Рисунки-2"
Published: "2006-09-03"
Slug: "2006-09-03 Рисунки-2"
-
<P align=center><IMG src="/files/lj/kar2.gif"><br/>Интеллигент</P><P align=left></P>Судя по испуганному и бестолковому виду, это советский "кухонный" интеллигент
	