Id: f5254556-f72c-4cd6-af28-d31922e263d3
Title: "Зашёл на сайт windows vista, чтобы узнать, чем отличаются её версии (коих будет 6)  а наткнулся на к"
Published: "2006-10-20"
Slug: "2006-10-20 Зашёл на сайт windows vista, чтобы узнать, чем отличаются её версии _коих будет 6_  а нат"
-
Зашёл на сайт windows vista, чтобы узнать, чем отличаются её версии (коих будет 6)  а наткнулся на картинку из анедота.<br />
<br />
<a href="http://www.microsoft.com/rus/windowsvista/features/default.mspx">Пожилой негр-гомосексуалист</a><br />
<br />
Наверняка он ещё и инвалид, но на картинке не видно.

	