Id: 41616fa3-c2ad-4b29-8039-60aa6d6fe38e
Title: "Саранча"
Published: "2006-08-04"
Slug: "2006-08-04 Саранча"
-
<p align="center">
<a href="/files/lj/sarancha.jpg"><img data-src="/files/lj/s_sarancha.jpg" alt="" /><br />
</a>Польская саранча
</p>
<p>
&nbsp;
</p>
<p align="center">
Я вообще-то насекомых боюсь и ненавижу, но эта на вид как пластмассовая,&nbsp;и потому не страшная.<br />
</p>

	