Id: 9c0178f3-1123-4ab4-8308-6e6925f900fe
Title: "Объявление"
Published: "2006-01-15"
Slug: "2006-01-15 Объявление"
-
Хочу сделать небольшое объявление. <br />
<p>
&nbsp;
</p>
&nbsp;&nbsp;&nbsp;&nbsp; Назрело твёрдое решение писать в ЖЖ хотя бы раз в день. При этом львиную долю виртуального&nbsp;холста планируется посвятить описанию моего прозаического существования, каковое вряд ли может заинтересовать виртуальных друзей, и предназначено сугубо реальным френдам, изредка забредающим в мой ЖЖ. <br />
<br />
&nbsp;&nbsp; Посему, дорогие виртуальные друзья, рекомендуется вам, увидев тэг &quot;Лытдыбр&quot;, что значит &quot;Журнал&quot;, если слово набирать английскими буквами, бежать словно чёрт от ладана, или же верующий от сообщества . Ибо пишу я скромно, на лавры&nbsp;<a href="http://immoralist.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> immoralist</a> или&nbsp;<a href="http://nedorazumenie.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> nedorazumenie</a> <!--StartFragment -->не претендую, живу в прозаической Латвии, а не экзотической Японии, как <a href="http://kitya.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> kitya</a>.

	