Id: e309dc11-b83b-4d55-97e0-3010e6be1510
Title: "Лытдыбр"
Published: "2006-02-12"
Slug: "2006-02-12 Лытдыбр"
-
<p>
&nbsp;&nbsp;&nbsp; Взял тут у сестры троюродной новый фотоаппарат пощёлкать. В итоге можно полюбоваться на мой район обитания со сверхвысоким разрешением в 9 мегапикселей фотика Fujitsu FinePix E900.<br />
[more text=Вот, например, моя собака Джена.]
</p>
<p align="center">
<img data-src="/files/lj/36517/323_big.jpg" alt="" /><br />
Джена
</p>
<p align="center">
<img data-src="/files/lj/36517/326_big.jpg" alt="" />
</p>
<p align="center">
Родственник&nbsp;&quot;ЦентрСоюзПечать&quot; - киоск сети PLUSS PUNKTS
</p>
<p>
&nbsp;
</p>
<p align="left">
Короче, получается классический&nbsp;прикол&nbsp;домашних страничек, на которых люди показывают своих кошек и собак. Но это Лытдыбр, и пишется для тех<br />
1)Кто меня знает лично<br />
2)Кому некуда девать время и всё равно, что разглядывать<br />
<br />
</p>

	