Id: b5a1c2a7-9e1c-4319-a594-4fe00405ab58
Title: "Москва"
Published: "2006-08-12"
Slug: "2006-08-12 Москва"
-
<div>
Я в Москве.<br />
Россия прикольная, что тут скажешь, особенно для&nbsp;европейского провинциала, коим я являюсь.<br />
Выехали мы в 17.25, на границе были в 19.30. Таможенники на вид такие руууские.&nbsp;И лица русские и форма какая-то хардкорная и надпись на погонах ПВ, что наверное означает &quot;Пограничные войска&quot;. В Европе всё гламурней.
</div>
<div>
Всех нас - автобусных путешественников, тщательно рассматривали и сверяли с паспортом, а багаж прогнали через рентген, или как он там называется. Миграционную карту (документ для въёзда в РФ)&nbsp;я заполнял в спешке и закончившийся ручкой, поэтому обводил буквы по сто раз а часть граф вообще пропустил. Несмотря на это, молодая таможенница с русыми волосами мне ничего не сказала, а только посмотрела внимательно 3 раза (я считал, да)
</div>
<div>
Следующая остановка была в мотеле для дальнобойщиков с латинским названием Vitka (обычно все названия тут на русском языке, так что это выпендрёж). И сразу пошли чудеса да странности. Я пытался найти туалет внутри, а вместо этого сразу после входа справа за кирпичной стенкой находится умывальник. С надписью УМЫВАЛЬНИК. А слева - помещение охраны. С надписью ОХРАНА.
</div>
<div>
Охрана представляла из себя 4! бритых наголо&nbsp;молодых парней в камуфляже и зверских сапожищах.&nbsp; У нас охранники в аккуратной униформе и вообще на глаза не попадаются, а тут прямо армия какая-то.
</div>
<div>
Таким образом, сразу можно сделать спекулятивный и мифологический вывод, что в нынешней России делают упор на чистоту и порядок (кровавый путинский режим, хехе).
</div>
<div>
Однако спекуляцию опровергает туалет &quot;восточного типа&quot;. Для тех, кто не в курсе - это классическая дырка в полу. Я таких туалетов не видел уже лет 5. У нас везде новенькая сантехника сияет, да и бесплатно.&nbsp;Надо сказать, что мне больше нравится польский вариант - лучше уж за деньги, но&nbsp;нормальный &quot;толчок&quot;, чем дырка в полу изящной грушевидной формы.
</div>
<div>
Ещё забавный факт - посреди ночи в подпрыгивающем&nbsp; на колдобинах автобусе я случайно открыл глаза и прочитал на дорожном указателе &quot;р. Западная Двина&quot;. Для тех, кто не в курсе - это так русские окрестили нашу главную Латвийскую реку - Даугаву, длина которой 1020 км.&nbsp;Начинается она на территории РФ, протекает через Белоруссию, а заканчивается в Риге. Ширина её&nbsp;в Даугавпилсе&nbsp;более &nbsp;500 м, а в&nbsp;&nbsp;устье и все 800. А вот в том месте, где я видел указатель, едва достигала десятка метров.
</div>
<div>
&nbsp;
</div>
<div>
Около 5 часов по нашему времени (6 по Мск) мы въехали в Москву.&nbsp;Психоделическое первое впечатление - огромная стройка, где одновременно возводят&nbsp;огромное количество многоэтажных жилых&nbsp;домов одинакового проекта. Земля вокруг перерыта,&nbsp;людей нет, лишь стоят в тумане коробки&nbsp;высоток и куча огроменных подъёмных кранов. В Риге кранов такой высоты всего 3, а тут на одной стройке сразу штук 10. Плюс&nbsp;высота, размер и количество&nbsp;многоэтажек - в Даугавпилсе&nbsp;таких вообще нет,&nbsp;в Риге строят разве что десяток в год, а тут сразу&nbsp;30, а может и больше.
</div>
<div>
&nbsp;
</div>
<div>
Следующее впечатление - бродячие собаки, стаями бегущие мимо автобуса.&nbsp; Всё прямо по-писаному -&nbsp;читал как-то, что есть с ними проблема - увидел, что и вправду есть. Я бы такую стаю повстречать утречком не пожелал, это точно. Далее&nbsp;в ходе моих блужданий собак видел неоднократно, хоть и не в таком количестве. На вид достаточно дружелюбные, но проверять не стал.
</div>
<div>
&nbsp;
</div>
<div>
Ещё одна подтвердившаяся информация - огромное количество эмигрантов их экс-СССР. Я имею ввиду&nbsp; несчастных молдован,&nbsp;а&nbsp;также таджиков, кыргызов&nbsp;и прочих выходцев с 
</div>
<div>
кавказа. Дворники действительно все &quot;не-такой-какой-в-Москве-надо&quot; национальности (это по выражению Яндекса). Ещё Яндекс полагает, что профессор в Воронеже получает столько же, сколько и дворник в Москве. В общем &quot;я бы в дворники пошёл, пусть меня научат&quot;.
</div>
<div>
&nbsp;
</div>
<div>
Далее в списке ярко выраженных банальностей, которые изрекают провинциалы в Москве, идёт реклама. Точнее так - &quot;СКОЛЬКО ЖЕ ЗДЕСЬ РЕКЛАМЫ!&quot; Я имею в виду &quot;наружку&quot;, разумеется. Она везде. Без преувеличения - каждые 50 метров МКАД висят 4-8 рекламных щитов по всей ширине дороги. В метро едешь на эскалаторе - они на потолке каждые пять метров. Даже на остановке над расписанием автобуса &quot;место для вашей рекламы&quot;. Ничего святого, понимаешь.
</div>
<div>
&nbsp;
</div>
<div>
Стоит ещё упомянуть дикое количество объёздов в связи с ремонтом дорог, а также то, что уже в 7 утра в метро прилично народу. Но всё-таки не забито, и потому&nbsp;ехать удобно.&nbsp;Ещё понравилось, что в метро везде указатели, и заблудится невозможно, если ты хоть немножко представляешь, куда тебе надо.
</div>
<div>
&nbsp;
</div>
<div>
Зато когда я вышел из метро,&nbsp; неправильно выбрал направление, и в итоге сделал петлю километра в 4. Для тех, кто случайно знает - я вылез на свет божий на станции&nbsp;&quot;Шоссе Энтузиастов&quot;, пошёл по Электродной улице, добрался до Зелёного Проспекта,&nbsp; прошёл по нему чуток, вернулся обратно и по улице Плеханова вернулся обратно к метро. А мне всего-то надо было пройти по Шоссе Энтузиастов 3 остановки вперёд, к кинотеатру &quot;Слава&quot;.
</div>
<br />
<div>
Блужал я не потому, что у меня географическая тупость, а потому, что уезжал в спешке и не взял точный адрес того места, куда мне надо было, а карту купить не мог - сначала было слишком рано, да и потом карты в киоске просто не нашлось.
</div>
<div>
&nbsp;
</div>
<div>
Надо бы ещё упомянуть хардкорных московских продавцов, выпадающих в осадок при словах &quot;добрый день&quot;, &quot;пожалуйста&quot; и &quot;спасибо&quot;, но нет времени.
</div>

	