Id: 7633c985-e6d3-4e5e-b47b-da2edda203e2
Title: "Матрицы - часть 2, математическая"
Published: "2006-05-29"
Slug: "2006-05-29 Матрицы - часть 2, математическая"
-
<p>
&nbsp;&nbsp; Разобравшись&nbsp;с геополитической ситуацией, перейдём к математической части. Что значит &quot;хорошее&quot; или &quot;плохое&quot; качество? В отличие от недавних дискуссий про <a href="http://spi-sto-let.livejournal.com/150529.html">Эсперанто</a> и Плёнка vs Цифра, в которые я&nbsp;по глупости&nbsp;залез, в оценке болванок есть довольно строгие критерии.<br />
Для начала - небольшой пример из мира цифрового хранения данных.<br />
&nbsp;&nbsp; Допустим, нам надо хранить восемь чисел, каждое из которых - единица или ноль (как известно, компьютерам нравятся единицы и нули, это у них заскок такой, терпеть других цифр не могут). Возьмём такие: 0 0 1 0 1 0&nbsp;1 1. Как проверить, что при считывнии с диска мы прочитали то, что надо, и не ошиблись? Добавить девятую, которая будет контролировать правильность предыдущих. Но&nbsp;как это сделать? Светлые головы придумали такой финт: берём все предудущие числа, складываем, делим нацело на 2&nbsp;и берём остаток. Этот остаток и&nbsp;будет девятым числом, проверяющим правильность предыдущих.<br />
0+0+1+0+1+0+1+1=4<br />
4 / 2= 2&nbsp;и в остатке <strong>0</strong><br />
Итого получится : 0 0 1 0 1 0&nbsp;1 1 <strong><font color="#008000">0<br />
</font></strong>Теперь допустим, что одно из чисел&nbsp;было считано с диска неправильно, а именно первое.<br />
<strong><font color="#ff0000">1</font></strong>&nbsp;0 1 0 1 0&nbsp;1 1 <strong><font color="#008000">0</font></strong><br />
Проведём выше описанную операцию.<br />
<strong><font color="#ff0000">1+</font></strong>0+1+0+1+0+1+1=5<br />
5&nbsp;/ 2 = 2 и в остатке <strong>1<br />
</strong>Но считанное нами контрольное число равно 0! Значит, либо девятое (контрольное)&nbsp;число, либо одно и восьми считано неправильно.<br />
&nbsp;&nbsp; То, что я привёл выше&nbsp;- примитивная схема <strong>проверки целостности данных</strong>. Она способна&nbsp;находить только одиночные ошибки - если изменятся сразу два числа из восьми, она покажет, что всё в пордяке. И она не способна исправлять ошибки - для этого придётся попробовать считать данные ещё раз.<br />
&nbsp; На CD, и особенно на DVD используются сложные схемы <strong>избыточного кодирования</strong>, позволяющие не только найти ошибки, но и исправить их, если их количество находится в разумных рамках. Сделано это для того, чтобы девальвировать неизбежные дефекты материала матриц, ошибки в механике DVD-привода и работе лазера. Если бы не было описанных схем, DVD-приводы и вообще компьютеры стоили бы гигантских денег, работали бы крайне ненадёжно и медленно, посколько производить идеальные транзисторы, болванки и лазеры крайне дорого, а порой вообще невозможно. И разумеется, без&nbsp;контроля и исправления ошибок невозможным стало бы появление нашего любомого интернета.
</p>

	