Id: 375cf90c-a991-4875-ab63-5c110d42331c
Title: "Ушки"
Published: "2006-05-15"
Slug: "2006-05-15 Ушки"
-
<p align="left">
&nbsp;&nbsp;&nbsp; Вот что скажу: я редко использовал свои наушники Sennheiser HD555, а зря. Звучат - просто блеск, и уши не натирают.<br />
Но&nbsp;вообще моя долгосрочная цель для музыки - купить нечто вроде усилителя NAD 320 (стоит тоже 320$) или NAD 352 (440$)&nbsp;и к нему колонки Dynaudio 42 (350$ за штуку)<br />
Итого 1000-1100 мёртвых президентов. Вполне реально, если покопить годик-другой.<br />
&nbsp;&nbsp; А вот если&nbsp;стану состоятельным, замахнусь на профессиональные референсные мониторы ADAM S2.5A (2200$ за штуку). На этом месте &quot;не врубающиеся в тему&quot; могуть обзывать меня чокнутым, я не обижусь. Вид, кстати, &nbsp;у&nbsp; вышеперечисленных АС&nbsp;довольно простой. Но форма - ничто, звучание - всё.
</p>
<p align="center">
<a href="/files/lj/16673/368_large.jpg"><img data-src="/files/lj/16673/368_big.jpg" alt="" title="Увеличить" /></a><br />
NAD 320/352<br />
<a href="/files/lj/16673/371_large.jpg"><img data-src="/files/lj/16673/371_big.jpg" alt="" title="Увеличить" /><br />
</a>Dynaudio Audience 42<br />
<a href="/files/lj/16673/370_large.jpg"><img data-src="/files/lj/16673/370_big.jpg" alt="" title="Увеличить" /><br />
</a>ADAM S2.5A
</p>

	