Id: 90a8c7cc-d7c9-41d5-8449-31fe8885a48d
Title: "Сон"
Published: "2006-05-14"
Slug: "2006-05-14 Сон"
-
<p>
Если так пойдёт дальше, мой журнал будет посвящён только описанию дурацких и не очень снов.<br />
&nbsp;&nbsp; На сей раз я&nbsp;ехал на поезде в&nbsp;г. Лиепаю. Лиепая - третий по величине город&nbsp;Латвии. При этом порт&nbsp;на Балтийском море, находится на западном побережье страны. Внизу карта, заодно можно посмотреть, где находится моё нынешнее место обитания - Даугавпилс.
</p>
<p align="center">
<img data-src="/files/lj/16673/367_big.jpg" alt="" /><br />
Карта Латвии
</p>
<p>
&nbsp;
</p>
&nbsp;&nbsp; Итак, снилось мне, что&nbsp;я купил билет на поезд в Лиепаю для мамы. Она кстати сегодня днём на самом деле туда уехала. Затем зачем-то&nbsp;сел в этот поезд, вместо нужного мне - идущего в &nbsp;Дагавпилс. В вагоне я попивал чаёк из казенной кружки. Думаю, это объясняется тем, что недавно созданный рейс до Лиепаи&nbsp;и в реальности&nbsp;выполняет комфортабельный новый состав. В процессе чаепития я обнаружил, что рядом со мной сидит молодая симпатичная китаянка, одетая в яркие цветные молодёжного стиля брюки и блузку. Китаянка оказалось очень сумасбродной и бесцеремонной. Она&nbsp;неплохо владела русским языком: говорила&nbsp;с небольшим акцентом и отлично понимала&nbsp;сказанное мной, хотя самой ей порой не хватало словарного запаса. Вместо этого она касалась меня руками, смеялась и знаками объясняла недостающее. Показала мне учебник русского, который она&nbsp;изучала по дороге - такой же&nbsp;яркий и красочный, как и она сама. Сразу стало видно, что учебник написан китайскими лингвистами,&nbsp;у которых русский не родной язык - многие фразы построены странно, хотя явных ошибок и нет. Пока мы разговаривали,&nbsp;вздорная девчонка много раз убегала куда-то,&nbsp;оставляя меня сидеть в недоумении. Частенько она также ехидничала и подтрунивала, хотя мне было&nbsp;проблематично&nbsp;понять смысл шуточек, учитывая&nbsp;её знание языка.<br />
&nbsp; В итоге я выяснил, что вся это весёлость отчасти напускная -&nbsp;девчонка находилась в Латвии нелегально, и её ждали большие проблемы, учитывая нехватку денег и незнание местных реалий. Остаётся добавить лишь, что&nbsp;приезжала она в Латвию и другие страны из-за&nbsp;страстного желания познавать мир во всём его многообразии. И если правы солипсисты, то мои ночные визитёры не менее реальны, чем вы, читатели этого журнала. Так что&nbsp;пожелаем&nbsp;девушке&nbsp;удачи в&nbsp;её&nbsp;нелёгком путешествии.

	