Id: 88cb94c9-3067-4916-9385-a4e8842df0dd
Title: "О цветном зрении человека и птиц"
Published: "2006-11-05"
Slug: "2006-11-05 О цветном зрении человека и птиц"
-
<p>
В журнале &quot;В мире науки&quot;(Scientific American) в последнем? выпуске есть статья про зрение птиц. В ней рассказывается о том, что птицы видят ультрафиолет и все оттенки, образующиеся путём его смеси с остальными цветами. Это происходит из-за того, что у птиц четыре вида колбочек, а у человека лишь три (у прочих млекопитающих вообще два, так что нам везёт).<br />
Это было бы не так интересно, но в статье содержатся несколько крайне занимательных вещей, которые вообще-то очевидны, но над которыми я раньше не задумывался.<br />
<br />
Во-первых, цвет - это представление мозгом длины волны света. То есть <strong>никаких цветов &quot;на самом деле&quot; нет,</strong> а то, что мы их видим - способ мозга дать нам понять, какие волны отражает объект, а какие нет. Если над этим немного поразмыслить, становится&nbsp;неуютно. Получается, что субъективисты (или как их там)&nbsp;во многом&nbsp;правы, когда говорят, что мир существует лишь в разуме наблюдателя.<br />
Как положительный момент можно назвать то, что длина волны существует объективно, так что трагедии нет (знаю, знаю, тут тоже&nbsp; не всё так просто). Неприятно только, насколько мы зависим от столь глючного и приблизительного инструмента, как человеческий мозг.<br />
Сами собой просятся слова: &quot;Даёшь всеобщую киборгизацию! Слава роботам!&quot;.&nbsp; <br />
Можно лишь надеятся, что&nbsp;через несколько десятков лет мы&nbsp;с помощью генной инженерии разберёмся с&nbsp;досадными недостатками биологического хранилища нашего сознания, и киборгизация не потребуется.<br />
<br />
Второй любопытный факт из статьи - это слова &quot;птицы видят ультрафиолет&quot;. Человек, когда такое слышит, подсознательно полагает следующую чушь: это такой цвет, который в спектральной полоске из учебника по физике находится за фиолетовым и на вид тоже такой фиолетовенький. На самом деле это такой цвет, который <strong>мы не способны представить. </strong>Имеет место классическая ситуация из н/ф романов, когда мы не способны понять, как некая раса пришельцев представляет и понимает мир. Только в роли чуждых и подозрительных&nbsp;инопланетян выступают наши милые чыжики-пыжики.<br />
Там же в статье рассказывается, что у 136 видов птиц окраску самцов и самок&nbsp;орнитологи ранее считали одинаковой. После вышеописанного исследования догадались глянуть с помощью ультрафиолетовой видеокамеры.&nbsp;И стали рвать на себе волосы, поскольку сами эти 136 видов птиц птиц ничуть себя одинаковыми не считают.<br />
Как положительный момент&nbsp;стоит отметить, что с помощью приборов человек хотя бы очень приблизительно способен понять, как влияет ультрафиолет на&nbsp;восприятие&nbsp;тех, кто его видит.<br />
<br />
Третий факт&nbsp;- насколько сильно наука противоречит всяческим священным писаниям. Вроде бы человек совершенен, разве нет? А оказалось, что простой воробей видит на миллиард оттенков больше, да не просто оттенков, а таких, которые человек даже не способен представить.
</p>

	