Id: 83d54780-d4af-4c00-a637-9ea4df8a33f0
Title: "Ням-ням"
Published: "2006-02-10"
Slug: "2006-02-10 Ням-ням"
-
<p>
Страна победившей революции&nbsp; жж0т ярко-оранжевым галюциногенным маревом:<span class="ljuser" style="font-weight: 800"><br />
</span><a href="http://mr_carbo.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> mr_carbo</a>, ты там <a href="http://rus.delfi.lv/news/daily/abroad/article.php?id=13581049">шоколадные батончики с ЛСД</a> ещё не пробовал?&nbsp;<br />
А&nbsp;из Риги, говорят, все наркодилеры&nbsp;уехали&nbsp;в Англию и Ирландию, вслед за своими клиентами.&nbsp;Так что будет народ сидеть на диете без шоколада и <strike>кушать</strike>&nbsp; курить что ещё осталось.
</p>

	