Id: bd1a6a0a-6b2e-45e8-aa24-ba74533a3cf4
Title: "Akamai"
Published: "2006-05-05"
Slug: "2006-05-05 Akamai"
-
<p>
Качая медиаплеер Creative Media&nbsp;Source с официального сайта, я случайно понял, что он качается&nbsp;с сервера в&nbsp;Латвии, что меня удивило -&nbsp;с чего бы Creative располагаться в Латвии? <br />
Ответ на этот вопрос раскрывается&nbsp;далее, причём без обилия суровых технических подробностей.<br />
<br />
&nbsp;&nbsp;&nbsp; Вы знаете, что когда вы набираете адрес <a href="http://www.microsoft.com/">www.microsoft.com</a>, вы вовсе не попадаете на сервера компании Майкрософт в Редмонде? &nbsp;Запросы&nbsp;к&nbsp;страницам&nbsp;огромных компаний&nbsp;сложно и дорого обрабатывать, просто увеличивая парк серверов и ширину интернет-канала, к которому они подключены.<br />
Вместо этого часто используется следующее решение: специальная отдельная компания занимается только тем, что создаёт огромную (тысячи или десятки тысяч)&nbsp; географически децентрализованную&nbsp;сеть серверов, которые обслуживают запросы гагантских корпораций.<br />
&nbsp;&nbsp;&nbsp;&nbsp; Самая большая и известная из таких компаний - Akamai. Она создана на базе трудов учёных массачусетского технологического института (MIT) а, используют&nbsp;её такие монстры как Microsoft и Creative, Audi и Fujitsu. Akamai утверждает, что обладает более чем 18000 серверов в 70 странах,&nbsp;и&nbsp;обеспечивает 10-20% <strong>всего</strong> мирового интернет-траффика. Понятно, что считать можно по-разному, и тут скорее всего не учитываются пиринговые сети, но всё равно впечатляет.
</p>

	