Id: 8d8fb132-93f7-4cd9-884e-ccfd1aa5f8ba
Title: "Новус"
Published: "2006-11-11"
Slug: "2006-11-11 Новус"
-
<p>
Я последние&nbsp;4 часа в целях отладки сам с собой играю в&nbsp;игру - Новус. Интересно, можно ли таким путём сойти с ума?<br />
Вот вам кстати супермегасекретный скриншот. Строго инсайдерская информация! К счастью,&nbsp; начальник дрючить не будет, потому что в данном случае&nbsp;начальник - это&nbsp;я и&nbsp;есть. Карманы (лузы) кривые, потому что PowerPoint криво сохраняет wmf, а другого векторного редактора с поддержкой wmf у меня нет.
</p>
<p align="justify">
<img data-src="/files/lj/novus.jpg" alt="" />
</p>
<p>
Я&nbsp;тут&nbsp;развил бурную деятельность - правлю вытащенную&nbsp;из subversion старую версию, пытаясь понять, почему в ней глюка нет. И&nbsp;как только вам написал, что схожу с ума, как сразу&nbsp;появилась гипотеза про баг.&nbsp;Игра глючит с&nbsp;пикопогрешностью, если запущена из-под отладчика.&nbsp;И прекрасно себя ведёт в противном случае. <br />
Так что майкрософт пока живёт, всё-таки причина более-менее уважительная.
</p>

	