Id: e7fa91a3-482b-4f2e-9dc0-a01a66f019a3
Title: "Про красоту"
Published: "2006-01-30"
Slug: "2006-01-30 Про красоту"
-
<p>
&nbsp;
</p>
Вот тут у <a href="http://apazhe.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> apazhe</a>&nbsp;ссылка проскользнула.<a href="http://www.ifun.ru/comments/joke2425.html"></a>
<p>
<a href="http://www.ifun.ru/comments/joke2425.html">Когда китайцы завоюют весь мир, везде будет так же красиво.</a>
</p>
<p>
Никогда бы не поверил, что бывает такая неземная красота, если бы сам не видел. Правда, в Норвегии, и красота там скромнее и суровей. Но дух захватывает одинаково.<br />
<br />
Кстати, сессия для меня наконец закончилась.&nbsp;Результаты: 7,7,8,9,9,9,10. <br />
Удачи всем, кто&nbsp;завис в процессе.
</p>

	