Id: dcc598b3-74ef-4e89-99ef-fe87a9ed1d72
Title: "<P>По ТВ новости<BR>\"В такомто регионе России недавно установили моск дружбы\"<BR><BR>Однако я уже со"
Published: "2006-10-03"
Slug: "2006-10-03 _P_По ТВ новости_BR__В такомто регионе России недавно установили моск дружбы__BR__BR_Одна"
-
<P>По ТВ новости<BR>"В такомто регионе России недавно установили моск дружбы"<BR><BR>Однако я уже совсем</P>
	