Id: 005bae26-8e29-40cd-82ac-27d98d7939bf
Title: "Вернулсо из Московии"
Published: "2006-08-19"
Slug: "2006-08-19 Вернулсо из Московии"
-
<P>Вернулся. Москва дорогая, шумная, грязная и слишком большая.<br/>Зато люди хорошие&nbsp;- в частности <a href="http://phoneme.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> phoneme</a>&nbsp;и <a href="http://gugiens.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> gugiens</a>.&nbsp;<br/>Извини <a href="http://ted_strife.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> ted_strife</a>, не успел с тобой встретиться.<br/>Назад ехали на поезде. Он&nbsp;рулит, только вот я не помещаюсь в плацкарте на боковой полке - она длиной ровно в мой рост.</P>
	