Id: e5794b1b-238e-4b84-a1e1-623bda620839
Title: "Программисты часто ругаются себе под нос, потому что глюки."
Published: "2006-09-27"
Slug: "2006-09-27 Программисты часто ругаются себе под нос, потому что глюки."
-
Программисты часто ругаются себе под нос, потому что глюки.<br />
Дизайнер нас&nbsp; каждый раз успокаивает:<br />
&quot;Всё будет хорошо. Она вернётся и вы поженитесь&quot;<br />
<br />
А я ему каждый раз отвечаю: &quot;К тому времени он сменит пол и после ударных доз накротиков ударится в саентологию, а она станет киборгом с ампутированной частью мозга и неспособностью испытывать эмоции&quot;<br />
<br />
Это к тому, что я прочитал книжку&nbsp; <a href="http://lib.aldebaran.ru/author/panov_vadim/panov_vadim_moskovskii_klub/">Московский клуб</a> Вадима Панова, которая типа &quot;русский киберпанк&quot;. Если не обращать внимания на очевидную абсурдность этого термина (киберпанк давным давно перестал существовать, а в России его никогда и не было), книжка ничего так, только вот её портит лёгкий налёт мистики. В комментариях на Альдебаране кое-кто разочарованно советовал <a href="http://lib.aldebaran.ru/author/alehin_leonid/alehin_leonid_padshie_angely_multiversuma/">Падших Ангелов Мультиверсума</a>, как &quot;истинно крутой киберпанк&quot;.<br />
<br />
Заодно прочитал и её. Ничего истинно крутого не нашёл, кроме описания технологических штучек и сцен битв. Истинно, книга для фанатов мочилова и экшена, что вполне отражено там же в комментах. <br />
В целом обе книги неплохи, но до западных монстров пост-киберпанка вроде <a href="/post/2006-02-08%20_%D0%9A%D1%80%D0%B8%D0%BF%D1%82%D0%BE%D0%BD%D0%BE%D0%BC%D0%B8%D0%BA%D0%BE%D0%BD_%20%20%D0%9D%D0%B8%D0%BB%D0%B0%20%D0%A1%D1%82%D0%B8%D0%B2%D0%B5%D0%BD%D1%81%D0%BE%D0%BD%D0%B0">Нила Стивенсона</a> не дотягивают.

	