Id: da6ae0d5-ce0f-42a7-923d-958462fe9125
Title: "IMDB film votes"
Published: "2006-02-22"
Slug: "2006-02-22 IMDB film votes"
-
<p>
А вот, кстати, на imdb наконец-то сделали функцию показать всем свои голосования по фильмам. Мои <a href="http://imdb.com/mymovies/list?l=7443270">здесь.</a>
</p>

	