Id: ce022c45-bbee-4f81-b9a9-2bc85c82118e
Title: "<P>Я пью какао из огромной кружки с надписью Yellowstone.
Кружка (даже пустая) весит столько, что ей"
Published: "2006-12-04"
Slug: "2006-12-04 _P_Я пью какао из огромной кружки с надписью Yellowstone._Кружка _даже пустая_ весит стол"
-
<P>Я пью какао из огромной кружки с надписью Yellowstone.<br/>Кружка (даже пустая) весит столько, что ей убить можно.<br/>Но мне всё мало.</P>
	