Id: 674389cb-211b-4161-8a4f-0fdb9bc1a52c
Title: "Биороботы идут"
Published: "2006-09-23"
Slug: "2006-09-23 Биороботы идут"
-
<img data-src="/files/lj/cassette.jpg" alt="" /><br />
<a href="http://www.says-it.com/cassette/index.php">Создать свою кибер-панк-анархо-эмо-прогрессив-метал-элекророк-импров банду</a>

	