Id: 28c305c0-cc91-4e49-ae68-59093a299a3e
Title: "Satanicpornocultshop"
Published: "2006-11-29"
Slug: "2006-11-29 Satanicpornocultshop"
-
<P>Однако группа satanicpornocultshop польностью оправдывает своё название.<br/>Жуткая смесь&nbsp;тысяч и тысяч&nbsp;сэмплов из всего чего угодно (только в последней песне я услышал сэмлированный вокал солистов Limp bizkit, Korn, Nine Inch Nails&nbsp;и припев из Tricky, спетый мальчишески-девичьим бодрым голосом! Как их только не засудили? Или японцам всё можно?<br/><br/>Это пиздец. Слушать почти невозможно, но зато бошку отрывает напрочь.</P>
	