Id: 52c24699-3241-4317-8b83-7fac22849ced
Title: "<P>А ещё я хочу сказать, что <lj user=\"zashtopik\"> и вправду принадлежит к таким людям, от кото"
Published: "2006-11-12"
Slug: "2006-11-12 _P_А ещё я хочу сказать, что _lj user__zashtopik__ и вправду принадлежит к таким людям, о"
-
<p>
А ещё я хочу сказать, что <a href="http://zashtopik.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> zashtopik</a>&nbsp;и вправду принадлежит к таким людям, от которых меня клинит - такие они типа оригинальные.<br />
<br />
Туда ещё входят <a href="http://adolfych.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> adolfych</a>&nbsp;и <a href="http://ovosch.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ovosch</a>. Может ещё кто, но я не помню.
</p>

	