Id: 84d9cc83-53aa-4df3-a843-bd761c083d7c
Title: "А ещё"
Published: "2006-04-08"
Slug: "2006-04-08 А ещё"
-
&nbsp;&nbsp; А ещё мне снился <a href="http://ears_of_tin.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ears_of_tin</a>. Незнаю, почему это был именно он, внешность его мне неизвестна. Но я уверен. Сидел за &quot;компьютерным&quot; столом со здоровым LCD монитором в большой и светлой комнате, причём на другом конце комнаты был такой же стол с таким же огромным моником.<br />
&nbsp;&nbsp; &nbsp;Однако слабовато воображение у моего подсознания - сам-то я сижу за новым ламинированным треугольным столом с подставкой для клавы, системного блока и принтера, а на столе стоит 19&quot; LCD Samsung 910T.

	