Id: c9e23559-95ce-4731-b549-02ae69d45a80
Title: "холодетz"
Published: "2006-01-21"
Slug: "2006-01-21 холодетz"
-
<p>
&nbsp;&nbsp; Сегодня я решил проверить свою выносливость, и решил сходить в магазин за 3 км.Обернулся, как&nbsp; луковица. Рейтузы, как положено, ну и свитер любимый жёлтый от Yves Saint Laurent. Только перчаток не было, отдал их девахе на Новый Год. <br />
&nbsp;&nbsp; И потопал ногами по морозу. -30 да 85% и 12 метров в секунду. Но это было весело, и если верблюжьим жиром лицо намазать, даже ветер нипочём. Потому вывожу из этого, что жить можно и в Норильске при минус 37 и влажности до ста. Сначала дубасит, а потом привыкаешь. Шёл я с гордо поднятой головой, а остальные трусцой, пугливо прижав уши и пригарцовывая. <br />
&nbsp; А в супермаркете была расп родажа: &quot;В жуткие холода от души навсегда&quot;, и толпы голодные в пятницу вечером бежали покупать. А мне купить всего-то надо лампочек две штуки, что из-за морозов перегорели. Я искал их долго, но не нашёл, нашёл только йогурт и мешки для мусора, тоже полезные вещи. Помнится, там ещё была шоколадка.<br />
&nbsp; Лампы удалось найти лишь около горящей и дымящийся кассы, на 75 и 100 ватт, для прихожей&nbsp;и комнаты. Слушал я ваш этот Placebo новый, и думал, что муторен он, и хоть звуки интересные есть там, редкие они, а обычно сликом скучна музыка их. Им бы безумства больше.&nbsp;А трагедь их и мучения сфабрикованы и искусственны, надо бы не эксплуатировать образ фригидный.<br />
&nbsp; И морозы и плацебо - одна мутота.<br />
А назад было перый альбом Gang Gang Dance и идти легко, нехолодно совсем. Да, там есть трек, он как Orthrelm, только сделан раньше и другой, барабанов больше.<br />
&nbsp; Больше нечего сказать.
</p>

	