Id: dc5c50d8-572b-45f7-bd2e-a1a1f23f992a
Title: "Раздумья"
Published: "2006-07-12"
Slug: "2006-07-12 Раздумья"
-
<p>
Нашёл я себе часики с глубиномером, и даже&nbsp;2 штуки разных. Но выбрать невозможно, потому что у каждых свои достоинства и недостатки.<br />
Вот timex helix.
</p>
<p align="center">
<img data-src="/files/lj/helix2.jpg" alt="" />
</p>
<p>
&nbsp;
</p>
<p align="center">
Timex Helix
</p>
<p>
&nbsp;
</p>
<p align="left">
Плюсы: цена 45$, есть термометр, наверняка подходят моим целям, большие буквы и хорошая подсветка, память глубины и температуры&nbsp;последнего нырка<br />
Минусы: дурацкий вид, Б/У, замер глубины раз в 5 секунд или вручную, но вручную нажимать <strong>не рекомендутся???,<br />
</strong>измерения только в футах, точность 30 см.<br />
</p>
<p align="center">
<img data-src="/files/lj/casio.jpg" alt="" /><br />
Casio Marine Gear
</p>
<p>
&nbsp;
</p>
Плюсы: глубина в метрах или футах, точность 10 см, приличный вид, металлический корпус, новые, есть барометр и альтиметр, замер глубины раз&nbsp;в 3 секунды или вручную (сколько хочешь раз), память последнего нырка (вроде бы есть)<br />
Минусы: цена 64$, нет отзывов и информации в интернете, нет термометра

	