Id: 182e7c94-cfcd-432a-9eee-adc959f4e2a3
Title: "Вино"
Published: "2006-09-30"
Slug: "2006-09-30 Вино"
-
<p>
У меня скоро первая зарплата на новом рабочем месте, а в Maxima алкоголь с 15% скидкой. В честь&nbsp;этого пошёл закупить вина. Хотел подороже, но там или за 10$ или за 40$. В итоге купил две бутылки по 10$ -&nbsp;одна смесь сортов, а второе кагор.&nbsp;На вид солидное, французкое. А&nbsp;я обычно&nbsp;покупаю дешёвое и относительно качественное вино из ЮАР или Чили.<br />
А ещё у родителей в баре стоит белорусский бальзам. Классная штука, жаль только 40%.
</p>

	