Id: fed451fb-0b9a-4f9c-bc9c-8ee46cddbef1
Title: "Как часто пишет apazhe: \"вот вам очередной расстрельный список\""
Published: "2006-10-08"
Slug: "2006-10-08 Как часто пишет apazhe_ _вот вам очередной расстрельный список_"
-
<p>
Как часто пишет <a href="http://apazhe.net/" target="_blank">apazhe</a>: &quot;<a href="http://rus.delfi.lv/news/elections2006/news/article.php?id=15725721&amp;albumID=15725647">вот вам очередной&nbsp;расстрельный список</a>&quot;
</p>

	