Id: 3f4f9787-7783-423d-bf8c-737bed21ca6a
Title: "Морские узлы"
Published: "2006-08-05"
Slug: "2006-08-05 Морские узлы"
-
Вот написал пост для dirty.ru, а там такое уже было. Значит крошки с барского стола достанутся ЖЖ.<br />
Незнаю как вам, а мне всегда хотелось научиться вязать <a href="http://www.muzel.ru/">морские узлы</a>. В наш век синтетики и продвинутых креплений это уже не так полезно, но зато крайне романтично.<br />
А если у вас хроническое отсутствие таланта к топологическим изыскам, есть и <a href="http://www.animatedknots.com/">анимированное пособие</a> (eng).

	