Id: 6ab9eab5-5154-4212-9f65-5a37398a5f97
Title: "Good news, everyone! Big and dull programming article follows!"
Published: "2006-03-16"
Slug: "2006-03-16 Good news, everyone_ Big and dull programming article follows_"
-
<p>
Сделал что хотел.<br />
&nbsp;&nbsp; В общем есть такой онлайновый многоязычный словарь с фразами <a href="http://abc.times.lv/">http://abc.times.lv</a>. Но бесплатная версия выдаёт только слово за раз. Как-то раз&nbsp;мне стукнула в голову мысль создать хитроумный скрипт.&nbsp;Действует он так:&nbsp;<br />
1)Пользователь на моём сайте запрашивает слово для перевода, то есть передаёт его моему скрипту.<br />
2)Скрипт обращается на abc.times.lv, скармливает это слово тамошнему словарю, и узнаёт сколько страниц со словами-результатами получилось<br />
3)Скрипт качает все эти страницы по порядку, и выводит в одном окне, красиво и без рекламы<br />
Однако, такой механизм, реализованный на языке PHP (который я вообще не знаю, кстати) совершенно безбожно тормозил. Ещё бы! Чтобы такое проделать, скрипту надо скачать от 10 до 150 страниц размером 50 КБ, причём делается последовательно, а не параллельно.<br />
В итоге страница грузилась минуту, и я&nbsp;на такую идею забил. Сырая версия для латышского языка, впрочем, до сих пор валяется <a href="http://%20станет%20обращатся%20на%20abc.times.lv,%20скармливать%20тамошнему%20словарю%20слово,%20хватать%20появившиеся%20переводы,%20и%20выводить%20в%20одном%20окне./">вот тут</a>. Слово&nbsp;abols (яблоко)&nbsp;с&nbsp;34 вариантами перевода грузится&nbsp;42-70 секунд.<br />
&nbsp;&nbsp; Уже тогда появилась мысль грузить страницы параллельно, как это делают современные менеджеры закачек вроде FlashGet, загружающие одновременно разные части скачиваемого файла. Но на PHP возможность это сделать колеблется от &quot;трудно&quot; до &quot;невозможно&quot; в зависимости от условий хостинга.<br />
Поэтому сейчас, когда руки дошли оценить среду разработки ASP.NET, решил реализовать идейку.<br />
В итоге получилась ASP.NET программа на C#, <a href="http://vlad.richnet.lv/VlaDi/" target="_blank">запущенная на моём домашнем компе</a>.<br />
Поддерживается пока что только латышско-русский словарь.<br />
Работает новый алгоритм так:<br />
1)Качает первую страницу, узнаёт, сколько будет всего страниц.<br />
2)Создаёт столько&nbsp;потоков (threads), сколько страниц, и заставляет каждый поток качать свою страницу. В итоге всё скачивается более-менее одновременно.<br />
3)Выводит результат.<br />
&nbsp; Затрачиваемое время - 25-30с. Увы, выигрыш почему-то невелик. Впрочем, сравнивать не очень корректно, потому как запускалось это на совершенно разных компьютерахв разных&nbsp;местах.<br />
&nbsp; &nbsp;Из интереса сделал вариант, работающий по-старому. Время стало сравнимо с вариантом на PHP, что логично, ведь упирается всё в скорость скачивания, а не исполнения программы.<br />
В общем, пользоватся пока нельзя. Следующий логичный шаг - сделать кэширование слов. Но это&nbsp;станет уже&nbsp;крайней стадией&nbsp;нарушения копирайтов, и в открытый доступ такое выложить не получится.
</p>

	