Id: 7b5cef05-864d-4f7b-8bba-553a0abd58c6
Title: "Сон"
Published: "2006-05-10"
Slug: "2006-05-10 Сон"
-
&nbsp;&nbsp; Снилось мне, что я разговаривал с Дмитрием Пучковым, более известным как <a href="http://www.oper.ru/" target="_blank">&quot;Goblin&quot;</a>.<br />
&nbsp;&nbsp; Он мне сообщил, что у него в аквариуме&nbsp;живут маленькие акулы, проникшие в квартиру через водопровод. Ещё рассказывал, что сидел в тюрьме &quot;Владимирский централ&quot; за изготовление фальшивой Кока-Колы. На вкус как настоящая,&nbsp;&nbsp;всем очень&nbsp;нравилась,&nbsp;пока не узнали, что от её употребления можно ослепнуть. В любом случае его скоро выпустили из-за связей в милиции, хотя прямо он&nbsp;мне этого не&nbsp;сказал.<br />
&nbsp; &nbsp; Если так пойдёт дальше, и при этом сохранится логика появления знаменитых персонажей, ждите разоблачающих постов об одностороннем контакте&nbsp;во сне с Андреем Гороховым и Арсением &quot;<a href="http://apazhe.net/" target="_blank">Apazhe</a>&quot; Фёдоровым.<br />
<br />
&nbsp;&nbsp; И ещё я, когда нахожусь в Риге,&nbsp;вынужден слушать одну и ту же попсу, потому что забываю привезти больше музыки,&nbsp;а коллеги&nbsp;по комнате не одобряют авангарда, пусть даже и&nbsp;не настоящего.&nbsp;Песни&nbsp;Departure и Мадонны так вообще&nbsp;скоро выучу наизусть. Ужоснах!

	