Id: cdccd285-69b6-4a5b-8b31-dbb2c7cb1f36
Title: "Книга Линуса Торвальдса"
Published: "2006-10-25"
Slug: "2006-10-25 Книга Линуса Торвальдса"
-
Линус Торвальдс - культовая личность, автор операционной системы Линукс, которая широкой поступью шагает по планете (по крайней мере, в серверных комнатах, если и не на вашем компьютере). Вообще-то&nbsp; культового статуса он не заслужил, в отличие от святого основателя GNU Столлмана, но не об это речь.<br />
<br />
И если Гейтса компьютерщики обычно полагают вестником сатаны и страшным злом, то Торвальдса возвеличивают как доброго ангела. Естественно, оба этих утверждения - чушь, но и это не имеет значения.<br />
<br />
Важно то, что оба персонажа написали книги: Вильям Гейтс III так даже и вовсе две: The Road Ahead и <em>Business @@@@ the Speed of Thought.<br />
</em>Про них ничего не скажу, не читал. А вот книга Линуса &quot;Just for fun. Рассказ нечаянного революционера&quot; в соответствии с принципами GPL вполне легально <a href="http://lib.aldebaran.ru/author/torvalds_linus/torvalds_linus_just_for_fun_rasskaz_nechayannogo_revolyucionera/">доступна в онлайне</a>, поэтому грех было не узнать про столь маштабную фигуру.<br />
Рассказ, как возникла ОС Линукс, в книге перемежается историями из биографии Торвальдса и занимательными описаниями финского быта. Хватает также юмора и слегка убогой философии, от которой меня лично клонит в сон. <br />
<br />
Неприятно лишь то, что авторы с яростным фанатизмом защищают идеологию открытого кода*, полностью закрывая глаза на нестыковки&nbsp; и проблемы в этой самой идеологии. В этом они ничем не отличаются от апологетов коммерческого софта - такие же вруны и любители выдавать желаемое за действительное.<br />
<br />
В целом книга ничего так, айтишникам почитать полезно. <br />
<br />
Цитата:<br />
<em>Честно говоря, в тот момент я просто ненавидел армию. Но некоторым вещам стоит только закончиться, и они мгновенно превращаются в чудесные воспоминания. Армейская служба из их числа.<br />
Кроме того, теперь мне до конца жизни есть о чем поговорить с любым финном. Некоторые даже считают, что это главная причина всеобщей воинской обязанности в стране: надо дать финнам неисчерпаемую тему для разговоров за пивом. Общее несчастье их объединяет. Служат они с отвращением, но потом с удовольствием об этом вспоминают.<br />
</em><br />
<br />
* Если просто: идеология открытого кода полагает, что программы должны быть бесплатными и любой разработчик должен иметь доступ к исходному коду любой программы, чтобы он мог полностью изменить её по своему желанию.

	