Id: f50c3edd-6332-4f54-8f16-73aa2f9db0bb
Title: "Вавилон-5"
Published: "2006-04-13"
Slug: "2006-04-13 Вавилон-5"
-
&nbsp;&nbsp; Вчера закончил&nbsp;пересматривать Вавилон-5.&nbsp;Задумал автор B5 Джон Страчинский (JMS) сделать грандиозный видео-роман,&nbsp;и у него отлично&nbsp;получилось. Всё пафосное и эпическое настолько, что местами даже смешно.&nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;Правда, сюжет местами натянут и невыстроен, но ведь JMS пришлось бороться с огромным количеством проблем. Удивительно, как вообще можно было&nbsp;создать нечто столь грандиозное и продуманное.<br />
&nbsp;&nbsp;&nbsp;Последняя серия&nbsp;ужасно печальная и тяжёлая, весь пафос&nbsp;оправдан, и&nbsp;слёзы текут против воли. А актрису Миру Фурлан (<a href="http://imdb.com/name/nm0001245/">Mira Furlan</a>) вообще надо вознести&nbsp;в рай ещё при жизни,&nbsp;настолько идеально она подходит для роли Деленн.

	