Id: c3847c36-6304-481a-8e21-79d3d19b133f
Title: "И он тоже?!"
Published: "2006-05-31"
Slug: "2006-05-31 И он тоже__"
-
Смеялсо до потери пульса.<br />
<br />
&nbsp;- У меня вопрос не по экскурсии. Я всю жизнь хотел узнать, какая фамилия у Петра I?<br />
- Романов. <br />
- Как? И он тоже?!<br />
<br />
Остальное <a href="http://www.litera.ru/slova/razumovskaya/metrazh.html">тут</a>,&nbsp; via 

	