Id: 6257d185-ea68-496c-a0d9-c9545751774e
Title: "Парк активного отдыха \"Meža kaķis\""
Published: "2006-09-26"
Slug: "2006-09-26 Парк активного отдыха _Meža kaķis_"
-
<p>&nbsp; В воскресенье ездили в парк активного отдыха <a href="http://www.mezakakis.lv/">"Meža kaķis"</a>, т.е. "Лесной Кот".</p>
<div class="ljcut">[more text=Читать дальше (много фоток и текста)]&nbsp;Находится он в Сигулде, которую за красоту и холмистость называют "Латвийской Швейцарией". Посетить данную аттракцию нас подбил Шурик, он же и вёз на своей Audi A4. От Даугавпилса до Сигулды 270 км, причём на последних 40 дорога совсем разбита.&nbsp; Отправились мы в следующем составе: программист и водитель Шурик, дизайнер-баскетболист Алексей, девушка Шурика будущий учитель Наташа и её брат Вадим. В Сигулде к нам присоединился балагур, пивопоклонник и табакокуритель спортивной комплекции Валерыч.  <br />
<p align="center"><img src='/files/B1B92B4AC5A2A34F9C7722D120BFDE12.jpg'  alt="" />&nbsp;</p>
<br />
<p>&nbsp;</p>
<br />
<p align="center">Команда в сборе</p>
<br />
<p>&nbsp;</p>
<br />
<p align="justify">&nbsp;&nbsp;Суть развлечений в парке следующая. Между деревьев натянуты стальные и веревочные тросы, к которым прикреплены различные препятствия в виде сеток, тарзанок, ступенек, подвешанных на верёвках, канатов, по которым надо пройти, изображая циркового артиста. На деревьях сделаны площадки, куда ты попадаешь, закончив препятствие. Всего в парке четыре трассы, отличающихся по уровню сложности - зелёная, синяя, красная и чёрная.&nbsp; На зелёной трассе все препятствия очень простые и находятся на высоте 2-3 метра. А к чёрной развлечение превращается почти в тренировочный полигон для спецназа, расположенный на высоте в 15 метров. А мы как чокнутые ещё и за свои деньги туда полезли, хехе. Стоит такое развлечение 17$ за 3 часа, но если задержишься, гнать тебя никто не будет. В цену вроде бы даже входит страхование здоровья.</p>
<br />
<p align="center"><img src='/files/3E1DE317F2775CD4C24302FDC7A78103.jpg'  alt="" /> <br /> Место для детей и трусов</p>
<br />
<p align="justify">&nbsp;&nbsp; Начинается всё с выдачи страховки, которая представляет собой три соединённых ремня - два вокруг ног и один - вокруг туловища. К ремням привязаны две защёлки-карабина и один блок с колёсиком, предназначенный для сьезда по канату. Вдобавок ещё дают обмакунтые в цветную резину перчатки, чтобы посетители не ободрали себе руки до крови. Несмотря на резину, перчатки к концу посещения превращаются в тряпку, и потому логично, что возвращать их не надо.</p>
<br />
<p align="center"><img src='/files/F25763D067C6067CC0048F5D7BE56563.jpg'  alt="" /> <br /> Тренировочный участок</p>
<br />
<p align="justify">&nbsp;Получение вышеперечисленных атрибутов&nbsp; может затянуться надолго ввиду нехилой очереди (викэнд, фигли). После того, как получено "добро" на продвижение, инструктор показывает, как правильно пользоваться снаряжением. Правила простые и их всего несколько, но я их всё равно одно не понял, потому что рассказывали по-латышски. Впрочем, меня быстро поправили.</p>
<br />
<p align="center"><img src='/files/F44D7175A0E55B5C46F70DC723318479.jpg'  alt="" /><br /> Ready to go</p>
<br />
<p align="justify">Правила такие: 1)Страховочный карабин пристёгивать только к красному тросу или золотому кольцу. 2)Один из карабинов всегда должен быть пристёгнут. Закончил одно препятствие - снял один карабин с пояса,&nbsp; пристегнул к страховочному тросу на площадке. Снял второй карабин со страховочного троса предыдущего препятствия, прикрепил его к страховочному тросу следующего препятствия. Таким образом, ты всегда пристёгнут, и самое плохое, что может с тобой случиться - растяжение или синяк. 3) Блок с колёсиком для катания на тросе пристёгивать только к золотому тросу, предназначенному именно для этого. (Этот пункт не всегда соблюдается, но об этом дальше) 4) На препятствии должен быть одновременно только 1 человек, на площадке вокруг дерева - двое. Надо сказать, что&nbsp; все страховочные тросы - стальные, и на вид могут вполне выдержать несколько тонн, что хорошо, поскольку&nbsp;при динамической нагрузке (то есть падении тушки акробата вниз) сила может вырасти в 10 раз.</p>
<br />
<p align="center"><img src='/files/7923EB96148A76B36645FE93642AFCFA.jpg'  alt="" /> <br /> Начало зелёной трассы</p>
<br />
<p align="justify">Надо сказать, что я вешу 110 кг при росте 178 см, да и вообще моё физическое состояние далеко от идеального. Поэтому я слегка опасался демонстрировать чудеса акробатики, и решил сначала оценить, насколько сложны трассы, и на какие мне идти не стоит. Однако впоследствии оказалось, что об этом меня никто не спрашивал - мои друзья автоматически полагали, что я побегу за ними, как спортсмен. Я и побежал, куда денешься. Впрочем, всё по порядку. В парке "Лесной кот" я впервые порадовался за свой крошечный фотоаппарат - никакой другой туда просто не возмёшь. Правда мне пришлось в пулемётном ритме его доставать и прятать, но это уже приемлемые издержки. А вот что совсем не порадовало - так это качество снимков. Впрочем, не в первый раз.</p>
<br />
<p align="center"><img src='/files/600E89F93F4299BB1B05EDDD56E85424.jpg'  alt="" /> <br /> Игрушечное препятствие</p>
<br />
<p align="justify">Первая трасса - зелёная, её может пройти даже ребёнок лет 7, так там всё просто. Впрочем, смотрим на фото. На ней себя чувствуешь, как на прогулке, да и сил в начале полным-полно.</p>
<br />
<p align="center"><img src='/files/3DB681485531B513635CBA17CCF7EE5E.jpg'  alt="" /> <br /> Алексей готов к борьбе с трудностями как никогда <br /> <img src='/files/FFC3F0605899E6F4856C7384BC471C2B.jpg'  alt="" /> <br /> Идёшь, как по асфальту <br /> <br /> <img src='/files/21F15E63E3E7E3F8DB0F8DD04FB2CD67.jpg'  alt="" /> <br /> Игрушечные препятствия позади, впереди настоящие</p>
<br />
<p align="justify">Вторая трасса - синяя, уже куда интереснее, но на неё я пошёл не сомневаясь, поскольку зелёная была слишком уж лёгкой.</p>
<br />
<p align="center"><img src='/files/275AF7866FE2EFDB46925905014EAB20.jpg'  alt="" /> <br /> Смешной мостик, но без рук не пройти</p>
<br />
<p align="center"><img src='/files/097DFEE9CD64EC7B69AEE4F0695FB4D7.jpg'  alt="" /> <br /> Ууу, а внизу не так уж низко</p>
<br />
<p align="center"><img src='/files/0F7D26E63FBA4434FA0E778AE225C0AC.jpg'  alt="" />&nbsp;<br /> От первого лица<br /> <br /> <img title="Баскетболисты могут и без рук" src='/files/6BD181F87191D3CE5A99E889CD7D6123.jpg'  alt="http://foto.izvne.com/d/1974-4/IMG_1806.jpg" /> <br /> Баскетболисты могут и без рук</p>
<br />
<p align="center"><img src='/files/50D9260C30FD2A1FC40616591F10513A.jpg'  alt="" /> <br /> Это кошачья гора, где&nbsp;находится парк</p>
<br />
<p align="center"><img src='/files/202DCBA36BB704A05CBEBFDCFFEB3C84.jpg'  alt="" /><br /> &nbsp;Ууу, а впереди-то пропасть <br /> <br /> <img src='/files/903985F73A047C9D97AAF0076C2E9A38.jpg'  alt="" /> <br /> Покорители синей трассы. Решимость Алексея ещё более укрепилась.</p>
<br />
<p align="justify">После синей трассы чувствуешь&nbsp; лёгкий налёт напряжения и немного волнения от высоты. Однако же безо всяких сомнений и раздумий мы ломанулись на красную трассу. Но быстро обломились, поскольку там было дикое столпотворение и очередь минут на 20. Впрочем, всё к лучшему - перед красной трассой отдых очень даже пригодился, поскольку на ней есть парочка действительно напряжных аттракционов, по крайней мере для вашего покорного слуги</p>
<br />
<p align="center"><img src='/files/8A9E038B16E4A0E67B004145B8D141E9.jpg'  alt="" /> <br /> Так трос страховки привязан к карабину. Какой это узел - пока что не скажу.</p>
<br />
<p align="justify">&nbsp;</p>
<br />
<p align="center"><img src='/files/4157AAEB4411209EAA1D6535E35E8AAE.jpg'  alt="" /> &nbsp;<br /> Валерыч всегда галантен с дамами - настоящий рыцарь</p>
<br />
<p align="justify">&nbsp;</p>
<br />
<p align="center"><img title="Отправил даму в полёт - и счастлив" src='/files/EA3B55BC30803EFDD2D0F1EFD0139144.jpg'  alt="" /> <br /> Отправил даму в полёт - и счастлив&nbsp;&nbsp;</p>
<br />
<p align="center"><img src='/files/72B167EBC02932A2E3986A42FB31441F.jpg'  alt="" />&nbsp;<br /> Ой, блин!</p>
<br />
<p align="center"><img title="В глазах Натальи - всепоглощающее упорство" src='/files/5F292E4B28BE26A4F491AE7A98D14385.jpg'  alt="" /> &nbsp;<br /> В глазах Натальи - всепоглощающее упорство</p>
<br />
<p align="center"><img src='/files/E613896ED487D1304E342C042B8ED9B3.jpg'  alt="" /> <br /> Деликатно пробует воду</p>
<br />
<p align="justify">&nbsp;</p>
<br />
<p align="center"><img title="Спускаться, катясь по тросу - одно удовольствие" src='/files/7193D9D62A80E0E52F497420F091E5BE.jpg'  alt="" /> &nbsp;<br /> Спускаться, катясь по тросу - одно удовольствие</p>
<br />
<p align="center"><img title="Особенно, когда тебя толкают" src='/files/15B3398D8626EA7DF295608E9A8FA557.jpg'  alt="" /> &nbsp;<br /> Особенно, когда тебя толкают</p>
<br />
<p align="center"><img title="А уж бояться тут и подавно нечего" src='/files/43DE86D0D7D9FC67098C777D0621A7D9.jpg'  alt="" /><br /> А уж бояться тут и подавно нечего</p>
<br />
<p align="center"><img title="Одно из самых сложных препятствий на красной трассе" src='/files/FEECA2C91B3851B485EAF51B42E5B97F.jpg'  alt="" /> &nbsp;<br /> Одно из самых сложных препятствий на красной трассе</p>
<br />
<p align="center"><img title="Стоит человек на канате, отдыхает. На высоте 10 метров." src='/files/B58C25C0DA0BEDD206A5A28A308D2E40.jpg'  alt="" /> &nbsp;<br /> Стоит человек на канате, отдыхает. На высоте 10 метров.</p>
<br />
<p align="justify">&nbsp;&nbsp; После окончания красной трассы идти особо никуда не хочется, делать тоже ничего не хочется. Однако впереди ещё осталась чёрная трасса - по цвету&nbsp; возникает ассоциация, которая хорошо отражает&nbsp; её предназначение. Маньяк Лёха меня туда таки затащил, за что ему большое спасибо, поскольку теперь я могу&nbsp; почти честно написать, что побывал на всех четырёх. Однако на чёрной трассе я превысил предел своих возможностей,&nbsp; и всё-таки свалился так, что не мог залезть обратно. Спасибо друзьям, помогли. Фотографий с чёрной трассы почти нет - не до того было.</p>
<br />
<p align="center"><img src='/files/E5A46C122135174562476D8A549EA326.jpg'  alt="" /> &nbsp;<br /> Чёрная трасса - для спецназа. Оно и видно.&nbsp;А я&nbsp;тут катился по страховочному тросу.</p>
<br />
<p align="left">Оставшиеся препятствия я преодолевал хитроумным способом, который изобрела Наташа&nbsp;- прикрепляешь блок с колёсиком к страховочному тросу и катишься, как на спецтросе для скатывания.</p>
<br />
<p align="center"><img src='/files/C332E8AB2C6100117480E19A67651E33.jpg'  alt="" /> &nbsp;<br /> А ты записался в ДОСААФ?</p>
<br />
<p align="center"><img title="Так увлекательно, что аж язык высунул" src='/files/1402210FF3DA72DFE447D2D64E1A0137.jpg'  alt="" /> <br /> &nbsp;Так увлекательно, что аж язык высунул</p>
<br />
<p align="center"><img title="Шпагат" src='/files/3EC99C794D6681B472255C0B001ED9DD.jpg'  alt="" /> <br /> &nbsp;Шпагат</p>
<br />
<p align="center"><img title="Последнее из серьёзных испытаний на чёрной трассе" src='/files/4095B795FB8A74904BC88CE2EF9C0354.jpg'  alt="" width="576" height="768" /> <br /> Последнее из серьёзных испытаний на чёрной трассе&nbsp;&nbsp;</p>
<br />
<p align="center"><img title="15 метров высоты, как не крути" src='/files/65F5700E24195373240F979A109CA6EE.jpg'  alt="" /> &nbsp;<br /> 15 метров высоты, как не крути</p>
<br />
<p align="left">&nbsp;&nbsp; В конце чёрной трассы на жуткой высоте находится длиннющий трос для спуска&nbsp;на колёсике. На самом деле, даже он кажется приятным и простым развлечением после некоторых особо изощрённых препятствий чёрной трассы. Ещё бы - пристегнулся и поехал, всё равно приземлишься в мягкую сетку и на поролоновый матрас. &nbsp;&nbsp; После окончания чёрной трассы ты находишься в самом низу "Kaķu kalns" , то есть Кошачьей горы, но которой всё это безобразие и находится. У её подножья протекает знаменитая река Гауя, но тебе не до красот природы - надо забираться обратно на гору. После всех мужественно перенесённых испытаний тебе говорят - не расслабляйся, салага, тебе ещё топать по ступенькам обратно. &nbsp;&nbsp; После трёх часов приличной физической нагрузки это кажется весьма ироничным и чуть ли не самым трудным испытанием. А мы ещё умудрились пойти устроить пикник на траве около Сигулдских пещер. Затем осмотрели сами пещеры, покрытые вырезанными на них надписями "Здесь был Вася" вековой давности. Воистину, нет пределов силам скучающих офисных работников,&nbsp; дорвавшихся до отдыха на природе. &nbsp;&nbsp; Закупившись сувенирами с символикой Сигулды, мы отправились по домам. Шурик позже признался, что последние 50 км вёл машину автоматически, слабо соображая, что вокруг происходит.</p>
<br /></div>
<p><br /> <a href="http://foto.izvne.com/v/Vladekk/Sigulda/">Чуть больше фото и большой размер на foto.izvne.com"</a></p>
<p align="left">&nbsp;</p>
	