Id: 6e2bb63b-c0ee-4d02-9522-4c4ecb55f43f
Title: "Так"
Published: "2006-06-28"
Slug: "2006-06-28 Так"
-
<p>
<a href="/post/2006-06-20%20%D0%92%D1%81%D1%8F%D0%BA%D0%BE%D0%B5">Юра</a>&nbsp;защитил дипломную работу&nbsp;на 8!<br />
Говорит, правда, что после этого окончательно разочаровался в образовательной системе Латвии.<br />
Но всё равно мои поздравления, и тому подобное бла-бла-бла.
</p>

	