Id: 8b5c1c48-3981-429f-b40a-efd16b8c4308
Title: "Москва"
Published: "2006-08-07"
Slug: "2006-08-07 Москва"
-
<P>На выходных или позже (это обсуждается) я приеду в Москву, буду там около недели. Если кто хочет со мной встретиться (за исключением <U>phoneme</U> и <U>gugiens,</U> которые точно хотят) пишите сюда.<br/>Я&nbsp;в общем не тусовочный чувак, но и не нелюдимый асоциал. О чём будем говорить и что делать&nbsp;-&nbsp; не&nbsp; имею представления.</P>
	