Id: b64ffb7e-6ee1-41b6-99b0-f9fdaf47d475
Title: "Журнал \"Трамвай\""
Published: "2006-06-10"
Slug: "2006-06-10 Журнал _Трамвай_"
-
&nbsp;&nbsp;&nbsp; В детстве я читал журнал &quot;Трамвай&quot;. Это было то ещё психоделическое чтиво. Я тогда был разумный малый, куда сообразительнее, спокойнее и добрее чем сейчас. Поэтому полные сюрреализма тексты из журнала&nbsp;вызывали у меня длительный ступор. Процессор заклинивало, как выражается юморист Задорнов. Зато, пытаясь понять&nbsp;непостижимые чудеса журнала, я&nbsp; приобрёл чувство юмора (надеюсь) и&nbsp;умение&nbsp;воспринимать&nbsp;&quot;лириков&quot;&nbsp;да их литературные шуточки. А потом я вырос и стал&nbsp;поглощать издание, которое&nbsp;раньше&nbsp;читала моя взрослая сестра - журнал под названием &quot;Мы&quot; для подростков.<br />
&nbsp; А сейчас добрые люди отсканировали и выложили&nbsp;&quot;Трамвай&quot; на <a href="http://www.tramway.msk.ru/">специальный сайт.</a>&nbsp;Тем, для кого это слово не вызывает сладкой ностальгии, наверное качать не стоит.<br />
Для них я лучше приведу цитату, чтобы оценили дух.<br />
<em>&nbsp;Барахтается Луна-рыба в песке, а уплыть никуда не может.<br />
&ndash; Сейчас мы её выловим, &ndash; обрадовалась Панда.<br />
&ndash; Откуда вы меня, кхе-кхе, вылавливать собрались, &ndash; кашляет Луна-рыба, &ndash; если море давно высохло? Солнце-то эвон как жарит!<br />
&ndash; Неужели без воды можно жить? &ndash; поражается Коля.<br />
&ndash; Нельзя, &ndash; вздыхает рыба. Да вот приспособилась . . .</em>

	