Id: 809eb858-dc34-48ec-b4e1-ded991d50e04
Title: "Сборная солянка"
Published: "2006-11-13"
Slug: "2006-11-13 Сборная солянка"
-
<p>
У меня хорошее настроение, ещё какое! (по мотивам Мицголизмов)<br />
<br />
Месяц назад <a href="http://murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> murmanskdays</a>&nbsp;выкинул из френдов, а теперь <a href="http://asena.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> asena</a>, и даже забанила. И&nbsp;зачем вообще было френдить, спрашивается? Правда <a href="http://asena.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> asena</a>&nbsp;я первый добавил, каюсь.<br />
Кстати,&nbsp; <a href="http://asena.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> asena</a>&nbsp;меня забанила (наверное) по той причине, по которой я сам не добавляю <a href="http://03.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> 03</a>. А <a href="http://Murmanskdays.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> Murmanskdays</a> меня расфрендил, потому что я ему сказал идти на хуй, когда он обосрал группу mars volta. Я вообще в шутку посылал, но наверное ему видней, кого и когда выкидывать, всё таки он звезда! [с придыханием]<br />
Это хороший пример бредовости этого вашего ЖЖ и виртуального общения. Туда-сюда, принципы-шмынципы. Воспринимают фигню всякую, как личное оскорбление.<br />
<br />
У меня вот друг чокнутый фальшивый анархист, панк и распиздяй, дык мне насрать, что он там себе думает и полагает. Главное, чтобы вместе нам было интересно время проводить и не очень друг друга доставали. А другому другу вообще плевать на общество, политику и всё такое прочее. Он своего мнения по любым вопросам, кроме технических, не имеет, или по крайней мере делает вид.&nbsp; А ещё есть всякие мегаталанты (называть не буду, чтобы не стеснять), которые в споры не ввязываются,&nbsp;а&nbsp;творят&nbsp;себе своё великое,&nbsp;и им тоже пофиг. Есть дети с дачи, чуваки из локалки и коллеги-программисты. Они колбасяцца,&nbsp;дуют и бухают соответственно, &nbsp;но им тоже всё равно.<br />
<br />
Короче надо, сцуко, общацца вежливо и культурно на <a href="http://one.lv/" target="_blank">one.lv</a>, как вся наша убогая золотая молодёжь, и дарить девочкам-подросткам&nbsp; виртуальные букетики по 50 сантимов штука. Детям - цветы, бабам - мороженое. И будет всеобщее счастие. <br />
<br />
А я ещё я сегодня на полтора часа парализовал работу всего отдела программистов, показав им сайт <a href="http://speeddemosarchive.com/" target="_blank">speeddemosarchive.com</a><br />
<br />
И&nbsp;Санитары Подземелий от Гоблина таки неплохи.<br />
<br />
И ещё&nbsp;наконец своровали Windows Курица (по латышски Vista). Версию, предназначенную для производителей готовых ПК, как я понимаю. <a href="http://thepiratebay.org/tor/3555203/Microsoft.Windows.Vista.Final-BillGates">Вот&nbsp;это она</a>, если не врут<br />
<br />
Если кто знает, будет ли она работать долго, и не взорвётся ли через 180 дней ака time bomb, отпишитесь.<br />
Вот вроде <a href="http://thepiratebay.org/search.php?q=vista+bill+gates&amp;sourceid=Mozilla-search">кряки</a>, но я кряки не люблю. Я corporate лублу.&nbsp;<br />
<br />
И ещё, глаза с ушами, если ты меня читаешь, надо бы встретится перетереть, онемэ заодно натаскаю, а то потерял куда-то диски, причём половину от каждого сериала, как назло. Нифига себе, сколько запятых в предложении!<br />
<br />
И ещё забыл добавить.&nbsp;Друзей у человека нет.&nbsp;И быть не может. Как сказал нелюбимый всеми Гоблин (за точность не ручаюсь): &quot;Человек приходит на свет один и&nbsp;уходит один. И после этого его труп будут жрать черви. А если он дожил до седых волос и этого не понимает, можно только посочувствовать&quot;. 
</p>

	