Id: 7774da23-bfa6-45d5-b274-fdd0fdd18ca9
Title: "Обед"
Published: "2006-10-02"
Slug: "2006-10-02 Обед"
-
Обед из супа, второго блюда и компота в 9 школе города Даугавпилса стоит ровно 1 лат и 1 сантим, то есть менее двух долларов.<br />
Причём<br />
1)Это включая хлеб<br />
2)Блюда большие, даже огромные<br />
4)Можно выбирать<br />
5)На вкус всё нормально<br />
<br />
<br />
<div style="border: 1px solid black; margin: 0pt; padding: 20px 14px 28px 25px; background-color: #ffffee; color: #000000">
<span style="font-family: 'Palatino Linotype',FreeSerif,'Royal Times New Roman','Arial Unicode MS','Royal Arial',Code2000,'Lucida Sans Unicode','XSerif Unicode',serif">Я нравственно потрясен&nbsp;<sup><a href="http://www.mavrin.net/mithgol/#phrase194" target="_blank">MЦ</a></sup></span>
</div>

	