Id: 30e66e38-581c-42dd-93f4-20fa9f9b1611
Title: "Группа \"Полюса\""
Published: "2006-06-17"
Slug: "2006-06-17 Группа _Полюса_"
-
<p>
&nbsp;&nbsp;&nbsp;&nbsp; Даже в таком говнорокерском жанре, как русский поп-рок можно найти хорошие группы. Пару лет назад я услышал на Звуках.Ру питерских раздолбаев &quot;Полюса&quot; со своим хитом &quot;Поэзия&quot;, убивающим просто наповал. Потом послушал там же их демо-запись, которая и сейчас мне нравится даже больше релиза, потому что обладает на редкость мягким и добрым звукомю. Очень домашнее ощущение.&nbsp;И песня &quot;Поэзия&quot; от навороченной аранжировки и полегчавших гитар&nbsp;сильно испортилась - она должна быть зверской, сырой и ревущей, какой&nbsp;была на демо-записи.<br />
В итоге выкладываю всё-таки оцифиальный релиз, а демо&nbsp;можно <a href="http://new.zvuki.ru/M/P/23352">скачать на Звуках.</a> Особенно песню Поэзия -&nbsp;обязательно качать отттуда!<br />
<a href="http://rapidshare.de/files/22733589/Polyusa_-_2003_-_Poe_ziya.rar.html">Скачать официальный релиз с Rapidshare</a><br />
<strong>Лёгкость прослушивания: 5. <br />
</strong>Это конечно не легчайшая поп-музыка, но близко к тому. Музыка для рефлексирущих образованных девушек, вот так наверно. Небанальный стихотворный размер импонирует.
</p>

	