Id: 46c4dfd4-5076-428a-a867-ae52dc24f656
Title: "Какая связь между Самсунгом и сыром?"
Published: "2006-12-22"
Slug: "2006-12-22 Какая связь между Самсунгом и сыром_"
-
<P>На работе Samsung подарил нам четыре сорта сыра, а фирма добавила вино. В итоге они раззадорили вкус, и потому я&nbsp;сейчас&nbsp;пью глинтвейн из огромной кружки с надписью "Yellowstone" и закусываю твёрдым сыром "Boffard"<br/></P>
	