Id: 4a7cb5ab-dcbe-4573-90b4-aaa8b94afcaa
Title: "Ссылочги"
Published: "2006-11-13"
Slug: "2006-11-13 Ссылочги"
-
<a href="http://www.inopressa.ru/independent/2006/11/10/14:24:35/water">гавно вопрос</a><br />
для нытиков вроде меня, хоть и не поможет<br />
<br />
<a href="http://sigin.dephine.org/flamewarriors/">воины интернета</a><br />
для ^0_0^, хоть он наверное и видел<br />
<a href="http://www.thefoto.ru/2006/09/21/print:page,1,risunki_ot_dean_yeagle.html"><br />
мегапазитиффная девачка</a><br />
для продуктивного начала рабочей недели, хоть такого в интернете и много<br />
<br />
Всё нагло стырено. Поэтому, вот:<br />
<br />

	