Id: 817faf44-4335-4e98-9d6c-ae8acdac559e
Title: "О лейбле 20kbps rec."
Published: "2006-11-12"
Slug: "2006-11-12 О лейбле 20kbps rec."
-
<p>
И ещё пришло на ум, какой смысл может быть в действиях лейбла <a href="http://20kbps.sofapause.ch/">20kbps rec</a>, выпускающего все релизы в&nbsp;сверхнизком качестве 20 килобит.&nbsp;Столь низкое качество теоретически заставит mp3 кодировщик оставлять в музыке только те части, которые наиболее существенны для восстановления музыки, то есть костяк. Другой вопрос - по какому алгориму он это делает. Алгоритм может не иметь прямой связи с человеческим пониманием &quot;существенного&quot;. То есть мы полагаемся на художественный вкус&nbsp;программы в выявлении важных моментов. Очредная Слава Роботам?<br />
<br />
&nbsp;&nbsp; Как человек, представляющий&nbsp;функционирование алгоритма mp3, скажу лишь, что алгоритм может быть и вытягивает существенное, но при этом его сильно сглаживает и огрубляет. Получается так, что оно само на себя не похоже, и пользоваться им уже нельзя. То есть в сложном оно присутствует, а пытаемся упростить&nbsp;- разрушается.<br />
Так что вряд ли действия 20kbps приведут к успеху.
</p>

	