Id: c0d30f32-d41b-4f6b-a876-a21e8c8485a3
Title: "Влияние имени человека на характер"
Published: "2006-11-07"
Slug: "2006-11-07 Влияние имени человека на характер"
-
<p>
Я вообще не верю во всякое антинаучное мракобесие: в астрологию, экстрасенсов, духов и т.д. <br />
Но в одну ерунду всё-таки верю: что имя влияет на характер, ну или что имена дают такие, что они отражают характер. Первое вероятнее, ведь его можно&nbsp; объяснить хотя бы тем, что человек ассоциирует себя со своим именем, плюс много раз слышит его звучание, в т.ч. в раннем возрасте, когда это откладывается в подсознании. Спекуляция конечно, но надо же мне как-то объяснять эдакое бревно в собственнном глазу. <br />
<br />
По моим скромным наблюдениям, одной строкой.<br />
Андреи - своеобразны и оригинальны, из-за этого бывают слегка неприятны. Но мне Андреи нравятся, хотя другим они часто кажутся&nbsp;немного чокнутыми.<br />
Михаилы - любят внимание и порисоваться.<br />
Эрики - слегка своенравны и высокомерны, предприимчивы. <br />
Эдуарды весёлые и бесшабашные ребята, глубокими раздумьями как правило не утруждаются.<br />
Артуры - самодуры :-),&nbsp; а точнее тщеславны и&nbsp;упрямы, характер иногда тяжёлый, властный.<br />
Владимиры нам известны из анекдотов про Вовочку и незабвенного старикана Ильича, тут даже писать ничего не надо.<br />
Владиславы смахивают на Владимиров, но&nbsp;более мечтательные и увлекающиеся.<br />
Дмитрии - хитры, себе на уме, строят планы.<br />
Игори - слегка суховаты и логичны, немного дотошны и цинично-скептичны.<br />
Никиты - &quot;люди с тонкой душвной организацией&quot;,&nbsp;оно же капризные художники.<br />
Алексеи - сложно одной строкой, но попробую: достаточно мягкие&nbsp;и домашние люди, но из-за того, что бывают маменькиными сынками или <br />
бабниками, порой&nbsp;резки.<br />
Александры -&nbsp;самые нормальные и гармоничные люди, умеют работать и жить.<br />
Юрии -&nbsp;немного педантичные и&nbsp;в целом&nbsp;закрытые от других люди, но у меня Юриев знакомых мало.<br />
Евгении - тоже сложно одной строкой, но в общем-то это достаточно открытие миру люди, в целом какие-то нормально-сумашедшие. То есть вроде и нормальные, но иногда пытаются взбрыкивать и делать нечто выходящее за рамки. Но поскольку характер всё-таки не такой, получается неорганично, в отличие от Андреев.<br />
Анатолии - достаточно закрытые люди, которые не очень любят резких вторжений во внутренний мир, т.е. можно сказать, они чувствительны. Вроде бы довольно-таки основательны.<br />
Сергеи - бывают разные, потому что&nbsp;их очень много.&nbsp;В целом достаточно простые, в смысле не выёбываются. Но многда не хватает им какой-то яркой черты характера, а может у нас с ними просто мироощущение немного разное. (Правда я знаю много замечательных Сергеев, они знают, про кого я)<br />
Василий у меня знакомый всего один, но зато основательный и нормальный.<br />
Максимы - в целом довольно-таки мягкие и приятные&nbsp;люди, которых любят в обществе.&nbsp;Также не особенно логичны, а скорее поэтичны. Из-за этого&nbsp;порой немного упрямы&nbsp;&nbsp;и&nbsp; ловко пытаются доказать, что&nbsp;верна их точка зрения, хотя можно найти лучшее решение, более основательное.<br />
Викторы -&nbsp;любящие общество люди, но при этом часто у них хорошо с логикой и соображалкой.<br />
Денисы - вроде бы любят делать непредсказуемые и странные вещи, но у меня мало знакомых Денисов.<br />
<br />
Однако же к концу стало не одной строкой получаться. Про девушек не скажу, это отдельный разговор. Про остальные имена тоже ничего не скажу, недостаточно статистики. Да и вообще в интернете полно сайтов по теме.<br />
<br />
Хорошо бы ещё написать, кто какую музыку любит, но это так просто не сделаешь.<br />
</p>

	