Id: ff7cf915-4746-465b-b079-cc1f6a569571
Title: "Слава Роботам!"
Published: "2006-10-05"
Slug: "2006-10-05 Слава Роботам_"
-
<br />
Фраза из лингвистической радиоразминки BBC<br />
<br />
<em>Употребляется в отношении любого неработающего прибора, включая человека</em><br />
<br />
Воистину, вот где апологеты Истинной Технологической Церкви&nbsp; Киборгизации Рода Человеческого.<br />
<br />
<br />
<br />
<div style="border: 1px solid black; margin: 0pt; padding: 20px 14px 28px 25px; background-color: #ffffee; color: #000000">
<span style="font-family: 'Palatino Linotype',FreeSerif,'Royal Times New Roman','Arial Unicode MS','Royal Arial',Code2000,'Lucida Sans Unicode','XSerif Unicode',serif">Механоиды мне по нраву!&nbsp;<sup><a href="http://www.mavrin.net/mithgol/#phrase117" target="_blank">MЦ</a></sup></span>
</div>
<br />
<br />
<br />
<br />
А ещё у меня позавчера отвалился кусок зуба, вчера выдрали из него нерв и поставили временную пломбу, а в субботу будут ставить постоянную.

	