Id: b11e6a5e-fda0-4bb6-b4cf-1a7d2db4f0f4
Title: "Фак офф 2006"
Published: "2006-12-11"
Slug: "2006-12-11 Фак офф 2006"
-
<P>По здравом размышлении, легко составить топ-10.&nbsp; И даже пластинок 20 неплохих смогу назвать.<br/>Но&nbsp;это не будет истинным топом-10, ибо после нескольких запомнившихся&nbsp;альбомов&nbsp;всё остальное сливается в кашу. Прав был Горохов в последней передаче, ох как прав.<br/><br/>А Arctic Monkeys неплохая группа. Не пойму,&nbsp;зачем&nbsp; её ругают.</P>
	