Id: 6e77f09d-98e3-4108-bd85-a99a0f691abf
Title: "<P>Всё-таки иногда мне жаль, что русская музыка такой хлам. Хочется иногда проникнуться пафосом на р"
Published: "2007-05-26"
Slug: "2007-05-26 _P_Всё-таки иногда мне жаль, что русская музыка такой хлам. Хочется иногда проникнуться п"
-
<P>Всё-таки иногда мне жаль, что русская музыка такой хлам. Хочется иногда проникнуться пафосом на родном языке.<br/>Была ещё какая-то малоизвестная мистический-метал группа со Звуков.Ру, но я забыл её название.</P>
	