Id: 63565215-b649-4e5d-907d-b42b79f0f336
Title: "Лост"
Published: "2007-01-13"
Slug: "2007-01-13 Лост"
-
<P>Посмотрел s03e02. Появилась новая теория. Она не объясняет всего, но кое-что проясняет. У меня есть некоторая идея, что хотят сделать с Кейт, Сойером и Джеком.<br/><br/>И ещё с&nbsp;начала третьего сезона ждал, что замочат кого-нибудь из этих мудозвонов-других. Мечта сбылась, Сан не подкачала!<br/>Хорошо бы их всех продырявить. Надеюсь, Сойер не подведёт, а то Кейт как-то совсем дура набитая, никакой пользы по истреблению тварей, оккупировавших остров. Учитывая правда,&nbsp;кто такие&nbsp;согласно моей теории другие, шансов у них маловато.</P>
	