Id: 44a310d1-4df7-4e30-a1f9-a67378dacfd1
Title: "Оз. Свента"
Published: "2007-09-08"
Slug: "2007-09-08 Оз. Свента"
-
<P align=center><IMG title="" src="http://ir.izvne.com/t//lj/IMG_0740.jpg"><br/>Оз. Свента, прошлый август</P>
	