Id: 0bb5bb4c-76cf-4d23-b7b4-09c908626125
Title: "<P>Быстрее бы уже синглярность наступала, что ли.
Или на худой конец атомный апокалипсис.</P>"
Published: "2007-08-05"
Slug: "2007-08-05 _P_Быстрее бы уже синглярность наступала, что ли._Или на худой конец атомный апокалипсис."
-
<P>Быстрее бы уже синглярность наступала, что ли.<br/>Или на худой конец атомный апокалипсис.</P>
	