Id: ef708a89-af36-4b16-b64f-1c3ff2122f4c
Title: "WLW и ЖЖ тэги"
Published: "2007-11-17"
Slug: "2007-11-17 WLW и ЖЖ тэги"
-
<p>Я даже декомпилятор скачал.&nbsp; Всего лишь, чтобы понять, что Windows Live Writer жж тэги не поддерживает, и вряд-ли будет в ближайшем будущем. Вроде как он через старый Blogger API в ЖЖ постит, а там поддержки тэгов нету.</p> <p>Однако же удивлён, как круто выглядит код .NET после декомпиляции. Читай - не хочу.</p>
	