Id: 8682c3b1-7d7b-4ef5-90ef-18291815f46f
Title: "Типа топ"
Published: "2007-12-13"
Slug: "2007-12-13 Типа топ"
-
<p>
Вот это исполнители, выпустившие лучшие альбомы 2007 года из тех, что я пока что слышал. Слышал очень немного - штук 100,потому что за актуальностью не гнался. Может, в конце года попробую наверстать, не знаю.
</p>
 
<p>
2h company - Дзен и искусство ухода за АК-47
</p>
 
<p>
Aesop rock - None Shall Pass 
</p>
 
<p>
Дельфин - Юность
</p>
 
<p>
СБПЧ - 2<sup>32,582,657</sup> &minus; 1
</p>
 
<p>
Low - Drums And Guns
</p>
 
<p>
MIA - Kala
</p>
 
<p>
Piano Magic - Part Monster
</p>
 
<p>
Psychic Ills - Early Violence
</p>
 
<p>
Reuber - Sudpol
</p>
 
<p>
Sandra Nasic - The Signal
</p>
 
<p>
Serj Tankian - Elect The Dead
</p>
 
<p>
Смешные люди меня неделю назад обвинили в том, что я не пройду со своим списком с мегаэстетское сообщество <a href="http://best_of_2007.livejournal.com" target="_blank">best_of_2007</a>.&nbsp; А вы можете сами решить, насколько он попсовый. Как мне кажется, все представленные исполнители - весьма популярная и лёгкая музыка, никакого авангарда или грузилова тут нет. 
</p>
 
<p>
Вариант не окончательный, вполне может быть, что всё изменится.
</p>

	