Id: 4b27f9d3-701f-414f-8e6e-b2fd9a7e8d32
Title: "Blade Runner"
Published: "2007-02-09"
Slug: "2007-02-09 Blade Runner"
-
<P>Я практически не помню фильмов, которые я бы посмотрел хотя бы два раза, кроме&nbsp;разве что Терминатора.<br/>И вот сейчас в 4 раз посмотрел фильм Blade Runner. <br/><br/></P>
	