Id: 8fd29cf8-bfb8-4803-9d05-ba51e3fc1b03
Title: "<p>Умер Штокхаузен, и у меня сразу скачали его альбом 16 раз. До этого - ни разу.</p> <p>Всё-таки эт"
Published: "2007-12-15"
Slug: "2007-12-15 _p_Умер Штокхаузен, и у меня сразу скачали его альбом 16 раз. До этого - ни разу.__p_ _p_"
-
<p>
Умер Штокхаузен, и у меня сразу скачали его альбом 16 раз. До этого - ни разу.
</p>
 
<p>
Всё-таки этот глобус дурацкий.
</p>

	