Id: 82f6d76c-c77b-494e-86b5-238ac79e2990
Title: "Еда"
Published: "2007-01-05"
Slug: "2007-01-05 Еда"
-
<P>Ох-хо-хо!<br/>Сегодня дали зарплату,&nbsp;и я&nbsp;устроил праздник желудку. Днём у коллеги был день рождения, и мы кушали творожный торт. А по приходе домой&nbsp; я купил омаров в масле, салат из кальмаров с морской капустой, маринованные огурчики 3-5 см, маринованные помидорки сорта cherry (это которые крошечные), и небольшой&nbsp;кусочек пиццы с грибами.<br/>Всё это мы успешно&nbsp;подегустировали, а на десерт закусили мандаринами. Кажется, что это всё в замену бесконечному глинтвейну из огромной кружки с надписью "Yellowstone".<br/>Вот вам наверное всё это смешно, но я деликатесами не избалован: омаров и помидоры cherry ел впервые в жизни.</P>
	