Id: 25715f86-bb7b-44f6-b2e8-4c07405988ea
Title: "Странности с браузерами"
Published: "2007-03-01"
Slug: "2007-03-01 Странности с браузерами"
-
<P>На одной из страниц по работе Internet Explorer перед открытием и после сохранения думает 5-10 секунд.<br/>Firefox - полсекунды. Нет, я всё понимаю, но неужели с IE всё <STRONG>так</STRONG> плохо?<br/><br/>К счастью, это не мои проблемы.</P>
	