Id: efa06b43-0d38-4f3c-988e-bd32769ed7c1
Title: "Музыка"
Published: "2007-02-27"
Slug: "2007-02-27 Музыка"
-
<P>Я работаю и слушаю музыку из своей коллекции.<br/>Вы скажете: осознал,&nbsp;что нефиг поддаваться обществу потребления и качать свежую?<br/>Ответ проще: лень.</P>
	