Id: 57cc111c-0d14-4b85-95f5-d1f7261ba9e8
Title: "Новости"
Published: "2007-02-14"
Slug: "2007-02-14 Новости"
-
<UL><LI>У меня&nbsp;нету интернету, поэтому я запустил семажык.&nbsp;</LI><LI>Последнюю&nbsp;неделю я делал стандарт оформления исходного кода на языке С# для фирмы. Получилось неплохо.</LI><LI>Со следующей недели&nbsp;я ухожу работать в другую фирму, делать сайты на ASP.NET. Страшно.</LI><LI>Офисный пакет OpenOffice.org неплохо сохраняет в html. Намного лучше, скажем, чем MS Office.</LI><LI>Купил вентилятор для компьютера диаметром 12 см. Попытаюсь заменить&nbsp;корпусный вентилятор, ибо на больших оборотах шумит. Узнал, что в вентиляторе так называемый безколлекторный мотор, где нет щёточек. Устроен он так: внутри обмотки, которая является электромагнитом, находится ротор с магнитом постоянного тока. Меняя много раз в секунду полярность обмотки (она работает от постоянного тока) можно добится того, что ротор будет вращаться. Если вы это прочитали и поняли, то наверняка знаете, что&nbsp;получается вывернутый наизнанку обычный мотор.</LI><LI>Хочу&nbsp;разместить на radio.super.lv архив передачи&nbsp; <A href="http://mds.mdteam.ru/">"Модель для сборки"</A>, где ведущий Влад Копп под музыку читает книги. Рекомендую, кстати. Музпровет тоже скоро будет, потерпите.</LI></UL><P><br/></P>
	