Id: cf0e9a48-ff4b-47ce-9672-59592beed606
Title: "<A href=\"http://www.newyorker.com/reporting/2007/09/24/070924fa_fact_sacks\">Человек без долговременн"
Published: "2007-09-27"
Slug: "2007-09-27 _A href__http___www.newyorker.com_reporting_2007_09_24_070924fa_fact_sacks__Человек без д"
-
<A href="http://www.newyorker.com/reporting/2007/09/24/070924fa_fact_sacks">Человек без долговременной памяти.</A><br/>Напоминает "Гиперион" Дэна Симмонса, но тут ещё страшнее.&nbsp;
	