Id: 919fe11a-4f7d-4c9f-9880-c99223355a8f
Title: "Ghost In Shell Stand Alone Complex"
Published: "2007-03-10"
Slug: "2007-03-10 Ghost In Shell Stand Alone Complex"
-
<P>Досмотрел аниме-сериал Ghost In Shell Stand Alone Complex 2gig.<br/>Как-то в нём и музыка хуже,&nbsp; чем в первой части, и перевод плохой.<br/>И вообще клюквы много. Или это я поумнел (постарел?)<br/>Смотреть рекомендуется только фанатам киберпанка.</P>
	