Id: a874a300-a7b4-4b4b-ab08-938d536e18d1
Title: "Windows Live Writer"
Published: "2007-12-27"
Slug: "2007-12-27 Windows Live Writer"
-
<p>
Я такую крутизну сейчас сделал для поддержки ЖЖ в Windows Live Writer, что самому страшно. Но покажу потом.
</p>

	