Id: cd3e6a0e-88b2-4f22-ac31-8bfa1c24c5fa
Title: "iPhone жидкенько осуществляет акт дефекации"
Published: "2007-01-11"
Slug: "2007-01-11 iPhone жидкенько осуществляет акт дефекации"
-
<P>Про iPhone можно забыть. <br/>Вот <A href="http://www.tuaw.com/2007/01/10/apple-vps-confirm-no-3rd-party-iphone-apps/">тут</A> написано, что на него нельзя будет ставить сторонние программы ВООБЩЕ. И никакой синхронизации с компом по вай-фай, будьте добры подрубить проводом.<br/>В топку такое жуткое дерьмо.<br/>Кто бы сомневался.<br/></P>
	