Id: 40e97719-2e88-4517-898e-92c067982606
Title: "Полезная штука - запрет на удаление"
Published: "2007-01-10"
Slug: "2007-01-10 Полезная штука - запрет на удаление"
-
<P>Хаха. Установил права на доступ к главной папке с музыкой такие, что сам не смогу удалить ничего.<br/>Это отличная фишка.<br/>Кому такое надо, рассказываю.<br/>Сначала отключите Tools-&gt;Folder Options-&gt;Simple file sharing<br/>Затем нажмите правой кнопкой на папку, Properties-&gt;Security, там advanced, там add<br/>Там впишите&nbsp; Everyone, что означает всех пользователей,&nbsp;нажмите ok, и установите напротив пункта Delete галочку Deny<br/>Когда спросит, хотите ли применить к поддерикториям, соглашайтесь.<br/>Если надо что-то удалить, удалите этот запрет в advanced security&nbsp; (там его видно отдельной строкой) , удалите файлы, а затем создайте запрет заново.<br/><br/>За поломаные судьбы ответственности не несу.</P>
	