Id: 442ba24f-8aee-4d60-b4b2-cafb3b7d3860
Title: "Вино"
Published: "2007-06-17"
Slug: "2007-06-17 Вино"
-
<P>Вот прикол.<br/>Искал в сети что-нибудь про рижские винные магазины (раз уж у нас нет), наткнулся на статью.<br/><A href="http://www.vinaseta.lv/rus/pressa1.htm">http://www.vinaseta.lv/rus/pressa1.htm</A><br/>И в ней хвалят то, что мне самому когда-то понравилось сильно! А именно относительно дешёвое южноафриканское two oceans.<br/><br/>Неужели я разбираюсь, что хорошо, а что плохо?<br/></P>
	