Id: 6c000047-9ab4-4719-9c73-237f9dfcbb2c
Title: "Сделано в прошлом году. Если жалко трафика, не смотрите.

<lj-embed id=\"61\"/>

[more text=в лучшем к"
Published: "2007-10-21"
Slug: "2007-10-21 Сделано в прошлом году. Если жалко трафика, не смотрите.___lj-embed id__61______more text"
-
Сделано в прошлом году. Если жалко трафика, не смотрите.<br/><br/><lj-embed id="61"/><br/><br/>[more text=в лучшем качестве - большого размера]<br/><lj-embed id="63"/><br/><br/><a href="/files/lj/Tusk.wmv"> Скачать видеоролик </a>
	