Id: f5465264-0802-4560-bf29-78c1a4045183
Title: "Бабушка-2"
Published: "2007-12-23"
Slug: "2007-12-23 Бабушка-2"
-
Вот, кстати, удобный и красивый видеосервис, который позволяет публиковать видео высокого и очень высокого разрешения - <a href="http://vimeo.com">vimeo.com</a><br />
Проверим-ка, как оно в ЖЖ вставляет.<br />
<br />
<object width="640" height="483"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=448238&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=448238&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="483"></embed></object><br /><a href="http://vimeo.com/448238">Babushka</a> from <a href="http://vimeo.com/user323425">Vladekk</a> on <a href="http://vimeo.com">Vimeo</a>.

	