Id: 68d27b4f-7e3e-49fd-9767-f69e8c562f52
Title: "Алина"
Published: "2007-10-06"
Slug: "2007-10-06 Алина"
-
ОгОгО! Моя сестра Алина <a href="http://mistrale1514.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> mistrale1514</a>&nbsp;наконец-то набралась храбрости и открыла часть постов из-под замка.&nbsp;Многое конечно осталось&nbsp;внутри, но и так неплохо.<br/>Если бы она не валяла дурака, начала вести жж 5 лет назад (письма&nbsp;нам слала уже тогда)&nbsp;и стеснялась бы поменьше, была бы уже аФФтАрОм.<br/><br/>Да, кстати, это отличный ответ тем, кто считает, что все хотят побольше френдов и известности. У сеструхи постов уже на целую книгу, и все они были подзамочными в самом свирепом смысле этого слова - то есть читали их человек 5, от силы 10.
	