Id: dc5ab593-65f6-4787-89da-2c46b950a952
Title: "Паук"
Published: "2007-11-08"
Slug: "2007-11-08 Паук"
-
<blockquote> <p>У меня в комнате живёт паучок, совсем крохотный. Месяц назад он два часа боролся с большой мухой, и в итоге её захавал. Сегодня я поймал ещё такую же муху и кинул ему в сеть - даже не пошевелился. Я сначала подумал, что зажрался, но когда муха выпуталась, он живо подбежал к месту, где она была. Получается, имея хорошее положение, он не захотел рисковать даже ради большой награды? Или им что-то другое двигало?</p> <p>Насекомых я ненавижу и панически боюсь, а к паукообразным отношусь спокойно.</p></blockquote>
	