Id: 9517be09-79a3-4056-97f1-b486fdb310a1
Title: "Уфф"
Published: "2007-04-05"
Slug: "2007-04-05 Уфф"
-
<p>Уфф, проснулся от жуткой боли в плече. Лежать не могу, только сидеть.<br/>Частично совпадает с симптомами <a href="/post/2007-03-31%20%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0">столбняка</a>, но скорее всего это просто воспаление мышц. Я хожу домой пешком, а сейчас сильный ветер, да и в офисе переборщили&nbsp;вчера с проветриванием. Странно впрочем, что последние несколько дней я чувствовал себя плохо: были слабость и температура. То есть непонятное что-то прицепилось.<br/>Будем надеятся, что жить буду.</p>
	