Id: 01f475e5-d683-427d-9596-f79bd1aa6998
Title: "Прокатился в парк Daugavas Loki"
Published: "2007-09-10"
Slug: "2007-09-10 Прокатился в парк Daugavas Loki"
-
<p>[more text=Читать отчётище с горой фоток]<br />Вчера&nbsp;в 14.00 выехал в природный парк Daugavas Loki. Перевести не могу - склероз. Loki - это когда река петляет, а Даугава она и в Африке Даугава (в России правда Западная Двина, &nbsp;у русских самомнение большое, им можно). Парк находится на расстоянии около 25 км от Даугавпилса, где я живу. Фотографировал что было, уж не обессудьте, у нас не Норвегия, где абсолютно любое место - шедевр природной красоты.</p>
<p align="center"><a href="/files/lj/loki_map.jpg"><img data-src="/files/lj/loki_map.jpg" alt="" /></a><br />Карта поездки</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/06B46441E198E3D971B6E31B5F47FE81.jpg"><img data-src="/files/06B46441E198E3D971B6E31B5F47FE81.jpg"></a><br />Строительные магазины уже и у нас тоже выносят за город, оказывается</p>
<p align="center"><a href="/files/0FF3510DBF05A467E8FD0C815FD42072.jpg"><img data-src="/files/0FF3510DBF05A467E8FD0C815FD42072.jpg"></a><br />Без комментариев</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/FEF8968C3CD6B6CF94D6F592783C7BE7.jpg"><img data-src="/files/FEF8968C3CD6B6CF94D6F592783C7BE7.jpg"></a><br />Вот так наши люди развлекаются. Тащат к себе домой что ни попадя.</p>
<p align="center"><a href="/files/326E1DD614DDA9193D629AE2C50F0EB7.jpg"><img data-src="/files/326E1DD614DDA9193D629AE2C50F0EB7.jpg"></a><br />А охранять гигансткий хлам заставляют животных, изверги</p>
<p align="center"><a href="/files/CD28F1B0E4AABD5DCD2B4B98FFB4BD48.jpg"><img data-src="/files/CD28F1B0E4AABD5DCD2B4B98FFB4BD48.jpg"></a><br />Но если это у собаки такая будка(справа), то плятят ей адекватно работе</p>
<p>&nbsp;</p>
<p align="center"><a href="/files/EBFEB3BB40AF9C832C3605CD19FA7980.jpg"><img data-src="/files/EBFEB3BB40AF9C832C3605CD19FA7980.jpg"></a><br />Майор милиции погиб здесь в 1970 году, выполняя служебный долг</p>
<p>&nbsp;</p>
<p align="left">Любопытно, что памятник стоит как стоял, и даже надпись не на госязыке . Нету у нас фашизма, видите вот!</p>
<p align="center"><a href="/files/DA8A52C5F7F5B5BE9D0FA5DFAF919F85.jpg"><img data-src="/files/DA8A52C5F7F5B5BE9D0FA5DFAF919F85.jpg"></a><br />Хорошо люди на деревне живут</p>
<p align="center"><a href="/files/C1AD3263BA57F6896E644F2D37345282.jpg"><img data-src="/files/C1AD3263BA57F6896E644F2D37345282.jpg"></a><br />Раз могут построить&nbsp;декоративный мост через вырытый&nbsp;самими же&nbsp;пруд</p>
<p align="center"><a href="/files/B65B700F26A46BDF5DB0A20D4BC9DED7.jpg"><img data-src="/files/B65B700F26A46BDF5DB0A20D4BC9DED7.jpg"></a><br />Вот&nbsp;те самые локи,&nbsp;нахожусь сейчас в Науене</p>
<p align="center"><a href="/files/43706E10A799B1974731275362EC2B7B.jpg"><img data-src="/files/43706E10A799B1974731275362EC2B7B.jpg"></a><br />Какая-то очередная baznica, сиречь церковь<br /></p>
<p align="center"><a href="/files/041FDED4C4DE813F56617F32A1AF71A2.jpg"><img data-src="/files/041FDED4C4DE813F56617F32A1AF71A2.jpg"></a><br />Табличка гласит, что поляки отдали свои жизни за независимость Латвии в 1919-1920 годах.</p>
<p align="left">Этот крестик уже явный новодел -&nbsp;поскольку нет&nbsp;перевода на русский.<br /></p>
<p align="center"><a href="/files/45665655EF7D7077588365B628DAC637.jpg"><img data-src="/files/45665655EF7D7077588365B628DAC637.jpg"></a><br />Вот и сам loks. Я извиняюсь, но видов Даугавы дальше будет даже&nbsp; слишком много.</p>
<p align="center"><a href="/files/38002C4E9465A6B784FA8B475C9EB9C9.jpg"><img data-src="/files/38002C4E9465A6B784FA8B475C9EB9C9.jpg"></a><br />Лодочка новая, однако</p>
<p align="left">Мне было лень возвращаться обратно тем же путём, что приехал, и я как мегабайкер попёр напролом по берегу, где тропинки когда-то были - в доисторическую эпоху. В результате трава местами была такая:</p>
<p align="center"><a href="/files/106252DDAFDAFEEA76126DC539817D11.jpg"><img data-src="/files/106252DDAFDAFEEA76126DC539817D11.jpg"></a><br />Вид почти из глаз</p>
<p align="center"><a href="/files/0C696E2EC7B837C7AC0694604D058217.jpg"><img data-src="/files/0C696E2EC7B837C7AC0694604D058217.jpg"></a><br />А велосипед выглядел в ней так</p>
<p>&nbsp;</p>
<p align="left">Любопытно, что даже через такую зверскую траву(не знал что "трава обыкновенная" может достигать такой высоты) можно более-менее ехать на велике.</p>
<p align="center"><a href="/files/9C6D741BFD70FE265247D0B9C8C6F4F3.jpg"><img data-src="/files/9C6D741BFD70FE265247D0B9C8C6F4F3.jpg"></a><br />Опять 25</p>
<p align="center"><a href="/files/C3BB4F3D33D98F6A00AC8624C69A2C43.jpg"><img data-src="/files/C3BB4F3D33D98F6A00AC8624C69A2C43.jpg"></a><br />Бывало даже так</p>
<p>&nbsp;</p>
<p>Для начала я решил нанести визит в развалины замка Динабург, с которого и начался мой город, а также освоение немцами местных краёв. В школе учили, что они находятся на расстоянии 19 км - однако не обманули.<br /></p>
<p align="center"><a href="/files/89B714C28C3E8695DB4A4F8763F1F7E8.jpg"><img data-src="/files/89B714C28C3E8695DB4A4F8763F1F7E8.jpg"></a><br />Пешеходная тропа к развалинам</p>
<p>Как приехал, подбежала девушка и предложила купить билетик за 0.4 лс, то есть $0.80. Отказывать в мелочи не стал, чтобы внести вклад в развитие туризма в родном краю. Любопытно, что на стоянке стоял туравтобус&nbsp;и пара машин, то есть я не один такой маньяк в холодрыгу рассматривать сомнительной интересности достопримечательности. Надо сказать, что смотреть на маршруте особо нечего, да и сам он занимает от силы минут 15, но для краеведческих целей сгодится, ехать туда недолго.</p>
<p align="center"><a href="/files/F75676A2492B45498742AB8CCA669268.jpg"><img data-src="/files/F75676A2492B45498742AB8CCA669268.jpg"></a><br />Эх, надо всё-таки нормальный фотик</p>
<p align="center"><a href="/files/142D20AA8A6501B6A450B36A8CCAD1A1.jpg"><img data-src="/files/142D20AA8A6501B6A450B36A8CCAD1A1.jpg"></a><br />Вот&nbsp;они, руины. Даже руинами назвать стыдно.</p>
<p align="center"><a href="/files/CE8BD1DF0C3D1E79BBFDF7E2CF385448.jpg"><img data-src="/files/CE8BD1DF0C3D1E79BBFDF7E2CF385448.jpg"></a><br />По крайней мере сделали реконструкцию, молодцы</p>
<p align="center"><a href="/files/B15A70257D21754FFEAA5F65FDC2706F.jpg"><img data-src="/files/B15A70257D21754FFEAA5F65FDC2706F.jpg"></a><br />Даже столбиками обнесли для солидности</p>
<p align="center"><a href="/files/6D66A10004E0438207CF3BF1045CABB2.jpg"><img data-src="/files/6D66A10004E0438207CF3BF1045CABB2.jpg"></a><br />Я, как правильный сумасброд, стал прыгать по прибрежным камням&nbsp;</p>
<p align="center"><a href="/files/872E8A0E5E5ED658DBECDF3C6DE0C1D8.jpg"><img data-src="/files/872E8A0E5E5ED658DBECDF3C6DE0C1D8.jpg"></a><br />Шикарно заболоченная Даугава</p>
<p align="center"><a href="/files/145946143BD2A89BAC15F130605214EB.jpg"><img data-src="/files/145946143BD2A89BAC15F130605214EB.jpg"></a><br />Кто-то сострил</p>
<p align="center"><a href="/files/2F7716A8EB6C98CFEDC93CF9BCE8D900.jpg"><img data-src="/files/2F7716A8EB6C98CFEDC93CF9BCE8D900.jpg"></a><br />На камнях сидели микролягушки, а один раз даже микроящерка, но позировать никто не захотел</p>
<p align="center"><a href="/files/E2D2C86C6FF61117EABD7E8D7DBB5785.jpg"><img data-src="/files/E2D2C86C6FF61117EABD7E8D7DBB5785.jpg"></a><br />Жизнь моя, жистянка</p>
<p align="center"><a href="/files/8AEC2FE83F8CD07E23937B6D99C2C3E1.jpg"><img data-src="/files/8AEC2FE83F8CD07E23937B6D99C2C3E1.jpg"></a><br />Ну её в болото</p>
<p>&nbsp;</p>
<p>Зато там&nbsp;место для отдыха есть, даже с кучей скамеек и&nbsp; мангалом.</p>
<p align="center"><a href="/files/384351935DCBEB23002EACAA9F792B20.jpg"><img data-src="/files/384351935DCBEB23002EACAA9F792B20.jpg"></a><br />Сад камней по-тевтонски</p>
<p align="center"><a href="/files/D13CA9675E6ED35C8102312009AE2125.jpg"><img data-src="/files/D13CA9675E6ED35C8102312009AE2125.jpg"></a><br />Не знаю, что это. Разве что место для костра?</p>
<p>Внизу у реки&nbsp;я подбрал пластиковую бутылку и выкинул в мусорник, заботливо размещённый в месте для отдыха. Кстати, там я первый раз увидел загадочную табличку Privatipa&scaron;ums, то есть Частная собственность. Зачем ставить такие таблички в местах, специально рассчитанных, на публичный доступ, выше моего понимания.<br /></p>
<p align="center"><a href="/files/C7FE2658A94A728B7B8B0B30998BDB5B.jpg"><img data-src="/files/C7FE2658A94A728B7B8B0B30998BDB5B.jpg"></a><br />Крестики в честь бывшего кладбища</p>
<p>Раньше на этом месте было кладбище, но при подготовке строительства ГЭС его сначала "разорили" (в терминологии инфоплакатов) а потом перезахоронили. Эти фанатики так скоро всю землю крестами заставят - люди-то умирают пока что, и всем надо крест, даже тем, кто за всю жизнь ничего полезного не сделал.<br />Иронично, что проект ГЭС тоже похоронили - как же, надо защищать природу. Я-то за, только зелёные психи сейчас и проект новой АЭС в Литве хотят похоронить. А электричество откуда добывать? Из лягушек, которых у нас&nbsp;видимо-невидимо?<br /></p>
<p align="center"><a href="/files/486C08ACDF9CF1B20030CD51D05B87E0.jpg"><img data-src="/files/486C08ACDF9CF1B20030CD51D05B87E0.jpg"></a><br />Чем развалины коровника хуже развалин замка? Тут даже сохранилось кое-что<br /><br /><a href="/files/58DB00814D6BA7F6E2D9A9A653C169E5.jpg"><img data-src="/files/58DB00814D6BA7F6E2D9A9A653C169E5.jpg"></a><br />Заехал чёрт знает куда</p>
<p>Везде сейчас Влады, имя моё стало попсой. То ли дело раньше - много вы знаете людей&nbsp;по имени Владислав старше&nbsp;25 лет?<br />Зато дальше была интересная история. Поехал я&nbsp;непонятно куда, потому что бумажные карты я презираю, а GPS покупать в лом ради редких велопоездок. Поэтому меня ждал неприятный сюрприз -&nbsp;я уткнулся&nbsp;&nbsp;в шлагбаум с надписью: Privatipa&scaron;ums, Посторонним В. Но поскольку я не самый горячий сторонник капитализма, зато&nbsp;в некотором роде&nbsp;сторонник спонтанно-неразумных поступков, плевать я хотел на знак и смело обошёл шлагбаум. Хорошо ещё, что ёлка&nbsp;сбоку&nbsp; вырасти пока что не успела. Решение оказалось верным -&nbsp; наглые капиталисты отхватили себе один из лучших кусочков Даугавы, да ещё и благоустроили его.<br /></p>
<p align="center"><a href="/files/2DA6C8EFCB77F87EA55857380742FB42.jpg"><img data-src="/files/2DA6C8EFCB77F87EA55857380742FB42.jpg"></a><br />Накидали камней и идолов, последних я правда как-то забыл сфоткать</p>
<p align="center"><a href="/files/D94D6A196242C6AAE1C2FF1E59CE9BDF.jpg"><img data-src="/files/D94D6A196242C6AAE1C2FF1E59CE9BDF.jpg"></a><br />Никаких зданий при этом на участке нет. Чтоб я так жил!</p>
<p align="center"><a href="/files/02853B9A9D8FE29918B438224BD96040.jpg"><img data-src="/files/02853B9A9D8FE29918B438224BD96040.jpg"></a><br />Вид очень приятный, даже пороги шумящие есть, что на Даугаве редкость</p>
<p align="center"><a href="/files/CDEF6A3D8DBDBAC98EB6235B3BD92DC7.jpg"><img data-src="/files/CDEF6A3D8DBDBAC98EB6235B3BD92DC7.jpg"></a><br />Вот есть, правда не идол, а моряк</p>
<p>&nbsp;</p>
<p>Дальше я по своему обыновению попёр по берегу сверху через лес, и слабопроходимая тропинка вывела меня на вот такое чудо.</p>
<p align="center"><a href="/files/C088EC0CDB2F1A0C98AA379B0DB7F300.jpg"><img data-src="/files/C088EC0CDB2F1A0C98AA379B0DB7F300.jpg"></a><br />Беседка для медитаций при луне, точно</p>
<p align="center"><a href="/files/D88B43201190A99403ACD156BAAD4802.jpg"><img data-src="/files/D88B43201190A99403ACD156BAAD4802.jpg"></a><br />На берегу, как положено</p>
<p align="center"><a href="/files/629DF81EEC54914B935BF74D63F39A1A.jpg"><img data-src="/files/629DF81EEC54914B935BF74D63F39A1A.jpg"></a><br />УУУ, буржуи устроились</p>
<p align="center"><a href="/files/2485D59935493B9202C9265DF089A02F.jpg"><img data-src="/files/2485D59935493B9202C9265DF089A02F.jpg"></a><br />Люди знают толк - даже плакальный камень есть</p>
<p>Я имею в виду картинку про Алёнушку, да. И ещё у О'Тула в "Заповеднике гоблинов" был&nbsp;сажальный камень, если это что-то кому-то говорит.&nbsp;Повесть абсолютно гениальная, кстати.</p>
<p align="center"><a href="/files/84FAC45DBAD31E2DC447FBC9B12D763F.jpg"><img data-src="/files/84FAC45DBAD31E2DC447FBC9B12D763F.jpg"></a><br />Выехал за&nbsp;знак&nbsp;- больше можно не ждать заряда соли в задницу</p>
<p align="center"><a href="/files/18A383A015E341C0F723F103BB5B2CE9.jpg"><img data-src="/files/18A383A015E341C0F723F103BB5B2CE9.jpg"></a><br />А это уже место для пикника всем</p>
<p align="center"><a href="/files/1F256CC365E18F5406F7ABF2E80AD85B.jpg"><img data-src="/files/1F256CC365E18F5406F7ABF2E80AD85B.jpg"></a><br />Перспектива для лягух</p>
<p>С трудом вернувшись на асфальтированную дорогу, я решил, что на сегодня хватит. Но забравшись обратно на горку, где я поставил новый рекорд максимальной скорости - 57 км/ч,&nbsp;я увидел очередной туристический указатель, коих у нас&nbsp;заботами Евросоюза предостаточно. Указатель манил некой смотровой вышкой и туристической тропой&nbsp;длиной аж&nbsp;на час, и я не смог устоять, хотя уже изрядно подустал. Самое нехорошее, что ехать пришлось 9 километров по гравийке с гребёнкой&nbsp;- великому врагу велосипедиста.</p>
<p align="center"><a href="/files/1F256CC365E18F5406F7ABF2E80AD85B.jpg"><img data-src="/files/1F256CC365E18F5406F7ABF2E80AD85B.jpg"></a><br />Перспектива с точки зрения лягух</p>
<p align="center"><a href="/files/C7A99C9A0A966EC433DD400624C1DA59.jpg"><img data-src="/files/C7A99C9A0A966EC433DD400624C1DA59.jpg"></a><br />И гигантов</p>
<p>Как видно, до вышки я добрался, причём на середине грунтовки. Там опять оказалась табличка "Privatipa&scaron;ums", на сей раз несущая хоть какую-то нагрузку: стояла она под знаком "Кирпич", который я смело могу так называть, поскольку водительских прав не имею. А так мой учитель ПДД наверное перевернулся бы в гробу. Под вышкой, кстати, наплевав на знак и&nbsp; кутаясь в куртки,&nbsp;пили пиво молодые люди и бабы. <br /><br /></p>
<p align="center"><a href="/files/6062D1871993F30474BE8529966C4AE9.jpg"><img data-src="/files/6062D1871993F30474BE8529966C4AE9.jpg"></a><br />Друзья человека яблоки есть не стали, но и отходить не спешили<br /><br /><a href="/files/EF39DEA22D9E18BA57B9E2F15056794E.jpg"><img data-src="/files/EF39DEA22D9E18BA57B9E2F15056794E.jpg"></a><br />Фотоаппарат им понравился больше яблок, судя по всему - нюхали с удовольствием</p>
<p>&nbsp;</p>
<p>В конце-концов я добрался и до обещанной Марковой тропы, но будка кассира была закрыта, поскольку минуло&nbsp;6 часов.&nbsp; Пришлось топать по тропе зайцем.<br /></p>
<p align="center"><a href="/files/857EA60686FF93E4F5213F59B7247765.jpg"><img data-src="/files/857EA60686FF93E4F5213F59B7247765.jpg"></a><br />Опять обман - надпись гласит "Марково городище". Городища не видать</p>
<p>Плохо умеем мы пыль в глаза пускать - японцы бы выстроили специальное городище для туристов&nbsp; и написали бы "Дата создания неизвестна". Учитывая их старателность, наверное бы дату и на самом деле стёрли бы изо всех документов.<br /></p>
<p align="center"><a href="/files/971C472E89FF74B1D7AE319BEB3C41D3.jpg"><img data-src="/files/971C472E89FF74B1D7AE319BEB3C41D3.jpg"></a><br />Местами тропа была мрачноватая, мне уж не по себе стало</p>
<p align="center"><a href="/files/7C2111F98795CFB08DA35C038E4DF40F.jpg"><img data-src="/files/7C2111F98795CFB08DA35C038E4DF40F.jpg"></a><br />Конечная точка маршрута, или нет, непонятно</p>
<p>&nbsp;</p>
<p align="left">В любом случае тут опять была табличка "Privatipa&scaron;ums", и дальше я идти не стал.&nbsp;Времени не было, батарейка фотика села, а самое главное - ноги еле двигал, а впереди было ещё 30 км.</p>
<p>Обратно я ехал как матёрный матраснег (в терминологии байкеров), делал остановки каждые 5 км. Проблема главная была в том, что всю дорогу в поездке было холодно и очень ветрено. По шоссе я могу ехать 30 км/ч,&nbsp;включая небольшие горки, а на больших скорость падает до 25-20 км/ч. А тут едва удавалось катить 15-20 км/ч, на горках даже 10. К счастью, домой я всё-таки вернулся, по пути закусив яблоками из бесплатного сада. <br />Домой я вернулся&nbsp;в 21.00. Всего проехал 75 км за 7 часов, и прошёл пешком километра 4 по сильно пересечённой местности. Средняя скорость по компу 12 км/ч, но верить ему нельзя - я забывал его выключать на привалах и пешеходных тропинках.<br /><br />В целом было здорово, но в следующий раз я поеду до места назначения на поезде, если получится - очень уж холодно и ветрено стало, да и шоссе страшит машинами, хоть они меня и объезжают по широкой дуге.</p>
	