Id: 1dd8f84f-20ca-4f55-9dc4-f1f9840b3aad
Title: "Откровение"
Published: "2007-10-22"
Slug: "2007-10-22 Откровение"
-
<P>Офигеть!<br/>Я понял, почему Роулинг сказала, что Дамблдор - гей. <br/>Это троллинг. Как у Радуловой или Апача, только гениальный - планетарного маштаба.<br/></P>
	