Id: c9a60938-dd26-4ade-8941-b052d7d42a2f
Title: "Lost"
Published: "2007-01-14"
Slug: "2007-01-14 Lost"
-
<P>Сойер рулит, очень славно радовался, когда увидел, что подстрелили тётку-другую.<br/>Впрочем,&nbsp;далее другие показаны уже в лучшем свете, чем ранее. Но всё равно мочить их надо - нехрен бесчеловечные эксперименты проводить.</P>
	