Id: 745435eb-dedd-4fbe-b76e-0027fa7be5e1
Title: "И ещё"
Published: "2007-05-28"
Slug: "2007-05-28 И ещё"
-
<P>Всем, у кого в скайпе&nbsp;в поле&nbsp;имени&nbsp;стоит ник или нечто невразумительное.<br/>Вы лохи позорные :-)<br/></P>
	