Id: 2a18dde2-4f8b-434c-9173-0be8fddcabc1
Title: "О биороботах"
Published: "2007-05-20"
Slug: "2007-05-20 О биороботах"
-
<A href="http://www.opec.ru/news_doc.asp?tmpl=news_doc_print&d_no=63169">Биоробот как национальная идея<br/></A><br/>Вот! Наконец-то мои великие идеи по изменению мира воплотятся! Я&nbsp;был первым!<br/>Слава Роботам!
	