Id: 6c2d691f-c1b4-41d4-9546-1e032db79379
Title: "waffles.fm"
Published: "2007-11-17"
Slug: "2007-11-17 waffles.fm"
-
<p>Всё, прислали мне инвайт на вафли. Прислал модератор - я отправлял письмо с подтверждением, что я бывший пользователь оинка. Не прошло и недели. У самого инвайтов нет, когда появятся, раздам страждущим. Кстати, на what.cd сейчас 35700 торрентов, а на вафлях - 40600. Но не стоит забывать, что на what.cd разрешён софт, а на вафлях - нет. Так что я даже и не знаю, где выкладывать свои торренты. На обоих трекерах - слишком много работы.</p>
	