Id: 9a544783-13cc-464d-bbe6-817abecf057c
Title: "Волынки"
Published: "2007-03-17"
Slug: "2007-03-17 Волынки"
-
<p>Я, кстати, люблю волынки.&nbsp;И даже очень. Почему существует стереотип, что у волынок неприятный звук, в упор не понимаю.</p>
	