Id: 7f0343ad-9fbe-4cd6-8714-4c4da67f1d67
Title: "4 волна"
Published: "2007-11-07"
Slug: "2007-11-07 4 волна"
-
<p>Прочитал книжку "4 волна" за авторством Ильи Стогова про группу Психея и "альтернативу" вообще.</p> <p>Мысли в книжке простые. Читать можно, благо книжка короткая. Но не нужно, потому что и так всё ясно. И так понятно, что твоя личная свобода означает проблемы и других людей и их неприязнь. И потому - ломай не ломай свою жизнь, лучше особо не станет. Автор вроде как пытается сказать, что надо ломать, но сам понимает, что ничего не выйдет.</p> <p>Я-то сейчас надеюсь, что смириться и жить как-нибудь более-менее тоже сносный вариант. Но всё равно грустно.</p>
	