Id: d500f5c8-1d39-49eb-b0e6-89924b452b4d
Title: "Пошлины на посылки в Латвию"
Published: "2007-03-17"
Slug: "2007-03-17 Пошлины на посылки в Латвию"
-
Поскольку я потратил час на поиск это информации, выложу, надеюсь, кому-то будет полезно.<br/>Согласно&nbsp;<a href="http://www.vid.gov.lv/default.aspx?tabid=4&hl=2">вот этой</a> странице, в Латвию из-за пределов ЕС можно по почте посылать без налога<br/>1)Подарки стоимостью менее 45 евро (должен выглядеть как обычная посылка и галочка GIFT&nbsp;на этикетке-декларации)<br/>2)Покупки стоимостью менее 22 евро<br/>Всё остальное будет облагатся НДСом и/или таможенной пошлиной.<br/>Посылки внутри ЕС ничем не облагаются, к счастью.<br/><br/>Напишу ключевых слов, чем чёрт не шутит.<br/>latvia&nbsp;import tax&nbsp;&nbsp;latvia&nbsp; import tariff&nbsp;&nbsp;latvia&nbsp;import fee <br/>налог на ввоз по почте покупки налог на импорт латвия ес
	