Id: 8ee55255-ef49-4e4e-8587-83fc9c28ae62
Title: "Эллочка is back!
<A class=\"title loggedin click\" onmousedown=\"return rwt(this, 4574273, '2q1j5', '')"
Published: "2007-09-17"
Slug: "2007-09-17 Эллочка is back___A class__title loggedin click_ onmousedown__return rwt_this, 4574273, _"
-
Эллочка is back!<br/><A class="title loggedin click" onmousedown="return rwt(this, 4574273, '2q1j5', '')" id=title4574273 href="http://reddit.com/goto?id=2q1j5">&nbsp;TEENAGERS use just 20 words for a third of everything they say, research reveals</A>
	