Id: 7474ad38-fbea-47aa-a50a-ea2b7ac386ca
Title: "Под стулом"
Published: "2007-05-02"
Slug: "2007-05-02 Под стулом"
-
<A href="http://lazy-taxi.livejournal.com/179789.html?thread=3371341#t3371341">Хрустики!!!</A><br/>Держите меня семеро!
	