Id: a6d4f4e9-bd9a-40c8-9e4d-f12de6572c12
Title: "Всячина"
Published: "2007-01-01"
Slug: "2007-01-01 Всячина"
-
<P>В современных автобусах такой отличный пульт управления, как в&nbsp;фантастических фильмах. Большие и яркие светящиеся кнопки, красные и зелёные, и почти без обозначений.<br/>Дабстеп мне духовно близок. И ещё его придумали&nbsp;мусульмане в Индонезии, послушайте сами, если не верите.<br/>Люди с торчащими из ушей проводами похожи на недоделанных киборгов.<br/>А вообще я хотел сказать, что роботизированная техномузыка&nbsp;хотя бы&nbsp;не пошлая, в чём её несомненный плюс. Потом вспомнил хэппихардкор и решил заменить слова "хотя бы" на "по большей части".<br/></P>
	