Id: d7b8695e-b737-4edd-a203-0836380459d8
Title: "Ручной труд"
Published: "2007-05-28"
Slug: "2007-05-28 Ручной труд"
-
<P>Я успешно почистил клавиатуру от пуха, и по этому случаю решил написать немного.<br/><br/>Позавера я заменил фильтры кухонного крана. Один фильтр не влез, пришлось подточить напильником. Заработали сразу и без утечек, как родные.<br/><br/>Вчера я пытался загнать в комп видеокассету,&nbsp;но оказалось, что в ней порвалась лента. Я&nbsp;с некоторым трудом разобрал&nbsp;кассету (отвёртки правильной нет) и склеил ленту моментом, поскольку другого клея не было. Затем захватил без проблем.<br/><br/>Удивительны люди, которые не могут закрутить шуруп или прикрутить провод к выключателю. <br/>То есть я понимаю что-то сложное&nbsp; сделать - спаять там или выстругать. Это у меня конечно получилось бы через пень-колоду. Но совсем простые вещи люди боятся или не умеют делать. Это, кстати, относится и к девушкам. (Отбросим случаи созидательной некомпетентности)<br/><br/>В конце концов, если есть глаза и какой-никакой мозг, сообразить, что отвёрку надо вставить в паз и крутить в сторону,&nbsp;в какую откручивается, проще простого. Вставить провод в зажим и обмотать вокруг железячки не сложнее.<br/><br/>Почему это недоступно&nbsp;немалой части&nbsp;народонаселения? Загадка.<br/></P>
	