Id: af5790d6-cf48-4788-9387-a72a403e2959
Title: "Про языки"
Published: "2007-01-23"
Slug: "2007-01-23 Про языки"
-
<P>И ещё.<br/>php понятный и простой, но мусорный и&nbsp;безыдейный язык<br/>perl идейный и мощный, но сложный<br/>python&nbsp; и идейный и простой,&nbsp; но почему-то не очень-то популярен<br/><br/>а языки шелл скриптинга я учить не буду в принципе, пусть ими сами бешеные юниксоиды и пользуются</P>
	