Id: 0e09146c-608d-45ad-bb68-f9d63285fffb
Title: "Про компьютерщиков"
Published: "2007-05-03"
Slug: "2007-05-03 Про компьютерщиков"
-
Забавная статья про то, как плохо быть эникейщиком,то есть по-русски -&nbsp;слесарем по компьютерам.<br/><A href="http://www.lifereboot.com/2007/10-reasons-it-doesnt-pay-to-be-the-computer-guy/">http://www.lifereboot.com/2007/10-reasons-it-doesnt-pay-to-be-the-computer-guy/</A><br/>Я вам скажу, это правда. Но всё-таки большинство&nbsp;"компьютерщиков" рады и гордятся тем, что их считают кудесниками и просят совета. Хотя порой достаёт, что ты нужен всем как общий решатель задач.
	