Id: 9710ae80-94b9-4fe3-b3f3-8ee0819d7d3a
Title: "Микролэптоп"
Published: "2007-06-08"
Slug: "2007-06-08 Микролэптоп"
-
<P>ASUS <A href="http://www.pcpro.co.uk/news/114773/asus-stuns-computex-with-100-laptop.html#">показала</A> на выставке микролэптоп за 190$. Забавная штука, чтобы читать rss в туалете.<br/>В общем, count&nbsp;me in.<br/></P>
	