Id: 70c6f601-eda1-4c79-9b9c-012ef74b07b5
Title: "Красота"
Published: "2007-06-24"
Slug: "2007-06-24 Красота"
-
<P><A href="http://weirdoddities.blogspot.com/2007/06/blog-post.html">Такой</A> красоты существовать не может, потому что увидев её, человек должен умереть.</P>
	