Id: 3cf37b90-e5df-4b7d-bed6-1ef196a4145d
Title: "Всячина"
Published: "2007-10-19"
Slug: "2007-10-19 Всячина"
-
<P>Зашёл в местную соцсеть one.lv. Они захавали мой мозг.<br/>Фотка блондинки и подпись "ЗИМНИЕ ПОКРЫШКИ И МЕТАЛЛИЧЕСКИЕ ДИСКИ"<br/><br/>Я купил увлажнитель воздуха Boneco 2055. Пока польза неясна, ждём морозов и реальных испытаний.<br/><br/>На Sony Reader не нарадуюсь. Для него теперь есть хороший софт для конвертации html'а под названием LIBPRS &nbsp;и давно был софт для pdf/djvu - Just Another Printer. С этими двумя прогами (ну ещё fb2lrf для комплекта) Ридер становится почти полностью удобным.<br/><br/>Вот такая майка у меня:<br/></P><P align=left><IMG src="/files/lj/majka.jpg"></P></A><P align=center><br/></P><P><br/>А вторую увидите на мне, и&nbsp;зрелище это занятное.<br/><br/>Я почти выздоровел.<br/></P>
	