Id: ba0dbef2-a24c-44c9-ace2-35233464b2c3
Title: "Крит – 4, Отель"
Published: "2008-09-29"
Slug: "2008-09-29 Крит – 4, Отель"
-
<p>
Наверное, мне стоит рассказать про отель с гордым названием <a href="http://www.hydramis-palace.com/">Hydramis Palace</a>. Туроператор его рекламировал как 5 звёзд, но понятно, что на самом деле он считается 4+. Кстати, отель называется так в честь древнего города.
</p>
 
<p>
Вообще, все эти звёзды – штука запутанная. Википедия просвещает нас, что единой системы рейтингования обычно нет даже внутри одной страны, не говоря уже о международной. Так что понять, сколько звёзд на самом деле, и есть ли от них реальная польза – непросто. Так, в пятизвёздочном отеле постоянно должны быть врач, парикмахер и всё такое – но мне-то какая с того польза? Так, в нашем был тренажёрный зал – но я там ни разу не видел посетителей. Это объяснимо: кто в здравом уме на отдыхе, да ещё в такую жару, будет железо тягать и бегать, если можно просто окунуться в море?
</p>
[more text=Смотреть фото отеля, читать про википедию и глянец]
<p>
&nbsp;
</p>
 
<p>
В любом случае лучше проверить отзывы в интернете, что мы, кстати, сделали. Отзывы были в целом положительные, но их было мало и не на английском. Надо сказать, что отель состоит из нескольких зданий, а по периметру идёт пешеходная дорожка, со всех сторон обсаженная деревьями и кустами. Вообще, растительности в отеле очень много, что радует – приятно, создаёт атмосферу отдыха и расслабленности, прямо как в кино. На оф. сайте можно посмотреть <a href="http://www.hydramis-palace.com/photo_gallery.php">много фоток</a> и даже 3д панорамы, если вам это зачем-то нужно, но я тоже приведу, на всякий случай. Итак, первым делом мы прошли до пляжа, и он поверг меня в лёгкий ступор. В принципе, классический случай эльфизма. Ведь Таня предупреждала, что северный берег Крита, где в основном расположены отели, красивыми пляжами не славится, песок выглядит серым, полоска пляжа – узкой, а на берегу – камни. Говорят, чтобы не разрушался. Но наш испуг быстро прошёл – в конце-концов, красивый песочек мы и в Юрмале можем увидеть, а на Крите хватает своего интересного, в том числе и в отеле.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0005.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0005_thumb.jpg" border="0" alt="IMG_0005" title="IMG_0005"  ></a> Андрей не напуган страшненьким видом берега Критского моря
</p>
 
<p>
Как видно, наш берег защищён мысом. А что это означает? Опять на помощь приходит Википедия
</p>
 
<blockquote>
	 
	<p>
	<em>Появление мыса приводит к тому, что больша́я часть энергии волны переносится на него.</em>
	</p>
</blockquote>
 
<p>
Кстати, чёртова Википедия удалила статью про мою любимую порномодель Andrea Spinks, но скоро это <a href="http://times.lv/index.php?Mode=readnews&amp;NewsID=133951">проблемой быть перестанет</a>. Надеюсь. Вообще, странно, что никто до сих пор такого не сделал – “кухни стартапов” давно предлагают это реализовать. И ведь баблос потечёт рекою – есть миллионы фанатов, желающих знать, где раполагались прыщи Гарри Поттера и сколько всего раз заходил в кабинку для самоубийства Бендер. А википедия им эту возможность не всегда даёт, считая такие статьи “незначительными”. Сторонники включения всего говорят, что сервер не бумага: стерпит всё, и даже чуть-чуть больше. Сторонники исключения приводят в пример мобильные устройства и захламление ссылками на малополезное и страницами disambiguation. Понятно, что все правы, но что мешает удобно хранить удалённое, и сделать уровни важности – загадка.
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0006.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0006_thumb.jpg" border="0" alt="IMG_0006" title="IMG_0006"  ></a>Для завершения образа курортного денди Андрею не хватает маленькой детали. Какой – мы узнаем в следующих сериях
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0007.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0007_thumb.jpg" border="0" alt="IMG_0007" title="IMG_0007"  ></a> Терраса для наблюдения за вечерним морем. Днём веселее на лежаках под зонтиками, но и тут люди бывают.
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0009.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0009_thumb.jpg" border="0" alt="IMG_0009" title="IMG_0009"  ></a> Перед лестницей к морю – бассейн и бар при нём. Бар справа, на картинке его нет.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0014.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0014_thumb.jpg" border="0" alt="IMG_0014" title="IMG_0014"  ></a>Декор вполне в критском стиле
</p>
 
<p align="left">
Не очень-то я люблю делать глупые обобщения безграмотного туриста, но раз уж я делал их в постах про США, то чего теперь останавливаться. Критяне любят всё бело-кроемовое, глиняно-известняковое. Это будет доказано последующими фотографиями с новыми бараками и развалинами.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0015.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0015_thumb.jpg" border="0" alt="IMG_0015" title="IMG_0015"  ></a> Обратите внимание на растительность. Вдали виден холл отеля, где-то там же – мой номер
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0021.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0021_thumb.jpg" border="0" alt="IMG_0021" title="IMG_0021"  ></a> На Крите дефицит воды, хоть и не особенно острый. Все растения в отеле поливаются вот таким вот образом
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0022.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0022_thumb.jpg" border="0" alt="IMG_0022" title="IMG_0022"  ></a>Раз вода ценна, надо показать, что у нас её в избытке. Первобытная культура at its best
</p>
 
<p>
Разумеется, первобытная культура – она не на Крите. Она везде – достаточно посмотреть на мудаков, выступающих против коллайдера (некий Стиллавин тут отличился, ссылки по понятным причинам не будет). А можно ещё проще – открыть любую газету и посмотреть, есть ли в ней гороскопы.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0025.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0025_thumb.jpg" border="0" alt="IMG_0025" title="IMG_0025"  ></a>Не просто в избытке, а прямо-таки в изобилии
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0028.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0028_thumb.jpg" border="0" alt="IMG_0028" title="IMG_0028"  ></a>Даже над входом в туалет плющи
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0031.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0031_thumb.jpg" border="0" alt="IMG_0031" title="IMG_0031"  ></a> Но как бы много воды не было, тратить зря не стоит – похоже, что камни препятствуют испарению
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0049.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0049_thumb.jpg" border="0" alt="IMG_0049" title="IMG_0049"  ></a> Холл, вид из внутреннего двора, справа – бар
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0052.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/IMG_0052_thumb.jpg" border="0" alt="IMG_0052" title="IMG_0052"  ></a>Наоборот, внутренний двор, а холл подо мной.
</p>
 
<p>
Мой номер – справа и назад, довольно близко. Справа внизу – столовка. Разумеется, это скорее приличный ресторан, но изменится ли названия суть? Теперь я уже стал думать, что да. Хотя значения этих слов похожи, они не тождественны и производят разное впечатление на читателей, а это важно, по крайней мере в серъёзных статьях, если не в путевых заметках. С другой стороны – сложно выбирать точные слова, если я обычно выражаюсь саркастически донельзя, можно даже сказать порядком перебираю, примерно как пресловутый доктор. Так что делайте скидку: всё, что я говорю, не является таким прямо уж изложением сухих фактов. Это скорее некое полотно с каракулями, призванное скорее вас развлечь, чем просвятить. Впрочем, я об этом уже писал.
</p>
 
<p>
Как говорится на секретной лепре, картинка по запросу “Впаривание занятных историй, имеющих опосредственное отношение к реальности”.
</p>
 
<p align="center">
<a href="http://unab0mber.livejournal.com/294959.html"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/4_EA28/image.png" border="0" alt="image" title="image"  ></a>&nbsp;&nbsp; Автор – unab0mber, автор <a href="http://upyachka.ru">http://upyachka.ru</a>. Забейте
</p>
 
<p>
<a href="/files/blogengine/Writer/4_EA28/IMG_0054.jpg"><img style="display: inline; margin-left: 0px; margin-right: 0px" data-src="/files/blogengine/Writer/4_EA28/IMG_0054_thumb.jpg" border="0" alt="IMG_0054" title="IMG_0054"   align="left"></a>
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_EA28/IMG_0055.jpg"><img style="display: inline; margin-left: 0px; margin-right: 0px" data-src="/files/blogengine/Writer/4_EA28/IMG_0055_thumb.jpg" border="0" alt="IMG_0055" title="IMG_0055"   align="left"></a>
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
Макет гостиничного комплекса
</p>
 
<p>
Напоследок, общее представление, хотя я и сомневаюсь, что хоть кто-то станет вдумываться и всматриваться.
</p>
 
<p>
С самого левого края – национальная магистраль, идущая вдоль всего северного берега. Правее – ведущая к отелю дорожка, стоянка, холл, в ближнем к нам крыле мой номер (142). Затем столовка с фонтанами, дорожка с растениями, ведущая к бассейну и бару при бассейне, сам бассейн. Наконец, на правом краю – море. Внимательный читатель заметит, что есть и номера с личными микробассейнами, хотя их полезность мне представляется сомнительной. Квадратная лужа в верхнем правом углу – детский бассейн.
</p>
<p>&nbsp;&nbsp;<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p>
</p>

	