Id: d75cce94-2b84-44df-9f5c-f1d05fd9c871
Title: "Про Крит"
Published: "2008-10-03"
Slug: "2008-10-03 Про Крит"
-
<p>Вы вообще комментируйте, да, особенно кто на Крите был (а таковых я знаю аж 9 человек, ещё про двух слышал). Рэмбо делаю скидку, он печатает однопальцевым методом. Хотя бы мог бы и жену притащить, ей наверное тоже интересно сравнить впечатления.</p> <p>textfield, ты ссылку друзьям отправила? Пиарьте же меня, я жажду публики. Будут комменты – буду каждый день выкладывать по новой части.</p>
	