Id: f65cb884-eaa1-4db8-978c-425c1e6b7214
Title: "США — 12, Башня Хэнкок и Музей Науки"
Published: "2008-07-04"
Slug: "2008-07-04 США — 12, Башня Хэнкок и Музей Науки"
-
<p align="left">
На следующее утро погода была хорошая, и мы могли бы пойти в небоскрёб Сирс, но пошли в башню Джона Хэнкока. А всё потому, что она была недалеко от отеля, а нам ещё надо было успеть сначала в Science And Industry Museum (Музей Науки и Промышленности), а потом ещё и на представление в средневековом замке. Если вы воспринимаете смысл моих слов, а не просто скользите глазами, у вас должен был возникнуть когнитивный диссонанс - откуда в США средневековый замок, если Колумб приплыл в 1492?
</p>
<div class="ljcut">
<p align="left">
&nbsp;
</p>
 
<p align="left">
Хотите его разрешить - читайте дальше.
</p>
 
<p align="left">
Замок - новострой, то есть фальшивка для развлечения. Подробнее будет в следующем посте.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/12_14E0B/IMG_5277.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/12_14E0B/IMG_5277_thumb.jpg" border="0" alt="IMG_5277"  ></a>&nbsp;<br>
Чикаго, вид с башни Джона Хэнкока. 
</p>
 
<p align="left">
Кстати, везде в Чикаго висела реклама реклама фильма <a href="http://www.imdb.com/title/tt0448157/">Hancock</a> в Уиллом Смитом, который только вышел, но уже по сборам <a href="http://www.boxofficemojo.com/daily/chart/">обгоняет</a> Wanted, зато проигрывает Wall-E. Редкий случай, когда я заинтересовался новинками - жду мультфильмов Wall-E и Kung Fu Panda. На Blu-ray, конечно.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/12_14E0B/IMG_5281.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/12_14E0B/IMG_5281_thumb.jpg" border="0" alt="IMG_5281"  ></a> <br>
Аттракцион для смелых. Видите, какая испуганная физиономия у сеструхи?
</p>
 
<p align="left">
В башне Хэнкок, как и во многих других небоскрёбах в Центре Чикаго, находятся, как это ни странно звучит, жилые квартиры. Так что некоторые счастливчики живут в двух шагах от работы, которая находится в соседнем небоскрёбе. Говорят, стоимость аренды таких квартир начинается от двух тысяч в месяц.&nbsp; Наверху башни есть ресторан - можно обедать и наслаждаться видом на фото сверху. Там, кстати, у нас зачем-то попросили удостоверение возраста для продажи алкоголя и я гордо отдал свои велосипедные права, aka cyclist's licence. (Если кому интересно, велосипед мой пребывает в добром здравии, только покрышка стёрлась, а у нас таких не продают).
</p>
 
<p align="left">
В Хэнкоке, как и во многих других местах, нас насильно фотографировали. При этом фотки всегда печатали, что мне, как частично зелёному, очень не по нраву. С распространением цифровых технологий сейчас обычно сначала показывают фото и печатают лишь по твоему требованию. Но не везде ещё добралась благословенная поступь прогресса. Ирония состоит в том, что единственное фото, которое мы купили (в парке Six Flags), нам как раз сначала показали на мониторе.
</p>
 
<p align="left">
Посетив, как занудные правильные туристы, башню, мы пошли забирать машину с парковки. Парковка обошлась в зверские деньги - около 40$ в сутки, а мы в Чикаго были 3 дня. Парковка, само собой, многоярусная, с заездом по спирали, причём на верхних этажах ограничение по высоте машины - любимые американцами танки и БТРы уже не помещаются. Платить можно кредиткой в спецавтомате или вставлять карту прямо в шлагбаум у выезда.
</p>
 
<p align="left">
Кстати, ездили мы везде&nbsp; по GPS'у Garmin какой-то там свежий среднего класса, и работает он даже даже славно, особенно учитывая, что мы с сестрой не особо геосообразительны. Жаль, в плотной городской застройке GPS спутники ловит с трудом, а под мостом и вовсе теряет. Поэтому, когда мы заехали под эстакаду и растерянно остановились, к нам сразу подъехал предприимчивый тот-кого-нельзя-называть и доступно объяснил, как проехать к нашей цели - музею науки и промышленности. За свои услуги товарищ, само собой, попросил бабла для бездомных. Честно сказать, это был единственный раз, когда я насторожился - кроме нас и чёрных братьев под эстакадой никого не было. А как всем известно из голливудских фильмов, доставать из широких репперских штанин пистолеты и грабить невинных прохожих - любимое их занятие. С другой стороны, члены ОПГ вряд ли бы стали ездить на непрестижном велосипеде, из чего я логично сделал вывод, что с нами беседуют простые бомжи. Как ни странно, даже я понял объяснение, хотя оно было длинным без нужды. Всё, что требовалось - выехать из-под моста налево, затем свернуть направо и жарить до победного конца 12 миль, что нам кроме GPSа сообщил и указатель коричневого цвета. Такие указатели для туристов после вступления в ЕС широко понаставили и у нас, где каждая горочка и речка объявляется достопримечательностью - смотреть-то больше не на что.
</p>
 
<p align="left">
А вот <a href="http://www.msichicago.org">Музей Науки и Промышленности в Чикаго</a> - моему сердцу такое всегда мило. Кстати, мне вчера устроили телефонный опрос, где я радостно расписывал прелести генно-модифицированных продуктов, атомных станций, лозунга "прогресс спасёт мир от голода и болезней" и всячески продвигал теорию, что учёные должны иметь больше власти. 
</p>
 
<p align="left">
Музей большой, и за два часа мы посмотрели не так много, как хотелось бы, зато послали электронную открытку со спецтерминала. В музее интересная и понятная экпозиция про ДНК и наследственность - <strong>Genetics: Decoding Life. </strong>Это в&nbsp; отличие от Field Museum Of Natural History, где хоть и можно вживую посмотреть на работающих за стеклом учёных, но объяснения слишком уж сложные.
</p>
 
<p align="left">
Из всех красот музея запомнился мне только гигантский&nbsp; комбайн с кондиционером, телеком и GPSом, общей стоимостью в 240 тысяч стремительно обесценивающихся долларов США. Что касается разных предметов и описаний, включая краткую историю открытий, музей порадовал. А вот по соревноваться с музеем Sinheim в Германии по количеству и редкости автомобилей и сходной техники, про который я <a href="/post/2008-01-15%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F%20-%208">как-то писал</a>, он никак не может. Впрочем, как говорят американцы, незачем сравнивать апельсины с яблоками. В любом случае по зрелищности немцы всё равно выигрывают, хоть и устаёшь от бесконечного блеска и глянца начищенных кузовов.
</p>
 
<p align="left">
Ещё в музее был неплохой аттракцион - отгадывать внутри подводной лодки акустические шумы. Отличить кита от бомбы без тренировки&nbsp; ещё можно, а вот от торгового корабля - никак. Сейчас в музее идёт реконструкция, и верхние этажи откроют только к лету 2009. Зато там будет уникальная штука -&nbsp; <a href="http://www.membrana.ru/articles/inventions/2004/06/21/210700.html">Mindball game</a>, в которой датчик считывает электроэнцефалограмму мозга, а побеждает игрок, сумевший лучше расслабиться. Тем, кто будет в Чикаго после открытия, очень советую поиграть - таких установок в мире пока что всего лишь около двадцати.
</p>
 
<p align="left">
Кстати, у музея есть <a href="http://www.msichicago.org/online-science/">онлайн-раздел с видео</a>, где вы можете посмотреть например, как <a href="http://www.msichicago.org/online-science/videos/video-detail/activities/the-hatchery/">появляются на свет цыплята</a>, если вам не хватило медиаконтента в этом посте.
</p>
</div>
<p align="left">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	