Id: 4f332a06-5474-45f7-a7e6-6869ee5a3468
Title: "США — 37, Заключение"
Published: "2008-08-12"
Slug: "2008-08-12 США — 37, Заключение"
-
<p>Как это ни странно, а также удивительно и невероятно, но моя грандиозная эпопея про Соединённые Штаты Америки исчерпала себя, подходит к логическому&nbsp; и физическому завершению. Говоря по-простому, заканчивается.</p>
<p><strong>Если вам понравилась серия, ОБЯЗАТЕЛЬНО дайте ссылку на этот пост у себя и прокомментируйте его У МЕНЯ. </strong>Я потратил на неё свыше ста часов &ndash; не дайте усилиям пропасть даром. Хочу читателей, а если повезёт &ndash; и в топ Яндекса. Не ленитесь! Сообщите знакомым по аське и скайпу, им будет интересно, распечатайте маме и папе, а также рассказывайте на ночь детям, опуская мат.</p>
<div class="ljcut">
<p>Далее &ndash;&nbsp; небольшой обзор всех выпусков со ссылками, чтобы легко было найти нужный пост или читать их по порядку. В конце поста &ndash; собственно, заключительная часть.</p>
<blockquote>
<p><a href="/post/2008-06-22%20%D0%A1%D0%A8%D0%90%20-%20%D1%87%D0%B0%D1%81%D1%82%D1%8C%201">1. Начало (aka почти Бэтмен &ndash; тоже летаю)</a></p>
<p>В этой части рассказывается, где и как купить билет, как вести себя в аэропорту, что есть в самолёте, и как ловко шах Рашид Аль Мактум отстроил Дубай на нефтяные деньги. А также: чего ждать по прибытии, и зачем вам обязательно понадобится шариковая ручка.</p>
<p><a href="/post/2008-06-23%20%D0%A1%D0%A8%D0%90%20-%20%D1%87%D0%B0%D1%81%D1%82%D1%8C%202">2. Прибытие.</a></p>
<p>В этой части мы увидим карту местности, где я побывал, узнаем, какого&nbsp; размера озеро Мичиган, полюбуемся на американские дорожные знаки. А также узнаем, почему в Висконсине только два сезона вместо четырёх, как устроены придорожные заведения общепита, и чем американский бензин отличается от европейского.</p>
<p><a href="/post/2008-06-24%20%D0%A1%D0%A8%D0%90-3%2C%20%D0%A8%D0%B2%D0%B5%D0%B4%D1%81%D0%BA%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB">3.Шведский стол.</a></p>
<p>В этой части мы узнаем, что такое buffet и eggroll, чем американский суп отличается от нормального, почему при заказе чая надо требовать горячий, и чем мексиканская кока-кола лучше американской. Также узнаем, что root beer это вовсе не пиво, а пить ледяные напитки полезно, когда болит горло.</p>
<p><a href="/post/2008-06-25%20%D0%A1%D0%A8%D0%90-4%2C%20%D1%81%D1%83%D0%BF%D0%B5%D1%80%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%20Walmart">4. Супермаркет Wallmart</a></p>
<p>Глава, в которой рассказывается, почему мегакорпорация &ldquo;Волмарт&rdquo; воплощает великое зло, кем считают американцы обладателя обычных плавок, и что потребление определяет сознание, а вовсе не бытие. Также из неё можно узнать, что такое 12-pack, сколько миллиардов должны американцы миру, и кто такие &ldquo;те, кого нельзя называть&rdquo;.</p>
<p><a href="/post/2008-06-27%20%D0%A1%D0%A8%D0%90-5%2C%20%D0%A7%D0%B8%D0%BA%D0%B0%D0%B3%D0%BE">5. Чикаго</a></p>
<p>Глава, в которой поясняется, почему Чикаго красивый город и какое у него прозвище, из чего и кем он сделан, а также сколько процентов в США составляет налог на добавленную стоимость. Ещё в ней много красивых фото, а также упоминание вкусного печенья с шоколадной крошкой и рассуждения на тему эксплуатации трудящихся.</p>
<p><a href="/post/2008-06-28%20%D0%A1%D0%A8%D0%90%20-%206%2C%20Adler%20Planetarium">6. Планетарий Адлера</a></p>
<p>Глава, в которой излагается, что такое планетарий, Chicago City Pass и Will Call, показываются одеяния древних шумеров и проектор звёздного неба, похожий на скафандр. Ещё там есть информация про халтуру композиторши Лори Андерсон и впервые появляется майка с прикольной надписью.</p>
<p><a href="/post/2008-06-29%20%D0%A1%D0%A8%D0%90%20-%207%2C%20%D0%9F%D0%B0%D1%80%D0%BA%20%D0%93%D1%80%D0%B0%D0%BD%D1%82%D0%B0">7. Парк Гранта</a></p>
<p>Глава, в которой наличествуют разнообразные достопримечательности Чикаго, как то: парки, мост и фонтан. Также рассказывается про экологию, евреев, лоббирование и таинственную блямбу.</p>
<p><a href="/post/2008-06-30%20%D0%A1%D0%A8%D0%90%20-%208%2C%20Grand%20Lux%20Cafe">8. Grand Lux Cafe</a></p>
<p>Раздел, в котором приводится занимательная информация про Чикагский ресторан Grand Lux Cafe и степени готовности стейков. Не помешает также знать, как избежать мошенничества, почему в ресторанах летом одевают шубы, что Амели в фильме делала с крем-брюле, и зачем русским людям официанты приносят вазы (Нет, вовсе не блевать как вы подумали).</p>
<p><a href="/post/2008-07-01%20%D0%A1%D0%A8%D0%90%20-%209%2C%20Shedd%20Aquarium%20_%D0%9E%D0%BA%D0%B5%D0%B0%D0%BD%D0%B0%D1%80%D0%B8%D0%B9%20%D0%A8%D0%B5%D0%B4%D0%B4%D0%B0_">9. Океанарий Шедда</a></p>
<p>Раздел, в котором мы виртуально погружаемся в океанские пучины, узнаём, как зайти в интернете на сайт, которого уже нет, и любуемся морскими коньками и кораллами. Затем глядим на дельфинов, белух и самого старого обитателя зоопарка в мире, значительно старше нас с вами. А в конце даже увидим дракона.</p>
<p><a href="/post/2008-07-02%20%D0%A1%D0%A8%D0%90-10%20-%20%D0%A3%D0%B6%D0%B0%D1%81%D0%BD%D0%B0%D1%8F%20%D0%BF%D1%80%D0%B0%D0%B2%D0%B4%D0%B0">10. Ужасная правда</a></p>
<p>Юмористический пост, в котором рассказывается про жуткую цитадель тоталитаризма и теократии под названием США, доказывается, что Иисус ездил на динозаврах, и показывается главная и самая высокая из тысяч башен, зомбирующих народонаселение.</p>
<p><a href="/post/2008-07-03%20%D0%A1%D0%A8%D0%90%20-%2011">11. Почему-то без названия</a></p>
<p>Пост, размышляющий на тему торжества политкорректности и политики плавильного котла, но не забывающий и о том, что составляет основную часть жизни любого человека. Для тех, кто понормальнее, это еда, а для остальных &ndash; телевизор.</p>
<p><a href="/post/2008-07-04%20%D0%A1%D0%A8%D0%90%20-%2012%2C%20%D0%91%D0%B0%D1%88%D0%BD%D1%8F%20%D0%A5%D1%8D%D0%BD%D0%BA%D0%BE%D0%BA%20%D0%B8%20%D0%9C%D1%83%D0%B7%D0%B5%D0%B9%20%D0%9D%D0%B0%D1%83%D0%BA%D0%B8">12. Башня Хэнкок и Музей Науки</a></p>
<p>Пост, в котором&nbsp; мы узнаем, сколько стоит комбайн с GPS и DVD-плеером, и где можно поиграть в великую игру Mindball. Также постигнем, что не так страшны негры, как выглядят. Зато фотографы страшны для природы, хоть и не для свежепроклюнувшихся цыплят.</p>
<p><a href="/post/2008-07-06%20%D0%A1%D0%A8%D0%90%20-%2013%2C%20%20%D0%A2%D1%83%D1%80%D0%BD%D0%B8%D1%80%20%D0%B8%20%D1%83%D0%B6%D0%B8%D0%BD%20%D0%B2%20Medieval%20Times">13. Турнир и ужин в Medieval Times</a></p>
<p>Рассказ, раскрывающий тайну, откуда в США средневековый замок, а также объясняющий, что зрелищность и показуха &ndash; две стороны одной медали, только одна хорошая, а другая плохая.</p>
<p><a href="/post/2008-07-08%20%D0%A1%D0%A8%D0%90%20-%2014%2C%20%D0%96%D0%B8%D0%BB%D1%8C%D1%91">14. Жильё</a></p>
<p>Рассказ о том, почему американская квартира подходит для экстравертов,&nbsp; как здорово иметь бассейн во дворе, и как непросто иметь четырёх котов.&nbsp; Также тут есть неправомочное сравнение телевизора с интернетом, разница между кондо и apt., сомнения в пользе ресайклинга, и убеждения в пользе заборов вокруг мусорника.</p>
<p><a href="/post/2008-07-11%20%D0%A1%D0%A8%D0%90%20-%2015%2C%20Kohl_s%20%D0%B8%20%D0%BE%D0%B4%D0%B5%D0%B6%D0%B4%D0%B0">15. Kohl&rsquo;s и одежда</a></p>
<p>Рассказ про магазины одежды и обуви, задающийся вопросом, почему в США непопулярны тянущиеся джинсы, объясняющий разницу между clearance и sale, а также нагло рекламирующий марку обуви и превозносящий американский гарантийный сервис. Обязательно читать комментарий newkara.</p>
<p><a href="/post/2008-07-13%20%D0%A1%D0%A8%D0%90%20-%2016%2C%20%D0%9F%D0%B0%D1%80%D0%BA%20%D0%B0%D1%82%D1%82%D1%80%D0%B0%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%BE%D0%B2%20Six%20Flags">16. Парк аттракционов Six Flags</a></p>
<p>Какое отношние Билл Гейтс имеет к индустрии развлекательных парков. Не так страшен чёрт, как его малюют в отношении американских горок. Настоящее и будущее деревянных роллеркостеров. Пугающие фотографии и советы бывалого.</p>
<p><a href="/post/2008-07-14%20%D0%A1%D0%A8%D0%90%20-%2017%2C%20%D0%9C%D0%B5%D0%BA%D1%81%D0%B8%D0%BA%D0%B0%D0%BD%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BA%D1%83%D1%85%D0%BD%D1%8F">17. Мексиканская кухня</a></p>
<p>Тортилья как основа мексиканской кухни. Что такое фахита, буррито и тако. Как правильно есть арбуз. Настоящее значение слова &ldquo;острый&rdquo;. А также: зачем мексиканцам нужен лайм, почему мексиканский суп мил русскому сердцу, и как мексиканцы живут в Америке.</p>
<p><a href="/post/2008-07-17%20%D0%A1%D0%A8%D0%90%20-%2019%2C%20%D0%9A%D0%B0%D0%BF%D0%B8%D1%82%D0%BE%D0%BB%D0%B8%D0%B9%20%D0%9C%D1%8D%D0%B4%D0%B8%D1%81%D0%BE%D0%BD%D0%B0">19. Капитолий Мэдисона</a></p>
<p>Где находится самый большой купол на планете, какое имя самое популярное в США, и какие самые лучшие университеты в мире. Также: почему столицы штатов небольшие, где взять мрамор для плиток в ванной, и почему американская власть близка к народу.</p>
<p><a href="/post/2008-07-19%20%D0%A1%D0%A8%D0%90%20-%2020%2C%20%D1%81%D0%B5%D1%82%D1%8C%20%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%D0%BE%D0%B2%20Subway">20. Сеть ресторанов Subway</a></p>
<p>Цитирование википедии, из которого можно узнать, что такое съедобная субмарина, и что вовсе не McDonald&rsquo;s самая большая сеть фастфуда в США. А также то, что &ldquo;фастфуд&rdquo; не равно &ldquo;джанкфуд", сколько калорий в гамбургерах, и как похудеть и разбогатеть одновременно.</p>
<p><a href="/post/2008-07-20%20%D0%A1%D0%A8%D0%90%20-%2021%2C%20%D0%A1%D0%BF%D0%BE%D1%80%D1%82%D0%B7%D0%B0%D0%BB%2C%20%D0%B7%D0%BE%D0%BE%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%20%D0%B8%20%D0%BC%D0%BE%D1%80%D0%BE%D0%B6%D0%B5%D0%BD%D0%BE%D0%B5">21. Спортзал, зоомагазин и мороженое</a></p>
<p>Фотоотчёт, из которого можно понять, что должно быть перед твоим упражняющимся носом в уважаемом фитнесс-центре, насколько американцы любят хобби и лицемерие. А также: что такое Banana Split, Sundae и топпинг, и где лучше покупать мороженое.</p>
<p><a href="/post/2008-07-21%20%D0%A1%D0%A8%D0%90%20-%2022%2C%20%D0%92%D0%B5%D1%87%D0%B5%D1%80%D0%BD%D0%B8%D0%B9%20%D0%9C%D1%8D%D0%B4%D0%B8%D1%81%D0%BE%D0%BD">22. Вечерний Мэдисон</a></p>
<p>Археоисторический опус, поясняющий, как правильно манипулировать обществом и картографами к собственной выгоде, почему велик и могуч Френк Ллойд Райт, и захватывающая история строительства с 10 судебными исками. Бонус: где студенту весело живётся.</p>
<p><a href="/post/2008-07-22%20%D0%A1%D0%A8%D0%90%20-%2023%2C%20%D0%A1%D0%B5%D1%82%D1%8C%20%D1%81%D1%83%D0%BF%D0%B5%D1%80%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%D0%BE%D0%B2%20Woodman_s%20%D0%B8%20%D0%BF%D1%80%D0%BE%20%D0%B5%D0%B4%D1%83%2C%20%D1%87%D0%B0%D1%81%D1%82%D1%8C%201">23. Сеть супермаркетов Woodman's и про еду, часть 1</a></p>
<p>История про то, как мясник по фамилии Плотник основал продуктовый магазин. Читайте также: как хорошо быть секретаршей проданного стартапа, почему корпорации всё-таки бывают не злыми, как можно расписываться без чернил, и почему некоторые магазины не принимают кредитные карточки.</p>
<p><a href="/post/2008-07-23%20%D0%A1%D0%A8%D0%90%20-%2024%2C%20%D0%A1%D0%B5%D1%82%D1%8C%20%D1%81%D1%83%D0%BF%D0%B5%D1%80%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%D0%BE%D0%B2%20Woodman_s%20%D0%B8%20%D0%BF%D1%80%D0%BE%20%D0%B5%D0%B4%D1%83%2C%20%D1%87%D0%B0%D1%81%D1%82%D1%8C%202">24. Сеть супермаркетов Woodman's и про еду, часть 2</a></p>
<p>Эссе на тему: "овощи-гиганты как квинтэссенция американского менталитета", чем dip отличается от dressing, а также pickles от relish. Также: истерия по органике и генномодифицированные продукты, ядрёные перцы мира и абсолютная шкала остроты.</p>
<p><a href="/post/2008-07-25%20%D0%A1%D0%A8%D0%90%20-%2025%2C%20%D0%A1%D0%B5%D1%82%D1%8C%20%D1%81%D1%83%D0%BF%D0%B5%D1%80%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%D0%BE%D0%B2%20Woodman_s%20%D0%B8%20%D0%BF%D1%80%D0%BE%20%D0%B5%D0%B4%D1%83%2C%20%D1%87%D0%B0%D1%81%D1%82%D1%8C%203">25. Сеть супермаркетов Woodman's и про еду, часть 3</a></p>
<p>Как сказал читатель, "для понимания нации еда важнее фактографии". Так что в третьей части речь пойдёт о сладостях в лице twizzlers и jelly belly, а также разноцветных сахарозаменителях и кофейных напитках в банке.</p>
<p><a href="/post/2008-07-29%20%D0%A1%D0%A8%D0%90%20-%2026%2C%20%D0%9F%D1%80%D0%B8%D0%B1%D1%8B%D1%82%D0%B8%D0%B5%20%D0%B2%20Wisconsin%20Dells%20%D0%B8%20%D0%BE%D0%B7%D0%B5%D1%80%D0%BE%20Delton">26. Прибытие в Wisconsin Dells и озеро Delton</a></p>
<p>Видеорепортаж о жутких наводнениях, подделке фотографий лживым телеканалом fox news. Также: HDR пейзажи, значение слова refill, и рекомендации не покупать воду в бутылках.</p>
<p><a href="/post/2008-07-29%20%D0%A1%D0%A8%D0%90%20-%2027%2C%20Wisconsin%20Dells">27. Wisconsin Dells</a></p>
<p>Туристическая брошюра о том, кто такой Рик Вилкокс, что есть в туристическом городе Wisconsin Dells, и каковы на вкус жареные рёбра. В качестве бонуса &ndash; шутка про собаку и гидрант, а также перевод идиомы bite me.</p>
<p><a href="/post/2008-07-30%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2028%2C%20%D0%9A%D0%B0%D0%B7%D0%B8%D0%BD%D0%BE%20Ho-Chunk">28. Казино Ho-Chunk</a></p>
<p>Осмотр казино раскрывает нам такие темы, как: угнетение и индейцев американцами и одновременная компенсация за это угнетение,&nbsp; зачем на самом деле нужен Dream Catcher и почему одни звери равнее других при приёме на работу.</p>
<p><a href="/post/2008-07-31%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2029%2C%20Dells%20Army%20Ducks">29. Dells Army Ducks</a></p>
<p>Пост совсем без текста, но весьма даже понятный тем, кто читал остальные.</p>
<p><a href="/post/2008-08-01%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2030%2C%20%D0%B6%D0%B5%D0%BB%D0%B5%D0%B7%D0%BD%D0%B0%D1%8F%20%D0%B4%D0%BE%D1%80%D0%BE%D0%B3%D0%B0%20Riverside%20_%20Great%20Northern%20Railway">30. Железная дорога Riverside &amp; Great Northern Railway</a></p>
<p>Открытка с паровозиком, вагончиками, импозантными кондуктором и машинистом. И всё вышеперечисленное как пример non-profit ака бесприбыльного кооператива.</p>
<p><a href="/post/2008-08-02%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2031%2C%20%D0%A1%D1%82%D1%83%D0%B4%D0%B8%D1%8F-%D0%BC%D1%83%D0%B7%D0%B5%D0%B9%20%D1%84%D0%BE%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B0%20%D0%93%D0%B5%D0%BD%D1%80%D0%B8%20%D0%91%D0%B5%D0%BD%D0%BD%D0%B5%D1%82%D1%82%D0%B0">31. Студия-музей фотографа Генри Беннетта</a></p>
<p>Фотожурналистика о том, как появилось само это явление, а также скоростной затвор и прочие изобретения фотодела. Содержит отличные винтажные фотки со ссылками на целые галереи. Бонус: заскоки авторского права.</p>
<p><a href="/post/2008-08-03%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2032%2C%20%D0%BD%D0%B0%D0%B2%D0%BE%D0%B4%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F">32. Наводнения</a></p>
<p>Рассуждение о том, что такое концентрация менталитета нации в грузовом транспорте, как выглядит наводенение, и полезен ли GPS в военное время.</p>
<p><a href="/post/2008-08-04%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2033%2C%20%D0%BA%D0%B5%D0%BC%D0%BF%D0%B8%D0%BD%D0%B3%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%201">33. Кемпинг, день 1</a></p>
<p>Красоты природы: чем отличаются буйвол и зубр, кто эффективнее в истреблении: европейцы или американцы. Также: snaсks как прибежище глутамата, и правда ли, что закуски делают из нефти. Бонус: фотография радуги.</p>
<p><a href="/post/2008-08-05%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2034%2C%20%D0%BA%D0%B5%D0%BC%D0%BF%D0%B8%D0%BD%D0%B3%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%202">34. Кемпинг, день 2</a></p>
<p>Тайны природы и общества: игры, в которые играют люди, сумасшедшие христианские сектанты, бедность английского языка и прыгающие червяки. Сдобрено отличными HDR пейзажами.</p>
<p><a href="/post/2008-08-06%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2035%2C%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BB%D1%8E%D0%B4%D0%B8%D1%8F">35. Интерлюдия</a></p>
<p>Затерянные воспоминания о том, что такое жорка, знают ли американцы про СССР. Бонус: анекдот про туризм и иммиграцию.</p>
<p><a href="/post/2008-08-07%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2036%2C%20%D0%9E%D1%82%D0%B1%D1%8B%D1%82%D0%B8%D0%B5">36. Отбытие</a></p>
<p>Эксперименты с часовыми поясами и питанием, бельгийка с французским акцентом, и тайное знание про багаж в комментах.</p>
<p>37. Заключение</p>
<p>Вы его читаете сейчас.</p>
</blockquote>
</div>
<p>Disclaimer для тех, кто тут впервые.</p>
<p>1. Все фото кликабельны: ведут на больший размер, оригинал или информационные ресурсы.</p>
<p>2. На объективность и фактографичность эпопея не претендует. Это художественное произведение, тут фантазия и напускание туману только в плюс.</p>
<p>3. Посты по качеству и любопытности разные. Прочитайте хотя бы первых 4, тогда и решайте, смотреть ли дальше.</p>
<p>4. Все посты можно копировать, модифицировать и всячески использовать по лицензии cc-by, то есть просто упоминая моё имя и адрес журнала.</p>
<p>5. Я постараюсь ответить на все осмысленные комментарии, но не сразу.</p>
<p>6. Я не френжу никого, и употребляю мат. Извините.</p>
<p>Теперь итоги.</p>
<p>&nbsp;</p>
<p>В принципе, все эти посты мне было писать интересно, хоть и порядком утомительно &ndash; после рабочего дня, да ещё и летом, когда лучше ездить на природу, а не сидеть за компом. Но и плюсов немало. Я понял, что про всё можно натырить картинок в интернете. Ещё узнал много интересного про места, где побывал, пока читал всякое для разукрашивания постов. Память, как оказалось, не такая уж у меня плохая &ndash; столько всякого вспомнил без любых заметок. Теперь я этой ошибки не повторю &ndash; всё буду записывать. К сожалению, ноутбука или смартфона у меня нет, потому что они редко нужны, а стоят немало. На бумаге же я вывожу каракули так, что сам потом их разобрать не могу. Понял, что и фотографировать всё-таки надо, хоть я этого и не умею делать.</p>
<p>Спасибо тем, кто комментировал. Ещё раз спасибо тем, кто имел со мной дело в США, особенно моей сестре. Её старания не прошли даром, как видите &ndash; я был полон впечатлений аж на 37 выпусков. Кстати, это смешно, но постов на самом деле было 36, потому что 18-й я случайно проворонил.</p>
<p>Ну и наконец: что мне больше всего понравилось? Six Flags, Чикаго, Рик Вилкокс и стейк в Grand Lux Cafe.</p>
	