Id: 4df3cdb6-31c7-4c45-a8e0-02e3b9c8f4af
Title: "Европеана"
Published: "2008-11-23"
Slug: "2008-11-23 Европеана"
-
<p>
Как я уже недавно упоминал, наша еврокомиссия нас бережёт. И лелеет. Вот, недавно сделала огромный онлайн-архив общедоступного цифрового контента под названием Europeana. То есть как бы библиотека. К сожалению, европейские бюрократы так же плохо понимают современные реалии, как и прочие бюрократы. Библиотека не выдержала наплыва посетителей и <a href="http://webplanet.ru/news/service/2008/11/21/comments/europeana_failed.html">упала</a>. А ведь сейчас даже ребёнок знает, что такие сервисы, рассчитанные на миллионы посетителей, надо после закрытого бета-тестирования открывать в режиме бета-тестирования по приглашениям. И только убедившись, что всё работает как следует, и легко выдерживает постоянный прирост посетителей, открывать бету для всех. И уже через месячишко-другой после этого объявлять на всю планету по ТВ и в интернете, что проект открылся. Можно даже с помпой торжественное открытие сотворить.
</p>
 
<p>
По-моему, всё вышеперечисленное настолько очевидно, что даже еврочиновники могли бы сообразить. Но нет, ведь для них интернет ещё не естественен с детства, как для нового поколения европейцев.
</p>

	