Id: afbcd669-ca68-44aa-ac77-dbfd86610a8c
Title: "Большой адронный коллайдер не запустили"
Published: "2008-05-16"
Slug: "2008-05-16 Большой адронный коллайдер не запустили"
-
<p>
. . . а жаль.
</p>
 
<p>
Запустят через 4 месяца.
</p>

	