Id: 84a9b263-cd05-4f1a-868c-8b722979130d
Title: "Крит 22 - Возвращение"
Published: "2008-10-21"
Slug: "2008-10-21 Крит 22 - Возвращение"
-
<p>
Как это не удивительно, но рассказ подошёл к концу. Да, мы были на Крите всего неделю, и большей частью валялись на пляже, поэтому рассказывать осталось недолго. Фото будут из неопубликованных до того Таниных, потому что заполучил их я лишь недавно.
</p>
 [more text=Читать про  прощальное злоупотребление алкоголем, обратный перелёт и бесcмысленный выбор лучших впечатлений] 
<p align="center">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3537_thumb.jpg" border="0" alt="DSCN3537" title="DSCN3537"  >Садовая дорожка вокруг здания отеля. Наверняка такая штука имеет специальное название, но я его не знаю
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3538.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3538_thumb.jpg" border="0" alt="DSCN3538" title="DSCN3538"  ></a>Водная гимнастика. Обратите внимание – справа факир в роли тренера
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3540.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3540_thumb.jpg" border="0" alt="DSCN3540" title="DSCN3540"  ></a>Расслабон
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3545.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3545_thumb.jpg" border="0" alt="DSCN3545" title="DSCN3545"  ></a> Вид на внутренний двор после холла. Здесь вечерами сидят богатенькие – те, кто покупает платные коктейли в баре
</p>
 
<p>
После возвращения из байк-тура я немного почитал в номере книжку, сполоснулся под душем и пошёл в ресторан. Там употребил прощально ужин как следует, вкусив побольше арбузов напоследок. Хотелось пить, а лимонад достал сил нет как, поэтому пришлось всё-таки налечь на вино. Я сидел в одиночестве, потому что соратники к тому времени уже поужинали, и приканчивал бокалы один за одним, выдув целый литр. Спешить мне было некуда, рядом сидела пара красивых французов – мужчина и его жена. Я хотел было уже к ним поприставать (NOT GAY), но я местами такой зануда, что даже в пьяном виде не хочу надоедать людям. Поэтому я просто сидел и наслаждался снующими туда-сюда официантами, белоснежными скатертями, тем, что хоть и вечер, сижу я на улице, но тепло и светло. И всё это под французский язык в качестве музыкального сопровождения. В общем, смотрел по сторонам, проникался критским расслабонным менталитетом, и ничего мне не надо было.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3546.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3546_thumb.jpg" border="0" alt="DSCN3546" title="DSCN3546"  ></a> Фото получились хорошие =&gt; никогда не покупайте фотик-ультракомпакт, как у меня
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3548.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3548_thumb.jpg" border="0" alt="DSCN3548" title="DSCN3548"  ></a> Машин обычно поболе, но места всем хватает
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3552.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3552_thumb.jpg" border="0" alt="DSCN3552" title="DSCN3552"  ></a> У меня в руках – вкусное фрапе из специальной кофейни. В нагрузку к фраппе дали бутылку воды – как положено
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3555.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3555_thumb.jpg" border="0" alt="DSCN3555" title="DSCN3555"  ></a> Фонтаны ночью святятся
</p>
 
<p>
Сидел я практически до закрытия ресторана. Потом пошёл к пляжному бару, нашёл моих fellow путешественников и продолжил пребывать в состоянии нирваны, усугубляя его дополнительными вливаниями белого вина. Сидели мы впятером, потому что Андрюха где-то нашёл русскую девушку, отдыхавшую на Крите в одиночестве. (Мы уроды забыли его имя, © группа 2h company). Хоть я был в возвышенном состоянии духа из-за более чем литра выпитого вина, не мог не заметить, что за бассейном слева, где мы обычно тусили и смотрели на море, находится огромная компания местных, которые что-то бурно справляют. Потом я заметил управляющего отелем, того самого, который всё контролирует. Рядом с ним находился человек в костюме и коляска с ребёнком. Пьяному море по колено, поэтому я подошёл спросить, что празднуют. Таня, несмотря на то, что обычно довольно пробивная, периодически меня останавливает, когда думает, что меня заносит. Но тут не успела, а может и не намеревалась. Здесь могла бы быть захватывающая история, как я уволок всех в бассейн, но ничего такого не произошло – мне просто сказали, что празднуют кристины. I’m not that kind of man, может оно и к лучшему.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3566.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3566_thumb.jpg" border="0" alt="DSCN3566" title="DSCN3566"  ></a> Хм, то ли хозяева расточительно тратят воду, то ли у Таниного фотика задрана насыщенность
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3573.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3573_thumb.jpg" border="0" alt="DSCN3573" title="DSCN3573"  ></a> К озеру ведёт сверхкрутая улочка
</p>
 
<blockquote>
	 
	<p align="center">
	<a href="/files/blogengine/Writer/22_11BA5/DSCN3578.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3578_thumb.jpg" border="0" alt="DSCN3578" title="DSCN3578"  ></a>Тень мешает композиции. Мешает ей стать слишком гламурной
	</p>
</blockquote>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3579.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3579_thumb.jpg" border="0" alt="DSCN3579" title="DSCN3579"  ></a>Оказывается, были на озере и белые гуси
</p>
 
<p>
Русская девушка покинула нас первой, потом довольно быстро свалили Таня с Сергеем в надежде поспать. Мы с Андрюхой ещё поболтали и всякой философской ерунде, да и пошли спать, потому что в два ночи был автобус на самолёт. Поспать мне толком не удалось ни в номере, ни в автобусе, зато я проснулся без будильника и разбудил Андрея. А в аэропорту у меня уже началось похмелье, и я сам не знаю, как достоял в очереди. Чемодан мой весил 27 кг при положенных двадцати, потому что был набит оливковым маслом, вином и специями. Критяне, впрочем, на расслабоне пропустили – может, потому, что посчитали его нам на двоих с Андреем. Андрей и Таня забыли выложить всякие там зубные пасты в чемодан, и им пришлось выкинуть в мусорник, ибо жидкости ЕС в салоне возить не даёт. Как ни странно, одну зубную пасту Андрей при этом забыл выкинуть, и её конечно не нашли. Да и не искали - очень надо критским таможенникам проверять, что туристы везут обратно на родину.
</p>
 
<p align="center">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3587_thumb.jpg" border="0" alt="DSCN3587" title="DSCN3587"  >Номер с видом на крыши
</p>
 
<p align="center">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3589_thumb.jpg" border="0" alt="DSCN3589" title="DSCN3589"  >Номер в видом на овец
</p>
 
<p align="center">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3593_thumb.jpg" border="0" alt="DSCN3593" title="DSCN3593"  >&nbsp;&nbsp; Вид на море и дорогу к пляжу
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3694.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3694_thumb.jpg" border="0" alt="DSCN3694" title="DSCN3694"  ></a> Таня настаивала, чтобы я привёл фотку машины, ведь “она нас не подвела”
</p>
 
<p align="left">
В самолёте я провернул операцию, обратную комбинации Андрея при вылете – сел на его место около окна. Пользы особой мне это не принесло – вид частично загораживало крыло. Хорошо хоть на нём была надпись “Тут не ходить”, хоть какое-то развлечение. А по прилёту в Ригу нас и вовсе встретил обычный прибалтийский дождь. Какой-нибудь скучный отличник написал бы, что его это, как ни странно, обрадовало, потому что надоела критская жара. А я напишу, что меня это обрадовало, потому что я люблю дождь. Тоже довольно скучно, но по крайней мере это другой унылый штамп, правильный.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3710.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3710_thumb.jpg" border="0" alt="DSCN3710" title="DSCN3710"  ></a> Ядрёный мотороллер тоже не подвёл
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3714.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3714_thumb.jpg" border="0" alt="DSCN3714" title="DSCN3714"  ></a> Гергуполис, очевидно. Я тут не был
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3718.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3718_thumb.jpg" border="0" alt="DSCN3718" title="DSCN3718"  ></a> Сделать оттенок потеменее, и станет похоже на Норвегию
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/22_11BA5/DSCN3728.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/22_11BA5/DSCN3728_thumb.jpg" border="0" alt="DSCN3728" title="DSCN3728"  ></a> Даже на парковке отеля целый сад
</p>
 
<p>
В любом случае, пришла пора подводить итоги. На Крите замечательно. Хорошо бы туда на полгодика – на велике объехать всё.&nbsp; Понравилось мне почти всё: и сидеть на пляже хорошо, и древние крепости хороши, и море с озером тоже. О том, что я посмотрел не всё, не жалею – глупо это, всё равно за неделю только бы надорвался, а увидел бы лишь крошечную часть крита, да и то как турист. А так я по крайней мере пообщался с новыми людьми в лице местных, Тани и Сергея, и даже выстроил очередную мифологическую теорию про расслабон – хорошо когда есть куда подгонять факты. Сейчас прибежит сестра, и со внушённым обществом потребления упорством насчёт спрашивать, что же всё-таки мне понравилось больше всего. Раз уж она хочет заведомо ложный ответ на некорректно поставленный вопрос, я постараюсь придумать. (Кстати, доктор Хаус часто так делает – даёт абсолютно произвольные ответы на заведомо бессмысленные вопросы).
</p>
 
<p>
Пусть будет таверна над Курной в байк-туре. Там очень красиво и спокойно, давно я такого чувства не испытывал.<br>
<br>
И да,&nbsp;на Крите мне понравилось. Мне вообще нравится всё новое и разнообразное. (Как ни странно,&nbsp;не всем так). Поеду ли я ещё куда-нибудь с all-inclusive - не знаю, зависит от обстоятельств.<br>
<br>
Жаль только, мир огромный, и даже если будешь ездить в две страны за год, всех не окучишь.</p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p>
</p>

	