Id: 9eab5c5e-a641-4928-a7a0-1d60e8f8d09f
Title: "Коллайдер"
Published: "2008-09-10"
Slug: "2008-09-10 Коллайдер"
-
<p>
Будет запущен завтра в 9.30 по времени CEST, то есть GMT+2, то есть практически латвийскому. Инфа со <a href="http://lhc-first-beam.web.cern.ch/lhc-first-beam/Welcome.html">спецсайта CERN</a>.
</p>
 
<p>
Транслировать будут &quot;Вести&quot;, Евроньюс и сам CERN <a href="http://webcast.cern.ch/index.html">через веб.</a> Начнётся трансляция в 9.
</p>
 
<p>
Если найдут бозон Хиггса (для чего всё затевалось), Стивен Хоукинг <a href="http://news.bbc.co.uk/today/hi/today/newsid_7598000/7598686.stm">проспорит сто долларов</a>.
</p>

	