Id: 72cff13f-61f5-435e-8c2f-6399c5fa0653
Title: "Крит – 3, Заселение в отель"
Published: "2008-09-28"
Slug: "2008-09-28 Крит – 3, Заселение в отель"
-
<p>
Итак, в отеле мы были уже около семи часов утра. Первым делом подошли к стойке зарегистироваться. Нам выдали формуляр и почему-то красную шариковую ручку, да ещё “текущую”. 
</p>
 
<p>
Что сразу впечатило и практически свалило с ног, так это портье. Не знаю, может быть правильнее говорить “дежурный администратор” или “служащий в приёмной”. Почему-то слово “портье” или неизвестно людям, или имеет негативную коннотацию. Поскольку я не знаю, что такое коннотация, скажу лучше “оттенок”, чтобы не попасть впросак. Кстати, что такое просак, я, как ни странно, знаю. Это вовсе не калька с английского PROZAC, хотя по смыслу подходит. Ведь прозак – это&nbsp; антидепрессант, а попасть в Prozac, тем самым, означает “попасть в весёлый дом”. Чем-то мне такое словотворчество напоминает деятельность писателя Сорокина с его книжкой “Голубое сало” – там тоже много всяких лаобаев было. А вот что такое просак на самом деле:
</p>
 [more text=Узнать, что такое просак, чем удивителен портье и почему туристы похожи на скот] 
<blockquote>
	 
	<p>
	<em><strong>Просак</strong> — станок для плетения верёвок и </em><a href="http://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%BD%D0%B0%D1%82"><em>канатов</em></a><em>. Представлял собой сложную сеть верёвок, тянувшихся от прядильного колеса до саней, где они скручивались. Станок настолько сильно скручивал верёвку, что попадание в него одежды, волос, бороды могло стоить человеку жизни.</em>
	</p>
</blockquote>
 
<p>
В любом случае, тот самый администратор славен был тем, что очень ловко и привычно манипулировал словами аж шести языков. Быть может,&nbsp; в хороших отелях туристического мира это обычное явление, но в Америке мне увидеть такого не довелось. Как известно, американцы представляют себе географию примерно так:
</p>
 
<p>
<a href="http://www.welfarestate.com/map/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/3HydramisPalace_12863/image.png" border="0" alt="image" title="image"  ></a>
</p>
 
<p>
Те, кто не безнадёжен, вот так:
</p>
 
<p>
<a href="/files/blogengine/Writer/3HydramisPalace_12863/image_3.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/3HydramisPalace_12863/image_thumb.png" border="0" alt="image" title="image"  ></a>
</p>
 
<p>
Зато те, кто совсем безнадёжен, не могут представить, что в других странах говорят не на английском. Как не печально, это не шутка: такое бывает.
</p>
 
<p>
Так вот, служащий за стойкой говорил с нами на русском. Понятное дело, подбирая слова, но зато понимал числительные, хоть и просил повторить по одной цифре.&nbsp; Таким же образом он общался на немецком – с немцами, французском – французами, английском – всеми желающими и снобами вроде меня, которым проще говорить всегда на английском, чем ломать голову, понимает ли твой собеседник русский. Понятное дело, что портье также говорил на греческом. Это 5 языков. Насчёт шестого не уверен, но я слышал ещё какой-то язык, который вроде бы не был греческим, а уж остальные перечисленные выше я как-нибудь отличу. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/3HydramisPalace_12863/IMG_0001.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/3HydramisPalace_12863/IMG_0001_thumb.jpg" border="0" alt="IMG_0001" title="IMG_0001"  ></a>Андрей. Это фото из аэропорта перед взлётом, но я про него забыл, поэтому оно будет здесь
</p>
 
<p>
Итак, портье сообщил нам, что номер освободится лишь к 12, а то и часу. Зато он нас окольцевал. Для тех, кто как и я, не в курсе – в отелях постояльцы по программе “всё включено”&nbsp; похожи на скот. Но не потому, что напиваются как свиньи каждый день, а потому, что постоянно носят клеймо в виде цветного браслета. Нужно это для того, чтобы персонал был в курсе, это этот важный белый господин может есть и пить сколько влезет. Панкоанархисты такое бы не одобрили – они даже штрих-коды на компакт-дисках не терпят, считая глобалисткой печатью дьявола, а тут и вовсе как раба, ленточкой помечают. С другой стороны, сразу видно, что ты человек серъёзный, гражданин первого класса, и тебя надо обслуживать без очереди. Двоемыслие какое-то, прямо по Оруэллу.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/3HydramisPalace_12863/IMG_0040.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/3HydramisPalace_12863/IMG_0040_thumb.jpg" border="0" alt="IMG_0040" title="IMG_0040"  ></a> Как ни поразительно, это единственная сохранившаяся фотография холла отеля
</p>
 
<p>
Нам выдали красные ленточки-браслеты с дырочками вдоль. Видели мы и людей с синими, что нас заинтересовало – неужели это русских отдельно помечают, чтобы быстро отличать подозрительных личностей от культурных европейцев? К сожалению, эта тайна осталась неразгаданной. 
</p>
 
<p>
Зато впоследствии мы узнали ещё два занимательных факта про браслеты: во-первых, наши стирались со временем. У меня, как особо нервного и любящего поплавать, за пару дней браслет стал розовым, а ещё через пару дней – практически белым. Андрею повезло меньше – его браслет окрасил его белоснежную курортную рубашку капельками крови. А во-вторых, в других отелях браслеты покрасивее – прозрачные и с названием.
</p>
 
<p>
Что ещё сказать? В холле отеля находились:
</p>
 
<ul>
	 
	<li>много кресел и диванов  </li>
	<li>столы с букетами из сухих растений и стеклянные инсталляции со всяким внутри  </li>
	<li>большой прозрачный пластиковый столбик для израсходованных батареек, заполненный ими на три четверти  </li>
	<li>дверь в бар при холле, открывалась она только в 11 дня  </li>
	<li>коридоры в два крыла отеля  </li>
	<li>центральный вход и выход во внутренний двор</li>
</ul>
 
<p align="center">
<a href="/files/blogengine/Writer/3HydramisPalace_12863/IMG_0039.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/3HydramisPalace_12863/IMG_0039_thumb.jpg" border="0" alt="IMG_0039" title="IMG_0039"  ></a> Уважаю отель – берегут природу, мать их
</p>
 
<p>
Двери выхода и выхода были открыты нараспашку – кондиционировался холл или нет, понять нельзя, но в нём вечно было жарко, хотя вроде и не так жарко, как на улице.
</p>
 
<p>
Рядом с холлом в коридоре также было два телефона и интернет-зал, но про него потом. Осталось только сказать, что чемоданы нам советовали кинуть прямо в холле около стойки; возможность того, что они исчезнут, портье даже как-то не рассматривалась. Оставьте в памяти вторую зарубку: вы ведь помните про первую: чувака, которого задержали в полиции и сразу отпустили? 
</p>
 
<p>
Они связаны, хотя и частично. Если у вас в голове так же много мусора, как у меня, и вам в голову приходит почему-то фраза: “Все критяне – лжецы”, поспешу вас успокоить: портье вовсе не задуривал нам голову, намериваясь сплавить наш багаж скупщикам краденого. Цитата эта – из известного парадокса, а я приведу выдержку из <a href="http://psi-logic.narod.ru/psi/lier.htm">длинного его описания</a>.
</p>
 
<blockquote>
	 
	<p>
	<em>Исходная (древняя) формулировка представляет собой рассказ о том, как некий Эпименид, уроженец острова Крит, в пылу спора воскликнул: "Все критяне - лжецы!". На что услышал возражение: "Но ведь ты сам - критянин! Так солгал ты или нет?". </em> 
	</p>
	<p>
	<em>Если предположить, что Эпименид сказал правду, то выходит, что он, как и все критяне,- лжец. А значит, он солгал. Если же он солгал, тогда получается, что он, как и все критяне,- не лжец. А значит, он сказал правду. </em>
	</p>
</blockquote>
 
<p>
А вот в каких чертах национального характера критян упомянутые мной случаи выражаются на самом деле, мы узнаем в следующих сериях.</p><p><br></p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p>

	