Id: aa5f66d8-0d96-4f7c-9939-e9a7a2ff1440
Title: "Крит – 14, Секретные козлы НАТО"
Published: "2008-10-10"
Slug: "2008-10-10 Крит – 14, Секретные козлы НАТО"
-
<p>
Поглазев на древние облезлые стены, мы засобирались домой, чтобы успеть к ужину. К счастью, времени у нас было достаточно, поэтому я, как самый активный, подбил водителя в лице Сергея свернуть в сторону с национальной дороги, чтобы посмотреть, вдруг там что есть. Ксати, пользуясь моментом, объявляю Сергею большую благодарность за выполнение роли водителя: так вышло, что у нас с Андреем прав нет, а Таня по серпантинам предпочитает не ездить (между строк можно прочитать “ей Сергей ни за что не позволит, пока сам в соcтоянии вести”). 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/14_C2E0/image.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/14_C2E0/image_thumb.png" border="0" alt="image" title="image"  ></a> Фотка не имеет отношения к рассказу, но красиво. Автор <a href="http://surikus.livejournal.com/">surikus</a>, прилетевший на Крит чуть позже меня
</p>
[more text=Читать про нефть особой девственницы, смотреть запрещённые военные фотки секретных козлов] 
<p>
Кстати, так получилось, что в прошлом посте я не рассказал про оливковое масло, канистра которого в данный момент повествования лежит в багажнике (если перевести часы на день сегодняшний, то в канистре осталось лишь несколько децилитров на дне).
</p>
 
<p align="left">
Канистра была с надписью extra virgin olive oil, по-нашенски “оливковая нефть особой девственницы”. Это я уже потом сообразил, что особая девственница служит лишь для продажи нефти туристам-лохам вроде меня. Потому что разница видна, только если <strike>производить непорочное зачатие</strike> лить её в салат, а для жарки вполне хватило бы нефти обычной девственницы (virgin olive oil), а то и вовсе потрёпанной девки второго отжима.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/14_C2E0/image_3.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/14_C2E0/image_thumb_3.png" border="0" alt="image" title="image"  ></a> Что я могу сказать, <a href="http://surikus.livejournal.com/">surikus</a> фоткать умеет
</p>
 
<p align="left">
Раз уж я поднял эту благодатную тему, грех не рассказать, какое бывает оливковое масло.
</p>
 
<p align="left">
Спецорганизация&nbsp; <a href="http://www.internationaloliveoil.org/web/aa-ingles/corp/institution/aa-institution-ini.html">IOOC</a> страдает некоторым раздвоением личности, потому что у неё в заголовке на сайте написано “International Olive Council” (международный оливковый совет) а приветствии - “International Oil Council” (международный масляной совет). То ли это обычная критская безалаберность, то ли они маскируются под нефтяных владык, ведь как известно, Oil – это не только масло, но и нефть. Если уж на то пошло, то extra virgin это не только особая девствинница, но и “очень чистый”, отсюда пречистая богородица и все дела. В любом случае, несмотря на все эти жуткие проблемы с терминологией, организация умудрилась принять какие-то стандарты, хоть и довольно расплывчатые.
</p>
 
<ul>
	 
	<li><strong>Extra-virgin olive oil</strong> (EVOO)&nbsp; - оливки выжимают прессом без нагривания, кислотность не превышает 0.8%. Очищенного химически масла тут нет. Вкус отличный, разные регионы и урожаи отличаются так же, как это проиходит и в случае вина.  </li>
	<li><strong>Virgin olive oil</strong> кислотность меньше 2%, вкус тоже ничего.  </li>
	<li><strong>Pure olive oil </strong>смесь вышеперечисленного с химически обработанным маслом (refined).  </li>
	<li><strong>Olive oil</strong> то же самое, но кислотность не больше 1.5%.  </li>
	<li><strong>Olive-pomace oil</strong> смесь оливкового и растительного масла из отходов. Это то, на чём часто готовят в ресторанах – будут они тонны дорогущего оливкового масла на вас тратить, как же.  </li>
	<li><strong>Lampante oil</strong>&nbsp; масло для освещения, типа как керосиновые лампы на таком работали, пока керосин не изобрели.</li>
</ul>
 
<p>
Покупать высшие три сорта для жарки, как я уже говорил, особого смысла не имеет. Но я купил, 5 литров за 25 евро или около того.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/14_C2E0/image_4.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/14_C2E0/image_thumb_4.png" border="0" alt="image" title="image"  ></a> Я такого не видел, но раз <a href="http://surikus.livejournal.com/">surikus</a> сфоктал, значит есть
</p>
 
<h5>Производители масла, кроме классификации <strike>OOXML</strike> простите, заработался, IOOC, лепят на канистры тщательно продуманные маркетологами фразы. Но я раскрою вам все их тайны!</h5> 
<ul>
	 
	<li><strong>"100% Pure Olive Oil"</strong> (100% чистое оливковое масло) – обычное масло посредственногго качества, потому что всё, что лучше, имеет надпись virgin или extra virgin.  </li>
	<li><strong>"Made from refined olive oils"</strong>&nbsp; (из переработанных масел) означает, что был применён процесс refining’а, то есть улучшения с помощью температуры и химических веществ.  </li>
	<li><strong>"Light olive oil"</strong> (лёгкое оливковое масло) – то же самое, но в процессе улучшения был убран сильный вкус. Калории не меняются, потому что в любом оливковом масле их около 120 на столовую ложку. Много, да: потому-то и можно заливать в бак вместо бензина.  </li>
	<li><strong>"From hand-picked olives"</strong> (из собранных вручную оливок) – машина собирает хуже, понятное дело.  </li>
	<li><strong>"First cold press"</strong> (первого холодного отжима) – горячий отжим меняет химию оливок. А первый – самый нежный, как известно. Правда, такое масло кипит при 100 градусах вместо 200-300 следующих отжимов, что для кулинарии может быть наоборот, хуже. (Extra)Virgin Olive Oil может быть не первого отжима, тут противоречия нет.  </li>
	<li>Масло на самом деле может быть смесью масел из нескольких стран, закон позволяет сильно преувеличивать: называть масло итальянским, если такового там всего 10% </li>
</ul>
 
<p>
Итак, про масло выяснили, так что продолжим про горы. Свернув с большой дороги, мы стали катить по всяким маленьким, причём докатились до такого, что машина еле пролезала между стен глинобитных хижин (я не знаю, что это такое, но звучит круто, и вообще явно родственник критским баракам). Я вообще вёл нас на мыс, тот самый, что так хорошо виден из нашего отеля. Теперь я захотел на него заехать и осуществить обратную операцию: ведь известно, что если долго всматриваешься в мыс, то мыс начинает всматриваться в тебя.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/14_C2E0/IMG_0314.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/14_C2E0/IMG_0314_thumb.jpg" border="0" alt="IMG_0314" title="IMG_0314"  ></a>Край мира&nbsp; 
</p>
 
<p>
Как ни странно, план удался: с большим трудом, по рассыпающейся обрывистой дороге, но мы добрались. Результатом, правда, стало то, что я наступил на колючку: а они на Крите очень противные, даже если вытащить, исцарапанная нога продолжает болеть. Зато!
</p>
 
<p>
Мы сфотографировали то, что нам, а тем более вам, видеть не положено. Мы сфотографировали секретное оружие НАТО! Им оказались специально выдрессированные козлы! Именно так. Дело в том, что когда мы доехали до самого конца дороги, там ничего не было кроме козлов и знака “секретный&nbsp; объект, фотографировать запрещено”. Рискуя здоровьем и лишением столь тяжко заработанного еврогражданства, я всё-таки решился совершить противозаконное деяние и сфоткать козлов. То, что я об этом рассказываю, ума мне конечно не прибавляет. Но что только не готов вытерпеть художник ради искусства!
</p>
 
<p align="center">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/14_C2E0/IMG_0316_thumb.jpg" border="0" alt="IMG_0316" title="IMG_0316"  >Самый-самый конец оконечности мыса. За фото будки мне светит срок
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/14_C2E0/IMG_0319.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/14_C2E0/IMG_0319_thumb.jpg" border="0" alt="IMG_0319" title="IMG_0319"  ></a> Секретные козлы блока НАТО
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/14_C2E0/IMG_0322.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/14_C2E0/IMG_0322_thumb.jpg" border="0" alt="IMG_0322" title="IMG_0322"  ></a>
</p>
 
<p align="center">
Секретные козлы НАТО
</p>
 
<p align="left">
Я раскрыл их тайну: они питаются камнями, и потому составляют ценнейший ресурс на случай войны, потому как чего-чего, а камней на Крите в избытке.
</p>
 
<p align="left">
После некоторых непродолжительных мучений по выезду из узеньких серпантинных дорожек мы вернулись на нац.шоссе, и к восьми часам вечера уже были в родном отеле.<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;</a></p><p align="left"><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left"> 
</p>

	