Id: a5683cdd-12c9-467b-a3d6-32cf093f772d
Title: "США - 23, Сеть супермаркетов Woodman's и про еду, часть 1"
Published: "2008-07-22"
Slug: "2008-07-22 США - 23, Сеть супермаркетов Woodman_s и про еду, часть 1"
-
<p align="left">
Я продолжаю радовать вас навороченными лингвистическими конструкциями и художественными средствами. В заголовке, чтобы вы не подумали плохого, вовсе не речевая ошибка, а скорее анаколуф. Поскольку из читающих эти строки смысл этого слова знают лишь <a href="http://phoneme.livejournal.com">phoneme</a>, да может быть <a href="http://ears_of_tin.livejournal.com">ears_of_tin</a>, разоблачать мои байки опять некому. [довольно потирает руки].
</p>
 
<p align="left">
Между всеми нашими туристическими пертурбациями мы нашли время посетить супермаркет <a href="http://www.woodmans-food.com/">Woodman's</a>, где когда-то кассиром работала моя сестра. С тех пор она стала бухгалтером на службе доброй мегакорпорации, которая спасает людей от страшных болезней. И такое бывает. Если не верите, правильно делаете - спасать-то она спасает, но лишь тех, у кого есть страховка. Каковой в США не имеет около четверти населения. Вообще, американцы склонны считать свою медицинскую систему худшей в мире, из-за всей этой байды со страховками и жуткими ценами. Но по-моему, каждая нация так считает, даже те, у кого медицина бесплатная и неплохая, вроде канадцев или англичан.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/23Woodmans_13F2B/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/23Woodmans_13F2B/image_thumb.png" border="0" alt="image"  ></a><br>
Логотип с яблоком
</p>
 
<p align="left">
&nbsp;
</p>
<div class="ljcut">
<p align="left">
Вудманс, понятное дело, был основан в 1918 мясником по имени Willard Woodman, то есть Виллард Плотник. Весело наверное ему было представляться&nbsp; людям - Виллард Плотник, мясник - путаница та ещё.&nbsp; Его сыновья расширили дело до 12 магазинов в Висконсине и северном Иллинойсе. Кстати, я всё забываю сказать - радость гиков, кандидат в президенты от демократов Барак Обама является сенатором от штата именно что Иллинойс. Всё, с этим покончено, с чистой совестью могу продолжать. А продолжать есть про что.&nbsp; 
</p>
 
<p align="left">
Хоть это и может показаться вам странным после всех звериных оскалов капитализма, что мы наблюдали, Вудманс является редким примером не злобной корпорации, а напротив даже, нормальной компании, которая действительно старается строить бизнес культурно и непротивно. Конечно, идеализировать Woodman's не стоит, но тем не менее. 
</p>
 
<p align="left">
Во-первых, обратите внимание на то, что вместо лозунга стоит под логотипом. Надпись "Employee owned" означает что компанией владеют сотрудники. То есть в 1990 году наследники Вилларда Вудмана продали акции компании своим же сотрудникам, что не является таким уж редким явлением. В технологических стартапах, то есть молодых компаниях, куда надо привлекать лучших молодых сотрудников, бурлящих идеями и горящих энтузиазмом, такое практикуется повсеместно. Причём везёт не только программистам и дизайнерам. Так, секретарша YouTube в момент продажи последнего Гуглу за 1.6 млрд долларов, владела что-то около процента акций, и получила соответственно практически 16 миллионов долларов. Хорошо быть секретаршей, главное знать, где. Вот и Вудмансе, даже новым сотрудникам могут выдать сколько-то акций,&nbsp; хоть количество и будет совсем смешным. С другой стороны, в мегакорпорации, где теперь работает моя сестра, акции тоже выдают, так что это ещё не показатель благости.
</p>
 
<p align="left">
Во-вторых, Вудманс платит работникам сильно больше минимума и обеспечивает их, в отличие от Волмарта, пресловутой страховкой, без которой вам даже первую помощь могут не оказать, хоть и обязаны.
</p>
 
<p align="left">
В-третьих, компания не ведёт дорогостоящих рекламных компаний. Цены низкие благодаря "сарафанному радио" и концепции "магазина-склада" большой площади и очень больших объёмов закупок.&nbsp; К несчастью, в этом есть и минус - товар в магазине продаётся тот, который дешевле согласился продать поставщик, а не тот, к которому привык покупатель. Товары могут исчезать и появляться в разное время по мере того, как меняются поставщики, которым выгодно сотрудничать с разными сетями в разных условиях рынка. При этом качество может варьироваться.
</p>
 
<p align="left">
Обычно качество продуктов в Вудмансе неплохое. Все овощи и фрукты очень большого по нашим меркам размера - прямо-таки мутанты. Разумеется, латвийские домохозяйки и сочувствующие сразу закричат о "жуткой химии". В чём-то они правы: там, где растят эти овощи, явно используется НОТ (научная организация труда), горы удобрений и пестицидов. Вполне возможно что часть из продаваемого составляют генномодифицированные продукты, в Америке весьма распространённые, в отличие от Европы, где они часто и вовсе запрещены. С другой стороны, это одна из важных причин, наряду с большим спросом, почему в США всё так дёшево. 
</p>
 
<p align="left">
Что ещё познавательного можно рассказать про Вудманс? 
</p>
 
<p align="left">
Например, такое. В Волмарте продукты в пакеты складывает кассир, благодаря турникетоподобной вертушке, но которую они навешаны. В Вудмансе в пакеты складывает спецчеловек. Это потому, что дешевле поставить такого человека, чем открывать новые кассы из-за очередей, появляющихся из-за того, что покупатели ворон считают, вместо скоростного складывания своего скарба в кульки. Последние, кстати, бывают двух видов - обычные пластиковые и экологичные бумажные, но почему-то без ручек. У нас таковые с ручками, так что это достаточно странно. Впрочем, американцам, которые везут пакеты до парковки в тележке и потом перекладывают их в багажник, ручки ни к чему. Оба вида пакетов выдают бесплатно, что при огромных объёмах покупок вполне оправданно. Сестра, когда работала кассиром, видела один раз десять тележек у одного человека, и пробивала чек больше чем на тысячу долларов. Некисло закупаются, да?
</p>
 
<p align="left">
Для быстрых покупок предназначены кассы самообслуживания, где ты сам сканируешь вещи и сам расплачиваешься дебетной картой. Причём подпись ставится на электронном табло! А мне, когда&nbsp; я делал Даугавпилсский марафон, говорили что подпись никогда не отомрёт, потому что её нечем заменить. Наивные люди - вот уже и подпись электронная, да ещё и в простом супермаркете, не за горами и биометрическая идентификация и цифровая подпись. Внимательные читали не станут обращать внимание на это лирическое отступление, а спросят, случайно ли я употребил слово "дебетная". Нет, не случайно. 
</p>
 
<p align="left">
Дело в том, что в рамках экономии ваших же средств Вудманс до 2004 года вообще платёжные карты не принимал, а с 2004 стал принимать только дебетные, поскольку там не такие грабительские отчисления. Если вы не в курсе, мегакорпорации платёжных систем - одни из худших в мире. Они берут деньги со всех - и с продавцов и с покупателей в виде платы за карту. Причём владеют этими мегакорпорациями сообща мегабанки. Ещё бы, стали бы они терпеть вымогательство от третьих лиц, если можно заняться этим прибыльным делом самим. Это примерно как в фильме There Will Be Blood (Нефть), где нефтяник спрашивает мегаконкурентов, когда они понизят тариф на перевозку по железной дороге. На что ему отвечают, что это не их рук дело, а железнодорожных компаний. Главный герой суровым и презрительным тоном отвечает, что эти самые конкуренты и владеют ж/д компанией, на что последним возразить нечего. Так что капитализм всегда был устроен одинаково, ничего, несмотря на информационную эпоху, не изменилось.
</p>
</div>
<p align="left">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	