Id: ecb8981d-320f-4a41-a8e5-7957856e5e58
Title: "Про флеш и топ4топ"
Published: "2008-01-18"
Slug: "2008-01-18 Про флеш и топ4топ"
-
<p>
Сейчас везде пишут про такой сайт, у которого в названии цифра 4 в середине. 
</p>
 
<p>
Так вот. Сайты, целиком сделанные на флеше могут быть только в виде редких художественных проектов.
</p>
 
<p>
Тех, кто делает на флеше обычные сайты, я бы&nbsp; лишал права работать в разработке программ на всю жизнь. Потому что идиотизм такого уровня вылечить невозможно.
</p>

	