Id: 97946ad6-e2e6-48aa-97c2-cc35fe9de8a7
Title: "Ни о чём"
Published: "2008-02-18"
Slug: "2008-02-18 Ни о чём"
-
<p>
Я вчера написал красивый и вдохновенный пост. В нём было про то, как я обнаружил, что у меня месяц назад закончился паспорт, и как госдеп США всё население Латвии приравнивают к террористам. Но пост куда-то пропал, а девушки в посольстве сегодня по телефону были крайне милы и вежливы. Поэтому ничего прохого писать не буду. Всё хорошо, кроме того факта, что паспорт делают месяц. Или в 4 дня за 50$, но я очень жадный. Особенно, когда спешить в принципе некуда.
</p>

	