Id: 4ad04ab5-c522-48f1-82f3-b785946d75e4
Title: "Опять ЖЖ"
Published: "2008-03-24"
Slug: "2008-03-24 Опять ЖЖ"
-
<p>
И ещё хочу сказать. Мне на глаза попадались в течении жжизни несколько постов Галковского. По-моему, он никакой не философ, а просто замороченный болтун.
</p>
 
<p>
Вообще, чем больше человек претендует на высокое и умное, тем меньше у него это получается, как правило. А те, кто делают &quot;развлекательное&quot;, но технически тщательно и остроумно, вызывают лично у меня куда больше уважения. Например,&nbsp; очень люблю читать Дениса <a href="http://yatsutko.livejournal.com/">Yatsutko</a>,&nbsp; и смотреть его рисунки <a href="http://heffalumpf.livejournal.com/" title="http://heffalumpf.livejournal.com/">в http://heffalumpf.livejournal.com/</a>.
</p>
 
<p>
Впрочем, я технарь, что с меня взять.
</p>

	