Id: b10714a9-ab32-4b9a-977e-ab4a478a7227
Title: "США — 10, Ужасная правда"
Published: "2008-07-02"
Slug: "2008-07-02 США — 10 - Ужасная правда"
-
<p align="left">
Мне тут говорят, что в последних постах мало жареных фактов и великих разоблачений. Увы - удивительного и поразительного в США мало, и на столько постов не хватило. Поэтому я подолью масла в огонь с помощью срывания покровов (© Гоблин) и открывания&nbsp; глаз на ужасы американского тоталитаризма.
</p>
 
<p align="left">
Итак, страшный факт, но на самом деле Чикаго
</p>
<div class="ljcut">
<p align="left">
 выглядит вот так - 
</p>
 
<p align="center">
<a href="http://www.philipstraub.com/Superman_metropolis.htm"><img style="border-width: 0px" data-src="/files/blogengine/Writer/e6b12677720b_13EFA/image.png" border="0" alt="image"  ></a> 
</p>
 
<p align="left">
Всё, что я показывал до того - съёмки до 60-годов, когда америка ещё не окончательно превратилась в жаждущую мирового господства тоталитарную империю. А изображения моей сестры поверх фона - просто фотомонтаж!
</p>
 
<p align="left">
Насладились шокирующей правдой? Продолжим&nbsp; разоблачения и откровения!
</p>
 
<p align="left">
Кстати, вы в курсе, что в США 10 миллионов нелегальных мексиканских эммигрантов, живущих в постоянном страхе перед всеведущей эммиграционнной службой? Это они моют туалеты и калечатся в жутких условиях на заводах, и к тому же не имеют медицинской страховки, потому мрут от сальмонелл в помидорах, как мухи.
</p>
 
<p align="left">
<em>Согласно официальным данным Американского Центра по контролю и профилактике заболеваний (CDC), минимум 552 жителя 32 штатов и Округа Колумбия инфицируемы сальмонеллой - это на 350 случаев больше отмеченного ранее в 30 штатах ранее, <a href="http://foodnewstime.ru/newsFull.id-2716.html">&lt;. . .</a>&gt;</em>
</p>
 
<p align="left">
Фактически - маштабная эпидемия сальмонеллы, но от простых американцев это скрывают!
</p>
 
<p align="left">
Лишь в ресторане Grand Lux Cafe нам <strike>сальмонелл</strike> томатов не принесли, как мы не просили, мотивируя своё желание 1 поправкой к конституции и желанием умереть достойно. Тоталитаризм, что поделаешь - никаких помидоров жаждущим <strike>аутопсии</strike> эвтаназии. 
</p>
 
<p align="left">
После Океанариума мы сходили в Field Museum Of Natural History.&nbsp; 
</p>
 
<p align="center">
&nbsp;<a href="/files/blogengine/Writer/e6b12677720b_13EFA/IMG_5264.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/e6b12677720b_13EFA/IMG_5264_thumb.jpg" border="0" alt="IMG_5264"  ></a> <br>
Несчастная подделка под динозавтра - <a href="http://en.wikipedia.org/wiki/Sue_%28dinosaur%29">Сью</a>
</p>
 
<p align="left">
Как известно, динозавров никаких не было, это всё происки мерзких атеистов, жаждущих сбить истинно верущих американцев с пути истинного. Скелеты динозавров собираются из костей слонов, а то и вовсе отливаются из пластика на подпольных заводах.
</p>
 
<p align="left">
Даже если предположить, что динозавры каким-то неведомым образом существовали, Иисус несомненно на них ездил, что доказывает следующее практически документальное свидетельство из детской книжки-раскраски:
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/e6b12677720b_13EFA/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/e6b12677720b_13EFA/image_thumb.png" border="0" alt="image"  ></a>
</p>
 
<p align="left">
Кроме того, в тайном помещении музея можно узнать, что каждые 17 лет на срединные земли (Вискансиню, Иллинойс и прочее рядом) наступает страшное последствие незаконных экспериментов правительства по скрещиванию генно-модифицированной кукурузы (другой в США не едят) и пришельцев с Area 51. Это страшные цикады-убийцы, оставляющие за собой выеденные дочиста поля, а также скелеты скота и людей. Те немногие счастливцы, которым удалось выжить в герметичных туалетах-бункерах с метровой толщины стенами, уничтожаются правительством, чтобы они не могли поведать миру об ужасных последствиях преступных исследований Вашингтона.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/e6b12677720b_13EFA/IMG_5266.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/e6b12677720b_13EFA/IMG_5266_thumb.jpg" border="0" alt="IMG_5266"  ></a>&nbsp;<br>
Саранча-убийца
</p>
 
<p align="left">
После музея мы посидели на травке, выпили диетической пепси-колы (Алина) и съели мороженого (я). Мороженое было в упаковке, а не из наливательной машины, потому что последняя в киоске была сломана благодаря всеобщей разрухе и запустению, вызванной тоталитарным правлением. Мороженое было так себе, средненькое, наверняка и в этом виноваты проклятые тоталитарные капиталисты, не дающие развернуться волшебным поварам (наверняка из породый тех, кого нельзя называть), легко бы заткнувшим за пояс европейских!
</p>
 
<p align="left">
После этого мы решили забраться на высотную башню, коих в Чикаго две - Sears и Hancock. Хотели мы пойти на Сирс, ибо говорят, что оттуда вид лучше.
</p>
 
<p align="left">
Башня построена в 1973 и до 1998 была самым высоким зданием в мире - 442 метра. А вместе с антенной, день и ночь зомбирующей американцев на подчинение властям&nbsp; и любовь к фастфуду -&nbsp; 527. К сожалению всех американцев, уже известный нам по прежним постам шейх для своих бедуинов строит Burj Dubai высотой 624 метра, а с антенной - и вовсе 818. Догнал и перегнал своих учителей по потреблению, пустынный бродяга.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/e6b12677720b_13EFA/image_4.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/e6b12677720b_13EFA/image_thumb_3.png" border="0" alt="image"  ></a>&nbsp;<br>
Так выглядит Сирс - жуткая цитадель&nbsp; тоталитаризма посреди&nbsp; остатков былой красоты Чикаго
</p>
 
<p align="left">
К сожалению, в Сирс мы не попали - был очень большой ветер и её закрыли, потому что во время такого ветра вершину башни так колеблет туда-сюда, что пугливые американцы волнуются. Надо сказать, что лифты во всех небоскрёбах сверхскоростные - 108 этажей башни пролетают за десяток-другой секунд. Совсем не берегут уши граждан зверские капиталисты - закладывает как в самолёте.
</p>
 
<p align="left">
Около закрытой башни нас поймал (раз уж я стал разоблачать ужасы США, скажу это страшное слово) -&nbsp; НЕГР!
</p>
 
<p align="center">
<a href="http://flickr.com/photos/fadeddays/2609864816/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/e6b12677720b_13EFA/image_5.png" border="0" alt="image"  ></a>&nbsp;<br>
А это сфальсифицированная властями картинка
</p>
 
<p align="left">
Чёрный пролетарий совал нам открытки , но из того что он говорил, я понял только, что он танцевать и петь не для нас не будет, хотя мог бы. Это странно - мог и повеселить <strike>своих белых господ</strike> туристов.&nbsp; Как оказалось, весёлый негр собирал бабки для бедных, и для этого продавал открытки по грабительским ценам, а иногда и исполнял калинку-малинку по треованию. Вполне возможно, что наши денюжки он оставил себе, но это не страшно - в конце-концов, он вряд ли богат, так что он нам не врал - все деньги отправились бедным. В конце товарищ нам сказал, что вторая башня тоже скорее всего закрыта из-за непогоды. И наврал, хотя мы этого не узнали до следующего дня. Вполне возможно, что он был агентом мировой революции, призванный обманом туристов развалить американскую экономику, тем самым ускорив падение вавилона и приблизив торжество порядка растафари.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/e6b12677720b_13EFA/image_6.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/e6b12677720b_13EFA/image_thumb_4.png" border="0" alt="image"  ></a> 
</p>
 
<p align="left">
Разачарованные нежеланием негра играть для нас в баскетбол, мы пошли куда глаза глядят. Как оказалось, мои глаза глядели в <a href="http://www.starbucks.com/">Starbucks</a>, поскольку <a href="http://tema.livejournal.com/">tema</a> лебедев периодически рассказывает, что там иногда бывает хороший кофе, крайне редкий с его точки зрения в мире зверь. Поскольку у меня всегда две цели - испытать новые ощущения и попробовать эталоны качества разных явлений, ноги сами занесли меня в Старбакс. Для тех, кто не в курсе, Старбакс - сеть ориентированных на кофе кафе, как бы масленно это не звучало.
</p>
 
<p align="left">
В заказал эспрессо, поскольку его по мнению Самизнаетекого © трудно испортить. В старбаксе меня невнятно спросили, сколько мне короткого. Я сначала не понял чего короткого, но потом мне объяснили, что это четверть стакана и называется. Вот тогда я уже слово распознал - над ним шутил ещё Задорнов и означает оно один приём крепкого алкоголя, и, как теперь оказалось, кофе. Пишется так - shot, то есть буквально переводится "выстрел". А моя сестра тем временем пила фрапучино, представляющий собой разведённый водой сладкий кофейный напиток со льдом - на вкус ничего, но сильно на любителя - слишком жидкое и водянистое для кофе. Интересно, что некоторые свой день начинают с такого напитка. Учитывая летнюю жару, их можно понять&nbsp; - чего пить горячий кофе, если на улице +30. Правда внутри у всех заведений всегда кондиционеры, причём прямо-таки арктические по производимому холоду. Странно, но простуде это, как и бесконечные напитки со льдом, вовсе не способствует, по крайней мере в отношении меня. Что касается эспрессо, то американцы пьют его разведённым, я же пил как есть, и нельзя сказать, что испытал адский восторг. Эспрессо был очень крепкий, но что любопытно - противного кислого привкуса на языке, какой у меня обычно остаётся от кофе, почти не было.
</p>
</div>
<p align="left">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	