Id: 998849df-69c7-493c-9ea7-ca7d2e1ec113
Title: "США — 14, Жильё"
Published: "2008-07-08"
Slug: "2008-07-08 США — 14, Жильё"
-
<p>
Я тут в написании заметок немного выдохся, о чём сестра предупреждала - она сама всегда на половине застревает. Ну да упрямство у меня имеется, так что как-нибудь, но буду продолжать. Для разнообразия - пост без картинок.
</p>
 
<p>
После Medieval Times вы вернулись в Мэдисон, где мы жили у Лены. Раз уж она жаждет моих впечатлений, ей придётся поступиться прайваси. Если кто&nbsp; не в курсе, прайваси - это частная&nbsp; жизнь человека, в США и ещё в большей степени в Европе очень важная штука. В том смысле, что государство и другие люди про тебя знать должны как можно меньше. Если от некоторых людей и компаний ещё можно как-то скрыть, что ты страдаёшь энурезом и закупаешь виагру в огромных количествах, то государство и мегакорпорации знают про тебя буквально всё. Причём любой негр, работающий за минимальную з/п оператором может эти факты увидеть и поржать вместе с семьёй и друзьями над твоими мелкими грешками.
</p>
 
<p>
Так что ничего&nbsp; страшного не будет, если я немножко тут понаговорю. Живёт Лена в apartment, то есть съёмной квартире. Если кто ещё не знает штампа "одноэтажная Америка", самое время пришло. Большая часть американцев живёт в одноэтажных или двухэтажных домах, а вовсе не многоквартирных. Возможно это лишь благодаря тому, что машины есть у всех, а бензин [был] дёшев. Дом Лены - часть двухэтажного жилого комплекса, формой напоминающего что-то&nbsp; вроде буквы П, а может и Г.
</p>
 
<p>
Внутри буквы находится огромная зелёная лужайка, а прямо по центру - общий бассейн, посещение которого входит в стоимость аренды. Плавательная ёмкость овальной формы (это мне лень синоним искать) - это очень круто, если она в длину достаточна, чтобы туда-сюда наяривать <a href="http://slovari.yandex.ru/dict/bse/article/00039/18900.htm?text=%D0%BA%D1%80%D0%BE%D0%BB%D1%8C">кролем</a>. Эта ссылка установлена по требованию гипертекстовой полиции, настаивающей, что в каждом гипертексте должны быть гиперссылки, а не то это не вебдванольный интернет, а скучные олдскульные медия получаются. Но прочитать вы можете только первый абзац, поскольку он единственный из всех представляет интерес.
</p>
 
<p>
В бассейне комплекса я не был - когда мне приходило в голову, не было возможности, а когда была возможность, я про него забывал. Но издали мне показалось, что для длительных плаваний туда-сюда, что положено для оздоровления и наращивания мулкульное силы, бассейн не подходит - маловат.Что ещё есть в комплексе? В основном это коты. Конкретно у Лены живут 4 кота - два Лены с мужем и два моей сестры, а зовут их соответственно Джоуи, Сэм, Таша и Мигель, который был переименован из "Мика" сеструхиным бойфрендом. Соседи тоже не отстают, причём до такой степени, что выпускать котов на улицу чревато - вечно приходят подранные. Если же на котов вы скажете: "эка невидаль", слушайте про то, чего у нас нет.
</p>
 
<p>
 В комплексе есть мрачноватый подвал, где установлены профессиональные стиральные машины и сушилки "General Electric". Если кто о такой компании не слышал, или думает, что это просто какая-то местная тема, спешу разочаровать. General Electric - типичная мегакорпорация, производит очень дорогую бытовую технику, но этим свой интерес не ограничивает - в Латвии ей принадлежит кредитная компания GE Money.
</p>
 
<p>
Машины в этом жилом комплексе работают не бесплатно, как бывает в дорогих, а за доллар. Монетка - стирка, монетка - сушка. Связано это скорее с электричеством, которое не особенно дешёвое и котрого они едят прорву. Зато результат радует&nbsp; - если бельё после сушки аккуратно сложить, оно практически не мятое и его не надо гладить утюгом. Конечно, такой красоты, как после глажки, не получится, но для большинства людей такая схема - истинное спасение. Впрочем, особые любители приодеться имеют свою стиралку, сушку и утюг.
</p>
 
<p>
Что ещё скорее всего удивит любого латвийца - это планировка квартиры. Практически любая американская квартира имеет очень немаленьких размеров гостиную, часто совмещённую с кухней, которая отделена от гостиной скорее намёком, чем реально. Понятно, что такое решение имеет плюсы и минусы - но в целом выглядит просторно и оттого приятно. Тут наверное дело в том, что американская культура ориентирована на экстравертов и присутствие других людей в комнате мало кому мешает, а вот общению способствует. Впрочем, это слово надо поставить в условном наклонении, потому что всё общение напрочь уничтожается телевизором, который американцы смотрят в среднем уже 4 часа в сутки. 
</p>
 
<p>
Это вообще жуткая цифра, хоть я и сижу за компом ещё больше. С другой стороны, телевизор - наитупейшее возможное занятие, затем идёт чтение интернета, затем чтение художественных книжек, затем написание в интернет, а затем чтение профессиональных и документальных книг.&nbsp; Конечно, у людей хороших занятий много, а я перечислил лишь доступные и актуальные для нердов, то есть ботанов. Ещё американцы играют в разные забавные настольные игры, а карточные игры часто бывают со специальными нестандартными колодами, про это я чуток напишу потом.
</p>
 
<p>
Впрочем, вернёмся от искусства к бытовым вопросам. От запаха, идущего из кухни в гостиную более-менее спасает вытяжка. Ещё любой американский дом имеет посудомоечную машину, но в Лениной квартире она половинная, то есть размером в два раза меньше обычного бегемота. Что касается комнат, все они кроме гостиной обычно называются "спальнями" и квартира в описании всегда так и называется: "с двумя спальнями".&nbsp; Туалет всегда совмещённый, что для меня дико. Зато решается это проблема по-американски. Нужен отдельный туалет - заводите вторую ванную комнату, где он будет, как и ещё один душ. Как вы помните, американцы все проблемы решают экстенсивным путём, по крайней мере стараются.
</p>
 
<p>
Холодильник у американцев немаленький и гудит сурово - сразу видно, охлаждает кучи льда и полуфабрикатов в морозилке, а также забитый под завязку холодильный отсек. Про то, что есть из еды в магазине, я немного напишу в посте про Вудманс, а тут лишь&nbsp; скажу, что ел найденное в морозилке маложирное мороженое без сахара. Ощущение очень странное - вроде бы и сладко, и консистенция как у мороженого, и всякие примочки вроде орехов присутствуют, а всё равно чувствуешь, что тебя наебали. Другим словом это и не выразишь.
</p>
 
<p>
Кроме apartment, то есть арендуемых квартир, бывают в США и Condominium, короче - ко́ндо. Это то же самое, но когда ты владеешь квартирой. Обычно в комплексах, где квартиры сдают в аренду, купить их нельзя - потому что сдаёт компания, а не частные лица. В кондо, напротив, квартиру по понятным причинам можно не только купить, но и взять в аренду. Стоимость аренды квартиры зависит от района - живут ли в нём чёрные и латиносы, насколько хороши школы, близко ли от центра, есть ли всякие полезные вещи вроде супермаркетов и прочего.&nbsp; В Мэдисоне она составляет от 500 долларов в месяц (плохой район) и выше (если ошибусь, меня поправят).
</p>
 
<p>
Само собой, многие живут в пригороде, который вроде как уже и не Мэдисон, но всё равно ехать до центра 10 минут, потому что скоростная автострада проходит через город (такое не всегда бывает).
</p>
 
<p>
На окнах у Лены были внешние жалюзи и сетка против насекомых. Висконсин удивительно богат живностью, в том числе несокомыми. А один раз моя сестра пошла мусор выносить, поднимает крышку - а там ГЛАЗА. Это у них еноты озорничают. Умные, жуть - в кемпингах умеют даже молнию открывать. А тут мусорники огорожены деревянным забором с тяжёлой дверью, но не все закрывают, так зверь и пролез. Надо сказать, что мусорники в Америке&nbsp; с учётом ресайклинга, то есть переработки и повторного использования. Мусорников два - для того, что можно переработать и для того, что нельзя. Можно - стекло, некоторые пластмассы, картон и аллюминий. То, что всё складывают в один контейнер, не может не смущать. Но говорят, что на мусорном заводе отходы сортируют мексиканцы, а американцы ввиду лени и сложности вручную в разные мусорники класть разные типы отходов всё равно не стали бы. 
</p>
 
<p>
С другой стороны, ресайклинг тоже стал жертвой хайпа, то есть сумашедшей и неправдивой пропаганды. Перерабатывать часто невыгодно не только в финансовом, но и в экологическом смысле - ведь для переработки мусор надо собрать, рассортировать, очистить и обработать, что требует немало ресурсов - топлива, воды и электричества. А для того, чтобы ресайклинг можно было производить, нужно чтобы рядом&nbsp; с любой областью, откуда поступает мусор, был завод и он мог производить нужные людям товары, что далеко не всегда возможно. Истинную картину выяснить не просто - промытые мозги "зелёных" не способны адекватно анализировать, а конкурирующие группировки мегакорпораций будут врать из экономического интереса; обе группы активно лоббируют в сенате, и судя по всеобщему ресайклингу в Мэдисоне, зелёные в последнее время добились некоторых успехов.
</p>
<p>
<strong>UPDATE:</strong> Если вы всё-таки хотите посмотреть фото, сестра <a href="javascript:void(0);/*1215496181008*/">дала ссылку</a>.</p><p><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>

	