Id: e0da7f9c-4783-483b-80d2-2db8217481e5
Title: "DRM"
Published: "2008-07-31"
Slug: "2008-07-31 DRM"
-
<a href="http://www.zvuki.ru/R/P/18527/">http://www.zvuki.ru/R/P/18527/</a><br />
<br />
<em>Так или иначе крестовый поход пользователей против набившей оскомину аббревиатуры DRM 1 октября закончится: Yahoo Unlimited Music Store стал последним магазином, торгующим DRM-защищенной </em>музыкой. <br />
<br />
Это, конечно, чушь, но в целом прогресс радует. Не наврали аналитики: DRM, по крайней мере в музыке, быстро умирает. Туда ему и дорога.

	