Id: ceaad9df-45a9-423f-bdf5-f578422309b6
Title: "Про надмозгов"
Published: "2008-10-04"
Slug: "2008-10-04 Про надмозгов"
-
<p>
Включил один раз в одном месте русский перевод в серии доктора Хауса и подивился. Зачем они отсебятину несут, когда перевод элементарный? Веселее так, что ли?
</p>
 
<p>
Правда, когда я смотрю на английском, местами не успеваю одновременно следить за картинкой и осознавать смысл фраз. Я для этого на русский и переключил, чтобы понять &ndash; но мог бы с большим даже&nbsp; успехом повтор посмотреть, со второго раза понял бы. И уж точно не стал бы переводить &ldquo;break ban on sugar&rdquo; как &ldquo;съедаешь сахарницу&rdquo;,&nbsp; а &ldquo;chow down a bucket of frozen youghurt&rdquo; как &ldquo;съедаешь все йогурты вместе с ложками&rdquo;.
</p>
 
<p>
P.S. Как оказалось, этот блевотный перевод от телеканала &ldquo;Домашний&rdquo;.
</p>

	