Id: aa71569d-dcad-4429-a4e2-9b022ef86bc1
Title: "Чай"
Published: "2008-07-17"
Slug: "2008-07-17 Чай"
-
<p>
Приехали чаи из <a href="http://www.uptontea.com">Upton Tea Imports</a>, штат Массачусетс. Говорят, этот штат сейчас опять обогнал Калифорнию по технологическому развитию, но к чаю это отношения не имеет. Приехали 3 демо-набора (sampler) по 4 чая в каждом, а именно English Blend Sampler, Ceylon Sampler, Introduction to Oolong Teas. Обошлось всё не так уж дёшево - 70 долларов с доставкой, что составляет 20 долларов за 100 грамм - это цена очень крутого чая, а заказывал я обычные. Всё дело в том, что заказывал сэмплеры и в доставке.За наводку на магазин спасибо неизвестному комментатору с Лепры, самостоятельно я нашёл только малоизвестный <a href="http://www.grandtea.com">www.grandtea.com</a>, который будет следующим объектом для заказа.
</p>
 
<p>
Меня тут сестра спрашивает, зачем я вообще так делаю. Отвечаю. (Кошмар, с чего это я стал экслеровские речевые обороты копировать). Как иначе гарантированно купить хороший чай, чтобы установить себе планку качества и принять снобистский эталон? Upton Tea Imports - магазин явно отличный, по всем косвенным параметрам можно судить. У нас в Даугавпилсе спецмагазинов нету, да и не доверяю я местным. В Риге наверняка есть, но туда надо ехать и искать, и опять-таки доверия им нет - в Лавтии большей части до сих пор в сфере обслуживания и торговли совок. Местами получше, чем в России, местами похуже.&nbsp; Вон, Гришковцу в аэропорту &quot;Рига&quot; <a href="http://e-grishkovets.livejournal.com/42507.html">бутылки разбили</a>, хорошо хоть потом <a href="http://e-grishkovets.livejournal.com/42757.html">вице-президент извинился</a>. 
</p>

	