Id: 5d692f28-8899-4375-914d-40f40ca3903b
Title: "США – 35, интерлюдия"
Published: "2008-08-06"
Slug: "2008-08-06 США – 35, интерлюдия"
-
<p>
Мой грандиозный рассказ подходит к концу. Поэтому сегодня, перед окончанием, будет то, что я навспоминал, пока писал остальные посты.
</p>
 
<p>
Скажем, мы ходили в Wendy’s. Это тоже фастфуд, но там говядина свежая, а не замороженная, то есть как бы круче макдоналдса, но хуже Culver’s, хоть это всё и с потолка взято. Цены умеренные.
</p>
 
<p>
Я там купил double stacker, то есть гамбургер с двойной порцией мяса. На вкус – ничего, нормальный, ярко выражена сырность и жирность. Когда покупал, продавщица спросила, откуда я, потому что слышен акцент. На ответ: “Латвия” сказала, что не знает, что это. Парень-продавец в очках рядом сказал, что в Европе, одна из балтийских стран, оставшихся после распада СССР. Я удивился не на шутку, а продавщица сказала: “Yeah, he knows this kind of things”.
</p>
 
<p align="center">
<img style="border-width: 0px" data-src="/files/blogengine/Writer/66470a367c90_13162/image.png" border="0" alt="image" title="image"  >&nbsp;<br>
Девиз гласит: “Старомодные гамбургеры”. А лого всё равно адаптировано под вебдваноль.
</p>
  [more text=Читать про жорку, лингвистику и ответ на главный вопрос] 
<p>
Ещё, когда мы были в Wisconsin Dells, с утра ходили в buffet ака шведский стол Collosus Buffet. Так себе – кое-какие блюда ничего на вкус, но в целом посредственно. Забавно, что справа, где можно было курить, сидели негры и мы, а слева – белые. Сестре то, что кое-где в WD можно курить, было очень непривычно – в Мэдисоне везде нельзя. Кстати, уже лишь 20% американцев курят. Несколько десятилетий назад эта цифра была 40%, то есть курили почти все мужчины и многие женщины. В Европе смолят пока что больше – понятное дело, за счёт бедных стран вроде Латвии.
</p>
 
<p>
Потом мы ходили в кино, на нового Индиану Джонса. Билеты мест не имеют, стоят 9$. В будни мест много, билеты покупаешь прямо на входе, и при заходе внутрь зала их никто не проверяет. Кинотеатр был большой, с кучей залов, но это ему не помогло – экран всё равно выглядел так же, как у нас в Даугавпилсе - бледновато и с полосками помех. Кино про Индиану нормальное, шутки радуют, но как-то странно в конце действие продвигалось, и закончилось резко.
</p>
 
<p>
Кстати, русские поцтреоты не любят когда кто-то говорит про Россию “эта страна”, им мил вариант “наша страна”. Мол, первое дистанцирует говорящего, как будто он весь в белом, а страна – наоборот. Иногда это и вправду так, но часто это просто калька с английского “this country”.
</p>
 
<p>
Ещё я совсем забыл рассказать про такую классическую американскую закуску, как beef jerky, то есть говядина, подвергнутая нарезанию, маринованию, солению и высушиванию. Вся это операция целиком называется вялением, но вполне возможно, что американский процесс от нашего отличается, например, добавлением разнообразнейших специй. Звучит название продукта как “биф джёрки”, поэтому я в шутку называю её “жоркой”, ведь это созвучно известно какому слову. Бывает она, как чипсы – миллиона разных видов. Даже и из других видов мяса, включая не только свиную, но даже и крокодилью. Пакеты размером огромные, правда стоят 9$. Жорка – штука невредная, умеренно калорийная, очень питательная и полезная культуристам, потому что состоит в основном из белка. Правда, пресловутого глутамата американцы сыпят щедрою рукою, если только не покупать пресловутый organic/all natural. Всё равно я по ней скучаю -&nbsp; у нас вяленое мясо в пакетах продаётся только в Rimi, вкусов только три, оно дороже и на вкус хуже. Когда я покидал США, хотел привезти в Латвию пакетище жорки, но места в чемодане не было. Блюдо продают и в онлайне – вот, например, <a href="http://www.wildwestjerky.co.uk/shop.htm">английский магазин</a>, к нам шлют. Самодельную жорку, без добавок, продают и на ибее.
</p>
 
<p align="center">
<a href="http://www.jacklinks.com"><img style="border-width: 0px" data-src="/files/blogengine/Writer/66470a367c90_13162/image_3.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Дорогая жорка в пакете.<br>
Несомненно, без надписи “лучшие кусочки” обойтись никак нельзя
</p>
 
<p>
Раз уж я заговорил о еде, надо сказать, что те самые pickles, то есть консервированные огурцы, явно имеют связь с процессом pickling’а, то есть маринования. И ещё – в Даугавпилсе стали продавать тортильи, что крайне радует. Производит Santa Maria, на вкус – отличные.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/andreelau/2149549554/sizes/o/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/66470a367c90_13162/image_4.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Жорка без пакета
</p>
 
<p>
Лингво (который для познавания современных американский реалий в основном не годится)&nbsp; по поводу пиклзов открывает нам целую вереницу смыслов.
</p>
 
<blockquote>
	 
	<h5>pickle</h5> 
	<p>
	<img src='/files/FF090158326EC5306534426C976E9397.gif'  border="0" alt="" width="4" height="20" align="absmiddle"><img src='/files/C8318DF22679E8D75ADB8C5AE446619F.gif'  border="0" alt="" width="3" height="20" align="absmiddle"><img src='/files/A209A55978B0636E6E2EC9D39AE2E87E.gif'  border="0" alt="" width="9" height="20" align="absmiddle"><img src='/files/3A411A5F61956B5C3D8425703BDE891C.gif'  border="0" alt="" width="3" height="20" align="absmiddle"><img src='/files/6F1C5D752A1602EA7159F75166BC5AF2.gif'  border="0" alt="" width="8" height="20" align="absmiddle"><img src='/files/2742CE835F5036E038EF0B3E574A9706.gif'  border="0" alt="" width="3" height="20" align="absmiddle"><img src='/files/66314D8002215B55E7F3B014D2F3EE8D.gif'  border="0" alt="" width="4" height="20" align="absmiddle"><br>
	<strong>1.</strong> <em>сущ.</em>  
	</p>
	<p>
	1) рассол; уксус для маринада  
	</p>
	<p>
	2)  
	</p>
	<p>
	а) <em>обыкн.</em><em> мн.</em> соленье, маринад, пикули  
	</p>
	<p>
	б) соленые <em>или</em> маринованные огурцы  
	</p>
	<p>
	3) неприятное положение; плачевное состояние; сложная ситуация  
	</p>
	<p>
	I'm in no particular pickle at present. — Сейчас у меня, вроде бы, все в порядке.  
	</p>
	<p>
	I could see no way out of the pickle I was in. <em>(Stevenson)</em> — И я не видел никакого выхода из того жуткого положения, в котором я находился.  
	</p>
	<p>
	Ну и прочее.
	</p>
</blockquote>
 
<p>
По возвращении в Латвию меня все спрашивали и до сих пор спрашивают, не хочу ли я поехать жить и работать в США. Вопрос дурацкий, и вообще, почему спрашивающие сами туда не едут? Или они думают, что за две недели туризма можно понять что-то? Вот им анекдот.  
</p>
<blockquote>
	 
	<p>
	Помер как-то один мужик и попал в рай. Ну, сидит себе целыми днями на травке, ангелы вокруг носятся, прохладительные напитки подносят. Скукота. Тут подваливает парочка чертей, приехавших в командировку из ада. “Давай с нами”, — говорят. — “Там у нас весело, девочки развратные, спиртного полно, музыка играет. Поехали!” Ну, он согласился, черти ему визу выправили. Съездил. Все и вправду так. Девочки, выпивка, музыка. В общем, здорово. Сидит он и думает — чего ж я, мудак, в раю-то делаю? Пошел себе к Богу и подал прошение: так и так, прошу перевести меня в ад по собственному желанию. Ну, Бог по инстанциям его погонял, справки всякие заставил подписать, да и отпустил. И вот приезжает мужик в ад, а его прямо от ворот черти хвать — и на сковородку. Больно, блин! Горячо! Мужик вопит: “Вы чего??? А девочки? А выпивка? А музыка?” А ему черти ласково так и отвечают: “А ты, любезный, не путай туризм с иммиграцией”.
	</p>
</blockquote>
 
<p>
Так что я всем отвечаю, что Европа ближе, красивее и попасть туда куда проще – рабочий рынок многих стран для латвийцев открыт.  
</p>
<p>
Есть вопрос более банальный,&nbsp; но имеющий какой-никакой смысл: “Понравилось ли мне в США"? Его мне тоже задавали, и я отвечу.  
</p>
<p>
Отдыхать везде хорошо, и в США мне понравилось. Не уверен, что это понятно из моих постов, но это так. Другой вопрос, что я депрессивный тип, поэтому восторгов особых ждать от меня странно. Соединённые Штаты Америки – отнюдь не худшее место на земле, что бы вам телевизор не говорил. Разговоры про отсутствие “ума”, “культуры” и “традиций” обычно ведутся больными на голову америкофобами, коих полмира. Хватает там и того, и другого, и третьего, хоть в Европе всего и больше. Не стоит забывать, что Америка внесла самый большой из всех стран вклад в развитие науки, технологии и промышленности в XX веке, что мне несомненно импонирует. А экспортная массовая культура США, от который все так плюются, станет классической, как это было в истории уже не раз. Что касается еды, то она не так плоха, как ожидалось, напротив – есть и приятные сюрпризы, вроде сабвея, свежих овощей в пакетах, или вот даже и жорки.</p><p><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p> 
</p>

	