Id: 870219bb-9b83-4846-8615-8a163f578ef3
Title: "Крит – 19, Анимация"
Published: "2008-10-16"
Slug: "2008-10-16 Крит – 19, Анимация"
-
<p>
Как я уже говорил, анимация – это развлечения для постояльцев отеля, организованные специальными людьми. Анимация бывает дневная и вечерняя. Утром это гимнастика в бассейне, днём это спортивные игры вроде волейбола или стрельбы из лука. А вот вечером устраивается шоу на какую-то тему.
</p>
 
<p>
Я не помню, что в какой день было, поэтому просто расскажу, что за представления мы видели. Расписание можно было узнать на доске в холле отеля.
</p>
 
<p>
Первое –&nbsp; факир-шоу, причём произносят они это так, что легко ошибиться и понять как fucker-show. 
</p>
 
<p>
Факир сначала стоял на битых стёклах. Потом взял на руки девушку и встал на стёкла. Потом взял двух девушек – по штуке в каждую руку. И встал на стёкла. (Все фотки – Танины)
</p>
 [more text=Читать про факира из африки, волшебника с кроликами и живую музыку на русском языке] 
<p align="center">
<a href="/files/blogengine/Writer/19_11B1F/DSCN3560.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/19_11B1F/DSCN3560_thumb.jpg" border="0" alt="DSCN3560" title="DSCN3560"  ></a>Факир на стёклах с двумя девушками на руках
</p>
 
<p>
Потом позвал двух мужиков недохлой комплекции. Тут я заинтересовался: как же он сможет каждой рукой поднять по 100 кг, да при этом ещё и встать на стёкла. А хитрый факир вместо этого лёг на стёкла телом, а мужикам предложил встать себе на спину.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/19_11B1F/DSCN3561.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/19_11B1F/DSCN3561_thumb.jpg" border="0" alt="DSCN3561" title="DSCN3561"  ></a> Факир на стёклах с двумя мужиками на спине
</p>
 
<p align="left">
Покончив со стёклами, факир взялся за доски с гвоздями. Лежал сначала на одной, потом положил под ноги вторую, а на спину попросил встать то ли ребёнка, то ли девушку. В конце он взял несчастного ребёнка лет 10, и уложил его на стёкла вместо себя. Я сразу подумал, что он сейчас встанет на ребёнка, и мы увидим хоррор-шоу вместо факир-шоу. Но закалённый телом товарищ этого делать не стал, только очистил ребёнка от стёкол и отдал родителям. Ребёнок, насколько я смог заметить, не пострадал.
</p>
 
<p>
Всё это длилось довольно долго, и я подумал, что тут-то уже и конец шоу, но факир халтурить не стал, и продолжил отжигать, причём в самом прямом смысле. Он запалил два факела, стал танцевать и водить факелами по рукам и ногам. Понятно, что проходило всё это под псевдоэтнические мотивы aka world-music. А в качестве кульминации факир засунул факел в рот, схватил зубами, да так и держал секунд 20. При этом, понятное дело, ходил на руках и делал такое, что всякие граждане называют затасканным выраженьицем “волшебная пластика”.
</p>
 
<p align="center">
Вот, характерный пример:
</p>
 
<p align="center">
&nbsp;
</p>
 
<p align="center">
Hint: Этот человек и в самом деле не может стоять на ногах без костылей больше десятка секунд
</p>
 
<p>
Кстати, на следующий день я засёк факира разговаривающим с барменшей на английском, и поинтересовался, чего это он. На что кучерявый сообщил мне, что он прибыл на Крит то ли из Туниса, то ли из Танзании – в общем, другой африканской страны на “T” я не нашёл, а какую он называл, не помню. Гимнастику в бассейне тоже вёл факир – неудивительно, учитывая что ему нужна супергибкость и суперсила одновременно. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/19_11B1F/DSCN3539.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/19_11B1F/DSCN3539_thumb.jpg" border="0" alt="DSCN3539" title="DSCN3539"  ></a>За Таней с зелёным на голове стоит “Волейбол-старикан”
</p>
 
<p>
В следующий вечер перед нами выступал волшебник, ака фокусник. Мы уже думали, что опять факир вылезет, но появился пожилой дядюшка в очках, одетый во всё такое магическое. Показывал всё, как обычно бывает – кролики из шляпы, разноцветные платки неизвестно откуда и прочее такое. Помогали магу добровольные соратники из детворы, причём разного возраста – то 6 лет, то 10, а то и 14. А в конце-концов он и вовсе позвал тётеньку лет 60. Немецкие тётеньки до такого возраста сохраняются тётеньками, не становятся старушками. Показал, как отлично его гильотина в виде доски с отверстиями режет огурцы – по 5 штук за раз. Потом засунул свежую порцию огурцов в гильтину, а одновременно и тётенькину руку. Тётенька, надо сказать, пугалась, но держала оборону, то есть руку в дырке. В конце-концов маг рубанул гильотиной, огурцы порезал, а тётенькину руку, как ни странно, нет. Ничего такой фокус, особенно для того, чья&nbsp; рука в гильотине.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/19_11B1F/DSCN3703.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/19_11B1F/DSCN3703_thumb.jpg" border="0" alt="DSCN3703" title="DSCN3703"  ></a>Не по теме: Таня с Сергеем заказали какой-то навороченный коктейль в лобби-баре
</p>
 
<p>
Ещё пара вечеров была с живой музыкой – пели то местную попсу, то попурри из всякого, включая русское. Сильны критяне – персонал русский знает, певцы русский знают, вот разве что факир не знает.
</p>
 
<p>
Один раз был вечер национальной музыки – наряженные в критские национальные костюмы трое горцев и одна горская девушка отжигали под яростные местные мелодии. Потом стали тащить к себе и публику, обучая её всяческим коленцам и топотаниям. Публика оказалась обучаемой – простые движения повторяла не хуже горцев. В конце-концов на сцену вытащили ползала, и стали водить хоровод, периодически разбиваясь на пары. Андрюху тоже зацепили, и он из всех сил плясал на танцполе то с местными, то с братьями-туристами. Я стеснительный и косолапый, поэтому наблюдал со стороны и радовался – танцы были очень даже бодрые.
</p>
 
<p>
Ещё один раз был спецвечер ужина на улице, про это я уже писал в посте про ресторан.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/19_11B1F/DSCN3700.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/19_11B1F/DSCN3700_thumb.jpg" border="0" alt="DSCN3700" title="DSCN3700"  ></a> Таня сняла и ужин на улице, как оказалось. Это начало, позже понабегут жуткие толпы
</p>
 
<p>
Ещё частенько было mini-disco, то есть дискотека для детей. Она была до или после других анимаций. В отеле, кстати, есть и обычная дискотека – в подвале. Я там не был, но сомневаюсь, что там было много посетителей – не тот контингент у отеля. Были и танцы просто на сцене у бара – поп-музыку ставил универсальный диджей, используемый также для всех остальных анимаций. Один раз я видел, как на танцполе зверски отжигала русская барменша – интересно, им так можно, или тут она переборщила с расслабоном? 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/19_11B1F/DSCN3722.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/19_11B1F/DSCN3722_thumb.jpg" border="0" alt="DSCN3722" title="DSCN3722"  ></a> Таня и пальма
</p>
 
<p>
&nbsp;
</p>
 
<p>
Что из анимации впечатлило больше всего? Факир был отличный, фокусник неплох, хоть до <a href="/post/2008-07-29%20%D0%A1%D0%A8%D0%90%20-%2027%2C%20Wisconsin%20Dells">Рика Вилкокса</a> ему и далеко. Но тот – фокусник с мировым именем, а этот просто работяга. Национальные танцы&nbsp; отличные – выкладывались горцы на все сто. Сразу видно, что расслабон их не до конца поел, и в случае третей мировой супостату на Крит соваться не стоит. Вечер с барбекю тоже не подкачал.
</p>
 
<p>
Так что итоговая оценка анимации - 4+ из 5. Таков, впрочем, и рейтинг отеля.</p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p>
</p>

	