Id: ced990a5-f319-4478-b3e3-a333c92ed5c8
Title: "Домен"
Published: "2008-08-30"
Slug: "2008-08-30 Домен"
-
<p>
Только сегодня кандидат в президенты США от республиканцев Мак Кейн выбрал вице-президента по фамилии Palin, а домен impeachpalin.com уже занят.
</p>
 
<p>
Неужто сквоттеры вообще все возможные комбинации всех возможных кандидатов и действий по отношению к ним регистрируют заранее?
</p>

	