Id: 5b4b62c4-c49c-4820-9332-a1e68ef228a2
Title: "США - 15, Kohl's и одежда"
Published: "2008-07-11"
Slug: "2008-07-11 США - 15, Kohl_s и одежда"
-
<p>
Напишу немного про магазин одежды Kohl's.
</p>
 
<p>
Kohl's - понятное дело, сеть, но происхождения Висконсиновского, хоть и стала уже 23ей по размеру в США. Хотя начинала сеть с продажи продовольствия, сейчас там всякое для быта: одежда, мелкая техника и вещи для дома и семьи. Моя сестра не любит шоппинг, поэтому вместо неё была Карина, которая к нему относится строго наоборот. Карине большое спасибо за всё - подвоз, увоз, советы и терпение.
</p>
 
<p>
Читается название Kohl's как Колс, с некоторым призвуком. Сестра ещё удивилась, что я сразу правильно произнёс и не прочитал букву h, а я удивился тому, как можно её произносить в этом слове. Впрочем, я когда-то учил французский, а там буква h иногда не произносится, так что может только мне это очевидно. 
</p>
<div class="ljcut">
<p>
&nbsp;
</p>
 
<p>
В Kohl's на длинных рядах вешалок было много всякой одежды, но интересовали меня в основном куртки, кроссовки и штаны типа джинсы. В итоге я успешно нашёл куртку в разделе распродаж. Вообще распродажа понятие ёмкое - есть clearance а есть sale. Вывеска <strong>clearance</strong> говорит нам, что это остатки - будут висеть вечно, пока не купят. А табличка <strong>sale</strong> -&nbsp; что цены временно снижены, хватай, не то убежит. Куртка моя в обычных условиях стоила стольник, распродажная цена была 30$, а&nbsp; со скидкой Карины как завсегдатая вышло и вовсе около 25$, что для качественно сделанной куртки немного. Интересно, что товары в Kohl's и даже&nbsp; в Волмарте качества на вид хорошего, такого откровенного китайского г, как у нас, я не видел.
</p>
 
<p>
Моих любимых "резиновых" джинсов с Лайкрой (<strong>Lycra)</strong> , что в Волмарте, что в Колс почти не было - при том что у нас они продаются в любой торговой точке, несмотря на дороговизну. Я обычно ношу только такие джинсы. В Америке они называются stretching, то есть тянущиеся, что объясняет их основное отличие от обычных. По-моему, после таких обычные носить неудобно. В итоге я купил даже не джинсы, и брюки цвета хаки&nbsp; и такой же пояс. И ещё, понятное дело, шорты, потому что с собой ничего такого не привёз, а было жарко.
</p>
 
<p>
Что касается кроссовок, найти мои любимые Salomon в Колсе не удалось, пришлось идти в магазин со смешным названием Famous Footwear, то есть "Знаменитые Ботинки". Там насладился чудом прогресса - компом с сенсорным экраном, где за пару движений можно выяснить, какие бренды и модели есть в каталоге магазина. Жаль, там не было указано место, где они лежат на полке, но нельзя же требовать всего сразу - глядишь, и такое появится со временем. Что интересно, любимый Саломон был в четырёх инкарнациях, включая ту, что я ношу сейчас. После нескольких примерок их я в итоге и купил. И ещё одни - другого бренда, за приятное сочетание зелёного и коричневого цветов. Размер ноги для продукции Саломон по-американски у меня 10 - самый что ни на есть стандартный, соответствует европейскому 44 или 42.
</p>
 
<p align="center">
<a href="http://www.salomonsports.com/ru/#/footwear/footwear/sandals/techamphibian"><img style="border: 0px none " data-src="/files/blogengine/Writer/14KohlsSubway_13E9C/image.png" border="0" alt="image"  ></a>&nbsp;<br>
Salomon TechAmphibian, щёлкните для перехода на сайт Саломона
</p>
 
<p>
Любопытно, что первый раз я купил такие кроссовки в Даугавпилсском филиале велосети <a href="http://www.hawaii.lv/">Hawaii Express</a>, ничего о них не зная. Они там висят круглый год по цене со скидкой в 120$, а в США стоят максимум 80. Они фантастически хороши.
</p>
 
<p>
Во-первых, на часть сзади можно наступать, используя их как тапки, если лень надевать полностью.
</p>
 
<p>
Во-вторых, непонятно, как может быть лень, учитывая скоростную застёжку, которая фиксируется за 2 секунды.
</p>
 
<p>
В-третьих, крепление сзади (видно на фото) позволяет регулировать степень обхвата пятки.
</p>
 
<p>
В-четвёртых, они очень прочные - выдерживают многочасовые походы по пересечённой местности или постоянное ношение на протяжении года.
</p>
 
<p>
Вдобавок ко всему этому, лишь сейчас, когда я стал копать информацию для поста , узнал ещё несколько познавательных фактов.
</p>
 
<p>
В классификации производителя эти кроссовки называются Sandals, то есть сандали. В принципе, логично, учитывая дырочки для проветривания и заточенность ношения как тапок. Но я всё равно ношу их с носками (тем самым совершая непростительный с точки зрения моей мамы faux pas).
</p>
 
<p>
И самое интересное - кроссовки эти Water Shoe, то есть вполне носибельны под дождём. Можно ходить и по лужам, погружаясь по колено, и даже плавать прямо в обуви. Это стало для меня приятным сюпризом - а мог бы и догадаться, учитывая что называются они ТехноАмфибия.
</p>
 
<p>
После всего этого не удивительно, что в модельном ряду&nbsp; Саломона это самые продаваемые ботинки. Не верите моим дифирамбам - посмотрите <a href="http://www.altrec.com/salomon/mens-techamphibian-water-shoe">отзывы</a>. Там человек пишет, что носил их четыре года!&nbsp; 
</p>
 
<p>
После того китайского кошмара, в котором я всегда ходил, (я имею в виду только кроссовки) это как космические технологии, ниспосланные свыше. Кстати, Саломон делает ещё очень красивые классические сандалии, но у меня такие уже есть от немецкого бренда Josef Siebel - не жалуюсь. Кстати, и Саломон и Колс произошли от фамилий владельцев.
</p>
 
<p>
И ещё надо рассказать про Колс вот что. У Карины почти через год ношения порвалась цепочка. Она пришла с чеком, надеясь выяснить, что можно сделать по гарантии. Потратив некоторое время, её покупку нашли в системе учёта и сразу предложили вернуть деньги. Которые она успешно сразу и потратила на новую цепочку. (Надеюсь, Карина на меня не обидится за такое разглашение прайваси). У нас такое тоже возможно, но труднее - обычно после потраченных нервов и времени. В США, где борьба за потребителя обычно всё-таки нешуточная, с этим куда как лучше. Так что здесь мы видим капитализма победный лик, а не звериный оскал, как иногда. В принципе, логично, что слабости связаны с сильными сторонами - бешеный упор на общество потребления порой это самое потребление очень облегчает.
</p>
</div>
<p>&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>

	