Id: 856b631a-40a8-4772-b7fc-1303d7023784
Title: "Крит — 13А, интермедия 1 — фантаст Громов"
Published: "2008-10-09"
Slug: "2008-10-09 Крит, интермедия 1 – фантаст Громов"
-
<p>
Пока был на Крите, а также перед тем и до того, читал книги Громова и супругов Дяченко. Для тех, кто не в курсе, это ведущие российские фантасты. Дальше речь идёт про Громова, а не про Крит, так что если не охота, не читайте.
</p>
 
<p>
Да, я не в силах побороть в себе страсть к чтению всякой фигни вместо полезных вещей. Нет, фантастика не полезна, вы ошиблись. То, что кажется вам глубокими философскими мыслями – обычная, просто доступно для обывателя обработанная компоновка ярких идей, не важно, понатыренных или выдуманных собственноручно. (Писатель, очевидным образом, частично думает руками, так что это не речевая ошибка).
</p>
 
<p>
Я далёк от того, чтобы присваивать книгам сугубо развлекательную функцию, но не надо их переоценивать. 100 прочитанных художественых книг – это столько же опыта, как несколько дней реального дела, и куда больше засирания мозгов ненужным. Другое дело книги научные и познавательные, но я вот не могу себя заставить читать их регулярно.
</p>
 
<p>
Если продолжить&nbsp; рассуждение, отзыв в блоге про фантастику – немногим больше, чем шум статики. Тем не менее, веду я журнал для удовольствия, поэтому пока это меня по-графомански радует, я буду писать.
</p>
 
<p>
Громов – человек, стремящийся к классической НФ, с упором на слово “научный”. Соответственно, он дотошно описывает все технические заморочки и физические эффекты, нигде не греша против реальности и следуя учебникам физики. Вторая&nbsp; его идея – люди, попавшие в сложную ситуацию, а что они в ней станут делать. В принципе, в большинстве книг люди в сложных ситуациях, иначе не интересно читателю, но тут автор сам вечно делает упор на это в своих интервью.
</p>
 
<p>
Так вот – Громов конечно хороший автор (тут нельзя обойтись без гнусненько звучащих поправок: для фантастики, для русской). Местами – скучно, из-за слишком уж муторного описания обстановки, вещей и их взаимодействий. К тому же часто такое ощущение, что книга закончилась, а ничего так и не произошло. Ещё – большой, а главное явный, упор на идею “люди в сложных условиях”. Это не лучший костыль. По-моему, писатель не должен так тупо и явно эксплуатировать какие-то прямые идеи, да ещё и рассказывать про это в интервью. Я, впрочем, избалован постмодернизмом. Ну и последнее – когда автор пытается иногда приплести к весьма реалистичному миру нечто сильно отличающееся, призванное показать полёт его фантазии, добром это не кончается. Становится ясно, что пускать цветные надувные пузыри фантазий – не его занятие, ему бы воздушные шарики с гелием, а лучше и вовсе воздушные шары с гондолой и горелкой, а также прилагающимся описанием их работы. Потому что разные это профессии – правдоподобно прикинуть жизнь людей будушего, отталкиваясь от дня сегодняшнего, или пустить свой разум в свободный полёт, чтобы суметь вообразить то, чего сейчас даже в теории нет. Последнее умеют делать даже немногие западные фантасты. Как ни странно, Дяченко тоже умеют. Но в любом случае – когда создаёшь на бумаге невообразимое, приходится жертвовать реалистичностью. Это опять проявление диалектики реальности, как я её понимаю. Есть вещи, которые не могут быть вместе из-за фундаментального строения вселенной (извините, если это звучит пафосно, я думаю вполне обычно, когда это пишу). Как правило эти вещи связаны, и если убираешь одно, добавляешь другого. 
</p>
 
<p>
Цикл “Наработка на отказ” – скучно, всё-таки, хоть и мощно.
</p>
 
<p>
Цикл тысяча и один день – тут автор пофантазировал неплохо, но потерял реалистичность, а в конце и вовсе не смешно. Что поделать, иначе сложно.
</p>
 
<p>
Вычислитель – повесть, удачная, на Lost похожа, главным героем в духе “Бэна”. Читать можно, потому что размер не раздут.
</p>
 
<p>
Завтра наступит вечность – не очень понятно, зачем написано. Но я не люблю технодетективы с заговорами и всем таким.
</p>
 
<p>
Запретный мир&nbsp; - опыт в псевдофэнтези, скучно опять-таки, хотя местами и смешно.
</p>
 
<p>
Менуэт Святого Витта – ничего, но опять блин скучновато. Я не прошу комических империй и баталий, но хоть немного можно действие оживить?
</p>
 
<p>
Мягкая посадка – опять ничего не происходит всю книгу, надоело.
</p>
 
<p>
Феодал&nbsp; - тут автор всё-таки повеселился и пофантазировал, но даже фантазирует он как-то бюрократически, без полёта. Читать, впрочем, сравнительно интересно.
</p>
 
<p>
Цикл “Исландская карта” – пародия на творчество Акунина. Пародия – с одной стороны жанр всегда вторичный, с другой – беспроигрышный, если автор хороший стилист, много чего читал и обладает чувством юмора. В этой серии удачно сочетались дотошность и реалистичность Громова в деталях, но вместе с тем забивание на реалистичность в целом, серъёзность, и принцип “люди в сложной ситуации”.
</p>
 
<p>
Так что если вдруг созреете читать – начинайте с “Вычислителя”. Понравится – продолжите, например, исландской картой, или, если не любите пародии, “Наработкой на отказ”.</p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p>
</p>

	