Id: d9524434-c115-4849-8ba6-da416395226e
Title: "<p><a href=\"http://scarych.livejournal.com/444370.html\">Блогояндекс это наркотик</a></p> <p><a href="
Published: "2008-04-07"
Slug: "2008-04-07 _p__a href__http___scarych.livejournal.com_444370.html__Блогояндекс это наркотик__a___p_ "
-
<p>
<a href="http://scarych.livejournal.com/444370.html">Блогояндекс это наркотик</a>
</p>
 
<p>
<a href="/files/blogengine/Writer/2efbfd981d85_10BE3/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/2efbfd981d85_10BE3/image_thumb.png" border="0" alt="image"   /></a> <br />
<font size="4">Гатин Сергей Захарович, &quot;Над Доном под кислотой&quot;, 1968 г. </font>
</p>

	