Id: 3eee72b6-1e05-4487-82f5-5f8dc8780912
Title: "США – 33, кемпинг, день 1"
Published: "2008-08-04"
Slug: "2008-08-04 США – 33, кемпинг, день 1"
-
<p>
В воскресенье мы-таки добрались до кемпинга, в который в прошлый раз не удалось попасть из-за плохой погоды. Что такое кемпинг? Это просто место в лесу, где в окружении красивой природы можно поставить палатки и разжечь костёр. Едут в кемпинг в пятницу вечером или в субботу утром, возвращаются в воскресенье устром или вечером. Данный конкретный кемпинг назывался довольно витиевато - <a href="http://www.dnr.state.wi.us/Org/land/parks/specific/kms/">Kettle Moraine Southern Unit.</a> Перевести я это смогу лишь с большой натяжкой. Примерно это значит “Южная часть котлованной морены”. Морена – это огромный след, оставленный сползающим ледником, а kettle -&nbsp; котлованчик в этом следе, появившийся от отколовшегося и растаявшего впоследствии льда. Котлованчиков в морене много, сотни и тысячи, размером от двадцати метров диаметром и более. Южная часть – это имеется в виду часть леса, образующего заповедник. И оно же, как административная единица.
</p>
 [more text=Читать про буйволов и чипсы] 
<p>
Мы поехали в пятницу вечером, но добирались долго, и палатки пришлось ставить уже в сумерках. Ехали долго по той причине, что GPSом надо пользоваться с умом – давать ему адрес места поточнее, а то сам он не всегда находит нужное, особенно если это такая хитрая штука, как кемпинг. Опять-таки, часть дорог была перекрыта из-за наводнений. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/33KettleMoraineSouthernUnit_E3E0/IMG_5403.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/33KettleMoraineSouthernUnit_E3E0/IMG_5403_thumb.jpg" border="0" alt="IMG_5403" title="IMG_5403"  ></a><br>
Все на баррикады!
</p>
 
<p>
Кемпинги бывают государственные и частные. Государственные расположены в заповедниках и стоят меньше, в частных иногда бывает больше услуг. В кепмингах всегда есть туалет и вода недалеко от стоянки, и часто в спецздании есть душ. Костёр можно жечь только из собранного хвороста, рубить и пилить строго запрещается. Другой вариант – купить дрова у владельцев кемпинга, хоть цены совсем не радуют – несколько баксов за полено. Костёр находится в здоровом таком бетонном круге, чтобы пламя не выбралось за пределы поляны и не вызвало пожар.
</p>
 
<p>
В кемпинге американцы жарят барбекю, то есть мясо на гриле. Наверное, проще чем шашлыки. Мы, кроме всего прочего, попробовали бизона. Неграмотные американцы (хохо, как ловко я вставил столь любимый миром штамп)&nbsp; называют его buffalo, то есть буйвол. Это хоть и родственник бизону, но дальний.&nbsp; Наверное все знают, как американцы бездумно истребили миллионы бизонов, уничтожая их как просто так, так и чтобы навредить индейцам, для которых это был основной источник пропитания. Опомнились лишь когда остались жалкие десятки тысяч. Сейчас, правда, снова развели их в достаточном количестве, и теперь этим зверям ничего не угрожает. 
</p>
 
<p align="center">
<a href="http://ru.wikipedia.org/wiki/%D0%91%D0%B8%D0%B7%D0%BE%D0%BD"><img style="border-width: 0px" data-src="/files/blogengine/Writer/33KettleMoraineSouthernUnit_E3E0/image.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Бизон американский, aka Bison bison
</p>
 
<p>
Но немногие знают, что в Европе было практически такое же животное, только называется оно зубр. Зубр жил на огромных просторах от Англии до Сибири, и европейцы со славянами истребили его куда как более эффективно, чем американцы. В природе зубров не было несколько десятилетий с 1921 года, пока их опять не начали искусственно разводить и выпускать в леса.
</p>
 
<p align="center">
<a href="http://ru.wikipedia.org/wiki/%D0%97%D1%83%D0%B1%D1%80"><img style="border-width: 0px" data-src="/files/blogengine/Writer/33KettleMoraineSouthernUnit_E3E0/image_3.png" border="0" alt="image" title="image"  ></a> <br>
Зубр европейский, aka Bison bonasus
</p>
 
<p>
В общем, классический пример “бревна в своём глазу”. В любом случае, сейчас можно купить мясо разведённого бизона и съесть. На вкус – похож на говядину, но жёстче. Ничего особенного. Правда я ел замороженное, свежего в Вудмансе нет, ввиду дороговизны и малого его отличия от говядины. Говорят, правда, что полезней, но лучше уж овощей купить за эти деньги.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/33KettleMoraineSouthernUnit_E3E0/IMG_1865.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/33KettleMoraineSouthernUnit_E3E0/IMG_1865_thumb.jpg" border="0" alt="IMG_1865" title="IMG_1865"  ></a><br>
Наша поляна – дальше за машинами. А фоткал я радугу.
</p>
 
<p>
И ущё про еду. Как я уже говорил, чипсов и прочих закусок, называемых snacks, в америке миллиард видов. В кемпинге я попробовал ужасные, на мой взгляд, чипсы с уксусом. Я уксус из-за его резкого вкуса вообще недолюбливаю, как и солёно-глутаматный вкус чипсов. А тут глутаматные чипсы обжигают рот уксусом – вообще мрак. 
</p>
 
<blockquote>
	 
	<p>
	<strong>Глутама́т на́трия</strong> (лат. monosodium glutamate, мононатриевая соль глутаминовой кислоты) — пищевая добавка, предназначенная для усиления вкусовых ощущений, за счёт увеличения чувствительности сосочков языка. 
	</p>
	 
	<p>
	Представляет собой белый кристаллический порошок, прекрасно растворимый в воде. У китайцев известен как «вкусовая приправа» у японцев как «чудесный порошок» («фе-цзин»). Вкус глутамата называется «умами», что является одним из основных вкусовых ощущений, известных человеку. Глутамат натрия получают как из натуральных ресурсов, так и посредством химических реакции.  
	</p>
	<p>
	&nbsp;
	</p>
</blockquote>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
Кстати, в <a href="http://online.wsj.com/article/SB119706514515417586.html">статье</a> Wall Street Journal разрешилась загадка, почему мне по нраву американские супы. Оказывается, они тоже – прибежище глутамата.
</p>
 
<p align="center">
&nbsp;<a href="/files/blogengine/Writer/33KettleMoraineSouthernUnit_E3E0/IMG_5422.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/33KettleMoraineSouthernUnit_E3E0/IMG_5422_thumb.jpg" border="0" alt="IMG_5422" title="IMG_5422"  ></a> <br>
Это тент от дождя, который всё-таки пошёл в конце-концов.
</p>
 
<p>
Зато были в кемпинге и суперские чипсы из злаковых. Они не такие адски вредные, как “картофельные”, а главное – у них достаточно мягкий вкус. Кстати, я всегда шутил, что все эти искусственные закуски, что мы едим, делают из нефти. Как оказалось, из неё действительно можно делать пищу, но похожа такая еда по составу будет скорее на мясо, а не на чипсы. Из нефти после значительной обработки получается белковая масса, полезная для вегетарианцев и африканцев, у которых в питании вечно нехватка белка. Наверное, она будет напоминать сою, то есть ей есть можно будет придать разные вкусы с помощью специй.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/33KettleMoraineSouthernUnit_E3E0/IMG_5451.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/33KettleMoraineSouthernUnit_E3E0/IMG_5451_thumb.jpg" border="0" alt="IMG_5451" title="IMG_5451"  ></a>&nbsp;<br>
Психоделия.
</p>
 
<p>
Ещё ели чипсы, которые я случайно купил в Вудмансе – снаружи засушенный гороховый стручок, а внутри рисовый порошок. Лене так понравились, что онп перед поездкой в кемпинг купила ещё таких. На вкус они опять-таки мягче “картофельных”. Вообще, в Америке выращивают бешеное количество кукурузы, поэтому во многих закусках есть кукурузный порошок или сироп с высоким содержанием фруктозы, про который я уже писал. Как это ни печально, у нас такой сироп тоже стал появляться в составе лимонадов, но там не написано, из чего его здесь делают. Макали мы все эти прелести в купленный мною из любопытства укропный дип, из-за чего оно становилось ещё вкуснее и ещё вреднее.</p><p><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>

	