Id: f99a2e11-2356-4fdc-9a1c-22d554bc8c42
Title: "Раз пошла такая пьянка"
Published: "2008-08-02"
Slug: "2008-08-02 Раз пошла такая пьянка"
-
<p>
То вот тот самый рэп про Обаму, где Буш назван умственно отсталым, а Хиллари &ndash; сукой.
</p>
 
<p>
&nbsp;
</p>
<div id="scid:5737277B-5D6D-4f48-ABFC-DD9C333F4C5D:cb2040a6-1272-48cd-b78e-dd26b6861fb3" class="wlWriterSmartContent" style="margin: 0px; padding: 0px; display: inline; float: none">
<div>
</div>
</div>
<p>
&nbsp;
</p>
 
<p>
I&#39;m back on it like I just signed my record deal<br />
Yeah the best is here, the Bentley Coup paint is dripping wet, it got sex appeal<br />
Never should have hated, You never should&#39;ve doubted him<br />
With a slot in the president&#39;s iPod Obama shouted &#39;em<br />
Said I handle my biz and I&#39;m one of his favorite rappers<br />
Well give Luda a special pardon if I&#39;m ever in the slammer<br />
Better yet put me in office, make me your vice president<br />
Hillary hated on you, so that bitch is irrelevant<br />
Jesse talking slick and apologizing for what?<br />
If you said it then you meant it how you want it head or gut?<br />
And all you other politicians trying to hate on my man,<br />
watch us win majority vote in every state on my man<br />
You can&#39;t stop what&#39;s bout to happen, we bout to make history<br />
The first black president is destined and it&#39;s meant to be<br />
The threats ain&#39;t fazing us, the nooses or the jokes<br />
So get off your ass, black people, it&#39;s time to get out and vote!<br />
Paint the White House black and I&#39;m sure that&#39;s got &#39;em terrified<br />
McCain don&#39;t belong in any chair unless he&#39;s paralyzed<br />
Yeah I said it cause Bush is mentally handicapped<br />
Ball up all of his speeches and just throw &#39;em like candy wrap<br />
&#39;cause what you talking I hear nothing even relevant<br />
and you the worst of all 43 presidents<br />
Get out and vote or the end&#39;ll be near<br />
The world is ready for change because Obama is here<br />
&#39;cause Obama is here<br />
The world is ready for change because Obama is here, yeah<br />
cuz Obama is here
</p>

	