Id: d6de1be0-dfe2-4959-b7c5-5fd25c1c61d5
Title: "Гм"
Published: "2008-01-14"
Slug: "2008-01-14 Гм"
-
<p>
Я всё-таки компьютерщик, наверное. Пытался поставить Windows XP на USB флешку, перестал загружатся рабочий Виндовс. Еле починил. И зачем мне это надо было?
</p>
 
<p>
P.S. Ещё прочитал &quot;Спектр&quot; Лукьяненко. Всё-таки он молодец, свежих идей хватает. Зато с кулинарией в книге явный перебор.
</p>

	