Id: 6c91d4c1-62d5-4e1b-9477-0061d130ac2f
Title: "Свобода совести"
Published: "2008-01-10"
Slug: "2008-01-10 Свобода совести"
-
<p>Наткнулся на нечто похожее на то, о чём недавно под замком говорил ears_of_tin. А вы вот не узнаете, о чём.</p> <p>Нахожусь в очередных раздумьях о свободе совести.</p>
	