Id: a8db9bda-5b58-489c-8978-4355369f7e9d
Title: "Крит – 20, посёлок Курна"
Published: "2008-10-17"
Slug: "2008-10-17 Крит – 20, посёлок Курна"
-
<p>
На следующий день я предложил Сергею съездить на экскурсию, раз уж Таня не хочет. Но Таня и Сергея отпускать не хотела. Тогда&nbsp; я предложил взять машину ещё на денёк, но оказалось, что мы не только должны отдать нашу, но и остальные машины в прокате забиты, и даже более того – в других прокатах тоже. Вот такой туристичесий сезон (если я соврал, Таня меня поправит).
</p>
 
<blockquote>
	 
	<p align="center">
<a href="/files/blogengine/Writer/20_11B79/IMG_0384.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/20_11B79/IMG_0384_thumb.jpg" border="0" alt="IMG_0384" title="IMG_0384"  ></a>Наверное, круто так отдыхать – но мне нужен для плавания простор, а не лужа
	</p>
</blockquote>
 [more text=Читать про пещеру, семейный магазин и самые мощные примеры расслабона вообще] 
<p style="text-align: left">
Тогда мы стали ходить и думать. В итоге Таня с Сергеем арендовали мопед, он же мотороллер, а я – велосипед. Танин мотороллер был объёмом двигателя до 50 см кубических, чтобы им можно было рулить с автоправами. А мой велосипед назвать можно было так лишь с большой натяжкой – правильный эпитет для него “дроческоп”. Я про такое уже писал, но тут были достигнуты новые вершины. У несчастной железяки не работала половина скоростей (коих и то было мало), плохо работали тормоза, цепь иногда проскакивала, но пуще всего меня замучили грипшифты, ака поворотные переключатели скоростей. Они были большие, занимали много места на ручках руля, сделаны были из жёсткой пластмассы с резкими гранями. В итоге я к вечеру так натёр указательные пальцы, что из них кровь шла.
</p>
<p align="left">
<br>
<a href="/files/blogengine/Writer/20_11B79/IMG_0386.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/20_11B79/IMG_0386_thumb.jpg" border="0" alt="IMG_0386" title="IMG_0386"  ></a>&nbsp;
</p>
 
<p>
Но главное, как известно, не байк, а прокладка между сиденьем и рулём, то есть наездник. Тут я в каком-то смысле не подкачал – несмотря на крутые критские дороги и температуру за бортом в 30, вкручивал как следует, хоть и с перерывами.
</p>
 
<p>
Кстати, про погоду. В репортаже по океанарий я забыл рассказать про погодный компьютер, который там стоял. Представлял он из себя сенсорный экран, на котором можно было выбрать всякие метеорологические режимы, наглядно отображаемые разными цветами. Выглядели они все забавно – на 3000 км вокруг Крита и месяц вперёд-назад, вечные +30-34 и ни облачка.<br>
<br>
<a href="/files/blogengine/Writer/20_11B79/IMG_0390.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/20_11B79/IMG_0390_thumb.jpg" border="0" alt="IMG_0390" title="IMG_0390"  ></a> От озера до моря – всего ничего, тем не менее, озеро пресное
</p>
 
<p>
Итак, путём вкручивания на неприспособленном к тому байке с огромными протекторами и без велокомпа, я покатил на озеро Курна, благо знал дорогу и тот факт, что там хорошо. Приехав на озеро, первым делом пошёл купить освежающего в соответствии с бессмертным виршем группы Барто “Владик, выпей лимонадик”. И тут я напоролся на самый вопиющий случай расслабона за всё время моего пребывания на Крите – продавца не было. Были обедающие немцы, был прилавок и касса, а самое главное - несколько холодильников с напитками. Но где продавец? Судя по тому, как озирались немцы, они тоже задавались этим вопросом. Я подождал минуты 2, понял, что ждать некого, открыл холодильник и достал лимонад. Подождал ещё 2 и открыл лимонад об перила. Дальше ждать не стал, ибо был мучим жаждой – поэтому взял и выпил его. Потом постоял с пустой бутылкой минут 4, как дурак, и думал было уже положить пару евро на прилавок и свалить, как на машине подкатил молодой парень типично критской наружности, и спросил, чего я изволю. На это я помахал ему бутылкой, услышал “1.5 евро”, отдал монетки и пошёл купаться. Для этого я кое-как прикрепил байк к кусту выданным мне замком. Правда ключ остался на берегу, как и кошелёк с кредиткой и деньгами. Если говорят, что на Крите нет преступности, надо же проверить, правда? Проверка удалась – к моим вещам никто даже и не подошёл.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20_11B79/IMG_0395.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/20_11B79/IMG_0395_thumb.jpg" border="0" alt="IMG_0395" title="IMG_0395"  ></a> Куст обыкновенный. Констатация факта. Кисть, масло
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20_11B79/DSCN3708.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/20_11B79/DSCN3708_thumb.jpg" border="0" alt="DSCN3708" title="DSCN3708"  ></a> Фотка Танина
</p>
 
<p>
Взбодрившись и набравшись таким образом сил, я двинулся дальше в гору, применив волшебный приём: ставим скорость 1-1 и крутим до тахикардии. Как ни странно, довольно скоро я приехал в посёлок, где проезжал мимо волшебно выглядящих домиков с бассейнами и невероятного вида на озеро Курна. А фото этих красот я вам привожу уже с начала поста.&nbsp;
</p>
 
<p>
<a href="/files/blogengine/Writer/20_11B79/IMG_0398.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/20_11B79/IMG_0398_thumb.jpg" border="0" alt="IMG_0398" title="IMG_0398"  ></a>&nbsp;
</p>
 
<p>
Насладившись вистой (так переводится на английский захватывающий дух панорамный вид), я двинулся дальше в горы, не подозревая, что безо всякой задней мысли скоро наткнусь на ещё одну достопримечательность. Ею оказалась пещера Курна. Правда, нашёл я её не сразу – сначала мне встретилась таверна “У пещеры”, в котором не говорящая по-английски бабушка сделала мне самого дешёвого и вкусного свежевыжатого сока, что я пил на Крите. Всего за 2 евро – замечательная прохладная нямнямка и отличный вид на балконе. Забавно, что таверна была заставлена фотографиями внука, а на полу валялись его игрушки. Очередной мотив расслабона, в общем. Потом вылез и дед, который рассказал мне (вернее показал знаками), где находится та самая пещера, на которую указывали знаки, и объяснил, что мне нужен фонарик. Тут я стыдливо умолчу, как дед развёл меня на бабки за фонарик, при том, что у меня самого был с собой на Крите фонарик, но я не захватил его из отеля!
</p>
 
<p>
<a href="/files/blogengine/Writer/20_11B79/IMG_0399.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/20_11B79/IMG_0399_thumb.jpg" border="0" alt="IMG_0399" title="IMG_0399"  ></a>
</p>
 
<p>
Пещеру я нашёл, только повинуясь хитроумным жестам деда, потому что указателей на неё не было. Она находилась за заржавевшей оградой, и была накрыта не менее ржавой крышкой с сорванными петлями. При этом спуск не имел лестницы – но мне всё нипочём, ибо я спортмен сумашедшей категории, а главное – был одет в велоформу. Это позволило, широко расставляя ноги, проникнуть вглубь каменного чрева. Внутри пещеры зато была лестница, ведущая глубже, по ней я и слез. В самой глубине было прохладно, хорошо дышалось и пахло как в погребе – картошкой. Из чего можно сделать вывод, что запах погребов издаёт вовсе не картошка, а сопутствующие грибы и лишайники.Как бы то ни было, лезть совсем уж глубоко я не стал – и одежда у меня неподходящая, и сталактиты со сталагмитами выглядели недружелюбно. Поэтому я покинул культовое место юных спелеологов, распрощался с дедулей, и покатил себе дальше.
</p>
 
<p>
<a href="/files/blogengine/Writer/20_11B79/IMG_0401.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/20_11B79/IMG_0401_thumb.jpg" border="0" alt="IMG_0401" title="IMG_0401"  ></a>
</p>
 
<p>
Недолго продолжалось моё путешествие. Буквально через несколько километров я попал в посёлок Курна. Там застал барак, исписанный с помощью разноцветных красок предложениями рекламного характера. Я&nbsp; закономерно решил, что это магазин, пристегнул вел, и зашёл внутрь, где мне 20 минут рассказывал всякое человек по имени Константин, владелец семейного бизнеса. Как оказалось, практически всё в магазине сделано его семьёй, а керамику так и вовсе он сам раскрашивал.&nbsp; Первым делом владелец мне сообщил, что пещера, в которой я побывал, вообще-то закрыта для туристов, потому что там опасно. В общем, вы всё поняли насчёт характера критян.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/20_11B79/DSCN3710.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/20_11B79/DSCN3710_thumb.jpg" border="0" alt="DSCN3710" title="DSCN3710"  ></a> Фотка с Таниного фотика, сделана мною
</p>
 
<p>
Как наивного туриста, меня легко одурманить, поэтому я накупил всего разного на 30 евро, о чём особенно и не жалею. Купил же я местного вина, оливкового масла, и солонки оригинальной конструкции. В подарок же получил карту, которая мне была не нужна, и наставления, как попасть в мой отель, которые мне как раз крайне пригодились. Самое же забавное состоит в том, что пока я беседовал с продавцом, в магазин зашли Таня с Сергеем – совершенно случайно они очутились в том же самом месте и времени, что и я – совпадение удивительное, что и говорить.
</p>
 
<p>
<a href="/files/blogengine/Writer/20_11B79/IMG_0405.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/20_11B79/IMG_0405_thumb.jpg" border="0" alt="IMG_0405" title="IMG_0405"  ></a>
</p>
 
<p>
Потом в магазин зашли французы, и Константин переключился на них, потому что знает 5 языков. Я не стал медлить, забрал пакет с покупками, засунул его в багажник Таниного скутера, сел на байк и покатил вниз. Как мне поведал старина Костик, всё, что от меня требовалось – свернуть через сто метров налево и отпустить тормоза, а дальше <strike>местные уже соберут мои кости для переработки на краску для бараков.</strike> Я хотел сказать, дорога сама выведет меня к отелю. Так и оказалось - очень весело катить с горы, и ничего не делать. Впрочем, как я узнал на следующий день, не крутить педали совсем - это скучно. Но об этом – в следующей серии.</p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p>
</p>

	