Id: 2c7e5b35-f8f2-4e58-bc56-be1302a63002
Title: "Бест оф 2008"
Published: "2008-12-24"
Slug: "2008-12-24 Бест оф 2008"
-
<p>Накачал тут дикое количество альбомов из разных топов-2008, благо на waffles.fm сейчас фрилич.</p>  <p>Как обычно, ссылок дофига у <a href="http://delicious.com/djmartian/b2008">djmartian</a>. Я к нему заходить боюсь – слишком много инфы, утонуть можно. А я качал в первую очередь десятки из топа <a href="http://www.pitchforkmedia.com/article/feature/148001-the-50-best-albums-of-2008">Питчфорка</a>, <a href="http://swen.antville.org/stories/1864318/">The wire</a> и для разнообразия - первые позиции из сообщества <a href="http://community.livejournal.com/best_of_2008/">бест оф 2008</a>. Судя по всему, к идее такого сообщества всякие музыкальные жж-гранды уже давно охладели, и живёт оно теперь в основном стараниями <a href="http://adehopt.livejournal.com/profile">adehopt</a>.</p>
	