Id: 4abf35ce-6aa3-4f46-bc72-1c0ee7e4da5d
Title: "США - часть 2"
Published: "2008-06-23"
Slug: "2008-06-23 США - часть 2"
-
<p>
Из аэропорта Чикаго (который, кстати, читается как Щикаго) мы отправились в Мэдисон, где живёт моя сестра.[more text=Читать про американские дороги] Если кто вдруг не помнит географию США, или, как я, и не знал её никогда, вот карта.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/2_F5EF/image.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_F5EF/image_thumb.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
Чикаго выделен красной стрелкой
</p>
 
<p>
И подробнее - карта той области, где я был.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/2_F5EF/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_F5EF/image_thumb_3.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
Мэдисон выделен красной стрелкой
</p>
 
<p align="left">
Из карты видно, что Чикаго стоит на берегу одного из великих озёр - а именно, оз. Мичиган. Когда я первый раз увидел более-менее большое озеро с борта самолёта, подумал "маловато будет для великого озера". Оно им и не являлось. А вот при подлёте к аэропорту мы стали разворачиваться над настоящим Мичиганом, и я смог оценить всю его громадность.&nbsp; Площадь Мичигана — 57 750 км² . Для сравнения, площадь Латвии - 64 589 км². Длина озера около 500 км, ширина около 190 км.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/2_F5EF/IMG_5202.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/2_F5EF/IMG_5202_thumb.jpg" border="0" alt="IMG_5202"  ></a> 
</p>
 
<p align="center">
По центру - Мигель, сестры кот. Чёрный - Джоуи, подруги кот.
</p>
 
<p align="left">
Ехать из Чикаго в Мэдисон - немногим более 2 часов, расстояние около 300 км. Теперь первые впечатления. В Америке всё очень большое и доходчивое. Большие машины, большие дороги, большие знаки на дорогах, большие буквы на рекламных досках вдоль дороги. На американских дорожных знаках символы используют редко. Обычно там текст. Причём текста так много, что он вполне заменяет правила дорожного движения. Например, периодически стоит знак: "Медленному транспорту ехать по правой полосе". 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/2_F5EF/image_4.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_F5EF/image_thumb_4.png" border="0" alt="image"  ></a> 
</p>
 
<p align="left">
А теперь представьте, сколько миллионов таких знаков надо поставить по всей Америке. Неудивительно, что создание одной мили магистрали обходится до 9 миллионов долларов. Ещё частенько встречается знак с текстом: "Правая полоса обязана свернуть направо" вместо наших сине-белых стрелок.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/2_F5EF/image_5.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_F5EF/image_thumb_5.png" border="0" alt="image"  ></a> 
</p>
 
<p align="left">
Само собой, ограничение скорости тоже выглядит вот так.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/2_F5EF/image_6.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_F5EF/image_thumb_6.png" border="0" alt="image"  ></a> 
</p>
 
<p align="left">
Знаки я потырил с сайта <a href="http://www.trafficsign.us">http://www.trafficsign.us</a>, где вы их можете поразглядывать, если вам этого по какой-то неведомой причине хочется.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/2_F5EF/image_7.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/2_F5EF/image_thumb_7.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
Часто встречащийся знак "Впереди строительство"
</p>
 
<p align="left">
Известная всем шутка в штатах, где бывает зима&nbsp; - "У нас только два сезона - зимний и ремонтный". А всё оттого, что американцы на машинах ездят не много, а очень много. Из этого вытекают любопытные следствия - дороги, как их не делай, всё равно портятся от огромной нагрузки, особенно из-за дополнительного влияния температуры в зимнее время. Вообще у нас в Латвии народ ужасно любит ругать правительство и его работу во всех областях, включая строительство дорог. Если сравнивать с немецкими автобанами, у нас дороги и вправду не очень, но вот с дорогами Висконсина и Иллинойса, наши, что называется, on a par. Кстати, Висконсин читается по-английски как "Вискансин" а Иллинойс - как "Иллиной".
</p>
 
<p align="left">
Любопытно, что самые популярные магистрали&nbsp; сделаны из бетонных плит - для выносливости. Если плиты только что аккуратно положены, дорога ровная и ехать приятно. Однако довольно скоро от произжающих автомобилей и колебаний температур края плит сдвигаются, и получается, что машину слегка трясёт буквально каждую секунду - очень знакомое ощущение. 
</p>
 
<p align="left">
Вот вам и миф о хороших американских дорогах. Впрочем, учитывая огромные расстояния, поддерживать дорожную сеть в идеальном состоянии вряд ли рационально. Любопытно, что легковые автомобили практически не изнашивают дорожное покрытие - нагрузка от грузовиков буквально в тысячи или десятки тысяч раз больше.
</p>
 
<p align="left">
По пути мы заехали в Belvidere Oasis, который представляет из себя здание, построенное прямо над дорогой. Внутри можно найти разные забегаловки, массажные кресла и туалет. К счастью, бесплатный, как и все встреченные мной в США. Вроде как и вай-фай там бесплатный, но проверить было нечем, да и незачем.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/2_F5EF/IMG_5204.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/2_F5EF/IMG_5204_thumb.jpg" border="0" alt="IMG_5204"  ></a> 
</p>
 
<p align="center">
Моя сестра Алина и я
</p>
 
<p align="left">
Там сестра купила бутерброд в сети общепита subway, а я его лишь немного попробовал, потому что есть не хотел. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/2_F5EF/image_8.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/2_F5EF/image_thumb_8.png" border="0" alt="image"  ></a>&nbsp;<br>
Это другой Оазис, всего их 7, но наш выглядит так же
</p>
 
<p align="left">
Ещё немного насчёт магистралей. Съезд с них всегда развязкой, а не поворотом, что позволяет сохранять высокие скорости и уменьшить пробки. Водители, само собой, вежливые, и всегда уступают место для перестройки в другой ряд или въезда. По слухам, водители Москвы представляют собой полный антагонизм.
</p>
 
<p align="left">
Каждые 10-20&nbsp; миль на магистралях есть съезд для попадания в места общественного питания или на заправки. Как правило, их в одном месте 2-4, иногда больше (см. знак справа на фото выше). Вообще, а Америке огромное количество ресторанов, фастфудов и кафе, и этот факт я буду упоминать ещё не раз.
</p>
 
<p align="left">
Все заправки позволяют платить карточкой, вставив её прямо в колонку. Любопытно, что ездят американцы на бензине с октановым числом 88, а бензины 89,90,91 и 92 считаются premium. Правда, наш европейский E-95&nbsp; имеет по-американски число 91, а не 95, как вам могло бы показаться. 
</p>
 
<p align="left">
Машины в штатах слегка квадратные и вообще выглядят как-то по-другому, чем у нас. Видимо, своя школа дизайна.
</p>
 
<p align="left">
По приезду мы заказали пиццу в лучшей (по слухам) сети региона - <a href="http://www.glassnickelpizza.com/coupons.jsp">Glass Nickel Pizza Co</a>. Пицца была вкусная, но от усталости и ещё не прошедшего насморка я как-то не очень проникся. Только специи в виде каких-то травок почуял.</p><p align="left"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">К оглавлению</a></p><p align="left">
</p>

	