Id: 65df9c02-3181-44c0-82a7-539bc770209f
Title: "Крит — 11, Старый город Ретимнона"
Published: "2008-10-06"
Slug: "2008-10-06 Крит — 11, Старый город Ретимнона"
-
<p>
Мы долго кружили по городу в поисках парковки, расположенной поближе к порту. Места на Крите, по понятным причинам, мало, поэтому удалось нам это с трудом. Когда запарковались, я спросил чувака за столиком в кафе, где купить талончики, и он доступно объяснил, куда пройти. Очень многие критяне владеют английским, хотя бы на бытовом уровне, а в сфере ослуживания так и вообще поголовно.
</p>
 
<p>
Недалеко от Крита находится греческих остров Санторини, и туристы массово тудя стремятся, хоть цена его посещения и не радует. Мы ломанулись в порт для того, чтобы просто купить билет на паром до острова. Но нам сообщили, что это бессмысленно, потому что на смотреть что-то на острове надо, имея транспортное средство в виде катера, и вообще “просто билеты” на Санторини не продаются, только экскурсии по 140 евро штука. В принципе, и правда немало.&nbsp; Вообще, экскурсии на Крите продаются во многие места, причём набор очень похожий, а цены обычно около 30,40,70 евро. При этом тебя забирают из отеля, а иногда и везут на другой конец острова. В общем, толково, и не сильно дорого, в отличие от Санторини – но она далеко, плюс там веселья на целый день, а начинается всё в 7 утра.
</p>
 [more text=Смотреть фото старого города, почти ничего не читать] 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_0205.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_0205_thumb.jpg" border="0" alt="IMG_0205" title="IMG_0205"  ></a> Внимательный заметит, что в тени на нижней полке отсвечивает зеленотой исконно русский напиток боржоми
</p>
 
<p>
Вместо экскурсий мы пока что просто прошлись по набережной, полной замечательных магазинов, где кожаные ремни стоят 2-3 евро, а рюкзаки – 8-14. Во какая арифметика: вместо одной поездки на остров можно купить 40 ремней и устроить садо-мазо шоу. Что можно сделать&nbsp; с 15 рюкзаками, я предоставляю вам придумать самим, в рамках программы развития воображения.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_0206.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_0206_thumb.jpg" border="0" alt="IMG_0206" title="IMG_0206"  ></a> Где-то я читал, что на югах очень любят некрологи. А тут гляжу – и правда
</p>
 
<p>
Ещё&nbsp; купили давно вожделенный нами путеводитель на русском языке. Русским его можно было назвать лишь с некоторой натяжкой: периодически встречались занимательные слова, смысл которых понять можно было лишь проявив ту самую фантазию, которую мы тренировали выше. О знаках препинания я не говорю, но и правильно делаю, потому что сам тоже страдаю их нехваткой.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_0208.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_0208_thumb.jpg" border="0" alt="IMG_0208" title="IMG_0208"  ></a> Надись W.C. продублирована как toilet – очень разумно, одно из двух уж точно поймут
</p>
 
<p align="left">
В любом случае, путеводитель сообщил нам, что неплохо бы посмотреть на некий величественный веницианский фонтан в старом городе. Мы так долго искали фонтан, что дошли обратно аж до самой Фортезы, но оно и к счастью, потому что по пути видели много всякого занимательного. Старый город Ретимно очень милый. Там присутствовуют узкие улочки, торговцы мелочёвкой, и все прочие штампы, которые вы легко можете подчерпнуть в идиотских путеводителях. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_0212.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_0212_thumb.jpg" border="0" alt="IMG_0212" title="IMG_0212"  ></a> Милый осминожек. И прилавок в виде лодки
</p>
 
<p align="left">
Кстати, Сергей купил микросумку, причём на ней не было цены. Но на похожей рядом цена была. Когда продавец стала выбивать на кассе больше, чем цена похожей, он запростестовал. Тогда она по-простому спросила: сколько вообще дадите? Расслабленный способ вести дела, не находите?
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_0213.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_0213_thumb.jpg" border="0" alt="IMG_0213" title="IMG_0213"  ></a> Неизвестная цветующая <a href="http://hrenovina.net/" title="Реклама проекта Дениса Яцутко, просто так">хреновина</a>
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_0218.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_0218_thumb.jpg" border="0" alt="IMG_0218" title="IMG_0218"  ></a> Король ананасовых пальм – зацвёл. Ну или что он тут делает, скажите
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_0219.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_0219_thumb.jpg" border="0" alt="IMG_0219" title="IMG_0219"  ></a> Пекарня прямо на улице
</p>
 
<p align="left">
Чувак, который смотрит прямо в камеру, не был особенно весел, когда продавал Тане булочку. В целом критяне достаточно приветливы, но им до туристов нет особого дела. Может потому, что критяне знают, что наши деньги всё равно окажутся в их карманах, а может расслабон.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_0220.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_0220_thumb.jpg" border="0" alt="IMG_0220" title="IMG_0220"  ></a> Забавный ирландский бар. Глобализация, ёптить
</p>
 
<p align="left">
В магазинах Крита, рассчитанных на туристов, очень много пряностей в комплектах и отдельно, а также оливкового масла и керамики. Так много, что выбрать невозможно, поэтому я ничего и не купил. Зато в одном из магазинов во внутреннем микродворике был фонтан. Мы даже уже грешным делом подумали, что это нужный нам, раз другого тут нет.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_0222.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_0222_thumb.jpg" border="0" alt="IMG_0222" title="IMG_0222"  ></a> С приобретением этой шляпы Андрей завершил образ курортного денди
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_0226.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_0226_thumb.jpg" border="0" alt="IMG_0226" title="IMG_0226"  ></a>Фонтан, к которому Таня так стремилась, оказался тремя жалкими струйками. Хотя вместе с Таней он смотрится неплохо
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_2920.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_2920_thumb.jpg" border="0" alt="IMG_2920" title="IMG_2920"  ></a> Улицы Ретимно выглядят так
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_2940.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_2940_thumb.jpg" border="0" alt="IMG_2940" title="IMG_2940"  ></a> Или так
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_2921.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_2921_thumb.jpg" border="0" alt="IMG_2921" title="IMG_2921"  ></a> Жена Рэмбо
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/10_101A2/IMG_2941.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/IMG_2941_thumb.jpg" border="0" alt="IMG_2941" title="IMG_2941"  ></a>Одно из двух: или у него в руках тушка кролика, или связка пистолетов
</p>
 
<p align="left">
Напоследок, по традиции, фотки с фликра.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/markop/2574388071/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/image.png" border="0" alt="image" title="image"  ></a> Висячие сады Ретимнона
</p>
 
<p align="center">
<a href="http://flickr.com/photos/nocturne-gr/267614802/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/image_3.png" border="0" alt="image" title="image"  ></a> Меню, понятное дело, на английском. В нём много баранины, если кто не видит
</p>
 
<p align="center">
<a href="http://www.flickr.com/photos/26034413@@@@N04/2542847174/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/image_4.png" border="0" alt="image" title="image"  ></a> Гавань
</p>
 
<p align="center">
<a href="http://www.flickr.com/photos/marcelgermain/2798764872/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/image_5.png" border="0" alt="image" title="image"  ></a> Она же в сумерках
</p>
 
<p align="center">
<a href="http://www.flickr.com/photos/vintzileos/2806767778/sizes/o/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_101A2/image23.png" border="0" alt="image" title="image"  ></a> 
</p>
 
<p align="left">
После визита в Ретимно, мы уже было собрались в Ираклион, но внезапно наткнулись на жуткую проблему, которая чуть не привела нас в крайне печальное состояние духа. К счастью, она разрешилась успешно. Но об этом вы узнаете в лишь следующем выпуске.<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;</a></p><p align="left"><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	