Id: 309415e8-f050-418e-a0ff-cc52f6210e5d
Title: "Век учись"
Published: "2008-08-09"
Slug: "2008-08-09 Век учись"
-
<p>
Во блин, Робби Колтрейн, который играл Крекера в&nbsp; сериале &ldquo;Метод Крекера&rdquo;, оказывается также Хагрид из Гарри Поттера.
</p>
 
<p>
<a href="/files/blogengine/Writer/39af0d201ffa_1482A/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/39af0d201ffa_1482A/image_thumb.png" border="0" alt="image" title="image"   /></a>
</p>

	