Id: c4aee6f4-aaca-4c99-88ed-e6da9590550e
Title: "США – 28, Казино Ho-Chunk"
Published: "2008-07-30"
Slug: "2008-07-30 США – 28, Казино Ho-Chunk"
-
<p>
Ночью после Hoolihan’s мы бегло осмотрели <a href="http://www.ho-chunk.com/">казино племени Ho-Chunk</a>. 
</p>
 
<div class="ljcut">
 
<p>
Если кто не в курсе, в 1987 верховный суд США поставновил,&nbsp; что индейцы частично независимы от федерального правительства, и потому могут строить игорные заведения, не попадающие под действие законов штата, что сильно облегчает это дело. Понятно, что немалую часть загребают неиндейские дельцы-организаторы, но иногда бонусы достаются и рядом членам племени. Например, в племени кабазонов всего 50 человек – эти точно живут как сыр в масле.&nbsp; 
</p>
 
<p>
Всего официально индейских племён в США 562, из них лишь половина продались белым дьяволам и разрешили создавать игорный бизнес под своим именем. Навахо, например, коих насчитывается целых триста тысяч, промышляют лишь изготовлением Dream Catcher’ов.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/gswj/643727967/sizes/l/"><img data-src="/files/blogengine/Writer/28HoChunk_13B03/image.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Dream Catcher, сувенир, специально раскрученный для продажи белым
</p>
 
<p>
Вообще, индейцы обычно живут не плохо, а очень плохо. Их земля, далеко не самая лучшая , им даже по сути и не принадлежит – она управляется специальными ведомствами. Большинство живут в бедности, страдают алкоголизмом и наркоманией, и не видят смысла в жизни. Те, у кого есть деньги от игорного бизнеса, тоже не особенно радуются. Я бы на их месте тоже не веселился – такую страну потеряли!
</p>
 
<p>
Так вот. Хо-Чанк, они же Виннебаго – уроженцы Висконсина и Иллинойса, племя насчитывает около шести тысяч человек. Казино у них не одно, но мы посетили то, что находится в городе Барабу, что в регионе Деллс. Интересно, что у индейцев Хо-Чанк нету священной коровы политкорректности –&nbsp; equal opportunity. Это означает равные возможности для всех кандидатов на работу, куда входит то есть знаменитая троица: негры, инвалиды и геи. У Хо-Чанков есть люди первого сорта, то есть индейцы Хо-Чанк, а есть все остальные. Никто на это внимания не обращает, и считается это как бы компенсацией за геноцид. В общем, лучше я промолчу, а то у меня, как у Лукьяненко, может развиться нездоровая ненависть к Америке.
</p>
 
<p>
До того в большом казино я не был. В целом – забавно. Огромные ряды игральных автоматов разных видов, сидят за ними преимущественно пенсионеры. Бесплатно раздают напитки со льдом, причём самое вкусное из ширпотреба, что я пробовал в США – не вечная скучная сода, а клюквенный нектар, хоть и не сильно натуральный.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/jpellgen/777904979/sizes/l/"><img data-src="/files/blogengine/Writer/28HoChunk_13B03/image_3.png" border="0" alt="image" title="image"  ></a> 
</p>
 
<p>
Игральные автоматы принимают бумажные доллары, а выдают талончики размером с доллар, которые, в свою очередь, можно опять запихнуть в автомат или обменять на деньги. Монетки и жетоны больше не в моде – звук сыпящихся монет играется из динамиков. Да и автоматов половина с экранами, причём жуткими древними CRT, от которых болят глаза. Так что получается как в анекдоте про фальшивые ёлочные игрушки. Я, раз уж выкидываю деньги на воздух, предпочёл бы хардкорные классические автоматы, чтобы процесс был classy.&nbsp; 
</p>
 
<p>
Играл я так: сначала в карты выиграл 5 долларов, потом проиграл их и даже больше в “одноруких бандитах”. Потом опять как-то вышел на ноль. Затем сел рядом с гигантской тётей играть в нечто, похожее на bejeweled. Решил, что остановлюсь на 20 баксах – вроде как многие играют до похожей суммы. Проиграл почти всё, оставалось буквально несколько долларов. И тут как бабахнет суперигрой. На экране появились два ювелира и предложили мне выбирать драгоценные камни. Тыкал я наугад, правил не зная (да и нету их там, похоже). В результате автомат как начал звенеть и считать, да и выдал мне 27 баксов. Тут я на радостях денежки схватил и был таков. А сестра проиграла двадцатку, так что в целом казино на нас нажилось – я-то лишь 7 долларов выиграл.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/28HoChunk_13B03/image_4.png"><img data-src="/files/blogengine/Writer/28HoChunk_13B03/image_thumb.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Знаменитая игра <a href="http://www.popcap.com/games/bejeweled2">Bejeweled</a>
</p>
 
<p>
В целом, казино – дурацкое занятие, но может быть иногда и стоит сходить. Главное – меру знать. Но мне тут ничего не грозит – слишком у меня научное сознание, вечно шепчет: “Сам знаешь, теория вероятности играет в пользу казино”.</p><p><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>
 
</div>

	