Id: 1ea07bcb-d206-4908-b31f-abf5940481a3
Title: "Политика"
Published: "2008-03-30"
Slug: "2008-03-30 Политика"
-
<p>
Случайно увидел на Дельфи две новости подряд.  
</p>
<p>
<strong>Затлерс не будет бойкотировать Олимпийские игры</strong>  
</p>
<p>
Президент Валдис Затлерс намерен лично посетить Олимпийские игры, которые пройдут в Китае. Глава государства надеется, что к тому времени конфликт на Тибете будет разрешен.  
</p>
<p>
По последним данным правительства Тибета в изгнании, за две недели волнений погибли не менее <strong>130 человек.</strong> Беспорядки в провинции продолжаются.  
</p>
<p>
<strong>Затлерс: о коммунистическом геноциде должны знать и недоброжелатели Латвии</strong>  
</p>
<p>
Выступая сегодня в Музее оккупации на презентации книги &quot;Дети Сибири&quot;, президент ЛР Валдис Затлерс заявил, что о коммунистическом геноциде должны знать не только дети и общество, но и недоброжелатели Латвии.  
</p>
<p>
Составитель книги &quot;Дети Сибири&quot; Дзинтра Гека рассказала, что книга создавалась семь лет. Только за первый год были собраны <strong>свидетельства 180 человек</strong>, которые прямо или косвенно пострадали от коммунистического геноцида.  
</p>
<p>
&quot;25 марта 1949 года произошла самая грандиозная по своим масштабам акция геноцида против нашего народа&quot;, &mdash; указал глава страны.  
</p>
<p>
--  
</p>
<p>
Вот он какой, наш президент. Как и все предыдущие президенты новой Латвии - двуличный&nbsp; урод. Вообще, чего не переношу, так это двойных стандартов. Давно хотел написать об этом. По-моему, это один из самых больших грехов вообще. Человек должен и обязан соблюдать то, что пропагандирует, схожим порядком в разных случаях. Особенно, когда нечто относится к нему самому. Глядишь, так скоро и эстонского премьера Ансипа догонит по отвратительности.
</p>

	