Id: af4bc7cb-46e7-4d9a-89db-96c7f94c0e1a
Title: "<p>Понял, что очень важно концентировать усилия и достигать целей, пусть даже они в процессе достиже"
Published: "2008-03-24"
Slug: "2008-03-24 _p_Понял, что очень важно концентировать усилия и достигать целей, пусть даже они в проце"
-
<p>
Понял, что очень важно концентировать усилия и достигать целей, пусть даже они в процессе достижения теряют важность.
</p>
 
<p>
А то вечно выходит так, что я увлекаюсь и делаю разное, но ничего не довожу до конца. 
</p>
 
<p>
Чёрт знает, как побороть. Чётче определять цели, наверное.
</p>

	