Id: 7518f200-99b1-45e8-91df-f9e650b3e8bb
Title: "Мде"
Published: "2008-10-19"
Slug: "2008-10-19 Мде"
-
<p>
У меня премерзко болит живот со вчерашнего вечера. Терпимо, но всё равно гнусно. Даже обычно безотказная Смекта помогает лишь частично. И ещё ночью снился бред, что меня доктор Хаус диагностирует, а я ему пытаюсь сказать, что всё тут ясно, и скоро само пройдёт.
</p>
 
<p>
Ещё немножко смотрю детективное аниме Death Note, видоуроки с <a href="http://asp.net/mvc">http://asp.net/mvc</a> и пишу мелкую программу для личных нужд. Я на следующей неделе в отпуске, так что пока есть время, я всё буду делать качественно и с юнит тестами (а может даже TDD).
</p>
 
<p>
Ещё удивляюсь, до чего опенсорсовцы любят что-нибудь сложное и редко нужное написать. Вот, например, виртуальная машина Java для .NET - <a href="http://www.ikvm.net/" title="http://www.ikvm.net/">http://www.ikvm.net/</a>. В принципе, очень редко, но может пригодиться. Но как долгосрочное решение лучше конвертер исходного кода из Java в C#, например <a href="http://evain.net/blog/articles/2008/05/20/sharpen-an-open-source-java-to-c-converter">Sharpen</a>. Я эти варианты изучал, потому что хотел библиотеку, чтобы нативно проигрывать mp3 файлы в C#. Поиск таковой в чистом виде не нашёл, зато нашёл такую для джавы - JLayer. Причём есть порт, сделанный как раз конвертером исходного кода&nbsp; и и последующей зачисткой &ndash; mp3sharp. Но он, увы, не может создавать аудиоустройства, то есть проигрывать файлы.
</p>
 
<p>
В общем, рассмотрел я всякие варианты, да и сделал программу на WPF &ndash; там MediaElement от рождения играет mp3 безо всяких проблем, хоть и использует внутри Windows Media Player.
</p>
 
<p>
Зачем я это всё написал, и кто это поймёт, не знаю. Мой измождённый животом мозг работает странно.
</p>

	