Id: 62c8eee3-1c63-4baf-8021-39e2293913c4
Title: "Копии"
Published: "2008-12-30"
Slug: "2008-12-30 Копии"
-
<p>Здесь находятся копии разных интересных страниц, на которые я ссылался. Интернет, увы, устроен так, что оригинал может исчезнуть без следа. Чтобы этого не произошло, я делаю копии "самого-самого" у себя на сервере. Поскольку я регулярно делаю бэкап (и вам советую) можно надеятся, что мои копии проживут дольше некоторых оригиналов.</p>
<p>Понятное дело, все права на материалы принадлежат их владельцам, но посольку я сторонник крайне умеренного авторского права, они тут будут лежать, пока владельцы настоятельно не попросят убрать.</p>
<p>&nbsp;</p>
<p><br></p>
	