Id: cd4074e9-1588-42e3-b451-e17a8869ae2d
Title: "Лытдыбр"
Published: "2008-09-17"
Slug: "2008-09-17 Лытдыбр"
-
<p>
Холодно у нас, аж зубы сводит. Пью горячий какао-напиток производства Cadbury, привезённый с Крита, про него и пишу.
</p>

	