Id: 34c8a854-2a8a-4383-9008-bbdcce75b0b6
Title: "И ещё"
Published: "2008-02-20"
Slug: "2008-02-20 И ещё"
-
<p>
Секретные агенты сделали новый сервак в Латвии, где у меня есть своё местечко. Теперь заживём вдвойне круто. 
</p>
<p>
Жаль Линукс, а не Windows, а то я бы развернулся как следует. Интересно, нормально ли работает Windows XP под виртуальной машиной в Линуксе?
</p>

	