Id: 13cebdd1-4a4e-4101-964b-9feaf1516fa9
Title: "Заебали"
Published: "2008-08-30"
Slug: "2008-08-30 Заебали"
-
<p>
Теперь сервис живого журнала вставляет рекламу прямо в посты. Это для меня чересчур.
</p>
 
<p>
Выхода два: купить платный аккаунт или уйти. Если реклама останется, я один из них обязательно реализую.
</p>

	