Id: bfc2c1e3-fadf-41bf-ac15-f65c1a8b2d68
Title: "Матрица"
Published: "2008-10-19"
Slug: "2008-10-19 Матрица"
-
<p>
Посмотрел в FullHD&nbsp; на телеке 42 дюйма первую &ldquo;Матрицу&rdquo;. Второй раз. Впечатления особого не произвела.
</p>
 
<p>
Зато засёк всякое.
</p>
 
<p>
Во-первых, весь фильм отливает зелёным, под стать таинственным иероглифам, ползущим по мониторам оператора корабля. Причём многое прочее снято так, что похоже на эти иероглифы &ndash; дождь в машине, всякие сетки, капли системы пожаротушения и т.д.
</p>
 
<p>
Ещё. Мотивации героев и их логика достойны первого класса. Я не говорю о получении электричества из людей (этот идиотизм многократно обсосан), но хватает и прочего. Так, Смит рассуждает о том, что люди &ndash; как вирус, пожирающий планету. Потом почему-то говорит <strong>plague</strong> (&ldquo;чума&rdquo;), а потом &ldquo;рак&rdquo;. Во-первых, чума вызывается бактериями, а рак сбоем собственных клеток. Конечно, можно сказать, что plague &ndash; слово многозначное, или что все три медицинских термина он употребил для усиления впечатления, но всё равно остаётся проблема. Это, во-первых, очень старая аналогия, а во-вторых, очень натянутая и скучная. Всегда правда можно сказать, что агент Смит &ndash; лишь тупая охранная программа, или что несёт бред специально, чтобы запутать Морфея.<br />
<br />
Или вот сцена, когда Морфей и Троица видят, что Нео был убит Смитом в матрице. Но вокруг снуют стражи &ndash; пилят корабль лазерами. В любой армии мира мгновенно отключили бы Нео, раз уж умер, и запустили бы EMP, чтобы выжить. А эти сидят себе не спеша, гладят труп. Идиоты, одно слово.&nbsp; И выражаются дурацкими пафосными штампами.
</p>
 
<p>
Вообще, конечно, я занимаюсь ерундой, рецензируя старую сказку, сделанную для зрелищности, но почему-то даже визуальные эффекты как-то не впечатлили. Красиво, но слишком предсказуемо &ndash; все эти замедления, крупные планы и bullet time. Может до матрицы такое использовали и не часто, но сейчас это смотрится скучно и банально, а вовсе не как открытие жанра. Наверное, вся классика такой становится &ndash; потому что эпигоны превращают приём в штамп.
</p>

	