Id: 9b0f3132-50c2-461a-b4f7-070402a57668
Title: "Германия-9"
Published: "2008-01-18"
Slug: "2008-01-18 Германия-9"
-
<p>
Нюрнберг и Дрезден
</p>
 
<p>
В Нюрнберг мы приехали поздно, остановились в смешном отеле. Отель я называю смешным по нескольким причинам: 
</p>
 
<p>
1)Внутри он был обклеен древними советскими обоями, шкафчики в нём разваливались на части, а телевизор показывал только четверть картинки - остальное светилось фиолетом. Может быть, это было и не в этом отеле, а в предыдущем, но ведь в таких рассказах важна не достоверность, а любопытность, не так ли?
</p>
 
<p>
2)Он находился прямо в старом городе, то есть непосредственно в доме старше меня раз в десять.
</p>
 
<p>
3)Зато как выйдешь из отеля наружу - попадаешь прямиком [more text=Узнать, куда попадаешь]на улицу секс-шопов. Секс-шопы я вам не покажу, потому что ничего особенно интересного в них снаружи нет, а внутрь мы не ходили. Гид сказал, что раньше тут была улица красных фонарей, но потом власти перенесли её чуть подальше от старого города. 
</p>
 
<p>
Снято на супермыльницу IXUS 40, даже удивительно, что получилось что-то, учитывая, что там нету ручной регулировки выдержки.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0412.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0412_thumb.jpg" border="0" alt="IMG_0412"  ></a> 
</p>
 
<p>
Интересно, что гид спросил нас, хотим ли мы погулять по ночному Нюрнбергу, ведь утром у нас не будет времени. Народ свой энтузиазм проявил достаточно вяло, но когда гид вышел, его ожидало больше чем полавтобуса. Гида, кстати, звали Артис, что для знающих буржуйский звучит символично. В звательном падеже латышского языка это будет "Арти", что звучит ещё веселее.
</p>
 
<p>
В старом городе ночью все здания подсвечены, но уже в одинадцать часов на улице мало кто был. Причём такое мы наблюдали почти в любом городе. Скучная жизнь у бюргеров, наверное.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0415.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0415_thumb.jpg" border="0" alt="IMG_0415"  ></a>&nbsp;
</p>
 
<p>
Здесь надо колечко потереть на счастье. Вот кстати справа на картинке человек с тремя высшими образованиями, причём учился он вроде как не по блажи, а по необходимости. Вообще его зовут Рейнард и он латыш, но по-русски говорит наверное лучше косноязычного меня :-) Его дед, кстати, дошёл до Берлина в рядах Красной Армии. Всем противникам шпрот стоит иногда подумать, что жизнь куда сложнее их убогих фантазий. 
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0416.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0416_thumb.jpg" border="0" alt="IMG_0416"  ></a> 
</p>
 
<p>
Вообще ночной Нюрнберг - это красиво, можно забраться на крепость, на мосту стоит самая настоящая смерть,&nbsp; и ей даже удалось меня напугать, хотя в целом я никогда её особо не боялся.
</p>
 
<p>
Не знаю, стоит ли мне показывать это невразумительное фото, но надо-же разрядить текст, тем более что снято с замковой стены. Огней мало - спят бюргеры.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0419.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0419_thumb.jpg" border="0" alt="IMG_0419"  ></a> 
</p>
 
<p>
Кстати, вспомнил, что ещё в первом отеле меня Саша уговорил спросить, есть ли там бильярд. Я, как наивный провинциал, употребил слово Pool, на что симпатичная девушка в роли портье отреагировала расширенными зрачками и растерянным: "Это 3-х звёздочных отель, тут нет Pool".&nbsp; Только через через пять минут до меня дошло, что она имела в виду бассейн. 
</p>
 
<p>
Крыса не спеша ужинает тем, что осталось от туристов. Вернее, от трапезы туристов.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0424.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0424_thumb.jpg" border="0" alt="IMG_0424"  ></a>
</p>
 
<p>
После Нюрнберга мы попали в Дресден. Там находится крайне серьёзная по маштабу <a href="http://en.wikipedia.org/wiki/Gem%C3%A4ldegalerie_Alte_Meister">художественная галерея</a>, расположившаяся в крыле дворца <a href="http://en.wikipedia.org/wiki/Zwinger">Zwinger</a>, называемая <strong>Old Masters Picture Gallery.</strong> В её коллекции - подлинники Рафаэля, Тициана, Рембранта, Рубенса и других великих. Я в этом ничуть не разбираюсь и не интересуюсь, но когда видишь перед собой нечто, что для всего мира олицетворяет величие и красоту, поневоле проникаешься. 
</p>
 
<p>
&nbsp;
</p>
 
<p>
Это не дворец,&nbsp; а католический собор Hofkirche, который построил король Август в строго протестанском Дрездене. Построил потому, что хотел стать польским королем, а протестанту путь на трон был заказан. Собор - один из знаменитейших в Европе.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0437.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0437_thumb.jpg" border="0" alt="IMG_0437"  ></a> 
</p>
 
<p>
В музее понравились мне лишь некоторые картины, и если не забуду, постараюсь найти их в виртуальности <a href="http://en.wikipedia.org/wiki/Second_Life">Second Life</a>, где есть точное представительство музея со всеми работами. Заодно оценю, насколько виртуальность продвинулась в копировании реальности. Интересно, что в Дрездене музеев искусства целых 11 штук, и в них хранится гигантское по маштабу культурное достояние.
</p>
 
<p>
Дареной Кристине в зубы не смотрят.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0444.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0444_thumb.jpg" border="0" alt="IMG_0444"  ></a> 
</p>
 
<p>
А вот и более подходящая для Дрездена лютеранская церковь, где мы даже были внутри. Она была разрушена во время второй мировой войны и воссоздана в 2005 году. Когда думаешь о таком, мысли об уродствах нашей цивилизации несколько утихают. Как ни крути, если люди способны с тщанием и любовью воссоздать потерянное, и даже использовать кирпичи из старого здания, ещё не всё потеряно. В каком-то смысле это здание - фальшивая подделка под старину, но в каком-то и обновление на новом этапе развития. Всё это глубоко символично.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0451.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0451_thumb.jpg" border="0" alt="IMG_0451"  ></a>&nbsp;
</p>
 
<p>
Вот вам для сравнения ещё здание. Вы-таки будете смеятся, но это не мечеть, хоть это и гармонировало с уже имеющимися католическим и протестантским соборами.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0435.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0435_thumb.jpg" border="0" alt="IMG_0435"  ></a> 
</p>
 
<p>
Это ещё веселее. Здание на картинке сверху - сигаретная фабрика. Иногда архитекторы отрываются по полной, и им не мешают скучные "сторонники классики", которые по-нашему называются тупыми занудами.
</p>
 
<p>
&nbsp;
</p>
 
<p>
Извините за ракурс. Тут я вам признаюсь в сокровенном - я люблю худых девушек. Наверное потому что сам толстый. 
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0453.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0453_thumb.jpg" border="0" alt="IMG_0453"  ></a> 
</p>
 
<p>
Очередной дворец. Сил уже нет смотреть, кто в домике живёт или жил.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0455.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0455_thumb.jpg" border="0" alt="IMG_0455"  ></a> 
</p>
 
<p>
Это уже новострой, мне думается.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0458.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0458_thumb.jpg" border="0" alt="IMG_0458"  ></a> 
</p>
 
<p>
Интересно, что в Дрездене погода похорошела и ходили мы в маечках вместо толстых курток.
</p>
 
<p>
<a href="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0459.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/79cf61e4567a_13DE7/IMG_0459_thumb.jpg" border="0" alt="IMG_0459"  ></a> 
</p>
 
<p>
В заключение скажу, что каждый день в путешествии мы видели хотя бы одно чудо. В смысле сугубо бытовом чудо, а не мистическом. Так что в целом&nbsp; всё вышло отлично. Но меня убивает необходимость проводить половину времени в автобусе, потому что хоть меня и не укачивает, выхожу из него я уставший. В следующий раз постараюсь воспользоватся более цивилизованным транспортом в лице авиадискаунтеров Ryanair или EasyJet.
</p>
 
<p>
В любом случае, в анкете компании Impro Ceļojumi, которая всё организовала, я поставил 8/10, 9/10 по разным пунктам. За это на меня взъелись мама и тётя, не избалованные в своей жизни такими красотами.&nbsp; Но я-то был в Норвегии, и ещё не скоро увижу красоту, которая сможет превзойти невероятное величие норвежской природы.</p><p><a href="/post/2016-01-14%20%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D0%B5%20%D0%B2%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8E" target="_blank" style="background-color: rgb(246, 246, 246);">К оглавлению</a></p><p>
</p>

	