Id: 2cc23e94-6863-470e-b028-ff4bef22bdf8
Title: "Война"
Published: "2008-08-12"
Slug: "2008-08-12 Война"
-
<p>Я даже жалею, что ада нет. Хоть какое-то утешение было бы, что они все туда попадут, “мировая элита” эта.</p>
	