Id: e75f19cb-d83a-403c-b26a-ed969d3990f9
Title: "Крит — 9, Море и отдых"
Published: "2008-10-05"
Slug: "2008-10-05 Крит — 9, Море и отдых"
-
<p>
Несколько дней мы провели в блаженном ничегонеделании, про это и напишу.Тем более, сестра недоумевает, чего мы на озеро поехали, когда море есть. Одним морем сыт не будешь, так и знайте.
</p>
 [more text=Читать про этическую проблему с лежаками, жару и спортивную анимацию ] 
<p>
Фотографии будут от рассвета и до заката, не мои.
</p>
[more text= Читать про этическую проблему с лежаками, жару и спортивную анимацию]
<p>
&nbsp;
</p>
  
<p>
Что касается бассейна, то он был неглубокий: с одной стороны метр, с другой 1.70. Так что плавал я там лишь один раз, хоть в океане и не так просто плавать, потому что ветер создаёт волны. Я так подозреваю, из-за мыса не такие большие, как могли бы быть, но всё равно. Зато Андрея привело в восторг то, что в море из-за солёности реально можно делать “звёздочку” и не тонуть. Захочешь даже – не утонешь, выталкивает. Как по мне, так это конечно весел, но из-за этого вода такая солёная, что нырять надо осторожно – даже чуть-чуть воды, попавшей в рот, вызывает рвотный позыв.
</p>
 
<p align="center">
<a href="http://www.holidaycheck.com/fullscreen.php?ch=ub&amp;id=1155928130&amp;bildMotiv=&amp;ebene=hid"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_B20B/image.png" border="0" alt="image" title="image"  ></a> С этой стороны бассейн 1.70 м.
</p>
 
<p>
Ещё у меня были плавательные очки. Когда я их достал, началось самое веселье: солёная вода не может попасть в глаза, ныряй – не хочу, рассматривай дно. Правда, ничего особенного там нет. Разве что пара видов кораллов (я надеюсь, что это были они), кучкующихся небольшими группками по два-три метра в диаметре. К счастью, среди кораллов живут рыбы, и это уже интереснее. Даже здесь они сравнительно цветные, хоть и не настолько яркие, как в тропиках.
</p>
 
<p align="center">
&nbsp;<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_B20B/image_3.png" border="0" alt="image" title="image"  >Вечером в бассейне плавать нельзя. Наверное, на море тоже нельзя, но нигде не написано
</p>
 
<p>
Кстати, lifeguardов, aka спасателей на воде, я не заметил. Впрочем, кроме меня никто далеко и не заплывал, да и я старался слишком не углубляться, несмотря на тёплую воду: кто знает, что за звери поджидают в глубине. Шучу, конечно, на самом деле я просто не хотел нервировать персонал отеля зазря: острой необходимости куда-то далеко уплывать у меня не было.
</p>
 
<p align="center">
<a href="http://www.holidaycheck.com/fullscreen.php?ch=ub&amp;id=1155975264&amp;bildMotiv=&amp;ebene=hid"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_B20B/image_4.png" border="0" alt="image" title="image"  ></a> Номера с настоящим видом на море – ближе к нему и правее – явно сильно дороже обычных или наших
</p>
 
<p>
Кстати, с лежаками вышла забавная история. Их как бы занимают с утра, для чего кладут синее пляжное полотенце. Когда Андрей спокойно переложил чужое полотенце на соседний лежак и занял место, Таня очень переживала. Я сказал, что это его личное дело. Потом Таня даже попросила, чтобы я на него воздействовал. Мне не жалко, но я ответил, что вопрос с лежаками неочевидный. Хорошо бы, если те, кто их занимают, реально пользовались. Но в любой момент времени занята едва ли половина. С точки зрения моей довольно простой этической системы, это свинство, а именно – неэффективное использование общественной собственности.
</p>
 
<p align="center">
<a href="http://www.holidaycheck.com/fullscreen.php?ch=ub&amp;id=1155939091&amp;bildMotiv=&amp;ebene=hid"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_B20B/image_5.png" border="0" alt="image" title="image"  ></a> Личные бассейны в люкс-номерах
</p>
 
<p>
Полотенца на лежаках валяются сутками напролёт: некоторые их и не убирают, в любое время пришёл – а кушетка твоя. Я двойные стандарты не понимаю, о чём Татьяне и сообщил. Она правда сказала, что так принято, и поэтому я попробовал Андрея уговорить всё-таки не занимать чужие лежаки. Тогда мне в голову не пришло спросить, почему она так решила. А вот сейчас я нашёл в отзывах по Хидрамису, что там как раз нельзя “бронировать” лежаки полотенцами. Чёрт знает, правда или нет, но в любом случае – занимать лежаки заранее – не лучше, чем скидывать чужое полотенце, так и знайте. Другое дело, если ты вышел на 15 минут искупаться или в бар за водичкой –&nbsp; тогда можно и оставить..
</p>
 
<p align="center">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_B20B/image_6.png" border="0" alt="image" title="image"  >
</p>
 
<p>
Кстати, если сидишь за столиком, дают стеклянный стакан, а если на пляж идёшь – пластиковый. Больших кружек мало, поэтому их используют только для пива. Это минус, даже несмотря на то, что бар в 15 метрах от пляжа.&nbsp; Когда лежишь и ничего не делаешь, так и хочется продолжать, даже в бар лень идти. Разве что в море можно сходить, а то слишком уж жарко временами. Кстати, Андрей согласился со мной, что от жары ощущаешь себя туповато, “мозги плавятся”, что называется. К вечеру становится легче, но к вечеру начинаешь пить алкоголь в серъёзных количествах, и потому субъективно опять тепло. Прямо-таки неразрешимое противоречие. А самое печальное – в нашем номере плохо работал кондиционер, и даже ночью я чуток мучался от жары. По сравнению с США удивительно, конечно – там кондиционер за 15 минут вымораживал комнату до установленной температуры, будь она хоть 10 градусов по цельсию.
</p>
 
<p align="center">
&nbsp; <a href="http://www.holidaycheck.com/fullscreen.php?ch=ub&amp;id=1155928133&amp;bildMotiv=&amp;ebene=hid"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_B20B/image_7.png" border="0" alt="image" title="image"  ></a> Здесь вечером показывали кино, в основном мультики для детей. Сидишь на ступеньках, смотришь на проекторе перед ними
</p>
 
<p>
Раз уж я упомянул один из немногих минусов отеля, сообщу и остальные прямо тут. Во-первых, качели для детей были не покрашены. Во-вторых, у настольного тенниса не было сетки, а стол был ободран. Про красящиеся браслеты я уже говорил. В принципе, найти к чему ещё придраться ещё, невозможно, если только ты не сверхаристократ, привыкший во всяким чудесам.
</p>
 
<p align="center">
&nbsp;&nbsp; <a href="http://www.holidaycheck.com/fullscreen.php?ch=ub&amp;id=1156304366&amp;bildMotiv=&amp;ebene=hid"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_B20B/image_8.png" border="0" alt="image" title="image"  ></a> Справа - столовка
</p>
 
<p>
Ленивый трёп, солнце, море и жратва. Так мы провели немало дней, я между делом забавлялся чтением Громова и Дьяченко на своём Sony Reader. Пару раз играл в волейбол, стрелял из лука. Это всё называется анимацией – то есть развлечением постояльцев, чтобы им скучно не было. Люди, которые этим занимаютсят – аниматоры, про них позже. Тот, что помогал стрелять из лука, был длинновязым русским, весьма развязно шутившим с русскоязычными постояльцами. Татьяна бы наверное в душе возмутилась, а я просто удивился, что менеджмент ещё не весь персонал выдрессировал в биороботов. С другой стороны, это же критяне – им всё равно, у них солнечный дзен.
</p>
 
<p>
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_B20B/image_9.png" border="0" alt="image" title="image"  >
</p>
 
<p>
А волейболом командовал колоритный старикан, хоть и с пузом, но мускулистый, и с белыми усами. Я сначала подумал, что он аниматор, потому что он вечно вечером появлялся с мячиком, свистел в свисток и кричал “Волейболл”, повторяя эти действия каждые десять секунд, пока проходил к полю мимо бассейна. Как потом оказалось, это был просто активный постоялец, он участвовал и в водной гимнастике, которую вёл факир. Впрочем, таким образом я всё скоро запутаю окончательно, потому что не только забегаю вперёд, но и рассказываю походя про то, что до сих ещё не упоминал. С другой стороны, водная гимнастика – штука понятная, а факир её вёл, потому что ему тренироваться надо.
</p>
 
<p>
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_B20B/image_10.png" border="0" alt="image" title="image"  >
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
Вот вы всё это смотрите на картинках, а я в жизни видел. Впечатление – удивительное. Для нас, неизбалованных путешествиями на юга людей, это всё как другая жизнь – телевизионно-сериально-журнальная. Как мираж. А тут я за год съездил сразу в США и на Крит – как бы не утонуть во впечатлениях. Но поскольку вы видите лишь слабый отблеск, вам это не грозит, и вы можете смело ждать следующей серии.
</p>
 
<p>
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/10_B20B/image_11.png" border="0" alt="image" title="image"  >
</p>
<p>&nbsp;&nbsp;<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p>
</p>

	