Id: e86a98ab-dd6b-4b0b-b313-6e8f6ba5264a
Title: "Германия-5"
Published: "2008-01-10"
Slug: "2008-01-10 Германия-5"
-
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0231.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/5_1430F/IMG_0231_thumb.jpg" border="0" alt="IMG_0231"  ></a> \
</p>
 
<p>
Это ещё в Кобленце. Как видно, что горшок у немцев ассоциируется с глубокими раздумьями. Недаром у них (почти единственных в мире) унитазы с плоской площадкой для разглядывания экскрементов.
</p>
 <br>
[more text=Читать как мы совершили трёхчасовую водную прогулку по Рейну.]<br>
<p>
Зато потом мы совершили трёхчасовую водную прогулку по Рейну, и даже посмотрели на знаменитый мыс Лорелей. 
</p>
 
<p>
Замков по берегам Рейна такое дикое количество, что даже считать лень. Когда нам в школе рассказывали про феодальные войны, воспринималось всё крайне абстрактно. Вот если цивилизация не развалится, а наоборот, слегка одумается, школьникам историю будут преподавать прямо на борту пароходиков или флайеров, показывая наглядные примеры. Глядишь, и успеваемость повыситься. С другой стороны, всё это совсем никому нужно не будет, потому что все будут сидеть в виртуальности и играть в интересную жизнь. В то, что цивилизация одумается до такой степени, что все будут креативить, я не верю.
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0235.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/5_1430F/IMG_0235_thumb.jpg" border="0" alt="IMG_0235"  ></a>&nbsp;
</p>
 
<p>
Вот эта самая скала Лорелей. На вид вполне нестрашная.
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0251.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/5_1430F/IMG_0251_thumb.jpg" border="0" alt="IMG_0251"  ></a> 
</p>
 
<p>
 Смыл истории вам неплохо поведает Гёте. А для интересу - 4 перевода. 
</p>
 
<table border="0" style="font-size: xx-small">
	 
	<tbody>
		 
		<tr>
			 
			<td> 
			<p>
			Бог весть, отчего так нежданно<br>
			Тоска мне всю душу щемит,<br>
			И в памяти так неустанно<br>
			Старинная песня звучит?..  
			</p>
			<p>
			Прохладой и сумраком веет;<br>
			День выждал весенней поры;<br>
			Рейн катится тихо – и рдеет,<br>
			Вся в искрах, вершина горы.  
			</p>
			<p>
			Взошла на утесы крутые,<br>
			И села девица-краса,<br>
			И чешет свои золотые,<br>
			Что солнечный луч, волоса.  
			</p>
			<p>
			Их чешет она, распевая,<br>
			И гребень у ней золотой,<br>
			А песня такая чудная.<br>
			Что нет и на свете другой.  
			</p>
			<p>
			И обмер рыбак запоздалый,<br>
			И, песню заслышавши ту,<br>
			Забыл про подводные скалы<br>
			И смотрит туда – в высоту…  
			</p>
			<p>
			Мне кажется: так вот и канет<br>
			Челнок: ведь рыбак без ума,<br>
			Ведь песней призывною манит<br>
			Его Лорелея сама. 
			</p>
			</td> 
			<td> 
			<p>
			И горюя и тоскуя,<br>
			Чем мечты мои полны?<br>
			Позабыть все не могу я<br>
			Небылицу старины.  
			</p>
			<p>
			Тихо Реин протекает,<br>
			Вечер светел без туч,<br>
			И блестит и догорает<br>
			На утесах солнца луч.  
			</p>
			<p>
			Села на скалу крутую<br>
			Дева, вся облита им;<br>
			Чешет косу золотую,<br>
			Чешет гребнем золотым.  
			</p>
			<p>
			Чешет косу золотую<br>
			И поет при плеске вод<br>
			Песню, словно неземную,<br>
			Песню дивную поет.  
			</p>
			<p>
			И пловец тоскою страстной<br>
			Поражен и упоен,<br>
			Не глядит на путь опасный,<br>
			Только деву видит он.  
			</p>
			<p>
			Скоро волны. Свирепея,<br>
			Разобьют челнок с пловцом;<br>
			И певица Лорелея<br>
			Виновата будет в том.
			</p>
			</td> 
			<td> 
			<p>
			Не знаю, что значит такое,<br>
			Что скорбью я смущен:<br>
			Давно не дает покоя<br>
			Мне сказка старых времен.  
			</p>
			<p>
			Прохладой сумерки веют,<br>
			И Рейна тих простор.<br>
			В вечерних лучах алеют<br>
			Вершины дальних гор.  
			</p>
			<p>
			Над страшной высотою<br>
			Девушка дивной красы<br>
			Одеждой горит золотою,<br>
			Играет златом косы.  
			</p>
			<p>
			Златым убирает гребнем<br>
			И песню поет она:<br>
			В ее чудесном пенье<br>
			Тревога затаена.  
			</p>
			<p>
			Пловца на лодочке малой<br>
			Дикой тоской полонит;<br>
			Забывая подводные скалы,<br>
			Он только наверх глядит.  
			</p>
			<p>
			Пловец и лодочка, знаю,<br>
			Погибнут среди зыбей;<br>
			И всякий так погибает<br>
			От песен Лорелей.
			</p>
			</td> 
			<td> 
			<p>
			Не знаю, что стало со мною,<br>
			Душа моя грустью полна.<br>
			Мне все не дает покою<br>
			Старинная сказка одна.  
			</p>
			<p>
			День меркнет. Свежеет в долине,<br>
			И Рейн дремотой объят.<br>
			Лишь на одной вершине<br>
			Еще пылает закат.  
			</p>
			<p>
			Там девушка, песнь распевая,<br>
			Сидит высоко над водой.<br>
			Одежда на ней золотая,<br>
			И гребень в руке – золотой.  
			</p>
			<p>
			И кос ее золото вьется,<br>
			И чешет их гребнем она,<br>
			И песня волшебная льется,<br>
			Так странно сильна и нежна.  
			</p>
			<p>
			И, силой плененный могучей,<br>
			Гребец не глядит на волну,<br>
			Он рифов не видит под кручей, –<br>
			Он смотрит туда, в вышину.  
			</p>
			<p>
			Я знаю, волна, свирепея,<br>
			Навеки сомкнется над ним, <br>
			И это все Лорелея<br>
			Сделала пеньем своим.
			</p>
			</td>
		</tr>
		 
		<tr>
			 
			<td><em>Перевод Льва Мея</em></td> 
			<td><em>Каролины Павловой</em></td> 
			<td><em>Александра Блока</em></td> 
			<td><em>Вильгельма Левика</em></td>
		</tr>
	</tbody>
</table>
 
<p>
Если Лорелея так сурово смотрела, я бы тоже испугался и потонул.
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0258.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0258_thumb.jpg" border="0" alt="IMG_0258"  ></a> 
</p>
 
<p>
Овечки пасутся на склонах Рейна. Романтика.
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0259.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0259_thumb.jpg" border="0" alt="IMG_0259"  ></a> 
</p>
 
<p>
Одно из бесконечных укреплений.
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0264.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0264_thumb.jpg" border="0" alt="IMG_0264"  ></a> 
</p>
 
<p>
Укреп-собор, я бы так назвал.<a href="/files/blogengine/Writer/5_1430F/IMG_0265.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0265_thumb.jpg" border="0" alt="IMG_0265"  ></a> 
</p>
 
<p>
Ням-ням.
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0266.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0266_thumb.jpg" border="0" alt="IMG_0266"  ></a> 
</p>
 
<p>
Или атомная подводная лодка, или&nbsp; бункер с зелёными насаждениями. Во как расплодились, мутанты.
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0268.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0268_thumb.jpg" border="0" alt="IMG_0268"  ></a> 
</p>
 
<p>
Вот как они виноград растят. Тут кстати, самая козырная местность, все знаменитые немецкие вина - примерно отсюда. Пропалывает и поливает&nbsp; виноград машина, которая карабкается по склону, держась за верёвку, натяную от подножия к вершине грядки.
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0270.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0270_thumb.jpg" border="0" alt="IMG_0270"  ></a> 
</p>
 
<p>
Слава Фатерлянду! (У меня, между прочим, прабабушка породистая немка)
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0273.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0273_thumb.jpg" border="0" alt="IMG_0273"  ></a> 
</p>
 
<p>
Наше судно выглядело не так стремительно, но зато той же компании (вот какую ерунду моск помнит - всем биороботам срочно на чистку реестра)
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0280.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0280_thumb.jpg" border="0" alt="IMG_0280"  ></a> 
</p>
 
<p>
Когда за словом божьим надо вплавь добираться, только тогда оно начинает приобретать ценность.
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0281.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0281_thumb.jpg" border="0" alt="IMG_0281"  ></a> 
</p>
 
<p>
Это последний замок, обещаю. Это вообще последняя картинка на сегодня.
</p>
 
<p>
<a href="/files/blogengine/Writer/5_1430F/IMG_0283.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/5_1430F/IMG_0283_thumb.jpg" border="0" alt="IMG_0283"  ></a>&nbsp;
</p>
 
<p>
Зато текст ещё будет. Внутри транспортного средства я некоторое время перетирал с пожилой немкой. Поскольку этим мой опыт плотного общения с данным этносом и ограничился, смело экстраполирую его на всю нацию. В конце концов, все, кто не знаком с учебником логики автора Челпанова так делают.
</p>
 
<p>
Немка хорошо говорила по-английски. Не запиналась и не вспоминала их по полчаса, как я. Ещё оказалась кладезем знаний об истории Германии, и данной местности в частности. Причём она сказала мне, что это просто хобби, а не профессия. Она бывала в Риге, была в курсе, что такое Латвия и какую роль сыграла Германия в её появлении. Когда я спросил, зачем немцы едут в Ригу, когда вся Германия - один огромный старый город (так это выглядит для туриста), причём куда более умытый и лучше сбережённый, немка ответила, что старые города отличаются друг от друга, и интересно посмотреть на разные.&nbsp; Из чего я сделал вывод, что латвийские туристы-немцы - яростные любители старины с глубокими познаниями в архитектуре. 
</p>
 
<p>
Впрочем, немка была крайне миролюбивой, политкорректной, и от неё не приходилось ожидать весёлого ответа в духе: "Немцы едут посмотреть на своих бывших рабов, а ныне ресурсных паразитов по ЕС".</p><p><a href="/post/2016-01-14%20%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D0%B5%20%D0%B2%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8E" target="_blank" style="background-color: rgb(246, 246, 246);">К оглавлению</a></p><p>
</p>

	