Id: 5aa60292-d127-4d7b-9ead-054e56b22d76
Title: "Всемирная история борьбы за нефть, деньги и власть"
Published: "2008-09-17"
Slug: "2008-09-17 Всемирная история борьбы за нефть, деньги и власть"
-
<p>
Это подзаголовок книги Даниела Ергина &ldquo;Добыча&rdquo;. Во всех отношениях отличная книга,&nbsp; хотя любители СССР наверняка скажут, что он выставлен там империей зла. Это не так: США там выглядит даже хуже &ndash; особенно когда трясётся от страха и унижается перед исламскими странами, и не может принять волевого решения по силовому воздействию. 
</p>
<p>
&lt;&hellip;&gt; 
</p>
   
<p>
В защите страны приняли участие иранцы практически всех религиозных направлений, в том числе и арабы Хузе‑стана, которые не проявили никакого желания быть освобожденными и отнеслись к иракцам не как к &bdquo;братьям&ldquo;, а скорее как к захватчикам. Ирак не был готов встретить такой &bdquo;подъем человеческого духа&ldquo;. Впереди регулярных иранских сил, не думая о сохранении своей жизни, в бой шли сотни тысяч молодых иранцев, влекомые шиитским идеалом мученичества.<strong> Некоторые пришли на фронт, принеся с собой гробы</strong>, &ndash; они следовали словам Хомейни о том, что &bdquo;абсолютное счастье в исламе &ndash; это убивать и быть убитым во имя пророка&ldquo;. И им были розданы пластиковые ключи на небо, которые они носили на шее. <strong>Даже дети участвовали в разминировании проходов для менее ценных и более немногочисленных танков</strong>, и тысячи их погибли. 
</p>
 
<p>
&lt;&hellip;&gt;
</p>
 
<p>
Из книги также можно узнать, почему компания Shell так называется и выглядит, и кем был один из её основателей по имени Самюель Самюель.
</p>
 
<p>
Кстати,  на знание англоязычных реалий (к книге не относящаяся) &ndash; знаете ли вы, что такое chap stick? 
</p>

	