Id: f9a30fe8-9e6b-42a3-bf94-6c12e7d18ded
Title: "США - 7, Парк Гранта"
Published: "2008-06-29"
Slug: "2008-06-29 США - 7, Парк Гранта"
-
<p align="left">
Итак, после планетария нам позвонила Таня и мы договорились сходить в ресторан.&nbsp; Может быть, у меня путается пространственно-временной континуум и это было днём позже, но не страшно - в конце концов, я же не историческую хронику пишу. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/7_12A20/IMG_5234.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12A20/IMG_5234_thumb.jpg" border="0" alt="IMG_5234"  ></a><br>
Ещё одна панорама Лупа. Обратите внимание на количество яхт.
</p>
 
<p align="left">
Обратно мы шли сначала через уже известный вам Museum Campus. Кстати, в прошлом посте я не привёл фотосвидетельство того, что он располагается на дамбе, полученной из отходов при рытье тоннеля.
</p>
<div class="ljcut">
<p align="left">
 Исправляюсь.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/christopherdale/281789930/sizes/o/"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12A20/image.png" border="0" alt="image"  ></a>&nbsp;<br>
Слева вдали планетарий, по центру океанарий, а справа музей
</p>
 
<p align="left">
Далее находился Grant Park, названный в честь великого полководца и посредственного президента, изображённого на 50 долларах. Если вы ничего про Гранта не знаете, достаточно этой фразы из википедии: <em>"в апреле </em><a href="http://ru.wikipedia.org/wiki/1865"><em>1865</em></a><em> г., после длинного ряда упорных сражений Грант принудил генерала </em><a href="http://ru.wikipedia.org/wiki/%D0%9B%D0%B8%2C_%D0%A0%D0%BE%D0%B1%D0%B5%D1%80%D1%82_%D0%AD%D0%B4%D0%B2%D0%B0%D1%80%D0%B4"><em>Ли</em></a><em> сдаться со всей армией и этим положил конец междоусобной войне."</em>&nbsp; В парке мы долго сидели на скамеечке, но так и не дождались большой струи из Букингемского фонтана. А оно того стоит - громадный выброс высотой в 45 метров возникает раз в час (чего мы не знали) и длится двадцать минут. Вообще же фонтан содержит 5 миллионов литров воды, которые выплёвывает со скоростью 900 литров в секунду из своих 133 сопел. Кстати, я заценил <a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=museum+campus&amp;sll=37.0625,-95.677068&amp;sspn=43.983628,76.113281&amp;ie=UTF8&amp;ll=41.893844,-87.622919&amp;spn=0.040571,0.107632&amp;z=14&amp;layer=c&amp;cbll=41.875748,-87.620583&amp;panoid=vRTYse37WGTs0BjT9TaSng&amp;cbp=1,0,,0,5">google street view</a> - неплохо, неплохо. Чтобы увидеть там фонтан, нажмите вправо. 
</p>
 
<p align="left">
Кстати, в последние две недели июня (то есть даже как бы и непосрдественно прямо сейчас) в Чикаго проходит самый большой в мире кулинарный фестиваль <a href="http://en.wikipedia.org/wiki/Taste_of_Chicago">Taste Of Chicago</a>.&nbsp; Там, а частности, подают Чикаго-стайл пиццу в глубокой посуде, больше похожую на пирог. Почему мы её не попробовали, а, Алинка? Вообще, в Чикаго много чего самого большого и очень известного в мире, включая планетарий и океанарий.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/7_12A20/IMG_5241.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12A20/IMG_5241_thumb.jpg" border="0" alt="IMG_5241"  ></a><br>
Моя сестра на фоне Букингемского фонтана
</p>
 
<p align="left">
В парке Гранта также проходят известные фестивали джаза и блюза, притом последний начался в один день&nbsp; с нашим визитом. Хоть я и не фанат блюза,&nbsp; наверное бы сходил - живой концерт такого уровня всегда вставляет. Но моя сестра вообще не ценитель музыки, мучить её не хотелось, а одному не интересно.
</p>
 
<p align="left">
Надо сказать, всяческой живности в парках Чикаго не счесть, при том что это, считай, центр города. Ладно уж дрозды, которые <a href="http://rus.delfi.lv/news/entertainment/yellow/article.php?id=21250523">атакуют посетителей</a> и белки. Но где, скажите на милость, живут кролики, выбегающие из кустов?
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/7_12A20/IMG_5236.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12A20/IMG_5236_thumb.jpg" border="0" alt="IMG_5236"  ></a> 
</p>
 
<p align="center">
Это не дрозд, но таких птичек в Иллинойсе и Висконсине очень много
</p>
 
<p align="left">
Дальше был свежевыстроенный&nbsp; <a href="http://en.wikipedia.org/wiki/Millennium_Park">Millennium Park</a>, то есть Парк Тысячелетия, который тоже часть парка Гранта. Раньше на его месте была железнодорожная сортировочная станция, потом парковка. В 2004 на крыше парковки закончили строительство парка, который, естественно, опять-таки самый большой накрышный парк в мире. В принципе, логично, что где-то же всё самое большое в мире должно находиттся, но такое ощущение, что в США таких вещей 90%.
</p>
 
<p align="left">
Кстати, выхлопов машин совсем не чувствуется. В отличие от Риги и особенно Москвы, где в этом отношении вообще швах. Скоро будет как в каком-то китайском городе, где установлены специальные трубы с чистым воздухом, чтобы пешеходы время от времени могли подышать и не задохнулись от выхлопных газов. В Чикаго даже на улицах Лупа дышиться легко.
</p>
 
<p align="center">
&nbsp;&nbsp; <a href="/files/blogengine/Writer/7_12A20/IMG_5243.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12A20/IMG_5243_thumb.jpg" border="0" alt="IMG_5243"  ></a><br>
Алина на фоне павильона Прицкера. 
</p>
 
<p align="left">
В Миллениум-парке много всякой всячины. Например, павильон Притцкера. Притцкер, в отличие от Гранта, не герой, а украинский еврей, а его семья стала одна из самых богатых в США. В павильоне проходит единственный в США бесплатный фестиваль классической музыки на открытом воздухе. 
</p>
 
<p align="left">
Стальная блямба на фото ниже называется Cloud Gate и находится на площади имени компании Американский Телефон и Телеграф, широко известной своим распадом на много маленьких компаний в рамках антимонопольного дела. Блямба обошлась в&nbsp; 23 миллиона зелёных президентов, но оно того стоило - во-первых, деньги дал спонсор, а во-вторых, популярность скульптуры велика. Весит она 110 тонн, и название своё, как ни странно, оправдывает - см. картинку. Местные, правда, обзывают её "Боб".
</p>
 
<p align="center">
&nbsp;<a href="/files/blogengine/Writer/7_12A20/IMG_5246.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12A20/IMG_5246_thumb.jpg" border="0" alt="IMG_5246"  ></a><br>
Алина на фоне стальной блямбы
</p>
 
<p>
Кстати, любителям поговорить о коррупции в Латвии не лишне будет знать, что парк превысил бюджет на строительство в четыре раза, а некоторые фирмы, занятые на обслуживании парка - самые большие спонсоры предвыборной компании мэра. Так работает капитализм. Правители - ставлениики мегакорпораций, лоббирующие их интересы. Очевидным образом, этот вариант всё же лучше африканского, где обладающие властью лоббируют интересы своих родственников и их друзей.
</p>
 
<p align="center">
<a href="http://en.wikipedia.org/wiki/Image:Bp_bridge.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12A20/image_3.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
BP Pedestrian Bridge - по нему мы не шагали, но прошли под ним - в океанарий
</p>
 
<p>
В парке ещё много всего, но я понял, что если буду писать про всё подряд, то посты про США станут основным моим занятием на вечер и выходные аж до нового года, что может даже и надоесть. Тем более, что просили личного мнения, а не той инфы, что можно найти в любом путеводителе или Википедии. Поэтому отныне ждите текста только про то, что я видел своими глазами и что мне показалось необычным.
</p>
 
<p align="center">
&nbsp;<a href="/files/blogengine/Writer/7_12A20/IMG_5250.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12A20/IMG_5250_thumb.jpg" border="0" alt="IMG_5250"  ></a></p><p align="center"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: start; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a>
</p>
</div>
<p align="center">
<a href="/files/blogengine/Writer/7_12A20/IMG_5250.jpg"></a>
</p>

	