Id: 59f5658b-6650-40e7-a872-7f7fb69f832f
Title: "Немного лингвистики"
Published: "2008-09-12"
Slug: "2008-09-12 Немного лингвистики"
-
<p>
Вы даже не представляете, как мне не нравится, когда .net framework assembly называют на русском &quot;ассамблея&quot;.&nbsp; Это уродливая калька с английского, не имеющая ничего общего с реальным смыслом в русском. 
</p>
 
<p>
На самом деле слово assembly в данном смысле переводится так:&nbsp; СБОРКА. 
</p>
 
<p>
Куча словарей от Яндекса:
</p>
 
<p>
<a href="http://slovari.yandex.ru/search.xml?text=%D0%B0%D1%81%D1%81%D0%B0%D0%BC%D0%B1%D0%BB%D0%B5%D1%8F" title="http://slovari.yandex.ru/search.xml?text=%D0%B0%D1%81%D1%81%D0%B0%D0%BC%D0%B1%D0%BB%D0%B5%D1%8F">http://slovari.yandex.ru/search.xml?text=%D0%B0%D1%81%D1%81%D0%B0%D0%BC%D0%B1%D0%BB%D0%B5%D1%8F</a>
</p>
 
<p>
Словарь Ожегова:
</p>
 
<p>
<a href="http://www.ozhegov.org/words/774.shtml">http://www.ozhegov.org/words/774.shtml</a>
</p>
 
<p>
Грамота.Ру:
</p>
 
<p>
<a href="http://gramota.ru/slovari/dic/?word=%E0%F1%F1%E0%EC%E1%EB%E5%FF&amp;all=x">http://gramota.ru/slovari/dic/?word=%E0%F1%F1%E0%EC%E1%EB%E5%FF&amp;all=x</a>
</p>
 
<p>
Покажите пальцем, в каком из них есть толкование слова &quot;ассамблея&quot; хотя бы отдалённо напоминающее нужное.
</p>
 
<p>
P.S. Использование&nbsp; же непосредственно английского слова &quot;эссембли&quot; хоть и не лучший вариант, но терпимый.
</p>

	