Id: 642817b5-5780-4100-832d-c3957d6a15e0
Title: "США - 6, Adler Planetarium"
Published: "2008-06-28"
Slug: "2008-06-28 США - 6, Adler Planetarium"
-
<p align="left">
На следующий день мы посетили <a href="http://www.adlerplanetarium.org/home.shtml">Adler Planetarium</a>, то есть планетарий Адлера, первый и старейший в Америках.
</p>
 
<p align="left">
Выглядит он как смесь храма древних шумеров и телескопа SETI. Вы не знаете, как выглядит храм древних шумеров, но тем лучше - никто меня не опровергнет. 
</p>
<div class="ljcut">
<p align="left">
Зато вы вполне можете узнать, как выглядит телескоп знаменитого проекта по поиску внеземных цивилизаций. И сравнить. 
</p>
 
<p align="center">
<a href="http://en.wikipedia.org/wiki/Image:20071029_Sundial_at_the_Adler.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/62_1274C/image.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
Планетарий открыт в 1930 на деньги филантропа Макса Адлера
</p>
 
<p align="left">
Планетарий находится в парке Museum Campus, где рядом расположены несколько музеев - кроме планетария, там ещё океанарий Шеда и Field Museum Of Natural History, название, которое я не рискнул перевести, опасаясь впасть в буквализм. В виду имеется то, что музей естественнонаучный,&nbsp; а экспонаты часто понатырены с раскопок.&nbsp; Чтобы пойти в эти музеи, мы купили <a href="http://www.citypass.com/city/chicago.html">Chicago City Pass</a> - набор нескольких билетов в разные места за цену комплекта меньше, чем по отдельности. Концепция популярная, <a href="http://dellscitypass.com/">есть</a> и для Вискансин Деллс, в котором мы были неделей позже. Приятно, что обладатели таких пропусков идут как белые люди - без очереди, и называется такое специальным словом, но я его забыл, поэтому ищите в комментариях, надеюсь местные вспомнят.
</p>
 
<p align="left">
До посещения все мои представления о планетариях ограничивались <a href="http://www.comedycentral.com/videos/index.jhtml?videoId=61721">серией Саус Парка</a>, где городской планетарий потерял популярность. Чтобы её восстановить, детей с помощью проектора зомбировали на постоянное возвращение и заманивание новых жертв.&nbsp; В действительно всё оказалось не так мрачно. Кроме, собственно, планетария, в здании находится музей астрономии и космоса, а также крутой кинопотолок в виде полусферы - система, известная как <a href="http://en.wikipedia.org/wiki/Fulldome">fulldome theater</a>. Видел я такую в первый раз, но их и в США немного. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/62_1274C/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/62_1274C/image_thumb.png" border="0" alt="image"  ></a>&nbsp;<br>
А с этого ракурса похож на еврея в кипе
</p>
 
<p align="left">
В музее планетария было неплохо - давали дистанционно порулить моделью марсохода (или лунохода? дырявая память), показали маштабы планет в виде шаров под потолком (впрочем, я их уже <a href="/post/2008-01-21%20%D0%9E%D1%87%D0%B5%D0%BD%D1%8C%20%D0%BA%D1%80%D1%83%D1%82%D0%BE">приводил</a>) и понажимать кнопки обучающих компьютерных игр - что <strike>свинья грязь всегда найдёт</strike> для программиста всегда в радость. Радует, что таких интерактивных инсталляций в музеях США немало, причём многие -&nbsp; с тачскринами. Когда пришло время, мы сходили на два show, как их тут называют. 
</p>
 
<p align="left">
Первое&nbsp; - звёздное небо Иллинойса. Там нам рассказали, что такое медведица/ковшик и как по медведице найти полярную звезду. Я потом пробовал несколько раз - получается без проблем. Вот что значит - хорошее наглядное пособие. Потом покрутили небо, чтобы мы знали, как оно выглядит в разные сезоны. Яркое и отличное изображение на гигантском куполе обеспечивал грандиозный девайс по центру зала, похожий на пришельца в древнем водолазном скафандре, который во время шоу величаво крутился и двигался в разные стороны.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/el_mojo/2538284543/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/62_1274C/image_4.png" border="0" alt="image"  ></a>&nbsp;<br>
Проектор планетария Адлер. 
</p>
 
<p align="left">
Что интересно, про звёзды вживую рассказывала молодая девушка и делала это очень ловко - ни разу не сбилась, если не считать тех случаев, когда ей мешали школьники из породы тех, кого нельзя называть, на которых нам не повезло нарваться. Кстати, что любопытно, так это то, что полярная звезда меняется со временем - у древних египтян полярной называлась другая звезда, чем у нас. Сложное астрономическое обоснование этого выходит за рамки данного поста. (Это такая отмазка человека, который крайне слаб в астрономии).
</p>
 
<p align="left">
Второе шоу - фильм про чёрные дыры, самый популярный из фильмов планетария. Фильм был весь пронизан любимым американским пафосом и нагнетанием эмоций в виде выразительного закадрового голоса, призванного оттенить могучие спецэффекты о центре галактики и далёких туманностях. Любопытно, что перед этим в трейлере другого фильма я разглядел, что голос там принадлежит <a href="http://en.wikipedia.org/wiki/Laurie_anderson">Лори Андерсон</a>. Теперь понятно, чем композиторша на жизнь зарабатывала, пока не прославилась.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/62_1274C/IMG_5211.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/62_1274C/IMG_5211_thumb.jpg" border="0" alt="IMG_5211"  ></a> <a href="/files/blogengine/Writer/62_1274C/IMG_5213.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/62_1274C/IMG_5213_thumb.jpg" border="0" alt="IMG_5213"  ></a> <a href="/files/blogengine/Writer/62_1274C/IMG_5217.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/62_1274C/IMG_5217_thumb.jpg" border="0" alt="IMG_5217"  ></a> <br>
В подвале планетария был рассказ про астрономию в разные времена с костюмами. А это моя сестра.
</p>
 
<p align="left">
Перед фильмами мы пообедали в кафе Galileo's, то есть "У Галилея". Вообще, такие названия американцы очень любят, если я этого ещё не говорил. Вспомнить хотя бы некоторые из тех мест, где мы были -&nbsp; Macy's, Hoolihan's, Culver's, Kohl's и Woodman's (про последние четыре речь впереди). Очевидно, роль тут играет как то, что многие фирмы были основаны одним человеком, так и и то, что такое название выглядит более человечным и потому привлекательным с точки зрения маркетинга. Кстати, здание планетария стоит на длинной искусственной насыпи, с которой очень хорошо виден Loop (луп). Так в Чикаго называют то, что в других городах обычно зовётся даунтаун. На русском это означает всего лишь деловой центр.
</p>
 
<p align="center">
&nbsp; <a href="/files/blogengine/Writer/62_1274C/IMG_5222.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/62_1274C/IMG_5222_thumb.jpg" border="0" alt="IMG_5222"  ></a> <a href="/files/blogengine/Writer/62_1274C/IMG_5228.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/62_1274C/IMG_5228_thumb.jpg" border="0" alt="IMG_5228"  ></a> 
</p>
 
<p align="center">
Редкий случай, когда я поддался на традицию фото на фоне всякой знаменитой фигни
</p>
 
<p align="left">
Как видно, на этих фото здания не коричневые, как я пытался всех убедить в прошлом посте. Но это все уже давно забыли и на преувеличениях меня не поймают, ведь жизнь поста недолговечна в памяти людской. Впрочем, даже на этих двух снимках цвета озера разные - что уж говорить о прошлом посте, который по меркам жж вообще&nbsp; в другой временной эпохе.
</p>
 
<p align="left">
Майка у меня съехала, потому что дует сильнейший ветер. Но при этом совсем не холодно, поскольку температура градусов 26, и то и выше. А щурюсь я потому, что солнце очень яркое и программисту совсем непривычное. Оцените надпись на майке - два раза американцы приходили в восторг и ещё несколько раз улыбались.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/loupiote/1362867945/sizes/o/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/62_1274C/image_5.png" border="0" alt="image"  ></a>&nbsp;<br>
Фото с фестиваля Burning Man
</p>
 
<p align="left">
Около планетария, кстати, можно было за деньги покататься на знаменитом Segway, двухколёсном электросамокате для гиков, то есть любителей техноидности. Но для этого нужно было существенное время и солнце не такое яркое, а то укатил бы я прямо в озеро Мичиган, несмотря на все его компьютеры и гироскопы. Кстати, говорят дела у Сегвея в этом году пошли на лад - что не удивительно, при стоимости горючего в 5$ за галлон, а нефти - 142$ за баррель. Впрочем, сегвей я видел даже в старой Риге, где он смешно подпрыгивал на брусчатке. А ещё, говорят, один хакер себе такой же за неделю <a href="http://tlb.org/scooter.html">соорудил</a> из запчастей, вместо того, чтобы платить $5000 за оригинал.
</p>
 
<p align="left">
После посещения планетария мы по приглашению Тани пешком через Миллениум Парк отправились в ресторан Grand Lux Cafe, но это тема для нового поста.
</p>
</div>
<p align="left">
&nbsp;</p><p align="left"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	