Id: c8d04040-0390-41b9-a83e-7e611520085b
Title: "Война и крики-тики"
Published: "2008-08-11"
Slug: "2008-08-11 Война и крики-тики"
-
<p>
Смотрел сегодня, как отжигает посол России в ООН на заседании совета безопасности. Потом стал размышлять про войну, которая вообще ужасна и портит мне настроение, которое в эти выходные было таким прекрасным.
</p>
 
<p>
И тут мне вспомнился в тему небольшой рассказик, который я вам приведу под катом.
</p>
 
<p>
&nbsp;
</p>
[more text=Читать маленький рассказик]
<pre>
    Реджинальд Бретнор. Корень зла
---------
Reginald Bretnor. Bug-getter.
OCR &amp; spellcheck by HarryFan, 18 August 2000
---------
Художник Амброзий Гошок постоянно голодал. Однако он не  мог  позволить
себе голодать красиво - в мансарде  на  Монмартре  или  в  Гринич-Виллидж.
Обитал он в бедной части  американского  города  Питтсбурга,  в  холодной,
прокопченной квартирке, заставленной множеством  нераспроданных  картин  и
мягкой ворсистой мебелью, всегда казавшейся влажной на ощупь, из прорех ее
кое-где торчала набивка.  Стиль  Амброзия  поразительно  напоминал  манеру
письма Рембрандта, хотя в технике молодой художник даже превзошел великого
мастера. Все картины Амброзия были до смешного старомодными.
Жена давно покинула Амброзия, отдав предпочтение  оборотистому  дельцу,
который сумел распродать многие тысячи репродукций  Клее  и  Мондриана  по
цене доллар девяносто восемь центов  за  штуку.  Прощальную  записку  жена
нацарапала на оборотной стороне убийственного  счета,  присланного  зубным
врачом. На полу валялись две  повестки  в  суд,  а  также  уведомление  от
домовладельца  о  том,  что  художнику  надлежит   съехать.   Небритый   и
изможденный Амброзий восседал посреди всего этого бедлама. В левой руке он
держал газетную вырезку с  рецензией  на  его  картины,  написанной  неким
Дж.Германом  Лортом,  признанным   в   Америке   авторитетом   в   области
изобразительного искусства.  В  правой  был  зажат  мастихин,  художник  в
отчаянии счищал им угодивших на холст маленьких зеленых  кузнечиков  -  на
мольберте  было  укреплено  неоконченное  полотно,  на  котором   художник
изобразил обнаженную женщину: в свое время мужу позировала миссис Гошок.
Маленькие зеленые кузнечики - эти распроклятые &quot;крики-тики&quot;, как он  их
называл, - набились повсюду. Они свирепствовали по  всей  восточной  части
Соединенных Штатов. Амброзию в общем-то было  на  них  наплевать.  Но  они
стали для  него  пресловутой  последней  каплей,  последним  переживанием,
которое сломило его. Амброзий счищал кузнечиков с холста и все думал  свои
непривычно тяжкие думы.
Художник  напряженно  размышлял  так  несколько  часов,  и  мысли  его,
разумеется, устремлялись в бескрайнюю даль, в глубь  обитаемой  Вселенной.
Вот почему, наверное, в два часа три минуты пополудни за окном послышалось
жужжание, затем щелкнула открываемая снаружи оконная створка, и  вслед  за
этим  в  комнату  влетел  миниатюрный  космический   корабль,   по   форме
напоминавший обыкновенную бадью, он со стуком  плюхнулся  на  купленный  в
кредит ковер, за который Амброзий еще не успел расплатиться.  В  кораблике
открылся люк, и из него выглянуло какое-то странное существо.
- Вот  и  я,  -  сказало  существо  с  едва  уловимым,  но  безошибочно
славянским акцентом.
Амброзий, не  выказав  ни  малейшего  удивления,  швырнул  через  плечо
кузнечика и, сверкнув  на  пришельца  глазами,  произнес  с  решимостью  в
голосе:
- Нет, к отцам города я тебя не поведу!
И тут же принялся счищать следующего кузнечика, лапки которого увязли в
самой интимной части тела миссис Гошок.
-  Меня  ваши  отцы  не  интересуют,  -  отвечало  странное   существо,
отстегивая от пояса нечто похожее на  усовершенствованный  бластер.  -  Вы
мысленно призывали меня, поскольку желаете, чтобы было истреблено нечто. И
я, Джонни Пятнашка, прилетел  исполнить  ваше  желание.  Скажите  же,  что
мешает вам жить?
Амброзий опустил руку с мастихином.
- Многое! - в сердцах воскликнул он. - Послушай-ка,  малыш,  причина  и
способ твоего появления  в  трудную  минуту  моей  жизни  заставляют  меня
говорить с тобой серьезно. Располагайся удобнее.
И Амброзий поведал пришельцу все свои  печали:  он  рассказал  о  своей
неудачной попытке еще  в  художественном  училище  добиться  стипендии,  о
домовладельце, о жене и в довершение - о вырезке  из  газеты  за  подписью
&quot;Дж.Герман Лорт&quot;, которую немного погодя и прочитал,  добравшись  в  конце
концов  до  следующих  слов:   &quot;...ведь   именно   произведения   подобных
псевдотворческих личностей, этаких &quot;самобытных художников&quot; вроде  Амброзия
Гошока, которым свойственно плоское, близкое к фотографическому восприятие
действительности, вызывают негодование у каждого проницательного  критика:
взирая на полотна Гошока, тонкий ценитель найдет подтверждение той глубоко
обоснованной  доктрины,  которая  изложена  мною  в  книге  &quot;Созидательная
творческая личность&quot;: подлинное произведение искусства может быть  создано
только  художником,  обучавшимся  в  специальных  изостудиях   у   больших
мастеров, создано, о чем можно было бы и  не  напоминать,  путем  освоения
богатейшей сокровищницы образов, которыми населена окружающая нас природа,
например образов сплавляемого по рекам  леса,  парящих  низко  над  землей
птиц, вывернутых с корнем деревьев и растрескавшихся скал;  все  остальное
лишь обман, мираж, бессовестное мошенничество!&quot; Амброзий  швырнул  вырезку
на пол.
- Тебе может показаться, - воскликнул он, - что простой смертный  не  в
силах вынести всего того, что со мной приключилось! Так нет же,  -  указал
он на назойливых кузнечиков, - ко всему еще и это!
- А что значит &quot;это&quot;? - поинтересовалось существо.
Амброзий сделал глубокий вдох, сосчитал до  семи  и  потом  истерически
закричал:
- Крики-тики!
- Какие пустяки! - молвило существо. - Я их всех  истреблю.  Только  ты
заплатишь мне...
- Я? Заплачу?.. - с горечью в голосе произнес Амброзий. - Чем же я тебе
заплачу?
- Ты заплатишь мне картинами. Шесть полотен отдашь сейчас  же.  В  счет
аванса. Тогда я начну истреблять  твоих  крики-тиков.  Потом,  когда  дело
будет сделано, отдашь мне еще дюжину картин.
Амброзий  решил,  что  на  других  планетах,   должно   быть,   обитают
эксцентричные меценаты, но возражать не стал. Он  безучастно  наблюдал  за
тем, как пришелец погрузил на борт корабля  шесть  его  картин,  и  нехотя
помахал ему рукой на прощание. Как только  инопланетянин  отбыл,  Амброзий
тут  же  продолжил  свое  занятие  -  снова  стал  счищать  кузнечиков   с
обнаженного тела миссис Гошок.
Пришелец вернулся через два года. На сей раз, однако, его  космическому
кораблю не пришлось влетать в окно. Он  просто-напросто  спланировал  мимо
башен замка  Амброзия  Гошока  во  Флориде  прямо  во  двор  с  фонтанами,
несколько напоминавшими те, что  бьют  перед  усыпальницей  Тадж-Махал,  и
приземлился среди резвящихся молодых женщин; глядя на их фигуры и  одежды,
можно  было  предположить,  что  они  -  обитательницы  модернизированного
мусульманского рая. Некоторые женщины - совершенно обнаженные - плескались
в фонтанах. Другие слонялись вокруг Амброзия и его  мольберта  в  надежде,
что он попытается их соблазнить. Две красавицы стояли рядом с хлопушками в
руках, готовые обрушить  их  на  маленьких  зеленых  кузнечиков,  если  те
появятся.
Пришелец не обратил особого внимания на то,  что  Амброзий  кивнул  ему
весьма сдержанно.
- Разыскать вас трудновато, - со смешком произнес  инопланетянин.  -  В
полумиле к северу отсюда я видел  огромные  дворцы  -  ха-ха!  -  подумать
только чистый мрамор! На юге японский замок - еще грандиознее! Кто все это
построил?
Амброзий  не  слишком   любезно   отвечал,   что   дворцы   принадлежат
композиторам, скульпторам и писателям, а японский замок  -  прихоть  одной
престарелой  поэтессы.  Однако  пришелец  должен  извинить  Амброзия:   он
занят...
Пришелец, казалось, не обратил никакого внимания на слова художника.
- Взгляните, как изменилось все вокруг! - воскликнул он, потирая  руки.
- Деятели искусства процветают. У  них  собственные  яхты,  &quot;роллс-ройсы&quot;,
бриллианты,  их  окружает  множество  привлекательных  женщин  -  владелиц
норковых  шубок.  Я  прибыл,  чтобы  получить  свой  гонорар  -  обещанные
двенадцать картин.
- Пошел вон! - огрызнулся Амброзий. - Ничего ты не получишь!
Пришелец оторопел.
- Разве вы не счастливы? - возразил он. - Неужели вам не нравится такая
жизнь? Ведь я исполнил все, как обещал. Вы должны мне еще дюжину картин  в
счет гонорара.
В это самое  мгновение  на  холст  с  нарисованной  на  нем  обнаженной
женщиной,  над  которым  трудился  Амброзий,  прыгнул  кузнечик.  Художник
отшвырнул кисть.
- Ничего не получишь, мошенник! - в сердцах крикнул он. - Ты  ведь  так
ничего и не сделал! Сейчас любой художник может добиться успеха, но ты тут
ни  при  чем.  Посмотри:  здесь  по-прежнему   полно   этих   распроклятых
крики-тиков!
У пришельца от удивления отвисла челюсть. Мгновение он обалдело  глядел
на Амброзия.
Потом прошамкал:
- Крики-тики - кузнечики? Бог мой! А я-то уничтожил всех критиков!
</pre>
<br />
<p>
А мысль такая: может если уничтожить всех политиков, тоже наступит всеобщее благоденствие?<br />
Не свежая, знаю, но очень уж актуальная.
</p>

	