Id: 8f79a707-a242-4b2f-8dee-3ab2b7758d36
Title: "Жизнь кипт"
Published: "2008-09-21"
Slug: "2008-09-21 Жизнь кипт"
-
<p>
В пятницу была адская вечеринка с гей-клубом (inside joke, не подумайте плохого), в субботу отходил и смотрел Battlestar Galactica. 
</p>
 
<p>
Голос, кстати, сорвал так, что говорить не мог вообще. Хорошо, что хоть сегодня смог, потому что час назад состоялась развиртуализация с <a href="http://textfield.livejournal.com">textfield</a>, которая, как оказалось, приезжала в Даугавпилс фотографом на свадьбу моего школьного товарища. Мир тесен, а жизнь хороша.
</p>
 
<p>
Вообще я на прошлых (позапрошлых?) выходных ходил на &quot;Тёмного рыцаря&quot; и в ресторан Il Patio, но писать про это некогда, потому что ещё дела есть, да и про Крит хотелось бы начать всё-таки.
</p>

	