Id: a9ffe9fd-b2c7-4f67-8ccf-9c9b1c219b2c
Title: "Германия — 6"
Published: "2008-01-13"
Slug: "2008-01-13 Германия — 6"
-
<p>
Доплыли мы по Рейну до музея вина, находящемся в самом лучшем винодельном регионе Германии. Чтобы никому не было обидно, не скажу, в каком. Находится музей в замке - где же ещё, если обычных зданий не осталось, а всё вокруг - историческая ценность, которую сносить ну никак нельзя. 
</p>
[more text=Сотреть фото музея и сисек] 
<p>
<strong>Склянки какие-то. Судя по затрапезному виду, древние, как сам замок.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0286.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0286_thumb.jpg" border="0" alt="IMG_0286"  ></a> 
</p>
 
<p>
Рассказывали нам всякое, но ввиду компьютерного склероза я ничего не помню, поэтому буду нагло цитировать википедию. В конце-концов, вы же это не ради сверхточных фактов читаете, а ради моего искромётного юмора. Так?
</p>
 
<p>
<strong>Тазики какие-то. Наверняка крайне древние, особенно тот, что в виде урны.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0288.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0288_thumb.jpg" border="0" alt="IMG_0288"  ></a> 
</p>
 
<p>
Германия является 9 по величине производителем вина в мире, хотя площадь её виноградников в десять раз меньше чем у Италии или Франции. Большая часть виоградников находится вдоль берегов Рейна, что мы и наблюдали ранее. 
</p>
 
<p>
<strong>Бочки какие-то. Наверное, очень древние и ценные, да ещё и мужик на коне выгравирован.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0289.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0289_thumb.jpg" border="0" alt="IMG_0289"  ></a> 
</p>
 
<p>
Любопытно, что несмотря на свой суровый характер, креплёное вино немцы почти не производят, в отличие от всех остальных видов и подвидов, их в изобилии. Естественно, на главных рынках Германии - US и UK, знают в основном про сладкие вина, так уж повелось. 
</p>
 
<p>
<strong>Пресс какой-то. Наверняка совсем не древний, зато похож на дурацкую тачку.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0285.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/7_12398/IMG_0285_thumb.jpg" border="0" alt="IMG_0285"  ></a>&nbsp;
</p>
 
<p>
Ещё забавно, что розовые вина в Германии делают не от особой к ним любви, а потому, что насыщенный красный цвет получить в немецком климате сложно. Тем не менее, пытаются, из сорта Pinot Noir, который в Германии называется Spätburgunder. Я его кстати <a href="/post/2007-06-24%20%D0%92%D0%B8%D0%BD%D0%BE" target="_blank">пил</a>, мне понравилось, цена правда 16$ за бутылку, многовато.
</p>
 
<p>
<strong>Древний перегонный аппарат. Вино, оно для попов, которые в Германии этим делом испокон веков рулили, а себе фермеры гнали что покрепче.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0290.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0290_thumb.jpg" border="0" alt="IMG_0290"  ></a> 
</p>
 
<p>
После осмотра достопримечательностей, мы отправились на дегустацию вин. Наливали нам 5 сортов, все были белые и почти не пахли мерзким маслянисто-бензиновым запахом, как обычно бывает с белыми винами.
</p>
 
<p>
<strong>Кто догадается, что это такое, всё равно ничего не получит. C'est la vie!</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0293.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0293_thumb.jpg" border="0" alt="IMG_0293"  ></a> 
</p>
 
<p>
Любопытного в дегустации было много. Во-первых, она сопровождалась подробными комментариями.
</p>
 
<p>
<strong>Вид налево.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0305.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0305_thumb.jpg" border="0" alt="IMG_0305"  ></a> 
</p>
 
<p>
Во-вторых, рассказчица не&nbsp; стеснялась: наливала и себе.
</p>
 
<p>
<strong>Вид направо.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0303.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0303_thumb.jpg" border="0" alt="IMG_0303"  ></a> 
</p>
 
<p>
В третьих, детям лет 14 тоже давали попробовать. Нащи туристы-то советские, у них комплексов нету. Немцы, судя по всему, тоже разумно относятся к подобным вещам, что в целом логично - в средние века пить воду было на порядок опаснее вина или пива, она была крайне грязной и бациллоносной, поэтому некрепкий алкоголь пили все, включая детей.
</p>
 
<p>
Любопытно, что&nbsp; сказали бы американцы с порогом продажи спиртного в 21 год.
</p>
 
<p>
<strong>Виды внутрь.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0302.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0302_thumb.jpg" border="0" alt="IMG_0302"  ></a>&nbsp;<a href="/files/blogengine/Writer/7_12398/IMG_0306.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0306_thumb.jpg" border="0" alt="IMG_0306"  ></a> 
</p>
 
<p>
В четвёртых, после дегустации в бешеном темпе пошла продажа продегустированного по 7 евро за бутыльку. Грамотно схема организована! Сначала за свои бабки дегустируем, а потом в хорошем настроении за свои же бабки покупаем в приличных количествах. Впрочем, могли бы по 10 евро задрать, так что ещё по-божески, я считаю.
</p>
 
<p>
<strong>Коршун. (Если слышишь, как&nbsp; осёл в клетке спаривается с&nbsp; тигром, не верь ушам своим! Как-то так, в любом случае).</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0308.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0308_thumb.jpg" border="0" alt="IMG_0308"  ></a>&nbsp;
</p>
 
<p>
Вина, кстати, на мой вкус были все неплохие, но я ввиду своей биороботичности склонен это относить к психологическим факторам. Для тупоголовых поясняю: когда не спеша пьёшь небольшое количество вина в хорошей компании, и тебе рассказывают, какое это вино замечательное , впечатление совсем другое, чем если глушить скучную&nbsp; бутыль из супермаркета стаканами в одиночестве. Всё равно, купил три бутылки: причём мне единственному дали картонный ящик, остальным пластиковые пакеты. Это наверняка из-за моего сногсшибательного обаяния, которое по силе превосходит даже мой искромётный юмор.
</p>
 
<p>
<strong>Спускаемся в пыточную.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0311.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0311_thumb.jpg" border="0" alt="IMG_0311"  ></a> 
</p>
 
<p>
В пятых, рюмки после дегустации нам подарили. Причём они сувенирные, с надписью Музей Вина Ляляля. Вот вечно видишь&nbsp; такое, и думаешь: "Как у буржуев ловко всё организовано".
</p>
 
<p>
<strong>Конечно, все мы любим рассматривать древний винодельческий хлам гораздо больше, чем фото милых юных девушек в лёгком подпитии, но всё-таки.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0313.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0313_thumb.jpg" border="0" alt="IMG_0313"  ></a>&nbsp;
</p>
 
<p>
Музей, кстати, называется Rheingauer Weinmuseum в замке Bromserburg, а регион, соответственно, Рейнгау.
</p>
 
<p>
<strong>А вот и могильный камень, знаменующий окончание повествования.</strong>
</p>
 
<p>
<a href="/files/blogengine/Writer/7_12398/IMG_0314.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/7_12398/IMG_0314_thumb.jpg" border="0" alt="IMG_0314"  ></a> 
</p>
 
<p>
Хаха, обманул - сисек то и нет!</p><p><a href="/post/2016-01-14%20%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D0%B5%20%D0%B2%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8E" target="_blank" style="background-color: rgb(246, 246, 246);">К оглавлению</a></p><p>
</p>

	