Id: b034cde1-ed53-4fa7-a7ad-7f1060c25f76
Title: "nginx"
Published: "2008-05-20"
Slug: "2008-05-20 nginx"
-
<p>
Не знаю, как он это делает, но web-server <strong>nginx</strong> - это чудо из чудес. 200 одновременно скачиваемых файлов -&nbsp; использование памяти не поднялось ни на йоту. То-ли я чего-то не понимаю, и ко мне прибежит хостер с дубинкой, то-ли линукс + <strong>nginx</strong> чрезвычайно эффективны.
</p>
 
<p>
Кстати, <strong>nginx</strong> сделан в России.
</p>

	