Id: 24d0073a-b5b6-43f2-9dc0-74d373a27f2d
Title: "Fox News"
Published: "2008-08-15"
Slug: "2008-08-15 Fox News"
-
Как я уже писал, лживость и двойные стандарты канала&nbsp; американских республиканцев&nbsp; Fox News трудно превзойти даже российским государственным каналам.<br />
Вот ещё пример.<br />
<a href="http://sumlenny.livejournal.com/494974.html">http://sumlenny.livejournal.com/494974.html</a>

	