Id: f9a69b95-501a-4f91-9741-77b7bda04774
Title: "Крит – 6, All-inclusive и пляжный бар"
Published: "2008-10-02"
Slug: "2008-10-02 Крит – 6, All-inclusive и пляжный бар"
-
<p>
Итак, после того, как мы сходили в Каврос и отправили открытки, стало можно начинать расслабляться. Тем более, Андрюха весь первый день повторял: “Я хочу адаптироваться”. Это меня изрядно веселило, потому как лежание на пляже и распитие напиткофф – довольно занятный вид адаптации.
</p>
 
<p>
&nbsp;
</p>
 
<p>
Пить мы стали прямо с 11 часов, причём я до того с Нового Года практически капли в рот не брал, а тут как начал, так и не останавливался. 
</p>
 [more text=Читать про адаптацию, пляжный бар и халявную еду] 
<p align="center">
<a href="/files/blogengine/Writer/6_11FA2/IMG_0041.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/6_11FA2/IMG_0041_thumb.jpg" border="0" alt="IMG_0041" title="IMG_0041"  ></a> Народ взял по пиву, а я, не желая прям с утра напиваться – спрайт и колу, а вернее их all-inclusive аналоги
</p>
 
<p>
Расскажу теперь, что содержит в себе знаменитое “всё включено”. Итак, что мы имели из еды.
</p>
 
<p>
1)Завтрак с 7 до 10, обед с 12 до двух, ужин с шести (или семи?) до 9. Цифры точные не помню, склероз проклятый. Про все эти приёмы пищи подробнее – позже.
</p>
 
<p>
2)Газированные напитки и растворимые соки в пляжном баре, там же – пиво, вино и мороженое. Всё это с 11 утра до 11 вечера, без ограничений. После – за деньги.&nbsp; Ещё там были закуски aka бутерброды.
</p>
 
<p>
3)Lunchbox, то есть обед с собой в коробке, если не обедаешь в отеле. Ланчбокс содержал два сухих и невкусных субмаринных сэндвича (“саба”), грушу и персик.
</p>
 
<p>
4)Один алкогольный коктейль в день в пляжном баре. Мы брали и больше, потому что бармены, согласно обычным критским традициям, не парятся по мелочам (+1 в копилку расслабона)
</p>
 
<p align="center">
Поскольку мы начали пить с утра в пляжном баре, про него и расскажу. <a href="/files/blogengine/Writer/6_11FA2/IMG_0044.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/6_11FA2/IMG_0044_thumb.jpg" border="0" alt="IMG_0044" title="IMG_0044"  ></a> Вино, пиво, кола, спрайт. По цвету определите сами, что где
</p>
 
<p align="left">
Про газировки: хуже колы и спрайта, но терпимые, пить можно, особенно когда льда побольше попросишь. В отличие от американцев, местные лёд совершенно не уважают: спецмашины, бесконечно его производящей, у них нет, тащат его то ли с кухни, то ли просто из холодильника. А я как в США привык ко льду, так и ем его в жару килограммами. Через пару дней барменов уже приучил к своим привычкам: клали мне лёдь всюду, в вино в том числе. Можно сказать, моветон, но для аристократов даже пить такое вино – моветон, а нам, простецам, из себя снобов строить негоже: денег не хватит.
</p>
 
<p>
<a href="/files/blogengine/Writer/6_11FA2/IMG_0045.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/6_11FA2/IMG_0045_thumb.jpg" border="0" alt="IMG_0045" title="IMG_0045"  ></a> 
</p>
 
<p>
Про пиво: я не пробовал,но народ сказал, что пить вполне можно. В принципе, с вином то же самое: отличное столовое вино. В том смысле, что выпить его можно много, нет яркого вкуса, который приедается, да и градус кажется меньшим, чем у вина должен быть. Не знаю, так ли это на самом деле, но вино мне понравилось, я его в основном и пил: и белое, и красное. Прямо как в средние века: даже дети пили вино и пиво, потому что вода была грязной и с бактериями (хоть они и не знали, что такое бактерии).
</p>
 
<p>
Что касается соков, то они были растворимые, как газировка, из картриджей с концентратом вставленных в спецмашину. На вкус – кошмарненько, хоть и получше, чем&nbsp; перестроечный “юппи”. Когда мне вконец опостылели газировки, я эти “соки” тоже пил, тем более, что вина всё-таки столько не выпьешь, чтобы целый день жажду утолять им. Единственный натуральный сок, что был – томатный в столовке, и то наверное потому, что его мало кто пьёт.
</p>
 
<p>
Про персонал. Как оказалось впоследствии, две барменши были русскими – одна из Северной Осетии (не путать с Южной), другая не помню. Они ещё и третью учили русскому (судя по всему, местную). Ещё был прикольный турок, который больше шутил и отжигал, чем наливал. Зато даже на русском отжигал – силён!&nbsp; Впрочем, надеюсь ещё про него написать позже.
</p>
 
<p>
Кстати, когда мне носильщик донёс чемодан до номера, я ему дал евро, потому что меня так научили опытные товарищи, побывавшие прежде на масскурортах. Улыбался он во весь рот – ещё бы, ведь мой номер находится прямо рядом с холлом, и тащить ему ничего не пришлось, разве что в лифте поднятся на второй этаж. То есть мог бы и не давать евро. И горничным тоже оставлял евро на подушке. Можно бы и два, но всё-таки жаба душит. Про прочий персонал – по мере развития повествования.
</p>
 
<p>
Кстати, пока не забыл – при входе в зону бассейна висела табличка: “топлесс только на пляже, в бассейне – нельзя”. Я её вроде бы фотографировал, но найти не могу.&nbsp; Это, впрочем, не мешало немкам валяться топлесс и на лежаках около бассейна. И хотя постояльцы в основном были среднего возраста, или даже пожилые, большинство топлесс-барышень раздражения обвислыми вторичными половыми принзаками не вызывало: то ли некрасивые стеснялись и не светили ими, то ли силикон нынче в Европе дёшев.
</p>
 
<p>
Так что, первый день прошёл расслабленно, как, впрочем, и остальные. Удивительно, но даже если ты ничего не делаешь, время куда-то уходит. Впрочем, первый день у нас начался с 7 утра, и потому был действительно очень, очень долгим.<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;</a></p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>

	