Id: af79ce3f-cbd4-4230-b83a-fd73bba312d8
Title: "США — 22, Вечерний Мэдисон"
Published: "2008-07-21"
Slug: "2008-07-21 США — 22, Вечерний Мэдисон"
-
<p>
Вечером мы с Лолитой заехали в центр. Надо сказать, что Мэдисон был основан судьёй по имени Джеймс в честь отца-основателя и четвёртого президента США, которого тоже звали Джеймс, и который умер незадолго до возникновения города.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/1e1ac8520c05_1436A/image3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/1e1ac8520c05_1436A/image3_thumb.png" border="0" alt="image3"  ></a>&nbsp;<br>
Даунтаун Мэдисона зажат между двух озёр, и делит город на западную и восточную части
</p>
 
<p>
&nbsp;
</p>
<div class="ljcut">
<p>
Судья купил кусок болота между озёр Монона и Мендота, а территории Висконсин (тогда ещё не штату) требовалось выбрать столицу, причём удобно расположенную географически. Ловкий судья сначала заставил картографа отметить своё болото как город. А потом, манипулируя уже тогда падкими на скидки и лозунги американцами, обещал всем продать участки задёшево, а улицы назвать в честь отцов-основателей. Сентиментальные депутаты устоять не могли и сделали фиктивное поселение столицей, при том что уже тогда рядом был город Мидлтон, который для это роли вполне подходил. В Мидлтоне, если помните, живёт Лена.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/12505951@@@@N00/386107266/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/1e1ac8520c05_1436A/image.png" border="0" alt="image"  ></a>&nbsp;<br>
Зимний вид на Monona Terrace
</p>
 
<p align="left">
Мы с Лолитой сначала посетили <a href="http://www.mononaterrace.com">Monona Terrace</a>, то есть террасу на озере Мoнона. Терраса имеет нелёгкую судьбу. Проект террасы в 1937 году задумал великий архитектор Френк Ллойд Райт, уроженец Висконсина, который после всемирной известности наконец решил сотворить что-нибудь достойное в родном городе. В 1938 городские власти не были готовы к столь маштабному проекту, и вернуться к нему удалось лишь в 1952. Но ведя экстравагантный образ жизни, мастер нажил себе врагов, и проекту чинились всевозможные препятствия,&nbsp; снятые лишь в 1959. К несчастью, Райт в этом году умер, и проект, за который он боролся больше 20 лет, которому посвятил бесконечные наброски, планы и чертежи, и за который получил смешные 250 долларов, подвис в воздухе. 
</p>
 
<p align="center">
<a href="http://flickr.com/photos/12505951@@@@N00/239861878/sizes/o/"><img style="border: 0px none " data-src="/files/blogengine/Writer/1e1ac8520c05_1436A/image_3.png" border="0" alt="image"  ></a>&nbsp;<br>
Крупный план
</p>
 
<p>
Вернуться к нему удалось лишь в девяностые, причём с помощью референдума среди жителей, набранного незначительным большинством. Ученик&nbsp; Френка Райта Tony Puttnam переделал интерьер с первоначального варианта офисов для&nbsp; гос. учереждений на общественный и развлекательный центр, оставив внешний вид неизменным. 
</p>
 
<p align="center">
<a href="http://flickr.com/photos/lfcastro/2490373391/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/1e1ac8520c05_1436A/image_4.png" border="0" alt="image"  ></a>&nbsp;<br>
Интерьер
</p>
 
<p align="left">
Строительство было закончено в 1997 году, через&nbsp; 60 лет после задуманного, во время которых по поводу проекта было подано 10 судебных исков и принятно 10 законов, а также устроено 5 референдумов. Стоила терраса 67 миллионов долларов, причём немалую часть этих денег дали сознательные граждане, за что их имена увековечены на плитках, по которым ходят посетители. Всю эту увлекательную историю <a href="http://www.mononaterrace.com/educatorspage/images/brief-history.pdf">можно прочитать на оф. сайте</a> террасы. 
</p>
 
<p align="center">
<a href="http://flickr.com/photos/8771888@@@@N08/533887723/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/1e1ac8520c05_1436A/image_5.png" border="0" alt="image"  ></a> <br>
Парковочный пандус террасы в HDR
</p>
 
<p>
HDR, если кто ещё до сих пор не знает, это попытка передать человеку расширенный диапазон спектра, который "видят" приборы и некоторые звери. Чтобы сделать хороший HDR, нужно несколько фотографий одного и того же места и специальная программа.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/1e1ac8520c05_1436A/image_6.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/1e1ac8520c05_1436A/image_thumb.png" border="0" alt="image"  ></a>&nbsp;<br>
Вид на Мэдисон из озера Монона летом 
</p>
 
<p align="left">
После осмотра террасы, где, кстати, не работал женский туалет (у амерканцев тоже бывают накладки) мы двинулись на любимое место отдыха студентов в Мэдисоне, находящееся на берегу озера Мендота. 
</p>
 
<p align="center">
<a href="http://flickr.com/photos/djmatt/1583197742/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/1e1ac8520c05_1436A/image_7.png" border="0" alt="image"  ></a>&nbsp; <br>
Забавные стулья единой конструции
</p>
 
<p align="left">
Пройти туда можно только через здание студенческого союза, зато потом нас ждала приятная вечерняя атмосфера, хоть и было довольно шумно от огромных толп студентов и прочих любителей оторваться. Учиться в США люди могут весь год, и берут сколько им удобно предметов - годичный курс можно растянуть на много лет. Несмотря на это, летом в центре народу всё-таки поменьше. Но не в этом популярном местечке.
</p>
 
<p align="center">
&nbsp;<a href="http://flickr.com/photos/jess_anderson/152364528/sizes/o/"><img style="border: 0px none " data-src="/files/blogengine/Writer/1e1ac8520c05_1436A/image_8.png" border="0" alt="image"  ></a><br>
Причал для яхт 
</p>
 
<p align="left">
Были мы на берегу Мендоты недолго, потому что меня ждала моя ленивая сестра.&nbsp; Лолите хочу сказать большое спасибо - если бы не она, я бы увидел меньше половины Мэдисона, и уж точно не стал бы читать в интернете про строительство террасы и историю Мэдисона. А сестра постарела, поскучнела, ей теперь милы книжки и кемпинги, а не обзор достопримечательностей. Кстати, я вчера смотрел фильм "Залечь на дно в Брюгге" (In Bruges), который не смог пропустить после пиара walkabout_d, Лебедева и Гоблина. Там тоже про это было в весёлом ключе, я имею в виду sightseeing. И про слонопободных американцев было, но я не стану портить вам удовольствие.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/star8/1315988151/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/1e1ac8520c05_1436A/image_9.png" border="0" alt="image"  ></a>&nbsp;<br>
Закат
</p>
 
<p align="left">
Что касается Мэдисона, город красивый и зелёный, но до мощи Чикаго ему далеко. Город - всё-таки образование урбанистическое, и должен этот самый урбанизм олицетворять. (Это вам намеренный плеоназм, а не хухры-мухры!) Хотите природы - езжайте в кемпинги. Про которые, кстати, тоже будет отдельный пост. С другой стороны, мастер Дао должен нарушать нормы структуры, дабы добиться перехода на новый порог сложности и красоты. Если вы не в курсе, что означает последнее предложение, не переживайте - просто вы явно не человек искусства.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/85625337@@@@N00/557933023/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/1e1ac8520c05_1436A/image_10.png" border="0" alt="image"  ></a></p><p align="center"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: start; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a>
</p>
</div>
<p align="center">
<a href="http://flickr.com/photos/85625337@@@@N00/557933023/sizes/l/"></a>
</p>

	