Id: a69bcbc5-791b-48dd-8d5d-dde52f234bbb
Title: "Сок"
Published: "2008-10-12"
Slug: "2008-10-12 Сок"
-
<p>
Случайно нашёл в Iki апельсиновый сок не из концентрата. Называется Valencia, делает его Tukuma piens под известным брендом &ldquo;Baltais&rdquo;, у них ещё питьевые йогурты ничего. Стоит около 0.8 Ls за поллитра, на вкус как американские соки, густой такой. Буду периодически покупать, если не пропадёт. 
</p>

	