Id: d02f0bea-95ca-4b16-9551-3dd246a7ff76
Title: "<p><a href=\"http://www.boston.com/bigpicture/2008/08/the_large_hadron_collider.html\">Мегафотки колла"
Published: "2008-08-02"
Slug: "2008-08-02 _p__a href__http___www.boston.com_bigpicture_2008_08_the_large_hadron_collider.html__Мега"
-
<p><a href="http://www.boston.com/bigpicture/2008/08/the_large_hadron_collider.html">Мегафотки коллайдера!</a></p>
	