Id: 3cf187da-6bc7-4619-891c-e81587f35653
Title: "Газонокосилка"
Published: "2008-07-29"
Slug: "2008-07-29 Газонокосилка"
-
Новости из Висконсина:<br />
<a href="http://rus.delfi.lv/news/entertainment/yellow/article.php?id=21480898">Мужчина арестован за расстрел газонокосилки</a><br />
<br />
<em>Полиция штата Висконсин арестовала 56-летнего мужчину после того, как он расстрелял из дробовика газонокосилку.<br />
<br />
Кит Валендовски, живущий в городе Милуоки, обвиняется в нарушении общественного порядка. Если суд признает мужчину виновным, ему грозит штраф в размере 11 тысяч долларов или шесть с половиной лет лишения свободы.<br />
<br />
Офицеры полиции, приехавшие к Валендовски после жалобы соседей, сказали, что мужчина не был согласен со своим задержанием. &laquo;Это мой двор, моя газонокосилка и я могу стрелять в нее, когда мне вздумается&raquo;, &mdash; говорил Валендовски. </em><br />
<br />
Вот так и живут в США - даже собственную газонокосилку уже расстрелять нельзя. Тоталитаризм сплошной и соседи-стукачи.

	