Id: ad987a73-b761-4d5f-ac2f-08878bc36222
Title: "Демо"
Published: "2008-12-23"
Slug: "2008-12-23 Демо"
-
<h2>Демо</h2>
<p>
Что такое демо?<br />
Демо - это программа, обычно небольшая, призванная продемонстрировать способности дизайнеров и разработчиков, её создавших.<br />
Выглядит
это как абстрактные(иногда и не очень абстрактные) движущиеся
изображения и спецэффекты, сопровождающиеся инструментальной(обычно
электронной) музыкой.<br />
Чтобы оценить её красоту, вовсе не обязательно разбираться в компьютерах, или быть программистом.<br />
Но чтобы оценить титанический труд и исскусство людей, её создавших, это очень желательно.<br />
Впрочем, как говорится, лучше один раз увидеть, что сто раз услышать.<br />
Для скорости и экономии места на сайте размещены только Демки в категориях 64K Intro(до 64 килобайт) и 4k Intro.<br />
Здесь вы можете увидеть, как много на самом деле можно поместить в такой крохотный размер.<br />
Это вам не видеоклипы по 80 МБ!
</p>
<p>
<a href="http://vladekk.izvne.com/downloads/fr-019-final.zip">Poem To A Horse</a> - IMHO одна из лучших демок всех времён.<br />
<a href="http://vladekk.izvne.com/downloads/sk-pkd-final.zip">pk is dead</a> это образец средней хорошей демо.<br />
<a href="http://vladekk.izvne.com/downloads/helleven.zip">helleven</a> ещё одна спокойная демо приличного уровня.
</p>
<p>
<a href="http://vladekk.izvne.com/downloads/rise.zip">Rise</a> - Планета кубиков, мне нравится.
</p>
<p>
P.S. Для хорошей работы этих демок рекомендуется компьютер помощнее,
особенно важно поставить последние драйвера от видеокарты.Некоторым
требуется 3D ускоритель.<br />
Все они работают в OS Windows 9x/2k/xp.
</p>
<p>
<strong>Смотри также:</strong> 
</p>
<div style="border: 1px solid black; margin: 20px; background-color: #eeffff">
<ul>
	<li><a href="http://scene.org.ru/">Русский портал демо-сцены</a>&nbsp;</li>
	<li><a href="http://scene.org/">scene.org</a> - Координационный центр и центральный архив демо-сцены</li>
</ul>
</div>
<p>
&nbsp;
</p>

	