Id: 89c1eddb-2a90-4556-ac75-0dae1a7dd7f0
Title: "США — 4, супермаркет Walmart"
Published: "2008-06-25"
Slug: "2008-06-25 США — 4, супермаркет Walmart"
-
<p>
После буфета мы посетили Walmart, великую злую мегакорпорацию. Волмарт - по многим показателям <a href="http://money.cnn.com/magazines/fortune/global500/2007/full_list/index.html">самая большая компания</a> в мире, с доходами в 351 миллиард и прибылью в 11. Представляет собой&nbsp; сеть гигантских супермаркетов, в которых продаётся всё. Злая она потому, что использует <a href="http://www.pbs.org/itvs/storewars/stores3.html">questionable business practices</a>, по нашему - сомнительные методы ведения дел. Примеры процитирую, если вам по ссылке лень ходить: подавление и недопущение профсоюзов, найм нелегальных эммигрантов&nbsp; и эксплуатация их на полную катушку в США, полурабский труд на заводах детей и взрослых в странах-производитях товаров, пренебрежение экологией и давление на поставщиков, вынужденных отпускать товар по крайне низкой цене или не продавать его в сети вообще. [more text=Также волмарт любит кичиться своим христианским происхождением]Также волмарт любит кичиться своим христианским происхождением, и исходя из этого подвергать цензуре диски и журналы, что в нём продаются. Размерами волмарты обычно как несколько футбольных полей. Строительство такого в регионе массово разоряет небольшие магазины и фабрики. Работают в волмарте обычно чёрные и латиносы, часто нелегалы. Как правило, они плохо обучены и не могут помочь посетителю. Американцы про всё это в курсе - те, что посознательнее, стараются в волмарт не ходить, но на фоне угрозы понижения качества жизни эксплуатация рабов волмартом как-то меркнет.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_FBAC/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_FBAC/image_thumb.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
"Высокая стоимость низких цен"
</p>
 
<p>
Теперь о хорошем - по крайней мере с точки зрения потребителя, коим всегда в основе своей души является американец. Цены очень низкие, выбор какой-никакой есть, купить можно всё - продовольствие, одежду, электронику, лекарства. Я купил плавательные шорты, джинсы за 5$, банку витаминов в 300 штук, шорты и джинсы,&nbsp; а так же бритву Gillette Fusion с пятью лезвиями, которую давно хотел попробовать. Любопытно, что в примерочную с собой можно брать максимум 6 предметов - почему именно это число, непонятно.
</p>
 
<p>
Если кто до сих пор не в курсе, обычные плавки в Америке носят только геи или развязные плейбои.
</p>
 
<blockquote>
	 
	<p align="center">
	&nbsp;&nbsp; <a href="/files/blogengine/Writer/4_FBAC/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/4_FBAC/image_thumb_3.png" border="0" alt="image"  ></a> <a href="/files/blogengine/Writer/4_FBAC/image_4.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/4_FBAC/image_thumb_4.png" border="0" alt="image"  ></a> <br>
	Обычные плавки слева и плавательные шорты справа
	</p>
</blockquote>
 
<p>
Если вы не хотите, чтобы вас таковым сочли, придётся носить "семейные плавки" до колена. Американская ментальность вьедается даже в наших сограждан, поживших в США. Так, одно обычное русское слово, обозначающие некоторый тип людей, вызывает у окружающих нервный тик и желание панически оглянуться. Выглядит так забавно, что я даже позаимствовал специальный термин из "Гарри Поттера" - "Те, кого нельзя называть". Ещё бы - назовёшь, а он подбежит и бейбольной битой вломит. Недаром районы, где живут такие товарищи, считаются плохими и квартиры в них стоят меньше.
</p>
 
<p>
В волмарте мне встретилась ещё одна забавная штука - цветовая дифференциация штанов. Но не в том смысле, в которым мы привыкли этот термин воспринимать, а в более прозаическом. Вешалки, на которых висит одежда, помечены бирками с размером. Но бирки&nbsp; эти - разных цветов, в зависимости от размера. Это, без сомнений, гениально и крайне удобно. Жаль, мой размер XL как-то реже чем остальные встречается.
</p>
 
<p>
Не обошлось и без девизов. Юморной "<em>Always Low Prices, Always</em>" ( "Всегда низкие цены, всегда") с оттенком даунизма использовался предыдущие 19 лет, но до сих пор много где висит. С наступлением финансового напряга в США его заменил "<em>Save Money Live Better</em>" то есть "Экономь и живи лучше". Не сказать, что свежо, но всегда актуально. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_FBAC/image_5.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_FBAC/image_thumb_5.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
"Покупаю, следовательно, существую"
</p>
 
<p>
Раз уж пошла такая пьянка, нельзя не завести речь об <a href="http://ru.wikipedia.org/wiki/%D0%9E%D0%B1%D1%89%D0%B5%D1%81%D1%82%D0%B2%D0%BE_%D0%BF%D0%BE%D1%82%D1%80%D0%B5%D0%B1%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F">обществе потребления</a>. Поскольку у нас как бы Европа, да и в Германии я был, я думал, что хорошо понимаю, о чём речь. Но только после визита в США я "осознал всю глубину энтерпрайза", © <a href="http://www.centromania.com">группа "Центр".</a> На город Мэдисон с населением в 300 тыс. человек приходится как минимум 9 огромных супермаркетов, каждый размерами&nbsp; в несколько раз больше любого из Даугавпилсских. Это не считая многих других специализированных магазинов и почти бесконечного количества ресторанов. Так, кстати, в США называются любые заведения общепита, от забегаловок а-ля McDonalds до серьёзных учереждений.
</p>
 
<p>
Американцы, само собой, покупают много. Но это не так уж просто объяснить, учитывая следующие факты. Неквалифицированный работник получает всего 6-8$ в час до вычета налогов. У нас люди любят помечтать о том, как хорошо живётся за бугром, покритиковать наши цены и зарплаты. Доля правды в этом есть, но не поддавайтесь на иллюзию того, что в любой западной стране кругом райские кущи, где текут молочные реки с кисельными берегами. 8$ в час это всего лишь 400-500 лат в месяц. Теперь представьте, что цены на продукты такие же, как у нас, на услуги - в полтора-два раза выше, а на квартиры и вовсе запредельные, особенно по Даугавпилсским меркам. Уже не кажется таким уж раем, верно? Правда, подавляющее большинство американцев всё же получает больше, но по моим грубым подсчётам, 800-1000 лс считается уже неплохой зарплатой. Получать такую можно, только если у тебя есть какое-нибудь образование или желание тяжко вкалывать на заводе.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_FBAC/image_6.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_FBAC/image_thumb_6.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
Национальный долг США
</p>
 
<p>
На научность и даже адекватность моих рассуждений&nbsp; и расчётов не претендую, но объяснить царство потребления можно только за счёт того, что богатых тоже немало, и они имеют возможность потешить свои вкусы. А для бедных есть бесконечные кредиты. Если кто не в курсе, долги граждан США составляют 9 триллионов долларов и <a href="http://www.brillig.com/debt_clock/">постоянно растут.</a> 22%  из этой суммы - внешний долг другим странам. То есть не только отдельные люди живут в долг, а вся страна, и уже много лет. Удивлятся или паниковать не стоит - современная экономика так сложна, что невозможно точно сказать, хорошо это или плохо. Что забавно, так это то, что Америка эксплуатирует весь мир за его же деньги.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/4_FBAC/image_7.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/4_FBAC/image_thumb_7.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
12-pack
</p>
 
<p>
В США всё не только яркое и увешанное лозунгами, но и большое. Американцы обожают "экономию", отсюда гигансткие по размеру упаковки. Обычный пакет сока больше 2 литров,&nbsp; газировка продаётся в 12-pack, то есть наборах по 12 алюминиевых банок. Редко встречающиеся у нас упаковки всяких товаров, на которых красуется надпись "Экономичная" вызовут у американца здоровый смех. Экономичная - значит размером с полбагажника, а багажники тут большие. Максимальная упаковка мороженого, что я видел в Латвии - 3 литра, да и то только в Риге. В США гигансткие вёдра мороженого по 5 и более литров являются нормой. Обычный покупатель из магазина уходит с полной тележкой продуктов, а то и с двумя. Сложно сказать, насколько вообще это оправданно. Ведь ясно, что немалую часть купленного съесть не успеют/не захотят и впоследствии выкинут. Вдобавок, если ты меньше купишь - меньше и съешь, что тебе лично только на пользу.</p><p><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="background-color: rgb(246, 246, 246);">К оглавлению</a></p><p>
</p>

	