Id: 9cb24137-2026-44f4-a140-cf3ea12d43b7
Title: "США – 30, железная дорога Riverside & Great Northern Railway"
Published: "2008-08-01"
Slug: "2008-08-01 США – 30, железная дорога Riverside _ Great Northern Railway"
-
<p align="left">
После посещения Dells Army Ducks я листал каталог в поисках места, куда можно было бы сходить. Сестра к тому времени уже как-то выдохлась и без энтузиазма воспринимала мои потуги найти новое развлечение. В конце-концов, я решил, что нам надо совершить 40-минутную поездку по туристической железной дороге <a href="http://www.randgn.com/">Riverside &amp; Great Northern Railway</a>, потому что я люблю паровозы и всё такое.&nbsp; Перед этим было свободное время, и мы сходили пострелять в пейнтбол-тир. Дорого и не кайфово, вот и всё, что можно сказать.
</p>
[more text=А вот железная дорога оказалась игрушечной, как с открытки.] 
<p align="left">
А вот железная дорога оказалась игрушечной, как с открытки. Вагончики крошечные, рельсы вообще&nbsp; едва ли 30 сантиметров шириной, идут прямо и только в одну сторону. Зато на пути встречается мост и красивые срезанные края холмов, напоминающие слоёный пирог.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/IMG_5367.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/IMG_5367_thumb.jpg" border="0" alt="IMG_5367" title="IMG_5367"  ></a><br>
Перекрёсток. Надпись под семафором гласит: “Остановись. Оглянись. Прислушайся.”
</p>
 
<p>
В служебных зданиях около дороги расположился музей-магазин. Надо сказать, что поездка стоит 10$ – по американским меркам немного. Дело в том, что организация, которой принадлежит дорога – бесприбыльный кооператив энтузиастов, насчитывающий более 150 человек. В Америке такие люди называются “hobbyist” (почти хоббит), и иногда их хобби владеет ими на протяжении всей жизни, поглощая гигансткое количество ресурсов.&nbsp; 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/IMG_5368.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/IMG_5368_thumb.jpg" border="0" alt="IMG_5368" title="IMG_5368"  ></a>&nbsp;<br>
Гараж для тепловозов
</p>
 
<p>
&nbsp;
</p>
 
<p>
Как я уже говорил, в США есть много всяческих ассоциаций и обществ по интересам, причём налогов они не платят, и называется это “non-profit согласно статье 501(С)(3)”. Некоторые люди делают хобби профессиональной деятельностью и достигают в нём значительных успехов. Например, один из разработчиков майкрософт, который даже выпускал книги по программированию, стал спортсменом-автогонщиком.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/IMG_5371.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/IMG_5371_thumb.jpg" border="0" alt="IMG_5371" title="IMG_5371"  ></a>&nbsp;<br>
Импозантный кондуктор
</p>
 
<p>
Дорога изначально предназначалась для демонстрации технологий коммерческой ж/д фирмой, но после её разорения в 80-х была выкуплена фанатами железных дорог. Сложность была найти тепловозы, которых к тому моменту на участке уже не было. В 1990 году общество открыло линию по перевозке посетителей туда-обратно. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/IMG_5374.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/IMG_5374_thumb.jpg" border="0" alt="IMG_5374" title="IMG_5374"  ></a>&nbsp;<br>
Сестра железную дорожку не оценила 
</p>
 
<p align="left">
Дорога эта - не просто фальшивое равлечение, искусственно созданное для туристов, каковым является, скажем, тот же Medieval Times. Дорога когда-то была настоящей – и на ней есть все те технические прибамбасы, что и на её больших братьях.
</p>
 
<p align="center">
&nbsp;<br>
<a href="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/IMG_5378.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/IMG_5378_thumb.jpg" border="0" alt="IMG_5378" title="IMG_5378"  ></a>&nbsp;<br>
Шпалы и вагоны
</p>
 
<p align="left">
И правила на ней соблюдались так же, как на обычных дорогах, и знаки подавались такие же. Мне лично дорога понравилась, 10$ совсем не жалко. Не вечно же смотреть всякие дутые чудеса и удивительности. Иногда даже мне, биороботу, хочется чего-то тёплого, сентиментального и олдскульного.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/slambo_42/2707679597/sizes/o/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/image.png" border="0" alt="image" title="image"  ></a>&nbsp;<br>
Машинист, хоть и не наш
</p>
 
<p>
Во время своей жизни предприятие не раз оказывалось на грани финансовых и прочих кризисов. Так, в 1995 – пережило пожар. Его удалось побороть лишь потому, что ночующий рядом железнодорожный доброволец оказался к тому же и любителем-пожарным, то есть кем-то вроде пожарного “дружинника”. В 2004 из-за оползня обрушился мост через каньончик. Мост помогли отстроить штат и частные спонсоры. Несмотря на все эти преграды, маленькая железная дорога в 2008 отпразновала своё 20-летие и с надеждой смотрит в будущее.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/30RiversideGreatNorthernRailway_128B5/image_thumb.png" border="0" alt="image" title="image"  ></a></p><p align="center"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: start; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a>
</p>

	