Id: 8601adc4-5835-467e-a456-ed82a4a033cd
Title: "США - 11"
Published: "2008-07-03"
Slug: "2008-07-03 США - 11"
-
<p align="left">
Надеюсь вам хватило острых впечатлений от прошлого поста, потому что в этом я возвращаюсь к обычному стилю.
</p>
 
<p align="left">
После того, как сборщик пожертвований вручил нам открытки, мы решили, что неплохо бы их отправить. Хотя было уже поздно, стали искать почтовое отделение, с чем успешно и справились. Надо нам было это потому, что в почтовых отделениях США находятся автоматы самообслуживания, позволяющие самому выбрать нужный номинал марки, купить её с помощью кредитной карточки и распечатать, а затем отправить посылку. Очень удобно, особенно для интровертов. Правда процесс выбора марки не столь прост, и я случайно распечатал несколько Priority Mail, стоимостью почти доллар за штуку. Но нет худа без добра - открытка дошла за 3 дня! Обычные почтовые отправления из США аэропочтой идут около недели. С другой стороны, дошла только одна открытка, отправленная домой, а отправленная в офис - почему-то нет. 
</p>
 
<p align="left">
После успешных разборок с корреспонденцией мы решили отметить такое дело. Для этого 
</p>
<div class="ljcut">
<p align="left">
забурились в ресторан <a href="http://www.rainforestcafe.com/">Rainforest Cafe</a>. Это, разумеется, сеть, и её особенность - стилизация под тропический лес. Это означает, что в фойе - большой водопад с подсветкой, внутри кучи деревьев (увы, пластмассовых) и аквариумов (к счастью, настоящих). Каждые полчаса гремит гром из сабфуверов и сверкает молния из прожекторов, что должно символизировать интенсивные тропические дожди. Работники ресторана одеты в сафари-стайл, если память не изменяет. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/11_13D0B/IMG_5272.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11_13D0B/IMG_5272_thumb.jpg" border="0" alt="IMG_5272"  ></a>&nbsp;<br>
Так паркуются в Чикаго <br>
(Если кто родился в танке, все фотки в моём жж кликабельны, то есть нажимаемы мышкой. Как правило - для увеличения, которое в этом случае не помешало бы.)
</p>
 
<p align="left">
А теперь - абзац специально для ленивой Лены, по неозвученной ею заявке, которая по-хорошему должна бы быть в комментах.
</p>
 
<p align="left">
Вуаля! Представляем поразительные факты!
</p>
 
<p align="left">
Фойе по-английски называется lobby - очень-очень странно и подозрительно!
</p>
 
<p align="left">
Ещё один фантастический факт для Лены - пока мы ждали обеда, неподалёку послышалась поздравительная песня и работники принесли детям дурацкий кремовый торт. Для тех, кто не знает, сообщаю - большая часть тортов в Америке это просто крем с сахаром и красителем - то есть дрянь редкостная. Купить хороший торт не трудно, но выльется это вам баксов в 30. А то, что бесплатно приносят в любом ресторане, когда узнают, что у тебя день рождения, вообще наверное страх и ужас. Зато с горящим бенгальским огнём и сопроводительной песней. 
</p>
 
<p align="left">
И наконец, последний в ряду чрезвычайно удивительных фактов. За те полтора часа, что мы были в ресторане, песню разным детям пели 4 раза! 
</p>
 
<p align="left">
&nbsp;
</p>
 
<p align="left">
Объяснить это можно только тем, что бизнес-стратегия ресторана ориентирована на детей как на основную целевую аудиторию. Кстати, это я тоже специально написал таким бездушным стилем, чтобы порадовать любителей антиглобалистких лозунгов, которые частенько можно увидеть у меня в журнале. Ещё для них же скажу, что воспитать своего ребёнка в США так, чтобы он предпочитал говорить по-русски - практически невозможно. Политика <a href="http://ru.wikipedia.org/wiki/%D0%9C%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%BA%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0%D0%BB%D0%B8%D0%B7%D0%BC" title="Объяснение на русском">плавильного котла</a> хоть более и не является политикой партии, но инерцию не остановить. Для этого надо&nbsp; постоянно и бесконечно с ним общаться на всех этапах жизни, телевизор ему русский показывать и книжки русские читать, и отдать в русский детский сад. Всё это могут сделать только очень упёртые люди - например, довоенные хардкорные православные эмигранты первой волны. А что лучше - воинствующее православное русофильство или <strike>аннигиляция</strike>&nbsp; ассимиляция, для европеизированных русскоязычных эмигрантов из стран Балтии очевидно.&nbsp; Вообще, точка зрения сторонников ассимиляции мигрантов выглядит для меня убедительнее после всех этих арабов во франции или мусульман в Британии. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/11_13D0B/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/11_13D0B/image_thumb.png" border="0" alt="image"  ></a> <br>
Melting Pot.<br>
 Некоторые говорят, что получается не плавильный котёл, а салатная миска. Уловили метафору?
</p>
 
<p align="left">
Вот, например, из недавнего. Мусульманка отсудила у парикмахерши кучу бабла за то, что та не взяла её на работу. Мусальманка хотела работать парикмахером и при этом всё время носить на голове платок, закрывающий волосы. Парикмахерша, а вернее хозяйка салона, с трудом на него накопившая за 10 лет,&nbsp; посчитала, что сапожник без сапог ей не нужен. Затем вежливо выпроводила дуру вон, даже не сообщив ей в неприятных выражениях, что думает по этому поводу. А следовало бы, по крайней мере повеселилась бы на свои деньги. Забавно, но говорят, что большие компании, когда это возможно, не приглашают на интервью группы риска (мусульман, негров, стариков, женщин, инвалидов и прочее), чтобы не быть потом обвинёнными в дескриминации, причём ответ обычно продуман гигантской армией юристов. То есть страдает как обычно простой человек, а не злобные мегакорпорации.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/11_13D0B/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11_13D0B/image_thumb_3.png" border="0" alt="image"  ></a>&nbsp;<a href="/files/blogengine/Writer/11_13D0B/image_4.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11_13D0B/image_thumb_4.png" border="0" alt="image"  ></a> <br>
Довольно улыбается хитрая мусульманская сволочь слева <br>
и не теряет духа мастер неформальной причёски справа
</p>
 
<p align="left">
Впрочем,&nbsp; как говорят яппи, умирающие от голода африканские дети нас не волнуют. Так что вернёмся к нашим баранам, а ещё лучше - к свиньям, чтобы позлить дух Мухаммада, прилетевший ко мне в жж на хулу мусульман. Кушал в Rainforest Cafe я как раз свиные рёбра на гриле и креветок, обжаренных в панировочных сухарях. Гарниром был рис. К сожалению, перед едой я напился сока и колы, и потому вся эта красота в меня уже не лезла. Могу только сказать, что Barbecue Ribs меня совсем не вставляют - слишком рыхлое мясо, пожевать нечего. А креветки как-то слишком банально. Кстати, американцы панировочные сухари любят и в них много что окунают перед жаркой. Что мне понравилось, так это рис - он был с сухофруктами и специями, я бы такой сам по себе ел, без мяса, тем более, что рис я люблю. Обслуживала нас официантка по имени Анна и получила повышенные чаевые наличными ввиду того, что была мексиканкой.
</p>
 
<p align="left">
Тут надо сделать отступление, и кое-то разъяснить. Моя сестра, рациональная и прагматичная особа, как-то мне с иронией рассказывала, что окружающие её мужчины определяют свой возраст лет в 13-15, то есть не скрывают детской натуры. При этом она повела меня в детский ресторан и дала официантке бабло сверху лишь потому, что сеструхин бойфренд -&nbsp; латинос, как и официантка. Ужоснах!
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/11_13D0B/IMG_5274.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/11_13D0B/IMG_5274_thumb.jpg" border="0" alt="IMG_5274"  ></a><br>
Энтузиазма не видно, зато майка с Аль Капоне - "В Чикаго нет бандитов"
</p>
 
<p align="left">
После ужина мы заполнили анкету, где указали, что еда была средненькая, и вернулись в отель. Вид из окна, кстати, с моей кровати был ничего, но не идеальный, потому что идеальный стоит отдельных денег. Вот так вот, опять звериный оскал капитализма.
</p>
 
<p align="left">
Я в отеле смотрел по вечерам телек, и надо сказать, что понимаю я его куда лучше, чем разговорную речь. С чем это связано? По ТВ у людей дикция хорошая, слова более литературные, да и сосредоточиться легче в тишине и покое гостиничного номера. Раз уж я завёл разговор про отель, расскажу ещё чуток.
</p>
 
<p>
Ванная и душ - средние по размеру, в Германии были даже и побольше. Объявление, что полотенца для экономии ресурсов не стирают, пока не бросишь на пол - присутствует. Шампунь был хороший и дорогой, в микробутылочке - если уж постояльцы утащат, то убытку немного.
</p>
 
<p>
Около кровати на тумбочки стояли радиочасы со входом и проводом для подключения MP3 плеера. Мелочь, а приятно. В номере две кровати, но каждая по размеру двухместная и в длину тоже ого-го. Бельё каждый день заправляют под матрас, да ещё и очень глубоко, что меня бесит - зачем, если мне его всё равно вытаскивать. Подушек - штуки 3 или 4, одеяло одно. Пододеяльники американцы не используют - одеяло лежит на второй простыне. В шкафу зачем-то висит надпись, что максимальная плата за номер - 800 долларов в день. Не способствует душевному равновесию, знаете ли.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/11_13D0B/image_5.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/11_13D0B/image_thumb_5.png" border="0" alt="image"  ></a> <br>
Тёзка-то был латышь - видите, написано <strong>Vladislavs</strong>
</p>
 
<p align="left">
По ТВ очень много рекламы, и всё время бешеное интонирование. Если кто не в курсе, американцы обычно говорят "с выражением", причём для нас оно выглядит чрезмерным и утрированным, но для них абсолютно необходимо, иначе им очень тяжело воспринимать речь на слух. Такое иногда ощущение, что они интонацией половину смысла передают - потому что бесконечное количество акцентов и говоров народов США понять невозможно. Кстати, под "нами" я подразумеваю русскоязычных в прибалтике, и это не замена слову "русский" - многие из нас поляки, белорусы и прочее, но говорят в основном на русском. И ещё кстати - самый худший говор у негров, за ними китайцы и латиносы, англичане, а потом уже калифорнийцы и все остальные. Моё имя, Влад для них оказалось крепким орешком - сочетания согласных их не радуют, особенно таких. Зато все очень круто переспрашивали: "Blood?", то есть "Кровь" (звучит так же) и делали большие глаза.
</p>
</div>
<p align="left">
&nbsp;
</p>
<p align="left">&nbsp;&nbsp;<a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left">
</p>

	