Id: 25778451-f2ca-4a06-b2bb-5608d7164c23
Title: "Что такое электрон - частица или волна?"
Published: "2008-07-13"
Slug: "2008-07-13 Что такое электрон - частица или волна_"
-
<p> </p> <p>&nbsp;</p><lj-embed id="81"/><br />&nbsp;<p>&nbsp;</p><p>Круто буржуи научные мультики делают; удивительно, что с такими качественными пособиями у них наука не в почёте. </p>
	