Id: 3d9df6ee-5f27-405c-9666-fd9feaad9aad
Title: "США — 8, Grand Lux Cafe"
Published: "2008-06-30"
Slug: "2008-06-30 США — 8, Grand Lux Cafe"
-
<p align="left">
В конце-концов мы добрались до отеля, где встретились с Таней. Она объяснила, что на Magnificent Mile есть ресторан, куда местные не ходят из-за большого количества туристов. Называется он <a href="http://www.grandluxcafe.com/aboutus.htm">Grand Lux Cafe</a>. Таня живёт в Чикаго, но ресторан этот любит, потому что кормят там всегда вкусно. 
</p>
 
<p align="left">
По приходу в ресторан на регистрационной стойке записывают твоё имя, а тебе дают электронную пищалку, которая сообщит, когда появятся места. К счастью, для нас места сразу нашлись, а ведь некоторые ждут вплоть до двух часов. Так что мы рванули наверх, на второй этаж, где нас уже ожидал спецработник гейского вида, который спросил "Tanya?", а получив утвердительный ответ, нас проводил до места. Жаль, не около окна, но нам на протяжении всей поездки с этим не везло - ничего не попишешь. Даже в Galileo's я любовался экскаватором вместо озера.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/jough/289842185/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/3a3121dfc6e9_FC47/image.png" border="0" alt="image"  ></a>&nbsp;
</p>
<div class="ljcut">
<p align="center">
Ресторан большой, и это видно
</p>
 
<p align="left">
Как я уже говорил, рестораном&nbsp; в США, в отличии от Англии, называется любое заведение общепита. Но ресторан ресторану рознь. Цены в фастфудах низкие, но еда дрянная (по крайней мере по составу, на вкус может быть разной). Цены в "настоящих" ресторанах уже не радуют, зато готовят всё свежее и нормальную еду, а не сэндвичи, гамбургеры и хот-доги. Среднего класса заведений - где цена не зашкаливает, но где пища на тарелках, а не бутерброды, я не видел, хотя по <a href="http://en.wikipedia.org/wiki/Types_of_restaurants">классификации из википедии</a> они существуют. 
</p>
 
<p align="center">
<a href="http://flickr.com/photos/25363537@@@@N03/2483680398/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/3a3121dfc6e9_FC47/image_3.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
Нашей маме такой интерьер понравился бы - она любитель роскоши и позолоты
</p>
 
<p align="left">
Теперь немного о ценах. В фастфуде ты можешь поесть за 5-10$, иногда меньше, если регион бедный или проходит акция. На 10$ можно так обожраться, что со стула не слезешь. В классических ресторанах одно блюдо стоит минимум 15-20$&nbsp; + напиток 5$ + чаевые в размере 10-20% от заказа, в зависимости от того, насколько тебе понравилось обслуживание.
</p>
 
<p align="left">
С другой стороны, в&nbsp; Даугавпилсе на 5$ можно съесть вкусный комплексный обед в Губернаторе или просто вкусный обед в Весме.&nbsp; Правда, в Риге такой роскоши почти не осталось - там нормально поесть обойдётся в 7-8$, если не больше.
</p>
 
<p align="left">
В ресторане было очень жарко, что для американских ресторанов крайне не характерно. Обычно там такой холод, что люди специально одевают шубы, то есть я хотел сказать свитера. Таня спросила, нельзя ли нас пересадить туда, где похолоднее, но официанка извинилась, что везде в зале так. Чтобы нам стало хоть чуть полегче, принесла огромные стаканы со льдом. Когда советские люди их в первый раз видят, спрашивают, зачем им вазу притащили. Кстати, в подавляющем большинстве американских ресторанов нет дресс-кода. Американцы приходят туда в своих любимых шортах и майках. Так был одет и я.&nbsp; Интересно, что в ресторане было очень много тех, кого нельзя называть - вот и говори после этого о том, что ОНИ бедные. Вообще ИХ в Чикаго очень и очень много, особенно в сфере обслуживания.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/calvin_gsc/2159813971/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/3a3121dfc6e9_FC47/image_4.png" border="0" alt="image"  ></a>&nbsp;<br>
Потолки высокие
</p>
 
<p align="left">
Я заказал стейк, поскольку никогда не ел грамотно приготовленный стейк (если уж на то пошло, а я в ресторанах и был несколько раз всего). Стейки, как известно, бывают 5, а для гурманов - 8 степеней прожарки. От менее прожаренного до более это степени звучат по-английски так:
</p>
 
<ul>
	 
	<li><strong>Raw</strong> - сырой. Как ни странно, в некоторых&nbsp; блюдах ногда применяется и такое. </li>
	<li><strong>Blue rare</strong> or <strong>very rare</strong> - чуть обжарен снаружи, внутри сырой. Мало кто такое ест. </li>
	<li><strong>Rare</strong> - это уже едят. Обжарен слегка, по сути - сырой. </li>
	<li><strong>Rare plus</strong> - для тех, кто волнуется, как бы следующую степень не пережарили до Medium, то есть склоняется больше к недожаренному, чем к пережаренному. </li>
	<li><strong>Medium rare</strong> - популярная степень для тех, кто любит не до конца прожаренное, чуть сыроватое. Это уже довольно популярная степень. </li>
	<li><strong>Medium</strong> - средняя степерь прожарки, едят очень многие. </li>
	<li><strong>Medium well done</strong> - хорошо прожаренное, но всё не до конца. </li>
	<li><strong>Well done</strong> - Очень хорошо прожаренное, даже слегка "подгоревшее", если можно так выразиться.</li>
</ul>
 
<p align="left">
Я заказал без изысков - классический <strong>Medium. </strong>Спросил, какие овощи можно к стейку, мне сказали&nbsp; - всё, что есть в спецразделе меню. Остановился на броколли, и не пожалел - вкусная была, в отличие от той, что я позже купил в магазине. Сестра ела рыбу,&nbsp; а Таня - вообще appetizer в&nbsp; виде кусочков полусырой рыбы, которые макают в соус. Appetizer это закуска, блюдо, которое подают перед основным для утоления немедленного голода, и приносят обычно быстро. На сей раз, правда, подвели и тянули очень долго, принесли позже моего стейка.
</p>
 
<p align="left">
Стейк был очень-очень вкусным (ну или мне показалось с голодухи), размера такого, что на десерт места уже не осталось. Я, правда попробовал чуток ото всех блюд, а потом ещё и чуть-чуть десерта, который заказали девушки. Это был крем-брюле, до того я не знал, что это такое, а здесь сразу увидел сделанный по правилам - это крем со слегка поджаренной корочкой сверху. Мне больше понравился шоколадный, девушкам - карамельный.
</p>
 
<p align="center">
&nbsp;<a href="/files/blogengine/Writer/3a3121dfc6e9_FC47/IMG_5255.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3a3121dfc6e9_FC47/IMG_5255_thumb.jpg" border="0" alt="IMG_5255"  ></a> <br>
Разбивают корочку , как Амели в одноименном фильме
</p>
 
<p align="left">
Официанты в США вышколенные - вежливы, улыбаются, решают проблемы и всегда приходят во время обеда несколько раз, чтобы спросить, не нужно ли чего. Это почти единственная индустрия, где минимальная зарплата составляет 2$, а не $6, и они добирают недостающее за счёт чаевых. Которые ты вполне можешь не дать, в отличие от некоторых европейских стран, где чаевые включают в счёт. Даются чаевые любопытным способом. Сначала тебе приносят счёт, куда ты туда кладёшь кредитную карточку, если не боишься. Многие в ресторанах платят наличными, чтобы не стать жертвой fraud (фрода) - это когда с карточки тайком переписывают данные и используют её затем для покупок в интернете. Но если заведение серьёзное, можно и карточкой заплатить. Так вот, после того, как карточку вернут вместо со счётом, ты можешь дописать в чек счёта сумму чаевых - её снимут автоматически, второй раз карточку давать не нужно. Но с этих денег официант часто платит налог, поэтому ты можешь схитрить и оставить конкретно чаевые наличными, благо счёт приносят в толстой книжечке с твёрдой обложкой, куда удобно помещаются купюры.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/teryngull/2382950040/sizes/l/"><img style="border: 0px none " data-src="/files/blogengine/Writer/3a3121dfc6e9_FC47/image_5.png" border="0" alt="image"  ></a>&nbsp;<br>
Пляж, фото сделано с башни Хэнкок
</p>
 
<p align="left">
Ужин был сытный и порции большие, что обычно в США, поэтому остатки всегда можно забрать с собой. Раньше для этого надо было просить официанта принести "Doggy box" (собачья коробка) - якобы остатки пищи ты берёшь для собаки. Со временем лицемерие поутихло, цены стали бить по кошельку, и несвойственная американцам стеснительность исчезла. Теперь абсолютно нормально просить просто "Box", то есть коробку, чтобы унести домой остатки недешёвой порции, если ты не всё доел. Меньшую же порцию заказать обычно нельзя - не принято.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/3a3121dfc6e9_FC47/IMG_5260.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3a3121dfc6e9_FC47/IMG_5260_thumb.jpg" border="0" alt="IMG_5260"  ></a>&nbsp;<br>
Выглядит как море, но это оз. Мичиган
</p>
 
<p align="left">
После ресторана мы сходили на пляж, что недалеко от центра (про это я уже говорил). Рядом проходит оживлённая магистраль, поэтому на пляж люди идут подземным переходом, где также находится бесплатный туалет.<a href="/files/blogengine/Writer/3a3121dfc6e9_FC47/image_6.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/3a3121dfc6e9_FC47/image_thumb.png" border="0" alt="image"  ></a> 
</p>
 
<p align="left">
Да, забыл рассказать про Таню. Не знаю правда, сколько фактов можно писать про людей, чтобы не нарушать страшное понятие прайваси. Таня работает юристом на корпорацию "Playboy", которая находится как раз в Чикаго. Ещё мы видели Таниного друга Дерека, который, если я не ошибся, работает в плейбое SEO, то есть оптимизатором контента для поисковых машин. Таня выглядит изящно, любит моду и людей, который красиво одеваются. К счастью, в Чикаго, в отличие от небольших городов, такие есть. А когда летала в Европу, вообще наслаждалась элегантными мужчинами и женщинами. Жаль, я Таню порадовать не мог, потому что одеваюсь всегда как бревно - лишь бы было удобно.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/3a3121dfc6e9_FC47/IMG_5263.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/3a3121dfc6e9_FC47/IMG_5263_thumb.jpg" border="0" alt="IMG_5263"  ></a>&nbsp;<br>
Штанина играет в антигламур
</p>
</div>
<p align="center">
&nbsp;</p><p align="center"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: start; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="center">
</p>

	