Id: ac554f0f-e06c-413b-8803-ebcb8627e5a6
Title: "Крит – 17, Ираклион"
Published: "2008-10-14"
Slug: "2008-10-14 Крит – 17, Ираклион"
-
<p align="left">
Найдя наконец место для машины, мы через недавно отстроенные ворота святого Георгия стали топать наверх. Пока шли, услышали интенсивную музыку - довольно странное дело посреди безлюдного тоннеля с лестницей, коими ворота Георгия и являются.
</p>
 [more text=Смотреть фотки старого города Ираклиона и очередной крепости под названием Кулес]<br>
<p align="left">
Везде, где копирайты Рэмбо, это его фотки. Остальные мои или с фликра.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3097.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3097_thumb.jpg" border="0" alt="IMG_3097" title="IMG_3097"  ></a> Там вдали, где видны ступеньки, вроде как находятся ворота святого Георгия. А может, я вру
</p>
 
<p align="left">
Дойдя до конца, обнаружили, что это индейцы балуют. (Ну или псевдоиндейцы). Я таких же бродячих индейцев видел уже много раз – в Риге, Паланге ещё где-то. Вот, и на Крите обнаружились. Как оказалось, с безлюдной стоянки около крутого спуска мы поднялись прямиком в старый город Ираклиона, расположенный сравнительно недалеко от моря.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3131.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3131_thumb.jpg" border="0" alt="IMG_3131" title="IMG_3131"  ></a> Индейцы собирают барабаны. Танцевать и петь по такой жаре (+32-34) – удовольствие сомнительное
</p>
 
<p>
Тут Таня нашла в путеводителе фонтан, и мы опять углубились в поиски. Подозреваю, что все фонтаны на острове построили турки, ну да нам какое дело. Тут я проявил не совсем свойственный мне топографический разум, и практически привёл нас к фонтану, но для надёжности спросил болтающих на перекрёстке женщин и показал им картинку из путеводителя. Одна из критянок махнула рукой – и впрямь, фонтан был рядом, через двадцать метров, в был в конце улицы, и мы бы его даже увидели, не будь улица дугообразной как кусок адронного коллайдера.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/image.png"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/image_thumb.png" border="0" alt="image" title="image"  ></a>Морозини
</p>
 
<p align="left">
Каким же было наше разочарование, когда мы дошли до места. Нет, фонтан-то был нормальный, в отличие от Ханийского, но он был выключен! Турки хоть и тоталитарные ублюдки, но при них бы фонтан точно действовал, в отличие от расслабленных критян. Кстати, фонтан называется “Морозини”, и построили его всё-таки (сюрприз!) венецианцы в честь тогдашнего правителя, в 1628 году. Построили не просто так, а в качестве венца акведука, подводящего воду с горы Юктас, что в 15 км от города. Говорят, что в горе покоится Зевс, несмотря на то, что бессмертен. Ну да верующим к двоемыслию не привыкать.&nbsp; 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3120.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3120_thumb.jpg" border="0" alt="IMG_3120" title="IMG_3120"  ></a> Выставка картин в церки св. Марка. А может, я вру, и это другая церковь
</p>
 
<p>
Около фонтана есть ещё церковь свянтего Марка, в которой как раз была выставка картин, мы чуток посмотрели. Таня не большой любитель музеев, поэтому они у нас проходили в режиме сокращённого содержания. Раз в десять сокращённого. Ещё около фонтана есть какая-то венецианская постройка с хитрым названием, но поскольку на вид она как обычная старая хрень с арками, я даже не запомнил её имя. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3119.jpg"><font color="#acb613"></font><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3119_thumb.jpg" border="0" alt="IMG_3119" title="IMG_3119"  ></a>Хрень с арками. Рэмбо
</p>
 
<p align="center">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_0366_thumb.jpg" border="0" alt="IMG_0366" title="IMG_0366"  >На подходах к Кулесу
</p>
 
<p>
Дальше мы потихоньку поползли к набережной, где нам вдруг открылся вид на очередное древнее фортификационное сооружение. Как мы уже выяснили, все народы, обитавшие на острове в разные времена, были не дураки повоевать, поэтому понастроили крепостей власть.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3111.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3111_thumb.jpg" border="0" alt="IMG_3111" title="IMG_3111"  ></a> Казематы
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_0367.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_0367_thumb.jpg" border="0" alt="IMG_0367" title="IMG_0367"  ></a> Бутылька
</p>
 
<p>
Конкретно эта была построена неугомонными венецианцами и называется <strong>Koules</strong>. (Кулес?). Когда турки-османы захватили город, понасажали туда всяких революционеров, добавили минарет и второй этаж. Уже известный нам масонский византийский эфорат, на сей раз правда 13, починил и навёл лоск на крепость в наши дни, чтобы проводить там свои тайные обряды, то есть я хотел сказать выставки и конференции. Правда, не очень понятно, где они это делают – в подвале там казематы ещё те, темно и мрачно, разве что плесени нет. На втором этаже ничего не видел, видимо не пускают туристов в святая святых.
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_0368.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_0368_thumb.jpg" border="0" alt="IMG_0368" title="IMG_0368"  ></a>Пушка и шарики для пуляния несимметричной формы
</p>
 
<p align="center">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_0378_thumb.jpg" border="0" alt="IMG_0378" title="IMG_0378"  >Якорёк
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3114.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3114_thumb.jpg" border="0" alt="IMG_3114" title="IMG_3114"  ></a> На крыше
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_0373.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_0373_thumb.jpg" border="0" alt="IMG_0373" title="IMG_0373"  ></a> Детки купаются
</p>
 
<p align="left">
В жизни это выглядит ещё более фантастически. В ста метрах от оживлённого города с туристами и транспортом – уходящий в море психоделический мол и изумительного цвета вода по обеим сторонам. Я прямо детишками обзавидовался.&nbsp; Кстати, приехали они туда на великах.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/DSCN3692.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/DSCN3692_thumb.jpg" border="0" alt="DSCN3692" title="DSCN3692"  ></a> Панорама, автор Таня (ака Сергей)
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3102.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3102_thumb.jpg" border="0" alt="IMG_3102" title="IMG_3102"  ></a> Кулес со стороны набережной
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3105.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3105_thumb.jpg" border="0" alt="IMG_3105" title="IMG_3105"  ></a>Считаю, фотка Рэмбо удалась
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3108.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3108_thumb.jpg" border="0" alt="IMG_3108" title="IMG_3108"  ></a>Кулес вблизи 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3110.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3110_thumb.jpg" border="0" alt="IMG_3110" title="IMG_3110"  ></a>Вечное биение волн о камни утихнет лишь с наступлением глобального потепления, когда&nbsp; они станут биться о стены домов
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3103.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3103_thumb.jpg" border="0" alt="IMG_3103" title="IMG_3103"  ></a> Вид на набережную
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/DSCN3693.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/DSCN3693_thumb.jpg" border="0" alt="DSCN3693" title="DSCN3693"  ></a>Самые высокие дома из виденных на Крите. В туннеле вроде бы когда-то были торговые ряды
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3117.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3117_thumb.jpg" border="0" alt="IMG_3117" title="IMG_3117"  ></a> Православная церковь с пальмами выглядит забавно
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3132.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3132_thumb.jpg" border="0" alt="IMG_3132" title="IMG_3132"  ></a> У этой лошади подозрительно много ног. Может потому, что у неё три головы?
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/17_12733/IMG_3135.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/17_12733/IMG_3135_thumb.jpg" border="0" alt="IMG_3135" title="IMG_3135"  ></a>Прямо как из адвечуры какой. Кстати, первая и самая любимая – <a href="http://en.wikipedia.org/wiki/Lost_Eden">Lost Eden</a>. Я по ней английский выучил
</p>
 
<p>
Я не знаю, что на картинке выше – это Рэмбо в музей забрёл. Учитывая, что картинок в этом посте дикое количество, считаю, что норматив по буквам выполнять не обязан. В Ираклионе после Кулеса были недолго, по горячим просьбам трудящихся сели в машину и покатили на море. Странным образом, море нашлось только около Океанариума, но об этом – в следующих частях. Оставайтесь с нами.</p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p>
</p>

	