Id: 0cba8788-2c6d-4752-9e2b-e42bd24063ce
Title: "Крит – 16, Кносский дворец и история Ираклиона"
Published: "2008-10-13"
Slug: "2008-10-13 Крит – 16, Кносский дворец и история Ираклиона"
-
<p>
Мы доехали до Ираклиона, там с некоторым трудом засекли указатель на Кносский дворец и свернули к нему. Он оказался недалеко, а на подъезде нам стал махать руками местный, приглашая заехать на стоянку. Стоянка оказалась платной, зато с туалетом и установкой питьевой воды (не так такой, как в США и Аркади, а со стаканами, как в офисе,&nbsp; так что я в прошлом посте не соврал). Потом дядька показал нам, куда идти к дворцу (метров 100). По пути нашлись ещё несколько платных стоянок, а у самого дворца – вроде как и бесплтаная. То есть это у критян такое милое разводилово. Мы не в обиде, тем более, стоянка стоила недорого, а ведь ещё и удобства.
</p>
 [more text=Читать про древний дворец и бурную молодость Ираклиона] 
<p>
Все фотки – Рэмбо, кроме той, что с моим копирайтом в углу.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/16_D268/IMG_3061.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/16_D268/IMG_3061_thumb.jpg" border="0" alt="IMG_3061" title="IMG_3061"  ></a>
</p>
 
<p align="left">
Что касается дворца, то он был построен в 1700-1400 году до нашей эры. Вы только вдумайтесь! Почти четыре тысячи лет назад. При этом и сам дворец, и фрески в нём выглядят вполне прилично. Я, разумеется, имею в виду архитектуру, а не состояние, несмотря на то, что критяне воссоздали немалую часть дворца из развалин для привлечения туристов. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/16_D268/IMG_3059.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/16_D268/IMG_3059_thumb.jpg" border="0" alt="IMG_3059" title="IMG_3059"  ></a>
</p>
 
<p>
Когда подошли ко дворцу, увидели длиннующую очередь. Я пошёл поближе к кассам, чтобы выяснить, надо ли нам в ней стоять. Как-то быстро там оказались и остальные, и мгновение спустя Таня уже покупала билеты. Прямо чудеса какие-то.
</p>
 
<p>
Больше про дворец писать особенно нечего. Мне он понравился, есть хоть на что посмотреть: и развалины&nbsp; и целые части, и даже фрески. Говорят правда, что фрески – копии, оригиналы находятся в музеях.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/16_D268/IMG_3066.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/16_D268/IMG_3066_thumb.jpg" border="0" alt="IMG_3066" title="IMG_3066"  ></a>
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
Жизнь везде! (см. под решётку)
</p>
 
<p>
&nbsp;
</p>
 
<p>
Когда шли обратно, купили у старушенции по дороге фиг по грабительским ценам. Впрочем, на Крите цены на всё не радостные – как у нас, а то и выше. Фига на вид неаппетитная, на вкус средне, семечек слишком много. Я съел полторы штуки, Андрей половину, остальное полежало в холодильнике пару дней и было выкинуто. Кстати, когда зашли в магазин поглазеть на сувениры, тётя нам посоветовала воду из холодильника внутри, потому что холодильник на улице стоял прямо на солнце. Но мы пожадничали, и ничего не купили, ведь на стоянке, как вы помните, вода была бесплатная. Вообще мне нравится критская керамика, и я бы купил – но зачем мне пылесборники? Подарить тоже особенно некому.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/16_D268/IMG_3072.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/16_D268/IMG_3072_thumb.jpg" border="0" alt="IMG_3072" title="IMG_3072"  ></a>
</p>
 
<p align="left">
В общем, покинули мы дворец и отправились в Ираклион. Для начала надо было найти парковку, что не так просто, учитывая наплыв туристов в сезон и узость улиц. В конце-концов мы оставили машину на платной стоянке музея архитектуры (или истории?) – хорошо хоть такую нашли. Сначала хотели бросить на склоне дороги, потому что там стоят местные, но потом просекли, что у них у всех на стёклах штрафы. Причём, судя по всему, не сегодняшние и вообще не для этого места. То есть, если я верно понял, у них штрафная квитанция служит вместо универсальной парковочной карточки – положил на стекло, и пошёл гулять, в надежде что проверяющий не станет смотреть дату и место.
</p>
 
<p align="center">
&nbsp;<a href="/files/blogengine/Writer/16_D268/IMG_0352.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/16_D268/IMG_0352_thumb.jpg" border="0" alt="IMG_0352" title="IMG_0352"  ></a>
</p>
 
<p>
 Надо сообщить, что в Ираклионе живут 137 тысяч человек, это четвёртый город по величине в Греции, а его аэропорт назван в честь самого известного греческого писателя Никоса Казантзакиса, и является вторым по числу рейсов в Грецию.
</p>
 
<p>
<a href="/files/blogengine/Writer/16_D268/IMG_3075.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/16_D268/IMG_3075_thumb.jpg" border="0" alt="IMG_3075" title="IMG_3075"  ></a> 
</p>
 
<p>
Что касается писателя, то на его могиле стоит эпитафия: «Ни на что не надеюсь. Ничего не страшусь. Я свободен» Звучит здорово, хоть мысль и не свежая.&nbsp; В принципе, учитывая, что он умер от лейкемии, надеятся ему и в самом деле было не на что. Бояется тоже – потому что он был атеистом (правда “в поисках”) и потому церковь запретила хоронить его на кладбище и вообще в черте города. Он покоится за городской стеной Ираклиона, потому что был критянином. А его книжка “Последнее искушение Христа” внесена католической церковью в список запрещённых книг. Она, кстати, есть в этих ваших интернетах на русском, в отличие от остальных, так что может быть попробую прочитать.
</p>
 
<p>
<a href="/files/blogengine/Writer/16_D268/IMG_3078.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/16_D268/IMG_3078_thumb.jpg" border="0" alt="IMG_3078" title="IMG_3078"  ></a> 
</p>
 
<p>
Продолжим про город. Ираклион был основан сарацинами в 824 года нашей эры, которые к тому времени отобрали Крит у византийцев, как я уже писал в посте про Ханию. Арабы разрешали пиратам чиниться и заправляться в городе, чтобы те могли нападать на корабли византийской империи во всеоружии. В 961 византийцам это надоело, и они после длительной осады снесли город к чёртовой матери, камня на камне не оставили, а сарацинов всех перебили. Но место было удачное, поэтому отстроили всё вновь и правили ещё 243 года. 
</p>
 
<p>
<a href="/files/blogengine/Writer/16_D268/IMG_3079.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/16_D268/IMG_3079_thumb.jpg" border="0" alt="IMG_3079" title="IMG_3079"  ></a>&nbsp;
</p>
 
<p>
К тому времени наши старые знакомцы, венецианцы, уже уже удачно прикупили Ханию и искали новую недвижимость, куда можно вложить свои бабки. Поэтому грех было не воспользоватся суматохой и нуждой низложенного византийского императора Исаака II Ангела вновь взойти на престол. За то, что уже ослеплённого недругами к тому времени императора вытащили из&nbsp; темницы и посадили на трон, венецианцы получили себе город, который назвали Кандией. 
</p>
 
<p>
<a href="/files/blogengine/Writer/16_D268/IMG_3081.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/16_D268/IMG_3081_thumb.jpg" border="0" alt="IMG_3081" title="IMG_3081"  ></a>
</p>
 
<p>
Потом, понятное дело, пришли турки-османы, про которых речь уже шла в рассказе про Ханию.Турки, как любители десматчей и хедшотов, осаждали остров 22 года, что привело в итоге к смерти 70 штук ихних воинво и 67 – наших, то есть критян и сочувствующих. Так что если кто говорит, что турок надо принять в евросоюз, подумайте дважды. В Европе тоже была бесконечная резня, но наши кровопийцы по крайней мере свои, родные, цивилизованные и секулярные, а не мусульманские религиозные фанатики, коими турки остаются до сих пор.
</p>
 
<p>
<a href="/files/blogengine/Writer/16_D268/IMG_3086.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/16_D268/IMG_3086_thumb.jpg" border="0" alt="IMG_3086" title="IMG_3086"  ></a>
</p>
 
<p>
Тут был отличный смешной и мощный текст, но его съел клиент. Обидно, аж жуть.В любом случае, кончилось всё тем, что 1898 тогдашними сверхдержавами Россией, Англией, Францией и Италией в пику Османской империи было создано независимое критское государство, а в 1913 остров наконец-то присоединился к Греции.</p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p>
</p>

	