Id: 3ce608be-29df-434e-9b14-af2731e29f14
Title: "Крит – 2, Прибытие"
Published: "2008-09-26"
Slug: "2008-09-26 Крит – 2, Прибытие"
-
<p>
Гм, забыл сказать: яростного вкуса глутамата натрия ужин на самолёте не имел, в отличие от американского лётного завтрака. (Тут надо подумать, не путаю ли я ужин и завтрак, но в этих перелётах сам чёрт ногу сломит.) Единственное, что было схожего – кока-кола, которую я называю жидким злом, и на работе всех уже приучил. Так и говорю: “Плесните-ка мне ч<strong>O</strong>рного зла!"”
</p>
 
<p>
Летели мы недолго – часа три, наверное. Надо сказать, что злобный Андрюха сел на моё место около окна, и во время взлёта наслаждался видом Риги , а во время прибытия – Ираклиона. Потом я обнаружил, что мой сони ридер, который я планировал использовать и в качестве плеера, не читает карту памяти. Ничего другого не оставалось, как прикрыть глаза, но заснуть это не помогло – слишком уж моя спина и шея не любят самолётных кресел. Поэтому мы с Андрюхой немного поговорили про погловное воровство пепельниц студентами в кафе. Не помню, почему об этом зашла речь, но всё равно, дети, это нехорошо – тырить пепельницы, так и знайте. Тырить вообще нехорошо, а что именно – не так важно.
</p>
 [more text=Читать про пальмы как обязательный атрибут рая и бараки как антагонизм этому атрибуту] 
<p>
Рядом со мной сидела девочка-подросток, так она забралась с ногами на кресло, накрылась одеялом и спала со счастливой улыбкой на лице. Она так увлеклась, что разок спросонья полезла ко мне обниматься. Полагаю, устраивалась поудобнее со мной в качестве подушки. А во время приземления даже не проснулась. Я, в общем, когда молоденькие симпатичные девушки ко мне пристают в реале, даже в платонических целях, ничего против не имею. Другое дело – если бы это было так, как в этой рекламе. От такого увольте.
</p>
[more text=Читать про пальмы как обязательный атрибут рая и бараки как антагонизм этому атрибуту]
<p>
&nbsp;
</p>
<br>
<br>
<br>
<p>
&nbsp;
</p>
  
<p>
Итак, прилетели мы часов в 5 утра, а то и полшестого. Андрюха был насторожен – он не видел пальм. Всем известно, что в тропическом раю должны быть пальмы. Андрей парень простой – про Крит заранее ничего не узнавал. Но Андрей по складу ума программист и потому логичен: нет пальм – нет рая. Каким же было его облегчение, когда прямо в аэропорту мы увидели вожделенное дерево, хоть и похожее больше на ананас.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/2_11509/IMG_0019.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/2_11509/IMG_0019_thumb.jpg" border="0" alt="IMG_0019" title="IMG_0019"  ></a> Это пальма во дворе нашего отеля, а не в аэропорту; разница лишь в том, что та была в кадке
</p>
 
<p align="left">
Что касается прочих событий, то буяна-алкоголика, как я уже гвороил, с самолёта увели полицейские, а больше ничего и не было. Багаж наш выезжал мучительно долго, причём когда появился, извергнулся из багажного лифта на ленту транспортёра как лава из вулкана. В аэропорту народу было немного; немцы да англичане, судя по отдельным фразам - вместе с нашим рейсом прибыл ещё какой-то буржуйский. Откуда – не помню.
</p>
 
<p align="left">
Когда мы вышли из аэропорта, представительница турфирмы TEZ Tour в лице миловидной девушки в жёлтой майке показала нам куда идти для посадки на автобус. Водителю надо было лишь сказать ключевое слово Hydramis, (Хидрамис), а он уж знал, где нас высадить.
</p>
 
<p align="left">
В автобусе раздали брошюрки с информацией и рекламой, да какой-то ваучер. Его заграбастала Таня, поэтому я так и не понял, что с ним делать. Наверное, в отеле отдать надо было на регистрации. Унылым тоном другая сотрудница турфирмы ввела нас в курс дела. В целом -&nbsp; очень вяло и неубедительно, но странно ожидать от неё бодрости в 5 утра, тем более, что даже в это время термометр салона показывал 27 градусов. У меня, когда я не высыпаюсь, нарушена терморегуляция – бросает то в жар, то в холод – причём чаще в жар. Так что я уже в салоне понял, что попал прямиком в ад на сковородку – ужас как жарко было. К счастью, потом это впечатление рассеялось, а тепло даже стало нравиться. Но в тот, первый момент, мной овладела лёгкая паника. (Не уверен я в запятых, так что пусть это будут авторские знаки: дорос ли я до них – вот вопрос).
</p>
 
<p align="left">
Итак, ехали мы довольно долго – часа полтора. Постепенно стало светать. Проявились из темноты:&nbsp; море с огоньками судов, каменистые холмы, известные людям с равнин под названием “горы”, чахлые кусты и непонятного вида бараки. Критяне, само собой, меня за такую характеристику их жилья по головке не погладили бы, но мне привирать незачем: бараки, они бараки и есть. Вот, убедитесь сами.
</p>
 
<p align="center">
<a href="http://flickr.com/photos/leejohnson/172882453/sizes/l/"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/2_11509/image.png" border="0" alt="image" title="image"  ></a>Так бараки и выглядели
</p>
 
<p>
Впрочем, на крышах всех этих бараков чёрные квадраты солнечных батарей и толстые металлические бочонки под ними создавали вполне футуристический вид. Учитывая отнюдь не маленькую стоимость солнечной батареи (тысячи и даже десятки тысяч $), критские домишки оказались не так просты, как показалось на первый взляд. В любом случае, все эти каменистые холмы, пальмы и экзотические строения сделали своё дело: настроение стало весьма рекреационным и отдохнотическим, даже про жару забылось. Надо сказать, что на всём протяжении дороги мы видели отличный восход солнца над морем, потому что критская национальная магистраль идёт вдоль всего северного берега, и до отеля мы добирались именно по ней. В голову даже стукнула мысль, что туристов специально привозят в 5 утра, чтобы уставшие мозги в их измождённых телах сразу по прибытии прониклись красотой критской природы. В любом случае, в один прекрасный момент автобус слегка свернул в сторону, проехал метров 200, и высадил нас около здания. Оно хоть и было построено в классическом barak-style, но на вид вызывало больше положительных эмоций, чем обычно. А главное – над входом гордо красовались голубые буквы <strong><font color="#0080ff">Hydramis Palace</font></strong>.
</p>
 
<p>
Хотите знать, что было дальше? Оставайтесь с нами, продолжение следует.
</p>
<p>&nbsp;&nbsp;<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="line-height: 1.42857; background-color: rgb(246, 246, 246);">&nbsp; К оглавлению</a></p><p>
</p>

	