Id: a2e6b236-2f0e-42f8-bb34-b9017fdc2bbd
Title: "Открытка из секонд лайф"
Published: "2008-01-20"
Slug: "2008-01-20 Открытка из секонд лайф"
-
<p>
Вот так я там выгляжу, зовут Vladislav Irata.
</p>
 
<p>
<a href="/files/blogengine/Writer/d6d70e35606a_E555/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/d6d70e35606a_E555/image_thumb.png" border="0" alt="image"   /></a> 
</p>
 
<p>
Вид такой педрильный потому, что выбрал из предустановленных персонажей, и не успел изменить&nbsp; как следует.
</p>

	