Id: 076c0ca1-50e1-46a4-89c4-45e14c05e4c9
Title: "США – 32, наводнения"
Published: "2008-08-03"
Slug: "2008-08-03 США – 32, наводнения"
-
<p>
&nbsp;
</p>
  
<p>
После того, как я вернулся из студии Беннетта, где&nbsp; был часа два, мы отправились назад в Мэдисон. Рассказывать про это не стоило бы, если бы не некоторые забавные факты. 
</p>
<div class="ljcut">
<p>
Во-первых, опять начались дожди и всемирный потоп. Во-вторых, мы отправились в путь по дороге, хорошо известной моей сестре, но через некоторое время включили GPS. Он нам высокомерно сообщил, что едем мы вовсе не туда, и надобно нам развернуться и катить обратно 10 миль, а потом свернуть на другое шоссе. Всё дело в том, что сестра раньше жила в восточной части Мэдисона и привыкла из Деллс ехать прямо туда по федеральной трассе 94. Но Мидлтон находится в западной, и катить туда легче по западному шоссе 12.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/image.png"><img style="border: 0px none " data-src="/files/blogengine/Writer/32_BDCC/image_thumb.png" border="0" alt="image" title="image"  ></a>&nbsp;&nbsp;&nbsp; <br>
Сначала мы ехали по синенькому, потом по красненькому
</p>
 
<p align="left">
Когда мы доехали до Барабу, нас ждало пренеприятнейшее известие. Из-за постоянных дождей разлились реки, и многие шоссе были перегорожены, включая часть 12. Потыкавшись в разные стороны и попытавшись объехать стихию, мы ничего не достигли – шустрые американские службы всюду понаставили знаков “проезд запрещён”. Из-за этого нам пришлось ехать обратно на 94 трассу. В итоге угробили целую цистерну топлива, а поскольку 94 было забито машинами – ещё и много часов времени.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/IMG_5391.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/32_BDCC/IMG_5391_thumb.jpg" border="0" alt="IMG_5391" title="IMG_5391"  ></a>
</p>
 
<p align="left">
Я наверное уже писал, но американцы обожают без необходимости покупать многотонные пикапы. Называют они такое чудо “truck”, то есть “грузовик”. Машина такая жрёт уйму топлива, занимает много места, и не имеет ощутимой разницы по сравнению с обычной для среднего владельца, но является настоящим американским фетишем. Если и можно привести какой-то универсальный символ американской нации, то это именно траки – огромные, прожорливые, предназначенные обычно сугубо для “показухи”. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/IMG_5396.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/32_BDCC/IMG_5396_thumb.jpg" border="0" alt="IMG_5396" title="IMG_5396"  ></a><br>
Попытка форсировать препятствие
</p>
 
<p align="left">
Есть, конечно, и положительный смысл в таких машинах. И это некое олицетворение “свободы”. Ведь такая машина крайне вместительна, что позволяет закинуть в неё гору палаток, байдарок и прочих туристических прибамбасов и махнуть куда-нибудь за тысячу миль. Кроме того, она всё-таки лучше обычной способна проехать по сложной местности, что мы на картинке и наблюдаем. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/IMG_5397_.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/32_BDCC/IMG_5397__thumb.jpg" border="0" alt="IMG_5397_" title="IMG_5397_"  ></a>&nbsp;<br>
Поток силён, маленькую машину мог бы даже опрокинуть
</p>
 
<p align="left">
Но бережливый человек так поехать не рискнёт – говорят, что обильное попадание влаги при заезде в лужу вредно для машины. С другой стороны, такое форсирование водных препятствий наверняка очень весёлое занятие. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/IMG_5401.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/32_BDCC/IMG_5401_thumb.jpg" border="0" alt="IMG_5401" title="IMG_5401"  ></a>&nbsp;
</p>
 
<p align="left">
В любом случае, нефть дорожает, и потому американцы траки покупают меньше, а те, кто купил, порой на них не ездят. Но отказаться от того, что составляет основу менталитета, американцы не смогут никогда. Расстояния в США слишком велики, и пункты назначения слишком разнообразны, чтобы другое решение сгодилось.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/IMG_5406.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/32_BDCC/IMG_5406_thumb.jpg" border="0" alt="IMG_5406" title="IMG_5406"  ></a>&nbsp;<br>
Озеро
</p>
 
<p align="left">
Вот вам цитаты из знаменитой книги про нефть <a href="http://lib.aldebaran.ru/author/ergin_dyeniel/ergin_dyeniel_dobycha/">“Добыча”</a>, которую я сейчас читаю.
</p>
              
<p>
<em>Рост автомобильной промышленности был феноменальным. Количество зарегистрированных автомобилей в Соединенных Штатах выросло с 8 тысяч в 1900 году до 902 тысяч в 1912‑м. Еще через десятилетие автомобиль перестал быть новшеством и превратился в привычное явление, изменившее обличие и нравы современного общества. И все это базировалось на нефти.</em>
</p>
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/IMG_5411.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/32_BDCC/IMG_5411_thumb.jpg" border="0" alt="IMG_5411" title="IMG_5411"  ></a>&nbsp;<br>
Но почему посреди озера растут деревья?
</p>
 
<p align="left">
И ещё одна:
</p>
 
<p>
<em>Америка вновь влюбилась в автомобиль, и теперь у потребителей были средства продолжать роман. В 1945 году обслуживалось 26 миллионов автомобилей, к 1950 году – 40 миллионов. Фактически никто в нефтяной промышленности не был готов к взрыву спроса на все нефтепродукты. Продажа бензина в Соединенных Штатах в 1950 году была на 42 процента выше, чем в 1945, и к 1950 году потребление нефти как источника энергии превысило потребление угля.</em>
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/IMG_5412.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/32_BDCC/IMG_5412_thumb.jpg" border="0" alt="IMG_5412" title="IMG_5412"  ></a>&nbsp;<br>
И почему посреди озера проложена дорога?
</p>
 
<p align="left">
То, что я был в Висконсине как раз в период наводнений, здорово – одним впечатлением больше. Да и вообще я воду люблю. Последние солнечные картинки - уже&nbsp; не возвращение в Мэдисон, и поездка в кемпинг на следующий день, но не всё ли равно, раз уж я рассказываю про наводнения.
</p>
  
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/IMG_5419.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/32_BDCC/IMG_5419_thumb.jpg" border="0" alt="IMG_5419" title="IMG_5419"  ></a>&nbsp;<br>
И что это за приспособление посреди озера?
</p>
 
<p>
&nbsp;Хреновина на фото – поливальная машина, а все все озёра на фото на самом деле – затопленные поля.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/IMG_5420.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/32_BDCC/IMG_5420_thumb.jpg" border="0" alt="IMG_5420" title="IMG_5420"  ></a></p><p align="center"><br></p><p align="center"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: start; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a>
</p>
</div>
<p align="center">
<a href="/files/blogengine/Writer/32_BDCC/IMG_5420.jpg"></a>
</p>

	