Id: bfe93432-e849-409f-8607-ae428fa5bbde
Title: "Вылазка"
Published: "2009-04-04"
Slug: "2009-04-04 Вылазка"
-
<p>Я счас еду в Ригу. План:</p> <p>Суббота:</p> <p>0. Пельменная на Калькю</p> <p>1. Мадагаскар 2 в 11 часов</p> <p>2. Общепит Il patio</p> <p>3. Конкурс танцев живота в maritim (10 лс)</p> <p>Воскресенье:</p> <p>1. Цирк, новое шоу на льду</p> <p>Если кто хочет присоединится, пишите или звоните.</p>
	