Id: 8efc0519-f4f8-4ad8-8502-04c2cbe5fc38
Title: "Мои Yahoo Pipes (Трубы Яху)"
Published: "2009-01-07"
Slug: "2009-01-07 Мои Yahoo Pipes _Трубы Яху_"
-
<p>В этом посте будут собраны Трубы Яху, которые я смастерил. Что это такое, объяснять пока не буду, скажу только, что это the greatest thing since sliced bread.<span class="mw-headline"><br /></span></p>
<p>Зачем это может быть нужно вам? Пока есть одна полезная труба.</p>
<h2>Ветка форума iXBT как RSS трансляция (ixbt forum thread rss).</h2>
<p><a href="http://pipes.yahoo.com/pipes/pipe.info?_id=dea5b1773758e90d0a08a1e92f504440">Ссылка на трубу</a></p>
<p>Мегаполезная труба, которая позволяет подписатся на любую (теоретически) ветку форума iXBT как RSS. Например, в гугль ридере. Если не хотите постоянно заходить на форум и искать в каждой ветке, где был последний пост, это для вас. Если веток много, просматривать их вручную совсем муторно - и тут нам на помощь спешит RSS и мои волшебные скиллы трубописателя.</p>
<p>Как использовать трубу? Зайдите в нужную ветку на iXBT. Нажмите "Версия для печати", дождитесь открытия и скопируйте ссылку в адресной строке. Откройте <a href="http://pipes.yahoo.com/pipes/pipe.info?_id=dea5b1773758e90d0a08a1e92f504440">страницу трубы</a> и введите ссылку. Нажмите Run Pipe, затем нажмите More Options - Get As RSS. Работы на 5 секунд, а удовольствия - море.</p>
<p>Если перестанет работать, пишите, постараюсь исправить. Это если администрация iXBT не станет чинить мне препятствий.</p>
<p>Известные баги трубы:</p>
<p>Не умеет при щелчке переходить прямо на нужный пост, слишком сложно технически (а может и невозможно). Поэтому переходит на страницу с постом.</p>
<p>&nbsp;</p>
	