Id: 21caa8ed-044b-4a3d-9232-2ed1e4dc4f17
Title: "Вот это я называю сложным тестом"
Published: "2009-11-27"
Slug: "2009-11-27 Вот это я называю сложным тестом"
-
<table style="border: 1px solid #eeeeee; width: 400px;" border="0">
<tbody>
<tr>
<td style="text-align: center; margin: 0px; padding: 8px; background-color: #006680; color: #FFFFFF; font: 16px Arial">Из 18 языков Вы узнали (угадали)... 11</td>
</tr>
<tr>
<td style="text-align: left; padding: 8px; background-color: #FFFFFF; color: #000000; font: 12px Arial">Угадай язык по фразе, хехе.<br /></td>
</tr>
<tr>
<td style="text-align: center; margin: 0px; padding: 8px; background-color: #006680; font: 12px Arial"><a style="color: #FFFFFF" href="http://aeterna.ru/test.php?link=tests:74335">Пройти тест</a></td>
</tr>
</tbody>
</table>
	