Id: c445ca8c-9ee9-4c91-a409-bf50892aca2e
Title: "Ван Гог"
Published: "2009-04-26"
Slug: "2009-04-26 Ван Гог"
-
<p>Я бритвой случайно порезал себе ухо! И кровь не останавливается никак.</p> <p>Ван-Гог, блин.</p>
	