Id: 45996600-26c4-45ea-a908-931c968e5042
Title: "Редко участвую в тестах, но тут забавный"
Published: "2009-06-06"
Slug: "2009-06-06 Редко участвую в тестах, но тут забавный"
-
<h3>&nbsp;<a href="http://www.rian.ru/infografika/20090602/172980575-ig.html">А как бы Вы сдали ЕГЭ?</a></h3> <p>Мои результаты (сдавал в разное время, поэтому оценки пишу вручную).</p> <p>Математика – 4. Запалился на чёртовом графике косинуса просто по невнимательности. Решал всё логическим мышлением, графики от руки не рисовал, для этого <a href="http://www22.wolframalpha.com/input/?i=are%20you%20skynet">искусственный интеллект</a> есть.</p> <p>Русский язык – 4. Всё ответил мгновенно и интуитивно, над последним думать было лень.</p> <p>Физика – 2. Формул не помню, терминов не помню. Жуть.</p> <p>Химия – 2. Я её ещё хуже физики всегда знал.</p> <p>География – 3. Про бассейн морей ничего не знал, а на океанском шлейфе склинил.</p> <p>Биология – 3. Я её в школе не любил.</p> <p>История – 4. Напротив, любил и что-то даже знал. Но все вопросы в тесте из русской истории. То, что я на 4 ответил – уже чудо.</p> <p>Обществознание – 4. Как-то второй вопрос слишком простым показался, решил сумничать.</p> <p>Итог – гуманитарий я какой-то, если не считать математики.</p>
	