Id: 93fd689a-72f5-4c2d-adbc-7c7dce37b1bb
Title: "Меня интересуют только мыши"
Published: "2009-01-09"
Slug: "2009-01-09 Меня интересуют только мыши"
-
<div class="cite">   <p><a href="http://www.government.ru/content/governmentactivity/mainnews/archive/2009/01/08/8560908.htm">Я не торгую ни газом, ни огурцами, ни пивом, ни салом – ничем!!!</a></p> </div>
	