Id: b1f99cb7-ece9-4b57-bc17-849b436ab27a
Title: "Старый дед"
Published: "2009-04-27"
Slug: "2009-04-27 Старый дед"
-
<p>Я не Ван Гог, но старый дед. Куда-то делись 100 латов (200$), стал искать по комнате, не нашёл. Уже было подумал, что потратил, и в Турции буду сосать лапу. Потом засунул руку в карман шорт, в которых я дома хожу, а там бумажка шуршит.</p> <p>Зато какая радость из ничего!</p>
	