Id: aa8c1502-2248-4d69-8734-cd9260a9aa16
Title: "Чёрная полоса"
Published: "2009-01-16"
Slug: "2009-01-16 Чёрная полоса"
-
<p>Однако же, мой паспорт нашли на улице и завтра я его заберу. Но зато я подскользнулся, упал на лёд плечом, и оно сильно болит.</p>
	