Id: 9c7f9dac-1065-4a9d-b149-5eb1ea71e2ef
Title: "Рыболовный сезон"
Published: "2009-01-07"
Slug: "2009-01-07 Рыболовный сезон"
-
<p>Помните, я <a href="/post/2008-07-02%20%D0%A1%D0%A8%D0%90-10%20-%20%D0%A3%D0%B6%D0%B0%D1%81%D0%BD%D0%B0%D1%8F%20%D0%BF%D1%80%D0%B0%D0%B2%D0%B4%D0%B0">писал</a> про старбакс, и даже <a href="/search.aspx?q=starbucks">два раза</a>. Уже три. Такая, понимаешь, рекурсия. </p>  <p>А тут новость подоспела – китайцы в очередной раз превзошли сами себя – вот что <a title="Подробнее в газете Mirror" href="http://www.mirror.co.uk/news/top-stories/2009/01/05/fake-brands-shopping-centre-set-to-open-in-china-pictures-115875-21018152/">учудили</a>:</p>  <p><a href="http://dirty.ru/comments/246230"><img title="20388-165724-8821696bd8ffc18ab74cb362e94ad309" style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px"  alt="20388-165724-8821696bd8ffc18ab74cb362e94ad309" data-src="/files/blogengine/203881657248821696bd8ffc18ab74cb362e94ad309.png"  border="0" /></a> </p>  <p>Посмотрел я на фотки, и вспомнил рассказ Шекли, который тут очень в тему. Называется Рыболовный сезон, очень маленький, так что <a href="/file.axd?file=2009%2f1%2fshekli.txt">читайте</a>.</p>
	