Id: 1fc18608-5f2e-4d83-ba4d-3e7500a0cb3f
Title: "Ню-метал"
Published: "2009-02-08"
Slug: "2009-02-08 Ню-метал"
-
<p>Иногда хочется попсы, да ещё и русскоязычной. Вот и сейчас вспомнил сравнительно старую пластинку.</p> <p>Так что вот вам в общем-то приятная такая группа Слот, песня&nbsp; God &amp; Devil Inc. Бас у них хороший, по крайней мере на моих колонках.</p>Слушать: <br> <br><a href="/files/lj/03 - God and Devil Inc.mp3">Скачать MP3</a>  <p>Радует, что группа поборола проблемы со сменами солисток и скучноватостью предыдущего альбома (по крайней мере мне так кажется). Альбом “Тринити” вполне можно слушать под настроение. Я, кстати, купил его на <a href="http://www.soundkey.ru/album/7730/">Soundkey.ru</a></p>
	