Id: 28bdd90f-1018-4947-aa13-e06289a9c352
Title: "one.lv"
Published: "2009-03-05"
Slug: "2009-03-05 one.lv"
-
<p>Коллега по наводке нашёл дикий и абсолютно очевидный прокол в безопасности на one.lv. Раскрывать пока не стану.</p>
<p>Пока же советую</p>
<p>1. Немедленно сменить&nbsp; пароль, причём на такой, который больше нигде вами не используется.</p>
<p>2. Не логиниться на one.lv на общедоступных компах и компах друзей.</p>
	