Id: e3c405dc-abd3-4210-b4fe-addbcfde5c88
Title: "Iglu & Hartly"
Published: "2009-03-02"
Slug: "2009-03-02 Iglu _ Hartly"
-
<p>Как всегда в воскресенье вечером, я убираю квартиру, готовлю еду на неделю, и слушаю музыку.</p> <p>Второй раз послушал Iglu and Hartly – And Then Boom (2008). Второй раз – это потому, что не очень помню, что уже слушал из свежедобытого.</p> <p>Это какой-то такой соуловый танцевальный поп-рок, где чувак вместо пения слегка рэпует в стиле фанка. Хотя песенки бодренькие и весёленькие, слишком уж всё как-то технично и стерильно. Слушать это больше одного раза, по-моему, незачем, поэтому я сотру.</p> <p>Пример песенки (In This City):</p>Слушать: <br> <br><a href="/files/lj/06-iglu_and_hartly-in_this_city.mp3">Скачать MP3</a>
	