Id: 645c97b9-bcc8-40e4-b9d2-88ae63d12af4
Title: "Рэп"
Published: "2009-01-26"
Slug: "2009-01-26 Рэп"
-
<p>Попалась на глаза рэп-песенка, показалась не такой пафосной, как обычно в хип-хапе, и вообще чем-то отдалённо созвучна текущему моменту моей жизни. Осторожно, слегка нецензурно.</p> <p>3MB, 192kbps</p> <p></p> <p><a href="/files/lj/OXXXYMIRON_v_govne.mp3">качать</a></p>
	