Id: f378691b-2a9e-4223-83b8-862816c28e2c
Title: "Музыка"
Published: "2009-03-09"
Slug: "2009-03-09 Музыка"
-
<p>Alexander Tucker – Portal </p> <p>Горохов в шутку обозвал&nbsp; прог-фолком. Аллмузик попроще – называет это Alternative folk. </p> <p>Саунд некоторых мне нравится – вот в этой, например, гитара приятно так протяжно скрежещет, я такое люблю. </p> <p>Слушать Bell Jars, 6 MB: <br> <br><a href="/files/lj/05 - Bell Jars.mp3">Скачать MP3</a> </p> <p>В целом, конечно, многовато авторской песни и вокала, но звучит не очень уныло, поэтому в коллекции оставлю.</p> <p><a href="http://izvne.com:8080/uploaded/music/Alexander%20Tucker%20%20Portal%20V.rar">Прямая ссылка на скачивание, 52 MB VBR V0</a></p>
	