Id: 113f92e4-c840-4421-97ad-df902b026e0c
Title: "Забавная лингвистика"
Published: "2009-03-10"
Slug: "2009-03-10 Забавная лингвистика"
-
<p>Посмотрел серию mythbusters про водоворот, так в один момент там ведущий сказал: “whirlpool is gaining momentum”. На русском бы наверное сказали: “набирает обороты”, и это был бы очень подходящий к теме каламбур.</p>
	