Id: 4c8d0b3f-5637-4164-9e59-f5821288384b
Title: "Дорогой дневник"
Published: "2009-02-09"
Slug: "2009-02-09 Дорогой дневник"
-
<p>Я распечатал Ван Гога, поиграл у родителей в Wii, убрал квартиру, заметил таракана, сделал свежевыжатый грейпфрутовый сок, и сейчас буду выкладывать на Радиоархив FMD и Музпросвет.</p> <p>Ван Гог получился хорошо, Wii-fit доставляет, но её нельзя подключить к компьютерному монитору, квартира, хоть и ненадолго, блещет чистотой, таракан пока один и маленький, сока из двух грейфрутов выдавилось полтора стакана, а Радиоархив дико тормозит по неизвестным причинам, которые расследуются уже третью неделю ввиду того, что отладчик php GBG выдаёт ошибку, а саппорт не отвечает.</p> <p>А после я буду смотреть свежую серию одного из лучших сейчас сериалов&nbsp; - Battlestar Galactica, который недавно возобновился после новых съёмок, но уже на финишной прямой и близится к завершению.</p>
	