Id: e7afbc5b-775e-46a2-beac-801b2b7615b5
Title: "Тушёнка"
Published: "2009-07-07"
Slug: "2009-07-07 Тушёнка"
-
<p>Все вот считают, что в Беларуси мясная и молочная продукция натуральная и вкусная.</p> <p>Между тем, мне как обычно кажется, что это в большой мере лишь проявление особенностей человеческого мышления. Подсознательно многие думают что-то вроде “раньше было лучше” (я имею в виду параллель с СССР) и “если страна аграрная, там всё натуральное”. Между тем, когда мы на Лиго были в Беларуси, я нелегально ввёз сюда пару банок их тушёнки под маркой НЯМ-НАМ. Недавно попробовал – на вкус чересчур солёная/глутаматная, потом даже как-то не очень хорошо себя чувствовал. В составе на этикетке указан глутамат натрия.</p> <p>А тут по случаю купил нашей тушёнки из дичи с надписью <a href="http://viesuli.lv/">“Jekabpils Viesuli”</a>, а конкретно – оленины. Глутамата в составе на упаковке не обнаружилось. Процентное соотношение мяса и жира тоже чуть лучше, чем в белорусской тушёнке. (Хотя, наверное, у них на это дело ГОСТ). На вкус мне понравилось гораздо больше белорусской, хотя солёности я бы и тут убавил.</p> <p>Конечно, белорусская свинина/говядина стоила дешевле за банку, чем наша оленина, притом что сама банка размером была в три раза больше. Но всё равно старайтесь думать объективно и скептически, даже в таком простом деле, как жратва.</p>
	