Id: 4516873a-6fc0-49f1-a11a-fa15cf7f13f1
Title: "Смелый Водопроводчик"
Published: "2009-02-09"
Slug: "2009-02-09 Смелый Водопроводчик"
-
<p>Это стоит смотреть поклонникам игр. А вот стоит ли поклонникам джаза – не уверен.</p> <p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/mwKMym3Nz2A&amp;color1=0xb1b1b1&amp;color2=0xcfcfcf&amp;hl=ru&amp;feature=player_embedded&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/mwKMym3Nz2A&amp;color1=0xb1b1b1&amp;color2=0xcfcfcf&amp;hl=ru&amp;feature=player_embedded&amp;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
	