Id: 36c22686-c71a-4fd0-842d-f87870eed49b
Title: "Евровидение"
Published: "2009-03-01"
Slug: "2009-03-01 Евровидение"
-
<p>Когда услышал, что сегодня финал национального отбора на Евровидение, почему-то мелькнула мысль, что <a href="/post/2009-01-03%20%D0%92%D1%81%D1%82%D1%80%D0%B5%D1%87%D0%B0%20%D0%9D%D0%BE%D0%B2%D0%BE%D0%B3%D0%BE%20%D0%B3%D0%BE%D0%B4%D0%B0%20-%202009">Бусулис</a> рано или поздно на конкурс попадёт, хотя я даже не знал, участвует ли он в отборе. И вот - <a href="http://rus.delfi.lv/news/entertainment/music/article.php?id=23373151">На "Евровидение" поедет Интарс Бусулис</a></p>
<p>Мистики тут нет &ndash; просто других латвийских популярных музыкантов, кроме Prata Vetra, я не знаю, а они на Евровидении уже были.</p>
<p>Разумеется, он не победит - не та музыка, не тот исполнитель.</p>
<p><a href="http://www.eirovizija.lv/files/16.sastregums_new_mix.mp3">http://www.eirovizija.lv/files/16.sastregums_new_mix.mp3</a></p>
	