Id: 373db608-794e-42f7-b289-3f376c407850
Title: "Карты"
Published: "2009-07-12"
Slug: "2009-07-12 Карты"
-
<p>Я вроде раньше видел это, но забыл, а сейчас мне напомнили.</p> <p> На zl.lv есть просто отличные карты частей Латвии. Вот, например, родной город и окрестности:</p> <p><a href="http://daugavpils-novada-karte.zl.lv/">http://daugavpils-novada-karte.zl.lv/</a></p>
	