Id: 7d5b6907-04fa-49af-be16-0a228f0bb820
Title: "Вернулся"
Published: "2009-05-09"
Slug: "2009-05-09 Вернулся"
-
<p>Я вернулся. В Турции круто. Вместо написания отчёта целый день читал интернет – соскучился.</p>
	