Id: 5b239065-deb4-4355-b8cc-9c296f4ed768
Title: "Зохаван"
Published: "2010-12-29"
Slug: "2010-12-29 Зохаван"
-
<p>Вот сейчас много говорят про то, что мусульмане захватывают мир. А у меня это уже сбылось!</p> <p><a href="/files/blogengine/image_2.png"><img style="border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_2.png"  ></a> </p> <p>(Для тех, кто не в курсе, это флаги&nbsp; государства Джибути и Объединённых Арабских Эмиратов)</p>
	