Id: e9b30288-e251-49f0-97b3-2b2df6c680a5
Title: "Не прошло и полдня, как поставил Моно"
Published: "2010-10-10"
Slug: "2010-10-10 Не прошло и полдня, как поставил Моно"
-
<p>Как обычно, очень долго в Линуксе надо возится даже по простейшим вопросам. Ну, наверное потому что у меня старый линукс - debian lenny. Были проблемы с autoconf, поэтому пришлось ставить git и компилить из репозитория.</p> <p>И даже включил generational GC, правда с трудом.</p>
	