Id: 92297255-404c-4f3e-a849-ac77161e8295
Title: "Респект мужикам"
Published: "2010-12-01"
Slug: "2010-12-01 Респект мужикам"
-
<p><a href="http://en.wikipedia.org/wiki/Aaron_Feuerstein">Aaron Feuerstein</a> intentionally declined to <a href="http://en.wikipedia.org/wiki/Patent">patent</a> Polar fleece, allowing the material to be produced cheaply and widely by many vendors, promoting the material's wide acceptance.<sup><a href="http://en.wikipedia.org/wiki/Polar_fleece#cite_note-1">[2]</a></sup><sup><a href="http://en.wikipedia.org/wiki/Polar_fleece#cite_note-2">[3]</a></sup><sup><a href="http://en.wikipedia.org/wiki/Polar_fleece#cite_note-3">[4]</a></sup> <p>То есть дядька, который изобрёл суперский синтетический материал "полярка", то есть polar fleece, не стал его патентовать, лишь бы все пользовались. <p>Ещё помню, как <strong>Jonas E. Salk</strong> отказался от патента не вакцину против полиомиелита, тоже круто.</p>
	