Id: e93b981f-c138-45ca-a218-2aa7c4389f29
Title: "Счас буду ставить Моно 2.8 на сервак, где этот блог"
Published: "2010-10-10"
Slug: "2010-10-10 Счас буду ставить Моно 2.8 на сервак, где этот блог"
-
<p>В нём, кстати, поддержка C# 4.0 и Generational Garbage Collector, кроме всей прочих красивостей.</p>
	