Id: b93092b9-6fc4-4450-9890-bd1069bfc41b
Title: "Раздал долги"
Published: "2010-12-24"
Slug: "2010-12-24 Раздал долги"
-
<p>Готов прямо счас лететь в Мадгаскар с байком. Только спина болит очень, перетренировался и пересидел за компом.</p> <p>С праздником, типа.</p>
	