Id: d4a9bfaa-13c8-4962-9ee6-d60b13bd7501
Title: "7. Snowdrop live"
Published: "2010-12-02"
Slug: "2010-12-02 7. Snowdrop live"
-
<p>Snowdrop live! <br /> <!-- BEGIN INSTAMAPPER CODE --> GPS tracking powered by <a href="http://www.instamapper.com">InstaMapper.com</a> <br /><br /> <iframe style="border: 1px solid;" src="http://www.instamapper.com/ext?key=7654746842998639557&amp;width=800&amp;height=800&amp;zoom=13&amp;type=roadmap&amp;units=metric&amp;coords=d" frameborder="0" scrolling="no" width="1000" height="835"> </iframe> <br /> <!-- Google Public Location Badge --> <iframe src="http://www.google.com/latitude/apps/badge/api?user=7132231665780996834&amp;type=iframe&amp;maptype=roadmap" frameborder="0" width="1000" height="835"></iframe> <!-- To disable location sharing, you *must* visit https://www.google.com/latitude/apps/badge and disable the Google Public Location badge. Removing this code snippet is not enough! --></p>
	