Id: 87670d68-9d10-40d1-8be7-1d524da965ee
Title: "Фото"
Published: "2010-07-05"
Slug: "2010-07-05 Фото"
-
<p>Вот человек съездил в Аглону и Краславу, но фотки сделал нормальные, в отличие от моих.</p> <p><a href="http://nevgen.livejournal.com/5542.html">http://nevgen.livejournal.com/5542.html</a></p> <p>Мы, тем временем, скатались в Демене, Силене и карьеры Элерне, которые мне neven как раз и посоветовал. Вот такой взаимный обмен опытом. А вы говорите, "интернет помойка". Интернет - кладезь знаний!</p>
	