Id: e3863811-d65b-461d-b40c-e735f4bc4803
Title: "Вот вам"
Published: "2010-12-01"
Slug: "2010-12-01 Вот вам"
-
<h3>&nbsp;</h3> <p>Кто-то жалуется, а кто-то делает. Похоже, вопрос решён окончательно, теперь можно будет и без окончаний.</p> <p><a href="http://rus.delfi.lv/news/daily/politics/komitet-oon-dobavlenie-latyshskih-okonchanij-protivorechit-pravu-na-chastnuyu-zhizn.d?id=35480093">Комитет ООН: добавление латышских окончаний противоречит праву на частную жизнь</a></p> <div style="border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border-top: black 1px solid; border-right: black 1px solid"> <p>Решение Комитета ООН является окончательным и не подлежит обжалованию. Теперь Латвийская Республика обязана устранить нарушение в отношении Леонида Райхмана, а также принять необходимые меры, включая изменения в законодательстве, чтобы схожие нарушения не повторились в будущем. В течение 180 дней правительству необходимо отчитаться о выполнении решения.</p></div>
	