Id: a756b265-b32f-4995-ab53-893dff8caa93
Title: "Страшно жить"
Published: "2010-10-17"
Slug: "2010-10-17 Страшно жить"
-
<p>Купил оптический SPDIF (toslink) кабель, на нём написано Oxygen Free Copper. Спасите мой мозг.</p>
	