Id: 19eb1291-6b4b-4dbe-8ed0-07f7de4124bd
Title: "Пуэр"
Published: "2010-10-16"
Slug: "2010-10-16 Пуэр"
-
<p>Как не выпью чая пуэр, так сразу самочувствие себя ведёт странно. Я его сам не покупаю, пил подаренный. Допью тот, что есть, и больше не буду. Не зря китайцы сами такие чаи как пуэр пьют как лекарства;чаи тебе продаёт аптекарь по твои личные нужды и болезни. Видимо, пуэр со мной несовместим.</p>
	