Id: e8798bc7-d77c-44a3-b6f0-14b3d2043b69
Title: "Rimi"
Published: "2010-10-12"
Slug: "2010-10-12 Rimi"
-
<p>У нас тут известный ларёк переезжает из центра в почти центр, так там происходит редкая для Латвии вещь - на всё скидка 30%. Сходил, проверил - и правда на всё (кроме табачных изделий и ещё кое-чего несущественного). </p> <p>Потом даже зарулил в хозмаг по кличке Дрогас (имя, как у литовской собачки), сравнить цену на мой любимый гель для душа Nivea.</p> <p>Что странно, и тут капиталисты не подвели. Со скидкой в Rimi гель стоит 1.50, а в Дрогасе без скидки аж 2.70. Разница, что не говори, существенная, особенно если несколько штук закупить впрок. Я вообще не большой поклонник такого дела, ибо обжигался на этом, но тут вроде подводных камней нет. Гель для душа этма оно то, завсегда нужон, да и не стухнет же.</p> <p>Так что завтра пойду ещё, предамся греху потреблятства.</p> <p align="center"><a href="/files/blogengine/41631251.jpg"><img style="border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px" border="0" alt="41631251" data-src="/files/blogengine/41631251_thumb.jpg"  ></a></p>
	