Id: a78f085f-a8f4-4652-8d52-bf6fab8c5b1b
Title: "Видео про собачек и котиков"
Published: "2010-10-02"
Slug: "2010-10-02 Видео про собачек и котиков"
-
<p>Опять ничего особенно интересного, выкладываю, чтобы смотреть в старости и ностальгировать.</p> <noembed></noembed><br><a href="/files/lj/dogs.mp4">Скачать mp4 видео </a>
	