Id: 0c2ea22e-2d4b-4fa2-9ec2-508c8eff11f3
Title: "Зарасай байк видео"
Published: "2010-10-02"
Slug: "2010-10-02 Зарасай байк видео"
-
<p>Это видео, как мы ездили в Зарасай. Выкладываю для себя, для вас ничего интересного в нём нет.</p> <noembed></noembed><br><a href="/files/lj/Zarasai_iphone.mp4">Скачать mp4 видео </a>
	