Id: 1dee6903-5f50-44d1-9dea-aee8b33f0826
Title: "I'm back!"
Published: "2010-03-21"
Slug: "2010-03-21 I_m back_"
-
<p>Мы подняли новый сервер в Германии. Постепенно всё переедет туда. Картинки наконец починил, должны работать нормально. Надеюсь, больше мой блог (который я дико забросил в пользу твиттера) исчезать не будет.</p>
<p>Если нужен хостинг (за деньги), обращайтесь - сервер совсем неслабый, потянет что угодно. (8 GB RAM,4-ядерный Core I7)</p>
<p>Скорость до него обычно очень большая со всего мира. (Из дома у меня было 700 КБсек, из США - 7 мегабайт в секунду)</p>
	