Id: 9c5e59b6-d47f-4fd9-8bf4-82ddaaa01be2
Title: "Moremoney - Tricky"
Published: "2010-03-24"
Slug: "2010-03-24 Moremoney - Tricky"
-
<p>Вот я вечно ставлюсь в тупик вопросом, какая музыка мне нравится.</p>  <p>Всегда проще схитрить, и показать, а не рассказать. Вот такая музыка, например, мне нравится, как эта русская группа Moremoney с альбомом Tricky. (Знаю, что боян)</p> Слушать:   <br />   <br /><a href="/files/lj/06_scar_on.mp3">Скачать MP3</a>
	