Id: a5f26e69-af0b-4e1a-979f-396c2370240a
Title: "Кстати"
Published: "2010-11-30"
Slug: "2010-11-30 Кстати"
-
<p>Мне ночью приснился Шоун Фэннинг (создатель первой пиринговой сети Napster). Я его не узнал, правда, пришлось ему мне объяснять, кто такой.</p>
	