Id: 1770dd37-c25e-41c2-9f57-aa4e8eda6a91
Title: "Дайджест"
Published: "2011-03-22"
Slug: "2011-03-22 Дайджест"
-
<h3></h3> <p><a href="http://rus.delfi.lv/news/daily/latvia/v-mae-zapustyat-poezd-riga-tartu-tallinn.d?id=37498033">В мае запустят поезд Рига-Тарту-Таллинн</a></p> <p><a href="http://rus.delfi.lv/news/daily/business/latviya-vlozhit-milliard-v-transportnuyu-infrastrukturu.d?id=37483627">Латвия вложит миллиард в транспортную инфраструктуру</a></p> <p>Будем адски кататься по бывшим гравийкам Латвии и даже ездить на великах в Эстонию!</p> <p><a href="http://rus.delfi.lv/news/daily/latvia/gruppy-turistov-mogut-bez-ocheredi-peresekat-granicu.d?id=37512183">Группы туристов могут без очереди пересекать границу</a>&nbsp;</p> <p>С Россией и Белоруссией имеется в виду. Не указано, правда, какого размера группы.</p> <p><a href="http://rus.delfi.lv/news/daily/latvia/opros-sudebnoj-sisteme-doveryayut-79-klientov-sudov.d?id=37508251">Опрос: судебной системе доверяют 79% клиентов судов</a> </p> <p>А вы говорите, что у нас всё плохо. Те, кто судами пользуются, вроде как не считают, что так уж плохо. С другой стороны, может их коррупция устраивает.</p> <p><a href="http://nextbigfuture.com/2011/03/deaths-per-twh-by-energy-source.html">Смерти на тераватт-час при выработке разных видов электричества</a></p><pre><b>Energy Source              Death Rate (deaths per TWh)</b>

Coal – world average               161 (26% of world energy, 50% of electricity)
Coal – China                       278
Coal – USA                         15
Oil                                36  (36% of world energy)
Natural Gas                         4  (21% of world energy)
Biofuel/Biomass                    12
Peat                               12
Solar (rooftop)                     0.44 (less than 0.1% of world energy)
Wind                                0.15 (less than 1% of world energy)
Hydro                               0.10 (europe death rate, 2.2% of world energy)
Hydro - world including Banqiao)    1.4 (about 2500 TWh/yr and 171,000 Banqiao dead)
Nuclear                             0.04 (5.9% of world energy)
</pre>
<p>Долой нездоровый сенсационализм и панику, даёшь АЭС в массы.</p>
<p>&nbsp;</p>
<p>И ещё, к недавним событиям. Никита Михалков, как оказалось - моральный урод каких поискать. </p>
	