Id: 5c4e4875-b63f-4953-99ab-f3a6f6f7d344
Title: "Проапгрейдил"
Published: "2011-04-11"
Slug: "2011-04-11 Проапгрейдил"
-
<p>BlogEngine.NET на версию 2.0. Нужно было для того, чтобы прикрутить крутые самописные плагины. Увы, времени уже не осталось, зато начало положено. </p>
	