Id: 21c26d30-97d6-4b6d-bf37-3759c976393c
Title: "Jawbone"
Published: "2011-12-02"
Slug: "2011-12-02 Jawbone"
-
<p>Браслет, который следит за вашей физической активностью, сном и питанием, записывает всё и показывает графики:</p> <p><a title="http://jawbone.com/up" href="http://jawbone.com/up">http://jawbone.com/up</a></p> <p>Давно о таком мечтал, но у меня же новый телефон Ведроид будет, и на него софта пока нет. Ждём и копим деньги.</p>
	