Id: f2c0ced5-76a1-4ae9-965f-22173a2b7520
Title: "Вьетнам — 4, дорогая из города Лао Кай в город Сапа"
Published: "2011-05-20"
Slug: "2011-05-20 Вьетнам - 4, дорогая из города Лао Кай в город Сапа"
-
<p>Долго ли, коротко ли, но поезд стал подъезжать к городу Лао Кай. Во сколько он должен прибыть, мы толком не знали, поэтому проснулись уже около 5-6 утра.</p>
<p>Лао Кай находится на севере, рядом - курортный город Сапа́, куда мы и стремились. Хотелось нам этого потому, что рядом находится самая высокая гора Вьетнама - Фансипан, высотой 3143 метра. Туда мы собирались взойти. Британцы же из соседнего купе на такое не замахивались, ехали просто побродить по окрестностям.</p>
<h2><a href="http://www.everytrail.com/view_trip.php?trip_id=1098360">Vietnam, day 1 : Lao Cai to SaPa</a></h2>
<p>&nbsp;</p>
<p><embed type="application/x-shockwave-flash" width="800" height="600" src="http://www.everytrail.com/swf/widget.swf" pluginspage="http://www.adobe.com/go/getflashplayer" quality="high" play="true" flashvars="units=metric&amp;mode=0&amp;key=ABQIAAAA_7wvFEi7gGngCZrOfos63hSN1xyBy-BzBD--25ZLXpVi3GfbehTQlZCXdpUFII2A5CGeExVTCyX1ow&amp;tripId=1098360&amp;startLat=22.491583&amp;startLon=103.978821&amp;mapType=Terrain&amp;"><br>EveryTrail - Find the <a href="http://www.everytrail.com/best/hiking-california">best hikes in California</a> and beyond</p>
<script src="http://www.everytrail.com/trip/widgetimpression?trip_id=1098360" type="text/javascript"></script>
<p>Гугль, кстати, gpx из Вьетнама испортировать не хочет, видимо не по нраву ему коммунизм.</p>
<p>Свою собственную суперсистему с картой и фотками я пока не дописал, столкнулся со сложной проблемой, ну и времени нету совсем.</p>
<p><a href="/files/blogengine/IMG_4691.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4691_thumb.jpg" border="0" alt="IMG_4691"  ></a>&nbsp;</p>
<p>Когда выглянул в окно, пейзажи сразу захватили дух, так и не отпускали долгое время</p>
<p>[more]</p>
<p>Пссажиры-вьетнамцы, кстати, многие спать и не ложились - сидели на нижней полке толпой и социализировались.</p>
<p><a href="/files/blogengine/IMG_4694.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4694_thumb.jpg" border="0" alt="IMG_4694"  ></a></p>
<p>Уже такие первые картинки вызывали бешеный восторг</p>
<p>Он, конечно, потом поугас, но всё равно приятно было.</p>
<p>&nbsp;<a href="/files/blogengine/IMG_4697.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4697_thumb.jpg" border="0" alt="IMG_4697"  ></a></p>
<p>"Вьетнамские коровы и крестьянка<a href="/files/blogengine/IMG_4705.jpg">"</a></p>
<p>Тут не видно, но у вьетнамских коров длинные рога, иногда даже такие длинные, что закрученные. Ещё коровы флегматичные и на вид здоровые. Иногда на них верхом ездят дети, и даже взрослые. Тут надо сказать, что вьетнамцы ростом в среднем на голову ниже обычного европейца. Я ростом 1.78 и уже был выше всех, а если вы, например, 1.87 - для них вы настоящий великан. Телосложение у вьетнамцев субтильное, толстые есть только в больших городах. Это объяснимо - питаются они натурально, овощи да рис, продуктов в упаковках и обработнных едят, судя по всему, мало (но об этом позже).</p>
<p><img style="border: 0px;" data-src="/files/blogengine/IMG_4705_thumb.jpg" border="0" alt="IMG_4705"  >&nbsp;</p>
<p>Речка</p>
<p>Велосипеды наши доехали почти без приключений, за исключением того, что нам на них наплевали. Неприятно, но это один из немногих случаев проявления недружелюбия, что я помню.</p>
<p><a href="/files/blogengine/IMG_4709.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4709_thumb.jpg" border="0" alt="IMG_4709"  ></a></p>
<p>Лао Кай</p>
<p>Приехали мы рано утром, часов в 7, выехали через полчасика.</p>
<p><a href="/files/blogengine/IMG_4715.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4715_thumb.jpg" border="0" alt="IMG_4715"  ></a></p>
<p>Электрических столбов во Вьетнаме много, проводов - ещё больше</p>
<p>Во Вьетнаме по многим вопросам совсем не напрягаются - провода, торчащие отовсюду и висящие там и сям, никого не волнуют. Это, может быть, портит панораму, зато создаёт местный колорит. Конечно, до такого с проводами, как Тёма Лебедев в Африке снимает, не доходит, но в целом изрядно. С электричеством до сих пор не всё ладно, в самых хлипких лачугах его, видимо, нет.</p>
<p><a href="/files/blogengine/IMG_4718.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4718_thumb.jpg" border="0" alt="IMG_4718"  ></a></p>
<p>Рек и гор на севере Вьетнама много, любоваться можно долго</p>
<p><a href="/files/blogengine/IMG_4719.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4719_thumb.jpg" border="0" alt="IMG_4719"  ></a>&nbsp;</p>
<p>Разумеется, во Вьетнаме всегда туманно, что знает любой, видевший оттуда фото</p>
<p><a href="/files/blogengine/IMG_4725.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4725_thumb.jpg" border="0" alt="IMG_4725"  ></a>&nbsp;</p>
<p>Дорога из Лао Кая к Сапе очень уклонистая</p>
<p>Обратите внимание на бетонный столбик с красной верхушкой слева. Это указатель до больших городов. Традиционных дорожных знаков с расстояниями, как у нас, во Вьетнаме нет.</p>
<p><a href="/files/blogengine/IMG_4727.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4727_thumb.jpg" border="0" alt="IMG_4727"  ></a></p>
<p>Хижина, наверное можно и переночевать в такой</p>
<p>Забегая вперёд, скажу, что во Вьетнаме к вещам относятся просто, и потому проблем переночевать в такой хижине быть не должно, разве что интерес проявят большой.</p>
<p><a href="/files/blogengine/IMG_4729.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4729_thumb.jpg" border="0" alt="IMG_4729"  ></a>&nbsp;</p>
<p>Тут уклон всё-таки немного виден</p>
<p><a href="/files/blogengine/IMG_4732.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4732_thumb.jpg" border="0" alt="IMG_4732"  ></a></p>
<p>Виды прекрасные, хоть и туманные</p>
<p><a href="/files/blogengine/IMG_4734.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4734_thumb.jpg" border="0" alt="IMG_4734"  ></a>&nbsp;</p>
<p>Неизменные провода и рисовые террасы</p>
<p><a href="/files/blogengine/IMG_4735.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4735_thumb.jpg" border="0" alt="IMG_4735"  ></a></p>
<p>Собирает зелень, видимо</p>
<p><a href="/files/blogengine/IMG_4736.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4736_thumb.jpg" border="0" alt="IMG_4736"  ></a></p>
<p>Обычный вьетнамский знак</p>
<p>Таких очень много, потому что повороты везде крутые. Знак жёлтый, с красной окантовкой, стрелка изогнута резко. Знаки все старые и неприглядные, и даже новый он, судя по подтёкам краски, был покрашен небрежно. Это во Вьетнаме норма - лишь бы процесс шёл как-нибудь, а детали не так и важны. В принципе, неплохой подход - нервы не портить европейским перфекционизмом.</p>
<p><a href="/files/blogengine/IMG_4737.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4737_thumb.jpg" border="0" alt="IMG_4737"  ></a></p>
<p>Шланги для полива грузовиков водой</p>
<p>Пару слов о погоде. Во Вьетнаме есть сезоны дождей, но зависят они от региона, как и погода в целом. На севере, где мы были, если не ошибаюсь, хуже летом и зимой, лучше весной и осенью. Суше всего осенью. В любом случае почти всегда жарко (днём 20 и выше, если не очень высоко в горах), плюс очень влажно и душно. С гор течёт вода, её используют для полива грузовиков, которые, как ни странно, во Вьетнаме есть - не всё возят на мотобайках. Хотя могут всё - в этом вы убедитесь позже.</p>
<p>&nbsp;<a href="/files/blogengine/IMG_4738.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4738_thumb.jpg" border="0" alt="IMG_4738"  ></a></p>
<p>Собаки во Вьетнаме есть, кошек меньше</p>
<p>Едят ли во Вьетнаме собак? Животрепещущий вопрос, но ответ будет не скоро, в середине или даже в конце.</p>
<p>&nbsp;<a href="/files/blogengine/IMG_4742.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4742_thumb.jpg" border="0" alt="IMG_4742"  ></a></p>
<p>Шланги подключены к гороводопроводу высоко, чтобы давление было</p>
<p><a href="/files/blogengine/IMG_4743.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4743_thumb.jpg" border="0" alt="IMG_4743"  ></a>&nbsp;</p>
<p>Курятина, что называется, ubiquitous</p>
<p><a href="/files/blogengine/IMG_4745.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4745_thumb.jpg" border="0" alt="IMG_4745"  ></a></p>
<p>Туман всё туманнее <a href="/files/blogengine/IMG_4748.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4748_thumb.jpg" border="0" alt="IMG_4748"  ></a></p>
<p>В хижине, наверное, можно переждать непогоду и сготовить себе жратвы на огне</p>
<p>&nbsp;<a href="/files/blogengine/IMG_4749.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4749_thumb.jpg" border="0" alt="IMG_4749"  ></a></p>
<p>Это мы покупаем огурцы</p>
<p>Огурцы стоили 36 сантим за 6 штук. Вода и газировки, кстати, стоит примерно полдоллараза бутылку или банку, размер и типа напитка при этом имеют мало значения. Рядом с огурцами продают куриц, которые обычно сидят в тесных клетках. Нужно это потому, что клетки возят на мотобайках, как и всё остальное. Как видите, продавщица в шапке-"вьетнамке". Это вполне обычный деревенский головной убор, а вовсе не сувенир для туристов.</p>
<p><a href="/files/blogengine/IMG_4752.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4752_thumb.jpg" border="0" alt="IMG_4752"  ></a></p>
<p>Тяжело крутить в гору, очень даже</p>
<p>&nbsp;<a href="/files/blogengine/IMG_4754.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4754_thumb.jpg" border="0" alt="IMG_4754"  ></a></p>
<p>Соцреализм</p>
<p><a href="/files/blogengine/IMG_4755.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4755_thumb.jpg" border="0" alt="IMG_4755"  ></a></p>
<p>Везде ручьи, камни, зелень. Красиво очень.</p>
<p><a href="/files/blogengine/IMG_4756.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4756_thumb.jpg" border="0" alt="IMG_4756"  ></a></p>
<p>Не выдержали в первый день гористости</p>
<p>Когда мы проехали около 15 км (судя по моему GPS, хотя товарищи говорят, что 20), мимо нас проехал полурейсовый бусик Лао Кай - Сапа. Парень и девушка внутри не спеша ждали, пока мы решим, достаточно мы на сегодня намучались на горных дорогах, и хотим ли доехать с комфортом.</p>
<p>Если бы знать, как дело повернётся дальше, можно было бы не поддаваться на провокацию предать туристические идеалы, но тут я решил, что мне главное Вьетнам посмотреть, а не свои силы и скиллы по форсированию подъёмов показать, поэтому вполне согласился с товарищами ехать в Сапу бусиком. Взяли с нас около 10 долларов за троих, но только потому, что автобус и так ехал в Сапу.</p>
<p><a href="/files/blogengine/IMG_4757.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4757_thumb.jpg" border="0" alt="IMG_4757"  ></a>&nbsp;</p>
<p>Велосумка Анны</p>
<p>На мой взгяд, конструкция не очень. Сумка громоздая, на велике (по крайней мере Анином) сидит неуверенно, тащить тяжело, отстёгивать и пристёгивать занимает время. Сшита сумка по схеме сумок от компании Пик-99 (вроде), но вышла похуже, без полезных нюансов.</p>
<p>Классические для велопутешественников водонепроницаемые сумки Ortlieb, которыми пользовались я и Интар (и которые я купил непосредственно перед поездкой, о чём совсем не жалею), мне кажутся удобнее.</p>
<p><a href="/files/blogengine/IMG_4759.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4759_thumb.jpg" border="0" alt="IMG_4759"  ></a>&nbsp;</p>
<p>Все три велика поместились</p>
<p>А вот влезло ли больше&nbsp; трёх - уже вопрос. Так что тут нам повезло, три всегда удавалось везде запихать.</p>
<p><a href="/files/blogengine/IMG_4760.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4760_thumb.jpg" border="0" alt="IMG_4760"  ></a></p>
<p>Террасы тянутся и тянутся</p>
<p>&nbsp;<a href="/files/blogengine/IMG_4762.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4762_thumb.jpg" border="0" alt="IMG_4762"  ></a></p>
<p>И у подножия тоже они</p>
<p><a href="/files/blogengine/IMG_4763.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4763_thumb.jpg" border="0" alt="IMG_4763"  ></a></p>
<p>Виды</p>
<p>&nbsp;<a href="/files/blogengine/IMG_4766.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4766_thumb.jpg" border="0" alt="IMG_4766"  ></a></p>
<p>Пастораль, хехе</p>
<p>Тут наши перевозчики специально остановились, и предложили сделать фото. Мол, очень красиво. И не поспоришь ведь.</p>
<p>&nbsp;<a href="/files/blogengine/IMG_4768.jpg"><img style="border: 0px;" data-src="/files/blogengine/IMG_4768_thumb.jpg" border="0" alt="IMG_4768"  ></a></p><p><a href="/post/2011-06-23%20%D0%92%D1%8C%D0%B5%D1%82%D0%BD%D0%B0%D0%BC%20-%2021%2C%20%D0%B7%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: -webkit-center; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p>
	