Id: f430d209-d2cd-48a7-9004-0d8c06d6e57b
Title: "Крым — 1,  Алимова Балка"
Published: "2011-12-06"
Slug: "2011-12-06 Крым — 1,  Алимова Балка"
-
<p>Приехали мы в окрестности города Бахчисарай.</p>
<p>Первым делом выгрузили двух пассажиров, чтобы лишнее место не занимали. Выгрузили их в Алимовой Балке. Всё, что могу про неё сказать, вот эта <a href="http://astrotourist.info/alimova-balka">цитата</a></p>
<p style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;">Название балки, по-видимому, связано с разбойником Алимом. Согласно сохранившимся документам, разбойник был арестован и сослан на каторгу в 1850м году. Что интересно, его именем названо множество всяких укромных местечек в самых разных концах Крыма. Это наводит на определенные размышления: либо было несколько Алимов, живших в разное время, либо люди называли его именем все подряд потайные места из-за того, что не знали точно где было его обиталище. Прямо по поговорке "Слышу звон, но не знаю откуда он".</p>
<p>Что касается пассажиров, их метод передвижения не предусматривал велосипеды, а скорее перестановку ног в разном порядке, и рюкзак за спиной, потому мы их и отправили.</p>
<p><a href="/files/blogengine/DSCF0009.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0009_thumb.jpg" border="0" alt="DSCF0009"  ></a></p>
<p>Ольга</p>
<p>[more]</p>
<p><a href="/files/blogengine/DSCF0011.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0011_thumb.jpg" border="0" alt="DSCF0011"  ></a></p>
<p>Оля и Женя, хайкеры</p>
<p><a href="/files/blogengine/DSCF0012.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0012_thumb.jpg" border="0" alt="DSCF0012"  ></a></p>
<p>Встретимся только через несколько дней</p>
<p><a href="/files/blogengine/DSCF0001.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0001_thumb.jpg" border="0" alt="DSCF0001"  ></a></p>
<p>Паша собирает грецкие орехи</p>
<p>Паша - наш водитель и по совместительству промышленный альпинист (без шуток).&nbsp; Как увидел дерево, сразу на него полез, по привычке. А там - орехи!</p>
<p><a href="/files/blogengine/DSCF0010.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0010_thumb.jpg" border="0" alt="DSCF0010"  ></a></p>
<p>Орехи зеленоваты, но есть при желании можно</p>
<p><a href="/files/blogengine/DSCF0003.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0003_thumb.jpg" border="0" alt="DSCF0003"  ></a></p>
<p>Так оно примерно всё выглядит</p>
<p><a href="/files/blogengine/DSCF0004.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0004_thumb.jpg" border="0" alt="DSCF0004"  ></a></p>
<p>Если вы видите более-менее художественную фотографию высокого качества - автор скорее всего <a title="http://voljushka.livejournal.com" href="http://voljushka.livejournal.com">http://voljushka.livejournal.com</a></p>
<p><a href="/files/blogengine/DSCF0006.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0006_thumb.jpg" border="0" alt="DSCF0006"  ></a></p>
<p>Мы же в порыве энтузиазма полезли на Алимову Балку</p>
<p><a href="/files/blogengine/DSCF0008.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0008_thumb.jpg" border="0" alt="DSCF0008"  ></a>&nbsp;</p>
<p>Пашу хлебом не корми, дай куда-нибудь залезть</p>
<p><a href="/files/blogengine/DSCF0013.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0013_thumb.jpg" border="0" alt="DSCF0013"  ></a></p>
<p>Живописно-разноцветно</p>
<p><a href="/files/blogengine/DSCF0015.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0015_thumb.jpg" border="0" alt="DSCF0015"  ></a></p>
<p>А с кручёными бегунками адобе лайтрума - так вообще психоделия</p>
<p><a href="/files/blogengine/DSCF0017.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0017_thumb.jpg" border="0" alt="DSCF0017"  ></a>&nbsp;</p>
<p><a href="/files/blogengine/DSCF0019.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0019_thumb.jpg" border="0" alt="DSCF0019"  ></a></p>
<p>Дорога наверх вымощена шинами</p>
<p><a href="/files/blogengine/DSCF0021.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0021_thumb.jpg" border="0" alt="DSCF0021"  ></a></p>
<p>На середине пути - скит, то есть монашеское поселение</p>
<p><a href="/files/blogengine/DSCF0020.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0020_thumb.jpg" border="0" alt="DSCF0020"  ></a></p>
<p>Есть и источник +5 к жизни</p>
<p><a href="/files/blogengine/DSCF0022.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0022_thumb.jpg" border="0" alt="DSCF0022"  ></a></p>
<p>Идём по дороге из <span style="text-decoration: line-through;">жёлтого кирпича</span> белого известняка</p>
<p><a href="/files/blogengine/DSCF0023.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0023_thumb.jpg" border="0" alt="DSCF0023"  ></a></p>
<p>И просто земляной</p>
<p><a href="/files/blogengine/DSCF0031.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0031_thumb.jpg" border="0" alt="DSCF0031"  ></a></p>
<p>Это не к месту, но познавательно. Одни сакральные сооружения кругом</p>
<p><a href="/files/blogengine/DSCF0032.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0032_thumb.jpg" border="0" alt="DSCF0032"  ></a>&nbsp;</p>
<p>Пропасть! И Я</p>
<p><a href="/files/blogengine/DSCF0033.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0033_thumb.jpg" border="0" alt="DSCF0033"  ></a></p>
<p>Ещё пропасть! И Андрей</p>
<p><a href="/files/blogengine/DSCF0034.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0034_thumb.jpg" border="0" alt="DSCF0034"  ></a></p>
<p>Опять пропасть! И Валера</p>
<p><a href="/files/blogengine/DSCF0036.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0036_thumb.jpg" border="0" alt="DSCF0036"  ></a>&nbsp;</p>
<p>Внезапно - макросъёмка</p>
<p><a href="/files/blogengine/DSCF0037.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0037_thumb.jpg" border="0" alt="DSCF0037"  ></a></p>
<p>Оля <img style="padding-right: 1px; vertical-align: bottom; border: 0px;" data-src="/files/lj/userinfo.gif" alt="[info]"  > <a href="http://voljushka.livejournal.com">voljushka</a>- сразу видно, хореограф: идёт танцуя</p>
<p>&nbsp;<a href="/files/blogengine/DSCF0041.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0041_thumb.jpg" border="0" alt="DSCF0041"  ></a></p>
<p>Паша и земля-матушка</p>
<p><a href="/files/blogengine/DSCF0043.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0043_thumb.jpg" border="0" alt="DSCF0043"  ></a></p>
<p>Дуэль</p>
<p><a href="/files/blogengine/DSCF0044.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0044_thumb.jpg" border="0" alt="DSCF0044"  ></a>&nbsp;</p>
<p>Оля и язык</p>
<p><a href="/files/blogengine/DSCF0024.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0024_thumb.jpg" border="0" alt="DSCF0024"  ></a></p>
<p>Серъёзные пацан изучают обрыв</p>
<p>&nbsp;<a href="/files/blogengine/DSCF0025.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0025_thumb.jpg" border="0" alt="DSCF0025"  ></a>&nbsp;</p>
<p>На фото это выглядит даже интереснее, чем в жизни</p>
<p><a href="/files/blogengine/DSCF0026.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0026_thumb.jpg" border="0" alt="DSCF0026"  ></a>&nbsp;</p>
<p>Природа скромная, но мы рады</p>
<p><a href="/files/blogengine/DSCF0029.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0029_thumb.jpg" border="0" alt="DSCF0029"  ></a></p>
<p>Гамма серо-буро-зелёная&nbsp;</p>
<p><a href="/files/blogengine/DSCF0040.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0040_thumb.jpg" border="0" alt="DSCF0040"  ></a></p>
<blockquote>
<p>Пользём-пользём к краишку</p>
<p><a href="/files/blogengine/DSCF0038.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0038_thumb.jpg" border="0" alt="DSCF0038"  ></a>&nbsp;</p>
<p>Камень и жизнь</p>
<p><a href="/files/blogengine/DSCF0039.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0039_thumb.jpg" border="0" alt="DSCF0039"  ></a></p>
<p>Текстурка вполне себе насыщенная</p>
<p><a href="/files/blogengine/DSCF0042.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0042_thumb.jpg" border="0" alt="DSCF0042"  ></a></p>
<p>И ещё одна</p>
<p><a href="/files/blogengine/DSCF0045.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0045_thumb.jpg" border="0" alt="DSCF0045"  ></a></p>
</blockquote>
<p>Можжевельник!</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/DSCF0027.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0027_thumb.jpg" border="0" alt="DSCF0027"  ></a>&nbsp;</p>
<p>Паша, Нина, Валера, Оля</p>
<p><a href="/files/blogengine/DSCF0030.jpg"><img style="border-width: 0px;" data-src="/files/blogengine/DSCF0030_thumb.jpg" border="0" alt="DSCF0030"  ></a></p>
<p>Валера, Владимир, Я (Влад), Оля, Паша</p>
<p>Снимает Андрей. Вот и все участники. Алимова Балка особых эмоций у нас не вызвала, но зато начало путешествию было положено. В следующей серии - отправляемся в сам город Бахчисарай.</p><p><a href="/post/2012-01-27%20%D0%9A%D1%80%D1%8B%D0%BC%20%2C%20%D1%81%D0%BE%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D0%BD%D0%B8%D0%B5" target="_blank">К оглавлению</a></p>
	