Id: 2ad42a76-99db-425d-b171-e7d8f196f4d4
Title: "Итоги года, чо"
Published: "2011-01-02"
Slug: "2011-01-02 Итоги года, чо"
-
<a href="/files/blogengine/63592_700_v1.jpg"><img style="border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px" border="0" alt="63592_700_v1" data-src="/files/blogengine/63592_700_v1_thumb.jpg"  ></a>
	