Id: 598d1864-7159-4e03-a894-d8cdac6b1f7d
Title: "Экскурсия в Вильнюс"
Published: "2011-03-06"
Slug: "2011-03-06 Экскурсия в Вильнюс"
-
<p>Ездили вчера в Вильнюс, всего лишь за 12 лс, с фирмой <a href="http://www.mari.lv">Mari</a>. Очень всё понравилось. Гид неплохой, посмотрели огромную и достаточно интересную ярмарку <a href="http://www.privet-litva.ru/168/events-ru/kazyukas-ru.html">Kaziukas</a>, где огромные толпы ремесленников продают свои (и фабричные, как без этого) поделки, хлеб, мясо. Для подпитки сил народа подают горячее пиво и закуски, можно и просто в общепит зайти, благо в Вильнюсе огромный старый город, вполне туристический.</p>
<p>Ещё посмотрели традицонные холм и башню Гидеминаса, а также забрались на холм, где установлены кресты в честь утопленных францисканцев (рядом). То, что холмы высокие, и забраться было не так просто, радует, но лучше бы они были раза в 3 выше, было бы ещё интереснее.</p>
<p>После поехали в торговый центр Akropolis, там посидели в аналоге <a href="http://lido.lv/">Lido</a> под названием <a href="http://Delano.lt">Delano</a>. Еда вкусная, цены умеренные.</p>
<p>Впечатления от поездки просто шикарные, особенно от европейского подхода к повседневному дизайну (по Лебедеву). Примеры ниже.</p>
<p>Так, на парковке у Акрополиса вместе с цифрами на знаках зон изображены животные.</p>
<p>В магазине компьютерных товаров на всю стену наклеены детские рисунки.</p>
<p>В книжном магазине есть длинная скамейка, куда накиданы подушки, чтобы можно было спокойно посидеть и полистать книгу.</p>
<p>В башне Гидеминаса поручни на винтовой лестнице не только слева вдоль стены, но и вертикально справа, что сильно облегчает подъём и спуск.</p>
<p>Над шоссе также один раз видел дорожное электронное табло, у нас таких нет (или мало?).</p>
<p>Биотуалеты делятся на мужские и женские, раньше такого не видел. В мужской не попал, чем отличается не скажу.</p>
<p>Вдоль реки Вилия есть невероятной крутости скульптура, в виде трубы, выходящей из почвы и тут же обратно погружающейся в неё. Неплохая фигура в виде стальных лент также прикреплена под мостом.</p>
<p>Ремесленники, которые продают претцели и бублики, крепят на своих палатках огромные экземпляры своих изделий, размера просто чудовищного (около метра в длину).</p>
<p>Сам Вильнюс тоже прекрасен, расположен на холмах, небоскрёбы красивые, своеобразные миниатюрные копии настоящих небоскрёбов Лондона, или там Чикаго.</p>
<p>Как курьёз ещё можно привести факт, что нам в таверне принесли меню на литовском, но когда смешливая официантка поняла, что сами мы не местные, притащила по нашей просьбе то же самое на русском. Это нам помогло выбрать, но совершенно не помогло ей запомнить, чего мы хотим, потому что она не могла прочесть и не могла запомнить названия блюд на русском на русском, вместо этого ужасалась сложности слов и смеялась. В итоге, правда, принесла правильно все заказы, кроме чая с шиповником мне. (Получил как все, каркаде с фруктами). Ел я запечённые в винном соусе пельмени, неплохо, но не супер.</p>
<p>Учитывая впрочем, что цены в Литве часто слегка ниже Рижских, лучше и желать нечего. Уважение к литовцам у меня ещё возросло (как вы помните, в <a href="/post/2010-07-21%20%D0%92%D0%B5%D0%BB%D0%BE%D0%BF%D0%BE%D1%85%D0%BE%D0%B4%20%D0%B2%20%D0%97%D0%B0%D1%80%D0%B0%D1%81%D0%B0%D0%B9">прошлую мою поездку</a> в Литву мне тоже понравилось). Конечно, немалую роль сыграла хорошая компания и солнечная тёплая погода, но тем не менее.</p>
<p>Итоги: с фирмой Мари поедем ещё, обещали море тюльпанов и сиреневый сад в 10 Га - нюхать не перенюхать.</p>
	