Id: 7bd1d588-a34e-448c-bfbc-1d78bcfd0381
Title: "Похудание"
Published: "2011-07-24"
Slug: "2011-07-24 Похудание"
-
<p>Наконец разобрал шкаф, выкинул 90% одежды. Похудание имеет и минусы, хаха.</p> <p>Закупать новую буду после достижения мегацели в 80 кг, лучше даже 77.</p> <p>Сколько сейчас, не скажу, но цель близка.</p>
	