Id: 765345a1-124b-4175-8a31-a66e1ac30b1a
Title: "Wii Fit"
Published: "2011-03-07"
Slug: "2011-03-07 Wii Fit"
-
<p>Поставил Wii Fit Plus PAL (т.е. европейскую версию) вместо Wii Fit NTSC (американской). Мало того, что голос тётке-тренеру сменили на королевский английский, и теперь она говорит, как старуха, так ещё и фразы многие переделали. Так, раньше она тебя подбадривала "You're doing great!", а теперь уныло "You're doing fine!". Для меня звучит, как будто градус похвалы ослабел, хотя на самом деле это всего лишь культурный контекст сменился. Для меня "fine" в английском скорее означает "нормально", чем "прекрасно", потому что я американизирован.</p> <p>Зато добавили много новых (и адски сложных) упражнений, что радует.</p>
	