Id: 1d12c5df-0b5f-483b-ac7b-2939f4272b6c
Title: "В США учительница призналась в сексуальных контактах с учениками: 5 жертв"
Published: "2012-11-04"
Slug: "2012-11-04 В США учительница призналась в сексуальных контактах с учениками_ 5 жертв"
-
<p>Почему же насилие, если двое детей и женились потом? Загадка.<br/><br/><a href='http://www.newsru.com/crime/07sep2007/allenna_soznalas.html'>http://www.newsru.com/crime/07sep2007/allenna_soznalas.html</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQB4kOpkjmIe9AqL&w=90&h=90&url=http%3A%2F%2Fimage.newsru.com%2Fpict%2Fid%2F988793_20070907125044.gif' />Замужняя развратница подтвердила 3 случая растления подростков, а также призналась в трех половых актах с детьми. Всем пострадавшим мальчикам было 14-15 лет. На суде преподаватель просила прощения у присутствующих, а обвинение потребовало для нее 12 лет тюрьмы.</div>
	