Id: 56fc6d74-587b-4da1-926e-5460e713b384
Title: "Перепост из 1902 года"
Published: "2012-02-10"
Slug: "2012-02-10 Перепост из 1902 года"
-
<p>Умели же раньше излагать мысли красиво!<br/>Ну и вообще, впечатляет.<br/><br/><a href='http://konst-arbenin.livejournal.com/96591.html#cutid1'>http://konst-arbenin.livejournal.com/96591.html#cutid1</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQD1HxkbuunBn_m_&w=90&h=90&url=http%3A%2F%2Fimg.beta.rian.ru%2Fimages%2F15481%2F58%2F154815809.jpg+' style='float:left;'/>Один великий русский блогер написал этот текст 110 лет назад. Я позволю себе сделать перепост - без каких либо комментариев. Кто и кому пишет, - я думаю, все сами …</div>
	