Id: 2b55420f-2c2d-4f5a-803a-5d68544467cb
Title: "Quick update"
Published: "2012-06-24"
Slug: "2012-06-24 Quick update"
-
<p>последняя песня играет, супертусня была<br/><a href='http://www.facebook.com/photo.php?fbid=10150935076357886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150935076357886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-a.ak.fbcdn.net/hphotos-ak-snc6/180256_10150935076357886_1692249433_n.jpg'/>
	