Id: 3ee5e73c-8e6b-4974-b153-d2704860ad97
Title: "Даугавпилс: Отделение Заготовки Крови"
Published: "2012-02-20"
Slug: "2012-02-20 Даугавпилс_ Отделение Заготовки Крови"
-
<p>Вот и я отлил лишней кровищи медицинским учреждениям, в количестве 450+30 миллилитров.<br/>Ништяков и денег надавали целую гору: 4.50 Лс, хлопья, сок и шоколадку.  Сказали приходить почаще: раз в два месяца для мужчин.<br/><br/>Как этот процесс устроен можно почитать у Невгена:<br/><br/><a href='http://nevgen.livejournal.com/11366.html'>http://nevgen.livejournal.com/11366.html</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDQtsN__fr3J8fZ&w=90&h=90&url=http%3A%2F%2Fwww.abtop.net%2Flj%2F2010%2Fasn_21.jpg' style='float:left;'/>Сегодня мы с вами побываем в Даугавпилсском Центре Заготовки Крови. Узнаем кто может стать донором, что для этого надо сделать и как, собственно, происходит …</div>
	