Id: 4aeccf36-3230-4dc1-8cc1-372aa809bc3f
Title: "4x4 GLADIATORIAI 2012"
Published: "2012-09-19"
Slug: "2012-09-19 4x4 GLADIATORIAI 2012"
-
<p>Надо перенимать опыт купания в грязи :-)<br/><a href='http://www.facebook.com/photo.php?fbid=412008012179741&set=a.411998798847329.81470.358481237532419&type=1'>http://www.facebook.com/photo.php?fbid=412008012179741&set=a.411998798847329.81470.358481237532419&type=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-snc7/314228_412008012179741_1001962491_n.jpg' />
	