Id: 82ed926d-54cd-4a72-9a3f-6748d5134ac9
Title: "Quick update"
Published: "2012-03-15"
Slug: "2012-03-15 Quick update"
-
<p>trialcard teambuilding<br/><a href='http://www.facebook.com/photo.php?fbid=10150635503482886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150635503482886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-snc7/424512_10150635503482886_762077885_9481999_1770951404_n.jpg'/>
	