Id: b7e81598-13d0-4a03-8ed2-06af7ac64603
Title: "Quick update"
Published: "2012-09-19"
Slug: "2012-09-19 Quick update"
-
<p>вот так бинитекс однако работает<br/><a href='http://www.facebook.com/photo.php?fbid=10151107115512886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151107115512886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-g.ak.fbcdn.net/hphotos-ak-ash4/402672_10151107115512886_1279090904_n.jpg' />
	