Id: 8faefa3e-4411-4f0f-96fb-bc2e8677fe26
Title: "Actress – R.I.P."
Published: "2012-12-13"
Slug: "2012-12-13 Actress – R.I.P."
-
<p>Шипящая и медленно ползущая вперёд электроника, айдиэм не айдиэм, эмбиент не эмбиент, клик энд катс не клик энд катс, но что-то вроде. Уши растут из разукрашенного прибамбасами и рюшечками минимал техно, википедя советует назвать это микрохаус. Напоминает продукцию Яна Елинека, которая мне тоже весьма по нраву.   <br />Ещё на ум приходит старая причина, почему я люблю электронную музыку: саунд разнообразный, вот что. Невозможно же в каждом треке рок-музыкантов слушать всё те же опостылевшие гитары и барабаны, нередко даже не искажённые примочками, хоть они и исполняют разные риффы и аккорды. С пост-роком ещё готов мириться, там хоть шумы из филд рекордингс вставляют.</p>  <p>8.5/10   <br /></p>  <p><object width="395" height="42" type="application/x-shockwave-flash" data="http://embed.muzebra.com/player"><param name="movie" value="http://embed.muzebra.com/player" /><param name="wmode" value="transparent" /><param name="scale" value="noscale" /> <param name="flashvars" value="id=-20hwy6q15iiz" /></object>    <br /><small>Скачать <a href="http://muzebra.com/l/-20hwy6q15iiz" target="_blank">Actress - Shadow from Tartarus</a>.</small></p>
	