Id: dab0295c-49f1-4283-9c9e-8490bed76864
Title: "Quick update"
Published: "2012-11-10"
Slug: "2012-11-10 Quick update"
-
<p>And so it begins<br/><a href='http://www.facebook.com/photo.php?fbid=10151178795467886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151178795467886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-g.ak.fbcdn.net/hphotos-ak-snc7/395097_10151178795467886_895587493_n.jpg' />
	