Id: faffd92e-9628-4e81-8e56-bfff8f693ed4
Title: "Quick update"
Published: "2012-09-29"
Slug: "2012-09-29 Quick update"
-
<p>Редкие минуты, когда в моем сердце покой - когда еду домой и вижу закат<br/><a href='http://www.facebook.com/photo.php?fbid=10151119346862886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151119346862886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-ash3/644642_10151119346862886_1479350902_n.jpg' />
	