Id: 872ab8eb-ccf7-4821-b61e-0bbb8aeb9726
Title: "Quick update"
Published: "2012-10-20"
Slug: "2012-10-20 Quick update"
-
<p>Экологи мерят деревья-патриархи<br/><a href='http://www.facebook.com/photo.php?fbid=10151148655382886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151148655382886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-f.ak.fbcdn.net/hphotos-ak-snc7/374082_10151148655382886_712141992_n.jpg' />
	