Id: afa5d6d2-ed5e-4753-8ea6-b1913ecfd1a3
Title: "Saturday Morning Breakfast Cereal"
Published: "2012-03-28"
Slug: "2012-03-28 Saturday Morning Breakfast Cereal"
-
<p>Ржал, пока на пол не упал<br/><a href='http://www.smbc-comics.com/?id=2562'>http://www.smbc-comics.com/?id=2562</a></p><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDVtGCUicyNbSxR&w=90&h=90&url=http%3A%2F%2Fwww.smbc-comics.com%2Fcomics%2F20120327.gif' style='float:left;'/>
	