Id: 5864204b-7efb-405e-b209-1f9c8febea78
Title: "??????????????"
Published: "2012-01-24"
Slug: "2012-01-24 ______________"
-
<p>Вижуал студия работает даже на измерителях давления!<br/><a href='http://www.facebook.com/photo.php?fbid=10150521756232886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150521756232886&set=a.10150121112112886.295082.762077885&type=1</a></p>
	