Id: 41abf13b-0713-476c-9fcd-e7e64e6ef8ca
Title: "Quick update"
Published: "2012-09-09"
Slug: "2012-09-09 Quick update"
-
<p>Андрею разьясняют детали искусства<br/><a href='http://www.facebook.com/photo.php?fbid=10151092521892886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151092521892886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-prn1/523574_10151092521892886_1629853198_n.jpg' />
	