Id: e0e59061-eece-49b9-b318-d1655ac98905
Title: "Исландский язык — Википедия"
Published: "2012-02-20"
Slug: "2012-02-20 Исландский язык — Википедия"
-
<p>Красиво исландцы язык создают, изобретательно и свежо. В Израиле, по-моему, то же самое делают.<br/><br/>http://ru.wikipedia.org/wiki/%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA<br/><a href='http://ru.wikipedia.org/wiki/Исландский_язык'>http://ru.wikipedia.org/wiki/Исландский_язык</a></p><div class='clearfix cite'>Что же касается пришлых имен нарицательных, то и они творчески перерабатываются, дабы превратиться в исконно исландское слово, пусть и многокоренное. Например, слово обозначающее «прожектор» (ljóskastari) состоит из двух корней и переводится как «то, что бросает свет», «кино» (kvikmynd) дословно пер...</div>
	