Id: 4015da5d-1df7-4567-81dd-8f846c14f861
Title: "Sita Sings the Blues - FAQ"
Published: "2012-03-05"
Slug: "2012-03-05 Sita Sings the Blues - FAQ"
-
<p>Вот так я тоже считаю!<br/>An artist's responsibility is to be true to her/his own vision.<br/>И ВСЁ<br/>Отсюда<br/><br/><a href='http://www.sitasingstheblues.com/faq.html'>http://www.sitasingstheblues.com/faq.html</a></p><div class='clearfix cite'>A:               Sita Sings the Blues is a musical, animated personal               interpretation of the Indian epic the Ramayana. The               aspect of the story that I focus on is the relationship               between Sita and Rama, who are gods incarnated as human               beings, an...</div>
	