Id: 113c0658-2eea-482d-b588-91ad517377b3
Title: "Saturday Morning Breakfast Cereal"
Published: "2012-03-16"
Slug: "2012-03-16 Saturday Morning Breakfast Cereal"
-
<p>Обожаю SMBC, круче XKCD стал :-)<br/><br/><br/><a href='http://www.smbc-comics.com/index.php?db=comics&id=2551&utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+smbc-comics%2FPvLb+%28Saturday+Morning+Breakfast+Cereal+%28updated+daily%29%29&utm_content=Google+Reader'>http://www.smbc-comics.com/index.php?db=comics&id=2551&utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+smbc-comics%2FPvLb+%28Saturday+Morning+Breakfast+Cereal+%28updated+daily%29%29&utm_content=Google+Reader</a></p><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQBXuGN1M9QJF-k5&w=90&h=90&url=http%3A%2F%2Fwww.smbc-comics.com%2Fimages%2Fvideogamezach.gif' style='float:left;'/>
	