Id: fb77207b-bd46-42a9-94d8-7ea6982f651f
Title: "Wall Photos"
Published: "2012-07-12"
Slug: "2012-07-12 Wall Photos"
-
<p>Чистая правда, всегда чувствую себя мачо когда немного небрит :-)<br/><a href='http://www.facebook.com/photo.php?fbid=376681272386636&set=a.166432883411477.42671.165837320137700&type=1'>http://www.facebook.com/photo.php?fbid=376681272386636&set=a.166432883411477.42671.165837320137700&type=1</a></p><img src='/files/http://photos-a.ak.fbcdn.net/hphotos-ak-ash3/556474_376681272386636_286165664_n.jpg'/>
	