Id: 5cf2c332-69e3-4bab-90cc-afa202ce65ff
Title: "Wall Photos"
Published: "2012-09-21"
Slug: "2012-09-21 Wall Photos"
-
<p>Вот на таких фотках тэги проставлять имеет смысл :-)<br/><a href='http://www.facebook.com/photo.php?fbid=466707203362061&set=a.150976831601768.31264.149892381710213&type=1'>http://www.facebook.com/photo.php?fbid=466707203362061&set=a.150976831601768.31264.149892381710213&type=1</a></p><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-ash3/523742_466707203362061_1765318360_n.jpg' />
	