Id: 8e772524-533a-45fb-818c-5b016000a971
Title: "Patricia Kuhl: The linguistic genius of babies"
Published: "2012-01-31"
Slug: "2012-01-31 Patricia Kuhl_ The linguistic genius of babies"
-
<p>Отличнейший тед толк про то, как младенцы различают речь разных языков. Суть в том, что в этом отношении мозг младенца формируется до года, а потом уже не копит статистику по различению звуков. Есть и другие интересные детали, например то, что нужен живой человек для обучения, ТВ и аудио не годятся.<br/><br/><br/><br/><a href='http://www.ted.com/talks/lang/ru/patricia_kuhl_the_linguistic_genius_of_babies.html'>http://www.ted.com/talks/lang/ru/patricia_kuhl_the_linguistic_genius_of_babies.html</a></p><div style='border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding:10px; display: block; border-top: black 1px solid; border-right: black 1px solid;'>At TEDxRainier, Patricia Kuhl shares astonishing findings about how babies learn one language over another -- by listening to the humans around them and "taking statistics" on the sounds they need to know. Clever lab experiments (and brain scans) show how 6-month-old babies use sophisticated reasoni...</div>
	