Id: 253f8d23-1b05-4655-9cf1-13ea57e1654f
Title: "Quick update"
Published: "2012-06-05"
Slug: "2012-06-05 Quick update"
-
<p>В олимпийском угощают снукеристов<br/><a href='http://www.facebook.com/photo.php?fbid=10150896030347886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150896030347886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-prn1/550837_10150896030347886_810362164_n.jpg'/>
	