Id: 3a950a69-95b7-400f-ac2d-0607c20f1690
Title: "вкратце о п*нюшкине, в ссылках"
Published: "2012-10-15"
Slug: "2012-10-15 вкратце о п_нюшкине, в ссылках"
-
<p>Вот оно как<br/><br/><a href='http://avva.livejournal.com/2496976.html'>http://avva.livejournal.com/2496976.html</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQCE2q5XYncGGu_a&w=90&h=90&url=http%3A%2F%2Fl-userpic.livejournal.com%2F81048954%2F111931+' />С одной стороны, мне нравятся ответы ygam'а на "пятнадцать вопросов атеистам" Панюшкина. С друой стороны, мое отношение к самим вопросам точнее выразил arpad.</div>
	