Id: f70a698f-8183-46b1-8bc6-53bb3f3dbf60
Title: "Quick update"
Published: "2012-07-13"
Slug: "2012-07-13 Quick update"
-
<p>У родителей в саду красота, жаль мне цветы теперь приносят слишком много воспоминаний<br/><a href='http://www.facebook.com/photo.php?fbid=10150975999657886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10150975999657886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-g.ak.fbcdn.net/hphotos-ak-snc6/283624_10150975999657886_623777766_n.jpg'/>
	