Id: bb563fa7-ebaf-4533-b82e-4daef5118dc8
Title: "STIGA TROPHY 2012"
Published: "2012-08-25"
Slug: "2012-08-25 STIGA TROPHY 2012"
-
<p>Даже для Tуристический клуб "Подснежник" это внушает!<br/><a href='http://www.facebook.com/photo.php?fbid=403756189671590&set=a.403751809672028.79479.358481237532419&type=1'>http://www.facebook.com/photo.php?fbid=403756189671590&set=a.403751809672028.79479.358481237532419&type=1</a></p><div class='clearfix cite'><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-ash3/547297_403756189671590_509229631_n.jpg'/>Foto: Egils Grinfelds</div>
	