Id: 3a63e4ad-af55-4de1-acb9-5bf4132f39ef
Title: "Quick update"
Published: "2012-06-29"
Slug: "2012-06-29 Quick update"
-
<p>вот так мы в пятницу вечером работаем<br/><a href='http://www.facebook.com/photo.php?fbid=10150946810897886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10150946810897886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-e.ak.fbcdn.net/hphotos-ak-ash3/575910_10150946810897886_420533925_n.jpg'/>
	