Id: 2b29056e-311e-40c5-b7b4-f44c4342455b
Title: "Любимая песня"
Published: "2012-06-23"
Slug: "2012-06-23 Любимая песня"
-
<p>Самая, наверное, моя любимая песня из всех. Несмотря на всю свою простоту и лёгкость (а может и благодаря ей) даёт нам&#160; прикоснуться к трансцендентности, так сказать.</p>  <p>Композиция из аниме-сериала Ghost In Shell: Stand Alone Complex</p>  <p>Origa Ft Shanti Snyder – Rise</p>  <p>Слушать:    <br />     <br /><a href="/files/t/4009.mp3">Скачать Origa Ft Shanti Snyder – Rise</a></p>
	