Id: 813b4719-0220-41c9-bc55-5013741d59a0
Title: "Грани.Ру: Комсомольцы-богомольцы"
Published: "2012-07-14"
Slug: "2012-07-14 Грани.Ру_ Комсомольцы-богомольцы"
-
<p>"Кто не любит быть в лесу<br/>И не любит запах трав<br/>Тому дам я по лицу<br/>И скажу, что он не прав".<br/><br/><a href='http://www.grani.ru/Culture/essay/rubinstein/m.199009.html'>http://www.grani.ru/Culture/essay/rubinstein/m.199009.html</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQC5Xqbltq27q8vT&w=90&h=90&url=http%3A%2F%2Fgrani.ru%2Ffiles%2Fsmall%2F37438.jpg' style='float:left;'/>Недавно точно такие же люди были комсомольцами-безбожниками. Сегодня они комсомольцы-богомольцы. Их элементарные нравственные представления сбиты настолько, что всего лишь неканоническое поведение в храме воспринимается ими как страшное преступление, а вот, скажем, удар по лицу женщины - как дело вп...</div>
	