Id: c1d2de19-4375-4de4-b638-a89d7aa38501
Title: "Quick update"
Published: "2012-09-04"
Slug: "2012-09-04 Quick update"
-
<p>топ-менеджер Виталик тимбилдит коллектив пиццей<br/><a href='http://www.facebook.com/photo.php?fbid=10151086180132886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151086180132886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-ash3/563115_10151086180132886_2065118198_n.jpg'/>
	