Id: 5b4b0bba-02cb-41bc-92d4-96e03dacbdc7
Title: "Fast Photos"
Published: "2012-12-14"
Slug: "2012-12-14 Fast Photos"
-
<p>Я когда-то такой за 8 латов покупал, это было целое состояние.<br/><a href='http://www.facebook.com/photo.php?fbid=4193990244890&set=a.3803151434164.2134855.1138701334&type=1'>http://www.facebook.com/photo.php?fbid=4193990244890&set=a.3803151434164.2134855.1138701334&type=1</a></p><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-ash4/480589_4193990244890_1870334363_n.jpg' />
	