Id: 583381e8-2fe5-4f6a-8c61-e39a1118cc5d
Title: "Масленица 2012 в Лауцесе"
Published: "2012-03-01"
Slug: "2012-03-01 Масленица 2012 в Лауцесе"
-
<p>йога!<br/><a href='http://www.facebook.com/photo.php?fbid=10150607423192886&set=a.10150602973677886.401303.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150607423192886&set=a.10150602973677886.401303.762077885&type=1</a></p><img src='/files/http://photos-a.ak.fbcdn.net/hphotos-ak-ash4/428176_10150607423192886_762077885_9386890_1839532088_n.jpg'/>
	