Id: 27252076-1eec-441b-991f-3ddd7dde8e1a
Title: "Научное понятие"
Published: "2012-03-02"
Slug: "2012-03-02 Научное понятие"
-
<p>ОО, читаю и наслаждаюсь. Вот она, рыба моей мечты<br/><br/><a href='http://esquire.ru/ideas/max-tegmark'>http://esquire.ru/ideas/max-tegmark</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQAPUAWz_D6wpQS3&w=90&h=90&url=http%3A%2F%2Fesquire.ru%2Fmedia%2Fblogs%2Fidea%2F75%2Ftegmark-main.png' style='float:left;'/>Физик Макс Тегмарк объясняет, почему стоит менять свои взгляды, нужны ли ученым лоббисты и что такое научный образ жизни.</div>
	