Id: 7d5c84db-8472-40fa-b1fb-dbe71820a03f
Title: "Jauniešu neformālās izglītības centrs"
Published: "2012-11-29"
Slug: "2012-11-29 Jauniešu neformālās izglītības centrs"
-
<p>Культурно проводим время, без бухла и драк!<br/><a href='http://www.facebook.com/photo.php?fbid=319855861465538&set=a.319855804798877.70420.278605802257211&type=1'>http://www.facebook.com/photo.php?fbid=319855861465538&set=a.319855804798877.70420.278605802257211&type=1</a></p><img src='/files/http://photos-e.ak.fbcdn.net/hphotos-ak-snc6/224171_319855861465538_595128277_n.jpg' />
	