Id: 74a54cb6-44f2-4ea7-8f07-98eeee584da9
Title: "Quick update"
Published: "2012-12-05"
Slug: "2012-12-05 Quick update"
-
<p>смотрели за звездами<br/><a href='http://www.facebook.com/photo.php?fbid=10151211759562886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151211759562886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-snc6/270107_10151211759562886_738218664_n.jpg' />
	