Id: 6e0b7d9a-a528-476f-9894-1d3c6e535d4a
Title: "Quick update"
Published: "2012-12-03"
Slug: "2012-12-03 Quick update"
-
<p>Ксавье - пилот воздушных шаров, едет в Пермь<br/><a href='http://www.facebook.com/photo.php?fbid=10151209521772886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151209521772886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-ash4/403101_10151209521772886_1258490491_n.jpg' />
	