Id: 85339900-34d5-4d3e-a8cb-db949710cf7e
Title: "Quick update"
Published: "2012-03-19"
Slug: "2012-03-19 Quick update"
-
<p>Бинитекс хавает<br/><a href='http://www.facebook.com/photo.php?fbid=10150643492542886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150643492542886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-ash4/394880_10150643492542886_762077885_9514065_267823107_n.jpg'/>
	