Id: cdc00d08-b83f-4c19-aba2-732533a632df
Title: "В ближайшие годы Норвегию ждут серьезные финансовые трудности"
Published: "2012-03-18"
Slug: "2012-03-18 В ближайшие годы Норвегию ждут серьезные финансовые трудности"
-
<p>Ёптыть, мир близок к апокалипсису<br/><br/><br/><a href='http://biznes.delfi.lv/finances/v-blizhajshie-gody-norvegiyu-zhdut-sereznye-finansovye-trudnosti.d?id=42215324'>http://biznes.delfi.lv/finances/v-blizhajshie-gody-norvegiyu-zhdut-sereznye-finansovye-trudnosti.d?id=42215324</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQCjcaTwUMXODXGV&w=90&h=90&url=http%3A%2F%2Fg2.delfi.lv%2Fimages%2Fpix%2Ffile39719147_e455aaf8.jpg' style='float:left;'/>Глава инвестиционного отдела Danske Capital Мяртен Кресс пишет в блоге Finantsvaade, что, по мнению участников рынка, с большой вероятностью в течение последующих пяти лет Норвегия столкнется с денежными затруднениями.</div>
	