Id: 0cafa41e-5648-4215-97cf-ca676a431c67
Title: "Quick update"
Published: "2012-09-11"
Slug: "2012-09-11 Quick update"
-
<p>гостья из австралии<br/><a href='http://www.facebook.com/photo.php?fbid=10151095748577886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151095748577886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-g.ak.fbcdn.net/hphotos-ak-ash4/486683_10151095748577886_621475229_n.jpg' />
	