Id: bca8fa16-2df8-49ef-b92f-23111fad3339
Title: "Lenta.ru: Кино: Продюсеры объявили о закрытии сериала \"Доктор Хаус\""
Published: "2012-02-09"
Slug: "2012-02-09 Lenta.ru_ Кино_ Продюсеры объявили о закрытии сериала _Доктор Хаус_"
-
<p>Достойно ушли, хотя могли бы и чуть раньше<br/><br/><a href='http://lenta.ru/news/2012/02/09/close/'>http://lenta.ru/news/2012/02/09/close/</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDQ-xeszZQJpQD6&w=90&h=90&url=http%3A%2F%2Fimg.lenta.ru%2Fnews%2F2012%2F02%2F09%2Fclose%2Fpicture.jpg' style='float:left;'/>Заключительный, 175-й, эпизод сериала Доктор Хаус выйдет в апреле 2012 года. Продюсеры шоу заявили, что приняли решение закрыть его после окончания восьмого сезона. Популярность сериала, который демонстрируется на американском канале Fox с 2004 года, в последние годы заметно снизилась.</div>
	