Id: ef2ca764-baad-4b3d-9b9c-b534682b98a0
Title: "15 мая 2012 г."
Published: "2012-05-16"
Slug: "2012-05-16 15 мая 2012 г."
-
<p>Однако скалолазание синхронно стало популярным в разных местах Латвии :-)<br/><a href='http://www.facebook.com/photo.php?fbid=461331570550646&set=a.461331503883986.122707.100000214213874&type=1'>http://www.facebook.com/photo.php?fbid=461331570550646&set=a.461331503883986.122707.100000214213874&type=1</a></p><div class='clearfix cite'><img src='/files/http://photos-f.ak.fbcdn.net/hphotos-ak-ash3/562445_461331570550646_100000214213874_1978011_612142594_n.jpg'/>Тихим солнечным вечером небольшой выезд на природу. ВНЕЗАПНО предложили полазить по стене, несмотря на отсутствие опыта,пришлось согласиться. Вечер плавно перешёл в ночь у костра, были зажарены и съедены купаты и шашлыки и блюдо дня - тирамису от Наташи, которая до сих пор под впечтлением от поездки в Италию.</div>
	