Id: a5071fa5-4cbc-4440-81c3-0659adadd133
Title: "Wall Photos"
Published: "2012-09-29"
Slug: "2012-09-29 Wall Photos"
-
<p>Квинтессенция нью-эйджа. Буддизм, The Power Of Now и миллион других книг скажут то же другими словами. И всегда слова туманны, и смысл их  в районе "если не париться и не думать много мыслей, а смотреть внимательно по сторонам или  делать текущее дело  - тебе будет хорошо". Кто спорит.<br/><a href='http://www.facebook.com/photo.php?fbid=428693430500011&set=a.166996683336355.26889.100000780723708&type=1'>http://www.facebook.com/photo.php?fbid=428693430500011&set=a.166996683336355.26889.100000780723708&type=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-prn1/550618_428693430500011_1413458048_n.jpg' />
	