Id: 5f718aca-ad7b-4aa1-957c-0662699c8495
Title: "Gay Day. Как тракторист полюбил тракториста"
Published: "2012-09-20"
Slug: "2012-09-20 Gay Day. Как тракторист полюбил тракториста"
-
<p>охохохо<br/><a href='http://www.colta.ru/docs/5828'>http://www.colta.ru/docs/5828</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDJW9ZqkZVM2OpD&w=90&h=90&url=http%3A%2F%2Fwww.colta.ru%2Fwp-content%2Fuploads%2F2017%2F09%2Fb11.jpg' />В глухой белорусской деревне в Ошмянском районе Гродненской области счастливо живут семьей два гея-механизатора. Их историю записала АЛЕНА СОЙКО </div>
	