Id: dfc9b1b5-fe86-4850-84ef-0599b18b483a
Title: "Quick update"
Published: "2012-09-15"
Slug: "2012-09-15 Quick update"
-
<p>зашел в кубус, такое ощущение, что цветные джинсы покупают только рахитики, все  slim<br/><a href='http://www.facebook.com/photo.php?fbid=10151101757132886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151101757132886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-ash3/561962_10151101757132886_23234117_n.jpg' />
	