Id: 072ad12c-6eab-438e-9418-b3ec48749b51
Title: "Quick update"
Published: "2012-10-27"
Slug: "2012-10-27 Quick update"
-
<p>Эдвин Каренин<br/><a href='http://www.facebook.com/photo.php?fbid=10151158879242886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151158879242886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-g.ak.fbcdn.net/hphotos-ak-ash3/554261_10151158879242886_56509537_n.jpg' />
	