Id: 47a15d2b-57fa-4a7d-ad71-c3eb92288e59
Title: "Quick update"
Published: "2012-04-09"
Slug: "2012-04-09 Quick update"
-
<p>Вова и бобёр<br/><a href='http://www.facebook.com/photo.php?fbid=10150684777402886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150684777402886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-ash3/550233_10150684777402886_762077885_9662171_1549210839_n.jpg'/>
	