Id: 7b51d1c3-636f-46f7-95e9-4c8004e54e84
Title: "Лицемерие буддистов. Разоблачения видео"
Published: "2012-09-25"
Slug: "2012-09-25 Лицемерие буддистов. Разоблачения видео"
-
<p>К вопросу о буддистах<br/><br/><a href='http://www.youtube.com/watch?v=XACxTRsv9w0'>http://www.youtube.com/watch?v=XACxTRsv9w0</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQB-R1WklbrM3TfU&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FXACxTRsv9w0%2Fmqdefault.jpg' />Радио "Молчание"</div>
	