Id: 32205792-a147-44e8-b5f7-3c6412ee9eef
Title: "Цитата #415723"
Published: "2012-02-21"
Slug: "2012-02-21 Цитата _415723"
-
<p>Почти про меня, только я на выходных хожу в походы<br/><a href='http://bash.org.ru/quote/415723'>http://bash.org.ru/quote/415723</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQCUNj9kU4WfVcjV&w=90&h=90&url=http%3A%2F%2Fs.bash.org.ru%2Fimg%2Furl-fb.gif' style='float:left;'/>Всегда ценила в мужчинах кристальную честность:  Сергей: Я очень хочу тебя увидеть, просто у меня сейчас совсем нет времени: я работаю допоздна, а на выходных я тусуюсь.</div>
	