Id: 3fa8bcf6-10bd-40d3-bb3e-20982c8796b1
Title: "Пермь. Простое и сложное :: Частный Корреспондент"
Published: "2012-06-27"
Slug: "2012-06-27 Пермь. Простое и сложное __ Частный Корреспондент"
-
<p>Ударим культурой по простоте! Подпишусь под каждым словом, поэтому всем надо ехать на Dabas koncertzāle 2012<br/><br/><a href='http://www.chaskor.ru/article/perm_prostoe_i_slozhnoe_28604'>http://www.chaskor.ru/article/perm_prostoe_i_slozhnoe_28604</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQCIeJTdfXvjgVEO&w=90&h=90&url=http%3A%2F%2Fwww.chaskor.ru%2Fposts_images_201206%2F392_300_28604_p.jpg' style='float:left;'/>Частный Корреспондент: Пермь. Простое и сложное</div>
	