Id: 776b9467-745c-486a-bfec-20dfbf007414
Title: "Quick update"
Published: "2012-06-17"
Slug: "2012-06-17 Quick update"
-
<p>Награждают победителей<br/><a href='http://www.facebook.com/photo.php?fbid=10150921633312886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150921633312886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-ash4/292281_10150921633312886_284104422_n.jpg'/>
	