Id: 305f3989-7197-4ec3-8ea4-e38e8e2b9501
Title: "Quick update"
Published: "2012-07-20"
Slug: "2012-07-20 Quick update"
-
<p>Вчера заехали в пещеры, там люди еще жили в начале прошлого века<br/><a href='http://www.facebook.com/photo.php?fbid=10150992037917886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10150992037917886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-f.ak.fbcdn.net/hphotos-ak-ash4/377751_10150992037917886_963378655_n.jpg'/>
	