Id: 50fb49cb-c048-4247-b8b4-0ef6c41bbf59
Title: "Литературная газета, о газете, Сайт \"Литературной газеты\",  Издательский дом \"Литературная газета\",."
Published: "2012-03-01"
Slug: "2012-03-01 Литературная газета, о газете, Сайт _Литературной газеты_,  Издательский дом _Литературна"
-
<p>Знатно разжигает! Коммерческий спорт - зло! И я подпишусь<br/><br/><a href='http://www.lgz.ru/article/16821/'>http://www.lgz.ru/article/16821/</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQBK9952v6Yfl6Qp&w=90&h=90&url=http%3A%2F%2Fwww.lgz.ru%2Fuserfiles%2Fimage%2F30_6332_2011%2F13-3.jpg' style='float:left;'/>Если и есть в мире вид легальной человеческой деятельности, в наибольшей степени противный христианским заповедям, так это коммерческий спорт. Где ещё тебе с младых ногтей будут внушать, что ты самый лучший, самый достойный, самый важный?.. Не возгордись – так гордыня и тщеславие там прут изо всех щ...</div>
	