Id: 1c5559b7-9f14-49b8-a11e-bd0ef2a7b142
Title: "TEDxGlasgow - Gary Wilson - The Great Porn Experiment"
Published: "2012-06-05"
Slug: "2012-06-05 TEDxGlasgow - Gary Wilson - The Great Porn Experiment"
-
<p>Познавательная речь про механизмы привыкания в мозгу с фокусом на любителей <br/>порнографии. Популярно упоминается про дофамин, одного из великих и ужасных правителей наших мозгов.<br/><br/><br/><a href='http://www.youtube.com/watch?annotation_id=annotation_263672&feature=iv&src_vid=zif0_60b3WU&v=wSF82AwSDiU'>http://www.youtube.com/watch?annotation_id=annotation_263672&feature=iv&src_vid=zif0_60b3WU&v=wSF82AwSDiU</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQCM8v2aTjgXt6EG&w=130&h=130&url=http%3A%2F%2Fi4.ytimg.com%2Fvi%2FwSF82AwSDiU%2Fmqdefault.jpg' style='float:left;'/>In response to Philip Zimbardo's "The Demise of Guys?" TED talk, Gary Wilson asks whether our brains evolved to handle the hyperstimulation of today's Intern...</div>
	