Id: 778b60c8-e24d-4636-9954-34083feccbd6
Title: "Wall Photos"
Published: "2012-04-16"
Slug: "2012-04-16 Wall Photos"
-
<p>Неужто нигде не наврали :-)<br/><a href='http://www.facebook.com/photo.php?fbid=135173303219557&set=a.108977109172510.11644.107846889285532&type=1'>http://www.facebook.com/photo.php?fbid=135173303219557&set=a.108977109172510.11644.107846889285532&type=1</a></p><div class='clearfix cite'>Wall Pics</div>
	