Id: e9dcf7d3-8d7a-4d9d-96b9-3a82ae8910e1
Title: "Quick update"
Published: "2012-09-08"
Slug: "2012-09-08 Quick update"
-
<p>А мы уже на Survival Kit<br/><a href='http://www.facebook.com/photo.php?fbid=10151091850437886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151091850437886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-snc7/316728_10151091850437886_965494014_n.jpg' />
	