Id: f22118c9-7181-4c3c-b069-e44934821ae3
Title: "Kis-My-Ft2 Watering KISSMINT CM-SHE!HER!HER"
Published: "2012-03-20"
Slug: "2012-03-20 Kis-My-Ft2 Watering KISSMINT CM-SHE_HER_HER"
-
<p>Японцы это абсолютные инопланетяне. На западе одна леди гага не определилась со своим полом, а тут целый выводок.<br/><br/><a href='http://www.youtube.com/watch?v=ld66Yn3eDTE&feature=youtu.be'>http://www.youtube.com/watch?v=ld66Yn3eDTE&feature=youtu.be</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQAnPK3PtXZIhp3y&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2Fld66Yn3eDTE%2Fhqdefault.jpg' style='float:left;'/>the kis-my-ft2 boys as girls for the new watering kissmint. ps-not my video</div>
	