Id: aae00e6e-1c80-4fa5-aa09-bb5087c594c0
Title: "xkcd: Error Code"
Published: "2012-03-02"
Slug: "2012-03-02 xkcd_ Error Code"
-
<p>Что-то давно xkcd меня не радовало, и вот тут порадовало<br/><br/><a href='http://xkcd.com/1024/'>http://xkcd.com/1024/</a></p><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQC_5yUCVh-UHhmp&w=90&h=90&url=http%3A%2F%2Fimgs.xkcd.com%2Fcomics%2Ferror_code.png' style='float:left;'/>
	