Id: f911c02d-0dad-434c-8cec-c9b8d78b9fdd
Title: "Dying Hipster (feat. Maria Due) /// from  \"Oslo, 31. august EP\""
Published: "2012-10-08"
Slug: "2012-10-08 Dying Hipster _feat. Maria Due_ ___ from  _Oslo, 31. august EP_"
-
<p>Вот так вот она жизнь устроена для скандинавской золотой молодёжи бывает.<br/><a href='http://soundcloud.com/torgny/dying-hipster-feat-maria-due?utm_source=soundcloud&utm_campaign=share&utm_medium=facebook&utm_content=http%3A%2F%2Fsoundcloud.com%2Ftorgny%2Fdying-hipster-feat-maria-due'>http://soundcloud.com/torgny/dying-hipster-feat-maria-due?utm_source=soundcloud&utm_campaign=share&utm_medium=facebook&utm_content=http%3A%2F%2Fsoundcloud.com%2Ftorgny%2Fdying-hipster-feat-maria-due</a></p><div class='clearfix cite'><img src='/files/http://platform.ak.fbcdn.net/www/app_full_proxy.php?app=19507961798&v=1&size=p&cksum=4c341e569525de82d3cf51226184ca3f&src=http%3A%2F%2Fi1.sndcdn.com%2Fartworks-000012930345-5r1to7-t300x300.jpg%3F04ad178' />If there is only one it won't be long  And I will find you  If you can bear the pain it won't be long  You will find out about all my secrets  And ...</div>
	