Id: 856d8ed9-4915-4e31-b0ad-70f26eef2be9
Title: "Mobile Uploads"
Published: "2012-08-21"
Slug: "2012-08-21 Mobile Uploads"
-
<p>Охренеть стильно Юрану подарили! (Кто не в курсе, он заслуженный комбайнёр посёлка Свента, а в качестве хобби - программист в Риге)<br/><a href='http://www.facebook.com/photo.php?fbid=2321393531460&set=a.2321393491459.62864.1748243824&type=1'>http://www.facebook.com/photo.php?fbid=2321393531460&set=a.2321393491459.62864.1748243824&type=1</a></p><img src='/files/http://photos-f.ak.fbcdn.net/hphotos-ak-ash3/546513_2321393531460_1187840197_n.jpg'/>
	