Id: d9cb132f-da22-4451-a8b5-f5460e35ea96
Title: "о астрологии"
Published: "2012-01-23"
Slug: "2012-01-23 о астрологии"
-
<p>http://avva.livejournal.com/2403441.html<br/><a href='http://avva.livejournal.com/2403441.html'>http://avva.livejournal.com/2403441.html</a></p><div style='border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding:10px; display: block; border-top: black 1px solid; border-right: black 1px solid;'>Замечательная запись в блоге сайта знакомств OKCupid: о том, насколько хорошо разные расы и религии подходят друг к другу согласно их данным. Особенно показательна …</div>
	