Id: 4f200f29-8321-4077-be7b-41ecbac94c56
Title: "Рига впервые в истории отметила День рождения Шерлока Холмса"
Published: "2012-01-29"
Slug: "2012-01-29 Рига впервые в истории отметила День рождения Шерлока Холмса"
-
<p>Офигенно, чо! Умеют же и у нас делат всякое интересное.<br/><br/><a href='http://rus.delfi.lv/news/daily/latvia/riga-vpervye-v-istorii-otmetila-den-rozhdeniya-sherloka-holmsa.d?id=42088694#!/2611838/foto.delfi.lv'>http://rus.delfi.lv/news/daily/latvia/riga-vpervye-v-istorii-otmetila-den-rozhdeniya-sherloka-holmsa.d?id=42088694#!/2611838/foto.delfi.lv</a></p><div style='border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding:10px; display: block; border-top: black 1px solid; border-right: black 1px solid;'>Впервые в истории любимый персонаж читателей и зрителей всего мира, самый знаменитый сыщик, Шерлок Холмс отметил свой день рождения в Риге. Празднования прошли на месте съемок знаменитой картины Игоря Масленникова Приключения Шерлока Холмса и доктора Ватсона, и мороз в минус 15 градусов оказался не ...</div>
	