Id: aaa877d5-4f87-4b0b-aeb1-4e04b4b42e58
Title: "AlternativeTo"
Published: "2012-01-27"
Slug: "2012-01-27 AlternativeTo"
-
<p>Вот сайт отличный, часто использую, хоть  с гугля захожу. Позволяет найти похожие программы или сайты на те, что уже знаешь или используешь<br/>http://alternativeto.net/<br/><a href='http://alternativeto.net/'>http://alternativeto.net/</a></p><div style='border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding:10px; display: block; border-top: black 1px solid; border-right: black 1px solid;'>AlternativeTo is a new approach to finding good software. Tell us what application you want to replace and we give you great alternatives, based on user recommendations.</div>
	