Id: b682101f-a950-4ef4-98e7-cf6bd8bf288e
Title: "Wall Photos"
Published: "2012-03-29"
Slug: "2012-03-29 Wall Photos"
-
<p>Романтика, ёптель<br/><a href='http://www.facebook.com/photo.php?fbid=388809064476559&set=a.139592266064908.21101.139591282731673&type=1'>http://www.facebook.com/photo.php?fbid=388809064476559&set=a.139592266064908.21101.139591282731673&type=1</a></p>
	