Id: 314a5601-6221-408a-b6b4-2b0abefdc1c0
Title: "ошибка игрока"
Published: "2013-02-11"
Slug: "2013-02-11 ошибка игрока"
-
<p>Для Гарик Крепостной по поводу Мафии.<br/><br/><a href='http://avva.livejournal.com/2558256.html'>http://avva.livejournal.com/2558256.html</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDosK6dMblWHpFL&w=90&h=90&url=http%3A%2F%2Fl-userpic.livejournal.com%2F81048954%2F111931' />Моя любимая когнитивная ошибка в последнее время - Ошибка игрока , она же Gambler's Fallacy . Это ошибка, которая подксказывает нам, что после девяти орлов на десятком …</div>
	