Id: ff528689-fe76-4337-a1b4-0bebcae227fb
Title: "Причиной смерти 1,4% людей в прошлом году стал алкоголизм"
Published: "2013-10-28"
Slug: "2013-10-28 Причиной смерти 1,4_ людей в прошлом году стал алкоголизм"
-
<p>Немного занимательной математики.<br/><br/>От употребления наркотиков в Латвии в 2011 умерло 11 человек, согласно данным отсюда<br/>http://www.emcdda.europa.eu/publications/country-overviews/lv#drd<br/><br/>А вот от алкоголя в том же году умерло 415, сообщает нам портал Дельфи.<br/><a href='http://rus.delfi.lv/news/daily/latvia/prichinoj-smerti-14-lyudej-v-proshlom-godu-stal-alkogolizm.d?id=43762798'>http://rus.delfi.lv/news/daily/latvia/prichinoj-smerti-14-lyudej-v-proshlom-godu-stal-alkogolizm.d?id=43762798</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAdreqHKVyu9XRO&w=154&h=154&url=http%3A%2F%2Fg3.delphi.lv%2Fimages%2Fpix%2F520x360%2F61b03789%2Ffile35046681_e7bf8810.jpg' />От болезней, вызванных злоупотреблением алкоголем, в прошлом году умерло 434 человека, что составляет 1,4% всех смертей, сообщает "Ежегодник латвийского здравоохранения 2012".</div>
	