Id: 276ce8db-4a98-4134-86e2-911a5504aad9
Title: "Екатерина Нарасслабоне"
Published: "2013-04-19"
Slug: "2013-04-19 Екатерина Нарасслабоне"
-
<p>Один из самых интересных людей, что встречались мне на жизненном пути, празднует своё ДР в Bicycle Day. Я очень рад, что ты есть, Катерина!<br/><a href='http://www.facebook.com/photo.php?fbid=10151458107062886&set=a.10150454953582886.379696.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10151458107062886&set=a.10150454953582886.379696.762077885&type=1</a></p><div class='clearfix cite'><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-ash3/72797_10151458107062886_1625891606_n.jpg' />Originally posted on Екатерина's wall</div>
	