Id: 0c6d88d6-b61d-4349-815a-886e68053f51
Title: "Tūrisma klubs \"Sniegpulkstenīte\" 19.09.2013 Велопрогулка \"Эмилия\""
Published: "2013-10-25"
Slug: "2013-10-25 Tūrisma klubs _Sniegpulkstenīte_ 19.09.2013 Велопрогулка _Эмилия_"
-
<p>Краткая биография Эмилии Пляттер в исполнении вашего покорного слуги<br/><a href='http://www.youtube.com/watch?v=QmOsetfbrq0&feature=youtu.be'>http://www.youtube.com/watch?v=QmOsetfbrq0&feature=youtu.be</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQA8-XwmkoAQixKj&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FQmOsetfbrq0%2Fhqdefault.jpg%3Ffeature%3Dog' />Tūrisma klubs "Sniegpulkstenīte" 19.09.2013 Велопрогулка "Эмилия".</div>
	