Id: 13f01117-8de5-4b26-8c3b-cab44a00f876
Title: "Timeline Photos"
Published: "2013-12-25"
Slug: "2013-12-25 Timeline Photos"
-
<p>Для Даугавпилсский Буддийский Центр<br/>Вот и я тоже в моменты слабости!!!<br/><a href='https://www.facebook.com/photo.php?fbid=625009297546543&set=a.240242099356600.60021.116320125082132&type=1'>https://www.facebook.com/photo.php?fbid=625009297546543&set=a.240242099356600.60021.116320125082132&type=1</a></p><img src='/files/https://fbcdn-photos-h-a.akamaihd.net/hphotos-ak-prn1/1538766_625009297546543_786107952_s.png' />
	