Id: be73cdaf-9028-42d6-8b4a-233a7e8c3887
Title: "Quick update"
Published: "2013-12-20"
Slug: "2013-12-20 Quick update"
-
<p>МегаКорпорация Бинитекс желает вам счастливых праздников!<br/><a href='https://www.facebook.com/photo.php?fbid=10151953196422886&set=pcb.10151953197087886&type=1&relevant_count=4'>https://www.facebook.com/photo.php?fbid=10151953196422886&set=pcb.10151953197087886&type=1&relevant_count=4</a></p><img src='/files/https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-ash3/1497577_10151953196422886_1481519151_n.jpg' />
	