Id: cf1250b4-e74e-4c25-8342-f179d0fa98d4
Title: "Herbal Supplements Are Often Not What They Seem"
Published: "2013-11-05"
Slug: "2013-11-05 Herbal Supplements Are Often Not What They Seem"
-
<p>Исследование показало, что во многих случаях "растительные" биодобавки для "лечения" простуды и других проблем не содержат заявленных растений вроде эхинацеи, зверобоя или гинго билоба, вместо них - рис с сорняками. <br/>Удачи всем поклонникам Аюрведы и БАДов.<br/><a href='http://www.nytimes.com/2013/11/05/science/herbal-supplements-are-often-not-what-they-seem.html?ref=science&_r=1'>http://www.nytimes.com/2013/11/05/science/herbal-supplements-are-often-not-what-they-seem.html?ref=science&_r=1</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBb1jEcYRxRHzvy&w=154&h=154&url=http%3A%2F%2Fgraphics8.nytimes.com%2Fimages%2Ficons%2Ft_logo_291_black.png' />A study using DNA testing offers perhaps the most credible evidence to date of adulteration, contamination and mislabeling in the herbal supplement industry.</div>
	