Id: ea4ad090-a079-4663-b2a4-30deec27fed7
Title: "Quick update"
Published: "2013-02-14"
Slug: "2013-02-14 Quick update"
-
<p>С праздником! 
<br/>В этот день в 1946 году была запущена первая универсальная ЭВМ - ENIAC. Считаю, такое дело нельзя оставить без внимания. А вы что подумали?<br/><a href='http://www.facebook.com/photo.php?fbid=10151350774777886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151350774777886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-ash3/529429_10151350774777886_1985482204_n.jpg' />
	