Id: ae1a6870-2f48-4c3b-bcfd-9f5dc1a55549
Title: "Shared from a Personal Document"
Published: "2013-05-16"
Slug: "2013-05-16 Shared from a Personal Document"
-
<p>Великолепно опять, просто, но изящно<br/><a href='http://amzn.com/k/4Nut13SCTB-kF_p1BFDS8w'>http://amzn.com/k/4Nut13SCTB-kF_p1BFDS8w</a></p><div class='clearfix cite'><img src='/files/https://s-platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />Насколько мне подсказывает опыт, эмоции не могут быть выражены одним словом. Я не верю в слова «радость», «печаль» или «сожаление». Возможно, лучшим доказательством патриархальности языка является именно то, что он стремится к упрощению чувств. Я бы хотел иметь в своем распоряжении сложные гибриды, длинные немецкие конструкции типа «ощущение счастья, сопутствующего катастрофе» или «разочарование от занятия любовью с собственной фантазией</div>
	