Id: 77c33b74-fe56-47ed-9312-8eb4fdb74905
Title: "Omar Souleyman - Warni Warni (Official Video)"
Published: "2013-12-26"
Slug: "2013-12-26 Omar Souleyman - Warni Warni _Official Video_"
-
<p>Звуки.ру сообщают, что на смену цыганщине пришла арабщина!<br/>Лайк<br/><a href='http://www.youtube.com/watch?v=lVlgMEFu1PI'>http://www.youtube.com/watch?v=lVlgMEFu1PI</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAaXJTOthn65LeN&w=130&h=130&url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FlVlgMEFu1PI%2Fhqdefault.jpg' />'Warni Warni' is from Omar Souleyman's 'Wenu Wenu' produced by Kieran Hebden (Four Tet). English lyrics translations below. Buy the CD/limited edition vinyl/...</div>
	