Id: 20d33adf-8fdf-4f76-8275-088cd2cd38cb
Title: "http://s.pikabu.ru/post_img/2013/02/22/5/1361510737_1876102822.jpg"
Published: "2013-02-22"
Slug: "2013-02-22 http___s.pikabu.ru_post_img_2013_02_22_5_1361510737_1876102822.jpg"
-
<p>Приятного конца рабочей недели.<br/><br/><br/><a href='http://s.pikabu.ru/post_img/2013/02/22/5/1361510737_1876102822.jpg'>http://s.pikabu.ru/post_img/2013/02/22/5/1361510737_1876102822.jpg</a></p><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQDpZQy7XV-JTkjX&w=90&h=90&url=http%3A%2F%2Fs.pikabu.ru%2Fpost_img%2F2013%2F02%2F22%2F5%2F1361510737_1876102822.jpg' />
	