Id: ce663366-f0fa-4ff7-9cd9-026eada7f017
Title: "Quick update"
Published: "2013-01-18"
Slug: "2013-01-18 Quick update"
-
<p>Латвия - царство мракобесия и образовательной тьмы, а Исландия - наоборот.
<br/>Отсюда:
<br/>http://avva.livejournal.com/2539470.html
<br/>
<br/>На этом графике отмечено, как жители разных стран, согласно опросам в 2005 году, реагировали на следующее утверждение: "Человек, как мы его знаем, произошел от более ранних видов животных" (в оригинале: "Human beings, as we know them, developed from earlier species of animals." Синий цвет - процент тех, кто назвал это верным. Америка на предпоследнем месте, обратите внимание, уступает только Турции.<br/><a href='http://www.facebook.com/photo.php?fbid=10151280542642886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151280542642886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-c.ak.fbcdn.net/hphotos-ak-prn1/528920_10151280542642886_677705336_n.jpg' />
	