Id: bc733c3c-aea1-4c41-bba3-f5135c470400
Title: "Quick update"
Published: "2013-01-16"
Slug: "2013-01-16 Quick update"
-
<p>Очередной этап ритуала поклонения пищевым муляжам.<br/><a href='http://www.facebook.com/photo.php?fbid=10151277738552886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151277738552886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-prn1/46122_10151277738552886_1630523777_n.jpg' />
	