Id: 48291e10-2209-43da-8d3c-97e23eee36cc
Title: "Shared from a Personal Document"
Published: "2013-05-22"
Slug: "2013-05-22 Shared from a Personal Document"
-
<p>dirty hippies :-)<br/><a href='http://amzn.com/k/O0g420oASlOKqSEXusMVkg'>http://amzn.com/k/O0g420oASlOKqSEXusMVkg</a></p><div class='clearfix cite'><img src='/files/https://s-platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />пользоваться дезодорантами. — От тебя воняет! — возмутился я, когда мы с ним вместе смотрели телевизор. Пункт Одиннадцать еле заметно передернул плечами. — Но ведь я человек, — ответил он. — А люди пахнут именно так. — Значит, люди воняют. — Ты тоже считаешь, что я воняю, Мег? — Ни в коем случае, — нюхая его подмышку. — Меня это даже возбуждает.</div>
	