Id: af8f38e4-d95f-4ab7-a168-28a74d905ca5
Title: "Wiktor Kugelevich"
Published: "2013-01-30"
Slug: "2013-01-30 Wiktor Kugelevich"
-
<p>Что нам строит дом построить<br/><a href='http://www.facebook.com/wiktor.kugelevich/posts/405459986208771'>http://www.facebook.com/wiktor.kugelevich/posts/405459986208771</a></p><div class='clearfix cite'><img src='/files/http://profile.ak.fbcdn.net/hprofile-ak-ash4/186365_100002343185379_1114689559_q.jpg' />Пока нет лестницы - дом одноэтажный.  Есть - двухэтажный.  Итак начнем, помучаемся и получаем лестницу (пока без перил и украшений) и знание формул "шага", "безопасности", "удобства", а также что такое косоур, тетива, балясина, подступенек и т.д. А вообще изготовление такой лестницы сложная и даже тяжелая работа - дуб всё-таки ...</div>
	