Id: c42fcbb3-b173-4b20-b1ab-15bf52e931e5
Title: "Quick update"
Published: "2013-11-28"
Slug: "2013-11-28 Quick update"
-
<p>Прздник к нам приходит<br/><a href='https://www.facebook.com/photo.php?v=10151907417767886'>https://www.facebook.com/photo.php?v=10151907417767886</a></p><img src='/files/https://fbcdn-vthumb-a.akamaihd.net/hvthumb-ak-prn2/1095758_10151907418012886_10151907417767886_15524_357_b.jpg' />
	