Id: 0ffa7f0c-a1a5-4c6c-83f6-17b304817d9b
Title: "Израиль – 3, день 2, путь в Ревивим"
Published: "2013-12-26"
Slug: "2013-12-26 Израиль – 3, день 2, путь в Ревивим"
-
<p>&nbsp;</p>
<p>Майк!</p>
<p>Вот человек, который сделал для меня в Израиле больше всего, и который произвёл неизгладимое впечатление своим спокойствием, советами, юмором, знаниями, уверенностью и мудростью.</p>
<p>Но до встречи с ним ещё целый день, день, впрочем, уже освещённый его опытом. И пустыне Негев почти нельзя ездить наобум: там и сям снуют военные;бочка у руин хижины означает тренировочную мишень, и в будни ты можешь попасть под артобстрел. С Майком я законтачил на сайте вписок для веломаньяков <a href="http://warmshowers.org">http://warmshowers.org</a>, он-то мне и рассказал, как добраться до Ревивима в целости и сохранности.</p>
<p>Моя неуёмная, вечно жаждущая жизни и впечатлений натура, заставила меня забежать вперёд, но вот уже мой разум скачет обратно на деление ноль, и день стартует во всём своём тёплом велоколепии.</p>
<p>[more text=”Рыба карась – игра началась!”]</p>
<p>Сначала – веломагазин, единственный, что нашёлся на гугльмэпс. Последние спасали меня не раз и не два, мобильный интернет пригодился по полной!</p>
<p>Интересно, что камеру я купил самоклеящуюся, что обнаружил лишь некоторое время спустя. Майк потом рассказал, что она неплохо работает, и небольшие дырки отлично зарастают сами – магия! Но есть у неё и фатальный недостаток – дыры поприличнее останутся навеки – заклеить их вручную нельзя, зелёная жижа изнутри камеры, что заполняет небольшие отверстия,&nbsp; разъедает клей на заплатках, буде вы пожелаете таковые использовать.</p>
<p>&nbsp;</p>
<p><iframe src="https://www.gpsies.com/mapOnly.do?fileId=uqpxlmzvzhlpaklz" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="600" height="400"></iframe></p>
<p><a href="/files/blogengine/IMG_1711_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin-left: auto; display: block; padding-right: 0px; margin-right: auto; border-width: 0px;" title="IMG_1711" data-src="/files/blogengine/IMG_1711_thumb_1.jpg" alt="IMG_1711"   border="0"></a></p>
<p align="center">Маунтинбайкер оффроад везде найдёт</p>
<p align="center">&nbsp;</p>
<p align="left">По совету Майка я выехал из Беэр Шевы по одной из трёх транспортных артерий, соединяющих север и юг Негев; то есть Бэер Шеву и изнеженный курорт Эйлат. Западная&nbsp; - около Египта, чтобы там ездить, нужно разрешение от вездесущей армии, а восточная – около мёртвого моря, но самая живописная – по центру, её я и избрал.</p>
<p align="left"><a href="/files/blogengine/IMG_1713.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1713" data-src="/files/blogengine/IMG_1713_thumb.jpg" alt="IMG_1713"   border="0"></a></p>
<p align="center">GPS почему-то привёл меня к этим воротам как к достопримечательности. Втыкайте!</p>
<p align="center"><a href="/files/blogengine/IMG_1714_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1714" data-src="/files/blogengine/IMG_1714_thumb_1.jpg" alt="IMG_1714"   border="0"></a></p>
<p align="center">Ничего нет милее душе велосипедиста, чем пыльные грунтовки</p>
<p align="center">&nbsp;</p>
<p><a href="/files/blogengine/IMG_1717.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1717" data-src="/files/blogengine/IMG_1717_thumb.jpg" alt="IMG_1717"   border="0"></a></p>
<p align="center">Армия везде, памятники ей тоже нередки</p>
<p align="left">Местные купцы явно проплатили создателям моего GPS (Sygic для Android), он привёл меня к супермаркету как к достопримечательности. Что же, я не унываю – используем это место как обзорную точку, чтобы показать вам панораму города, который я только что покинул.</p>
<p align="left"><a href="/files/blogengine/IMG_1719_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1719" data-src="/files/blogengine/IMG_1719_thumb_1.jpg" alt="IMG_1719"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/IMG_1721.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1721" data-src="/files/blogengine/IMG_1721_thumb.jpg" alt="IMG_1721"   border="0"></a></p>
<p align="center">Дыры для вентиляции, крыша от солнца, металл – один из видов остановок в Израиле. Табло пока не электронное</p>
<p align="center"><a href="/files/blogengine/IMG_1722.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1722" data-src="/files/blogengine/IMG_1722_thumb.jpg" alt="IMG_1722"   border="0"></a></p>
<p align="center">Велодорожка</p>
<p>Советами Майка немалый кусок я проехал по постепенно строящейся велодороге между Беэр Шевой и Сде Бокером. Интересно, что перекрёстки и Израиле часто имеют названия, связанные с поселениями, которые тут когда-то существовали. На дорожку я свернул около Ohalim. Считаю, практика отличная – всему надо давать красивое имя, для улучшения ориентирования и увеличения культурного многообразия. Для гиков-ботанов можно ещё мелким шрифтом давать универсальный номер, но это, скорее лишнее.</p>
<p><a href="/files/blogengine/IMG_1724_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1724" data-src="/files/blogengine/IMG_1724_thumb_1.jpg" alt="IMG_1724"   border="0"></a></p>
<p align="center">Изредка стоит одно-другое дерево, эдакий мини-оазис</p>
<p align="left">Оазисы меня слегка разочаровали: они такие же бледные и невзрачные, как окружающая действительность (не то, что я жалуюсь на пустыню). Ожидалось как в игре – фонтаны, у которых юные девы в паранджах обмахивают шейхов страусиными веерами, рядом корзины фруктов и караваны верблюдов.</p>
<p align="left"><a href="/files/blogengine/IMG_1757.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1757" data-src="/files/blogengine/IMG_1757_thumb.jpg" alt="IMG_1757"   border="0"></a></p>
<p align="center">Вместо этого великолепия – прозаический пастух со стадом козлов</p>
<p align="center"><a href="/files/blogengine/IMG_1727_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1727" data-src="/files/blogengine/IMG_1727_thumb_1.jpg" alt="IMG_1727"   border="0"></a></p>
<p align="center">Или нефтеперегонный завод/электростанция/другое техноческое сооружение</p>
<p align="center"><a href="/files/blogengine/IMG_1728.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1728" data-src="/files/blogengine/IMG_1728_thumb.jpg" alt="IMG_1728"   border="0"></a></p>
<p align="center">Вокруг жара, ни облачка, температура, пожалуй, градусов 25</p>
<p align="center">&nbsp;</p>
<p align="center">У израильского народа только два друга – ВВС&nbsp; и армия!</p>
<p align="center"><a href="/files/blogengine/IMG_1731.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1731" data-src="/files/blogengine/IMG_1731_thumb.jpg" alt="IMG_1731"   border="0"></a></p>
<p align="center">Первый</p>
<p><a href="/files/blogengine/IMG_1750.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1750" data-src="/files/blogengine/IMG_1750_thumb.jpg" alt="IMG_1750"   border="0"></a></p>
<p align="center">Второй</p>
<p align="center"><a href="/files/blogengine/IMG_1730.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1730" data-src="/files/blogengine/IMG_1730_thumb.jpg" alt="IMG_1730"   border="0"></a></p>
<p align="center">Поэтому надо почтить их честь установкой большого количества железобетонных скульптурных конструкций</p>
<p align="center"><a href="/files/blogengine/IMG_1732.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1732" data-src="/files/blogengine/IMG_1732_thumb.jpg" alt="IMG_1732"   border="0"></a></p>
<p align="center">Этот жуткий монстр набросился на меня прямо посереди дороги, я чуть с велика не свалился</p>
<p><iframe src="//www.youtube.com/embed/XvtasxupjHA" frameborder="0" width="640" height="390"></iframe></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/IMG_1736.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1736" data-src="/files/blogengine/IMG_1736_thumb.jpg" alt="IMG_1736"   border="0"></a></p>
<p align="center">Уже и разметка появилась</p>
<p align="left">Один из секретов успеха израильтян в переделке пустыни в цветущий сад – точечный полив. К каждой из этих пальм подведён отдельный шланг, подводящий нужное количество воды прямо к корням. Пустыня Негев когда-то Израилю не принадлежала, и первые поселенцы имели право создавать только “экспериментальные фермы”. Через некоторое время для окончательного решения еврейского вопроса в Ревивим приехала комиссия ООН. Вместо песка да камней она обнаружила клумбы, фруктовые деревья и довольных жизнью работящих фермеров. Челюсть отвисла, руки сами задвигались, подписывая бумаги, передающие Негев в собственность свежевозникшему государству для продолжения благоприятных процессов.</p>
<p align="left"><a href="/files/blogengine/IMG_1737.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1737" data-src="/files/blogengine/IMG_1737_thumb.jpg" alt="IMG_1737"   border="0"></a></p>
<p align="center">Рощица сделана здешним нефтезаводом, как знак статуса и символ заботы и людях и среде</p>
<p align="center"><a href="/files/blogengine/IMG_1740.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1740" data-src="/files/blogengine/IMG_1740_thumb.jpg" alt="IMG_1740"   border="0"></a></p>
<p align="center">Капельный полив – наше всё</p>
<p align="center"><a href="/files/blogengine/IMG_1744.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1744" data-src="/files/blogengine/IMG_1744_thumb.jpg" alt="IMG_1744"   border="0"></a></p>
<p align="center">Чудесная заправка со столбом для ремонта великов. Цивилизация!</p>
<p align="center"><a href="/files/blogengine/IMG_1745.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1745" data-src="/files/blogengine/IMG_1745_thumb.jpg" alt="IMG_1745"   border="0"></a></p>
<p align="center">В теории должна быть ещё и вода для мытья и питья, но тут накладочка вышла</p>
<p align="center"><a href="/files/blogengine/IMG_1748.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1748" data-src="/files/blogengine/IMG_1748_thumb.jpg" alt="IMG_1748"   border="0"></a></p>
<p align="center">Напиток из гуавы – покупать лучше с закрытыми глазами, чтобы кондратий не хватил от цен</p>
<p align="left">&nbsp;</p>
<p><img style="float: none; margin-left: auto; display: block; margin-right: auto;" src='/files/AFFDC404B7471D93EC299D8F157846B1.jpg'  alt="Гуайява" width="275" height="206"></p>
<p align="center">Сама Гуйява</p>
<p><a href="/files/blogengine/IMG_1759_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1759" data-src="/files/blogengine/IMG_1759_thumb_1.jpg" alt="IMG_1759"   border="0"></a></p>
<p align="center">По совету Майка, свернул на старое шоссе</p>
<p align="center"><a href="/files/blogengine/IMG_1758_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1758" data-src="/files/blogengine/IMG_1758_thumb_1.jpg" alt="IMG_1758"   border="0"></a></p>
<p align="center">Тоннели под автомагистралью</p>
<p align="left">В сезон дождей – с осени по весну – в пустыне бывают паводки, тоннели тут скорее для сохранности шоссе, чем для животных.</p>
<p align="center"><a href="/files/blogengine/IMG_1761.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1761" data-src="/files/blogengine/IMG_1761_thumb.jpg" alt="IMG_1761"   border="0"></a></p>
<p align="center">В парке Голды Мейр растительность погуще</p>
<p align="center"><a href="/files/blogengine/IMG_1762_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1762" data-src="/files/blogengine/IMG_1762_thumb_1.jpg" alt="IMG_1762"   border="0"></a></p>
<p align="center">Приятно посмотреть!</p>
<p align="center"><a href="/files/blogengine/IMG_1763.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1763" data-src="/files/blogengine/IMG_1763_thumb.jpg" alt="IMG_1763"   border="0"></a></p>
<p align="center">Любо-дорого!</p>
<p align="center"><a href="/files/blogengine/IMG_1765.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1765" data-src="/files/blogengine/IMG_1765_thumb.jpg" alt="IMG_1765"   border="0"></a></p>
<p align="center">Открытые водоёмы можно по пальцам пересчитать; большая часть – искуственные</p>
<p align="center"><a href="/files/blogengine/IMG_1767_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1767" data-src="/files/blogengine/IMG_1767_thumb_1.jpg" alt="IMG_1767"   border="0"></a></p>
<p align="center">В парке тусили детки – автобусные туристы</p>
<p align="left">Детки пытались со мной пообщаться, но хотя бы одного языка международного общения, из тех, которыми я владею, к несчастью, не знали. Пришлось мне тупо повтыкать на юную стройную знойную южную красавицу, и двигать дальше.</p>
<p align="left">&nbsp;</p>
<p align="center"><a href="/files/blogengine/IMG_1768_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1768" data-src="/files/blogengine/IMG_1768_thumb_1.jpg" alt="IMG_1768"   border="0"></a></p>
<p align="center">Оазис коммерциализирован спа-центром. Ничего свянтэго!</p>
<p align="center"><a href="/files/blogengine/IMG_1770.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1770" data-src="/files/blogengine/IMG_1770_thumb.jpg" alt="IMG_1770"   border="0"></a></p>
<p align="center">Животина изрядно сопротивлялась надеванию узды, но человеческая хитрость и упорство победили</p>
<p align="left">Верблюд плевался, фыркал, ревел и щёлкал зубами. Зубы у него размером с зажигалку каждый, я бы поостерёгся рядом стоять, если честно. Потом на этих зверях катались мусальманские школьники и школьницы в платках, мне персонал велел держаться подальше, и я и убрался. Не в ту, правда, сторону – чем дальше заезжал, тем больше видел подозрительно бомжатского вида палаток. Догадавшись, что сам лезу в лапы кровожадным бедуинам, в спешном порядке двинул обратно.</p>
<p align="left">Про злобность бедуинов, это естественно, шутка, обыгрывающая идиотские страхи обывателей. Проблем с местными арабскими кочевниками в Израиле много: они не поддаются учёту, не&nbsp; хотят отдавать детей в школы, и самое главное – претендуют на обширные земли, где обитали их предки.</p>
<p align="left">Майк живо это изображал.</p>
<p align="left">Бедуин ставит палатку где попало, рядом появляются ещё сто его родичей, возводят жилища. Приезжает чиновник.</p>
<p align="left">– Не могли бы вы покинуть эту землю, она вам не принадлежит, это частная (или государственная) земля.</p>
<p align="left">– Тут у моего отца, деда и прадеда стада паслись, значит и я буду тут жить. Где захочу, там и буду, я ведь свободный человек!</p>
<p align="left">Тоже в своём роде ущемление прав коренного населения. Но всё это цепляние за архаичный и традиционный образ жизни ведёт известно к чему: бедность, неграмотность, плохое медицинское ообслуживание и низкий уровень жизни, а хочется же как всем жить, хорошо.&nbsp; В итоге воровство как заработок, конфликты с другими жителями израиля как хобби.</p>
<p align="left">По слухам, правда, бедуины весьма гостеприимны – если зайдёшь в палатку, накурят и напоят чаем, всё за бесплатно, хотя сейчас уже глобализец наступает и сюда, коммерциализируются.</p>
<p align="left"><a href="/files/blogengine/IMG_1771.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1771" data-src="/files/blogengine/IMG_1771_thumb.jpg" alt="IMG_1771"   border="0"></a></p>
<p align="center">Видишь коричневый знак – следуй ему. Девиз приключенцев</p>
<p align="left">&nbsp;</p>
<p align="center"><a href="/files/blogengine/IMG_1772.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1772" data-src="/files/blogengine/IMG_1772_thumb.jpg" alt="IMG_1772"   border="0"></a></p>
<p align="center">Огромные водоотводы</p>
<p align="center"><a href="/files/blogengine/IMG_1774.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1774" data-src="/files/blogengine/IMG_1774_thumb.jpg" alt="IMG_1774"   border="0"></a></p>
<p align="center">Парк Годы – вид сверху</p>
<p align="left">Больше ничего рядом нет.</p>
<p align="center"><a href="/files/blogengine/IMG_1777.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1777" data-src="/files/blogengine/IMG_1777_thumb.jpg" alt="IMG_1777"   border="0"></a></p>
<p align="center">“фонтан молодости” закрыт и обвешан запрещающими знаками. Так и не удалось испить живой водицы&nbsp; и омолодиться!</p>
<p align="center"><a href="/files/blogengine/IMG_1780_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1780" data-src="/files/blogengine/IMG_1780_thumb_1.jpg" alt="IMG_1780"   border="0"></a></p>
<p align="center">Вот он, знаменитый запрещающий камень</p>
<p align="left">Внутрь пустыни пойдёшь – в разлетающиеся по сторонам куски мяса превратишся! (С) ЦАХАЛ</p>
<p align="left">Про то, что опасность такая поджидает только в будние дни, а в выходные можно и рискнуть - ничего не сказано, инфа для своих.</p>
<p align="center"><a href="/files/blogengine/IMG_1760_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1760" data-src="/files/blogengine/IMG_1760_thumb_1.jpg" alt="IMG_1760"   border="0"></a></p>
<p align="center">Дорога в Ревивим&nbsp; широка и гладка</p>
<p align="left">&nbsp;</p>
<p align="left"><a href="/files/blogengine/IMG_1781.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1781" data-src="/files/blogengine/IMG_1781_thumb.jpg" alt="IMG_1781"   border="0"></a></p>
<p align="center">Время близится к закату</p>
<p><a href="/files/blogengine/IMG_1784_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1784" data-src="/files/blogengine/IMG_1784_thumb_1.jpg" alt="IMG_1784"   border="0"></a></p>
<p align="center">Майк</p>
<p>Когда я добрался до Ревивима,&nbsp; оказалось, что это кибуц. Вот те на! Я очень хотел побывать в кибуце, лучше не как турист-недоумок, а как гость местного жителя. К моей безграничной радости, радушие Майка и его жены Яэль позволило мне куда глубже проникнуть в суть израильского менталитета. Но об этом – в следующей серии.</p><p><a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%B7%D1%80%D0%B0%D0%B8%D0%BB%D1%8C" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p>
	