Id: 07e02bc7-621d-4024-8494-8cf2d3b1d9d5
Title: "Quick update"
Published: "2013-04-14"
Slug: "2013-04-14 Quick update"
-
<p>Подснегош и спортисты заджойнили силы<br/><a href='http://www.facebook.com/photo.php?fbid=10151450792642886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151450792642886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-d.ak.fbcdn.net/hphotos-ak-prn1/63584_10151450792642886_1893796999_n.jpg' />
	