Id: 774ab796-566b-49d2-afa5-ac144f6cdc4e
Title: "Quick update"
Published: "2013-10-29"
Slug: "2013-10-29 Quick update"
-
<p>Проверка<br/><a href='https://www.facebook.com/photo.php?fbid=10151829299177886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151829299177886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-prn2/603137_10151829299177886_486169300_n.jpg' />
	