Id: e654cb7e-69d2-4cae-b269-5fe9b3a85504
Title: "Shared from a Personal Document"
Published: "2013-04-09"
Slug: "2013-04-09 Shared from a Personal Document"
-
<p>too true<br/><a href='http://amzn.com/k/oyw1P8g5Sce_MsCU0YXcQQ'>http://amzn.com/k/oyw1P8g5Sce_MsCU0YXcQQ</a></p><div class='clearfix cite'><img src='/files/http://platform.ak.fbcdn.net/www/app_full_proxy.php?app=164734381262&v=1&size=z&cksum=e5a21e41ca7e14793556290e56277901&src=http%3A%2F%2Fg-ecx.images-amazon.com%2Fimages%2FG%2F01%2Freading%2Fimages%2Famazonkindle.png' />Теперь мы окружены воплощениями в жизнь предсказаний Токевилля: блестящие маковки золоченых аркад; невозможно гладкие рекламные щиты с рассеянным освещением; губошлепистые герои мультиков, бродящие по восхитительно искусственным паркам развлечений. Когда я была маленькая, эти странные создания пробуждали во мне нечто такое, что я потом определила для себя как глубинную тягу к соблазнам искусственности; я хотела бы раствориться в сияющих, совершенных, нереальных предметах.</div>
	