Id: ff815279-6412-4c4f-bceb-6fbe42892056
Title: "Quick update"
Published: "2013-12-23"
Slug: "2013-12-23 Quick update"
-
<p>Раздача слонов анонморозами в Binitex<br/><a href='https://www.facebook.com/photo.php?fbid=10151957288842886&set=pcb.10151957293582886&type=1&relevant_count=9'>https://www.facebook.com/photo.php?fbid=10151957288842886&set=pcb.10151957293582886&type=1&relevant_count=9</a></p><img src='/files/https://fbcdn-photos-f-a.akamaihd.net/hphotos-ak-prn2/1468677_10151957288842886_1523050339_n.jpg' />
	