Id: 34268b12-6f44-4817-bbc9-08a731bd77f9
Title: "Vaizdai iš Salos"
Published: "2013-08-26"
Slug: "2013-08-26 Vaizdai iš Salos"
-
<p>Мы вернулись с фестиваля Menuo Juodaragis, где танцевали, слушали поп-рок Dzelzs Vilks, языческий метал Skyforger, пост-фолк Auli, ворлд-мюзик-фолк Otava yo (Отава ё) из Питера и Folknery из Украины, ели вкуснейшую кришнаитскую халяву и капусту и блины от Bebro blynine, любовались людьми с топорами и косоворотках, стреляли из лука, гладили собак и лошадей, купались, смотрели кино и слушали стихи на литовском и делали много чего ещё. Фестиваль удался!<br/><a href='https://www.facebook.com/photo.php?fbid=654519667894226&set=a.653528627993330.1073741833.129879770358221&type=1'>https://www.facebook.com/photo.php?fbid=654519667894226&set=a.653528627993330.1073741833.129879770358221&type=1</a></p><div class='clearfix cite'><img src='/files/https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-prn2/1175713_654519667894226_2093523331_n.jpg' />Fotografas Kazimieras Šešelgis</div>
	