Id: 0d36df9c-9c8a-462a-b57d-c001145a3c64
Title: "Quick update"
Published: "2013-08-12"
Slug: "2013-08-12 Quick update"
-
<p>Sergej Ezhov вернулся с отдыха в офис и not amused<br/><a href='https://www.facebook.com/photo.php?fbid=10151663836722886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151663836722886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-f-a.akamaihd.net/hphotos-ak-prn2/1149050_10151663836722886_2133716916_n.jpg' />
	