Id: c71ea7e2-9d33-4b1d-8964-57de68e7509e
Title: "Quick update"
Published: "2013-12-25"
Slug: "2013-12-25 Quick update"
-
<p>Паранормальные явления в нашей жизни: на языческом фестивале Mėnuo Juodaragis я запечатлел призрака!<br/><a href='https://www.facebook.com/photo.php?fbid=10151961701682886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151961701682886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-prn2/1489080_10151961701682886_1931611230_n.jpg' />
	