Id: bf4d3bf0-aecb-4ae8-8678-e563062b38a3
Title: "Quick update"
Published: "2013-01-20"
Slug: "2013-01-20 Quick update"
-
<p>зарулил на выставку в олимпийском<br/><a href='http://www.facebook.com/photo.php?fbid=10151284010632886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151284010632886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-a.ak.fbcdn.net/hphotos-ak-ash3/537346_10151284010632886_1843273529_n.jpg' />
	