Id: 252f3b35-17f2-46c2-a1f5-60e84cb690ac
Title: "Harlem Shake Sanoma Digital.m4v"
Published: "2013-02-21"
Slug: "2013-02-21 Harlem Shake Sanoma Digital.m4v"
-
<p>Надо нам в Binitex наконец собраться с мыслями, а то уже весь мир поспел<br/><a href='http://www.youtube.com/watch?v=sfYiv-T09TQ&feature=share'>http://www.youtube.com/watch?v=sfYiv-T09TQ&feature=share</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQAUJHuDPe6PCWOy&w=130&h=130&url=http%3A%2F%2Fi4.ytimg.com%2Fvi%2FsfYiv-T09TQ%2Fmqdefault.jpg' />Harlem Shake Sanoma Digital</div>
	