Id: b7cca9dd-5b9a-4302-a887-32b65fe82db3
Title: "Quick update"
Published: "2013-08-23"
Slug: "2013-08-23 Quick update"
-
<p>Спиральные головоруки бинитекса<br/><a href='https://www.facebook.com/photo.php?fbid=10151688227082886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151688227082886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-ash3/1240020_10151688227082886_1426418232_n.jpg' />
	