Id: 9a6bfbca-52d2-438f-a25e-deedec004af3
Title: "Писатель Виктор Пелевин: \"Олигархи работают героями моих книг\""
Published: "2013-03-17"
Slug: "2013-03-17 Писатель Виктор Пелевин_ _Олигархи работают героями моих книг_"
-
<p><br/><a href='http://izvestia.ru/news/341912'>http://izvestia.ru/news/341912</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQBxEgy69LLya4LN&w=154&h=154&url=http%3A%2F%2Fmcontent.life.ru%2Fmedia%2F2%2Fnews%2F2013%2F03%2F546249%2F.349436dddd69a633e987bfe5b2a201e3_240x140.jpg' />В ночь на 5 октября небывалым для интеллектуальной прозы стартовым тиражом 150 000 экземпляров вышел сборник повестей и рассказов Виктора Пелевина "П5". Писатель, чье упорное нежелание общаться с журналистами стало притчей во языцех, согласился ответить на вопросы обозревателя "Известий"</div>
	