Id: 5b24fd4e-ddf3-455f-8909-f4592a0dc4de
Title: "Израиль – 2, день первый, Беэр Шева"
Published: "2013-12-15"
Slug: "2013-12-15 Израиль – 2, день первый, Беэр Шева"
-
<p>Мой план был прост – залезть внутрь железного червя на рельсах, добраться в его нутре из Тель-Авива до города Беэр Шева, осмотреться, переночевать там, и двинуть дальше в каменистую пустошь. Отличный чел Натан (ака Антон) довёз меня с великом до ж/д станции на машине. Пока мы там ошивались в ожидании поезда, он рассказал, что по униформе и шапке солдат можно определить род войск и другие факты. </p>
<p>Раз уж разговор зашёл о вооружённых силах, надо объяснить, что с самого начала существования независимого государства Израиль (с 1946 года), армия в нём играла огромную роль. Весьма предсказуемо, учитывая, что вокруг враждебные арабские/исламские режимы. Служат по призыву все евреи, кроме ортодоксов, последние же, как и люди других национальностей, могут пойти служить добровольцами. Исключение одно – израильские арабы (коих в стране совсем немало, около 20%). Мужчины служат три года, женщины два, иногда и больше – если армия платила за твоё обучение гражданским специальностям, например.</p>
<p>Солдаты в Израиле везде. С одной стороны, ЦАХАЛ, то есть армия обороны Израиля, пользуется большим одобрением и уважением – она выиграла в течении двадцатого века пять войн, и всё население через неё проходит, резко взрослея при этом, как объяснил мне Нир, мой хост в Бэер Шеве. С другой – армия жрёт огромные ресурсы, самоподдерживаясь и саморазрастаясь донельзя, как любая другая бюрократическая структура. Она ведёт массовую пропаганду в школах, устраивает демонстрационные учения, чтобы школьнички могли заранее вкусить прелести сурового армейского быта (который в Израиле и вовсе не так уж суров, кстати).</p>
<p>В любом месте Израиля, а особенно в пустыне Негев, над головой постоянно белеют следы истребителей, и всё это сопровождается значительными шумовыми эффектами – днём и ночью бдят, показывают, что не зря тратят деньги налогоплательщиков. Ныне это, кстати, всего 7% от ВВП, что, хоть и немало, но меньше, чем было когда-то. Для сравнения, в США эта цифра составляет 5%, в России – 4.4%, в Латвии 1%. Армия очень хорошо оснащена и с деньгами там всё в порядке, поэтому при возможности служащие не упускают случая облегчить её склады на пару коробок мелочей: так, когда я попросил у одного приятеля зарядку для батареек, он открыл целый ящик с позаимствованными на службе промышленными “энерджайзерами” и сказал брать, не стесняясь.</p>
<p>В израильских вооружённых силах тщательно борются с&nbsp; дедовщиной, но уровень самоубийств всё равно довольно высокий, много выше чем в США и России по отношению к размеру армии. <br>[more]</p>
<p>
    <a href="/files/blogengine/IMG_1699.jpg">
        <img title="IMG_1699" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; float: none; padding-top: 0px; padding-left: 0px; margin-left: auto; display: block; padding-right: 0px; border-top-width: 0px; margin-right: auto" border="0" alt="IMG_1699" data-src="/files/blogengine/IMG_1699_thumb.jpg"  >
    </a>
</p>
<p>На станции я купил билет за 9$ (примерно 100 км), засунул его в турникет, и прошлёпал через ворота для инвалидов. На перроне кругом электротабло, железнодорожники в цивильной одежде, провели меня до места, где останавливается нужный вагон. На снимке видно, что я не одинок в своих велосипедных наклонностях, но большинство в стране предпочитает электровелики, и таковой на фото вы как раз наблюдаете.</p>
<p>Поезд приехал на две минуты раньше обещанного, но меня это не насторожило – местные рассказывали про непунктуальность здешних средств массового передвижения. Как оказалось, зря не насторожило – закатив в салон, я просёк, что данный состав направляется в Ашкелон, а вовсе не в Беэр Шеву. Случайный путник не только подвердил опасения, но и предложил решение – сбежать из вагона на ближайшей станции, чтобы сесть через две минуты на верный состав. Это я и провернул, и в течении часа, пока добирался, общался с очередым разговорчивым евреем, бодрым и пожарым немолодым мужиком, который ехал в Беэр Шеву навестить внучек.</p>
<p>
    <a href="/files/blogengine/IMG_1700.jpg">
        <img title="IMG_1700" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; float: none; padding-top: 0px; padding-left: 0px; margin-left: auto; display: block; padding-right: 0px; border-top-width: 0px; margin-right: auto" border="0" alt="IMG_1700" data-src="/files/blogengine/IMG_1700_thumb.jpg"  >
    </a>
</p>
<p align="center">Так выглядит местный паровоз, широк и двухэтажен</p>
<p>Он мне пожаловался, что несмотря на огромные связи Израиля с США, обитателям здешних мест до сих пор нужна в<em>&nbsp; Jewnited States of America </em>виза. Загадочно, учитывая, что именно благодаря огромным суммам, которые переводили и переводят американские жертвователи, и такому же кредиту со стороны США, и состоялось еврейское государство.</p>
<p>Местные обитатели очень общительны, и мужик на фото подошёл, поднял мой велик (без спросу), чтобы проверить вес. Обижаться или паниковать по такому поводу не стоит, просто национальная черта характера.</p>
<p>
    <a href="/files/blogengine/IMG_1702.jpg">
        <img title="IMG_1702" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; float: none; padding-top: 0px; padding-left: 0px; margin-left: auto; display: block; padding-right: 0px; border-top-width: 0px; margin-right: auto" border="0" alt="IMG_1702" data-src="/files/blogengine/IMG_1702_thumb.jpg"  >
    </a>
</p>
<p>На выходе со станции меня встретил Нир, и проводил к себе в общагу, что находится напротив второго по величине госпиталя в Израиле с забавным названием “Сорока”. К нему периодически подлетают военные вертолёты – привозят раненых. Около больницы классик-стайл-хасид в шляпе и с пейсами спросил у меня дорогу, но, видимо, подобные персонажи знанием английского себя не утруждают, поэтому ответа он не получил.</p>
<p>Несколько из моих хостов весьма нелициприятно отзывались о религиозных фундаменталистах: мол, в армии не служат, работать почти нигде не хотят или не могут, и потому получают пособие за счёт гос-ва, вечно недовольны приезжими и светскими евреями, дети могут и камни бросить, если ты одет неправильно, или пользуешься, например, в шабат электричеством. </p>
<p>
    <a href="/files/blogengine/IMG_1703.jpg">
        <img title="IMG_1703" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; float: none; padding-top: 0px; padding-left: 0px; margin-left: auto; display: block; padding-right: 0px; border-top-width: 0px; margin-right: auto" border="0" alt="IMG_1703" data-src="/files/blogengine/IMG_1703_thumb.jpg"  >
    </a>
</p>
<p align="center">Нир (справа) и Шайя (слева)</p>
<p align="left">В Беэр Шеве находится громадный и престижный университет, ставший таковым лишь в 90-е. Один из моих следующих хостов, Вартан, объяснил, что универ стал таковым во многом благодаря избытку эммигрантов из СССР с отличным техническим образованием, которым гос-во предоставляло всяческие льготы при желании переселится в Беэр Шеву. Это всё в рамках плана заселения и дальнейшего освоения Негев, курс на который задал ещё сам первый премьер страны Бен Гурион, вспоследствии и сам переехавший в кибуц “Сде Бокер”, до которого в своих странствиях я ещё доберусь.</p>
<p align="left">Благодаря университету город разросся, появилась ночная жизнь, которую мне немного показал Нир. Рядом с общагой как раз несколько корпусов универа, а также кафе, баров. Прямо на лужайке между общагой (на первом этаже которой засилие магазинов и офисов) и главным шоссе города несколько раз в неделю собираются студенты и остальные желающие потусить, побеседовать, поиграть на музыкальных инструментах, а также поучится акробатике. Последнее меня прятно удивило: нечасто увидишь такое любопытное хобби, да ещё и всех приглашают поучаствовать.</p>
<p align="left">Тем временем, пока Нир был занят в универе, я взял велик в зубы, и немного покатался по ночному городу. Заехал на <i>Andartat Hativat HaNegev</i>, то есть памятник бригаде, павшей при обороне первых поселений в Негев.</p>
<p align="left">
    <a href="/files/blogengine/Negev_Brigade_Memorial1.jpg">
        <img title="Negev_Brigade_Memorial1" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; float: none; padding-top: 0px; padding-left: 0px; margin-left: auto; display: block; padding-right: 0px; border-top-width: 0px; margin-right: auto" border="0" alt="Negev_Brigade_Memorial1" data-src="/files/blogengine/Negev_Brigade_Memorial1_thumb.jpg"  >
    </a>
</p>
<p>
    <a href="/files/blogengine/IMG_1704.jpg">
        <img title="IMG_1704" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; float: none; padding-top: 0px; padding-left: 0px; margin-left: auto; display: block; padding-right: 0px; border-top-width: 0px; margin-right: auto" border="0" alt="IMG_1704" data-src="/files/blogengine/IMG_1704_thumb.jpg"  >
    </a>
</p>
<p align="center">При памятнике очередной признак хайтека: нажми на кнопку, прослушай историю</p>
<p align="center">
    <a href="/files/blogengine/IMG_1705_1.jpg">
        <img title="IMG_1705" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; padding-top: 0px; padding-left: 0px; margin: 0px; display: inline; padding-right: 0px; border-top-width: 0px" border="0" alt="IMG_1705" data-src="/files/blogengine/IMG_1705_thumb_1.jpg"  >
    </a>
</p>
<p align="center">В городе полно фонтанов, они искрятся и сверкают радугой</p>
<p align="center">
    <a href="/files/blogengine/IMG_1706_1.jpg">
        <img title="IMG_1706" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; padding-top: 0px; padding-left: 0px; margin: 0px; display: inline; padding-right: 0px; border-top-width: 0px" border="0" alt="IMG_1706" data-src="/files/blogengine/IMG_1706_thumb_1.jpg"  >
    </a>
</p>
<p align="center">Цвета меняются, зачот</p>
<p align="center">
    <a href="/files/blogengine/IMG_1709.jpg">
        <img title="IMG_1709" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border-top-width: 0px" border="0" alt="IMG_1709" data-src="/files/blogengine/IMG_1709_thumb.jpg"  >
    </a>
</p>
<p align="center">Добрался да учреждения, где мне самое место</p>
<p align="left">Пока катался, проколол колесо, и сидел тупо клеил его на обочине. Как оказалось, количество заплаток у меня недостаточное, да и клей к концу подходит. Мимо неспешно проплывали джоггеры и выгуливатели псов, периодически интересовавшиеся, не нужна ли мне помощь. Впереди ещё много приключений, но один вывод уже можно сделать. Несмотря на стереотипы, в том, что касается некоммерческих отношений, люди тут добрые, отзывчивые и щедрые, один тут ты точно в беде не останешься: всегда найдётся любопытствующий и желающий помочь.</p>
<p align="left">
    <a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%B7%D1%80%D0%B0%D0%B8%D0%BB%D1%8C" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a>
</p>