Id: c9a18d0f-3b2c-4215-8505-315510ec297c
Title: "Сексуальная революция Bang With Friends? Поздно, батенька, пить боржоми!"
Published: "2013-05-14"
Slug: "2013-05-14 Сексуальная революция Bang With Friends_ Поздно, батенька, пить боржоми_"
-
<p>Идея лежит на поверхности, конечно, приходила в голову мне в том числе. Вижу слишком большие подводные камни, например - многие станут нажимать ради прикола, а не по делу.<br/><a href='http://www.computerra.ru/67189/seksualnaya-revolyutsiya-bang-with-friends-pozdno-batenka-pit-borzhomi/'>http://www.computerra.ru/67189/seksualnaya-revolyutsiya-bang-with-friends-pozdno-batenka-pit-borzhomi/</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBkrZsgIt5uysjs&w=154&h=154&url=http%3A%2F%2Fwww.computerra.ru%2Fwp-content%2Fuploads%2F2013%2F05%2F037_4.jpg' />Приложению Bang With Friends, написанному под Android и iOS, прочат судьбу величайшего откровения нашей эпохи. BWF представляется если уж не триггером новой сексуальной революции в духе 60-70х прошлого века (спасибо Герберту Маркузе с его «Эросом и цивилизацией«), то по меньшей мере лучшим изобретен...</div>
	