Id: 2084ba16-ce4e-4d62-8675-1da5d6c5d310
Title: "Quick update"
Published: "2013-12-16"
Slug: "2013-12-16 Quick update"
-
<p>Новая строчка добавилась<br/><a href='https://www.facebook.com/photo.php?fbid=10151945210662886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10151945210662886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-h-a.akamaihd.net/hphotos-ak-ash4/1513213_10151945210662886_711962482_n.jpg' />
	