Id: cdbc0a30-f732-4100-9f9c-aae708b1ce8c
Title: "Could A Dopamine Gene Be the Answer to a Longer Life? | TIME.com"
Published: "2013-01-12"
Slug: "2013-01-12 Could A Dopamine Gene Be the Answer to a Longer Life_ _ TIME.com"
-
<p>Хоть какой-то бонус беспокойным натурам вроде меня: обещают долгую жизнь.<br/><a href='http://healthland.time.com/2013/01/11/could-a-dopamine-gene-be-the-answer-to-a-longer-life/?xid=rss-topstories&utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+time%2Ftopstories+%28TIME%3A+Top+Stories%29'>http://healthland.time.com/2013/01/11/could-a-dopamine-gene-be-the-answer-to-a-longer-life/?xid=rss-topstories&utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+time%2Ftopstories+%28TIME%3A+Top+Stories%29</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQArNO86cvG6vwm-&w=90&h=90&url=http%3A%2F%2Ftimewellness.files.wordpress.com%2F2013%2F01%2F99976601.jpg%3Fw%3D240' />A gene linked to attention deficit/hyperactivity disorder (ADHD) and addiction might also help you live to be 100. A study published in the Journal of Neuroscience found that a version of a gene coding for a receptor for the brain chemical dopamine was 66% more common among people who lived ...</div>
	