Id: 0992e8c7-beae-4483-af99-b345d5605693
Title: "Интернет-активист Аарон Шварц покончил с собой"
Published: "2013-01-14"
Slug: "2013-01-14 Интернет-активист Аарон Шварц покончил с собой"
-
<p>Покойся с миром, бро. Вот что за хуета у нас с мозгами, такой человек талантливый, а так не повезло. Боролся всю жизнь с депрессией и плохим самочувствием, и не выдержал.<br/><br/>http://www.aaronsw.com/weblog/verysick<br/><a href='http://lenta.ru/news/2013/01/12/swartz/'>http://lenta.ru/news/2013/01/12/swartz/</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQBLm9d9jNxbxLmf&w=90&h=90&url=http%3A%2F%2Flenta.ru%2Fnews%2F2013%2F01%2F12%2Fswartz%2Fpicture.jpg' />Интернет-активист, соавтор формата RSS и сооснователь проекта Reddit Аарон Щварц покончил с собой. По данным его родных, молодой человек повесился в своей квартире в Нью-Йорке. Шварц выступал за за свободное распространение информации, в связи с чем у него были трения с законом. Активисту было 26 ле...</div>
	