Id: cca15b09-8459-45b1-b2e6-e8415fb1dffd
Title: "невежество убивает"
Published: "2013-12-20"
Slug: "2013-12-20 невежество убивает"
-
<p>Гомеопатия помогает её любителям сделать то, что они мечтают - облегчить бремя планеты, уменьшить на ней количество человеков. За счёт самих любителей гомеопатии, что, считаю, заслуженно. Ребенка, правда, жалко, он не при чём.<br/><a href='http://avva.livejournal.com/2715870.html'>http://avva.livejournal.com/2715870.html</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAs29gsQDGoYiDB&w=154&h=154&url=http%3A%2F%2Fl-userpic.livejournal.com%2F81048954%2F111931' />В Канаде полиция арестовала мать семилетнего ребенка, который умер от инфекции стрептококка, после того, как пролежал больной дома 10 дней. Его мать не повела к…</div>
	