Id: 8d34fac2-3c93-4c58-ae32-a697a9d28539
Title: "Quick update"
Published: "2013-04-23"
Slug: "2013-04-23 Quick update"
-
<p>Приходите народ на мероприятие, поговорим с арабами, развеем стереотипы про мусульман, и вообще проведём время с толком.<br/><a href='http://www.facebook.com/events/478679042186052/'>http://www.facebook.com/events/478679042186052/</a></p>
	