Id: 8ce7504c-64fe-4820-902c-9c103fc032c7
Title: "DIY подарок пропитан светом твоей души - 2"
Published: "2014-03-11"
Slug: "2014-03-11 DIY подарок пропитан светом твоей души - 2"
-
<p>Восьмое марта 2014 в Бинитексе<br/><a href='https://www.facebook.com/photo.php?fbid=10152115713042886&set=a.10152115712942886.1073741841.762077885&type=1&relevant_count=49'>https://www.facebook.com/photo.php?fbid=10152115713042886&set=a.10152115712942886.1073741841.762077885&type=1&relevant_count=49</a></p><img src='/files/https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-prn2/t1/7552_10152115713042886_746011284_n.jpg' />
	