Id: deaeef74-6c04-4065-891d-acf1a5f59912
Title: "Red Queen hypothesis - Wikipedia, the free encyclopedia"
Published: "2014-01-31"
Slug: "2014-01-31 Red Queen hypothesis - Wikipedia, the free encyclopedia"
-
<p>Поразительно, я часто цитирую эту фразу, но, оказывается, целая теория есть, относящаяся к эволюции.<br/>"Чтобы просто оставаться на месте, нужно бежать, а чтобы попасть куда-то, нужно бежать в два раза быстрее".<br/><a href='http://en.wikipedia.org/wiki/Red_Queen_hypothesis'>http://en.wikipedia.org/wiki/Red_Queen_hypothesis</a></p><div class='clearfix cite'><img src='/files/https://fbexternal-a.akamaihd.net/safe_image.php?d=AQDxQRorSqiNL6aq&w=154&h=154&url=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F9%2F9e%2FParasitismus.jpg%2F220px-Parasitismus.jpg' />The Red Queen hypothesis, also referred to as Red Queen's, Red Queen's race or The Red Queen Effect, is an evolutionaryhypothesis which proposes that organisms must constantly adapt, evolve, and proliferate not merely to gain reproductive advantage, but also simply to survive while pitted against ev...</div>
	