Id: f08ec5c0-3330-4b46-b074-15a89db92e51
Title: "Quick update"
Published: "2014-01-24"
Slug: "2014-01-24 Quick update"
-
<p>У кого есть коньки одолжить на воскресенье, 43-44 размера?<br/><a href='https://www.facebook.com/photo.php?fbid=10152022682217886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10152022682217886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-e-a.akamaihd.net/hphotos-ak-prn1/8195_10152022682217886_686074722_n.jpg' />
	