Id: cad88b58-b867-454a-8fd3-330a1b92c745
Title: "Quick update"
Published: "2014-02-07"
Slug: "2014-02-07 Quick update"
-
<p>Ням-ням холестеринчик!<br/>Courtesy of Svetlana Semeshchenko и Alex Makarov<br/><a href='https://www.facebook.com/photo.php?fbid=10152052792367886&set=pcb.10152052792737886&type=1&relevant_count=3'>https://www.facebook.com/photo.php?fbid=10152052792367886&set=pcb.10152052792737886&type=1&relevant_count=3</a></p><img src='/files/https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-prn2/t1/1507620_10152052792367886_1112999956_n.jpg' />
	