Id: 617edc1c-0213-4cc1-b6ac-c8c59ef4e889
Title: "Quick update"
Published: "2014-01-19"
Slug: "2014-01-19 Quick update"
-
<p>Играем в Ратус<br/>#boardgames<br/><a href='https://www.facebook.com/photo.php?fbid=10152013279547886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>https://www.facebook.com/photo.php?fbid=10152013279547886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-frc3/t1/1538756_10152013279547886_536524451_n.jpg' />
	