Id: 4133c4d0-4c3b-443c-b127-32029e6d56c2
Title: "Кипр – 1, прибытие"
Published: "2015-05-18"
Slug: "2015-05-18 Кипр – 1, прибытие"
-
<p>дааааааааааааааааа </p>
<p>Вы этого ждали, чтобы не читая, залайкать на фейсбуке!</p>
<p>Особенно Александр, всё время пищит, жаждет моих искромётных шуток.</p>
<p>И вот он я созрел.</p>
<p>Сразу, с пылу, с жару, рассмотрим животрепещущий вопрос: почем велы на борту аэропланов и нельзя ли взять в аренду. </p>
<p>30-40 евро в одну сторону (или за один перелёт, если с пересадками). </p>
<p>Взять в аренду можно, но</p>
<p>1. Они будут заведомо хуже или как минимум непривычнее моего</p>
<p>2. Если хочешь покататься там-сям, непонятно как отдавать</p>
<p>3. Ограничен местом, где берёшь, нужно его искать заранее и бронировать, не факт, что сдают в аренду, где тебе хочется кататься.</p>
<p>&nbsp;</p>
<p>Немного сухих цифр для того, чтобы вам не захотелось уже дочитывать.&nbsp; Территория Кипра в семь раз меньше Латвии, а живёт там чуть больше миллиона человек, то есть населён остров довольно плотно. Живут в основном греки и турки, но последние отделились в свою локальную тусу, и зохавали себе часть острова с помощью метрополии, о чём я расскажу при случае. Поскольку Кипр был английской колонией, ездят там по левой стороне, что доставило нам порядочно головной боли при адаптации. Погода на Кипре всегда отличная,&nbsp; зимой немножко капает, а так с весны по осень солнце жарит не балуй, летом вообще духовка. Весьма кстати ехать на остров весной, как я и сделал – дождей уже нет, а температура ещё более-менее терпимая, в горах 15-20 градусов, на побережье аж 20-25, что для меня уже жарковато.</p>
<p>На этом скучные технические детали оставим, и устремим свои мысли ввысь, в горы Троодоса.</p>
<p>Двинул я на Кипр потому, что там эти самые горы. По слухам, вполне подходящие, чтобы колесить по ним на маунтайнбайке, как мы любим: по камням и кустам, с болью в ногах и попе, подъёмами по полтора километра за день. Соратника у меня долгое время не было, но в конце-концов&nbsp; созрел Rybakow, который читается и вовсе не так, как вы подумали, и с ударением на а. Но Советский Союз своей благой дланью подружил все народы с помощью пострига под всеобщую русификацию, и Ryb<strong>a</strong>kow&nbsp; превратился в Рыбакова. Затем Латвийская Республика внесла свою лепту и переименовала Рыбакова в Рыбаковса. Естати, я с Кипра привёз греческие евромонетки&nbsp; с такой надписью, не Рыбаковс конечно, а лепта.</p>
<p>Улетали мы холодной апрельской ночью, а велосипеды привязывали дождливым ветреным днём. По дороге в Вильнюс мой папа, исполнявший роль водителя, рассказал, что в любом серьёзном путешествии случаются три не менее серьёзных аварии. Чтобы не быть голословным, автомобиль, послушав с хозяина, скинул с себя тяжкую ношу, а именно коробки с велосипедами, прямо на асфальт. На пользу это им явно не пошло, но аукнулось нам только в следующей серии, поскольку нужды и возможности вытаскивать велы из коробок уже не было: чинить в два ночи на шоссе Даугавпилс-Вильнюс байки негде.</p>
<p>Отлет прошёл без эксцессов, если не считать таковым 5 утра, и вводный курс в мировоззрение поцтреотов по дороге. Хотя я и просил попутчиков не устраивать рэп-баттлов в духе Путиномразоиды против Либерастов, Укропы против Ватников, и&nbsp; Великая Россия против цивилизованного мира, они всё равно состоялись. Чтож, пару часов потерпеть, и мы уже на земле Кипрской.</p>
<p>Ехать я собирался на 9 дней, Александр Рыбаковс на 7, поскольку после затяжных подъёмов по горам, требующих затем замены коленного сустава на титановый, хотел ещё и Stripro Skrejiens пробежать, чтобы окончательно себя добить. Чтож, хозяин барин, да и мне не привыкать вкручивать в одиночку.</p>
<p>Правда, на то, что придётся это делать с самого начала, я не рассчитывал, а ведь так оно и могло быть. Дело в том, что полёт на асфальт не прошёл для Сашиного вела бесследно, и даже напротив, создал ему из заднего колеса древний символ бесконечности, а именно восьмёрку, да такой восмёристости, что мы еле доехали от аэропорта до города Ларнака.</p>
<p>Дальше нас ждала интрига: нужно было проехать ещё километров 150 с пересадкой на двух автобусах, а потом 50 км по горам на велосипеде до конечной точки назначения, апартаментов около города Полис, а между тем, время уже близилось к полудню. Поиски веломастерской увенчались ограниченным успехом: нашёлся лишь сарай, где добрые старички продавали и сдавали в аренду металлолом, который байком можно назвать лишь с большой натяжкой.</p>
<p>Один из них ловко вставил злополучное колесо в станок для спицевания, и приложил весь свой магический скилл для корректирования восмёры. За труды ничего не брал, поэтому оставили ему латвийскую шоколадку.</p>
<p>
    <a href="/files/blogengine/DSC_0002.jpg">
        <img title="DSC_0002" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-top-width: 0px" border="0" alt="DSC_0002" data-src="/files/blogengine/DSC_0002_thumb.jpg"  >
    </a>
</p>
<p>“С таким диагнозом не живут” – сказал я,&nbsp; имея в виду обод, и был прав как никогда: ехать теперь Саша мог, но медленно и недалеко – как раз до следующего веломагазина, забитого карбоновыми шоссерами по 4000 евро и не менее шоссерными ободами Mavic по 400 евро за штуку. Горные велосипеды были представлены лишь новомодными 27.5 дюймов, и на Рыбаковские 26” обода не нашлось. Может и к счастью, а то бы стоил как из чистого золота. Зато услужливые и приветливые работники стильного заведения подсказали, куда далее лежит наш путь, и даже отзвонили.</p>
<p>Через пару кварталов мы прибыли в местный DEPO под названием AndreouBrothers, где на втором этаже тайком приютился вполне приличный веломагазин, как раз по нашим карманам, хотя отдельно обода не было и там. В итоге его сняли с продаваемого дроческопа, зато по лимонадной цене в районе 50 евро за колесо в сборе, так что грех жаловатся. Я всего этого спектакля на видел, потому что куковал на уличной жаре. Успел переодеться в велоформу, сделать три раза зарядку, насмотреться на местных, подкрутить в велосипеде все винтики, и уже стал нервничать. Уж полночь близиться, а Сашеньки всё нет - приходила пора следующего автобуса, 15.00, а ехать по горам в темноте – перспектива, прямо скажем, на любителя.</p>
<p>Такая вот интрига закрутилась вокруг, но лишь в следующей серии вы узнаете, удалось ли нам попасть на автобус, добрались ли мы до апартаментов ночью по горам, и почему на каждого хорошего человека обязательно найдётся свой гавнюк.</p>
<p>
    <a href="/post/2015-08-22%20Кипр%20%20–%2011,%20Заключение">К оглавлению</a>
</p>