Id: 95b556e6-7ce8-43f1-8c11-0f31e863e98f
Title: "Интересные статьи –2: избранные хиты"
Published: "2015-02-10"
Slug: "2015-02-10 Интересные статьи –2_ избранные хиты"
-
<p>Очередная порция интересных статей</p>
<p>1. <a title="http://pocket.co/so8ahI" href="http://pocket.co/so8ahI">http://pocket.co/so8ahI</a></p>
<p>Китаец решил сверхсложную математическую проблему. Какой он, о чём его думы и печали?</p>
<p>До того в жизни опубликовал одну научную статью, и ту ошибочную, потом работал в забегаловке &ldquo;Сабвей&rdquo; бухгалтером. Десять лет ходил и думал, даже машину продал, чтобы и в автобусе по пути на работу думать тоже.</p>
<p>2. <a title="http://pocket.co/so8aht" href="http://pocket.co/so8aht">http://pocket.co/so8aht</a></p>
<p>Что бы такого купить, чтобы быть счастливее, что ответит наука?</p>
<p>Ответ известен: впечатления и переживания, а не материальные предметы.</p>
<p>Но есть ещё и нюансы: неплохо бы не иметь долгов, а иметь накопления, и делать подарки другим, причём лучше такие, которые приведут к каким-нибудь новым плодам, вроде как подарить художнику холст, чтобы увидеть рисунок. Неплохо бы также купить вещи, которыми реально пользуешься, а не которыми &ldquo;может быть&rdquo;. В статье приведены и другие полезные советы.</p>
<p>3. <a title="http://pocket.co/so8apa" href="http://pocket.co/so8apa">http://pocket.co/so8apa</a></p>
<p>Почему человеки такие умные?</p>
<p>Потому что башка большая, настолько, что вечно осложнения при родах и после рождения голова очень растёт. И всё это для того, чтобы сразу как родился ничего не узнать и не уметь, а учиться, учиться, и ещё раз учиться, как завещал тов. ленин.</p>
<p>4. <a title="http://pocket.co/so8ahP" href="http://pocket.co/so8ahP">http://pocket.co/so8ahP</a></p>
<p>Почему перехлёст с политкорректностью это беда, и почему левые виноваты в терроре добровольной интернет-цензуры.</p>
<p>5. <a title="http://pocket.co/so8apq" href="http://pocket.co/so8apq">http://pocket.co/so8apq</a></p>
<p>Почему все мы &ndash; синестетики в детстве, и только некоторые &ndash; во взрослом возрасте. Для тех, кто не в курсе: наши органы чувств не действуют по отдельности, напротив, поступающие данные очень сильно взаимосвязаны, и у некоторых людей эта связь не рушится в 7-9 лет. Такие слышат цвета, или цифры для них раскрашены в радугу, или звуки превращаются в видимые цепочки цифр. По статистике, таких людей довольно много, но они часто не задумываются о том, как ощущают, потому что не находят в этом ничего странного.</p>
<p>6. <a title="http://pocket.co/so8ahJ" href="http://pocket.co/so8ahJ">http://pocket.co/so8ahJ</a></p>
<p>Люди, способные к осозанным сновидениям, скорее всего и наяву хорошо себя анализируют и понимают, потому что, судя по всему, за это отвечает один и тот же участок мозга.</p>
<p>7. <a title="http://pocket.co/so8ahg" href="http://pocket.co/so8ahg">http://pocket.co/so8ahg</a></p>
<p>Выдумывать бренды для новых продуктов настолько непросто, что для этого есть специальные люди и целые компании, которые берут тысячи, а то и десятки тысяч долларов, выдумывают десятки вариантов, и потом ещё месяц-другой над ними рефлексируют.</p>
<p>8. <a title="http://pocket.co/so8ahT" href="http://pocket.co/so8ahT">http://pocket.co/so8ahT</a></p>
<p>Если вы чего-то хотите понять про Саудовскую Аравию, вам сюда. Суть этого государства &ndash; тонкое лавирование членами королевской семьи между исламскими радикалами-террористами и западными разлагающими либеральными ценностями для того, чтобы не потерять власть.</p>
<p>9. <a title="http://pocket.co/so8ahm" href="http://pocket.co/so8ahm">&nbsp;http://pocket.co/so8ahm</a></p>
<p>В чём причина зависимостей (игровой, алкогольной и прочих?).</p>
<p>В том, что не хватает социальных связей и естественных стимулов. Крысы, которых лишали общения с сородичами и возможности исследовать окружающий мир, только и делали, что насыпали себе кокаина или сахара. А те, у кого с тусовками всё было в порядке, и так жизни радовались.</p>
<p>Как только в Португалии остановили войну с наркотиками, и вместо этого начали программы по реабилитации и реинтеграции зависимых в общество, потребление героина резко упало.</p>
<p>10.<a title="http://pocket.co/so8apo" href="http://pocket.co/so8apo">http://pocket.co/so8apo</a></p>
<p>Любопытные факты про палочки и колбочки. Так, младенец рождается без цветного зрения, а к шести месяцам у него уже фулхд, обычный человек видит 10 миллионов цветов, а 2% женщин обладают мутацией, которая позволяет видеть им более 100 миллионов.</p>
<p>Кстати, есть женщина, которая видит аж в сто раз больше цветов, чем средний человек, и она будет картинкой для привлечения внимания.</p>
<p><a href="/files/blogengine/san-diego-artist-concetta-antico.jpg"><img style="float: none; margin-left: auto; display: block; margin-right: auto; border-width: 0px;" title="san-diego-artist-concetta-antico" data-src="/files/blogengine/san-diego-artist-concetta-antico_thumb.jpg" alt="san-diego-artist-concetta-antico"   border="0" /></a></p>
	