Id: 8e16d9f0-2ebe-48c8-af3d-865e26724668
Title: "Альбом From Kinshasa to the Moon"
Published: "2015-10-01"
Slug: "2015-10-01 Альбом From Kinshasa to the Moon"
-
<p><a title="https://open.spotify.com/album/0kPOl7QSouCaXfzE9LIALm" href="https://open.spotify.com/album/0kPOl7QSouCaXfzE9LIALm">https://open.spotify.com/album/0kPOl7QSouCaXfzE9LIALm</a></p>  <p>Отличный альбом из Африки коллектива Mbongwana Star.</p>  <p>Если вы, как и я, любите африканские напевы и слегка странноватые инструменты типа мбиры, вам сюда. Позитивно!</p> <iframe height="480" src="https://www.youtube.com/embed/fmLVsn4vbtU?list=PLrZR4kxxF7r69PycwePxPsIFPMjrZbtz9" frameborder="0" width="854" allowfullscreen="allowfullscreen"></iframe>  <p>8/10</p>
	