Id: a0f8ff56-cc21-4ac3-9666-9e39b2656929
Title: "Интересные статьи – 1: лучшее, любимое и только для вас"
Published: "2015-01-25"
Slug: "2015-01-25 Интересные статьи – 1_ лучшее, любимое и только для вас"
-
<p>Прочитал на телефоне партию всяческих любопытных статей с помощью сервиса <a href="http://getpocket.com/">Pocket</a>, и вам заботливо посоветую те, что бардзо подобалися. Большая часть на английском, уж не обесcудьте: на русском нынче прочитать можно только про укропов, ватников, державность, либерастов, двуличный запад и прочие малоинтересные темы.</p>
<p>1.&nbsp; <a title="http://www.nytimes.com/2015/01/11/fashion/modern-love-to-fall-in-love-with-anyone-do-this.html" href="http://www.nytimes.com/2015/01/11/fashion/modern-love-to-fall-in-love-with-anyone-do-this.html">http://www.nytimes.com/2015/01/11/fashion/modern-love-to-fall-in-love-with-anyone-do-this.html</a></p>
<p>Как с помощью нехитрой техники помочь людям влюбится друг в друга. Всего-то что и надо, чтобы вдруг другу задавали серию всё более интимных вопросов, а потом ещё в глаза четыре минуты смотрели.</p>
<p>&nbsp;</p>
<p>2. <a title="http://qz.com/310622/the-scientific-evidence-against-spanking-timeouts-and-sleep-training/" href="http://qz.com/310622/the-scientific-evidence-against-spanking-timeouts-and-sleep-training/">http://qz.com/310622/the-scientific-evidence-against-spanking-timeouts-and-sleep-training/</a></p>
<p>Всё больше научных данных о том, что не стоит шлёпать детей или насильно загонять их спать,&nbsp; а то вырастут невротики и мизантропы. А всё потому, что человек, к которому ребёнок привязывается, не должен проявлять агрессии и нарушать доверие. От такого человека ребёнок ждёт защиты и поддержки, а не насилия. У меня детей нет, и я, скорее всего, не удержался бы и сам от методов воспитания пожёстче, но стараться всё равно надо.</p>
<p>&nbsp;</p>
<p>3. <a title="http://www.newyorker.com/magazine/2015/01/19/know-feel" href="http://www.newyorker.com/magazine/2015/01/19/know-feel">http://www.newyorker.com/magazine/2015/01/19/know-feel</a></p>
<p>Программы для анализа эмоций по лицу уже широко применяются, и постоянно совершенствуются. Скоро можно будет всегда узнать, что на самом деле чувствуют люди, как они отнесутся к фильму или рекламе. Слежка будет тотальной и безповоротной, а роботы будут знать про вас больше, чем вы сами.</p>
<p>&nbsp;</p>
<p>4. <a title="http://elementy.ru/lib/432416" href="http://elementy.ru/lib/432416">http://elementy.ru/lib/432416</a></p>
<p>Как себя ведут муравьи, и почему не стоит думать, будто у них есть разум, хоть они и создают очень сложные материальные и социальные структуры. Длинная статья, зато на русском, и очень интересная.</p>
<p>&nbsp;</p>
<p>5. <a title="http://www.nytimes.com/2014/12/23/opinion/sugar-season-its-everywhere-and-addictive.html" href="http://www.nytimes.com/2014/12/23/opinion/sugar-season-its-everywhere-and-addictive.html">http://www.nytimes.com/2014/12/23/opinion/sugar-season-its-everywhere-and-addictive.html</a></p>
<p>Сахар вызывает зависимость, причём посильнее кокаина. Его всюду добавляют, а эпидемия ожирения набирает обороты, и всё это обществом вполне приветствуется.</p>
<p>&nbsp;</p>
<p>6. <a title="http://zenhabits.net/limits/?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits" href="http://zenhabits.net/limits/?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits">http://zenhabits.net/limits/?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits</a></p>
<p>Почему бы не ограничить себя, чтобы жить умереннее и глубже, а не избалованно и пресыщенно?</p>
	