Id: 35ac3478-546a-400d-8bbd-c39be871dc11
Title: "Информационное отравление – 5"
Published: "2015-10-21"
Slug: "2015-10-21 Информационное отравление – 5"
-
<p>Опять про интересные статьи. Лучшее &ndash; толсто.</p>
<p>&nbsp;</p>
<p>1. <a title="http://www.nytimes.com/2015/09/13/opinion/sunday/the-next-genocide.html" href="http://www.nytimes.com/2015/09/13/opinion/sunday/the-next-genocide.html">http://www.nytimes.com/2015/09/13/opinion/sunday/the-next-genocide.html</a></p>
<p>Пишут про то, что некоторые развитые страны сейчас опасно близки к тому пределу, чтобы поворачивать картину мира своих жителей таким образом, будто бы без войны всем ресурсов не хватит, или просто плевать не последствия эксплуатации планеты. Китаю не хватает&nbsp; еды, США выбрасывает слишком много парниковых газов, а Россия с радостью смотрит на близкий развал Евросоюза из-за беженцев. Очень похоже действовал Гитлер, когда разжигал ненависть и военные настроения.</p>
<p>В целом &ndash; достаточно убедительно, хотя на самом деле тема-то вечная: дёргать за эмоциальные ниточки населения, сеять панику и ужас, выдумывать погуще внешних врагов, угрозы голода и прочих бед. Гитлер не Гитлер, все и всегда государства так делали, делают и будут делать. Вот в Европе некоторые страны пытаются помочь беженцам, так всё равно в их действиях сразу ищут выгоду и хитрый план. Может оно конечно и так, но если всё-таки Европа хочет пустить беженцев из гуманизма? Было бы круто, гордится можно было бы, до чего человек дошёл.</p>
<p><span style="font-size: x-large;"><strong>2.</strong></span><a title="http://99u.com/articles/51908/nobody-cares-how-hard-you-work" href="http://99u.com/articles/51908/nobody-cares-how-hard-you-work"><span style="font-size: x-large;"><strong>http://99u.com/articles/51908/nobody-cares-how-hard-you-work</strong></span></a></p>
<p>Про любопытное когнитивное искажение: люди считают,что тяжёлая работа и усталость=хорошо сделанное дело. Что в реальности может быть совершенно не так: профи может одним решением, основанным на знании или опыте сэкономить недели, а то и месяцы работы.</p>
<p>Дают совет делать сначала важное, и не считать, что важно решить каждую мелочь и ответить на каждый емейл.</p>
<div style="font-style: normal; padding-left: 20px; margin: 20px; display: block; padding-right: 20px; background-color: #eeffff; border: black 1px solid;">
<p>In America and northern Europe, the roots of the Effort Trap may well lie in the &ldquo;<a href="http://www.psmag.com/business-economics/protestant-worth-ethic-real-65544">Protestant work ethic</a>,&rdquo; the old Calvinist idea that being a hard worker was evidence that you&rsquo;d been pre-selected for Heaven. To reach creativity heaven, though, you&rsquo;ll need a different approach&mdash;one that prioritizes doing the right things, not just lots of things.</p>
</div>
<p>Тяжело жить с протестантской этикой, и невесело.</p>
<p>3. <a title="https://interpreted.dirty.ru/perevod-kak-i-zachem-spacex-koloniziruet-mars-glava-5-budushchee-855060/" href="https://interpreted.dirty.ru/perevod-kak-i-zachem-spacex-koloniziruet-mars-glava-5-budushchee-855060/">https://interpreted.dirty.ru/perevod-kak-i-zachem-spacex-koloniziruet-mars-glava-5-budushchee-855060/</a></p>
<p>Длинное чтиво на русском, зачем и почему Элон Маск хочет колонизировать Марс. Любопытно, но скорее умозрительно, чем практически.</p>
<p>4.<a title="https://cosmos.dirty.ru/elementarnye-chastitsy-na-paltsakh-tm-859814/" href="https://cosmos.dirty.ru/elementarnye-chastitsy-na-paltsakh-tm-859814/">https://cosmos.dirty.ru/elementarnye-chastitsy-na-paltsakh-tm-859814/</a></p>
<p>Про элементарные частицы на пальцах. Понять местами сложновато, но если хочется хоть что-то знать про основы нашего мира, глубину глубин и базис базисов, стоит прочитать.</p>
<p><strong><span style="font-size: x-large;">5.</span></strong><a title="http://birdinflight.com/ru/mir/kuda-uplyli-somalijskie-piraty.html" href="http://birdinflight.com/ru/mir/kuda-uplyli-somalijskie-piraty.html"><strong><span style="font-size: x-large;">http://birdinflight.com/ru/mir/kuda-uplyli-somalijskie-piraty.html</span></strong></a></p>
<p>Невероятно интересная статья, почему больше по ТВ не рассказывают о громких захватах судов сомалийскими пиратами. Читайте лучше сами, пересказывать&nbsp; - упустить красоту и цифры.</p>
<p>6.<a title="https://historyporn.dirty.ru/istoriia-odnoi-oshibki-konveer-gaza-1983-850904/" href="https://historyporn.dirty.ru/istoriia-odnoi-oshibki-konveer-gaza-1983-850904/">https://historyporn.dirty.ru/istoriia-odnoi-oshibki-konveer-gaza-1983-850904/</a></p>
<p>История на русском, как в СССР отказали тормоза на новых партийных Волгах, сразу на четырёх, и в чём причина. А мы, программисты, всю жизнь вот так, между прочим.</p>
<p>7. <a title="https://leprosorium.dirty.ru/ikh-nravy-846344/" href="https://leprosorium.dirty.ru/ikh-nravy-846344/">https://leprosorium.dirty.ru/ikh-nravy-846344/</a></p>
<p>История (на русском) идиомы sale hard&nbsp; неожиданно происходящей от названия русского города.</p>
<p>8. <a title="http://www.huffingtonpost.com/entry/zig-zag-zen_55c3c6f6e4b0d9b743db81d5" href="http://www.huffingtonpost.com/entry/zig-zag-zen_55c3c6f6e4b0d9b743db81d5">http://www.huffingtonpost.com/entry/zig-zag-zen_55c3c6f6e4b0d9b743db81d5</a></p>
<p>Как связаны Буддизм и психоделики (вещества вроде псилоцибиновых грибов, ЛСД и мескалина из катуса пейот).&nbsp; Психоделик с греческого означает &ldquo;проявляющий душу&rdquo;, и я давно подозревал что-то вот такое:</p>
<div style="font-style: normal; padding-left: 20px; margin: 20px; display: block; padding-right: 20px; background-color: #eeffff; border: black 1px solid;">
<p><strong>For a lot of people, psychedelics are sort of a &ldquo;gateway drug&rdquo; that leads them to Buddhism. How do people describe these initial experiences that lead them to a Dharma practice?</strong></p>
<p>What a lot of people will say is that they took a psychedelic journey, and they reached a place that was extremely beautiful and special and had a non-dual character; that the whole world made sense to them and was integrated; that they were integrated with the world; that everything was alive. People describe these almost oceanic feelings of joy and connection. They don&rsquo;t want to have a practice that involves a chemical dependency so they look for ways to kindle that feeling again in a more sustainable way.</p>
</div>
<p>То есть люди едят такие вещества, испытывают мистический или духовный опыт невероятной силы, и потом думают: &ldquo;А как бы нам и в обычной жизни вот так?&rdquo;</p>
<p>Ответ известен &ndash; утром час медитации и вечером час (с)</p>
<p><strong><span style="font-size: x-large;">9.</span></strong><a title="https://medium.com/cuepoint/the-devaluation-of-music-it-s-worse-than-you-think-f4cf5f26a888#.u1063bv4t" href="https://medium.com/cuepoint/the-devaluation-of-music-it-s-worse-than-you-think-f4cf5f26a888#.u1063bv4t"><strong><span style="font-size: x-large;">https://medium.com/cuepoint/the-devaluation-of-music-it-s-worse-than-you-think-f4cf5f26a888#.u1063bv4t</span></strong></a></p>
<p>Длинная и интересная статья про то, что люди перестали ценить музыку, потому что она слишком доступна и уже за ценность не считается, а так, дешёвую развлекуху. Перекликается с моей любимой темой про slow life movement, хотя и попахивает другой гранью, которая мне подозрительна &ndash; вещевым фетишизмом. Винил круто, потому что ты на него втыкаешь и делишься с друзьями! Можно и спотифаем делится, и втыкать на страницу музыканта в сети, в википедии, читать интервью. Интернет этому не мешает, а только способствует, чтобы лучше и вдумчивее втыкать. Так что не в виртуальности дело, а в людях, которые технологией пока заточены не туда, куда душеполезно.</p>
<p>Вот, например, про мой любимый фестиваль Сканю Межс можно применить такую цитату</p>
<div style="font-style: normal; padding-left: 20px; margin: 20px; display: block; padding-right: 20px; background-color: #eeffff; border: black 1px solid;">
<p>Why so many are satisfied to engage with music at only the level of feeling is a vast, impoverishing mystery.</p>
</div>
<p>Кстати, есть про это статья и на русском, довольно-таки перекликается. <a title="http://paperpaper.ru/semelyak/" href="http://paperpaper.ru/semelyak/">http://paperpaper.ru/semelyak/</a></p>
<p>&nbsp;</p>
<p>И что ещё более удивительно, есть такая же статья про книги, не менее большая и интересная. Про то, что цифровые средства предоставления контента удобнее, но менее глубоки, поскольку производители вроде Амазона не работают над их совершенствованием, а физические книги сейчас как никогда красивы и затейливы.</p>
<p>10.<a title="http://aeon.co/magazine/technology/why-have-digital-books-stopped-evolving/?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits" href="http://aeon.co/magazine/technology/why-have-digital-books-stopped-evolving/?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits">http://aeon.co/magazine/technology/why-have-digital-books-stopped-evolving/?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits</a></p>
<div style="font-style: normal; padding-left: 20px; margin: 20px; display: block; padding-right: 20px; background-color: #eeffff; border: black 1px solid;">
<p>As our hardware has grown more powerful and our screens more capable, our book-reading software has largely stagnated</p>
</div>
<p>Stay tuned!</p>
<p>&nbsp;</p>
	