Id: 9322265b-986e-43bb-8c08-3c6da1558417
Title: "Тренируем  мозг - 11"
Published: "2016-07-13"
Slug: "2016-07-13 Тренируем  мозг - 11"
-
<p>Ответ на предыдущую задачу.</p> <p>Оба мальчика едут на другой берег, один высаживается.</p> <p>Второй плывёт обратно, там садится солдат и плывёт на другой берег.</p> <p>Там садиться мальчик, плывёт на первый берег, забирает второго мальчика, плывут на другой берег.</p> <p>Повторять N раз, профит!</p> <p>Новая задача.</p> <p><a href="/files/blogengine/image_20.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_20.png"  ></a></p>
	