Id: 8eab8d81-6ee4-46aa-81df-77e50594b71c
Title: "15 марта"
Published: "2016-03-15"
Slug: "2016-03-15 15 марта"
-
<h5>Quantipine 25mg</h5> <p>citaprolam 10mg <p>gabapentin 400x1 <p>С утра немного жгло, зато после обеда просто кайф, почти не было боли, вместо этого электрические покалывания. Вывод - надо больше спать.  <p>Продлил больничный, был на почте, забрал повер банк. Вечером был у Наташи с Димой в гостях, то есть в квартире Ежова, угощали бабушкиными пирожками. <p>Читаю последнюю книгу из цикла про возвышение, Небесные просторы, по-моему раньше не читал, ничего книга, прикольная. <p>Встретил Бетти, она спрашивала про Капитана Улитка. Сказала, что побила коленку, и не может пока бегать, придётся идти в зал. Лопает мороженое и толстеет. 
	