Id: 3aa7e53b-db18-4609-a57e-5a96cef8b600
Title: "Уфф"
Published: "2016-01-30"
Slug: "2016-01-30 Уфф"
-
<p>Что-то мне в последние дни совсем плохо (физически). Надеюсь, что не кончу как Аарон Шварц.</p>  <p><a title="http://www.aaronsw.com/weblog/verysick" href="http://www.aaronsw.com/weblog/verysick">http://www.aaronsw.com/weblog/verysick</a></p>
	