Id: 8e4ee938-0ddf-4c9d-abf2-b11b5bf5cebd
Title: "Сон — 3"
Published: "2016-09-15"
Slug: "2016-09-15 Сон — 3"
-
<p>Продолжим серию фантасмагорий. Сегодня у нас в программе автобус из Берлинского аэропорта, в котором я каждый раз, как еду, постоянно встречаю одну и ту же девушку. С носом, как у лошади (но не лошадиной мордой!). Такое ощущение, что она живёт там, так часто встречается. Девушка рассказывает про музыку и другие занимательные истории. Эти рассказы так занимательны, что переносят слушателя в иные миры, каждый в свою маленькую вселенную.</p> <p> Ещё девушка часто выходит в тамбур (как оказалось, тут такой есть), и там её можно застать&nbsp; с огромным&nbsp; афро-косяком, который она курит вместе с мамой.</p>
	