Id: 9b0f60a4-f919-421d-9c3f-a96f1a3f2660
Title: "Гениальное изобретение"
Published: "2016-04-30"
Slug: "2016-04-30 Гениальное изобретение"
-
<p>   <br><video controls=""><source type="video/mp4" src="/files/lj/EO3qR2s.webm">Your browser does not support the video tag. </video>    <br><a href="/files/lj/EO3qR2s.webm">Скачать mp4 видео </a></p>  <p><a href="http://imgur.com/EO3qR2s">Отсюда</a></p>
	