Id: be263a69-80b8-4716-b7eb-18334874c529
Title: "Тренируем мозг–14,15,16"
Published: "2016-07-16"
Slug: "2016-07-16 Тренируем мозг–14,15,16"
-
<p>Ответ на предыдущую задачу:</p> <p>Расковать один кусок цепи (где три звена, то есть три операции) и&nbsp; сковать остальные (ещё три операции).</p> <p>На выходные сразу несколько задач, но простых.</p> <p><a href="/files/blogengine/image_28.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_29.png"  ></a></p>
	