Id: 433ee9f0-7e29-4f0d-b9d9-6947eb4527cf
Title: "Иордан (Атлантада Project)"
Published: "2016-12-18"
Slug: "2016-12-18 Иордан _Атлантада Project_"
-
<p>Вот мурашки бегут по телу каждый раз, и клип тоже хороший.</p><br><video controls><source src="/files/lj/atlantida%20project%20feat%20Noize%20MC%20-%20Иордан%20(Official%20Video).mp4" type="video/mp4">Your browser does not support the video tag. </video><br> <p><a title="https://www.youtube.com/watch?v=BmFdk9L5ffM" href="https://www.youtube.com/watch?v=BmFdk9L5ffM">https://www.youtube.com/watch?v=BmFdk9L5ffM</a></p> <p>Навеяло этим интервью</p> <p><a href="http://www.zvuki.ru/R/P/76782/">Музыканту нужно умереть для того, чтобы его услышали</a></p> <p>&nbsp;</p> <p><img src='/files/A75A93171654AA57F476B49A29006B5C.jpg'  width="800" height="533"></p>
	