Id: 869c2e16-4b05-4e37-b840-a6f6343bbf4a
Title: "Тренируем мозг — 5"
Published: "2016-07-09"
Slug: "2016-07-09 Тренируем мозг — 5"
-
<p>Ответ на задачу номер 4.</p><br><video controls><source src="/files/lj/smekalka4.mp4" type="video/mp4">Your browser does not support the video tag. </video><br> <p>Задача номер&nbsp; 5:</p> <p><a href="/files/blogengine/image_8.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_8.png"  ></a></p>
	