Id: c34153c1-44fd-47f8-8783-39190314eec4
Title: "Смешное (для программистов?)"
Published: "2016-05-06"
Slug: "2016-05-06 Смешное _для программистов__"
-
<p>В наборе софта для разработки кустарного софта для приставки Wii есть программа, которая называется</p>  <p><strong>“[.exe”</strong></p>  <p>Если её запустить, она говорит</p>  <p><strong> missing `]'</strong></p>  <p>Я считаю, это гениально!</p>
	