Id: 26d630b2-351c-4146-a86f-52526f012bdc
Title: "Интересные статьи 9: про холод и жар, музыка и живопись"
Published: "2016-08-14"
Slug: "2016-08-14 Интересные статьи 9_ про холод и жар, музыка и живопись"
-
<p><a href="http://motherboard.vice.com/read/the-girl-who-would-live-forever">1. The Girl Who Would Live Forever</a></p>
 <p align="left"><a href="/files/lj/_The%20Girl%20Who%20Would%20Live%20Forever%20_%20Motherboard.pdf">Копия в pdf</a> </p>
 <p>Длинная и подробная статья про криогенику и популярную ныне тему заморозки безнадёжно больных и умирающих с целью оживить их тогда, когда медицина уже позволит их починить, или на худой конец скопировать разум в компьютерное облако. Чтобы статья была поживей, рассказывается про девочку двух лет от роду, у которой обнаружили смертельный рак в мозгу, и решение её родителей заморозить её голову (самый дешёвый вариант, а то всё тело дороговато выходит).</p>
 <p><img src='/files/A223CFCF033AB1783AC3E308C5F62DBE.jpg' ></p>
 <p><a href="https://medium.com/matter/the-web-we-have-to-save-2eb1fe15a426#.7dedxamuy">2. The Web We Have to Save</a></p>
 <p><a href="/files/lj/The%20Web%20We%20Have%20to%20Save%20%E2%80%94%20Matter%20%E2%80%94%20Medium.pdf">Копия в pdf</a></p>
 <p>Известный иранский блоггер (отсидевший за свои вирши шесть лет в кутузке) рассуждает о том, как интернет становится всё более закрытым и централизованным. Информация, которую вы публикуете, отдана на милость облачных платформ, и исчезнет в один миг после дуновения ветерка цензуры или технических сбоев. Сослаться на пост трудно, часто надо иметь аккаунт, чтобы просто прочесть, а то, что вы читаете, определяют неведомые алгоритмы, развитие которых направляют влиятельные маркетологи мегабрендов. </p>
 <blockquote>
 <p>Some networks, like Twitter, treat hyperlinks a little better. Others, insecure social services, are far more paranoid. Instagram — owned by Facebook — doesn’t allow its audiences to leave whatsoever. You can put up a web address alongside your photos, but it won’t go anywhere. Lots of people start their daily online routine in these cul de sacs of social media, and their journeys end there. <a href="http://qz.com/333313/milliions-of-facebook-users-have-no-idea-theyre-using-the-internet/">Many don’t even realize</a> that they’re using the Internet’s infrastructure when they like an Instagram photograph or leave a comment on a friend’s Facebook video. It’s just an app.</p>
</blockquote>
 <p>Когда-то я хотел, чтобы все мои друзья вели блоги, и я мог всегда быть в курсе, чем они живут. Это сбылось в Фейсбуке, но в не самом приятном виде:&nbsp; пересыпано рекламой, приколами, существует мимолётно&nbsp; и не совсем то, что я имел в виду.</p>
 <p><img data-src="/files/lj/1-DLIqBteIIJchIhaiUfCFdQ.jpeg"></p>
 <p align="left"><a href="http://www.jewish.ru/culture/art/2015/07/news994329964.php">3. Фрида Кало: триумф боли</a></p>
 <p align="left"><a href="/files/lj/%D0%A4%D1%80%D0%B8%D0%B4%D0%B0%20%D0%9A%D0%B0%D0%BB%D0%BE_%20%D1%82%D1%80%D0%B8%D1%83%D0%BC%D1%84%20%D0%B1%D0%BE%D0%BB%D0%B8.pdf">Скачать копию в pdf</a> </p>
 <p align="left">Про известную художницу.</p>
 <blockquote>
 <p>Ей было восемнадцать лет, когда в Мехико пустили первый трамвай. И ей, конечно же, было ой как любопытно. Вместе с другом детства девушка вспрыгнула на подножку трамвая, но поняла, что забыла зонтик. Пришлось вернуться в университет. Следующий трамвай, на котором поехали друзья, столкнулся с грузовиком. Удар был такой силы, что Фриду буквально накололо на железный прут токосъемника. Так ее и нашли врачи «скорой»: из живота торчало страшное «копье», платье во время аварии сползло с плеч, она была в крови и золотой краске, которую вез кто-то из пассажиров. Казалось, это конец.</p>
</blockquote>
 <p>Но не конец! Могу понять Фриду, сам в таком положении оказался, хоть и не настолько трагичном, но тоже не сахар.</p>
 <p><a href="http://www.the-village.ru/village/people/howtobe/218271-rock-star">4. КАК ВСЁ УСТРОЕНО: Рок-звезда</a></p>
 <p><a href="/files/lj/%D0%A0%D0%BE%D0%BA-%D0%B7%D0%B2%D0%B5%D0%B7%D0%B4%D0%B0%20%E2%80%94%20The%20Village.pdf">Скачать копию в pdf</a> </p>
 <p><img alt="Рок-звезда — Как всё устроено на The Village" src='/files/5E3D138D8F8ABCAB57E93E9F54179DD3.png' ></p>
 <blockquote>
 <h4>Об алкоголе, наркотиках, фанатках и жёнах</h4>
 <p>Cреди рок-музыкантов ровно столько же алкоголиков и наркоманов, как среди машинистов метро или представителей любой другой профессии, — не больше и не меньше. Наша профессия не имеет прямой взаимосвязи с алкоголем, наркотиками и сексом. Наверное, у большинства мальчиков в начале творческого пути мечты во многом связаны с желанием оказаться в центре внимания противоположного пола. Даже я на сцене до сих пор не могу отделаться от мысли, что в зале девчонки и это так клёво. Но мне кажется, что чем скорее музыкант выключает сексуальный аспект, тем успешнее он становится.</p>
</blockquote>
 <p>Познавательно почитать, как живёт музыкант.</p>
 <p><a href="http://www.telegraph.co.uk/news/health/news/11981884/Cooking-with-vegetable-oils-releases-toxic-cancer-causing-chemicals-say-experts.html#link_time=1446932169">5. Cooking with vegetable oils releases toxic cancer-causing chemicals, say experts</a></p>
 <p><a href="/files/lj/Cooking%20with%20vegetable%20oils%20releases%20toxic%20cancer-causing%20chemicals%2C%20say%20experts%20-%20Telegraph.pdf">Скачать копию в pdf</a> </p>
 <p><a href="/files/blogengine/image_34.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_35.png"  ></a></p>
 <p>Жарка на растительных маслах вызывает выделение токсичных веществ. Лучше готовить на кокосовом, оливковом или сливочном масле. На графике всё видно ярко. Особенно актуально: чем дольше жаришь-паришь, тем выше уровень альдегидов, вызывающих рак.</p>
 <p>Оставайтесь с нами!</p>
	