Id: b7289258-d8ee-453f-8657-65adcf0e7817
Title: "Сон – 4 (продолжение)"
Published: "2016-10-26"
Slug: "2016-10-26 Сон – 4 _продолжение_"
-
<p>Наконец дошли руки записать продолжение.</p> <p>Итак, предыдущий сон кончился на том, что я выбрался из болота-дамбы. А вечером же рейв! - вспомнил внезапно. <br>Рейв проходил в гостинице Латгола на самом верху, где вокруг стеклянные стены, а организаторами были Александр Дризлёнок и Лена Копасова. Народу было прилично, и Миша Лушин почему-то пришёл на рейв вместе с Кристина Dreiska. Подмигнув, Миша спросил<br>- Ты уже нашёл себе девочку почпокаться?, на что я ответил:<br>- Да я уже успел провернуть сам процесс!</p> <p>Увы, из-за того, что прошло время, третью часть сна я забыл.</p>
	