Id: caba8e22-faec-4fa7-afd5-347d411e78e8
Title: "Тренируем мозг–12"
Published: "2016-07-14"
Slug: "2016-07-14 Тренируем мозг–12"
-
<p><a href="/files/blogengine/image_21.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_21.png"  ></a></p> <p><a href="/files/blogengine/image_22.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_22.png"  ></a></p> <p>&nbsp;</p> <p>Новая задача</p> <p><a href="/files/blogengine/image_23.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_23.png"  ></a></p>
	