Id: bf08a6a3-fc6d-4222-b808-bfe6d2052ba1
Title: "Интересные статьи — 11,  депрессия у учёных, западная диета и микробиота, про метафоры"
Published: "2016-09-24"
Slug: "2016-09-24 Интересные статьи 11_  депрессия у учёных, западная диета и микробиота,  про метафоры"
-
<h3><a href="http://qz.com/547641/theres-an-awful-cost-to-getting-a-phd-that-no-one-talks-about/?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits">1. There’s an awful cost to getting a PhD that no one talks about</a></h3>
 <p><a href="/files/lj/There%E2%80%99s%20an%20awful%20cost%20to%20getting%20a%20PhD%20that%20no%20one%20talks%20about%20%E2%80%94%20Quartz.pdf">Скачать копию в pdf</a> </p>
<img title="" alt="" src='/files/4B3C82506F820CC163AD1DEAA425E1C7.jpg%3Fw%3D3000' > <p>&nbsp;</p>
 <blockquote>
 <p>One night during the third year of my PhD program, I sat on my bed with a packet of tranquilizers and a bottle of vodka. I popped a few pills in my mouth and swigged out of the bottle, feeling them burn down my throat. Moments later, I realized I was making a terrible mistake. I stopped, trembling as I realized what I’d nearly done.</p>
</blockquote>
 <p>Начало уже доставляет, да и дальше всё мрачно. В статье речь идёт о том, какой ценой достаётся докторская степень: депрессией, приступами тревоги, и уровнем психических заболеваний намного выше среднего в популяции. Конкуренция высока, слабых никто не жалеет: защитись или умри.</p>
 <p>Хорошо, что у меня идеи получить докторскую никогда не было: у меня и так психика чувствительная, а от такой попытки прыгнуть выше головы я точно бы скончался.</p>
 <p>На ту же тему есть статья про самоубийства в МФТИ на русском языке, тоже интересная.</p>
 <h6><a href="https://esquire.ru/mipt-1">Наука и жизнь: почему студенты физтеха сходят с ума. Часть 1</a></h6>
 <p>&nbsp;</p>
 <h3><a href="http://www.hip-hop.ru/forum/bolshoe-intervyu-oxxxymirona-s-andreem-miheevym-dlya-keepitreal-389063/">2.&nbsp; Большое интервью Oxxxymiron'a с Андреем Михеевым для keepitreal 19-08-2011</a></h3>
 <p><a href="/files/lj/%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%BE%D0%B5%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B2%D1%8C%D1%8E%20Oxxxymiron%27a%20%D1%81%20%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B5%D0%BC%20%D0%9C%D0%B8%D1%85%D0%B5%D0%B5%D0%B2%D1%8B%D0%BC%20%D0%B4%D0%BB%D1%8F%20keepitreal%2019-08-2011%20-%20Hip-Hop.pdf">Скачать копию в pdf</a> </p>
 <p>Будет интересно поклонникам творчества этого музыканта, к коим я отношусь. Для тех, кто не слышал ни одного трека, вот, ознакомьтесь. Альбом концептуальный, а в данном треке идёт речь поклоннике, который гневно вопрошает своего писателя-кумира, почему тот продался.<br><a href="/files/lj/Oxxxymiron%20%5BGorgorod%3B%202015%5D%20-%202.%20Kem%20ty%20stal%20%5Bpleer.net%5D.mp3">Oxxxymiron [Gorgorod; 2015] - 2. Кем ты стал.mp3</a> <br></p>
 <h3><a href="http://nautil.us/issue/30/identity/how-the-western-diet-has-derailed-our-evolution?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits">3. How the Western Diet Has Derailed Our Evolution</a></h3>
 <p><a href="/files/lj/How%20Burgers%20and%20Fries%20Are%20Killing%20Your%20Microbial%20Balance.pdf">Скачать копию в pdf</a> </p>
 <p><img alt="Velasquez_BR" src='/files/BB9DC0FCFFFE954B9BB14174A7731A98.png' ></p>
 <p>Тема, которая в последнее время поднимается всё больше, в этой статье раскрыта во всю ширь. Речь идёт про учёного, который исследует бактерии и другую живность, которая обитает внутри человека. Сейчас появляется всё больше данных, что эти мелкие чёртики очень сильно влияют на наш иммунитет, и даже на настроение. </p>
 <p>Поглощая в больших количествах гамбургеры и сладости, которых в природе исторически человеку не встречалось, а также изолируя себя от естественных источников микробов: почвы и животных, мы портим жизнь своей микробиоте, а заодно и себе.</p>
 <p>Статья большая, но она того стоит: много данных про изолированные племена, разнообразие микробиоты, которое у западных жителей критически низкое.</p>
 <h3><a href="http://www.racked.com/2015/10/20/9487775/unclaimed-baggage-center?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits">4. This Is a Story About Loss</a></h3>
 <h4>On losing things, losing people, and finding God at Unclaimed Baggage Center</h4>
 <p><a href="/files/lj/This%20Is%20a%20Story%20About%20Loss%20-%20Racked.pdf">This Is a Story About Loss - Racked.pdf</a> </p>
 <h4><a href="/files/blogengine/image_36.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_37.png"  ></a></h4>
   <p>Про то, куда деваются вещи, которые потеряли на транспортных рейсах пассажиры, если их нашли, а вернуть не смогли. Оказывается, их привозят в специальные центры и распродают. Есть&nbsp; забавные и интересные детали.</p>
 <p>Вот, например, список того, что находили:</p>
 <blockquote>
 <p>A turtle shell;  </p>
<p>A xylophone whose black box is marked NEIL DIAMOND in white chalk;  </p>
<p>A homemade model of the HMS Surprise;  </p>
<p>A pair of giant drumsticks made out of a yard of solid wood;  </p>
<p>A helicon tuba, circa 1909;  </p>
<p>A leather-bound French newspaper from 1934;  </p>
<p>Antique Finnish skis;  </p>
<p>A WWII-era Japanese Samurai sword;  </p>
<p>A vintage 8mm film collection containing <i>The Dwarves Dilemma, The Jetsons, World Without Sun</i>, and <i>NBA Highlights 1970;</i>  </p>
<p>A pair of McDonald's Golden Arches;  </p>
<p>A 43-karat raw emerald that appraised at 28,535.76€;  </p>
<p>A human-sized papier-mâché Tinkerbell;  </p>
<p>A unicycle;  </p>
<p>And a live snake, found in the side of a duffel bag</p>
</blockquote>
 <h3>5. <a href="http://nautil.us/issue/29/scaling/metaphors-are-us-rp?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits">Metaphors Are Us</a></h3>
 <h4>War, murder, music, art. We would have none without metaphor.</h4>
 <p><img src='/files/5FD02A7A69BA0756EC1BBAD93715CBA4.jpg' ></p>
 <p>Статья про метафорическое и символическое мышление с примерами исследований. Животные много чего могут, но, судя по всему, такие дела проворачивать горазды только люди. </p>
 <p>Например, оказалось, что порог брезгливости (довольно прямолинейного биологически-эволюционного качества) напрямую связан с предпочтениями в политики: более брезгливые люди, как правило, более консервативны.</p>
 <p>Ещё оказалось, что при физической и ментальной боли активируются те же самые нейроны, и вообще, мозг плохо различает буквальный смысл и переносной (на физически-эмоциональном уровне).</p>
 <blockquote>
 <p>And we feel someone else’s pain like no other species. We extend it over distance to help a refugee child on another continent. We extend it over time, feeling the terror of what are now mere human remains at Pompeii. We feel it embodied in words, as we contemplate George’s sadness that Lennie is never going to get his rabbits. (That part of <i>Of Mice and Men </i>never failed to leave me a sopping, tearful mess when I’d reread it obsessively as a kid.) We even feel empathic pain prompted by symbols encompassed in pixels. “Oh no, the poor Na’vi!” we cry, when Home Tree is destroyed in <i>Avatar</i>. Because the anterior cingulate has trouble remembering “it’s only a figure of speech,” it functions as if your heart is literally being torn out. </p>
</blockquote>
 <p>Вообще, метафоры напрямую связаны с синестезией, про которую я уже писал. Всё оттого, что один и тот же мозг и одни и те же нейронные цепи используются и для того, чтобы анализировать зрительную информацию, слуховую, и для того, чтобы строить модели. Всё расположено близко, и часто пересекается и взаимодействует. Плюс такой, что так энергетически дешевле и искусство интереснее.&nbsp; Минус же – что все мы думаем тяп-ляп, а тех, кто точно думает, называем аутистами. Впрочем, поделом, потому что что люди, выражаясь языком курсов по искусственному интеллекту, агенты с неполной информацией, а в таком случае до конца точно думать невозможно.</p>
 <p>С другой стороны, наша склонность к метафорам напрямую влияет на такие явления религиозность,&nbsp; любовь к брендам, суеверия и фанатизм разного толка. Мы отождествляем такое прекрасное и милое существо, как чёрная кошка, с несчастьем, запрещаем жечь государственный флаг, хотя это всего лишь кусок ткани, и считаем, что шахматный логотип с тремя буквами даёт право агрессивно вести себя на дороге.</p>
 <p>На эту же тему когда-то смотрел <a href="https://www.ted.com/talks/james_geary_metaphorically_speaking#t-7231">интересное выступление ТЕД.</a></p>
<br><video controls=""><source src="/files/lj/JamesGeary_2009G-480p-ru.mp4" type="video/mp4">Your browser does not support the video tag. </video>
	