Id: 934470f9-54c2-4918-8d02-8e4a86c2417b
Title: "Жадность мегакорпораций не знает пределов"
Published: "2016-06-10"
Slug: "2016-06-10 Жадность мегакорпораций не знает пределов"
-
<p>Пейпал и так берёт кучу бабла за платежи, нет, мало ему.</p> <p>Если вы покупаете что-то в валюте, отличной от валюты вашей расчётной карты, то он сконвертирует по грабительскому курсу.</p> <p>Например, если я покупаю что-то в долларах, то пейпал выставит счёт моей карте в евро по невыгодному курсу.</p> <p>Возможность это изменить для всех своих платежей убрали, и единственный способ это сделать – менять каждый раз, когда покупаешь. Более того, окно интерфейса устроено так, чтобы кнопки подтвердить сразу не было видно, и если не быть внимательным, ничего не поменяется.</p> <p>Естественно, 95% процентов покупателей этого делать не станут, и, если живут в Латвии, как я, будут терять деньги на каждой покупке в долларах.</p>
	