Id: 127c1775-b89e-4b49-82e5-7e4ab583a2e0
Title: "Японцы впереди планеты всей"
Published: "2016-06-05"
Slug: "2016-06-05 Японцы впереди планеты всей"
-
<p>Друзья слышали от меня не раз, что я хотел бы закончить жизнь, прыгнув в жерло вулкана. Оказывается, японцы это давным-давно придумали. Ещё в 1933-34 годах восемьсот человек сиганули вот сюда. Как обычно, если можно вообразить какую-нибудь безумную штуку, японцы её давно воплотили в жизнь.</p> <p>&nbsp;</p> <p><a title="http://archives.chicagotribune.com/1936/05/10/page/98/article/japans-fiery-pit-of-death" href="http://archives.chicagotribune.com/1936/05/10/page/98/article/japans-fiery-pit-of-death">http://archives.chicagotribune.com/1936/05/10/page/98/article/japans-fiery-pit-of-death</a></p> <p><a href="/files/blogengine/image_7.png"><img title="image" style="border-left-width: 0px; border-right-width: 0px; background-image: none; border-bottom-width: 0px; padding-top: 0px; padding-left: 0px; margin: 0px; display: inline; padding-right: 0px; border-top-width: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_7.png"  ></a></p>
	