Id: 082ec738-0ac7-4c50-a0d9-a2d53c1afe0f
Title: "Тренируем мозг - 13"
Published: "2016-07-15"
Slug: "2016-07-15 Тренируем мозг - 13"
-
<p>Предыдущая задача настолько простая, что даже скучно. Новая тоже на раз-два, но сеттинг интереснее.</p> <p>Ответ</p> <p><a href="/files/blogengine/image_thumb_28.png"><img title="image_thumb" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image_thumb" data-src="/files/blogengine/image_thumb_thumb.png"  ></a></p> <p>Новая задача</p> <p><a href="/files/blogengine/image_thumb[1].png"><img title="image_thumb[1]" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image_thumb[1]" data-src="/files/blogengine/image_thumb[1]_thumb.png"  ></a></p> <p>&nbsp;</p> <p><a href="/files/blogengine/image_thumb[2].png"><img title="image_thumb[2]" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image_thumb[2]" data-src="/files/blogengine/image_thumb[2]_thumb.png"  ></a></p>
	